{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Storage Sync",
    "version": "2022-09-01",
    "description": "Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StorageSyncServices"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "SyncGroups"
    },
    {
      "name": "CloudEndpoints"
    },
    {
      "name": "ServerEndpoints"
    },
    {
      "name": "RegisteredServers"
    },
    {
      "name": "Workflows"
    }
  ],
  "paths": {
    "/providers/Microsoft.StorageSync/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationEntityListResult"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/checkNameAvailability": {
      "post": {
        "operationId": "StorageSyncServices_CheckNameAvailability",
        "description": "Check the give namespace name availability.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The desired region for the name check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServiceCheckNameAvailability_AlreadyExists": {
            "$ref": "./examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json"
          },
          "StorageSyncServiceCheckNameAvailability_Available": {
            "$ref": "./examples/StorageSyncServiceCheckNameAvailability_Available.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/operations/{operationId}": {
      "get": {
        "operationId": "LocationOperationStatus",
        "description": "Get Operation status",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The desired region to obtain information from.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "operation Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LocationOperationStatus"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "LocationOperationStatus": {
            "$ref": "./examples/LocationOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices": {
      "get": {
        "operationId": "StorageSyncServices_ListBySubscription",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Get a StorageSyncService list by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceArray"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServices_ListBySubscription": {
            "$ref": "./examples/StorageSyncServices_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/locations/{locationName}/workflows/{workflowId}/operations/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "description": "Get Operation status",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The desired region to obtain information from.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowId",
            "in": "path",
            "description": "workflow Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "operation Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatus_Get": {
            "$ref": "./examples/OperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices": {
      "get": {
        "operationId": "StorageSyncServices_ListByResourceGroup",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Get a StorageSyncService list by Resource group name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceArray"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServices_ListByResourceGroup": {
            "$ref": "./examples/StorageSyncServices_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}": {
      "get": {
        "operationId": "StorageSyncServices_Get",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Get a given StorageSyncService.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageSyncService"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServices_Get": {
            "$ref": "./examples/StorageSyncServices_Get.json"
          }
        }
      },
      "put": {
        "operationId": "StorageSyncServices_Create",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Create a new StorageSyncService.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Storage Sync Service resource name.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StorageSyncService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageSyncService"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServices_Create": {
            "$ref": "./examples/StorageSyncServices_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/StorageSyncService"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "StorageSyncServices_Update",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Patch a given StorageSyncService.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Storage Sync Service resource.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageSyncService"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServices_Update": {
            "$ref": "./examples/StorageSyncServices_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/StorageSyncService"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "StorageSyncServices_Delete",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Delete a given StorageSyncService.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "StorageSyncServices_Delete": {
            "$ref": "./examples/StorageSyncServices_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByStorageSyncService",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Get a PrivateEndpointConnection List.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_ListByStorageSyncService": {
            "$ref": "./examples/PrivateEndpointConnections_ListByStorageSyncService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the storage sync service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Get": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Create",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the storage sync service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The private endpoint connection properties.",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Create": {
            "$ref": "./examples/PrivateEndpointConnections_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the storage sync service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByStorageSyncService",
        "tags": [
          "StorageSyncServices"
        ],
        "description": "Gets the private link resources that need to be created for a storage sync service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_List": {
            "$ref": "./examples/PrivateLinkResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers": {
      "get": {
        "operationId": "RegisteredServers_ListByStorageSyncService",
        "tags": [
          "RegisteredServers"
        ],
        "description": "Get a given registered server list.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RegisteredServerArray"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "RegisteredServers_ListByStorageSyncService": {
            "$ref": "./examples/RegisteredServers_ListByStorageSyncService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}": {
      "get": {
        "operationId": "RegisteredServers_Get",
        "tags": [
          "RegisteredServers"
        ],
        "description": "Get a given registered server.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RegisteredServer"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "RegisteredServers_Get": {
            "$ref": "./examples/RegisteredServers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "RegisteredServers_Create",
        "tags": [
          "RegisteredServers"
        ],
        "description": "Add a new registered server.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Registered Server object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisteredServerCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RegisteredServer"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "RegisteredServers_Create": {
            "$ref": "./examples/RegisteredServers_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RegisteredServer"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "RegisteredServers_Update",
        "tags": [
          "RegisteredServers"
        ],
        "description": "Update registered server.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Registered Server object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisteredServerUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RegisteredServer"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RegisteredServers_Update": {
            "$ref": "./examples/RegisteredServers_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RegisteredServer"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "RegisteredServers_Delete",
        "tags": [
          "RegisteredServers"
        ],
        "description": "Delete the given registered server.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "RegisteredServers_Delete": {
            "$ref": "./examples/RegisteredServers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}/triggerRollover": {
      "post": {
        "operationId": "RegisteredServers_triggerRollover",
        "tags": [
          "RegisteredServers"
        ],
        "description": "Triggers Server certificate rollover.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Trigger Rollover request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRolloverRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "RegisteredServers_triggerRollover": {
            "$ref": "./examples/RegisteredServers_TriggerRollover.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups": {
      "get": {
        "operationId": "SyncGroups_ListByStorageSyncService",
        "tags": [
          "SyncGroups"
        ],
        "description": "Get a SyncGroup List.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SyncGroupArray"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "SyncGroups_ListByStorageSyncService": {
            "$ref": "./examples/SyncGroups_ListByStorageSyncService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}": {
      "get": {
        "operationId": "SyncGroups_Get",
        "tags": [
          "SyncGroups"
        ],
        "description": "Get a given SyncGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SyncGroup"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "SyncGroups_Get": {
            "$ref": "./examples/SyncGroups_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SyncGroups_Create",
        "tags": [
          "SyncGroups"
        ],
        "description": "Create a new SyncGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Sync Group Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SyncGroupCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SyncGroup"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "SyncGroups_Create": {
            "$ref": "./examples/SyncGroups_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "SyncGroups_Delete",
        "tags": [
          "SyncGroups"
        ],
        "description": "Delete a given SyncGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "SyncGroups_Delete": {
            "$ref": "./examples/SyncGroups_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints": {
      "get": {
        "operationId": "CloudEndpoints_ListBySyncGroup",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Get a CloudEndpoint List.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudEndpointArray"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_ListBySyncGroup": {
            "$ref": "./examples/CloudEndpoints_ListBySyncGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}": {
      "get": {
        "operationId": "CloudEndpoints_Get",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Get a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudEndpoint"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_Get": {
            "$ref": "./examples/CloudEndpoints_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CloudEndpoints_Create",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Create a new CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Cloud Endpoint resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudEndpointCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudEndpoint"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_Create": {
            "$ref": "./examples/CloudEndpoints_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/CloudEndpoint"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CloudEndpoints_Delete",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Delete a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id"
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "Request id"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_Delete": {
            "$ref": "./examples/CloudEndpoints_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/afsShareMetadataCertificatePublicKeys": {
      "get": {
        "operationId": "CloudEndpoints_AfsShareMetadataCertificatePublicKeys",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Get the AFS file share metadata signing certificate public keys.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudEndpointAfsShareMetadataCertificatePublicKeys"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_AfsShareMetadataCertificatePublicKeys": {
            "$ref": "./examples/CloudEndpoints_AfsShareMetadataCertificatePublicKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup": {
      "post": {
        "operationId": "CloudEndpoints_PostBackup",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Post Backup a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Backup request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostBackupResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Status Location URI"
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_PostBackup": {
            "$ref": "./examples/CloudEndpoints_PostBackup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/PostBackupResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore": {
      "post": {
        "operationId": "CloudEndpoints_PostRestore",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Post Restore a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Cloud Endpoint object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostRestoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_PostRestore": {
            "$ref": "./examples/CloudEndpoints_PostRestore.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prebackup": {
      "post": {
        "operationId": "CloudEndpoints_PreBackup",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Pre Backup a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Backup request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Status Location URI"
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_PreBackup": {
            "$ref": "./examples/CloudEndpoints_PreBackup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prerestore": {
      "post": {
        "operationId": "CloudEndpoints_PreRestore",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Pre Restore a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Cloud Endpoint object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreRestoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_PreRestore": {
            "$ref": "./examples/CloudEndpoints_PreRestore.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/restoreheartbeat": {
      "post": {
        "operationId": "CloudEndpoints_restoreheartbeat",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Restore Heartbeat a given CloudEndpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_restoreheartbeat": {
            "$ref": "./examples/CloudEndpoints_RestoreHeatbeat.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/triggerChangeDetection": {
      "post": {
        "operationId": "CloudEndpoints_TriggerChangeDetection",
        "tags": [
          "CloudEndpoints"
        ],
        "description": "Triggers detection of changes performed on Azure File share connected to the specified Azure File Sync Cloud Endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Trigger Change Detection Action parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerChangeDetectionParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "CloudEndpoints_TriggerChangeDetection": {
            "$ref": "./examples/CloudEndpoints_TriggerChangeDetection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints": {
      "get": {
        "operationId": "ServerEndpoints_ListBySyncGroup",
        "tags": [
          "ServerEndpoints"
        ],
        "description": "Get a ServerEndpoint list.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ServerEndpointArray"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Status Location URI"
              },
              "x-ms-correlation-request-id": {
                "type": "string",
                "description": "correlation request id."
              },
              "x-ms-request-id": {
                "type": "string",
                "description": "request id."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-examples": {
          "ServerEndpoints_ListBySyncGroup": {
            "$ref": "./examples/ServerEndpoints_ListBySyncGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
[...]
