{
  "swagger": "2.0",
  "info": {
    "title": "RedisManagementClient",
    "version": "2024-11-01",
    "description": "REST API for Azure Redis Cache Service.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "RedisResources"
    },
    {
      "name": "RedisFirewallRules"
    },
    {
      "name": "RedisPatchSchedules"
    },
    {
      "name": "LinkedServer"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "RedisCacheAccessPolicies"
    },
    {
      "name": "RedisCacheAccessPolicyAssignments"
    }
  ],
  "paths": {
    "/providers/Microsoft.Cache/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheOperations": {
            "$ref": "./examples/RedisCacheOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/checkNameAvailability": {
      "post": {
        "operationId": "Redis_CheckNameAvailability",
        "description": "Checks that the redis cache name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheCheckNameAvailability": {
            "$ref": "./examples/RedisCacheCheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/locations/{location}/asyncOperations/{operationId}": {
      "get": {
        "operationId": "AsyncOperationStatus_Get",
        "description": "For checking the ongoing status of an operation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location at which operation was triggered",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The ID of asynchronous operation",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAsyncOperationStatus": {
            "$ref": "./examples/RedisCacheAsyncOperationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/redis": {
      "get": {
        "operationId": "Redis_ListBySubscription",
        "tags": [
          "RedisResources"
        ],
        "description": "Gets all Redis caches in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheList": {
            "$ref": "./examples/RedisCacheList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis": {
      "get": {
        "operationId": "Redis_ListByResourceGroup",
        "tags": [
          "RedisResources"
        ],
        "description": "Lists all Redis caches in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheListByResourceGroup": {
            "$ref": "./examples/RedisCacheListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}": {
      "get": {
        "operationId": "Redis_Get",
        "tags": [
          "RedisResources"
        ],
        "description": "Gets a Redis cache (resource description).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheGet": {
            "$ref": "./examples/RedisCacheGet.json"
          }
        }
      },
      "put": {
        "operationId": "Redis_Create",
        "tags": [
          "RedisResources"
        ],
        "description": "Create or replace (overwrite/recreate, with potential downtime) an existing Redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Redis operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          },
          "201": {
            "description": "Resource 'RedisResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheCreate": {
            "$ref": "./examples/RedisCacheCreate.json"
          },
          "RedisCacheCreateAutomaticZonalAllocationPolicy": {
            "$ref": "./examples/RedisCacheCreateAutomaticZonalAllocationPolicy.json"
          },
          "RedisCacheCreateDefaultVersion": {
            "$ref": "./examples/RedisCacheCreateDefaultVersion.json"
          },
          "RedisCacheCreateLatestVersion": {
            "$ref": "./examples/RedisCacheCreateLatestVersion.json"
          },
          "RedisCacheCreateNoZonesZonalAllocationPolicy": {
            "$ref": "./examples/RedisCacheCreateNoZonesZonalAllocationPolicy.json"
          },
          "RedisCacheCreateUserDefinedZonalAllocationPolicy": {
            "$ref": "./examples/RedisCacheCreateUserDefinedZonalAllocationPolicy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RedisResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Redis_Update",
        "tags": [
          "RedisResources"
        ],
        "description": "Update an existing Redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Redis operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheUpdate": {
            "$ref": "./examples/RedisCacheUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RedisResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Redis_Delete",
        "tags": [
          "RedisResources"
        ],
        "description": "Deletes a Redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheDelete": {
            "$ref": "./examples/RedisCacheDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicies": {
      "get": {
        "operationId": "AccessPolicy_List",
        "tags": [
          "RedisCacheAccessPolicies"
        ],
        "description": "Gets the list of access policies associated with this redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicyList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyList": {
            "$ref": "./examples/RedisCacheAccessPolicyList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicies/{accessPolicyName}": {
      "get": {
        "operationId": "AccessPolicy_Get",
        "tags": [
          "RedisCacheAccessPolicies"
        ],
        "description": "Gets the detailed information about an access policy of a redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "accessPolicyName",
            "in": "path",
            "description": "The name of the access policy that is being added to the Redis cache.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyGet": {
            "$ref": "./examples/RedisCacheAccessPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "AccessPolicy_CreateUpdate",
        "tags": [
          "RedisCacheAccessPolicies"
        ],
        "description": "Adds an access policy to the redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "accessPolicyName",
            "in": "path",
            "description": "The name of the access policy that is being added to the Redis cache.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Update Access Policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RedisCacheAccessPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicy"
            }
          },
          "201": {
            "description": "Resource 'RedisCacheAccessPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicy"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyCreateUpdate": {
            "$ref": "./examples/RedisCacheAccessPolicyCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RedisCacheAccessPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AccessPolicy_Delete",
        "tags": [
          "RedisCacheAccessPolicies"
        ],
        "description": "Deletes the access policy from a redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "accessPolicyName",
            "in": "path",
            "description": "The name of the access policy that is being added to the Redis cache.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyDelete": {
            "$ref": "./examples/RedisCacheAccessPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicyAssignments": {
      "get": {
        "operationId": "AccessPolicyAssignment_List",
        "tags": [
          "RedisCacheAccessPolicyAssignments"
        ],
        "description": "Gets the list of access policy assignments associated with this redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicyAssignmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyAssignmentList": {
            "$ref": "./examples/RedisCacheAccessPolicyAssignmentList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicyAssignments/{accessPolicyAssignmentName}": {
      "get": {
        "operationId": "AccessPolicyAssignment_Get",
        "tags": [
          "RedisCacheAccessPolicyAssignments"
        ],
        "description": "Gets the list of assignments for an access policy of a redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "accessPolicyAssignmentName",
            "in": "path",
            "description": "The name of the access policy assignment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicyAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyAssignmentGet": {
            "$ref": "./examples/RedisCacheAccessPolicyAssignmentGet.json"
          }
        }
      },
      "put": {
        "operationId": "AccessPolicyAssignment_CreateUpdate",
        "tags": [
          "RedisCacheAccessPolicyAssignments"
        ],
        "description": "Adds the access policy assignment to the specified users",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "accessPolicyAssignmentName",
            "in": "path",
            "description": "The name of the access policy assignment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Update Access Policy Assignment operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicyAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RedisCacheAccessPolicyAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicyAssignment"
            }
          },
          "201": {
            "description": "Resource 'RedisCacheAccessPolicyAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisCacheAccessPolicyAssignment"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyAssignmentCreateUpdate": {
            "$ref": "./examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RedisCacheAccessPolicyAssignment"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AccessPolicyAssignment_Delete",
        "tags": [
          "RedisCacheAccessPolicyAssignments"
        ],
        "description": "Deletes the access policy assignment from a redis cache",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "accessPolicyAssignmentName",
            "in": "path",
            "description": "The name of the access policy assignment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheAccessPolicyAssignmentDelete": {
            "$ref": "./examples/RedisCacheAccessPolicyAssignmentDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/export": {
      "post": {
        "operationId": "Redis_ExportData",
        "tags": [
          "RedisResources"
        ],
        "description": "Export data from the redis cache to blobs in a container.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for Redis export operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportRDBParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheExport": {
            "$ref": "./examples/RedisCacheExport.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules": {
      "get": {
        "operationId": "FirewallRules_List",
        "tags": [
          "RedisFirewallRules"
        ],
        "description": "Gets all firewall rules in the specified redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheFirewallRulesList": {
            "$ref": "./examples/RedisCacheFirewallRulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules/{ruleName}": {
      "get": {
        "operationId": "FirewallRules_Get",
        "tags": [
          "RedisFirewallRules"
        ],
        "description": "Gets a single firewall rule in a specified redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the firewall rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheFirewallRuleGet": {
            "$ref": "./examples/RedisCacheFirewallRuleGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallRules_CreateOrUpdate",
        "tags": [
          "RedisFirewallRules"
        ],
        "description": "Create or update a redis cache firewall rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the firewall rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update redis firewall rule operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RedisFirewallRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          },
          "201": {
            "description": "Resource 'RedisFirewallRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheFirewallRuleCreate": {
            "$ref": "./examples/RedisCacheFirewallRuleCreate.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallRules_Delete",
        "tags": [
          "RedisFirewallRules"
        ],
        "description": "Deletes a single firewall rule in a specified redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the firewall rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheFirewallRuleDelete": {
            "$ref": "./examples/RedisCacheFirewallRuleDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/flush": {
      "post": {
        "operationId": "Redis_FlushCache",
        "tags": [
          "RedisResources"
        ],
        "description": "Deletes all of the keys in a cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationStatusResult"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheFlush": {
            "$ref": "./examples/RedisCacheFlush.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationStatusResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/forceReboot": {
      "post": {
        "operationId": "Redis_ForceReboot",
        "tags": [
          "RedisResources"
        ],
        "description": "Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can be potential data loss.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Specifies which Redis node(s) to reboot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisRebootParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisForceRebootResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheForceReboot": {
            "$ref": "./examples/RedisCacheForceReboot.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/import": {
      "post": {
        "operationId": "Redis_ImportData",
        "tags": [
          "RedisResources"
        ],
        "description": "Import data into Redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for Redis import operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportRDBParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheImport": {
            "$ref": "./examples/RedisCacheImport.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers": {
      "get": {
        "operationId": "LinkedServer_List",
        "tags": [
          "LinkedServer"
        ],
        "description": "Gets the list of linked servers associated with this redis cache (requires Premium SKU).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisLinkedServerWithPropertiesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedServer_List": {
            "$ref": "./examples/RedisCacheLinkedServer_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers/{linkedServerName}": {
      "get": {
        "operationId": "LinkedServer_Get",
        "tags": [
          "LinkedServer"
        ],
        "description": "Gets the detailed information about a linked server of a redis cache (requires Premium SKU).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkedServerName",
            "in": "path",
            "description": "The name of the RedisLinkedServerWithProperties",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisLinkedServerWithProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedServer_Get": {
            "$ref": "./examples/RedisCacheLinkedServer_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LinkedServer_Create",
        "tags": [
          "LinkedServer"
        ],
        "description": "Adds a linked server to the Redis cache (requires Premium SKU).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkedServerName",
            "in": "path",
            "description": "The name of the RedisLinkedServerWithProperties",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Linked server operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisLinkedServerCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RedisLinkedServerWithProperties"
            }
          },
          "201": {
            "description": "Resource 'RedisLinkedServerWithProperties' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisLinkedServerWithProperties"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedServer_Create": {
            "$ref": "./examples/RedisCacheLinkedServer_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/RedisLinkedServerWithProperties"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LinkedServer_Delete",
        "tags": [
          "LinkedServer"
        ],
        "description": "Deletes the linked server from a redis cache (requires Premium SKU).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkedServerName",
            "in": "path",
            "description": "The name of the RedisLinkedServerWithProperties",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedServerDelete": {
            "$ref": "./examples/RedisCacheLinkedServer_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listKeys": {
      "post": {
        "operationId": "Redis_ListKeys",
        "tags": [
          "RedisResources"
        ],
        "description": "Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisAccessKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheListKeys": {
            "$ref": "./examples/RedisCacheListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listUpgradeNotifications": {
      "get": {
        "operationId": "Redis_ListUpgradeNotifications",
        "tags": [
          "RedisResources"
        ],
        "description": "[Deprecated] Gets any upgrade notifications for a Redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "history",
            "in": "query",
            "description": "how many minutes in past to look for upgrade notifications",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheListUpgradeNotifications": {
            "$ref": "./examples/RedisCacheListUpgradeNotifications.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/patchSchedules": {
      "get": {
        "operationId": "PatchSchedules_ListByRedisResource",
        "tags": [
          "RedisPatchSchedules"
        ],
        "description": "Gets all patch schedules in the specified redis cache (there is only one).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisPatchScheduleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCachePatchSchedulesList": {
            "$ref": "./examples/RedisCachePatchSchedulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/patchSchedules/{default}": {
      "get": {
        "operationId": "PatchSchedules_Get",
        "tags": [
          "RedisPatchSchedules"
        ],
        "description": "Gets the patching schedule of a redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          },
          {
            "name": "default",
            "in": "path",
            "description": "The name of the RedisPatchSchedule",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "DefaultName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The name of e.g. the patch schedules resource, which is a singleton, must always be 'Default'"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCachePatchSchedulesGet": {
            "$ref": "./examples/RedisCachePatchSchedulesGet.json"
          }
        }
      },
      "put": {
        "operationId": "PatchSchedules_CreateOrUpdate",
        "tags": [
          "RedisPatchSchedules"
        ],
        "description": "Create or replace the patching schedule for Redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          },
          {
            "name": "default",
            "in": "path",
            "description": "The name of the RedisPatchSchedule",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "DefaultName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The name of e.g. the patch schedules resource, which is a singleton, must always be 'Default'"
                }
              ]
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to set the patching schedule for Redis cache.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RedisPatchSchedule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          },
          "201": {
            "description": "Resource 'RedisPatchSchedule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCachePatchSchedulesCreateOrUpdate": {
            "$ref": "./examples/RedisCachePatchSchedulesCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "PatchSchedules_Delete",
        "tags": [
          "RedisPatchSchedules"
        ],
        "description": "Deletes the patching schedule of a redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the redis cache.",
            "required": true,
            "type": "string"
          },
          {
            "name": "default",
            "in": "path",
            "description": "The name of the RedisPatchSchedule",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "DefaultName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The name of e.g. the patch schedules resource, which is a singleton, must always be 'Default'"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCachePatchSchedulesDelete": {
            "$ref": "./examples/RedisCachePatchSchedulesDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_List",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all the private endpoint connections associated with the redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheListPrivateEndpointConnection": {
            "$ref": "./examples/RedisCacheListPrivateEndpointConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheGetPrivateEndpointConnection": {
            "$ref": "./examples/RedisCacheGetPrivateEndpointConnection.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Put",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The private endpoint connection properties.",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCachePutPrivateEndpointConnection": {
            "$ref": "./examples/RedisCachePutPrivateEndpointConnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheDeletePrivateEndpointConnection": {
            "$ref": "./examples/RedisCacheDeletePrivateEndpointConnection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByRedisCache",
        "tags": [
          "RedisResources"
        ],
        "description": "Gets the private link resources that need to be created for a redis cache.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cacheName",
            "in": "path",
            "description": "The name of the Redis cache.",
            "required": true,
            "type": "string",
            "pattern": "^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountListPrivateLinkResources": {
            "$ref": "./examples/RedisCacheListPrivateLinkResources.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/regenerateKey": {
      "post": {
        "operationId": "Redis_RegenerateKey",
        "tags": [
          "RedisResources"
        ],
        "description": "Regenerate Redis cache's access keys. This operation requires write permission to the cache resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the RedisResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Specifies which key to regenerate.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisRegenerateKeyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RedisAccessKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedisCacheRegenerateKey": {
            "$ref": "./examples/RedisCacheRegenerateKey.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessPolicyAssignmentProvisioningState": {
      "type": "string",
      "description": "Provisioning state of an access policy assignment set",
      "enum": [
        "Updating",
        "Succeeded",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AccessPolicyAssignmentProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The access policy assignments are being updated"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The access policy assignments were successfully updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The access policy assignments are being deleted"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The access policy assignments are considered deleted, meaning no custom access policies are applied."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation was canceled. Access policy assignments may be in a partially updated state. Update them again to have a well-defined state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The operation failed. Access policy assignments may be in a partially updated state. Update them again to have a well-defined state."
          }
        ]
      }
    },
    "AccessPolicyProvisioningState": {
      "type": "string",
      "description": "Provisioning state of access policy",
      "enum": [
        "Updating",
        "Succeeded",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AccessPolicyProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Updating",
            "value": "Updating",
            "description": "An operation is in progress."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The operation succeeded."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "A delete operation is in progress."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The access policy is considered deleted, if it still exists."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation was canceled. Access policies may be in a partially updated state. Update them again to have a well-defined state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The operation failed. Access policies may be in a partially updated state. Update them again to have a well-defined state."
          }
        ]
      }
    },
    "AccessPolicyType": {
      "type": "string",
      "description": "Built-In or Custom access policy",
      "enum": [
        "Custom",
        "BuiltIn"
      ],
      "x-ms-enum": {
        "name": "AccessPolicyType",
        "modelAsString": true,
        "values": [
          {
            "name": "Custom",
            "value": "Custom",
            "description": "User-configurable access policy, using the redis access policy authoring language"
          },
          {
            "name": "BuiltIn",
            "value": "BuiltIn",
            "description": "Built-in or well-known access policies, whose policy is not configurable."
          }
        ]
      }
    },
    "CheckNameAvailabilityParameters": {
      "type": "object",
      "description": "Parameters body to pass for resource name availability check.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type. The only legal value of this property for checking redis cache name availability is 'Microsoft.Cache/redis'."
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "DayOfWeek": {
      "type": "string",
      "description": "Day of the week when a cache can be patched.",
      "enum": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
        "Everyday",
        "Weekend"
      ],
      "x-ms-enum": {
        "name": "DayOfWeek",
        "modelAsString": false,
        "values": [
          {
            "name": "Monday",
            "value": "Monday"
          },
          {
            "name": "Tuesday",
            "value": "Tuesday"
          },
          {
            "name": "Wednesday",
            "value": "Wednesday"
          },
          {
            "name": "Thursday",
            "value": "Thursday"
          },
          {
            "name": "Friday",
            "value": "Friday"
          },
          {
            "name": "Saturday",
            "value": "Saturday"
          },
          {
            "name": "Sunday",
            "value": "Sunday"
          },
          {
            "name": "Everyday",
            "value": "Everyday",
            "description": "As a convenience, 'Everyday' is also accepted and means the same as specifying all days of the week."
          },
          {
            "name": "Weekend",
            "value": "Weekend",
            "description": "As a convenience, 'Weekend' is also accepted and means the same as specifying Saturday and Sunday."
          }
        ]
      }
    },
    "ExportRDBParameters": {
      "type": "object",
      "description": "Parameters for Redis export operation.",
      "properties": {
        "format": {
          "type": "string",
          "description": "File format."
        },
        "prefix": {
          "type": "string",
          "description": "Prefix to use for exported files."
        },
        "container": {
          "type": "string",
          "description": "Container name to export to."
        },
        "preferred-data-archive-auth-method": {
          "type": "string",
          "description": "Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity, default value is SAS"
        },
        "storage-subscription-id": {
          "type": "string",
          "description": "Subscription id of the storage container for data to be exported using ManagedIdentity."
        }
      },
      "required": [
        "prefix",
        "container"
      ]
    },
    "ImportRDBParameters": {
      "type": "object",
      "description": "Parameters for Redis import operation.",
      "properties": {
        "format": {
          "type": "string",
          "description": "File format."
        },
        "files": {
          "type": "array",
          "description": "files to import.",
          "items": {
            "type": "string"
          }
        },
        "preferred-data-archive-auth-method": {
          "type": "string",
          "description": "Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity, default value is SAS"
        },
        "storage-subscription-id": {
          "type": "string",
          "description": "Subscription id of the storage container containing files to import using Managed Identity."
        }
      },
      "required": [
        "files"
      ]
    },
    "NotificationListResponse": {
      "type": "object",
      "description": "The response of listUpgradeNotifications.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The UpgradeNotification items on this page",
          "items": {
            "$ref": "#/definitions/UpgradeNotification"
          },
          "x-ms-identifiers": [
            "name",
            "timestamp"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Operation": {
      "type": "object",
      "description": "REST API operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The object that describes the operation."
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "description": "The object that describes the operation.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Friendly name of the resource provider"
        },
        "operation": {
          "type": "string",
          "description": "Operation type: read, write, delete, listKeys/action, etc."
        },
        "resource": {
          "type": "string",
          "description": "Resource type on which the operation is performed."
        },
        "description": {
          "type": "string",
          "description": "Friendly name of the operation"
        }
      }
    },
    "OperationListResult": {
[...]
