{
  "swagger": "2.0",
  "info": {
    "title": "MaintenanceManagementClient",
    "version": "2023-09-01-preview",
    "description": "Azure Maintenance Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MaintenanceConfigurations"
    },
    {
      "name": "ApplyUpdates"
    }
  ],
  "paths": {
    "/providers/Microsoft.Maintenance/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/applyUpdates": {
      "get": {
        "operationId": "ApplyUpdates_List",
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Get Configuration records within a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_List": {
            "$ref": "./examples/ApplyUpdates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "operationId": "ConfigurationAssignmentsWithinSubscriptionOperations_List",
        "summary": "Get configuration assignment within a subscription",
        "description": "Get configuration assignment within a subscription",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListConfigurationAssignmentsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignmentsForSubscriptionsOperations_Get",
        "summary": "Get configuration assignment",
        "description": "Get configuration assignment for resource..",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignmentsForSubscriptionsOperations_CreateOrUpdate",
        "summary": "Create configuration assignment",
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "ConfigurationAssignmentsForSubscriptionsOperations_Update",
        "summary": "Create configuration assignment",
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignmentsForSubscriptionsOperations_Delete",
        "summary": "Unregister configuration for resource",
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Unique configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/maintenanceConfigurations": {
      "get": {
        "operationId": "MaintenanceConfigurationsOperations_List",
        "summary": "Get Configuration records within a subscription",
        "description": "Get Configuration records within a subscription",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/publicMaintenanceConfigurations": {
      "get": {
        "operationId": "PublicMaintenanceConfigurations_List",
        "tags": [
          "MaintenanceConfigurations"
        ],
        "description": "Get Public Maintenance Configuration records",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublicMaintenanceConfigurations_List": {
            "$ref": "./examples/PublicMaintenanceConfigurations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/{resourceName}": {
      "get": {
        "operationId": "PublicMaintenanceConfigurations_Get",
        "tags": [
          "MaintenanceConfigurations"
        ],
        "description": "Get Public Maintenance Configuration record",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Maintenance Configuration Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublicMaintenanceConfigurations_GetForResource": {
            "$ref": "./examples/PublicMaintenanceConfigurations_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/applyUpdates": {
      "get": {
        "operationId": "ApplyUpdateForResourceGroupOperations_List",
        "summary": "Get Configuration records within a subscription and resource group",
        "description": "Get Configuration records within a subscription and resource group",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}": {
      "get": {
        "operationId": "ApplyUpdates_Get",
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Track maintenance updates to resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applyUpdateName",
            "in": "path",
            "description": "applyUpdate Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_Get": {
            "$ref": "./examples/ApplyUpdates_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ApplyUpdates_CreateOrUpdateOrCancel",
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Apply maintenance updates to resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applyUpdateName",
            "in": "path",
            "description": "applyUpdate Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "applyUpdate",
            "in": "body",
            "description": "The ApplyUpdate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            },
            "x-ms-client-name": "applyUpdate"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApplyUpdate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "201": {
            "description": "Resource 'ApplyUpdate' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_CreateOrUpdateOnly_NoCancellation": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdateOrCancel_Apply_Updates_Create_Or_Update_Only_No_Cancellation.json"
          },
          "ApplyUpdates_CreateOrUpdateOrCancel": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdateOrCancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations": {
      "get": {
        "operationId": "MaintenanceConfigurationsForResourceGroupOperations_List",
        "summary": "Get Configuration records within a subscription and resource group",
        "description": "Get Configuration records within a subscription and resource group",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "operationId": "ConfigurationAssignmentsOperations_ListParent",
        "summary": "List configurationAssignments for resource",
        "description": "List configurationAssignments for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListConfigurationAssignmentsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignmentsOperations_GetParent",
        "summary": "Get configuration assignment",
        "description": "Get configuration assignment for resource..",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignmentsOperations_CreateOrUpdateParent",
        "summary": "Create configuration assignment",
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignmentsOperations_DeleteParent",
        "summary": "Unregister configuration for resource",
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Unique configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates": {
      "get": {
        "operationId": "UpdatesOperations_ListParent",
        "summary": "Get Updates to resource",
        "description": "Get updates to resources.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListUpdatesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "operationId": "ConfigurationAssignmentsOperations_List",
        "summary": "List configurationAssignments for resource",
        "description": "List configurationAssignments for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListConfigurationAssignmentsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignmentsOperations_Get",
        "summary": "Get configuration assignment",
        "description": "Get configuration assignment for resource..",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignmentsOperations_CreateOrUpdate",
        "summary": "Create configuration assignment",
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignmentsOperations_Delete",
        "summary": "Unregister configuration for resource",
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Unique configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates": {
      "get": {
        "operationId": "UpdatesOperations_List",
        "summary": "Get Updates to resource",
        "description": "Get updates to resources.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListUpdatesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignmentsForResourceGroupOperations_Get",
        "summary": "Get configuration assignment",
        "description": "Get configuration assignment for resource..",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignmentsForResourceGroupOperations_CreateOrUpdate",
        "summary": "Create configuration assignment",
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "ConfigurationAssignmentsForResourceGroupOperations_Update",
        "summary": "Create configuration assignment",
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Configuration assignment name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignmentsForResourceGroupOperations_Delete",
        "summary": "Unregister configuration for resource",
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "Unique configuration assignment name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations/{resourceName}": {
      "get": {
        "operationId": "MaintenanceConfigurationsOperations_Get",
        "summary": "Get Configuration record",
        "description": "Get Configuration record",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Maintenance Configuration Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "put": {
        "operationId": "MaintenanceConfigurationsOperations_CreateOrUpdate",
        "summary": "Create or Update configuration record",
        "description": "Create or Update configuration record",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Maintenance Configuration Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configuration",
            "in": "body",
            "description": "The configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "MaintenanceConfigurationsOperations_Update",
        "summary": "Patch configuration record",
        "description": "Patch configuration record",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Maintenance Configuration Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configuration",
            "in": "body",
            "description": "The configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "MaintenanceConfigurationsOperations_Delete",
        "summary": "Delete Configuration record",
        "description": "Delete Configuration record",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Maintenance Configuration Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApplyUpdate": {
      "type": "object",
      "description": "Apply Update request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplyUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApplyUpdateListResult": {
      "type": "object",
      "description": "The response of a ApplyUpdate list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApplyUpdate items on this page",
          "items": {
            "$ref": "#/definitions/ApplyUpdate"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplyUpdateProperties": {
      "type": "object",
      "description": "Properties for apply update",
      "properties": {
        "status": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The status"
        },
        "resourceId": {
          "type": "string",
          "description": "The resourceId"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last Update time"
        }
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "ConfigurationAssignment": {
      "type": "object",
      "description": "Configuration Assignment",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource"
        },
        "properties": {
          "$ref": "#/definitions/ConfigurationAssignmentProperties",
          "description": "Properties of the configuration assignment"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ConfigurationAssignmentFilterProperties": {
      "type": "object",
      "description": "Azure query for the update configuration.",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "description": "List of allowed resources.",
          "items": {
            "type": "string"
          }
        },
        "resourceGroups": {
          "type": "array",
          "description": "List of allowed resource groups.",
          "items": {
            "type": "string"
          }
        },
        "osTypes": {
          "type": "array",
          "description": "List of allowed operating systems.",
          "items": {
            "type": "string"
          }
        },
        "locations": {
          "type": "array",
          "description": "List of locations to scope the query to.",
          "items": {
            "type": "string"
          }
        },
        "tagSettings": {
          "$ref": "#/definitions/TagSettingsProperties",
          "description": "Tag settings for the VM."
        }
      }
    },
    "ConfigurationAssignmentProperties": {
      "type": "object",
      "description": "Properties for configuration assignment",
      "properties": {
        "maintenanceConfigurationId": {
          "type": "string",
          "description": "The maintenance configuration Id"
        },
        "resourceId": {
          "type": "string",
          "description": "The unique resourceId"
        },
        "filter": {
          "$ref": "#/definitions/ConfigurationAssignmentFilterProperties",
          "description": "Properties of the configuration assignment"
        }
      }
    },
    "ErrorDetails": {
      "type": "object",
      "description": "An error response details received from the Azure Maintenance service.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        }
      }
    },
    "ImpactType": {
      "type": "string",
      "description": "The impact type",
      "enum": [
        "None",
        "Freeze",
        "Restart",
        "Redeploy"
      ],
      "x-ms-enum": {
        "name": "ImpactType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Pending updates has no impact on resource."
          },
          {
            "name": "Freeze",
            "value": "Freeze",
            "description": "Pending updates can freeze network or disk io operation on resource."
          },
          {
            "name": "Restart",
            "value": "Restart",
            "description": "Pending updates can cause resource to restart."
          },
          {
            "name": "Redeploy",
            "value": "Redeploy",
            "description": "Pending updates can redeploy resource."
          }
        ]
      }
    },
    "InputLinuxParameters": {
      "type": "object",
      "description": "Input properties for patching a Linux machine.",
      "properties": {
        "packageNameMasksToExclude": {
          "type": "array",
          "description": "Package names to be excluded for patching.",
          "items": {
            "type": "string"
          }
        },
        "packageNameMasksToInclude": {
          "type": "array",
          "description": "Package names to be included for patching.",
          "items": {
            "type": "string"
          }
        },
        "classificationsToInclude": {
          "type": "array",
          "description": "Classification category of patches to be patched",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InputPatchConfiguration": {
      "type": "object",
      "description": "Input configuration for a patch run",
      "properties": {
        "rebootSetting": {
          "$ref": "#/definitions/RebootOptions",
          "description": "Possible reboot preference as defined by the user based on which it would be decided to reboot the machine or not after the patch operation is completed.",
          "default": "IfRequired"
        },
        "windowsParameters": {
          "$ref": "#/definitions/InputWindowsParameters",
          "description": "Input parameters specific to patching a Windows machine. For Linux machines, do not pass this property."
        },
        "linuxParameters": {
          "$ref": "#/definitions/InputLinuxParameters",
          "description": "Input parameters specific to patching Linux machine. For Windows machines, do not pass this property."
        }
      }
    },
    "InputWindowsParameters": {
      "type": "object",
      "description": "Input properties for patching a Windows machine.",
      "properties": {
        "kbNumbersToExclude": {
          "type": "array",
          "description": "Windows KBID to be excluded for patching.",
          "items": {
            "type": "string"
          }
        },
        "kbNumbersToInclude": {
          "type": "array",
          "description": "Windows KBID to be included for patching.",
          "items": {
            "type": "string"
          }
        },
        "classificationsToInclude": {
          "type": "array",
          "description": "Classification category of patches to be patched",
          "items": {
            "type": "string"
          }
        },
        "excludeKbsRequiringReboot": {
          "type": "boolean",
          "description": "Exclude patches which need reboot"
        }
      }
    },
    "ListConfigurationAssignmentsResult": {
      "type": "object",
      "description": "Response for ConfigurationAssignments list",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of configuration Assignments",
          "items": {
            "$ref": "#/definitions/ConfigurationAssignment"
          }
        }
      }
    },
    "ListUpdatesResult": {
      "type": "object",
      "description": "Response for Updates list",
      "properties": {
        "value": {
          "type": "array",
          "description": "The pending updates",
          "items": {
            "$ref": "#/definitions/Update"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "MaintenanceConfiguration": {
      "type": "object",
      "description": "Maintenance configuration record type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MaintenanceConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MaintenanceConfigurationListResult": {
      "type": "object",
      "description": "The response of a MaintenanceConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MaintenanceConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/MaintenanceConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MaintenanceConfigurationProperties": {
      "type": "object",
      "description": "Properties for maintenance configuration",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Gets or sets namespace of the resource"
        },
        "extensionProperties": {
          "type": "object",
          "description": "Gets or sets extensionProperties of the maintenanceConfiguration",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenanceScope": {
          "$ref": "#/definitions/MaintenanceScope",
          "description": "Gets or sets maintenanceScope of the configuration"
        },
        "maintenanceWindow": {
          "$ref": "#/definitions/MaintenanceWindow",
          "description": "Definition of a MaintenanceWindow"
        },
        "visibility": {
          "$ref": "#/definitions/Visibility",
          "description": "Gets or sets the visibility of the configuration. The default value is 'Custom'"
        },
        "installPatches": {
          "$ref": "#/definitions/InputPatchConfiguration",
          "description": "The input parameters to be passed to the patch run operation."
        }
      }
    },
    "MaintenanceConfigurationUpdate": {
      "type": "object",
      "description": "Maintenance configuration record type",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MaintenanceError": {
      "type": "object",
      "description": "An error response received from the Azure Maintenance service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetails",
          "description": "Details of the error"
        }
      }
    },
    "MaintenanceScope": {
      "type": "string",
      "description": "Gets or sets maintenanceScope of the configuration",
      "enum": [
        "Host",
        "Resource",
        "OSImage",
        "Extension",
        "InGuestPatch",
        "SQLDB",
        "SQLManagedInstance"
      ],
      "x-ms-enum": {
        "name": "MaintenanceScope",
        "modelAsString": true,
        "values": [
          {
            "name": "Host",
            "value": "Host",
            "description": "This maintenance scope controls installation of azure platform updates i.e. services on physical nodes hosting customer VMs."
          },
          {
            "name": "Resource",
            "value": "Resource",
            "description": "This maintenance scope controls the default update maintenance of the Azure Resource"
          },
          {
            "name": "OSImage",
            "value": "OSImage",
            "description": "This maintenance scope controls os image installation on VM/VMSS"
          },
          {
            "name": "Extension",
            "value": "Extension",
            "description": "This maintenance scope controls extension installation on VM/VMSS"
          },
          {
            "name": "InGuestPatch",
            "value": "InGuestPatch",
            "description": "This maintenance scope controls installation of windows and linux packages on VM/VMSS"
          },
          {
            "name": "SQLDB",
            "value": "SQLDB",
            "description": "This maintenance scope controls installation of SQL server platform updates."
          },
          {
            "name": "SQLManagedInstance",
            "value": "SQLManagedInstance",
            "description": "This maintenance scope controls installation of SQL managed instance platform update."
          }
        ]
      }
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "Definition of a MaintenanceWindow",
      "properties": {
        "startDateTime": {
          "type": "string",
          "description": "Effective start date of the maintenance window in YYYY-MM-DD hh:mm format. The start date can be set to either the current date or future date. The window will be created in the time zone provided and adjusted to daylight savings according to that time zone."
        },
        "expirationDateTime": {
          "type": "string",
          "description": "Effective expiration date of the maintenance window in YYYY-MM-DD hh:mm format. The window will be created in the time zone provided and adjusted to daylight savings according to that time zone. Expiration date must be set to a future date. If not provided, it will be set to the maximum datetime 9999-12-31 23:59:59."
        },
        "duration": {
          "type": "string",
          "description": "Duration of the maintenance window in HH:mm format. If not provided, default value will be used based on maintenance scope provided. Example: 05:00."
        },
        "timeZone": {
          "type": "string",
          "description": "Name of the timezone. List of timezones can be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell. Example: Pacific Standard Time, UTC, W. Europe Standard Time, Korea Standard Time, Cen. Australia Standard Time."
        },
        "recurEvery": {
          "type": "string",
          "description": "Rate at which a Maintenance window is expected to recur. The rate can be expressed as daily, weekly, or monthly schedules. Daily schedule are formatted as recurEvery: [Frequency as integer]['Day(s)']. If no frequency is provided, the default frequency is 1. Daily schedule examples are recurEvery: Day, recurEvery: 3Days.  Weekly schedule are formatted as recurEvery: [Frequency as integer]['Week(s)'] [Optional comma separated list of weekdays Monday-Sunday]. Weekly schedule examples are recurEvery: 3Weeks, recurEvery: Week Saturday,Sunday. Monthly schedules are formatted as [Frequency as integer]['Month(s)'] [Comma separated list of month days] or [Frequency as integer]['Month(s)'] [Week of Month (First, Second, Third, Fourth, Last)] [Weekday Monday-Sunday] [Optional Offset(No. of days)]. Offset value must be between -6 to 6 inclusive. Monthly schedule examples are recurEvery: Month, recurEvery: 2Months, recurEvery: Month day23,day24, recurEvery: Month Last Sunday, recurEvery: Month Fourth Monday, recurEvery: Month Last Sunday Offset-3, recurEvery: Month Third Sunday Offset6."
        }
      }
    },
    "OperationInfo": {
      "type": "object",
      "description": "Information about an operation",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Name of the provider"
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource type"
        },
        "operation": {
          "type": "string",
          "description": "Name of the operation"
        },
        "description": {
          "type": "string",
          "description": "Description of the operation"
        }
      }
    },
    "RebootOptions": {
      "type": "string",
      "description": "Possible reboot preference as defined by the user based on which it would be decided to reboot the machine or not after the patch operation is completed.",
      "enum": [
        "IfRequired",
        "Never",
        "Always"
      ],
      "x-ms-enum": {
        "name": "RebootOptions",
        "modelAsString": true
      }
    },
    "Resource": {
      "type": "object",
      "description": "Definition of a Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified identifier of the resource",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "TagOperators": {
      "type": "string",
      "description": "Filter VMs by Any or All specified tags.",
      "enum": [
        "All",
        "Any"
      ],
      "x-ms-enum": {
        "name": "TagOperators",
        "modelAsString": false
      }
    },
    "TagSettingsProperties": {
      "type": "object",
      "description": "Tag filter information for the VM.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Dictionary of tags with its list of values.",
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "filterOperator": {
          "$ref": "#/definitions/TagOperators",
          "description": "Filter VMs by Any or All specified tags."
        }
      }
    },
    "Update": {
      "type": "object",
      "description": "Maintenance update on a resource",
      "properties": {
        "maintenanceScope": {
          "$ref": "#/definitions/MaintenanceScope",
          "description": "The impact area"
        },
        "impactType": {
          "$ref": "#/definitions/ImpactType",
          "description": "The impact type"
        },
        "status": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The status"
        },
        "impactDurationInSec": {
          "type": "integer",
          "format": "int32",
          "description": "Duration of impact in seconds"
        },
        "notBefore": {
          "type": "string",
          "format": "date-time",
          "description": "Time when Azure will start force updates if not self-updated by customer before this time"
        },
        "properties": {
          "$ref": "#/definitions/UpdateProperties",
          "description": "Properties of the apply update"
        }
      }
    },
    "UpdateProperties": {
      "type": "object",
      "description": "Properties for update",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resourceId"
        }
      }
    },
    "UpdateStatus": {
      "type": "string",
      "description": "The status",
      "enum": [
        "Pending",
        "InProgress",
        "Completed",
        "RetryNow",
        "RetryLater",
        "NoUpdatesPending",
        "Cancel",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "UpdateStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "There are pending updates to be installed."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Updates installation are in progress."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "All updates are successfully applied."
          },
          {
            "name": "RetryNow",
            "value": "RetryNow",
            "description": "Updates installation failed but are ready to retry again."
          },
          {
            "name": "RetryLater",
            "value": "RetryLater",
            "description": "Updates installation failed and should be retried later."
          },
          {
            "name": "NoUpdatesPending",
            "value": "NoUpdatesPending",
            "description": "No updates are pending."
          },
          {
            "name": "Cancel",
            "value": "Cancel",
            "description": "Cancel the schedule and stop creating PMR for resources part of it. Applicable to Maintenance Configuration resource type only."
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Send the Cancelled response to the user if request came to cancel the schedule. Applicable to Maintenance Configuration resource type only."
          }
        ]
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2023-09-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_09_01_preview",
            "value": "2023-09-01-preview",
            "description": "The 2023-09-01-preview API version."
          }
        ]
      }
    },
    "Visibility": {
      "type": "string",
      "description": "Gets or sets the visibility of the configuration. The default value is 'Custom'",
      "enum": [
        "Custom",
        "Public"
      ],
      "x-ms-enum": {
        "name": "Visibility",
        "modelAsString": true,
        "values": [
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Only visible to users with permissions."
          },
          {
            "name": "Public",
            "value": "Public",
            "description": "Visible to all users."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
