{
  "swagger": "2.0",
  "info": {
    "title": "ProviderHub",
    "version": "2024-09-01",
    "description": "Provider Hub",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CustomRollouts"
    },
    {
      "name": "NewRegionFrontloadRelease"
    },
    {
      "name": "ProviderRegistrations"
    },
    {
      "name": "DefaultRollouts"
    },
    {
      "name": "NotificationRegistrations"
    },
    {
      "name": "OperationsPutContents"
    },
    {
      "name": "ResourceTypeRegistrations"
    },
    {
      "name": "Skus"
    },
    {
      "name": "SkuResources"
    },
    {
      "name": "SkuResourceOperations"
    },
    {
      "name": "SkuResourceOperationGroup"
    },
    {
      "name": "AuthorizedApplications"
    },
    {
      "name": "ProviderMonitorSettings"
    }
  ],
  "paths": {
    "/providers/Microsoft.ProviderHub/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationsDefinitionArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerMonitorSettings": {
      "get": {
        "operationId": "ProviderMonitorSettings_ListBySubscription",
        "tags": [
          "ProviderMonitorSettings"
        ],
        "description": "Gets the list of the provider monitor settings in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSettingArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderMonitorSettings_ListBySubscription": {
            "$ref": "./examples/ProviderMonitorSettings_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations": {
      "get": {
        "operationId": "ProviderRegistrations_List",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Gets the list of the provider registrations in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_List": {
            "$ref": "./examples/ProviderRegistrations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}": {
      "get": {
        "operationId": "ProviderRegistrations_Get",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Gets the provider registration details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_Get": {
            "$ref": "./examples/ProviderRegistrations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ProviderRegistrations_CreateOrUpdate",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Creates or updates the provider registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The provider registration properties supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProviderRegistration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "201": {
            "description": "Resource 'ProviderRegistration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DirectProviderRegistrations_CreateOrUpdate": {
            "$ref": "./examples/DirectProviderRegistrations_CreateOrUpdate.json"
          },
          "ProviderRegistrations_CreateOrUpdate": {
            "$ref": "./examples/ProviderRegistrations_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ProviderRegistration"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProviderRegistrations_Delete",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Deletes a provider registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_Delete": {
            "$ref": "./examples/ProviderRegistrations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/authorizedApplications": {
      "get": {
        "operationId": "AuthorizedApplications_List",
        "tags": [
          "AuthorizedApplications"
        ],
        "description": "Gets the list of the authorized applications in the provider namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplicationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthorizedApplications_List": {
            "$ref": "./examples/AuthorizedApplications_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/authorizedApplications/{applicationId}": {
      "get": {
        "operationId": "AuthorizedApplications_Get",
        "tags": [
          "AuthorizedApplications"
        ],
        "description": "Gets the authorized application details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthorizedApplications_Get": {
            "$ref": "./examples/AuthorizedApplications_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AuthorizedApplications_CreateOrUpdate",
        "tags": [
          "AuthorizedApplications"
        ],
        "description": "Creates or updates the authorized application.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The authorized application properties supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AuthorizedApplication' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            }
          },
          "201": {
            "description": "Resource 'AuthorizedApplication' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthorizedApplications_CreateOrUpdate": {
            "$ref": "./examples/AuthorizedApplications_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AuthorizedApplication"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AuthorizedApplications_Delete",
        "tags": [
          "AuthorizedApplications"
        ],
        "description": "Deletes an authorized application.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthorizedApplications_Delete": {
            "$ref": "./examples/AuthorizedApplications_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/checkinManifest": {
      "post": {
        "operationId": "CheckinManifest",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Checkin the manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "checkinManifestParams",
            "in": "body",
            "description": "The required body parameters supplied to the checkin manifest operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckinManifestParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CheckinManifestInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckinManifest": {
            "$ref": "./examples/CheckinManifest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts": {
      "get": {
        "operationId": "CustomRollouts_ListByProviderRegistration",
        "tags": [
          "CustomRollouts"
        ],
        "description": "Gets the list of the custom rollouts for the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CustomRolloutArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_ListByProviderRegistration": {
            "$ref": "./examples/CustomRollouts_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts/{rolloutName}": {
      "get": {
        "operationId": "CustomRollouts_Get",
        "tags": [
          "CustomRollouts"
        ],
        "description": "Gets the custom rollout details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_Get": {
            "$ref": "./examples/CustomRollouts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CustomRollouts_CreateOrUpdate",
        "tags": [
          "CustomRollouts"
        ],
        "description": "Creates or updates the rollout details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The custom rollout properties supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CustomRollout' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "201": {
            "description": "Resource 'CustomRollout' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_CreateOrUpdate": {
            "$ref": "./examples/CustomRollouts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/CustomRollout"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CustomRollouts_Delete",
        "tags": [
          "CustomRollouts"
        ],
        "description": "Deletes the custom rollout resource. Custom rollout must be in terminal state.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "providerReleases_Delete": {
            "$ref": "./examples/CustomRollouts_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts/{rolloutName}/stop": {
      "post": {
        "operationId": "CustomRollouts_Stop",
        "tags": [
          "CustomRollouts"
        ],
        "description": "Stops or cancels the custom rollout, if in progress.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_Stop": {
            "$ref": "./examples/CustomRollouts_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts": {
      "get": {
        "operationId": "DefaultRollouts_ListByProviderRegistration",
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Gets the list of the rollouts for the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRolloutArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_ListByProviderRegistration": {
            "$ref": "./examples/DefaultRollouts_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts/{rolloutName}": {
      "get": {
        "operationId": "DefaultRollouts_Get",
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Gets the default rollout details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Get": {
            "$ref": "./examples/DefaultRollouts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DefaultRollouts_CreateOrUpdate",
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Creates or updates the rollout details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The Default rollout properties supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DefaultRollout' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "201": {
            "description": "Resource 'DefaultRollout' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_CreateOrUpdate": {
            "$ref": "./examples/DefaultRollouts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DefaultRollout"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DefaultRollouts_Delete",
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Deletes the rollout resource. Rollout must be in terminal state.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Delete": {
            "$ref": "./examples/DefaultRollouts_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts/{rolloutName}/stop": {
      "post": {
        "operationId": "DefaultRollouts_Stop",
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Stops or cancels the rollout, if in progress.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rolloutName",
            "in": "path",
            "description": "The rollout name.",
            "required": true,
            "type": "string",
            "maxLength": 260,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Stop": {
            "$ref": "./examples/DefaultRollouts_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateManifest": {
      "post": {
        "operationId": "GenerateManifest",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Generates the manifest for the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderManifest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GenerateManifest": {
            "$ref": "./examples/GenerateManifest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateNewRegionFrontloadManifest": {
      "post": {
        "operationId": "NewRegionFrontloadRelease_GenerateManifest",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Generates the new region frontload manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FrontloadPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderManifest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NewRegionFrontloadRelease_GenerateManifest": {
            "$ref": "./examples/NewRegionFrontloadRelease_GenerateManifest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateOperations": {
      "post": {
        "operationId": "ProviderRegistrations_GenerateOperations",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Generates the operations api for the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationsDefinition"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_GenerateOperations": {
            "$ref": "./examples/ProviderRegistrations_GenerateOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/newRegionFrontloadRelease/{releaseName}": {
      "get": {
        "operationId": "NewRegionFrontloadRelease_Get",
        "tags": [
          "NewRegionFrontloadRelease"
        ],
        "description": "Gets a new region frontload release.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "releaseName",
            "in": "path",
            "description": "The name of the release.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NewRegionFrontloadRelease_Get": {
            "$ref": "./examples/NewRegionFrontloadRelease_Get.json"
          }
        }
      },
      "put": {
        "operationId": "NewRegionFrontloadRelease_CreateOrUpdate",
        "tags": [
          "NewRegionFrontloadRelease"
        ],
        "description": "Creates or updates a new region frontload release.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "releaseName",
            "in": "path",
            "description": "The name of the release.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FrontloadPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "201": {
            "description": "Resource 'DefaultRollout' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NewRegionFrontloadRelease_CreateOrUpdate": {
            "$ref": "./examples/NewRegionFrontloadRelease_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/newRegionFrontloadRelease/{releaseName}/stop": {
      "post": {
        "operationId": "NewRegionFrontloadRelease_Stop",
        "tags": [
          "NewRegionFrontloadRelease"
        ],
        "description": "Stops a new region frontload release.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "releaseName",
            "in": "path",
            "description": "The name of the release.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NewRegionFrontloadRelease_Stop": {
            "$ref": "./examples/NewRegionFrontloadRelease_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations": {
      "get": {
        "operationId": "NotificationRegistrations_ListByProviderRegistration",
        "tags": [
          "NotificationRegistrations"
        ],
        "description": "Gets the list of the notification registrations for the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_ListByProviderRegistration": {
            "$ref": "./examples/NotificationRegistrations_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations/{notificationRegistrationName}": {
      "get": {
        "operationId": "NotificationRegistrations_Get",
        "tags": [
          "NotificationRegistrations"
        ],
        "description": "Gets the notification registration details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationRegistrationName",
            "in": "path",
            "description": "The notification registration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_Get": {
            "$ref": "./examples/NotificationRegistrations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "NotificationRegistrations_CreateOrUpdate",
        "tags": [
          "NotificationRegistrations"
        ],
        "description": "Creates or updates a notification registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationRegistrationName",
            "in": "path",
            "description": "The notification registration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The required body parameters supplied to the notification registration operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NotificationRegistration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_CreateOrUpdate": {
            "$ref": "./examples/NotificationRegistrations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "NotificationRegistrations_Delete",
        "tags": [
          "NotificationRegistrations"
        ],
        "description": "Deletes a notification registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationRegistrationName",
            "in": "path",
            "description": "The notification registration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_Delete": {
            "$ref": "./examples/NotificationRegistrations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/operations/default": {
      "get": {
        "operationId": "Operations_ListByProviderRegistration",
        "tags": [
          "OperationsPutContents"
        ],
        "description": "Gets the operations supported by the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationsDefinition"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_ListByProviderRegistration": {
            "$ref": "./examples/Operations_ListByProviderRegistration.json"
          }
        }
      },
      "put": {
        "operationId": "Operations_CreateOrUpdate",
        "tags": [
          "OperationsPutContents"
        ],
        "description": "Creates or updates the operation supported by the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "OperationsPutContent",
            "in": "body",
            "description": "The operations content properties supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationsPutContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperationsPutContent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OperationsPutContent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CreateOrUpdate": {
            "$ref": "./examples/Operations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Operations_Delete",
        "tags": [
          "OperationsPutContents"
        ],
        "description": "Deletes an operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Delete": {
            "$ref": "./examples/Operations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourceActions/{resourceActionName}/deleteResources": {
      "post": {
        "operationId": "ResourceActions_DeleteResources",
        "tags": [
          "ProviderRegistrations"
        ],
        "description": "Deletes resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceActionName",
            "in": "path",
            "description": "The resource action name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The properties supplied to the DeleteResources operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceManagementAction"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceActions_DeleteResources": {
            "$ref": "./examples/ResourceActions_DeleteResources.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations": {
      "get": {
        "operationId": "ResourceTypeRegistrations_ListByProviderRegistration",
        "tags": [
          "ResourceTypeRegistrations"
        ],
        "description": "Gets the list of the resource types for the given provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_ListByProviderRegistration": {
            "$ref": "./examples/ResourceTypeRegistrations_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}": {
      "get": {
        "operationId": "ResourceTypeRegistrations_Get",
        "tags": [
          "ResourceTypeRegistrations"
        ],
        "description": "Gets a resource type details in the given subscription and provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_Get": {
            "$ref": "./examples/ResourceTypeRegistrations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceTypeRegistrations_CreateOrUpdate",
        "tags": [
          "ResourceTypeRegistrations"
        ],
        "description": "Creates or updates a resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The required request body parameters supplied to the resource type registration CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResourceTypeRegistration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "201": {
            "description": "Resource 'ResourceTypeRegistration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DirectResourceTypeRegistrations_CreateOrUpdate.json": {
            "$ref": "./examples/DirectResourceTypeRegistrations_CreateOrUpdate.json"
          },
          "ResourceTypeRegistrations_CreateOrUpdate": {
            "$ref": "./examples/ResourceTypeRegistrations_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ResourceTypeRegistration"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ResourceTypeRegistrations_Delete",
        "tags": [
          "ResourceTypeRegistrations"
        ],
        "description": "Deletes a resource type",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_Delete": {
            "$ref": "./examples/ResourceTypeRegistrations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus": {
      "get": {
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird",
        "tags": [
          "SkuResourceOperationGroup"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeThird",
            "in": "path",
            "description": "The third child resource type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}": {
      "get": {
        "operationId": "Skus_GetNestedResourceTypeThird",
        "tags": [
          "SkuResourceOperationGroup"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeThird",
            "in": "path",
            "description": "The third child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeThird": {
            "$ref": "./examples/Skus_GetNestedResourceTypeThird.json"
          }
        }
      },
      "put": {
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeThird",
        "tags": [
          "SkuResourceOperationGroup"
        ],
        "description": "Creates or updates the resource type skus in the given resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeThird",
            "in": "path",
            "description": "The third child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The required body parameters supplied to the resource sku operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SkuResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeThird": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeThird.json"
          }
        }
      },
      "delete": {
        "operationId": "Skus_DeleteNestedResourceTypeThird",
        "tags": [
          "SkuResourceOperationGroup"
        ],
        "description": "Deletes a resource type sku.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeThird",
            "in": "path",
            "description": "The third child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeThird": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeThird.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus": {
      "get": {
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond",
        "tags": [
          "SkuResourceOperations"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}": {
      "get": {
        "operationId": "Skus_GetNestedResourceTypeSecond",
        "tags": [
          "SkuResourceOperations"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_GetNestedResourceTypeSecond.json"
          }
        }
      },
      "put": {
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeSecond",
        "tags": [
          "SkuResourceOperations"
        ],
        "description": "Creates or updates the resource type skus in the given resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The required body parameters supplied to the resource sku operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SkuResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeSecond.json"
          }
        }
      },
      "delete": {
        "operationId": "Skus_DeleteNestedResourceTypeSecond",
        "tags": [
          "SkuResourceOperations"
        ],
        "description": "Deletes a resource type sku.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "description": "The second child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeSecond.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus": {
      "get": {
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst",
        "tags": [
          "Skus"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}": {
      "get": {
        "operationId": "Skus_GetNestedResourceTypeFirst",
        "tags": [
          "Skus"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "description": "The first child resource type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "The SKU.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_GetNestedResourceTypeFirst.json"
          }
        }
      },
[...]
