{
  "swagger": "2.0",
  "info": {
    "title": "HybridContainerService",
    "version": "2025-02-01-preview",
    "description": "The Microsoft.HybridContainerService Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ProvisionedClusters"
    },
    {
      "name": "ProvisionedClusterUpgradeProfiles"
    },
    {
      "name": "HybridIdentityMetadataOperationGroup"
    },
    {
      "name": "AgentPools"
    },
    {
      "name": "KubernetesVersionProfiles"
    },
    {
      "name": "VmSkuProfiles"
    },
    {
      "name": "VirtualNetworks"
    }
  ],
  "paths": {
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions": {
      "get": {
        "operationId": "KubernetesVersionProfiles_List",
        "tags": [
          "KubernetesVersionProfiles"
        ],
        "description": "Lists the supported kubernetes versions for the specified custom location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KubernetesVersionProfiles_List_MaximumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_List_MaximumSet_Gen.json"
          },
          "KubernetesVersionProfiles_List_MinimumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions/default": {
      "get": {
        "operationId": "KubernetesVersionProfiles_GetKubernetesVersions",
        "tags": [
          "KubernetesVersionProfiles"
        ],
        "description": "Lists the supported kubernetes versions for the specified custom location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KubernetesVersionProfiles_GetKubernetesVersions_MaximumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_GetKubernetesVersions_MaximumSet_Gen.json"
          },
          "KubernetesVersionProfiles_GetKubernetesVersions_MinimumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_GetKubernetesVersions_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "KubernetesVersionProfiles_CreateKubernetesVersions",
        "tags": [
          "KubernetesVersionProfiles"
        ],
        "description": "Puts the default kubernetes version resource type (one time operation, before listing the kubernetes versions)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Kubernetes Versions resource definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'KubernetesVersionProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          },
          "201": {
            "description": "Resource 'KubernetesVersionProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KubernetesVersionProfiles_CreateKubernetesVersions_MaximumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_CreateKubernetesVersions_MaximumSet_Gen.json"
          },
          "KubernetesVersionProfiles_CreateKubernetesVersions_MinimumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_CreateKubernetesVersions_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "KubernetesVersionProfiles_DeleteKubernetesVersions",
        "tags": [
          "KubernetesVersionProfiles"
        ],
        "description": "Delete the default kubernetes versions resource type",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KubernetesVersionProfiles_DeleteKubernetesVersions_MaximumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_DeleteKubernetesVersions_MaximumSet_Gen.json"
          },
          "KubernetesVersionProfiles_DeleteKubernetesVersions_MinimumSet_Gen": {
            "$ref": "./examples/KubernetesVersionProfiles_DeleteKubernetesVersions_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances": {
      "get": {
        "operationId": "ProvisionedClusters_List",
        "tags": [
          "ProvisionedClusters"
        ],
        "description": "Lists the ProvisionedClusterInstance resource associated with the ConnectedCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisionedClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusters_List_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_List_MaximumSet_Gen.json"
          },
          "ProvisionedClusters_List_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default": {
      "get": {
        "operationId": "ProvisionedClusters_Get",
        "tags": [
          "ProvisionedClusters"
        ],
        "description": "Gets the provisioned cluster instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisionedCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusters_Get_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_Get_MaximumSet_Gen.json"
          },
          "ProvisionedClusters_Get_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ProvisionedClusters_CreateOrUpdate",
        "tags": [
          "ProvisionedClusters"
        ],
        "description": "Creates or updates the provisioned cluster instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Provisioned Cluster resource definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisionedCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProvisionedCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProvisionedCluster"
            }
          },
          "201": {
            "description": "Resource 'ProvisionedCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProvisionedCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusters_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "ProvisionedClusters_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProvisionedClusters_Delete",
        "tags": [
          "ProvisionedClusters"
        ],
        "description": "Deletes the provisioned cluster instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusters_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_Delete_MaximumSet_Gen.json"
          },
          "ProvisionedClusters_Delete_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/agentPools": {
      "get": {
        "operationId": "AgentPools_ListByProvisionedCluster",
        "tags": [
          "AgentPools"
        ],
        "description": "Gets the list of agent pools in the specified provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentPoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgentPools_ListByProvisionedCluster_MaximumSet_Gen": {
            "$ref": "./examples/AgentPools_ListByProvisionedCluster_MaximumSet_Gen.json"
          },
          "AgentPools_ListByProvisionedCluster_MinimumSet_Gen": {
            "$ref": "./examples/AgentPools_ListByProvisionedCluster_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/agentPools/{agentPoolName}": {
      "get": {
        "operationId": "AgentPools_Get",
        "tags": [
          "AgentPools"
        ],
        "description": "Gets the specified agent pool in the provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          },
          {
            "name": "agentPoolName",
            "in": "path",
            "description": "Parameter for the name of the agent pool in the provisioned cluster.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 12,
            "pattern": "^[a-z][a-z0-9]{2,11}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgentPools_Get_MaximumSet_Gen": {
            "$ref": "./examples/AgentPools_Get_MaximumSet_Gen.json"
          },
          "AgentPools_Get_MinimumSet_Gen": {
            "$ref": "./examples/AgentPools_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AgentPools_CreateOrUpdate",
        "tags": [
          "AgentPools"
        ],
        "description": "Creates or updates the agent pool in the provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          },
          {
            "name": "agentPoolName",
            "in": "path",
            "description": "Parameter for the name of the agent pool in the provisioned cluster.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 12,
            "pattern": "^[a-z][a-z0-9]{2,11}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Agent Pool resource definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AgentPool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "201": {
            "description": "Resource 'AgentPool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgentPools_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/AgentPools_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "AgentPools_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/AgentPools_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AgentPools_Delete",
        "tags": [
          "AgentPools"
        ],
        "description": "Deletes the specified agent pool in the provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          },
          {
            "name": "agentPoolName",
            "in": "path",
            "description": "Parameter for the name of the agent pool in the provisioned cluster.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 12,
            "pattern": "^[a-z][a-z0-9]{2,11}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgentPools_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AgentPools_Delete_MaximumSet_Gen.json"
          },
          "AgentPools_Delete_MinimumSet_Gen": {
            "$ref": "./examples/AgentPools_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/hybridIdentityMetadata": {
      "get": {
        "operationId": "HybridIdentityMetadataOperationGroup_ListByCluster",
        "tags": [
          "HybridIdentityMetadataOperationGroup"
        ],
        "description": "Lists the hybrid identity metadata proxy resource in a provisioned cluster instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridIdentityMetadataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridIdentityMetadataOperationGroup_ListByCluster_MaximumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_ListByCluster_MaximumSet_Gen.json"
          },
          "HybridIdentityMetadataOperationGroup_ListByCluster_MinimumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_ListByCluster_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/hybridIdentityMetadata/default": {
      "get": {
        "operationId": "HybridIdentityMetadataOperationGroup_Get",
        "tags": [
          "HybridIdentityMetadataOperationGroup"
        ],
        "description": "Get the hybrid identity metadata proxy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridIdentityMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridIdentityMetadataOperationGroup_Get_MaximumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_Get_MaximumSet_Gen.json"
          },
          "HybridIdentityMetadataOperationGroup_Get_MinimumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "HybridIdentityMetadataOperationGroup_Create",
        "tags": [
          "HybridIdentityMetadataOperationGroup"
        ],
        "description": "Creates the hybrid identity metadata proxy resource that facilitates the managed identity provisioning.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Hybrid Identity Metadata resource definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridIdentityMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HybridIdentityMetadata' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HybridIdentityMetadata"
            }
          },
          "201": {
            "description": "Resource 'HybridIdentityMetadata' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HybridIdentityMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridIdentityMetadataOperationGroup_Create_MaximumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_Create_MaximumSet_Gen.json"
          },
          "HybridIdentityMetadataOperationGroup_Create_MinimumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "HybridIdentityMetadataOperationGroup_Delete",
        "tags": [
          "HybridIdentityMetadataOperationGroup"
        ],
        "description": "Deletes the hybrid identity metadata proxy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridIdentityMetadataOperationGroup_Delete_MaximumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_Delete_MaximumSet_Gen.json"
          },
          "HybridIdentityMetadataOperationGroup_Delete_MinimumSet_Gen": {
            "$ref": "./examples/HybridIdentityMetadataOperationGroup_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/listAdminKubeconfig": {
      "post": {
        "operationId": "ProvisionedClusters_ListAdminKubeconfig",
        "tags": [
          "ProvisionedClusters"
        ],
        "description": "Lists the admin credentials of the provisioned cluster (can only be used within private network)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListCredentialResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusters_ListAdminKubeconfig_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_ListAdminKubeconfig_MaximumSet_Gen.json"
          },
          "ProvisionedClusters_ListAdminKubeconfig_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_ListAdminKubeconfig_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/listUserKubeconfig": {
      "post": {
        "operationId": "ProvisionedClusters_ListUserKubeconfig",
        "tags": [
          "ProvisionedClusters"
        ],
        "description": "Lists the user credentials of the provisioned cluster (can only be used within private network)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListCredentialResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusters_ListUserKubeconfig_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_ListUserKubeconfig_MaximumSet_Gen.json"
          },
          "ProvisionedClusters_ListUserKubeconfig_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusters_ListUserKubeconfig_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/upgradeProfiles/default": {
      "get": {
        "operationId": "ProvisionedClusterUpgradeProfiles_GetUpgradeProfile",
        "tags": [
          "ProvisionedClusterUpgradeProfiles"
        ],
        "description": "Gets the upgrade profile of a provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConnectedClusterResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisionedClusterUpgradeProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisionedClusterUpgradeProfiles_GetUpgradeProfile_MaximumSet_Gen": {
            "$ref": "./examples/ProvisionedClusterUpgradeProfiles_GetUpgradeProfile_MaximumSet_Gen.json"
          },
          "ProvisionedClusterUpgradeProfiles_GetUpgradeProfile_MinimumSet_Gen": {
            "$ref": "./examples/ProvisionedClusterUpgradeProfiles_GetUpgradeProfile_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus": {
      "get": {
        "operationId": "VmSkuProfiles_List",
        "tags": [
          "VmSkuProfiles"
        ],
        "description": "Lists the supported VM skus for the specified custom location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmSkuProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmSkuProfiles_List_MaximumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_List_MaximumSet_Gen.json"
          },
          "VmSkuProfiles_List_MinimumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus/default": {
      "get": {
        "operationId": "VmSkuProfiles_GetVmSkus",
        "tags": [
          "VmSkuProfiles"
        ],
        "description": "Lists the supported VM skus for the specified custom location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmSkuProfiles_GetVmSkus_MaximumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_GetVmSkus_MaximumSet_Gen.json"
          },
          "VmSkuProfiles_GetVmSkus_MinimumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_GetVmSkus_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VmSkuProfiles_CreateVmSkus",
        "tags": [
          "VmSkuProfiles"
        ],
        "description": "Puts the default VM skus resource type (one time operation, before listing the VM skus)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "VM SKUs resource definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VmSkuProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          },
          "201": {
            "description": "Resource 'VmSkuProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmSkuProfiles_CreateVmSkus_MaximumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_CreateVmSkus_MaximumSet_Gen.json"
          },
          "VmSkuProfiles_CreateVmSkus_MinimumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_CreateVmSkus_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VmSkuProfiles_DeleteVmSkus",
        "tags": [
          "VmSkuProfiles"
        ],
        "description": "Deletes the default VM skus resource type",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CustomLocationResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmSkuProfiles_DeleteVmSkus_MaximumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_DeleteVmSkus_MaximumSet_Gen.json"
          },
          "VmSkuProfiles_DeleteVmSkus_MinimumSet_Gen": {
            "$ref": "./examples/VmSkuProfiles_DeleteVmSkus_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.HybridContainerService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridContainerService/virtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListBySubscription",
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Lists the virtual networks in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_ListBySubscription_MaximumSet_Gen.json"
          },
          "VirtualNetworks_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/virtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListByResourceGroup",
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Lists the virtual networks in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VirtualNetworks_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/virtualNetworks/{virtualNetworkName}": {
      "get": {
        "operationId": "VirtualNetworks_Get",
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Gets the specified virtual network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Parameter for the name of the virtual network",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_Get_MaximumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_Get_MaximumSet_Gen.json"
          },
          "VirtualNetworks_Get_MinimumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworks_CreateOrUpdate",
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Creates or updates the virtual network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Parameter for the name of the virtual network",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Virtual Network resource definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetwork' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetwork' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualNetworks_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworks_Update",
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Patches the virtual network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Parameter for the name of the virtual network",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Virtual Network resource patch definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworksPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_Update_MaximumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_Update_MaximumSet_Gen.json"
          },
          "VirtualNetworks_Update_MinimumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworks_Delete",
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Deletes the specified virtual network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Parameter for the name of the virtual network",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_Delete_MaximumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_Delete_MaximumSet_Gen.json"
          },
          "VirtualNetworks_Delete_MinimumSet_Gen": {
            "$ref": "./examples/VirtualNetworks_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddonPhase": {
      "type": "string",
      "description": "Observed phase of the addon or component on the provisioned cluster. Possible values include: 'pending', 'provisioning', 'provisioning {HelmChartInstalled}', 'provisioning {MSICertificateDownloaded}', 'provisioned', 'deleting', 'failed', 'upgrading'",
      "enum": [
        "pending",
        "provisioning",
        "provisioning {HelmChartInstalled}",
        "provisioning {MSICertificateDownloaded}",
        "provisioned",
        "deleting",
        "failed",
        "upgrading"
      ],
      "x-ms-enum": {
        "name": "AddonPhase",
        "modelAsString": true,
        "values": [
          {
            "name": "pending",
            "value": "pending",
            "description": "Indicates addon or component is pending."
          },
          {
            "name": "provisioning",
            "value": "provisioning",
            "description": "Indicates addon or component is provisioning."
          },
          {
            "name": "provisioning {HelmChartInstalled}",
            "value": "provisioning {HelmChartInstalled}",
            "description": "Indicates addon or component is provisioning {HelmChartInstalled}."
          },
          {
            "name": "provisioning {MSICertificateDownloaded}",
            "value": "provisioning {MSICertificateDownloaded}",
            "description": "Indicates addon or component is provisioning {MSICertificateDownloaded}."
          },
          {
            "name": "provisioned",
            "value": "provisioned",
            "description": "Indicates addon or component is provisioned."
          },
          {
            "name": "deleting",
            "value": "deleting",
            "description": "Indicates addon or component is deleting."
          },
          {
            "name": "failed",
            "value": "failed",
            "description": "Indicates addon or component is failed."
          },
          {
            "name": "upgrading",
            "value": "upgrading",
            "description": "Indicates addon or component is upgrading."
          }
        ]
      }
    },
    "AddonStatusProfile": {
      "type": "object",
      "description": "The status profile of the addons and other kubernetes components",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the addon or component"
        },
        "phase": {
          "$ref": "#/definitions/AddonPhase",
          "description": "Observed phase of the addon or component on the provisioned cluster. Possible values include: 'pending', 'provisioning', 'provisioning {HelmChartInstalled}', 'provisioning {MSICertificateDownloaded}', 'provisioned', 'deleting', 'failed', 'upgrading'"
        },
        "ready": {
          "type": "boolean",
          "description": "Indicates whether the addon or component is ready"
        },
        "errorMessage": {
          "type": "string",
          "description": "Observed error message from the addon or component"
        }
      }
    },
    "AgentPool": {
      "type": "object",
      "description": "The agentPool resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentPoolProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Extended location pointing to the underlying infrastructure"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AgentPoolListResult": {
      "type": "object",
      "description": "The response of a AgentPool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AgentPool items on this page",
          "items": {
            "$ref": "#/definitions/AgentPool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AgentPoolProperties": {
      "type": "object",
      "description": "Properties of the agent pool resource",
      "properties": {
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "The particular KubernetesVersion Image OS Type (Linux, Windows)"
        },
        "osSKU": {
          "$ref": "#/definitions/OSSKU",
          "description": "Specifies the OS SKU used by the agent pool. The default is CBLMariner if OSType is Linux. The default is Windows2019 when OSType is Windows."
        },
        "nodeLabels": {
          "type": "object",
          "description": "The node labels to be persisted across all nodes in agent pool.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodeTaints": {
          "type": "array",
          "description": "Taints added to new nodes during node pool create and scale. For example, key=value:NoSchedule.",
          "items": {
            "type": "string"
          }
        },
        "maxCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of nodes for auto-scaling"
        },
        "minCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of nodes for auto-scaling"
        },
        "enableAutoScaling": {
          "type": "boolean",
          "description": "Whether to enable auto-scaler. Default value is false"
        },
        "maxPods": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of pods that can run on a node."
        },
        "availabilityZones": {
          "type": "array",
          "description": "The list of Availability zones to use for nodes.",
          "items": {
            "type": "string"
          }
        },
        "gpuCountPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "The number of gpus attached to a node."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nodes in the agent pool. The default value is 1.",
          "default": 1
        },
        "vmSize": {
          "type": "string",
          "description": "The VM sku size of the agent pool node VMs."
        },
        "kubernetesVersion": {
          "type": "string",
          "description": "Version of Kubernetes in use by the agent pool. This is inherited from the kubernetesVersion of the provisioned cluster.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "The status of the latest long running operation for the agent pool.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/AgentPoolProvisioningStatusStatus",
          "description": "The observed status of the agent pool."
        }
      }
    },
    "AgentPoolProvisioningStatusStatus": {
      "type": "object",
      "description": "The observed status of the agent pool.",
      "properties": {
        "currentState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "The current state of the agent pool.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Error messages during an agent pool operation or steady state."
        },
        "readyReplicas": {
          "type": "array",
          "description": "The agent pools that are ready.",
          "items": {
            "$ref": "#/definitions/AgentPoolUpdateProfile"
          },
          "x-ms-identifiers": [
            "count",
            "vmSize",
            "kubernetesVersion"
          ]
        }
      }
    },
    "AgentPoolUpdateProfile": {
      "type": "object",
      "description": "Profile for agent pool properties that can be updated",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nodes in the agent pool. The default value is 1.",
          "default": 1
        },
        "vmSize": {
          "type": "string",
          "description": "The VM sku size of the agent pool node VMs."
        },
        "kubernetesVersion": {
          "type": "string",
          "description": "Version of Kubernetes in use by the agent pool. This is inherited from the kubernetesVersion of the provisioned cluster.",
          "readOnly": true
        }
      }
    },
    "CloudProviderProfile": {
      "type": "object",
      "description": "The profile for the underlying cloud infrastructure provider for the provisioned cluster.",
      "properties": {
        "infraNetworkProfile": {
          "$ref": "#/definitions/CloudProviderProfileInfraNetworkProfile",
          "description": "The profile for the infrastructure networks used by the provisioned cluster"
        }
      }
    },
    "CloudProviderProfileInfraNetworkProfile": {
      "type": "object",
      "description": "The profile for the infrastructure networks used by the provisioned cluster",
      "properties": {
        "vnetSubnetIds": {
          "type": "array",
          "description": "List of ARM resource Ids (maximum 1) for the infrastructure network object e.g. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/logicalNetworks/{logicalNetworkName}",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.AzureStackHCI/logicalNetworks"
                },
                {
                  "type": "Microsoft.HybridContainerService/virtualNetworks"
                }
              ]
            }
          }
        }
      }
    },
    "ClusterVMAccessProfile": {
      "type": "object",
      "description": "The SSH restricted access profile for the VMs in the provisioned cluster.",
      "properties": {
        "authorizedIPRanges": {
          "type": "string",
          "description": "IP Address or CIDR for SSH access to VMs in the provisioned cluster"
        }
      }
    },
    "ControlPlaneProfile": {
      "type": "object",
      "description": "The properties of the control plane nodes of the provisioned cluster",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of control plane nodes. The default value is 1, and the count can be either 2 or odd numbers.",
          "default": 1
        },
        "vmSize": {
          "type": "string",
          "description": "VM sku size of the control plane nodes"
        },
        "controlPlaneEndpoint": {
          "$ref": "#/definitions/ControlPlaneProfileControlPlaneEndpoint",
          "description": "IP Address of the Kubernetes API server"
        }
      }
    },
    "ControlPlaneProfileControlPlaneEndpoint": {
      "type": "object",
      "description": "IP Address of the Kubernetes API server",
      "properties": {
        "hostIP": {
          "type": "string",
          "description": "IP address of the Kubernetes API server"
        }
      }
    },
    "CredentialResult": {
      "type": "object",
      "description": "The credential result response.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the credential.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded Kubernetes configuration file.",
          "readOnly": true
        }
      }
    },
    "Expander": {
      "type": "string",
      "description": "If not specified, the default is 'random'. See [expanders](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders) for more information.",
      "enum": [
        "least-waste",
        "most-pods",
        "priority",
        "random"
      ],
      "x-ms-enum": {
        "name": "Expander",
        "modelAsString": true,
        "values": [
          {
            "name": "least-waste",
            "value": "least-waste",
            "description": "Selects the node group that will have the least idle CPU (if tied, unused memory) after scale-up. This is useful when you have different classes of nodes, for example, high CPU or high memory nodes, and only want to expand those when there are pending pods that need a lot of those resources."
          },
          {
            "name": "most-pods",
            "value": "most-pods",
            "description": "Selects the node group that would be able to schedule the most pods when scaling up. This is useful when you are using nodeSelector to make sure certain pods land on certain nodes. Note that this won't cause the autoscaler to select bigger nodes vs. smaller, as it can add multiple smaller nodes at once."
          },
          {
            "name": "priority",
            "value": "priority",
            "description": "Selects the node group that has the highest priority assigned by the user. It's configuration is described in more details [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/expander/priority/readme.md)."
          },
          {
            "name": "random",
            "value": "random",
            "description": "Used when you don't have a particular need for the node groups to scale differently."
          }
        ]
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "Extended location pointing to the underlying infrastructure",
      "properties": {
        "type": {
          "$ref": "#/definitions/ExtendedLocationTypes",
          "description": "The extended location type. Allowed value: 'CustomLocation'"
        },
        "name": {
          "type": "string",
          "description": "ARM Id of the extended location."
        }
      }
    },
    "ExtendedLocationTypes": {
      "type": "string",
      "description": "The extended location type. Allowed value: 'CustomLocation'",
      "enum": [
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "The custom location extended location type."
          }
        ]
      }
    },
    "HybridIdentityMetadata": {
      "type": "object",
      "description": "Defines the hybridIdentityMetadata.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HybridIdentityMetadataProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HybridIdentityMetadataListResult": {
      "type": "object",
      "description": "The response of a HybridIdentityMetadata list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HybridIdentityMetadata items on this page",
          "items": {
            "$ref": "#/definitions/HybridIdentityMetadata"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HybridIdentityMetadataProperties": {
      "type": "object",
      "description": "Defines the resource properties for the hybrid identity metadata.",
      "properties": {
        "resourceUid": {
          "type": "string",
          "description": "Unique id of the parent provisioned cluster resource."
        },
        "publicKey": {
          "type": "string",
          "description": "Onboarding public key for provisioning the Managed identity for the connected cluster."
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      }
    },
    "KubernetesPatchVersions": {
      "type": "object",
      "description": "Kubernetes Patch Version profile",
      "properties": {
        "readiness": {
          "type": "array",
          "description": "Indicates whether the kubernetes version image is ready or not",
          "items": {
            "$ref": "#/definitions/KubernetesVersionReadiness"
          },
          "x-ms-identifiers": [
            "osType",
            "osSku",
            "ready",
            "errorMessage"
          ]
        },
        "upgrades": {
          "type": "array",
          "description": "Possible upgrade paths for given patch version",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "KubernetesVersionProfile": {
      "type": "object",
      "description": "The supported kubernetes versions.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KubernetesVersionProfileProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Extended location pointing to the underlying infrastructure"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "KubernetesVersionProfileListResult": {
      "type": "object",
      "description": "The response of a KubernetesVersionProfile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The KubernetesVersionProfile items on this page",
          "items": {
            "$ref": "#/definitions/KubernetesVersionProfile"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "KubernetesVersionProfileProperties": {
      "type": "object",
      "description": "Base64-encoded Kubernetes configuration file.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "values": {
          "type": "array",
          "description": "List of supported Kubernetes versions",
          "items": {
            "$ref": "#/definitions/KubernetesVersionProperties"
          },
          "x-ms-identifiers": [
            "version",
            "isPreview",
            "patchVersions"
          ]
        }
      }
    },
    "KubernetesVersionProperties": {
      "type": "object",
      "description": "Kubernetes version profile for given major.minor release",
      "properties": {
        "version": {
          "type": "string",
          "description": "major.minor version of Kubernetes release",
          "readOnly": true
        },
        "isPreview": {
          "type": "boolean",
          "description": "Whether this version is in preview mode.",
          "readOnly": true
        },
        "patchVersions": {
          "type": "object",
          "description": "Patch versions of a Kubernetes release",
          "additionalProperties": {
            "$ref": "#/definitions/KubernetesPatchVersions"
          },
          "readOnly": true
        }
      }
    },
    "KubernetesVersionReadiness": {
      "type": "object",
      "description": "Indicates whether the kubernetes version image is ready or not",
      "properties": {
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "The particular KubernetesVersion Image OS Type (Linux, Windows)",
          "readOnly": true
        },
        "osSku": {
          "$ref": "#/definitions/OSSKU",
          "description": "Specifies the OS SKU used by the agent pool. The default is CBLMariner if OSType is Linux. The default is Windows2019 when OSType is Windows."
        },
        "ready": {
          "type": "boolean",
          "description": "Whether the kubernetes version image is ready or not",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message for version not being ready",
          "readOnly": true
        }
      }
    },
    "LinuxProfileProperties": {
      "type": "object",
      "description": "SSH profile for control plane and nodepool VMs of the provisioned cluster.",
      "properties": {
        "ssh": {
          "$ref": "#/definitions/LinuxProfilePropertiesSsh",
          "description": "SSH configuration for VMs of the provisioned cluster."
        }
      }
    },
    "LinuxProfilePropertiesSsh": {
      "type": "object",
      "description": "SSH configuration for VMs of the provisioned cluster.",
      "properties": {
        "publicKeys": {
          "type": "array",
          "description": "The list of SSH public keys used to authenticate with VMs. A maximum of 1 key may be specified.",
          "items": {
            "$ref": "#/definitions/LinuxProfilePropertiesSshPublicKeysItem"
          },
          "x-ms-identifiers": [
            "keyData"
          ]
        }
      }
    },
    "LinuxProfilePropertiesSshPublicKeysItem": {
      "type": "object",
      "description": "Certificate public key used to authenticate with VMs through SSH. The certificate must be in PEM format with or without headers.",
      "properties": {
        "keyData": {
          "type": "string",
          "description": "Certificate public key used to authenticate with VMs through SSH. The certificate must be in PEM format with or without headers."
        }
      }
    },
    "ListCredentialResponse": {
      "type": "object",
      "description": "The list kubeconfig result response.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Operation Id",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Operation Name",
          "readOnly": true
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "ARM Resource Id of the provisioned cluster instance",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.HybridContainerService/provisionedClusterInstances"
              }
            ]
          }
        },
        "status": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ListCredentialResponseError",
          "description": "Error listing the kubeconfig credential response."
        },
        "properties": {
          "$ref": "#/definitions/ListCredentialResponseProperties",
          "description": "Properties of the kubeconfig credential response."
        }
      }
    },
    "ListCredentialResponseError": {
      "type": "object",
      "description": "The error listing the kubeconfig credential response.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "ListCredentialResponseProperties": {
      "type": "object",
      "description": "Properties of the kubeconfig credential response.",
      "properties": {
        "kubeconfigs": {
          "type": "array",
          "description": "Base64-encoded Kubernetes configuration file.",
          "items": {
            "$ref": "#/definitions/CredentialResult"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name",
            "value"
          ]
        }
      }
    },
    "NamedAgentPoolProfile": {
      "type": "object",
      "description": "Profile of the default agent pool along with a name parameter",
      "properties": {
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "The particular KubernetesVersion Image OS Type (Linux, Windows)"
        },
        "osSKU": {
          "$ref": "#/definitions/OSSKU",
          "description": "Specifies the OS SKU used by the agent pool. The default is CBLMariner if OSType is Linux. The default is Windows2019 when OSType is Windows."
        },
        "nodeLabels": {
          "type": "object",
          "description": "The node labels to be persisted across all nodes in agent pool.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodeTaints": {
          "type": "array",
          "description": "Taints added to new nodes during node pool create and scale. For example, key=value:NoSchedule.",
          "items": {
            "type": "string"
          }
        },
        "maxCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of nodes for auto-scaling"
        },
        "minCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of nodes for auto-scaling"
        },
        "enableAutoScaling": {
          "type": "boolean",
          "description": "Whether to enable auto-scaler. Default value is false"
        },
        "maxPods": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of pods that can run on a node."
        },
        "availabilityZones": {
          "type": "array",
          "description": "The list of Availability zones to use for nodes.",
          "items": {
            "type": "string"
          }
        },
        "gpuCountPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "The number of gpus attached to a node."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nodes in the agent pool. The default value is 1.",
          "default": 1
        },
        "vmSize": {
          "type": "string",
          "description": "The VM sku size of the agent pool node VMs."
        },
        "kubernetesVersion": {
          "type": "string",
          "description": "Version of Kubernetes in use by the agent pool. This is inherited from the kubernetesVersion of the provisioned cluster.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Unique name of the default agent pool in the context of the provisioned cluster. Default value is <clusterName>-nodepool1"
        }
      }
    },
    "NetworkProfile": {
      "type": "object",
      "description": "The network configuration profile for the provisioned cluster.",
      "properties": {
        "loadBalancerProfile": {
          "$ref": "#/definitions/NetworkProfileLoadBalancerProfile",
          "description": "Profile of the HA Proxy load balancer."
        },
        "networkPolicy": {
          "type": "string",
          "description": "Network policy used for building Kubernetes network. Possible values include: 'calico'.",
          "default": "calico",
          "enum": [
            "calico"
          ],
          "x-ms-enum": {
            "name": "NetworkPolicy",
            "modelAsString": true,
            "values": [
              {
                "name": "calico",
                "value": "calico",
                "description": "Use the calico policy"
              }
            ]
          }
        },
        "podCidr": {
          "type": "string",
          "description": "A CIDR notation IP Address range from which to assign pod IPs."
        }
      }
    },
    "NetworkProfileLoadBalancerProfile": {
      "type": "object",
      "description": "Profile of the HA Proxy load balancer.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of HA Proxy load balancer VMs. The default value is 0."
        }
      }
    },
    "OSSKU": {
      "type": "string",
      "description": "Specifies the OS SKU used by the agent pool. The default is CBLMariner if OSType is Linux. The default is Windows2019 when OSType is Windows.",
      "enum": [
        "CBLMariner",
        "Windows2019",
        "Windows2022"
      ],
      "x-ms-enum": {
        "name": "OSSKU",
        "modelAsString": true,
        "values": [
          {
            "name": "CBLMariner",
            "value": "CBLMariner",
            "description": "Use Mariner as the OS for node images."
          },
          {
            "name": "Windows2019",
            "value": "Windows2019",
            "description": "Use Windows2019 as the OS for node images."
          },
          {
            "name": "Windows2022",
            "value": "Windows2022",
            "description": "Use Windows2022 as the OS for node images."
          }
        ]
      }
    },
    "OsType": {
      "type": "string",
      "description": "The particular KubernetesVersion Image OS Type (Linux, Windows)",
      "enum": [
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "name": "OsType",
        "modelAsString": true,
        "values": [
          {
            "name": "Windows",
            "value": "Windows",
            "description": "The Windows OS"
          },
          {
            "name": "Linux",
            "value": "Linux",
            "description": "A Linux OS"
          }
        ]
      }
    },
    "ProvisionedCluster": {
      "type": "object",
      "description": "The provisioned cluster resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisionedClusterProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Extended location pointing to the underlying infrastructure"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProvisionedClusterLicenseProfile": {
      "type": "object",
      "description": "The license profile of the provisioned cluster.",
      "properties": {
        "azureHybridBenefit": {
          "type": "string",
          "description": "Indicates whether Azure Hybrid Benefit is opted in. Default value is false",
          "default": "NotApplicable",
          "enum": [
            "True",
            "False",
            "NotApplicable"
          ],
          "x-ms-enum": {
            "name": "AzureHybridBenefit",
            "modelAsString": true,
            "values": [
              {
                "name": "True",
                "value": "True",
                "description": "Indicates Azure Hybrid Benefit is opted in."
              },
              {
                "name": "False",
                "value": "False",
                "description": "Indicates Azure Hybrid Benefit is not opted in."
              },
              {
                "name": "NotApplicable",
                "value": "NotApplicable",
                "description": "Indicates Azure Hybrid Benefit is not applicable."
              }
            ]
          }
        }
      }
    },
    "ProvisionedClusterListResult": {
      "type": "object",
      "description": "The response of a ProvisionedCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProvisionedCluster items on this page",
          "items": {
            "$ref": "#/definitions/ProvisionedCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisionedClusterPoolUpgradeProfile": {
      "type": "object",
      "description": "The list of available kubernetes versions for upgrade.",
      "properties": {
        "kubernetesVersion": {
          "type": "string",
          "description": "The Kubernetes version (major.minor.patch).",
          "readOnly": true
        },
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "The particular KubernetesVersion Image OS Type (Linux, Windows)",
          "readOnly": true
        },
        "upgrades": {
          "type": "array",
          "description": "List of available kubernetes versions for upgrade.",
          "items": {
            "$ref": "#/definitions/ProvisionedClusterPoolUpgradeProfileProperties"
          },
          "x-ms-identifiers": [
            "kubernetesVersion",
            "isPreview"
          ]
        }
      }
    },
    "ProvisionedClusterPoolUpgradeProfileProperties": {
      "type": "object",
      "description": "The upgrade properties.",
      "properties": {
        "kubernetesVersion": {
          "type": "string",
          "description": "The Kubernetes version (major.minor.patch).",
          "readOnly": true
        },
        "isPreview": {
          "type": "boolean",
          "description": "Whether the Kubernetes version is currently in preview.",
          "readOnly": true
        }
      }
    },
    "ProvisionedClusterProperties": {
      "type": "object",
      "description": "Properties of the provisioned cluster.",
      "properties": {
        "linuxProfile": {
          "$ref": "#/definitions/LinuxProfileProperties",
          "description": "The profile for Linux VMs in the provisioned cluster."
        },
        "controlPlane": {
          "$ref": "#/definitions/ControlPlaneProfile",
          "description": "The profile for control plane of the provisioned cluster."
        },
        "kubernetesVersion": {
          "type": "string",
          "description": "The version of Kubernetes in use by the provisioned cluster."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "The network configuration profile for the provisioned cluster."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "The storage configuration profile for the provisioned cluster."
        },
        "clusterVMAccessProfile": {
          "$ref": "#/definitions/ClusterVMAccessProfile",
          "description": "The SSH restricted access profile for the VMs in the provisioned cluster."
        },
        "agentPoolProfiles": {
          "type": "array",
          "description": "The agent pool properties for the provisioned cluster.",
          "items": {
            "$ref": "#/definitions/NamedAgentPoolProfile"
          },
          "x-ms-identifiers": [
            "osType",
            "osSKU",
            "nodeLabels",
            "nodeTaints",
            "maxCount",
            "minCount",
            "enableAutoScaling",
            "maxPods",
            "availabilityZones",
            "count",
            "vmSize",
            "kubernetesVersion",
            "name",
            "gpuCountPerNode"
          ]
        },
        "cloudProviderProfile": {
          "$ref": "#/definitions/CloudProviderProfile",
          "description": "The profile for the underlying cloud infrastructure provider for the provisioned cluster."
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "The status of the latest long running operation for the provisioned cluster.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ProvisionedClusterPropertiesStatus",
          "description": "The observed status of the provisioned cluster.",
          "readOnly": true
        },
        "licenseProfile": {
          "$ref": "#/definitions/ProvisionedClusterLicenseProfile",
          "description": "The license profile of the provisioned cluster."
        },
        "autoScalerProfile": {
          "$ref": "#/definitions/ProvisionedClusterPropertiesAutoScalerProfile",
          "description": "Parameters to be applied to the cluster-autoscaler when auto scaling is enabled for the provisioned cluster."
        }
      }
    },
    "ProvisionedClusterPropertiesAutoScalerProfile": {
      "type": "object",
      "description": "Parameters to be applied to the cluster-autoscaler when auto scaling is enabled for the provisioned cluster.",
      "properties": {
        "balance-similar-node-groups": {
          "type": "string",
          "description": "Valid values are 'true' and 'false'",
          "x-ms-client-name": "balanceSimilarNodeGroups"
        },
        "expander": {
          "$ref": "#/definitions/Expander",
          "description": "If not specified, the default is 'random'. See [expanders](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders) for more information."
        },
        "max-empty-bulk-delete": {
          "type": "string",
          "description": "The default is 10.",
          "x-ms-client-name": "maxEmptyBulkDelete"
        },
        "max-graceful-termination-sec": {
          "type": "string",
          "description": "The default is 600.",
          "x-ms-client-name": "maxGracefulTerminationSec"
        },
        "max-node-provision-time": {
          "type": "string",
          "description": "The default is '15m'. Values must be an integer followed by an 'm'. No unit of time other than minutes (m) is supported.",
          "x-ms-client-name": "maxNodeProvisionTime"
        },
        "max-total-unready-percentage": {
          "type": "string",
          "description": "The default is 45. The maximum is 100 and the minimum is 0.",
          "x-ms-client-name": "maxTotalUnreadyPercentage"
        },
        "new-pod-scale-up-delay": {
          "type": "string",
          "description": "For scenarios like burst/batch scale where you don't want CA to act before the kubernetes scheduler could schedule all the pods, you can tell CA to ignore unscheduled pods before they're a certain age. The default is '0s'. Values must be an integer followed by a unit ('s' for seconds, 'm' for minutes, 'h' for hours, etc).",
          "x-ms-client-name": "newPodScaleUpDelay"
        },
        "ok-total-unready-count": {
          "type": "string",
          "description": "This must be an integer. The default is 3.",
          "x-ms-client-name": "okTotalUnreadyCount"
        },
        "scan-interval": {
[...]
