{
  "swagger": "2.0",
  "info": {
    "version": "2022-04-29-privatepreview",
    "title": "MySQLManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files, encryption keys, active directory administrator and configurations."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroups}/providers/Microsoft.DBforMySQL/performMigrationAssessment": {
      "post": {
        "tags": [
          "MigrationAssessment"
        ],
        "operationId": "MigrationAssessment_Read",
        "x-ms-examples": {
          "PerformMigrationAssessment": {
            "$ref": "./examples/PerformMigrationAssessment.json"
          }
        },
        "description": "Performs Migration Assessment for a single server",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "MigrationAssessmentRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationAssessmentRequest"
            },
            "description": "The required parameters for performing a migration assessment on a single server"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrationAssessmentResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MigrationAssessmentRequest": {
      "type": "object",
      "properties": {
        "sourceServerResourceId": {
          "type": "string",
          "description": "Source Server Resource Id to verify and perform migration assessment on."
        }
      },
      "description": "Request from client to perform migration assessment on their single server"
    },
    "MigrationAssessmentResource": {
      "type": "object",
      "properties": {
        "sourceServerResourceId": {
          "type": "string",
          "description": "Source Server Resource Id to verify and perform migration assessment on."
        },
        "targetPlatformProviderId": {
          "type": "string",
          "description": "Target platform(Flexible Server) provider ID"
        },
        "targetServerDetails": {
          "$ref": "#/definitions/TargetServerDetails"
        },
        "summary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssessmentSummaryItem"
          },
          "readOnly": true
        },
        "replicaAssessmentReports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MigrationAssessmentResource"
          },
          "readOnly": true
        }
      },
      "description": "Represents a resource name availability."
    },
    "TargetServerDetails": {
      "type": "object",
      "properties": {
        "serverSpecs": {
          "$ref": "#/definitions/Server",
          "readOnly": true
        },
        "serverParameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "readOnly": true
        },
        "firewallRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallRule"
          },
          "readOnly": true
        },
        "platformProviderId": {
          "type": "string",
          "description": "Platform(Flexible Server) provider ID"
        }
      }
    },
    "AssessmentSummaryItem": {
      "type": "object",
      "properties": {
        "featureName": {
          "type": "string",
          "description": "Migration assessment Feature Name"
        },
        "severity": {
          "type": "string",
          "description": "Severity of the Feature (eg:Information, Warning, Blocker)"
        },
        "message": {
          "type": "string",
          "description": "Message explaining the severity"
        }
      }
    },
    "ServerProperties": {
      "type": "object",
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation).",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "x-ms-secret": true,
          "format": "password",
          "description": "The password of the administrator login (required for server creation).",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "version": {
          "$ref": "#/definitions/ServerVersion",
          "description": "Server version."
        },
        "availabilityZone": {
          "type": "string",
          "description": "availability Zone information of the server.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "createMode": {
          "type": "string",
          "description": "The mode to create a new MySQL server.",
          "enum": [
            "Default",
            "PointInTimeRestore",
            "Replica",
            "GeoRestore"
          ],
          "x-ms-enum": {
            "name": "CreateMode",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create"
          ]
        },
        "sourceServerResourceId": {
          "type": "string",
          "description": "The source MySQL server id.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format), specifying the time to restore from.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "replicationRole": {
          "$ref": "#/definitions/ReplicationRole",
          "description": "The replication role."
        },
        "replicaCapacity": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "readOnly": true,
          "description": "The maximum number of replicas that a primary server can have."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "The state of a server.",
          "enum": [
            "Ready",
            "Dropping",
            "Disabled",
            "Starting",
            "Stopping",
            "Stopped",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ServerState",
            "modelAsString": true
          }
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of a server.",
          "readOnly": true
        },
        "storage": {
          "$ref": "#/definitions/Storage",
          "description": "Storage related properties of a server."
        },
        "backup": {
          "$ref": "#/definitions/Backup",
          "description": "Backup related properties of a server."
        },
        "highAvailability": {
          "$ref": "#/definitions/HighAvailability",
          "description": "High availability related properties of a server."
        },
        "network": {
          "$ref": "#/definitions/Network",
          "description": "Network related properties of a server.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "maintenanceWindow": {
          "$ref": "#/definitions/MaintenanceWindow",
          "description": "Maintenance window of a server.",
          "x-ms-mutability": [
            "update",
            "read"
          ]
        }
      },
      "description": "The properties of a server."
    },
    "ReplicationRole": {
      "type": "string",
      "enum": [
        "None",
        "Source",
        "Replica"
      ],
      "x-ms-enum": {
        "name": "ReplicationRole",
        "modelAsString": true
      },
      "description": "The replication role."
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "Maintenance window of a server.",
      "properties": {
        "customWindow": {
          "type": "string",
          "description": "indicates whether custom window is enabled or disabled"
        },
        "startHour": {
          "type": "integer",
          "format": "int32",
          "description": "start hour for maintenance window"
        },
        "startMinute": {
          "type": "integer",
          "format": "int32",
          "description": "start minute for maintenance window"
        },
        "dayOfWeek": {
          "type": "integer",
          "format": "int32",
          "description": "day of week for maintenance window"
        }
      }
    },
    "Backup": {
      "type": "object",
      "properties": {
        "backupRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Backup retention days for the server."
        },
        "geoRedundantBackup": {
          "$ref": "#/definitions/EnableStatusEnum",
          "description": "Whether or not geo redundant backup is enabled."
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Earliest restore point creation time (ISO8601 format)"
        }
      },
      "description": "Storage Profile properties of a server"
    },
    "Storage": {
      "type": "object",
      "properties": {
        "storageSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage size allowed for a server."
        },
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Storage IOPS for a server."
        },
        "autoGrow": {
          "description": "Enable Storage Auto Grow or not.",
          "$ref": "#/definitions/EnableStatusEnum"
        },
        "storageSku": {
          "type": "string",
          "readOnly": true,
          "description": "The sku name of the server storage."
        }
      },
      "description": "Storage Profile properties of a server"
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the sku, e.g. Standard_D32s_v3."
        },
        "tier": {
          "type": "string",
          "description": "The tier of the particular SKU, e.g. GeneralPurpose.",
          "enum": [
            "Burstable",
            "GeneralPurpose",
            "MemoryOptimized"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "tier"
      ],
      "description": "Billing information related properties of a server."
    },
    "Network": {
      "type": "object",
      "properties": {
        "publicNetworkAccess": {
          "$ref": "#/definitions/EnableStatusEnum",
          "readOnly": true,
          "description": "Whether or not public network access is allowed for this server. Value is 'Disabled' when server has VNet integration."
        },
        "delegatedSubnetResourceId": {
          "type": "string",
          "description": "Delegated subnet resource id used to setup vnet for a server."
        },
        "privateDnsZoneResourceId": {
          "type": "string",
          "description": "Private DNS zone resource id."
        }
      },
      "description": "Network related properties of a server"
    },
    "EnableStatusEnum": {
      "type": "string",
      "description": "Enum to indicate whether value is 'Enabled' or 'Disabled'",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "EnableStatusEnum",
        "modelAsString": true
      }
    },
    "HighAvailability": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled",
            "ZoneRedundant",
            "SameZone"
          ],
          "x-ms-enum": {
            "name": "HighAvailabilityMode",
            "modelAsString": true
          },
          "description": "High availability mode for a server."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "The state of server high availability.",
          "enum": [
            "NotEnabled",
            "CreatingStandby",
            "Healthy",
            "FailingOver",
            "RemovingStandby"
          ],
          "x-ms-enum": {
            "name": "HighAvailabilityState",
            "modelAsString": true
          }
        },
        "standbyAvailabilityZone": {
          "type": "string",
          "description": "Availability zone of the standby server."
        }
      },
      "description": "Network related properties of a server"
    },
    "Server": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Identity",
          "description": "The Azure Active Directory identity of the server."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU (pricing tier) of the server."
        },
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "x-ms-client-flatten": true,
          "description": "Properties of the server."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "The system metadata relating to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a server."
    },
    "FirewallRuleProperties": {
      "type": "object",
      "properties": {
        "startIpAddress": {
          "type": "string",
          "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
          "description": "The start IP address of the server firewall rule. Must be IPv4 format."
        },
        "endIpAddress": {
          "type": "string",
          "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
          "description": "The end IP address of the server firewall rule. Must be IPv4 format."
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ],
      "description": "The properties of a server firewall rule."
    },
    "FirewallRule": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallRuleProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a firewall rule."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "The system metadata relating to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "Represents a server firewall rule."
    },
    "ConfigurationProperties": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the configuration."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Description of the configuration."
        },
        "defaultValue": {
          "type": "string",
          "readOnly": true,
          "description": "Default value of the configuration."
        },
        "dataType": {
          "type": "string",
          "readOnly": true,
          "description": "Data type of the configuration."
        },
        "allowedValues": {
          "type": "string",
          "readOnly": true,
          "description": "Allowed values of the configuration."
        },
        "source": {
          "type": "string",
          "description": "Source of the configuration.",
          "enum": [
            "system-default",
            "user-override"
          ],
          "x-ms-enum": {
            "name": "ConfigurationSource",
            "modelAsString": true
          }
        },
        "isReadOnly": {
          "type": "string",
          "readOnly": true,
          "description": "If is the configuration read only.",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "IsReadOnly",
            "modelAsString": true
          }
        },
        "isConfigPendingRestart": {
          "type": "string",
          "readOnly": true,
          "description": "If is the configuration pending restart or not.",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "IsConfigPendingRestart",
            "modelAsString": true
          }
        },
        "isDynamicConfig": {
          "type": "string",
          "readOnly": true,
          "description": "If is the configuration dynamic.",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "IsDynamicConfig",
            "modelAsString": true
          }
        }
      },
      "description": "The properties of a configuration."
    },
    "Configuration": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a configuration."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a Configuration."
    },
    "ServerVersion": {
      "type": "string",
      "description": "The version of a server.",
      "enum": [
        "5.7",
        "8.0.21"
      ],
      "x-ms-enum": {
        "name": "ServerVersion",
        "modelAsString": true
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Batch service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Batch service."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroups",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    }
  }
}