{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-07-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "KubeSelectorGroups"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/kubeSelectorGroups": {
      "get": {
        "operationId": "KubeSelectorGroups_ListAll",
        "tags": [
          "KubeSelectorGroups"
        ],
        "description": "Gets all the KubeSelectorGroups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List KubeSelectorGroups by Subscription": {
            "$ref": "./examples/KubeSelectorGroupListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/kubeSelectorGroups": {
      "get": {
        "operationId": "KubeSelectorGroups_List",
        "tags": [
          "KubeSelectorGroups"
        ],
        "description": "Gets all the KubeSelectorGroups in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List KubeSelectorGroups by Resource Group": {
            "$ref": "./examples/KubeSelectorGroupListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/kubeSelectorGroups/{kubeSelectorGroupName}": {
      "get": {
        "operationId": "KubeSelectorGroups_Get",
        "tags": [
          "KubeSelectorGroups"
        ],
        "description": "Gets the specified KubeSelectorGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kubeSelectorGroupName",
            "in": "path",
            "description": "The name of the KubeSelectorGroup.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get KubeSelectorGroup": {
            "$ref": "./examples/KubeSelectorGroupGet.json"
          }
        }
      },
      "put": {
        "operationId": "KubeSelectorGroups_CreateOrUpdate",
        "tags": [
          "KubeSelectorGroups"
        ],
        "description": "Creates or updates a KubeSelectorGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kubeSelectorGroupName",
            "in": "path",
            "description": "The name of the KubeSelectorGroup.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update KubeSelectorGroup operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'KubeSelectorGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroup"
            }
          },
          "201": {
            "description": "Resource 'KubeSelectorGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update KubeSelectorGroup": {
            "$ref": "./examples/KubeSelectorGroupPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/KubeSelectorGroup"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "KubeSelectorGroups_UpdateTags",
        "tags": [
          "KubeSelectorGroups"
        ],
        "description": "Updates tags of a KubeSelectorGroup resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kubeSelectorGroupName",
            "in": "path",
            "description": "The name of the KubeSelectorGroup.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update KubeSelectorGroup tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeSelectorGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update KubeSelectorGroup Tags": {
            "$ref": "./examples/KubeSelectorGroupUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "KubeSelectorGroups_Delete",
        "tags": [
          "KubeSelectorGroups"
        ],
        "description": "Deletes the specified KubeSelectorGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kubeSelectorGroupName",
            "in": "path",
            "description": "The name of the KubeSelectorGroup.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete KubeSelectorGroup": {
            "$ref": "./examples/KubeSelectorGroupDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "KubeSelectorGroup": {
      "type": "object",
      "description": "KubeSelectorGroup resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KubeSelectorGroupProperties",
          "description": "Properties of the KubeSelectorGroup resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "KubeSelectorGroupListResult": {
      "type": "object",
      "description": "The response of a KubeSelectorGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The KubeSelectorGroup items on this page",
          "items": {
            "$ref": "#/definitions/KubeSelectorGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "KubeSelectorGroupNamespaceSelector": {
      "type": "object",
      "description": "Namespace selector for scoping by namespace labels.",
      "properties": {
        "matchLabels": {
          "type": "object",
          "description": "Namespace label key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "matchExpressions": {
          "type": "array",
          "description": "Set-based namespace label selector requirements.",
          "items": {
            "$ref": "#/definitions/KubeSelectorMatchExpression"
          },
          "x-ms-identifiers": [
            "key"
          ]
        }
      }
    },
    "KubeSelectorGroupProperties": {
      "type": "object",
      "description": "Properties of the KubeSelectorGroup resource.",
      "properties": {
        "clusterIds": {
          "type": "array",
          "description": "The ARM resource IDs of the managedClusters associated with this KubeSelectorGroup.",
          "items": {
            "type": "string"
          }
        },
        "selector": {
          "$ref": "#/definitions/KubeSelectorGroupSelector",
          "description": "The label selector for matching Kubernetes pods."
        },
        "firewallPolicyIds": {
          "type": "array",
          "description": "The firewall policy IDs referencing this KubeSelectorGroup. System-managed, read-only.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the KubeSelectorGroup resource.",
          "readOnly": true
        }
      }
    },
    "KubeSelectorGroupSelector": {
      "type": "object",
      "description": "Label selector for matching Kubernetes pods.",
      "properties": {
        "matchLabels": {
          "type": "object",
          "description": "Pod label key-value pairs (AND semantics).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "matchExpressions": {
          "type": "array",
          "description": "Set-based label selector requirements (AND semantics with matchLabels).",
          "items": {
            "$ref": "#/definitions/KubeSelectorMatchExpression"
          },
          "x-ms-identifiers": [
            "key"
          ]
        },
        "namespaceSelector": {
          "$ref": "#/definitions/KubeSelectorGroupNamespaceSelector",
          "description": "The namespace selector for scoping by namespace labels."
        }
      }
    },
    "KubeSelectorMatchExpression": {
      "type": "object",
      "description": "A set-based label selector requirement for matching Kubernetes labels.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The label key that the selector applies to."
        },
        "operator": {
          "$ref": "./common.json#/definitions/KubeSelectorMatchExpressionOperator",
          "description": "The operator representing the relationship between the label key and values. Supported values are In, NotIn, Exists, and DoesNotExist."
        },
        "values": {
          "type": "array",
          "description": "The set of values. Required for In and NotIn operators, must be empty for Exists and DoesNotExist.",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
