{
  "swagger": "2.0",
  "info": {
    "title": "Commit",
    "description": "The Microsoft Azure Commit API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2025-07-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commits/{commitName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/CommitNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "Commits"
        ],
        "operationId": "Commits_Get",
        "description": "Gets the specified commit.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the commit.",
            "schema": {
              "$ref": "#/definitions/Commit"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CommitsGet": {
            "$ref": "./examples/NetworkManagerCommitGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Commits"
        ],
        "operationId": "Commits_CreateOrUpdate",
        "description": "Creates or updates a commit.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Commit"
            },
            "description": "Parameters supplied to specify which commit to create"
          }
        ],
        "responses": {
          "200": {
            "description": "Succeeded - Returns information about the network manager.",
            "schema": {
              "$ref": "#/definitions/Commit"
            }
          },
          "201": {
            "description": "Created - Returns information about the network manager.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Commit"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "CommitsPut": {
            "$ref": "./examples/NetworkManagerCommitPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Commits"
        ],
        "operationId": "Commits_Delete",
        "description": "Deletes a commit.",
        "responses": {
          "202": {
            "description": "Accepted and will complete asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "CommitsDelete": {
            "$ref": "./examples/NetworkManagerCommitDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commits": {
      "get": {
        "tags": [
          "Commits"
        ],
        "operationId": "Commits_List",
        "description": "Lists the specified commit.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the commit.",
            "schema": {
              "$ref": "#/definitions/CommitListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CommitsList": {
            "$ref": "./examples/NetworkManagerCommitList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Commit": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CommitProperties",
          "description": "The Commit properties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "./network.json#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ChildResource"
        }
      ],
      "description": "The commit resource"
    },
    "CommitListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Commit"
          },
          "description": "Gets a page of Commit"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Result of the request to list Commit. It contains a list of groups and a URL link to get the next set of results."
    },
    "CommitProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the commit."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "resourceGuid": {
          "type": "string",
          "readOnly": true,
          "description": "Unique identifier for this resource."
        },
        "commitType": {
          "type": "string",
          "$ref": "./networkManager.json#/definitions/ConfigurationType",
          "description": "Commit Type."
        },
        "configurationIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "arm-id"
          },
          "description": "List of configuration IDs. Each value must be a fully qualified Azure resource ID in the format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/{configurationType}/{configurationName}."
        },
        "targetLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of target locations."
        },
        "activeLocations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of active locations."
        },
        "forceUpdateTag": {
          "type": "string",
          "description": "Unique identifier for this commit."
        }
      },
      "required": [
        "targetLocations",
        "commitType"
      ],
      "description": "Properties of commit"
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "CommitNameParameter": {
      "name": "commitName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the commit.",
      "x-ms-parameter-location": "method"
    },
    "ListTopParameter": {
      "name": "$top",
      "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skipToken",
      "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
