{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-07-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualWANs"
    },
    {
      "name": "VpnSites"
    },
    {
      "name": "VpnServerConfigurations"
    },
    {
      "name": "VpnGateways"
    },
    {
      "name": "vpnLinkConnections"
    },
    {
      "name": "P2SVpnGateways"
    },
    {
      "name": "ExpressRouteGateways"
    },
    {
      "name": "ExpressRouteConnections"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways": {
      "get": {
        "operationId": "ExpressRouteGateways_ListBySubscription",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Lists ExpressRoute gateways under a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGatewayList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayListBySubscription": {
            "$ref": "./examples/ExpressRouteGatewayListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways": {
      "get": {
        "operationId": "P2sVpnGateways_List",
        "description": "Lists all the P2SVpnGateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListP2SVpnGatewaysResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayListBySubscription": {
            "$ref": "./examples/P2SVpnGatewayList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs": {
      "get": {
        "operationId": "VirtualHubs_List",
        "description": "Lists all the VirtualHubs in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVirtualHubsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubList": {
            "$ref": "./examples/VirtualHubList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans": {
      "get": {
        "operationId": "VirtualWans_List",
        "description": "Lists all the VirtualWANs in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVirtualWANsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANList": {
            "$ref": "./examples/VirtualWANList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways": {
      "get": {
        "operationId": "VpnGateways_List",
        "description": "Lists all the VpnGateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVpnGatewaysResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnGatewayListBySubscription": {
            "$ref": "./examples/VpnGatewayList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnServerConfigurations": {
      "get": {
        "operationId": "VpnServerConfigurations_List",
        "description": "Lists all the VpnServerConfigurations in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVpnServerConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnServerConfigurationList": {
            "$ref": "./examples/VpnServerConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites": {
      "get": {
        "operationId": "VpnSites_List",
        "description": "Lists all the VpnSites in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVpnSitesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnSiteList": {
            "$ref": "./examples/VpnSiteList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways": {
      "get": {
        "operationId": "ExpressRouteGateways_ListByResourceGroup",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Lists ExpressRoute gateways in a given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGatewayList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayListByResourceGroup": {
            "$ref": "./examples/ExpressRouteGatewayListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}": {
      "get": {
        "operationId": "ExpressRouteGateways_Get",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Fetches the details of a ExpressRoute gateway in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayGet": {
            "$ref": "./examples/ExpressRouteGatewayGet.json"
          }
        }
      },
      "put": {
        "operationId": "ExpressRouteGateways_CreateOrUpdate",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Creates or updates a ExpressRoute gateway in a specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "putExpressRouteGatewayParameters",
            "in": "body",
            "description": "Parameters required in an ExpressRoute gateway PUT operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExpressRouteGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          },
          "201": {
            "description": "Resource 'ExpressRouteGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayCreate": {
            "$ref": "./examples/ExpressRouteGatewayCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExpressRouteGateway"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ExpressRouteGateways_UpdateTags",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Updates express route gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "expressRouteGatewayParameters",
            "in": "body",
            "description": "Parameters supplied to update a virtual wan express route gateway tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayUpdate": {
            "$ref": "./examples/ExpressRouteGatewayUpdateTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExpressRouteGateway"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExpressRouteGateways_Delete",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Deletes the specified ExpressRoute gateway in a resource group. An ExpressRoute gateway resource can only be deleted when there are no connection subresources.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayDelete": {
            "$ref": "./examples/ExpressRouteGatewayDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections": {
      "get": {
        "operationId": "ExpressRouteConnections_List",
        "tags": [
          "ExpressRouteConnections"
        ],
        "description": "Lists ExpressRouteConnections.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnectionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionList": {
            "$ref": "./examples/ExpressRouteConnectionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections/{connectionName}": {
      "get": {
        "operationId": "ExpressRouteConnections_Get",
        "tags": [
          "ExpressRouteConnections"
        ],
        "description": "Gets the specified ExpressRouteConnection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the express route gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the express route connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionGet": {
            "$ref": "./examples/ExpressRouteConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "ExpressRouteConnections_CreateOrUpdate",
        "tags": [
          "ExpressRouteConnections"
        ],
        "description": "Creates a connection between an ExpressRoute gateway and an ExpressRoute circuit.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the express route gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the express route connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "putExpressRouteConnectionParameters",
            "in": "body",
            "description": "Parameters required in an ExpressRouteConnection PUT operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            }
          },
          "201": {
            "description": "Resource 'ExpressRouteConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionCreate": {
            "$ref": "./examples/ExpressRouteConnectionCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExpressRouteConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExpressRouteConnections_Delete",
        "tags": [
          "ExpressRouteConnections"
        ],
        "description": "Deletes a connection to a ExpressRoute circuit.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the express route gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the express route connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionDelete": {
            "$ref": "./examples/ExpressRouteConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/networkVirtualApplianceConnections": {
      "get": {
        "operationId": "NetworkVirtualApplianceConnections_List",
        "description": "Lists NetworkVirtualApplianceConnections under the NVA.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkVirtualApplianceName",
            "in": "path",
            "description": "The name of Network Virtual Appliance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceConnectionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkVirtualApplianceConnectionList": {
            "$ref": "./examples/NetworkVirtualApplianceConnectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/networkVirtualApplianceConnections/{connectionName}": {
      "get": {
        "operationId": "NetworkVirtualApplianceConnections_Get",
        "description": "Retrieves the details of specified NVA connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkVirtualApplianceName",
            "in": "path",
            "description": "The name of the Network Virtual Appliance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkVirtualApplianceConnectionGet": {
            "$ref": "./examples/NetworkVirtualApplianceConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkVirtualApplianceConnections_CreateOrUpdate",
        "description": "Creates a connection to Network Virtual Appliance, if it doesn't exist else updates the existing NVA connection'",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkVirtualApplianceName",
            "in": "path",
            "description": "The name of the Network Virtual Appliance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "NetworkVirtualApplianceConnectionParameters",
            "in": "body",
            "description": "Parameters supplied in an NetworkVirtualApplianceConnection PUT operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceConnection"
            }
          },
          "201": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkVirtualApplianceConnectionPut": {
            "$ref": "./examples/NetworkVirtualApplianceConnectionPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/NetworkVirtualApplianceConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NetworkVirtualApplianceConnections_Delete",
        "description": "Deletes a NVA connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkVirtualApplianceName",
            "in": "path",
            "description": "The name of the Network Virtual Appliance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkVirtualApplianceConnectionDelete": {
            "$ref": "./examples/NetworkVirtualApplianceConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways": {
      "get": {
        "operationId": "P2sVpnGateways_ListByResourceGroup",
        "description": "Lists all the P2SVpnGateways in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListP2SVpnGatewaysResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayListByResourceGroup": {
            "$ref": "./examples/P2SVpnGatewayListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}": {
      "get": {
        "operationId": "P2sVpnGateways_Get",
        "description": "Retrieves the details of a virtual wan p2s vpn gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayGet": {
            "$ref": "./examples/P2SVpnGatewayGet.json"
          }
        }
      },
      "put": {
        "operationId": "P2sVpnGateways_CreateOrUpdate",
        "description": "Creates a virtual wan p2s vpn gateway if it doesn't exist else updates the existing gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "p2SVpnGatewayParameters",
            "in": "body",
            "description": "Parameters supplied to create or Update a virtual wan p2s vpn gateway.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'P2SVpnGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            }
          },
          "201": {
            "description": "Resource 'P2SVpnGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayPut": {
            "$ref": "./examples/P2SVpnGatewayPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/P2SVpnGateway"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "P2sVpnGateways_UpdateTags",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Updates virtual wan p2s vpn gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "p2SVpnGatewayParameters",
            "in": "body",
            "description": "Parameters supplied to update a virtual wan p2s vpn gateway tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayUpdate": {
            "$ref": "./examples/P2SVpnGatewayUpdateTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/P2SVpnGateway"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "P2sVpnGateways_Delete",
        "description": "Deletes a virtual wan p2s vpn gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayDelete": {
            "$ref": "./examples/P2SVpnGatewayDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{p2sVpnGatewayName}/disconnectP2sVpnConnections": {
      "post": {
        "operationId": "P2sVpnGateways_DisconnectP2sVpnConnections",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Disconnect P2S vpn connections of the virtual wan P2SVpnGateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "p2sVpnGatewayName",
            "in": "path",
            "description": "The name of the P2S Vpn Gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The parameters are supplied to disconnect p2s vpn connections.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/P2SVpnConnectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Disconnect VpnConnections from P2sVpn Gateway": {
            "$ref": "./examples/P2sVpnGatewaysDisconnectP2sVpnConnections.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile": {
      "post": {
        "operationId": "P2sVpnGateways_GenerateVpnProfile",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Generates VPN profile for P2S client of the P2SVpnGateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the generate P2SVpnGateway VPN client package operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/P2SVpnProfileParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VpnProfileResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GenerateP2SVpnGatewayVPNProfile": {
            "$ref": "./examples/P2SVpnGatewayGenerateVpnProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VpnProfileResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealth": {
      "post": {
        "operationId": "P2sVpnGateways_GetP2sVpnConnectionHealth",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Gets the connection health of P2S clients of the virtual wan P2SVpnGateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayGetConnectionHealth": {
            "$ref": "./examples/P2SVpnGatewayGetConnectionHealth.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/P2SVpnGateway"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealthDetailed": {
      "post": {
        "operationId": "P2sVpnGateways_GetP2sVpnConnectionHealthDetailed",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Gets the sas url to get the connection health detail of P2S clients of the virtual wan P2SVpnGateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request parameters supplied to get p2s vpn connections detailed health.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/P2SVpnConnectionHealthRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/P2SVpnConnectionHealth"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayGetConnectionHealthDetailed": {
            "$ref": "./examples/P2SVpnGatewayGetConnectionHealthDetailed.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/P2SVpnConnectionHealth"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/reset": {
      "post": {
        "operationId": "P2SVpnGateways_Reset",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Resets the primary of the p2s vpn gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/P2SVpnGateway"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ResetP2SVpnGateway": {
            "$ref": "./examples/P2SVpnGatewayReset.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/P2SVpnGateway"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs": {
      "get": {
        "operationId": "VirtualHubs_ListByResourceGroup",
        "description": "Lists all the VirtualHubs in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVirtualHubsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubListByResourceGroup": {
            "$ref": "./examples/VirtualHubListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}": {
      "get": {
        "operationId": "VirtualHubs_Get",
        "description": "Retrieves the details of a VirtualHub.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubGet": {
            "$ref": "./examples/VirtualHubGet.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualHubs_CreateOrUpdate",
        "description": "Creates a VirtualHub resource if it doesn't exist else updates the existing VirtualHub.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualHubParameters",
            "in": "body",
            "description": "Parameters supplied to create or update VirtualHub.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualHub' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualHub"
            }
          },
          "201": {
            "description": "Resource 'VirtualHub' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualHub"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubPut": {
            "$ref": "./examples/VirtualHubPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualHub"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualHubs_UpdateTags",
        "tags": [
          "VirtualWANs"
        ],
        "description": "Updates VirtualHub tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualHubParameters",
            "in": "body",
            "description": "Parameters supplied to update VirtualHub tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubUpdate": {
            "$ref": "./examples/VirtualHubUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "VirtualHubs_Delete",
        "description": "Deletes a VirtualHub.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubDelete": {
            "$ref": "./examples/VirtualHubDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/bgpConnections": {
      "get": {
        "operationId": "VirtualHubBgpConnections_List",
        "description": "Retrieves the details of all VirtualHubBgpConnections.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVirtualHubBgpConnectionResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubRouteTableV2List": {
            "$ref": "./examples/VirtualHubBgpConnectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/bgpConnections/{connectionName}": {
      "get": {
        "operationId": "VirtualHubBgpConnection_Get",
        "description": "Retrieves the details of a Virtual Hub Bgp Connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BgpConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubVirtualHubRouteTableV2Get": {
            "$ref": "./examples/VirtualHubBgpConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualHubBgpConnection_CreateOrUpdate",
        "description": "Creates a VirtualHubBgpConnection resource if it doesn't exist else updates the existing VirtualHubBgpConnection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters of Bgp connection.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BgpConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BgpConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BgpConnection"
            }
          },
          "201": {
            "description": "Resource 'BgpConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BgpConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubRouteTableV2Put": {
            "$ref": "./examples/VirtualHubBgpConnectionPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/BgpConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualHubBgpConnection_Delete",
        "description": "Deletes a VirtualHubBgpConnection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubRouteTableV2Delete": {
            "$ref": "./examples/VirtualHubBgpConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{hubName}/bgpConnections/{connectionName}/advertisedRoutes": {
      "post": {
        "operationId": "VirtualHubBgpConnections_ListAdvertisedRoutes",
        "description": "Retrieves a list of routes the virtual hub bgp connection is advertising to the specified peer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hubName",
            "in": "path",
            "description": "The name of the virtual hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the bgp connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "items": {
                  "$ref": "#/definitions/PeerRoute"
                },
                "type": "array"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualRouterPeerListAdvertisedRoutes": {
            "$ref": "./examples/VirtualRouterPeerListAdvertisedRoute.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Record%3CPeerRoute%5B%5D%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{hubName}/bgpConnections/{connectionName}/learnedRoutes": {
      "post": {
        "operationId": "VirtualHubBgpConnections_ListLearnedRoutes",
        "description": "Retrieves a list of routes the virtual hub bgp connection has learned.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hubName",
            "in": "path",
            "description": "The name of the virtual hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the bgp connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "items": {
                  "$ref": "#/definitions/PeerRoute"
                },
                "type": "array"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualRouterPeerListLearnedRoutes": {
            "$ref": "./examples/VirtualRouterPeerListLearnedRoute.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Record%3CPeerRoute%5B%5D%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/effectiveRoutes": {
      "post": {
        "operationId": "VirtualHubs_GetEffectiveVirtualHubRoutes",
        "description": "Gets the effective routes configured for the Virtual Hub resource or the specified resource .",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "effectiveRoutesParameters",
            "in": "body",
            "description": "Parameters supplied to get the effective routes for a specific resource.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EffectiveRoutesParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualHubEffectiveRouteList"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Effective Routes for a Connection resource": {
            "$ref": "./examples/EffectiveRoutesListForConnection.json"
          },
          "Effective Routes for a Route Table resource": {
            "$ref": "./examples/EffectiveRoutesListForRouteTable.json"
          },
          "Effective Routes for the Virtual Hub": {
            "$ref": "./examples/EffectiveRoutesListForVirtualHub.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VirtualHubEffectiveRouteList"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubRouteTables": {
      "get": {
        "operationId": "HubRouteTables_List",
        "description": "Retrieves the details of all RouteTables.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListHubRouteTablesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "RouteTableList": {
            "$ref": "./examples/HubRouteTableList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubRouteTables/{routeTableName}": {
      "get": {
        "operationId": "HubRouteTables_Get",
        "description": "Retrieves the details of a RouteTable.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "routeTableName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HubRouteTable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "RouteTableGet": {
            "$ref": "./examples/HubRouteTableGet.json"
          }
        }
      },
      "put": {
        "operationId": "HubRouteTables_CreateOrUpdate",
        "description": "Creates a RouteTable resource if it doesn't exist else updates the existing RouteTable.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "routeTableName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "routeTableParameters",
            "in": "body",
            "description": "Parameters supplied to create or update RouteTable.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HubRouteTable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HubRouteTable' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HubRouteTable"
            }
          },
          "201": {
            "description": "Resource 'HubRouteTable' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HubRouteTable"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "RouteTablePut": {
            "$ref": "./examples/HubRouteTablePut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HubRouteTable"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HubRouteTables_Delete",
        "description": "Deletes a RouteTable.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "routeTableName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "RouteTableDelete": {
            "$ref": "./examples/HubRouteTableDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections": {
      "get": {
        "operationId": "HubVirtualNetworkConnections_List",
        "description": "Retrieves the details of all HubVirtualNetworkConnections.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualHubName",
            "in": "path",
            "description": "The name of the VirtualHub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListHubVirtualNetworkConnectionsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "HubVirtualNetworkConnectionList": {
            "$ref": "./examples/HubVirtualNetworkConnectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections/{connectionName}": {
      "get": {
        "operationId": "HubVirtualNetworkConnections_Get",
        "description": "Retrieves the details of a HubVirtualNetworkConnection.",
        "parameters": [
          {
[...]
