{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-07-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualNetworkAppliances"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "operationId": "VirtualNetworkAppliances_ListAll",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets all virtual network appliances in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all virtual network appliances": {
            "$ref": "./examples/VirtualNetworkAppliances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "operationId": "VirtualNetworkAppliances_List",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets all virtual network appliances in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual network appliances in resource group": {
            "$ref": "./examples/VirtualNetworkAppliances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances/{virtualNetworkApplianceName}": {
      "get": {
        "operationId": "VirtualNetworkAppliances_Get",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets information about the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkAppliances_CreateOrUpdate",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Creates or updates a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update virtual network appliance operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkAppliance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkAppliance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkAppliance"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkAppliances_UpdateTags",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Updates a virtual network appliance tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update virtual network appliance tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update virtual network appliance tags": {
            "$ref": "./examples/VirtualNetworkAppliances_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "VirtualNetworkAppliances_Delete",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Deletes the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "VirtualNetworkAppliance": {
      "type": "object",
      "description": "A virtual network appliance in a resource group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualNetworkAppliancePropertiesFormat",
          "description": "Properties of the virtual network appliance.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "VirtualNetworkApplianceIpConfiguration": {
      "type": "object",
      "description": "The virtual network appliance ip configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualNetworkApplianceIpConfigurationProperties",
          "description": "Properties of the virtual network appliance ip configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of virtual network appliance ip configuration."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "VirtualNetworkApplianceIpConfigurationProperties": {
      "type": "object",
      "description": "Properties of virtual network appliance IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "./common.json#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the ip configuration is primary or not."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the private link service IP configuration resource.",
          "readOnly": true
        },
        "privateIPAddressVersion": {
          "$ref": "./common.json#/definitions/IPVersion",
          "description": "Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4."
        }
      }
    },
    "VirtualNetworkApplianceListResult": {
      "type": "object",
      "description": "The response of a VirtualNetworkAppliance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualNetworkAppliance items on this page",
          "items": {
            "$ref": "#/definitions/VirtualNetworkAppliance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VirtualNetworkAppliancePropertiesFormat": {
      "type": "object",
      "description": "VirtualNetworkAppliance properties.",
      "properties": {
        "bandwidthInGbps": {
          "type": "string",
          "description": "Bandwidth of the VirtualNetworkAppliance resource in Gbps."
        },
        "ipConfigurations": {
          "type": "array",
          "description": "A list of IPConfigurations of the virtual network appliance.",
          "items": {
            "$ref": "#/definitions/VirtualNetworkApplianceIpConfiguration"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the virtual network appliance resource.",
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the virtual network appliance resource.",
          "readOnly": true
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        }
      }
    }
  },
  "parameters": {}
}
