{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01-preview",
    "title": "ContainerRegistryManagementClient"
  },
  "host": "management.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/agentPools/{agentPoolName}": {
      "get": {
        "tags": [
          "AgentPools"
        ],
        "description": "Gets the detailed information for a given agent pool.",
        "operationId": "AgentPools_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AgentPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/agentpool doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgentPools_Get": {
            "$ref": "./examples/AgentPoolsGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "AgentPools"
        ],
        "description": "Creates an agent pool for a container registry with the specified parameters.",
        "operationId": "AgentPools_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AgentPoolNameParameter"
          },
          {
            "name": "agentPool",
            "in": "body",
            "description": "The parameters of an agent pool that needs to scheduled.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AgentPools_Create": {
            "$ref": "./examples/AgentPoolsCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AgentPools"
        ],
        "description": "Deletes a specified agent pool resource.",
        "operationId": "AgentPools_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AgentPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AgentPools_Delete": {
            "$ref": "./examples/AgentPoolsDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AgentPools"
        ],
        "description": "Updates an agent pool with the specified parameters.",
        "operationId": "AgentPools_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AgentPoolNameParameter"
          },
          {
            "name": "updateParameters",
            "in": "body",
            "description": "The parameters for updating an agent pool.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentPoolUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/AgentPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AgentPools_Update": {
            "$ref": "./examples/AgentPoolsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/agentPools": {
      "get": {
        "tags": [
          "AgentPools"
        ],
        "description": "Lists all the agent pools for a specified container registry.",
        "operationId": "AgentPools_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/AgentPoolListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AgentPools_List": {
            "$ref": "./examples/AgentPoolsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/agentPools/{agentPoolName}/listQueueStatus": {
      "post": {
        "tags": [
          "AgentPools"
        ],
        "description": "Gets the count of queued runs for a given agent pool.",
        "operationId": "AgentPools_GetQueueStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AgentPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/AgentPoolQueueStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/agentpool doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgentPools_GetQueueStatus": {
            "$ref": "./examples/AgentPoolsGetQueueStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scheduleRun": {
      "post": {
        "tags": [
          "Registries"
        ],
        "description": "Schedules a new run based on the request parameters and add it to the run queue.",
        "operationId": "Registries_ScheduleRun",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "runRequest",
            "in": "body",
            "description": "The parameters of a run that needs to scheduled.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Registries_ScheduleRun": {
            "$ref": "./examples/RegistriesScheduleRun.json"
          },
          "Registries_ScheduleRun_EncodedTaskRun": {
            "$ref": "./examples/RegistriesScheduleRun_EncodedTaskRun.json"
          },
          "Registries_ScheduleRun_FileTaskRun": {
            "$ref": "./examples/RegistriesScheduleRun_FileTaskRun.json"
          },
          "Registries_ScheduleRun_Task": {
            "$ref": "./examples/RegistriesScheduleRun_Task.json"
          },
          "Registries_ScheduleRun_Task_WithCustomCredentials": {
            "$ref": "./examples/RegistriesScheduleRun_FileTask_WithCustomCredentials.json"
          },
          "Registries_ScheduleRun_WithCustomCredentials": {
            "$ref": "./examples/RegistriesScheduleRun_WithCustomCredentials.json"
          },
          "Registries_ScheduleRun_WithLogTemplate": {
            "$ref": "./examples/RegistriesScheduleRun_WithLogTemplate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/listBuildSourceUploadUrl": {
      "post": {
        "tags": [
          "Registries"
        ],
        "description": "Get the upload location for the user to be able to upload the source.",
        "operationId": "Registries_GetBuildSourceUploadUrl",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/SourceUploadDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Registries_GetBuildSourceUploadUrl": {
            "$ref": "./examples/RegistriesGetBuildSourceUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs": {
      "get": {
        "tags": [
          "Runs"
        ],
        "description": "Gets all the runs for a registry.",
        "operationId": "Runs_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The runs filter to apply on the operation. Arithmetic operators are not supported. The allowed string function is 'contains'. All logical operators except 'Not', 'Has', 'All' are allowed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported for get list of runs, which limits the maximum number of runs to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/RunListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-odata": "#/definitions/RunFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Runs_List": {
            "$ref": "./examples/RunsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs/{runId}": {
      "get": {
        "tags": [
          "Runs"
        ],
        "description": "Gets the detailed information for a given run.",
        "operationId": "Runs_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The run ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Runs_Get": {
            "$ref": "./examples/RunsGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Runs"
        ],
        "description": "Patch the run properties.",
        "operationId": "Runs_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The run ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "runUpdateParameters",
            "in": "body",
            "description": "The run update properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Runs_Update": {
            "$ref": "./examples/RunsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs/{runId}/listLogSasUrl": {
      "post": {
        "tags": [
          "Runs"
        ],
        "description": "Gets a link to download the run logs.",
        "operationId": "Runs_GetLogSasUrl",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The run ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/RunGetLogResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Runs_GetLogSasUrl": {
            "$ref": "./examples/RunsGetLogSasUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs/{runId}/cancel": {
      "post": {
        "tags": [
          "Runs"
        ],
        "description": "Cancel an existing run.",
        "operationId": "Runs_Cancel",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The run ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Runs_Cancel": {
            "$ref": "./examples/RunsCancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/taskRuns/{taskRunName}": {
      "get": {
        "tags": [
          "TaskRuns"
        ],
        "description": "Gets the detailed information for a given task run.",
        "operationId": "TaskRuns_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskRunNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TaskRuns_Get": {
            "$ref": "./examples/TaskRunsGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "TaskRuns"
        ],
        "description": "Creates a task run for a container registry with the specified parameters.",
        "operationId": "TaskRuns_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskRunNameParameter"
          },
          {
            "name": "taskRun",
            "in": "body",
            "description": "The parameters of a run that needs to scheduled.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "TaskRuns_Create": {
            "$ref": "./examples/TaskRunsCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "TaskRuns"
        ],
        "description": "Deletes a specified task run resource.",
        "operationId": "TaskRuns_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskRunNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "TaskRuns_Delete": {
            "$ref": "./examples/TaskRunsDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "TaskRuns"
        ],
        "description": "Updates a task run with the specified parameters.",
        "operationId": "TaskRuns_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskRunNameParameter"
          },
          {
            "name": "updateParameters",
            "in": "body",
            "description": "The parameters for updating a task run.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRunUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "TaskRuns_Update": {
            "$ref": "./examples/TaskRunsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/taskRuns/{taskRunName}/listDetails": {
      "post": {
        "tags": [
          "TaskRuns"
        ],
        "description": "Gets the detailed information for a given task run that includes all secrets.",
        "operationId": "TaskRuns_GetDetails",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskRunNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TaskRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TaskRuns_GetDetails": {
            "$ref": "./examples/TaskRunsGetDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/taskRuns": {
      "get": {
        "tags": [
          "TaskRuns"
        ],
        "description": "Lists all the task runs for a specified container registry.",
        "operationId": "TaskRuns_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TaskRunListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TaskRuns_List": {
            "$ref": "./examples/TaskRunsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "description": "Lists all the tasks for a specified container registry.",
        "operationId": "Tasks_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/TaskListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Tasks_List": {
            "$ref": "./examples/TasksList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tasks/{taskName}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "description": "Get the properties of a specified task.",
        "operationId": "Tasks_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Get": {
            "$ref": "./examples/TasksGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Tasks"
        ],
        "description": "Creates a task for a container registry with the specified parameters.",
        "operationId": "Tasks_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskNameParameter"
          },
          {
            "name": "taskCreateParameters",
            "in": "body",
            "description": "The parameters for creating a task.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Tasks_Create": {
            "$ref": "./examples/TasksCreate.json"
          },
          "Tasks_Create_WithSystemAndUserIdentities": {
            "$ref": "./examples/ManagedIdentity/TasksCreate_WithSystemAndUserIdentities.json"
          },
          "Tasks_Create_WithUserIdentities_WithSystemIdentity": {
            "$ref": "./examples/ManagedIdentity/TasksCreate_WithSystemIdentity.json"
          },
          "Tasks_Create_WithUserIdentities": {
            "$ref": "./examples/ManagedIdentity/TasksCreate_WithUserIdentities.json"
          },
          "Tasks_Create_QuickTask": {
            "$ref": "./examples/TasksCreate_QuickTask.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "description": "Deletes a specified task.",
        "operationId": "Tasks_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Tasks_Delete": {
            "$ref": "./examples/TasksDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "description": "Updates a task with the specified parameters.",
        "operationId": "Tasks_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskNameParameter"
          },
          {
            "name": "taskUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a task.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Tasks_Update": {
            "$ref": "./examples/TasksUpdate.json"
          },
          "Tasks_Update_WithKeyVaultCustomCredentials": {
            "$ref": "./examples/ManagedIdentity/TasksUpdate_WithKeyVaultCustomCredentials.json"
          },
          "Tasks_Update_WithMSICustomCredentials": {
            "$ref": "./examples/ManagedIdentity/TasksUpdate_WithMSICustomCredentials.json"
          },
          "Tasks_Update_WithOpaqueCustomCredentials": {
            "$ref": "./examples/TasksUpdate_WithOpaqueCustomCredentials.json"
          },
          "Tasks_Update_QuickTask": {
            "$ref": "./examples/TasksUpdate_QuickTask.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tasks/{taskName}/listDetails": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "description": "Returns a task with extended information that includes all secrets.",
        "operationId": "Tasks_GetDetails",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/TaskNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_GetDetails": {
            "$ref": "./examples/TasksGetDetails.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgentPool": {
      "description": "The agentpool that has the ARM resource and properties. \r\nThe agentpool will have all information to create an agent pool.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentPoolProperties",
          "description": "The properties associated with the agent pool",
          "x-ms-client-flatten": true
        }
      }
    },
    "AgentPoolProperties": {
      "description": "The properties of agent pool.",
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "description": "The count of agent machine",
          "type": "integer"
        },
        "tier": {
          "description": "The Tier of agent machine",
          "type": "string"
        },
        "os": {
          "description": "The OS of agent machine",
          "enum": [
            "Windows",
            "Linux"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OS",
            "modelAsString": true
          }
        },
        "virtualNetworkSubnetResourceId": {
          "description": "The Virtual Network Subnet Resource Id of the agent machine",
          "type": "string"
        },
        "provisioningState": {
          "description": "The provisioning state of this agent pool",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "AgentPoolUpdateParameters": {
      "description": "The parameters for updating an agent pool.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentPoolPropertiesUpdateParameters",
          "description": "The properties associated with the agent pool",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The ARM resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AgentPoolPropertiesUpdateParameters": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "description": "The count of agent machine",
          "type": "integer"
        }
      }
    },
    "AgentPoolListResult": {
      "description": "The collection of agent pools.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgentPool"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "AgentPoolQueueStatus": {
      "description": "The QueueStatus of Agent Pool",
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "description": "The number of pending runs in the queue",
          "type": "integer"
        }
      }
    },
    "RunRequest": {
      "description": "The request parameters for scheduling a run.",
      "required": [
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the run request.",
          "type": "string"
        },
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled for the run or not.",
          "default": false,
          "type": "boolean"
        },
        "agentPoolName": {
          "description": "The dedicated agent pool for the run.",
          "type": "string"
        },
        "logTemplate": {
          "description": "The template that describes the repository and tag information for run log artifact.",
          "type": "string"
        }
      },
      "discriminator": "type"
    },
    "Run": {
      "description": "Run resource properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunProperties",
          "description": "The properties of a run.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RunProperties": {
      "description": "The properties for a run.",
      "type": "object",
      "properties": {
        "runId": {
          "description": "The unique identifier for the run.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the run.",
          "enum": [
            "Queued",
            "Started",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled",
            "Error",
            "Timeout"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RunStatus",
            "modelAsString": true
          }
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "The last updated time for the run.",
          "type": "string"
        },
        "runType": {
          "description": "The type of run.",
          "enum": [
            "QuickBuild",
            "QuickRun",
            "AutoBuild",
            "AutoRun"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RunType",
            "modelAsString": true
          }
        },
        "agentPoolName": {
          "description": "The dedicated agent pool for the run.",
          "type": "string"
        },
        "createTime": {
          "format": "date-time",
          "description": "The time the run was scheduled.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The time the run started.",
          "type": "string"
        },
        "finishTime": {
          "format": "date-time",
          "description": "The time the run finished.",
          "type": "string"
        },
        "outputImages": {
          "description": "The list of all images that were generated from the run. This is applicable if the run generates base image dependencies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageDescriptor"
          }
        },
        "task": {
          "description": "The task against which run was scheduled.",
          "type": "string"
        },
        "imageUpdateTrigger": {
          "$ref": "#/definitions/ImageUpdateTrigger",
          "description": "The image update trigger that caused the run. This is applicable if the task has base image trigger configured."
        },
        "sourceTrigger": {
          "$ref": "#/definitions/SourceTriggerDescriptor",
          "description": "The source trigger that caused the run."
        },
        "timerTrigger": {
          "$ref": "#/definitions/TimerTriggerDescriptor",
          "description": "The timer trigger that caused the run."
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the run will happen."
        },
        "agentConfiguration": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The machine configuration of the run agent."
        },
        "sourceRegistryAuth": {
          "description": "The scope of the credentials that were used to login to the source registry during this run.",
          "type": "string"
        },
        "customRegistries": {
          "description": "The list of custom registries that were logged in during this run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runErrorMessage": {
          "description": "The error message received from backend systems after the run is scheduled.",
          "type": "string",
          "readOnly": true
        },
        "updateTriggerToken": {
          "description": "The update trigger token passed for the Run.",
          "type": "string"
        },
        "logArtifact": {
          "$ref": "#/definitions/ImageDescriptor",
          "description": "The image description for the log artifact.",
          "readOnly": true
        },
        "provisioningState": {
          "description": "The provisioning state of a run.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled or not.",
          "default": false,
          "type": "boolean"
        }
      }
    },
    "ImageDescriptor": {
      "description": "Properties for a registry image.",
      "type": "object",
      "properties": {
        "registry": {
          "description": "The registry login server.",
          "type": "string"
        },
        "repository": {
          "description": "The repository name.",
          "type": "string"
        },
        "tag": {
          "description": "The tag name.",
          "type": "string"
        },
        "digest": {
          "description": "The sha256-based digest of the image manifest.",
          "type": "string"
        }
      }
    },
    "ImageUpdateTrigger": {
      "description": "The image update trigger that caused a build.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of the trigger.",
          "type": "string"
        },
        "timestamp": {
          "format": "date-time",
          "description": "The timestamp when the image update happened.",
          "type": "string"
        },
        "images": {
          "description": "The list of image updates that caused the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageDescriptor"
          }
        }
      }
    },
    "SourceTriggerDescriptor": {
      "description": "The source trigger that caused a run.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of the trigger.",
          "type": "string"
        },
        "eventType": {
          "description": "The event type of the trigger.",
          "type": "string"
        },
        "commitId": {
          "description": "The unique ID that identifies a commit.",
          "type": "string"
        },
        "pullRequestId": {
          "description": "The unique ID that identifies pull request.",
          "type": "string"
        },
        "repositoryUrl": {
          "description": "The repository URL.",
          "type": "string"
        },
        "branchName": {
          "description": "The branch name in the repository.",
          "type": "string"
        },
        "providerType": {
          "description": "The source control provider type.",
          "type": "string"
        }
      }
    },
    "TimerTriggerDescriptor": {
      "type": "object",
      "properties": {
        "timerTriggerName": {
          "description": "The timer trigger name that caused the run.",
          "type": "string"
        },
        "scheduleOccurrence": {
          "description": "The occurrence that triggered the run.",
          "type": "string"
        }
      }
    },
    "PlatformProperties": {
      "description": "The platform properties against which the run has to happen.",
      "required": [
        "os"
      ],
      "type": "object",
      "properties": {
        "os": {
          "description": "The operating system type required for the run.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OS",
            "modelAsString": true
          }
        },
        "architecture": {
          "description": "The OS architecture.",
          "enum": [
            "amd64",
            "x86",
            "386",
            "arm",
            "arm64"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Architecture",
            "modelAsString": true
          }
        },
        "variant": {
          "description": "Variant of the CPU.",
          "enum": [
            "v6",
            "v7",
            "v8"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Variant",
            "modelAsString": true
          }
        }
      }
    },
    "AgentProperties": {
      "description": "The properties that determine the run agent configuration.",
      "type": "object",
      "properties": {
        "cpu": {
          "format": "int32",
          "description": "The CPU configuration in terms of number of cores required for the run.",
          "type": "integer"
        }
      }
    },
    "SourceUploadDefinition": {
      "description": "The properties of a response to source upload request.",
      "type": "object",
      "properties": {
        "uploadUrl": {
          "description": "The URL where the client can upload the source.",
          "type": "string"
        },
        "relativePath": {
          "description": "The relative path to the source. This is used to submit the subsequent queue build request.",
          "type": "string"
        }
      }
    },
    "RunListResult": {
      "description": "Collection of runs.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Run"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "RunFilter": {
      "description": "Properties that are enabled for Odata querying on runs.",
      "type": "object",
      "properties": {
        "runId": {
          "description": "The unique identifier for the run.",
          "type": "string"
        },
        "runType": {
          "description": "The type of run.",
          "enum": [
            "QuickBuild",
            "QuickRun",
            "AutoBuild",
            "AutoRun"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RunType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The current status of the run.",
          "enum": [
            "Queued",
            "Started",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled",
            "Error",
            "Timeout"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RunStatus",
            "modelAsString": true
          }
        },
        "createTime": {
          "format": "date-time",
          "description": "The create time for a run.",
          "type": "string"
        },
        "finishTime": {
          "format": "date-time",
          "description": "The time the run finished.",
          "type": "string"
        },
        "outputImageManifests": {
          "description": "The list of comma-separated image manifests that were generated from the run. This is applicable if the run is of\r\nbuild type.",
          "type": "string"
        },
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled or not.",
          "type": "boolean"
        },
        "taskName": {
          "description": "The name of the task that the run corresponds to.",
          "type": "string"
        },
        "agentPoolName": {
          "description": "The name of the agent pool that the run corresponds to.",
          "type": "string"
        }
      }
    },
    "RunUpdateParameters": {
      "description": "The set of run properties that can be updated.",
      "type": "object",
      "properties": {
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled or not.",
          "type": "boolean"
        }
      }
    },
    "RunGetLogResult": {
      "description": "The result of get log link operation.",
      "type": "object",
      "properties": {
        "logLink": {
          "description": "The link to logs for a run on a azure container registry.",
          "type": "string"
        },
        "logArtifactLink": {
          "description": "The link to logs in registry for a run on a azure container registry.",
          "type": "string"
        }
      }
    },
    "TaskRun": {
      "description": "The task run that has the ARM resource and properties. \r\nThe task run will have the information of request and result of a run.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "Identity for the resource."
        },
        "properties": {
          "$ref": "#/definitions/TaskRunProperties",
          "description": "The properties associated with the task run, i.e., request and result of the run",
          "x-ms-client-flatten": true
        },
        "location": {
          "description": "The location of the resource",
          "type": "string"
        }
      }
    },
    "IdentityProperties": {
      "description": "Managed identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal ID of resource identity.",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of resource.",
          "type": "string"
        },
        "type": {
          "description": "The identity type.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "description": "The list of user identities associated with the resource. The user identity \r\ndictionary key references will be ARM resource ids in the form: \r\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/\r\n    providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/UserIdentityProperties"
          }
        }
      }
    },
    "TaskRunProperties": {
      "description": "The properties of task run.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of this task run",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "runRequest": {
          "$ref": "#/definitions/RunRequest",
          "description": "The request (parameters) for the run"
        },
        "runResult": {
          "$ref": "#/definitions/Run",
          "description": "The result of this task run",
          "readOnly": true
        },
        "forceUpdateTag": {
          "description": "How the run should be forced to rerun even if the run request configuration has not changed",
          "type": "string"
        }
      }
    },
    "UserIdentityProperties": {
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal id of user assigned identity.",
          "type": "string"
        },
        "clientId": {
          "description": "The client id of user assigned identity.",
          "type": "string"
        }
      }
    },
    "TaskRunUpdateParameters": {
      "description": "The parameters for updating a task run.",
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "Identity for the resource."
        },
        "properties": {
          "$ref": "#/definitions/TaskRunPropertiesUpdateParameters",
          "description": "The properties for updating a task run.",
          "x-ms-client-flatten": true
        },
        "location": {
          "description": "The location of the resource",
          "type": "string"
        },
        "tags": {
          "description": "The ARM resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TaskRunPropertiesUpdateParameters": {
      "description": "The properties of a task run update parameters.",
      "type": "object",
      "properties": {
        "runRequest": {
          "$ref": "#/definitions/RunRequest",
          "description": "The request (parameters) for the new run"
        },
        "forceUpdateTag": {
          "description": "How the run should be forced to rerun even if the run request configuration has not changed",
          "type": "string"
        }
      }
    },
    "TaskRunListResult": {
      "description": "The collection of task runs.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskRun"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "TaskListResult": {
      "description": "The collection of tasks.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "Task": {
      "description": "The task that has the ARM resource and task properties. \r\nThe task will have all information to schedule a run against it.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "Identity for the resource."
        },
        "properties": {
          "$ref": "#/definitions/TaskProperties",
          "description": "The properties of a task.",
          "x-ms-client-flatten": true
        }
      }
    },
    "TaskProperties": {
      "description": "The properties of a task.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the task.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of task.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The current status of task.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TaskStatus",
            "modelAsString": true
          }
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the run has to happen."
        },
        "agentConfiguration": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The machine configuration of the run agent."
        },
        "agentPoolName": {
          "description": "The dedicated agent pool for the task.",
          "type": "string"
        },
        "timeout": {
          "format": "int32",
          "description": "Run timeout in seconds.",
          "default": 3600,
          "maximum": 28800,
          "minimum": 300,
          "type": "integer"
        },
        "step": {
          "$ref": "#/definitions/TaskStepProperties",
          "description": "The properties of a task step."
        },
        "trigger": {
          "$ref": "#/definitions/TriggerProperties",
          "description": "The properties that describe all triggers for the task."
        },
        "credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "The properties that describes a set of credentials that will be used when this run is invoked."
        },
        "logTemplate": {
          "description": "The template that describes the repository and tag information for run log artifact.",
          "type": "string"
        },
        "isSystemTask": {
          "description": "The value of this property indicates whether the task resource is system task or not.",
          "default": false,
          "type": "boolean"
        }
      }
    },
    "TaskStepProperties": {
      "description": "Base properties for any task step.",
      "required": [
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the step.",
          "enum": [
            "Docker",
            "FileTask",
            "EncodedTask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StepType",
            "modelAsString": true
          }
        },
        "baseImageDependencies": {
          "description": "List of base image dependencies for a step.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BaseImageDependency"
          },
          "readOnly": true
        },
        "contextPath": {
          "description": "The URL(absolute or relative) of the source context for the task step.",
          "type": "string"
        },
        "contextAccessToken": {
          "description": "The token (git PAT or SAS token of storage account blob) associated with the context for a step.",
          "type": "string"
        }
      },
      "discriminator": "type"
    },
    "TriggerProperties": {
      "description": "The properties of a trigger.",
      "type": "object",
      "properties": {
        "timerTriggers": {
          "description": "The collection of timer triggers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimerTrigger"
          }
        },
        "sourceTriggers": {
          "description": "The collection of triggers based on source code repository.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceTrigger"
          }
        },
        "baseImageTrigger": {
          "$ref": "#/definitions/BaseImageTrigger",
          "description": "The trigger based on base image dependencies."
        }
      }
    },
    "Credentials": {
      "description": "The parameters that describes a set of credentials that will be used when a run is invoked.",
      "type": "object",
      "properties": {
        "sourceRegistry": {
          "$ref": "#/definitions/SourceRegistryCredentials",
          "description": "Describes the credential parameters for accessing the source registry."
        },
        "customRegistries": {
          "description": "Describes the credential parameters for accessing other custom registries. The key\r\nfor the dictionary item will be the registry login server (myregistry.azurecr.io) and\r\nthe value of the item will be the registry credentials for accessing the registry.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/CustomRegistryCredentials"
          }
        }
      }
    },
    "BaseImageDependency": {
      "description": "Properties that describe a base image dependency.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the base image dependency.",
          "enum": [
            "BuildTime",
            "RunTime"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BaseImageDependencyType",
            "modelAsString": true
          }
        },
        "registry": {
          "description": "The registry login server.",
          "type": "string"
        },
        "repository": {
          "description": "The repository name.",
          "type": "string"
        },
        "tag": {
          "description": "The tag name.",
          "type": "string"
        },
        "digest": {
          "description": "The sha256-based digest of the image manifest.",
          "type": "string"
        }
      }
    },
    "TimerTrigger": {
      "description": "The properties of a timer trigger.",
      "required": [
        "schedule",
        "name"
      ],
      "type": "object",
      "properties": {
        "schedule": {
          "description": "The CRON expression for the task schedule",
          "type": "string"
        },
        "status": {
          "description": "The current status of trigger.",
          "default": "Enabled",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerStatus",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        }
      }
    },
    "SourceTrigger": {
      "description": "The properties of a source based trigger.",
      "required": [
        "sourceRepository",
        "sourceTriggerEvents",
        "name"
      ],
      "type": "object",
      "properties": {
        "sourceRepository": {
          "$ref": "#/definitions/SourceProperties",
          "description": "The properties that describes the source(code) for the task."
        },
        "sourceTriggerEvents": {
          "description": "The source event corresponding to the trigger.",
          "type": "array",
          "items": {
            "enum": [
              "commit",
              "pullrequest"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "SourceTriggerEvent",
              "modelAsString": true
            }
          }
        },
        "status": {
          "description": "The current status of trigger.",
          "default": "Enabled",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerStatus",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        }
      }
    },
    "BaseImageTrigger": {
      "description": "The trigger based on base image dependency.",
      "required": [
        "baseImageTriggerType",
        "name"
      ],
      "type": "object",
      "properties": {
        "baseImageTriggerType": {
          "description": "The type of the auto trigger for base image dependency updates.",
          "enum": [
            "All",
            "Runtime"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BaseImageTriggerType",
            "modelAsString": true
          }
        },
        "updateTriggerEndpoint": {
          "description": "The endpoint URL for receiving update triggers.",
          "type": "string"
        },
        "updateTriggerPayloadType": {
          "description": "Type of Payload body for Base image update triggers.",
          "enum": [
            "Default",
            "Token"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "UpdateTriggerPayloadType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The current status of trigger.",
          "default": "Enabled",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerStatus",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        }
      }
    },
    "SourceRegistryCredentials": {
      "description": "Describes the credential parameters for accessing the source registry.",
      "type": "object",
      "properties": {
        "loginMode": {
          "description": "The authentication mode which determines the source registry login scope. The credentials for the source registry\r\nwill be generated using the given scope. These credentials will be used to login to\r\nthe source registry during the run.",
          "enum": [
            "None",
            "Default"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SourceRegistryLoginMode",
            "modelAsString": true
          }
        }
      }
    },
    "CustomRegistryCredentials": {
      "description": "Describes the credentials that will be used to access a custom registry during a run.",
      "type": "object",
      "properties": {
        "userName": {
          "$ref": "#/definitions/SecretObject",
          "description": "The username for logging into the custom registry."
        },
        "password": {
          "$ref": "#/definitions/SecretObject",
          "description": "The password for logging into the custom registry. The password is a secret \r\nobject that allows multiple ways of providing the value for it."
        },
        "identity": {
          "description": "Indicates the managed identity assigned to the custom credential. If a user-assigned identity\r\nthis value is the Client ID. If a system-assigned identity, the value will be `system`. In\r\nthe case of a system-assigned identity, the Client ID will be determined by the runner. This\r\nidentity may be used to authenticate to key vault to retrieve credentials or it may be the only \r\nsource of authentication used for accessing the registry.",
          "type": "string"
        }
      }
    },
    "SourceProperties": {
      "description": "The properties of the source code repository.",
      "required": [
        "sourceControlType",
        "repositoryUrl"
      ],
      "type": "object",
      "properties": {
        "sourceControlType": {
          "description": "The type of source control service.",
          "enum": [
            "Github",
            "VisualStudioTeamService"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SourceControlType",
            "modelAsString": true
          }
        },
        "repositoryUrl": {
          "description": "The full URL to the source code repository",
          "type": "string"
        },
        "branch": {
          "description": "The branch name of the source code.",
          "type": "string"
        },
        "sourceControlAuthProperties": {
          "$ref": "#/definitions/AuthInfo",
          "description": "The authorization properties for accessing the source code repository and to set up\r\nwebhooks for notifications."
        }
      }
    },
    "SecretObject": {
      "description": "Describes the properties of a secret object value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the secret. The format of this value will be determined\r\nbased on the type of the secret object. If the type is Opaque, the value will be\r\nused as is without any modification.",
          "type": "string"
        },
        "type": {
          "description": "The type of the secret object which determines how the value of the secret object has to be\r\ninterpreted.",
          "enum": [
            "Opaque",
            "Vaultsecret"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SecretObjectType",
            "modelAsString": true
          }
        }
      }
    },
    "AuthInfo": {
      "description": "The authorization properties for accessing the source code repository.",
      "required": [
        "tokenType",
        "token"
      ],
      "type": "object",
      "properties": {
        "tokenType": {
          "description": "The type of Auth token.",
          "enum": [
            "PAT",
            "OAuth"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TokenType",
            "modelAsString": true
          }
        },
        "token": {
          "description": "The access token used to access the source control provider.",
          "type": "string"
        },
        "refreshToken": {
          "description": "The refresh token used to refresh the access token.",
          "type": "string"
        },
        "scope": {
          "description": "The scope of the access token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int32",
          "description": "Time in seconds that the token remains valid",
          "type": "integer"
        }
      }
    },
    "TaskUpdateParameters": {
      "description": "The parameters for updating a task.",
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "Identity for the resource."
        },
        "properties": {
          "$ref": "#/definitions/TaskPropertiesUpdateParameters",
          "description": "The properties for updating a task.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The ARM resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TaskPropertiesUpdateParameters": {
      "description": "The properties for updating a task.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The current status of task.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TaskStatus",
            "modelAsString": true
          }
        },
        "platform": {
          "$ref": "#/definitions/PlatformUpdateParameters",
          "description": "The platform properties against which the run has to happen."
        },
        "agentConfiguration": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The machine configuration of the run agent."
        },
        "agentPoolName": {
          "description": "The dedicated agent pool for the task.",
          "type": "string"
        },
        "timeout": {
          "format": "int32",
          "description": "Run timeout in seconds.",
          "type": "integer"
        },
        "step": {
          "$ref": "#/definitions/TaskStepUpdateParameters",
          "description": "The properties for updating a task step."
        },
        "trigger": {
          "$ref": "#/definitions/TriggerUpdateParameters",
          "description": "The properties for updating trigger properties."
        },
        "credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "The parameters that describes a set of credentials that will be used when this run is invoked."
        },
        "logTemplate": {
          "description": "The template that describes the repository and tag information for run log artifact.",
          "type": "string"
        }
      }
    },
    "PlatformUpdateParameters": {
      "description": "The properties for updating the platform configuration.",
      "type": "object",
      "properties": {
        "os": {
          "description": "The operating system type required for the run.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OS",
            "modelAsString": true
          }
        },
        "architecture": {
          "description": "The OS architecture.",
          "enum": [
            "amd64",
            "x86",
            "386",
            "arm",
            "arm64"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Architecture",
            "modelAsString": true
          }
        },
        "variant": {
          "description": "Variant of the CPU.",
          "enum": [
            "v6",
            "v7",
            "v8"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Variant",
            "modelAsString": true
          }
        }
      }
    },
    "TaskStepUpdateParameters": {
      "description": "Base properties for updating any task step.",
      "required": [
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the step.",
          "enum": [
            "Docker",
            "FileTask",
            "EncodedTask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StepType",
            "modelAsString": true
          }
        },
        "contextPath": {
          "description": "The URL(absolute or relative) of the source context for the task step.",
          "type": "string"
        },
        "contextAccessToken": {
          "description": "The token (git PAT or SAS token of storage account blob) associated with the context for a step.",
          "type": "string"
        }
      },
      "discriminator": "type"
    },
    "TriggerUpdateParameters": {
      "description": "The properties for updating triggers.",
      "type": "object",
      "properties": {
        "timerTriggers": {
          "description": "The collection of timer triggers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimerTriggerUpdateParameters"
          }
        },
        "sourceTriggers": {
          "description": "The collection of triggers based on source code repository.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceTriggerUpdateParameters"
          }
        },
        "baseImageTrigger": {
          "$ref": "#/definitions/BaseImageTriggerUpdateParameters",
          "description": "The trigger based on base image dependencies."
        }
      }
    },
    "TimerTriggerUpdateParameters": {
      "description": "The properties for updating a timer trigger.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "schedule": {
          "description": "The CRON expression for the task schedule",
          "type": "string"
        },
        "status": {
          "description": "The current status of trigger.",
          "default": "Enabled",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerStatus",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        }
      }
    },
    "SourceTriggerUpdateParameters": {
      "description": "The properties for updating a source based trigger.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "sourceRepository": {
          "$ref": "#/definitions/SourceUpdateParameters",
          "description": "The properties that describes the source(code) for the task."
        },
        "sourceTriggerEvents": {
          "description": "The source event corresponding to the trigger.",
          "type": "array",
          "items": {
            "enum": [
              "commit",
              "pullrequest"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "SourceTriggerEvent",
              "modelAsString": true
            }
          }
        },
        "status": {
          "description": "The current status of trigger.",
          "default": "Enabled",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerStatus",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        }
      }
    },
    "BaseImageTriggerUpdateParameters": {
      "description": "The properties for updating base image dependency trigger.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "baseImageTriggerType": {
          "description": "The type of the auto trigger for base image dependency updates.",
          "enum": [
            "All",
            "Runtime"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BaseImageTriggerType",
            "modelAsString": true
          }
        },
        "updateTriggerEndpoint": {
          "description": "The endpoint URL for receiving update triggers.",
          "type": "string"
        },
        "updateTriggerPayloadType": {
          "description": "Type of Payload body for Base image update triggers.",
          "enum": [
            "Default",
            "Token"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "UpdateTriggerPayloadType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The current status of trigger.",
          "default": "Enabled",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TriggerStatus",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        }
      }
    },
    "SourceUpdateParameters": {
      "description": "The properties for updating the source code repository.",
      "type": "object",
      "properties": {
        "sourceControlType": {
          "description": "The type of source control service.",
          "enum": [
            "Github",
            "VisualStudioTeamService"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SourceControlType",
            "modelAsString": true
          }
        },
        "repositoryUrl": {
          "description": "The full URL to the source code repository",
          "type": "string"
        },
        "branch": {
          "description": "The branch name of the source code.",
          "type": "string"
        },
        "sourceControlAuthProperties": {
          "$ref": "#/definitions/AuthInfoUpdateParameters",
          "description": "The authorization properties for accessing the source code repository and to set up\r\nwebhooks for notifications."
        }
      }
    },
    "AuthInfoUpdateParameters": {
      "description": "The authorization properties for accessing the source code repository.",
      "type": "object",
      "properties": {
        "tokenType": {
          "description": "The type of Auth token.",
          "enum": [
            "PAT",
            "OAuth"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TokenType",
            "modelAsString": true
          }
        },
        "token": {
          "description": "The access token used to access the source control provider.",
          "type": "string"
        },
        "refreshToken": {
          "description": "The refresh token used to refresh the access token.",
          "type": "string"
        },
        "scope": {
          "description": "The scope of the access token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int32",
          "description": "Time in seconds that the token remains valid",
          "type": "integer"
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the resource. This cannot be changed after the resource is created.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponseBody": {
      "description": "An error response from the Azure Container Registry service.",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "error code.",
          "type": "string"
        },
        "message": {
          "description": "error message.",
          "type": "string"
        },
        "target": {
          "description": "target of the particular error.",
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/InnerErrorDescription",
          "description": "an array of additional nested error response info objects, as described by this contract.",
          "type": "array"
        }
      }
    },
    "ErrorResponse": {
      "description": "An error response from the Azure Container Registry service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponseBody",
          "description": "Azure container registry build API error body."
        }
      }
    },
    "InnerErrorDescription": {
      "description": "inner error.",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "error code.",
          "type": "string"
        },
        "message": {
          "description": "error message.",
          "type": "string"
        },
        "target": {
          "description": "target of the particular error.",
          "type": "string"
        }
      }
    },
    "DockerBuildRequest": {
      "description": "The parameters for a docker quick build.",
      "required": [
        "type",
        "dockerFilePath",
        "platform"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RunRequest"
        }
      ],
      "properties": {
        "imageNames": {
          "description": "The fully qualified image names including the repository and tag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isPushEnabled": {
          "description": "The value of this property indicates whether the image built should be pushed to the registry or not.",
          "default": true,
          "type": "boolean"
        },
        "noCache": {
          "description": "The value of this property indicates whether the image cache is enabled or not.",
          "default": false,
          "type": "boolean"
        },
        "dockerFilePath": {
          "description": "The Docker file path relative to the source location.",
          "type": "string"
        },
        "target": {
          "description": "The name of the target build stage for the docker build.",
          "type": "string"
        },
        "arguments": {
          "description": "The collection of override arguments to be used when executing the run.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Argument"
          }
        },
        "timeout": {
          "format": "int32",
          "description": "Run timeout in seconds.",
          "default": 3600,
          "maximum": 28800,
          "minimum": 300,
          "type": "integer"
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the run has to happen."
        },
        "agentConfiguration": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The machine configuration of the run agent."
        },
        "sourceLocation": {
          "description": "The URL(absolute or relative) of the source context. It can be an URL to a tar or git repository.\r\nIf it is relative URL, the relative path should be obtained from calling listBuildSourceUploadUrl API.",
          "type": "string"
        },
        "credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "The properties that describes a set of credentials that will be used when this run is invoked."
        }
      },
      "x-ms-discriminator-value": "DockerBuildRequest"
    },
    "Argument": {
      "description": "The properties of a run argument.",
      "required": [
        "name",
        "value"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the argument.",
          "type": "string"
        },
        "value": {
          "description": "The value of the argument.",
          "type": "string"
[...]
