{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2016-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}": {
      "delete": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_Delete",
        "description": "Deletes the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete a log profile"
          }
        },
        "x-ms-examples": {
          "Delete log profile": {
            "$ref": "./examples/deleteLogProfile.json"
          }
        }
      },
      "get": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_Get",
        "description": "Gets the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get more information about a log profile.",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        },
        "x-ms-examples": {
          "Get log profile": {
            "$ref": "./examples/getLogProfile.json"
          }
        }
      },
      "put": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_CreateOrUpdate",
        "description": "Create or update a log profile in Azure Monitoring REST API.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to create or update a log profile",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a log profile": {
            "$ref": "./examples/createOrUpdateLogProfile.json"
          }
        }
      },
      "patch": {
        "description": "Updates an existing LogProfilesResource. To update other fields use the CreateOrUpdate method.",
        "operationId": "LogProfiles_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "logProfilesResource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogProfileResourcePatch"
            },
            "description": "Parameters supplied to the operation."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "An existing log profile was successfully updated.",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        },
        "x-ms-examples": {
          "Patch a log profile": {
            "$ref": "./examples/patchLogProfile.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles": {
      "get": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_List",
        "description": "List the log profiles.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to list log profiles",
            "schema": {
              "$ref": "#/definitions/LogProfileCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "List log profiles": {
            "$ref": "./examples/listLogProfile.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "RetentionPolicy": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether the retention policy is enabled."
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "the number of days for the retention in days. A value of 0 will retain the events indefinitely."
        }
      },
      "required": [
        "enabled",
        "days"
      ],
      "description": "Specifies the retention policy for the log."
    },
    "LogProfileProperties": {
      "required": [
        "locations",
        "categories",
        "retentionPolicy"
      ],
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "the resource id of the storage account to which you would like to send the Activity Log."
        },
        "serviceBusRuleId": {
          "type": "string",
          "description": "The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming the Activity Log. The rule ID is of the format: '{service bus resource ID}/authorizationrules/{key name}'."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of regions for which Activity Log events should be stored or streamed. It is a comma separated list of valid ARM locations including the 'global' location."
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the categories of the logs. These categories are created as is convenient to the user. Some values are: 'Write', 'Delete', and/or 'Action.'"
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "the retention policy for the events in the log."
        }
      },
      "description": "The log profile properties."
    },
    "LogProfileResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LogProfileProperties",
          "description": "The log profile properties of the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The log profile resource."
    },
    "LogProfileResourcePatch": {
      "description": "The log profile resource for patch operations.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LogProfileProperties",
          "description": "The log profile properties for an update operation."
        }
      }
    },
    "LogProfileCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogProfileResource"
          },
          "description": "the values of the log profiles."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents a collection of log profiles."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "LogProfileNameParameter": {
      "name": "logProfileName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the log profile.",
      "x-ms-parameter-location": "method"
    }
  }
}
