{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2024-11-01-preview",
    "description": "Azure Stack HCI service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DevicePools"
    },
    {
      "name": "EdgeMachines"
    },
    {
      "name": "EdgeMachineJobs"
    },
    {
      "name": "EdgeMachineExtensions"
    },
    {
      "name": "EdgeMachineGpus"
    },
    {
      "name": "EdgeMachineGpuJobs"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/devicePools": {
      "get": {
        "operationId": "DevicePools_ListBySubscription",
        "tags": [
          "DevicePools"
        ],
        "description": "List all device pools in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevicePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List device pools in a given subscription": {
            "$ref": "./examples/DevicePools_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/edgeMachines": {
      "get": {
        "operationId": "EdgeMachines_ListBySubscription",
        "tags": [
          "EdgeMachines"
        ],
        "description": "List all edge machines in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List edge machines in a given subscription": {
            "$ref": "./examples/EdgeMachines_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/devicePools": {
      "get": {
        "operationId": "DevicePools_ListByResourceGroup",
        "tags": [
          "DevicePools"
        ],
        "description": "List all device pools in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevicePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List device pools in a given resource group": {
            "$ref": "./examples/DevicePools_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/devicePools/{devicePoolName}": {
      "get": {
        "operationId": "DevicePools_Get",
        "tags": [
          "DevicePools"
        ],
        "description": "Get a DevicePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevicePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_Get_MaximumSet": {
            "$ref": "./examples/DevicePools_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DevicePools_CreateOrUpdate",
        "tags": [
          "DevicePools"
        ],
        "description": "Create a DevicePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DevicePool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DevicePool"
            }
          },
          "201": {
            "description": "Resource 'DevicePool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DevicePool"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_CreateOrUpdate": {
            "$ref": "./examples/DevicePools_CreateOrUpdate.json"
          },
          "DevicePools_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/DevicePools_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DevicePools_Update",
        "tags": [
          "DevicePools"
        ],
        "description": "Update a devicePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePoolPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevicePool"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_Update_MaximumSet": {
            "$ref": "./examples/DevicePools_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DevicePools_Delete",
        "tags": [
          "DevicePools"
        ],
        "description": "Delete a DevicePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_Delete_MaximumSet": {
            "$ref": "./examples/DevicePools_Delete_MaximumSet_Gen.json"
          },
          "DevicePools_Delete_MinimumSet": {
            "$ref": "./examples/DevicePools_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/devicePools/{devicePoolName}/addDevices": {
      "post": {
        "operationId": "DevicePools_AddDevices",
        "tags": [
          "DevicePools"
        ],
        "description": "Add Devices to the pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOfDevicesRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_AddDevices_MaximumSet": {
            "$ref": "./examples/DevicePools_AddDevices_MaximumSet_Gen.json"
          },
          "DevicePools_AddDevices_MinimumSet": {
            "$ref": "./examples/DevicePools_AddDevices_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/devicePools/{devicePoolName}/claimDevices": {
      "post": {
        "operationId": "DevicePools_ClaimDevices",
        "tags": [
          "DevicePools"
        ],
        "description": "Claiming devices of the pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClaimDeviceRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_ClaimDevices_MaximumSet": {
            "$ref": "./examples/DevicePools_ClaimDevices_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/devicePools/{devicePoolName}/releaseDevices": {
      "post": {
        "operationId": "DevicePools_ReleaseDevices",
        "tags": [
          "DevicePools"
        ],
        "description": "Releasing devices of the pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseDeviceRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_ReleaseDevices_MaximumSet": {
            "$ref": "./examples/DevicePools_ReleaseDevices_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/devicePools/{devicePoolName}/removeDevices": {
      "post": {
        "operationId": "DevicePools_RemoveDevices",
        "tags": [
          "DevicePools"
        ],
        "description": "Remove Devices to the pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "devicePoolName",
            "in": "path",
            "description": "The name of the DevicePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOfDevicesRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DevicePools_RemoveDevices_MaximumSet": {
            "$ref": "./examples/DevicePools_RemoveDevices_MaximumSet_Gen.json"
          },
          "DevicePools_RemoveDevices_MinimumSet": {
            "$ref": "./examples/DevicePools_RemoveDevices_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines": {
      "get": {
        "operationId": "EdgeMachines_ListByResourceGroup",
        "tags": [
          "EdgeMachines"
        ],
        "description": "List all edge machines in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List edge machines in a given resource group": {
            "$ref": "./examples/EdgeMachines_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}": {
      "get": {
        "operationId": "EdgeMachines_Get",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Get a EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Get_MaximumSet": {
            "$ref": "./examples/EdgeMachines_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachines_CreateOrUpdate",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Create a EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachine' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachine' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_CreateOrUpdate": {
            "$ref": "./examples/EdgeMachines_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeMachines_Update",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Update an edgeMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachinePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Update": {
            "$ref": "./examples/EdgeMachines_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachines_Delete",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Delete a EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Delete_MaximumSet": {
            "$ref": "./examples/EdgeMachines_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/extensions": {
      "get": {
        "operationId": "EdgeMachineExtensions_ListByEdgeMachine",
        "tags": [
          "EdgeMachineExtensions"
        ],
        "description": "List all Extensions on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineExtensionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineExtensions_ListByEdgeMachine": {
            "$ref": "./examples/EdgeMachineExtensions_ListByProvisionedMachine.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/extensions/{extensionName}": {
      "get": {
        "operationId": "EdgeMachineExtensions_Get",
        "tags": [
          "EdgeMachineExtensions"
        ],
        "description": "Get a specific Extension on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the EdgeMachineExtension",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineExtension"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineExtensions_Get": {
            "$ref": "./examples/EdgeMachineExtensions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachineExtensions_Create",
        "tags": [
          "EdgeMachineExtensions"
        ],
        "description": "Create or replace an Extension on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the EdgeMachineExtension",
            "required": true,
            "type": "string"
          },
          {
            "name": "extension",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineExtension"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachineExtension' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineExtension"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachineExtension' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineExtension"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineExtensions_Create": {
            "$ref": "./examples/EdgeMachineExtensions_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachineExtensions_Delete",
        "tags": [
          "EdgeMachineExtensions"
        ],
        "description": "Delete Extension on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the EdgeMachineExtension",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineExtensions_Delete": {
            "$ref": "./examples/EdgeMachineExtensions_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/gpus": {
      "get": {
        "operationId": "EdgeMachineGpus_List",
        "tags": [
          "EdgeMachineGpus"
        ],
        "description": "List all GPUs on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GpuList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpus_List": {
            "$ref": "./examples/EdgeMachineGpus_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/gpus/{gpuName}": {
      "get": {
        "operationId": "EdgeMachineGpus_Get",
        "tags": [
          "EdgeMachineGpus"
        ],
        "description": "Get a specific GPU on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpu"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpus_Get": {
            "$ref": "./examples/EdgeMachineGpus_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachineGpus_CreateOrUpdate",
        "tags": [
          "EdgeMachineGpus"
        ],
        "description": "Create or update a GPU on an Edge Machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpu"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachineGpu' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpu"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachineGpu' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpu"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpus_CreateOrUpdate": {
            "$ref": "./examples/EdgeMachineGpus_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachineGpus_Delete",
        "tags": [
          "EdgeMachineGpus"
        ],
        "description": "Delete a EdgeMachineGpu",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpus_Delete": {
            "$ref": "./examples/EdgeMachineGpus_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/gpus/{gpuName}/jobs": {
      "get": {
        "operationId": "EdgeMachineGpuJobs_List",
        "tags": [
          "EdgeMachineGpuJobs"
        ],
        "description": "List EdgeMachineGpuJob resources by EdgeMachineGpu",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpuJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpuJobs_List_MaximumSet_Gen": {
            "$ref": "./examples/EdgeMachineGpuJobs_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/gpus/{gpuName}/jobs/{jobsName}": {
      "get": {
        "operationId": "EdgeMachineGpuJobs_Get",
        "tags": [
          "EdgeMachineGpuJobs"
        ],
        "description": "Get a specific GPU Job on an Edge Machine GPU.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineGpuJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,512}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpuJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpuJobs_Get": {
            "$ref": "./examples/EdgeMachineGpuJobs_Get_MaximumSet_Gen.json"
          },
          "EdgeMachineGpuJobs_Get_AssignPartition": {
            "$ref": "./examples/EdgeMachineGpuJobs_Get_AssignPartition.json"
          },
          "EdgeMachineGpuJobs_Get_CreatePartition": {
            "$ref": "./examples/EdgeMachineGpuJobs_Get_CreatePartition.json"
          },
          "EdgeMachineGpuJobs_Get_RemovePartition": {
            "$ref": "./examples/EdgeMachineGpuJobs_Get_RemovePartition.json"
          },
          "EdgeMachineGpuJobs_Get_SwitchMode": {
            "$ref": "./examples/EdgeMachineGpuJobs_Get_SwitchMode.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachineGpuJobs_CreateOrUpdate",
        "tags": [
          "EdgeMachineGpuJobs"
        ],
        "description": "Create or update a GPU Job on an Edge Machine GPU.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineGpuJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,512}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpuJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachineGpuJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpuJob"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachineGpuJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineGpuJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpuJobs_CreateOrUpdate_AssignPartition": {
            "$ref": "./examples/EdgeMachineGpuJobs_CreateOrUpdate_AssignPartition.json"
          },
          "EdgeMachineGpuJobs_CreateOrUpdate_CreatePartition": {
            "$ref": "./examples/EdgeMachineGpuJobs_CreateOrUpdate_CreatePartition.json"
          },
          "EdgeMachineGpuJobs_CreateOrUpdate_RemovePartition": {
            "$ref": "./examples/EdgeMachineGpuJobs_CreateOrUpdate_RemovePartition.json"
          },
          "EdgeMachineGpuJobs_CreateOrUpdate_SwitchMode": {
            "$ref": "./examples/EdgeMachineGpuJobs_CreateOrUpdate_SwitchMode.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachineGpuJobs_Delete",
        "tags": [
          "EdgeMachineGpuJobs"
        ],
        "description": "Delete a specific GPU Job on an Edge Machine GPU.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the EdgeMachineGpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,85}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineGpuJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,512}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineGpuJobs_Delete_MaximumSet": {
            "$ref": "./examples/EdgeMachineGpuJobs_Delete_MaximumSet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/jobs": {
      "get": {
        "operationId": "EdgeMachineJobs_List",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "List EdgeMachineJob resources by EdgeMachines",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_List_MaximumSet": {
            "$ref": "./examples/EdgeMachineJobs_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/jobs/{jobsName}": {
      "get": {
        "operationId": "EdgeMachineJobs_Get",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "Get a EdgeMachineJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_Get_CollectLog": {
            "$ref": "./examples/EdgeMachineJobs_Get_CollectLog.json"
          },
          "EdgeMachineJobs_Get_MachineAssistant": {
            "$ref": "./examples/EdgeMachineJobs_Get_MachineAssistant.json"
          },
          "EdgeMachineJobs_Get_ProvisionOs": {
            "$ref": "./examples/EdgeMachineJobs_Get_ProvisionOs.json"
          },
          "EdgeMachineJobs_Get_RemoteSupport": {
            "$ref": "./examples/EdgeMachineJobs_Get_RemoteSupport.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachineJobs_CreateOrUpdate",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "Create a EdgeMachineJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachineJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachineJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_CreateOrUpdate_CollectLog": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_CollectLog.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_DownloadOs": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_DownloadOs.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_MachineAssistant": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_MachineAssistant.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_ProvisionOs": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_ProvisionOs.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_RemoteSupport": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_RemoteSupport.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_UpdateOs": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_UpdateOs.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachineJobs_Delete",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "Delete a EdgeMachineJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_Delete_MaximumSet": {
            "$ref": "./examples/EdgeMachineJobs_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/resetFailedMachineState": {
      "post": {
        "operationId": "EdgeMachines_ResetFailedMachineState",
        "tags": [
          "EdgeMachines"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_ResetFailedMachineState": {
            "$ref": "./examples/EdgeMachines_ResetFailedMachineState.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/setFailedMachineState": {
      "post": {
        "operationId": "EdgeMachines_SetFailedMachineState",
        "tags": [
          "EdgeMachines"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetFailedMachineStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_SetFailedMachineState": {
            "$ref": "./examples/EdgeMachines_SetFailedMachineState.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/validate": {
      "post": {
        "operationId": "EdgeMachines_Validate",
        "tags": [
          "EdgeMachines"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineValidateResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Validate_MaximumSet": {
            "$ref": "./examples/EdgeMachines_Validate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/locations/{location}/validateOwnershipVouchers": {
      "post": {
        "operationId": "ServiceOperationGroup_ValidateOwnershipVouchers",
        "description": "This method does all the necessary validation on the ownership voucher details provided by the customer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "validationRequest",
            "in": "body",
            "description": "Inputs of the customer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateOwnershipVouchersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateOwnershipVouchersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate ownership vouchers in a given resource group": {
            "$ref": "./examples/ValidateOwnershipVouchers_ByResourceGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArcExtensionState": {
      "type": "string",
      "description": "Arc extension installation state.",
      "enum": [
        "NotSpecified",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Moving",
        "Deleting",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ArcExtensionState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "Arc extension state is not specified."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Arc extension state is Succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Arc extension state is Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Arc extension state is Canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Arc extension state is Accepted when extension installation triggered."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Arc extension is in Creating State."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Arc extension is in Updating State."
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "Arc extension is in Moving State."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Arc extension is in Deleting State."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Arc extension is in Deleted State."
          }
        ]
      },
      "readOnly": true
    },
    "AssignPartitionGpuJobProperties": {
      "type": "object",
      "description": "Properties for assigning GPU partition to a specific workload or virtual machine.",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "Virtual machine ID to which the GPU partition is assigned."
        }
      },
      "required": [
        "vmId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeMachineGpuJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AssignPartition"
    },
    "ClaimDeviceRequest": {
      "type": "object",
      "description": "Request for claiming devices of the pool.",
      "properties": {
        "devices": {
          "type": "array",
          "description": "List of resource ids of the devices to be modified",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource."
          }
        },
        "claimedBy": {
          "type": "string",
          "description": "Resource Id of group device belongs to."
        }
      },
      "required": [
        "devices"
      ]
    },
    "CollectLogJobProperties": {
      "type": "object",
      "description": "Properties for pausing a server in the cluster.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeMachineJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "CreatePartitionGpuJobProperties": {
      "type": "object",
      "description": "Properties for creating GPU partitions for virtualization and workload isolation.",
      "properties": {
        "partitionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of partitions to be created on the GPU."
        }
      },
      "required": [
        "partitionCount"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeMachineGpuJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CreatePartition"
    },
    "DdaDetails": {
      "type": "object",
      "description": "Represents the details of the GPU specifically in DDA mode.",
      "properties": {
        "ddaPool": {
          "type": "string",
          "description": "It is a resource pool on each server containing the clustered GPU resources.",
          "readOnly": true
        },
        "workloadDetail": {
          "$ref": "#/definitions/WorkloadDetails",
          "description": "The workload to which this GPU is assigned.",
          "readOnly": true
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "Deployment mode to trigger job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "DeviceConfiguration": {
      "type": "object",
      "description": "Device configuration.",
      "properties": {
        "network": {
          "$ref": "#/definitions/NetworkConfiguration",
          "description": "Network configuration."
        },
        "hostName": {
          "type": "string",
          "description": "Hostname of the device."
        },
        "webProxy": {
          "$ref": "#/definitions/WebProxyConfiguration",
          "description": "Web proxy configuration."
        },
        "time": {
          "$ref": "#/definitions/TimeConfiguration",
          "description": "Time configuration."
        },
        "storage": {
          "$ref": "#/definitions/StorageConfiguration",
          "description": "Storage configuration."
        }
      }
    },
    "DeviceDetail": {
      "type": "object",
      "description": "Device details.",
      "properties": {
        "deviceResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource Id of the device."
        },
        "claimedBy": {
          "type": "string",
          "description": "Resource Id of group device belongs to.",
          "readOnly": true
        }
      }
    },
    "DeviceLogCollectionStatus": {
      "type": "string",
      "description": "Represents the status of a log collection operation.",
      "enum": [
        "NotStarted",
        "Running",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeviceLogCollectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Log collection operation has not been initiated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Indicates that the log collection operation is currently running."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Indicates that the log collection operation has failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Indicates that the log collection operation has completed successfully."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Indicates that the log collection operation has completed successfully."
          }
        ]
      },
      "readOnly": true
    },
    "DevicePool": {
      "type": "object",
      "description": "DevicePool details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DevicePoolProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DevicePoolListResult": {
      "type": "object",
      "description": "The response of a DevicePool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DevicePool items on this page",
          "items": {
            "$ref": "#/definitions/DevicePool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DevicePoolPatch": {
      "type": "object",
      "description": "Properties for patching Device Pool.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "DevicePoolProperties": {
      "type": "object",
      "description": "Properties for device pool.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of a resource.",
          "readOnly": true
        },
        "cloudId": {
          "type": "string",
          "description": "Unique, immutable resource id.",
          "readOnly": true
        },
        "devices": {
          "type": "array",
          "description": "List of machines in device pool.",
          "items": {
            "$ref": "#/definitions/DeviceDetail"
          },
          "x-ms-identifiers": []
        },
        "customLocationResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Custom Location Resource Id for the pool",
          "readOnly": true
        },
        "customLocationName": {
          "type": "string",
          "description": "Custom Location Name for the pool, default: <DevicePoolName>-CL"
        },
        "managedResourceGroup": {
          "type": "string",
          "description": "Managed resource group name for the pool"
        },
        "operationDetails": {
          "type": "array",
          "description": "operation status details for device pool.",
          "items": {
            "$ref": "#/definitions/OperationDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "DownloadOsJobProperties": {
      "type": "object",
      "description": "Represents the properties of Download Os job.",
      "properties": {
        "downloadRequest": {
          "$ref": "#/definitions/DownloadRequest",
          "description": "Download OS request."
        },
        "reportedProperties": {
          "$ref": "#/definitions/ProvisionOsReportedProperties",
          "description": "Reported Properties for Download Os job"
        }
      },
      "required": [
        "downloadRequest"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeMachineJobProperties"
        }
      ],
      "x-ms-discriminator-value": "DownloadOs"
    },
    "DownloadOsProfile": {
      "type": "object",
      "description": "Operating system profile.",
      "properties": {
        "osName": {
          "type": "string",
          "description": "Name of the operating system."
        },
        "osType": {
          "type": "string",
          "description": "Type of the operating system."
        },
        "osVersion": {
          "type": "string",
          "description": "Version of the operating system."
        },
        "osImageLocation": {
          "type": "string",
          "description": "Location of the operating system image."
        },
        "vsrVersion": {
          "type": "string",
          "description": "Validated Solution Recipe version to be used for the job"
        },
        "imageHash": {
          "type": "string",
          "description": "Hash of the OS package downloaded"
        },
        "gpgPubKey": {
          "type": "string",
          "description": "GPG Public Key used for package verification"
        }
      }
    },
    "DownloadRequest": {
      "type": "object",
      "description": "Download Request properties",
      "properties": {
        "target": {
          "$ref": "#/definitions/ProvisioningOsType",
          "description": "Target operating system to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "osProfile": {
          "$ref": "#/definitions/DownloadOsProfile",
          "description": "Operating system profile."
        }
      },
      "required": [
        "target",
        "osProfile"
      ]
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
[...]
