{
  "swagger": "2.0",
  "info": {
    "version": "2020-08-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/queries/{queryId}": {
      "get": {
        "tags": [
          "ManagedDatabaseQueries"
        ],
        "description": "Get query by query id.",
        "operationId": "ManagedDatabaseQueries_ListByQueryId_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ManagedInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved query text.",
            "schema": {
              "$ref": "#/definitions/ManagedInstanceQuery"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        },
        "x-ms-examples": {
          "Obtain query properties": {
            "$ref": "./examples/ManagedInstanceQueryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/queries/{queryId}/statistics": {
      "get": {
        "tags": [
          "ManagedDatabaseQueries"
        ],
        "description": "Get query execution statistics by query id.",
        "operationId": "ManagedDatabaseQueries_ListByQuery",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ManagedInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Start time for observed period.",
            "required": false,
            "type": "string"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End time for observed period.",
            "required": false,
            "type": "string"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The time step to be used to summarize the metric values.",
            "required": false,
            "type": "string",
            "enum": [
              "PT1H",
              "P1D"
            ],
            "x-ms-enum": {
              "name": "QueryTimeGrainType",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved query text.",
            "schema": {
              "$ref": "#/definitions/ManagedInstanceQueryStatistics"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Obtain query execution statistics. Minimal example with only mandatory request parameters.": {
            "$ref": "./examples/ManagedInstanceQueryStatisticsListMin.json"
          },
          "Obtain query execution statistics": {
            "$ref": "./examples/ManagedInstanceQueryStatisticsList.json"
          },
          "Obtain query execution statistics. Example with all request parameters.": {
            "$ref": "./examples/ManagedInstanceQueryStatisticsListMax.json"
          }
        }
      }
    }
  },
  "definitions": {
    "QueryProperties": {
      "description": "Properties of a database query.",
      "type": "object",
      "properties": {
        "queryText": {
          "description": "Query text.",
          "type": "string"
        }
      }
    },
    "ManagedInstanceQuery": {
      "description": "Database query.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/QueryProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ManagedInstanceQueryStatistics": {
      "description": "Execution statistics for one particular query",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryStatistics"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QueryStatisticsProperties": {
      "description": "Properties of a query execution statistics.",
      "type": "object",
      "properties": {
        "databaseName": {
          "description": "Database name of the database in which this query was executed.",
          "type": "string",
          "readOnly": true
        },
        "queryId": {
          "description": "Unique query id (unique within one database).",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "description": "The start time for the metric (ISO-8601 format).",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "The end time for the metric (ISO-8601 format).",
          "type": "string",
          "readOnly": true
        },
        "intervals": {
          "description": "List of intervals with appropriate metric data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryMetricInterval"
          }
        }
      }
    },
    "QueryMetricInterval": {
      "description": "Properties of a query metrics interval.",
      "type": "object",
      "properties": {
        "intervalStartTime": {
          "description": "The start time for the metric interval (ISO-8601 format).",
          "type": "string",
          "readOnly": true
        },
        "intervalType": {
          "description": "Interval type (length).",
          "enum": [
            "PT1H",
            "P1D"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "QueryTimeGrainType",
            "modelAsString": true
          }
        },
        "executionCount": {
          "format": "int64",
          "description": "Execution count of a query in this interval.",
          "type": "integer",
          "readOnly": true
        },
        "metrics": {
          "description": "List of metric objects for this interval",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryMetricProperties"
          }
        }
      }
    },
    "QueryMetricProperties": {
      "description": "Properties of a topquery metric in one interval.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name information for the metric.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The UI appropriate name for the metric.",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": "The unit of the metric.",
          "enum": [
            "percentage",
            "KB",
            "microseconds",
            "count"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "QueryMetricUnitType",
            "modelAsString": true
          }
        },
        "value": {
          "format": "double",
          "description": "The value of the metric.",
          "type": "number",
          "readOnly": true
        },
        "min": {
          "format": "double",
          "description": "Metric value when min() aggregate function is used over the interval.",
          "type": "number",
          "readOnly": true
        },
        "max": {
          "format": "double",
          "description": "Metric value when max() aggregate function is used over the interval.",
          "type": "number",
          "readOnly": true
        },
        "avg": {
          "format": "double",
          "description": "Metric value when avg() aggregate function is used over the interval.",
          "type": "number",
          "readOnly": true
        },
        "sum": {
          "format": "double",
          "description": "Metric value when sum() aggregate function is used over the interval.",
          "type": "number",
          "readOnly": true
        },
        "stdev": {
          "format": "double",
          "description": "Metric value when stdev aggregate function is used over the interval.",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "QueryStatistics": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/QueryStatisticsProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    }
  },
  "parameters": {
    "ManagedInstanceNameParameter": {
      "name": "managedInstanceName",
      "in": "path",
      "description": "The name of the managed instance.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "description": "The name of the database.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
