{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "version": "2025-05-01",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkInterfaces"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Gets all network interfaces in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set network interfaces": {
            "$ref": "./examples/VmssNetworkInterfaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses",
        "description": "Gets information about all public IP addresses on a virtual machine scale set level.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSPublicIP": {
            "$ref": "./examples/VmssPublicIpListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Gets information about all network interfaces in a virtual machine in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set vm network interfaces": {
            "$ref": "./examples/VmssVmNetworkInterfaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}": {
      "get": {
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine scale set network interface": {
            "$ref": "./examples/VmssNetworkInterfaceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}": {
      "get": {
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface ip configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine scale set network interface": {
            "$ref": "./examples/VmssNetworkInterfaceIpConfigGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses",
        "description": "Gets information about all public IP addresses in a virtual machine IP configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSVMPublicIP": {
            "$ref": "./examples/VmssVmPublicIpList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}": {
      "get": {
        "operationId": "PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress",
        "description": "Get the specified public IP address in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "publicIpAddressName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVMSSPublicIP": {
            "$ref": "./examples/VmssPublicIpGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface ip configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../..common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceIPConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set network interface ip configurations": {
            "$ref": "./examples/VmssNetworkInterfaceIpConfigList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AccessMode": {
      "type": "string",
      "description": "The access mode of the private link service.",
      "enum": [
        "Default",
        "Restricted"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Allows unrestricted access to the private link service."
          },
          {
            "name": "Restricted",
            "value": "Restricted",
            "description": "Limits access to subscriptions which are inside visibility list only."
          }
        ]
      }
    },
    "ApplicationGatewayBackendAddress": {
      "type": "object",
      "description": "Backend address of an application gateway.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name (FQDN)."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address."
        }
      }
    },
    "ApplicationGatewayBackendAddressPool": {
      "type": "object",
      "description": "Backend Address Pool of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayBackendAddressPoolPropertiesFormat",
          "description": "Properties of the application gateway backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address pool that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayBackendAddressPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of Backend Address Pool of an application gateway.",
      "properties": {
        "backendIPConfigurations": {
          "type": "array",
          "description": "Collection of references to IPs defined in network interfaces.",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
          },
          "readOnly": true
        },
        "backendAddresses": {
          "type": "array",
          "description": "Backend addresses.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendAddress"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the backend address pool resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayIPConfiguration": {
      "type": "object",
      "description": "IP configuration of an application gateway. Currently 1 public and 1 private IP configuration is allowed.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayIPConfigurationPropertiesFormat",
          "description": "Properties of the application gateway IP configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the IP configuration that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration of an application gateway.",
      "properties": {
        "subnet": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the subnet resource. A subnet from where application gateway gets its private address."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the application gateway IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationSecurityGroup": {
      "type": "object",
      "description": "An application security group in a resource group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationSecurityGroupPropertiesFormat",
          "description": "Properties of the application security group.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ApplicationSecurityGroupPropertiesFormat": {
      "type": "object",
      "description": "Application security group properties.",
      "properties": {
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the application security group resource.",
          "readOnly": true
        }
      }
    },
    "BackendAddressPool": {
      "type": "object",
      "description": "Pool of backend IP addresses.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackendAddressPoolPropertiesFormat",
          "description": "Properties of load balancer backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of backend address pools used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "BackendAddressPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of the backend address pool.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the backend address pool."
        },
        "tunnelInterfaces": {
          "type": "array",
          "description": "An array of gateway load balancer tunnel interfaces.",
          "items": {
            "$ref": "#/definitions/GatewayLoadBalancerTunnelInterface"
          }
        },
        "loadBalancerBackendAddresses": {
          "type": "array",
          "description": "An array of backend addresses.",
          "items": {
            "$ref": "#/definitions/LoadBalancerBackendAddress"
          }
        },
        "backendIPConfigurations": {
          "type": "array",
          "description": "An array of references to IP addresses defined in network interfaces.",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
          },
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "An array of references to load balancing rules that use this backend address pool.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "outboundRule": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to an outbound rule that uses this backend address pool.",
          "readOnly": true
        },
        "outboundRules": {
          "type": "array",
          "description": "An array of references to outbound rules that use this backend address pool.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "inboundNatRules": {
          "type": "array",
          "description": "An array of references to inbound NAT rules that use this backend address pool.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the backend address pool resource.",
          "readOnly": true
        },
        "drainPeriodInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Amount of seconds Load Balancer waits for before sending RESET to client and backend address."
        },
        "virtualNetwork": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to a virtual network."
        },
        "syncMode": {
          "$ref": "#/definitions/SyncMode",
          "description": "Backend address synchronous mode for the backend pool"
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "Cloud error body."
        }
      }
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "description": "A list of additional details about the error.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          }
        }
      }
    },
    "Components1Jq1T4ISchemasManagedserviceidentityPropertiesUserassignedidentitiesAdditionalproperties": {
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal id of user assigned identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The client id of user assigned identity.",
          "readOnly": true
        }
      }
    },
    "CustomDnsConfigPropertiesFormat": {
      "type": "object",
      "description": "Contains custom Dns resolution configuration from customer.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fqdn that resolves to private endpoint ip address."
        },
        "ipAddresses": {
          "type": "array",
          "description": "A list of private ip addresses of the private endpoint.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DdosSettings": {
      "type": "object",
      "description": "Contains the DDoS protection settings of the public IP.",
      "properties": {
        "protectionMode": {
          "$ref": "#/definitions/DdosSettingsProtectionMode",
          "description": "The DDoS protection mode of the public IP"
        },
        "ddosProtectionPlan": {
          "$ref": "#/definitions/SubResource",
          "description": "The DDoS protection plan associated with the public IP. Can only be set if ProtectionMode is Enabled"
        }
      }
    },
    "DdosSettingsProtectionMode": {
      "type": "string",
      "description": "The DDoS protection mode of the public IP",
      "enum": [
        "VirtualNetworkInherited",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DdosSettingsProtectionMode",
        "modelAsString": true,
        "values": [
          {
            "name": "VirtualNetworkInherited",
            "value": "VirtualNetworkInherited",
            "description": "VirtualNetworkInherited"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "Delegation": {
      "type": "object",
      "description": "Details the service to which the subnet is delegated.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceDelegationPropertiesFormat",
          "description": "Properties of the subnet.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a subnet. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "DeleteOptions": {
      "type": "string",
      "description": "Specify what happens to the public IP address when the VM using it is deleted",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DeleteOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete"
          },
          {
            "name": "Detach",
            "value": "Detach",
            "description": "Detach"
          }
        ]
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "ExtendedLocation complex type.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/ExtendedLocationTypes",
          "description": "The type of the extended location."
        }
      }
    },
    "ExtendedLocationTypes": {
      "type": "string",
      "description": "The supported ExtendedLocation types. Currently only EdgeZone is supported in Microsoft.Network resources.",
      "enum": [
        "EdgeZone"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "EdgeZone"
          }
        ]
      }
    },
    "FlowLog": {
      "type": "object",
      "description": "A flow log resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FlowLogPropertiesFormat",
          "description": "Properties of the flow log.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentity",
          "description": "FlowLog resource Managed Identity"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "FlowLogFormatParameters": {
      "type": "object",
      "description": "Parameters that define the flow log format.",
      "properties": {
        "type": {
          "$ref": "#/definitions/FlowLogFormatType",
          "description": "The file type of flow log."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version (revision) of the flow log."
        }
      }
    },
    "FlowLogFormatType": {
      "type": "string",
      "description": "The file type of flow log.",
      "enum": [
        "JSON"
      ],
      "x-ms-enum": {
        "name": "FlowLogFormatType",
        "modelAsString": true,
        "values": [
          {
            "name": "JSON",
            "value": "JSON",
            "description": "JSON"
          }
        ]
      }
    },
    "FlowLogPropertiesFormat": {
      "type": "object",
      "description": "Parameters that define the configuration of flow log.",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "ID of network security group to which flow log will be applied."
        },
        "targetResourceGuid": {
          "type": "string",
          "description": "Guid of network security group to which flow log will be applied.",
          "readOnly": true
        },
        "storageId": {
          "type": "string",
          "description": "ID of the storage account which is used to store the flow log."
        },
        "enabledFilteringCriteria": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on SrcIP, SrcPort, DstIP, DstPort, Protocol, Encryption, Direction and Action. If not specified, all network traffic will be logged."
        },
        "recordTypes": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on flow states. Value of this field could be any comma separated combination string of letters B,C,E or D. B represents Begin, when a flow is created. C represents Continue for an ongoing flow generated at every five-minute interval. E represents End, when a flow is terminated. D represents Deny, when a flow is denied. If not specified, all network traffic will be logged."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag to enable/disable flow logging."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicyParameters",
          "description": "Parameters that define the retention policy for flow log."
        },
        "format": {
          "$ref": "#/definitions/FlowLogFormatParameters",
          "description": "Parameters that define the flow log format."
        },
        "flowAnalyticsConfiguration": {
          "$ref": "#/definitions/TrafficAnalyticsProperties",
          "description": "Parameters that define the configuration of traffic analytics."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the flow log.",
          "readOnly": true
        }
      },
      "required": [
        "targetResourceId",
        "storageId"
      ]
    },
    "FrontendIPConfiguration": {
      "type": "object",
      "description": "Frontend IP address of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FrontendIPConfigurationPropertiesFormat",
          "description": "Properties of the load balancer probe.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of frontend IP configurations used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "FrontendIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of Frontend IP Configuration of the load balancer.",
      "properties": {
        "inboundNatRules": {
          "type": "array",
          "description": "An array of references to inbound rules that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "inboundNatPools": {
          "type": "array",
          "description": "An array of references to inbound pools that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "outboundRules": {
          "type": "array",
          "description": "An array of references to outbound rules that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "An array of references to load balancing rules that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "The Private IP allocation method."
        },
        "privateIPAddressVersion": {
          "$ref": "#/definitions/IPVersion",
          "description": "Whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4."
        },
        "subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/PublicIPAddress",
          "description": "The reference to the Public IP resource."
        },
        "publicIPPrefix": {
          "$ref": "#/definitions/SubResource",
          "description": "The reference to the Public IP Prefix resource."
        },
        "gatewayLoadBalancer": {
          "$ref": "#/definitions/SubResource",
          "description": "The reference to gateway load balancer frontend IP."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the frontend IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "GatewayLoadBalancerTunnelInterface": {
      "type": "object",
      "description": "Gateway load balancer tunnel interface of a load balancer backend address pool.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port of gateway load balancer tunnel interface."
        },
        "identifier": {
          "type": "integer",
          "format": "int32",
          "description": "Identifier of gateway load balancer tunnel interface."
        },
        "protocol": {
          "$ref": "#/definitions/GatewayLoadBalancerTunnelProtocol",
          "description": "Protocol of gateway load balancer tunnel interface."
        },
        "type": {
          "$ref": "#/definitions/GatewayLoadBalancerTunnelInterfaceType",
          "description": "Traffic type of gateway load balancer tunnel interface."
        }
      }
    },
    "GatewayLoadBalancerTunnelInterfaceType": {
      "type": "string",
      "description": "Traffic type of gateway load balancer tunnel interface.",
      "enum": [
        "None",
        "Internal",
        "External"
      ],
      "x-ms-enum": {
        "name": "GatewayLoadBalancerTunnelInterfaceType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Internal",
            "value": "Internal",
            "description": "Internal"
          },
          {
            "name": "External",
            "value": "External",
            "description": "External"
          }
        ]
      }
    },
    "GatewayLoadBalancerTunnelProtocol": {
      "type": "string",
      "description": "Protocol of gateway load balancer tunnel interface.",
      "enum": [
        "None",
        "Native",
        "VXLAN"
      ],
      "x-ms-enum": {
        "name": "GatewayLoadBalancerTunnelProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Native",
            "value": "Native",
            "description": "Native"
          },
          {
            "name": "VXLAN",
            "value": "VXLAN",
            "description": "VXLAN"
          }
        ]
      }
    },
    "IPAllocationMethod": {
      "type": "string",
      "description": "IP address allocation method.",
      "enum": [
        "Static",
        "Dynamic"
      ],
      "x-ms-enum": {
        "name": "IPAllocationMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "Static",
            "value": "Static",
            "description": "Static"
          },
          {
            "name": "Dynamic",
            "value": "Dynamic",
            "description": "Dynamic"
          }
        ]
      }
    },
    "IPConfiguration": {
      "type": "object",
      "description": "IP configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IPConfigurationPropertiesFormat",
          "description": "Properties of the IP configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "IPConfigurationProfile": {
      "type": "object",
      "description": "IP configuration profile child resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IPConfigurationProfilePropertiesFormat",
          "description": "Properties of the IP configuration profile.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. This name can be used to access the resource."
        },
        "type": {
          "type": "string",
          "description": "Sub Resource type.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "IPConfigurationProfilePropertiesFormat": {
      "type": "object",
      "description": "IP configuration profile properties.",
      "properties": {
        "subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "The reference to the subnet resource to create a container network interface ip configuration."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the IP configuration profile resource.",
          "readOnly": true
        }
      }
    },
    "IPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/PublicIPAddress",
          "description": "The reference to the public IP resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "IPVersion": {
      "type": "string",
      "description": "IP address version.",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IPVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "IPv4",
            "value": "IPv4",
            "description": "IPv4"
          },
          {
            "name": "IPv6",
            "value": "IPv6",
            "description": "IPv6"
          }
        ]
      }
    },
    "InboundNatRule": {
      "type": "object",
      "description": "Inbound NAT rule of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InboundNatRulePropertiesFormat",
          "description": "Properties of load balancer inbound NAT rule.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of inbound NAT rules used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "InboundNatRulePropertiesFormat": {
      "type": "object",
      "description": "Properties of the inbound NAT rule.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendIPConfiguration": {
          "$ref": "#/definitions/NetworkInterfaceIPConfiguration",
          "description": "A reference to a private IP address defined on a network interface of a VM. Traffic sent to the frontend port of each of the frontend IP configurations is forwarded to the backend IP.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for the internal endpoint. Acceptable values range from 1 to 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "frontendPortRangeStart": {
          "type": "integer",
          "format": "int32",
          "description": "The port range start for the external endpoint. This property is used together with BackendAddressPool and FrontendPortRangeEnd. Individual inbound NAT rule port mappings will be created for each backend address from BackendAddressPool. Acceptable values range from 1 to 65534."
        },
        "frontendPortRangeEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The port range end for the external endpoint. This property is used together with BackendAddressPool and FrontendPortRangeStart. Individual inbound NAT rule port mappings will be created for each backend address from BackendAddressPool. Acceptable values range from 1 to 65534."
        },
        "backendAddressPool": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to backendAddressPool resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the inbound NAT rule resource.",
          "readOnly": true
        }
      }
    },
    "IpTag": {
      "type": "object",
      "description": "Contains the IpTag associated with the object.",
      "properties": {
        "ipTagType": {
          "type": "string",
          "description": "The IP tag type. Example: FirstPartyUsage."
        },
        "tag": {
          "type": "string",
          "description": "The value of the IP tag associated with the public IP. Example: SQL."
        }
      }
    },
    "IpamPoolPrefixAllocation": {
      "type": "object",
      "description": "IpamPool prefix allocation reference.",
      "properties": {
        "pool": {
          "$ref": "#/definitions/IpamPoolPrefixAllocationPool",
          "x-ms-client-flatten": true
        },
        "numberOfIpAddresses": {
          "type": "string",
          "description": "Number of IP addresses to allocate."
        },
        "allocatedAddressPrefixes": {
          "type": "array",
          "description": "List of assigned IP address prefixes in the IpamPool of the associated resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "IpamPoolPrefixAllocationPool": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource id of the associated Azure IpamPool resource."
        }
      }
    },
    "LoadBalancerBackendAddress": {
      "type": "object",
      "description": "Load balancer backend addresses.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadBalancerBackendAddressPropertiesFormat",
          "description": "Properties of load balancer backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address."
        }
      }
    },
    "LoadBalancerBackendAddressAdminState": {
      "type": "string",
      "description": "A list of administrative states which once set can override health probe so that Load Balancer will always forward new connections to backend, or deny new connections and reset existing connections.",
      "enum": [
        "None",
        "Up",
        "Down"
      ],
      "x-ms-enum": {
        "name": "LoadBalancerBackendAddressAdminState",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Up",
            "value": "Up",
            "description": "Up"
          },
          {
            "name": "Down",
            "value": "Down",
            "description": "Down"
          }
        ]
      }
    },
    "LoadBalancerBackendAddressPropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer backend addresses.",
      "properties": {
        "virtualNetwork": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to an existing virtual network."
        },
        "subnet": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to an existing subnet."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP Address belonging to the referenced virtual network."
        },
        "networkInterfaceIPConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to IP address defined in network interfaces.",
          "readOnly": true
        },
        "loadBalancerFrontendIPConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the frontend ip address configuration defined in regional loadbalancer."
        },
        "inboundNatRulesPortMapping": {
          "type": "array",
          "description": "Collection of inbound NAT rule port mappings.",
          "items": {
            "$ref": "#/definitions/NatRulePortMapping"
          },
          "readOnly": true
        },
        "adminState": {
          "$ref": "#/definitions/LoadBalancerBackendAddressAdminState",
          "description": "A list of administrative states which once set can override health probe so that Load Balancer will always forward new connections to backend, or deny new connections and reset existing connections."
        }
      }
    },
    "ManagedServiceIdentity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal id of the system assigned identity. This property will only be provided for a system assigned identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant id of the system assigned identity. This property will only be provided for a system assigned identity.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/ResourceIdentityType",
          "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the virtual machine."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "$ref": "#/definitions/Components1Jq1T4ISchemasManagedserviceidentityPropertiesUserassignedidentitiesAdditionalproperties"
          }
        }
      }
    },
    "NatGateway": {
      "type": "object",
      "description": "Nat Gateway resource.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/NatGatewaySku",
          "description": "The nat gateway SKU."
        },
        "properties": {
          "$ref": "#/definitions/NatGatewayPropertiesFormat",
          "description": "Nat Gateway properties.",
          "x-ms-client-flatten": true
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting the zone in which Nat Gateway should be deployed.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "NatGatewayPropertiesFormat": {
      "type": "object",
      "description": "Nat Gateway properties.",
      "properties": {
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The idle timeout of the nat gateway."
        },
        "publicIpAddresses": {
          "type": "array",
          "description": "An array of public ip addresses V4 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "publicIpAddressesV6": {
          "type": "array",
          "description": "An array of public ip addresses V6 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "publicIpPrefixes": {
          "type": "array",
          "description": "An array of public ip prefixes V4 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "publicIpPrefixesV6": {
          "type": "array",
          "description": "An array of public ip prefixes V6 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "subnets": {
          "type": "array",
          "description": "An array of references to the subnets using this nat gateway resource.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "sourceVirtualNetwork": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to the source virtual network using this nat gateway resource."
        },
        "serviceGateway": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to an existing service gateway."
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the NAT gateway resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the NAT gateway resource.",
          "readOnly": true
        }
      }
    },
    "NatGatewaySku": {
      "type": "object",
      "description": "SKU of nat gateway.",
      "properties": {
        "name": {
          "$ref": "#/definitions/NatGatewaySkuName",
          "description": "Name of Nat Gateway SKU."
        }
      }
    },
    "NatGatewaySkuName": {
      "type": "string",
      "description": "Name of Nat Gateway SKU.",
      "enum": [
        "Standard",
        "StandardV2"
      ],
      "x-ms-enum": {
        "name": "NatGatewaySkuName",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard"
          },
          {
            "name": "StandardV2",
            "value": "StandardV2",
            "description": "StandardV2"
          }
        ]
      }
    },
    "NatRulePortMapping": {
      "type": "object",
      "description": "Individual port mappings for inbound NAT rule created for backend pool.",
      "properties": {
        "inboundNatRuleName": {
          "type": "string",
          "description": "Name of inbound NAT rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Frontend port."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Backend port."
        }
      }
    },
    "NetworkInterface": {
      "type": "object",
      "description": "A network interface in a resource group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkInterfacePropertiesFormat",
          "description": "Properties of the network interface.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location of the network interface."
        },
        "etag": {
          "type": "string",
          "description": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../..common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "NetworkInterfaceAuxiliaryMode": {
      "type": "string",
      "description": "Auxiliary mode of Network Interface resource.",
      "enum": [
        "None",
        "MaxConnections",
        "Floating",
        "AcceleratedConnections"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliaryMode",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "MaxConnections",
            "value": "MaxConnections",
            "description": "MaxConnections"
          },
          {
            "name": "Floating",
            "value": "Floating",
            "description": "Floating"
          },
          {
            "name": "AcceleratedConnections",
            "value": "AcceleratedConnections",
            "description": "AcceleratedConnections"
          }
        ]
      }
    },
    "NetworkInterfaceAuxiliarySku": {
      "type": "string",
      "description": "Auxiliary sku of Network Interface resource.",
      "enum": [
        "None",
        "A1",
        "A2",
        "A4",
        "A8"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliarySku",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "A1",
            "value": "A1",
            "description": "A1"
          },
          {
            "name": "A2",
            "value": "A2",
            "description": "A2"
          },
          {
            "name": "A4",
            "value": "A4",
            "description": "A4"
          },
          {
            "name": "A8",
            "value": "A8",
            "description": "A8"
          }
        ]
      }
    },
    "NetworkInterfaceDnsSettings": {
      "type": "object",
      "description": "DNS settings of a network interface.",
      "properties": {
        "dnsServers": {
          "type": "array",
          "description": "List of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must be the only value in dnsServers collection.",
          "items": {
            "type": "string"
          }
        },
        "appliedDnsServers": {
          "type": "array",
          "description": "If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "internalDnsNameLabel": {
          "type": "string",
          "description": "Relative DNS name for this NIC used for internal communications between VMs in the same virtual network."
        },
        "internalFqdn": {
          "type": "string",
          "description": "Fully qualified DNS name supporting internal communications between VMs in the same virtual network.",
          "readOnly": true
        },
        "internalDomainNameSuffix": {
          "type": "string",
          "description": "Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.",
          "readOnly": true
        }
      }
    },
    "NetworkInterfaceIPConfiguration": {
      "type": "object",
      "description": "IPConfiguration in a network interface.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat",
          "description": "Network interface IP configuration properties.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../..common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NetworkInterfaceIPConfigurationListResult": {
      "type": "object",
      "description": "The response of a NetworkInterfaceIPConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkInterfaceIPConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkInterfaceIPConfigurationPrivateLinkConnectionProperties": {
      "type": "object",
      "description": "PrivateLinkConnection properties for the network interface.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The group ID for current private link connection.",
          "readOnly": true
        },
        "requiredMemberName": {
          "type": "string",
          "description": "The required member name for current private link connection.",
          "readOnly": true
        },
        "fqdns": {
          "type": "array",
          "description": "List of FQDNs for current private link connection.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "NetworkInterfaceIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration.",
      "properties": {
        "gatewayLoadBalancer": {
          "$ref": "#/definitions/SubResource",
          "description": "The reference to gateway load balancer frontend IP."
        },
        "virtualNetworkTaps": {
          "type": "array",
          "description": "The reference to Virtual Network Taps.",
          "items": {
            "$ref": "#/definitions/VirtualNetworkTap"
          }
        },
        "applicationGatewayBackendAddressPools": {
          "type": "array",
          "description": "The reference to ApplicationGatewayBackendAddressPool resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendAddressPool"
          }
        },
        "loadBalancerBackendAddressPools": {
          "type": "array",
          "description": "The reference to LoadBalancerBackendAddressPool resource.",
          "items": {
            "$ref": "#/definitions/BackendAddressPool"
          }
        },
        "loadBalancerInboundNatRules": {
          "type": "array",
          "description": "A list of references of LoadBalancerInboundNatRules.",
          "items": {
            "$ref": "#/definitions/InboundNatRule"
          }
        },
        "privateIPAddress": {
          "type": "string",
          "description": "Private IP address of the IP configuration. It can be a single IP address or a CIDR block in the format <address>/<prefix-length>."
        },
        "privateIPAddressPrefixLength": {
          "type": "integer",
          "format": "int32",
          "description": "The private IP address prefix length. If specified and the allocation method is dynamic, the service will allocate a CIDR block instead of a single IP address.",
          "minimum": 1,
          "maximum": 128
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "privateIPAddressVersion": {
          "$ref": "#/definitions/IPVersion",
          "description": "Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4."
        },
        "subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "Subnet bound to the IP configuration."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether this is a primary customer address on the network interface."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/PublicIPAddress",
          "description": "Public IP address bound to the IP configuration."
        },
        "applicationSecurityGroups": {
          "type": "array",
          "description": "Application security groups in which the IP configuration is included.",
          "items": {
            "$ref": "#/definitions/ApplicationSecurityGroup"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the network interface IP configuration.",
          "readOnly": true
        },
        "privateLinkConnectionProperties": {
          "$ref": "#/definitions/NetworkInterfaceIPConfigurationPrivateLinkConnectionProperties",
          "description": "PrivateLinkConnection properties for the network interface.",
          "readOnly": true
        }
      }
    },
    "NetworkInterfaceListResult": {
      "type": "object",
      "description": "The response of a NetworkInterface list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkInterface items on this page",
          "items": {
            "$ref": "#/definitions/NetworkInterface"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkInterfaceMigrationPhase": {
      "type": "string",
      "description": "Migration phase of Network Interface resource.",
      "enum": [
        "None",
        "Prepare",
        "Commit",
        "Abort",
        "Committed"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceMigrationPhase",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Prepare",
            "value": "Prepare",
            "description": "Prepare"
          },
          {
            "name": "Commit",
            "value": "Commit",
            "description": "Commit"
          },
          {
            "name": "Abort",
            "value": "Abort",
            "description": "Abort"
          },
          {
            "name": "Committed",
            "value": "Committed",
            "description": "Committed"
          }
        ]
      }
    },
    "NetworkInterfaceNicType": {
      "type": "string",
      "description": "Type of Network Interface resource.",
      "enum": [
        "Standard",
        "Elastic"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceNicType",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard"
          },
          {
            "name": "Elastic",
            "value": "Elastic",
            "description": "Elastic"
          }
        ]
      }
    },
    "NetworkInterfacePropertiesFormat": {
      "type": "object",
      "description": "NetworkInterface properties.",
      "properties": {
        "virtualMachine": {
          "$ref": "#/definitions/SubResource",
          "description": "The reference to a virtual machine.",
          "readOnly": true
        },
        "networkSecurityGroup": {
          "$ref": "#/definitions/NetworkSecurityGroup",
          "description": "The reference to the NetworkSecurityGroup resource."
        },
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "A reference to the private endpoint to which the network interface is linked.",
          "readOnly": true
        },
        "ipConfigurations": {
          "type": "array",
          "description": "A list of IPConfigurations of the network interface.",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
          }
        },
        "tapConfigurations": {
          "type": "array",
          "description": "A list of TapConfigurations of the network interface.",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceTapConfiguration"
          },
          "readOnly": true
        },
        "dnsSettings": {
          "$ref": "#/definitions/NetworkInterfaceDnsSettings",
          "description": "The DNS settings in network interface."
        },
        "macAddress": {
          "type": "string",
          "description": "The MAC address of the network interface.",
          "readOnly": true
        },
        "primary": {
          "type": "boolean",
          "description": "Whether this is a primary network interface on a virtual machine.",
          "readOnly": true
        },
        "vnetEncryptionSupported": {
          "type": "boolean",
          "description": "Whether the virtual machine this nic is attached to supports encryption.",
          "readOnly": true
        },
        "defaultOutboundConnectivityEnabled": {
          "type": "boolean",
          "description": "Whether default outbound connectivity for nic was configured or not.",
          "readOnly": true
        },
        "enableAcceleratedNetworking": {
          "type": "boolean",
          "description": "If the network interface is configured for accelerated networking. Not applicable to VM sizes which require accelerated networking."
        },
        "disableTcpStateTracking": {
          "type": "boolean",
          "description": "Indicates whether to disable tcp state tracking."
        },
        "enableIPForwarding": {
          "type": "boolean",
          "description": "Indicates whether IP forwarding is enabled on this network interface."
        },
        "hostedWorkloads": {
          "type": "array",
          "description": "A list of references to linked BareMetal resources.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "dscpConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to the dscp configuration to which the network interface is linked.",
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the network interface resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the network interface resource.",
          "readOnly": true
        },
        "workloadType": {
          "type": "string",
          "description": "WorkloadType of the NetworkInterface for BareMetal resources"
        },
        "nicType": {
          "$ref": "#/definitions/NetworkInterfaceNicType",
          "description": "Type of Network Interface resource."
        },
        "privateLinkService": {
          "$ref": "#/definitions/PrivateLinkService",
          "description": "Privatelinkservice of the network interface resource."
        },
        "migrationPhase": {
          "$ref": "#/definitions/NetworkInterfaceMigrationPhase",
          "description": "Migration phase of Network Interface resource."
        },
        "auxiliaryMode": {
          "$ref": "#/definitions/NetworkInterfaceAuxiliaryMode",
          "description": "Auxiliary mode of Network Interface resource."
        },
        "auxiliarySku": {
          "$ref": "#/definitions/NetworkInterfaceAuxiliarySku",
          "description": "Auxiliary sku of Network Interface resource."
        }
      }
    },
    "NetworkInterfaceTapConfiguration": {
      "type": "object",
      "description": "Tap configuration in a Network Interface.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkInterfaceTapConfigurationPropertiesFormat",
          "description": "Properties of the Virtual Network Tap configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Sub Resource type.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "NetworkInterfaceTapConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of Virtual Network Tap configuration.",
      "properties": {
        "virtualNetworkTap": {
          "$ref": "#/definitions/VirtualNetworkTap",
          "description": "The reference to the Virtual Network Tap resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the network interface tap configuration resource.",
          "readOnly": true
        }
      }
    },
    "NetworkSecurityGroup": {
      "type": "object",
      "description": "NetworkSecurityGroup resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityGroupPropertiesFormat",
          "description": "Properties of the network security group.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "NetworkSecurityGroupPropertiesFormat": {
      "type": "object",
      "description": "Network Security Group resource.",
      "properties": {
        "flushConnection": {
          "type": "boolean",
          "description": "When enabled, flows created from Network Security Group connections will be re-evaluated when rules are updates. Initial enablement will trigger re-evaluation."
        },
        "securityRules": {
          "type": "array",
          "description": "A collection of security rules of the network security group.",
          "items": {
            "$ref": "#/definitions/SecurityRule"
          }
        },
        "defaultSecurityRules": {
          "type": "array",
          "description": "The default security rules of network security group.",
          "items": {
            "$ref": "#/definitions/SecurityRule"
          },
          "readOnly": true
        },
        "networkInterfaces": {
          "type": "array",
          "description": "A collection of references to network interfaces.",
          "items": {
            "$ref": "#/definitions/NetworkInterface"
          },
          "readOnly": true
        },
        "subnets": {
          "type": "array",
          "description": "A collection of references to subnets.",
          "items": {
            "$ref": "#/definitions/Subnet"
          },
          "readOnly": true
        },
        "flowLogs": {
          "type": "array",
          "description": "A collection of references to flow log resources.",
          "items": {
            "$ref": "#/definitions/FlowLog"
          },
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the network security group resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the network security group resource.",
          "readOnly": true
        }
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "Private endpoint resource.",
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location of the load balancer."
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointProperties",
          "description": "Properties of the private endpoint.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "PrivateEndpointConnection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Properties of the private end point connection.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of the PrivateEndpointConnectProperties.",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The resource of private end point.",
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the private endpoint connection resource.",
          "readOnly": true
        },
        "linkIdentifier": {
          "type": "string",
          "description": "The consumer link id.",
          "readOnly": true
        },
        "privateEndpointLocation": {
          "type": "string",
          "description": "The location of the private endpoint.",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointIPConfiguration": {
      "type": "object",
      "description": "An IP Configuration of the private endpoint.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointIPConfigurationProperties",
          "description": "Properties of private endpoint IP configurations.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group."
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointIPConfigurationProperties": {
      "type": "object",
      "description": "Properties of an IP Configuration of the private endpoint.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The ID of a group obtained from the remote resource that this private endpoint should connect to."
        },
        "memberName": {
          "type": "string",
          "description": "The member name of a group obtained from the remote resource that this private endpoint should connect to."
        },
        "privateIPAddress": {
          "type": "string",
          "description": "A private ip address obtained from the private endpoint's subnet."
        }
      }
    },
    "PrivateEndpointProperties": {
      "type": "object",
      "description": "Properties of the private endpoint.",
      "properties": {
        "subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "The ID of the subnet from which the private IP will be allocated."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "An array of references to the network interfaces created for this private endpoint.",
          "items": {
            "$ref": "#/definitions/NetworkInterface"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the private endpoint resource.",
          "readOnly": true
        },
        "ipVersionType": {
          "type": "string",
          "description": "Specifies the IP version type for the private IPs of the private endpoint. If not defined, this defaults to IPv4.",
          "default": "IPv4",
          "enum": [
            "IPv4",
            "IPv6",
            "DualStack"
          ],
          "x-ms-enum": {
            "name": "PrivateEndpointIPVersionType",
            "modelAsString": true,
            "values": [
              {
                "name": "IPv4",
                "value": "IPv4",
                "description": "Indicates that the Private IPs of the private endpoint will be IPv4 only."
              },
              {
                "name": "IPv6",
                "value": "IPv6",
                "description": "Indicates that the Private IPs of the private endpoint will be IPv6 only."
              },
              {
                "name": "DualStack",
                "value": "DualStack",
                "description": "Indicates that the Private IPs of the private endpoint can be both IPv4 and IPv6."
              }
            ]
          }
        },
        "privateLinkServiceConnections": {
          "type": "array",
          "description": "A grouping of information about the connection to the remote resource.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          }
        },
        "manualPrivateLinkServiceConnections": {
          "type": "array",
          "description": "A grouping of information about the connection to the remote resource. Used when the network admin does not have access to approve connections to the remote resource.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          }
        },
        "customDnsConfigs": {
          "type": "array",
          "description": "An array of custom dns configurations.",
          "items": {
            "$ref": "#/definitions/CustomDnsConfigPropertiesFormat"
          }
        },
        "applicationSecurityGroups": {
          "type": "array",
          "description": "Application security groups in which the private endpoint IP configuration is included.",
          "items": {
            "$ref": "#/definitions/ApplicationSecurityGroup"
          }
        },
        "ipConfigurations": {
          "type": "array",
          "description": "A list of IP configurations of the private endpoint. This will be used to map to the First Party Service's endpoints.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointIPConfiguration"
          }
        },
        "customNetworkInterfaceName": {
          "type": "string",
          "description": "The custom name of the network interface attached to the private endpoint."
        }
      }
    },
    "PrivateLinkService": {
      "type": "object",
      "description": "Private link service resource.",
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location of the load balancer."
        },
        "properties": {
          "$ref": "#/definitions/PrivateLinkServiceProperties",
          "description": "Properties of the private link service.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PrivateLinkServiceConnection": {
      "type": "object",
      "description": "PrivateLinkServiceConnection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionProperties",
          "description": "Properties of the private link service connection.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "PrivateLinkServiceConnectionProperties": {
      "type": "object",
      "description": "Properties of the PrivateLinkServiceConnection.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the private link service connection resource.",
          "readOnly": true
        },
        "privateLinkServiceId": {
          "type": "string",
          "description": "The resource id of private link service."
        },
        "groupIds": {
          "type": "array",
          "description": "The ID(s) of the group(s) obtained from the remote resource that this private endpoint should connect to.",
          "items": {
            "type": "string"
          }
        },
        "requestMessage": {
          "type": "string",
          "description": "A message passed to the owner of the remote resource with this connection request. Restricted to 140 chars."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of read-only information about the state of the connection to the remote resource."
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "A collection of information about the state of the connection between service consumer and provider.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
        },
        "description": {
          "type": "string",
          "description": "The reason for approval/rejection of the connection."
        },
        "actionsRequired": {
          "type": "string",
          "description": "A message indicating if changes on the service provider require any updates on the consumer."
        }
      }
    },
    "PrivateLinkServiceIpConfiguration": {
      "type": "object",
      "description": "The private link service ip configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkServiceIpConfigurationProperties",
          "description": "Properties of the private link service ip configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of private link service ip configuration."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "PrivateLinkServiceIpConfigurationProperties": {
      "type": "object",
      "description": "Properties of private link service IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the ip configuration is primary or not."
        },
        "provisioningState": {
[...]
