{
  "swagger": "2.0",
  "info": {
    "title": "LoadTest Client",
    "version": "2023-12-01-preview",
    "description": "LoadTest client provides access to LoadTest Resource and it's status operations.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LoadTests"
    },
    {
      "name": "Quotas"
    },
    {
      "name": "LoadTestMappings"
    },
    {
      "name": "LoadTestProfileMappings"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.LoadTestService/loadTestMappings": {
      "get": {
        "operationId": "LoadTestMappings_List",
        "tags": [
          "LoadTestMappings"
        ],
        "description": "List LoadTestMappingResource resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Load Test Mappings by Source Resource Id": {
            "$ref": "./examples/LoadTestMappings_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.LoadTestService/loadTestMappings/{loadTestMappingName}": {
      "get": {
        "operationId": "LoadTestMappings_Get",
        "tags": [
          "LoadTestMappings"
        ],
        "description": "Get a LoadTestMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestMappingName",
            "in": "path",
            "description": "Load Test Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Load Test Mapping Resource": {
            "$ref": "./examples/LoadTestMappings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LoadTestMappings_CreateOrUpdate",
        "tags": [
          "LoadTestMappings"
        ],
        "description": "Create a LoadTestMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestMappingName",
            "in": "path",
            "description": "Load Test Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LoadTestMappingResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResource"
            }
          },
          "201": {
            "description": "Resource 'LoadTestMappingResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Load Test Mapping Resource": {
            "$ref": "./examples/LoadTestMappings_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "LoadTestMappings_Update",
        "tags": [
          "LoadTestMappings"
        ],
        "description": "Update a LoadTestMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestMappingName",
            "in": "path",
            "description": "Load Test Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestMappingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a load test mapping": {
            "$ref": "./examples/LoadTestMappings_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "LoadTestMappings_Delete",
        "tags": [
          "LoadTestMappings"
        ],
        "description": "Delete a LoadTestMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestMappingName",
            "in": "path",
            "description": "Load Test Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Load Test Mapping Resource": {
            "$ref": "./examples/LoadTestMappings_Delete.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.LoadTestService/loadTestProfileMappings": {
      "get": {
        "operationId": "LoadTestProfileMappings_List",
        "tags": [
          "LoadTestProfileMappings"
        ],
        "description": "List LoadTestProfileMappingResource resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Load Test Profile Mappings by Source Resource Id": {
            "$ref": "./examples/LoadTestProfileMappings_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.LoadTestService/loadTestProfileMappings/{loadTestProfileMappingName}": {
      "get": {
        "operationId": "LoadTestProfileMappings_Get",
        "tags": [
          "LoadTestProfileMappings"
        ],
        "description": "Get a LoadTestProfileMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestProfileMappingName",
            "in": "path",
            "description": "Load Test Profile Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Load Test Profile Mapping Resource": {
            "$ref": "./examples/LoadTestProfileMappings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LoadTestProfileMappings_CreateOrUpdate",
        "tags": [
          "LoadTestProfileMappings"
        ],
        "description": "Create a LoadTestProfileMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestProfileMappingName",
            "in": "path",
            "description": "Load Test Profile Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LoadTestProfileMappingResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResource"
            }
          },
          "201": {
            "description": "Resource 'LoadTestProfileMappingResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Load Test Profile Mappings resource": {
            "$ref": "./examples/LoadTestProfileMappings_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "LoadTestProfileMappings_Update",
        "tags": [
          "LoadTestProfileMappings"
        ],
        "description": "Update a LoadTestProfileMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestProfileMappingName",
            "in": "path",
            "description": "Load Test Profile Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestProfileMappingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Load Test Profile Mapping": {
            "$ref": "./examples/LoadTestProfileMappings_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "LoadTestProfileMappings_Delete",
        "tags": [
          "LoadTestProfileMappings"
        ],
        "description": "Delete a LoadTestProfileMappingResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "loadTestProfileMappingName",
            "in": "path",
            "description": "Load Test Profile Mapping name",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Load Test Profile Mapping Resource": {
            "$ref": "./examples/LoadTestProfileMappings_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.LoadTestService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "operationId": "LoadTests_ListBySubscription",
        "tags": [
          "LoadTests"
        ],
        "description": "List LoadTestResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List LoadTestResource resources by subscription ID.": {
            "$ref": "./examples/LoadTests_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas": {
      "get": {
        "operationId": "Quotas_List",
        "tags": [
          "Quotas"
        ],
        "description": "List quotas for a given subscription Id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QuotaResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List quotas for a given subscription Id.": {
            "$ref": "./examples/Quotas_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas/{quotaBucketName}": {
      "get": {
        "operationId": "Quotas_Get",
        "tags": [
          "Quotas"
        ],
        "description": "Get the available quota for a quota bucket per region per subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "quotaBucketName",
            "in": "path",
            "description": "The quota name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QuotaResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the available quota for a quota bucket per region per subscription.": {
            "$ref": "./examples/Quotas_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas/{quotaBucketName}/checkAvailability": {
      "post": {
        "operationId": "Quotas_CheckAvailability",
        "tags": [
          "Quotas"
        ],
        "description": "Check Quota Availability on quota bucket per region per subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "quotaBucketName",
            "in": "path",
            "description": "The quota name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "QuotaBucketRequest",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuotaBucketRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CheckQuotaAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check Quota Availability on quota bucket per region per subscription.": {
            "$ref": "./examples/Quotas_CheckAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "operationId": "LoadTests_ListByResourceGroup",
        "tags": [
          "LoadTests"
        ],
        "description": "List LoadTestResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List LoadTestResource resources by resource group.": {
            "$ref": "./examples/LoadTests_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}": {
      "get": {
        "operationId": "LoadTests_Get",
        "tags": [
          "LoadTests"
        ],
        "description": "Get a LoadTestResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a LoadTestResource.": {
            "$ref": "./examples/LoadTests_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LoadTests_CreateOrUpdate",
        "tags": [
          "LoadTests"
        ],
        "description": "Create a LoadTestResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name",
            "required": true,
            "type": "string"
          },
          {
            "name": "LoadTestResource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LoadTestResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "201": {
            "description": "Resource 'LoadTestResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a LoadTestResource": {
            "$ref": "./examples/LoadTests_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LoadTests_Update",
        "tags": [
          "LoadTests"
        ],
        "description": "Update a LoadTestResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name",
            "required": true,
            "type": "string"
          },
          {
            "name": "LoadTestResourcePatchRequestBody",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestResourceUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a LoadTestResource.": {
            "$ref": "./examples/LoadTests_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LoadTests_Delete",
        "tags": [
          "LoadTests"
        ],
        "description": "Delete a LoadTestResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a LoadTestResource.": {
            "$ref": "./examples/LoadTests_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}/outboundNetworkDependenciesEndpoints": {
      "get": {
        "operationId": "LoadTests_ListOutboundNetworkDependenciesEndpoints",
        "tags": [
          "LoadTests"
        ],
        "description": "Lists the endpoints that agents may call as part of load testing.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedOutboundEnvironmentEndpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists the endpoints that agents may call as part of load testing.": {
            "$ref": "./examples/LoadTests_ListOutboundNetworkDependenciesEndpoints.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CheckQuotaAvailabilityResponse": {
      "type": "object",
      "description": "Check quota availability response object.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/CheckQuotaAvailabilityResponseProperties",
          "description": "Check quota availability response properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "CheckQuotaAvailabilityResponseProperties": {
      "type": "object",
      "description": "Check quota availability response properties.",
      "properties": {
        "isAvailable": {
          "type": "boolean",
          "description": "True/False indicating whether the quota request be granted based on availability."
        },
        "availabilityStatus": {
          "type": "string",
          "description": "Message indicating additional details to add to quota support request."
        }
      }
    },
    "EncryptionProperties": {
      "type": "object",
      "description": "Key and identity details for Customer Managed Key encryption of load test resource.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/EncryptionPropertiesIdentity",
          "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault."
        },
        "keyUrl": {
          "type": "string",
          "description": "key encryption key Url, versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek."
        }
      }
    },
    "EncryptionPropertiesIdentity": {
      "type": "object",
      "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault.",
      "properties": {
        "type": {
          "$ref": "#/definitions/type",
          "description": "Managed identity type to use for accessing encryption key Url."
        },
        "resourceId": {
          "type": "string",
          "description": "User assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/a0a0a0a0-bbbb-cccd-dddd-e1e1e1e1e1e1/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.",
          "x-nullable": true
        }
      }
    },
    "EndpointDependency": {
      "type": "object",
      "description": "A domain name and connection details used to access a dependency.",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "The domain name of the dependency. Domain names may be fully qualified or may contain a * wildcard.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Human-readable supplemental information about the dependency and when it is applicable.",
          "readOnly": true
        },
        "endpointDetails": {
          "type": "array",
          "description": "The list of connection details for this endpoint.",
          "items": {
            "$ref": "#/definitions/EndpointDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "port"
          ]
        }
      },
      "required": [
        "domainName"
      ]
    },
    "EndpointDetail": {
      "type": "object",
      "description": "Details about the connection between the Batch service and the endpoint.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port an endpoint is connected to.",
          "readOnly": true
        }
      }
    },
    "LoadTestMappingProperties": {
      "type": "object",
      "description": "Azure LoadTest mapping resource properties.",
      "properties": {
        "sourceResourceId": {
          "type": "string",
          "description": "Mapped source resource Id.",
          "maxLength": 1024
        },
        "azureLoadTestingResourceId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource Id.",
          "maxLength": 1024
        },
        "testId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource test-id.",
          "maxLength": 256
        }
      }
    },
    "LoadTestMappingResource": {
      "type": "object",
      "description": "LoadTest mapping resource details",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadTestMappingProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LoadTestMappingResourceListResult": {
      "type": "object",
      "description": "The response of a LoadTestMappingResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadTestMappingResource items on this page",
          "items": {
            "$ref": "#/definitions/LoadTestMappingResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadTestMappingResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LoadTestMappingResource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadTestMappingResourceUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "LoadTestMappingResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LoadTestMappingResource.",
      "properties": {
        "sourceResourceId": {
          "type": "string",
          "description": "Mapped source resource Id.",
          "maxLength": 1024
        },
        "azureLoadTestingResourceId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource Id.",
          "maxLength": 1024
        },
        "testId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource test-id.",
          "maxLength": 256
        }
      }
    },
    "LoadTestProfileMappingProperties": {
      "type": "object",
      "description": "Azure LoadTest profile mapping resource properties.",
      "properties": {
        "sourceResourceId": {
          "type": "string",
          "description": "Mapped source resource Id.",
          "maxLength": 1024
        },
        "azureLoadTestingResourceId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource Id.",
          "maxLength": 1024
        },
        "testProfileId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource test-profile-id.",
          "maxLength": 60
        }
      }
    },
    "LoadTestProfileMappingResource": {
      "type": "object",
      "description": "LoadTest profile mapping resource details",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadTestProfileMappingProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LoadTestProfileMappingResourceListResult": {
      "type": "object",
      "description": "The response of a LoadTestProfileMappingResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadTestProfileMappingResource items on this page",
          "items": {
            "$ref": "#/definitions/LoadTestProfileMappingResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadTestProfileMappingResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LoadTestProfileMappingResource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadTestProfileMappingResourceUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "LoadTestProfileMappingResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LoadTestProfileMappingResource.",
      "properties": {
        "sourceResourceId": {
          "type": "string",
          "description": "Mapped source resource Id.",
          "maxLength": 1024
        },
        "azureLoadTestingResourceId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource Id.",
          "maxLength": 1024
        },
        "testProfileId": {
          "type": "string",
          "description": "Mapped Azure Load Test resource test-profile-id.",
          "maxLength": 60
        }
      }
    },
    "LoadTestProperties": {
      "type": "object",
      "description": "LoadTest resource properties.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the resource.",
          "maxLength": 512
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "dataPlaneURI": {
          "type": "string",
          "description": "Resource data plane URI.",
          "maxLength": 2083,
          "readOnly": true
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "CMK Encryption property."
        }
      }
    },
    "LoadTestResource": {
      "type": "object",
      "description": "LoadTest details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadTestProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LoadTestResourceListResult": {
      "type": "object",
      "description": "The response of a LoadTestResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadTestResource items on this page",
          "items": {
            "$ref": "#/definitions/LoadTestResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadTestResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LoadTestResource.",
      "properties": {
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/LoadTestResourceUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "LoadTestResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LoadTestResource.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the resource.",
          "maxLength": 512
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "CMK Encryption property."
        }
      }
    },
    "OutboundEnvironmentEndpoint": {
      "type": "object",
      "description": "A collection of related endpoints from the same service for which the Batch service requires outbound access.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The type of service that Azure Load Testing connects to.",
          "readOnly": true
        },
        "endpoints": {
          "type": "array",
          "description": "The endpoints for this service to which the Batch service makes outbound calls.",
          "items": {
            "$ref": "#/definitions/EndpointDependency"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "domainName"
          ]
        }
      }
    },
    "PagedOutboundEnvironmentEndpoint": {
      "type": "object",
      "description": "Values returned by the List operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OutboundEnvironmentEndpoint items on this page",
          "items": {
            "$ref": "#/definitions/OutboundEnvironmentEndpoint"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "QuotaBucketRequest": {
      "type": "object",
      "description": "Request object of new quota for a quota bucket.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/QuotaBucketRequestProperties",
          "description": "Request object of new quota for a quota bucket.",
          "x-ms-client-flatten": true
        }
      }
    },
    "QuotaBucketRequestProperties": {
      "type": "object",
      "description": "New quota request request properties.",
      "properties": {
        "currentUsage": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota usage of the quota bucket.",
          "minimum": 0
        },
        "currentQuota": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota limit of the quota bucket.",
          "minimum": 0
        },
        "newQuota": {
          "type": "integer",
          "format": "int32",
          "description": "New quota limit of the quota bucket.",
          "minimum": 0
        },
        "dimensions": {
          "$ref": "#/definitions/QuotaBucketRequestPropertiesDimensions",
          "description": "Dimensions for new quota request."
        }
      }
    },
    "QuotaBucketRequestPropertiesDimensions": {
      "type": "object",
      "description": "Dimensions for new quota request.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id dimension for new quota request of the quota bucket.",
          "minLength": 1
        },
        "location": {
          "type": "string",
          "description": "Location dimension for new quota request of the quota bucket.",
          "minLength": 1
        }
      }
    },
    "QuotaResource": {
      "type": "object",
      "description": "Quota bucket details object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/QuotaResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "QuotaResourceListResult": {
      "type": "object",
      "description": "The response of a QuotaResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The QuotaResource items on this page",
          "items": {
            "$ref": "#/definitions/QuotaResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "QuotaResourceProperties": {
      "type": "object",
      "description": "Quota bucket resource properties.",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota limit of the quota bucket.",
          "minimum": 0
        },
        "usage": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota usage of the quota bucket.",
          "minimum": 0
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceState",
          "description": "Resource provisioning state.",
          "readOnly": true
        }
      }
    },
    "ResourceState": {
      "type": "string",
      "description": "Resources provisioning states.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Deleted state."
          }
        ]
      },
      "readOnly": true
    },
    "type": {
      "type": "string",
      "description": "Managed identity type to use for accessing encryption key Url.",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "type",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned identity."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
