{
  "swagger": "2.0",
  "info": {
    "title": "PaloAltoNetworks.Cloudngfw",
    "version": "2023-09-01",
    "description": "// FIXME: (miissing-service-description) Add service description",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GlobalRulestacks"
    },
    {
      "name": "GlobalRulestackCertificateObjects"
    },
    {
      "name": "GlobalRulestackFqdns"
    },
    {
      "name": "PostRulestackRules"
    },
    {
      "name": "GlobalRulestackPrefixes"
    },
    {
      "name": "PreRulestackRules"
    },
    {
      "name": "PaloAltoNetworksFirewalls"
    },
    {
      "name": "LocalRulestacks"
    },
    {
      "name": "PaloAltoNetworksFirewallStatuses"
    },
    {
      "name": "LocalRulestackCertificateObjects"
    },
    {
      "name": "LocalRulestackFqdns"
    },
    {
      "name": "LocalRulestackRules"
    },
    {
      "name": "LocalRulestackPrefixes"
    }
  ],
  "paths": {
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks": {
      "get": {
        "operationId": "GlobalRulestacks_ListByTenant",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "List GlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}": {
      "get": {
        "operationId": "GlobalRulestacks_Get",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Get a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestack"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "GlobalRulestacks_CreateOrUpdate",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Create a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GlobalRulestack' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestack"
            }
          },
          "201": {
            "description": "Resource 'GlobalRulestack' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestack"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GlobalRulestacks_Update",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Update a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestackUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestack"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "GlobalRulestacks_Delete",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Delete a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/certificates": {
      "get": {
        "operationId": "GlobalRulestackCertificateObjects_ListByGlobalRulestack",
        "tags": [
          "GlobalRulestackCertificateObjects"
        ],
        "description": "List CertificateObjectGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackCertificateObjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/certificates/{name}": {
      "get": {
        "operationId": "GlobalRulestackCertificateObjects_Get",
        "tags": [
          "GlobalRulestackCertificateObjects"
        ],
        "description": "Get a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "certificate name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackCertificateObject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "GlobalRulestackCertificateObjects_CreateOrUpdate",
        "tags": [
          "GlobalRulestackCertificateObjects"
        ],
        "description": "Create a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "certificate name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestackCertificateObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GlobalRulestackCertificateObject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackCertificateObject"
            }
          },
          "201": {
            "description": "Resource 'GlobalRulestackCertificateObject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackCertificateObject"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GlobalRulestackCertificateObjects_Delete",
        "tags": [
          "GlobalRulestackCertificateObjects"
        ],
        "description": "Delete a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "certificate name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/commit": {
      "post": {
        "operationId": "GlobalRulestacks_Commit",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Commit rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/fqdnlists": {
      "get": {
        "operationId": "GlobalRulestackFqdns_ListByGlobalRulestack",
        "tags": [
          "GlobalRulestackFqdns"
        ],
        "description": "List FqdnListGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackFqdnListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/fqdnlists/{name}": {
      "get": {
        "operationId": "GlobalRulestackFqdns_Get",
        "tags": [
          "GlobalRulestackFqdns"
        ],
        "description": "Get a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "fqdn list name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackFqdn"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "GlobalRulestackFqdns_CreateOrUpdate",
        "tags": [
          "GlobalRulestackFqdns"
        ],
        "description": "Create a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "fqdn list name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestackFqdn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GlobalRulestackFqdn' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackFqdn"
            }
          },
          "201": {
            "description": "Resource 'GlobalRulestackFqdn' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackFqdn"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GlobalRulestackFqdns_Delete",
        "tags": [
          "GlobalRulestackFqdns"
        ],
        "description": "Delete a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "fqdn list name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/getChangeLog": {
      "post": {
        "operationId": "GlobalRulestacks_GetChangeLog",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Get changelog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Changelog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/listAdvancedSecurityObjects": {
      "post": {
        "operationId": "GlobalRulestacks_ListAdvancedSecurityObjects",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Get the list of advanced security objects",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "urlCustom",
              "feeds"
            ],
            "x-ms-enum": {
              "name": "AdvSecurityObjectTypeEnum",
              "modelAsString": true
            }
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AdvSecurityObjectListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/listAppIds": {
      "post": {
        "operationId": "GlobalRulestacks_ListAppIds",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "List of AppIds for GlobalRulestack ApiVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "appIdVersion",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "appPrefix",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListAppIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/listCountries": {
      "post": {
        "operationId": "GlobalRulestacks_ListCountries",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "List of countries for Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/listFirewalls": {
      "post": {
        "operationId": "GlobalRulestacks_ListFirewalls",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "List of Firewalls associated with Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListFirewallsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/listPredefinedUrlCategories": {
      "post": {
        "operationId": "GlobalRulestacks_ListPredefinedUrlCategories",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "List predefined URL categories for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PredefinedUrlCategoriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/listSecurityServices": {
      "post": {
        "operationId": "GlobalRulestacks_ListSecurityServices",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "List the security services for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "antiSpyware",
              "antiVirus",
              "ipsVulnerability",
              "urlFiltering",
              "fileBlocking",
              "dnsSubscription"
            ],
            "x-ms-enum": {
              "name": "SecurityServicesTypeEnum",
              "modelAsString": true
            }
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityServicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/postRules": {
      "get": {
        "operationId": "PostRulestackRules_ListByGlobalRulestack",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "List PostRulesResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulestackRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}": {
      "get": {
        "operationId": "PostRulestackRules_Get",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "Get a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulestackRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PostRulestackRules_CreateOrUpdate",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "Create a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostRulestackRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PostRulestackRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PostRulestackRule"
            }
          },
          "201": {
            "description": "Resource 'PostRulestackRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PostRulestackRule"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PostRulestackRules_Delete",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "Delete a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/getCounters": {
      "post": {
        "operationId": "PostRulestackRules_GetCounters",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "Get counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/refreshCounters": {
      "post": {
        "operationId": "PostRulestackRules_RefreshCounters",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "Refresh counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/resetCounters": {
      "post": {
        "operationId": "PostRulestackRules_ResetCounters",
        "tags": [
          "PostRulestackRules"
        ],
        "description": "Reset counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounterReset"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/preRules": {
      "get": {
        "operationId": "PreRulestackRules_ListByGlobalRulestack",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "List PreRulesResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulestackRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}": {
      "get": {
        "operationId": "PreRulestackRules_Get",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "Get a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulestackRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PreRulestackRules_CreateOrUpdate",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "Create a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreRulestackRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PreRulestackRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PreRulestackRule"
            }
          },
          "201": {
            "description": "Resource 'PreRulestackRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PreRulestackRule"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PreRulestackRules_Delete",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "Delete a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/getCounters": {
      "post": {
        "operationId": "PreRulestackRules_GetCounters",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "Get counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/refreshCounters": {
      "post": {
        "operationId": "PreRulestackRules_RefreshCounters",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "Refresh counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/resetCounters": {
      "post": {
        "operationId": "PreRulestackRules_ResetCounters",
        "tags": [
          "PreRulestackRules"
        ],
        "description": "Reset counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounterReset"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/prefixlists": {
      "get": {
        "operationId": "GlobalRulestackPrefixes_ListByGlobalRulestack",
        "tags": [
          "GlobalRulestackPrefixes"
        ],
        "description": "List PrefixListGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackPrefixListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/prefixlists/{name}": {
      "get": {
        "operationId": "GlobalRulestackPrefixes_Get",
        "tags": [
          "GlobalRulestackPrefixes"
        ],
        "description": "Get a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Local Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "GlobalRulestackPrefixes_CreateOrUpdate",
        "tags": [
          "GlobalRulestackPrefixes"
        ],
        "description": "Create a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Local Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestackPrefix"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GlobalRulestackPrefix' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackPrefix"
            }
          },
          "201": {
            "description": "Resource 'GlobalRulestackPrefix' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackPrefix"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GlobalRulestackPrefixes_Delete",
        "tags": [
          "GlobalRulestackPrefixes"
        ],
        "description": "Delete a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Local Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/globalRulestacks/{globalRulestackName}/revert": {
      "post": {
        "operationId": "GlobalRulestacks_Revert",
        "tags": [
          "GlobalRulestacks"
        ],
        "description": "Revert rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls": {
      "get": {
        "operationId": "PaloAltoNetworksFirewalls_ListBySubscription",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "List FirewallResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewallListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/localRulestacks": {
      "get": {
        "operationId": "LocalRulestacks_ListBySubscription",
        "tags": [
          "LocalRulestacks"
        ],
        "description": "List LocalRulestackResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls": {
      "get": {
        "operationId": "PaloAltoNetworksFirewalls_ListByResourceGroup",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "List FirewallResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewallListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}": {
      "get": {
        "operationId": "PaloAltoNetworksFirewalls_Get",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Get a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewall"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PaloAltoNetworksFirewalls_CreateOrUpdate",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Create a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewall"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PaloAltoNetworksFirewall' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewall"
            }
          },
          "201": {
            "description": "Resource 'PaloAltoNetworksFirewall' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewall"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PaloAltoNetworksFirewalls_Update",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Update a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewallUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewall"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "PaloAltoNetworksFirewalls_Delete",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Delete a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}/getGlobalRulestack": {
      "post": {
        "operationId": "PaloAltoNetworksFirewalls_GetGlobalRulestack",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Get Global Rulestack associated with the Firewall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}/getLogProfile": {
      "post": {
        "operationId": "PaloAltoNetworksFirewalls_GetLogProfile",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Log Profile for Firewall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LogSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}/getSupportInfo": {
      "post": {
        "operationId": "PaloAltoNetworksFirewalls_GetSupportInfo",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "support info for firewall.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "email",
            "in": "query",
            "description": "email address on behalf of which this API called",
            "required": false,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupportInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}/saveLogProfile": {
      "post": {
        "operationId": "PaloAltoNetworksFirewalls_SaveLogProfile",
        "tags": [
          "PaloAltoNetworksFirewalls"
        ],
        "description": "Log Profile for Firewall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogSettings"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}/statuses": {
      "get": {
        "operationId": "PaloAltoNetworksFirewallStatuses_ListByPaloAltoNetworksFirewall",
        "tags": [
          "PaloAltoNetworksFirewallStatuses"
        ],
        "description": "List FirewallStatusResource resources by Firewalls",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewallStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/firewalls/{firewallName}/statuses/default": {
      "get": {
        "operationId": "PaloAltoNetworksFirewallStatuses_Get",
        "tags": [
          "PaloAltoNetworksFirewallStatuses"
        ],
        "description": "Get a FirewallStatusResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaloAltoNetworksFirewallStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/localRulestacks": {
      "get": {
        "operationId": "LocalRulestacks_ListByResourceGroup",
        "tags": [
          "LocalRulestacks"
        ],
        "description": "List LocalRulestackResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.PaloAltoNetworks.Ngfw/localRulestacks/{localRulestackName}": {
      "get": {
        "operationId": "LocalRulestacks_Get",
        "tags": [
          "LocalRulestacks"
        ],
        "description": "Get a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "localRulestackName",
            "in": "path",
            "description": "LocalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestack"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LocalRulestacks_CreateOrUpdate",
        "tags": [
          "LocalRulestacks"
        ],
        "description": "Create a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "localRulestackName",
            "in": "path",
            "description": "LocalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocalRulestack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LocalRulestack' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LocalRulestack"
            }
          },
          "201": {
            "description": "Resource 'LocalRulestack' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LocalRulestack"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LocalRulestacks_Update",
        "tags": [
          "LocalRulestacks"
        ],
        "description": "Update a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "localRulestackName",
            "in": "path",
            "description": "LocalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocalRulestackUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestack"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LocalRulestacks_Delete",
        "tags": [
          "LocalRulestacks"
        ],
        "description": "Delete a LocalRulestackResource",
        "parameters": [
          {
[...]
