{
  "swagger": "2.0",
  "info": {
    "title": "Azure Large Instance",
    "version": "2023-07-20-preview",
    "description": "The AzureLargeInstance Management client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AzureLargeInstances"
    },
    {
      "name": "AzureLargeStorageInstances"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureLargeInstance/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/AzureLargeInstanceOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureLargeInstance/azureLargeInstances": {
      "get": {
        "operationId": "AzureLargeInstance_ListBySubscription",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "Gets a list of Azure Large Instances in the specified subscription. The\noperations returns various properties of each Azure Large Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureLargeInstance/azureLargeStorageInstances": {
      "get": {
        "operationId": "AzureLargeStorageInstances_ListBySubscription",
        "tags": [
          "AzureLargeStorageInstances"
        ],
        "description": "Gets a list of AzureLargeStorageInstances in the specified subscription. The\noperations returns various properties of each Azure LargeStorage instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeStorageInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureLargeStorageInstances_ListBySubscription": {
            "$ref": "./examples/AzureLargeStorageInstance_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstances": {
      "get": {
        "operationId": "AzureLargeInstance_ListByResourceGroup",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "Gets a list of Azure Large Instances in the specified subscription and resource\ngroup. The operations returns various properties of each Azure Large Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstances/{azureLargeInstanceName}": {
      "get": {
        "operationId": "AzureLargeInstance_Get",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "Gets an Azure Large Instance for the specified subscription, resource group,\nand instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "AzureLargeInstance_Update",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "Patches the Tags field of an Azure Large Instance for the specified\nsubscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureLargeInstanceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstances/{azureLargeInstanceName}/restart": {
      "post": {
        "operationId": "AzureLargeInstance_Restart",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "The operation to restart an Azure Large Instance (only for compute instances)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          },
          {
            "name": "forceParameter",
            "in": "body",
            "description": "When set to 'active', this parameter empowers the server with the ability to forcefully terminate and halt any existing processes that may be running on the server",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ForceState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstances/{azureLargeInstanceName}/shutdown": {
      "post": {
        "operationId": "AzureLargeInstance_Shutdown",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "The operation to shutdown an Azure Large Instance (only for compute instances)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstances/{azureLargeInstanceName}/start": {
      "post": {
        "operationId": "AzureLargeInstance_Start",
        "tags": [
          "AzureLargeInstances"
        ],
        "description": "The operation to start an Azure Large Instance (only for compute instances)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeStorageInstances": {
      "get": {
        "operationId": "AzureLargeStorageInstances_ListByResourceGroup",
        "tags": [
          "AzureLargeStorageInstances"
        ],
        "description": "Gets a list of AzureLargeStorageInstances in the specified subscription and\nresource group. The operations returns various properties of each Azure\nLargeStorage instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeStorageInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureLargeStorageInstances_ListByResourceGroup": {
            "$ref": "./examples/AzureLargeStorageInstance_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeStorageInstances/{azureLargeStorageInstanceName}": {
      "get": {
        "operationId": "AzureLargeStorageInstances_Get",
        "tags": [
          "AzureLargeStorageInstances"
        ],
        "description": "Gets an Azure Large Storage instance for the specified subscription, resource\ngroup, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeStorageInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeStorageInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeStorageInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureLargeStorageInstances_Get": {
            "$ref": "./examples/AzureLargeStorageInstance_Get.json"
          }
        }
      },
      "patch": {
        "operationId": "AzureLargeStorageInstances_Update",
        "tags": [
          "AzureLargeStorageInstances"
        ],
        "description": "Patches the Tags field of a Azure Large Storage Instance for the specified\nsubscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureLargeStorageInstanceName",
            "in": "path",
            "description": "Name of the AzureLargeStorageInstance.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureLargeStorageInstanceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureLargeStorageInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureLargeStorageInstances_Delete_Tag": {
            "$ref": "./examples/AzureLargeStorageInstance_PatchTags_Delete.json"
          },
          "AzureLargeStorageInstances_Update_Tag": {
            "$ref": "./examples/AzureLargeStorageInstance_PatchTags.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionType": {
      "type": "string",
      "enum": [
        "Internal"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true
      }
    },
    "AzureLargeInstance": {
      "type": "object",
      "description": "Azure Large Instance info on Azure (ARM properties and AzureLargeInstance\nproperties)",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLargeInstanceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AzureLargeInstanceForcePowerState": {
      "type": "string",
      "enum": [
        "active",
        "inactive"
      ],
      "x-ms-enum": {
        "name": "AzureLargeInstanceForcePowerState",
        "modelAsString": true
      }
    },
    "AzureLargeInstanceHardwareTypeNamesEnum": {
      "type": "string",
      "description": "Enum of the hardware options (vendor and/or their product name) for an Azure Large Instance",
      "enum": [
        "Cisco_UCS",
        "HPE",
        "SDFLEX"
      ],
      "x-ms-enum": {
        "name": "AzureLargeInstanceHardwareTypeNamesEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Cisco_UCS",
            "value": "Cisco_UCS",
            "description": "Hardware type of UCS from vendor Cisco"
          },
          {
            "name": "HPE",
            "value": "HPE",
            "description": "Hardware type of HPE"
          },
          {
            "name": "SDFLEX",
            "value": "SDFLEX",
            "description": "Hardware type of SDFLEX"
          }
        ]
      }
    },
    "AzureLargeInstanceListResult": {
      "type": "object",
      "description": "The response of a AzureLargeInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureLargeInstance items on this page",
          "items": {
            "$ref": "#/definitions/AzureLargeInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureLargeInstancePowerStateEnum": {
      "type": "string",
      "description": "Power states that an Azure Large Instance can be in",
      "enum": [
        "starting",
        "started",
        "stopping",
        "stopped",
        "restarting",
        "unknown"
      ],
      "x-ms-enum": {
        "name": "AzureLargeInstancePowerStateEnum",
        "modelAsString": true
      }
    },
    "AzureLargeInstanceProperties": {
      "type": "object",
      "description": "Describes the properties of an Azure Large Instance.",
      "properties": {
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Specifies the hardware settings for the Azure Large Instance."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the Azure Large Instance disks."
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Specifies the operating system settings for the Azure Large Instance."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network settings for the Azure Large Instance."
        },
        "azureLargeInstanceId": {
          "type": "string",
          "description": "Specifies the Azure Large Instance unique ID.",
          "readOnly": true
        },
        "powerState": {
          "$ref": "#/definitions/AzureLargeInstancePowerStateEnum",
          "description": "Resource power state",
          "readOnly": true
        },
        "proximityPlacementGroup": {
          "type": "string",
          "description": "Resource proximity placement group",
          "readOnly": true
        },
        "hwRevision": {
          "type": "string",
          "description": "Hardware revision of an Azure Large Instance",
          "readOnly": true
        },
        "partnerNodeId": {
          "type": "string",
          "description": "ARM ID of another AzureLargeInstance that will share a network with this\nAzureLargeInstance"
        },
        "provisioningState": {
          "$ref": "#/definitions/AzureLargeInstanceProvisioningStatesEnum",
          "description": "State of provisioning of the AzureLargeInstance",
          "readOnly": true
        }
      }
    },
    "AzureLargeInstanceProvisioningStatesEnum": {
      "type": "string",
      "description": "Provisioning states that an Azure Large Instance can be in",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Failed",
        "Succeeded",
        "Deleting",
        "Migrating",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "AzureLargeInstanceProvisioningStatesEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted means Azure Large Instance resource provisioning has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating means Azure Large Instance resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating means an existing Azure Large Instance resource is being updated"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed means Azure Large Instance resource is in failed state"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded means Azure Large Instance resource creation succeeded during last create/update"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting means Azure Large Instance resource is in the process of being deleted"
          },
          {
            "name": "Migrating",
            "value": "Migrating",
            "description": "Migrating means Azure Large Instance resource is being migrated from one subscription or resource group to another"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Cancelled Azure Large Instance resource operation has been cancelled"
          }
        ]
      }
    },
    "AzureLargeInstanceSizeNamesEnum": {
      "type": "string",
      "description": "Enum of available model types (each of which have their own storage / memory sizes) for an Azure Large Instance type. See https://learn.microsoft.com/en-us/azure/sap/large-instances/hana-available-skus",
      "enum": [
        "S72m",
        "S144m",
        "S72",
        "S144",
        "S192",
        "S192m",
        "S192xm",
        "S96",
        "S112",
        "S224",
        "S224m",
        "S224om",
        "S224oo",
        "S224oom",
        "S224ooo",
        "S224se",
        "S384",
        "S384m",
        "S384xm",
        "S384xxm",
        "S448",
        "S448m",
        "S448om",
        "S448oo",
        "S448oom",
        "S448ooo",
        "S448se",
        "S576m",
        "S576xm",
        "S672",
        "S672m",
        "S672om",
        "S672oo",
        "S672oom",
        "S672ooo",
        "S768",
        "S768m",
        "S768xm",
        "S896",
        "S896m",
        "S896om",
        "S896oo",
        "S896oom",
        "S896ooo",
        "S960m"
      ],
      "x-ms-enum": {
        "name": "AzureLargeInstanceSizeNamesEnum",
        "modelAsString": true
      }
    },
    "AzureLargeInstanceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in AzureLargeInstance resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AzureLargeStorageInstance": {
      "type": "object",
      "description": "AzureLargeStorageInstance info on Azure (ARM properties and\nAzureLargeStorageInstance properties)",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLargeStorageInstanceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureLargeStorageInstanceListResult": {
      "type": "object",
      "description": "The response of a AzureLargeStorageInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureLargeStorageInstance items on this page",
          "items": {
            "$ref": "#/definitions/AzureLargeStorageInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureLargeStorageInstanceProperties": {
      "type": "object",
      "description": "Describes the properties of an AzureLargeStorageInstance.",
      "properties": {
        "azureLargeStorageInstanceUniqueIdentifier": {
          "type": "string",
          "description": "Specifies the AzureLargeStorageInstance unique ID."
        },
        "storageProperties": {
          "$ref": "#/definitions/StorageProperties",
          "description": "Specifies the storage properties for the AzureLargeStorage instance."
        }
      }
    },
    "AzureLargeStorageInstanceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in AzureLargeStorageInstance resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CreatedByType": {
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true
      }
    },
    "Disk": {
      "type": "object",
      "description": "Specifies the disk information fo the Azure Large Instance",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes."
        },
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to\nidentify data disks within the VM and therefore must be unique for each data\ndisk attached to a VM.",
          "readOnly": true
        }
      }
    },
    "ForceState": {
      "type": "object",
      "description": "The active state empowers the server with the ability to forcefully terminate\nand halt any existing processes that may be running on the server",
      "properties": {
        "forceState": {
          "$ref": "#/definitions/AzureLargeInstanceForcePowerState",
          "description": "Whether to force restart by shutting all processes."
        }
      }
    },
    "HardwareProfile": {
      "type": "object",
      "description": "Specifies the hardware settings for the Azure Large Instance.",
      "properties": {
        "hardwareType": {
          "$ref": "#/definitions/AzureLargeInstanceHardwareTypeNamesEnum",
          "description": "Name of the hardware type (vendor and/or their product name)",
          "readOnly": true
        },
        "azureLargeInstanceSize": {
          "$ref": "#/definitions/AzureLargeInstanceSizeNamesEnum",
          "description": "Specifies the Azure Large Instance SKU.",
          "readOnly": true
        }
      }
    },
    "IpAddress": {
      "type": "object",
      "description": "Specifies the IP address of the network interface.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Specifies the IP address of the network interface."
        }
      }
    },
    "NetworkProfile": {
      "type": "object",
      "description": "Specifies the network settings for the Azure Large Instance disks.",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "description": "Specifies the network interfaces for the Azure Large Instance.",
          "items": {
            "$ref": "#/definitions/IpAddress"
          },
          "x-ms-identifiers": []
        },
        "circuitId": {
          "type": "string",
          "description": "Specifies the circuit id for connecting to express route.",
          "readOnly": true
        }
      }
    },
    "Origin": {
      "type": "string",
      "enum": [
        "user",
        "system",
        "user,system"
      ],
      "x-ms-enum": {
        "name": "Origin",
        "modelAsString": true
      }
    },
    "OsProfile": {
      "type": "object",
      "description": "Specifies the operating system settings for the Azure Large Instance.",
      "properties": {
        "computerName": {
          "type": "string",
          "description": "Specifies the host OS name of the Azure Large Instance."
        },
        "osType": {
          "type": "string",
          "description": "This property allows you to specify the type of the OS.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Specifies version of operating system.",
          "readOnly": true
        },
        "sshPublicKey": {
          "type": "string",
          "description": "Specifies the SSH public key used to access the operating system."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "An enum of possible operation states for an AzureLargeStorageInstances",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Failed",
        "Succeeded",
        "Deleting",
        "Canceled",
        "Migrating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted means ARM resource has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating means ARM resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating means an existing ARM resource is being updated"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed means resource is in failed state"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded means resource creation succeeded during last create/update"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting means resource is in the process of being deleted"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Cancelled means resource operation has been cancelled"
          },
          {
            "name": "Migrating",
            "value": "Migrating",
            "description": "Migrating means resource is being migrated from one subscription or resource group to another"
          }
        ]
      }
    },
    "StorageBillingProperties": {
      "type": "object",
      "description": "Describes the billing related details of the AzureLargeStorageInstance.",
      "properties": {
        "billingMode": {
          "type": "string",
          "description": "the billing mode for the storage instance"
        },
        "sku": {
          "type": "string",
          "description": "the SKU type that is provisioned"
        }
      }
    },
    "StorageProfile": {
      "type": "object",
      "description": "Specifies the storage settings for the Azure Large Instance disks.",
      "properties": {
        "nfsIpAddress": {
          "type": "string",
          "description": "IP Address to connect to storage.",
          "readOnly": true
        },
        "osDisks": {
          "type": "array",
          "description": "Specifies information about the operating system disk used by Azure Large\nInstance.",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "StorageProperties": {
      "type": "object",
      "description": "described the storage properties of the azure large storage instance",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "State of provisioning of the AzureLargeStorageInstance"
        },
        "offeringType": {
          "type": "string",
          "description": "the offering type for which the resource is getting provisioned"
        },
        "storageType": {
          "type": "string",
          "description": "the storage protocol for which the resource is getting provisioned"
        },
        "generation": {
          "type": "string",
          "description": "the kind of storage instance"
        },
        "hardwareType": {
          "type": "string",
          "description": "the hardware type of the storage instance"
        },
        "workloadType": {
          "type": "string",
          "description": "the workload for which the resource is getting provisioned"
        },
        "storageBillingProperties": {
          "$ref": "#/definitions/StorageBillingProperties",
          "description": "the billing related information for the resource"
        }
      }
    },
    "Tags": {
      "type": "object",
      "description": "Tags field of the AzureLargeInstance instance.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Tags field of the AzureLargeInstance instance.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
