{
    "swagger": "2.0",
    "info": {
        "version": "2020-05-01",
        "title": "ProfessionalService",
        "description": "REST APIs for Marketplace Professional Service Offers"
    },
    "host": "management.azure.com",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "security": [{
            "azure_auth": ["user_impersonation"]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/providers/Microsoft.Billing/billingAccounts/{billingAccount}/billingProfiles/{billingProfile}/invoiceSections/{invoiceSection}/providers/Microsoft.ProfessionalService/resources/{resourceName}": {
            "get": {
                "tags": [
                    "BillingScopeProfessionalServiceResources"
                ],
                "operationId": "ProfessionalService_Get",
                "description": "Gets information about the specified Professional Service.",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "$ref": "#/parameters/BillingAccountParameter"
                    }, {
                        "$ref": "#/parameters/BillingProfileParameter"
                    }, {
                        "$ref": "#/parameters/InvoiceSectionParameter"
                    }, {
                        "$ref": "#/parameters/ResourceNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful. The request returns the resulting ProfessionalService resource.",
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResource"
                        }
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Get professional service resource": {
                        "$ref": "./examples/ProfessionalService/ProfessionalServiceGet.json"
                    }
                }
            },
            "put": {
                "tags": [
                    "BillingScopeProfessionalServiceResources"
                ],
                "operationId": "ProfessionalService_CreateOrUpdate",
                "description": "Creates or updates a ProfessionalService resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "$ref": "#/parameters/BillingAccountParameter"
                    }, {
                        "$ref": "#/parameters/BillingProfileParameter"
                    }, {
                        "$ref": "#/parameters/InvoiceSectionParameter"
                    }, {
                        "$ref": "#/parameters/ResourceNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResourceCreation"
                        },
                        "description": "Parameters supplied to the create or update ProfessionalService operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource creation has completed.",
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResource"
                        }
                    },
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously.",
                        "headers": {
                            "Location": {
                                "description": "The URL to check the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    },
                    "204": {
                        "description": "Operation completed successfully."
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Create professional service resource": {
                        "$ref": "./examples/ProfessionalService/ProfessionalServicePut.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "delete": {
                "tags": [
                    "BillingScopeProfessionalServiceResources"
                ],
                "operationId": "ProfessionalService_Delete",
                "description": "Deletes the specified ProfessionalService.",
                "parameters": [{
                        "$ref": "#/parameters/BillingAccountParameter"
                    }, {
                        "$ref": "#/parameters/BillingProfileParameter"
                    }, {
                        "$ref": "#/parameters/InvoiceSectionParameter"
                    }, {
                        "$ref": "#/parameters/ResourceNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete Operation completed successfully."
                    },
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously.",
                        "headers": {
                            "Location": {
                                "description": "The URL to check the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    },
                    "204": {
                        "description": "Delete operation completed successfully."
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Delete professional service resource": {
                        "$ref": "./examples/ProfessionalService/ProfessionalServiceDelete.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{enrollmentBillingAccount}/providers/Microsoft.ProfessionalService/resources/{resourceName}": {
            "get": {
                "tags": [
                    "EnrollmentBillingScopeProfessionalServiceResources"
                ],
                "operationId": "ProfessionalService_Get",
                "description": "Gets information about the specified Professional Service for enrollment account.",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "$ref": "#/parameters/EnrollmentBillingAccountParameter"
                    }, {
                        "$ref": "#/parameters/ResourceNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful. The request returns the resulting ProfessionalService resource.",
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResource"
                        }
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Get professional service resource": {
                        "$ref": "./examples/ProfessionalService/ProfessionalServiceGet.json"
                    }
                }
            },
            "put": {
                "tags": [
                    "EnrollmentBillingScopeProfessionalServiceResources"
                ],
                "operationId": "ProfessionalService_CreateOrUpdate",
                "description": "Creates or updates a ProfessionalService resource for enrollment account.",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "$ref": "#/parameters/EnrollmentBillingAccountParameter"
                    }, {
                        "$ref": "#/parameters/ResourceNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResourceCreation"
                        },
                        "description": "Parameters supplied to the create or update ProfessionalService operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource creation has completed.",
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResource"
                        }
                    },
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously.",
                        "headers": {
                            "Location": {
                                "description": "The URL to check the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    },
                    "204": {
                        "description": "Operation completed successfully."
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Create professional service resource": {
                        "$ref": "./examples/ProfessionalService/ProfessionalServicePut.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "delete": {
                "tags": [
                    "EnrollmentBillingScopeProfessionalServiceResources"
                ],
                "operationId": "ProfessionalService_Delete",
                "description": "Deletes the specified ProfessionalService for enrollment account.",
                "parameters": [{
                        "$ref": "#/parameters/EnrollmentBillingAccountParameter"
                    }, {
                        "$ref": "#/parameters/ResourceNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete Operation completed successfully."
                    },
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously.",
                        "headers": {
                            "Location": {
                                "description": "The URL to check the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    },
                    "204": {
                        "description": "Delete operation completed successfully."
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Delete professional service resource": {
                        "$ref": "./examples/ProfessionalService/ProfessionalServiceDelete.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            }
        },
        "/providers/Microsoft.ProfessionalService/operationResults/{operationId}": {
            "get": {
                "tags": [
                    "ProfessionalServiceOperations"
                ],
                "operationId": "ProfessionalServiceOperation_Get",
                "description": "Gets information about the specified operation progress.",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "$ref": "#/parameters/OperationIdParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation ended successfully. The request returns the updated ProfessionalService resource.",
                        "schema": {
                            "$ref": "#/definitions/ProfessionalServiceResource"
                        }
                    },
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously.",
                        "headers": {
                            "Location": {
                                "description": "The URL to check the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    },
                    "default": {
                        "description": "A response indicating an error.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Get operation status": {
                        "$ref": "./examples/OperationResults/Get.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            }
        }
    },
    "definitions": {
        "Result": {
            "description": "Sample result definition",
            "properties": {
                "sampleProperty": {
                    "type": "string",
                    "description": "Sample property of type string"
                }
            }
        },
        "ProfessionalServiceResource": {
            "description": "ProfessionalService REST API resource definition.",
            "type": "object",
            "x-ms-azure-resource": true,
            "properties": {
                "properties": {
                    "description": "ProfessionalService properties",
                    "type": "object",
                    "allOf": [{
                            "$ref": "#/definitions/ProfessionalServiceProperties"
                        }, {
                            "$ref": "#/definitions/ProfessionalServiceCreationProperties"
                        }
                    ]
                },
                "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "readOnly": true
                },
                "id": {
                    "description": "The resource uri",
                    "type": "string",
                    "readOnly": true
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type."
                },
                "tags": {
                    "description": "the resource tags.",
                    "$ref": "#/definitions/Tags"
                }
            }
        },
        "ProfessionalServiceResourceCreation": {
            "description": "ProfessionalService REST API resource definition for creation.",
            "type": "object",
            "properties": {
                "id": {
                    "description": "The resource uri",
                    "type": "string",
                    "readOnly": true
                },
                "name": {
                    "description": "The resource name",
                    "type": "string"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type."
                },
                "tags": {
                    "description": "the resource tags.",
                    "$ref": "#/definitions/Tags"
                },
                "location": {
                    "type": "string",
                    "description": "Resource location. Only value allowed for professional service is 'global'"
                },
                "properties": {
                    "$ref": "#/definitions/ProfessionalServiceCreationProperties",
                    "description": "Properties of the professional service resource that are relevant for creation."
                }
            }
        },
        "ProfessionalServiceProperties": {
            "type": "object",
            "description": "ProfessionalService resource properties",
            "properties": {
                "status": {
                    "type": "string",
                    "description": "The ProfessionalService Subscription Status.",
                    "enum": [
                        "NotStarted",
                        "Subscribed",
                        "Unsubscribed",
                        "Suspended"
                    ],
                    "x-ms-enum": {
                        "name": "ProfessionalServiceResourceStatus",
                        "modelAsString": true
                    }
                },
                "term": {
                    "type": "object",
                    "description": "The current Term object.",
                    "properties": {
                        "termUnit": {
                            "type": "string",
                            "description": "The unit indicating Monthly / Yearly"
                        },
                        "startDate": {
                            "type": "string",
                            "description": "The start date of the current term"
                        },
                        "endDate": {
                            "type": "string",
                            "description": "The end date of the current term"
                        }
                    }
                },
                "isFreeTrial": {
                    "type": "boolean",
                    "description": "Whether the current term is a Free Trial term"
                },
                "created": {
                    "type": "string",
                    "description": "The created date of this resource.",
                    "readOnly": true
                },
                "lastModified": {
                    "type": "string",
                    "description": "The last modifier date if this resource."
                }
            }
        },
        "ProfessionalServiceCreationProperties": {
            "type": "object",
            "description": "properties for creation ProfessionalService",
            "properties": {
                "offerId": {
                    "type": "string",
                    "description": "The offer id."
                },
                "publisherId": {
                    "type": "string",
                    "description": "The publisher id."
                },
                "quantity": {
                    "type": "number",
                    "description": "The seat count."
                },
                "skuId": {
                    "type": "string",
                    "description": "The plan id."
                },
                "paymentChannelMetadata": {
                    "type": "object",
                    "description": "The metadata about the ProfessionalService subscription such as the OrganizationId.",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "termId": {
                    "type": "string",
                    "description": "The current Term id."
                },
                "quoteId": {
                    "type": "string",
                    "description": "The quote id which the ProfessionalService will be purchase with."
                },
                "storeFront": {
                    "type": "string",
                    "description": "The store front which initiates the purchase."
                },
                "autoRenew": {
                    "type": "boolean",
                    "description": "Whether the ProfessionalService subscription will auto renew upon term end."
                }
            }
        },
        "ProfessionalServiceResourceResponseWithContinuation": {
            "description": "ProfessionalService resources response with continuation.",
            "type": "object",
            "properties": {
                "nextLink": {
                    "description": "the next link to query to get the remaining results.",
                    "type": "string"
                },
                "value": {
                    "description": "the value of response.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ProfessionalServiceResource"
                    }
                }
            }
        },
        "Tags": {
            "type": "object",
            "description": "the resource tags.",
            "additionalProperties": {
                "type": "string"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "name": "api-version",
                "in": "query",
                "required": true,
                "type": "string",
                "description": "The API version to be used with the HTTP request."
            },
            "OperationIdParameter": {
                "name": "operationId",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "the operation Id parameter.",
                "x-ms-parameter-location": "method"
            },
            "EnrollmentBillingAccountParameter": {
                "name": "enrollmentBillingAccount",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "The enrollment billing account id."
            },
            "BillingAccountParameter": {
                "name": "billingAccount",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "The billing account id."
            },
            "BillingProfileParameter": {
                "name": "billingProfile",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "The biling profile id.",
                "x-ms-parameter-location": "method"
            },
            "InvoiceSectionParameter": {
                "name": "invoiceSection",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "The invoice section id.",
                "x-ms-parameter-location": "method"
            },
            "ResourceNameParameter": {
                "name": "resourceName",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "The name of the resource.",
                "x-ms-parameter-location": "method"
            }
        }
    }
}