{
  "swagger": "2.0",
  "info": {
    "title": "Azure Data Catalog Resource Provider",
    "description": "The Azure Data Catalog Resource Provider Services API.",
    "version": "2016-03-30"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DataCatalog/operations": {
      "get": {
        "tags": [
          "AzureDataCatalog"
        ],
        "description": "Lists all the available Azure Data Catalog service operations.",
        "operationId": "ADCOperations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/OperationEntityListResult"
            }
          }
        },
        "x-ms-examples": {
          "Get Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs": {
      "get": {
        "tags": [
          "AzureDataCatalog"
        ],
        "operationId": "ADCCatalogs_ListtByResourceGroup",
        "summary": "List catalogs in Resource Group (GET Resources)",
        "description": "The List catalogs in Resource Group operation lists all the Azure Data Catalogs available under the given resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/ADCCatalogsListResult"
            }
          }
        },
        "x-ms-examples": {
          "List Azure Data Catalog Service": {
            "$ref": "./examples/ListADCCatalogsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs/{catalogName}": {
      "put": {
        "tags": [
          "AzureDataCatalog"
        ],
        "operationId": "ADCCatalogs_CreateOrUpdate",
        "summary": "Create or Update Azure Data Catalog service (PUT Resource)",
        "description": "The Create Azure Data Catalog service operation creates a new data catalog service with the specified parameters. If the specific service already exists, then any patchable properties will be updated and any immutable properties will remain unchanged.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ADCCatalog"
            },
            "description": "Properties supplied to the Create or Update a data catalog."
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/ADCCatalog"
            }
          },
          "201": {
            "description": "HTTP 201 (Created) if the operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ADCCatalog"
            }
          }
        },
        "x-ms-examples": {
          "Create Azure Data Catalog Service": {
            "$ref": "./examples/CreateOrUpdateADCCatalog.json"
          }
        }
      },
      "get": {
        "tags": [
          "AzureDataCatalog"
        ],
        "operationId": "ADCCatalogs_Get",
        "summary": "Get Azure Data Catalog service (GET Resources)",
        "description": "The Get Azure Data Catalog Service operation retrieves a json representation of the data catalog.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/ADCCatalog"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Data Catalog Service": {
            "$ref": "./examples/GetADCCatalog.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AzureDataCatalog"
        ],
        "operationId": "ADCCatalogs_Delete",
        "summary": "Delete Azure Data Catalog Service (DELETE Resource)",
        "x-ms-long-running-operation": true,
        "description": "The Delete Azure Data Catalog Service operation deletes an existing data catalog.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. An existing annotation was updated."
          },
          "202": {
            "description": "Accepted. Delete is asynchronous. In this case, the caller needs to read the Location header for an URL to poll. That URL will continue to return 202 until the operation is complete. When it stops returning 202, the response it gives back is the result of the DELETE operation."
          },
          "204": {
            "description": "No Content (didn't exist)."
          }
        },
        "x-ms-examples": {
          "Delete Azure Data Catalog Service": {
            "$ref": "./examples/DeleteADCCatalog.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AzureDataCatalog"
        ],
        "operationId": "ADCCatalogs_Update",
        "summary": "Update Azure Data Catalog Service (PATCH Resource)",
        "description": "The Update Azure Data Catalog Service operation can be used to update the existing deployment. The update call only supports the properties listed in the PATCH body.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ADCCatalog"
            },
            "description": "Properties supplied to the Update a data catalog."
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/ADCCatalog"
            }
          }
        },
        "x-ms-examples": {
          "Update Azure Data Catalog Service": {
            "$ref": "./examples/UpdateADCCatalog.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ADCCatalogsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ADCCatalog"
          },
          "description": "the list of Azure Data Catalogs."
        }
      },
      "description": "The response from the List Azure Data Catalog operation."
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "etag": {
          "type": "string",
          "description": "Resource etag"
        }
      },
      "x-ms-azure-resource": true
    },
    "ADCCatalog": {
      "description": "Azure Data Catalog.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ADCCatalogProperties",
          "description": "Azure Data Catalog properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ADCCatalogProperties": {
      "description": "Properties of the data catalog.",
      "properties": {
        "sku": {
          "type": "string",
          "description": "Azure data catalog SKU.",
          "enum": [
            "Free",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuType",
            "modelAsString": true
          }
        },
        "units": {
          "type": "integer",
          "description": "Azure data catalog units."
        },
        "admins": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Principals"
          },
          "description": "Azure data catalog admin list.",
          "x-ms-identifiers": [
            "objectId"
          ]
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Principals"
          },
          "description": "Azure data catalog user list.",
          "x-ms-identifiers": [
            "objectId"
          ]
        },
        "successfullyProvisioned": {
          "type": "boolean",
          "description": "Azure data catalog provision status."
        },
        "enableAutomaticUnitAdjustment": {
          "type": "boolean",
          "description": "Automatic unit adjustment enabled or not."
        }
      }
    },
    "Principals": {
      "description": "User principals.",
      "properties": {
        "upn": {
          "type": "string",
          "description": "UPN of the user."
        },
        "objectId": {
          "type": "string",
          "description": "Object Id for the user"
        }
      }
    },
    "OperationEntityListResult": {
      "description": "The list of Azure data catalog service operation response.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationEntity"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "OperationEntity": {
      "description": "The operation supported by Azure Data Catalog Service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplayInfo",
          "description": "The operation supported by Azure Data Catalog Service."
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "The operation supported by Azure Data Catalog Service.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the operation.",
          "type": "string"
        },
        "operation": {
          "description": "The action that users can perform, based on their permission level.",
          "type": "string"
        },
        "provider": {
          "description": "Service provider: Azure Data Catalog Service.",
          "type": "string"
        },
        "resource": {
          "description": "Resource on which the operation is performed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "CatalogNameParameter": {
      "name": "catalogName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the data catalog in the specified subscription and resource group.",
      "x-ms-parameter-location": "client"
    }
  }
}
