{
  "swagger": "2.0",
  "info": {
    "version": "2024-04-08-preview",
    "title": "Desktop Virtualization API Client"
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "host": "management.azure.com",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DesktopVirtualization/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List all of the available operations the Desktop Virtualization resource provider supports.",
        "x-ms-examples": {
          "OperationDescription_List": {
            "$ref": "./examples/OperationDescription_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_Get",
        "description": "Get a workspace.",
        "x-ms-examples": {
          "Workspace_Get": {
            "$ref": "./examples/Workspace_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_CreateOrUpdate",
        "description": "Create or update a workspace.",
        "x-ms-examples": {
          "Workspace_Create": {
            "$ref": "./examples/Workspace_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "workspace",
            "description": "Object containing Workspace definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "201": {
            "description": "Successfully created workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_Delete",
        "description": "Remove a workspace.",
        "x-ms-examples": {
          "Workspace_Delete": {
            "$ref": "./examples/Workspace_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted workspace."
          },
          "204": {
            "description": "Workspace does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_Update",
        "description": "Update a workspace.",
        "x-ms-examples": {
          "Workspace_Update": {
            "$ref": "./examples/Workspace_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "workspace",
            "description": "Object containing Workspace definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WorkspacePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateLink"
        ],
        "operationId": "PrivateEndpointConnections_ListByWorkspace",
        "description": "List private endpoint connections.",
        "x-ms-examples": {
          "PrivateEndpointConnection_ListByWorkspace": {
            "$ref": "./examples/PrivateEndpointConnection_ListByWorkspace.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved connection list.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResultWithSystemData"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateLink"
        ],
        "operationId": "PrivateEndpointConnections_GetByWorkspace",
        "description": "Get a private endpoint connection.",
        "x-ms-examples": {
          "PrivateEndpointConnection_GetByWorkspace": {
            "$ref": "./examples/PrivateEndpointConnection_GetByWorkspace.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the connection.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionWithSystemData"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateLink"
        ],
        "operationId": "PrivateEndpointConnections_DeleteByWorkspace",
        "description": "Remove a connection.",
        "x-ms-examples": {
          "PrivateEndpointConnection_DeleteByWorkspace": {
            "$ref": "./examples/PrivateEndpointConnection_DeleteByWorkspace.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed."
          },
          "204": {
            "description": "Connection does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PrivateLink"
        ],
        "operationId": "PrivateEndpointConnections_UpdateByWorkspace",
        "description": "Approve or reject a private endpoint connection.",
        "x-ms-examples": {
          "PrivateEndpointConnection_UpdateByWorkspace": {
            "$ref": "./examples/PrivateEndpointConnection_UpdateByWorkspace.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "connection",
            "description": "Object containing the updated connection.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionWithSystemData"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLink"
        ],
        "operationId": "PrivateLinkResources_ListByWorkspace",
        "description": "List the private link resources available for this workspace.",
        "x-ms-examples": {
          "PrivateLinkResources_ListByWorkspace": {
            "$ref": "./examples/PrivateLinkResources_ListByWorkspace.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of resources.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_ListByResourceGroup",
        "description": "List workspaces.",
        "x-ms-examples": {
          "Workspace_ListByResourceGroup": {
            "$ref": "./examples/Workspace_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workspaces in resource group.",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_ListBySubscription",
        "description": "List workspaces in subscription.",
        "x-ms-examples": {
          "Workspace_ListBySubscription": {
            "$ref": "./examples/Workspace_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workspaces in subscription.",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}": {
      "get": {
        "tags": [
          "ScalingPlan"
        ],
        "operationId": "ScalingPlans_Get",
        "description": "Get a scaling plan.",
        "x-ms-examples": {
          "ScalingPlans_Get": {
            "$ref": "./examples/ScalingPlan_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved scaling plan.",
            "schema": {
              "$ref": "#/definitions/ScalingPlan"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ScalingPlan"
        ],
        "operationId": "ScalingPlans_Create",
        "description": "Create or update a scaling plan.",
        "x-ms-examples": {
          "ScalingPlans_Create": {
            "$ref": "./examples/ScalingPlan_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "name": "scalingPlan",
            "description": "Object containing scaling plan definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScalingPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated scaling plan.",
            "schema": {
              "$ref": "#/definitions/ScalingPlan"
            }
          },
          "201": {
            "description": "Successfully created scaling plan.",
            "schema": {
              "$ref": "#/definitions/ScalingPlan"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ScalingPlan"
        ],
        "operationId": "ScalingPlans_Delete",
        "description": "Remove a scaling plan.",
        "x-ms-examples": {
          "ScalingPlans_Delete": {
            "$ref": "./examples/ScalingPlan_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted scaling plan."
          },
          "204": {
            "description": "Scaling plan does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ScalingPlan"
        ],
        "operationId": "ScalingPlans_Update",
        "description": "Update a scaling plan.",
        "x-ms-examples": {
          "ScalingPlans_Update": {
            "$ref": "./examples/ScalingPlan_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "name": "scalingPlan",
            "description": "Object containing scaling plan definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ScalingPlanPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated scaling plan.",
            "schema": {
              "$ref": "#/definitions/ScalingPlan"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans": {
      "get": {
        "tags": [
          "ScalingPlan"
        ],
        "operationId": "ScalingPlans_ListByResourceGroup",
        "description": "List scaling plans.",
        "x-ms-examples": {
          "ScalingPlans_ListByResourceGroup": {
            "$ref": "./examples/ScalingPlan_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved scaling plans in resource group.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/pooledSchedules/{scalingPlanScheduleName}": {
      "get": {
        "tags": [
          "ScalingPlanPooledSchedule"
        ],
        "operationId": "ScalingPlanPooledSchedules_Get",
        "description": "Get a ScalingPlanPooledSchedule.",
        "x-ms-examples": {
          "ScalingPlanPooledSchedules_Get": {
            "$ref": "./examples/ScalingPlanPooledSchedule_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved ScalingPlanPooledSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ScalingPlanPooledSchedule"
        ],
        "operationId": "ScalingPlanPooledSchedules_Create",
        "description": "Create or update a ScalingPlanPooledSchedule.",
        "x-ms-examples": {
          "ScalingPlanPooledSchedules_Create": {
            "$ref": "./examples/ScalingPlanPooledSchedule_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          },
          {
            "name": "scalingPlanSchedule",
            "description": "Object containing ScalingPlanPooledSchedule definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated ScalingPlanPooledSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledSchedule"
            }
          },
          "201": {
            "description": "Successfully created ScalingPlanPooledSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ScalingPlanPooledSchedule"
        ],
        "operationId": "ScalingPlanPooledSchedules_Delete",
        "description": "Remove a ScalingPlanPooledSchedule.",
        "x-ms-examples": {
          "ScalingPlanPooledSchedules_Delete": {
            "$ref": "./examples/ScalingPlanPooledSchedule_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed ScalingPlanPooledSchedule."
          },
          "204": {
            "description": "ScalingPlanPooledSchedule does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ScalingPlanPooledSchedule"
        ],
        "operationId": "ScalingPlanPooledSchedules_Update",
        "description": "Update a ScalingPlanPooledSchedule.",
        "x-ms-examples": {
          "ScalingPlanPooledSchedules_Update": {
            "$ref": "./examples/ScalingPlanPooledSchedule_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          },
          {
            "name": "scalingPlanSchedule",
            "description": "Object containing ScalingPlanPooledSchedule definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledSchedulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated ScalingPlanPooledSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/pooledSchedules": {
      "get": {
        "tags": [
          "ScalingPlanPooledSchedule"
        ],
        "operationId": "ScalingPlanPooledSchedules_List",
        "description": "List ScalingPlanPooledSchedules.",
        "x-ms-examples": {
          "ScalingPlanPooledSchedules_List": {
            "$ref": "./examples/ScalingPlanPooledSchedule_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved ScalingPlanPooledSchedules.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPooledScheduleList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/personalSchedules/{scalingPlanScheduleName}": {
      "get": {
        "tags": [
          "ScalingPlanPersonalSchedule"
        ],
        "operationId": "ScalingPlanPersonalSchedules_Get",
        "description": "Get a ScalingPlanPersonalSchedule.",
        "x-ms-examples": {
          "ScalingPlanPersonalSchedules_Get": {
            "$ref": "./examples/ScalingPlanPersonalSchedule_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved ScalingPlanPersonalSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ScalingPlanPersonalSchedule"
        ],
        "operationId": "ScalingPlanPersonalSchedules_Create",
        "description": "Create or update a ScalingPlanPersonalSchedule.",
        "x-ms-examples": {
          "ScalingPlanPersonalSchedules_Create": {
            "$ref": "./examples/ScalingPlanPersonalSchedule_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          },
          {
            "name": "scalingPlanSchedule",
            "description": "Object containing ScalingPlanPersonalSchedule definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated ScalingPlanPersonalSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalSchedule"
            }
          },
          "201": {
            "description": "Successfully created ScalingPlanPersonalSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ScalingPlanPersonalSchedule"
        ],
        "operationId": "ScalingPlanPersonalSchedules_Delete",
        "description": "Remove a ScalingPlanPersonalSchedule.",
        "x-ms-examples": {
          "ScalingPlanPersonalSchedules_Delete": {
            "$ref": "./examples/ScalingPlanPersonalSchedule_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed ScalingPlanPersonalSchedule."
          },
          "204": {
            "description": "ScalingPlanPersonalSchedule does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ScalingPlanPersonalSchedule"
        ],
        "operationId": "ScalingPlanPersonalSchedules_Update",
        "description": "Update a ScalingPlanPersonalSchedule.",
        "x-ms-examples": {
          "ScalingPlanPersonalSchedules_Update": {
            "$ref": "./examples/ScalingPlanPersonalSchedule_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanScheduleNameParameter"
          },
          {
            "name": "scalingPlanSchedule",
            "description": "Object containing ScalingPlanPersonalSchedule definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalSchedulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated ScalingPlanPersonalSchedule.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/personalSchedules": {
      "get": {
        "tags": [
          "ScalingPlanPersonalSchedule"
        ],
        "operationId": "ScalingPlanPersonalSchedules_List",
        "description": "List ScalingPlanPersonalSchedules.",
        "x-ms-examples": {
          "ScalingPlanPersonalSchedules_List": {
            "$ref": "./examples/ScalingPlanPersonalSchedule_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ScalingPlanNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved ScalingPlanPersonalSchedules.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanPersonalScheduleList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/scalingPlans": {
      "get": {
        "tags": [
          "ScalingPlan"
        ],
        "operationId": "ScalingPlans_ListBySubscription",
        "description": "List scaling plans in subscription.",
        "x-ms-examples": {
          "ScalingPlans_ListBySubscription": {
            "$ref": "./examples/ScalingPlan_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved scaling plans in subscription.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}": {
      "get": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_Get",
        "description": "Get an application group.",
        "x-ms-examples": {
          "ApplicationGroup_Get": {
            "$ref": "./examples/ApplicationGroup_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_CreateOrUpdate",
        "description": "Create or update an applicationGroup.",
        "x-ms-examples": {
          "ApplicationGroup_Create": {
            "$ref": "./examples/ApplicationGroup_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "applicationGroup",
            "description": "Object containing ApplicationGroup definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "201": {
            "description": "Successfully created application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_Delete",
        "description": "Remove an applicationGroup.",
        "x-ms-examples": {
          "ApplicationGroup_Delete": {
            "$ref": "./examples/ApplicationGroup_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed application group."
          },
          "204": {
            "description": "Application group does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_Update",
        "description": "Update an applicationGroup.",
        "x-ms-examples": {
          "ApplicationGroups_Update": {
            "$ref": "./examples/ApplicationGroup_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "applicationGroup",
            "description": "Object containing ApplicationGroup definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationGroupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups": {
      "get": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_ListByResourceGroup",
        "description": "List applicationGroups.",
        "x-ms-examples": {
          "ApplicationGroup_ListByResourceGroup": {
            "$ref": "./examples/ApplicationGroup_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are applicationGroupType."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application groups in resource group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/applicationGroups": {
      "get": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_ListBySubscription",
        "description": "List applicationGroups in subscription.",
        "x-ms-examples": {
          "ApplicationGroup_List": {
            "$ref": "./examples/ApplicationGroup_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are applicationGroupType."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application groups in subscription.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/startMenuItems": {
      "get": {
        "tags": [
          "StartMenuItem"
        ],
        "operationId": "StartMenuItems_List",
        "description": "List start menu items in the given application group.",
        "x-ms-examples": {
          "StartMenuItem_List": {
            "$ref": "./examples/StartMenuItem_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved start menu items in application group.",
            "schema": {
              "$ref": "#/definitions/StartMenuItemList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/applications/{applicationName}": {
      "get": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_Get",
        "description": "Get an application.",
        "x-ms-examples": {
          "Application_Get": {
            "$ref": "./examples/Application_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_CreateOrUpdate",
        "description": "Create or update an application.",
        "x-ms-examples": {
          "Application_Create": {
            "$ref": "./examples/Application_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "application",
            "description": "Object containing Application definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Successfully created application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_Delete",
        "description": "Remove an application.",
        "x-ms-examples": {
          "Application_Delete": {
            "$ref": "./examples/Application_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed application."
          },
          "204": {
            "description": "Application does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_Update",
        "description": "Update an application.",
        "x-ms-examples": {
          "Application_Update": {
            "$ref": "./examples/Application_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "application",
            "description": "Object containing Application definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/applications": {
      "get": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_List",
        "description": "List applications.",
        "x-ms-examples": {
          "Applications_List": {
            "$ref": "./examples/Application_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved applications in application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}": {
      "get": {
        "tags": [
          "Desktop"
        ],
        "operationId": "Desktops_Get",
        "description": "Get a desktop.",
        "x-ms-examples": {
          "Desktop_Get": {
            "$ref": "./examples/Desktop_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DesktopNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved desktop.",
            "schema": {
              "$ref": "#/definitions/Desktop"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Desktop"
        ],
        "operationId": "Desktops_Update",
        "description": "Update a desktop.",
        "x-ms-examples": {
          "Desktop_Update": {
            "$ref": "./examples/Desktop_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DesktopNameParameter"
          },
          {
            "name": "desktop",
            "description": "Object containing Desktop definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DesktopPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated desktop.",
            "schema": {
              "$ref": "#/definitions/Desktop"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops": {
      "get": {
        "tags": [
          "Desktop"
        ],
        "operationId": "Desktops_List",
        "description": "List desktops.",
        "x-ms-examples": {
          "Desktop_List": {
            "$ref": "./examples/Desktop_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved desktops in application group.",
            "schema": {
              "$ref": "#/definitions/DesktopList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}": {
      "get": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_Get",
        "description": "Get a host pool.",
        "x-ms-examples": {
          "HostPool_Get": {
            "$ref": "./examples/HostPool_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_CreateOrUpdate",
        "description": "Create or update a host pool.",
        "x-ms-examples": {
          "HostPool_Create": {
            "$ref": "./examples/HostPool_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "hostPool",
            "description": "Object containing HostPool definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "201": {
            "description": "Successfully created host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_Delete",
        "description": "Remove a host pool.",
        "x-ms-examples": {
          "HostPool_Delete": {
            "$ref": "./examples/HostPool_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Force flag to delete sessionHost."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed host pool."
          },
          "204": {
            "description": "Host pool does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_Update",
        "description": "Update a host pool.",
        "x-ms-examples": {
          "HostPool_Update": {
            "$ref": "./examples/HostPool_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "hostPool",
            "description": "Object containing HostPool definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HostPoolPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools": {
      "get": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_ListByResourceGroup",
        "description": "List hostPools.",
        "x-ms-examples": {
          "HostPool_ListByResourceGroup": {
            "$ref": "./examples/HostPool_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved host pool in resource group.",
            "schema": {
              "$ref": "#/definitions/HostPoolList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/hostPools": {
      "get": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_List",
        "description": "List hostPools in subscription.",
        "x-ms-examples": {
          "HostPool_List": {
            "$ref": "./examples/HostPool_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page."
          },
          {
            "name": "isDescending",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether the collection is descending."
          },
          {
            "name": "initialSkip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Initial number of items to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved host pool in subscription.",
            "schema": {
              "$ref": "#/definitions/HostPoolList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default": {
      "get": {
        "tags": [
          "SessionHostManagements"
        ],
        "operationId": "SessionHostManagements_Get",
        "description": "Get a SessionHostManagement.",
        "x-ms-examples": {
          "SessionHostManagements_Get": {
            "$ref": "./examples/SessionHostManagements_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sessionHostManagement.",
            "schema": {
              "$ref": "#/definitions/SessionHostManagement"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SessionHostManagement"
        ],
        "operationId": "SessionHostManagements_CreateOrUpdate",
        "description": "Create or update a SessionHostManagement.",
        "x-ms-examples": {
          "SessionHostManagements_Create": {
            "$ref": "./examples/SessionHostManagements_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "sessionHostManagement",
            "description": "Object containing SessionHostManagement definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionHostManagement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated SessionHostManagement.",
            "schema": {
              "$ref": "#/definitions/SessionHostManagement"
            }
          },
          "201": {
            "description": "Successfully created SessionHostManagement.",
            "schema": {
              "$ref": "#/definitions/SessionHostManagement"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SessionHostManagement"
        ],
        "operationId": "SessionHostManagements_Update",
        "description": "Update a SessionHostManagement.",
        "x-ms-examples": {
          "SessionHostManagements_Update": {
            "$ref": "./examples/SessionHostManagements_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "sessionHostManagement",
            "description": "Object containing SessionHostManagement definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SessionHostManagementPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update SessionHostManagement success.",
            "schema": {
              "$ref": "#/definitions/SessionHostManagement"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements": {
      "get": {
        "tags": [
          "SessionHostManagements"
        ],
        "operationId": "SessionHostManagements_ListByHostPool",
        "description": "List SessionHostManagements by hostPool.",
        "x-ms-examples": {
          "SessionHostConfigurations_ListByHostPool": {
            "$ref": "./examples/SessionHostManagements_ListByHostPool.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved SessionHostManagements in HostPool.",
            "schema": {
              "$ref": "#/definitions/SessionHostManagementList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/initiateSessionHostUpdate": {
      "post": {
        "tags": [
          "SessionHostManagement"
        ],
        "operationId": "InitiateSessionHostUpdate_Post",
        "description": "Initiates a hostpool update or schedule an update for the future.",
        "x-ms-examples": {
          "HostPools_Update_Post": {
            "$ref": "./examples/SessionHostManagements_UpdateSessionHosts_Post.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "updateSessionHostsRequestBody",
            "description": "Object containing the definition for properties to be used in the sessionHostUpdate validation.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateSessionHostsRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated hostpool update."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/controlSessionHostUpdate": {
      "post": {
        "tags": [
          "SessionHostManagement"
        ],
        "operationId": "ControlSessionHostUpdate_Post",
        "description": "Control update of a hostpool.",
        "x-ms-examples": {
          "SessionHostManagements_ControlUpdate_Post": {
            "$ref": "./examples/SessionHostManagements_ControlSessionHostUpdate_Post.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "hostPoolUpdateControlParameter",
            "description": "Object containing control action for hostpool update.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HostPoolUpdateControlParameter"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successfully controlled hostpool update.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/sessionHostUpdateStatuses/default": {
      "get": {
        "tags": [
          "SessionHostManagement"
        ],
        "operationId": "SessionHostManagementsUpdateStatus_Get",
        "description": "Get the session host update status for a given hostpool.",
        "x-ms-examples": {
          "SessionHostManagements_UpdateStatus_Get": {
            "$ref": "./examples/SessionHostManagements_UpdateStatus_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
[...]
