{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2023-08-01-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/builders": {
      "get": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_ListBySubscription",
        "description": "List BuilderResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builders_ListBySubscription_0": {
            "$ref": "./examples/Builders_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/builders": {
      "get": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_ListByResourceGroup",
        "description": "List BuilderResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builders_ListByResourceGroup_0": {
            "$ref": "./examples/Builders_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/builders/{builderName}": {
      "get": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_Get",
        "description": "Get a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_Get_0": {
            "$ref": "./examples/Builders_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_CreateOrUpdate",
        "description": "Create or update a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "name": "builderEnvelope",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "201": {
            "description": "ARM create or update operation has been started.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Builders_CreateOrUpdate_0": {
            "$ref": "./examples/Builders_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_Update",
        "description": "Update a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "name": "builderEnvelope",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/BuilderResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_Update_0": {
            "$ref": "./examples/Builders_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_Delete",
        "description": "Delete a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_Delete_0": {
            "$ref": "./examples/Builders_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BuilderProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/BuilderProvisioningState",
          "description": "Provisioning state of a builder resource.",
          "readOnly": true
        },
        "environmentId": {
          "type": "string",
          "description": "Resource ID of the container apps environment that the builder is associated with.",
          "format": "arm-id"
        },
        "containerRegistries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerRegistry"
          },
          "x-ms-identifiers": [
            "containerRegistryServer"
          ],
          "description": "List of mappings of container registries and the managed identity used to connect to it."
        }
      },
      "description": "The builder properties.",
      "required": [
        "environmentId"
      ]
    },
    "BuilderResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuilderProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "Information about the SourceToCloud builder resource.",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BuilderCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuilderResource"
          },
          "description": "The BuilderResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a BuilderResource list operation.",
      "required": [
        "value"
      ]
    },
    "BuilderResourceUpdate": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/BuilderResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the BuilderResource."
    },
    "BuilderResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "environmentId": {
          "type": "string",
          "description": "Resource ID of the container apps environment that the builder is associated with.",
          "format": "arm-id"
        }
      },
      "description": "The updatable properties of the BuilderResource."
    },
    "ContainerRegistry": {
      "type": "object",
      "properties": {
        "containerRegistryServer": {
          "type": "string",
          "description": "Login server of the container registry."
        },
        "identityResourceId": {
          "type": "string",
          "description": "Resource ID of the managed identity.",
          "format": "arm-id"
        }
      },
      "description": "Model representing a mapping from a container registry to the identity used to connect to it.",
      "required": [
        "containerRegistryServer",
        "identityResourceId"
      ]
    },
    "BuilderProvisioningState": {
      "type": "string",
      "description": "Resource instance provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "BuilderProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    }
  },
  "parameters": {
    "BuilderNameParameter": {
      "name": "builderName",
      "in": "path",
      "required": true,
      "description": "The name of the builder.",
      "minLength": 2,
      "maxLength": 32,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method"
    }
  }
}
