{
  "swagger": "2.0",
  "info": {
    "version": "2023-08-01-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprSubscriptions": {
      "get": {
        "tags": [
          "DaprSubscriptions"
        ],
        "summary": "Get the Dapr subscriptions for a managed environment.",
        "operationId": "DaprSubscriptions_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprSubscriptionsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Dapr subscriptions": {
            "$ref": "./examples/DaprSubscriptions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprSubscriptions/{name}": {
      "get": {
        "tags": [
          "DaprSubscriptions"
        ],
        "summary": "Get a dapr subscription.",
        "operationId": "DaprSubscriptions_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr subscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprSubscription"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Dapr subscription with default route only": {
            "$ref": "./examples/DaprSubscriptions_Get_BulkSubscribeAndScopes.json"
          },
          "Get Dapr subscription with bulk subscribe configuration and scopes": {
            "$ref": "./examples/DaprSubscriptions_Get_DefaultRoute.json"
          },
          "GetDapr subscription with route rules and metadata": {
            "$ref": "./examples/DaprSubscriptions_Get_RouteRulesAndMetadata.json"
          }
        }
      },
      "put": {
        "tags": [
          "DaprSubscriptions"
        ],
        "summary": "Creates or updates a Dapr subscription.",
        "description": "Creates or updates a Dapr subscription in a Managed Environment.",
        "operationId": "DaprSubscriptions_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "daprSubscriptionEnvelope",
            "in": "body",
            "description": "Configuration details of the Dapr subscription.",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprSubscription"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprSubscription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprSubscription"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "Create or update dapr subscription with default route only": {
            "$ref": "./examples/DaprSubscriptions_CreateOrUpdate_DefaultRoute.json"
          },
          "Create or update dapr subscription with bulk subscribe configuration and scopes": {
            "$ref": "./examples/DaprSubscriptions_CreateOrUpdate_BulkSubscribeAndScopes.json"
          },
          "Create or update dapr subscription with route rules and metadata": {
            "$ref": "./examples/DaprSubscriptions_CreateOrUpdate_RouteRulesAndMetadata.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DaprSubscriptions"
        ],
        "summary": "Delete a Dapr subscription.",
        "description": "Delete a Dapr subscription from a Managed Environment.",
        "operationId": "DaprSubscriptions_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr subscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed"
          },
          "204": {
            "description": "Environment does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete dapr subscription": {
            "$ref": "./examples/DaprSubscriptions_Delete.json"
          }
        },
        "x-ms-long-running-operation": false
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
