{
  "swagger": "2.0",
  "info": {
    "version": "2022-01-01-preview",
    "title": "AppPlatformManagementClient",
    "description": "REST API for Azure Spring Cloud"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a Service and its properties.",
        "operationId": "Services_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Service.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_Get": {
            "$ref": "./examples/Services_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create a new Service or update an exiting Service.",
        "operationId": "Services_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Service.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Service and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Service is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "$ref": "./examples/Services_CreateOrUpdate.json"
          },
          "Services_CreateOrUpdate_VNetInjection": {
            "$ref": "./examples/Services_CreateOrUpdate_VNetInjection.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to delete a Service.",
        "operationId": "Services_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted successfully."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_Delete": {
            "$ref": "./examples/Services_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to update an exiting Service.",
        "operationId": "Services_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Service.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Service is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_Update": {
            "$ref": "./examples/Services_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/listTestKeys": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List test keys for a Service.",
        "operationId": "Services_ListTestKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the test keys.",
            "schema": {
              "$ref": "#/definitions/TestKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_ListTestKeys": {
            "$ref": "./examples/Services_ListTestKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/regenerateTestKey": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Regenerate a test key for a Service.",
        "operationId": "Services_RegenerateTestKey",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "regenerateTestKeyRequest",
            "in": "body",
            "description": "Parameters for the operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateTestKeyRequestPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/TestKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_RegenerateTestKey": {
            "$ref": "./examples/Services_RegenerateTestKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/disableTestEndpoint": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable test endpoint functionality for a Service.",
        "operationId": "Services_DisableTestEndpoint",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_DisableTestEndpoint": {
            "$ref": "./examples/Services_DisableTestEndpoint.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/enableTestEndpoint": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Enable test endpoint functionality for a Service.",
        "operationId": "Services_EnableTestEndpoint",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TestKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_EnableTestEndpoint": {
            "$ref": "./examples/Services_EnableTestEndpoint.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/stop": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Stop a Service.",
        "operationId": "Services_Stop",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The response indicates the stop operation is performed in the background."
          },
          "404": {
            "description": "Not found. The response indicates the service does not exist.",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict. The response indicates the exiting Service is now updating.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_Stop": {
            "$ref": "./examples/Services_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/start": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Start a Service.",
        "operationId": "Services_Start",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The response indicates the stop operation is performed in the background."
          },
          "404": {
            "description": "Not found. The response indicates the service does not exist.",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict. The response indicates the exiting Service is now updating.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_Start": {
            "$ref": "./examples/Services_Start.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configServers/default": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the config server and its properties.",
        "operationId": "ConfigServers_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigServers_Get": {
            "$ref": "./examples/ConfigServers_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the config server.",
        "operationId": "ConfigServers_UpdatePut",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "configServerResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Config Server is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ConfigServers_UpdatePut": {
            "$ref": "./examples/ConfigServers_UpdatePut.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the config server.",
        "operationId": "ConfigServers_UpdatePatch",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "configServerResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Config Server is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ConfigServers_UpdatePatch": {
            "$ref": "./examples/ConfigServers_UpdatePatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configServers/validate": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Check if the config server settings are valid.",
        "operationId": "ConfigServers_Validate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "configServerSettings",
            "in": "body",
            "description": "Config server settings to be validated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigServerSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the validation result of Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerSettingsValidateResult"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the ConfigServerSetting is validating.",
            "schema": {
              "$ref": "#/definitions/ConfigServerSettingsValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ConfigServers_Validate": {
            "$ref": "./examples/ConfigServers_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices/{configurationServiceName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Application Configuration Service and its properties.",
        "operationId": "ConfigurationServices_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationServices_Get": {
            "$ref": "./examples/ConfigurationServices_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create the default Application Configuration Service or update the existing Application Configuration Service.",
        "operationId": "ConfigurationServices_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          },
          {
            "name": "configurationServiceResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Service and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ConfigurationServices_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationServices_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable the default Application Configuration Service.",
        "operationId": "ConfigurationServices_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the default Application Configuration Service has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the default Application Configuration Service is now deleting."
          },
          "204": {
            "description": "Success. The response indicates the default Application Configuration Service doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ConfigurationServices_Delete": {
            "$ref": "./examples/ConfigurationServices_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "ConfigurationServices_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of configuration service in the Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConfigurationServices_List": {
            "$ref": "./examples/ConfigurationServices_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices/{configurationServiceName}/validate": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Check if the Application Configuration Service settings are valid.",
        "operationId": "ConfigurationServices_Validate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          },
          {
            "name": "settings",
            "in": "body",
            "description": "Application Configuration Service settings to be validated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the validation result of Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettingsValidateResult"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the ConfigurationServiceSettings is validating.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettingsValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ConfigurationServices_Validate": {
            "$ref": "./examples/ConfigurationServices_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/serviceRegistries/{serviceRegistryName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Service Registry and its properties.",
        "operationId": "ServiceRegistries_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Service Registry.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceRegistries_Get": {
            "$ref": "./examples/ServiceRegistries_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create the default Service Registry or update the existing Service Registry.",
        "operationId": "ServiceRegistries_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Service Registry.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new created Service Registry and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ServiceRegistries_CreateOrUpdate": {
            "$ref": "./examples/ServiceRegistries_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable the default Service Registry.",
        "operationId": "ServiceRegistries_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the default Service Registries has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the default Service Registries is now deleting."
          },
          "204": {
            "description": "Success. The response indicates the default Service Registries doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ServiceRegistries_Delete": {
            "$ref": "./examples/ServiceRegistries_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/serviceRegistries": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "ServiceRegistries_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Service Registry resources in the Service.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ServiceRegistries_List": {
            "$ref": "./examples/ServiceRegistries_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List build services resource.",
        "operationId": "BuildService_ListBuildServices",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build Services.",
            "schema": {
              "$ref": "#/definitions/BuildServiceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildService_ListBuildServices": {
            "$ref": "./examples/BuildService_ListBuildServices.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a build service resource.",
        "operationId": "BuildService_GetBuildService",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build Service.",
            "schema": {
              "$ref": "#/definitions/BuildService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetBuildService": {
            "$ref": "./examples/BuildService_GetBuildService.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List KPack builds.",
        "operationId": "BuildService_ListBuilds",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the builds.",
            "schema": {
              "$ref": "#/definitions/BuildCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildService_ListBuilds": {
            "$ref": "./examples/BuildService_ListBuilds.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds/{buildName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a KPack build.",
        "operationId": "BuildService_GetBuild",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetBuild": {
            "$ref": "./examples/BuildService_GetBuild.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update a KPack build.",
        "operationId": "BuildService_CreateOrUpdateBuild",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          },
          {
            "name": "build",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Build.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "201": {
            "description": "Created. The response describes the new Build and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_CreateOrUpdateBuild": {
            "$ref": "./examples/BuildService_CreateOrUpdateBuild.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builders/{builderName}/buildpackBindings/{buildpackBindingName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a buildpack binding by name.",
        "operationId": "BuildpackBinding_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildpackBindingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a Buildpack Binding.",
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildpackBinding_Get": {
            "$ref": "./examples/BuildpackBinding_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update a buildpack binding.",
        "operationId": "BuildpackBinding_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildpackBindingNameParameter"
          },
          {
            "name": "buildpackBinding",
            "in": "body",
            "description": "The target buildpack binding for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a Buildpack Binding for the create or update operation.",
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Buildpack Binding and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BuildpackBinding_CreateOrUpdate": {
            "$ref": "./examples/BuildpackBinding_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to delete a Buildpack Binding",
        "operationId": "BuildpackBinding_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildpackBindingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BuildpackBinding_Delete": {
            "$ref": "./examples/BuildpackBinding_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builders/{builderName}/buildpackBindings": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all buildpack bindings in a builder.",
        "operationId": "BuildpackBinding_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Buildpack Binding in the builder.",
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildpackBinding_Get": {
            "$ref": "./examples/BuildpackBinding_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds/{buildName}/results": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List KPack build results.",
        "operationId": "BuildService_ListBuildResults",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the build results.",
            "schema": {
              "$ref": "#/definitions/BuildResultCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildService_ListBuildResults": {
            "$ref": "./examples/BuildService_ListBuildResults.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds/{buildName}/results/{buildResultName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a KPack build result.",
        "operationId": "BuildService_GetBuildResult",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          },
          {
            "$ref": "#/parameters/BuildResultNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the build result.",
            "schema": {
              "$ref": "#/definitions/BuildResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetBuildResult": {
            "$ref": "./examples/BuildService_GetBuildResult.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds/{buildName}/results/{buildResultName}/getLogFileUrl": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a KPack build result log download URL.",
        "operationId": "BuildService_GetBuildResultLog",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          },
          {
            "$ref": "#/parameters/BuildResultNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Build result log exists and can be downloaded.",
            "schema": {
              "$ref": "#/definitions/BuildResultLog"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetBuildResultLog": {
            "$ref": "./examples/BuildService_GetBuildResultLog.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builders/{builderName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a KPack builder.",
        "operationId": "BuildServiceBuilder_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Builder",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildServiceBuilder_Get": {
            "$ref": "./examples/BuildServiceBuilder_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update a KPack builder.",
        "operationId": "BuildServiceBuilder_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "name": "builderResource",
            "in": "body",
            "description": "The target builder for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Builder",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Builder and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BuildServiceBuilder_CreateOrUpdate": {
            "$ref": "./examples/BuildServiceBuilder_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Delete a KPack builder.",
        "operationId": "BuildServiceBuilder_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the builder resource has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the builder resource is deleting."
          },
          "204": {
            "description": "Success. The response indicates the builder resource doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BuildServiceBuilder_Delete": {
            "$ref": "./examples/BuildServiceBuilder_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builders": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List KPack builders result.",
        "operationId": "BuildServiceBuilder_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Builder List",
            "schema": {
              "$ref": "#/definitions/BuilderResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildServiceBuilder_List": {
            "$ref": "./examples/BuildServiceBuilder_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/getResourceUploadUrl": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get an resource upload URL for build service, which may be artifacts or source archive.",
        "operationId": "BuildService_GetResourceUploadUrl",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the resource upload URL.",
            "schema": {
              "$ref": "#/definitions/ResourceUploadDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetResourceUploadUrl": {
            "$ref": "./examples/BuildService_GetResourceUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/supportedBuildpacks": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get all supported buildpacks.",
        "operationId": "BuildService_ListSupportedBuildpacks",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes all supported buildpacks.",
            "schema": {
              "$ref": "#/definitions/SupportedBuildpacksCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_ListSupportedBuildpacks": {
            "$ref": "./examples/BuildService_ListSupportedBuildpacks.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/supportedBuildpacks/{buildpackName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the supported buildpack resource.",
        "operationId": "BuildService_GetSupportedBuildpack",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceBuildpackNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the supported buildpack.",
            "schema": {
              "$ref": "#/definitions/SupportedBuildpackResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetSupportedBuildpack": {
            "$ref": "./examples/BuildService_GetSupportedBuildpack.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/supportedStacks": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get all supported stacks.",
        "operationId": "BuildService_ListSupportedStacks",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes all supported stacks.",
            "schema": {
              "$ref": "#/definitions/SupportedStacksCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_ListSupportedStacks": {
            "$ref": "./examples/BuildService_ListSupportedStacks.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/supportedStacks/{stackName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the supported stack resource.",
        "operationId": "BuildService_GetSupportedStack",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceStackNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the supported stack.",
            "schema": {
              "$ref": "#/definitions/SupportedStackResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetSupportedStack": {
            "$ref": "./examples/BuildService_GetSupportedStack.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/agentPools": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List build service agent pool.",
        "operationId": "BuildServiceAgentPool_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes build service agent pool.",
            "schema": {
              "$ref": "#/definitions/BuildServiceAgentPoolResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildServiceAgentPool_List": {
            "$ref": "./examples/BuildServiceAgentPool_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/agentPools/{agentPoolName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get build service agent pool.",
        "operationId": "BuildServiceAgentPool_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceAgentPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes build service agent pool.",
            "schema": {
              "$ref": "#/definitions/BuildServiceAgentPoolResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildServiceAgentPool_Get": {
            "$ref": "./examples/BuildServiceAgentPool_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update build service agent pool.",
        "operationId": "BuildServiceAgentPool_UpdatePut",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceAgentPoolNameParameter"
          },
          {
            "name": "agentPoolResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildServiceAgentPoolResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes build service agent pool.",
            "schema": {
              "$ref": "#/definitions/BuildServiceAgentPoolResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new build service agent pool and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/BuildServiceAgentPoolResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BuildServiceAgentPool_UpdatePut": {
            "$ref": "./examples/BuildServiceAgentPool_UpdatePut.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/monitoringSettings/default": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Monitoring Setting and its properties.",
        "operationId": "MonitoringSettings_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Monitoring Setting.",
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "MonitoringSettings_Get": {
            "$ref": "./examples/MonitoringSettings_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the Monitoring Setting.",
        "operationId": "MonitoringSettings_UpdatePut",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "monitoringSettingResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Monitoring Setting.",
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Monitoring Setting is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "MonitoringSettings_UpdatePut": {
            "$ref": "./examples/MonitoringSettings_UpdatePut.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the Monitoring Setting.",
        "operationId": "MonitoringSettings_UpdatePatch",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "monitoringSettingResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Monitoring Setting.",
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Monitoring Setting is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/MonitoringSettingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "MonitoringSettings_UpdatePatch": {
            "$ref": "./examples/MonitoringSettings_UpdatePatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get an App and its properties.",
        "operationId": "Apps_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "name": "syncStatus",
            "in": "query",
            "description": "Indicates whether sync status",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding App.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Apps_Get": {
            "$ref": "./examples/Apps_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create a new App or update an exiting App.",
        "operationId": "Apps_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "name": "appResource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated App.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new App and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting App is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Apps_CreateOrUpdate": {
            "$ref": "./examples/Apps_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to delete an App.",
        "operationId": "Apps_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Apps_Delete": {
            "$ref": "./examples/Apps_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to update an exiting App.",
        "operationId": "Apps_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "name": "appResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated App.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting App is now updating and contains a Location header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Apps_Update": {
            "$ref": "./examples/Apps_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "Apps_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Apps in the Service.",
            "schema": {
              "$ref": "#/definitions/AppResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Apps_List": {
            "$ref": "./examples/Apps_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/getResourceUploadUrl": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get an resource upload URL for an App, which may be artifacts or source archive.",
        "operationId": "Apps_GetResourceUploadUrl",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the resource upload URL.",
            "schema": {
              "$ref": "#/definitions/ResourceUploadDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Apps_GetResourceUploadUrl": {
            "$ref": "./examples/Apps_GetResourceUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/setActiveDeployments": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Set existing Deployment under the app as active",
        "operationId": "Apps_SetActiveDeployments",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "name": "activeDeploymentCollection",
            "in": "body",
            "description": "A list of Deployment name to be active.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveDeploymentCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the active deployment.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Binding is now updating and contains a Location header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/AppResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Apps_SetActiveDeployments": {
            "$ref": "./examples/Apps_SetActiveDeployments.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings/{bindingName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a Binding and its properties.",
        "operationId": "Bindings_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "$ref": "#/parameters/BindingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Binding.",
            "schema": {
              "$ref": "#/definitions/BindingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Bindings_Get": {
            "$ref": "./examples/Bindings_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create a new Binding or update an exiting Binding.",
        "operationId": "Bindings_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "$ref": "#/parameters/BindingNameParameter"
          },
          {
            "name": "bindingResource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BindingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the created or updated Binding.",
            "schema": {
              "$ref": "#/definitions/BindingResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Binding and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/BindingResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Binding is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/BindingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Bindings_CreateOrUpdate": {
            "$ref": "./examples/Bindings_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to delete a Binding.",
        "operationId": "Bindings_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/AppNameParameter"
          },
          {
            "$ref": "#/parameters/BindingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource doesn't exist."
          },
          "default": {
[...]
