{
  "swagger": "2.0",
  "info": {
    "title": "TopLevelDomains API Client",
    "version": "2024-11-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Domains"
    },
    {
      "name": "DomainOwnershipIdentifiers"
    },
    {
      "name": "TopLevelDomains"
    }
  ],
  "paths": {
    "/providers/Microsoft.DomainRegistration/operations": {
      "get": {
        "operationId": "DomainRegistrationProvider_ListOperations",
        "tags": [
          "Operations"
        ],
        "summary": "Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider",
        "description": "Description for Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CsmOperationCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability": {
      "post": {
        "operationId": "Domains_CheckAvailability",
        "summary": "Check if a domain is available for registration.",
        "description": "Description for Check if a domain is available for registration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "identifier",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DomainAvailabilityCheckResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check domain availability": {
            "$ref": "./examples/CheckDomainAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains": {
      "get": {
        "operationId": "Domains_List",
        "tags": [
          "Domains"
        ],
        "summary": "Get all domains in a subscription.",
        "description": "Description for Get all domains in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List domains by subscription": {
            "$ref": "./examples/ListDomainsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest": {
      "post": {
        "operationId": "Domains_GetControlCenterSsoRequest",
        "summary": "Generate a single sign-on request for the domain management portal.",
        "description": "Description for Generate a single sign-on request for the domain management portal.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DomainControlCenterSsoRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Domain Control Center Sso Request": {
            "$ref": "./examples/GetDomainControlCenterSsoRequest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations": {
      "post": {
        "operationId": "Domains_ListRecommendations",
        "summary": "Get domain name recommendations based on keywords.",
        "description": "Description for Get domain name recommendations based on keywords.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainRecommendationSearchParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NameIdentifierCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List domain recommendations": {
            "$ref": "./examples/ListDomainRecommendations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains": {
      "get": {
        "operationId": "TopLevelDomains_List",
        "tags": [
          "TopLevelDomains"
        ],
        "summary": "Get all top-level domains supported for registration.",
        "description": "Description for Get all top-level domains supported for registration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TopLevelDomainCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Top Level Domains": {
            "$ref": "./examples/ListTopLevelDomains.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}": {
      "get": {
        "operationId": "TopLevelDomains_Get",
        "tags": [
          "TopLevelDomains"
        ],
        "summary": "Get details of a top-level domain.",
        "description": "Description for Get details of a top-level domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the top-level domain.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TopLevelDomain"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Top Level Domain": {
            "$ref": "./examples/GetTopLevelDomain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements": {
      "post": {
        "operationId": "TopLevelDomains_ListAgreements",
        "tags": [
          "TopLevelDomains"
        ],
        "summary": "Gets all legal agreements that user needs to accept before purchasing a domain.",
        "description": "Description for Gets all legal agreements that user needs to accept before purchasing a domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the top-level domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "agreementOption",
            "in": "body",
            "description": "Domain agreement options.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TopLevelDomainAgreementOption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TldLegalAgreementCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Top Level Domain Agreements": {
            "$ref": "./examples/ListTopLevelDomainAgreements.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains": {
      "get": {
        "operationId": "Domains_ListByResourceGroup",
        "tags": [
          "Domains"
        ],
        "summary": "Get all domains in a resource group.",
        "description": "Description for Get all domains in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List domains by resource group": {
            "$ref": "./examples/ListDomainsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}": {
      "get": {
        "operationId": "Domains_Get",
        "tags": [
          "Domains"
        ],
        "summary": "Get a domain.",
        "description": "Description for Get a domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Domain": {
            "$ref": "./examples/GetDomain.json"
          }
        }
      },
      "put": {
        "operationId": "Domains_CreateOrUpdate",
        "tags": [
          "Domains"
        ],
        "summary": "Creates or updates a domain.",
        "description": "Description for Creates or updates a domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "domain",
            "in": "body",
            "description": "Domain registration information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Domain' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Domain"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create App Service Domain": {
            "$ref": "./examples/CreateAppServiceDomain.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Domain"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Domains_Update",
        "tags": [
          "Domains"
        ],
        "summary": "Creates or updates a domain.",
        "description": "Description for Creates or updates a domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "domain",
            "in": "body",
            "description": "Domain registration information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Domain"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update App Service Domain": {
            "$ref": "./examples/UpdateAppServiceDomain.json"
          }
        }
      },
      "delete": {
        "operationId": "Domains_Delete",
        "tags": [
          "Domains"
        ],
        "summary": "Delete a domain.",
        "description": "Description for Delete a domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "forceHardDeleteDomain",
            "in": "query",
            "description": "Specify <code>true</code> to delete the domain immediately. The default is <code>false</code> which deletes the domain after 24 hours.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete App Service Domain": {
            "$ref": "./examples/DeleteAppServiceDomain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers": {
      "get": {
        "operationId": "Domains_ListOwnershipIdentifiers",
        "tags": [
          "DomainOwnershipIdentifiers"
        ],
        "summary": "Lists domain ownership identifiers.",
        "description": "Description for Lists domain ownership identifiers.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainOwnershipIdentifierCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Domain Ownership Identifiers": {
            "$ref": "./examples/ListDomainOwnershipIdentifiers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers/{name}": {
      "get": {
        "operationId": "Domains_GetOwnershipIdentifier",
        "tags": [
          "DomainOwnershipIdentifiers"
        ],
        "summary": "Get ownership identifier for domain",
        "description": "Description for Get ownership identifier for domain",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainOwnershipIdentifier"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Domain Ownership Identifier": {
            "$ref": "./examples/GetDomainOwnershipIdentifier.json"
          }
        }
      },
      "put": {
        "operationId": "Domains_CreateOrUpdateOwnershipIdentifier",
        "tags": [
          "DomainOwnershipIdentifiers"
        ],
        "summary": "Creates an ownership identifier for a domain or updates identifier details for an existing identifier",
        "description": "Description for Creates an ownership identifier for a domain or updates identifier details for an existing identifier",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainOwnershipIdentifier",
            "in": "body",
            "description": "A JSON representation of the domain ownership properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainOwnershipIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DomainOwnershipIdentifier' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DomainOwnershipIdentifier"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create App Service Domain OwnershipIdentifier": {
            "$ref": "./examples/CreateAppServiceDomainOwnershipIdentifier.json"
          }
        }
      },
      "patch": {
        "operationId": "Domains_UpdateOwnershipIdentifier",
        "tags": [
          "DomainOwnershipIdentifiers"
        ],
        "summary": "Creates an ownership identifier for a domain or updates identifier details for an existing identifier",
        "description": "Description for Creates an ownership identifier for a domain or updates identifier details for an existing identifier",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainOwnershipIdentifier",
            "in": "body",
            "description": "A JSON representation of the domain ownership properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainOwnershipIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainOwnershipIdentifier"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update App Service Domain OwnershipIdentifier": {
            "$ref": "./examples/UpdateAppServiceDomainOwnershipIdentifier.json"
          }
        }
      },
      "delete": {
        "operationId": "Domains_DeleteOwnershipIdentifier",
        "tags": [
          "DomainOwnershipIdentifiers"
        ],
        "summary": "Delete ownership identifier for domain",
        "description": "Description for Delete ownership identifier for domain",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete App Service Domain Ownership Identifier": {
            "$ref": "./examples/DeleteAppServiceDomainOwnershipIdentifier.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/renew": {
      "post": {
        "operationId": "Domains_Renew",
        "tags": [
          "Domains"
        ],
        "summary": "Renew a domain.",
        "description": "Description for Renew a domain.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Renew an existing domain": {
            "$ref": "./examples/RenewDomain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/transferOut": {
      "put": {
        "operationId": "Domains_TransferOut",
        "tags": [
          "Domains"
        ],
        "summary": "Transfer out domain to another registrar",
        "description": "Transfer out domain to another registrar",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Transfer out domain": {
            "$ref": "./examples/TransferOutDomain.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "description": "Address information for domain registration.",
      "properties": {
        "address1": {
          "type": "string",
          "description": "First line of an Address."
        },
        "address2": {
          "type": "string",
          "description": "The second line of the Address. Optional."
        },
        "city": {
          "type": "string",
          "description": "The city for the address."
        },
        "country": {
          "type": "string",
          "description": "The country for the address."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code for the address."
        },
        "state": {
          "type": "string",
          "description": "The state or province for the address."
        }
      },
      "required": [
        "address1",
        "city",
        "country",
        "postalCode",
        "state"
      ]
    },
    "ArmBadRequestResponse": {
      "type": "object",
      "description": "The server could not understand the request due to invalid syntax."
    },
    "AzureResourceType": {
      "type": "string",
      "description": "Type of the Azure resource the hostname is assigned to.",
      "enum": [
        "Website",
        "TrafficManager"
      ],
      "x-ms-enum": {
        "name": "AzureResourceType",
        "modelAsString": false
      }
    },
    "Contact": {
      "type": "object",
      "description": "Contact information for domain registration. If 'Domain Privacy' option is not selected then the contact information is made publicly available through the Whois\ndirectories as per ICANN requirements.",
      "properties": {
        "addressMailing": {
          "$ref": "#/definitions/Address",
          "description": "Mailing address."
        },
        "email": {
          "type": "string",
          "description": "Email address."
        },
        "fax": {
          "type": "string",
          "description": "Fax number."
        },
        "jobTitle": {
          "type": "string",
          "description": "Job title."
        },
        "nameFirst": {
          "type": "string",
          "description": "First name."
        },
        "nameLast": {
          "type": "string",
          "description": "Last name."
        },
        "nameMiddle": {
          "type": "string",
          "description": "Middle name."
        },
        "organization": {
          "type": "string",
          "description": "Organization contact belongs to."
        },
        "phone": {
          "type": "string",
          "description": "Phone number."
        }
      },
      "required": [
        "email",
        "nameFirst",
        "nameLast",
        "phone"
      ]
    },
    "CsmOperationCollection": {
      "type": "object",
      "description": "Collection of Azure resource manager operation metadata.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Collection of resources.",
          "items": {
            "$ref": "#/definitions/CsmOperationDescription"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page of resources.",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "CsmOperationDescription": {
      "type": "object",
      "description": "Description of an operation available for Microsoft.Web resource provider.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Operation name, e.g. Microsoft.Web/sites/write."
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Operation display name."
        },
        "display": {
          "$ref": "#/definitions/CsmOperationDisplay",
          "description": "Meta data about operation used for display in portal."
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation, e.g. \"system\" or \"user\"."
        },
        "properties": {
          "$ref": "#/definitions/CsmOperationDescriptionProperties",
          "description": "Properties available for a Microsoft.Web resource provider operation."
        }
      }
    },
    "CsmOperationDescriptionProperties": {
      "type": "object",
      "description": "Properties available for a Microsoft.Web resource provider operation.",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "Resource metrics service provided by Microsoft.Insights resource provider."
        }
      }
    },
    "CsmOperationDisplay": {
      "type": "object",
      "description": "Meta data about operation used for display in portal.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Provider name."
        },
        "resource": {
          "type": "string",
          "description": "Resource type."
        },
        "operation": {
          "type": "string",
          "description": "Operation name."
        },
        "description": {
          "type": "string",
          "description": "Operation description."
        }
      }
    },
    "CustomHostNameDnsRecordType": {
      "type": "string",
      "description": "Type of the DNS record.",
      "enum": [
        "CName",
        "A"
      ],
      "x-ms-enum": {
        "name": "CustomHostNameDnsRecordType",
        "modelAsString": false
      }
    },
    "DefaultErrorResponse": {
      "type": "object",
      "description": "App Service error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/DefaultErrorResponseError",
          "description": "Error model.",
          "readOnly": true
        }
      }
    },
    "DefaultErrorResponseError": {
      "type": "object",
      "description": "Error model.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Standardized string to programmatically identify the error.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Detailed error description and debugging information.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Detailed error description and debugging information.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "Error details.",
          "items": {
            "$ref": "#/definitions/DefaultErrorResponseErrorDetailsItem"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "type": "string",
          "description": "More information to debug error.",
          "readOnly": true
        }
      }
    },
    "DefaultErrorResponseErrorDetailsItem": {
      "type": "object",
      "description": "Detailed errors.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Standardized string to programmatically identify the error.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Detailed error description and debugging information.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Detailed error description and debugging information.",
          "readOnly": true
        }
      }
    },
    "Dimension": {
      "type": "object",
      "description": "Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app,\nwhere instance name is dimension of the metric HTTP request",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the dimension."
        },
        "internalName": {
          "type": "string",
          "description": "Dimension of the internal name."
        },
        "toBeExportedForShoebox": {
          "type": "boolean",
          "description": "Dimension to be exported for shoebox."
        }
      }
    },
    "DnsType": {
      "type": "string",
      "description": "Current DNS type",
      "enum": [
        "AzureDns",
        "DefaultDomainRegistrarDns"
      ],
      "x-ms-enum": {
        "name": "DnsType",
        "modelAsString": false
      }
    },
    "Domain": {
      "type": "object",
      "description": "Information about a domain.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DomainProperties",
          "description": "Domain resource specific properties",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DomainAvailabilityCheckResult": {
      "type": "object",
      "description": "Domain availability check result.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the domain."
        },
        "available": {
          "type": "boolean",
          "description": "<code>true</code> if domain can be purchased using CreateDomain API; otherwise, <code>false</code>."
        },
        "domainType": {
          "$ref": "#/definitions/DomainType",
          "description": "Valid values are Regular domain: Azure will charge the full price of domain registration, SoftDeleted: Purchasing this domain will simply restore it and this operation will not cost anything."
        }
      }
    },
    "DomainCollection": {
      "type": "object",
      "description": "Collection of domains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Domain items on this page",
          "items": {
            "$ref": "#/definitions/Domain"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DomainControlCenterSsoRequest": {
      "type": "object",
      "description": "Single sign-on request information for domain management.",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL where the single sign-on request is to be made.",
          "readOnly": true
        },
        "postParameterKey": {
          "type": "string",
          "description": "Post parameter key.",
          "readOnly": true
        },
        "postParameterValue": {
          "type": "string",
          "description": "Post parameter value. Client should use 'application/x-www-form-urlencoded' encoding for this value.",
          "readOnly": true
        }
      }
    },
    "DomainOwnershipIdentifier": {
      "type": "object",
      "description": "Domain ownership Identifier.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DomainOwnershipIdentifierProperties",
          "description": "DomainOwnershipIdentifier resource specific properties",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DomainOwnershipIdentifierCollection": {
      "type": "object",
      "description": "Collection of domain ownership identifiers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DomainOwnershipIdentifier items on this page",
          "items": {
            "$ref": "#/definitions/DomainOwnershipIdentifier"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DomainOwnershipIdentifierProperties": {
      "type": "object",
      "description": "DomainOwnershipIdentifier resource specific properties",
      "properties": {
        "ownershipId": {
          "type": "string",
          "description": "Ownership Id."
        }
      }
    },
    "DomainPatchResource": {
      "type": "object",
      "description": "ARM resource for a domain.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DomainPatchResourceProperties",
          "description": "DomainPatchResource resource specific properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyOnlyResource"
        }
      ]
    },
    "DomainPatchResourceProperties": {
      "type": "object",
      "description": "DomainPatchResource resource specific properties",
      "properties": {
        "contactAdmin": {
          "$ref": "#/definitions/Contact",
          "description": "Administrative contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "contactBilling": {
          "$ref": "#/definitions/Contact",
          "description": "Billing contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "contactRegistrant": {
          "$ref": "#/definitions/Contact",
          "description": "Registrant contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "contactTech": {
          "$ref": "#/definitions/Contact",
          "description": "Technical contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "registrationStatus": {
          "$ref": "#/definitions/DomainStatus",
          "description": "Domain registration status.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Domain provisioning state.",
          "readOnly": true
        },
        "nameServers": {
          "type": "array",
          "description": "Name servers.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "privacy": {
          "type": "boolean",
          "description": "<code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "Domain creation timestamp.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Domain expiration timestamp.",
          "readOnly": true
        },
        "lastRenewedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when the domain was renewed last time.",
          "readOnly": true
        },
        "autoRenew": {
          "type": "boolean",
          "description": "<code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.",
          "default": true
        },
        "readyForDnsRecordManagement": {
          "type": "boolean",
          "description": "<code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and \\n it is hosted on name servers Azure has programmatic access to.",
          "readOnly": true
        },
        "managedHostNames": {
          "type": "array",
          "description": "All hostnames derived from the domain and assigned to Azure resources.",
          "items": {
            "$ref": "#/definitions/HostName"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "consent": {
          "$ref": "#/definitions/DomainPurchaseConsent",
          "description": "Legal agreement consent.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "domainNotRenewableReasons": {
          "type": "array",
          "description": "Reasons why domain is not renewable.",
          "items": {
            "$ref": "#/definitions/ResourceNotRenewableReason"
          },
          "readOnly": true
        },
        "dnsType": {
          "$ref": "#/definitions/DnsType",
          "description": "Current DNS type"
        },
        "dnsZoneId": {
          "type": "string",
          "description": "Azure DNS Zone to use"
        },
        "targetDnsType": {
          "$ref": "#/definitions/DnsType",
          "description": "Target DNS type (would be used for migration)"
        },
        "authCode": {
          "type": "string",
          "description": "Authorization code for the domain.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "contactAdmin",
        "contactBilling",
        "contactRegistrant",
        "contactTech",
        "consent"
      ]
    },
    "DomainProperties": {
      "type": "object",
      "description": "Domain resource specific properties",
      "properties": {
        "contactAdmin": {
          "$ref": "#/definitions/Contact",
          "description": "Administrative contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "contactBilling": {
          "$ref": "#/definitions/Contact",
          "description": "Billing contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "contactRegistrant": {
          "$ref": "#/definitions/Contact",
          "description": "Registrant contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "contactTech": {
          "$ref": "#/definitions/Contact",
          "description": "Technical contact.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "registrationStatus": {
          "$ref": "#/definitions/DomainStatus",
          "description": "Domain registration status.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Domain provisioning state.",
          "readOnly": true
        },
        "nameServers": {
          "type": "array",
          "description": "Name servers.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "privacy": {
          "type": "boolean",
          "description": "<code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "Domain creation timestamp.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Domain expiration timestamp.",
          "readOnly": true
        },
        "lastRenewedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when the domain was renewed last time.",
          "readOnly": true
        },
        "autoRenew": {
          "type": "boolean",
          "description": "<code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.",
          "default": true
        },
        "readyForDnsRecordManagement": {
          "type": "boolean",
          "description": "<code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and \\n it is hosted on name servers Azure has programmatic access to.",
          "readOnly": true
        },
        "managedHostNames": {
          "type": "array",
          "description": "All hostnames derived from the domain and assigned to Azure resources.",
          "items": {
            "$ref": "#/definitions/HostName"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "consent": {
          "$ref": "#/definitions/DomainPurchaseConsent",
          "description": "Legal agreement consent.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "domainNotRenewableReasons": {
          "type": "array",
          "description": "Reasons why domain is not renewable.",
          "items": {
            "$ref": "#/definitions/ResourceNotRenewableReason"
          },
          "readOnly": true
        },
        "dnsType": {
          "$ref": "#/definitions/DnsType",
          "description": "Current DNS type"
        },
        "dnsZoneId": {
          "type": "string",
          "description": "Azure DNS Zone to use"
        },
        "targetDnsType": {
          "$ref": "#/definitions/DnsType",
          "description": "Target DNS type (would be used for migration)"
        },
        "authCode": {
          "type": "string",
          "description": "Authorization code for the domain.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "contactAdmin",
        "contactBilling",
        "contactRegistrant",
        "contactTech",
        "consent"
      ]
    },
    "DomainPurchaseConsent": {
      "type": "object",
      "description": "Domain purchase consent object, representing acceptance of applicable legal agreements.",
      "properties": {
        "agreementKeys": {
          "type": "array",
          "description": "List of applicable legal agreement keys. This list can be retrieved using ListLegalAgreements API under <code>TopLevelDomain</code> resource.",
          "items": {
            "type": "string"
          }
        },
        "agreedBy": {
          "type": "string",
          "description": "Client IP address."
        },
        "agreedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when the agreements were accepted."
        }
      }
    },
    "DomainRecommendationSearchParameters": {
      "type": "object",
      "description": "Domain recommendation search parameters.",
      "properties": {
        "keywords": {
          "type": "string",
          "description": "Keywords to be used for generating domain recommendations."
        },
        "maxDomainRecommendations": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of recommendations."
        }
      }
    },
    "DomainStatus": {
      "type": "string",
      "description": "Domain registration status.",
      "enum": [
        "Active",
        "Awaiting",
        "Cancelled",
        "Confiscated",
        "Disabled",
        "Excluded",
        "Expired",
        "Failed",
        "Held",
        "Locked",
        "Parked",
        "Pending",
        "Reserved",
        "Reverted",
        "Suspended",
        "Transferred",
        "Unknown",
        "Unlocked",
        "Unparked",
        "Updated",
        "JsonConverterFailed"
      ],
      "x-ms-enum": {
        "name": "DomainStatus",
        "modelAsString": false
      }
    },
    "DomainType": {
      "type": "string",
      "description": "Valid values are Regular domain: Azure will charge the full price of domain registration, SoftDeleted: Purchasing this domain will simply restore it and this operation will not cost anything.",
      "enum": [
        "Regular",
        "SoftDeleted"
      ],
      "x-ms-enum": {
        "name": "DomainType",
        "modelAsString": false
      }
    },
    "HostName": {
      "type": "object",
      "description": "Details of a hostname derived from a domain.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the hostname."
        },
        "siteNames": {
          "type": "array",
          "description": "List of apps the hostname is assigned to. This list will have more than one app only if the hostname is pointing to a Traffic Manager.",
          "items": {
            "type": "string"
          }
        },
        "azureResourceName": {
          "type": "string",
          "description": "Name of the Azure resource the hostname is assigned to. If it is assigned to a Traffic Manager then it will be the Traffic Manager name otherwise it will be the app name."
        },
        "azureResourceType": {
          "$ref": "#/definitions/AzureResourceType",
          "description": "Type of the Azure resource the hostname is assigned to."
        },
        "customHostNameDnsRecordType": {
          "$ref": "#/definitions/CustomHostNameDnsRecordType",
          "description": "Type of the DNS record."
        },
        "hostNameType": {
          "$ref": "#/definitions/HostNameType",
          "description": "Type of the hostname."
        }
      }
    },
    "HostNameType": {
      "type": "string",
      "description": "Type of the hostname.",
      "enum": [
        "Verified",
        "Managed"
      ],
      "x-ms-enum": {
        "name": "HostNameType",
        "modelAsString": false
      }
    },
    "LogSpecification": {
      "type": "object",
      "description": "Log Definition of a single resource metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the log."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the log."
        },
        "blobDuration": {
          "type": "string",
          "description": "Blob duration of the log."
        },
        "logFilterPattern": {
          "type": "string",
          "description": "Log filtered pattern of the log."
        }
      }
    },
    "MetricAvailability": {
      "type": "object",
      "description": "Retention policy of a resource metric.",
      "properties": {
        "timeGrain": {
          "type": "string",
          "description": "Metric availability time grain."
        },
        "blobDuration": {
          "type": "string",
          "description": "Metric availability blob duration."
        }
      }
    },
    "MetricSpecification": {
      "type": "object",
      "description": "Definition of a single resource metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the resource metric."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the resource metric."
        },
        "displayDescription": {
          "type": "string",
          "description": "Description of the resource metric."
        },
        "unit": {
          "type": "string",
          "description": "Resource metric unit."
        },
        "aggregationType": {
          "type": "string",
          "description": "Resource metric aggregation type."
        },
        "supportsInstanceLevelAggregation": {
          "type": "boolean",
          "description": "Resource metric supported aggregation types."
        },
        "enableRegionalMdmAccount": {
          "type": "boolean",
          "description": "Resource metric supported time grain types."
        },
        "sourceMdmAccount": {
          "type": "string",
          "description": "Resource metric source MDM account."
        },
        "sourceMdmNamespace": {
          "type": "string",
          "description": "Resource metric source MDM namespace."
        },
        "metricFilterPattern": {
          "type": "string",
          "description": "Resource metric filter pattern."
        },
        "fillGapWithZero": {
          "type": "boolean",
          "description": "Resource metric fill gap with zero."
        },
        "isInternal": {
          "type": "boolean",
          "description": "Resource metric is internal."
        },
        "dimensions": {
          "type": "array",
          "description": "Resource metric dimensions.",
          "items": {
            "$ref": "#/definitions/Dimension"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "category": {
          "type": "string",
          "description": "Resource metric category."
        },
        "availabilities": {
          "type": "array",
          "description": "Resource metric availability.",
          "items": {
            "$ref": "#/definitions/MetricAvailability"
          },
          "x-ms-identifiers": []
        },
        "supportedTimeGrainTypes": {
          "type": "array",
          "description": "Resource metric supported time grain types.",
          "items": {
            "type": "string"
          }
        },
        "supportedAggregationTypes": {
          "type": "array",
          "description": "Resource metric supported aggregation types.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NameIdentifier": {
      "type": "object",
      "description": "Identifies an object.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the object."
        }
      }
    },
    "NameIdentifierCollection": {
      "type": "object",
      "description": "Paged collection of NameIdentifier items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NameIdentifier items on this page",
          "items": {
            "$ref": "#/definitions/NameIdentifier"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Domain provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "InProgress",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false
      }
    },
    "ProxyOnlyResource": {
      "type": "object",
      "description": "Azure proxy only resource. This resource is not tracked by Azure Resource Manager.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource Name.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource."
        },
        "type": {
          "type": "string",
          "description": "Resource type.",
          "readOnly": true
        }
      }
    },
    "ResourceNotRenewableReason": {
      "type": "string",
      "description": "Reasons why domain is not renewable.",
      "enum": [
        "RegistrationStatusNotSupportedForRenewal",
        "ExpirationNotInRenewalTimeRange",
        "SubscriptionNotActive"
      ],
      "x-ms-enum": {
        "name": "ResourceNotRenewableReason",
        "modelAsString": true,
        "values": [
          {
            "name": "RegistrationStatusNotSupportedForRenewal",
            "value": "RegistrationStatusNotSupportedForRenewal",
            "description": "Registration status is not supported for renewal."
          },
          {
            "name": "ExpirationNotInRenewalTimeRange",
            "value": "ExpirationNotInRenewalTimeRange",
            "description": "Domain expiration is not in the renewal time range."
          },
          {
            "name": "SubscriptionNotActive",
            "value": "SubscriptionNotActive",
            "description": "Subscription is not active."
          }
        ]
      }
    },
    "ServiceSpecification": {
      "type": "object",
      "description": "Resource metrics service provided by Microsoft.Insights resource provider.",
      "properties": {
        "metricSpecifications": {
          "type": "array",
          "description": "Resource metrics service name.",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "logSpecifications": {
          "type": "array",
          "description": "Resource logs service provided by Microsoft.Insights resource provider.",
          "items": {
            "$ref": "#/definitions/LogSpecification"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "TldLegalAgreement": {
      "type": "object",
      "description": "Legal agreement for a top level domain.",
      "properties": {
        "agreementKey": {
          "type": "string",
          "description": "Unique identifier for the agreement."
        },
        "title": {
          "type": "string",
          "description": "Agreement title."
        },
        "content": {
          "type": "string",
          "description": "Agreement details."
        },
        "url": {
          "type": "string",
          "description": "URL where a copy of the agreement details is hosted."
        }
      },
      "required": [
        "agreementKey",
        "title",
        "content"
      ]
    },
    "TldLegalAgreementCollection": {
      "type": "object",
      "description": "Paged collection of TldLegalAgreement items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The TldLegalAgreement items on this page",
          "items": {
            "$ref": "#/definitions/TldLegalAgreement"
          },
          "x-ms-identifiers": [
            "agreementKey"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TopLevelDomain": {
      "type": "object",
      "description": "A top level domain object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TopLevelDomainProperties",
          "description": "TopLevelDomain resource specific properties",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TopLevelDomainAgreementOption": {
      "type": "object",
      "description": "Options for retrieving the list of top level domain legal agreements.",
      "properties": {
        "includePrivacy": {
          "type": "boolean",
          "description": "If <code>true</code>, then the list of agreements will include agreements for domain privacy as well; otherwise, <code>false</code>."
        },
        "forTransfer": {
          "type": "boolean",
          "description": "If <code>true</code>, then the list of agreements will include agreements for domain transfer as well; otherwise, <code>false</code>."
        }
      }
    },
    "TopLevelDomainCollection": {
      "type": "object",
      "description": "Collection of Top-level domains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The TopLevelDomain items on this page",
          "items": {
            "$ref": "#/definitions/TopLevelDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TopLevelDomainProperties": {
      "type": "object",
      "description": "TopLevelDomain resource specific properties",
      "properties": {
        "privacy": {
          "type": "boolean",
          "description": "If <code>true</code>, then the top level domain supports domain privacy; otherwise, <code>false</code>."
        }
      }
    }
  },
  "parameters": {}
}
