{
  "swagger": "2.0",
  "info": {
    "title": "ContainerServiceAIManagerClient",
    "description": "Azure Kubernetes AI Manager api client.",
    "version": "2026-03-02-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ContainerService/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/aiManagers": {
      "get": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_ListBySubscription",
        "summary": "Gets a list of AI Managers in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AIManagerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List AI Managers by subscription": {
            "$ref": "./examples/AIManagers_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers": {
      "get": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_ListByResourceGroup",
        "summary": "Gets a list of AI Managers in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AIManagerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List AI Managers by resource group": {
            "$ref": "./examples/AIManagers_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}": {
      "get": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_Get",
        "summary": "Gets the specified AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AIManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an AI Manager": {
            "$ref": "./examples/AIManagers_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_CreateOrUpdate",
        "summary": "Creates or updates an AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "The AI Manager resource.",
            "schema": {
              "$ref": "#/definitions/AIManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource update completed successfully.",
            "schema": {
              "$ref": "#/definitions/AIManager"
            }
          },
          "201": {
            "description": "Resource create completed successfully.",
            "schema": {
              "$ref": "#/definitions/AIManager"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update an AI Manager": {
            "$ref": "./examples/AIManagers_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_Update",
        "summary": "Updates an existing AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/AIManagerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource update completed successfully.",
            "schema": {
              "$ref": "#/definitions/AIManager"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update an AI Manager": {
            "$ref": "./examples/AIManagers_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_Delete",
        "summary": "Deletes the specified AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete an AI Manager": {
            "$ref": "./examples/AIManagers_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/listClusterUserCredential": {
      "post": {
        "tags": [
          "AIManagers"
        ],
        "operationId": "AIManagers_ListClusterUserCredentials",
        "summary": "Lists the user credentials of an AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "server-fqdn",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Server FQDN type for credentials to be returned."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only apply to AAD clusters, specifies the format of returned kubeconfig. Format 'azure' will return azure auth-provider kubeconfig; format 'exec' will return exec format kubeconfig, which requires kubelogin binary in the path.",
            "enum": [
              "azure",
              "exec"
            ],
            "x-ms-enum": {
              "name": "Format",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List cluster user credentials": {
            "$ref": "./examples/AIManagers_ListClusterUserCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/namespaces": {
      "get": {
        "tags": [
          "AIManagerNamespaces"
        ],
        "operationId": "AIManagerNamespaces_ListByAIManager",
        "summary": "Gets a list of AI Manager namespaces in the specified AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List AI Manager namespaces": {
            "$ref": "./examples/AIManagerNamespaces_ListByAIManager.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/namespaces/{namespaceName}": {
      "get": {
        "tags": [
          "AIManagerNamespaces"
        ],
        "operationId": "AIManagerNamespaces_Get",
        "summary": "Gets the specified AI Manager namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an AI Manager namespace": {
            "$ref": "./examples/AIManagerNamespaces_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AIManagerNamespaces"
        ],
        "operationId": "AIManagerNamespaces_CreateOrUpdate",
        "summary": "Creates or updates an AI Manager namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The request should only proceed if an entity matches this string."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The request should only proceed if no entity matches this string."
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "The AI Manager namespace resource.",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource update completed successfully.",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespace"
            }
          },
          "201": {
            "description": "Resource create completed successfully.",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespace"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update an AI Manager namespace": {
            "$ref": "./examples/AIManagerNamespaces_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AIManagerNamespaces"
        ],
        "operationId": "AIManagerNamespaces_Update",
        "summary": "Updates an existing AI Manager namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The request should only proceed if an entity matches this string."
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespacePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource update completed successfully.",
            "schema": {
              "$ref": "#/definitions/AIManagerNamespace"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update an AI Manager namespace": {
            "$ref": "./examples/AIManagerNamespaces_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AIManagerNamespaces"
        ],
        "operationId": "AIManagerNamespaces_Delete",
        "summary": "Deletes the specified AI Manager namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The request should only proceed if an entity matches this string."
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete an AI Manager namespace": {
            "$ref": "./examples/AIManagerNamespaces_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/namespaces/{namespaceName}/listCredential": {
      "post": {
        "tags": [
          "AIManagerNamespaces"
        ],
        "operationId": "AIManagerNamespaces_ListCredential",
        "summary": "Lists the credentials of an AI Manager namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNameParameter"
          },
          {
            "$ref": "#/parameters/AIManagerNamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List namespace credentials": {
            "$ref": "./examples/AIManagerNamespaces_ListCredential.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AIManager": {
      "type": "object",
      "description": "The AI Manager resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AIManagerProperties",
          "description": "AI Manager properties.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "Managed identity."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention. Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      }
    },
    "AIManagerProperties": {
      "type": "object",
      "description": "AI Manager properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/AIManagerProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "ClusterID": {
          "type": "string",
          "description": "The underlying cluster ID of the AI Manager.",
          "readOnly": true
        },
        "SystemNodeSubnetID": {
          "type": "string",
          "description": "The ID of the subnet that will be joined by system nodes managed and hosted by AKS for running critical system addons. This ID must be provided together with `nodeSubnetID` and `apiserverSubnetId`, and all three subnet IDs must belong to the same VNet. If you don't specify it, AKS will create a subnet in the managed resource group using a default /24 CIDR."
        },
        "NodeSubnetID": {
          "type": "string",
          "description": "The ID of the subnet that will be joined by nodes managed and hosted by AKS. This ID must be provided together with `systemNodeSubnetID` and `apiserverSubnetId`, and all three subnet IDs must belong to the same VNet. If you don't specify it, AKS will create a subnet in the managed resource group using a default /24 CIDR."
        },
        "ApiserverSubnetID": {
          "type": "string",
          "description": "The ID of the subnet for the API server. This ID must be provided together with `systemNodeSubnetID` and `nodeSubnetID`, and all three subnet IDs must belong to the same VNet. If you don't specify it, AKS will create a subnet in the managed resource group using a default /24 CIDR."
        }
      }
    },
    "AIManagerProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the AI Manager resource.",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "AIManagerProvisioningState",
        "modelAsString": true
      }
    },
    "AIManagerListResult": {
      "type": "object",
      "description": "The response of a AIManager list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AIManager items on this page.",
          "items": {
            "$ref": "#/definitions/AIManager"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      },
      "required": [
        "value"
      ]
    },
    "AIManagerUpdate": {
      "type": "object",
      "description": "The type used for update operations of the AIManager.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "Managed identity."
        },
        "properties": {
          "$ref": "#/definitions/AIManagerUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "AIManagerUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the AIManager.",
      "properties": {
        "SystemNodeSubnetID": {
          "type": "string",
          "description": "The ID of the subnet that will be joined by system nodes managed and hosted by AKS for running critical system addons. This ID must be provided together with `nodeSubnetID` and `apiserverSubnetId`, and all three subnet IDs must belong to the same VNet. If you don't specify it, AKS will create a subnet in the managed resource group using a default /24 CIDR."
        },
        "NodeSubnetID": {
          "type": "string",
          "description": "The ID of the subnet that will be joined by nodes managed and hosted by AKS. This ID must be provided together with `systemNodeSubnetID` and `apiserverSubnetId`, and all three subnet IDs must belong to the same VNet. If you don't specify it, AKS will create a subnet in the managed resource group using a default /24 CIDR."
        },
        "ApiserverSubnetID": {
          "type": "string",
          "description": "The ID of the subnet for the API server. This ID must be provided together with `systemNodeSubnetID` and `nodeSubnetID`, and all three subnet IDs must belong to the same VNet. If you don't specify it, AKS will create a subnet in the managed resource group using a default /24 CIDR."
        }
      }
    },
    "AIManagerNamespace": {
      "type": "object",
      "description": "An AI Manager namespace.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AIManagerNamespaceProperties",
          "description": "The properties of an AI Manager namespace.",
          "x-ms-client-flatten": true
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention. Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      }
    },
    "AIManagerNamespaceProperties": {
      "type": "object",
      "description": "The properties of an AI Manager namespace.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/AIManagerNamespaceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "ManagedNamespaceID": {
          "type": "string",
          "description": "The underlying managed namespace ID in the Kubernetes cluster.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels for the namespace.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "type": "object",
          "description": "The annotations for the namespace.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceQuota": {
          "$ref": "#/definitions/ResourceQuota",
          "description": "The default resource quota for the namespace."
        },
        "defaultNetworkPolicy": {
          "$ref": "#/definitions/NetworkPolicies",
          "description": "The default network policy for the namespace."
        },
        "adoptionPolicy": {
          "$ref": "#/definitions/AdoptionPolicy",
          "description": "Action if Kubernetes namespace with same name already exists."
        },
        "deletePolicy": {
          "$ref": "#/definitions/DeletePolicy",
          "description": "Delete options of the namespace."
        }
      }
    },
    "AIManagerNamespaceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the AI Manager namespace resource.",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "AIManagerNamespaceProvisioningState",
        "modelAsString": true
      }
    },
    "AIManagerNamespaceListResult": {
      "type": "object",
      "description": "The response of a AIManagerNamespace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AIManagerNamespace items on this page.",
          "items": {
            "$ref": "#/definitions/AIManagerNamespace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      },
      "required": [
        "value"
      ]
    },
    "AIManagerNamespacePatch": {
      "type": "object",
      "description": "The properties of an AI Manager namespace that can be patched.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ResourceQuota": {
      "type": "object",
      "description": "The resource quota for the namespace.",
      "properties": {
        "cpuRequest": {
          "type": "string",
          "description": "The CPU request for the namespace. See more at https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu"
        },
        "cpuLimit": {
          "type": "string",
          "description": "The CPU limit for the namespace. See more at https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu"
        },
        "memoryRequest": {
          "type": "string",
          "description": "The memory request for the namespace. See more at https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory"
        },
        "memoryLimit": {
          "type": "string",
          "description": "The memory limit for the namespace. See more at https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory"
        },
        "gpuLimit": {
          "type": "integer",
          "format": "int32",
          "description": "The GPU limit for the namespace."
        }
      }
    },
    "NetworkPolicies": {
      "type": "object",
      "description": "Default network policy of the namespace, specifying ingress and egress rules.",
      "properties": {
        "ingress": {
          "$ref": "#/definitions/PolicyRule",
          "description": "The default ingress network policy for the namespace.",
          "default": "AllowSameNamespace"
        },
        "egress": {
          "$ref": "#/definitions/PolicyRule",
          "description": "The default egress network policy for the namespace.",
          "default": "AllowAll"
        }
      }
    },
    "PolicyRule": {
      "type": "string",
      "description": "Enum representing different network policy rules.",
      "enum": [
        "DenyAll",
        "AllowAll",
        "AllowSameNamespace"
      ],
      "x-ms-enum": {
        "name": "PolicyRule",
        "modelAsString": true,
        "values": [
          {
            "name": "DenyAll",
            "value": "DenyAll",
            "description": "Deny all network traffic."
          },
          {
            "name": "AllowAll",
            "value": "AllowAll",
            "description": "Allow all network traffic."
          },
          {
            "name": "AllowSameNamespace",
            "value": "AllowSameNamespace",
            "description": "Allow traffic within the same namespace."
          }
        ]
      }
    },
    "AdoptionPolicy": {
      "type": "string",
      "description": "Action if Kubernetes namespace with same name already exists.",
      "enum": [
        "Never",
        "IfIdentical",
        "Always"
      ],
      "x-ms-enum": {
        "name": "AdoptionPolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "Never",
            "value": "Never",
            "description": "If the namespace already exists in Kubernetes, attempts to create that same namespace in ARM will fail."
          },
          {
            "name": "IfIdentical",
            "value": "IfIdentical",
            "description": "If the namespace already exists in Kubernetes, attempts to create that same namespace in ARM will succeed only if there is no difference between the existing namespace and the new ARM resource. If there is any difference, the creation will fail."
          },
          {
            "name": "Always",
            "value": "Always",
            "description": "If the namespace already exists in Kubernetes, attempts to create that same namespace in ARM will succeed and take over the existing namespace to be managed by ARM, even if there are differences between the existing namespace and the new ARM resource. Some fields of the existing namespace might be overwritten."
          }
        ]
      }
    },
    "DeletePolicy": {
      "type": "string",
      "description": "Delete options of the namespace.",
      "enum": [
        "Keep",
        "Delete"
      ],
      "x-ms-enum": {
        "name": "DeletePolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "Keep",
            "value": "Keep",
            "description": "Keep the Kubernetes namespace even if the ARM resource is deleted."
          },
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete both the ARM resource and the Kubernetes namespace together."
          }
        ]
      }
    },
    "CredentialResults": {
      "type": "object",
      "description": "The list credential result response.",
      "properties": {
        "kubeconfigs": {
          "type": "array",
          "description": "Base64-encoded Kubernetes configuration file.",
          "items": {
            "$ref": "#/definitions/CredentialResult"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CredentialResult": {
      "type": "object",
      "description": "The credential result response.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the credential.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded Kubernetes configuration file.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation.",
      "minLength": 1
    },
    "AIManagerNameParameter": {
      "name": "aiManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the AI Manager resource.",
      "minLength": 1,
      "maxLength": 63,
      "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "AIManagerNamespaceNameParameter": {
      "name": "namespaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the AI Manager namespace resource.",
      "minLength": 1,
      "maxLength": 63,
      "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$",
      "x-ms-parameter-location": "method"
    }
  }
}
