{
  "swagger": "2.0",
  "info": {
    "title": "ContainerServiceAIManagerClient",
    "version": "2026-03-02-preview",
    "description": "Azure Kubernetes AI Manager api client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AiManagers"
    },
    {
      "name": "AiManagerNamespaces"
    }
  ],
  "paths": {
    "/providers/Microsoft.ContainerService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/aiManagers": {
      "get": {
        "operationId": "AiManagers_ListBySubscription",
        "tags": [
          "AiManagers"
        ],
        "description": "List AiManager resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists AI Manager resources by subscription.": {
            "$ref": "./examples/AiManagers_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers": {
      "get": {
        "operationId": "AiManagers_ListByResourceGroup",
        "tags": [
          "AiManagers"
        ],
        "description": "List AiManager resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists AI Manager resources by resource group.": {
            "$ref": "./examples/AiManagers_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}": {
      "get": {
        "operationId": "AiManagers_Get",
        "tags": [
          "AiManagers"
        ],
        "description": "Get a AiManager",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets an AI Manager resource.": {
            "$ref": "./examples/AiManagers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AiManagers_CreateOrUpdate",
        "tags": [
          "AiManagers"
        ],
        "description": "Create a AiManager",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiManager' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiManager"
            }
          },
          "201": {
            "description": "Resource 'AiManager' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiManager"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates an AI Manager resource.": {
            "$ref": "./examples/AiManagers_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiManagers_Update",
        "tags": [
          "AiManagers"
        ],
        "description": "Update a AiManager",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiManagerPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an AI Manager resource.": {
            "$ref": "./examples/AiManagers_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "AiManagers_Delete",
        "tags": [
          "AiManagers"
        ],
        "description": "Delete a AiManager",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an AI Manager resource.": {
            "$ref": "./examples/AiManagers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/listCredential": {
      "post": {
        "operationId": "AiManagers_ListCredential",
        "tags": [
          "AiManagers"
        ],
        "description": "Lists the credentials of an AI Manager.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists the credentials of an AI Manager.": {
            "$ref": "./examples/AiManagers_ListCredential.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/namespaces": {
      "get": {
        "operationId": "AiManagerNamespaces_ListByAiManager",
        "tags": [
          "AiManagerNamespaces"
        ],
        "description": "List AiManagerNamespace resources by AiManager",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManagerNamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists AI Manager namespace resources by AI Manager.": {
            "$ref": "./examples/AiManagerNamespaces_ListByAiManager.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/namespaces/{namespaceName}": {
      "get": {
        "operationId": "AiManagerNamespaces_Get",
        "tags": [
          "AiManagerNamespaces"
        ],
        "description": "Get a AiManagerNamespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The name of the AI Manager namespace resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManagerNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets an AI Manager namespace resource.": {
            "$ref": "./examples/AiManagerNamespaces_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AiManagerNamespaces_CreateOrUpdate",
        "tags": [
          "AiManagerNamespaces"
        ],
        "description": "Create a AiManagerNamespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The request should only proceed if an entity matches this string.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The request should only proceed if no entity matches this string.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The name of the AI Manager namespace resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiManagerNamespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiManagerNamespace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiManagerNamespace"
            }
          },
          "201": {
            "description": "Resource 'AiManagerNamespace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiManagerNamespace"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates an AI Manager namespace resource.": {
            "$ref": "./examples/AiManagerNamespaces_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiManagerNamespaces_Update",
        "tags": [
          "AiManagerNamespaces"
        ],
        "description": "Update a AiManagerNamespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The request should only proceed if an entity matches this string.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The name of the AI Manager namespace resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiManagerNamespacePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiManagerNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an AI Manager namespace resource.": {
            "$ref": "./examples/AiManagerNamespaces_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "AiManagerNamespaces_Delete",
        "tags": [
          "AiManagerNamespaces"
        ],
        "description": "Delete a AiManagerNamespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The request should only proceed if an entity matches this string.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The name of the AI Manager namespace resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an AI Manager namespace resource.": {
            "$ref": "./examples/AiManagerNamespaces_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/aiManagers/{aiManagerName}/namespaces/{namespaceName}/listCredential": {
      "post": {
        "operationId": "AiManagerNamespaces_ListCredential",
        "tags": [
          "AiManagerNamespaces"
        ],
        "description": "Lists the credentials of an AI Manager namespace.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiManagerName",
            "in": "path",
            "description": "The name of the AI Manager resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The name of the AI Manager namespace resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists the credentials of an AI Manager namespace.": {
            "$ref": "./examples/AiManagerNamespaces_ListCredential.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AiManager": {
      "type": "object",
      "description": "The AI Manager resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AiManagerProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentityProperty",
          "description": "Managed identity."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AiManagerListResult": {
      "type": "object",
      "description": "The response of a AiManager list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AiManager items on this page",
          "items": {
            "$ref": "#/definitions/AiManager"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AiManagerNamespace": {
      "type": "object",
      "description": "The AI Manager namespace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AiManagerNamespaceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AiManagerNamespaceListResult": {
      "type": "object",
      "description": "The response of a AiManagerNamespace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AiManagerNamespace items on this page",
          "items": {
            "$ref": "#/definitions/AiManagerNamespace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AiManagerNamespacePatch": {
      "type": "object",
      "description": "The properties of an AI Manager namespace that can be patched.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AiManagerNamespaceProperties": {
      "type": "object",
      "description": "The properties of an AI Manager namespace.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "The labels for the namespace.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "type": "object",
          "description": "The annotations for the namespace.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/AiManagerNamespaceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "managedNamespaceId": {
          "type": "string",
          "description": "The underlying managed namespace ID in the Kubernetes cluster.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/AiManagerNamespaceStatus",
          "description": "Status information for the AiManager.",
          "readOnly": true
        }
      }
    },
    "AiManagerNamespaceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the AI Manager namespace resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "AiManagerNamespaceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The namespace has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The namespace creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The namespace creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The provisioning state of a namespace being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The provisioning state of a namespace being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The provisioning state of a namespace being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "AiManagerNamespaceStatus": {
      "type": "object",
      "description": "Status information for the AiManagerNamespace.",
      "properties": {
        "lastOperationId": {
          "type": "string",
          "description": "The last operation ID for the AiManagerNamespace.",
          "readOnly": true
        },
        "lastOperationError": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "The last operation error for the AiManagerNamespace.",
          "readOnly": true
        }
      }
    },
    "AiManagerPatch": {
      "type": "object",
      "description": "The AI Manager resource patch model.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentityProperty",
          "description": "Managed identity."
        }
      }
    },
    "AiManagerProperties": {
      "type": "object",
      "description": "AI Manager properties.",
      "properties": {
        "deletePolicy": {
          "$ref": "#/definitions/DeletePolicy",
          "description": "Delete options of the AI Manager."
        },
        "provisioningState": {
          "$ref": "#/definitions/AiManagerProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "clusterIds": {
          "type": "array",
          "description": "The underlying cluster IDs of the AI Manager.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/AiManagerStatus",
          "description": "Status information for the AIManager.",
          "readOnly": true
        }
      }
    },
    "AiManagerProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the AI Manager resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "AiManagerProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is updating."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is deleting."
          }
        ]
      },
      "readOnly": true
    },
    "AiManagerStatus": {
      "type": "object",
      "description": "Status information for the AiManager.",
      "properties": {
        "lastOperationId": {
          "type": "string",
          "description": "The last operation ID for the AiManager.",
          "readOnly": true
        },
        "lastOperationError": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "The last operation error for the AiManager.",
          "readOnly": true
        }
      }
    },
    "Azure.ResourceManager.ManagedServiceIdentityProperty": {
      "type": "object",
      "description": "The managed service identities envelope.",
      "properties": {
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "CredentialResult": {
      "type": "object",
      "description": "The credential result response.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the credential.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded Kubernetes configuration file.",
          "readOnly": true
        }
      }
    },
    "CredentialResults": {
      "type": "object",
      "description": "The list credential result response.",
      "properties": {
        "kubeconfigs": {
          "type": "array",
          "description": "Base64-encoded Kubernetes configuration file.",
          "items": {
            "$ref": "#/definitions/CredentialResult"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "DeletePolicy": {
      "type": "string",
      "description": "Delete options of the AI Manager.",
      "enum": [
        "Keep",
        "Delete"
      ],
      "x-ms-enum": {
        "name": "DeletePolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "Keep",
            "value": "Keep",
            "description": "Keep the underlying cluster resources even if the AIManager resource is deleted."
          },
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete both the underlying cluster resources and the AIManager resource together."
          }
        ]
      }
    }
  },
  "parameters": {}
}
