{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2026-10-31-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SovereignViewOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailability",
        "description": "Implements global CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CheckNameAvailability": {
            "$ref": "./examples/Operations_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailabilityLocal",
        "description": "Implements local CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CheckNameAvailabilityLocal": {
            "$ref": "./examples/Operations_CheckNameAvailabilityLocal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/sovereignViews": {
      "get": {
        "operationId": "SovereignViewOperations_ListBySubscription",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Lists the Sovereign View resources within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ListBySubscription": {
            "$ref": "./examples/SovereignViewOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews": {
      "get": {
        "operationId": "SovereignViewOperations_ListByResourceGroup",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Lists the Sovereign View resources within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ListByResourceGroup": {
            "$ref": "./examples/SovereignViewOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}": {
      "get": {
        "operationId": "SovereignViewOperations_Get",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Get": {
            "$ref": "./examples/SovereignViewOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SovereignViewOperations_Create",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Creates the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SovereignViewResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          },
          "201": {
            "description": "Resource 'SovereignViewResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Create": {
            "$ref": "./examples/SovereignViewOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SovereignViewOperations_Update",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Updates the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Update": {
            "$ref": "./examples/SovereignViewOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SovereignViewOperations_Delete",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Deletes the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Delete": {
            "$ref": "./examples/SovereignViewOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/complianceDetails": {
      "post": {
        "operationId": "SovereignViewOperations_ComplianceDetails",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets compliance details for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceDetailsContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceDetailsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ComplianceDetails": {
            "$ref": "./examples/SovereignViewOperations_ComplianceDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/complianceResourceDetails": {
      "post": {
        "operationId": "SovereignViewOperations_ComplianceResourceDetails",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets the compliance reasoning for given resource and dimension, including the reasoning for its linked and replica resources.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceResourceDetailsContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceResourceDetailsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ComplianceResourceDetails": {
            "$ref": "./examples/SovereignViewOperations_ComplianceResourceDetails.json"
          },
          "SovereignViewOperations_ComplianceResourceDetails_BusinessContinuity": {
            "$ref": "./examples/SovereignViewOperations_ComplianceResourceDetails_BusinessContinuity.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/complianceSummary": {
      "post": {
        "operationId": "SovereignViewOperations_ComplianceSummary",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets the compliance summary for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceSummaryResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ComplianceSummary": {
            "$ref": "./examples/SovereignViewOperations_ComplianceSummary.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/filterValues": {
      "post": {
        "operationId": "SovereignViewOperations_FilterValues",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets filter values for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewFilterValuesContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewFilterValuesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_FilterValues": {
            "$ref": "./examples/SovereignViewOperations_FilterValues.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/operationalStatus": {
      "post": {
        "operationId": "SovereignViewOperations_OperationalStatus",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets the operational status for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewOperationalStatusContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewOperationalStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_OperationalStatus": {
            "$ref": "./examples/SovereignViewOperations_OperationalStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/remediate": {
      "post": {
        "operationId": "SovereignViewOperations_Remediate",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Remediates the Sovereign View resource for the given ARM resource IDs.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewRemediateContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewRemediateResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Remediate": {
            "$ref": "./examples/SovereignViewOperations_Remediate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/remediationResult": {
      "post": {
        "operationId": "SovereignViewOperations_RemediationResult",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Fetches the result of a previously triggered remediation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewRemediationResultContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewRemediationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_RemediationResult": {
            "$ref": "./examples/SovereignViewOperations_RemediationResult.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "ComplianceDimension": {
      "type": "string",
      "description": "The compliance dimension to be associated with the policy initiative.",
      "enum": [
        "DataResidency",
        "EncryptionAtRest",
        "EncryptionInTransit",
        "EncryptionInUse",
        "ControlledNetworkExposure",
        "BusinessContinuity"
      ],
      "x-ms-enum": {
        "name": "ComplianceDimension",
        "modelAsString": true,
        "values": [
          {
            "name": "DataResidency",
            "value": "DataResidency",
            "description": "Data residency compliance dimension."
          },
          {
            "name": "EncryptionAtRest",
            "value": "EncryptionAtRest",
            "description": "Encryption at rest compliance dimension."
          },
          {
            "name": "EncryptionInTransit",
            "value": "EncryptionInTransit",
            "description": "Encryption in transit compliance dimension."
          },
          {
            "name": "EncryptionInUse",
            "value": "EncryptionInUse",
            "description": "Encryption in use compliance dimension."
          },
          {
            "name": "ControlledNetworkExposure",
            "value": "ControlledNetworkExposure",
            "description": "Controlled network exposure compliance dimension."
          },
          {
            "name": "BusinessContinuity",
            "value": "BusinessContinuity",
            "description": "Business continuity compliance dimension."
          }
        ]
      }
    },
    "DataResidencyResourceEvaluationScope": {
      "type": "string",
      "description": "The resource scope evaluated for the Data Residency dimension.",
      "enum": [
        "Residency360",
        "ResourceOnly"
      ],
      "x-ms-enum": {
        "name": "DataResidencyResourceEvaluationScope",
        "modelAsString": true,
        "values": [
          {
            "name": "Residency360",
            "value": "Residency360",
            "description": "Evaluate the resource together with the resources linked to it."
          },
          {
            "name": "ResourceOnly",
            "value": "ResourceOnly",
            "description": "Evaluate only the resource itself, without its linked resources."
          }
        ]
      }
    },
    "DataState": {
      "type": "string",
      "description": "The state of the report data.",
      "enum": [
        "Processing",
        "Processed",
        "Error"
      ],
      "x-ms-enum": {
        "name": "DataState",
        "modelAsString": true,
        "values": [
          {
            "name": "Processing",
            "value": "Processing",
            "description": "The data is still being processed and is not yet available."
          },
          {
            "name": "Processed",
            "value": "Processed",
            "description": "The data is processed and available."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "An error occurred while processing the data."
          }
        ]
      }
    },
    "OperationalStatusEvaluationParameter": {
      "type": "string",
      "description": "An evaluation parameter that controls which checks are performed when determining operational status.",
      "enum": [
        "PermissionsEvaluation",
        "PolicyAssignmentEvaluation"
      ],
      "x-ms-enum": {
        "name": "OperationalStatusEvaluationParameter",
        "modelAsString": true,
        "values": [
          {
            "name": "PermissionsEvaluation",
            "value": "PermissionsEvaluation",
            "description": "Evaluate managed identity permissions on the scopes in the sovereign view."
          },
          {
            "name": "PolicyAssignmentEvaluation",
            "value": "PolicyAssignmentEvaluation",
            "description": "Evaluate policy assignments on the scopes in the sovereign view."
          }
        ]
      }
    },
    "OperationalStatusRequestMode": {
      "type": "string",
      "description": "The level of detail to return in the sovereign view operational status response.",
      "enum": [
        "Summary",
        "Detailed"
      ],
      "x-ms-enum": {
        "name": "OperationalStatusRequestMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Summary",
            "value": "Summary",
            "description": "Returns a high-level operational status suitable for quickly determining overall view health."
          },
          {
            "name": "Detailed",
            "value": "Detailed",
            "description": "Returns a comprehensive operational status, including detailed information about individual checks, dependencies, and any issues impacting view operability."
          }
        ]
      }
    },
    "OperationalStatusStates": {
      "type": "string",
      "description": "The overall operational status states for a sovereign view.",
      "enum": [
        "Healthy",
        "Unhealthy",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "OperationalStatusStates",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "The sovereign view is healthy and fully operational."
          },
          {
            "name": "Unhealthy",
            "value": "Unhealthy",
            "description": "The sovereign view is unhealthy and its operability is impacted."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The operational status of the sovereign view could not be determined."
          }
        ]
      }
    },
    "OperationalStatusUnhealthyReason": {
      "type": "string",
      "description": "The reasons a sovereign view or an individual scope is unhealthy.",
      "enum": [
        "MIMissing",
        "MIPermissionMissing",
        "PolicyAssignmentMissing"
      ],
      "x-ms-enum": {
        "name": "OperationalStatusUnhealthyReason",
        "modelAsString": true,
        "values": [
          {
            "name": "MIMissing",
            "value": "MIMissing",
            "description": "The managed identity is missing."
          },
          {
            "name": "MIPermissionMissing",
            "value": "MIPermissionMissing",
            "description": "The managed identity is missing required permissions."
          },
          {
            "name": "PolicyAssignmentMissing",
            "value": "PolicyAssignmentMissing",
            "description": "A required policy assignment is missing."
          }
        ]
      }
    },
    "ParameterValuesValue": {
      "type": "object",
      "description": "The value of a parameter for the assignment of a policy initiative.",
      "properties": {
        "value": {
          "description": "The value of the parameter."
        }
      }
    },
    "PolicyComplianceState": {
      "type": "string",
      "description": "Supported compliance states for the policy initiatives.",
      "enum": [
        "Compliant",
        "NonCompliant",
        "Conflict",
        "NotApplicable",
        "NotEvaluated",
        "Constrained",
        "Others"
      ],
      "x-ms-enum": {
        "name": "PolicyComplianceState",
        "modelAsString": true,
        "values": [
          {
            "name": "Compliant",
            "value": "Compliant",
            "description": "The resource is compliant with respect to the given policy."
          },
          {
            "name": "NonCompliant",
            "value": "NonCompliant",
            "description": "The resource is not compliant with respect to the given policy."
          },
          {
            "name": "Conflict",
            "value": "Conflict",
            "description": "The resource is in a conflict with respect to the given policy."
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "The resource is in a state that is not applicable to the given policy."
          },
          {
            "name": "NotEvaluated",
            "value": "NotEvaluated",
            "description": "The resource has not been evaluated for compliance with respect to the given policy."
          },
          {
            "name": "Constrained",
            "value": "Constrained",
            "description": "The resource is non-compliant for Business Continuity, but a validated actionable escape path is available."
          },
          {
            "name": "Others",
            "value": "Others",
            "description": "The resource is in a compliance state other than Compliant, NonCompliant, Conflict, NotApplicable, or NotEvaluated."
          }
        ]
      }
    },
    "ReportState": {
      "type": "string",
      "description": "The compliance report generation state.",
      "enum": [
        "Generating",
        "NoDataYet",
        "UpToDate",
        "Retrying",
        "Refreshing",
        "Stale",
        "Blocked"
      ],
      "x-ms-enum": {
        "name": "ReportState",
        "modelAsString": true,
        "values": [
          {
            "name": "Generating",
            "value": "Generating",
            "description": "The compliance report is being generated for the first time."
          },
          {
            "name": "NoDataYet",
            "value": "NoDataYet",
            "description": "No compliance data is available yet."
          },
          {
            "name": "UpToDate",
            "value": "UpToDate",
            "description": "The compliance report is up to date."
          },
          {
            "name": "Retrying",
            "value": "Retrying",
            "description": "The compliance report generation is being retried."
          },
          {
            "name": "Refreshing",
            "value": "Refreshing",
            "description": "The compliance report is being refreshed."
          },
          {
            "name": "Stale",
            "value": "Stale",
            "description": "The compliance report is stale and pending refresh."
          },
          {
            "name": "Blocked",
            "value": "Blocked",
            "description": "The compliance report generation is blocked."
          }
        ]
      }
    },
    "ReportStatus": {
      "type": "object",
      "description": "The compliance report generation status, including the current state and the next attempt time.",
      "properties": {
        "state": {
          "$ref": "#/definitions/ReportState",
          "description": "The current compliance report generation state."
        },
        "nextAttempt": {
          "type": "string",
          "format": "date-time",
          "description": "The next scheduled evaluation time, in RFC3339 format. May not be available for all report states."
        }
      },
      "required": [
        "state"
      ]
    },
    "ScopeLevelOperationalStatusStates": {
      "type": "string",
      "description": "The operational status states for an individual scope within a sovereign view.",
      "enum": [
        "Unhealthy",
        "Unknown",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ScopeLevelOperationalStatusStates",
        "modelAsString": true,
        "values": [
          {
            "name": "Unhealthy",
            "value": "Unhealthy",
            "description": "The scope is unhealthy and its operability is impacted."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The operational status of the scope could not be determined."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The scope has been deleted."
          }
        ]
      }
    },
    "SovereignViewAffectedScopes": {
      "type": "object",
      "description": "An affected scope in a sovereign view operational status detail.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the management group or subscription affected."
        },
        "id": {
          "type": "string",
          "description": "The identifier of the management group or subscription affected."
        },
        "type": {
          "$ref": "#/definitions/SovereignViewScopeType",
          "description": "The type of the affected scope."
        },
        "status": {
          "$ref": "#/definitions/ScopeLevelOperationalStatusStates",
          "description": "The operational status of the affected scope."
        },
        "actionRequired": {
          "type": "string",
          "description": "The action required to remediate the affected scope, such as a role name or a policy initiative id."
        }
      },
      "required": [
        "name",
        "id",
        "type",
        "status"
      ]
    },
    "SovereignViewArmTemplateBundle": {
      "type": "object",
      "description": "An ARM template bundle produced by a remediation.",
      "properties": {
        "template": {
          "type": "string",
          "description": "The ARM template, serialized as a JSON string."
        },
        "parameters": {
          "type": "string",
          "description": "The ARM template parameters, serialized as a JSON string."
        }
      },
      "required": [
        "template",
        "parameters"
      ]
    },
    "SovereignViewComplianceDetail": {
      "type": "object",
      "description": "A compliance detail item for a resource in the sovereign view compliance details action.",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified id of the policy initiative associated with the compliance detail.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policySetDefinitions"
              }
            ]
          }
        },
        "policyAssignmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "The policy assignment for the compliance detail.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policyAssignments"
              }
            ]
          }
        },
        "evaluatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time when compliance was last evaluated by Azure Policy, in RFC3339 format."
        }
      },
      "required": [
        "policyInitiativeId",
        "policyAssignmentId"
      ]
    },
    "SovereignViewComplianceDetailResource": {
      "type": "object",
      "description": "A compliance detail item for a resource.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier."
        },
        "parentResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified Azure Resource Manager ID of the parent resource. When a resource is created as part of another Azure resource's creation and its lifecycle is managed by the platform, this is the ID of that parent resource. For a resource that was created standalone and has no parent resource, this will be empty."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "dimensionDetails": {
          "type": "array",
          "description": "The compliance details for the resource across the dimensions.",
          "items": {
            "$ref": "#/definitions/SovereignViewDimensionDetail"
          },
          "x-ms-identifiers": [
            "dimension"
          ]
        }
      },
      "required": [
        "resourceId",
        "location",
        "dimensionDetails"
      ]
    },
    "SovereignViewComplianceDetailsContent": {
      "type": "object",
      "description": "The request for the sovereign view compliance details action.",
      "properties": {
        "top": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources to return. Used for pagination.",
          "minimum": 1
        },
        "skip": {
          "type": "integer",
          "format": "int32",
          "description": "The resources to skip when the results are returned. Used for pagination.",
          "minimum": 0
        },
        "complianceDimensions": {
          "type": "array",
          "description": "The filters for compliance dimensions and their states to apply when querying for compliance details.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsDimensionFilter"
          },
          "x-ms-identifiers": [
            "dimension"
          ]
        },
        "filters": {
          "type": "array",
          "description": "The filters to apply when querying for compliance details.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsFilters"
          },
          "x-ms-identifiers": [
            "field",
            "operator"
          ]
        },
        "sort": {
          "type": "array",
          "description": "The sorting to apply when querying for compliance details.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsSort"
          },
          "x-ms-identifiers": [
            "field"
          ]
        },
        "search": {
          "$ref": "#/definitions/SovereignViewComplianceDetailsSearch",
          "description": "The search to apply when querying for compliance details."
        }
      },
      "required": [
        "top"
      ]
    },
    "SovereignViewComplianceDetailsDimensionFilter": {
      "type": "object",
      "description": "The filter for compliance details based on compliance dimensions and their states.",
      "properties": {
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension to filter on."
        },
        "states": {
          "type": "array",
          "description": "The compliance states to optionally filter on.",
          "items": {
            "$ref": "#/definitions/PolicyComplianceState"
          }
        }
      },
      "required": [
        "dimension",
        "states"
      ]
    },
    "SovereignViewComplianceDetailsFilterOperators": {
      "type": "string",
      "description": "Supported filter operators for Sovereign View Compliance details.",
      "enum": [
        "In"
      ],
      "x-ms-enum": {
        "name": "SovereignViewComplianceDetailsFilterOperators",
        "modelAsString": true,
        "values": [
          {
            "name": "In",
            "value": "In",
            "description": "In filter operator. Returns results where the field value is in the provided list of values."
          }
        ]
      }
    },
    "SovereignViewComplianceDetailsFilters": {
      "type": "object",
      "description": "The filters to apply when querying for compliance details.",
      "properties": {
        "field": {
          "$ref": "#/definitions/SovereignViewFilterField",
          "description": "The field to filter on."
        },
        "operator": {
          "$ref": "#/definitions/SovereignViewComplianceDetailsFilterOperators",
          "description": "The operator to apply for the filter."
        },
        "value": {
          "type": "array",
          "description": "The values to filter on.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "field",
        "operator",
        "value"
      ]
    },
    "SovereignViewComplianceDetailsResult": {
      "type": "object",
      "description": "The response for the sovereign view compliance details action.",
      "properties": {
        "reportStatus": {
          "$ref": "#/definitions/ReportStatus",
          "description": "State indicating whether the data is processed or still being processed."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details when dataState is Error."
        },
        "lastEvaluated": {
          "type": "string",
          "format": "date-time",
          "description": "The time when compliance was last evaluated overall, in RFC3339 format."
        },
        "totalResources": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources for the sovereign view.",
          "minimum": 0
        },
        "resources": {
          "type": "array",
          "description": "The list of compliance detail resources.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailResource"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "reportStatus",
        "lastEvaluated"
      ]
    },
    "SovereignViewComplianceDetailsSearch": {
      "type": "object",
      "description": "Search field and query for Sovereign View Compliance details.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field to search on."
        },
        "value": {
          "type": "string",
          "description": "The value to search for in the specified field."
        }
      },
      "required": [
        "field",
        "value"
      ]
    },
    "SovereignViewComplianceDetailsSort": {
      "type": "object",
      "description": "The sorting for compliance details.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field to sort on."
        },
        "direction": {
          "$ref": "#/definitions/SovereignViewComplianceDetailsSortDirections",
          "description": "The direction to sort in."
        },
        "sortingOrder": {
          "type": "array",
          "description": "Explicit ordering of policy compliance states to apply when sorting on a compliance-state field. The states are ranked in the order listed. When provided for a compliance-state field, this takes precedence over `direction`, which is ignored for that field.",
          "items": {
            "$ref": "#/definitions/PolicyComplianceState"
          }
        }
      },
      "required": [
        "field",
        "direction"
      ]
    },
    "SovereignViewComplianceDetailsSortDirections": {
      "type": "string",
      "description": "Supported sort directions for Sovereign View Compliance details.",
      "enum": [
        "asc",
        "desc"
      ],
      "x-ms-enum": {
        "name": "SovereignViewComplianceDetailsSortDirections",
        "modelAsString": true,
        "values": [
          {
            "name": "Asc",
            "value": "asc",
            "description": "Ascending sort direction."
          },
          {
            "name": "Desc",
            "value": "desc",
            "description": "Descending sort direction."
          }
        ]
      }
    },
    "SovereignViewComplianceDimensionSummary": {
      "type": "object",
      "description": "The compliance summary for a specific dimension in the sovereign view compliance summary action.",
      "properties": {
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The dimension representing this summary."
        },
        "totalResources": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources for the sovereign view.",
          "minimum": 0
        },
        "compliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in compliant state for the sovereign view.",
          "minimum": 0
        },
        "nonCompliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in non-compliant state for the sovereign view.",
          "minimum": 0
        },
        "constrainedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in constrained state for the sovereign view.",
          "minimum": 0
        },
        "conflictCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in conflict state for the sovereign view.",
          "minimum": 0
        },
        "notApplicableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not applicable state for the sovereign view.",
          "minimum": 0
        },
        "notEvaluatedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not evaluated state for the sovereign view.",
          "minimum": 0
        },
        "othersCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in other compliance states for the sovereign view.",
          "minimum": 0
        }
      },
      "required": [
        "dimension",
        "totalResources",
        "compliantCount",
        "nonCompliantCount",
        "constrainedCount",
        "conflictCount",
        "notApplicableCount",
        "notEvaluatedCount",
        "othersCount"
      ]
    },
    "SovereignViewComplianceOverallSummary": {
      "type": "object",
      "description": "The overall compliance summary in the sovereign view compliance summary action.",
      "properties": {
        "totalManagementGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of management groups for the sovereign view.",
          "minimum": 0
        },
        "totalSubscriptions": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of subscriptions for the sovereign view.",
          "minimum": 0
        },
        "totalResourceGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resource groups for the sovereign view.",
          "minimum": 0
        },
        "totalResources": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources for the sovereign view.",
          "minimum": 0
        },
        "compliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in compliant state for the sovereign view.",
          "minimum": 0
        },
        "nonCompliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in non-compliant state for the sovereign view.",
          "minimum": 0
        },
        "constrainedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in constrained state for the sovereign view.",
          "minimum": 0
        },
        "conflictCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in conflict state for the sovereign view.",
          "minimum": 0
        },
        "notApplicableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not applicable state for the sovereign view.",
          "minimum": 0
        },
        "notEvaluatedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not evaluated state for the sovereign view.",
          "minimum": 0
        },
        "othersCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in other compliance states for the sovereign view.",
          "minimum": 0
        }
      },
      "required": [
        "totalManagementGroups",
        "totalSubscriptions",
        "totalResourceGroups",
        "totalResources",
        "compliantCount",
        "nonCompliantCount",
        "constrainedCount",
        "conflictCount",
        "notApplicableCount",
        "notEvaluatedCount",
        "othersCount"
      ]
    },
    "SovereignViewComplianceResourceDetailsContent": {
      "type": "object",
      "description": "The request for the compliance reasoning of one resource and dimension.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The full ARM resource identifier of the resource for which compliance reasoning is requested."
        },
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension for which reasoning is requested."
        },
        "evaluatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The snapshot timestamp from the compliance-details response. When omitted, the latest completed snapshot is returned."
        }
      },
      "required": [
        "resourceId",
        "dimension"
      ]
    },
    "SovereignViewComplianceResourceDetailsResult": {
      "type": "object",
      "description": "The compliance reasoning for given resource and dimension, including the reasoning for its linked and replica resources.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The evaluated resource ARM identifier."
        },
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension for which reasoning is returned."
        },
        "evaluatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The snapshot timestamp from which the response was produced."
        },
        "state": {
          "$ref": "#/definitions/PolicyComplianceState",
          "description": "The compliance state for this dimension."
        },
        "evaluations": {
          "type": "array",
          "description": "The linked and replica resource evaluations for this resource and dimension.",
          "items": {
            "$ref": "#/definitions/SovereignViewDataEvaluation"
          },
          "x-ms-identifiers": [
            "evaluationSourceId",
            "source"
          ]
        }
      },
      "required": [
        "resourceId",
        "dimension",
        "evaluatedAt",
        "state",
        "evaluations"
      ]
    },
    "SovereignViewComplianceSummaryResult": {
      "type": "object",
      "description": "The response for the sovereign view compliance summary action.",
      "properties": {
        "reportStatus": {
          "$ref": "#/definitions/ReportStatus",
          "description": "State indicating whether the data is processed or still being processed."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details when dataState is Error."
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the sovereign view.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/sovereignViews"
              }
            ]
          }
        },
        "lastEvaluated": {
          "type": "string",
          "format": "date-time",
          "description": "The time when compliance was last evaluated, in RFC3339 format."
        },
        "overallSummary": {
          "$ref": "#/definitions/SovereignViewComplianceOverallSummary",
          "description": "The overall summary of compliance across all resources in scope."
        },
        "dimensionSummaries": {
          "type": "array",
          "description": "The list of compliance summaries for the dimensions in scope.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDimensionSummary"
          },
          "x-ms-identifiers": [
            "dimension"
          ]
        }
      },
      "required": [
        "reportStatus",
        "lastEvaluated"
      ]
    },
    "SovereignViewDataEvaluation": {
      "type": "object",
      "description": "A linked or replica resource evaluation contributing to the compliance reasoning.",
      "properties": {
        "evaluationSourceId": {
          "type": "string",
          "description": "The stable identifier of the query that produced this evaluation."
        },
        "intent": {
          "$ref": "#/definitions/SovereignViewEvaluationIntent",
          "description": "What the query was run to find."
        },
        "source": {
          "$ref": "#/definitions/SovereignViewLinkedResourceEvaluationSource",
          "description": "The source that produced this linked or replica resource evaluation."
        },
        "evaluationOutcomes": {
          "type": "array",
          "description": "The outcomes produced by the query, one per evaluated linked or replica resource.",
          "items": {
            "$ref": "#/definitions/SovereignViewDataEvaluationOutcome"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "evaluationSourceId",
        "intent",
        "source",
        "evaluationOutcomes"
      ]
    },
    "SovereignViewDataEvaluationOutcome": {
      "type": "object",
      "description": "The compliance reasoning outcome produced by an evaluation query for a single resource.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM identifier of the linked or replica resource associated with the outcome."
        },
        "state": {
          "$ref": "#/definitions/PolicyComplianceState",
          "description": "The compliance state of the outcome."
        },
        "actualValue": {
          "type": "string",
          "description": "The actual value observed by the evaluation."
        },
        "expectedValue": {
          "type": "string",
          "description": "The value expected by the evaluation."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the outcome, in the service default language. Empty when the outcome has no reason. Clients that need a localized reason should resolve reasonCodeId instead."
        },
        "reasonCodeId": {
          "type": "string",
          "description": "The stable, language-neutral code that identifies the reason. Clients use this code to look up the localized reason string."
        },
        "additionalInfo": {
          "type": "string",
          "description": "Additional remediation or explanatory information, in the service default language. Clients that need localized text should resolve additionalInfoCodeId instead."
        },
        "additionalInfoCodeId": {
          "type": "string",
          "description": "The stable, language-neutral code that identifies the additional information. Clients use this code to look up the localized additional information string."
        }
      },
      "required": [
        "state"
      ]
    },
    "SovereignViewDataResidencyDimensionSettings": {
      "type": "object",
      "description": "Evaluation settings for the Data Residency dimension.",
      "properties": {
        "resourceEvaluationScope": {
          "$ref": "#/definitions/DataResidencyResourceEvaluationScope",
          "description": "The resource scope evaluated for the Data Residency dimension."
        },
        "parameters": {
          "$ref": "#/definitions/SovereignViewDataResidencyParameters",
          "description": "Parameters used by the Data Residency evaluation."
        }
      },
      "required": [
        "resourceEvaluationScope",
        "parameters"
      ]
    },
    "SovereignViewDataResidencyParameters": {
      "type": "object",
      "description": "Parameters used by the Data Residency evaluation.",
      "properties": {
        "allowedLocations": {
          "type": "array",
          "description": "Azure regions in which the resource and its linked resources are allowed to reside.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "allowedLocations"
      ]
    },
    "SovereignViewDimensionDetail": {
      "type": "object",
      "description": "A compliance detail item for a resource in the sovereign view compliance details action.",
      "properties": {
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension for the compliance detail."
        },
        "state": {
          "$ref": "#/definitions/PolicyComplianceState",
          "description": "The compliance state of the resource for the dimension."
        },
        "complianceDetails": {
          "type": "array",
          "description": "The compliance details for the given dimension.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetail"
          },
          "x-ms-identifiers": [
            "policyAssignmentId"
          ]
        },
        "evaluatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The snapshot timestamp stored for this resource and dimension, in RFC3339 format."
        },
        "sources": {
          "type": "array",
          "description": "Distinct evaluation sources for this resource and dimension in the same snapshot. An empty array means that the state has no underlying evaluation.",
          "items": {
            "$ref": "#/definitions/SovereignViewResourceEvaluationSource"
          }
        }
      },
      "required": [
        "dimension",
        "state",
        "complianceDetails",
        "evaluatedAt",
        "sources"
      ]
    },
    "SovereignViewDimensionSettings": {
      "type": "object",
      "description": "Per-dimension evaluation settings for the sovereign view.",
      "properties": {
        "dataResidency": {
          "$ref": "#/definitions/SovereignViewDataResidencyDimensionSettings",
          "description": "Settings for the Data Residency dimension."
        }
      }
    },
    "SovereignViewEvaluationIntent": {
      "type": "string",
      "description": "What an evaluation query was run to find.",
      "enum": [
        "LinkedResources",
        "GeoReplica",
        "BusinessContinuity"
      ],
      "x-ms-enum": {
        "name": "SovereignViewEvaluationIntent",
        "modelAsString": true,
        "values": [
          {
            "name": "LinkedResources",
            "value": "LinkedResources",
            "description": "Resources linked to the evaluated resource."
          },
          {
            "name": "GeoReplica",
            "value": "GeoReplica",
            "description": "Geo-replicas of the evaluated resource."
          },
          {
            "name": "BusinessContinuity",
            "value": "BusinessContinuity",
            "description": "Business continuity characteristics of the evaluated resource."
          }
        ]
      }
    },
    "SovereignViewFilterField": {
      "type": "string",
      "description": "Supported filter fields for Sovereign View compliance details.",
      "enum": [
        "Subscription",
        "ResourceGroup",
        "ResourceName",
        "ResourceType",
        "Region",
        "EncryptionInTransit",
        "DataResidency",
        "EncryptionAtRest",
        "EncryptionInUse",
        "ControlledNetworkExposure",
        "BusinessContinuity",
        "ParentResourceName"
      ],
      "x-ms-enum": {
        "name": "SovereignViewFilterField",
        "modelAsString": true,
        "values": [
          {
            "name": "subscription",
            "value": "Subscription",
            "description": "Filter by subscription."
          },
          {
            "name": "resourceGroup",
            "value": "ResourceGroup",
            "description": "Filter by resource group."
          },
          {
            "name": "resourceName",
            "value": "ResourceName",
            "description": "Filter by resource name."
          },
          {
            "name": "resourceType",
            "value": "ResourceType",
            "description": "Filter by resource type."
          },
          {
            "name": "region",
            "value": "Region",
            "description": "Filter by region."
          },
          {
            "name": "encryptionInTransit",
            "value": "EncryptionInTransit",
            "description": "Filter by Encryption In Transit compliance dimension."
          },
          {
            "name": "dataResidency",
            "value": "DataResidency",
            "description": "Filter by Data Residency compliance dimension."
          },
          {
            "name": "encryptionAtRest",
            "value": "EncryptionAtRest",
            "description": "Filter by Encryption At Rest compliance dimension."
          },
          {
            "name": "encryptionInUse",
            "value": "EncryptionInUse",
            "description": "Filter by Encryption In Use compliance dimension."
          },
          {
            "name": "controlledNetworkExposure",
            "value": "ControlledNetworkExposure",
            "description": "Filter by Controlled Network Exposure compliance dimension."
          },
          {
            "name": "businessContinuity",
            "value": "BusinessContinuity",
            "description": "Filter by Business Continuity compliance dimension."
          },
          {
            "name": "parentResourceName",
            "value": "ParentResourceName",
            "description": "Filter by the name of the parent resource that contains the resource."
          }
        ]
      }
    },
    "SovereignViewFilterValueItem": {
      "type": "object",
      "description": "A filter value item with the associated count.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value for the filter."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the filter value."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The count of resources that match the filter value.",
          "minimum": 0
        }
      },
      "required": [
        "value",
        "count"
      ]
    },
    "SovereignViewFilterValuesContent": {
      "type": "object",
      "description": "The request for the sovereign view filter values action.",
      "properties": {
        "requestedFilter": {
          "$ref": "#/definitions/SovereignViewFilterField",
          "description": "The filter field for which values are requested."
        },
        "filters": {
          "type": "array",
          "description": "Optional filters to apply before returning filter values.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsFilters"
          },
          "x-ms-identifiers": [
            "field",
            "operator"
          ]
        },
        "searchTerm": {
          "type": "string",
          "description": "Optional search term applied to the requested filter field."
        }
      },
      "required": [
        "requestedFilter"
      ]
    },
    "SovereignViewFilterValuesResult": {
      "type": "object",
      "description": "The response for the sovereign view filter values action.",
      "properties": {
        "dataState": {
          "$ref": "#/definitions/DataState",
          "description": "State indicating whether the data is processed or still being processed."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details when dataState is Error."
        },
        "requestedFilter": {
          "$ref": "#/definitions/SovereignViewFilterField",
          "description": "The filter field for which values are returned."
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of values available for the requested filter.",
          "minimum": 0
        },
        "values": {
          "type": "array",
          "description": "The list of filter values and their counts.",
          "items": {
            "$ref": "#/definitions/SovereignViewFilterValueItem"
          },
          "x-ms-identifiers": [
            "value"
          ]
        }
      },
      "required": [
        "dataState"
      ]
    },
    "SovereignViewLinkedResourceEvaluationSource": {
      "type": "string",
      "description": "The source that produced a linked or replica resource evaluation.",
      "enum": [
        "ARG",
        "LogAnalytics",
        "BusinessContinuity"
      ],
      "x-ms-enum": {
        "name": "SovereignViewLinkedResourceEvaluationSource",
        "modelAsString": true,
        "values": [
          {
            "name": "ARG",
            "value": "ARG",
            "description": "Azure Resource Graph."
          },
          {
            "name": "LogAnalytics",
            "value": "LogAnalytics",
            "description": "Log Analytics."
          },
          {
            "name": "BusinessContinuity",
            "value": "BusinessContinuity",
            "description": "The business continuity evaluation source."
          }
        ]
      }
    },
    "SovereignViewManagementGroupScope": {
      "type": "object",
      "description": "A management group scope item for the sovereign view.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the management group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "The management group name. This is a purely client side label that the service does not validate, normalize, or use for any lookup."
        }
      },
      "required": [
        "id"
      ]
    },
    "SovereignViewOperationalStatusContent": {
      "type": "object",
      "description": "The request for the sovereign view operational status action.",
      "properties": {
        "mode": {
          "$ref": "#/definitions/OperationalStatusRequestMode",
          "description": "The level of detail to return in the operational status response. Defaults to Detailed."
        },
        "evaluationParameters": {
          "type": "array",
          "description": "The evaluation parameters that control which checks are performed when determining operational status.",
          "items": {
            "$ref": "#/definitions/OperationalStatusEvaluationParameter"
          }
        }
      }
    },
    "SovereignViewOperationalStatusDetails": {
      "type": "object",
      "description": "An operational status detail item describing an issue impacting the operability of the sovereign view.",
      "properties": {
        "reason": {
          "$ref": "#/definitions/OperationalStatusUnhealthyReason",
          "description": "The reason the sovereign view is unhealthy."
        },
        "affectedScopes": {
          "type": "array",
          "description": "The scopes affected by the issue.",
          "items": {
            "$ref": "#/definitions/SovereignViewAffectedScopes"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      },
      "required": [
        "reason"
      ]
    },
    "SovereignViewOperationalStatusResult": {
      "type": "object",
      "description": "The response for the sovereign view operational status action.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the sovereign view."
        },
        "status": {
          "$ref": "#/definitions/OperationalStatusStates",
          "description": "The overall operational status of the sovereign view."
        },
        "details": {
          "type": "array",
          "description": "The detailed operational status information. Returned when the operational status is evaluated in Detailed mode.",
          "items": {
            "$ref": "#/definitions/SovereignViewOperationalStatusDetails"
          },
          "x-ms-identifiers": [
            "reason"
          ]
        }
      },
      "required": [
        "name",
        "status"
      ]
    },
    "SovereignViewPolicyInitiativeDetail": {
      "type": "object",
      "description": "The policy initiative details for the sovereign view.",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified id of the policy initiative.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policySetDefinitions"
              }
            ]
          }
        },
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension associated with the policy initiative."
        },
        "policyAssignmentIds": {
          "type": "array",
          "description": "The policy assignment Ids generated during assignment of the policy initiative to a scope.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Authorization/policyAssignments"
                }
              ]
            }
          },
          "readOnly": true
        },
        "policyVersion": {
          "type": "string",
          "description": "The version of the policy initiative."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters for the assignment of policy initiatives.",
          "additionalProperties": {
            "$ref": "#/definitions/ParameterValuesValue"
          }
        }
      },
      "required": [
        "policyInitiativeId",
        "dimension",
        "policyVersion",
        "assignmentParameters"
      ]
    },
    "SovereignViewRegulatoryDocumentName": {
      "type": "string",
      "description": "Stable regulatory-document keys recognized by the Portal.",
      "enum": [
        "SovereignControlBaseline"
      ],
      "x-ms-enum": {
        "name": "SovereignViewRegulatoryDocumentName",
        "modelAsString": true,
        "values": [
          {
            "name": "SovereignControlBaseline",
            "value": "SovereignControlBaseline",
            "description": "The Azure Cloud Sovereign Baseline document selected by default in the Portal."
          }
        ]
      }
    },
    "SovereignViewRemediateContent": {
      "type": "object",
      "description": "The request for the sovereign view remediate action.",
      "properties": {
        "dimensionType": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The remediation dimension being addressed. Only \"DataResidency\" is currently supported for remediation."
        },
        "residencyRemediationRequest": {
          "$ref": "#/definitions/SovereignViewResidencyRemediationContent",
          "description": "The residency-specific remediation request, present when dimensionType is \"DataResidency\"."
        }
      },
      "required": [
        "dimensionType",
        "residencyRemediationRequest"
      ]
    },
    "SovereignViewRemediateResult": {
      "type": "object",
      "description": "The response for the sovereign view remediate action.",
      "properties": {
        "remediationId": {
          "type": "string",
          "description": "The identifier used to fetch the remediation result via the remediationResult action."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "The error encountered while starting remediation, if any."
        }
      },
      "required": [
        "remediationId"
      ]
    },
    "SovereignViewRemediationPayloadType": {
      "type": "string",
      "description": "The type of remediation payload returned in a remediation result item.",
      "enum": [
        "ArmTemplateBundle"
      ],
      "x-ms-enum": {
        "name": "SovereignViewRemediationPayloadType",
        "modelAsString": true,
        "values": [
          {
            "name": "ArmTemplateBundle",
            "value": "ArmTemplateBundle",
            "description": "The remediation payload is an ARM template bundle."
          }
        ]
      }
    },
    "SovereignViewRemediationResult": {
      "type": "object",
      "description": "The response for the sovereign view remediationResult action.",
      "properties": {
        "remediationId": {
          "type": "string",
          "description": "The remediation identifier this result corresponds to."
        },
        "dimensionType": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The remediation dimension this result corresponds to. Only \"DataResidency\" is currently supported for remediation."
        },
        "status": {
          "$ref": "#/definitions/SovereignViewRemediationStatus",
          "description": "The status of the remediation, e.g. \"Succeeded\"."
        },
        "results": {
          "type": "array",
          "description": "The remediation results.",
          "items": {
            "$ref": "#/definitions/SovereignViewRemediationResultItem"
          },
          "x-ms-identifiers": [
            "resourceIds"
          ]
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "The error encountered while remediating, if any."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time of creation of this remediation result."
        },
        "expiresAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which this remediation result expires and is no longer retrievable."
        }
      },
      "required": [
        "remediationId",
        "dimensionType",
        "status"
      ]
    },
    "SovereignViewRemediationResultContent": {
      "type": "object",
      "description": "The request for the sovereign view remediationResult action.",
      "properties": {
        "remediationId": {
          "type": "string",
          "description": "The remediation identifier returned by the remediate action."
        }
      },
      "required": [
        "remediationId"
      ]
    },
    "SovereignViewRemediationResultItem": {
      "type": "object",
      "description": "A single remediation result item.",
      "properties": {
        "resourceIds": {
          "type": "array",
          "description": "The ARM resource IDs this result item applies to.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource."
          }
        },
        "type": {
          "$ref": "#/definitions/SovereignViewRemediationPayloadType",
          "description": "The type of remediation payload returned."
        },
        "result": {
          "$ref": "#/definitions/SovereignViewArmTemplateBundle",
          "description": "The remediation payload."
        }
      },
      "required": [
        "resourceIds",
        "type",
        "result"
      ]
    },
    "SovereignViewRemediationStatus": {
      "type": "string",
      "description": "The status of a sovereign view remediation.",
      "enum": [
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "SovereignViewRemediationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The remediation completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The remediation failed."
          }
        ]
      },
      "readOnly": true
    },
    "SovereignViewResidencyRemediationConfiguration": {
      "type": "object",
      "description": "The configuration for a residency remediation request.",
      "properties": {
        "targetRegion": {
          "type": "string",
          "description": "The target region resources should be remediated into."
        },
        "targetResourceGroupName": {
          "type": "string",
          "description": "The default resource group the remediated resources should be created in, if different from their source resource group. Can be overridden per-resource."
        }
      },
      "required": [
        "targetRegion"
      ]
    },
    "SovereignViewResidencyRemediationContent": {
      "type": "object",
      "description": "The residency remediation request payload.",
      "properties": {
        "configuration": {
          "$ref": "#/definitions/SovereignViewResidencyRemediationConfiguration",
          "description": "The residency remediation configuration."
        },
        "resources": {
          "type": "array",
          "description": "The resources to remediate.",
          "items": {
            "$ref": "#/definitions/SovereignViewResidencyRemediationResource"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      },
      "required": [
        "configuration",
        "resources"
      ]
    },
    "SovereignViewResidencyRemediationResource": {
      "type": "object",
      "description": "A single resource targeted by a residency remediation request.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the resource to remediate."
        },
        "configuration": {
          "$ref": "#/definitions/SovereignViewResidencyRemediationResourceConfiguration",
          "description": "The residency remediation configuration for this resource."
        }
      },
      "required": [
        "id",
        "configuration"
      ]
    },
    "SovereignViewResidencyRemediationResourceConfiguration": {
      "type": "object",
      "description": "The per-resource configuration for a residency remediation request.",
      "properties": {
        "sourceRegion": {
          "type": "string",
          "description": "The current region of the resource."
        },
        "targetResourceGroupName": {
          "type": "string",
          "description": "The resource group the remediated resource should be created in, if different from the source resource group."
        }
      },
      "required": [
        "sourceRegion"
      ]
    },
    "SovereignViewResource": {
      "type": "object",
      "description": "The Sovereign View resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SovereignViewResourceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SovereignViewResourceEvaluationSource": {
      "type": "string",
      "description": "The evaluation source that produced a compliance state for a resource and dimension.",
      "enum": [
        "Policy",
        "SovereignIntelligence"
      ],
      "x-ms-enum": {
        "name": "SovereignViewResourceEvaluationSource",
        "modelAsString": true,
        "values": [
          {
            "name": "Policy",
            "value": "Policy",
            "description": "The evaluation was produced by Azure Policy."
          },
          {
            "name": "SovereignIntelligence",
            "value": "SovereignIntelligence",
            "description": "The evaluation was produced by Sovereign Intelligence."
          }
        ]
      }
    },
    "SovereignViewResourceListResult": {
      "type": "object",
      "description": "The response of a SovereignViewResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SovereignViewResource items on this page",
          "items": {
            "$ref": "#/definitions/SovereignViewResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SovereignViewResourcePatch": {
      "type": "object",
      "description": "The patch model for the sovereign view resource type.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "SovereignViewResourceProperties": {
      "type": "object",
      "description": "The properties of the sovereign view resource type.",
      "properties": {
        "scope": {
          "$ref": "#/definitions/SovereignViewScope",
          "description": "The scope to apply for configuration.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "policyInitiatives": {
          "type": "array",
          "description": "The policy initiatives selected for the sovereign view.",
          "items": {
            "$ref": "#/definitions/SovereignViewPolicyInitiativeDetail"
          },
          "x-ms-identifiers": [
            "policyInitiativeId"
          ],
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "regulatoryDocumentName": {
          "$ref": "#/definitions/SovereignViewRegulatoryDocumentName",
          "description": "Stable regulatory-document key selected when this Sovereign View was created.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the sovereign view resource type.",
          "readOnly": true
        },
        "dimensionSettings": {
          "$ref": "#/definitions/SovereignViewDimensionSettings",
          "description": "Optional per-dimension evaluation settings.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "isWorkload": {
          "type": "boolean",
          "description": "Indicates whether the Sovereign View is considered a workload.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "scope",
        "policyInitiatives"
      ]
    },
    "SovereignViewScope": {
      "type": "object",
      "description": "The scope for the sovereign view in terms of the resources it would evaluate.",
      "properties": {
        "managementGroups": {
          "type": "array",
          "description": "The management groups in scope.",
          "items": {
            "$ref": "#/definitions/SovereignViewManagementGroupScope"
          }
        },
        "subscriptions": {
          "type": "array",
          "description": "The subscriptions in scope.",
          "items": {
            "$ref": "#/definitions/SovereignViewSubscriptionScope"
          }
        }
      }
    },
    "SovereignViewScopeType": {
      "type": "string",
      "description": "The type of scope in a sovereign view.",
      "enum": [
        "ManagementGroup",
        "Subscription"
      ],
      "x-ms-enum": {
        "name": "SovereignViewScopeType",
        "modelAsString": true,
        "values": [
          {
            "name": "ManagementGroup",
            "value": "ManagementGroup",
            "description": "A management group scope."
          },
          {
            "name": "Subscription",
            "value": "Subscription",
            "description": "A subscription scope."
          }
        ]
      }
    },
    "SovereignViewSubscriptionScope": {
      "type": "object",
[...]
