{
  "swagger": "2.0",
  "info": {
    "title": "AuthorizationManagementClient",
    "version": "2020-03-01-preview",
    "description": "Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to get deny assignments. A deny assignment describes the set of actions on resources that are denied for Azure Active Directory users."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/denyAssignments": {
      "get": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_ListForResource",
        "description": "List deny assignments for a resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of deny assignments.",
            "schema": {
              "$ref": "#/definitions/DenyAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DenyAssignmentFilter",
        "x-ms-examples": {
          "List deny assignments for resource": {
            "$ref": "./examples/DenyAssignments_ListForResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/denyAssignments": {
      "get": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_ListForResourceGroup",
        "description": "List deny assignments for a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of deny assignments.",
            "schema": {
              "$ref": "#/definitions/DenyAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DenyAssignmentFilter",
        "x-ms-examples": {
          "List deny assignments for resource group": {
            "$ref": "./examples/DenyAssignments_ListForResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/denyAssignments": {
      "get": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_ListForSubscription",
        "description": "List all deny assignments for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of deny assignments.",
            "schema": {
              "$ref": "#/definitions/DenyAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DenyAssignmentFilter",
        "x-ms-examples": {
          "List deny assignments for subscription": {
            "$ref": "./examples/DenyAssignments_ListForSubscription.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentName}": {
      "get": {
        "operationId": "DenyAssignments_Get",
        "tags": [
          "DenyAssignments"
        ],
        "description": "Get a deny assignment by scope and name.",
        "parameters": [
          {
            "$ref": "./common-types.json#/parameters/ScopeParameter"
          },
          {
            "$ref": "#/parameters/DenyAssignmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get deny assignment by scope name": {
            "$ref": "./examples/DenyAssignments_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_Create",
        "description": "Create or update a deny assignment by scope and name.",
        "parameters": [
          {
            "$ref": "./common-types.json#/parameters/ScopeParameter"
          },
          {
            "$ref": "#/parameters/DenyAssignmentNameParameter"
          },
          {
            "$ref": "#/parameters/DenyAssignmentCreateParameters"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "200": {
            "description": "Returns the deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create deny assignment for subscription": {
            "$ref": "./examples/DenyAssignments_CreateForSubscription.json"
          },
          "Create deny assignment for resource group": {
            "$ref": "./examples/DenyAssignments_CreateForResourceGroup.json"
          },
          "Create deny assignment for resource": {
            "$ref": "./examples/DenyAssignments_CreateForResource.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_Delete",
        "description": "Delete a deny assignment by scope and name.",
        "parameters": [
          {
            "$ref": "./common-types.json#/parameters/ScopeParameter"
          },
          {
            "$ref": "#/parameters/DenyAssignmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deleted deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "204": {
            "description": "Deny assignment was already deleted or does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete deny assignment": {
            "$ref": "./examples/DenyAssignments_Delete.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/denyAssignments": {
      "get": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_ListForScope",
        "description": "List deny assignments for a scope.",
        "parameters": [
          {
            "$ref": "./common-types.json#/parameters/ScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of deny assignments.",
            "schema": {
              "$ref": "#/definitions/DenyAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DenyAssignmentFilter",
        "x-ms-examples": {
          "List deny assignments for scope": {
            "$ref": "./examples/DenyAssignments_ListForScope.json"
          }
        }
      }
    },
    "/{denyAssignmentId}": {
      "get": {
        "operationId": "DenyAssignments_GetById",
        "tags": [
          "DenyAssignments"
        ],
        "description": "Get a deny assignment by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/DenyAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get deny assignment by ID": {
            "$ref": "./examples/DenyAssignments_GetById.json"
          }
        }
      },
      "put": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_CreateById",
        "description": "Create or update a deny assignment by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/DenyAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DenyAssignmentCreateParameters"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "200": {
            "description": "Returns the deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update deny assignment by ID": {
            "$ref": "./examples/DenyAssignments_CreateById.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DenyAssignments"
        ],
        "operationId": "DenyAssignments_DeleteById",
        "description": "Delete a deny assignment by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/DenyAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deleted deny assignment.",
            "schema": {
              "$ref": "#/definitions/DenyAssignment"
            }
          },
          "204": {
            "description": "Deny assignment already deleted or does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete deny assignment by ID": {
            "$ref": "./examples/DenyAssignments_DeleteById.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DenyAssignmentFilter": {
      "properties": {
        "denyAssignmentName": {
          "type": "string",
          "description": "Return deny assignment with specified name."
        },
        "principalId": {
          "type": "string",
          "description": "Return all deny assignments where the specified principal is listed in the principals list of deny assignments."
        },
        "gdprExportPrincipalId": {
          "type": "string",
          "description": "Return all deny assignments where the specified principal is listed either in the principals list or exclude principals list of deny assignments."
        }
      },
      "description": "Deny Assignments filter"
    },
    "DenyAssignmentProperties": {
      "properties": {
        "denyAssignmentName": {
          "type": "string",
          "description": "The display name of the deny assignment."
        },
        "description": {
          "type": "string",
          "description": "The description of the deny assignment."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "./common-types.json#/definitions/Permission"
          },
          "description": "An array of permissions that are denied by the deny assignment."
        },
        "doNotApplyToChildScopes": {
          "type": "boolean",
          "description": "Determines if the deny assignment applies to child scopes. Default value is false."
        },
        "principals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Principal"
          },
          "description": "Array of principals to which the deny assignment applies."
        },
        "excludePrincipals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Principal"
          },
          "description": "Array of principals to which the deny assignment does not apply."
        },
        "isSystemProtected": {
          "type": "boolean",
          "description": "Specifies whether this deny assignment was created by Azure and cannot be edited or deleted."
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "scope": {
          "type": "string",
          "description": "The deny assignment scope."
        },
        "createdOn": {
          "readOnly": true,
          "type": "string",
          "description": "Time it was created",
          "format": "date-time"
        },
        "updatedOn": {
          "readOnly": true,
          "type": "string",
          "description": "Time it was updated",
          "format": "date-time"
        },
        "createdBy": {
          "readOnly": true,
          "type": "string",
          "description": "Id of the user who created the assignment"
        },
        "updatedBy": {
          "readOnly": true,
          "type": "string",
          "description": "Id of the user who updated the assignment"
        }
      },
      "required": [
        "principals",
        "permissions"
      ],
      "description": "Deny assignment properties."
    },
    "DenyAssignment": {
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The deny assignment ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The deny assignment name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The deny assignment type."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DenyAssignmentProperties",
          "description": "Deny assignment properties."
        }
      },
      "description": "Deny Assignment"
    },
    "DenyAssignmentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DenyAssignment"
          },
          "description": "Deny assignment list."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Deny assignment list operation result."
    },
    "Principal": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Object ID of the Azure AD principal (user, group, or service principal) to which the deny assignment applies. An empty guid '00000000-0000-0000-0000-000000000000' as principal id and principal type as 'Everyone' represents all users, groups and service principals."
        },
        "type": {
          "type": "string",
          "description": "Type of object represented by principal id (user, group, or service principal). An empty guid '00000000-0000-0000-0000-000000000000' as principal id and principal type as 'Everyone' represents all users, groups and service principals."
        }
      },
      "description": "Deny assignment principal."
    },
    "DenyAssignmentCreateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DenyAssignmentProperties",
          "description": "Deny assignment properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Deny assignment create parameters."
    }
  },
  "parameters": {
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The filter to apply on the operation. Use $filter=atScope() to return all deny assignments at or above the scope. Use $filter=denyAssignmentName eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. This filter is different from the principalId filter as it returns not only those deny assignments that contain the specified principal is the Principals list but also those deny assignments that contain the specified principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter is used, only the deny assignment name and description properties are returned.",
      "x-ms-parameter-location": "method"
    },
    "DenyAssignmentNameParameter": {
      "name": "denyAssignmentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the deny assignment. It can be any valid GUID.",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    },
    "DenyAssignmentIdParameter": {
      "name": "denyAssignmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The fully qualified ID of the deny assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/<SUB_ID>/resourcegroups/<RESOURCE_GROUP>/providers/Microsoft.Authorization/roleAssignments/<ROLE_ASSIGNMENT_NAME>",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    },
    "DenyAssignmentCreateParameters": {
      "name": "parameters",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/DenyAssignmentCreateParameters"
      },
      "description": "Parameters for the deny assignment.",
      "x-ms-parameter-location": "method"
    }
  }
}
