{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2026-01-01",
    "description": "APIs to manage Microsoft Azure network resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AuthenticationPolicies"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/authenticationPolicies": {
      "get": {
        "operationId": "AuthenticationPolicies_ListAll",
        "tags": [
          "AuthenticationPolicies"
        ],
        "description": "Gets all the authentication policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists JWT validation and user sign-in authentication policies in a subscription": {
            "$ref": "./examples/AuthenticationPolicyListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/authenticationPolicies": {
      "get": {
        "operationId": "AuthenticationPolicies_List",
        "tags": [
          "AuthenticationPolicies"
        ],
        "description": "Lists all of the authentication policies within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists authentication policies in a resource group": {
            "$ref": "./examples/AuthenticationPolicyList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/authenticationPolicies/{authenticationPolicyName}": {
      "get": {
        "operationId": "AuthenticationPolicies_Get",
        "tags": [
          "AuthenticationPolicies"
        ],
        "description": "Retrieve the authentication policy with specified name within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "authenticationPolicyName",
            "in": "path",
            "description": "The name of the authentication policy.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "^[A-Za-z0-9_-]{1,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets a JWT validation authentication policy within a resource group": {
            "$ref": "./examples/AuthenticationPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "AuthenticationPolicies_CreateOrUpdate",
        "tags": [
          "AuthenticationPolicies"
        ],
        "description": "Creates or updates an authentication policy with the specified name within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "authenticationPolicyName",
            "in": "path",
            "description": "The name of the authentication policy.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "^[A-Za-z0-9_-]{1,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Authentication policy to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AuthenticationPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicy"
            }
          },
          "201": {
            "description": "Resource 'AuthenticationPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a JWT validation authentication policy within a resource group": {
            "$ref": "./examples/AuthenticationPolicyCreateOrUpdateJwtValidation.json"
          },
          "Creates or updates a user sign-in authentication policy within a resource group": {
            "$ref": "./examples/AuthenticationPolicyCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AuthenticationPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AuthenticationPolicies_UpdateTags",
        "tags": [
          "AuthenticationPolicies"
        ],
        "description": "Updates an authentication policy's tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "authenticationPolicyName",
            "in": "path",
            "description": "The name of the authentication policy.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "^[A-Za-z0-9_-]{1,80}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update authentication policy tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Updates authentication policy tags": {
            "$ref": "./examples/AuthenticationPolicyUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "AuthenticationPolicies_Delete",
        "tags": [
          "AuthenticationPolicies"
        ],
        "description": "Deletes the specified authentication policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "authenticationPolicyName",
            "in": "path",
            "description": "The name of the authentication policy.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "^[A-Za-z0-9_-]{1,80}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an authentication policy within a resource group": {
            "$ref": "./examples/AuthenticationPolicyDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AuthenticationPolicy": {
      "type": "object",
      "description": "Authentication policy resource for identity integration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AuthenticationPolicyPropertiesFormat",
          "description": "Properties of the authentication policy."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "./common.json#/definitions/ManagedServiceIdentity",
          "description": "The user-assigned identity used by a user sign-in policy to access its Key Vault client secret."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "AuthenticationPolicyListResult": {
      "type": "object",
      "description": "The response of a AuthenticationPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AuthenticationPolicy items on this page",
          "items": {
            "$ref": "#/definitions/AuthenticationPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AuthenticationPolicyPropertiesFormat": {
      "type": "object",
      "description": "Properties of the authentication policy.",
      "properties": {
        "userTrustProviderType": {
          "$ref": "./common.json#/definitions/UserTrustProviderType",
          "description": "The type of the user trust provider. Only Microsoft Entra is supported, using the serialized value `entra`."
        },
        "onUnauthenticatedRequest": {
          "$ref": "./common.json#/definitions/OnUnauthenticatedRequest",
          "description": "The action to take when a request is unauthenticated. When omitted, user sign-in policies default to `authenticate` and JWT validation policies default to `deny`."
        },
        "authenticationProperties": {
          "$ref": "#/definitions/AuthenticationProviderProperties",
          "description": "The authentication provider configuration for the policy."
        },
        "associatedResources": {
          "type": "array",
          "description": "A collection of resource IDs that reference this authentication policy.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the authentication policy resource.",
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the authentication policy resource.",
          "readOnly": true
        }
      },
      "required": [
        "userTrustProviderType",
        "authenticationProperties"
      ]
    },
    "AuthenticationProviderProperties": {
      "type": "object",
      "description": "Properties for authentication provider configuration. A policy must configure either JWT validation fields or user sign-in fields; the two configurations are mutually exclusive and cannot be combined.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "The URL of the Secure Token Service. Include a trailing slash at the end of the value. Example: https://login.microsoftonline.com/{Microsoft Entra Tenant ID}/",
          "maxLength": 2048
        },
        "jwksUri": {
          "type": "string",
          "format": "uri",
          "description": "The JSON Web Key Set (JWKS) URI used to retrieve the public keys for JWT validation. Example: https://login.microsoftonline.com/{Microsoft Entra Tenant ID}/discovery/v2.0/keys",
          "maxLength": 2048,
          "pattern": "^[Hh][Tt][Tt][Pp][Ss]://"
        },
        "audience": {
          "type": "string",
          "description": "The intended audience for the JWT. Only a single audience value is supported in this API version. Example: https://audience.com/{application-id}",
          "maxLength": 2048
        },
        "clientId": {
          "type": "string",
          "description": "The Application (client) ID for the related application registered in Microsoft Entra ID, formatted as a GUID.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "clientSecret": {
          "type": "string",
          "format": "uri",
          "description": "The absolute HTTPS Key Vault secret URL containing the client secret for authentication. This property is required for user sign-in policies. The secret value retrieved from Key Vault can contain up to 4096 characters. Example: https://myvault.vault.azure.net/secrets/mysecret",
          "pattern": "^[Hh][Tt][Tt][Pp][Ss]://"
        },
        "scope": {
          "type": "array",
          "description": "The scopes used by an application during authentication to authorize access to a user's details. A maximum of 10 scopes is supported, each scope can contain up to 128 characters, and all scopes can contain up to 256 characters combined.",
          "maxItems": 10,
          "items": {
            "$ref": "./common.json#/definitions/AuthenticationScope"
          }
        },
        "sessionTimeout": {
          "type": "string",
          "description": "The timeout of the session cookie used for user authentication, in seconds. The supported range is 1 to 604800 seconds, and the default is 86400 seconds. Applicable to the Application Gateway post-OIDC workflow."
        },
        "sessionCookieName": {
          "type": "string",
          "description": "The name of the session cookie used for user authentication. Applicable to the Application Gateway post-OIDC workflow.",
          "maxLength": 256,
          "pattern": "^[A-Za-z0-9_-]+$"
        }
      },
      "required": [
        "issuer",
        "clientId"
      ]
    }
  },
  "parameters": {}
}
