{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-06-15"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/{l2IsolationDomainName}": {
      "put": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Create",
        "summary": "Create L2 Isolation Domain.",
        "description": "Creates layer 2 network connectivity between compute nodes within a rack and across racks.The configuration is applied on the devices only after the isolation domain is enabled.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "L2IsolationDomains_Create_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Get",
        "summary": "Retrieves details of this L2 Isolation Domain.",
        "description": "Implements L2 Isolation Domain GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "L2IsolationDomains_Get_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Update",
        "summary": "Updates the L2 Isolation Domain.",
        "description": "API to update certain properties of the L2 Isolation Domain resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "API to update certain properties of the L2 Isolation Domain resource..",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_Update_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Delete",
        "summary": "Deletes the L2 Isolation Domain.",
        "description": "Deletes layer 2 connectivity between compute nodes by managed by named L2 Isolation name.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_Delete_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/{l2IsolationDomainName}/updateAdministrativeState": {
      "post": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_updateAdministrativeState",
        "description": "Enables isolation domain across the fabric or on specified racks.",
        "summary": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForDeviceUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForDeviceUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_updateAdministrativeState_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_updateAdministrativeState_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/{l2IsolationDomainName}/validateConfiguration": {
      "post": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_ValidateConfiguration",
        "description": "Validates the configuration of the resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_ValidateConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ValidateConfiguration_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/{l2IsolationDomainName}/commitConfiguration": {
      "post": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_CommitConfiguration",
        "description": "Commits the configuration of the given resources.",
        "summary": "Execute the commit on the resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/L2IsolationDomainNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_CommitConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_CommitConfiguration_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains": {
      "get": {
        "operationId": "L2IsolationDomains_ListByResourceGroup",
        "summary": "List L2IsolationDomains by resource group.",
        "description": "Displays L2IsolationDomains list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all L2IsolationDomains under the resource group.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "L2IsolationDomains_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains": {
      "get": {
        "operationId": "L2IsolationDomains_ListBySubscription",
        "summary": "List L2IsolationDomains by subscription.",
        "description": "Displays L2IsolationDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all L2IsolationDomains under the subscription.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "L2IsolationDomains_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "L2IsolationDomainProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "required": [
        "vlanId",
        "networkFabricId"
      ],
      "properties": {
        "networkFabricId": {
          "description": "ARM Resource ID of the Network Fabric.",
          "$ref": "./common.json#/definitions/NetworkFabricIdProperty"
        },
        "vlanId": {
          "type": "integer",
          "format": "int32",
          "minimum": 100,
          "maximum": 4094,
          "description": "Vlan Identifier of the Network Fabric. Example: 501."
        },
        "mtu": {
          "type": "integer",
          "format": "int32",
          "minimum": 64,
          "maximum": 9200,
          "default": 1500,
          "description": "Maximum transmission unit. Default value is 1500."
        },
        "configurationState": {
          "description": "Configuration state of the resource.",
          "$ref": "./common.json#/definitions/ConfigurationState"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "administrativeState": {
          "description": "Administrative state of the resource.",
          "$ref": "./common.json#/definitions/AdministrativeState"
        }
      },
      "description": "L2Isolation Domain Properties defines the properties of the resource."
    },
    "L2IsolationDomainPatchProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "mtu": {
          "type": "integer",
          "format": "int32",
          "minimum": 64,
          "maximum": 9200,
          "default": 1500,
          "description": "Maximum transmission unit. Default value is 1500."
        }
      },
      "description": "L2 Isolation Domain Patch Properties defines the patchable properties of the resource."
    },
    "L2IsolationDomain": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/L2IsolationDomainProperties"
        }
      },
      "required": [
        "properties"
      ],
      "description": "The L2 Isolation Domain resource definition."
    },
    "L2IsolationDomainPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/L2IsolationDomainPatchProperties"
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/TagsUpdate"
        }
      ],
      "description": "The L2 Isolation Domain patch resource definition."
    },
    "L2IsolationDomainsListResult": {
      "type": "object",
      "description": "List of L2 Isolation Domains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Displays list of L2 Isolation Domain resources.",
          "items": {
            "$ref": "#/definitions/L2IsolationDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {
    "L2IsolationDomainNameParameter": {
      "type": "string",
      "description": "Name of the L2 Isolation Domain.",
      "in": "path",
      "name": "l2IsolationDomainName",
      "required": true,
      "x-ms-parameter-location": "method"
    }
  }
}
