{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2025-03-30-preview",
    "description": "Azure Programmable Connectivity Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Gateways"
    },
    {
      "name": "OperatorApiConnections"
    },
    {
      "name": "OperatorApiPlans"
    }
  ],
  "paths": {
    "/providers/Microsoft.ProgrammableConnectivity/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/gateways": {
      "get": {
        "operationId": "Gateways_ListBySubscription",
        "tags": [
          "Gateways"
        ],
        "description": "List Gateway resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Gateways_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections": {
      "get": {
        "operationId": "OperatorApiConnections_ListBySubscription",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "List OperatorApiConnection resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiConnections_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans": {
      "get": {
        "operationId": "OperatorApiPlans_ListBySubscription",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "List OperatorApiPlan resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An optional OData based filter expression to apply on the operation.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "filter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20,
            "x-ms-client-name": "top"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "An optional query parameter which specifies the number of records to be skipped.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-client-name": "skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiPlans_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans/{operatorApiPlanName}": {
      "get": {
        "operationId": "OperatorApiPlans_Get",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "Get an OperatorApiPlan resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operatorApiPlanName",
            "in": "path",
            "description": "APC Gateway Plan Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiPlans_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/gateways": {
      "get": {
        "operationId": "Gateways_ListByResourceGroup",
        "tags": [
          "Gateways"
        ],
        "description": "List Gateway resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Gateways_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/gateways/{gatewayName}": {
      "get": {
        "operationId": "Gateways_Get",
        "tags": [
          "Gateways"
        ],
        "description": "Get a Gateway resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Gateways_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Gateways_CreateOrUpdate",
        "tags": [
          "Gateways"
        ],
        "description": "Create or update an APC Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Gateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "201": {
            "description": "Resource 'Gateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Gateways_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Gateways_Update",
        "tags": [
          "Gateways"
        ],
        "description": "Update Gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Gateways_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Gateways_Delete",
        "tags": [
          "Gateways"
        ],
        "description": "Delete a Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Gateways_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections": {
      "get": {
        "operationId": "OperatorApiConnections_ListByResourceGroup",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "List OperatorApiConnection resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiConnections_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections/{operatorApiConnectionName}": {
      "get": {
        "operationId": "OperatorApiConnections_Get",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Get an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OperatorApiConnections_Create",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Create an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "201": {
            "description": "Resource 'OperatorApiConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Create_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiConnections_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OperatorApiConnections_Update",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Update an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiConnections_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OperatorApiConnections_Delete",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Delete an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperatorApiConnections_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationOwnerProperties": {
      "type": "object",
      "description": "Details about the Application Owner (i.e. organization) that would use the Operator's Network APIs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Common name of the organization owning the application."
        },
        "legalName": {
          "type": "string",
          "description": "Legal name of the organization owning the application."
        },
        "tradingName": {
          "type": "string",
          "description": "Trading name of the organization owning the application."
        },
        "organizationDescription": {
          "type": "string",
          "description": "A description of the organization owning the application."
        },
        "taxNumber": {
          "type": "string",
          "description": "Unique Tax Number for the user's organization in the country/region the APC Gateway is being purchased."
        },
        "organizationType": {
          "$ref": "#/definitions/OrganizationType",
          "description": "The type of organization that the Application Owner is."
        },
        "organizationIdentificationId": {
          "type": "string",
          "description": "ID number for official identification of the organization."
        },
        "organizationIdentificationIssuer": {
          "type": "string",
          "description": "Issuing organization of the ID for official identification of the organization."
        },
        "organizationIdentificationType": {
          "type": "string",
          "description": "Type of official identification of the organization."
        },
        "contactEmailAddress": {
          "type": "string",
          "description": "Email address for the person responsible for the use of Network APIs in this application."
        },
        "legalRepresentative": {
          "$ref": "#/definitions/Person",
          "description": "Legal representative of the organization."
        },
        "privacyManager": {
          "$ref": "#/definitions/Person",
          "description": "Privacy manager of the organization."
        },
        "dataProtectionOfficer": {
          "$ref": "#/definitions/Person",
          "description": "Data Protection Officer of the organization."
        },
        "registeredGeographicAddress": {
          "$ref": "#/definitions/GeographicAddress",
          "description": "Registered Geographic address."
        },
        "privacyPolicyUrl": {
          "type": "string",
          "format": "uri",
          "description": "URL for the organization's privacy policy."
        },
        "localRepresentatives": {
          "type": "array",
          "description": "List of local representatives.",
          "items": {
            "$ref": "#/definitions/LocalRepresentative"
          },
          "x-ms-identifiers": [
            "countryCode"
          ]
        }
      },
      "required": [
        "name",
        "legalName",
        "tradingName",
        "organizationDescription",
        "taxNumber",
        "organizationType",
        "organizationIdentificationId",
        "organizationIdentificationIssuer",
        "organizationIdentificationType",
        "contactEmailAddress",
        "legalRepresentative",
        "privacyManager",
        "dataProtectionOfficer",
        "registeredGeographicAddress",
        "privacyPolicyUrl",
        "localRepresentatives"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "Details about the Application that would use the Operator's Network APIs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the application."
        },
        "applicationDescription": {
          "type": "string",
          "description": "Description of the application."
        },
        "category": {
          "$ref": "#/definitions/Category",
          "description": "The category of the application."
        },
        "commercialName": {
          "type": "string",
          "description": "Commercial name of the application."
        },
        "privacyRightsRequestEmailAddress": {
          "type": "string",
          "description": "Privacy rights request email address."
        },
        "privacyPolicyUrl": {
          "type": "string",
          "format": "uri",
          "description": "URL for the organization's privacy policy."
        }
      },
      "required": [
        "name",
        "applicationDescription",
        "category",
        "commercialName",
        "privacyRightsRequestEmailAddress",
        "privacyPolicyUrl"
      ]
    },
    "Category": {
      "type": "string",
      "description": "Valid values for category based on https://www.tmforum.org/oda/open-apis/directory/open-gateway-onboarding-and-ordering-component-suite-TMF931",
      "enum": [
        "Agriculture",
        "Art and design",
        "Auto and vehicle",
        "Beauty",
        "Books and reference",
        "Business",
        "Construction",
        "Defense",
        "Developer tools",
        "Education",
        "Engineering",
        "Events and entertainment",
        "Finance",
        "Food and drink",
        "Games",
        "Health and fitness",
        "Healthcare",
        "Information",
        "Kids",
        "Libraries and demo",
        "Lifestyle",
        "Manufacturing",
        "Maps and navigation",
        "Media",
        "Medical",
        "Mining",
        "Music and audio",
        "News and magazines",
        "Organizations",
        "Other",
        "Photo and video",
        "Productivity",
        "Public service",
        "Real estate",
        "Shopping",
        "Social networking and communications",
        "Sports",
        "Tourism",
        "Utilities",
        "Trading",
        "Transportation",
        "Travel and local",
        "Water",
        "Weather"
      ],
      "x-ms-enum": {
        "name": "Category",
        "modelAsString": true,
        "values": [
          {
            "name": "agriculture",
            "value": "Agriculture"
          },
          {
            "name": "artAndDesign",
            "value": "Art and design"
          },
          {
            "name": "autoAndVehicle",
            "value": "Auto and vehicle"
          },
          {
            "name": "beauty",
            "value": "Beauty"
          },
          {
            "name": "booksAndReference",
            "value": "Books and reference"
          },
          {
            "name": "business",
            "value": "Business"
          },
          {
            "name": "construction",
            "value": "Construction"
          },
          {
            "name": "defense",
            "value": "Defense"
          },
          {
            "name": "developerTools",
            "value": "Developer tools"
          },
          {
            "name": "education",
            "value": "Education"
          },
          {
            "name": "engineering",
            "value": "Engineering"
          },
          {
            "name": "eventsAndEntertainment",
            "value": "Events and entertainment"
          },
          {
            "name": "finance",
            "value": "Finance"
          },
          {
            "name": "foodAndDrink",
            "value": "Food and drink"
          },
          {
            "name": "games",
            "value": "Games"
          },
          {
            "name": "healthAndFitness",
            "value": "Health and fitness"
          },
          {
            "name": "healthcare",
            "value": "Healthcare"
          },
          {
            "name": "information",
            "value": "Information"
          },
          {
            "name": "kids",
            "value": "Kids"
          },
          {
            "name": "librariesAndDemo",
            "value": "Libraries and demo"
          },
          {
            "name": "lifestyle",
            "value": "Lifestyle"
          },
          {
            "name": "manufacturing",
            "value": "Manufacturing"
          },
          {
            "name": "mapsAndNavigation",
            "value": "Maps and navigation"
          },
          {
            "name": "media",
            "value": "Media"
          },
          {
            "name": "medical",
            "value": "Medical"
          },
          {
            "name": "mining",
            "value": "Mining"
          },
          {
            "name": "musicAndAudio",
            "value": "Music and audio"
          },
          {
            "name": "newsAndMagazines",
            "value": "News and magazines"
          },
          {
            "name": "organizations",
            "value": "Organizations"
          },
          {
            "name": "other",
            "value": "Other"
          },
          {
            "name": "photoAndVideo",
            "value": "Photo and video"
          },
          {
            "name": "productivity",
            "value": "Productivity"
          },
          {
            "name": "publicService",
            "value": "Public service"
          },
          {
            "name": "realEstate",
            "value": "Real estate"
          },
          {
            "name": "shopping",
            "value": "Shopping"
          },
          {
            "name": "socialNetworkingAndCommunications",
            "value": "Social networking and communications"
          },
          {
            "name": "sports",
            "value": "Sports"
          },
          {
            "name": "tourism",
            "value": "Tourism"
          },
          {
            "name": "utilities",
            "value": "Utilities"
          },
          {
            "name": "trading",
            "value": "Trading"
          },
          {
            "name": "transportation",
            "value": "Transportation"
          },
          {
            "name": "travelAndLocal",
            "value": "Travel and local"
          },
          {
            "name": "water",
            "value": "Water"
          },
          {
            "name": "weather",
            "value": "Weather"
          }
        ]
      }
    },
    "Context": {
      "type": "string",
      "description": "Valid values for the context based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/.",
      "enum": [
        "Algorithmic logic",
        "Assistive automation",
        "Automated decision making",
        "Automated scoring of individuals",
        "Automation level",
        "Autonomous",
        "Cannot challenge process",
        "Cannot challenge process input",
        "Cannot challenge process output",
        "Cannot correct process",
        "Cannot correct process input",
        "Cannot correct process output",
        "Cannot object to process",
        "Cannot opt in to process",
        "Cannot opt out from process",
        "Cannot reverse process effects",
        "Cannot reverse process input",
        "Cannot reverse process output",
        "Cannot withdraw from process",
        "Challenging process",
        "Challenging process input",
        "Challenging process output",
        "Conditional automation",
        "Consent control",
        "Correcting process",
        "Correcting process input",
        "Correcting process output",
        "Completely manual processing",
        "Data controller data source",
        "Data published by data subject",
        "Data source",
        "Data subject",
        "Data subject data source",
        "Data subject scale",
        "Data volume",
        "Decision making",
        "Entity active involvement",
        "Entity involvement",
        "Entity non involvement",
        "Entity non permissive involvement",
        "Entity passive involvement",
        "Entity permissive involvement",
        "Evaluation of individuals",
        "Evaluation scoring",
        "Full automation",
        "Geographic coverage",
        "Global scale",
        "High automation",
        "Huge data volume",
        "Huge scale of data subjects",
        "Human involved",
        "Human involvement",
        "Human involvement for control",
        "Human involvement for decision",
        "Human involvement for input",
        "Human involvement for intervention",
        "Human involvement for oversight",
        "Human involvement for verification",
        "Human not involved",
        "Innovative use of existing technology",
        "Innovative use of new technologies",
        "Innovative use of technology",
        "Large data volume",
        "Large scale of data subjects",
        "Large scale processing",
        "Local environment scale",
        "Locality scale",
        "Medium data volume",
        "Medium scale of data subjects",
        "Medium scale processing",
        "Multi national scale",
        "National scale",
        "Nearly global scale",
        "Non public data source",
        "Not automated",
        "Objecting to process",
        "Obtain consent",
        "Opting in to process",
        "Opting out from process",
        "Partial automation",
        "Processing condition",
        "Processing duration",
        "Processing location",
        "Processing scale",
        "Provide consent",
        "Public data source",
        "Reaffirm consent",
        "Regional scale",
        "Reversing process effects",
        "Reversing process input",
        "Reversing process output",
        "Scale",
        "Scoring of individuals",
        "Singular data volume",
        "Singular scale of data subjects",
        "Small data volume",
        "Small scale of data subjects",
        "Small scale processing",
        "Sporadic data volume",
        "Sporadic scale of data subjects",
        "Storage condition",
        "Storage deletion",
        "Storage duration",
        "Storage location",
        "Storage restoration",
        "Systematic monitoring",
        "Third party data source",
        "Withdraw consent",
        "Withdrawing from process"
      ],
      "x-ms-enum": {
        "name": "Context",
        "modelAsString": true,
        "values": [
          {
            "name": "algorithmicLogic",
            "value": "Algorithmic logic"
          },
          {
            "name": "assistiveAutomation",
            "value": "Assistive automation"
          },
          {
            "name": "automatedDecisionMaking",
            "value": "Automated decision making"
          },
          {
            "name": "automatedScoringOfIndividuals",
            "value": "Automated scoring of individuals"
          },
          {
            "name": "automationLevel",
            "value": "Automation level"
          },
          {
            "name": "autonomous",
            "value": "Autonomous"
          },
          {
            "name": "cannotChallengeProcess",
            "value": "Cannot challenge process"
          },
          {
            "name": "cannotChallengeProcessInput",
            "value": "Cannot challenge process input"
          },
          {
            "name": "cannotChallengeProcessOutput",
            "value": "Cannot challenge process output"
          },
          {
            "name": "cannotCorrectProcess",
            "value": "Cannot correct process"
          },
          {
            "name": "cannotCorrectProcessInput",
            "value": "Cannot correct process input"
          },
          {
            "name": "cannotCorrectProcessOutput",
            "value": "Cannot correct process output"
          },
          {
            "name": "cannotObjectToProcess",
            "value": "Cannot object to process"
          },
          {
            "name": "cannotOptInToProcess",
            "value": "Cannot opt in to process"
          },
          {
            "name": "cannotOptOutFromProcess",
            "value": "Cannot opt out from process"
          },
          {
            "name": "cannotReverseProcessEffects",
            "value": "Cannot reverse process effects"
          },
          {
            "name": "cannotReverseProcessInput",
            "value": "Cannot reverse process input"
          },
          {
            "name": "cannotReverseProcessOutput",
            "value": "Cannot reverse process output"
          },
          {
            "name": "cannotWithdrawFromProcess",
            "value": "Cannot withdraw from process"
          },
          {
            "name": "challengingProcess",
            "value": "Challenging process"
          },
          {
            "name": "challengingProcessInput",
            "value": "Challenging process input"
          },
          {
            "name": "challengingProcessOutput",
            "value": "Challenging process output"
          },
          {
            "name": "conditionalAutomation",
            "value": "Conditional automation"
          },
          {
            "name": "consentControl",
            "value": "Consent control"
          },
          {
            "name": "correctingProcess",
            "value": "Correcting process"
          },
          {
            "name": "correctingProcessInput",
            "value": "Correcting process input"
          },
          {
            "name": "correctingProcessOutput",
            "value": "Correcting process output"
          },
          {
            "name": "completelyManualProcessing",
            "value": "Completely manual processing"
          },
          {
            "name": "dataControllerDataSource",
            "value": "Data controller data source"
          },
          {
            "name": "dataPublishedByDataSubject",
            "value": "Data published by data subject"
          },
          {
            "name": "dataSource",
            "value": "Data source"
          },
          {
            "name": "dataSubject",
            "value": "Data subject"
          },
          {
            "name": "dataSubjectDataSource",
            "value": "Data subject data source"
          },
          {
            "name": "dataSubjectScale",
            "value": "Data subject scale"
          },
          {
            "name": "dataVolume",
            "value": "Data volume"
          },
          {
            "name": "decisionMaking",
            "value": "Decision making"
          },
          {
            "name": "entityActiveInvolvement",
            "value": "Entity active involvement"
          },
          {
            "name": "entityInvolvement",
            "value": "Entity involvement"
          },
          {
            "name": "entityNonInvolvement",
            "value": "Entity non involvement"
          },
          {
            "name": "entityNonPermissiveInvolvement",
            "value": "Entity non permissive involvement"
          },
          {
            "name": "entityPassiveInvolvement",
            "value": "Entity passive involvement"
          },
          {
            "name": "entityPermissiveInvolvement",
            "value": "Entity permissive involvement"
          },
          {
            "name": "evaluationOfIndividuals",
            "value": "Evaluation of individuals"
          },
          {
            "name": "evaluationScoring",
            "value": "Evaluation scoring"
          },
          {
            "name": "fullAutomation",
            "value": "Full automation"
          },
          {
            "name": "geographicCoverage",
            "value": "Geographic coverage"
          },
          {
            "name": "globalScale",
            "value": "Global scale"
          },
          {
            "name": "highAutomation",
            "value": "High automation"
          },
          {
            "name": "hugeDataVolume",
            "value": "Huge data volume"
          },
          {
            "name": "hugeScaleOfDataSubjects",
            "value": "Huge scale of data subjects"
          },
          {
            "name": "humanInvolved",
            "value": "Human involved"
          },
          {
            "name": "humanInvolvement",
            "value": "Human involvement"
          },
          {
            "name": "humanInvolvementForControl",
            "value": "Human involvement for control"
          },
          {
            "name": "humanInvolvementForDecision",
            "value": "Human involvement for decision"
          },
          {
            "name": "humanInvolvementForInput",
            "value": "Human involvement for input"
          },
          {
            "name": "humanInvolvementForIntervention",
            "value": "Human involvement for intervention"
          },
          {
            "name": "humanInvolvementForOversight",
            "value": "Human involvement for oversight"
          },
          {
            "name": "humanInvolvementForVerification",
            "value": "Human involvement for verification"
          },
          {
            "name": "humanNotInvolved",
            "value": "Human not involved"
          },
          {
            "name": "innovativeUseOfExistingTechnology",
            "value": "Innovative use of existing technology"
          },
          {
            "name": "innovativeUseOfNewTechnologies",
            "value": "Innovative use of new technologies"
          },
          {
            "name": "innovativeUseOfTechnology",
            "value": "Innovative use of technology"
          },
          {
            "name": "largeDataVolume",
            "value": "Large data volume"
          },
          {
            "name": "largeScaleOfDataSubjects",
            "value": "Large scale of data subjects"
          },
          {
            "name": "largeScaleProcessing",
            "value": "Large scale processing"
          },
          {
            "name": "localEnvironmentScale",
            "value": "Local environment scale"
          },
          {
            "name": "localityScale",
            "value": "Locality scale"
          },
          {
            "name": "mediumDataVolume",
            "value": "Medium data volume"
          },
          {
            "name": "mediumScaleOfDataSubjects",
            "value": "Medium scale of data subjects"
          },
          {
            "name": "mediumScaleProcessing",
            "value": "Medium scale processing"
          },
          {
            "name": "multiNationalScale",
            "value": "Multi national scale"
          },
          {
            "name": "nationalScale",
            "value": "National scale"
          },
          {
            "name": "nearlyGlobalScale",
            "value": "Nearly global scale"
          },
          {
            "name": "nonPublicDataSource",
            "value": "Non public data source"
          },
          {
            "name": "notAutomated",
            "value": "Not automated"
          },
          {
            "name": "objectingToProcess",
            "value": "Objecting to process"
          },
          {
            "name": "obtainConsent",
            "value": "Obtain consent"
          },
          {
            "name": "optingInToProcess",
            "value": "Opting in to process"
          },
          {
            "name": "optingOutFromProcess",
            "value": "Opting out from process"
          },
          {
            "name": "partialAutomation",
            "value": "Partial automation"
          },
          {
            "name": "processingCondition",
            "value": "Processing condition"
          },
          {
            "name": "processingDuration",
            "value": "Processing duration"
          },
          {
            "name": "processingLocation",
            "value": "Processing location"
          },
          {
            "name": "processingScale",
            "value": "Processing scale"
          },
          {
            "name": "provideConsent",
            "value": "Provide consent"
          },
          {
            "name": "publicDataSource",
            "value": "Public data source"
          },
          {
            "name": "reaffirmConsent",
            "value": "Reaffirm consent"
          },
          {
            "name": "regionalScale",
            "value": "Regional scale"
          },
          {
            "name": "reversingProcessEffects",
            "value": "Reversing process effects"
          },
          {
            "name": "reversingProcessInput",
            "value": "Reversing process input"
          },
          {
            "name": "reversingProcessOutput",
            "value": "Reversing process output"
          },
          {
            "name": "scale",
            "value": "Scale"
          },
          {
            "name": "scoringOfIndividuals",
            "value": "Scoring of individuals"
          },
          {
            "name": "singularDataVolume",
            "value": "Singular data volume"
          },
          {
            "name": "singularScaleOfDataSubjects",
            "value": "Singular scale of data subjects"
          },
          {
            "name": "smallDataVolume",
            "value": "Small data volume"
          },
          {
            "name": "smallScaleOfDataSubjects",
            "value": "Small scale of data subjects"
          },
          {
            "name": "smallScaleProcessing",
            "value": "Small scale processing"
          },
          {
            "name": "sporadicDataVolume",
            "value": "Sporadic data volume"
          },
          {
            "name": "sporadicScaleOfDataSubjects",
            "value": "Sporadic scale of data subjects"
          },
          {
            "name": "storageCondition",
            "value": "Storage condition"
          },
          {
            "name": "storageDeletion",
            "value": "Storage deletion"
          },
          {
            "name": "storageDuration",
            "value": "Storage duration"
          },
          {
            "name": "storageLocation",
            "value": "Storage location"
          },
          {
            "name": "storageRestoration",
            "value": "Storage restoration"
          },
          {
            "name": "systematicMonitoring",
            "value": "Systematic monitoring"
          },
          {
            "name": "thirdPartyDataSource",
            "value": "Third party data source"
          },
          {
            "name": "withdrawConsent",
            "value": "Withdraw consent"
          },
          {
            "name": "withdrawingFromProcess",
            "value": "Withdrawing from process"
          }
        ]
      }
    },
    "DataProcessing": {
      "type": "object",
      "description": "Model defining how received data is processed.",
      "properties": {
        "processingOperation": {
          "$ref": "#/definitions/ProcessingOperation",
          "description": "The operation that is performed on the data received."
        },
        "contexts": {
          "type": "array",
          "description": "The contexts in which the data is processed.",
          "items": {
            "$ref": "#/definitions/Context"
          }
        },
        "duration": {
          "$ref": "#/definitions/Duration",
          "description": "The duration or temporal limitation of the data processing."
        },
        "frequency": {
          "$ref": "#/definitions/Frequency",
          "description": "The frequency of the data processing."
        },
        "transitRegions": {
          "type": "array",
          "description": "The countries/regions the data transits through.",
          "items": {
            "$ref": "#/definitions/DataRegions"
          },
          "x-ms-identifiers": [
            "countryCode"
          ]
        },
        "storageRegions": {
          "type": "array",
          "description": "The countries/regions the data is stored in.",
          "items": {
            "$ref": "#/definitions/DataRegions"
          },
          "x-ms-identifiers": [
            "countryCode"
          ]
        }
      },
      "required": [
        "processingOperation",
        "contexts",
        "duration",
        "frequency",
        "transitRegions",
        "storageRegions"
      ]
    },
    "DataRegions": {
      "type": "object",
      "description": "Model defining the information required about the countries/regions the data transits through or is stored in.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country code of the country/region the data transits through or is stored in.",
          "pattern": "[A-Z]{2}"
        },
        "commercialOrganization": {
          "type": "string",
          "description": "The commercial organization who is managing the data."
        },
        "commercialActivity": {
          "type": "boolean",
          "description": "Flag to indicate if commercial activity applies to this data management."
        },
        "dataPrivacyFrameworkUrl": {
          "type": "string",
          "format": "uri",
          "description": "URL of the organization or governmental data privacy framework."
        }
      },
      "required": [
        "countryCode",
        "commercialActivity",
        "dataPrivacyFrameworkUrl"
      ]
    },
    "Duration": {
      "type": "string",
      "description": "Valid values for the duration based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/.",
      "enum": [
        "Endless",
        "Fixed occurrences",
        "Indeterminate",
        "Temporal",
        "Until event",
        "Until time"
      ],
      "x-ms-enum": {
        "name": "Duration",
        "modelAsString": true,
        "values": [
          {
            "name": "endlessDuration",
            "value": "Endless"
          },
          {
            "name": "fixedOccurrencesDuration",
            "value": "Fixed occurrences"
          },
          {
            "name": "indeterminateDuration",
            "value": "Indeterminate"
          },
          {
            "name": "temporalDuration",
            "value": "Temporal"
          },
          {
            "name": "untilEventDuration",
            "value": "Until event"
          },
          {
            "name": "untilTimeDuration",
            "value": "Until time"
          }
        ]
      }
    },
    "Frequency": {
      "type": "string",
      "description": "Valid values for the frequency based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/.",
      "enum": [
        "Continuous",
        "Often",
        "Singular",
        "Sporadic"
      ],
      "x-ms-enum": {
        "name": "Frequency",
        "modelAsString": true,
        "values": [
          {
            "name": "continuousFrequency",
            "value": "Continuous"
          },
          {
            "name": "oftenFrequency",
            "value": "Often"
          },
          {
            "name": "singularFrequency",
            "value": "Singular"
          },
          {
            "name": "sporadicFrequency",
            "value": "Sporadic"
          }
        ]
      }
    },
    "Gateway": {
      "type": "object",
      "description": "A Programmable Connectivity Gateway resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GatewayProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GatewayListResult": {
      "type": "object",
      "description": "The response of a Gateway list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Gateway items on this page",
          "items": {
            "$ref": "#/definitions/Gateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GatewayProperties": {
      "type": "object",
      "description": "Gateway resource properties.",
      "properties": {
        "operatorApiConnections": {
          "type": "array",
          "description": "List of Operator API Connections selected by the user.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ProgrammableConnectivity/operatorApiConnections"
                }
              ]
            }
          },
          "readOnly": true
        },
        "gatewayBaseUrl": {
          "type": "string",
          "description": "Base URL of the Gateway resource. This is the URL that the users would use to make Network API requests to the Operators via Azure.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation on the Gateway resource.",
          "readOnly": true
        },
        "configuredApplication": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "Details about the Application that would use the Operator's Network APIs.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "configuredApplicationOwner": {
          "$ref": "#/definitions/ApplicationOwnerProperties",
          "description": "Details about the Organization owning the Application that would use the Operator's Network APIs.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "configuredApplication",
        "configuredApplicationOwner"
      ]
    },
    "GatewayTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Gateway resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GeographicAddress": {
      "type": "object",
      "description": "Model defining a geographic address.",
      "properties": {
        "streetNumber": {
          "type": "string",
          "description": "Street Number of the address."
        },
        "streetName": {
          "type": "string",
          "description": "Street Name of the address."
        },
        "locality": {
          "type": "string",
          "description": "Locality of the address."
        },
        "city": {
          "type": "string",
          "description": "City of the address."
        },
        "stateOrProvince": {
          "type": "string",
          "description": "State or province of the address."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the address."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the address.",
          "pattern": "[A-Z]{2}"
        }
      },
      "required": [
        "countryCode"
      ]
    },
    "LocalRepresentative": {
      "type": "object",
      "description": "Model defining a local representative for a country/region.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "Country code for the country/region the local representative is representing.",
          "pattern": "[A-Z]{2}"
        },
        "representative": {
          "$ref": "#/definitions/Person",
          "description": "Local representative for this country/region."
        }
      },
      "required": [
        "countryCode",
        "representative"
      ]
    },
    "MarketplaceProperties": {
      "type": "object",
      "description": "Azure marketplace properties for a plan.",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Azure marketplace Offer ID for this plan."
        },
        "publisherId": {
          "type": "string",
          "description": "Azure marketplace Publisher ID for this plan."
        },
        "planId": {
          "type": "string",
          "description": "Azure marketplace Plan ID for this plan."
        },
        "planTermsAndConditionsLinks": {
          "type": "array",
          "description": "Links to the Terms and Conditions of the Plan that must be accepted to create an\nassociated Operator Api Connection",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "planTermsAndConditionsLinks"
      ]
    },
    "OperatorApiConnection": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Connection resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorApiConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OperatorApiConnectionListResult": {
      "type": "object",
      "description": "The response of a OperatorApiConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiConnection items on this page",
          "items": {
            "$ref": "#/definitions/OperatorApiConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiConnectionProperties": {
      "type": "object",
      "description": "Operator API Connection resource properties that cannot be updated once a resource has been created.",
      "properties": {
        "operatorApiPlanId": {
          "type": "string",
          "format": "arm-id",
          "description": "Reference to the Operator API Plan Resource ID.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ProgrammableConnectivity/operatorApiPlans"
              }
            ]
          }
        },
        "gatewayId": {
          "type": "string",
          "format": "arm-id",
          "description": "Reference to the APC Gateway resource ID.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ProgrammableConnectivity/gateways"
              }
            ]
          }
        },
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator in the linked Operator API Plan belongs to.",
          "readOnly": true
        },
        "camaraApiName": {
          "type": "string",
          "description": "The Network API for the current operator in the country/region provided in the linked Operator API Plan.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the OperatorApiConnection resource.",
          "readOnly": true
        },
        "planTermsAndConditionsAccepted": {
          "type": "boolean",
          "description": "Whether the caller has accepted the Terms and Conditions of the associated Operator API Plan.\nAfter creation, the planTermsAndConditionsLink property is set to the Terms and Conditions that\nhave been accepted.\n\nMust be set to True, as the Terms and Conditions must be accepted."
        },
        "planTermsAndConditionsLinks": {
          "type": "array",
          "description": "Links to the Terms and Conditions of the Operator API Plan that were accepted on creation.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "market": {
          "type": "string",
          "description": "The market in which the plan is purchased. It must be one of the markets included\nin the associated Operator API Plan. It determines the currency for billing."
        },
        "purposes": {
          "type": "array",
          "description": "The purpose for which the Application will use the API. Max Items 1 currently as Operators do not support multiple.",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "purposeReason": {
          "type": "string",
          "description": "Explanation of the reason that justifies the purpose: specifically why is the API used for the application's use case."
        },
        "dataProcessingList": {
          "type": "array",
          "description": "List of ways the data returned on this API is processed.",
          "items": {
            "$ref": "#/definitions/DataProcessing"
          },
          "x-ms-identifiers": [
            "processingOperation"
          ]
        }
      },
      "required": [
        "operatorApiPlanId",
        "gatewayId",
        "planTermsAndConditionsAccepted",
        "market",
        "purposes",
        "purposeReason",
        "dataProcessingList"
      ]
    },
    "OperatorApiConnectionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the OperatorApiConnection.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OperatorApiConnectionUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "OperatorApiConnectionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the OperatorApiConnection.",
      "properties": {
        "operatorApiPlanId": {
          "type": "string",
          "format": "arm-id",
          "description": "Reference to the Operator API Plan Resource ID.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ProgrammableConnectivity/operatorApiPlans"
              }
            ]
          }
        },
        "planTermsAndConditionsAccepted": {
          "type": "boolean",
          "description": "Whether the caller has accepted the Terms and Conditions of the associated Operator API Plan.\nAfter creation, the planTermsAndConditionsLink property is set to the Terms and Conditions that\nhave been accepted.\n\nMust be set to True, as the Terms and Conditions must be accepted."
        },
        "market": {
          "type": "string",
          "description": "The market in which the plan is purchased. It must be one of the markets included\nin the associated Operator API Plan. It determines the currency for billing."
        },
        "purposes": {
          "type": "array",
          "description": "The purpose for which the Application will use the API. Max Items 1 currently as Operators do not support multiple.",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "purposeReason": {
          "type": "string",
          "description": "Explanation of the reason that justifies the purpose: specifically why is the API used for the application's use case."
        },
        "dataProcessingList": {
          "type": "array",
          "description": "List of ways the data returned on this API is processed.",
          "items": {
            "$ref": "#/definitions/DataProcessing"
          },
          "x-ms-identifiers": [
            "processingOperation"
          ]
        }
      }
    },
    "OperatorApiPlan": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Plans resource. This is a readonly resource that indicates which Operator Network APIs are available in the user's subscription.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorApiPlanProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OperatorApiPlanListResult": {
      "type": "object",
      "description": "The response of a OperatorApiPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiPlan items on this page",
          "items": {
            "$ref": "#/definitions/OperatorApiPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiPlanProperties": {
      "type": "object",
      "description": "Operator API Plan properties.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator this plan belongs to."
        },
        "camaraApiName": {
          "type": "string",
          "description": "Standardized Network API name defined by CAMARA specifications."
        },
        "supportedLocations": {
          "type": "array",
          "description": "List of Azure regions where this offer is supported.",
          "items": {
            "type": "string"
          }
        },
        "operatorRegions": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by the Operator.",
          "items": {
            "type": "string"
          }
        },
        "markets": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by Azure Marketplace.",
          "items": {
            "type": "string"
          }
        },
        "limits": {
          "type": "string",
          "description": "The limits, if any, will be imposed by the operator."
        },
        "marketplaceProperties": {
          "$ref": "#/definitions/MarketplaceProperties",
          "description": "Azure marketplace properties for this plan."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation on the Gateway resource.",
          "readOnly": true
        }
      }
    },
    "OrganizationType": {
      "type": "string",
      "description": "Valid values for the Organization Type based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/.",
      "enum": [
        "Academic scientific organization",
        "For profit organization",
        "Governmental organization",
        "Industry consortium",
        "International organization",
        "Non-governmental organization",
        "Non-profit organization",
        "Organizational unit"
      ],
      "x-ms-enum": {
        "name": "OrganizationType",
        "modelAsString": true,
        "values": [
          {
            "name": "academicScientificOrganization",
            "value": "Academic scientific organization"
          },
          {
            "name": "forProfitOrganization",
            "value": "For profit organization"
          },
          {
            "name": "governmentalOrganization",
            "value": "Governmental organization"
          },
          {
            "name": "industryConsortium",
            "value": "Industry consortium"
          },
          {
            "name": "internationalOrganization",
            "value": "International organization"
          },
          {
            "name": "nonGovernmentalOrganization",
            "value": "Non-governmental organization"
          },
          {
            "name": "nonProfitOrganization",
            "value": "Non-profit organization"
          },
          {
            "name": "OrganizationalUnit",
            "value": "Organizational unit"
          }
        ]
      }
    },
    "Person": {
      "type": "object",
      "description": "Model defining a contactable person.",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Family name of the contactable person."
        },
        "givenName": {
          "type": "string",
          "description": "Given name of the contactable person."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the contactable person."
        }
      },
      "required": [
        "familyName",
        "givenName",
        "emailAddress"
      ]
    },
    "ProcessingOperation": {
      "type": "string",
      "description": "Valid values for the processing operation based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/.",
      "enum": [
        "Access",
        "Acquire",
        "Adapt",
        "Aggregate",
        "Align",
        "Alter",
        "Analyze",
        "Anonymize",
        "Assess",
        "Collect",
        "Combine",
        "Consult",
        "Copy",
        "Cross border transfer",
        "Delete",
        "Derive",
        "Destruct",
        "Disclose",
        "Disclose by transmission",
        "Display",
        "Disseminate",
        "Download",
        "Erase",
        "Export",
        "Filter",
        "Format",
        "Generate",
        "Infer",
        "Make available",
        "Match",
        "Modify",
        "Monitor",
        "Move",
        "Observe",
        "Obtain",
        "Organize",
        "Profiling",
        "Pseudonymize",
        "Query",
        "Record",
        "Reformat",
        "Remove",
        "Restrict",
        "Retrieve",
        "Screen",
        "Share",
        "Store",
        "Structure",
        "Transfer",
        "Transform",
        "Transmit",
        "Use"
      ],
      "x-ms-enum": {
        "name": "ProcessingOperation",
        "modelAsString": true,
        "values": [
          {
            "name": "access",
            "value": "Access"
          },
          {
            "name": "acquire",
            "value": "Acquire"
          },
          {
            "name": "adapt",
            "value": "Adapt"
          },
          {
            "name": "aggregate",
            "value": "Aggregate"
          },
          {
            "name": "align",
            "value": "Align"
          },
          {
            "name": "alter",
            "value": "Alter"
          },
          {
            "name": "analyze",
            "value": "Analyze"
          },
          {
            "name": "anonymize",
            "value": "Anonymize"
          },
          {
            "name": "assess",
            "value": "Assess"
          },
          {
            "name": "collect",
            "value": "Collect"
          },
          {
            "name": "combine",
            "value": "Combine"
          },
          {
            "name": "consult",
            "value": "Consult"
          },
          {
            "name": "copy",
            "value": "Copy"
          },
          {
            "name": "crossBorderTransfer",
            "value": "Cross border transfer"
          },
          {
            "name": "delete",
            "value": "Delete"
          },
          {
            "name": "derive",
            "value": "Derive"
          },
          {
            "name": "destruct",
            "value": "Destruct"
          },
          {
            "name": "disclose",
            "value": "Disclose"
          },
          {
            "name": "discloseByTransmission",
            "value": "Disclose by transmission"
          },
          {
            "name": "display",
            "value": "Display"
          },
          {
            "name": "disseminate",
            "value": "Disseminate"
          },
          {
            "name": "download",
            "value": "Download"
          },
          {
            "name": "erase",
            "value": "Erase"
          },
          {
            "name": "export",
            "value": "Export"
          },
          {
            "name": "filter",
            "value": "Filter"
          },
          {
            "name": "format",
            "value": "Format"
          },
          {
            "name": "generate",
            "value": "Generate"
          },
          {
            "name": "infer",
            "value": "Infer"
          },
          {
            "name": "makeAvailable",
            "value": "Make available"
          },
          {
            "name": "match",
            "value": "Match"
          },
          {
            "name": "modify",
            "value": "Modify"
          },
          {
            "name": "monitor",
            "value": "Monitor"
          },
          {
            "name": "move",
            "value": "Move"
          },
          {
            "name": "observe",
            "value": "Observe"
          },
          {
            "name": "obtain",
            "value": "Obtain"
          },
          {
            "name": "organize",
            "value": "Organize"
          },
          {
            "name": "profiling",
            "value": "Profiling"
          },
          {
            "name": "pseudonymize",
            "value": "Pseudonymize"
          },
          {
            "name": "query",
            "value": "Query"
          },
          {
            "name": "record",
            "value": "Record"
          },
          {
            "name": "reformat",
            "value": "Reformat"
          },
          {
            "name": "remove",
            "value": "Remove"
          },
          {
            "name": "restrict",
            "value": "Restrict"
          },
          {
            "name": "retrieve",
            "value": "Retrieve"
          },
          {
            "name": "screen",
            "value": "Screen"
          },
          {
            "name": "share",
            "value": "Share"
          },
          {
            "name": "store",
            "value": "Store"
          },
          {
            "name": "structure",
            "value": "Structure"
          },
          {
            "name": "transfer",
            "value": "Transfer"
          },
          {
            "name": "transform",
            "value": "Transform"
          },
          {
            "name": "transmit",
            "value": "Transmit"
          },
          {
            "name": "use",
            "value": "Use"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create or update request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Purpose": {
      "type": "string",
      "description": "Valid values for the purpose based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/.",
      "enum": [
        "Academic Research",
        "Account Management",
        "Advertising",
        "Age Verification",
        "Combat Climate Change",
        "Commercial Purpose",
        "Commercial Research",
        "Communication For Customer Care",
        "Communication Management",
        "Counter Money Laundering",
        "Counter-terrorism",
        "Credit Checking",
        "Customer Care",
        "Customer Claims Management",
        "Customer Management",
        "Customer Order Management",
        "Customer Relationship Management",
        "Customer Solvency Monitoring",
        "Data Altruism",
        "Delivery Of Goods",
        "Direct Marketing",
        "Dispute Management",
        "Enforce Access Control",
        "Enforce Security",
        "Establish Contractual Agreement",
        "Fraud Prevention And Detection",
        "Fulfillment Of Contractual Obligation",
        "Fulfillment Of Obligation",
        "Human Resource Management",
        "Identity Authentication",
        "Identity Verification",
        "Improve Existing Products And Services",
        "Improve Healthcare",
        "Improve Internal CRM Processes",
        "Improve Public Services",
        "Improve Transport Mobility",
        "Increase Service Robustness",
        "Internal Resource Optimization",
        "Legal Compliance",
        "Maintain Credit Checking Database",
        "Maintain Credit Rating Database",
        "Maintain Fraud Database",
        "Marketing",
        "Member Partner Management",
        "Misuse Prevention And Detection",
        "Non Commercial Purpose",
        "Non Commercial Research",
        "Optimization For Consumer",
        "Optimization For Controller",
        "Optimize User Interface",
        "Organization Compliance Management",
        "Organization Governance",
        "Organization Risk Management",
        "Payment Management",
        "Personalization",
        "Personalized Advertising",
        "Personalized Benefits",
        "Personnel Hiring",
        "Personnel Management",
        "Personnel Payment",
        "Protection Of IPR",
        "Protection Of National Security",
        "Protection Of Public Security",
        "Provide Event Recommendations",
        "Provide Official Statistics",
        "Provide Personalized Recommendations",
        "Provide Product Recommendations",
        "Public Benefit",
        "Public Policy Making",
        "Public Relations",
        "Record Management",
        "Repair Impairments",
        "Requested Service Provision",
        "Research And Development",
        "Rights Fulfillment",
        "Scientific Research",
        "Search Functionalities",
        "Sell Data To Third Parties",
        "Sell Insights From Data",
        "Sell Products",
        "Sell Products To Data Subject",
        "Service Optimization",
        "Service Personalization",
        "Service Provision",
        "Service Registration",
        "Service Usage Analytics",
        "Social Media Marketing",
        "Targeted Advertising",
        "Technical Service Provision",
        "User Interface Personalization",
        "Vendor Management",
        "Vendor Payment",
        "Vendor Records Management",
        "Vendor Selection Assessment",
        "Verification"
      ],
      "x-ms-enum": {
        "name": "Purpose",
        "modelAsString": true,
        "values": [
          {
            "name": "academicResearch",
            "value": "Academic Research"
          },
          {
            "name": "accountManagement",
            "value": "Account Management"
          },
          {
            "name": "advertising",
            "value": "Advertising"
          },
          {
            "name": "ageVerification",
            "value": "Age Verification"
          },
          {
            "name": "combatClimateChange",
            "value": "Combat Climate Change"
          },
          {
            "name": "commercialPurpose",
            "value": "Commercial Purpose"
          },
          {
            "name": "commercialResearch",
            "value": "Commercial Research"
          },
          {
            "name": "communicationForCustomerCare",
            "value": "Communication For Customer Care"
          },
          {
            "name": "communicationManagement",
            "value": "Communication Management"
          },
          {
            "name": "counterMoneyLaundering",
            "value": "Counter Money Laundering"
          },
          {
            "name": "counterterrorism",
            "value": "Counter-terrorism"
          },
          {
            "name": "creditChecking",
            "value": "Credit Checking"
          },
          {
            "name": "customerCare",
            "value": "Customer Care"
          },
          {
            "name": "customerClaimsManagement",
            "value": "Customer Claims Management"
          },
          {
            "name": "customerManagement",
            "value": "Customer Management"
          },
          {
            "name": "customerOrderManagement",
            "value": "Customer Order Management"
          },
          {
            "name": "customerRelationshipManagement",
            "value": "Customer Relationship Management"
          },
          {
            "name": "customerSolvencyMonitoring",
            "value": "Customer Solvency Monitoring"
          },
          {
            "name": "dataAltruism",
            "value": "Data Altruism"
          },
          {
            "name": "deliveryOfGoods",
            "value": "Delivery Of Goods"
          },
          {
            "name": "directMarketing",
            "value": "Direct Marketing"
          },
          {
            "name": "disputeManagement",
            "value": "Dispute Management"
          },
          {
            "name": "enforceAccessControl",
            "value": "Enforce Access Control"
          },
          {
            "name": "enforceSecurity",
            "value": "Enforce Security"
          },
          {
            "name": "establishContractualAgreement",
            "value": "Establish Contractual Agreement"
          },
          {
            "name": "fraudPreventionAndDetection",
            "value": "Fraud Prevention And Detection"
          },
          {
            "name": "fulfillmentOfContractualObligation",
            "value": "Fulfillment Of Contractual Obligation"
          },
          {
            "name": "fulfillmentOfObligation",
            "value": "Fulfillment Of Obligation"
          },
          {
            "name": "humanResourceManagement",
            "value": "Human Resource Management"
          },
          {
            "name": "identityAuthentication",
            "value": "Identity Authentication"
          },
          {
            "name": "identityVerification",
            "value": "Identity Verification"
          },
          {
            "name": "improveExistingProductsAndServices",
            "value": "Improve Existing Products And Services"
          },
          {
            "name": "improveHealthcare",
            "value": "Improve Healthcare"
          },
          {
            "name": "improveInternalCRMProcesses",
            "value": "Improve Internal CRM Processes"
          },
          {
            "name": "improvePublicServices",
            "value": "Improve Public Services"
          },
          {
            "name": "improveTransportMobility",
            "value": "Improve Transport Mobility"
          },
          {
            "name": "increaseServiceRobustness",
            "value": "Increase Service Robustness"
          },
          {
            "name": "internalResourceOptimization",
            "value": "Internal Resource Optimization"
          },
          {
            "name": "legalCompliance",
            "value": "Legal Compliance"
          },
          {
            "name": "maintainCreditCheckingDatabase",
            "value": "Maintain Credit Checking Database"
          },
          {
            "name": "maintainCreditRatingDatabase",
            "value": "Maintain Credit Rating Database"
          },
          {
            "name": "maintainFraudDatabase",
            "value": "Maintain Fraud Database"
          },
          {
            "name": "marketing",
            "value": "Marketing"
          },
          {
            "name": "memberPartnerManagement",
            "value": "Member Partner Management"
          },
          {
            "name": "misusePreventionAndDetection",
            "value": "Misuse Prevention And Detection"
          },
          {
            "name": "nonCommercialPurpose",
            "value": "Non Commercial Purpose"
          },
          {
            "name": "nonCommercialResearch",
            "value": "Non Commercial Research"
          },
          {
            "name": "optimizationForConsumer",
            "value": "Optimization For Consumer"
          },
          {
            "name": "optimizationForController",
            "value": "Optimization For Controller"
          },
          {
            "name": "optimizeUserInterface",
            "value": "Optimize User Interface"
          },
          {
            "name": "organizationComplianceManagement",
            "value": "Organization Compliance Management"
          },
          {
            "name": "organizationGovernance",
            "value": "Organization Governance"
          },
          {
            "name": "organizationRiskManagement",
            "value": "Organization Risk Management"
          },
          {
            "name": "paymentManagement",
            "value": "Payment Management"
          },
          {
            "name": "personalization",
            "value": "Personalization"
          },
          {
            "name": "personalizedAdvertising",
            "value": "Personalized Advertising"
          },
          {
            "name": "personalizedBenefits",
            "value": "Personalized Benefits"
          },
          {
            "name": "personnelHiring",
            "value": "Personnel Hiring"
          },
          {
            "name": "personnelManagement",
            "value": "Personnel Management"
          },
          {
            "name": "personnelPayment",
            "value": "Personnel Payment"
          },
          {
            "name": "protectionOfIPR",
            "value": "Protection Of IPR"
          },
          {
            "name": "protectionOfNationalSecurity",
            "value": "Protection Of National Security"
          },
          {
            "name": "protectionOfPublicSecurity",
            "value": "Protection Of Public Security"
          },
          {
            "name": "provideEventRecommendations",
            "value": "Provide Event Recommendations"
          },
          {
            "name": "provideOfficialStatistics",
            "value": "Provide Official Statistics"
          },
          {
            "name": "providePersonalizedRecommendations",
            "value": "Provide Personalized Recommendations"
          },
          {
            "name": "provideProductRecommendations",
            "value": "Provide Product Recommendations"
          },
          {
            "name": "publicBenefit",
            "value": "Public Benefit"
          },
          {
            "name": "publicPolicyMaking",
[...]
