{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.DataMigration Management Service",
    "version": "2025-01-10",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "MigrationServices"
    },
    {
      "name": "DatabaseMigrations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/postgresqlMigrationServices": {
      "get": {
        "operationId": "MigrationServices_ListByResourceGroup",
        "tags": [
          "MigrationServices"
        ],
        "description": "Lists migration services by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/postgresqlMigrationServices/{serviceName}": {
      "get": {
        "operationId": "MigrationServices_Get",
        "tags": [
          "MigrationServices"
        ],
        "description": "Gets a migration service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "MigrationServices_Create",
        "tags": [
          "MigrationServices"
        ],
        "description": "Creates or updates a migration service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MigrationService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "201": {
            "description": "Resource 'MigrationService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "MigrationServices_Update",
        "tags": [
          "MigrationServices"
        ],
        "description": "Updates a migration service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "MigrationServices_Delete",
        "tags": [
          "MigrationServices"
        ],
        "description": "Deletes a migration service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/postgresqlMigrationServices/{serviceName}/databaseMigrations": {
      "get": {
        "operationId": "DatabaseMigrations_ListByMigrationService",
        "tags": [
          "DatabaseMigrations"
        ],
        "description": "Lists database migrations by migration service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMigrationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/postgresqlMigrationServices/{serviceName}/databaseMigrations/{databaseMigrationId}": {
      "get": {
        "operationId": "DatabaseMigrations_Get",
        "tags": [
          "DatabaseMigrations"
        ],
        "description": "Gets a database migration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseMigrationId",
            "in": "path",
            "description": "The database migration identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMigration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseMigrations_CreateOrUpdate",
        "tags": [
          "DatabaseMigrations"
        ],
        "description": "Creates or updates a database migration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseMigrationId",
            "in": "path",
            "description": "The database migration identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseMigration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DatabaseMigration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DatabaseMigration"
            }
          },
          "201": {
            "description": "Resource 'DatabaseMigration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DatabaseMigration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "DatabaseMigrations_Update",
        "tags": [
          "DatabaseMigrations"
        ],
        "description": "Updates a database migration. Supports cancel and cutover operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseMigrationId",
            "in": "path",
            "description": "The database migration identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseMigrationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMigration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseMigrations_Delete",
        "tags": [
          "DatabaseMigrations"
        ],
        "description": "Deletes a database migration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseMigrationId",
            "in": "path",
            "description": "The database migration identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/postgresqlMigrationServices/{serviceName}/discoverDatabaseObjects": {
      "post": {
        "operationId": "MigrationServices_DiscoverDatabaseObjects",
        "tags": [
          "MigrationServices"
        ],
        "description": "Discovers database objects (databases and schemas) from source and target.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoverDatabaseObjectsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoverDatabaseObjectsResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/postgresqlMigrationServices/{serviceName}/testConnectivity": {
      "post": {
        "operationId": "MigrationServices_TestConnectivity",
        "tags": [
          "MigrationServices"
        ],
        "description": "Tests connectivity to source and target databases.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The migration service name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestConnectivityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestConnectivityResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AuthenticationMethod": {
      "type": "string",
      "description": "The authentication method for database connection.",
      "enum": [
        "sql_authentication",
        "password",
        "windows_authentication",
        "active_directory_integrated",
        "active_directory_password"
      ],
      "x-ms-enum": {
        "name": "AuthenticationMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "SqlAuthentication",
            "value": "sql_authentication",
            "description": "SQL authentication with username and password"
          },
          {
            "name": "Password",
            "value": "password",
            "description": "Password authentication"
          },
          {
            "name": "WindowsAuthentication",
            "value": "windows_authentication",
            "description": "Windows authentication for SQL Server"
          },
          {
            "name": "ActiveDirectoryIntegrated",
            "value": "active_directory_integrated",
            "description": "Azure Active Directory integrated authentication"
          },
          {
            "name": "ActiveDirectoryPassword",
            "value": "active_directory_password",
            "description": "Azure Active Directory authentication with username and password"
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "ComputeProfile": {
      "type": "object",
      "description": "Compute profile configuration.",
      "properties": {
        "computeSubnetResourceId": {
          "type": "string",
          "description": "Compute subnet resource ID"
        }
      },
      "required": [
        "computeSubnetResourceId"
      ]
    },
    "ComputeProfileUpdate": {
      "type": "object",
      "description": "Compute profile configuration.",
      "properties": {
        "computeSubnetResourceId": {
          "type": "string",
          "description": "Compute subnet resource ID"
        }
      }
    },
    "ConnectionEndpoint": {
      "type": "object",
      "description": "Connection endpoint for database.",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Connection name"
        },
        "hostName": {
          "type": "string",
          "description": "Host name of the database server"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port number"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name (for Oracle)"
        },
        "databaseName": {
          "type": "string",
          "description": "Database name"
        },
        "credentials": {
          "$ref": "#/definitions/DatabaseCredentials",
          "description": "Database credentials"
        },
        "ssl": {
          "$ref": "#/definitions/SslConfiguration",
          "description": "SSL configuration"
        }
      },
      "required": [
        "connectionName",
        "hostName",
        "port",
        "credentials",
        "ssl"
      ]
    },
    "ConnectionStatus": {
      "type": "string",
      "description": "The connection status.",
      "enum": [
        "InProgress",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Connection test in progress"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Connection test succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Connection test failed"
          }
        ]
      },
      "readOnly": true
    },
    "ConnectionTestResult": {
      "type": "object",
      "description": "Connection test result for a single endpoint.",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Connection name"
        },
        "connectionStatus": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "Connection status"
        },
        "errors": {
          "type": "array",
          "description": "List of errors encountered during connection test",
          "items": {
            "$ref": "#/definitions/MigrationError"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "connectionName",
        "connectionStatus",
        "errors"
      ]
    },
    "ConnectivityTestProperties": {
      "type": "object",
      "description": "Properties of the connectivity test response.",
      "properties": {
        "source": {
          "type": "array",
          "description": "Source connection test results",
          "items": {
            "$ref": "#/definitions/ConnectionTestResult"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        },
        "target": {
          "type": "array",
          "description": "Target connection test results",
          "items": {
            "$ref": "#/definitions/ConnectionTestResult"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        }
      },
      "required": [
        "source",
        "target"
      ]
    },
    "DatabaseCredentials": {
      "type": "object",
      "description": "Credentials for database authentication.",
      "properties": {
        "authenticationMethod": {
          "$ref": "#/definitions/AuthenticationMethod",
          "description": "Authentication method"
        },
        "userName": {
          "type": "string",
          "description": "User name for authentication"
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for authentication",
          "x-ms-secret": true
        }
      },
      "required": [
        "authenticationMethod",
        "userName",
        "password"
      ]
    },
    "DatabaseInfo": {
      "type": "object",
      "description": "Database information with schemas.",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Database name"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name (for Oracle)"
        },
        "schemas": {
          "type": "array",
          "description": "List of schemas in the database",
          "items": {
            "$ref": "#/definitions/SchemaInfo"
          },
          "x-ms-identifiers": [
            "schemaName"
          ]
        }
      },
      "required": [
        "schemas"
      ]
    },
    "DatabaseMigration": {
      "type": "object",
      "description": "A database migration resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseMigrationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatabaseMigrationListResult": {
      "type": "object",
      "description": "The response of a DatabaseMigration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DatabaseMigration items on this page",
          "items": {
            "$ref": "#/definitions/DatabaseMigration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DatabaseMigrationProperties": {
      "type": "object",
      "description": "Properties of the DatabaseMigration resource.",
      "properties": {
        "migrationName": {
          "type": "string",
          "description": "Migration name"
        },
        "description": {
          "type": "string",
          "description": "Migration description"
        },
        "migrationMode": {
          "$ref": "#/definitions/MigrationMode",
          "description": "Migration mode"
        },
        "source": {
          "$ref": "#/definitions/SourceConfiguration",
          "description": "Source database configuration"
        },
        "target": {
          "$ref": "#/definitions/TargetConfiguration",
          "description": "Target database configuration"
        },
        "mappingDefinitions": {
          "type": "array",
          "description": "List of mapping definitions",
          "items": {
            "$ref": "#/definitions/MappingDefinition"
          },
          "x-ms-identifiers": []
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Compute profile"
        },
        "migrationJobsettings": {
          "$ref": "#/definitions/MigrationJobSettings",
          "description": "Migration job settings"
        },
        "tags": {
          "type": "array",
          "description": "List of tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": [
            "key"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "migrationStatus": {
          "$ref": "#/definitions/MigrationStatus",
          "description": "Migration status",
          "readOnly": true
        },
        "databases": {
          "type": "array",
          "description": "List of database migration statuses",
          "items": {
            "$ref": "#/definitions/DatabaseMigrationStatus"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "databaseName"
          ]
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Migration start time",
          "readOnly": true
        },
        "endedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Migration end time",
          "readOnly": true
        }
      },
      "required": [
        "migrationName",
        "description",
        "migrationMode",
        "source",
        "target",
        "mappingDefinitions",
        "computeProfile",
        "migrationJobsettings",
        "tags"
      ]
    },
    "DatabaseMigrationPropertiesUpdate": {
      "type": "object",
      "description": "Properties of the DatabaseMigration resource.",
      "properties": {
        "migrationName": {
          "type": "string",
          "description": "Migration name"
        },
        "description": {
          "type": "string",
          "description": "Migration description"
        },
        "migrationMode": {
          "$ref": "#/definitions/MigrationMode",
          "description": "Migration mode"
        },
        "source": {
          "$ref": "#/definitions/SourceConfigurationUpdate",
          "description": "Source database configuration"
        },
        "target": {
          "$ref": "#/definitions/TargetConfigurationUpdate",
          "description": "Target database configuration"
        },
        "mappingDefinitions": {
          "type": "array",
          "description": "List of mapping definitions",
          "items": {
            "$ref": "#/definitions/MappingDefinition"
          },
          "x-ms-identifiers": []
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfileUpdate",
          "description": "Compute profile"
        },
        "migrationJobsettings": {
          "$ref": "#/definitions/MigrationJobSettingsUpdate",
          "description": "Migration job settings"
        },
        "tags": {
          "type": "array",
          "description": "List of tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": [
            "key"
          ]
        }
      }
    },
    "DatabaseMigrationStatus": {
      "type": "object",
      "description": "Database migration status.",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Database name"
        },
        "migrationStatus": {
          "$ref": "#/definitions/MigrationState",
          "description": "Migration status"
        },
        "validationStatus": {
          "$ref": "#/definitions/ValidationStatus",
          "description": "Validation status"
        },
        "migrationProgress": {
          "$ref": "#/definitions/MigrationProgress",
          "description": "Migration progress"
        },
        "errors": {
          "type": "array",
          "description": "List of errors",
          "items": {
            "$ref": "#/definitions/MigrationError"
          },
          "x-ms-identifiers": []
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp",
          "readOnly": true
        },
        "lastUpdatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last updated timestamp",
          "readOnly": true
        }
      },
      "required": [
        "databaseName",
        "migrationStatus",
        "validationStatus",
        "migrationProgress",
        "errors",
        "createdAt",
        "lastUpdatedAt"
      ]
    },
    "DatabaseMigrationUpdate": {
      "type": "object",
      "description": "A database migration resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseMigrationPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatabaseMigrationUpdateProperties": {
      "type": "object",
      "description": "Properties for updating a DatabaseMigration resource with operation type.",
      "properties": {
        "operationType": {
          "$ref": "#/definitions/MigrationOperationType",
          "description": "The type of operation to perform on the migration"
        },
        "databaseNames": {
          "type": "array",
          "description": "List of database names to apply the operation to. If not specified, applies to all databases.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operationType"
      ]
    },
    "DiscoverDatabaseObjectsRequest": {
      "type": "object",
      "description": "Request body for discovering database objects.",
      "properties": {
        "source": {
          "$ref": "#/definitions/SourceConfiguration",
          "description": "Source database configuration"
        },
        "target": {
          "$ref": "#/definitions/TargetConfiguration",
          "description": "Target database configuration"
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Compute profile configuration"
        }
      },
      "required": [
        "source",
        "target",
        "computeProfile"
      ]
    },
    "DiscoverDatabaseObjectsResponse": {
      "type": "object",
      "description": "Response for discovering database objects.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request identifier for tracking the operation"
        },
        "source": {
          "type": "array",
          "description": "Source database objects discovered",
          "items": {
            "$ref": "#/definitions/DiscoveredDatabaseObjects"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        },
        "target": {
          "$ref": "#/definitions/DiscoveredDatabaseObjects",
          "description": "Target database objects discovered"
        }
      },
      "required": [
        "source",
        "target"
      ]
    },
    "DiscoveredDatabaseObjects": {
      "type": "object",
      "description": "Discovered database objects for a connection.",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Connection name"
        },
        "engine": {
          "type": "string",
          "description": "Database engine type"
        },
        "databases": {
          "type": "array",
          "description": "List of databases discovered",
          "items": {
            "$ref": "#/definitions/DatabaseInfo"
          },
          "x-ms-identifiers": [
            "databaseName",
            "serviceName"
          ]
        }
      },
      "required": [
        "connectionName",
        "engine",
        "databases"
      ]
    },
    "ErrorSeverity": {
      "type": "string",
      "description": "Error severity level.",
      "enum": [
        "Critical",
        "Error",
        "Warning",
        "Info"
      ],
      "x-ms-enum": {
        "name": "ErrorSeverity",
        "modelAsString": true,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical error"
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Error"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          },
          {
            "name": "Info",
            "value": "Info",
            "description": "Information"
          }
        ]
      }
    },
    "MappingDefinition": {
      "type": "object",
      "description": "Mapping definition for schema or database migration.",
      "properties": {
        "mappingScope": {
          "$ref": "#/definitions/MappingScope",
          "description": "Scope of the mapping"
        },
        "sourceSchemaName": {
          "type": "string",
          "description": "Source schema name"
        },
        "sourceDatabaseName": {
          "type": "string",
          "description": "Source database name"
        },
        "targetDatabaseName": {
          "type": "string",
          "description": "Target database name"
        },
        "targetSchemaName": {
          "type": "string",
          "description": "Target schema name"
        },
        "sourceConnectionName": {
          "type": "string",
          "description": "Source connection name"
        },
        "targetConnectionName": {
          "type": "string",
          "description": "Target connection name"
        }
      },
      "required": [
        "mappingScope",
        "sourceConnectionName",
        "targetConnectionName"
      ]
    },
    "MappingScope": {
      "type": "string",
      "description": "The scope of the mapping.",
      "enum": [
        "schema",
        "database"
      ],
      "x-ms-enum": {
        "name": "MappingScope",
        "modelAsString": true,
        "values": [
          {
            "name": "Schema",
            "value": "schema",
            "description": "Schema level mapping"
          },
          {
            "name": "Database",
            "value": "database",
            "description": "Database level mapping"
          }
        ]
      }
    },
    "MigrationError": {
      "type": "object",
      "description": "Error information.",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Error code"
        },
        "category": {
          "type": "string",
          "description": "Error category"
        },
        "severity": {
          "$ref": "#/definitions/ErrorSeverity",
          "description": "Error severity"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "details": {
          "type": "string",
          "description": "Error details"
        }
      },
      "required": [
        "errorCode",
        "category",
        "severity",
        "message",
        "details"
      ]
    },
    "MigrationJobSettings": {
      "type": "object",
      "description": "Migration job settings.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Validate only flag"
        }
      },
      "required": [
        "validateOnly"
      ]
    },
    "MigrationJobSettingsUpdate": {
      "type": "object",
      "description": "Migration job settings.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Validate only flag"
        }
      }
    },
    "MigrationMode": {
      "type": "string",
      "description": "The mode of the database migration.",
      "enum": [
        "offline",
        "online"
      ],
      "x-ms-enum": {
        "name": "MigrationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Offline",
            "value": "offline",
            "description": "Offline migration mode"
          },
          {
            "name": "Online",
            "value": "online",
            "description": "Online migration mode"
          }
        ]
      }
    },
    "MigrationOperationType": {
      "type": "string",
      "description": "The type of migration operation.",
      "enum": [
        "cancel",
        "cutover"
      ],
      "x-ms-enum": {
        "name": "MigrationOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Cancel",
            "value": "cancel",
            "description": "Cancel the migration"
          },
          {
            "name": "Cutover",
            "value": "cutover",
            "description": "Perform cutover"
          }
        ]
      }
    },
    "MigrationPhase": {
      "type": "string",
      "description": "The migration phase.",
      "enum": [
        "DataMigration",
        "SchemaMigration",
        "Validation",
        "Cutover"
      ],
      "x-ms-enum": {
        "name": "MigrationPhase",
        "modelAsString": true,
        "values": [
          {
            "name": "DataMigration",
            "value": "DataMigration",
            "description": "Data migration phase"
          },
          {
            "name": "SchemaMigration",
            "value": "SchemaMigration",
            "description": "Schema migration phase"
          },
          {
            "name": "Validation",
            "value": "Validation",
            "description": "Validation phase"
          },
          {
            "name": "Cutover",
            "value": "Cutover",
            "description": "Cutover phase"
          }
        ]
      }
    },
    "MigrationProgress": {
      "type": "object",
      "description": "Migration progress information.",
      "properties": {
        "migrationPhase": {
          "$ref": "#/definitions/MigrationPhase",
          "description": "Current migration phase"
        },
        "migrationStatistics": {
          "$ref": "#/definitions/MigrationStatistics",
          "description": "Migration statistics"
        }
      },
      "required": [
        "migrationPhase",
        "migrationStatistics"
      ]
    },
    "MigrationService": {
      "type": "object",
      "description": "A migration service resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrationServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MigrationServiceListResult": {
      "type": "object",
      "description": "The response of a MigrationService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MigrationService items on this page",
          "items": {
            "$ref": "#/definitions/MigrationService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MigrationServiceProperties": {
      "type": "object",
      "description": "Properties of the MigrationService resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the migration service.",
          "readOnly": true
        }
      }
    },
    "MigrationServiceUpdate": {
      "type": "object",
      "description": "A migration service resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrationServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "MigrationState": {
      "type": "string",
      "description": "The migration status state.",
      "enum": [
        "InProgress",
        "Succeeded",
        "Failed",
        "Pending",
        "Cancelled",
        "Cancelling",
        "CutoverInProgress"
      ],
      "x-ms-enum": {
        "name": "MigrationState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Migration is in progress"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Migration succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Migration failed"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Migration is pending"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Migration is cancelled"
          },
          {
            "name": "Cancelling",
            "value": "Cancelling",
            "description": "Migration is being cancelled"
          },
          {
            "name": "CutoverInProgress",
            "value": "CutoverInProgress",
            "description": "Cutover is in progress"
          }
        ]
      },
      "readOnly": true
    },
    "MigrationStatistics": {
      "type": "object",
      "description": "Migration statistics.",
      "properties": {
        "tablesTotal": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of tables"
        },
        "tablesCompleted": {
          "type": "integer",
          "format": "int32",
          "description": "Number of completed tables"
        },
        "tablesFailed": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed tables"
        },
        "tablesInProgress": {
          "type": "integer",
          "format": "int32",
          "description": "Number of tables in progress"
        },
        "tablesPending": {
          "type": "integer",
          "format": "int32",
          "description": "Number of pending tables"
        },
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage complete"
        }
      },
      "required": [
        "tablesTotal",
        "tablesCompleted",
        "tablesFailed",
        "tablesInProgress",
        "tablesPending",
        "percentComplete"
      ]
    },
    "MigrationStatus": {
      "type": "object",
      "description": "Overall migration status.",
      "properties": {
        "state": {
          "$ref": "#/definitions/MigrationState",
          "description": "Current state of the migration"
        },
        "errors": {
          "type": "array",
          "description": "List of errors",
          "items": {
            "$ref": "#/definitions/MigrationError"
          },
          "x-ms-identifiers": []
        },
        "lastUpdatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last updated timestamp"
        }
      },
      "required": [
        "state",
        "errors",
        "lastUpdatedAt"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the resource.",
      "enum": [
        "Provisioning",
        "Succeeded",
        "Failed",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource is being provisioned"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource provisioning succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning failed"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted"
          }
        ]
      },
      "readOnly": true
    },
    "SchemaInfo": {
      "type": "object",
      "description": "Schema information.",
      "properties": {
        "schemaName": {
          "type": "string",
          "description": "Schema name"
        }
      },
      "required": [
        "schemaName"
      ]
    },
    "SourceConfiguration": {
      "type": "object",
      "description": "Source database configuration.",
      "properties": {
        "engine": {
          "$ref": "#/definitions/SourceDatabaseEngine",
          "description": "Database engine type"
        },
        "serverResourceId": {
          "type": "string",
          "description": "Server resource ID"
        },
        "connectionEndPoints": {
          "type": "array",
          "description": "List of connection endpoints",
          "items": {
            "$ref": "#/definitions/ConnectionEndpoint"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        }
      },
      "required": [
        "engine",
        "connectionEndPoints"
      ]
    },
    "SourceConfigurationUpdate": {
      "type": "object",
      "description": "Source database configuration.",
      "properties": {
        "engine": {
          "$ref": "#/definitions/SourceDatabaseEngine",
          "description": "Database engine type"
        },
        "serverResourceId": {
          "type": "string",
          "description": "Server resource ID"
        },
        "connectionEndPoints": {
          "type": "array",
          "description": "List of connection endpoints",
          "items": {
            "$ref": "#/definitions/ConnectionEndpoint"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        }
      }
    },
    "SourceDatabaseEngine": {
      "type": "string",
      "description": "The source database engine type.",
      "enum": [
        "oracle",
        "postgres",
        "azure_postgres_flexible"
      ],
      "x-ms-enum": {
        "name": "SourceDatabaseEngine",
        "modelAsString": true,
        "values": [
          {
            "name": "Oracle",
            "value": "oracle",
            "description": "Oracle database engine"
          },
          {
            "name": "Postgres",
            "value": "postgres",
            "description": "PostgreSQL database engine"
          },
          {
            "name": "AzurePostgresFlexible",
            "value": "azure_postgres_flexible",
            "description": "Azure PostgreSQL Flexible Server"
          }
        ]
      }
    },
    "SslConfiguration": {
      "type": "object",
      "description": "SSL configuration for database connection.",
      "properties": {
        "mode": {
          "$ref": "#/definitions/SslMode",
          "description": "SSL mode"
        }
      },
      "required": [
        "mode"
      ]
    },
    "SslMode": {
      "type": "string",
      "description": "The SSL mode for database connection.",
      "enum": [
        "none",
        "disable",
        "allow",
        "prefer",
        "require",
        "verify_ca",
        "verify_full"
      ],
      "x-ms-enum": {
        "name": "SslMode",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "none",
            "description": "SslMode: None"
          },
          {
            "name": "Disable",
            "value": "disable",
            "description": "SSL is disabled. If the server requires SSL, the connection will fail."
          },
          {
            "name": "Allow",
            "value": "allow",
            "description": "Prefer non-SSL connections if the server allows them, but allow SSL connections."
          },
          {
            "name": "Prefer",
            "value": "prefer",
            "description": "Prefer SSL connections if the server allows them, but allow connections without SSL."
          },
          {
            "name": "Require",
            "value": "require",
            "description": "Fail the connection if the server doesn't support SSL."
          },
          {
            "name": "VerifyCA",
            "value": "verify_ca",
            "description": "Fail the connection if the server doesn't support SSL. Also verifies server certificate."
          },
          {
            "name": "VerifyFull",
            "value": "verify_full",
            "description": "Fail the connection if the server doesn't support SSL. Also verifies server certificate with host's name."
          }
        ]
      }
    },
    "Tag": {
      "type": "object",
      "description": "Tag key-value pair.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Tag key"
        },
        "value": {
          "type": "string",
          "description": "Tag value"
        }
      },
      "required": [
        "key",
        "value"
      ]
    },
    "TargetConfiguration": {
      "type": "object",
      "description": "Target database configuration.",
      "properties": {
        "engine": {
          "$ref": "#/definitions/TargetDatabaseEngine",
          "description": "Database engine type"
        },
        "serverResourceId": {
          "type": "string",
          "description": "Server resource ID"
        },
        "connectionEndPoints": {
          "type": "array",
          "description": "List of connection endpoints",
          "items": {
            "$ref": "#/definitions/ConnectionEndpoint"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        }
      },
      "required": [
        "engine",
        "connectionEndPoints"
      ]
    },
    "TargetConfigurationUpdate": {
      "type": "object",
      "description": "Target database configuration.",
      "properties": {
        "engine": {
          "$ref": "#/definitions/TargetDatabaseEngine",
          "description": "Database engine type"
        },
        "serverResourceId": {
          "type": "string",
          "description": "Server resource ID"
        },
        "connectionEndPoints": {
          "type": "array",
          "description": "List of connection endpoints",
          "items": {
            "$ref": "#/definitions/ConnectionEndpoint"
          },
          "x-ms-identifiers": [
            "connectionName"
          ]
        }
      }
    },
    "TargetDatabaseEngine": {
      "type": "string",
      "description": "The source database engine type.",
      "enum": [
        "azure_postgres_flexible",
        "azure_postgres_orion"
      ],
      "x-ms-enum": {
        "name": "TargetDatabaseEngine",
        "modelAsString": true,
        "values": [
          {
            "name": "AzurePostgresFlexible",
            "value": "azure_postgres_flexible",
            "description": "Azure PostgreSQL Flexible Server"
          },
          {
            "name": "AzurePostgresOrion",
            "value": "azure_postgres_orion",
            "description": "Azure PostgreSQL Orion"
          }
        ]
      }
    },
    "TestConnectivityRequest": {
      "type": "object",
      "description": "Request body for testing connectivity.",
      "properties": {
        "source": {
          "$ref": "#/definitions/SourceConfiguration",
          "description": "Source database configuration"
        },
        "target": {
          "$ref": "#/definitions/TargetConfiguration",
          "description": "Target database configuration"
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Compute profile configuration"
        }
      },
      "required": [
        "source",
        "target",
        "computeProfile"
      ]
    },
    "TestConnectivityResponse": {
      "type": "object",
      "description": "Response for testing connectivity.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request identifier for tracking the operation"
        },
        "properties": {
          "$ref": "#/definitions/ConnectivityTestProperties",
          "description": "Connectivity test properties"
        }
      },
      "required": [
        "requestId",
        "properties"
      ]
    },
    "ValidationStatus": {
      "type": "string",
      "description": "The validation status.",
      "enum": [
        "Succeeded",
        "Failed",
        "InProgress",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "ValidationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Validation succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Validation failed"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Validation in progress"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Validation pending"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
