{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2022-11-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages": {
      "get": {
        "x-ms-examples": {
          "Get all available packages.": {
            "$ref": "./examples/ContentPackages/GetPackages.json"
          },
          "Get all available packages with OData filter/orderby/skip/top": {
            "$ref": "./examples/ContentPackages/GetPackagesOData.json"
          }
        },
        "tags": [
          "ContentPackages"
        ],
        "description": "Gets all available packages.",
        "operationId": "ContentPackages_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common/ContentCommonTypes.json#/parameters/sentinelWorkspaceName"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataFilter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataOrderBy"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataTop"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/packageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages/{packageId}": {
      "get": {
        "x-ms-examples": {
          "Get a package.": {
            "$ref": "./examples/ContentPackages/GetPackageById.json"
          }
        },
        "tags": [
          "ContentPackages"
        ],
        "description": "Gets a package byt its identifier.",
        "operationId": "ContentPackages_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common/ContentCommonTypes.json#/parameters/sentinelWorkspaceName"
          },
          {
            "$ref": "#/parameters/PackageIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/package"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages/{packageId}/install": {
      "post": {
        "x-ms-examples": {
          "Install a package to the workspace.": {
            "$ref": "./examples/ContentPackages/InstallPackage.json"
          }
        },
        "tags": [
          "ContentPackages"
        ],
        "description": "Install a package to the workspace.",
        "operationId": "ContentPackages_Install",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common/ContentCommonTypes.json#/parameters/sentinelWorkspaceName"
          },
          {
            "$ref": "#/parameters/PackageIdParameter"
          },
          {
            "$ref": "#/parameters/PackageInstallationProperties"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/package"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages/{packageId}/uninstall": {
      "post": {
        "x-ms-examples": {
          "Uninstall a package from the workspace.": {
            "$ref": "./examples/ContentPackages/UninstallPackage.json"
          }
        },
        "tags": [
          "ContentPackages"
        ],
        "description": "Uninstall a package from the workspace.",
        "operationId": "ContentPackages_Uninstall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common/ContentCommonTypes.json#/parameters/sentinelWorkspaceName"
          },
          {
            "$ref": "#/parameters/PackageIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/package"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "packageList": {
      "description": "List available packages.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of packages.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of packages.",
          "items": {
            "$ref": "#/definitions/package"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "package": {
      "allOf": [
        {
          "$ref": "../../../common/2.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Represents a Package in Azure Security Insights.",
      "properties": {
        "properties": {
          "description": "package properties",
          "$ref": "#/definitions/packageProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "packageProperties": {
      "description": "Describes package properties",
      "properties": {
        "packageId": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataContentId",
          "description": "The package id"
        },
        "packageKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataPackageKind",
          "description": "The package kind"
        },
        "installedVersion": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataVersion",
          "description": "The version of the installed package, null or absent means not installed."
        },
        "isNew": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataTrueFalseFlag",
          "description": "Flag indicates if this is a newly published package."
        },
        "isPreview": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataTrueFalseFlag",
          "description": "Flag indicates if this package is in preview."
        },
        "isFeatured": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataTrueFalseFlag",
          "description": "Flag indicates if this package is among the featured list."
        },
        "version": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataVersion",
          "description": "the latest version number of the package"
        },
        "displayName": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataDisplayName",
          "description": "The display name of the package"
        },
        "description": {
          "description": "The description of the package",
          "type": "string"
        },
        "source": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataSource",
          "description": "The source of the package"
        },
        "author": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataAuthor",
          "description": "The author of the package"
        },
        "support": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataSupport",
          "description": "The support tier of the package"
        },
        "dependencies": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataDependencies",
          "description": "The support tier of the package"
        },
        "providers": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataProviders",
          "description": "Providers for the package item"
        },
        "firstPublishDate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataFirstPublishDate",
          "description": "first publish date package item"
        },
        "lastPublishDate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataLastPublishDate",
          "description": "last publish date for the package item"
        },
        "categories": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataCategories",
          "description": "The categories of the package"
        },
        "threatAnalysisTactics": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataThreatAnalysisTactics",
          "description": "the tactics the resource covers"
        },
        "threatAnalyticsTechniques": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataThreatAnalysisTechniques",
          "description": "the techniques the resource covers, these have to be aligned with the tactics being used"
        },
        "icon": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataIcon",
          "description": "the icon identifier. this id can later be fetched from the content metadata"
        },
        "packageItems": {
          "description": "The JSON object of the package items.",
          "type": "object",
          "properties": {
            "resources": {
              "type": "array",
              "description": "package items resources.",
              "items": {
                "$ref": "#/definitions/packageItemArmResource",
                "description": "package item resource."
              },
              "x-ms-identifiers": [
                "contentId"
              ]
            }
          }
        }
      },
      "required": [
        "packageId",
        "packageKind",
        "version",
        "displayName"
      ],
      "type": "object"
    },

    "packageItemArmResource": {
      "description": "package item ARM resource",
      "allOf": [
        {
          "$ref": "../../../common/2.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "properties": {
        "properties": {
          "description": "package item properties",
          "$ref": "#/definitions/packageItemProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "packageItemProperties": {
      "description": "Describes package item properties",
      "type": "object",
      "properties": {
        "contentId": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataContentId",
          "description": "The package item id"
        },
        "contentKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataKind",
          "description": "The package item kind"
        },
        "displayName": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataDisplayName",
          "description": "The display name of the package item"
        },
        "mainTemplate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMainTemplateProperties",
          "description": "The main template of the package item"
        }
      }
    },
    "packageInstallationProperties": {
      "type": "object",
      "description": "Package installation properties.",
      "properties": {
        "packageKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataPackageKind",
          "description": "package kind."
        },
        "version": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/contentMetadataVersion",
          "description": "version of the package to be installed."
        }
      }
    }
  },
  "parameters": {
    "PackageIdParameter": {
      "description": "package Id",
      "in": "path",
      "name": "packageId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PackageInstallationProperties": {
      "description": "Package installation properties",
      "in": "body",
      "name": "packageInstallationProperties",
      "required": true,
      "schema": {
        "$ref": "#/definitions/packageInstallationProperties"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
