{
  "swagger": "2.0",
  "info": {
    "title": "BillingManagementClient",
    "version": "2024-04-01",
    "description": "Documentation for Microsoft.Billing.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ArmOperations"
    },
    {
      "name": "Agreement"
    },
    {
      "name": "BillingRequest"
    },
    {
      "name": "BillingRoleAssignment"
    },
    {
      "name": "Invoice"
    },
    {
      "name": "Transaction"
    },
    {
      "name": "Reservation"
    },
    {
      "name": "Reservations"
    },
    {
      "name": "BillingAccount"
    },
    {
      "name": "BillingPermission"
    },
    {
      "name": "Savings plan"
    },
    {
      "name": "AssociatedTenant"
    },
    {
      "name": "AvailableBalance"
    },
    {
      "name": "Product"
    },
    {
      "name": "BillingProfile"
    },
    {
      "name": "BillingProperty"
    },
    {
      "name": "BillingRoleDefinition"
    },
    {
      "name": "Savings plan order"
    },
    {
      "name": "BillingSubscription"
    },
    {
      "name": "Policy"
    },
    {
      "name": "Customer"
    },
    {
      "name": "Department"
    },
    {
      "name": "EnrollmentAccount"
    },
    {
      "name": "InvoiceSection"
    },
    {
      "name": "PaymentMethods"
    },
    {
      "name": "ReservationOrder"
    },
    {
      "name": "ReservationOrders"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "RecipientTransfers"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts": {
      "get": {
        "operationId": "BillingAccounts_List",
        "tags": [
          "BillingAccount"
        ],
        "description": "Lists the billing accounts that a user has access to.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "When true, results will include Billing Accounts that the user does not have a direct role assignment on if the user has one of the following AAD roles: Global Administrator, Global Reader, Billing Administrator.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeAllWithoutBillingProfiles",
            "in": "query",
            "description": "When true, results will include Billing Accounts that are not fully created if the user has one of the following AAD roles: Global Administrator, Global Reader, Billing Administrator.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "When true, results will include any billing accounts in a deleted state.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includePendingAgreement",
            "in": "query",
            "description": "Includes billing accounts with agreement pending signature that the user has access to.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeResellee",
            "in": "query",
            "description": "Includes the customer's billing account of Microsoft Partner Agreement that the user has access to.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "legalOwnerTID",
            "in": "query",
            "description": "Must be combined with legalOwnerOID, results will only include Billing Accounts for whom is legally responsible for the Billing Accounts. Optional.",
            "required": false,
            "type": "string"
          },
          {
            "name": "legalOwnerOID",
            "in": "query",
            "description": "Must be combined with legalOwnerTID, results will only include Billing Accounts for whom is legally responsible for the Billing Accounts. Optional.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand is allowed for SoldTo and EnrollmentDetails/PONumber.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountForLegacyAccountDetails": {
            "$ref": "./examples/billingAccountForLegacyAccountDetails.json"
          },
          "BillingAccountsList": {
            "$ref": "./examples/billingAccountsList.json"
          },
          "BillingAccountsListWithExpandForPONumber": {
            "$ref": "./examples/billingAccountsListWithExpandForPONumber.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}": {
      "get": {
        "operationId": "BillingAccounts_Get",
        "tags": [
          "BillingAccount"
        ],
        "description": "Gets a billing account by its ID.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountWithExpandForPONumber": {
            "$ref": "./examples/billingAccountWithExpandForPONumber.json"
          },
          "BillingAccountWithRegistrationNumberWithDefaultType": {
            "$ref": "./examples/billingAccountWithRegistrationNumberWithDefaultType.json"
          },
          "BillingAccountWithRegistrationNumberWithType": {
            "$ref": "./examples/billingAccountWithRegistrationNumberWithType.json"
          },
          "BillingAccountsGet": {
            "$ref": "./examples/billingAccountsGet.json"
          },
          "BillingAccountsGetEA": {
            "$ref": "./examples/billingAccountsGetEA.json"
          },
          "BillingAccountsGetWithExpand": {
            "$ref": "./examples/billingAccountsGetWithExpand.json"
          }
        }
      },
      "patch": {
        "operationId": "BillingAccounts_Update",
        "tags": [
          "BillingAccount"
        ],
        "description": "Updates the properties of a billing account. Currently, displayName and address can be updated for billing accounts with agreement type Microsoft Customer Agreement. Currently address and notification email address can be updated for billing accounts with agreement type Microsoft Online Services Agreement. Currently, purchase order number can be edited for billing accounts with agreement type Enterprise Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "A billing account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingAccountPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountUpdateWithPONumber": {
            "$ref": "./examples/billingAccountUpdateWithPONumber.json"
          },
          "BillingAccountsUpdate": {
            "$ref": "./examples/billingAccountsUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/BillingAccount"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/addPaymentTerms": {
      "post": {
        "operationId": "BillingAccounts_AddPaymentTerms",
        "tags": [
          "BillingAccount"
        ],
        "description": "Adds payment terms to all the billing profiles under the billing account. Currently, payment terms can be added only on billing accounts that have Agreement Type as 'Microsoft Customer Agreement' and AccountType as 'Enterprise'. This action needs pre-authorization and only Field Sellers are authorized to add the payment terms and is not a self-serve action.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The properties of payment term.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentTerm"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PaymentTermsAdd": {
            "$ref": "./examples/paymentTermsAdd.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/BillingAccount"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements": {
      "get": {
        "operationId": "Agreements_ListByBillingAccount",
        "tags": [
          "Agreement"
        ],
        "description": "Lists the agreements for a billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "May be used to expand the participants.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgreementListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgreementsListByBillingAccount": {
            "$ref": "./examples/agreementsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}": {
      "get": {
        "operationId": "Agreements_Get",
        "tags": [
          "Agreement"
        ],
        "description": "Gets an agreement by ID.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "agreementName",
            "in": "path",
            "description": "The ID that uniquely identifies an agreement.",
            "required": true,
            "type": "string",
            "pattern": "^[a-fA-F0-9]{1,12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Agreement"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgreementByName": {
            "$ref": "./examples/agreementByName.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/associatedTenants": {
      "get": {
        "operationId": "AssociatedTenants_ListByBillingAccount",
        "tags": [
          "AssociatedTenant"
        ],
        "description": "Lists the associated tenants that can collaborate with the billing account on commerce activities like viewing and downloading invoices, managing payments, making purchases, and managing or provisioning licenses.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "includeRevoked",
            "in": "query",
            "description": "Can be used to get revoked associated tenants.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The orderby query option allows clients to request resources in a particular order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The count query option allows clients to request a count of the matching resources included with the resources in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssociatedTenantListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssociatedTenantsListByBillingAccount": {
            "$ref": "./examples/associatedTenantsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/associatedTenants/{associatedTenantName}": {
      "get": {
        "operationId": "AssociatedTenants_Get",
        "tags": [
          "AssociatedTenant"
        ],
        "description": "Gets an associated tenant by ID.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "associatedTenantName",
            "in": "path",
            "description": "The ID that uniquely identifies a tenant.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssociatedTenant"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssociatedTenantsGet": {
            "$ref": "./examples/associatedTenantsGet.json"
          }
        }
      },
      "put": {
        "operationId": "AssociatedTenants_CreateOrUpdate",
        "tags": [
          "AssociatedTenant"
        ],
        "description": "Create or update an associated tenant for the billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "associatedTenantName",
            "in": "path",
            "description": "The ID that uniquely identifies a tenant.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "An associated tenant.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociatedTenant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AssociatedTenant' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssociatedTenant"
            }
          },
          "201": {
            "description": "Resource 'AssociatedTenant' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssociatedTenant"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssociatedTenantsCreateOrUpdate": {
            "$ref": "./examples/associatedTenantsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AssociatedTenant"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AssociatedTenants_Delete",
        "tags": [
          "AssociatedTenant"
        ],
        "description": "Deletes an associated tenant for a billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "associatedTenantName",
            "in": "path",
            "description": "The ID that uniquely identifies a tenant.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssociatedTenantsDelete": {
            "$ref": "./examples/associatedTenantsDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/availableBalance/default": {
      "get": {
        "operationId": "AvailableBalances_GetByBillingAccount",
        "tags": [
          "AvailableBalance"
        ],
        "description": "The Available Credit or Payment on Account Balance for a billing account. The credit balance can be used to settle due or past due invoices and is supported for billing accounts with agreement type Microsoft Customer Agreement. The payment on account balance is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Online Services Program.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailableBalance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailableBalanceGetByBillingAccount": {
            "$ref": "./examples/availableBalanceGetByBillingAccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingPermissions": {
      "get": {
        "operationId": "BillingPermissions_ListByBillingAccount",
        "tags": [
          "BillingPermission"
        ],
        "description": "Lists the billing permissions the caller has on a billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingPermissionsListByBillingAccount": {
            "$ref": "./examples/billingPermissionsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles": {
      "get": {
        "operationId": "BillingProfiles_ListByBillingAccount",
        "tags": [
          "BillingProfile"
        ],
        "description": "Lists the billing profiles that a user has access to. The operation is supported for billing accounts with agreement of type Microsoft Customer Agreement and Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Can be used to get deleted billing profiles.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The orderby query option allows clients to request resources in a particular order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The count query option allows clients to request a count of the matching resources included with the resources in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingProfilesListByBillingAccount": {
            "$ref": "./examples/billingProfilesListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}": {
      "get": {
        "operationId": "BillingProfiles_Get",
        "tags": [
          "BillingProfile"
        ],
        "description": "Gets a billing profile by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement and Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingProfilesGet": {
            "$ref": "./examples/billingProfilesGet.json"
          }
        }
      },
      "put": {
        "operationId": "BillingProfiles_CreateOrUpdate",
        "tags": [
          "BillingProfile"
        ],
        "description": "Creates or updates a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement and Microsoft Partner Agreement. If you are a MCA Individual (Pay-as-you-go) customer, then please use the Azure portal experience to create the billing profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "A billing profile.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BillingProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "201": {
            "description": "Resource 'BillingProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingProfilesCreateOrUpdate": {
            "$ref": "./examples/billingProfilesCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/BillingProfile"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BillingProfiles_Delete",
        "tags": [
          "BillingProfile"
        ],
        "description": "Deletes a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement and Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingProfilesDelete": {
            "$ref": "./examples/billingProfilesDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default": {
      "get": {
        "operationId": "AvailableBalances_GetByBillingProfile",
        "tags": [
          "AvailableBalance"
        ],
        "description": "The Available Credit or Payment on Account Balance for a billing profile. The credit balance can be used to settle due or past due invoices and is supported for billing accounts with agreement type Microsoft Customer Agreement. The payment on account balance is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailableBalance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailableBalanceGetByBillingProfile": {
            "$ref": "./examples/availableBalanceGetByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingPermissions": {
      "get": {
        "operationId": "BillingPermissions_ListByBillingProfile",
        "tags": [
          "BillingPermission"
        ],
        "description": "Lists the billing permissions the caller has on a billing profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingPermissionsListByBillingProfile": {
            "$ref": "./examples/billingPermissionsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRequests": {
      "get": {
        "operationId": "BillingRequests_ListByBillingProfile",
        "tags": [
          "BillingRequest"
        ],
        "description": "The list of billing requests submitted for the billing profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The orderby query option allows clients to request resources in a particular order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The count query option allows clients to request a count of the matching resources included with the resources in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRequestsListByBillingProfile": {
            "$ref": "./examples/billingRequestsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments": {
      "get": {
        "operationId": "BillingRoleAssignments_ListByBillingProfile",
        "tags": [
          "BillingRoleAssignment"
        ],
        "description": "Lists the role assignments for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleAssignmentListByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "get": {
        "operationId": "BillingRoleAssignments_GetByBillingProfile",
        "tags": [
          "BillingRoleAssignment"
        ],
        "description": "Gets a role assignment for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "billingRoleAssignmentName",
            "in": "path",
            "description": "The ID that uniquely identifies a role assignment.",
            "required": true,
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12}(_[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12})?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleAssignmentGetByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentGetByBillingProfile.json"
          }
        }
      },
      "delete": {
        "operationId": "BillingRoleAssignments_DeleteByBillingProfile",
        "tags": [
          "BillingRoleAssignment"
        ],
        "description": "Deletes a role assignment on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "billingRoleAssignmentName",
            "in": "path",
            "description": "The ID that uniquely identifies a role assignment.",
            "required": true,
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12}(_[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12})?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleAssignmentDeleteByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentDeleteByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions": {
      "get": {
        "operationId": "BillingRoleDefinition_ListByBillingProfile",
        "tags": [
          "BillingRoleDefinition"
        ],
        "description": "Lists the role definitions for a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement, Microsoft Customer Agreement or Enterprise Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleDefinitionListByBillingProfile": {
            "$ref": "./examples/billingRoleDefinitionListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/{roleDefinitionName}": {
      "get": {
        "operationId": "BillingRoleDefinition_GetByBillingProfile",
        "tags": [
          "BillingRoleDefinition"
        ],
        "description": "Gets the definition for a role on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "roleDefinitionName",
            "in": "path",
            "description": "The ID that uniquely identifies a role definition.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleDefinitionGetByBillingProfile": {
            "$ref": "./examples/billingRoleDefinitionGetByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions": {
      "get": {
        "operationId": "BillingSubscriptions_ListByBillingProfile",
        "tags": [
          "BillingSubscription"
        ],
        "description": "Lists the subscriptions that are billed to a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Can be used to get deleted billing subscriptions.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Can be used to expand `Reseller`, `ConsumptionCostCenter`, `LastMonthCharges` and `MonthToDateCharges`",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The orderby query option allows clients to request resources in a particular order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The count query option allows clients to request a count of the matching resources included with the resources in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingProfileEA": {
            "$ref": "./examples/billingSubscriptionsListByBillingProfileEA.json"
          },
          "BillingSubscriptionsListByBillingProfileMCA": {
            "$ref": "./examples/billingSubscriptionsListByBillingProfileMCA.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "operationId": "BillingSubscriptions_GetByBillingProfile",
        "tags": [
          "BillingSubscription"
        ],
        "description": "Gets a subscription by its billing profile and ID. The operation is supported for billing accounts with agreement type Enterprise Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingSubscriptionName",
            "in": "path",
            "description": "The ID that uniquely identifies a subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Can be used to expand `Reseller`, `ConsumptionCostCenter`, `LastMonthCharges` and `MonthToDateCharges`",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingSubscriptionGetByBillingProfile": {
            "$ref": "./examples/billingSubscriptionGetByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/checkAccess": {
      "post": {
        "operationId": "BillingPermissions_CheckAccessByBillingProfile",
        "tags": [
          "BillingPermission"
        ],
        "description": "Provides a list of check access response objects for a billing profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request object against which access of the caller will be checked.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAccessRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CheckAccessResponse"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckAccessByBillingProfile": {
            "$ref": "./examples/checkAccessByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/createBillingRoleAssignment": {
      "post": {
        "operationId": "BillingRoleAssignments_CreateByBillingProfile",
        "tags": [
          "BillingRoleAssignment"
        ],
        "description": "Adds a role assignment on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The properties of the billing role assignment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleAssignmentCreateByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentCreateByBillingProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/BillingRoleAssignment"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers": {
      "get": {
        "operationId": "Customers_ListByBillingProfile",
        "tags": [
          "Customer"
        ],
        "description": "Lists the customers that are billed to a billing profile. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "May be used to expand enabledAzurePlans and resellers",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The orderby query option allows clients to request resources in a particular order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The count query option allows clients to request a count of the matching resources included with the resources in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CustomerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomersListByBillingProfile": {
            "$ref": "./examples/customersListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}": {
      "get": {
        "operationId": "Customers_Get",
        "tags": [
          "Customer"
        ],
        "description": "Gets a customer by its ID. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "customerName",
            "in": "path",
            "description": "The ID that uniquely identifies a customer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomersGet": {
            "$ref": "./examples/customersGet.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingPermissions": {
      "get": {
        "operationId": "BillingPermissions_ListByCustomer",
        "tags": [
          "BillingPermission"
        ],
        "description": "Lists the billing permissions the caller has for a customer.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "customerName",
            "in": "path",
            "description": "The ID that uniquely identifies a customer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingPermissionsListByCustomer": {
            "$ref": "./examples/billingPermissionsListByCustomer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingRequests": {
      "get": {
        "operationId": "BillingRequests_ListByCustomer",
        "tags": [
          "BillingRequest"
        ],
        "description": "The list of billing requests submitted for the customer.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "customerName",
            "in": "path",
            "description": "The ID that uniquely identifies a customer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The orderby query option allows clients to request resources in a particular order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The count query option allows clients to request a count of the matching resources included with the resources in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search query option allows clients to request items within a collection matching a free-text search expression. search is only supported for string fields.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRequestsListByCustomer": {
            "$ref": "./examples/billingRequestsListByCustomer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingRoleAssignments": {
      "get": {
        "operationId": "BillingRoleAssignments_ListByCustomer",
        "tags": [
          "BillingRoleAssignment"
        ],
        "description": "Lists the role assignments for the caller on customer. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "customerName",
            "in": "path",
            "description": "The ID that uniquely identifies a customer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter query option allows clients to filter a collection of resources that are addressed by a request URL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The top query option requests the number of items in the queried collection to be included in the result. The maximum supported value for top is 50.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The skip query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingRoleAssignmentListByCustomer": {
            "$ref": "./examples/billingRoleAssignmentListByCustomer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "get": {
        "operationId": "BillingRoleAssignments_GetByCustomer",
        "tags": [
          "BillingRoleAssignment"
        ],
        "description": "Gets a role assignment for the caller on a customer. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing account.",
            "required": true,
            "type": "string",
            "pattern": "^([0-9]+|([Pp][Cc][Nn]\\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$"
          },
          {
            "name": "billingProfileName",
            "in": "path",
            "description": "The ID that uniquely identifies a billing profile.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z\\d-_]{1,128}$"
          },
          {
            "name": "customerName",
[...]
