{
  "swagger": "2.0",
  "info": {
    "title": "GitHub.Enterprise",
    "description": "GitHub.Enterprise resource provider",
    "version": "2020-09-23-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/GitHub.Enterprise/accounts": {
      "get": {
        "description": "Returns a list of GitHub accounts under the given subscription.",
        "operationId": "accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of GitHub account details.",
            "schema": {
              "$ref": "#/definitions/AccountsResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "accounts_ListBySubscription": {
            "$ref": "./examples/accounts_ListBySubscription_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Enterprise/accounts": {
      "get": {
        "description": "Returns a list of GitHub accounts under the given subscription and resource group.",
        "operationId": "accounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of GitHub account details.",
            "schema": {
              "$ref": "#/definitions/AccountsResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "accounts_ListByResourceGroup": {
            "$ref": "./examples/accounts_ListByResourceGroup_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Enterprise/accounts/{accountName}": {
      "get": {
        "description": "Returns the GitHub account resource for a given name.",
        "operationId": "accounts_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub account details.",
            "schema": {
              "$ref": "#/definitions/AccountsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account does not exist).",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_Get": {
            "$ref": "./examples/accounts_Get_example.json"
          }
        }
      },
      "put": {
        "description": "Create or update a GitHub account resource.",
        "operationId": "accounts_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "account",
            "description": "GitHub account details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account already exists.",
            "schema": {
              "$ref": "#/definitions/AccountsResource"
            }
          },
          "201": {
            "description": "Created or update operation started.",
            "schema": {
              "$ref": "#/definitions/AccountsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_CreateOrUpdate": {
            "$ref": "./examples/accounts_CreateAndUpdate_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Update a GitHub account.",
        "operationId": "accounts_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "account",
            "description": "GitHub account patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountsPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account updated.",
            "schema": {
              "$ref": "#/definitions/AccountsResource"
            }
          },
          "201": {
            "description": "Update operation started.",
            "schema": {
              "$ref": "#/definitions/AccountsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account does not exist).",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_Update": {
            "$ref": "./examples/accounts_Update_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a GitHub account.",
        "operationId": "accounts_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted."
          },
          "202": {
            "description": "Delete operation started."
          },
          "204": {
            "description": "Successful; Account does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict (Account is in a non-terminal state due to an ongoing operation).",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_Delete": {
            "$ref": "./examples/accounts_Delete_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/providers/GitHub.Enterprise/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "operation_List": {
            "$ref": "./examples/operation_List_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/GitHub.Enterprise/checkNameAvailability": {
      "post": {
        "description": "Checks that the GitHub account name is valid and is not already in use.",
        "operationId": "accounts_CheckNameAvailability",
        "summary": "Check Name Availability",
        "parameters": [
          {
            "name": "nameAvailabilityParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityParameters"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the name availability.",
            "schema": {
              "$ref": "#/definitions/NameAvailability"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Check name availability available": {
            "$ref": "./examples/accounts_checkNameAvailabilityAvailable.json"
          },
          "Check name availability unavailable": {
            "$ref": "./examples/accounts_checkNameAvailabilityUnavailable.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountsResource": {
      "type": "object",
      "description": "Account details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "title": "Account properties",
          "description": "Additional GitHub.Enterprise/account properties",
          "required": [
            "firstAdminEmail",
            "firstAdminUsername"
          ],
          "properties": {
            "provisioningState": {
              "description": "The provisioning state of the account.",
              "type": "string",
              "readOnly": true
            },
            "firstAdminEmail": {
              "description": "First admin user email address.",
              "type": "string",
              "pattern": "\\S+@\\S+\\.\\S+"
            },
            "firstAdminUsername": {
              "description": "First admin username.",
              "type": "string"
            }
          }
        }
      }
    },
    "AccountsPatchResource": {
      "type": "object",
      "description": "Account patch properties.",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AccountsResourceList": {
      "description": "The list of GitHub accounts.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of GitHub accounts.",
          "type": "string"
        },
        "value": {
          "description": "The list of GitHub accounts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountsResource"
          }
        }
      }
    },
    "NameAvailabilityParameters": {
      "description": "Data POST-ed to the nameAvailability action",
      "required": [
        "type",
        "name"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The resource type. Should be always \"GitHub.Enterprise/accounts\".",
          "type": "string"
        },
        "name": {
          "description": "The GitHub account name to validate. e.g.\"my-account-name\"",
          "type": "string"
        }
      }
    },
    "NameAvailability": {
      "description": "Result of the request to check name availability. It contains a flag and possible reason of failure.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Indicates whether the name is available or not.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason of the availability. Required if name is not available.",
          "type": "string"
        },
        "message": {
          "description": "The message of the operation.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the GitHub account.",
      "x-ms-parameter-location": "method"
    }
  }
}
