{
    "swagger": "2.0",
    "info": {
        "version": "2015-06-01-preview",
        "title": "CommerceManagementClient",
        "description": "The Admin Commerce Management Client."
    },
    "host": "management.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/subscriberUsageAggregates": {
            "get": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "./examples/SubscriberUsageAggregates/ListOperation.json"
                    }
                },
                "description": "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from direct tenants.",
                "tags": [
                    "Commerce"
                ],
                "operationId": "SubscriberUsageAggregates_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/ReportedStartTimeParameter"
                    },
                    {
                        "$ref": "#/parameters/ReportedEndTimeParameter"
                    },
                    {
                        "$ref": "#/parameters/AggregationGranularityParameter"
                    },
                    {
                        "$ref": "#/parameters/TenantSubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ContinuationTokenParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UsageAggregatePage"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Resource": {
            "description": "Base Resource Object",
            "type": "object",
            "properties": {
                "id": {
                    "readOnly": true,
                    "description": "URI of the resource.",
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "description": "Name of the resource.",
                    "type": "string"
                },
                "type": {
                    "readOnly": true,
                    "description": "Type of resource.",
                    "type": "string"
                },
                "location": {
                    "readOnly": true,
                    "description": "Location where resource is location.",
                    "type": "string"
                },
                "tags": {
                    "readOnly": true,
                    "description": "List of key value pairs.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "x-ms-azure-resource": true
        },
        "UsageAggregate": {
            "description": "Aggregate usage values for resource.",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Properties for aggregate usage.",
                    "$ref": "#/definitions/UsageAggregateModel"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "UsageAggregateModel": {
            "description": "Properties for aggregate usage.",
            "type": "object",
            "properties": {
                "subscriptionId": {
                    "type": "string",
                    "description": "Subscription id of tenant using plan."
                },
                "usageStartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UTC start time for the usage bucket to which this usage aggregate belongs."
                },
                "usageEndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UTC end time for the usage bucket to which this usage aggregate belongs."
                },
                "instanceData": {
                    "description": "Key-value pairs of instance details represented as a string.",
                    "type": "string"
                },
                "quantity": {
                    "description": "The amount of the resource consumption that occurred in this time frame.",
                    "type": "string"
                },
                "meterId": {
                    "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                    "type": "string"
                }
            }
        },
        "UsageAggregatePage": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/UsageAggregate"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string",
            "default": "2015-06-01-preview"
        },
        "ReportedStartTimeParameter": {
            "description": "The reported start time (inclusive).",
            "name": "reportedStartTime",
            "in": "query",
            "type": "string",
            "required": true,
            "format": "date-time",
            "x-ms-parameter-location": "method"
        },
        "ReportedEndTimeParameter": {
            "description": "The reported end time (exclusive).",
            "name": "reportedEndTime",
            "in": "query",
            "type": "string",
            "required": true,
            "format": "date-time",
            "x-ms-parameter-location": "method"
        },
        "AggregationGranularityParameter": {
            "description": "The aggregation granularity.",
            "name": "aggregationGranularity",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-parameter-location": "method"
        },
        "TenantSubscriptionIdParameter": {
            "description": "The tenant subscription identifier.",
            "name": "subscriberId",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-parameter-location": "method"
        },
        "ContinuationTokenParameter": {
            "description": "The continuation token.",
            "name": "continuationToken",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}