{
  "swagger": "2.0",
  "info": {
    "version": "2015-06-01-preview",
    "title": "CommerceManagementClient",
    "description": "The Admin Commerce Management Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Commerce.Admin/operations": {
      "get": {
        "x-ms-examples": {
          "Returns the list of supported REST operations.": {
            "$ref": "./examples/Operations/List.json"
          }
        },
        "description": "Returns the list of supported REST operations.",
        "tags": [
          "Commerce"
        ],
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ExtendedErrorInfo"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates": {
      "get": {
        "x-ms-examples": {
          "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.": {
            "$ref": "./examples/SubscriberUsageAggregates/List.json"
          }
        },
        "description": "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.",
        "tags": [
          "Commerce"
        ],
        "operationId": "SubscriberUsageAggregates_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ReportedStartTimeParameter"
          },
          {
            "$ref": "#/parameters/ReportedEndTimeParameter"
          },
          {
            "$ref": "#/parameters/AggregationGranularityParameter"
          },
          {
            "$ref": "#/parameters/TenantSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ContinuationTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UsageAggregatePage"
            }
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ExtendedErrorInfo"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption": {
      "post": {
        "x-ms-examples": {
          "Update the encryption.": {
            "$ref": "./examples/Commerce/UpdateEncryption.json"
          }
        },
        "description": "Update the encryption.",
        "tags": [
          "Commerce"
        ],
        "operationId": "Commerce_UpdateEncryption",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ExtendedErrorInfo"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Base Resource Object",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "URI of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of resource.",
          "type": "string"
        },
        "location": {
          "readOnly": true,
          "description": "Location where resource is location.",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "List of key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "UsageAggregate": {
      "description": "Aggregate usage values for resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties for aggregate usage.",
          "$ref": "#/definitions/UsageAggregateModel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "UsageAggregateModel": {
      "description": "Properties for aggregate usage.",
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Subscription ID of tenant using plan."
        },
        "usageStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC start time for the usage category to which this usage aggregate belongs."
        },
        "usageEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC end time for the usage category to which this usage aggregate belongs."
        },
        "instanceData": {
          "description": "Key-value pairs of instance details represented as a string.",
          "type": "string"
        },
        "quantity": {
          "description": "The amount of the resource consumption that occurred in this time frame.",
          "type": "number",
          "format": "double"
        },
        "meterId": {
          "description": "Unique ID for the resource that was consumed, for example, the Resource ID.",
          "type": "string"
        }
      }
    },
    "UsageAggregatePage": {
      "description": "Pageable list of usage aggregates",
      "properties": {
        "value": {
          "description": "List of usage aggregates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UsageAggregate"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URI to the next page."
        }
      }
    },
    "Operation": {
      "description": "Describes the supported REST operation.",
      "type": "object",
      "properties": {
        "display": {
          "description": "Contains the localized display information for this particular operation or action.",
          "$ref": "#/definitions/Display",
          "readOnly": true
        },
        "isDataAction": {
          "description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "The name of the operation performed on the object. The name should match the action name that appears in RBAC or the event service.",
          "type": "string",
          "readOnly": true
        },
        "origin": {
          "description": "Origin for the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Display": {
      "description": "Contains the localized display information for this particular operation / action.",
      "properties": {
        "provider": {
          "description": "The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "The localized, friendly name for the operation. Use the name as it will displayed to the user.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationList": {
      "description": "List of Operations",
      "properties": {
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "description": "URI to the next page of operations.",
          "type": "string"
        }
      }
    },
    "ExtendedErrorInfo": {
      "type": "object",
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2015-06-01-preview"
    },
    "ReportedStartTimeParameter": {
      "description": "The reported start time (inclusive).",
      "name": "reportedStartTime",
      "in": "query",
      "type": "string",
      "required": true,
      "format": "date-time",
      "x-ms-parameter-location": "method"
    },
    "ReportedEndTimeParameter": {
      "description": "The reported end time (exclusive).",
      "name": "reportedEndTime",
      "in": "query",
      "type": "string",
      "required": true,
      "format": "date-time",
      "x-ms-parameter-location": "method"
    },
    "AggregationGranularityParameter": {
      "description": "The aggregation granularity.",
      "name": "aggregationGranularity",
      "in": "query",
      "type": "string",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "TenantSubscriptionIdParameter": {
      "description": "The tenant subscription identifier.",
      "name": "subscriberId",
      "in": "query",
      "type": "string",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "ContinuationTokenParameter": {
      "description": "The continuation token.",
      "name": "continuationToken",
      "in": "query",
      "type": "string",
      "required": false,
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
