{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Azure Log Analytics",
    "description": "This API exposes Azure Log Analytics query capabilities",
    "termsOfService": "https://dev.loganalytics.io/tos",
    "contact": {
      "name": "AIAPI Team",
      "url": "https://dev.loganalytics.io/support",
      "email": "aiapi@microsoft.com"
    },
    "license": {
      "name": "Microsoft",
      "url": "https://dev.loganalytics.io/license"
    }
  },
  "host": "api.loganalytics.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/workspaces/{workspaceId}/query": {
      "get": {
        "operationId": "Query_Get",
        "summary": "Execute an Analytics query",
        "description": "Executes an Analytics query for data",
        "x-ms-examples": {
          "simple-query": {
            "$ref": "examples/oms-get-example.json"
          },
          "cross-workspace": {
            "$ref": "examples/oms-get-cross-workspace-example.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/workspaceId"
          },
          {
            "$ref": "#/parameters/queryParam"
          },
          {
            "$ref": "#/parameters/timespanParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The API call succeeded and the Analytics query result is in the response payload",
            "schema": {
              "$ref": "#/definitions/queryResults"
            }
          },
          "default": {
            "description": "An error response object.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "Query_Execute",
        "summary": "Execute an Analytics query",
        "description": "Executes an Analytics query for data. [Here](https://dev.loganalytics.io/documentation/Using-the-API) is an example for using POST with an Analytics query.",
        "x-ms-examples": {
          "simple-query": {
            "$ref": "examples/oms-post-example.json"
          },
          "cross-workspace": {
            "$ref": "examples/oms-post-cross-workspace-example.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/workspaceId"
          },
          {
            "$ref": "#/parameters/queryBody"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The API call succeeded and the Analytics query result is in the response payload",
            "schema": {
              "$ref": "#/definitions/queryResults"
            }
          },
          "default": {
            "description": "An error response object.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/metadata": {
      "get": {
        "operationId": "Metadata_Get",
        "summary": "Gets metadata information",
        "description": "Retrieve the metadata information for the workspace, including its schema, functions, workspace info, categories etc.",
        "x-ms-examples": {
          "metadataGet": {
            "$ref": "examples/metadata-get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/workspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The API call succeeded and the metadata result is in the response payload",
            "schema": {
              "$ref": "#/definitions/metadataResults"
            }
          },
          "default": {
            "description": "An error response object.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "Metadata_Post",
        "summary": "Gets metadata information",
        "description": "Retrieve the metadata information for the workspace, including its schema, functions, workspace info, categories etc.",
        "x-ms-examples": {
          "metadataGet": {
            "$ref": "examples/metadata-post.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/workspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The API call succeeded and the metadata result is in the response payload",
            "schema": {
              "$ref": "#/definitions/metadataResults"
            }
          },
          "default": {
            "description": "An error response object.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "workspaceId": {
      "name": "workspaceId",
      "description": "ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "workspacesParam": {
      "name": "workspaces",
      "description": "Comma separated workspace IDs to include in cross-workspace queries.",
      "in": "query",
      "collectionFormat": "csv",
      "required": false,
      "default": "",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "queryParam": {
      "name": "query",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "method",
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "type": "string"
    },
    "queryBody": {
      "name": "body",
      "in": "body",
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "required": true,
      "schema": {
        "$ref": "#/definitions/queryBody"
      },
      "x-ms-parameter-location": "method"
    },
    "timespanParam": {
      "name": "timespan",
      "in": "query",
      "required": false,
      "format": "duration",
      "x-ms-parameter-location": "method",
      "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
      "type": "string"
    }
  },
  "definitions": {
    "queryParam": {
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "type": "string"
    },
    "timespanParam": {
      "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
      "type": "string"
    },
    "workspacesParam": {
      "description": "Workspace IDs to include in cross-workspace queries.",
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "queryBody": {
      "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
      "type": "object",
      "properties": {
        "query": {
          "description": "The query to execute.",
          "$ref": "#/definitions/queryParam"
        },
        "timespan": {
          "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
          "$ref": "#/definitions/timespanParam"
        },
        "workspaces": {
          "description": "A list of workspaces that are included in the query.",
          "$ref": "#/definitions/workspacesParam"
        }
      },
      "required": [
        "query"
      ]
    },
    "queryResults": {
      "title": "A query response.",
      "description": "Contains the tables, columns & rows resulting from a query.",
      "type": "object",
      "properties": {
        "tables": {
          "description": "The list of tables, columns and rows.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/table"
          }
        }
      },
      "required": [
        "tables"
      ]
    },
    "table": {
      "title": "A query response table.",
      "description": "Contains the columns and rows for one table in a query response.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the table.",
          "type": "string"
        },
        "columns": {
          "description": "The list of columns in this table.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/column"
          }
        },
        "rows": {
          "description": "The resulting rows from this query.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "required": [
        "name",
        "columns",
        "rows"
      ]
    },
    "column": {
      "title": "A table column.",
      "description": "A column in a table.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this column.",
          "type": "string"
        },
        "type": {
          "description": "The data type of this column.",
          "type": "string"
        }
      }
    },
    "metadataResults": {
      "description": "The metadata result for the app, including available tables, etc.",
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataCategory"
          },
          "uniqueItems": true
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataResourceType"
          },
          "uniqueItems": true
        },
        "solutions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataSolution"
          },
          "uniqueItems": true
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataTable"
          },
          "uniqueItems": true
        },
        "functions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataFunction"
          },
          "uniqueItems": true
        },
        "queries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataQuery"
          },
          "uniqueItems": true
        },
        "applications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataApplication"
          },
          "uniqueItems": true
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataWorkspace"
          },
          "uniqueItems": true
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataResource"
          },
          "uniqueItems": true
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataPermissions"
          },
          "uniqueItems": true
        }
      }
    },
    "metadataCategory": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "related": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "functions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resourceTypes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "queries": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "solutions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "displayName"
      ]
    },
    "metadataSolution": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "tags": {
          "$ref": "#/definitions/tags"
        },
        "properties": {
          "type": "object"
        },
        "related": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "functions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "queries": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "workspaces": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "tables"
          ]
        }
      },
      "required": [
        "id",
        "name",
        "related"
      ]
    },
    "metadataResourceType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "$ref": "#/definitions/tags"
        },
        "properties": {
          "type": "object"
        },
        "related": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "functions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "queries": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "workspaces": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resources": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "metadataTable": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "timespanColumn": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "$ref": "#/definitions/tags"
        },
        "properties": {
          "type": "object"
        },
        "columns": {
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "bool",
                  "datetime",
                  "dynamic",
                  "int",
                  "long",
                  "real",
                  "string"
                ],
                "x-ms-enum": {
                  "name": "MetadataColumnDataType",
                  "modelAsString": true
                }
              },
              "isPreferredFacet": {
                "type": "boolean"
              },
              "source": {
                "type": "object"
              }
            },
            "required": [
              "name",
              "type"
            ]
          }
        },
        "related": {
          "type": "object",
          "properties": {
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "solutions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resourceTypes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "workspaces": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "functions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "queries": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "metadataFunction": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "tags": {
          "$ref": "#/definitions/tags"
        },
        "properties": {
          "type": "object"
        },
        "related": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "solutions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resourceTypes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "workspaces": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "name",
        "body"
      ]
    },
    "metadataQuery": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "$ref": "#/definitions/tags"
        },
        "properties": {
          "type": "object"
        },
        "related": {
          "type": "object",
          "properties": {
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "solutions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resourceTypes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "body"
      ]
    },
    "metadataApplication": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "related": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "functions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "resourceId",
        "name",
        "region"
      ]
    },
    "metadataWorkspace": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "related": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "solutions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resourceTypes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "functions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resources": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "id",
        "resourceId",
        "name",
        "region"
      ]
    },
    "metadataResource": {},
    "metadataPermissions": {
      "type": "object",
      "properties": {
        "workspaces": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "resourceId": {
                "type": "string"
              },
              "denyTables": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "resourceId"
            ]
          }
        },
        "resources": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "resourceId": {
                "type": "string"
              },
              "denyTables": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "resourceId"
            ]
          }
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "resourceId": {
                "type": "string"
              }
            },
            "required": [
              "resourceId"
            ]
          }
        }
      },
      "required": [
        "workspaces"
      ]
    },
    "tags": {
      "description": "String-based key-value tags",
      "type": "object"
    },
    "errorDetail": {
      "title": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error's code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        },
        "target": {
          "description": "Indicates which property in the request is responsible for the error.",
          "type": "string"
        },
        "value": {
          "description": "Indicates which value in 'target' is responsible for the error.",
          "type": "string"
        },
        "resources": {
          "description": "Indicates resources which were responsible for the error.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "errorInfo": {
      "title": "The code and message for an error.",
      "type": "object",
      "properties": {
        "code": {
          "description": "A machine readable error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        },
        "details": {
          "description": "error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/errorDetail"
          }
        },
        "innererror": {
          "description": "Inner error details if they exist.",
          "$ref": "#/definitions/errorInfo"
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "errorResponse": {
      "title": "Error details.",
      "description": "Contains details when the response code indicates an error.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error details.",
          "$ref": "#/definitions/errorInfo"
        }
      },
      "required": [
        "error"
      ]
    }
  }
}