{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The User Subscriptions Management Client."
    },
    "host": "management.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions": {
            "get": {
                "x-ms-examples": {
                    "Get the list of subscriptions.": {
                        "$ref": "./examples/Subscriptions/List.json"
                    }
                },
                "description": "Get the list of subscriptions.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of subscriptions.": {
                        "$ref": "./examples/Subscriptions/Get.json"
                    }
              },
              "tags": [
                "Subscriptions"
              ],
              "operationId": "Subscriptions_Get",
              "description": "Gets details about particular subscription.",
              "parameters": [
                {
                  "name": "subscriptionId",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "Id of the subscription."
                },
                {
                  "$ref": "#/parameters/ApiVersionParameter"
                }
              ],
              "responses": {
                "200": {
                  "description": "",
                  "schema": {
                    "$ref": "#/definitions/Subscription"
                  }
                }
              }
            },
            "put": {
                "x-ms-examples": {
                    "Create or updates a subscription": {
                        "$ref": "./examples/Subscriptions/Create.json"
                    }
                },
                "description": "Create or updates a subscription.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_CreateOrUpdate",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Id of the subscription."
                    },
                    {
                        "$ref": "#/parameters/NewSubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Subscription"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Subscription"
                        }
                      }
                    },
                    "produces": [
                        "application/json"
                    ],
                    "consumes": [
                        "application/json"
                    ]
                },
                "delete": {
                    "x-ms-examples": {
                        "Delete the specifed subscription": {
                            "$ref": "./examples/Subscriptions/Delete.json"
                        }
                    },
                    "description": "Delete the specifed subscription.",
                    "tags": [
                        "Subscriptions"
                    ],
                    "operationId": "Subscriptions_Delete",
                    "parameters": [
                        {
                            "name": "subscriptionId",
                            "in": "path",
                            "required": true,
                            "type": "string",
                            "description": "Id of the subscription."
                        },
                        {
                            "$ref": "#/parameters/ApiVersionParameter"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "OK"
                        },
                        "204": {
                            "description": "No Content"
                        }                   
                    },
                    "produces": [
                        "application/json"
                    ],
                    "consumes": [
                        "application/json"
                    ]
                }
            },
            "/providers/Microsoft.Subscriptions/operations": {
                "get": {
                    "x-ms-examples": {
                        "Get the list of Operations.": {
                            "$ref": "./examples/Subscriptions/Operations.json"
                        }
                    },
                    "description": "Get the list of Operations.",
                    "tags": [
                        "Operations"
                    ],
                    "operationId": "Operations_List",
                    "parameters": [
                        {
                            "$ref": "#/parameters/ApiVersionParameter"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "OK",
                            "schema": {
                                "$ref": "#/definitions/OperationList"
                            }
                        }
                    },
                    "produces": [
                        "application/json"
                    ],
                    "consumes": [
                        "application/json"
                    ]
                }
            }
        },
        "definitions": {
            "Resource": {
                "description": "Base Resource Object",
                "type": "object",
                "properties": {
                    "id": {
                        "readOnly": true,
                        "description": "URI of the resource.",
                        "type": "string"
                    },
                    "name": {
                        "readOnly": true,
                        "description": "Name of the resource.",
                        "type": "string"
                    },
                    "type": {
                        "readOnly": true,
                        "description": "Type of resource.",
                        "type": "string"
                    },
                    "location": {
                        "description": "Location of the resource",
                        "type": "string"
                    },
                    "tags": {
                        "readOnly": true,
                        "description": "List of key-value pairs.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                },
                "x-ms-azure-resource": true
            },
            "Subscription": {
                "description": "List of supported operations.",
                "type": "object",
                "properties": {
                    "displayName": {
                        "description": "Subscription name.",
                        "type": "string"
                    },
                    "id": {
                        "description": "Fully qualified identifier.",
                        "type": "string"
                    },
                    "offerId": {
                        "description": "Identifier of the offer under the scope of a delegated provider.",
                        "type": "string"
                    },
                    "state": {
                        "description": "Subscription state.",
                        "$ref": "#/definitions/SubscriptionState"
                    },
                    "subscriptionId": {
                        "description": "Subscription identifier.",
                        "type": "string"
                    },
                    "tenantId": {
                        "description": "Directory tenant identifier.",
                        "type": "string"
                    }
                }
            },
            "SubscriptionList": {
                "description": "List of subscriptions.",
                "properties": {
                    "value": {
                        "type": "array",
                        "description": "Subscription definition.",
                        "items": {
                            "$ref": "#/definitions/Subscription"
                        }
                    },
                    "nextLink": {
                        "description": "URI to the next page.",
                        "type": "string"
                    }
                }
            },
            "SubscriptionState": {
                "description": "Subscription notification state.",
                "type": "string",
                "enum": [
                    "NotDefined",
                    "Enabled",
                    "Warned",
                    "PastDue",
                    "Disabled",
                    "Deleted"
                ],
                "x-ms-enum": {
                    "name": "SubscriptionState",
                    "modelAsString": true
                }
            },
            "Operation": {
                "description": "Supported REST operation.",
                "type": "object",
                "properties": {
                    "display": {
                        "description": "Display information for the operation.",
                        "type": "object",
                        "properties": {
                            "description": {
                                "description": "Description for the operation.",
                                "type": "string",
                                "readOnly": true
                            },
                            "operation": {
                                "description": "Display name of the operation.",
                                "type": "string",
                                "readOnly": true
                            },
                            "provider": {
                                "description": "Resource provider display name.",
                                "type": "string",
                                "readOnly": true
                            },
                            "resource": {
                                "description": "Resource type display name related to the operation.",
                                "type": "string",
                                "readOnly": true
                            }
                        }
                    },
                    "name": {
                        "description": "Name of the operation being performed on an object.",
                        "type": "string",
                        "readOnly": true
                    },
                    "origin": {
                        "description": "Origin for the operation.",
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "OperationList": {
                "description": "List of supported operations.",
                "type": "object",
                "properties": {
                    "value": {
                        "description": "List of supported operations.",
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/Operation"
                        }
                    }
                }
            }            
        },
        "parameters": {
            "SubscriptionIdParameter": {
                "name": "subscriptionId",
                "in": "path",
                "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                "required": true,
                "type": "string"
            },
            "ApiVersionParameter": {
                "name": "api-version",
                "in": "query",
                "description": "Client Api Version.",
                "required": true,
                "type": "string",
                "default": "2015-11-01"
            },
            "ResourceGroupParameter": {
                "description": "The resource group the resource is located under.",
                "name": "resourceGroup",
                "in": "path",
                "type": "string",
                "required": true,
                "x-ms-parameter-location": "method"
            },
            "LocationParameter": {
                "description": "The AzureStack location.",
                "name": "location",
                "in": "path",
                "type": "string",
                "required": true,
                "x-ms-parameter-location": "method"
            },
            "SubscriptionParameter": {
                "description": "Subscription parameter.",
                "name": "subscription",
                "in": "path",
                "type": "string",
                "required": true,
                "x-ms-parameter-location": "method"
            },
            "NewSubscriptionParameter": {
                "description": "Subscription parameter.",
                "name": "newSubscription",
                "in": "body",
                "schema": {
                    "$ref": "#/definitions/Subscription"
                },
                "required": true,
                "x-ms-parameter-location": "method"
            }
        },
        "securityDefinitions": {
            "azure_auth": {
                "type": "oauth2",
                "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                "flow": "implicit",
                "description": "Azure Active Directory OAuth2 flow",
                "scopes": {
                    "user_impersonation": "impersonate your user account"
                }
            }
        },
        "security": [
            {
                "azure_auth": [
                    "user_impersonation"
                ]
            }
        ]
}
