{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge",
    "version": "2023-07-01-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ConnectivityStatuses"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Edge/connectivityStatuses": {
      "get": {
        "tags": [
          "ConnectivityStatuses"
        ],
        "operationId": "ConnectivityStatuses_List",
        "description": "List ConnectivityStatus resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/entity-types.json#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConnectivityStatuses_List_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_List_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_List_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Edge/connectivityStatuses/{connectivityStatusName}": {
      "get": {
        "tags": [
          "ConnectivityStatuses"
        ],
        "operationId": "ConnectivityStatuses_Get",
        "description": "Get a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/entity-types.json#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "required": true,
            "description": "Name of ConnectivityStatus",
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_Get_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Get_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_Get_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "ConnectivityStatuses"
        ],
        "operationId": "ConnectivityStatuses_CreateOrUpdate",
        "description": "Create a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/entity-types.json#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "required": true,
            "description": "Name of ConnectivityStatus",
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation update completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConnectivityStatuses_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ConnectivityStatuses"
        ],
        "operationId": "ConnectivityStatuses_Update",
        "description": "Update a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/entity-types.json#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "required": true,
            "description": "Name of ConnectivityStatus",
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatusUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_Update_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Update_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_Update_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ConnectivityStatuses"
        ],
        "operationId": "ConnectivityStatuses_Delete",
        "description": "Delete a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/entity-types.json#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "required": true,
            "description": "Name of ConnectivityStatus",
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Delete_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_Delete_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectivityStatus": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectivityStatusProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A Microsoft.Edge connectivity status resource",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConnectivityStatusListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityStatus"
          },
          "description": "The ConnectivityStatus items on this page",
          "x-typespec-name": "ConnectivityStatus[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a ConnectivityStatus list operation.",
      "required": [
        "value"
      ]
    },
    "ConnectivityStatusProperties": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The Status",
          "enum": [
            "Connected",
            "NotRecentlyConnected",
            "NeedsAttention"
          ],
          "x-ms-enum": {
            "name": "Connectivity Status Enum",
            "modelAsString": true,
            "values": [
              {
                "name": "Connected",
                "value": "Connected",
                "description": "The device is in Connected state"
              },
              {
                "name": "NotRecentlyConnected",
                "value": "NotRecentlyConnected",
                "description": "The device was NotRecentlyConnected"
              },
              {
                "name": "NeedsAttention",
                "value": "NeedsAttention",
                "description": "The device NeedsAttention"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "../../../common-types/v1/entity-types.json#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "ConnectivityStatus properties"
    },
    "ConnectivityStatusUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectivityStatusUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the ConnectivityStatus."
    },
    "ConnectivityStatusUpdateProperties": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The Status",
          "enum": [
            "Connected",
            "NotRecentlyConnected",
            "NeedsAttention"
          ],
          "x-ms-enum": {
            "name": "Connectivity Status Enum For Update",
            "modelAsString": true,
            "values": [
              {
                "name": "Connected",
                "value": "Connected",
                "description": "The device is in Connected state"
              },
              {
                "name": "NotRecentlyConnected",
                "value": "NotRecentlyConnected",
                "description": "The device was NotRecentlyConnected"
              },
              {
                "name": "NeedsAttention",
                "value": "NeedsAttention",
                "description": "The device NeedsAttention"
              }
            ]
          }
        }
      },
      "description": "The updatable properties of the ConnectivityStatus."
    }
  }
}
