{
  "swagger": "2.0",
  "info": {
    "version": "2025-09-15-preview",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Microsoft Entra ID OAuth 2.0 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/extensions": {
      "get": {
        "operationId": "Extensions_ListByArcSetting",
        "description": "List all Extensions under ArcSetting resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Extensions under ArcSetting resource": {
            "$ref": "./examples/ListExtensionsByArcSetting.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/extensions/{extensionName}": {
      "get": {
        "operationId": "Extensions_Get",
        "description": "Get particular Arc Extension of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ArcSettings Extension": {
            "$ref": "./examples/GetExtension.json"
          }
        }
      },
      "put": {
        "operationId": "Extensions_Create",
        "description": "Create Extension for HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "name": "extension",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Extension"
            },
            "description": "Details of the Machine Extension to be created."
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Succeeded",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Arc Extension": {
            "$ref": "./examples/PutExtension.json"
          }
        }
      },
      "patch": {
        "operationId": "Extensions_Update",
        "description": "Update Extension for HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "name": "extension",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionPatch"
            },
            "description": "Details of the Machine Extension to be created."
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "x-ms-examples": {
          "Update Arc Extension": {
            "$ref": "./examples/PatchExtension.json"
          }
        }
      },
      "delete": {
        "operationId": "Extensions_Delete",
        "description": "Delete particular Arc Extension of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "OK"
          },
          "204": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete Arc Extension": {
            "$ref": "./examples/DeleteExtension.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/extensions/{extensionName}/upgrade": {
      "post": {
        "operationId": "Extensions_Upgrade",
        "description": "Upgrade a particular Arc Extension of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "name": "extensionUpgradeParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionUpgradeParameters"
            },
            "description": "Parameters supplied to the Upgrade Extensions operation."
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Upgrade Machine Extensions": {
            "$ref": "./examples/Extensions_Upgrade.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Extension": {
      "description": "Details of a particular extension in HCI Cluster.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Describes Machine Extension Properties.",
          "$ref": "#/definitions/ExtensionProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ExtensionPatch": {
      "description": "Extension Details to update",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Describes Machine Extension Properties that can be updated.",
          "$ref": "#/definitions/ExtensionPatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ExtensionProperties": {
      "description": "Status of Arc Extension for a particular node in HCI Cluster.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the Extension proxy resource. Indicates the current lifecycle status of the resource, such as whether it's being created, updated, deleted, or has encountered an error.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Failed",
            "Canceled",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "name": "NotSpecified",
                "value": "NotSpecified",
                "description": "The provisioning state is not specified."
              },
              {
                "name": "Error",
                "value": "Error",
                "description": "An error occurred during provisioning."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "Provisioning completed successfully."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "Provisioning failed."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "Provisioning was canceled."
              },
              {
                "name": "Connected",
                "value": "Connected",
                "description": "The resource is connected."
              },
              {
                "name": "Disconnected",
                "value": "Disconnected",
                "description": "The resource is disconnected."
              },
              {
                "name": "Deleted",
                "value": "Deleted",
                "description": "The resource has been deleted."
              },
              {
                "name": "Creating",
                "value": "Creating",
                "description": "The resource is being created."
              },
              {
                "name": "Updating",
                "value": "Updating",
                "description": "The resource is being updated."
              },
              {
                "name": "Deleting",
                "value": "Deleting",
                "description": "The resource is being deleted."
              },
              {
                "name": "Moving",
                "value": "Moving",
                "description": "The resource is being moved."
              },
              {
                "name": "PartiallySucceeded",
                "value": "PartiallySucceeded",
                "description": "Provisioning partially succeeded."
              },
              {
                "name": "PartiallyConnected",
                "value": "PartiallyConnected",
                "description": "The resource is partially connected."
              },
              {
                "name": "InProgress",
                "value": "InProgress",
                "description": "Provisioning is in progress."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "Provisioning request has been accepted."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The resource is currently provisioning."
              }
            ]
          },
          "readOnly": true
        },
        "extensionParameters": {
          "description": "Parameters specific to this extension type.",
          "$ref": "#/definitions/ExtensionParameters",
          "x-ms-client-flatten": true
        },
        "aggregateState": {
          "description": "Aggregate state of Arc Extensions across the nodes in this HCI cluster. This reflects the overall status of the extension deployment and operation across all nodes.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Canceled",
            "Failed",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning",
            "UpgradeFailedRollbackSucceeded"
          ],
          "x-ms-enum": {
            "name": "ExtensionAggregateState",
            "modelAsString": true,
            "values": [
              {
                "name": "NotSpecified",
                "value": "NotSpecified",
                "description": "The aggregate state is not specified."
              },
              {
                "name": "Error",
                "value": "Error",
                "description": "An error occurred in the aggregate state."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The operation succeeded across all nodes."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "The operation was canceled across the nodes."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The operation failed on all or most nodes."
              },
              {
                "name": "Connected",
                "value": "Connected",
                "description": "All nodes are connected."
              },
              {
                "name": "Disconnected",
                "value": "Disconnected",
                "description": "All nodes are disconnected."
              },
              {
                "name": "Deleted",
                "value": "Deleted",
                "description": "The extension has been deleted from all nodes."
              },
              {
                "name": "Creating",
                "value": "Creating",
                "description": "The extension is being created across the nodes."
              },
              {
                "name": "Updating",
                "value": "Updating",
                "description": "The extension is being updated across the nodes."
              },
              {
                "name": "Deleting",
                "value": "Deleting",
                "description": "The extension is being deleted across the nodes."
              },
              {
                "name": "Moving",
                "value": "Moving",
                "description": "The extension is being moved across the nodes."
              },
              {
                "name": "PartiallySucceeded",
                "value": "PartiallySucceeded",
                "description": "The operation succeeded on some nodes."
              },
              {
                "name": "PartiallyConnected",
                "value": "PartiallyConnected",
                "description": "Some nodes are connected, others are not."
              },
              {
                "name": "InProgress",
                "value": "InProgress",
                "description": "The operation is currently in progress across the nodes."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "The operation has been accepted and is pending execution."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The extension is currently being provisioned across the nodes."
              },
              {
                "name": "UpgradeFailedRollbackSucceeded",
                "value": "UpgradeFailedRollbackSucceeded",
                "description": "Extension upgrade failed, but rollback succeeded across the nodes."
              }
            ]
          },
          "readOnly": true
        },
        "perNodeExtensionDetails": {
          "description": "State of Arc Extension in each of the nodes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerNodeExtensionState"
          },
          "readOnly": true
        },
        "managedBy": {
          "description": "Indicates if the extension is managed by Azure or the user. This determines who controls the deployment and lifecycle of the extension.",
          "type": "string",
          "enum": [
            "Azure",
            "User"
          ],
          "x-ms-enum": {
            "name": "ExtensionManagedBy",
            "modelAsString": true,
            "values": [
              {
                "name": "Azure",
                "value": "Azure",
                "description": "The extension is managed by Azure."
              },
              {
                "name": "User",
                "value": "User",
                "description": "The extension is managed by the user."
              }
            ]
          },
          "readOnly": true
        }
      }
    },
    "ExtensionPatchProperties": {
      "description": "Describes Machine Extension Properties that can be updated.",
      "type": "object",
      "properties": {
        "extensionParameters": {
          "description": "Describes the properties of a Machine Extension that can be updated.",
          "$ref": "#/definitions/ExtensionPatchParameters"
        }
      }
    },
    "ExtensionPatchParameters": {
      "description": "Describes the properties of a Machine Extension that can be updated.",
      "type": "object",
      "properties": {
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler. Latest version would be used if not specified."
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available."
        },
        "settings": {
          "type": "object",
          "description": "Json formatted public settings for the extension."
        },
        "protectedSettings": {
          "type": "object",
          "description": "Protected settings (may contain secrets).",
          "x-ms-secret": true
        }
      }
    },
    "PerNodeExtensionState": {
      "description": "Status of Arc Extension for a particular node in HCI Cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the node in HCI Cluster.",
          "type": "string",
          "readOnly": true
        },
        "extension": {
          "description": "Fully qualified resource ID for the particular Arc Extension on this node.",
          "type": "string",
          "readOnly": true
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler.",
          "readOnly": true
        },
        "state": {
          "description": "State of Arc Extension in this node. Reflects the current lifecycle status of the extension on the individual node, such as whether it's being created, updated, deleted, or has encountered an error.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Canceled",
            "Failed",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "NodeExtensionState",
            "modelAsString": true,
            "values": [
              {
                "name": "NotSpecified",
                "value": "NotSpecified",
                "description": "The state is not specified."
              },
              {
                "name": "Error",
                "value": "Error",
                "description": "An error occurred during the extension lifecycle."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The extension operation completed successfully."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "The extension operation was canceled."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The extension operation failed."
              },
              {
                "name": "Connected",
                "value": "Connected",
                "description": "The extension is connected on the node."
              },
              {
                "name": "Disconnected",
                "value": "Disconnected",
                "description": "The extension is disconnected on the node."
              },
              {
                "name": "Deleted",
                "value": "Deleted",
                "description": "The extension has been deleted from the node."
              },
              {
                "name": "Creating",
                "value": "Creating",
                "description": "The extension is being created on the node."
              },
              {
                "name": "Updating",
                "value": "Updating",
                "description": "The extension is being updated on the node."
              },
              {
                "name": "Deleting",
                "value": "Deleting",
                "description": "The extension is being deleted from the node."
              },
              {
                "name": "Moving",
                "value": "Moving",
                "description": "The extension is being moved on the node."
              },
              {
                "name": "PartiallySucceeded",
                "value": "PartiallySucceeded",
                "description": "The extension operation partially succeeded."
              },
              {
                "name": "PartiallyConnected",
                "value": "PartiallyConnected",
                "description": "The extension is partially connected on the node."
              },
              {
                "name": "InProgress",
                "value": "InProgress",
                "description": "The extension operation is currently in progress."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "The extension operation has been accepted and is pending execution."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The extension is currently being provisioned on the node."
              }
            ]
          },
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/ExtensionInstanceView",
          "description": "The extension instance view.",
          "readOnly": true
        }
      }
    },
    "ExtensionList": {
      "description": "List of Extensions in HCI cluster.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Extensions in HCI cluster.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExtensionParameters": {
      "description": "Describes the properties of a Machine Extension. This object mirrors the definition in HybridCompute.",
      "type": "object",
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension configuration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler. Latest version would be used if not specified."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
        },
        "settings": {
          "type": "object",
          "description": "Json formatted public settings for the extension."
        },
        "protectedSettings": {
          "type": "object",
          "description": "Protected settings (may contain secrets).",
          "x-ms-secret": true
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available."
        }
      }
    },
    "ExtensionInstanceView": {
      "type": "object",
      "description": "Describes the Extension Instance View.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The extension name."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"MicrosoftMonitoringAgent\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "status": {
          "type": "object",
          "description": "Instance view status.",
          "properties": {
            "code": {
              "type": "string",
              "description": "The status code."
            },
            "level": {
              "type": "string",
              "description": "The level code. Indicates the severity or importance of the status message.",
              "enum": [
                "Info",
                "Warning",
                "Error"
              ],
              "x-ms-enum": {
                "name": "StatusLevelTypes",
                "modelAsString": true,
                "values": [
                  {
                    "name": "Info",
                    "value": "Info",
                    "description": "Informational message indicating normal operation."
                  },
                  {
                    "name": "Warning",
                    "value": "Warning",
                    "description": "Warning message indicating a potential issue or non-critical problem."
                  },
                  {
                    "name": "Error",
                    "value": "Error",
                    "description": "Error message indicating a failure or critical issue."
                  }
                ]
              }
            },
            "displayStatus": {
              "type": "string",
              "description": "The short localizable label for the status."
            },
            "message": {
              "type": "string",
              "description": "The detailed status message, including for alerts and error messages."
            },
            "time": {
              "type": "string",
              "format": "date-time",
              "description": "The time of the status."
            }
          }
        }
      }
    },
    "ExtensionUpgradeParameters": {
      "type": "object",
      "description": "Describes the parameters for Extension upgrade.",
      "properties": {
        "targetVersion": {
          "type": "string",
          "description": "Extension Upgrade Target Version."
        }
      }
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "ArcSettingNameParameter": {
      "name": "arcSettingName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the proxy resource holding details of HCI ArcSetting information.",
      "x-ms-parameter-location": "method"
    },
    "ExtensionNameParameter": {
      "name": "extensionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the machine extension.",
      "x-ms-parameter-location": "method"
    }
  }
}
