{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2021-09-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/galleryimages/{galleryimagesName}": {
      "get": {
        "operationId": "galleryimages_Retrieve",
        "description": "Gets galleryimages by resource name",
        "x-ms-examples": {
          "GetGalleryImage": {
            "$ref": "./examples/GetGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Retrieved the gallery image resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        }
      },
      "put": {
        "operationId": "galleryimages_CreateOrUpdate",
        "description": "Create or update a gallery image.",
        "x-ms-examples": {
          "PutGalleryImage": {
            "$ref": "./examples/PutGalleryImage.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryimages",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the gallery image resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          },
          "201": {
            "description": "Creates the gallery image resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        }
      },
      "delete": {
        "operationId": "galleryimages_Delete",
        "description": "Delete a gallery image.",
        "x-ms-examples": {
          "DeleteGalleryImage": {
            "$ref": "./examples/DeleteGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the gallery image resource."
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "galleryimages_Update",
        "description": "Update a gallery image.",
        "x-ms-examples": {
          "UpdateGalleryImage": {
            "$ref": "./examples/UpdateGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryimages",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/galleryimagesPatch"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the gallery image resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          },
          "201": {
            "description": "Updates the gallery image resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/galleryimages": {
      "get": {
        "operationId": "galleryimages_ListByResourceGroup",
        "description": "Lists all galleryimages under the resource group.",
        "x-ms-examples": {
          "ListGalleryImageByResourceGroup": {
            "$ref": "./examples/ListGalleryImageByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all galleryimages under the resource group.",
            "schema": {
              "$ref": "#/definitions/galleryimagesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/galleryimages": {
      "get": {
        "operationId": "galleryimages_ListBySubscription",
        "description": "List all galleryimages under the subscription",
        "x-ms-examples": {
          "ListGalleryImageByResourceGroup": {
            "$ref": "./examples/ListGalleryImageBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all galleryimages under the subscription.",
            "schema": {
              "$ref": "#/definitions/galleryimagesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "galleryimagesProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Container Name for storage container"
        },
        "imagePath": {
          "type": "string",
          "x-ms-secret": true,
          "description": "location of the image the gallery image should be created from"
        },
        "osType": {
          "type": "string",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          },
          "description": "operating system type that the gallery image uses. Expected to be linux or windows"
        },
        "cloudInitDataSource": {
          "type": "string",
          "description": "Datasource for the gallery image when provisioning with cloud-init (Azure or NoCloud)",
          "enum": [
            "NoCloud",
            "Azure"
          ],
          "x-ms-enum": {
            "name": "CloudInitDataSource",
            "modelAsString": true
          }
        },
        "hyperVGeneration": {
          "type": "string",
          "description": "The hypervisor generation of the Virtual Machine [V1, V2]",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGeneration",
            "modelAsString": true
          }
        },
        "identifier": {
          "$ref": "#/definitions/galleryImageIdentifier"
        },
        "version": {
          "$ref": "#/definitions/galleryImageVersion"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the gallery image.",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "InProgress",
            "Accepted",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true
          }
        },
        "resourceName": {
          "type": "string",
          "description": "name of the object to be used in moc"
        },
        "status": {
          "$ref": "#/definitions/GalleryImageStatus"
        }
      },
      "description": "Properties of a gallery image resource"
    },
    "GalleryImageStatus": {
      "type": "object",
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Gallery image provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        },
        "provisioningStatus": {
          "type": "object",
          "description": "The provisioning status of the gallery image",
          "properties": {
            "operationId": {
              "type": "string",
              "description": "The ID of the operation performed on the gallery image"
            },
            "status": {
              "type": "string",
              "description": "The status of the operation performed on the gallery image [Succeeded, Failed, InProgress]",
              "enum": [
                "Succeeded",
                "Failed",
                "InProgress"
              ],
              "x-ms-enum": {
                "name": "ProvisioningStatusEnum",
                "modelAsString": true
              }
            }
          }
        },
        "downloadStatus": {
          "type": "object",
          "properties": {
            "downloadSizeInMB": {
              "type": "integer",
              "format": "int64",
              "description": "The downloaded sized of the image in MB"
            }
          },
          "description": "The download status of the gallery image"
        },
        "progressPercentage": {
          "type": "integer",
          "format": "int64",
          "description": "The progress of the operation in percentage"
        }
      },
      "description": "GalleryImageStatus defines the observed state of galleryimages"
    },
    "galleryImageIdentifier": {
      "type": "object",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The name of the gallery image definition publisher."
        },
        "offer": {
          "type": "string",
          "description": "The name of the gallery image definition offer."
        },
        "sku": {
          "type": "string",
          "description": "The name of the gallery image definition SKU."
        }
      },
      "required": [
        "publisher",
        "offer",
        "sku"
      ],
      "description": "This is the gallery image definition identifier."
    },
    "galleryImageVersion": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This is the version of the gallery image."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/galleryImageVersionProperties"
        }
      },
      "description": "Specifies information about the gallery image version that you want to create or update."
    },
    "galleryImageVersionProperties": {
      "type": "object",
      "properties": {
        "storageProfile": {
          "$ref": "#/definitions/galleryImageVersionStorageProfile"
        }
      },
      "required": [
        "storageProfile"
      ],
      "description": "Describes the properties of a gallery image version."
    },
    "galleryImageVersionStorageProfile": {
      "type": "object",
      "properties": {
        "osDiskImage": {
          "$ref": "#/definitions/galleryOSDiskImage"
        }
      },
      "description": "This is the storage profile of a Gallery Image Version."
    },
    "galleryOSDiskImage": {
      "allOf": [
        {
          "$ref": "#/definitions/galleryDiskImage"
        }
      ],
      "description": "This is the OS disk image."
    },
    "galleryDiskImage": {
      "type": "object",
      "properties": {
        "sizeInMB": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "This property indicates the size of the VHD to be created."
        }
      },
      "description": "This is the disk image base class."
    },
    "galleryimages": {
      "type": "object",
      "description": "The gallery image resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/galleryimagesProperties"
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extendedLocation of the resource."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "galleryimagesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The gallery image resource patch definition."
    },
    "galleryimagesListResult": {
      "type": "object",
      "description": "List of galleryimages.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/galleryimages"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "galleryimagesNameParameter": {
      "name": "galleryimagesName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3,
      "description": "Name of the gallery image"
    }
  }
}
