{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2021-09-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/marketplacegalleryimages/{marketplacegalleryimagesName}": {
      "get": {
        "operationId": "marketplacegalleryimages_Get",
        "description": "Gets marketplacegalleryimages by resource name",
        "x-ms-examples": {
          "GetMarketplaceGalleryImage": {
            "$ref": "./examples/GetMarketplaceGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/marketplacegalleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Retrieved the marketplace gallery image resource.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimages"
            }
          }
        }
      },
      "put": {
        "operationId": "marketplacegalleryimages_CreateOrUpdate",
        "description": "Creates or updates a marketplace gallery image",
        "x-ms-examples": {
          "PutMarketplaceGalleryImage": {
            "$ref": "./examples/PutMarketplaceGalleryImage.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/marketplacegalleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "marketplacegalleryimages",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimages"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the marketplace gallery image resource.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimages"
            }
          },
          "201": {
            "description": "Creates the marketplace gallery image resource.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimages"
            }
          }
        }
      },
      "delete": {
        "operationId": "marketplacegalleryimages_Delete",
        "description": "Deletes a marketplace gallery image",
        "x-ms-examples": {
          "DeleteMarketplaceGalleryImage": {
            "$ref": "./examples/DeleteMarketplaceGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/marketplacegalleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the marketplace gallery image resource."
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "marketplacegalleryimages_Update",
        "description": "Updates a marketplace gallery image",
        "x-ms-examples": {
          "UpdateMarketplaceGalleryImage": {
            "$ref": "./examples/UpdateMarketplaceGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/marketplacegalleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "marketplacegalleryimages",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimagesPatch"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the marketplace gallery image resource.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimages"
            }
          },
          "201": {
            "description": "Updates the marketplace gallery image resource.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimages"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/marketplacegalleryimages": {
      "get": {
        "operationId": "marketplacegalleryimages_ListByResourceGroup",
        "description": "Lists all marketplacegalleryimages under the resource group",
        "x-ms-examples": {
          "ListMarketplaceGalleryImageByResourceGroup": {
            "$ref": "./examples/ListMarketplaceGalleryImageByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all marketplacegalleryimages under the resource group.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimagesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/marketplacegalleryimages": {
      "get": {
        "operationId": "marketplacegalleryimages_ListBySubscription",
        "description": "Lists all marketplacegalleryimages under the subscription",
        "x-ms-examples": {
          "ListMarketplaceGalleryImageBySubscription": {
            "$ref": "./examples/ListMarketplaceGalleryImageBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all marketplacegalleryimages under the subscription.",
            "schema": {
              "$ref": "#/definitions/marketplacegalleryimagesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "marketplacegalleryimagesProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Container Name for storage container"
        },
        "osType": {
          "type": "string",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          },
          "description": "operating system type that the gallery image uses. Expected to be linux or windows"
        },
        "cloudInitDataSource": {
          "type": "string",
          "description": "Datasource for the gallery image when provisioning with cloud-init [Azure, NoCloud]",
          "enum": [
            "NoCloud",
            "Azure"
          ],
          "x-ms-enum": {
            "name": "CloudInitDataSource",
            "modelAsString": true
          }
        },
        "hyperVGeneration": {
          "type": "string",
          "description": "The hypervisor generation of the Virtual Machine [V1, V2]",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGeneration",
            "modelAsString": true
          }
        },
        "identifier": {
          "$ref": "#/definitions/galleryImageIdentifier"
        },
        "version": {
          "$ref": "#/definitions/galleryImageVersion"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the gallery image.",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "InProgress",
            "Accepted",
            "Deleting",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true
          }
        },
        "resourceName": {
          "type": "string",
          "description": "name of the object to be used in moc"
        },
        "status": {
          "$ref": "#/definitions/MarketplaceGalleryImageStatus"
        }
      },
      "description": "Properties of a marketplace gallery image resource"
    },
    "MarketplaceGalleryImageStatus": {
      "type": "object",
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Marketplace gallery image provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        },
        "provisioningStatus": {
          "type": "object",
          "description": "The provisioning status of the marketplace gallery image",
          "properties": {
            "operationId": {
              "type": "string",
              "description": "The ID of the operation performed on the marketplace gallery image"
            },
            "status": {
              "type": "string",
              "description": "The status of the operation performed on the marketplace gallery image [Succeeded, Failed, InProgress]",
              "enum": [
                "Succeeded",
                "Failed",
                "InProgress"
              ],
              "x-ms-enum": {
                "name": "ProvisioningStatusEnum",
                "modelAsString": true
              }
            }
          }
        },
        "downloadStatus": {
          "type": "object",
          "properties": {
            "downloadSizeInMB": {
              "type": "integer",
              "format": "int64",
              "description": "The downloaded sized of the image in MB"
            }
          },
          "description": "The download status of the marketplace gallery image"
        },
        "progressPercentage": {
          "type": "integer",
          "format": "int64",
          "description": "The progress of the operation in percentage"
        }
      },
      "description": "MarketplaceGalleryImageStatus defines the observed state of marketplacegalleryimages"
    },
    "galleryImageIdentifier": {
      "type": "object",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The name of the gallery image definition publisher."
        },
        "offer": {
          "type": "string",
          "description": "The name of the gallery image definition offer."
        },
        "sku": {
          "type": "string",
          "description": "The name of the gallery image definition SKU."
        }
      },
      "required": [
        "publisher",
        "offer",
        "sku"
      ],
      "description": "This is the gallery image definition identifier."
    },
    "galleryImageVersion": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This is the version of the gallery image."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/galleryImageVersionProperties"
        }
      },
      "description": "Specifies information about the gallery image version that you want to create or update."
    },
    "galleryImageVersionProperties": {
      "type": "object",
      "properties": {
        "storageProfile": {
          "$ref": "#/definitions/galleryImageVersionStorageProfile"
        }
      },
      "required": [
        "storageProfile"
      ],
      "description": "Describes the properties of a gallery image version."
    },
    "galleryImageVersionStorageProfile": {
      "type": "object",
      "properties": {
        "osDiskImage": {
          "$ref": "#/definitions/galleryOSDiskImage"
        }
      },
      "description": "This is the storage profile of a Gallery Image Version."
    },
    "galleryOSDiskImage": {
      "allOf": [
        {
          "$ref": "#/definitions/galleryDiskImage"
        }
      ],
      "description": "This is the OS disk image."
    },
    "galleryDiskImage": {
      "type": "object",
      "properties": {
        "sizeInMB": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "This property indicates the size of the VHD to be created."
        }
      },
      "description": "This is the disk image base class."
    },
    "marketplacegalleryimages": {
      "type": "object",
      "description": "The marketplace gallery image resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/marketplacegalleryimagesProperties"
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extendedLocation of the resource."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "marketplacegalleryimagesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The marketplace gallery image resource patch definition."
    },
    "marketplacegalleryimagesListResult": {
      "type": "object",
      "description": "List of marketplacegalleryimages.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The itemed list of marketplacegalleryimages",
          "items": {
            "$ref": "#/definitions/marketplacegalleryimages"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "marketplacegalleryimagesNameParameter": {
      "name": "marketplacegalleryimagesName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3,
      "description": "Name of the marketplace gallery image"
    }
  }
}
