{
  "swagger": "2.0",
  "info": {
    "title": "Azure API for MySQLDiscovery",
    "version": "2024-09-30-preview",
    "description": "The Microsoft.MySQLDiscovery Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MySQLSites"
    },
    {
      "name": "MySQLServers"
    },
    {
      "name": "ErrorSummaries"
    },
    {
      "name": "Summaries"
    }
  ],
  "paths": {
    "/providers/Microsoft.MySQLDiscovery/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MySQLDiscovery/MySQLSites": {
      "get": {
        "operationId": "MySqlSites_ListBySubscription",
        "tags": [
          "MySQLSites"
        ],
        "description": "Lists the MySQLSites resource in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLSiteList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites": {
      "get": {
        "operationId": "MySqlSites_ListByResourceGroup",
        "tags": [
          "MySQLSites"
        ],
        "description": "Lists the MySQLSites resource in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLSiteList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}": {
      "get": {
        "operationId": "MySqlSites_Get",
        "tags": [
          "MySQLSites"
        ],
        "description": "Gets the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "MySqlSites_CreateOrUpdate",
        "tags": [
          "MySQLSites"
        ],
        "description": "Puts the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The machines to add to the assessment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MySQLSite' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "201": {
            "description": "Resource 'MySQLSite' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MySqlSites_Update",
        "tags": [
          "MySQLSites"
        ],
        "description": "Patch the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Clouds patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLSitesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MySqlSites_Delete",
        "tags": [
          "MySQLSites"
        ],
        "description": "Deletes the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers": {
      "get": {
        "operationId": "MySqlServers_ListBySite",
        "tags": [
          "MySQLServers"
        ],
        "description": "Lists the MySQLServers resource in MySQLSites.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLServerList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers/{serverName}": {
      "get": {
        "operationId": "MySqlServers_Get",
        "tags": [
          "MySQLServers"
        ],
        "description": "Gets the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of Server",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "MySqlServers_CreateOrUpdate",
        "tags": [
          "MySQLServers"
        ],
        "description": "Puts the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of Server",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The machines to add to the assessment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MySQLServer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "201": {
            "description": "Resource 'MySQLServer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "MySqlServers_Update",
        "tags": [
          "MySQLServers"
        ],
        "description": "Patch the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of Server",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Clouds patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLServerResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MySqlServers_Delete",
        "tags": [
          "MySQLServers"
        ],
        "description": "Deletes the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of Server",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/errorSummaries": {
      "get": {
        "operationId": "ErrorSummaries_ListBySite",
        "tags": [
          "ErrorSummaries"
        ],
        "description": "Lists the ErrorSummaries resource in MySQLSites.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorSummaryList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ErrorSummaries_ListBySite": {
            "$ref": "./examples/ErrorSummaries_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/errorSummaries/{errorSummaryName}": {
      "get": {
        "operationId": "ErrorSummaries_Get",
        "tags": [
          "ErrorSummaries"
        ],
        "description": "Gets the ErrorSummaries resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "errorSummaryName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ErrorSummaries_Get": {
            "$ref": "./examples/ErrorSummaries_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/refresh": {
      "post": {
        "operationId": "MySqlSites_TriggerRefresh",
        "tags": [
          "MySQLSites"
        ],
        "description": "Trigger Refresh Refresh action",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/summaries": {
      "get": {
        "operationId": "Summaries_ListBySite",
        "tags": [
          "Summaries"
        ],
        "description": "Lists the Summaries resource in MySQLSites.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SummaryList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Summaries_ListBySite": {
            "$ref": "./examples/Summaries_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/summaries/{summaryName}": {
      "get": {
        "operationId": "Summaries_Get",
        "tags": [
          "Summaries"
        ],
        "description": "Gets the Summaries resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "summaryName",
            "in": "path",
            "description": "The name of summary",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Summaries_Get": {
            "$ref": "./examples/Summaries_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Edition": {
      "type": "string",
      "description": "Mysql server edition.",
      "enum": [
        "Community",
        "Enterprise"
      ],
      "x-ms-enum": {
        "name": "Edition",
        "modelAsString": true,
        "values": [
          {
            "name": "Community",
            "value": "Community",
            "description": "Community edition"
          },
          {
            "name": "Enterprise",
            "value": "Enterprise",
            "description": "Enterprise edition"
          }
        ]
      }
    },
    "Error": {
      "type": "object",
      "description": "Defines the error.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The error ID."
        },
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "summaryMessage": {
          "type": "string",
          "description": "The summarized error message."
        },
        "runAsAccountId": {
          "type": "string",
          "description": "The account ID used to login."
        },
        "message": {
          "type": "string",
          "description": "The detailed error message."
        },
        "possibleCause": {
          "type": "string",
          "description": "The error possible cause."
        },
        "recommendedAction": {
          "type": "string",
          "description": "Gets description of the checkpoint."
        },
        "severity": {
          "type": "string",
          "description": "Gets description of the severity."
        },
        "updatedTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this error was last updated."
        }
      }
    },
    "ErrorSummariesProperties": {
      "type": "object",
      "description": "Error summaries properties",
      "properties": {
        "affectedObjectsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of affected objects."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      }
    },
    "ErrorSummary": {
      "type": "object",
      "description": "The ErrorSummary resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ErrorSummariesProperties",
          "description": "Resource properties."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ErrorSummaryList": {
      "type": "object",
      "description": "List of ErrorSummaries.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ErrorSummary items on this page",
          "items": {
            "$ref": "#/definitions/ErrorSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location for off-azure resources.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "MySQLServer": {
      "type": "object",
      "description": "The MySQLServer resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MySQLServerProperties",
          "description": "Resource properties."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MySQLServerList": {
      "type": "object",
      "description": "List of Servers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MySQLServer items on this page",
          "items": {
            "$ref": "#/definitions/MySQLServer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MySQLServerProperties": {
      "type": "object",
      "description": "MySQL Server properties",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "The Server IP/host name."
        },
        "hostIp": {
          "type": "array",
          "description": "The Server IP/host name.",
          "items": {
            "type": "string"
          }
        },
        "machineId": {
          "type": "string",
          "format": "arm-id",
          "description": "discovery Machine Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OffAzure/serverSites/machines"
              }
            ]
          }
        },
        "portNumber": {
          "type": "string",
          "description": "MySQL Server port number"
        },
        "mysqlVersion": {
          "type": "string",
          "description": "The mysql server version."
        },
        "numberOfDatabase": {
          "type": "integer",
          "format": "int64",
          "description": "The number of database."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "mysql version support status."
        },
        "edition": {
          "$ref": "#/definitions/Edition",
          "description": "mysql server edition."
        },
        "supportEndIn": {
          "type": "string",
          "format": "date",
          "description": "Time when mysql version support end."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "hostName",
        "portNumber"
      ]
    },
    "MySQLServerResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/MySQLServerProperties",
          "description": "The MySQLServer resource definition."
        }
      }
    },
    "MySQLSite": {
      "type": "object",
      "description": "The MySQLSite resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MySQLSiteProperties",
          "description": "Resource properties."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "properties",
        "extendedLocation"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MySQLSiteList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MySQLSite items on this page",
          "items": {
            "$ref": "#/definitions/MySQLSite"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MySQLSiteProperties": {
      "type": "object",
      "description": "MySQL Site properties",
      "properties": {
        "masterSiteId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped master Site Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OffAzure/masterSites"
              }
            ]
          }
        },
        "migrateProjectId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped migrate project Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/migrateProjects"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "masterSiteId",
        "migrateProjectId"
      ]
    },
    "MySQLSitesResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/MySQLSiteProperties",
          "description": "The MySQLSites resource definition."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Gets or sets the provisioning state.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Provising State"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded Provising State"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed Provising State"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled Provising State"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating Provising State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting Provising State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating Provising State"
          }
        ]
      },
      "readOnly": true
    },
    "SummariesProperties": {
      "type": "object",
      "description": "Summaries properties",
      "properties": {
        "discoveredServers": {
          "type": "integer",
          "format": "int64",
          "description": "The number of discovered server."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      }
    },
    "Summary": {
      "type": "object",
      "description": "The Summary resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SummariesProperties",
          "description": "Resource properties."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SummaryList": {
      "type": "object",
      "description": "List of Summaries.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Summary items on this page",
          "items": {
            "$ref": "#/definitions/Summary"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SupportStatus": {
      "type": "string",
      "description": "Mysql version support status.",
      "enum": [
        "OutOfSupport",
        "Extended",
        "Mainstream"
      ],
      "x-ms-enum": {
        "name": "SupportStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "OutOfSupport",
            "value": "OutOfSupport",
            "description": "OutOfSupport status"
          },
          {
            "name": "Extended",
            "value": "Extended",
            "description": "Extended status"
          },
          {
            "name": "Mainstream",
            "value": "Mainstream",
            "description": "Mainstream status"
          }
        ]
      }
    },
    "TypeSpec.Http.OkResponse": {
      "type": "object",
      "description": "The request has succeeded."
    }
  },
  "parameters": {}
}
