{
  "swagger": "2.0",
  "info": {
    "title": "Azure API for MySQLDiscovery",
    "version": "2024-09-30-preview",
    "description": "The Microsoft.MySQLDiscovery Rest API spec."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.MySQLDiscovery/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Returns list of all operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MySQLDiscovery/MySQLSites": {
      "get": {
        "operationId": "MySQLSites_ListBySubscription",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements MySQLSites GET method in a subscription.",
        "description": "Lists the MySQLSites resource in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MySQLSites resource.",
            "schema": {
              "$ref": "#/definitions/MySQLSiteList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_ListBySubscription": {
            "$ref": "./examples/MySQLSites_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites": {
      "get": {
        "operationId": "MySQLSites_ListByResourceGroup",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements MySQLSites GET method in a resource group.",
        "description": "Lits the MySQLSites resource in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MySQLSites resource.",
            "schema": {
              "$ref": "#/definitions/MySQLSiteList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_ListByResourceGroup": {
            "$ref": "./examples/MySQLSites_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}": {
      "get": {
        "operationId": "MySQLSites_Get",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements MySQLSites GET method.",
        "description": "Gets the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MySQLSites resource.",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_Get": {
            "$ref": "./examples/MySQLSites_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MySQLSites_CreateOrUpdate",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements MySQLSites PUT method.",
        "description": "Puts the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The machines to add to the assessment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated MySQLSite resource",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "201": {
            "description": "Created MySQLSite resource.",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_Create": {
            "$ref": "./examples/MySQLSites_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MySQLSites_Update",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements MySQLSites PATCH method.",
        "description": "Patch the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Clouds patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLSitesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the MySQLSites resource.",
            "schema": {
              "$ref": "#/definitions/MySQLSite"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_Update": {
            "$ref": "./examples/MySQLSites_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MySQLSites_Delete",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements MySQLSites DELETE method.",
        "description": "Deletes the MySQLSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MySQLSites resource."
          },
          "204": {
            "description": "The MySQLSites resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_Delete": {
            "$ref": "./examples/MySQLSites_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers": {
      "get": {
        "operationId": "MySQLServers_ListBySite",
        "tags": [
          "MySQLServers"
        ],
        "summary": "Implements MySQLServers GET method.",
        "description": "Lists the MySQLServers resource in MySQLSites.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MySQLServers resource.",
            "schema": {
              "$ref": "#/definitions/MySQLServerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLServers_ListBySite": {
            "$ref": "./examples/MySQLServers_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers/{serverName}": {
      "get": {
        "operationId": "MySQLServers_Get",
        "tags": [
          "MySQLServers"
        ],
        "summary": "Implements MySQLServers GET method.",
        "description": "Gets the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MySQLServers resource.",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLServers_Get": {
            "$ref": "./examples/MySQLServers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MySQLServers_CreateOrUpdate",
        "tags": [
          "MySQLServers"
        ],
        "summary": "Implements MySQLServers PUT method.",
        "description": "Puts the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The machines to add to the assessment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update MySQLServer resource.",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "201": {
            "description": "Created MySQLServer resource.",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLServers_Create": {
            "$ref": "./examples/MySQLServers_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "MySQLServers_Update",
        "tags": [
          "MySQLServers"
        ],
        "summary": "Implements MySQLServers PATCH method.",
        "description": "Patch the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Clouds patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MySQLServerResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the MySQLServers resource.",
            "schema": {
              "$ref": "#/definitions/MySQLServer"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLServers_Update": {
            "$ref": "./examples/MySQLServers_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MySQLServers_Delete",
        "tags": [
          "MySQLServers"
        ],
        "summary": "Implements MySQLServers DELETE method.",
        "description": "Deletes the MySQLServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MySQLServers resource."
          },
          "204": {
            "description": "The MySQLServer resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLServers_Delete": {
            "$ref": "./examples/MySQLServers_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/errorSummaries": {
      "get": {
        "operationId": "ErrorSummaries_ListBySite",
        "tags": [
          "ErrorSummaries"
        ],
        "summary": "Implements ErrorSummaries GET method.",
        "description": "Lists the ErrorSummaries resource in MySQLSites.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ErrorSummaries resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSummaryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ErrorSummaries_ListBySite": {
            "$ref": "./examples/ErrorSummaries_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/errorSummaries/{errorSummaryName}": {
      "get": {
        "operationId": "ErrorSummaries_Get",
        "tags": [
          "ErrorSummaries"
        ],
        "summary": "Implements ErrorSummaries GET method.",
        "description": "Gets the ErrorSummaries resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "name": "errorSummaryName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ErrorSummaries resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ErrorSummaries_Get": {
            "$ref": "./examples/ErrorSummaries_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/refresh": {
      "post": {
        "operationId": "MySQLSites_TriggerRefresh",
        "tags": [
          "MySQLSites"
        ],
        "summary": "Implements Refresh POST method.",
        "description": "Trigger Refresh Refresh action",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MySQLSites_TriggerRefresh": {
            "$ref": "./examples/MySQLSites_TriggerRefresh.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/summaries": {
      "get": {
        "operationId": "Summaries_ListBySite",
        "tags": [
          "Summaries"
        ],
        "summary": "Implements Summaries GET method.",
        "description": "Lists the Summaries resource in MySQLSites.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Summaries resource.",
            "schema": {
              "$ref": "#/definitions/SummaryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Summaries_ListBySite": {
            "$ref": "./examples/Summaries_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/summaries/{summaryName}": {
      "get": {
        "operationId": "Summaries_Get",
        "tags": [
          "Summaries"
        ],
        "summary": "Implements Summaries GET method.",
        "description": "Gets the Summaries resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "name": "summaryName",
            "in": "path",
            "description": "The name of summary",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Summaries resource.",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Summaries_Get": {
            "$ref": "./examples/Summaries_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "Defines the error.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The error ID."
        },
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "summaryMessage": {
          "type": "string",
          "description": "The summarized error message."
        },
        "runAsAccountId": {
          "type": "string",
          "description": "The account ID used to login."
        },
        "message": {
          "type": "string",
          "description": "The detailed error message."
        },
        "possibleCause": {
          "type": "string",
          "description": "The error possible cause."
        },
        "recommendedAction": {
          "type": "string",
          "description": "Gets description of the checkpoint."
        },
        "severity": {
          "type": "string",
          "description": "Gets description of the severity."
        },
        "updatedTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this error was last updated."
        }
      }
    },
    "ErrorSummariesProperties": {
      "type": "object",
      "description": "Error summaries properties",
      "properties": {
        "affectedObjectsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of affected objects."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error",
            "description": "The error"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true,
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "value": "Unknown",
                "description": "Unknown Provisioning State"
              },
              {
                "value": "Succeeded",
                "description": "Succeeded Provisioning State"
              },
              {
                "value": "Failed",
                "description": "Failed Provisioning State"
              },
              {
                "value": "Canceled",
                "description": "Canceled Provisioning State"
              },
              {
                "value": "Creating",
                "description": "Creating Provisioning State"
              },
              {
                "value": "Deleting",
                "description": "Deleting Provisioning State"
              },
              {
                "value": "Updating",
                "description": "Updating Provisioning State"
              }
            ]
          }
        }
      }
    },
    "ErrorSummary": {
      "type": "object",
      "description": "The ErrorSummary resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ErrorSummariesProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "ErrorSummaryList": {
      "type": "object",
      "description": "List of ErrorSummaries.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of ErrorSummaries.",
          "items": {
            "$ref": "#/definitions/ErrorSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location for off-azure resources.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "MySQLServer": {
      "type": "object",
      "description": "The MySQLServer resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MySQLServerProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "MySQLServerList": {
      "type": "object",
      "description": "List of Servers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Servers.",
          "items": {
            "$ref": "#/definitions/MySQLServer"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "MySQLServerProperties": {
      "type": "object",
      "description": "MySQL Server properties",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "The Server IP/host name."
        },
        "hostIp": {
          "type": "array",
          "description": "The Server IP/host name.",
          "items": {
            "type": "string"
          }
        },
        "machineId": {
          "type": "string",
          "format": "arm-id",
          "description": "discovery Machine Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OffAzure/serverSites/machines"
              }
            ]
          }
        },
        "portNumber": {
          "type": "string",
          "description": "MySQL Server port number"
        },
        "mysqlVersion": {
          "type": "string",
          "description": "The mysql server version."
        },
        "numberOfDatabase": {
          "type": "integer",
          "format": "int64",
          "description": "The number of database."
        },
        "supportStatus": {
          "type": "string",
          "description": "mysql version support status.",
          "enum": [
            "OutOfSupport",
            "Extended",
            "Mainstream"
          ],
          "x-ms-enum": {
            "name": "supportStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "OutOfSupport",
                "description": "Out of support"
              },
              {
                "value": "Extended",
                "description": "Extended support"
              },
              {
                "value": "Mainstream",
                "description": "Mainstream support"
              }
            ]
          }
        },
        "edition": {
          "type": "string",
          "description": "mysql server edition.",
          "enum": [
            "Community",
            "Enterprise"
          ],
          "x-ms-enum": {
            "name": "edition",
            "modelAsString": true,
            "values": [
              {
                "value": "Community",
                "description": "Community edition"
              },
              {
                "value": "Enterprise",
                "description": "Enterprise edition"
              }
            ]
          }
        },
        "supportEndIn": {
          "type": "string",
          "format": "date",
          "description": "Time when mysql version support end."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error",
            "description": "The error"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true,
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "value": "Unknown",
                "description": "Unknown Provisioning State"
              },
              {
                "value": "Succeeded",
                "description": "Succeeded Provisioning State"
              },
              {
                "value": "Failed",
                "description": "Failed Provisioning State"
              },
              {
                "value": "Canceled",
                "description": "Canceled Provisioning State"
              },
              {
                "value": "Creating",
                "description": "Creating Provisioning State"
              },
              {
                "value": "Deleting",
                "description": "Deleting Provisioning State"
              },
              {
                "value": "Updating",
                "description": "Updating Provisioning State"
              }
            ]
          }
        },
        "labels": {
          "type": "object",
          "description": "Resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "hostName",
        "portNumber"
      ]
    },
    "MySQLServerResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/MySQLServerProperties",
          "description": "The MySQLServer resource definition.",
          "x-ms-client-flatten": true
        }
      }
    },
    "MySQLSite": {
      "type": "object",
      "description": "The MySQLSite resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MySQLSiteProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "extendedLocation",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "MySQLSiteList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/MySQLSite"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "MySQLSiteProperties": {
      "type": "object",
      "description": "MySQL Site properties",
      "properties": {
        "masterSiteId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped master Site Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OffAzure/masterSites"
              }
            ]
          }
        },
        "migrateProjectId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped migrate project Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/migrateProjects"
              }
            ]
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true,
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "value": "Unknown",
                "description": "Unknown Provisioning State"
              },
              {
                "value": "Succeeded",
                "description": "Succeeded Provisioning State"
              },
              {
                "value": "Failed",
                "description": "Failed Provisioning State"
              },
              {
                "value": "Canceled",
                "description": "Canceled Provisioning State"
              },
              {
                "value": "Creating",
                "description": "Creating Provisioning State"
              },
              {
                "value": "Deleting",
                "description": "Deleting Provisioning State"
              },
              {
                "value": "Updating",
                "description": "Updating Provisioning State"
              }
            ]
          }
        }
      },
      "required": [
        "masterSiteId",
        "migrateProjectId"
      ]
    },
    "MySQLSitesResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/MySQLSiteProperties",
          "description": "The MySQLSites resource definition.",
          "x-ms-client-flatten": true
        }
      }
    },
    "SummariesProperties": {
      "type": "object",
      "description": "Summaries properties",
      "properties": {
        "discoveredServers": {
          "type": "integer",
          "format": "int64",
          "description": "The number of discovered server."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error",
            "description": "The error"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true,
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "value": "Unknown",
                "description": "Unknown Provisioning State"
              },
              {
                "value": "Succeeded",
                "description": "Succeeded Provisioning State"
              },
              {
                "value": "Failed",
                "description": "Failed Provisioning State"
              },
              {
                "value": "Canceled",
                "description": "Canceled Provisioning State"
              },
              {
                "value": "Creating",
                "description": "Creating Provisioning State"
              },
              {
                "value": "Deleting",
                "description": "Deleting Provisioning State"
              },
              {
                "value": "Updating",
                "description": "Updating Provisioning State"
              }
            ]
          }
        }
      }
    },
    "Summary": {
      "type": "object",
      "description": "The Summary resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SummariesProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "SummaryList": {
      "type": "object",
      "description": "List of Summaries.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Summaries.",
          "items": {
            "$ref": "#/definitions/Summary"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "description": "The name of Server",
      "required": true,
      "type": "string",
      "minLength": 3,
      "maxLength": 63,
      "pattern": "^[a-zA-Z0-9-]*$"
    },
    "SiteNameParameter": {
      "name": "siteName",
      "in": "path",
      "description": "The name of Site",
      "required": true,
      "type": "string",
      "minLength": 3,
      "maxLength": 63,
      "pattern": "^[a-zA-Z0-9-]*$"
    }
  }
}