{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Security",
    "version": "2025-11-01-preview",
    "description": "REST APIs for Defender for DevOps",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DevOps"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops": {
      "get": {
        "operationId": "DevOpsConfigurations_List",
        "tags": [
          "DevOps"
        ],
        "summary": "List DevOps Configurations.",
        "description": "List DevOps Configurations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevOpsConfigurationListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_DevOpsConfigurations": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListDevOpsConfigurations_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default": {
      "get": {
        "operationId": "DevOpsConfigurations_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Gets a DevOps Configuration.",
        "description": "Gets a DevOps Configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_DevOpsConfigurations": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetDevOpsConfigurations_example.json"
          },
          "Get_DevOpsConfigurations_WithAgentlessConfigurations": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetDevOpsConfigurationsWithAgentlessConfigurations_example.json"
          },
          "Get_DevOpsConfigurations_WithCapabilities": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetDevOpsConfigurationsWithCapabilities_example.json"
          }
        }
      },
      "put": {
        "operationId": "DevOpsConfigurations_CreateOrUpdate",
        "tags": [
          "DevOps"
        ],
        "summary": "Creates or updates a DevOps Configuration.",
        "description": "Creates or updates a DevOps Configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "devOpsConfiguration",
            "in": "body",
            "description": "The DevOps configuration resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DevOpsConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            }
          },
          "201": {
            "description": "Resource 'DevOpsConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate_DevOpsConfigurations_OnboardCurrentAndFuture": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardCurrentAndFuture_example.json"
          },
          "CreateOrUpdate_DevOpsConfigurations_OnboardCurrentOnly": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardCurrentOnly_example.json"
          },
          "CreateOrUpdate_DevOpsConfigurations_OnboardSelected": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardSelected_example.json"
          },
          "CreateOrUpdate_DevOpsConfigurations_WithAgentlessConfigurations": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsWithAgentlessConfigurations_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DevOpsConfiguration"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DevOpsConfigurations_Update",
        "tags": [
          "DevOps"
        ],
        "summary": "Updates a DevOps Configuration.",
        "description": "Updates a DevOps Configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "devOpsConfiguration",
            "in": "body",
            "description": "The DevOps configuration resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/DevOpsConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update_DevOpsConfigurations": {
            "$ref": "./examples/SecurityConnectorsDevOps/UpdateDevOpsConfigurations_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DevOpsConfiguration"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DevOpsConfigurations_Delete",
        "tags": [
          "DevOps"
        ],
        "summary": "Deletes a DevOps Connector.",
        "description": "Deletes a DevOps Connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete_DevOpsConfigurations": {
            "$ref": "./examples/SecurityConnectorsDevOps/DeleteDevOpsConfigurations_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/azureDevOpsOrgs": {
      "get": {
        "operationId": "AzureDevOpsOrgs_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of Azure DevOps organizations onboarded to the connector.",
        "description": "Returns a list of Azure DevOps organizations onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrgListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_AzureDevOpsOrgs": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListAzureDevOpsOrgs_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/azureDevOpsOrgs/{orgName}": {
      "get": {
        "operationId": "AzureDevOpsOrgs_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored Azure DevOps organization resource.",
        "description": "Returns a monitored Azure DevOps organization resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_AzureDevOpsOrgs": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetAzureDevOpsOrgs_example.json"
          }
        }
      },
      "put": {
        "operationId": "AzureDevOpsOrgs_CreateOrUpdate",
        "tags": [
          "DevOps"
        ],
        "summary": "Creates or updates monitored Azure DevOps organization details.",
        "description": "Creates or updates monitored Azure DevOps organization details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureDevOpsOrg",
            "in": "body",
            "description": "The Azure DevOps organization resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureDevOpsOrg' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            }
          },
          "201": {
            "description": "Resource 'AzureDevOpsOrg' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate_AzureDevOpsOrgs": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsOrgs_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureDevOpsOrg"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AzureDevOpsOrgs_Update",
        "tags": [
          "DevOps"
        ],
        "summary": "Updates monitored Azure DevOps organization details.",
        "description": "Updates monitored Azure DevOps organization details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureDevOpsOrg",
            "in": "body",
            "description": "The Azure DevOps organization resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrg"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update_AzureDevOpsOrgs": {
            "$ref": "./examples/SecurityConnectorsDevOps/UpdateAzureDevOpsOrgs_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureDevOpsOrg"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/azureDevOpsOrgs/{orgName}/projects": {
      "get": {
        "operationId": "AzureDevOpsProjects_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of Azure DevOps projects onboarded to the connector.",
        "description": "Returns a list of Azure DevOps projects onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProjectListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_AzureDevOpsProjects": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListAzureDevOpsProjects_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/azureDevOpsOrgs/{orgName}/projects/{projectName}": {
      "get": {
        "operationId": "AzureDevOpsProjects_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored Azure DevOps project resource.",
        "description": "Returns a monitored Azure DevOps project resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_AzureDevOpsProjects": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetAzureDevOpsProjects_example.json"
          }
        }
      },
      "put": {
        "operationId": "AzureDevOpsProjects_CreateOrUpdate",
        "tags": [
          "DevOps"
        ],
        "summary": "Creates or updates a monitored Azure DevOps project resource.",
        "description": "Creates or updates a monitored Azure DevOps project resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureDevOpsProject",
            "in": "body",
            "description": "The Azure DevOps project resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureDevOpsProject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            }
          },
          "201": {
            "description": "Resource 'AzureDevOpsProject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate_AzureDevOpsProjects": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsProjects_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureDevOpsProject"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AzureDevOpsProjects_Update",
        "tags": [
          "DevOps"
        ],
        "summary": "Updates a monitored Azure DevOps project resource.",
        "description": "Updates a monitored Azure DevOps project resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureDevOpsProject",
            "in": "body",
            "description": "The Azure DevOps project resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsProject"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update_AzureDevOpsProjects": {
            "$ref": "./examples/SecurityConnectorsDevOps/UpdateAzureDevOpsProjects_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureDevOpsProject"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/azureDevOpsOrgs/{orgName}/projects/{projectName}/repos": {
      "get": {
        "operationId": "AzureDevOpsRepos_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of Azure DevOps repositories onboarded to the connector.",
        "description": "Returns a list of Azure DevOps repositories onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepositoryListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_AzureDevOpsRepos": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListAzureDevOpsRepos_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/azureDevOpsOrgs/{orgName}/projects/{projectName}/repos/{repoName}": {
      "get": {
        "operationId": "AzureDevOpsRepos_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored Azure DevOps repository resource.",
        "description": "Returns a monitored Azure DevOps repository resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_AzureDevOpsRepos": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetAzureDevOpsRepos_example.json"
          }
        }
      },
      "put": {
        "operationId": "AzureDevOpsRepos_CreateOrUpdate",
        "tags": [
          "DevOps"
        ],
        "summary": "Creates or updates a monitored Azure DevOps repository resource.",
        "description": "Creates or updates a monitored Azure DevOps repository resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureDevOpsRepository",
            "in": "body",
            "description": "The Azure DevOps repository resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureDevOpsRepository' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            }
          },
          "201": {
            "description": "Resource 'AzureDevOpsRepository' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate_AzureDevOpsRepos": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsRepos_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureDevOpsRepository"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AzureDevOpsRepos_Update",
        "tags": [
          "DevOps"
        ],
        "summary": "Updates a monitored Azure DevOps repository resource.",
        "description": "Updates a monitored Azure DevOps repository resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureDevOpsRepository",
            "in": "body",
            "description": "The Azure DevOps repository resource payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsRepository"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update_AzureDevOpsRepos": {
            "$ref": "./examples/SecurityConnectorsDevOps/UpdateAzureDevOpsRepos_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureDevOpsRepository"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitHubOwners": {
      "get": {
        "operationId": "GitHubOwners_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of GitHub owners onboarded to the connector.",
        "description": "Returns a list of GitHub owners onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubOwnerListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_GitHubOwners": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListGitHubOwners_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitHubOwners/{ownerName}": {
      "get": {
        "operationId": "GitHubOwners_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored GitHub owner.",
        "description": "Returns a monitored GitHub owner.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubOwner"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_GitHubOwners": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetGitHubOwners_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitHubOwners/{ownerName}/repos": {
      "get": {
        "operationId": "GitHubRepos_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of GitHub repositories onboarded to the connector.",
        "description": "Returns a list of GitHub repositories onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubRepositoryListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_GitHubRepos": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListGitHubRepos_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitHubOwners/{ownerName}/repos/{repoName}": {
      "get": {
        "operationId": "GitHubRepos_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored GitHub repository.",
        "description": "Returns a monitored GitHub repository.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubRepository"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_GitHubRepos": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetGitHubRepos_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitHubOwners/{ownerName}/repos/{repoName}/issues": {
      "post": {
        "operationId": "GitHubIssues_Create",
        "tags": [
          "DevOps"
        ],
        "summary": "Creates a GitHub issue for the specified repository and assessment.",
        "description": "Creates a GitHub issue for the specified repository and assessment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "repoName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "createIssueRequest",
            "in": "body",
            "description": "The request model containing details for creating the GitHub issue.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/IssueCreationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create_GitHubIssues": {
            "$ref": "./examples/SecurityConnectorsDevOps/CreateGitHubIssues_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups": {
      "get": {
        "operationId": "GitLabGroups_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of GitLab groups onboarded to the connector.",
        "description": "Returns a list of GitLab groups onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitLabGroupListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_GitLabGroups": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListGitLabGroups_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups/{groupFQName}": {
      "get": {
        "operationId": "GitLabGroups_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored GitLab Group resource for a given fully-qualified name.",
        "description": "Returns a monitored GitLab Group resource for a given fully-qualified name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupFQName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitLabGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_GitLabGroups": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetGitLabGroups_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups/{groupFQName}/listSubgroups": {
      "post": {
        "operationId": "GitLabSubgroups_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Gets nested subgroups of given GitLab Group which are onboarded to the connector.",
        "description": "Gets nested subgroups of given GitLab Group which are onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupFQName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitLabGroupListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_GitLabSubgroups": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListGitLabSubgroups_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups/{groupFQName}/projects": {
      "get": {
        "operationId": "GitLabProjects_List",
        "tags": [
          "DevOps"
        ],
        "summary": "Gets a list of GitLab projects that are directly owned by given group and onboarded to the connector.",
        "description": "Gets a list of GitLab projects that are directly owned by given group and onboarded to the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupFQName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitLabProjectListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List_GitLabProjects": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListGitLabProjects_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups/{groupFQName}/projects/{projectName}": {
      "get": {
        "operationId": "GitLabProjects_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a monitored GitLab Project resource for a given fully-qualified group name and project name.",
        "description": "Returns a monitored GitLab Project resource for a given fully-qualified group name and project name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupFQName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitLabProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_GitLabProjects": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetGitLabProjects_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/listAvailableAzureDevOpsOrgs": {
      "post": {
        "operationId": "AzureDevOpsOrgs_ListAvailable",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of all Azure DevOps organizations accessible by the user token consumed by the connector.",
        "description": "Returns a list of all Azure DevOps organizations accessible by the user token consumed by the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureDevOpsOrgListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAvailable_AzureDevOpsOrgs": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListAvailableAzureDevOpsOrgs_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/listAvailableGitHubOwners": {
      "post": {
        "operationId": "GitHubOwners_ListAvailable",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of all GitHub owners accessible by the user token consumed by the connector.",
        "description": "Returns a list of all GitHub owners accessible by the user token consumed by the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubOwnerListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAvailable_GitHubOwners": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListAvailableGitHubOwners_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/listAvailableGitLabGroups": {
      "post": {
        "operationId": "GitLabGroups_ListAvailable",
        "tags": [
          "DevOps"
        ],
        "summary": "Returns a list of all GitLab groups accessible by the user token consumed by the connector.",
        "description": "Returns a list of all GitLab groups accessible by the user token consumed by the connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitLabGroupListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAvailable_GitLabGroups": {
            "$ref": "./examples/SecurityConnectorsDevOps/ListAvailableGitLabGroups_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/operationResults/{operationResultId}": {
      "get": {
        "operationId": "DevOpsOperationResults_Get",
        "tags": [
          "DevOps"
        ],
        "summary": "Get devops long running operation result.",
        "description": "Get devops long running operation result.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "securityConnectorName",
            "in": "path",
            "description": "The security connector name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationResultId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get_DevOpsOperationResults_Failed": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetDevOpsOperationResultsFailed_example.json"
          },
          "Get_DevOpsOperationResults_Succeeded": {
            "$ref": "./examples/SecurityConnectorsDevOps/GetDevOpsOperationResultsSucceeded_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionableRemediation": {
      "type": "object",
      "description": "Configuration payload for PR Annotations.",
      "properties": {
        "state": {
          "$ref": "#/definitions/ActionableRemediationState",
          "description": "ActionableRemediation Setting.\nNone - the setting was never set.\nEnabled - ActionableRemediation is enabled.\nDisabled - ActionableRemediation is disabled."
        },
        "categoryConfigurations": {
          "type": "array",
          "description": "Gets or sets list of categories and severity levels.",
          "items": {
            "$ref": "#/definitions/CategoryConfiguration"
          },
          "x-ms-identifiers": []
        },
        "branchConfiguration": {
          "$ref": "#/definitions/TargetBranchConfiguration",
          "description": "Repository branch configuration for PR Annotations."
        },
        "inheritFromParentState": {
          "$ref": "#/definitions/InheritFromParentState",
          "description": "Update Settings.\n\nEnabled - Resource should inherit configurations from parent.\nDisabled - Resource should not inherit configurations from parent."
        }
      }
    },
    "ActionableRemediationState": {
      "type": "string",
      "description": "ActionableRemediation Setting.\nNone - the setting was never set.\nEnabled - ActionableRemediation is enabled.\nDisabled - ActionableRemediation is disabled.",
      "enum": [
        "None",
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ActionableRemediationState",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          }
        ]
      }
    },
    "AgentlessConfiguration": {
      "type": "object",
      "description": "Details about Agentless configuration.",
      "properties": {
        "agentlessEnabled": {
          "$ref": "#/definitions/AgentlessEnablement",
          "description": "Agentless Enablement states."
        },
        "agentlessAutoDiscovery": {
          "$ref": "#/definitions/AutoDiscovery",
          "description": "AutoDiscovery states."
        },
        "scanners": {
          "type": "array",
          "description": "Gets or sets the scanners for the connector.",
          "items": {
            "type": "string"
          }
        },
        "inventoryListType": {
          "$ref": "#/definitions/InventoryListKind",
          "description": "Types for inventory list."
        },
        "inventoryList": {
          "type": "array",
          "description": "Gets or sets the inventory list for inclusion or exclusion from Agentless.\nWill be ignored if agentless auto-discovery is enabled.",
          "items": {
            "$ref": "#/definitions/InventoryList"
          }
        }
      }
    },
    "AgentlessEnablement": {
      "type": "string",
      "description": "Agentless Enablement states.",
      "enum": [
        "Disabled",
        "Enabled",
        "NotApplicable"
      ],
      "x-ms-enum": {
        "name": "AgentlessEnablement",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "NotApplicable"
          }
        ]
      }
    },
    "AnnotateDefaultBranchState": {
      "type": "string",
      "description": "Configuration of PR Annotations on default branch.\n\nEnabled - PR Annotations are enabled on the resource's default branch.\nDisabled - PR Annotations are disabled on the resource's default branch.",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "AnnotateDefaultBranchState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          }
        ]
      }
    },
    "Authorization": {
      "type": "object",
      "description": "Authorization payload.",
      "properties": {
        "code": {
          "type": "string",
          "format": "password",
          "description": "Gets or sets one-time OAuth code to exchange for refresh and access tokens.\n\nOnly used during PUT/PATCH operations. The secret is cleared during GET.",
          "x-ms-secret": true
        }
      }
    },
    "AutoDiscovery": {
      "type": "string",
      "description": "AutoDiscovery states.",
      "enum": [
        "Disabled",
        "Enabled",
        "NotApplicable"
      ],
      "x-ms-enum": {
        "name": "AutoDiscovery",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "NotApplicable"
          }
        ]
      }
    },
    "AzureDevOpsOrg": {
      "type": "object",
      "description": "Azure DevOps Organization resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureDevOpsOrgProperties",
          "description": "Azure DevOps Organization properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureDevOpsOrgListResponse": {
      "type": "object",
      "description": "List of RP resources which supports pagination.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureDevOpsOrg items on this page.",
          "items": {
            "$ref": "#/definitions/AzureDevOpsOrg"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "AzureDevOpsOrgProperties": {
      "type": "object",
      "description": "Azure DevOps Organization properties.",
      "properties": {
        "provisioningStatusMessage": {
          "type": "string",
          "description": "Gets the resource status message.",
          "readOnly": true
        },
        "provisioningStatusUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when resource was last checked.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/DevOpsProvisioningState",
          "description": "The provisioning state of the resource.\n\nPending - Provisioning pending.\nFailed - Provisioning failed.\nSucceeded - Successful provisioning.\nCanceled - Provisioning canceled.\nPendingDeletion - Deletion pending.\nDeletionSuccess - Deletion successful.\nDeletionFailure - Deletion failure.",
          "readOnly": true
        },
        "onboardingState": {
          "$ref": "#/definitions/OnboardingState",
          "description": "Details about resource onboarding status across all connectors.\n\nOnboardedByOtherConnector - this resource has already been onboarded to another connector. This is only applicable to top-level resources.\nOnboarded - this resource has already been onboarded by the specified connector.\nNotOnboarded - this resource has not been onboarded to any connector.\nNotApplicable - the onboarding state is not applicable to the current endpoint."
        },
        "actionableRemediation": {
          "$ref": "#/definitions/ActionableRemediation",
          "description": "Configuration payload for PR Annotations."
        }
      }
    },
    "AzureDevOpsProject": {
      "type": "object",
      "description": "Azure DevOps Project resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureDevOpsProjectProperties",
          "description": "Azure DevOps Project properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureDevOpsProjectListResponse": {
      "type": "object",
      "description": "List of RP resources which supports pagination.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureDevOpsProject items on this page.",
          "items": {
            "$ref": "#/definitions/AzureDevOpsProject"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "AzureDevOpsProjectProperties": {
      "type": "object",
      "description": "Azure DevOps Project properties.",
      "properties": {
        "provisioningStatusMessage": {
          "type": "string",
          "description": "Gets the resource status message.",
          "readOnly": true
        },
        "provisioningStatusUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when resource was last checked.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/DevOpsProvisioningState",
          "description": "The provisioning state of the resource.\n\nPending - Provisioning pending.\nFailed - Provisioning failed.\nSucceeded - Successful provisioning.\nCanceled - Provisioning canceled.\nPendingDeletion - Deletion pending.\nDeletionSuccess - Deletion successful.\nDeletionFailure - Deletion failure.",
          "readOnly": true
        },
        "parentOrgName": {
          "type": "string",
          "description": "Gets or sets parent Azure DevOps Organization name."
        },
        "projectId": {
          "type": "string",
          "description": "Gets or sets Azure DevOps Project id.",
          "readOnly": true
        },
        "onboardingState": {
          "$ref": "#/definitions/OnboardingState",
          "description": "Details about resource onboarding status across all connectors.\n\nOnboardedByOtherConnector - this resource has already been onboarded to another connector. This is only applicable to top-level resources.\nOnboarded - this resource has already been onboarded by the specified connector.\nNotOnboarded - this resource has not been onboarded to any connector.\nNotApplicable - the onboarding state is not applicable to the current endpoint."
        },
        "actionableRemediation": {
          "$ref": "#/definitions/ActionableRemediation",
          "description": "Configuration payload for PR Annotations."
        }
      }
    },
    "AzureDevOpsRepository": {
      "type": "object",
      "description": "Azure DevOps Repository resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureDevOpsRepositoryProperties",
          "description": "Azure DevOps Repository properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureDevOpsRepositoryListResponse": {
      "type": "object",
      "description": "List of RP resources which supports pagination.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureDevOpsRepository items on this page.",
          "items": {
            "$ref": "#/definitions/AzureDevOpsRepository"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "AzureDevOpsRepositoryProperties": {
      "type": "object",
      "description": "Azure DevOps Repository properties.",
      "properties": {
        "provisioningStatusMessage": {
          "type": "string",
          "description": "Gets the resource status message.",
          "readOnly": true
        },
        "provisioningStatusUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when resource was last checked.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/DevOpsProvisioningState",
          "description": "The provisioning state of the resource.\n\nPending - Provisioning pending.\nFailed - Provisioning failed.\nSucceeded - Successful provisioning.\nCanceled - Provisioning canceled.\nPendingDeletion - Deletion pending.\nDeletionSuccess - Deletion successful.\nDeletionFailure - Deletion failure.",
          "readOnly": true
        },
        "parentOrgName": {
          "type": "string",
          "description": "Gets or sets parent Azure DevOps Organization name."
        },
        "parentProjectName": {
          "type": "string",
          "description": "Gets or sets parent Azure DevOps Project name."
        },
        "repoId": {
          "type": "string",
          "description": "Gets or sets Azure DevOps Repository id.",
          "readOnly": true
        },
        "repoUrl": {
          "type": "string",
          "description": "Gets or sets Azure DevOps Repository url.",
          "readOnly": true
        },
        "visibility": {
          "type": "string",
          "description": "Gets or sets Azure DevOps repository visibility, whether it is public or private etc.",
          "readOnly": true
        },
        "onboardingState": {
          "$ref": "#/definitions/OnboardingState",
          "description": "Details about resource onboarding status across all connectors.\n\nOnboardedByOtherConnector - this resource has already been onboarded to another connector. This is only applicable to top-level resources.\nOnboarded - this resource has already been onboarded by the specified connector.\nNotOnboarded - this resource has not been onboarded to any connector.\nNotApplicable - the onboarding state is not applicable to the current endpoint."
        },
        "actionableRemediation": {
          "$ref": "#/definitions/ActionableRemediation",
          "description": "Configuration payload for PR Annotations."
        }
      }
    },
    "CategoryConfiguration": {
      "type": "object",
      "description": "Severity level per category configuration for PR Annotations.",
      "properties": {
        "minimumSeverityLevel": {
          "type": "string",
          "description": "Gets or sets minimum severity level for a given category."
        },
        "category": {
          "$ref": "#/definitions/RuleCategory",
          "description": "Rule categories.\nCode - code scanning results.\nArtifact scanning results.\nDependencies scanning results.\nIaC results.\nSecrets scanning results.\nContainer scanning results."
        }
      }
    },
    "DevOpsCapability": {
      "type": "object",
      "description": "Details about DevOps capability.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets the name of the DevOps capability.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Gets the value of the DevOps capability.",
          "readOnly": true
        }
      }
    },
    "DevOpsConfiguration": {
      "type": "object",
      "description": "DevOps Configuration resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DevOpsConfigurationProperties",
          "description": "DevOps Configuration properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DevOpsConfigurationListResponse": {
      "type": "object",
      "description": "List of RP resources which supports pagination.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DevOpsConfiguration items on this page.",
          "items": {
            "$ref": "#/definitions/DevOpsConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "DevOpsConfigurationProperties": {
      "type": "object",
      "description": "DevOps Configuration properties.",
      "properties": {
        "provisioningStatusMessage": {
          "type": "string",
          "description": "Gets the resource status message.",
          "readOnly": true
        },
        "provisioningStatusUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when resource was last checked.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/DevOpsProvisioningState",
          "description": "The provisioning state of the resource.\n\nPending - Provisioning pending.\nFailed - Provisioning failed.\nSucceeded - Successful provisioning.\nCanceled - Provisioning canceled.\nPendingDeletion - Deletion pending.\nDeletionSuccess - Deletion successful.\nDeletionFailure - Deletion failure.",
          "readOnly": true
        },
        "authorization": {
          "$ref": "#/definitions/Authorization",
          "description": "Authorization payload."
        },
        "autoDiscovery": {
          "$ref": "#/definitions/AutoDiscovery",
          "description": "AutoDiscovery states."
        },
        "topLevelInventoryList": {
          "type": "array",
          "description": "List of top-level inventory to select when AutoDiscovery is disabled.\nThis field is ignored when AutoDiscovery is enabled.",
          "items": {
            "type": "string"
          }
        },
        "capabilities": {
          "type": "array",
          "description": "List of capabilities assigned to the DevOps configuration during the discovery process.",
          "items": {
            "$ref": "#/definitions/DevOpsCapability"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "agentlessConfiguration": {
          "$ref": "#/definitions/AgentlessConfiguration",
          "description": "Details about Agentless configuration."
        }
      }
    },
    "DevOpsProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the resource.\n\nPending - Provisioning pending.\nFailed - Provisioning failed.\nSucceeded - Successful provisioning.\nCanceled - Provisioning canceled.\nPendingDeletion - Deletion pending.\nDeletionSuccess - Deletion successful.\nDeletionFailure - Deletion failure.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending",
        "PendingDeletion",
        "DeletionSuccess",
        "DeletionFailure"
      ],
      "x-ms-enum": {
        "name": "DevOpsProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          },
          {
            "name": "PendingDeletion",
            "value": "PendingDeletion",
            "description": "PendingDeletion"
          },
          {
            "name": "DeletionSuccess",
            "value": "DeletionSuccess",
            "description": "DeletionSuccess"
          },
          {
            "name": "DeletionFailure",
            "value": "DeletionFailure",
            "description": "DeletionFailure"
          }
        ]
      }
    },
    "GitHubOwner": {
      "type": "object",
      "description": "GitHub Owner resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GitHubOwnerProperties",
          "description": "GitHub Owner properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GitHubOwnerListResponse": {
      "type": "object",
      "description": "List of RP resources which supports pagination.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GitHubOwner items on this page.",
          "items": {
            "$ref": "#/definitions/GitHubOwner"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "GitHubOwnerProperties": {
      "type": "object",
      "description": "GitHub Owner properties.",
      "properties": {
        "provisioningStatusMessage": {
          "type": "string",
          "description": "Gets the resource status message.",
          "readOnly": true
        },
        "provisioningStatusUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when resource was last checked.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/DevOpsProvisioningState",
          "description": "The provisioning state of the resource.\n\nPending - Provisioning pending.\nFailed - Provisioning failed.\nSucceeded - Successful provisioning.\nCanceled - Provisioning canceled.\nPendingDeletion - Deletion pending.\nDeletionSuccess - Deletion successful.\nDeletionFailure - Deletion failure.",
          "readOnly": true
        },
        "ownerUrl": {
          "type": "string",
          "description": "Gets or sets GitHub Owner url.",
          "readOnly": true
        },
        "gitHubInternalId": {
          "type": "string",
          "description": "Gets or sets internal GitHub id.",
          "readOnly": true
        },
        "onboardingState": {
          "$ref": "#/definitions/OnboardingState",
          "description": "Details about resource onboarding status across all connectors.\n\nOnboardedByOtherConnector - this resource has already been onboarded to another connector. This is only applicable to top-level resources.\nOnboarded - this resource has already been onboarded by the specified connector.\nNotOnboarded - this resource has not been onboarded to any connector.\nNotApplicable - the onboarding state is not applicable to the current endpoint."
        }
      }
    },
    "GitHubRepository": {
      "type": "object",
      "description": "GitHub Repository resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GitHubRepositoryProperties",
          "description": "GitHub Repository properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GitHubRepositoryListResponse": {
      "type": "object",
      "description": "List of RP resources which supports pagination.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GitHubRepository items on this page.",
          "items": {
            "$ref": "#/definitions/GitHubRepository"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "GitHubRepositoryProperties": {
      "type": "object",
      "description": "GitHub Repository properties.",
      "properties": {
        "provisioningStatusMessage": {
          "type": "string",
          "description": "Gets the resource status message.",
          "readOnly": true
        },
        "provisioningStatusUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when resource was last checked.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/DevOpsProvisioningState",
[...]
