{
  "swagger": "2.0",
  "info": {
    "title": "VM Insights Onboarding API",
    "version": "2018-11-27-preview",
    "description": "API to manage VM Insights Onboarding",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VM Insights Onboarding"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Insights/vmInsightsOnboardingStatuses/default": {
      "get": {
        "operationId": "VMInsights_GetOnboardingStatus",
        "tags": [
          "VM Insights Onboarding"
        ],
        "description": "Retrieves the VM Insights onboarding status for the specified resource or resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceUri",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VMInsightsOnboardingStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResponseWithError"
            }
          }
        },
        "x-ms-examples": {
          "Get status for a VM scale set that is actively reporting data": {
            "$ref": "./examples/getOnboardingStatusVMScaleSet.json"
          },
          "Get status for a VM that has not yet reported data": {
            "$ref": "./examples/getOnboardingStatusSingleVMUnknown.json"
          },
          "Get status for a VM that is actively reporting data": {
            "$ref": "./examples/getOnboardingStatusSingleVM.json"
          },
          "Get status for a resource group that has at least one VM that is actively reporting data": {
            "$ref": "./examples/getOnboardingStatusResourceGroup.json"
          },
          "Get status for a subscription that has at least one VM that is actively reporting data": {
            "$ref": "./examples/getOnboardingStatusSubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DataContainer": {
      "type": "object",
      "description": "Information about a container with data for a given resource.",
      "properties": {
        "workspace": {
          "$ref": "#/definitions/WorkspaceInfo",
          "description": "Log Analytics workspace information."
        }
      },
      "required": [
        "workspace"
      ]
    },
    "DataStatus": {
      "type": "string",
      "description": "The status of VM Insights data from the resource. When reported as `present` the data array will contain information about the data containers to which data for the specified resource is being routed.",
      "enum": [
        "present",
        "notPresent"
      ],
      "x-ms-enum": {
        "name": "DataStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "present",
            "value": "present",
            "description": "present"
          },
          {
            "name": "notPresent",
            "value": "notPresent",
            "description": "notPresent"
          }
        ]
      }
    },
    "Error": {
      "type": "object",
      "description": "Error details.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code identifying the specific error."
        },
        "message": {
          "type": "string",
          "description": "Error message in the caller's locale."
        }
      },
      "required": [
        "code"
      ]
    },
    "OnboardingStatus": {
      "type": "string",
      "description": "The onboarding status for the resource. Note that, a higher level scope, e.g., resource group or subscription, is considered onboarded if at least one resource under it is onboarded.",
      "enum": [
        "onboarded",
        "notOnboarded",
        "unknown"
      ],
      "x-ms-enum": {
        "name": "OnboardingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "onboarded",
            "value": "onboarded",
            "description": "onboarded"
          },
          {
            "name": "notOnboarded",
            "value": "notOnboarded",
            "description": "notOnboarded"
          },
          {
            "name": "unknown",
            "value": "unknown",
            "description": "unknown"
          }
        ]
      }
    },
    "ResponseWithError": {
      "type": "object",
      "description": "An error response from the API.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error",
          "description": "Error information."
        }
      },
      "required": [
        "error"
      ]
    },
    "VMInsightsOnboardingStatus": {
      "type": "object",
      "description": "VM Insights onboarding status for a resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VMInsightsOnboardingStatusProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VMInsightsOnboardingStatusProperties": {
      "type": "object",
      "description": "Resource properties.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Azure Resource Manager identifier of the resource whose onboarding status is being represented."
        },
        "onboardingStatus": {
          "$ref": "#/definitions/OnboardingStatus",
          "description": "The onboarding status for the resource. Note that, a higher level scope, e.g., resource group or subscription, is considered onboarded if at least one resource under it is onboarded."
        },
        "dataStatus": {
          "$ref": "#/definitions/DataStatus",
          "description": "The status of VM Insights data from the resource. When reported as `present` the data array will contain information about the data containers to which data for the specified resource is being routed."
        },
        "data": {
          "type": "array",
          "description": "Containers that currently store VM Insights data for the specified resource.",
          "items": {
            "$ref": "#/definitions/DataContainer"
          },
          "x-ms-identifiers": [
            "/workspace/id"
          ]
        }
      },
      "required": [
        "resourceId",
        "onboardingStatus",
        "dataStatus"
      ]
    },
    "WorkspaceInfo": {
      "type": "object",
      "description": "Information about a Log Analytics Workspace.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure Resource Manager identifier of the Log Analytics Workspace."
        },
        "location": {
          "type": "string",
          "description": "Location of the Log Analytics workspace."
        },
        "properties": {
          "$ref": "#/definitions/WorkspaceInfoProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "id",
        "location",
        "properties"
      ]
    },
    "WorkspaceInfoProperties": {
      "type": "object",
      "description": "Resource properties.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Log Analytics workspace identifier."
        }
      },
      "required": [
        "customerId"
      ]
    }
  },
  "parameters": {}
}
