{
  "swagger": "2.0",
  "info": {
    "version": "2023-05-15-preview",
    "title": "ContainerInstanceManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}": {
      "put": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_CreateOrUpdate",
        "description": "Create or update a Container Scale Set.",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "name": "containerScaleSet",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerScaleSet"
            },
            "description": "The scale set object."
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerScaleSet"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContainerScaleSet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      },
      "patch": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_Update",
        "description": "Update a Container Scale Set.",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerScaleSet"
            },
            "description": "The scale set object."
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerScaleSet"
            }
          },
          "202": {
            "description": "Scale set update started",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_Delete",
        "description": "Deletes a Container Scale Set.",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      },
      "get": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_Get",
        "description": "Display information about a Container Scale Set.",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerScaleSet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {}
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets": {
      "get": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_ListByResourceGroup",
        "description": "Gets a list of all Container Scale Sets under a resource group.",
        "x-ms-examples": {},
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerScaleSetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerScaleSets": {
      "get": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_List",
        "description": "Gets a list of all Container Scale Sets under a subscription.",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerScaleSetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}/restart": {
      "post": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerGroups_Restart",
        "summary": "Restart given Container Groups in a Container Scale Set.",
        "description": "Restart given Container Groups in a Container Scale Set",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "name": "RestartContainerGroupsRequest",
            "in": "body",
            "description": "The request for restarting the Container Groups.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerGroupsActionRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}/stop": {
      "post": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerGroups_Stop",
        "summary": "Stop given Container Groups in a Container Scale Set.",
        "description": "Stop given Container Groups in a Container Scale Set",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "name": "StopContainerGroupsRequest",
            "in": "body",
            "description": "The request for stopping the Container Groups.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerGroupsActionRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}/start": {
      "post": {
        "operationId": "ContainerGroups_start",
        "tags": [
          "ContainerScaleSets"
        ],
        "summary": "Start given Container Groups in a Container Scale Set.",
        "description": "Start given Container Groups in a Container Scale Set",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "name": "StartContainerGroupsRequest",
            "in": "body",
            "description": "The request for starting the Container Groups.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerGroupsActionRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}/updates/manual/start": {
      "post": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerGroups_ManualUpdate",
        "summary": "Update given Container Groups in a Container Scale Set.",
        "description": "Update given Container Groups in a Container Scale Set",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          },
          {
            "name": "UpdateContainerGroupsRequest",
            "in": "body",
            "description": "The request for updating the Container Groups.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerGroupsActionRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}/updates/rolling/latest": {
      "get": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_RollingLatest",
        "description": "Gets current rolling update status.",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RollingUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerScaleSets/{containerScaleSetName}/updates/rolling/cancel": {
      "post": {
        "tags": [
          "ContainerScaleSets"
        ],
        "operationId": "ContainerScaleSets_RollingCancel",
        "description": "Cancel current rolling update.",
        "parameters": [
          {
            "$ref": "../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/v1/common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerScaleSetNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {}
      }
    }
  },
  "definitions": {
    "ContainerScaleSetListResult": {
      "description": "The Container Scale Set list response that contains the Container Scale Set properties.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerScaleSet"
          },
          "description": "The list of Container Scale Sets."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of Container Scale Sets."
        }
      }
    },
    "ContainerScaleSet": {
      "type": "object",
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ContainerScaleSetProperties"
        },
        "identity": {
          "$ref": "#/definitions/ContainerScaleSetIdentity",
          "description": "The identity of the Container Scale Set, if configured."
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Container Scale Set zones. NOTE: Availability zones can only be set when you create the scale set"
        }
      },
      "allOf": [
        {
          "$ref": "../../common-types/v1/common.json#/definitions/Resource"
        }
      ],
      "description": "Describes a Container Scale Set."
    },
    "ContainerScaleSetIdentity": {
      "type": "object",
      "description": "Identity for the container scale set.",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of the container scale set identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the container scale set. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the container scale set. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the container scale set.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the container scale set. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "type": "object",
            "$ref": "#/definitions/UserAssignedIdentityAdditionalProperties"
          },
          "properties": {
            "name": {
              "type": "null",
              "description": "This property is not valid, Please DON'T use it"
            }
          }
        }
      }
    },
    "UserAssignedIdentityAdditionalProperties": {
      "type": "object",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of user assigned identity."
        },
        "clientId": {
          "readOnly": true,
          "type": "string",
          "description": "The client id of user assigned identity."
        }
      }
    },
    "ContainerScaleSetProperties": {
      "type": "object",
      "properties": {
        "elasticProfile": {
          "$ref": "#/definitions/ElasticProfile",
          "description": "The elastic profile."
        },
        "containerGroupProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerGroupProfile"
          },
          "x-ms-identifiers": [],
          "description": "The Container Group Profiles that could be used in a Container Scale Set."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state, which only appears in the response."
        },
        "updateProfile": {
          "type": "object",
          "$ref": "#/definitions/UpdateProfile"
        }
      },
      "description": "Describes the properties of a Container Scale Set."
    },
    "ElasticProfile": {
      "type": "object",
      "properties": {
        "desiredCount": {
          "type": "integer",
          "format": "int32"
        },
        "maintainDesiredCount": {
          "type": "boolean",
          "description": "Flag that indicates whether desiredCount should be maintained when customer deletes SPECIFIC container groups (CGs).",
          "x-nullable": true
        },
        "containerGroupNamingPolicy": {
          "type": "object",
          "$ref": "#/definitions/ContainerGroupNamingPolicy"
        }
      },
      "description": "Describes the elastic profile of the Container Scale Set"
    },
    "ContainerGroupProfile": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "#/definitions/ApiEntityReference"
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true
        },
        "containerGroupProperties": {
          "type": "object",
          "$ref": "#/definitions/ContainerGroupProperties"
        },
        "networkProfile": {
          "type": "object",
          "$ref": "#/definitions/NetworkProfile"
        },
        "storageProfile": {
          "type": "object",
          "$ref": "#/definitions/StorageProfile"
        }
      },
      "description": "The object that contains a reference to a Container Group Profile"
    },
    "ApiEntityReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
        }
      },
      "description": "The API entity reference."
    },
    "ContainerGroupProperties": {
      "type": "object",
      "properties": {
        "subnetIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subnet"
          }
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Volume"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Container"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "ipAddress": {
          "type": "object",
          "$ref": "#/definitions/IPAddress"
        }
      }
    },
    "Subnet": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The friendly name of the Subnet"
        }
      }
    },
    "Volume": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "azureFile": {
          "type": "object",
          "$ref": "#/definitions/AzureFileVolume"
        }
      }
    },
    "AzureFileVolume": {
      "type": "object",
      "properties": {
        "shareName": {
          "type": "string"
        },
        "storageAccountName": {
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "Container": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "$ref": "#/definitions/ContainerProperties"
        }
      }
    },
    "ContainerProperties": {
      "type": "object",
      "properties": {
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VolumeMount"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "VolumeMount": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "mountPath": {
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "IPAddress": {
      "type": "object",
      "properties": {
        "dnsNameLabelPrefix": {
          "type": "string"
        }
      }
    },
    "ContainerGroupNamingPolicy": {
      "type": "object",
      "properties": {
        "guidNamingPolicy": {
          "type": "object",
          "$ref": "#/definitions/GuidNamingPolicy"
        }
      }
    },
    "GuidNamingPolicy": {
      "type": "object",
      "properties": {
        "prefix": {
          "type": "string"
        }
      }
    },
    "NetworkProfile": {
      "type": "object",
      "properties": {
        "loadBalancer": {
          "type": "object",
          "$ref": "#/definitions/LoadBalancer"
        },
        "applicationGateway": {
          "type": "object",
          "$ref": "#/definitions/ApplicationGateway"
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "properties": {
        "backendAddressPools": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadBalancerBackendAddressPool"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "LoadBalancerBackendAddressPool": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "$ref": "#/definitions/ApiEntityReference"
        }
      }
    },
    "ApplicationGateway": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "$ref": "#/definitions/ApiEntityReference"
        },
        "backendAddressPools": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendAddressPool"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ApplicationGatewayBackendAddressPool": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "$ref": "#/definitions/ApiEntityReference"
        }
      }
    },
    "StorageProfile": {
      "type": "object",
      "properties": {
        "fileShares": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileShare"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "FileShare": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "resourceGroupName": {
          "type": "string"
        },
        "storageAccountName": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "$ref": "#/definitions/FileShareProperties"
        }
      }
    },
    "FileShareProperties": {
      "type": "object",
      "properties": {
        "shareAccessType": {
          "type": "string",
          "enum": [
            "Shared",
            "Exclusive"
          ],
          "x-ms-enum": {
            "name": "shareAccessType",
            "modelAsString": true
          },
          "x-nullable": true
        },
        "shareAccessTier": {
          "type": "string",
          "enum": [
            "Cool",
            "Hot",
            "Premium",
            "TransactionOptimized"
          ],
          "x-ms-enum": {
            "name": "shareAccessTier",
            "modelAsString": true
          },
          "x-nullable": true
        }
      }
    },
    "UpdateProfile": {
      "type": "object",
      "properties": {
        "updateMode": {
          "type": "string",
          "enum": [
            "Manual",
            "Rolling"
          ],
          "x-ms-enum": {
            "name": "updateMode",
            "modelAsString": true
          },
          "x-nullable": true
        },
        "rollingUpdateProfile": {
          "type": "object",
          "$ref": "#/definitions/RollingUpdateProfile"
        }
      }
    },
    "RollingUpdateProfile": {
      "type": "object",
      "properties": {
        "maxBatchPercent": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true
        },
        "maxUnhealthyPercent": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true
        },
        "maxUnhealthyUpdatedPercent": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true
        },
        "pauseTimeBetweenBatches": {
          "type": "string"
        }
      }
    },
    "ContainerGroupsActionRequest": {
      "type": "object",
      "properties": {
        "containerGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RollingUpdate": {
      "type": "object",
      "properties": {
        "profile": {
          "type": "object",
          "$ref": "#/definitions/RollingUpdateProfile"
        },
        "progress": {
          "type": "object",
          "$ref": "#/definitions/RollingUpdateProgress"
        },
        "lastAction": {
          "type": "string",
          "enum": [
            "Unknown",
            "Start",
            "Pause",
            "Resume",
            "Cancel"
          ],
          "x-ms-enum": {
            "name": "lastAction",
            "modelAsString": true
          }
        },
        "lastActionTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        }
      }
    },
    "RollingUpdateProgress": {
      "type": "object",
      "properties": {
        "containerGroupsUpdateSummary": {
          "type": "object",
          "$ref": "#/definitions/ContainerGroupsUpdateSummary"
        },
        "state": {
          "type": "string",
          "enum": [
            "Unknown",
            "Start",
            "Pause",
            "Resume",
            "Cancel"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "error": {
          "type": "object",
          "$ref": "#/definitions/ApiError"
        }
      }
    },
    "ContainerGroupsUpdateSummary": {
      "type": "object",
      "properties": {
        "succeededCount": {
          "type": "integer",
          "format": "int32"
        },
        "failedCount": {
          "type": "integer",
          "format": "int32"
        },
        "pendingCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ApiErrorBase": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "Api error base."
    },
    "InnerError": {
      "type": "object",
      "properties": {
        "exceptiontype": {
          "type": "string",
          "description": "The exception type."
        },
        "errordetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      },
      "description": "Inner error details."
    },
    "ApiError": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiErrorBase"
          },
          "x-ms-identifiers": [],
          "description": "The Api error details"
        },
        "innererror": {
          "$ref": "#/definitions/InnerError",
          "description": "The Api inner error"
        },
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "Api error."
    }
  },
  "parameters": {
    "ContainerScaleSetNameParameter": {
      "name": "containerScaleSetName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Container Scale Set.",
      "x-ms-parameter-location": "method",
      "pattern": "^(?!-)[a-z0-9-]{1,61}[a-z0-9](?!-)$"
    }
  }
}
