{
  "swagger": "2.0",
  "info": {
    "version": "2024-05-15-preview",
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterConfigurations_List",
        "x-ms-examples": {
          "NamspaceNetworkSecurityPerimeterConfigurationList": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationList.json"
          }
        },
        "description": "Gets list of effective NetworkSecurityPerimeterConfiguration for cosmos db account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Network Security Perimeter Configuration List",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterConfigurations_Get",
        "x-ms-examples": {
          "NamspaceNetworkSecurityPerimeterConfigurationList": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationGet.json"
          }
        },
        "description": "Gets effective NetworkSecurityPerimeterConfiguration for association",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/networkSecurityPerimeterConfigurationName"
          }
        ],
        "responses": {
          "200": {
            "description": "Network Security Perimeter Configuration",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}/reconcile": {
      "post": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterConfigurations_Reconcile",
        "description": "Refreshes any information about the association.",
        "x-ms-examples": {
          "NetworkSecurityPerimeterConfigurationList": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationReconcile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/networkSecurityPerimeterConfigurationName"
          }
        ],
        "responses": {
          "202": {
            "description": "Request to reconcile the association accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeterConfiguration": {
      "description": "The Network Security Perimeter configuration resource.",
      "type": "object",
      "readOnly": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationProperties",
          "description": "Properties of the Network Security Perimeter Configuration",
          "x-ms-client-flatten": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationList": {
      "description": "Result of the List Network Security Perimeter configuration operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A collection of Network Security Perimeter configurations",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationProperties": {
      "description": "Properties of the Network Security Perimeter Configuration",
      "type": "object",
      "readOnly": true,
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of Network Security Perimeter configuration propagation",
          "enum": [
            "Creating",
            "Accepted",
            "Succeeded",
            "Failed",
            "Deleting",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "NetworkSecurityPerimeterConfigurationProvisioningState",
            "modelAsString": true
          }
        },
        "provisioningIssues": {
          "description": "List of Provisioning Issues if any",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ProvisioningIssue"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "networkSecurityPerimeter": {
          "$ref": "#/definitions/NetworkSecurityPerimeter",
          "readOnly": true
        },
        "resourceAssociation": {
          "description": "Information about resource association",
          "readOnly": true,
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the resource association",
              "type": "string"
            },
            "accessMode": {
              "description": "Access Mode of the resource association",
              "enum": [
                "Enforced",
                "Learning",
                "Audit"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "ResourceAssociationAccessMode",
                "modelAsString": true
              }
            }
          }
        },
        "profile": {
          "description": "Network Security Perimeter profile",
          "readOnly": true,
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the profile",
              "type": "string"
            },
            "accessRulesVersion": {
              "description": "Current access rules version",
              "type": "integer",
              "format": "int32"
            },
            "accessRules": {
              "description": "List of Access Rules",
              "type": "array",
              "items": {
                "$ref": "#/definitions/NspAccessRule"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "diagnosticSettingsVersion": {
              "description": "Diagnostic settings version",
              "type": "integer",
              "format": "int32"
            },
            "enabledLogCategories": {
              "description": "Enabled logging categories",
              "type": "array",
              "items": {
                "description": "Logging category",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ProvisioningIssue": {
      "description": "Describes provisioning issue for given NetworkSecurityPerimeterConfiguration",
      "type": "object",
      "readOnly": true,
      "properties": {
        "name": {
          "description": "Name of the issue",
          "type": "string"
        },
        "properties": {
          "description": "Properties of provisioning issue",
          "type": "object",
          "readOnly": true,
          "properties": {
            "issueType": {
              "description": "Type of issue",
              "enum": [
                "Unknown",
                "ConfigurationPropagationFailure"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "IssueType",
                "modelAsString": true
              }
            },
            "severity": {
              "description": "Severity of the issue.",
              "enum": [
                "Warning",
                "Error"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "Severity",
                "modelAsString": true
              }
            },
            "description": {
              "description": "Description of the issue",
              "type": "string"
            }
          }
        }
      }
    },
    "NspAccessRule": {
      "description": "Information of Access Rule in Network Security Perimeter profile",
      "type": "object",
      "readOnly": true,
      "properties": {
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "properties": {
          "description": "Properties of Access Rule",
          "readOnly": true,
          "type": "object",
          "properties": {
            "direction": {
              "description": "Direction of Access Rule",
              "enum": [
                "Inbound",
                "Outbound"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "NspAccessRuleDirection",
                "modelAsString": true
              }
            },
            "addressPrefixes": {
              "description": "Address prefixes in the CIDR format for inbound rules",
              "type": "array",
              "items": {
                "description": "IP Address",
                "type": "string"
              }
            },
            "subscriptions": {
              "description": "Subscriptions for inbound rules",
              "type": "array",
              "items": {
                "description": "Subscription for inbound rule",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "id": {
                    "description": "The ARM identifier of subscription",
                    "type": "string"
                  }
                }
              }
            },
            "networkSecurityPerimeters": {
              "description": "NetworkSecurityPerimeters for inbound rules",
              "type": "array",
              "readOnly": true,
              "items": {
                "$ref": "#/definitions/NetworkSecurityPerimeter"
              }
            },
            "fullyQualifiedDomainNames": {
              "description": "FQDN for outbound rules",
              "type": "array",
              "readOnly": true,
              "items": {
                "description": "Fully qualified domain name",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "NetworkSecurityPerimeter": {
      "description": "Information about Network Security Perimeter",
      "type": "object",
      "readOnly": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
        },
        "perimeterGuid": {
          "description": "Guid of the Network Security Perimeter",
          "type": "string"
        },
        "location": {
          "description": "Location of the Network Security Perimeter",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "networkSecurityPerimeterConfigurationName": {
      "name": "networkSecurityPerimeterConfigurationName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^.*$",
      "description": "The name for Network Security Perimeter configuration",
      "x-ms-parameter-location": "method"
    },
    "accountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Cosmos DB database account name.",
      "minLength": 3,
      "maxLength": 50,
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*"
    }
  }
}
