{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Control Plane API",
    "version": "2023-10-01-preview",
    "description": "Provides operations for working with Azure Monitor",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AzureMonitorWorkspaces"
    },
    {
      "name": "PipelineGroups"
    }
  ],
  "paths": {
    "/providers/Microsoft.Monitor/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists the Microsoft.Monitor resource provider operations": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListBySubscription",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all workspaces in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Azure Monitor Workspaces by subscription": {
            "$ref": "./examples/AzureMonitorWorkspacesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/pipelineGroups": {
      "get": {
        "operationId": "PipelineGroups_ListBySubscription",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Lists all workspaces in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Pipeline groups by subscription": {
            "$ref": "./examples/PipelineGroupListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListByResourceGroup",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all workspaces in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Azure Monitor Workspaces by resource group": {
            "$ref": "./examples/AzureMonitorWorkspacesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_Get",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Returns the specific Azure Monitor workspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor workspace. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspaceGet.json"
          }
        }
      },
      "put": {
        "operationId": "AzureMonitorWorkspaces_CreateOrUpdate",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Create or update a workspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor workspace. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureMonitorWorkspace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspace"
            }
          },
          "201": {
            "description": "Resource 'AzureMonitorWorkspace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspace"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates an Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspaceCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AzureMonitorWorkspaces_Update",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Updates part of a workspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor workspace. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspaceUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "AzureMonitorWorkspaces_Delete",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Delete a workspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor workspace. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an Azure Monitor Workspace asynchronously": {
            "$ref": "./examples/AzureMonitorWorkspaceDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/pipelineGroups": {
      "get": {
        "operationId": "PipelineGroups_ListByResourceGroup",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Lists all workspaces in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Pipeline groups by resource group": {
            "$ref": "./examples/PipelineGroupListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/pipelineGroups/{pipelineGroupName}": {
      "get": {
        "operationId": "PipelineGroups_Get",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Returns the specific pipeline group instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,10}[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves a PipelineGroup instance by name": {
            "$ref": "./examples/PipelineGroupGet.json"
          }
        }
      },
      "put": {
        "operationId": "PipelineGroups_CreateOrUpdate",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Create or update a pipeline group instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,10}[^-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PipelineGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          },
          "201": {
            "description": "Resource 'PipelineGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a PipelineGroup instance using UDP receiver": {
            "$ref": "./examples/PipelineGroupCreateUdp.json"
          },
          "Create a PipelineGroup instance using a syslog receiver": {
            "$ref": "./examples/PipelineGroupCreateSyslogs.json"
          },
          "Create a PipelineGroup instance using a syslog receiver and cache.": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithCache.json"
          },
          "Create a PipelineGroup instance using a syslog receiver and networking configurations.": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithNetworking.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PipelineGroups_Update",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Updates a pipeline group instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,10}[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a PipelineGroup instance": {
            "$ref": "./examples/PipelineGroupUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PipelineGroups_Delete",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Delete a pipeline group instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,10}[^-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a PipelineGroup instance": {
            "$ref": "./examples/PipelineGroupDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureMonitorWorkspace": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspaceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "Resource entity tag (ETag)",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AzureMonitorWorkspaceListResult": {
      "type": "object",
      "description": "The response of a AzureMonitorWorkspace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureMonitorWorkspace items on this page",
          "items": {
            "$ref": "#/definitions/AzureMonitorWorkspace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureMonitorWorkspaceLogsApiConfig": {
      "type": "object",
      "description": "Azure Monitor Workspace Logs Api configurations.",
      "properties": {
        "dataCollectionEndpointUrl": {
          "type": "string",
          "description": "Data collection endpoint ingestion url.",
          "pattern": "^(https?)://[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*$"
        },
        "stream": {
          "type": "string",
          "description": "Stream name in destination. Azure Monitor stream is related to the destination table.",
          "pattern": "^(?!-)[a-zA-Z0-9._-]{1,1000}[^-]$"
        },
        "dataCollectionRule": {
          "type": "string",
          "description": "Data Collection Rule (DCR) immutable id.",
          "pattern": "^(?!-)[a-zA-Z0-9.-]{1,1000}[^-]$"
        },
        "schema": {
          "$ref": "#/definitions/SchemaMap",
          "description": "The schema mapping for incoming data."
        }
      },
      "required": [
        "dataCollectionEndpointUrl",
        "stream",
        "dataCollectionRule",
        "schema"
      ]
    },
    "AzureMonitorWorkspaceLogsExporter": {
      "type": "object",
      "description": "Azure Monitor Workspace Logs specific configurations.",
      "properties": {
        "api": {
          "$ref": "#/definitions/AzureMonitorWorkspaceLogsApiConfig",
          "description": "API configurations for Azure Monitor workspace exporter."
        },
        "concurrency": {
          "$ref": "#/definitions/ConcurrencyConfiguration",
          "description": "Concurrency configuration for the exporter."
        },
        "cache": {
          "$ref": "#/definitions/CacheConfiguration",
          "description": "Cache configurations."
        }
      },
      "required": [
        "api"
      ]
    },
    "AzureMonitorWorkspaceProperties": {
      "type": "object",
      "description": "Properties that need to be specified to create a new workspace.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The immutable ID of the Azure Monitor workspace. This property is read-only.",
          "readOnly": true
        },
        "metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "Information about metrics for the Azure Monitor workspace"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the Azure Monitor workspace. Set to Succeeded if everything is healthy.",
          "readOnly": true
        },
        "defaultIngestionSettings": {
          "$ref": "#/definitions/IngestionSettings",
          "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections.",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Gets or sets allow or disallow public network access to workspace",
          "readOnly": true
        }
      }
    },
    "AzureMonitorWorkspaceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the AzureMonitorWorkspace.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspaceUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AzureMonitorWorkspaceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the AzureMonitorWorkspace.",
      "properties": {
        "metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "Information about metrics for the Azure Monitor workspace"
        }
      }
    },
    "BatchProcessor": {
      "type": "object",
      "description": "Batch processor.",
      "properties": {
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the batch.",
          "default": 8192,
          "minimum": 10,
          "maximum": 100000
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Timeout in milliseconds.",
          "default": 200,
          "minimum": 10,
          "maximum": 60000
        }
      }
    },
    "CacheConfiguration": {
      "type": "object",
      "description": "Cache configurations.",
      "properties": {
        "maxStorageUsage": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage usage in megabytes."
        },
        "retentionPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Retention period in minutes."
        }
      }
    },
    "ConcurrencyConfiguration": {
      "type": "object",
      "description": "Concurrent publishing configuration.",
      "properties": {
        "workerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of parallel workers processing the log queues.",
          "default": 4
        },
        "batchQueueSize": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the queue for log batches.",
          "default": 100
        }
      }
    },
    "Exporter": {
      "type": "object",
      "description": "Exporter Info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ExporterType",
          "description": "The type of exporter."
        },
        "name": {
          "type": "string",
          "description": "The name of exporter.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "azureMonitorWorkspaceLogs": {
          "$ref": "#/definitions/AzureMonitorWorkspaceLogsExporter",
          "description": "Azure Monitor Workspace Logs specific configurations."
        },
        "tcp": {
          "$ref": "#/definitions/TcpExporter",
          "description": "TCP based exporter. Used for pipelineGroup exporter."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExporterType": {
      "type": "string",
      "description": "The exporter type.",
      "enum": [
        "AzureMonitorWorkspaceLogs",
        "PipelineGroup"
      ],
      "x-ms-enum": {
        "name": "ExporterType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureMonitorWorkspaceLogs",
            "value": "AzureMonitorWorkspaceLogs",
            "description": "Export logs to Azure Monitor Workspace."
          },
          {
            "name": "PipelineGroup",
            "value": "PipelineGroup",
            "description": "Export data to another pipeline group instance."
          }
        ]
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ExtendedLocationType",
          "description": "The type of extended location."
        },
        "name": {
          "type": "string",
          "description": "The name of extended location."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExtendedLocationType": {
      "type": "string",
      "description": "The extended location type.",
      "enum": [
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "Custom location."
          }
        ]
      }
    },
    "ExternalNetworkingMode": {
      "type": "string",
      "description": "The mode of the external networking.",
      "enum": [
        "LoadBalancerOnly"
      ],
      "x-ms-enum": {
        "name": "ExternalNetworkingMode",
        "modelAsString": true,
        "values": [
          {
            "name": "LoadBalancerOnly",
            "value": "LoadBalancerOnly",
            "description": "Load balancer only."
          }
        ]
      }
    },
    "IngestionSettings": {
      "type": "object",
      "description": "Settings for data ingestion",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection rule for this workspace.",
          "readOnly": true
        },
        "dataCollectionEndpointResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection endpoint for this workspace.",
          "readOnly": true
        }
      }
    },
    "Metrics": {
      "type": "object",
      "description": "Information about metrics for the workspace",
      "properties": {
        "prometheusQueryEndpoint": {
          "type": "string",
          "description": "The Prometheus query endpoint for the workspace",
          "readOnly": true
        },
        "internalId": {
          "type": "string",
          "description": "An internal identifier for the metrics container. Only to be used by the system",
          "readOnly": true
        }
      }
    },
    "NetworkingConfiguration": {
      "type": "object",
      "description": "Networking configuration for the pipeline group instance.",
      "properties": {
        "externalNetworkingMode": {
          "$ref": "#/definitions/ExternalNetworkingMode",
          "description": "External networking mode."
        },
        "host": {
          "type": "string",
          "description": "The address exposed on the cluster. Example: azuremonitorpipeline.contoso.com.",
          "pattern": "^[a-zA-Z0-9-\\.]+$"
        },
        "routes": {
          "type": "array",
          "description": "Networking routes configuration.",
          "items": {
            "$ref": "#/definitions/NetworkingRoute"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "externalNetworkingMode",
        "routes"
      ]
    },
    "NetworkingRoute": {
      "type": "object",
      "description": "Networking route configuration.",
      "properties": {
        "receiver": {
          "type": "string",
          "description": "The name of the previously defined receiver.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port that will be configured externally. If not specified, it will use the port from the receiver definition.",
          "minimum": 1,
          "maximum": 65535
        },
        "path": {
          "type": "string",
          "description": "Route path.",
          "pattern": "^[a-zA-Z0-9-/\\.]+$"
        },
        "subdomain": {
          "type": "string",
          "description": "Route subdomain.",
          "pattern": "^[a-zA-Z0-9-\\.]+$"
        }
      },
      "required": [
        "receiver"
      ]
    },
    "OtlpReceiver": {
      "type": "object",
      "description": "OTLP Receiver.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "OTLP GRPC endpoint definition. Example: 0.0.0.0:<port>.",
          "pattern": "^[a-zA-Z0-9-\\.]+:[0-9]+$"
        }
      },
      "required": [
        "endpoint"
      ]
    },
    "PersistenceConfigurations": {
      "type": "object",
      "description": "Persistence options to all pipelines in the instance.",
      "properties": {
        "persistentVolumeName": {
          "type": "string",
          "description": "The name of the mounted persistent volume."
        }
      },
      "required": [
        "persistentVolumeName"
      ]
    },
    "PersistenceConfigurationsUpdate": {
      "type": "object",
      "description": "Persistence options to all pipelines in the instance.",
      "properties": {
        "persistentVolumeName": {
          "type": "string",
          "description": "The name of the mounted persistent volume."
        }
      }
    },
    "Pipeline": {
      "type": "object",
      "description": "Pipeline Info.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the pipeline.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "type": {
          "$ref": "#/definitions/PipelineType",
          "description": "The type of pipeline"
        },
        "receivers": {
          "type": "array",
          "description": "Reference to receivers configured for the pipeline.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "processors": {
          "type": "array",
          "description": "Reference to processors configured for the pipeline.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "exporters": {
          "type": "array",
          "description": "Reference to exporters configured for the pipeline.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "name",
        "type",
        "receivers",
        "exporters"
      ]
    },
    "PipelineGroup": {
      "type": "object",
      "description": "A pipeline group definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PipelineGroupProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location for given pipeline group.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PipelineGroupListResult": {
      "type": "object",
      "description": "The response of a PipelineGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PipelineGroup items on this page",
          "items": {
            "$ref": "#/definitions/PipelineGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PipelineGroupProperties": {
      "type": "object",
      "description": "Properties that need to be specified to create a new pipeline group instance.",
      "properties": {
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Defines the amount of replicas of the pipeline group instance."
        },
        "receivers": {
          "type": "array",
          "description": "The receivers specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Receiver"
          },
          "x-ms-identifiers": []
        },
        "processors": {
          "type": "array",
          "description": "The processors specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Processor"
          },
          "x-ms-identifiers": []
        },
        "exporters": {
          "type": "array",
          "description": "The exporters specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Exporter"
          },
          "x-ms-identifiers": []
        },
        "service": {
          "$ref": "#/definitions/Service",
          "description": "The service section for a given pipeline group instance."
        },
        "networkingConfigurations": {
          "type": "array",
          "description": "Networking configurations for the pipeline group instance.",
          "items": {
            "$ref": "#/definitions/NetworkingConfiguration"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of a pipeline group instance. Set to Succeeded if everything is healthy.",
          "readOnly": true
        }
      },
      "required": [
        "receivers",
        "processors",
        "exporters",
        "service"
      ]
    },
    "PipelineGroupUpdate": {
      "type": "object",
      "description": "The type used for update operations of the PipelineGroup.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PipelineGroupUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PipelineGroupUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the PipelineGroup.",
      "properties": {
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Defines the amount of replicas of the pipeline group instance."
        },
        "receivers": {
          "type": "array",
          "description": "The receivers specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Receiver"
          },
          "x-ms-identifiers": []
        },
        "processors": {
          "type": "array",
          "description": "The processors specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Processor"
          },
          "x-ms-identifiers": []
        },
        "exporters": {
          "type": "array",
          "description": "The exporters specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Exporter"
          },
          "x-ms-identifiers": []
        },
        "service": {
          "$ref": "#/definitions/ServiceUpdate",
          "description": "The service section for a given pipeline group instance."
        },
        "networkingConfigurations": {
          "type": "array",
          "description": "Networking configurations for the pipeline group instance.",
          "items": {
            "$ref": "#/definitions/NetworkingConfiguration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PipelineType": {
      "type": "string",
      "description": "The pipeline type.",
      "enum": [
        "logs"
      ],
      "x-ms-enum": {
        "name": "PipelineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Logs",
            "value": "logs",
            "description": "Pipeline for logs telemetry."
          }
        ]
      }
    },
    "Processor": {
      "type": "object",
      "description": "Processor Info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ProcessorType",
          "description": "The type of processor."
        },
        "name": {
          "type": "string",
          "description": "The name of processor.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "batch": {
          "$ref": "#/definitions/BatchProcessor",
          "description": "Batch processor configurations."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ProcessorType": {
      "type": "string",
      "description": "The processor type.",
      "enum": [
        "Batch"
      ],
      "x-ms-enum": {
        "name": "ProcessorType",
        "modelAsString": true,
        "values": [
          {
            "name": "Batch",
            "value": "Batch",
            "description": "Batch processor."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "State of the public network access.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The public network access is enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The public network access is disabled"
          }
        ]
      }
    },
    "Receiver": {
      "type": "object",
      "description": "Receiver Info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ReceiverType",
          "description": "The type of receiver."
        },
        "name": {
          "type": "string",
          "description": "The name of receiver.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "syslog": {
          "$ref": "#/definitions/SyslogReceiver",
          "description": "Syslog configurations. This field is mandatory for syslog type receivers."
        },
        "otlp": {
          "$ref": "#/definitions/OtlpReceiver",
          "description": "OTLP receiver configurations. This field is mandatory for OTLP and pipelineGroup receivers."
        },
        "udp": {
          "$ref": "#/definitions/UdpReceiver",
          "description": "UDP receiver configurations. This field is mandatory for UDP receivers."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ReceiverType": {
      "type": "string",
      "description": "The receiver type.",
      "enum": [
        "Syslog",
        "Ama",
        "PipelineGroup",
        "OTLP",
        "UDP"
      ],
      "x-ms-enum": {
        "name": "ReceiverType",
        "modelAsString": true,
        "values": [
          {
            "name": "Syslog",
            "value": "Syslog",
            "description": "Linux syslog."
          },
          {
            "name": "Ama",
            "value": "Ama",
            "description": "Receives data from azure monitor agent receiver."
          },
          {
            "name": "PipelineGroup",
            "value": "PipelineGroup",
            "description": "Receives data from another pipeline group."
          },
          {
            "name": "OTLP",
            "value": "OTLP",
            "description": "Receives data from a OTLP collector."
          },
          {
            "name": "UDP",
            "value": "UDP",
            "description": "Receives data from an UDP collector."
          }
        ]
      }
    },
    "RecordMap": {
      "type": "object",
      "description": "Record map for schema in azure monitor.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Record Map Key."
        },
        "to": {
          "type": "string",
          "description": "Record Map Value."
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "ResourceMap": {
      "type": "object",
      "description": "Resource map for schema in azure monitor.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Resource Map Key."
        },
        "to": {
          "type": "string",
          "description": "Resource Map Value."
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "SchemaMap": {
      "type": "object",
      "description": "Schema map for azure monitor for logs.",
      "properties": {
        "recordMap": {
          "type": "array",
          "description": "Record Map.",
          "items": {
            "$ref": "#/definitions/RecordMap"
          },
          "x-ms-identifiers": []
        },
        "resourceMap": {
          "type": "array",
          "description": "Resource Map captures information about the entity for which telemetry is recorded. For example, metrics exposed by a Kubernetes container can be linked to a resource that specifies the cluster, namespace, pod, and container name.Resource may capture an entire hierarchy of entity identification. It may describe the host in the cloud and specific container or an application running in the process.",
          "items": {
            "$ref": "#/definitions/ResourceMap"
          },
          "x-ms-identifiers": []
        },
        "scopeMap": {
          "type": "array",
          "description": "A scope map is a logical unit of the application code with which the emitted telemetry can be associated.",
          "items": {
            "$ref": "#/definitions/ScopeMap"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "recordMap"
      ]
    },
    "ScopeMap": {
      "type": "object",
      "description": "Scope map for schema in azure monitor.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Scope Map Key."
        },
        "to": {
          "type": "string",
          "description": "Scope Map Value."
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "Service": {
      "type": "object",
      "description": "Service Info.",
      "properties": {
        "pipelines": {
          "type": "array",
          "description": "Pipelines belonging to a given pipeline group.",
          "items": {
            "$ref": "#/definitions/Pipeline"
          },
          "x-ms-identifiers": []
        },
        "persistence": {
          "$ref": "#/definitions/PersistenceConfigurations",
          "description": "Persistence options to all pipelines in the instance.",
          "x-ms-identifiers": []
        }
      },
      "required": [
        "pipelines"
      ]
    },
    "ServiceUpdate": {
      "type": "object",
      "description": "Service Info.",
      "properties": {
        "pipelines": {
          "type": "array",
          "description": "Pipelines belonging to a given pipeline group.",
          "items": {
            "$ref": "#/definitions/Pipeline"
          },
          "x-ms-identifiers": []
        },
        "persistence": {
          "$ref": "#/definitions/PersistenceConfigurationsUpdate",
          "description": "Persistence options to all pipelines in the instance.",
          "x-ms-identifiers": []
        }
      }
    },
    "SyslogReceiver": {
      "type": "object",
      "description": "Base receiver using TCP as transport protocol.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Syslog receiver endpoint definition. Example: 0.0.0.0:<port>.",
          "pattern": "^[a-zA-Z0-9-\\.]+:[0-9]+$"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol to parse syslog messages. Default rfc3164",
          "default": "rfc3164",
          "enum": [
            "rfc3164",
            "rfc5424"
          ],
          "x-ms-enum": {
            "name": "SyslogProtocol",
            "modelAsString": true,
            "values": [
              {
                "name": "rfc3164",
                "value": "rfc3164",
                "description": "rfc3164 protocol."
              },
              {
                "name": "rfc5424",
                "value": "rfc5424",
                "description": "rfc5424 protocol."
              }
            ]
          }
        }
      },
      "required": [
        "endpoint"
      ]
    },
    "TcpExporter": {
      "type": "object",
      "description": "Base exporter using TCP as transport protocol.",
      "properties": {
        "url": {
          "type": "string",
          "description": "TCP url to export.",
          "pattern": "^(https?)://[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*$"
        }
      },
      "required": [
        "url"
      ]
    },
    "UdpReceiver": {
      "type": "object",
      "description": "Receiver using UDP as transport protocol.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "TCP endpoint definition. Example: 0.0.0.0:<port>.",
          "pattern": "^[a-zA-Z0-9-\\.]+:[0-9]+$"
        },
        "encoding": {
          "type": "string",
          "description": "The encoding of the stream being received.",
          "default": "nop",
          "enum": [
            "nop",
            "utf-8",
            "utf-16le",
            "utf-16be",
            "ascii",
            "big5"
          ],
          "x-ms-enum": {
            "name": "StreamEncodingType",
            "modelAsString": true,
            "values": [
              {
                "name": "nop",
                "value": "nop",
                "description": "No encoding validation. Treats the file as a stream of raw bytes."
              },
              {
                "name": "utf_8",
                "value": "utf-8",
                "description": "UTF-8 encoding."
              },
              {
                "name": "utf_16le",
                "value": "utf-16le",
                "description": "UTF-16 encoding with little-endian byte order."
              },
              {
                "name": "utf_16be",
                "value": "utf-16be",
                "description": "UTF-16 encoding with little-endian byte order."
              },
              {
                "name": "ascii",
                "value": "ascii",
                "description": "ASCII encoding."
              },
              {
                "name": "big5",
                "value": "big5",
                "description": "The Big5 Chinese character encoding."
              }
            ]
          }
        },
        "readQueueLength": {
          "type": "integer",
          "format": "int32",
          "description": "Max read queue length.",
          "default": 1000,
          "minimum": 100,
          "maximum": 100000
        }
      },
      "required": [
        "endpoint"
      ]
    }
  },
  "parameters": {}
}
