{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationClient",
    "version": "2018-02-01",
    "description": "ARM applications"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Solutions/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "ListOperations",
        "description": "Lists all of the available Microsoft.Solutions REST API operations.",
        "x-ms-examples": {
          "List Solutions operations": {
            "$ref": "./examples/listSolutionsOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Get",
        "description": "Gets the managed application.",
        "x-ms-examples": {
          "Get a managed application": {
            "$ref": "./examples/getApplication.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the managed application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "404": {
            "description": "NotFound",
            "x-ms-error-response": false
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Delete",
        "description": "Deletes the managed application.",
        "x-ms-examples": {
          "Deletes a managed application": {
            "$ref": "./examples/deleteApplication.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_CreateOrUpdate",
        "description": "Creates or updates a managed application.",
        "x-ms-examples": {
          "Create or update managed application": {
            "$ref": "./examples/createOrUpdateApplication.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "description": "Parameters supplied to the create or update a managed application."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the managed application, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Created - Returns information about the managed application, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Update",
        "description": "Updates an existing managed application.",
        "x-ms-examples": {
          "Updates managed application": {
            "$ref": "./examples/updateApplication.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            },
            "description": "Parameters supplied to update an existing managed application."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            }
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed.",
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}": {
      "get": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_Get",
        "description": "Gets the managed application definition.",
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/getApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "404": {
            "description": "NotFound.",
            "x-ms-error-response": false
          },
          "200": {
            "description": "OK - Returns the managed application definition.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_Delete",
        "description": "Deletes the managed application definition.",
        "x-ms-examples": {
          "Deletes the managed application definition": {
            "$ref": "./examples/deleteApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition to delete.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_CreateOrUpdate",
        "description": "Creates or updates a managed application definition.",
        "x-ms-examples": {
          "Create or update managed application definition": {
            "$ref": "./examples/createOrUpdateApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            },
            "description": "Parameters supplied to the create or update an managed application definition."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the managed application definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "201": {
            "description": "Created - Returns information about the managed application definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_Update",
        "description": "Updates the managed application definition.",
        "x-ms-examples": {
          "Update managed application definition": {
            "$ref": "./examples/updateApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionPatchable"
            },
            "description": "Parameters supplied to the update a managed application definition."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the managed application definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions": {
      "get": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_ListByResourceGroup",
        "description": "Lists the managed application definitions in a resource group.",
        "x-ms-examples": {
          "List managed application definitions in a resource group": {
            "$ref": "./examples/listApplicationDefinitionsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of managed application definitions.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_ListByResourceGroup",
        "description": "Lists all the applications within a resource group.",
        "x-ms-examples": {
          "Lists all the applications within a resource group": {
            "$ref": "./examples/listApplicationsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of applications.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applicationDefinitions": {
      "get": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_ListBySubscription",
        "description": "Lists the managed application definitions in a subscription.",
        "x-ms-examples": {
          "Lists the managed application definitions in a subscription": {
            "$ref": "./examples/listApplicationDefinitionsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of managed application definitions.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_ListBySubscription",
        "description": "Lists all the applications within a subscription.",
        "x-ms-examples": {
          "Lists all the applications within a subscription": {
            "$ref": "./examples/listApplicationsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of applications.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_GetById",
        "description": "Gets the managed application.",
        "x-ms-examples": {
          "Gets the managed application": {
            "$ref": "./examples/getApplicationById.json"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "404": {
            "description": "NotFound.",
            "x-ms-error-response": false
          },
          "200": {
            "description": "OK - Returns the managed application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_DeleteById",
        "description": "Deletes the managed application.",
        "x-ms-examples": {
          "Deletes the managed application": {
            "$ref": "./examples/deleteApplicationById.json"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_CreateOrUpdateById",
        "description": "Creates or updates a managed application.",
        "x-ms-examples": {
          "Creates or updates a managed application": {
            "$ref": "./examples/createOrUpdateApplicationById.json"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "description": "Parameters supplied to the create or update a managed application."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the managed application, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Created - Returns information about the managed application, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_UpdateById",
        "description": "Updates an existing managed application.",
        "x-ms-examples": {
          "Updates an existing managed application.": {
            "$ref": "./examples/updateApplicationById.json"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            },
            "description": "Parameters supplied to update an existing managed application."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            }
          },
          "202": {
            "description": "Accepted - Returns information about the managed application, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/refreshPermissions": {
      "post": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_RefreshPermissions",
        "description": "Refresh Permissions for application.",
        "x-ms-examples": {
          "Refresh Permissions for application": {
            "$ref": "./examples/refreshApplicationPermissions.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "x-ms-paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy": {
      "get": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_GetById",
        "description": "Gets the managed application definition.",
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/getApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "404": {
            "description": "NotFound.",
            "x-ms-error-response": false
          },
          "200": {
            "description": "OK - Returns the managed application definition.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_DeleteById",
        "description": "Deletes the managed application definition.",
        "x-ms-examples": {
          "Deletes managed application definition": {
            "$ref": "./examples/deleteApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_CreateOrUpdateById",
        "description": "Creates or updates a managed application definition.",
        "x-ms-examples": {
          "Create or update managed application definition": {
            "$ref": "./examples/createOrUpdateApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            },
            "description": "Parameters supplied to the create or update a managed application definition."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the managed application definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "201": {
            "description": "Created - Returns information about the managed application definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ApplicationDefinitions"
        ],
        "operationId": "ApplicationDefinitions_UpdateById",
        "description": "Updates the managed application definition.",
        "x-ms-examples": {
          "Update managed application definition": {
            "$ref": "./examples/updateApplicationDefinition.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the managed application definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionPatchable"
            },
            "description": "Parameters supplied to the update a managed application definition."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the managed application definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Application": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The managed application properties."
        },
        "plan": {
          "$ref": "#/definitions/Plan",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "required": [
        "properties",
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about managed application."
    },
    "ApplicationPatchable": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The managed application properties."
        },
        "plan": {
          "$ref": "#/definitions/PlanPatchable",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about managed application."
    },
    "ApplicationDefinition": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationDefinitionProperties",
          "description": "The managed application definition properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about managed application definition."
    },
    "ApplicationProperties": {
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applicationDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of managed application definition Id."
        },
        "publisherPackageId": {
          "type": "string",
          "description": "The publisher package Id."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "readOnly": true,
          "type": "object",
          "description": "Name and value pairs that define the managed application outputs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The managed application provisioning state."
        },
        "billingDetails": {
          "readOnly": true,
          "$ref": "#/definitions/ApplicationBillingDetailsDefinition",
          "description": "The managed application billing details."
        },
        "publisherTenantId": {
          "type": "string",
          "description": "The publisher tenant Id.",
          "readOnly": true
        },
        "authorizations": {
          "description": "The  read-only authorizations property that is retrieved from the application package.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationAuthorization"
          },
          "readOnly": true
        },
        "customerSupport": {
          "$ref": "#/definitions/ApplicationPackageContact",
          "description": "The read-only customer support property that is retrieved from the application package.",
          "readOnly": true
        },
        "supportUrls": {
          "$ref": "#/definitions/ApplicationPackageSupportUrls",
          "description": "The read-only support URLs property that is retrieved from the application package.",
          "readOnly": true
        },
        "artifacts": {
          "description": "The collection of managed application artifacts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationArtifact"
          },
          "readOnly": true
        },
        "createdBy": {
          "readOnly": true,
          "$ref": "#/definitions/ApplicationClientDetails",
          "description": "The client entity that created the JIT request."
        },
        "updatedBy": {
          "readOnly": true,
          "$ref": "#/definitions/ApplicationClientDetails",
          "description": "The client entity that last updated the JIT request."
        }
      },
      "description": "The managed application properties."
    },
    "ApplicationPropertiesPatchable": {
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applicationDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of managed application definition Id."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "readOnly": true,
          "type": "object",
          "description": "Name and value pairs that define the managed application outputs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The managed application provisioning state."
        }
      },
      "description": "The managed application properties."
    },
    "ApplicationDefinitionProperties": {
      "properties": {
        "lockLevel": {
          "$ref": "#/definitions/ApplicationLockLevel",
          "description": "The managed application lock level."
        },
        "displayName": {
          "type": "string",
          "description": "The managed application definition display name."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "A value indicating whether the package is enabled or not."
        },
        "authorizations": {
          "description": "The managed application provider authorizations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationAuthorization"
          }
        },
        "artifacts": {
          "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationDefinitionArtifact"
          }
        },
        "description": {
          "type": "string",
          "description": "The managed application definition description."
        },
        "packageFileUri": {
          "type": "string",
          "description": "The managed application definition package file Uri. Use this element"
        },
        "mainTemplate": {
          "type": "object",
          "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string."
        },
        "createUiDefinition": {
          "type": "object",
          "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string."
        },
        "policies": {
          "description": "The managed application provider policies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationPolicy"
          }
        }
      },
      "required": [
        "lockLevel"
      ],
      "description": "The managed application definition properties."
    },
    "ApplicationDefinitionPatchable": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Application definition tags"
        }
      },
      "description": "Information about an application definition request."
    },
    "Plan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "required": [
        "name",
        "publisher",
        "product",
        "version"
      ],
      "description": "Plan for the managed application."
    },
    "PlanPatchable": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "description": "Plan for the managed application."
    },
    "GenericResource": {
      "properties": {
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Resource information."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU name."
        },
        "tier": {
          "type": "string",
          "description": "The SKU tier."
        },
        "size": {
          "type": "string",
          "description": "The SKU size."
        },
        "family": {
          "type": "string",
          "description": "The SKU family."
        },
        "model": {
          "type": "string",
          "description": "The SKU model."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "SKU for the resource."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/userAssignedResourceIdentity"
          },
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      },
      "description": "Identity for the resource."
    },
    "userAssignedResourceIdentity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of user assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id of user assigned identity."
        }
      },
      "description": "Represents the user assigned identity that is contained within the UserAssignedIdentities dictionary on ResourceIdentity"
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "Resource information.",
      "x-ms-azure-resource": true
    },
    "ApplicationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          },
          "description": "The array of managed applications."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of managed applications."
    },
    "ApplicationDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationDefinition"
          },
          "description": "The array of managed application definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of managed application definitions."
    },
    "ProvisioningState": {
      "description": "Provisioning status of the managed application.",
      "readOnly": true,
      "enum": [
        "NotSpecified",
        "Accepted",
        "Running",
        "Ready",
        "Creating",
        "Created",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed",
        "Succeeded",
        "Updating"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ApplicationLockLevel": {
      "description": "The managed application lock level.",
      "enum": [
        "CanNotDelete",
        "ReadOnly",
        "None"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplicationLockLevel",
        "modelAsString": false
      }
    },
    "ApplicationArtifactType": {
      "description": "The managed application artifact type.",
      "enum": [
        "NotSpecified",
        "Template",
        "Custom"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplicationArtifactType",
        "modelAsString": false
      }
    },
    "ApplicationDefinitionArtifactName": {
      "description": "The managed application artifact name.",
      "enum": [
        "NotSpecified",
        "ApplicationResourceTemplate",
        "CreateUiDefinition",
        "MainTemplateParameters"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplicationDefinitionArtifactName",
        "modelAsString": true
      }
    },
    "ApplicationArtifactName": {
      "description": "The managed application artifact name.",
      "enum": [
        "NotSpecified",
        "ViewDefinition",
        "Authorizations",
        "CustomRoleDefinition"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplicationArtifactName",
        "modelAsString": true
      }
    },
    "ApplicationArtifact": {
      "properties": {
        "name": {
          "$ref": "#/definitions/ApplicationArtifactName",
          "description": "The managed application artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The managed application artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplicationArtifactType",
          "description": "The managed application artifact type."
        }
      },
      "required": [
        "name",
        "type",
        "uri"
      ],
      "description": "Managed application artifact."
    },
    "ApplicationDefinitionArtifact": {
      "properties": {
        "name": {
          "$ref": "#/definitions/ApplicationDefinitionArtifactName",
          "description": "The managed application definition artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The managed application definition artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplicationArtifactType",
          "description": "The managed application definition artifact type."
        }
      },
      "required": [
        "name",
        "type",
        "uri"
      ],
      "description": "Application definition artifact."
    },
    "ApplicationPolicy": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The policy name"
        },
        "policyDefinitionId": {
          "type": "string",
          "description": "The policy definition Id."
        },
        "parameters": {
          "type": "string",
          "description": "The policy parameters."
        }
      },
      "description": "Managed application policy."
    },
    "ApplicationAuthorization": {
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group."
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ],
      "description": "The managed application provider authorization."
    },
    "ApplicationPackageContact": {
      "properties": {
        "contactName": {
          "type": "string",
          "description": "The contact name."
        },
        "email": {
          "type": "string",
          "description": "The contact email."
        },
        "phone": {
          "type": "string",
          "description": "The contact phone number."
        }
      },
      "required": [
        "email",
        "phone"
      ],
      "description": "The application package contact information."
    },
    "ApplicationPackageSupportUrls": {
      "properties": {
        "publicAzure": {
          "type": "string",
          "description": "The public azure support URL."
        },
        "governmentCloud": {
          "type": "string",
          "description": "The government cloud support URL."
        }
      },
      "description": "The appliance package support URLs."
    },
    "ApplicationBillingDetailsDefinition": {
      "properties": {
        "resourceUsageId": {
          "type": "string",
          "description": "The managed application resource usage Id."
        }
      },
      "description": "Managed application billing details definition."
    },
    "ApplicationClientDetails": {
      "readOnly": true,
      "properties": {
        "oid": {
          "type": "string",
          "description": "The client Oid."
        },
        "puid": {
          "type": "string",
          "description": "The client Puid"
        },
        "applicationId": {
          "type": "string",
          "description": "The client application Id."
        }
      },
      "description": "The application client details to track the entity creating/updating the managed app resource."
    },
    "Operation": {
      "description": "Microsoft.Solutions operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Solutions",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Application, JitRequest, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "DeploymentMode": {
      "description": "The deployment mode.",
      "enum": [
        "NotSpecified",
        "Incremental",
        "Complete"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true
      }
    },
    "ApplicationManagementMode": {
      "description": "The management mode.",
      "enum": [
        "NotSpecified",
        "Unmanaged",
        "Managed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplicationManagementMode",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    }
  }
}
