{
  "swagger": "2.0",
  "info": {
    "title": "MixedRealityClient",
    "version": "2021-03-01-preview",
    "description": "Mixed Reality Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SpatialAnchorsAccounts"
    },
    {
      "name": "RemoteRenderingAccounts"
    },
    {
      "name": "ObjectAnchorsAccounts"
    }
  ],
  "paths": {
    "/providers/Microsoft.MixedReality/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available operations": {
            "$ref": "./examples/proxy/ExposingAvailableOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "CheckNameAvailabilityLocal",
        "description": "Check Name Availability for local uniqueness",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckLocalNameAvailability": {
            "$ref": "./examples/proxy/CheckNameAvailabilityForLocalUniqueness.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/objectAnchorsAccounts": {
      "get": {
        "operationId": "ObjectAnchorsAccounts_ListBySubscription",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Object Anchors Accounts by Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccountPage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List object anchors accounts by subscription": {
            "$ref": "./examples/object-anchors/GetBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/remoteRenderingAccounts": {
      "get": {
        "operationId": "RemoteRenderingAccounts_ListBySubscription",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Remote Rendering Accounts by Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccountPage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List remote rendering accounts by subscription": {
            "$ref": "./examples/remote-rendering/GetBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts": {
      "get": {
        "operationId": "SpatialAnchorsAccounts_ListBySubscription",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Spatial Anchors Accounts by Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccountPage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List spatial anchors accounts by subscription": {
            "$ref": "./examples/spatial-anchors/GetBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/objectAnchorsAccounts": {
      "get": {
        "operationId": "ObjectAnchorsAccounts_ListByResourceGroup",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Resources by Resource Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccountPage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List object anchors accounts by resource group": {
            "$ref": "./examples/object-anchors/GetByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/objectAnchorsAccounts/{accountName}": {
      "get": {
        "operationId": "ObjectAnchorsAccounts_Get",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nRetrieve an Object Anchors Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get object anchors account": {
            "$ref": "./examples/object-anchors/Get.json"
          }
        }
      },
      "put": {
        "operationId": "ObjectAnchorsAccounts_Create",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nCreating or Updating an object anchors Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "objectAnchorsAccount",
            "in": "body",
            "description": "Object Anchors Account parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ObjectAnchorsAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccount"
            }
          },
          "201": {
            "description": "Resource 'ObjectAnchorsAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create object anchors account": {
            "$ref": "./examples/object-anchors/Put.json"
          }
        }
      },
      "patch": {
        "operationId": "ObjectAnchorsAccounts_Update",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nUpdating an Object Anchors Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "objectAnchorsAccount",
            "in": "body",
            "description": "Object Anchors Account parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectAnchorsAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update object anchors account": {
            "$ref": "./examples/object-anchors/Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "ObjectAnchorsAccounts_Delete",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nDelete an Object Anchors Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete object anchors account": {
            "$ref": "./examples/object-anchors/Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/objectAnchorsAccounts/{accountName}/listKeys": {
      "post": {
        "operationId": "ObjectAnchorsAccounts_ListKeys",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Both of the 2 Keys of an object anchors Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List object anchors account key": {
            "$ref": "./examples/object-anchors/ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/objectAnchorsAccounts/{accountName}/regenerateKeys": {
      "post": {
        "operationId": "ObjectAnchorsAccounts_RegenerateKeys",
        "tags": [
          "ObjectAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nRegenerate specified Key of an object anchors Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "regenerate",
            "in": "body",
            "description": "Required information for key regeneration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountKeyRegenerateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate object anchors account keys": {
            "$ref": "./examples/object-anchors/RegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts": {
      "get": {
        "operationId": "RemoteRenderingAccounts_ListByResourceGroup",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Resources by Resource Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccountPage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List remote rendering accounts by resource group": {
            "$ref": "./examples/remote-rendering/GetByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}": {
      "get": {
        "operationId": "RemoteRenderingAccounts_Get",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nRetrieve a Remote Rendering Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get remote rendering account": {
            "$ref": "./examples/remote-rendering/Get.json"
          }
        }
      },
      "put": {
        "operationId": "RemoteRenderingAccounts_Create",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nCreating or Updating a Remote Rendering Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "remoteRenderingAccount",
            "in": "body",
            "description": "Remote Rendering Account parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RemoteRenderingAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccount"
            }
          },
          "201": {
            "description": "Resource 'RemoteRenderingAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create remote rendering account": {
            "$ref": "./examples/remote-rendering/Put.json"
          }
        }
      },
      "patch": {
        "operationId": "RemoteRenderingAccounts_Update",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nUpdating a Remote Rendering Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "remoteRenderingAccount",
            "in": "body",
            "description": "Remote Rendering Account parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemoteRenderingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update remote rendering account": {
            "$ref": "./examples/remote-rendering/Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "RemoteRenderingAccounts_Delete",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nDelete a Remote Rendering Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete remote rendering account": {
            "$ref": "./examples/remote-rendering/Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}/listKeys": {
      "post": {
        "operationId": "RemoteRenderingAccounts_ListKeys",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Both of the 2 Keys of a Remote Rendering Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List remote rendering account key": {
            "$ref": "./examples/remote-rendering/ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}/regenerateKeys": {
      "post": {
        "operationId": "RemoteRenderingAccounts_RegenerateKeys",
        "tags": [
          "RemoteRenderingAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nRegenerate specified Key of a Remote Rendering Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "regenerate",
            "in": "body",
            "description": "Required information for key regeneration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountKeyRegenerateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate remote rendering account keys": {
            "$ref": "./examples/remote-rendering/RegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts": {
      "get": {
        "operationId": "SpatialAnchorsAccounts_ListByResourceGroup",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Resources by Resource Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccountPage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List spatial anchor accounts by resource group": {
            "$ref": "./examples/spatial-anchors/GetByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}": {
      "get": {
        "operationId": "SpatialAnchorsAccounts_Get",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nRetrieve a Spatial Anchors Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get spatial anchors account": {
            "$ref": "./examples/spatial-anchors/Get.json"
          }
        }
      },
      "put": {
        "operationId": "SpatialAnchorsAccounts_Create",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nCreating or Updating a Spatial Anchors Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "spatialAnchorsAccount",
            "in": "body",
            "description": "Spatial Anchors Account parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SpatialAnchorsAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "201": {
            "description": "Resource 'SpatialAnchorsAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create spatial anchor account": {
            "$ref": "./examples/spatial-anchors/Put.json"
          }
        }
      },
      "patch": {
        "operationId": "SpatialAnchorsAccounts_Update",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nUpdating a Spatial Anchors Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "spatialAnchorsAccount",
            "in": "body",
            "description": "Spatial Anchors Account parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update spatial anchors account": {
            "$ref": "./examples/spatial-anchors/Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "SpatialAnchorsAccounts_Delete",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nDelete a Spatial Anchors Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete spatial anchors account": {
            "$ref": "./examples/spatial-anchors/Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}/listKeys": {
      "post": {
        "operationId": "SpatialAnchorsAccounts_ListKeys",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nList Both of the 2 Keys of a Spatial Anchors Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List spatial anchor account key": {
            "$ref": "./examples/spatial-anchors/ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}/regenerateKeys": {
      "post": {
        "operationId": "SpatialAnchorsAccounts_RegenerateKeys",
        "tags": [
          "SpatialAnchorsAccounts"
        ],
        "description": "> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed Reality service is now deprecated and will be retired.\n\nRegenerate specified Key of a Spatial Anchors Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Name of an Mixed Reality Account.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "regenerate",
            "in": "body",
            "description": "Required information for key regeneration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountKeyRegenerateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate spatial anchors account keys": {
            "$ref": "./examples/spatial-anchors/RegenerateKey.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountKeyRegenerateRequest": {
      "type": "object",
      "description": "Request for account key regeneration",
      "properties": {
        "serial": {
          "$ref": "#/definitions/Serial",
          "description": "Serial of key to be regenerated"
        }
      }
    },
    "AccountKeys": {
      "type": "object",
      "description": "Developer Keys of account",
      "properties": {
        "primaryKey": {
          "type": "string",
          "description": "value of primary key.",
          "readOnly": true
        },
        "secondaryKey": {
          "type": "string",
          "description": "value of secondary key.",
          "readOnly": true
        }
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "description": "Check Name Availability Request",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource Name To Verify"
        },
        "type": {
          "type": "string",
          "description": "Fully qualified resource type which includes provider namespace"
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "CheckNameAvailabilityResponse": {
      "type": "object",
      "description": "Check Name Availability Response",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "if name Available"
        },
        "reason": {
          "$ref": "#/definitions/NameUnavailableReason",
          "description": "Resource Name To Verify"
        },
        "message": {
          "type": "string",
          "description": "detail message"
        }
      },
      "required": [
        "nameAvailable"
      ]
    },
    "Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      }
    },
    "MixedRealityAccountProperties": {
      "type": "object",
      "description": "Common Properties shared by Mixed Reality Accounts",
      "properties": {
        "storageAccountName": {
          "type": "string",
          "description": "The name of the storage account associated with this accountId"
        },
        "accountId": {
          "type": "string",
          "description": "unique id of certain account.",
          "readOnly": true
        },
        "accountDomain": {
          "type": "string",
          "description": "Correspond domain name of certain Spatial Anchors Account",
          "readOnly": true
        }
      }
    },
    "NameUnavailableReason": {
      "type": "string",
      "description": "reason of name unavailable.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "NameUnavailableReason",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid"
          },
          {
            "name": "AlreadyExists",
            "value": "AlreadyExists"
          }
        ]
      }
    },
    "ObjectAnchorsAccount": {
      "type": "object",
      "description": "ObjectAnchorsAccount Response.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MixedRealityAccountProperties",
          "description": "Property bag.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/ObjectAnchorsAccountIdentity"
        },
        "plan": {
          "$ref": "#/definitions/Identity",
          "description": "The plan associated with this account"
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "kind": {
          "$ref": "#/definitions/Sku",
          "description": "The kind of account, if supported"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ObjectAnchorsAccountIdentity": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Identity"
        }
      ]
    },
    "ObjectAnchorsAccountPage": {
      "type": "object",
      "description": "Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ObjectAnchorsAccount items on this page",
          "items": {
            "$ref": "#/definitions/ObjectAnchorsAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RemoteRenderingAccount": {
      "type": "object",
      "description": "RemoteRenderingAccount Response.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MixedRealityAccountProperties",
          "description": "Property bag.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity associated with this account"
        },
        "plan": {
          "$ref": "#/definitions/Identity",
          "description": "The plan associated with this account"
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "kind": {
          "$ref": "#/definitions/Sku",
          "description": "The kind of account, if supported"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RemoteRenderingAccountPage": {
      "type": "object",
      "description": "Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RemoteRenderingAccount items on this page",
          "items": {
            "$ref": "#/definitions/RemoteRenderingAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Serial": {
      "type": "number",
      "description": "Serial of key to be regenerated",
      "enum": [
        1,
        2
      ],
      "x-ms-enum": {
        "name": "Serial",
        "modelAsString": false,
        "values": [
          {
            "name": "Primary",
            "value": 1,
            "description": "The Primary Key"
          },
          {
            "name": "Secondary",
            "value": 2,
            "description": "The Secondary Key"
          }
        ]
      }
    },
    "Sku": {
      "type": "object",
      "description": "The resource model definition representing SKU",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU. Ex - P3. It is typically a letter+number code"
        },
        "tier": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/SkuTier",
          "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
        },
        "size": {
          "type": "string",
          "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code."
        },
        "family": {
          "type": "string",
          "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
        }
      },
      "required": [
        "name"
      ]
    },
    "SpatialAnchorsAccount": {
      "type": "object",
      "description": "SpatialAnchorsAccount Response.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MixedRealityAccountProperties",
          "description": "Property bag.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity associated with this account"
        },
        "plan": {
          "$ref": "#/definitions/Identity",
          "description": "The plan associated with this account"
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "kind": {
          "$ref": "#/definitions/Sku",
          "description": "The kind of account, if supported"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SpatialAnchorsAccountPage": {
      "type": "object",
      "description": "Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SpatialAnchorsAccount items on this page",
          "items": {
            "$ref": "#/definitions/SpatialAnchorsAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
