{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2015-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
      "get": {
        "x-ms-examples": {
          "Get JIT network access policies on a subscription": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscription_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control.",
        "operationId": "JitNetworkAccessPolicies_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
      "get": {
        "x-ms-examples": {
          "Get JIT network access policies on a subscription from a security data location": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscriptionLocation_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_ListByRegion",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
      "get": {
        "x-ms-examples": {
          "Get JIT network access policies on a resource group": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroup_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
      "get": {
        "x-ms-examples": {
          "Get JIT network access policies on a resource group from a security data location": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroupLocation_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_ListByResourceGroupAndRegion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}": {
      "get": {
        "x-ms-examples": {
          "Get JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPolicy_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/AscLocation"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/CreateJitNetworkAccessPolicy_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Create a policy for protecting resources using Just-in-Time access control",
        "operationId": "JitNetworkAccessPolicies_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/AscLocation"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete a JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/DeleteJitNetworkAccessPolicy_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Delete a Just-in-Time access control policy.",
        "operationId": "JitNetworkAccessPolicies_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/AscLocation"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource was deleted"
          },
          "204": {
            "description": "No Content - Resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyInitiateType}": {
      "post": {
        "x-ms-examples": {
          "Initiate an action on a JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/InitiateJitNetworkAccessPolicy_example.json"
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Initiate a JIT access from a specific Just-in-Time policy configuration.",
        "operationId": "JitNetworkAccessPolicies_Initiate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/AscLocation"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyInitiateType"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyInitiateRequest"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessRequest"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}
