{
  "swagger": "2.0",
  "info": {
    "title": "Azure Security Center - JitNetworkAccessPolicies API - Public Preview",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2015-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "description": "Azure Active Directory OAuth2 Flow",
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/jitPolicies": {
      "get": {
        "x-ms-examples": {
          "List JIT Policies resources of an extended resource, Though this API returns a list, Currently Microsoft.Security only supports a single JIT Policy per resource": {
            "$ref": "./examples/jitPolicies/ListByExtendedResourceJitPolicies_example.json"
          }
        },
        "tags": [
          "jitPolicies"
        ],
        "operationId": "jitPolicies_ListByExtendedResource",
        "description": "Gets a list of JIT Policies resources in scope of an extended resource.",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceNamespace"
          },
          {
            "$ref": "#/parameters/resourceType"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/jitPolicies/{jitNetworkAccessPolicyName}": {
      "get": {
        "x-ms-examples": {
          "Get JIT policy": {
            "$ref": "./examples/JitPolicies/GetJitPolicy_example.json"
          }
        },
        "tags": [
          "jitPolicies"
        ],
        "operationId": "jitPolicies_Get",
        "description": "Gets a single JIT Policy resource",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceNamespace"
          },
          {
            "$ref": "#/parameters/resourceType"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "jitPolicies"
        ],
        "x-ms-examples": {
          "Create JIT policy": {
            "$ref": "./examples/JitPolicies/CreateJitPolicy_example.json"
          }
        },
        "operationId": "jitPolicies_CreateOrUpdate",
        "description": "Create a policy for protecting the extended resource using Just-in-Time access control",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceNamespace"
          },
          {
            "$ref": "#/parameters/resourceType"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPolicy"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "./common/jitPolicies/jitTypes.json#/definitions/JitNetworkAccessPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "jitPolicies"
        ],
        "x-ms-examples": {
          "Delete a JIT policy": {
            "$ref": "./examples/JitPolicies/DeleteJitPolicy_example.json"
          }
        },
        "operationId": "jitPolicies_Delete",
        "description": "Delete a JIT policy.",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceNamespace"
          },
          {
            "$ref": "#/parameters/resourceType"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource was deleted"
          },
          "204": {
            "description": "No Content - Resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/jitPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyInitiateType}": {
      "post": {
        "x-ms-examples": {
          "Initiate an action on a JIT policy": {
            "$ref": "./examples/JitPolicies/InitiateJitPolicy_example.json"
          }
        },
        "tags": [
          "jitPolicies"
        ],
        "operationId": "jitPolicies_Initiate",
        "description": "Initiate a JIT access from a specific Just-in-Time policy configuration.",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceNamespace"
          },
          {
            "$ref": "#/parameters/resourceType"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyInitiateType"
          },
          {
            "$ref": "./common/jitPolicies/jitTypes.json#/parameters/JitNetworkAccessPolicyInitiateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "resourceNamespace": {
      "name": "resourceNamespace",
      "in": "path",
      "description": "The Namespace of the resource.",
      "required": true,
      "type": "string"
    },
    "resourceType": {
      "name": "resourceType",
      "in": "path",
      "description": "The type of the resource.",
      "required": true,
      "type": "string"
    },
    "resourceName": {
      "name": "resourceName",
      "in": "path",
      "description": "Name of the resource.",
      "required": true,
      "type": "string"
    }
  }
}
