{
    "swagger": "2.0",
    "info": {
        "title": "Security Center",
        "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
        "version": "2015-06-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/providers/Microsoft.Security/operations": {
            "get": {
                "tags": [
                    "Operations"
                ],
                "description": "Exposes all available operations for discovery purposes.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OperationList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations": {
            "get": {
                "x-ms-examples": {
                    "Get security data locations": {
                        "$ref": "./examples/Locations/GetLocations_example.json"
                    }
                },
                "tags": [
                    "Locations"
                ],
                "description": "The location of the responsible ASC of the specific subscription (home region). For each subscription there is only one responsible location. The location in the response should be used to read or write other resources in ASC according to their ID.",
                "operationId": "Locations_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AscLocationList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}": {
            "get": {
                "x-ms-examples": {
                    "Get security data location": {
                        "$ref": "./examples/Locations/GetLocation_example.json"
                    }
                },
                "tags": [
                    "Locations"
                ],
                "description": "Details of a specific location",
                "operationId": "Locations_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AscLocation"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/tasks": {
            "get": {
                "x-ms-examples": {
                    "Get security recommendations tasks": {
                        "$ref": "./examples/Tasks/GetTasksSubscription_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityTaskList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
            "get": {
                "x-ms-examples": {
                    "Get security recommendations tasks from security data location": {
                        "$ref": "./examples/Tasks/GetTasksSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_ListByHomeRegion",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityTaskList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
            "get": {
                "x-ms-examples": {
                    "Get security recommendation task from security data location": {
                        "$ref": "./examples/Tasks/GetTaskSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_GetSubscriptionLevelTask",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/TaskName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityTask"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
            "post": {
                "x-ms-examples": {
                    "Change security recommendation task state": {
                        "$ref": "./examples/Tasks/UpdateTaskSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_UpdateSubscriptionLevelTaskState",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/TaskName"
                    },
                    {
                        "$ref": "#/parameters/TaskUpdateActionType"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
            "get": {
                "x-ms-examples": {
                    "Get security recommendation tasks in a resource group": {
                        "$ref": "./examples/Tasks/GetTasksResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_ListByResourceGroup",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityTaskList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
            "get": {
                "x-ms-examples": {
                    "Get security recommendation task in a resource group": {
                        "$ref": "./examples/Tasks/GetTaskResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_GetResourceGroupLevelTask",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/TaskName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityTask"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
            "post": {
                "x-ms-examples": {
                    "Change security recommendation task state": {
                        "$ref": "./examples/Tasks/UpdateTaskResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "Tasks"
                ],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "Tasks_UpdateResourceGroupLevelTaskState",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/TaskName"
                    },
                    {
                        "$ref": "#/parameters/TaskUpdateActionType"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts": {
            "get": {
                "x-ms-examples": {
                    "Get security alerts on a subscription": {
                        "$ref": "./examples/Alerts/GetAlertsSubscription_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "List all the alerts that are associated with the subscription",
                "operationId": "Alerts_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    },
                    {
                        "$ref": "#/parameters/ODataSelect"
                    },
                    {
                        "$ref": "#/parameters/ODataExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/alerts": {
            "get": {
                "x-ms-examples": {
                    "Get security alerts on a resource group": {
                        "$ref": "./examples/Alerts/GetAlertsResourceGroup_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "List all the alerts alerts that are associated with the resource group",
                "operationId": "Alerts_ListByResourceGroup",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    },
                    {
                        "$ref": "#/parameters/ODataSelect"
                    },
                    {
                        "$ref": "#/parameters/ODataExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts": {
            "get": {
                "x-ms-examples": {
                    "Get security alerts on a subscription from a security data location": {
                        "$ref": "./examples/Alerts/GetAlertsSubscriptionsLocation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "List all the alerts that are associated with the subscription that are stored in a specific location",
                "operationId": "Alerts_ListSubscriptionLevelAlertsByRegion",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    },
                    {
                        "$ref": "#/parameters/ODataSelect"
                    },
                    {
                        "$ref": "#/parameters/ODataExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts": {
            "get": {
                "x-ms-examples": {
                    "Get security alerts on a resource group from a security data location": {
                        "$ref": "./examples/Alerts/GetAlertsResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "List all the alerts that are associated with the resource group that are stored in a specific location",
                "operationId": "Alerts_ListResourceGroupLevelAlertsByRegion",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/ODataFilter"
                    },
                    {
                        "$ref": "#/parameters/ODataSelect"
                    },
                    {
                        "$ref": "#/parameters/ODataExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}": {
            "get": {
                "x-ms-examples": {
                    "Get security alert on a subscription from a security data location": {
                        "$ref": "./examples/Alerts/GetAlertSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Get an alert that is associated with a subscription",
                "operationId": "Alerts_GetSubscriptionLevelAlert",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/AlertName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}": {
            "get": {
                "x-ms-examples": {
                    "Get security alert on a resource group from a security data location": {
                        "$ref": "./examples/Alerts/GetAlertResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Get an alert that is associated a resource group or a resource in a resource group",
                "operationId": "Alerts_GetResourceGroupLevelAlerts",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/AlertName"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/{alertUpdateActionType}": {
            "post": {
                "x-ms-examples": {
                    "Update security alert state on a subscription from a security data location": {
                        "$ref": "./examples/Alerts/UpdateAlertSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Update the alert's state",
                "operationId": "Alerts_UpdateSubscriptionLevelAlertState",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/AlertName"
                    },
                    {
                        "$ref": "#/parameters/AlertUpdateActionType"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/{alertUpdateActionType}": {
            "post": {
                "x-ms-examples": {
                    "Update security alert state on a resource group from a security data location": {
                        "$ref": "./examples/Alerts/UpdateAlertResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Update the alert's state",
                "operationId": "Alerts_UpdateResourceGroupLevelAlertState",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/AlertName"
                    },
                    {
                        "$ref": "#/parameters/AlertUpdateActionType"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions": {
            "get": {
                "x-ms-examples": {
                    "Get discovered security solutions": {
                        "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscription_example.json"
                    }
                },
                "tags": [
                    "DiscoveredSecuritySolutions"
                ],
                "description": "Gets a list of discovered Security Solutions for the subscription.",
                "operationId": "DiscoveredSecuritySolutions_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DiscoveredSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions": {
            "get": {
                "x-ms-examples": {
                    "Get discovered security solutions from a security data location": {
                        "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "DiscoveredSecuritySolutions"
                ],
                "description": "Gets a list of discovered Security Solutions for the subscription and location.",
                "operationId": "DiscoveredSecuritySolutions_ListByHomeRegion",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DiscoveredSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions/{discoveredSecuritySolutionName}": {
            "get": {
                "x-ms-examples": {
                    "Get discovered security solution from a security data location": {
                        "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "DiscoveredSecuritySolutions"
                ],
                "description": "Gets a specific discovered Security Solution.",
                "operationId": "DiscoveredSecuritySolutions_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/DiscoveredSecuritySolutionName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DiscoveredSecuritySolution"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
            "get": {
                "x-ms-examples": {
                    "Get JIT network access policies on a subscription": {
                        "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscription_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Policies for protecting resources using Just-in-Time access control.",
                "operationId": "JitNetworkAccessPolicies_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
            "get": {
                "x-ms-examples": {
                    "Get JIT network access policies on a subscription from a security data location": {
                        "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscriptionLocation_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPolicies_ListByRegion",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
            "get": {
                "x-ms-examples": {
                    "Get JIT network access policies on a resource group": {
                        "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroup_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPolicies_ListByResourceGroup",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
            "get": {
                "x-ms-examples": {
                    "Get JIT network access policies on a resource group from a security data location": {
                        "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroupLocation_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPolicies_ListByResourceGroupAndRegion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}": {
            "get": {
                "x-ms-examples": {
                    "Get JIT network access policy": {
                        "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPolicy_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPolicies_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPolicy"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Create JIT network access policy": {
                        "$ref": "./examples/JitNetworkAccessPolicies/CreateJitNetworkAccessPolicy_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Create a policy for protecting resources using Just-in-Time access control",
                "operationId": "JitNetworkAccessPolicies_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPolicy"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a JIT network access policy": {
                        "$ref": "./examples/JitNetworkAccessPolicies/DeleteJitNetworkAccessPolicy_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Delete a Just-in-Time access control policy.",
                "operationId": "JitNetworkAccessPolicies_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Resource was deleted"
                    },
                    "204": {
                        "description": "No Content - Resource does not exist"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyInitiateType}": {
            "post": {
                "x-ms-examples": {
                    "Initiate an action on a JIT network access policy": {
                        "$ref": "./examples/JitNetworkAccessPolicies/InitiateJitNetworkAccessPolicy_example.json"
                    }
                },
                "tags": [
                    "JitNetworkAccessPolicies"
                ],
                "description": "Initiate a JIT access from a specific Just-in-Time policy configuration.",
                "operationId": "JitNetworkAccessPolicies_Initiate",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyInitiateType"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyInitiateRequest"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessRequest"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/externalSecuritySolutions": {
            "get": {
                "x-ms-examples": {
                    "Get external security solutions on a subscription": {
                        "$ref": "./examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscription_example.json"
                    }
                },
                "description": "Gets a list of external security solutions for the subscription.",
                "tags": [
                    "ExternalSecuritySolutions"
                ],
                "operationId": "ExternalSecuritySolutions_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExternalSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions": {
            "get": {
                "x-ms-examples": {
                    "Get external security solutions on a subscription from security data location": {
                        "$ref": "./examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscriptionLocation_example.json"
                    }
                },
                "description": "Gets a list of external Security Solutions for the subscription and location.",
                "tags": [
                    "ExternalSecuritySolutions"
                ],
                "operationId": "ExternalSecuritySolutions_ListByHomeRegion",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExternalSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions/{externalSecuritySolutionsName}": {
            "get": {
                "x-ms-examples": {
                    "Get external security solution": {
                        "$ref": "./examples/ExternalSecuritySolutions/GetExternalSecuritySolution_example.json"
                    }
                },
                "description": "Gets a specific external Security Solution.",
                "tags": [
                    "ExternalSecuritySolutions"
                ],
                "operationId": "ExternalSecuritySolutions_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ExternalSecuritySolutionsName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExternalSecuritySolution"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/topologies": {
            "get": {
                "x-ms-examples": {
                    "Get topology on a subscription": {
                        "$ref": "./examples/Topology/GetTopologySubscription_example.json"
                    }
                },
                "tags": ["Topology"],
                "description": "Gets a list that allows to build a topology view of a subscription.",
                "operationId": "Topology_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TopologyList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/topologies": {
            "get": {
                "x-ms-examples": {
                    "Get topology on a subscription from security data location": {
                        "$ref": "./examples/Topology/GetTopologySubscriptionLocation_example.json"
                    }
                },
                "tags": ["Topology"],
                "description": "Gets a list that allows to build a topology view of a subscription and location.",
                "operationId": "Topology_ListByHomeRegion",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TopologyList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/topologies/{topologyResourceName}": {
            "get": {
                "x-ms-examples": {
                    "Get topology": {
                        "$ref": "./examples/Topology/GetTopology_example.json"
                    }
                },
                "tags": ["Topology"],
                "description": "Gets a specific topology component.",
                "operationId": "Topology_Get",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/TopologyResourceName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TopologyResource"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CloudError": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error response structure.",
            "properties": {
                "error": {
                    "x-ms-client-flatten": true,
                    "description": "Error data",
                    "$ref": "#/definitions/CloudErrorBody"
                }
            }
        },
        "CloudErrorBody": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error details.",
            "properties": {
                "code": {
                    "readOnly": true,
                    "type": "string",
                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
                },
                "message": {
                    "readOnly": true,
                    "type": "string",
                    "description": "A message describing the error, intended to be suitable for display in a user interface."
                }
            }
        },
        "Resource": {
            "type": "object",
            "description": "Describes an Azure resource.",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                }
            },
            "x-ms-azure-resource": true
        },
        "Kind": {
            "type": "object",
            "description": "Describes an Azure resource with kind",
            "properties": {
                "kind": {
                    "type": "string",
                    "description": "Kind of the resource"
                }
            }
        },
        "Location": {
            "type": "object",
            "description": "Describes an Azure resource with location",
            "properties": {
                "location": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Location where the resource is stored"
                }
            }
        },
        "OperationList": {
            "type": "object",
            "description": "List of possible operations for Microsoft.Security resource provider",
            "properties": {
                "value": {
                    "type": "array",
                    "description": "List of Security operations",
                    "items": {
                        "$ref": "#/definitions/Operation"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "Operation": {
            "type": "object",
            "description": "Possible operation in the REST API of Microsoft.Security",
            "properties": {
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the operation"
                },
                "origin": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Where the operation is originated"
                },
                "display": {
                    "$ref": "#/definitions/OperationDisplay"
                }
            }
        },
        "OperationDisplay": {
            "type": "object",
            "description": "Security operation display",
            "properties": {
                "provider": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The resource provider for the operation."
                },
                "resource": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The display name of the resource the operation applies to."
                },
                "operation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The display name of the security operation."
                },
                "description": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The description of the operation."
                }
            }
        },
        "SecurityTaskList": {
            "type": "object",
            "description": "List of security task recommendations",
            "properties": {
                "value": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SecurityTask"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "SecurityTask": {
            "type": "object",
            "description": "Security task that we recommend to do in order to strengthen security",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/SecurityTaskProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "SecurityTaskProperties": {
            "type": "object",
            "description": "Describes properties of a task.",
            "properties": {
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "State of the task (Active, Resolved etc.)"
                },
                "creationTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time this task was discovered in UTC"
                },
                "securityTaskParameters": {
                    "$ref": "#/definitions/SecurityTaskParameters"
                },
                "lastStateChangeTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time this task's details were last changed in UTC"
                },
                "subState": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Additional data on the state of the task"
                }
            }
        },
        "SecurityTaskParameters": {
            "type": "object",
            "description": "Changing set of properties, depending on the task type that is derived from the name field",
            "additionalProperties": true,
            "properties": {
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the task type"
                }
            }
        },
        "AscLocationList": {
            "type": "object",
            "description": "List of locations where ASC saves your data",
            "properties": {
                "value": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AscLocation"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "AscLocation": {
            "type": "object",
            "description": "The ASC location of the subscription is in the \"name\" field",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/AscLocationProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "AscLocationProperties": {
            "type": "object",
            "description": "An empty set of properties"
        },
        "AlertList": {
            "type": "object",
            "description": "List of security alerts",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Alert"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "Alert": {
            "type": "object",
            "description": "Security alert",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/AlertProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "AlertProperties": {
            "type": "object",
            "description": "describes security alert properties.",
            "properties": {
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "State of the alert (Active, Dismissed etc.)"
                },
                "reportedTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the incident was reported to Microsoft.Security in UTC"
                },
                "vendorName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the vendor that discovered the incident"
                },
                "alertName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the alert type"
                },
                "alertDisplayName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Display name of the alert type"
                },
                "detectedTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the incident was detected by the vendor"
                },
                "description": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Description of the incident and what it means"
                },
                "remediationSteps": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Recommended steps to reradiate the incident"
                },
                "actionTaken": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The action that was taken as a response to the alert (Active, Blocked etc.)"
                },
                "reportedSeverity": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Estimated severity of this alert"
                },
                "compromisedEntity": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The entity that the incident happened on"
                },
                "associatedResource": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Azure resource ID of the associated resource"
                },
                "extendedProperties": {
                    "$ref": "#/definitions/AlertExtendedProperties"
                },
                "systemSource": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The type of the alerted resource (Azure, Non-Azure)"
                },
                "canBeInvestigated": {
                    "readOnly": true,
                    "type": "boolean",
                    "description": "Whether this alert can be investigated with Azure Security Center"
                },
                "entities": {
                    "type": "array",
                    "description": "objects that are related to this alerts",
                    "items": {
                        "$ref": "#/definitions/AlertEntity"
                    }
                },
                "confidenceScore": {
                    "readOnly": true,
                    "type": "number",
                    "format": "float",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "level of confidence we have on the alert"
                },
                "confidenceReasons": {
                    "type": "array",
                    "description": "reasons the alert got the confidenceScore value",
                    "items": {
                        "$ref": "#/definitions/AlertConfidenceReason"
                    }
                },
                "subscriptionId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Azure subscription ID of the resource that had the security alert or the subscription ID of the workspace that this resource reports to"
                },
                "instanceId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Instance ID of the alert."
                },
                "workspaceArmId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Azure resource ID of the workspace that the alert was reported to."
                }
            }
        },
        "AlertConfidenceReason": {
            "type": "object",
            "description": "Factors that increase our confidence that the alert is a true positive",
            "properties": {
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Type of confidence factor"
                },
                "reason": {
                    "readOnly": true,
                    "type": "string",
                    "description": "description of the confidence reason"
                }
            }
        },
        "AlertEntity": {
            "type": "object",
            "additionalProperties": true,
            "description": "Changing set of properties depending on the entity type.",
            "properties": {
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Type of entity"
                }
            }
        },
        "AlertExtendedProperties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Changing set of properties depending on the alert type."
        },
        "DiscoveredSecuritySolutionList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DiscoveredSecuritySolution"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "DiscoveredSecuritySolution": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/DiscoveredSecuritySolutionProperties"
                }
            },
            "required": [
                "properties"
            ],
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/Location"
                }
            ]
        },
        "DiscoveredSecuritySolutionProperties": {
            "type": "object",
            "properties": {
                "securityFamily": {
                    "type": "string",
                    "description": "The security family of the discovered solution",
                    "enum": [
                        "Waf",
                        "Ngfw",
                        "SaasWaf",
                        "Va"
                    ],
                    "x-ms-enum": {
                        "name": "securityFamily",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Waf"
                            },
                            {
                                "value": "Ngfw"
                            },
                            {
                                "value": "SaasWaf"
                            },
                            {
                                "value": "Va"
                            }
                        ]
                    }
                },
                "offer": {
                    "type": "string",
                    "description": "The security solutions' image offer"
                },
                "publisher": {
                    "type": "string",
                    "description": "The security solutions' image publisher"
                },
                "sku": {
                    "type": "string",
                    "description": "The security solutions' image sku"
                }
            },
            "required": [
                "securityFamily",
                "offer",
                "publisher",
                "sku"
            ]
        },
        "TopologyList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "readOnly": true,
                    "items": {
                        "$ref": "#/definitions/TopologyResource"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "TopologyResource": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "readOnly": true,
                    "$ref": "#/definitions/TopologyResourceProperties"
                }
            },
            "allOf": [{
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/Location"
                }
            ]
        },
        "TopologyResourceProperties": {
            "type": "object",
            "properties": {
                "calculatedDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true,
                    "description": "The UTC time on which the topology was calculated"
                },
                "topologyResources": {
                    "type": "array",
                    "readOnly": true,
                    "description": "Azure resources which are part of this topology resource",
                    "items": {
                        "$ref": "#/definitions/TopologySingleResource"
                    }
                }
            }
        },
        "TopologySingleResource": {
            "type": "object",
            "properties": {
                "resourceId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource id"
                },
                "severity": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The security severity of the resource"
                },
                "recommendationsExist": {
                    "type": "boolean",
                    "readOnly": true,
                    "description": "Indicates if the resource has security recommendations"
                },
                "networkZones": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Indicates the resource connectivity level to the Internet (InternetFacing, Internal ,etc.)"
                },
                "topologyScore": {
                    "type": "integer",
                    "readOnly": true,
                    "description": "Score of the resource based on its security severity"
                },
                "location": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The location of this resource"
                },
                "parents": {
                    "type": "array",
                    "readOnly": true,
                    "description": "Azure resources connected to this resource which are in higher level in the topology view",
                    "items": {
                        "$ref": "#/definitions/TopologySingleResourceParent"
                    }
                },
                "children": {
                    "type": "array",
                    "readOnly": true,
                    "description": "Azure resources connected to this resource which are in lower level in the topology view",
                    "items": {
                        "$ref": "#/definitions/TopologySingleResourceChild"
                    }
                }
            }
        },
        "TopologySingleResourceParent": {
            "type": "object",
            "properties": {
                "resourceId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource id which serves as parent resource in topology view"
                }
            }
        },
        "TopologySingleResourceChild": {
            "type": "object",
            "properties": {
                "resourceId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource id which serves as child resource in topology view"
                }
            }
        },
        "JitNetworkAccessPoliciesList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicy"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "JitNetworkAccessPolicy": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/JitNetworkAccessPolicyProperties"
                }
            },
            "required": [
                "properties"
            ],
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/Kind"
                },
                {
                    "$ref": "#/definitions/Location"
                }
            ]
        },
        "JitNetworkAccessPolicyProperties": {
            "type": "object",
            "properties": {
                "virtualMachines": {
                    "type": "array",
                    "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicyVirtualMachine"
                    }
                },
                "requests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessRequest"
                    }
                },
                "provisioningState": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Gets the provisioning state of the Just-in-Time policy."
                }
            },
            "required": [
                "virtualMachines"
            ]
        },
        "JitNetworkAccessPolicyVirtualMachine": {
            "type": "object",
            "required": [
                "id",
                "ports"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource ID of the virtual machine that is linked to this policy"
                },
                "ports": {
                    "type": "array",
                    "description": "Port configurations for the virtual machine",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPortRule"
                    }
                }
            }
        },
        "JitNetworkAccessPortRule": {
            "type": "object",
            "properties": {
                "number": {
                    "$ref": "#/definitions/PortNumber"
                },
                "protocol": {
                    "type": "string",
                    "enum": [
                        "TCP",
                        "UDP",
                        "*"
                    ],
                    "x-ms-enum": {
                        "name": "protocol",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "TCP"
                            },
                            {
                                "value": "UDP"
                            },
                            {
                                "value": "*",
                                "name": "All"
                            }
                        ]
                    }
                },
                "allowedSourceAddressPrefix": {
                    "type": "string",
                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
                },
                "allowedSourceAddressPrefixes": {
                    "type": "array",
                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                    "items": {
                        "type": "string",
                        "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
                    }
                },
                "maxRequestAccessDuration": {
                    "type": "string",
                    "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day"
                }
            },
            "required": [
                "maxRequestAccessDuration",
                "number",
                "protocol"
            ]
        },
        "JitNetworkAccessRequest": {
            "type": "object",
            "properties": {
                "virtualMachines": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessRequestVirtualMachine"
                    }
                },
                "startTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The start time of the request in UTC"
                },
                "requestor": {
                    "type": "string",
                    "description": "The identity of the person who made the request"
                }
            },
            "required": [
                "requestor",
                "startTimeUtc",
                "virtualMachines"
            ]
        },
        "JitNetworkAccessRequestVirtualMachine": {
            "type": "object",
            "required": [
                "id",
                "ports"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource ID of the virtual machine that is linked to this policy"
                },
                "ports": {
                    "type": "array",
                    "description": "The ports that were opened for the virtual machine",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessRequestPort"
                    }
                }
            }
        },
        "JitNetworkAccessRequestPort": {
            "type": "object",
            "properties": {
                "number": {
                    "$ref": "#/definitions/PortNumber"
                },
                "allowedSourceAddressPrefix": {
                    "type": "string",
                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
                },
                "allowedSourceAddressPrefixes": {
                    "type": "array",
                    "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
                    "items": {
                        "description": "IP addess or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
                        "type": "string"
                    }
                },
                "endTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date & time at which the request ends in UTC"
                },
                "status": {
                    "type": "string",
                    "description": "The status of the port",
                    "enum": [
                        "Revoked",
                        "Initiated"
                    ],
                    "x-ms-enum": {
                        "name": "status",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Revoked"
                            },
                            {
                                "value": "Initiated"
                            }
                        ]
                    }
                },
                "statusReason": {
                    "type": "string",
                    "description": "A description of why the `status` has its value",
                    "enum": [
                        "Expired",
                        "UserRequested",
                        "NewerRequestInitiated"
                    ],
                    "x-ms-enum": {
                        "name": "statusReason",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Expired"
                            },
                            {
                                "value": "UserRequested"
                            },
                            {
                                "value": "NewerRequestInitiated"
                            }
                        ]
                    }
                }
            },
            "required": [
                "endTimeUtc",
                "number",
                "status",
                "statusReason"
            ]
        },
        "JitNetworkAccessPolicyInitiateRequest": {
            "type": "object",
            "properties": {
                "virtualMachines": {
                    "type": "array",
                    "description": "A list of virtual machines & ports to open access for",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicyInitiateVirtualMachine"
                    }
                }
            },
            "required": [
                "virtualMachines"
            ]
        },
        "JitNetworkAccessPolicyInitiateVirtualMachine": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource ID of the virtual machine that is linked to this policy"
                },
                "ports": {
                    "type": "array",
                    "description": "The ports to open for the resource with the `id`",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicyInitiatePort"
                    }
                }
            },
            "required": [
                "id",
                "ports"
            ]
        },
        "JitNetworkAccessPolicyInitiatePort": {
            "type": "object",
            "properties": {
                "number": {
                    "$ref": "#/definitions/PortNumber"
                },
                "allowedSourceAddressPrefix": {
                    "type": "string",
[...]
