{
  "swagger": "2.0",
  "info": {
    "version": "2023-11-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/appSpaces": {
      "get": {
        "tags": [
          "AppSpaces"
        ],
        "summary": "Get the App Spaces in a given subscription.",
        "operationId": "AppSpaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppSpacesCollection"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List App Spaces by subscription": {
            "$ref": "./examples/AppSpaces_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/appSpaces": {
      "get": {
        "tags": [
          "AppSpaces"
        ],
        "summary": "Get the App Spaces in a given resource group.",
        "operationId": "AppSpaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppSpacesCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List App Spaces by resource group": {
            "$ref": "./examples/AppSpaces_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/appSpaces/{appSpaceName}": {
      "get": {
        "tags": [
          "AppSpaces"
        ],
        "summary": "Get an App Space.",
        "operationId": "AppSpaces_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appSpaceName",
            "in": "path",
            "description": "Name of the App Space.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AppSpace"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get App Space": {
            "$ref": "./examples/AppSpaces_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppSpaces"
        ],
        "summary": "Create or update an App Space.",
        "description": "Create or update an App Space in a particular subscription and resource group.",
        "operationId": "AppSpaces_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appSpaceName",
            "in": "path",
            "description": "Name of the App Space.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "appSpaceEnvelope",
            "in": "body",
            "description": "Properties used to create an app space",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppSpace"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/AppSpace"
            }
          },
          "201": {
            "description": "App Space create or update has been completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppSpace"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update App Space": {
            "$ref": "./examples/AppSpaces_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppSpaces"
        ],
        "summary": "Delete an App Space.",
        "description": "Delete an App Space. Also deletes all of the App Space Resources within the App Space.",
        "operationId": "AppSpaces_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appSpaceName",
            "in": "path",
            "description": "Name of the App Space.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "App Space deleted successfully."
          },
          "204": {
            "description": "App Space does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete App Space": {
            "$ref": "./examples/AppSpaces_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppSpaces"
        ],
        "summary": "Update properties of an App Space",
        "description": "Patches an App Space using JSON Merge Patch",
        "operationId": "AppSpaces_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appSpaceName",
            "in": "path",
            "description": "Name of the App Space.",
            "required": true,
            "type": "string"
          },
          {
            "name": "appSpaceEnvelope",
            "in": "body",
            "required": true,
            "description": "Properties of an App Space that need to be updated",
            "schema": {
              "$ref": "#/definitions/AppSpacePatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/AppSpace"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch App Space": {
            "$ref": "./examples/AppSpaces_Patch.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AppSpaceProperties": {
      "description": "AppSpace resource specific properties",
      "type": "object",
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the App Space.",
          "type": "string"
        },
        "primaryResourceId": {
          "description": "Optional - ARM resource Id of the primary App Space Resource in the App Space. Used by Portal UX if present.",
          "type": "string"
        }
      },
      "x-ms-client-flatten": true
    },
    "AppSpace": {
      "description": "App Space.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AppSpaceProperties"
        }
      }
    },
    "AppSpacePatch": {
      "description": "AppSpace patch object - Patch is done via a json merge and does not require all parameters for TrackedResource (i.e. location) to be present.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/AppSpaceProperties"
        }
      }
    },
    "AppSpacesCollection": {
      "description": "App Space collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppSpace"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
