{
  "swagger": "2.0",
  "info": {
    "version": "2023-11-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/secrets": {
      "get": {
        "tags": [
          "ConnectedEnvironmentSecrets"
        ],
        "summary": "Get all secrets for a connectedEnvironment.",
        "description": "Get all secrets for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentSecrets_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentSecretsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List environments secrets by subscription": {
            "$ref": "./examples/ConnectedEnvironmentSecrets_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/secrets/{secretName}": {
      "get": {
        "tags": [
          "ConnectedEnvironmentSecrets"
        ],
        "summary": "Get secret for a connectedEnvironment.",
        "description": "Get secret for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentSecrets_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentSecret"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an environment secret from an environment": {
            "$ref": "./examples/ConnectedEnvironmentSecrets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ConnectedEnvironmentSecrets"
        ],
        "summary": "Create or update a secret for a connectedEnvironment.",
        "description": "Create or update a secret for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentSecrets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretEnvelope",
            "in": "body",
            "description": "properties of the secret",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentSecret"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentSecret"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an environment secret from an environment": {
            "$ref": "./examples/ConnectedEnvironmentSecrets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ConnectedEnvironmentSecrets"
        ],
        "summary": "Delete a secret for a connectedEnvironment.",
        "description": "Delete a secret for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentSecrets_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Secret does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an environment secret from an environment": {
            "$ref": "./examples/ConnectedEnvironmentSecrets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/secrets/{secretName}/getValue": {
      "post": {
        "tags": [
          "ConnectedEnvironmentSecrets"
        ],
        "summary": "Get secret value for a connectedEnvironmentSecret.",
        "description": "Get secret value for a connectedEnvironmentSecret.",
        "operationId": "ConnectedEnvironmentSecrets_GetValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentSecret"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get secret value for a connectedEnvironmentSecret": {
            "$ref": "./examples/ConnectedEnvironmentSecrets_GetValue.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectedEnvironmentSecretsCollection": {
      "description": "Collection of Secrets for Environments",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of secret resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedEnvironmentSecret"
          }
        }
      }
    },
    "ConnectedEnvironmentSecret": {
      "description": "Secret resource for connectedEnvironment.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Secret properties",
          "type": "object",
          "allOf": [
            {
              "$ref": "./CommonDefinitions.json#/definitions/Secret"
            }
          ]
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
