{
  "swagger": "2.0",
  "info": {
    "version": "2023-11-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/secrets": {
      "get": {
        "tags": [
          "ManagedEnvironmentSecrets"
        ],
        "summary": "Get all secrets for a managedEnvironment.",
        "description": "Get all secrets for a managedEnvironment.",
        "operationId": "ManagedEnvironmentSecrets_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedEnvironmentSecretsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List environments secrets by subscription": {
            "$ref": "./examples/ManagedEnvironmentSecrets_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/secrets/{secretName}": {
      "get": {
        "tags": [
          "ManagedEnvironmentSecrets"
        ],
        "summary": "Get secret for a managedEnvironment.",
        "description": "Get secret for a managedEnvironment.",
        "operationId": "ManagedEnvironmentSecrets_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedEnvironmentSecret"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an environment secret from an environment": {
            "$ref": "./examples/ManagedEnvironmentSecrets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagedEnvironmentSecrets"
        ],
        "summary": "Create or update a secret for a managedEnvironment.",
        "description": "Create or update a secret for a managedEnvironment.",
        "operationId": "ManagedEnvironmentSecrets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "secretEnvelope",
            "in": "body",
            "description": "properties of the secret",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedEnvironmentSecret"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedEnvironmentSecret"
            }
          },
          "201": {
            "description": "Secret creation or update is in progress",
            "schema": {
              "$ref": "#/definitions/ManagedEnvironmentSecret"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an environment secret from an environment": {
            "$ref": "./examples/ManagedEnvironmentSecrets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ManagedEnvironmentSecrets"
        ],
        "summary": "Delete a secret for a managedEnvironment.",
        "description": "Delete a secret for a managedEnvironment.",
        "operationId": "ManagedEnvironmentSecrets_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Secret does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an environment secret from an environment": {
            "$ref": "./examples/ManagedEnvironmentSecrets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/secrets/{secretName}/getValue": {
      "post": {
        "tags": [
          "ManagedEnvironmentSecrets"
        ],
        "summary": "Get secret value for a managedEnvironmentSecret.",
        "description": "Get secret value for a managedEnvironmentSecret.",
        "operationId": "ManagedEnvironmentSecrets_GetValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the Secret.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedEnvironmentSecret"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get secret value for a managedEnvironmentSecret": {
            "$ref": "./examples/ManagedEnvironmentSecrets_GetValue.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ManagedEnvironmentSecretsCollection": {
      "description": "Collection of Secrets for Environments",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of secret resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedEnvironmentSecret"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ManagedEnvironmentSecret": {
      "description": "Secret resource for managedEnvironment.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Secret properties",
          "type": "object",
          "allOf": [
            {
              "$ref": "./CommonDefinitions.json#/definitions/Secret"
            }
          ]
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
