{
  "swagger": "2.0",
  "info": {
    "title": "Azure Reservation API",
    "version": "2022-11-01",
    "description": "This API describe Azure Reservation",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Catalog"
    },
    {
      "name": "AppliedReservation"
    },
    {
      "name": "Operation"
    },
    {
      "name": "Reservation"
    },
    {
      "name": "ApplyScope"
    },
    {
      "name": "Reservation, AvailableScopes"
    },
    {
      "name": "Reservation, Archive"
    },
    {
      "name": "Reservation, Unarchive"
    },
    {
      "name": "Reservation, Purchase"
    },
    {
      "name": "Reservation, Split"
    },
    {
      "name": "Reservation, Merge"
    },
    {
      "name": "ReservationOrder, ChangeDirectory"
    },
    {
      "name": "CalculateRefund"
    },
    {
      "name": "Return"
    },
    {
      "name": "Reservation, Calculate"
    },
    {
      "name": "Exchange"
    }
  ],
  "paths": {
    "/providers/Microsoft.Capacity/calculateExchange": {
      "post": {
        "operationId": "CalculateExchange_Post",
        "tags": [
          "Exchange"
        ],
        "summary": "Calculates the refund amounts and price of the new purchases.",
        "description": "Calculates price for exchanging `Reservations` if there are no policy errors.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculateExchangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CalculateExchangeOperationResultResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "CalculateExchange": {
            "$ref": "./examples/CalculateExchange.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/CalculateExchangeOperationResultResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/calculatePrice": {
      "post": {
        "operationId": "ReservationOrder_Calculate",
        "tags": [
          "Reservation, Calculate"
        ],
        "summary": "Calculate price for a `ReservationOrder`.",
        "description": "Calculate price for placing a `ReservationOrder`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CalculatePriceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "CalculatePrice": {
            "$ref": "./examples/CalculateReservationOrder.json"
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/exchange": {
      "post": {
        "operationId": "Exchange_Post",
        "tags": [
          "Exchange"
        ],
        "summary": "Exchange Reservation(s)",
        "description": "Returns one or more `Reservations` in exchange for one or more `Reservation` purchases.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExchangeOperationResultResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Exchange": {
            "$ref": "./examples/Exchange.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExchangeOperationResultResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/operations": {
      "get": {
        "operationId": "Operation_List",
        "tags": [
          "Operation"
        ],
        "summary": "Get operations.",
        "description": "List all the operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "GetOperations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders": {
      "get": {
        "operationId": "ReservationOrder_List",
        "tags": [
          "Reservation"
        ],
        "summary": "Get all `ReservationOrder`s.",
        "description": "List of all the `ReservationOrder`s that the user has access to in the current tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ReservationOrderList": {
            "$ref": "./examples/GetReservationOrders.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}": {
      "get": {
        "operationId": "ReservationOrder_Get",
        "tags": [
          "Reservation"
        ],
        "summary": "Get a specific `ReservationOrder`.",
        "description": "Get the details of the `ReservationOrder`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the planInformation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "GetReservationOrder": {
            "$ref": "./examples/GetReservationOrderDetails.json"
          },
          "GetReservationWithExpandPayments": {
            "$ref": "./examples/GetReservationOrderDetailsWithExpandPlanInformation.json"
          }
        }
      },
      "put": {
        "operationId": "ReservationOrder_Purchase",
        "tags": [
          "Reservation, Purchase"
        ],
        "summary": "Purchase `ReservationOrder`",
        "description": "Purchase `ReservationOrder` and create resource under the specified URI.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Information needed for calculate or purchase reservation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ReservationOrderResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReservationOrderResponse"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Purchase": {
            "$ref": "./examples/PurchaseReservationOrder.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ReservationOrderResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/calculateRefund": {
      "post": {
        "operationId": "CalculateRefund_Post",
        "tags": [
          "CalculateRefund"
        ],
        "summary": "Calculate the refund amount of a reservation order.",
        "description": "Calculate price for returning `Reservations` if there are no policy errors.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Information needed for calculating refund of a reservation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculateRefundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CalculateRefundResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "CalculateRefund": {
            "$ref": "./examples/CalculateRefund.json"
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/changeDirectory": {
      "post": {
        "operationId": "ReservationOrder_ChangeDirectory",
        "tags": [
          "ReservationOrder, ChangeDirectory"
        ],
        "summary": "Change directory of `ReservationOrder`.",
        "description": "Change directory (tenant) of `ReservationOrder` and all `Reservation` under it to specified tenant id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Information needed to change directory of reservation order",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeDirectoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeDirectoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ChangeDirectory": {
            "$ref": "./examples/ChangeDirectoryReservationOrder.json"
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/merge": {
      "post": {
        "operationId": "Reservation_Merge",
        "tags": [
          "Reservation, Merge"
        ],
        "summary": "Merges two `Reservation`s.",
        "description": "Merge the specified `Reservation`s into a new `Reservation`. The two `Reservation`s being merged must have same properties.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Information needed for commercial request for a reservation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReservationResponse"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Merge": {
            "$ref": "./examples/MergeReservations.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ReservationResponseArray"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations": {
      "get": {
        "operationId": "Reservation_List",
        "tags": [
          "Reservation"
        ],
        "summary": "Get `Reservation`s in a given reservation Order",
        "description": "List `Reservation`s within a single `ReservationOrder`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ReservationList": {
            "$ref": "./examples/GetReservationsFromOrder.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}": {
      "get": {
        "operationId": "Reservation_Get",
        "tags": [
          "Reservation"
        ],
        "summary": "Get `Reservation` details.",
        "description": "Get specific `Reservation` details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation item",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Supported value of this query is renewProperties",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "GetReservation": {
            "$ref": "./examples/GetReservationDetails.json"
          }
        }
      },
      "patch": {
        "operationId": "Reservation_Update",
        "tags": [
          "Reservation",
          "ApplyScope"
        ],
        "summary": "Updates a `Reservation`.",
        "description": "Updates the applied scopes of the `Reservation`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation item",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information needed to patch a reservation item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Patch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationResponse"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "PatchReservation": {
            "$ref": "./examples/UpdateReservation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ReservationResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/archive": {
      "post": {
        "operationId": "Reservation_Archive",
        "tags": [
          "Reservation, Archive"
        ],
        "summary": "Archive a `Reservation`.",
        "description": "Archiving a `Reservation` moves it to `Archived` state.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Archive": {
            "$ref": "./examples/Archive.json"
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/availableScopes": {
      "post": {
        "operationId": "Reservation_AvailableScopes",
        "tags": [
          "Reservation, AvailableScopes"
        ],
        "summary": "Get Available Scopes for `Reservation`.",
        "description": "Check whether the scopes from request is valid for `Reservation`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation item",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Scopes to be checked for eligibility.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailableScopeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableScopeProperties"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "AvailableScopes": {
            "$ref": "./examples/GetAvailableScope.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AvailableScopeProperties"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/revisions": {
      "get": {
        "operationId": "Reservation_ListRevisions",
        "tags": [
          "Reservation"
        ],
        "summary": "Get `Reservation` revisions.",
        "description": "List of all the revisions for the `Reservation`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ReservationRevisions": {
            "$ref": "./examples/GetReservationRevisions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/unarchive": {
      "post": {
        "operationId": "Reservation_Unarchive",
        "tags": [
          "Reservation, Unarchive"
        ],
        "summary": "Unarchive a `Reservation`.",
        "description": "Restores a `Reservation` to the state it was before archiving.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Unarchive": {
            "$ref": "./examples/Unarchive.json"
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/return": {
      "post": {
        "operationId": "Return_Post",
        "tags": [
          "Return"
        ],
        "summary": "Return a reservation.",
        "description": "Return a reservation and get refund information.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Information needed for returning reservation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderResponse"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/RefundResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Return a reservation": {
            "$ref": "./examples/Return.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ReservationOrderResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/split": {
      "post": {
        "operationId": "Reservation_Split",
        "tags": [
          "Reservation, Split"
        ],
        "summary": "Split the `Reservation`.",
        "description": "Split a `Reservation` into two `Reservation`s with specified quantity distribution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Information needed to Split a reservation item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SplitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReservationResponse"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Split": {
            "$ref": "./examples/SplitReservation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ReservationResponseArray"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Capacity/reservations": {
      "get": {
        "operationId": "Reservation_ListAll",
        "description": "List the reservations and the roll up counts of reservations group by provisioning states that the user has access to in the current tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter by reservation properties. The filter supports 'eq', 'or', and 'and'. It does not currently support 'ne', 'gt', 'le', 'ge', or 'not'. Reservation properties include sku/name, properties/{appliedScopeType, archived, displayName, displayProvisioningState, effectiveDateTime, expiryDate, expiryDateTime, provisioningState, quantity, renew, reservedResourceType, term, userFriendlyAppliedScopeType, userFriendlyRenewState}",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "May be used to sort order by reservation properties.",
            "required": false,
            "type": "string"
          },
          {
            "name": "refreshSummary",
            "in": "query",
            "description": "To indicate whether to refresh the roll up counts of the reservations group by provisioning states",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "The number of reservations to skip from the list before returning results",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "name": "selectedState",
            "in": "query",
            "description": "The selected provisioning state",
            "required": false,
            "type": "string"
          },
          {
            "name": "take",
            "in": "query",
            "description": "To number of reservations to return",
            "required": false,
            "type": "number",
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationListAll": {
            "$ref": "./examples/GetReservations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/appliedReservations": {
      "get": {
        "operationId": "GetAppliedReservationList",
        "tags": [
          "AppliedReservation"
        ],
        "summary": "Get list of applicable `Reservation`s.",
        "description": "Get applicable `Reservation`s that are applied to this subscription or a resource group under this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AppliedReservations"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "AppliedReservationList": {
            "$ref": "./examples/GetAppliedReservations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/catalogs": {
      "get": {
        "operationId": "GetCatalog",
        "tags": [
          "Catalog"
        ],
        "summary": "Get the regions and skus that are available for RI purchase for the specified Azure subscription.",
        "description": "Get the regions and skus that are available for RI purchase for the specified Azure subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "reservedResourceType",
            "in": "query",
            "description": "The type of the resource for which the skus should be provided.",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "Filters the skus based on the location specified in this parameter. This can be an azure region or global",
            "required": false,
            "type": "string"
          },
          {
            "name": "publisherId",
            "in": "query",
            "description": "Publisher id used to get the third party products",
            "required": false,
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Offer id used to get the third party products",
            "required": false,
            "type": "string"
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Plan id used to get the third party products",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter by Catalog properties. The filter supports 'eq', 'or', and 'and'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of reservations to skip from the list before returning results",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "name": "$take",
            "in": "query",
            "description": "To number of reservations to return",
            "required": false,
            "type": "number",
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CatalogsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Catalog": {
            "$ref": "./examples/GetCatalog.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AppliedReservationList": {
      "type": "object",
      "description": "Paginated list of applied reservations",
      "properties": {
        "value": {
          "type": "array",
          "description": "Array of reservation resource ids",
          "items": {
            "type": "string"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page of reservations"
        }
      }
    },
    "AppliedReservations": {
      "type": "object",
      "description": "The response for applied reservations api",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier of the applied reservations",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of resource. \"Microsoft.Capacity/AppliedReservations\"",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AppliedReservationsProperties",
          "description": "Properties for applied reservations returned",
          "x-ms-client-flatten": true
        }
      }
    },
    "AppliedReservationsProperties": {
      "type": "object",
      "description": "Properties for applied reservations returned",
      "properties": {
        "reservationOrderIds": {
          "$ref": "#/definitions/AppliedReservationList",
          "description": "Paginated list of applied reservations"
        }
      }
    },
    "AppliedScopeProperties": {
      "type": "object",
      "description": "Properties specific to applied scope type. Not required if not applicable. Required and need to provide tenantId and managementGroupId if AppliedScopeType is ManagementGroup",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant ID where the savings plan should apply benefit."
        },
        "managementGroupId": {
          "type": "string",
          "description": "Fully-qualified identifier of the management group where the benefit must be applied."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Fully-qualified identifier of the subscription."
        },
        "resourceGroupId": {
          "type": "string",
          "description": "Fully-qualified identifier of the resource group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name"
        }
      }
    },
    "AppliedScopeType": {
      "type": "string",
      "description": "Type of the Applied Scope.",
      "enum": [
        "Single",
        "Shared",
        "ManagementGroup"
      ],
      "x-ms-enum": {
        "name": "AppliedScopeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Single",
            "value": "Single",
            "description": "Single"
          },
          {
            "name": "Shared",
            "value": "Shared",
            "description": "Shared"
          },
          {
            "name": "ManagementGroup",
            "value": "ManagementGroup",
            "description": "ManagementGroup"
          }
        ]
      }
    },
    "AvailableScopeProperties": {
      "type": "object",
      "description": "The response of available scope api containing scopes and their eligibilities.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SubscriptionScopeProperties",
          "description": "The scopes checked by the available scope api."
        }
      }
    },
    "AvailableScopeRequest": {
      "type": "object",
      "description": "Available scope",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AvailableScopeRequestProperties",
          "description": "Available scope request properties"
        }
      }
    },
    "AvailableScopeRequestProperties": {
      "type": "object",
      "description": "Available scope request properties",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BillingInformation": {
      "type": "object",
      "description": "billing information",
      "properties": {
        "billingCurrencyTotalPaidAmount": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "billingCurrencyProratedAmount": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "billingCurrencyRemainingCommitmentAmount": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        }
      }
    },
    "BillingPlan": {
      "type": "string",
      "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans.",
      "enum": [
        "P1M"
      ],
      "x-ms-enum": {
        "name": "BillingPlan",
        "modelAsString": true,
        "values": [
          {
            "name": "P1M",
            "value": "P1M",
            "description": "P1M"
          }
        ]
      }
    },
    "CalculateExchangeOperationResultResponse": {
      "type": "object",
      "description": "CalculateExchange operation result",
      "properties": {
        "id": {
          "type": "string",
          "description": "It should match what is used to GET the operation result."
        },
        "name": {
          "type": "string",
          "description": "It must match the last segment of the id field, and will typically be a GUID / system generated value."
        },
        "status": {
          "$ref": "#/definitions/CalculateExchangeOperationResultStatus",
          "description": "Status of the operation."
        },
        "properties": {
          "$ref": "#/definitions/CalculateExchangeResponseProperties",
          "description": "CalculateExchange response properties"
        },
        "error": {
          "$ref": "#/definitions/OperationResultError",
          "description": "Required if status == failed or status == canceled."
        }
      }
    },
    "CalculateExchangeOperationResultStatus": {
      "type": "string",
      "description": "Status of the operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Cancelled",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "CalculateExchangeOperationResultStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Cancelled"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          }
        ]
      }
    },
    "CalculateExchangeRequest": {
      "type": "object",
      "description": "Calculate exchange request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CalculateExchangeRequestProperties",
          "description": "Calculate exchange request properties"
        }
      }
    },
    "CalculateExchangeRequestProperties": {
      "type": "object",
      "description": "Calculate exchange request properties",
      "properties": {
        "reservationsToPurchase": {
          "type": "array",
          "description": "List of reservations that are being purchased in this exchange.",
          "items": {
            "$ref": "#/definitions/PurchaseRequest"
          },
          "x-ms-identifiers": []
        },
        "savingsPlansToPurchase": {
          "type": "array",
          "description": "List of savings plans that are being purchased in this exchange.",
          "items": {
            "$ref": "#/definitions/SavingsPlanPurchaseRequest"
          },
          "x-ms-identifiers": []
        },
        "reservationsToExchange": {
          "type": "array",
          "description": "List of reservations that are being returned in this exchange.",
          "items": {
            "$ref": "#/definitions/ReservationToReturn"
          },
          "x-ms-identifiers": [
            "reservationId"
          ]
        }
      }
    },
    "CalculateExchangeResponseProperties": {
      "type": "object",
      "description": "CalculateExchange response properties",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Exchange session identifier"
        },
        "netPayable": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "refundsTotal": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "purchasesTotal": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "reservationsToPurchase": {
          "type": "array",
          "description": "Details of the reservations being purchased",
          "items": {
            "$ref": "#/definitions/ReservationToPurchaseCalculateExchange"
          },
          "x-ms-identifiers": []
        },
        "savingsPlansToPurchase": {
          "type": "array",
          "description": "Details of the savings plans being purchased",
          "items": {
            "$ref": "#/definitions/SavingsPlanToPurchaseCalculateExchange"
          },
          "x-ms-identifiers": []
        },
        "reservationsToExchange": {
          "type": "array",
          "description": "Details of the reservations being returned",
          "items": {
            "$ref": "#/definitions/ReservationToExchange"
          },
          "x-ms-identifiers": [
            "reservationId"
          ]
        },
        "policyResult": {
          "$ref": "#/definitions/ExchangePolicyErrors",
          "description": "Exchange policy errors"
        }
      }
    },
    "CalculatePriceResponse": {
      "type": "object",
      "description": "The response of calculate price for reservation.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CalculatePriceResponseProperties",
          "description": "Properties for calculate price response"
        }
      }
    },
    "CalculatePriceResponseProperties": {
      "type": "object",
      "description": "Properties for calculate price response",
      "properties": {
        "billingCurrencyTotal": {
          "$ref": "#/definitions/CalculatePriceResponsePropertiesBillingCurrencyTotal",
          "description": "Currency and amount that customer will be charged in customer's local currency. Tax is not included."
        },
        "netTotal": {
          "type": "number",
          "format": "double",
          "description": "Net total amount in pricing currency."
        },
        "taxTotal": {
          "type": "number",
          "format": "double",
          "description": "Tax amount in pricing currency."
        },
        "grandTotal": {
          "type": "number",
          "format": "double",
          "description": "Total amount in pricing currency."
        },
        "isTaxIncluded": {
          "type": "boolean",
          "description": "Whether or not tax is included in grand total"
        },
        "isBillingPartnerManaged": {
          "type": "boolean",
          "description": "True if billing is managed by Microsoft Partner. Used only for CSP accounts."
        },
        "reservationOrderId": {
          "type": "string",
          "description": "GUID that represents reservation order that can be placed after calculating price."
        },
        "skuTitle": {
          "type": "string",
          "description": "Title of sku that is being purchased."
        },
        "skuDescription": {
          "type": "string",
          "description": "Description of sku that is being purchased."
        },
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/CalculatePriceResponsePropertiesPricingCurrencyTotal",
          "description": "Amount that Microsoft uses for record. Used during refund for calculating refund limit. Tax is not included."
        },
        "paymentSchedule": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CalculatePriceResponsePropertiesBillingCurrencyTotal": {
      "type": "object",
      "description": "Currency and amount that customer will be charged in customer's local currency. Tax is not included.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Amount in pricing currency. Tax is not included."
        }
      }
    },
    "CalculatePriceResponsePropertiesPricingCurrencyTotal": {
      "type": "object",
      "description": "Amount that Microsoft uses for record. Used during refund for calculating refund limit. Tax is not included.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "CalculateRefundRequest": {
      "type": "object",
      "description": "Request containing information needed for calculating refund.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified identifier of the reservation order being returned"
        },
        "properties": {
          "$ref": "#/definitions/CalculateRefundRequestProperties",
          "description": "Properties needed for calculate refund including the scope and the reservation to be returned."
        }
      }
    },
    "CalculateRefundRequestProperties": {
      "type": "object",
      "description": "Properties needed for calculate refund including the scope and the reservation to be returned.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The scope of the refund, e.g. Reservation"
        },
        "reservationToReturn": {
          "$ref": "#/definitions/ReservationToReturn",
          "description": "Reservation to return"
        }
      }
    },
    "CalculateRefundResponse": {
      "type": "object",
      "description": "The response of calculate refund containing refund information of reservation",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified identifier of the reservation being returned"
        },
        "properties": {
          "$ref": "#/definitions/RefundResponseProperties",
          "description": "The refund properties of reservation"
        }
      }
    },
    "Catalog": {
      "type": "object",
      "description": "Product details of a type of resource.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The type of resource the sku applies to.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of sku",
          "readOnly": true
        },
        "billingPlans": {
          "type": "object",
          "description": "The billing plan options available for this sku.",
          "additionalProperties": {
            "items": {
              "$ref": "#/definitions/ReservationBillingPlan"
            },
            "type": "array"
          }
        },
        "terms": {
          "type": "array",
          "description": "Available reservation terms for this resource",
          "items": {
            "$ref": "#/definitions/ReservationTerm"
          },
          "readOnly": true
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "skuProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuProperty"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "msrp": {
          "$ref": "#/definitions/CatalogMsrp",
          "description": "Pricing information about the sku",
          "readOnly": true
        },
        "restrictions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuRestriction"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "tier": {
          "type": "string",
          "description": "The tier of this sku",
          "readOnly": true
        },
        "size": {
          "type": "string",
          "description": "The size of this sku",
          "readOnly": true
        },
        "capabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCapability"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "CatalogMsrp": {
      "type": "object",
      "description": "Pricing information about the sku",
      "properties": {
        "p1Y": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        },
        "p3Y": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        },
        "p5Y": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        }
      }
    },
    "CatalogsResult": {
      "type": "object",
      "description": "The list of catalogs and pagination information.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Catalog items on this page",
          "items": {
            "$ref": "#/definitions/Catalog"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        },
        "totalItems": {
          "type": "integer",
          "format": "int64",
          "description": "The total amount of catalog items."
        }
      },
      "required": [
        "value"
      ]
    },
    "ChangeDirectoryRequest": {
      "type": "object",
      "description": "Request body for change directory of a reservation.",
      "properties": {
        "destinationTenantId": {
          "type": "string",
          "description": "Tenant id GUID that reservation order is to be transferred to"
        }
      }
    },
    "ChangeDirectoryResponse": {
      "type": "object",
      "description": "Change directory response",
      "properties": {
        "reservationOrder": {
          "$ref": "#/definitions/ChangeDirectoryResult",
          "description": "Change directory result for reservation order or reservation"
        },
        "reservations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChangeDirectoryResult"
          }
        }
      }
    },
    "ChangeDirectoryResult": {
      "type": "object",
      "description": "Change directory result for reservation order or reservation",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier of the reservation order or reservation"
        },
        "name": {
          "type": "string",
          "description": "Name of the reservation order or reservation"
        },
        "isSucceeded": {
          "type": "boolean",
          "description": "True if change directory operation succeeded on this reservation order or reservation"
        },
        "error": {
          "type": "string",
          "description": "Error reason if operation failed. Null otherwise"
        }
      }
    },
    "Commitment": {
      "type": "object",
      "description": "Commitment towards the benefit.",
      "properties": {
        "grain": {
          "$ref": "#/definitions/CommitmentGrain",
          "description": "Commitment grain."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Price"
        }
      ]
    },
    "CommitmentGrain": {
      "type": "string",
      "description": "Commitment grain.",
      "enum": [
        "Hourly"
      ],
      "x-ms-enum": {
        "name": "CommitmentGrain",
        "modelAsString": true,
        "values": [
          {
            "name": "Hourly",
            "value": "Hourly",
            "description": "Hourly"
          }
        ]
      }
    },
    "Error": {
      "type": "object",
      "description": "Error information",
      "properties": {
        "error": {
          "$ref": "#/definitions/ExtendedErrorInfo",
          "description": "Extended error information including error code and error message"
        }
      }
    },
    "ErrorDetails": {
      "type": "object",
      "description": "The details of the error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error message indicating why the operation failed.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error.",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetails",
          "description": "The details of the error."
        }
      }
    },
    "ErrorResponseCode": {
      "type": "string",
      "description": "Error code describing the reason that service is not able to process the incoming request",
      "enum": [
        "NotSpecified",
        "InternalServerError",
        "ServerTimeout",
        "AuthorizationFailed",
        "BadRequest",
        "ClientCertificateThumbprintNotSet",
        "InvalidRequestContent",
        "OperationFailed",
        "HttpMethodNotSupported",
        "InvalidRequestUri",
        "MissingTenantId",
        "InvalidTenantId",
        "InvalidReservationOrderId",
        "InvalidReservationId",
        "ReservationIdNotInReservationOrder",
        "ReservationOrderNotFound",
        "InvalidSubscriptionId",
        "InvalidAccessToken",
        "InvalidLocationId",
        "UnauthenticatedRequestsThrottled",
        "InvalidHealthCheckType",
        "Forbidden",
        "BillingScopeIdCannotBeChanged",
        "AppliedScopesNotAssociatedWithCommerceAccount",
        "PatchValuesSameAsExisting",
        "RoleAssignmentCreationFailed",
        "ReservationOrderCreationFailed",
        "ReservationOrderNotEnabled",
        "CapacityUpdateScopesFailed",
        "UnsupportedReservationTerm",
        "ReservationOrderIdAlreadyExists",
        "RiskCheckFailed",
        "CreateQuoteFailed",
        "ActivateQuoteFailed",
        "NonsupportedAccountId",
        "PaymentInstrumentNotFound",
        "MissingAppliedScopesForSingle",
        "NoValidReservationsToReRate",
        "ReRateOnlyAllowedForEA",
        "OperationCannotBePerformedInCurrentState",
        "InvalidSingleAppliedScopesCount",
        "InvalidFulfillmentRequestParameters",
        "NotSupportedCountry",
        "InvalidRefundQuantity",
        "PurchaseError",
        "BillingCustomerInputError",
        "BillingPaymentInstrumentSoftError",
        "BillingPaymentInstrumentHardError",
        "BillingTransientError",
        "BillingError",
        "FulfillmentConfigurationError",
        "FulfillmentOutOfStockError",
        "FulfillmentTransientError",
        "FulfillmentError",
        "CalculatePriceFailed",
        "AppliedScopesSameAsExisting",
        "SelfServiceRefundNotSupported",
        "RefundLimitExceeded"
      ],
      "x-ms-enum": {
        "name": "ErrorResponseCode",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "InternalServerError",
            "value": "InternalServerError",
            "description": "InternalServerError"
          },
          {
            "name": "ServerTimeout",
            "value": "ServerTimeout",
            "description": "ServerTimeout"
          },
          {
            "name": "AuthorizationFailed",
            "value": "AuthorizationFailed",
            "description": "AuthorizationFailed"
          },
          {
            "name": "BadRequest",
            "value": "BadRequest",
            "description": "BadRequest"
          },
          {
            "name": "ClientCertificateThumbprintNotSet",
            "value": "ClientCertificateThumbprintNotSet",
            "description": "ClientCertificateThumbprintNotSet"
          },
          {
            "name": "InvalidRequestContent",
            "value": "InvalidRequestContent",
            "description": "InvalidRequestContent"
          },
          {
            "name": "OperationFailed",
            "value": "OperationFailed",
            "description": "OperationFailed"
          },
          {
            "name": "HttpMethodNotSupported",
            "value": "HttpMethodNotSupported",
            "description": "HttpMethodNotSupported"
          },
          {
            "name": "InvalidRequestUri",
            "value": "InvalidRequestUri",
            "description": "InvalidRequestUri"
          },
          {
            "name": "MissingTenantId",
            "value": "MissingTenantId",
            "description": "MissingTenantId"
          },
          {
            "name": "InvalidTenantId",
            "value": "InvalidTenantId",
            "description": "InvalidTenantId"
          },
          {
            "name": "InvalidReservationOrderId",
            "value": "InvalidReservationOrderId",
            "description": "InvalidReservationOrderId"
          },
          {
            "name": "InvalidReservationId",
            "value": "InvalidReservationId",
            "description": "InvalidReservationId"
          },
          {
            "name": "ReservationIdNotInReservationOrder",
            "value": "ReservationIdNotInReservationOrder",
            "description": "ReservationIdNotInReservationOrder"
          },
          {
            "name": "ReservationOrderNotFound",
            "value": "ReservationOrderNotFound",
            "description": "ReservationOrderNotFound"
          },
          {
            "name": "InvalidSubscriptionId",
            "value": "InvalidSubscriptionId",
            "description": "InvalidSubscriptionId"
          },
          {
            "name": "InvalidAccessToken",
            "value": "InvalidAccessToken",
            "description": "InvalidAccessToken"
          },
          {
            "name": "InvalidLocationId",
            "value": "InvalidLocationId",
            "description": "InvalidLocationId"
          },
          {
            "name": "UnauthenticatedRequestsThrottled",
            "value": "UnauthenticatedRequestsThrottled",
            "description": "UnauthenticatedRequestsThrottled"
          },
          {
            "name": "InvalidHealthCheckType",
            "value": "InvalidHealthCheckType",
            "description": "InvalidHealthCheckType"
          },
          {
            "name": "Forbidden",
            "value": "Forbidden",
            "description": "Forbidden"
          },
          {
            "name": "BillingScopeIdCannotBeChanged",
            "value": "BillingScopeIdCannotBeChanged",
            "description": "BillingScopeIdCannotBeChanged"
          },
          {
            "name": "AppliedScopesNotAssociatedWithCommerceAccount",
            "value": "AppliedScopesNotAssociatedWithCommerceAccount",
            "description": "AppliedScopesNotAssociatedWithCommerceAccount"
          },
          {
            "name": "PatchValuesSameAsExisting",
            "value": "PatchValuesSameAsExisting",
            "description": "PatchValuesSameAsExisting"
          },
          {
            "name": "RoleAssignmentCreationFailed",
            "value": "RoleAssignmentCreationFailed",
            "description": "RoleAssignmentCreationFailed"
          },
          {
            "name": "ReservationOrderCreationFailed",
            "value": "ReservationOrderCreationFailed",
            "description": "ReservationOrderCreationFailed"
          },
          {
            "name": "ReservationOrderNotEnabled",
            "value": "ReservationOrderNotEnabled",
            "description": "ReservationOrderNotEnabled"
          },
          {
            "name": "CapacityUpdateScopesFailed",
            "value": "CapacityUpdateScopesFailed",
            "description": "CapacityUpdateScopesFailed"
          },
          {
            "name": "UnsupportedReservationTerm",
            "value": "UnsupportedReservationTerm",
            "description": "UnsupportedReservationTerm"
          },
          {
            "name": "ReservationOrderIdAlreadyExists",
            "value": "ReservationOrderIdAlreadyExists",
            "description": "ReservationOrderIdAlreadyExists"
          },
          {
            "name": "RiskCheckFailed",
            "value": "RiskCheckFailed",
            "description": "RiskCheckFailed"
          },
          {
            "name": "CreateQuoteFailed",
            "value": "CreateQuoteFailed",
            "description": "CreateQuoteFailed"
          },
          {
            "name": "ActivateQuoteFailed",
            "value": "ActivateQuoteFailed",
            "description": "ActivateQuoteFailed"
          },
          {
            "name": "NonsupportedAccountId",
            "value": "NonsupportedAccountId",
            "description": "NonsupportedAccountId"
          },
          {
            "name": "PaymentInstrumentNotFound",
            "value": "PaymentInstrumentNotFound",
            "description": "PaymentInstrumentNotFound"
          },
          {
            "name": "MissingAppliedScopesForSingle",
            "value": "MissingAppliedScopesForSingle",
            "description": "MissingAppliedScopesForSingle"
          },
          {
            "name": "NoValidReservationsToReRate",
            "value": "NoValidReservationsToReRate",
            "description": "NoValidReservationsToReRate"
          },
          {
            "name": "ReRateOnlyAllowedForEA",
            "value": "ReRateOnlyAllowedForEA",
            "description": "ReRateOnlyAllowedForEA"
          },
          {
            "name": "OperationCannotBePerformedInCurrentState",
            "value": "OperationCannotBePerformedInCurrentState",
            "description": "OperationCannotBePerformedInCurrentState"
          },
          {
            "name": "InvalidSingleAppliedScopesCount",
            "value": "InvalidSingleAppliedScopesCount",
            "description": "InvalidSingleAppliedScopesCount"
          },
          {
            "name": "InvalidFulfillmentRequestParameters",
            "value": "InvalidFulfillmentRequestParameters",
            "description": "InvalidFulfillmentRequestParameters"
          },
          {
            "name": "NotSupportedCountry",
            "value": "NotSupportedCountry",
            "description": "NotSupportedCountry"
          },
          {
            "name": "InvalidRefundQuantity",
            "value": "InvalidRefundQuantity",
            "description": "InvalidRefundQuantity"
          },
          {
            "name": "PurchaseError",
            "value": "PurchaseError",
            "description": "PurchaseError"
          },
          {
            "name": "BillingCustomerInputError",
            "value": "BillingCustomerInputError",
            "description": "BillingCustomerInputError"
          },
          {
            "name": "BillingPaymentInstrumentSoftError",
            "value": "BillingPaymentInstrumentSoftError",
            "description": "BillingPaymentInstrumentSoftError"
          },
          {
            "name": "BillingPaymentInstrumentHardError",
            "value": "BillingPaymentInstrumentHardError",
            "description": "BillingPaymentInstrumentHardError"
          },
          {
            "name": "BillingTransientError",
            "value": "BillingTransientError",
            "description": "BillingTransientError"
          },
          {
            "name": "BillingError",
            "value": "BillingError",
            "description": "BillingError"
          },
          {
            "name": "FulfillmentConfigurationError",
            "value": "FulfillmentConfigurationError",
            "description": "FulfillmentConfigurationError"
          },
          {
            "name": "FulfillmentOutOfStockError",
            "value": "FulfillmentOutOfStockError",
            "description": "FulfillmentOutOfStockError"
          },
          {
            "name": "FulfillmentTransientError",
            "value": "FulfillmentTransientError",
            "description": "FulfillmentTransientError"
          },
          {
            "name": "FulfillmentError",
            "value": "FulfillmentError",
            "description": "FulfillmentError"
          },
          {
            "name": "CalculatePriceFailed",
            "value": "CalculatePriceFailed",
            "description": "CalculatePriceFailed"
          },
          {
            "name": "AppliedScopesSameAsExisting",
            "value": "AppliedScopesSameAsExisting",
            "description": "AppliedScopesSameAsExisting"
          },
          {
            "name": "SelfServiceRefundNotSupported",
            "value": "SelfServiceRefundNotSupported",
            "description": "SelfServiceRefundNotSupported"
          },
          {
            "name": "RefundLimitExceeded",
            "value": "RefundLimitExceeded",
            "description": "RefundLimitExceeded"
          }
        ]
      }
    },
    "ExchangeOperationResultResponse": {
      "type": "object",
      "description": "Exchange operation result",
      "properties": {
        "id": {
          "type": "string",
          "description": "It should match what is used to GET the operation result."
        },
        "name": {
          "type": "string",
          "description": "It must match the last segment of the id field, and will typically be a GUID / system generated value."
        },
        "status": {
          "$ref": "#/definitions/ExchangeOperationResultStatus",
          "description": "Status of the operation."
        },
        "properties": {
          "$ref": "#/definitions/ExchangeResponseProperties",
          "description": "Exchange response properties"
        },
        "error": {
          "$ref": "#/definitions/OperationResultError",
          "description": "Required if status == failed or status == canceled."
        }
      }
    },
    "ExchangeOperationResultStatus": {
      "type": "string",
      "description": "Status of the operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Cancelled",
        "PendingRefunds",
        "PendingPurchases"
      ],
      "x-ms-enum": {
        "name": "ExchangeOperationResultStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Cancelled"
          },
          {
            "name": "PendingRefunds",
            "value": "PendingRefunds",
            "description": "PendingRefunds"
          },
          {
            "name": "PendingPurchases",
            "value": "PendingPurchases",
            "description": "PendingPurchases"
          }
        ]
      }
    },
    "ExchangePolicyError": {
      "type": "object",
      "description": "error details",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ExchangePolicyErrors": {
      "type": "object",
      "description": "Exchange policy errors",
      "properties": {
        "policyErrors": {
          "type": "array",
          "description": "Exchange Policy errors",
          "items": {
            "$ref": "#/definitions/ExchangePolicyError"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ExchangeRequest": {
      "type": "object",
      "description": "Exchange request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExchangeRequestProperties",
          "description": "Exchange request properties"
        }
      }
    },
    "ExchangeRequestProperties": {
      "type": "object",
      "description": "Exchange request properties",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "SessionId that was returned by CalculateExchange API."
        }
      }
    },
    "ExchangeResponseProperties": {
      "type": "object",
      "description": "Exchange response properties",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Exchange session identifier"
        },
        "netPayable": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "refundsTotal": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "purchasesTotal": {
          "$ref": "#/definitions/Price",
          "description": "Pricing information containing the amount and the currency code"
        },
        "reservationsToPurchase": {
          "type": "array",
          "description": "Details of the reservations being purchased",
          "items": {
            "$ref": "#/definitions/ReservationToPurchaseExchange"
          },
          "x-ms-identifiers": [
            "reservationId"
          ]
        },
        "savingsPlansToPurchase": {
          "type": "array",
          "description": "Details of the savings plans being purchased",
          "items": {
            "$ref": "#/definitions/SavingsPlanToPurchaseExchange"
          },
          "x-ms-identifiers": [
            "savingsPlanId"
          ]
        },
        "reservationsToExchange": {
          "type": "array",
          "description": "Details of the reservations being returned",
          "items": {
            "$ref": "#/definitions/ReservationToReturnForExchange"
          },
          "x-ms-identifiers": [
            "reservationId"
          ]
        },
        "policyResult": {
          "$ref": "#/definitions/ExchangePolicyErrors",
          "description": "Exchange policy errors"
        }
      }
    },
    "ExtendedErrorInfo": {
      "type": "object",
      "description": "Extended error information including error code and error message",
      "properties": {
        "code": {
          "$ref": "#/definitions/ErrorResponseCode",
          "description": "Error code describing the reason that service is not able to process the incoming request"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ExtendedStatusInfo": {
      "type": "object",
      "properties": {
        "statusCode": {
          "$ref": "#/definitions/ReservationStatusCode"
        },
        "message": {
          "type": "string",
          "description": "The message giving detailed information about the status code."
        }
      }
    },
    "InstanceFlexibility": {
      "type": "string",
      "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group. Only specify for VirtualMachines reserved resource type.",
      "enum": [
        "On",
        "Off"
      ],
      "x-ms-enum": {
        "name": "InstanceFlexibility",
        "modelAsString": true,
        "values": [
          {
            "name": "On",
            "value": "On",
            "description": "On"
          },
          {
            "name": "Off",
            "value": "Off",
            "description": "Off"
          }
        ]
      }
    },
    "MergeProperties": {
      "type": "object",
      "description": "Properties for reservation merge",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Format of the resource id should be /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MergeRequest": {
      "type": "object",
      "description": "The request for reservation merge",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MergeProperties",
          "description": "Properties for reservation merge",
          "x-ms-client-flatten": true
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "description": "Information about an operation",
      "properties": {
        "provider": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResponse"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "Url to get the next page of items."
        }
      }
    },
    "OperationResponse": {
      "type": "object",
      "description": "The response containing operation information",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Indicates whether the operation is a data action"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation"
        },
        "properties": {
          "description": "Properties of the operation"
        }
      }
    },
    "OperationResultError": {
      "type": "object",
      "description": "Required if status == failed or status == canceled.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required if status == failed or status == cancelled. If status == failed, provide an invariant error code used for error troubleshooting, aggregation, and analysis."
        },
        "message": {
          "type": "string",
          "description": "Required if status == failed. Localized. If status == failed, provide an actionable error message indicating what error occurred, and what the user can do to address the issue."
        }
      }
    },
    "OperationStatus": {
      "type": "string",
      "description": "Status of the individual operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Cancelled",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "OperationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Cancelled"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          }
        ]
      }
    },
    "Patch": {
      "type": "object",
      "description": "The request for reservation patch",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PatchProperties",
          "description": "Properties for reservation patch",
          "x-ms-client-flatten": true
        }
      }
    },
    "PatchProperties": {
      "type": "object",
      "description": "Properties for reservation patch",
      "properties": {
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "appliedScopes": {
          "type": "array",
          "description": "List of the subscriptions that the benefit will be applied. Do not specify if AppliedScopeType is Shared. This property will be deprecated and replaced by appliedScopeProperties instead for Single AppliedScopeType.",
          "items": {
            "type": "string"
          }
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable. Required and need to provide tenantId and managementGroupId if AppliedScopeType is ManagementGroup"
        },
        "instanceFlexibility": {
          "$ref": "#/definitions/InstanceFlexibility",
          "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group. Only specify for VirtualMachines reserved resource type."
        },
        "name": {
          "type": "string",
          "description": "Display name of the reservation"
        },
        "renew": {
          "type": "boolean",
          "description": "Setting this to true will automatically purchase a new reservation on the expiration date time.",
          "default": false
        },
        "renewProperties": {
          "$ref": "#/definitions/PatchPropertiesRenewProperties"
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Azure hybrid benefit needs to be reviewed."
        }
      }
    },
    "PatchPropertiesRenewProperties": {
      "type": "object",
      "properties": {
        "purchaseProperties": {
          "$ref": "#/definitions/PurchaseRequest",
          "description": "The request for reservation purchase"
        }
      }
    },
    "PaymentDetail": {
      "type": "object",
      "description": "Information about payment related to a reservation order.",
      "properties": {
        "dueDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the payment needs to be done."
        },
        "paymentDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the transaction is completed. Is null when it is scheduled."
        },
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        },
        "billingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount charged in Billing currency. Tax not included. Is null for future payments"
        },
        "billingAccount": {
          "type": "string",
          "description": "Shows the Account that is charged for this payment."
        },
        "status": {
          "$ref": "#/definitions/PaymentStatus",
          "description": "Describes whether the payment is completed, failed, cancelled or scheduled in the future."
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        }
      }
    },
    "PaymentStatus": {
      "type": "string",
      "description": "Describes whether the payment is completed, failed, cancelled or scheduled in the future.",
      "enum": [
        "Succeeded",
        "Failed",
        "Scheduled",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "PaymentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Scheduled",
            "value": "Scheduled",
            "description": "Scheduled"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Cancelled"
          }
        ]
      }
    },
    "Price": {
      "type": "object",
      "description": "Pricing information containing the amount and the currency code",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Represent the current state of the Reservation.",
      "enum": [
        "Creating",
        "PendingResourceHold",
        "ConfirmedResourceHold",
        "PendingBilling",
        "ConfirmedBilling",
        "Created",
        "Succeeded",
        "Cancelled",
        "Expired",
        "BillingFailed",
        "Failed",
        "Split",
        "Merged"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating"
          },
          {
            "name": "PendingResourceHold",
            "value": "PendingResourceHold",
            "description": "PendingResourceHold"
          },
          {
            "name": "ConfirmedResourceHold",
            "value": "ConfirmedResourceHold",
            "description": "ConfirmedResourceHold"
          },
          {
            "name": "PendingBilling",
            "value": "PendingBilling",
            "description": "PendingBilling"
          },
          {
            "name": "ConfirmedBilling",
            "value": "ConfirmedBilling",
            "description": "ConfirmedBilling"
          },
          {
            "name": "Created",
            "value": "Created",
            "description": "Created"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Cancelled"
          },
          {
            "name": "Expired",
            "value": "Expired",
            "description": "Expired"
          },
          {
            "name": "BillingFailed",
            "value": "BillingFailed",
            "description": "BillingFailed"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Split",
            "value": "Split",
            "description": "Split"
          },
          {
            "name": "Merged",
            "value": "Merged",
            "description": "Merged"
          }
        ]
      }
    },
    "PurchaseRequest": {
      "type": "object",
      "description": "The request for reservation purchase",
      "properties": {
        "sku": {
          "$ref": "#/definitions/SkuName",
          "description": "The name of sku"
        },
        "location": {
          "type": "string",
          "description": "The Azure region where the reserved resource lives.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "properties": {
          "$ref": "#/definitions/PurchaseRequestProperties",
          "description": "Properties of reservation purchase request",
          "x-ms-client-flatten": true
        }
      }
    },
    "PurchaseRequestProperties": {
      "type": "object",
      "description": "Properties of reservation purchase request",
      "properties": {
        "reservedResourceType": {
          "$ref": "#/definitions/ReservedResourceType",
          "description": "The type of the resource that is being reserved. In addition to below types we have also added the following: OpenAIPTU, MDC, Sentinel."
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing reservation or savings plan"
        },
        "term": {
          "$ref": "#/definitions/ReservationTerm",
          "description": "Represent the term of reservation."
        },
        "billingPlan": {
          "$ref": "#/definitions/ReservationBillingPlan",
          "description": "Represent the billing plans."
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity of the skus that are part of the reservation."
        },
        "displayName": {
          "type": "string",
          "description": "Friendly name of the reservation"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
[...]
