{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft NetApp",
    "description": "Microsoft NetApp Azure Resource Provider specification",
    "version": "2021-08-01",
    "x-ms-code-generation-settings": {
      "name": "AzureNetAppFilesManagementClient"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.NetApp/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Describes the Resource Provider",
        "description": "Lists all of the available Microsoft.NetApp Rest API operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "OperationList": {
            "$ref": "examples/OperationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Check resource name availability",
        "description": "Check if a resource name is available.",
        "operationId": "NetAppResource_CheckNameAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Name availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceNameAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "CheckNameAvailability": {
            "$ref": "examples/CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Check file path availability",
        "description": "Check if a file path is available.",
        "operationId": "NetAppResource_CheckFilePathAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "File path availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilePathAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "CheckFilePathAvailability": {
            "$ref": "examples/CheckFilePathAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkQuotaAvailability": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Check quota availability",
        "description": "Check if a quota is available.",
        "operationId": "NetAppResource_CheckQuotaAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Quota availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuotaAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "CheckQuotaAvailability": {
            "$ref": "examples/CheckQuotaAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits": {
      "get": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Get quota limits",
        "description": "Get the default and current limits for quotas",
        "operationId": "NetAppResourceQuotaLimits_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionQuotaItemList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "QuotaLimits": {
            "$ref": "examples/QuotaLimits_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits/{quotaLimitName}": {
      "get": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Get quota limits",
        "description": "Get the default and current subscription quota limit",
        "operationId": "NetAppResourceQuotaLimits_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/QuotaLimitName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionQuotaItem"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "QuotaLimits": {
            "$ref": "examples/QuotaLimits_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/netAppAccounts": {
      "get": {
        "summary": "Describe all NetApp Accounts in a subscription",
        "description": "List and describe all NetApp accounts in the subscription.",
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/netAppAccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Accounts_List": {
            "$ref": "examples/Accounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts": {
      "get": {
        "summary": "Describe all NetApp Accounts in a resource group",
        "description": "List and describe all NetApp accounts in the resource group.",
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/netAppAccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Accounts_List": {
            "$ref": "examples/Accounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}": {
      "get": {
        "summary": "Describe a NetApp Account",
        "description": "Get the NetApp account",
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_CreateOrUpdate",
        "summary": "Create or update a NetApp account",
        "description": "Create or update the specified NetApp account within the resource group",
        "parameters": [
          {
            "name": "body",
            "description": "NetApp Account object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - account updated",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "201": {
            "description": "Account created",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Accounts_CreateOrUpdate": {
            "$ref": "examples/Accounts_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_Delete",
        "summary": "Delete a NetApp account",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "Delete the specified NetApp account",
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "examples/Accounts_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_Update",
        "summary": "Update a NetApp account",
        "description": "Patch the specified NetApp account",
        "parameters": [
          {
            "name": "body",
            "description": "NetApp Account object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/netAppAccountPatch"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - account updated",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/cloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "examples/Accounts_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools": {
      "get": {
        "summary": "Describe all Capacity Pools",
        "description": "List all capacity pools in the NetApp Account",
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/capacityPoolList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Pools_List": {
            "$ref": "examples/Pools_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}": {
      "get": {
        "summary": "Describe a Capacity Pool",
        "description": "Get details of the specified capacity pool",
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Pools_Get": {
            "$ref": "examples/Pools_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_CreateOrUpdate",
        "summary": "Create or Update the specified capacity pool within the resource group",
        "description": "Create or Update a capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Capacity pool object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - pool updated",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "201": {
            "description": "Pool created",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Pools_CreateOrUpdate": {
            "$ref": "examples/Pools_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_Update",
        "summary": "Update a capacity pool",
        "description": "Patch the specified capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Capacity pool object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/capacityPoolPatch"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Pools_Update": {
            "$ref": "examples/Pools_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_Delete",
        "summary": "Delete a capacity pool",
        "description": "Delete the specified capacity pool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Pools_Delete": {
            "$ref": "examples/Pools_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes": {
      "get": {
        "summary": "Describe all volumes",
        "description": "List all volumes within the capacity pool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volumeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_List": {
            "$ref": "examples/Volumes_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_Get",
        "summary": "Describe a volume",
        "description": "Get the details of the specified volume",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_Get": {
            "$ref": "examples/Volumes_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_CreateOrUpdate",
        "summary": "Create or Update a volume",
        "description": "Create or update the specified volume within the capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Volume object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - volume updated",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "201": {
            "description": "Volume created",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "202": {
            "description": "Accepted -- Create request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Volumes_CreateOrUpdate": {
            "$ref": "examples/Volumes_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_Update",
        "summary": "Update a volume",
        "description": "Patch the specified volume",
        "parameters": [
          {
            "name": "body",
            "description": "Volume object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volumePatch"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/cloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_Update": {
            "$ref": "examples/Volumes_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_Delete",
        "summary": "Delete a volume",
        "description": "Delete the specified volume",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_Delete": {
            "$ref": "examples/Volumes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/revert": {
      "post": {
        "tags": [
          "Volumes Revert"
        ],
        "summary": "Revert a volume to one of its snapshots",
        "description": "Revert a volume to the snapshot specified in the body",
        "operationId": "Volumes_Revert",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Object for snapshot to revert supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volumeRevert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_Revert": {
            "$ref": "examples/Volumes_Revert.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/breakReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Break volume replication",
        "description": "Break the replication connection on the destination volume",
        "operationId": "Volumes_BreakReplication",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Optional body to force break the replication.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/breakReplicationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_BreakReplication": {
            "$ref": "examples/Volumes_BreakReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/replicationStatus": {
      "get": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Get volume replication status",
        "description": "Get the status of the replication",
        "operationId": "Volumes_ReplicationStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/replicationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_ReplicationStatus": {
            "$ref": "examples/Volumes_ReplicationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/resyncReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Resync volume replication",
        "description": "Resync the connection on the destination volume. If the operation is ran on the source volume it will reverse-resync the connection and sync from destination to source.",
        "operationId": "Volumes_ResyncReplication",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_ResyncReplication": {
            "$ref": "examples/Volumes_ResyncReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/deleteReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Delete volume replication",
        "description": "Delete the replication connection on the destination volume, and send release to the source replication",
        "operationId": "Volumes_DeleteReplication",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_DeleteReplication": {
            "$ref": "examples/Volumes_DeleteReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/authorizeReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Authorize source volume replication",
        "description": "Authorize the replication connection on the source volume",
        "operationId": "Volumes_AuthorizeReplication",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Authorize request object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authorizeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_AuthorizeReplication": {
            "$ref": "examples/Volumes_AuthorizeReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/reinitializeReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "ReInitialize volume replication",
        "description": "Re-Initializes the replication connection on the destination volume",
        "operationId": "Volumes_ReInitializeReplication",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_ReInitializeReplication": {
            "$ref": "examples/Volumes_ReInitializeReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/poolChange": {
      "post": {
        "tags": [
          "Pool Change"
        ],
        "summary": "Change pool for volume",
        "description": "Moves volume to another pool",
        "operationId": "Volumes_PoolChange",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Move volume to the pool supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/poolChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_AuthorizeReplication": {
            "$ref": "examples/Volumes_PoolChange.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_List",
        "summary": "Describe all snapshots",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "List all snapshots associated with the volume",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Snapshots_List": {
            "$ref": "examples/Snapshots_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots/{snapshotName}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Get",
        "summary": "Describe a snapshot",
        "description": "Get details of the specified snapshot",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Snapshots_Get": {
            "$ref": "examples/Snapshots_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Create",
        "summary": "Create a snapshot",
        "description": "Create the specified snapshot within the given volume",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Snapshot created",
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          "202": {
            "description": "Accepted -- Create request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_Create": {
            "$ref": "examples/Snapshots_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Update",
        "summary": "Update a snapshot",
        "description": "Patch a snapshot",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotPatch"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_Update": {
            "$ref": "examples/Snapshots_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Delete",
        "summary": "Delete a snapshot",
        "description": "Delete snapshot",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_Delete": {
            "$ref": "examples/Snapshots_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies": {
      "parameters": [
        {
          "$ref": "#/parameters/SubscriptionId"
        },
        {
          "$ref": "#/parameters/ResourceGroup"
        },
        {
          "$ref": "#/parameters/AccountName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "Snapshot Policy"
        ],
        "operationId": "SnapshotPolicies_List",
        "description": "List snapshot policy",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "SnapshotPolicies_List": {
            "$ref": "examples/SnapshotPolicies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies/{snapshotPolicyName}": {
      "parameters": [
        {
          "$ref": "#/parameters/SubscriptionId"
        },
        {
          "$ref": "#/parameters/ResourceGroup"
        },
        {
          "$ref": "#/parameters/AccountName"
        },
        {
          "$ref": "#/parameters/SnapshotPolicyName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "Snapshot Policy"
        ],
        "operationId": "SnapshotPolicies_Get",
        "description": "Get a snapshot Policy",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "SnapshotPolicies_Get": {
            "$ref": "examples/SnapshotPolicies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Snapshot Policy"
        ],
        "operationId": "SnapshotPolicies_Create",
        "description": "Create a snapshot policy",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - snapshot Policy updated",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "201": {
            "description": "Snapshot Policy created",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "SnapshotPolicies_Create": {
            "$ref": "examples/SnapshotPolicies_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Snapshot Policy"
        ],
        "operationId": "SnapshotPolicies_Update",
        "description": "Patch a snapshot policy",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotPolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SnapshotPolicies_Update": {
            "$ref": "examples/SnapshotPolicies_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Snapshot Policy"
        ],
        "operationId": "SnapshotPolicies_Delete",
        "description": "Delete snapshot policy",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SnapshotPolicies_Delete": {
            "$ref": "examples/SnapshotPolicies_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies/{snapshotPolicyName}/volumes": {
      "get": {
        "tags": [
          "Snapshot Policy List Volumes"
        ],
        "summary": "Get volumes for snapshot policy",
        "description": "Get volumes associated with snapshot policy",
        "operationId": "SnapshotPolicies_ListVolumes",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPolicyVolumeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "SnapshotPolicies_ListVolumes": {
            "$ref": "examples/SnapshotPolicies_ListVolumes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/backupStatus": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get volume's backup status",
        "description": "Get the status of the backup for a volume",
        "operationId": "Backups_GetStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_BackupStatus": {
            "$ref": "examples/Volumes_BackupStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/restoreStatus": {
      "get": {
        "tags": [
          "Restore"
        ],
        "summary": "Get volume's restore status",
        "description": "Get the status of the restore for a volume",
        "operationId": "Backups_GetVolumeRestoreStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/restoreStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_RestoreStatus": {
            "$ref": "examples/Volumes_RestoreStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/accountBackups": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List Backups for a Netapp Account",
        "description": "List all Backups for a Netapp Account",
        "operationId": "AccountBackups_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "AccountBackups_List": {
            "$ref": "examples/Backups_Account_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/accountBackups/{backupName}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get Backup for a Netapp Account",
        "description": "Gets the specified backup for a Netapp Account",
        "operationId": "AccountBackups_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "AccountBackups_Get": {
            "$ref": "examples/Backups_Account_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Backups"
        ],
        "summary": "Delete Backup for a Netapp Account",
        "description": "Delete the specified Backup for a Netapp Account",
        "operationId": "AccountBackups_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "AccountBackups_Delete": {
            "$ref": "examples/Backups_Account_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/backups": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List Backups",
        "description": "List all backups for a volume",
        "operationId": "Backups_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Backups_List": {
            "$ref": "examples/Backups_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/backups/{backupName}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get a backup",
        "description": "Gets the specified backup of the volume",
        "operationId": "Backups_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Backups_Get": {
            "$ref": "examples/Backups_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Backups"
        ],
        "summary": "Create a backup",
        "description": "Create a backup for the volume",
        "operationId": "Backups_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Backup object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/backup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK created",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "201": {
            "description": "Backup created",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "202": {
            "description": "Accepted -- Create request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Backups_Create": {
            "$ref": "examples/Backups_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Backups"
        ],
        "summary": "Patch a backup",
        "description": "Patch a backup for the volume",
        "operationId": "Backups_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Backup object supplied in the body of the operation.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/backupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Backups_Update": {
            "$ref": "examples/Backups_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Backups"
        ],
        "summary": "Delete backup",
        "description": "Delete a backup of the volume",
        "operationId": "Backups_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Backups_Delete": {
            "$ref": "examples/Backups_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupPolicies": {
      "get": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "List backup policies",
        "description": "List backup policies for Netapp Account",
        "operationId": "BackupPolicies_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Backups_List": {
            "$ref": "examples/BackupPolicies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupPolicies/{backupPolicyName}": {
      "get": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "Get a backup Policy",
        "description": "Get a particular backup Policy",
        "operationId": "BackupPolicies_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Backups_Get": {
            "$ref": "examples/BackupPolicies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "Create a backup policy",
        "description": "Create a backup policy for Netapp Account",
        "operationId": "BackupPolicies_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Backup policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/backupPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup Policy created",
            "schema": {
              "$ref": "#/definitions/backupPolicy"
            }
          },
          "201": {
            "description": "Backup created",
            "schema": {
              "$ref": "#/definitions/backupPolicy"
            }
          },
          "202": {
            "description": "Accepted -- Create request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BackupPolicies_Create": {
            "$ref": "examples/BackupPolicies_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "Patch a backup policy",
        "description": "Patch a backup policy for Netapp Account",
        "operationId": "BackupPolicies_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Backup policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/backupPolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupPolicy"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/backupPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "BackupPolicies_Update": {
            "$ref": "examples/BackupPolicies_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "Delete a backup policy",
        "description": "Delete backup policy",
        "operationId": "BackupPolicies_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Backups_Delete": {
            "$ref": "examples/BackupPolicies_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/vaults": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "List vaults",
        "description": "List vaults for a Netapp Account",
        "operationId": "Vaults_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/vaultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Vaults_List": {
            "$ref": "examples/Vaults_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups": {
      "get": {
        "summary": "Describe all volume groups",
        "description": "List all volume groups for given account",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Volume Groups"
        ],
        "operationId": "VolumeGroups_ListByNetAppAccount",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volumeGroupList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "VolumeGroups_List": {
            "$ref": "examples/VolumeGroups_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups/{volumeGroupName}": {
      "get": {
        "summary": "Describe a Volume Group",
        "description": "Get details of the specified volume group",
        "tags": [
          "Volume Groups"
        ],
        "operationId": "VolumeGroups_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/VolumeGroupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volumeGroupDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "VolumeGroups_Get": {
            "$ref": "examples/VolumeGroups_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Volume Groups"
        ],
        "operationId": "VolumeGroups_Create",
        "summary": "Create the specified volume group and volumes. Creating volume group will create all the volumes specified in request body implicitly. Once volumes are created using volume group, those will be treated as regular volumes thereafter.",
        "description": "Create a volume group along with specified volumes",
        "parameters": [
          {
            "name": "body",
            "description": "Volume Group object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volumeGroupDetails"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/VolumeGroupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Volume group created",
            "schema": {
              "$ref": "#/definitions/volumeGroupDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumeGroups_Create": {
            "$ref": "examples/VolumeGroups_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Volume Groups"
        ],
        "operationId": "VolumeGroups_Delete",
        "summary": "Delete a volume group",
        "description": "Delete the specified volume group only if there are no volumes under volume group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/VolumeGroupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumeGroups_Delete": {
            "$ref": "examples/VolumeGroups_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list Cloud Volume operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Storage operations supported by the Storage resource provider."
        }
      }
    },
    "Operation": {
      "description": "Microsoft.NetApp REST API operation definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft NetApp.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed etc.",
              "type": "string"
            },
            "operation": {
              "description": "Type of operation: get, read, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Operation description.",
              "type": "string"
            }
          }
        },
        "origin": {
          "type": "string",
          "description": "The origin of operations."
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Properties of operation, include metric specifications.",
          "x-ms-client-flatten": true
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of operation, include metric specifications.",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "One property of operation, include metric specifications."
        }
      }
    },
    "ServiceSpecification": {
      "description": "One property of operation, include metric specifications.",
      "properties": {
        "metricSpecifications": {
          "description": "Metric specifications of operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          }
        },
        "logSpecifications": {
          "description": "Log specification of operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSpecification"
          }
        }
      }
    },
    "MetricSpecification": {
      "description": "Metric specification of operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of metric specification."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of metric specification."
        },
        "displayDescription": {
          "type": "string",
          "description": "Display description of metric specification."
        },
        "unit": {
          "type": "string",
          "description": "Unit could be Bytes or Count."
        },
        "supportedAggregationTypes": {
          "description": "Support metric aggregation type.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "enum": [
              "Average"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "MetricAggregationType",
              "modelAsString": true
            }
          }
        },
        "supportedTimeGrainTypes": {
          "type": "array",
          "description": "The supported time grain types for the metrics.",
          "items": {
            "type": "string"
          }
        },
        "internalMetricName": {
          "type": "string",
          "description": "The internal metric name."
        },
        "enableRegionalMdmAccount": {
          "description": "Whether or not the service is using regional MDM accounts.",
          "type": "boolean"
        },
        "sourceMdmAccount": {
          "type": "string",
          "description": "The source MDM account."
        },
        "sourceMdmNamespace": {
          "type": "string",
          "description": "The source MDM namespace."
        },
        "dimensions": {
          "description": "Dimensions of blobs, including blob type and access tier.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        },
        "aggregationType": {
          "type": "string",
          "description": "Aggregation type could be Average."
        },
        "fillGapWithZero": {
          "type": "boolean",
          "description": "The property to decide fill gap with zero or not."
        },
        "category": {
          "type": "string",
          "description": "The category this metric specification belong to, could be Capacity."
        },
        "resourceIdDimensionNameOverride": {
          "type": "string",
          "description": "Account Resource Id."
        },
        "isInternal": {
          "description": "Whether the metric is internal.",
          "type": "boolean"
        }
      }
    },
    "LogSpecification": {
      "description": "Log Definition of a single resource metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of log specification.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of log specification.",
          "type": "string"
        }
      }
    },
    "Dimension": {
      "description": "Dimension of blobs, possibly be blob type or access tier.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of dimension."
        }
      }
    },
    "CheckAvailabilityResponse": {
      "description": "Information regarding availability of a resource.",
      "type": "object",
      "properties": {
        "isAvailable": {
          "description": "<code>true</code> indicates name is valid and available. <code>false</code> indicates the name is invalid, unavailable, or both.",
          "type": "boolean"
        },
        "reason": {
          "description": "<code>Invalid</code> indicates the name provided does not match Azure App Service naming requirements. <code>AlreadyExists</code> indicates that the name is already in use and is therefore unavailable.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "InAvailabilityReasonType",
            "modelAsString": true
          }
        },
        "message": {
          "description": "If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that resource name is already in use, and direct them to select a different name.",
          "type": "string"
        }
      }
    },
    "ResourceNameAvailabilityRequest": {
      "description": "Resource name availability request content.",
      "required": [
        "name",
        "type",
        "resourceGroup"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name to verify.",
          "type": "string"
        },
        "type": {
          "description": "Resource type used for verification.",
          "enum": [
            "Microsoft.NetApp/netAppAccounts",
            "Microsoft.NetApp/netAppAccounts/capacityPools",
[...]
