{
  "swagger": "2.0",
  "info": {
    "version": "2022-02-02",
    "title": "Microsoft Marketplace Catalog Browse API",
    "description": "Microsoft Marketplace Catalog Browse API",
    "x-ms-code-generation-settings": {
      "name": "marketplacecatalogClient"
    }
  },
  "host": "catalogapi.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/offers/{id}": {
      "get": {
        "tags": [
          "Public Offer/Product Single"
        ],
        "summary": "Get a single public catalog item offer by id",
        "operationId": "SinglePublicOffer_Get",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer legacy or big id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "description": "API version",
            "default": "2021-06-01",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Offer language",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "description": "Offer market",
            "default": "US",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "To include stop sold or hidden plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "description": "Add hide key to retrieve preview items",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a single public or preview offer",
            "schema": {
              "$ref": "#/definitions/CatalogItem"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case offer does not exist",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-examples": {
          "SinglePublicOffers_Get": {
            "$ref": "./examples/SinglePublicOffer_Get.json"
          }
        }
      }
    },
    "/offers": {
      "get": {
        "tags": [
          "Public Offers/Products Listing"
        ],
        "summary": "Get a list of public available offers",
        "operationId": "PublicOffers_List",
        "parameters": [
          {
            "type": "string",
            "name": "storefront",
            "in": "query",
            "description": "Relevant storefront",
            "default": "azure",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "description": "API version",
            "default": "2021-06-01",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Offer language",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "description": "Add hide key to retrieve preview items",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of public or preview offers",
            "schema": {
              "$ref": "#/definitions/PageResultOfCatalogItem"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "In case request malformed",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-examples": {
          "PublicOffers_List": {
            "$ref": "./examples/PublicOffers_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CatalogSearchResponseDto": {
      "type": "object",
      "properties": {
        "Facets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogSearchFacetDetailsDto"
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogSearchItemDto"
          }
        },
        "TotalCount": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "CatalogSearchFacetDetailsDto": {
      "type": "object",
      "properties": {
        "FacetName": {
          "type": "string"
        },
        "FacetValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogSearchFacetItemDto"
          }
        }
      }
    },
    "CatalogSearchFacetItemDto": {
      "type": "object",
      "properties": {
        "Value": {
          "type": "string"
        },
        "Count": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "CatalogSearchItemDto": {
      "type": "object",
      "properties": {
        "DisplayName": {
          "type": "string"
        },
        "PublisherDisplayName": {
          "type": "string"
        },
        "LegacyId": {
          "type": "string"
        },
        "BigId": {
          "type": "string"
        },
        "Summary": {
          "type": "string"
        },
        "OfferType": {
          "type": "string"
        }
      }
    },
    "Store": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "enum": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ]
    },
    "OfferType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals",
        "Office365"
      ],
      "enum": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals",
        "Office365"
      ]
    },
    "CatalogItem": {
      "type": "object",
      "required": [
        "language",
        "hasStandardContractAmendments",
        "offerId",
        "legacyId",
        "offerType",
        "isPrivate",
        "isPreview",
        "isStopSell",
        "fulfillBeforeChargeEligible",
        "bigId",
        "legalTermsType",
        "isDeleted",
        "isThirdParty",
        "popularity",
        "hasFreeTrials",
        "isByol",
        "isMacc",
        "hasFreePlans",
        "isQuantifiable",
        "hasPaygPlans",
        "isReseller",
        "isExcludedFromSearch",
        "offerEnvironment",
        "excludeFromBootstrap",
        "disableSendEmailOnPurchase",
        "hideFromSaasBlade",
        "integratedWithMicrosoftGraphApi",
        "hasRIPlans",
        "hideFromAdminPortal"
      ],
      "properties": {
        "language": {
          "type": "string",
          "description": "Language"
        },
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "hasStandardContractAmendments": {
          "type": "boolean",
          "description": "A value indicating whether standard contract amendments are present for this product"
        },
        "publisherMpnId": {
          "type": "string",
          "description": "The publisher's Microsoft Partner Network (MPN) Id"
        },
        "sellerId": {
          "type": "string",
          "description": "Partner Center Seller Id"
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id"
        },
        "partnerCenterId": {
          "type": "string",
          "description": "Partner center id"
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "Publisher display name"
        },
        "offerId": {
          "type": "string",
          "description": "Offer id"
        },
        "legacyId": {
          "type": "string",
          "description": "Offer legacy id"
        },
        "determinedStorefronts": {
          "type": "array",
          "description": "The list of the storefronts for which this offer is designated",
          "items": {
            "$ref": "#/definitions/Store"
          }
        },
        "summary": {
          "type": "string",
          "description": "Summary"
        },
        "longSummary": {
          "type": "string",
          "description": "Long summary"
        },
        "description": {
          "type": "string",
          "description": "Description"
        },
        "offerType": {
          "description": "Offer type",
          "allOf": [
            {
              "$ref": "#/definitions/OfferType"
            }
          ]
        },
        "isPrivate": {
          "type": "boolean",
          "description": "A value indicating whether the item is private"
        },
        "isPreview": {
          "type": "boolean",
          "description": "A value indicating whether the item is preview"
        },
        "isStopSell": {
          "type": "boolean",
          "description": "A value indicating whether sale of this item is stopped"
        },
        "stopSellInfo": {
          "description": "A StopSellInfo object providing stop sell related data",
          "allOf": [
            {
              "$ref": "#/definitions/StopSellInfo"
            }
          ]
        },
        "fulfillBeforeChargeEligible": {
          "type": "boolean",
          "description": "A value indicating whether this item is eligible for fulfill before charge"
        },
        "marketingMaterial": {
          "description": "Marketing material added by the publisher",
          "allOf": [
            {
              "$ref": "#/definitions/MarketingMaterial"
            }
          ]
        },
        "Markets": {
          "type": "array",
          "description": "Markets for the item",
          "items": {
            "type": "string"
          }
        },
        "IsvContactDetails": {
          "type": "object",
          "description": "ISV contact details",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bigId": {
          "type": "string",
          "description": "Big catalog id"
        },
        "ocpSolutionId": {
          "type": "string",
          "description": "OCP solution id of the product"
        },
        "legalTermsUri": {
          "type": "string",
          "description": "Legal terms URI"
        },
        "cspLegalTermsUri": {
          "type": "string",
          "description": "CSP legal terms URI"
        },
        "legalTermsType": {
          "description": "Type of to the legal terms",
          "allOf": [
            {
              "$ref": "#/definitions/LegalTermsType"
            }
          ]
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "Uri to the privacy policy of the product"
        },
        "helpLink": {
          "type": "string",
          "description": "Help link for the product"
        },
        "supportUri": {
          "type": "string",
          "description": "Support uri of the product"
        },
        "version": {
          "type": "string",
          "description": "Big Cat submission version"
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "User interface definition uri"
        },
        "categoryIds": {
          "type": "array",
          "description": "List of category IDs the marketplace item belongs to",
          "items": {
            "type": "string"
          }
        },
        "operatingSystems": {
          "type": "array",
          "description": "List of operating systems the marketplace item supports",
          "items": {
            "type": "string"
          }
        },
        "marketCode": {
          "type": "string",
          "description": "Market code of a service offer"
        },
        "marketStates": {
          "type": "array",
          "description": "Market states of a service offer",
          "items": {
            "type": "string"
          }
        },
        "industryIds": {
          "type": "array",
          "description": "List of industry IDs the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "cloudIndustryCategories": {
          "type": "array",
          "description": "List of cloud industry IDs the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "primaryProduct": {
          "type": "string",
          "description": "Primary product for the offer"
        },
        "supportedProducts": {
          "type": "array",
          "description": "It maps to the list of products the publisher provides with which their offer works",
          "items": {
            "type": "string"
          }
        },
        "applicableProducts": {
          "type": "array",
          "description": "Product categories the offer belongs to",
          "items": {
            "type": "string"
          }
        },
        "serviceType": {
          "type": "string",
          "description": "Service type that applies to the offer"
        },
        "competencies": {
          "type": "array",
          "description": "Competencies that apply to the offer",
          "items": {
            "$ref": "#/definitions/Competency"
          }
        },
        "hasPrices": {
          "type": "boolean",
          "description": "A value indicating whether the item has prices"
        },
        "duration": {
          "description": "The duration that applies to the item",
          "allOf": [
            {
              "$ref": "#/definitions/Duration"
            }
          ]
        },
        "marketPricingDetails": {
          "type": "array",
          "description": "The pricing details of each market to the item",
          "items": {
            "$ref": "#/definitions/MarketPricingDetailsItem"
          }
        },
        "pricing": {
          "description": "The pricing that applies to the item",
          "allOf": [
            {
              "$ref": "#/definitions/Pricing"
            }
          ]
        },
        "solutionAreas": {
          "type": "array",
          "description": "The states that apply to the item",
          "items": {
            "type": "string"
          }
        },
        "screenshotUris": {
          "type": "array",
          "description": "List of screenshot image URIs provided for the item",
          "items": {
            "type": "string"
          }
        },
        "links": {
          "type": "array",
          "description": "List of Links provided for the item",
          "items": {
            "$ref": "#/definitions/LinkProperties"
          }
        },
        "filters": {
          "type": "array",
          "description": "List of filters for the item",
          "items": {
            "$ref": "#/definitions/Filter"
          }
        },
        "iconFileUris": {
          "type": "object",
          "description": "Dictionary of icon image URIs by icon type",
          "x-dictionaryKey": {
            "$ref": "#/definitions/IconKind"
          },
          "additionalProperties": {
            "type": "string"
          }
        },
        "artifacts": {
          "type": "array",
          "description": "List of artifacts",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "metadata": {
          "description": "Custom item metadata",
          "allOf": [
            {
              "$ref": "#/definitions/OfferMetadata"
            }
          ]
        },
        "properties": {
          "type": "object",
          "description": "Dictionary of properties provided for the item",
          "additionalProperties": {
            "type": "string"
          }
        },
        "images": {
          "type": "array",
          "description": "List of Images",
          "items": {
            "$ref": "#/definitions/ImageGroup"
          }
        },
        "videos": {
          "type": "array",
          "description": "List of product videos",
          "items": {
            "$ref": "#/definitions/ProductVideo"
          }
        },
        "plans": {
          "type": "array",
          "description": "Plans available for the offer details",
          "items": {
            "$ref": "#/definitions/Plan"
          }
        },
        "resourceGroupName": {
          "type": "string",
          "description": "Resource group name the gallery item belongs to"
        },
        "definitionTemplates": {
          "description": "Definition templates",
          "allOf": [
            {
              "$ref": "#/definitions/DefinitionTemplates"
            }
          ]
        },
        "additionalProperties": {
          "type": "object",
          "description": "Dictionary of additional properties provided for the item",
          "additionalProperties": {
            "type": "string"
          }
        },
        "restrictedAudience": {
          "description": "This fields supports setting explicit audience like subscription, tenant or user",
          "allOf": [
            {
              "$ref": "#/definitions/RestrictedAudience"
            }
          ]
        },
        "isDeleted": {
          "type": "boolean",
          "description": "A value indicating is the marketplace item deleted"
        },
        "isThirdParty": {
          "type": "boolean",
          "description": "A value indicating whether the product is third party offer or not"
        },
        "groupId": {
          "type": "string",
          "description": "This value is used to merge different entities to a single item"
        },
        "hideKeys": {
          "type": "array",
          "description": "List of hide keys provided for the item",
          "items": {
            "type": "string"
          }
        },
        "keywords": {
          "type": "array",
          "description": "List of keywords provided for the item",
          "items": {
            "type": "string"
          }
        },
        "popularity": {
          "type": "number",
          "description": "Popularity of the product",
          "format": "double"
        },
        "pricingDetailsUri": {
          "type": "string",
          "description": "Pricing details uri of the product"
        },
        "hasFreeTrials": {
          "type": "boolean",
          "description": "A value indicating whether it has free trials"
        },
        "isByol": {
          "type": "boolean",
          "description": "A value indicating whether it has licensed plans"
        },
        "isMacc": {
          "type": "boolean",
          "description": "A value indicating whether it is MACC eligible"
        },
        "hasFreePlans": {
          "type": "boolean",
          "description": "A value indicating whether it has free plans"
        },
        "isQuantifiable": {
          "type": "boolean",
          "description": "A value indicating whether product is quantifiable"
        },
        "altStackReference": {
          "type": "string",
          "description": "Alternative stack reference"
        },
        "hasPaygPlans": {
          "type": "boolean",
          "description": "A value indicating whether an offer has a 'Pay As You Go' plan"
        },
        "isReseller": {
          "type": "boolean",
          "description": "A value indicating whether microsoft is acting as a reseller"
        },
        "ttl": {
          "type": "integer",
          "description": "Expiration policy in seconds",
          "format": "int32"
        },
        "isExcludedFromSearch": {
          "type": "boolean",
          "description": "A value indicating whether the offer should be excluded from search"
        },
        "applicableStoreFronts": {
          "description": "A value indicating which storefront this offer should surface on",
          "allOf": [
            {
              "$ref": "#/definitions/StoreFrontOptions"
            }
          ]
        },
        "offerVersion": {
          "type": "string",
          "description": "Offer version specified by the publisher on publishing portal"
        },
        "isMicrosoftProduct": {
          "type": "boolean",
          "description": "A value indicating whether it is a microsoft product"
        },
        "productOwnershipSellingMotion": {
          "type": "string",
          "description": "Product ownership selling motion"
        },
        "documentLinks": {
          "type": "array",
          "description": "The list of document links provided for the item",
          "items": {
            "$ref": "#/definitions/LinkProperties"
          }
        },
        "offerEnvironment": {
          "description": "A value indicating offer's environment",
          "allOf": [
            {
              "$ref": "#/definitions/EnvironmentInfo"
            }
          ]
        },
        "linkedAddIns": {
          "type": "array",
          "description": "List of linked Add Ins provided for the item",
          "items": {
            "type": "string"
          }
        },
        "excludeFromBootstrap": {
          "type": "boolean",
          "description": "A value indicating whether the offer should not be re-ingest during bootstrap session"
        },
        "bigCatLastModifiedDate": {
          "type": "string",
          "description": "Last modified date",
          "format": "date-time"
        },
        "disableSendEmailOnPurchase": {
          "type": "boolean",
          "description": "Indication to disable sending email on purchase"
        },
        "hideFromSaasBlade": {
          "type": "boolean",
          "description": "Indication to hide from SaaS blade"
        },
        "integratedWithMicrosoftGraphApi": {
          "type": "boolean",
          "description": "Indication if there is integrated with Microsoft graph API"
        },
        "multiTenantAadAppId": {
          "type": "string",
          "description": "Multi tenant AAD app id"
        },
        "licenseManagementType": {
          "type": "string",
          "description": "License management type"
        },
        "licenseModel": {
          "type": "string",
          "description": "License model"
        },
        "pbiServicePrincipalIds": {
          "type": "array",
          "description": "PBI service principals",
          "items": {
            "type": "string"
          }
        },
        "isCoreVm": {
          "type": "boolean",
          "description": "Set to true only for offers of OfferType.VirtualMachine to indicate that it was originally of OfferType.CoreVirtualMachine"
        },
        "m365CertificationInfo": {
          "description": "M365 Certification info",
          "allOf": [
            {
              "$ref": "#/definitions/M365CertificationInfo"
            }
          ]
        },
        "downloadLink": {
          "type": "string",
          "description": "Download link for offers of type OfferType.PowerBIVisuals"
        },
        "downloadSampleLink": {
          "type": "string",
          "description": "Download sample report link for offers of type OfferType.PowerBIVisuals"
        },
        "omexAssetId": {
          "type": "string",
          "description": "Asset ID for offers of type OfferType.PowerBIVisuals"
        },
        "mixProductId": {
          "type": "string",
          "description": "Product ID for offers of type OfferType.PowerBIVisuals"
        },
        "appFreeType": {
          "type": "string",
          "description": "Whether an offer has additional purchases required"
        },
        "storeFrontPricings": {
          "type": "object",
          "description": "storefront pricings parameters for AppSource and AMP",
          "x-dictionaryKey": {
            "$ref": "#/definitions/Store"
          },
          "additionalProperties": {
            "$ref": "#/definitions/UIPricing"
          }
        },
        "hasRIPlans": {
          "type": "boolean",
          "description": "Has plans with reservations"
        },
        "enrichedData": {
          "description": "Enriched offer data",
          "allOf": [
            {
              "$ref": "#/definitions/EnrichedData"
            }
          ]
        },
        "capabilities": {
          "type": "array",
          "description": "capabilities",
          "items": {
            "$ref": "#/definitions/OfficeCapabilityType"
          }
        },
        "releaseDate": {
          "type": "string",
          "description": "release date",
          "format": "date-time"
        },
        "awards": {
          "type": "array",
          "description": "the flag is used in embedded views",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        },
        "searchScore": {
          "type": "number",
          "description": "Gets or sets the search relevance score when it is linked to a search score",
          "format": "double"
        }
      }
    },
    "StopSellInfo": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "A value indicating when the sale of this item is going to be stopped",
          "format": "date-time"
        },
        "reason": {
          "description": "A value indicating the reason for stopping to sell this item",
          "allOf": [
            {
              "$ref": "#/definitions/StopSellReason"
            }
          ]
        },
        "alternativeOfferId": {
          "type": "string",
          "description": "A value indicating an ID of an alternative offer provided by the same publisher"
        },
        "alternativePlanId": {
          "type": "string",
          "description": "A value indicating an ID of an alternative plan of the same offer"
        }
      }
    },
    "StopSellReason": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "EndOfSupport",
        "SecurityIssue",
        "Other"
      ],
      "enum": [
        "EndOfSupport",
        "SecurityIssue",
        "Other"
      ]
    },
    "MarketingMaterial": {
      "type": "object",
      "properties": {
        "Path": {
          "type": "string",
          "description": "Path to the marketing site"
        },
        "LearnUri": {
          "type": "string",
          "description": "Path to the learn site"
        }
      }
    },
    "LegalTermsType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "EA"
      ],
      "enum": [
        "None",
        "EA"
      ]
    },
    "Competency": {
      "type": "object",
      "properties": {
        "competencyName": {
          "type": "string",
          "description": "Competency name"
        },
        "competencyLevel": {
          "type": "string",
          "description": "Competency level"
        }
      }
    },
    "Duration": {
      "type": "object",
      "required": [
        "durationValue",
        "durationUnit"
      ],
      "properties": {
        "durationValue": {
          "type": "integer",
          "description": "Duration value",
          "format": "int64"
        },
        "durationUnit": {
          "description": "Duration unit",
          "allOf": [
            {
              "$ref": "#/definitions/ServiceDurationUnit"
            }
          ]
        }
      }
    },
    "ServiceDurationUnit": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Days",
        "Hours",
        "Weeks",
        "Months"
      ],
      "enum": [
        "Days",
        "Hours",
        "Weeks",
        "Months"
      ]
    },
    "MarketPricingDetailsItem": {
      "type": "object",
      "properties": {
        "pricing": {
          "description": "Pricing that applies to the item",
          "allOf": [
            {
              "$ref": "#/definitions/Pricing"
            }
          ]
        },
        "marketCode": {
          "type": "string",
          "description": "Market code of a service offer"
        },
        "marketStates": {
          "type": "array",
          "description": "Market states of a service offer",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Pricing": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code"
        },
        "planPrices": {
          "type": "array",
          "description": "Plan prices",
          "items": {
            "$ref": "#/definitions/PlanPrice"
          }
        }
      }
    },
    "PlanPrice": {
      "type": "object",
      "required": [
        "currencyDecorator",
        "price"
      ],
      "properties": {
        "planId": {
          "type": "string",
          "description": "Plan id"
        },
        "currencyDecorator": {
          "description": "Currency decorator",
          "allOf": [
            {
              "$ref": "#/definitions/CurrencyDecorator"
            }
          ]
        },
        "price": {
          "type": "number",
          "description": "Price of the item",
          "format": "double"
        }
      }
    },
    "CurrencyDecorator": {
      "type": "integer",
      "description": "0 = Fixed\n1 = Estimated",
      "x-enumNames": [
        "Fixed",
        "Estimated"
      ],
      "enum": [
        0,
        1
      ]
    },
    "LinkProperties": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the link"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the link"
        },
        "uri": {
          "type": "string",
          "description": "URI of the link"
        }
      }
    },
    "Filter": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Filter type"
        },
        "value": {
          "type": "string",
          "description": "Filter value"
        }
      }
    },
    "IconKind": {
      "type": "integer",
      "description": "0 = Small\n1 = Medium\n2 = Large\n3 = Wide\n4 = Hero",
      "x-enumNames": [
        "Small",
        "Medium",
        "Large",
        "Wide",
        "Hero"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4
      ]
    },
    "Artifact": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Artifact name"
        },
        "uri": {
          "type": "string",
          "description": "Artifact uri"
        },
        "type": {
          "description": "Artifact type",
          "allOf": [
            {
              "$ref": "#/definitions/ArtifactType"
            }
          ]
        }
      }
    },
    "ArtifactType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Template",
        "Fragment",
        "Custom",
        "Metadata"
      ],
      "enum": [
        "Template",
        "Fragment",
        "Custom",
        "Metadata"
      ]
    },
    "OfferMetadata": {
      "type": "object",
      "properties": {
        "leadGeneration": {
          "description": "Lead generation info",
          "allOf": [
            {
              "$ref": "#/definitions/LeadGeneration"
            }
          ]
        },
        "testDrive": {
          "description": "Test Drive info",
          "allOf": [
            {
              "$ref": "#/definitions/TestDrive"
            }
          ]
        }
      }
    },
    "LeadGeneration": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Product Id"
        }
      }
    },
    "TestDrive": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description"
        },
        "userManual": {
          "type": "string",
          "description": "User manual"
        },
        "testDriveDuration": {
          "type": "string",
          "description": "Test Drive Duration"
        },
        "accessInformation": {
          "type": "string",
          "description": "Access Information"
        },
        "orchestrationType": {
          "type": "string",
          "description": "Orchestration Type"
        },
        "labId": {
          "type": "string",
          "description": "Lab identifier"
        },
        "demoId": {
          "type": "string",
          "description": "Demo identifier"
        },
        "video": {
          "description": "Walk-through video",
          "allOf": [
            {
              "$ref": "#/definitions/ProductVideo"
            }
          ]
        },
        "powerBiDashboardLink": {
          "type": "string",
          "description": "Power Bi dashboard link"
        }
      }
    },
    "ProductVideo": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string",
          "description": "Caption"
        },
        "uri": {
          "type": "string",
          "description": "Video uri",
          "format": "uri"
        },
        "videoPurpose": {
          "type": "string",
          "description": "Video purpose"
        },
        "previewImage": {
          "description": "Preview image",
          "allOf": [
            {
              "$ref": "#/definitions/PreviewImage"
            }
          ]
        }
      }
    },
    "PreviewImage": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string",
          "description": "Caption"
        },
        "uri": {
          "type": "string",
          "description": "Image uri",
          "format": "uri"
        },
        "imagePurpose": {
          "type": "string",
          "description": "Image purpose"
        }
      }
    },
    "ImageGroup": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "context"
        },
        "items": {
          "type": "array",
          "description": "List of images",
          "items": {
            "$ref": "#/definitions/Image"
          }
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Image id"
        },
        "uri": {
          "type": "string",
          "description": "Image uri"
        },
        "type": {
          "type": "string",
          "description": "Image type"
        }
      }
    },
    "Plan": {
      "type": "object",
      "required": [
        "type",
        "isPrivate",
        "isHidden",
        "hasFreeTrials",
        "isByol",
        "isFree",
        "isPayg",
        "isStopSell",
        "cspState",
        "isQuantifiable",
        "hasRI"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Plan id"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the plan"
        },
        "summary": {
          "type": "string",
          "description": "Summary of the plan"
        },
        "description": {
          "type": "string",
          "description": "Description of the plan"
        },
        "restrictedAudience": {
          "description": "Restricted audience",
          "allOf": [
            {
              "$ref": "#/definitions/RestrictedAudience"
            }
          ]
        },
        "skuId": {
          "type": "string",
          "description": "Sku id"
        },
        "planId": {
          "type": "string",
          "description": "Plan id"
        },
        "legacyPlanId": {
          "type": "string",
          "description": "Legacy plan Id which is obtained by combining Offer->LegacyId and PlanId with no separator in between"
        },
        "Keywords": {
          "type": "array",
          "description": "List of keywords",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Offer type",
          "allOf": [
            {
              "$ref": "#/definitions/OfferType"
            }
          ]
        },
        "leadGeneration": {
          "description": "Lead generation info",
          "allOf": [
            {
              "$ref": "#/definitions/LeadGeneration"
            }
          ]
        },
        "testDrive": {
          "description": "Test Drive info",
          "allOf": [
            {
              "$ref": "#/definitions/TestDrive"
            }
          ]
        },
        "availabilities": {
          "type": "array",
          "description": "List of availabilities for this plan",
          "items": {
            "$ref": "#/definitions/AvailabilityEntity"
          }
        },
        "categoryIds": {
          "type": "array",
          "description": "Category IDs for this plan",
          "items": {
            "type": "string"
          }
        },
        "conversionPaths": {
          "type": "array",
          "description": "Conversion paths for this plan",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Metadata for this plan",
          "allOf": [
            {
              "$ref": "#/definitions/OpenProperty"
            }
          ]
        },
        "operatingSystem": {
          "description": "Operating system info for this plan",
          "allOf": [
            {
              "$ref": "#/definitions/OperatingSystem"
            }
          ]
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "What blade to open when someone wants to create a marketplace item"
        },
        "artifacts": {
          "type": "array",
          "description": "Files related to the marketplace item",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "version": {
          "type": "string",
          "description": "Version of the marketplace item"
        },
        "itemName": {
          "type": "string",
          "description": "Item name"
        },
        "isPrivate": {
          "type": "boolean",
          "description": "A value indicating whether the item is private"
        },
        "isHidden": {
          "type": "boolean",
          "description": "A value indicating whether the plan is hidden"
        },
        "hasFreeTrials": {
          "type": "boolean",
          "description": "A value indicating whether it has free trials"
        },
        "isByol": {
          "type": "boolean",
          "description": "A value indicating whether it has licensed plans"
        },
        "isFree": {
          "type": "boolean",
          "description": "A value indicating whether it has at least one free availability in any market"
        },
        "isPayg": {
          "type": "boolean",
          "description": "A value indicating whether the plan is 'Pay As You Go'"
        },
        "isStopSell": {
          "type": "boolean",
          "description": "A value indicating whether plan has been stopped from selling"
        },
        "stopSellInfo": {
          "description": "A StopSellInfo object providing stop sell related data",
          "allOf": [
            {
              "$ref": "#/definitions/StopSellInfo"
            }
          ]
        },
        "altStackReference": {
          "type": "string",
          "description": "Alternative stack reference"
        },
        "stackType": {
          "type": "string",
          "description": "Stack type : Classic, Gen1, Gen2"
        },
        "altArchitectureReference": {
          "type": "string"
        },
        "architectureType": {
          "type": "string"
        },
        "cspState": {
          "description": "A value indicating whether the product is available for purchase through CSP channel",
          "allOf": [
            {
              "$ref": "#/definitions/CSPState"
            }
          ]
        },
        "resourceProviderNamespace": {
          "type": "string",
          "description": "Resource Provider Namespace"
        },
        "resourceType": {
          "type": "string",
          "description": "Resource Provider type"
        },
        "minQuantity": {
          "type": "integer",
          "description": "Min quantity",
          "format": "int32"
        },
        "maxQuantity": {
          "type": "integer",
          "description": "Max quantity",
          "format": "int32"
        },
        "isQuantifiable": {
          "type": "boolean",
          "description": "A value indicating whether the plan is quantifiable"
        },
        "callToAction": {
          "type": "string",
          "description": "The action that can be performed on this plan, on the storefronts"
        },
        "redirectUrl": {
          "type": "string",
          "description": "URL to redirect the user to post the performed action on the storefronts"
        },
        "serviceIdentifier": {
          "type": "string",
          "description": "Service identifier"
        },
        "vmSecuritytype": {
          "description": "VM security type",
          "allOf": [
            {
              "$ref": "#/definitions/VmSecurityType"
            }
          ]
        },
        "displayRank": {
          "type": "string",
          "description": "Display rank"
        },
        "purchaseDurationDiscounts": {
          "type": "array",
          "description": "List of purchase duration discounts",
          "items": {
            "$ref": "#/definitions/PurchaseDurationDiscount"
          }
        },
        "upns": {
          "type": "array",
          "description": "List of user principal names(UPNs)",
          "items": {
            "$ref": "#/definitions/TermUpn"
          }
        },
        "hasRI": {
          "type": "boolean",
          "description": "A value indicating whether the plan supports reservations"
        }
      }
    },
    "RestrictedAudience": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "Subscription based restricted audience",
          "items": {
            "type": "string"
          }
        },
        "tenants": {
          "type": "array",
          "description": "Tenant based restricted audience",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "type": "array",
          "description": "User based restricted audience",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "type": "array",
          "description": "User groups restricted audience",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AvailabilityEntity": {
      "type": "object",
      "required": [
        "isPIRequired",
        "pricingAudience",
        "isStopSell",
        "hasFreeTrials",
        "displayRank",
        "RemediationRequired"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string",
          "description": "Partition key"
        },
        "actions": {
          "type": "array",
          "description": "List of allowed actions",
          "items": {
            "type": "string"
          }
        },
        "market": {
          "type": "string",
          "description": "Market for the availability collection"
        },
        "isPIRequired": {
          "type": "boolean",
          "description": "A value indicating whether a payment instrument is required"
        },
        "appId": {
          "type": "string",
          "description": "App id of the availability collection"
        },
        "planID": {
          "type": "string",
          "description": "Plan Id of the availability collection"
        },
        "meterId": {
          "type": "string",
          "description": "Applicable billing meter Id"
        },
        "meter": {
          "description": "Applicable billing meter information",
          "allOf": [
            {
              "$ref": "#/definitions/Meter"
            }
          ]
        },
        "pricingAudience": {
          "description": "Pricing audience",
          "allOf": [
            {
              "$ref": "#/definitions/PricingAudience"
            }
          ]
        },
        "terms": {
          "type": "array",
          "description": "List of applicable terms",
          "items": {
            "$ref": "#/definitions/Term"
          }
        },
        "piFilter": {
          "description": "Applicable billing meter information",
          "allOf": [
            {
              "$ref": "#/definitions/PIFilter"
            }
          ]
        },
        "isStopSell": {
          "type": "boolean",
          "description": "A value indicating whether it has been stopped from sell in a market"
        },
        "hasFreeTrials": {
          "type": "boolean",
          "description": "A value indicating whether it has free trials"
        },
        "assetBehaviors": {
          "type": "array",
          "description": "Asset behaviors",
          "items": {
            "type": "string"
          }
        },
        "consumptionUnitType": {
          "type": "string",
          "description": "Consumption unit type"
        },
        "displayRank": {
          "type": "integer",
          "description": "Display rank",
          "format": "int32"
        },
        "RemediationRequired": {
          "type": "boolean",
          "description": "A value indicating whether remediation is required to acquire availability"
        },
        "Remediations": {
          "type": "array",
          "description": "Remediation actions for acquiring availability if RemediationRequired is true",
          "items": {
            "$ref": "#/definitions/Remediation"
          }
        },
        "startDate": {
          "type": "integer",
          "description": "Availability effectiveness start date - in epoch minutes",
          "format": "int32"
        },
        "endDate": {
          "type": "integer",
          "description": "Availability effectiveness end date - in epoch minutes",
          "format": "int32"
        },
        "planAvailabilities": {
          "type": "array",
          "description": "Plan availabilities",
          "items": {
            "$ref": "#/definitions/AvailabilityEntity"
          }
        }
      }
    },
    "Meter": {
      "type": "object",
      "properties": {
        "meterId": {
          "type": "string",
          "description": "Meter id"
        },
        "partNumber": {
          "type": "string",
          "description": "Compute part number"
        },
        "consumptionResourceId": {
          "type": "string",
          "description": "Consumption resource id"
        },
        "price": {
          "description": "Price for this meter",
          "allOf": [
            {
              "$ref": "#/definitions/Price"
            }
          ]
        },
        "type": {
          "type": "string",
          "description": "Type for this meter"
        },
        "includedQuantityProperties": {
          "type": "array",
          "description": "Included quantity properties",
          "items": {
            "$ref": "#/definitions/IncludedQuantityProperty"
          }
        }
      }
    },
    "Price": {
      "type": "object",
      "required": [
        "isPIRequired",
        "listPrice",
        "msrp"
      ],
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code i.e. 'USD'"
        },
        "isPIRequired": {
          "type": "boolean",
          "description": "A value indicating whether a payment instrument is required"
        },
        "listPrice": {
          "type": "number",
          "description": "Retail price for the item",
          "format": "decimal"
        },
        "msrp": {
          "type": "number",
          "description": "Manufacturer's suggested retail price for the item",
          "format": "decimal"
        }
      }
    },
    "IncludedQuantityProperty": {
      "type": "object",
      "properties": {
        "TermId": {
          "type": "string",
          "description": "Term id"
        },
        "Quantity": {
          "type": "string",
          "description": "Quantity"
        }
      }
    },
    "PricingAudience": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "DirectCommercial",
        "PartnerCommercial",
        "Custom",
        "IndirectCommercial",
        "IndirectGov",
        "DirectChk",
        "DirectBlue"
      ],
      "enum": [
        "None",
        "DirectCommercial",
        "PartnerCommercial",
        "Custom",
        "IndirectCommercial",
        "IndirectGov",
        "DirectChk",
        "DirectBlue"
      ]
    },
    "Term": {
      "type": "object",
      "properties": {
        "termDescriptionParameters": {
          "type": "array",
          "description": "Term description parameters",
          "items": {
            "$ref": "#/definitions/TermDescriptionParameter"
          }
        },
        "termId": {
          "type": "string",
          "description": "Term id"
        },
        "termUnits": {
          "type": "string",
          "description": "Term unit"
        },
        "prorationPolicy": {
          "description": "Proration policy",
          "allOf": [
            {
              "$ref": "#/definitions/ProrationPolicy"
            }
          ]
        },
        "termDescription": {
          "type": "string",
          "description": "Term description"
        },
        "price": {
          "description": "Price for the term",
          "allOf": [
            {
              "$ref": "#/definitions/Price"
            }
          ]
        },
        "renewTermId": {
          "type": "string",
          "description": "Renew term id"
        },
        "renewTermUnits": {
          "type": "string",
          "description": "Renew term units"
        },
        "billingPlan": {
          "description": "Billing Plan",
          "allOf": [
            {
              "$ref": "#/definitions/BillingPlan"
            }
          ]
        }
      }
    },
    "TermDescriptionParameter": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Parameter"
        },
        "value": {
          "type": "string",
          "description": "Value"
        }
      }
    },
    "ProrationPolicy": {
      "type": "object",
      "properties": {
        "minimumProratedUnits": {
          "type": "string",
          "description": "Minimum prorated units"
        }
      }
    },
    "BillingPlan": {
      "type": "object",
      "properties": {
        "billingPeriod": {
          "type": "string",
          "description": "Billing period"
        },
        "title": {
          "type": "string",
          "description": "Title"
        },
        "description": {
          "type": "string",
          "description": "Description"
        },
        "price": {
          "description": "Price",
          "allOf": [
            {
              "$ref": "#/definitions/Price"
            }
          ]
        }
      }
    },
    "PIFilter": {
      "type": "object",
      "properties": {
        "exclusionProperties": {
          "type": "array",
          "description": "List of exclusion properties",
          "items": {
            "type": "string"
          }
        },
        "inclusionProperties": {
          "type": "array",
          "description": "List of inclusion properties",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Remediation": {
      "type": "object",
      "properties": {
        "RemediationId": {
          "type": "string",
          "description": "Remediation identifier"
        },
        "Type": {
          "type": "string",
          "description": "Remediation type"
        }
      }
    },
    "OpenProperty": {
      "type": "object",
      "properties": {
        "Properties": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    },
    "OperatingSystem": {
      "type": "object",
      "properties": {
        "family": {
          "type": "string",
          "description": "Operating system family"
        },
        "type": {
          "type": "string",
          "description": "Operating system type"
        },
        "name": {
          "type": "string",
          "description": "Operating system name"
        }
      }
    },
    "CSPState": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ],
      "enum": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ]
    },
    "VmSecurityType": {
      "type": "string",
      "description": "",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "Trusted",
        "Confidential"
      ],
      "enum": [
        "None",
        "Trusted",
        "Confidential"
      ]
    },
    "PurchaseDurationDiscount": {
      "type": "object",
      "required": [
        "DiscountPercentage"
      ],
      "properties": {
        "Duration": {
          "type": "string"
        },
        "DiscountPercentage": {
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "TermUpn": {
      "type": "object",
      "properties": {
        "TermId": {
          "type": "string"
        },
        "Upn": {
          "type": "string"
        }
      }
    },
    "DefinitionTemplates": {
      "type": "object",
      "properties": {
        "uiDefinitionFileUri": {
          "type": "string",
          "description": "UI definition file URI"
        },
        "defaultDeploymentTemplateId": {
          "type": "string",
          "description": "Default deployment template id"
        },
        "deploymentTemplateFileUris": {
          "type": "object",
          "description": "A dictionary containing the deployment template file IDs defined in the package manifest and corresponding URIs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deploymentFragmentFileUris": {
          "type": "object",
          "description": "a dictionary containing the deployment fragment file IDs defined in the package manifest and corresponding URIs",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StoreFrontOptions": {
      "type": "integer",
      "description": "0 = None\n1 = Azure\n2 = AMP\n4 = AppSource",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "Azure",
        "AMP",
        "AppSource"
      ],
      "enum": [
        0,
        1,
        2,
        4
      ]
    },
    "EnvironmentInfo": {
      "type": "integer",
      "description": "1 = DogFood\n2 = Canary\n3 = Production\n4 = FairFax\n5 = Unknown",
      "x-enumNames": [
        "DogFood",
        "Canary",
        "Production",
        "FairFax",
        "Unknown"
      ],
      "enum": [
        1,
        2,
        3,
        4,
        5
      ]
    },
    "M365CertificationInfo": {
      "type": "object",
      "required": [
        "m365CertificationType"
      ],
      "properties": {
        "m365CertificationType": {
          "description": "M365 Certification Type",
          "allOf": [
            {
              "$ref": "#/definitions/CertificationType"
            }
          ]
        },
        "m365CertificationDetailsUrl": {
          "type": "string",
          "description": "M365 Certification Url"
        },
        "m365CertificationId": {
          "type": "string",
          "description": "M365 Certification Id"
        }
      }
    },
    "CertificationType": {
      "type": "integer",
      "description": "0 = Undefined\n1 = None\n2 = SelfAttested\n3 = MicrosoftCertified",
      "x-enumNames": [
        "Undefined",
        "None",
        "SelfAttested",
        "MicrosoftCertified"
      ],
      "enum": [
        0,
        1,
        2,
        3
      ]
    },
    "UIPricing": {
      "type": "object",
      "required": [
        "pricingOptions"
      ],
      "properties": {
        "pricingOptions": {
          "description": "A value indicating what pricing options are available on the application",
          "allOf": [
            {
              "$ref": "#/definitions/PricingOptions"
            }
          ]
        },
        "HasPrices": {
          "type": "boolean",
          "description": "Has prices"
        }
      }
    },
    "PricingOptions": {
      "type": "integer",
      "description": "0 = None\n1 = Free\n2 = FreeTrial\n4 = Paid\n8 = Byol",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "Free",
        "FreeTrial",
        "Paid",
        "Byol"
      ],
      "enum": [
        0,
        1,
        2,
        4,
        8
      ]
    },
    "EnrichedData": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "popularity": {
          "$ref": "#/definitions/PopularityEnrichedData"
        },
        "rating": {
          "$ref": "#/definitions/RatingEnrichedData"
        }
      }
    },
    "PopularityEnrichedData": {
      "type": "object",
      "required": [
        "appSourceCs",
        "appSourceApps",
        "ampCs",
        "ampApps",
        "azurePortalApps"
      ],
      "properties": {
        "appSourceCs": {
          "type": "number",
          "format": "double"
        },
        "appSourceApps": {
          "type": "number",
          "format": "double"
        },
        "ampCs": {
          "type": "number",
          "format": "double"
        },
        "ampApps": {
          "type": "number",
          "format": "double"
        },
        "azurePortalApps": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "RatingEnrichedData": {
      "type": "object",
      "required": [
        "appSource",
        "amp",
        "azurePortal"
      ],
      "properties": {
        "appSource": {
          "type": "number",
          "format": "double"
        },
        "amp": {
          "type": "number",
          "format": "double"
        },
        "azurePortal": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "OfficeCapabilityType": {
      "type": "integer",
      "description": "1 = Capability1\n2 = Capability2\n3 = Capability3\n4 = Capability4\n5 = Capability5\n6 = Capability6\n7 = Capability7\n8 = Capability8\n9 = Capability9\n10 = Capability10\n11 = Capability11",
      "x-enumNames": [
        "Capability1",
        "Capability2",
        "Capability3",
        "Capability4",
        "Capability5",
        "Capability6",
        "Capability7",
        "Capability8",
        "Capability9",
        "Capability10",
        "Capability11"
      ],
      "enum": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11
      ]
    },
    "PageResultOfCatalogItem": {
      "type": "object",
      "description": "Represents a feed of entities that includes additional information that OData formats support.",
      "properties": {
        "NextPageLink": {
          "type": "string",
          "description": "Gets the link for the next page of items in the feed.",
          "format": "uri"
        },
        "Count": {
          "type": "integer",
          "description": "Gets the total count of items in the feed.",
          "format": "int64"
        },
        "Items": {
          "type": "array",
          "description": "Gets the collection of entities for this feed.",
          "items": {
            "$ref": "#/definitions/CatalogItem"
          }
        }
      }
    },
    "ODataQueryOptionsOfCatalogItem": {
      "type": "object",
      "description": "This defines a composite OData query options that can be used to perform query composition.\nCurrently this only supports $filter, $orderby, $top, $skip.",
      "properties": {
        "Request": {
          "description": "Gets the request message associated with this instance.",
          "allOf": [
            {
              "$ref": "#/definitions/HttpRequest"
            }
          ]
        },
        "Context": {
          "description": "Gets the given ODataQueryContext\n            ",
          "allOf": [
            {
              "$ref": "#/definitions/ODataQueryContext"
            }
          ]
        },
        "RawValues": {
          "description": "Gets the raw string of all the OData query options",
          "allOf": [
            {
              "$ref": "#/definitions/ODataRawQueryOptions"
            }
          ]
        },
        "SelectExpand": {
          "description": "Gets the SelectExpandQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/SelectExpandQueryOption"
            }
          ]
        },
        "Apply": {
          "description": "Gets the ApplyQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/ApplyQueryOption"
            }
          ]
        },
        "Filter": {
          "description": "Gets the FilterQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/FilterQueryOption"
            }
          ]
        },
        "OrderBy": {
          "description": "Gets the OrderByQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/OrderByQueryOption"
            }
          ]
        },
        "Skip": {
          "description": "Gets the SkipQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/SkipQueryOption"
            }
          ]
        },
        "SkipToken": {
          "description": "Gets the SkipTokenQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/SkipTokenQueryOption"
            }
          ]
        },
        "Top": {
          "description": "Gets the TopQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/TopQueryOption"
            }
          ]
        },
        "Count": {
          "description": "Gets the CountQueryOption.",
          "allOf": [
            {
              "$ref": "#/definitions/CountQueryOption"
            }
          ]
        },
        "Validator": {
          "description": "Gets or sets the query validator.",
          "allOf": [
            {
              "$ref": "#/definitions/ODataQueryValidator"
            }
          ]
        },
        "IfMatch": {
          "$ref": "#/definitions/ETagOfCatalogItem"
        },
        "IfNoneMatch": {
          "$ref": "#/definitions/ETagOfCatalogItem"
        }
      }
    },
    "HttpRequest": {
      "type": "object",
      "required": [
        "BodyReader",
        "RouteValues"
      ],
      "properties": {
        "BodyReader": {
          "$ref": "#/definitions/PipeReader"
        },
        "RouteValues": {
          "$ref": "#/definitions/RouteValueDictionary"
        }
      }
    },
    "PipeReader": {
      "type": "object"
    },
    "RouteValueDictionary": {
      "type": "object",
      "required": [
        "_arrayStorage",
        "Comparer",
        "Count",
        "Keys",
        "Values"
      ],
      "properties": {
        "_arrayStorage": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValuePairOfStringAndObject"
          }
        },
        "_propertyStorage": {
          "$ref": "#/definitions/PropertyStorage"
        },
        "Item": {},
        "Comparer": {
          "$ref": "#/definitions/IEqualityComparerOfString"
        },
        "Count": {
          "type": "integer",
          "format": "int32"
        },
        "Keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Values": {
          "type": "array",
          "items": {}
        }
      }
    },
    "KeyValuePairOfStringAndObject": {
      "type": "object",
      "required": [
        "Key",
        "Value"
      ],
      "properties": {
        "Key": {
          "type": "string"
        },
        "Value": {}
      }
    },
    "PropertyStorage": {
      "type": "object",
      "required": [
        "Value",
        "Properties"
      ],
      "properties": {
        "Value": {},
        "Properties": {
          "type": "object",
          "items": {
            "$ref": "#/definitions/PropertyHelper"
          }
        }
      }
    },
    "PropertyHelper": {
      "type": "object",
      "required": [
        "Property",
        "Name",
        "ValueGetter",
        "ValueSetter"
      ],
      "properties": {
        "Property": {
          "$ref": "#/definitions/PropertyInfo"
        },
        "Name": {
          "type": "string"
        },
        "ValueGetter": {
          "$ref": "#/definitions/FuncOfObjectAndObject"
        },
        "ValueSetter": {
          "$ref": "#/definitions/ActionOfObjectAndObject"
        }
      }
    },
    "PropertyInfo": {
      "type": "object",
      "required": [
        "Module",
        "CustomAttributes",
        "IsCollectible",
        "MetadataToken",
        "MemberType",
        "IsSpecialName"
      ],
      "properties": {
        "Module": {
          "$ref": "#/definitions/Module"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "IsCollectible": {
          "type": "boolean"
        },
        "MetadataToken": {
          "type": "integer",
          "format": "int32"
        },
        "MemberType": {
          "$ref": "#/definitions/MemberTypes"
        },
        "IsSpecialName": {
          "type": "boolean"
        },
        "GetMethod": {
          "$ref": "#/definitions/MethodInfo"
        },
        "SetMethod": {
          "$ref": "#/definitions/MethodInfo"
        }
      }
    },
    "Module": {
      "type": "object",
      "required": [
        "Assembly",
        "FullyQualifiedName",
        "Name",
        "MDStreamVersion",
        "ModuleVersionId",
        "ScopeName",
        "ModuleHandle",
        "CustomAttributes",
        "MetadataToken"
      ],
      "properties": {
        "Assembly": {
          "$ref": "#/definitions/Assembly"
        },
        "FullyQualifiedName": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "MDStreamVersion": {
          "type": "integer",
          "format": "int32"
        },
        "ModuleVersionId": {
          "type": "string",
          "format": "guid"
        },
        "ScopeName": {
          "type": "string"
        },
        "ModuleHandle": {
          "$ref": "#/definitions/ModuleHandle"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "MetadataToken": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Assembly": {
      "type": "object",
      "required": [
        "DefinedTypes",
        "ExportedTypes",
        "ImageRuntimeVersion",
        "IsDynamic",
        "Location",
        "ReflectionOnly",
        "IsCollectible",
        "IsFullyTrusted",
        "CustomAttributes",
        "EscapedCodeBase",
        "ManifestModule",
        "Modules",
        "GlobalAssemblyCache",
        "HostContext",
        "SecurityRuleSet"
      ],
      "properties": {
        "DefinedTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ExportedTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "CodeBase": {
          "type": "string"
        },
        "EntryPoint": {
          "$ref": "#/definitions/MethodInfo"
        },
        "FullName": {
          "type": "string"
        },
        "ImageRuntimeVersion": {
          "type": "string"
        },
        "IsDynamic": {
          "type": "boolean"
        },
        "Location": {
          "type": "string"
        },
        "ReflectionOnly": {
          "type": "boolean"
        },
        "IsCollectible": {
          "type": "boolean"
        },
        "IsFullyTrusted": {
          "type": "boolean"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "EscapedCodeBase": {
          "type": "string"
        },
        "ManifestModule": {
          "$ref": "#/definitions/Module"
        },
        "Modules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Module"
          }
        },
        "GlobalAssemblyCache": {
          "type": "boolean",
          "x-deprecated": true,
          "x-deprecatedMessage": "The Global Assembly Cache is not supported."
        },
        "HostContext": {
          "type": "integer",
          "format": "int64"
        },
        "SecurityRuleSet": {
          "$ref": "#/definitions/SecurityRuleSet"
        }
      }
    },
    "MethodInfo": {
      "type": "object",
      "required": [
        "MethodImplementationFlags",
        "CallingConvention",
        "IsAbstract",
        "IsConstructor",
        "IsFinal",
        "IsHideBySig",
        "IsSpecialName",
        "IsStatic",
        "IsVirtual",
        "IsAssembly",
        "IsFamily",
        "IsFamilyAndAssembly",
        "IsFamilyOrAssembly",
        "IsPrivate",
        "IsPublic",
        "IsConstructedGenericMethod",
        "IsGenericMethod",
        "IsGenericMethodDefinition",
        "ContainsGenericParameters",
        "IsSecurityCritical",
        "IsSecuritySafeCritical",
        "IsSecurityTransparent",
        "Module",
        "CustomAttributes",
        "IsCollectible",
        "MetadataToken",
        "MemberType",
        "ReturnParameter",
        "ReturnType"
      ],
      "properties": {
        "MethodImplementationFlags": {
          "$ref": "#/definitions/MethodImplAttributes"
        },
        "CallingConvention": {
          "$ref": "#/definitions/CallingConventions"
        },
        "IsAbstract": {
          "type": "boolean"
        },
        "IsConstructor": {
          "type": "boolean"
        },
        "IsFinal": {
          "type": "boolean"
        },
        "IsHideBySig": {
          "type": "boolean"
        },
        "IsSpecialName": {
          "type": "boolean"
        },
        "IsStatic": {
          "type": "boolean"
        },
        "IsVirtual": {
          "type": "boolean"
        },
        "IsAssembly": {
          "type": "boolean"
        },
        "IsFamily": {
          "type": "boolean"
        },
        "IsFamilyAndAssembly": {
          "type": "boolean"
        },
        "IsFamilyOrAssembly": {
          "type": "boolean"
        },
        "IsPrivate": {
          "type": "boolean"
        },
        "IsPublic": {
          "type": "boolean"
        },
        "IsConstructedGenericMethod": {
          "type": "boolean"
        },
        "IsGenericMethod": {
          "type": "boolean"
        },
        "IsGenericMethodDefinition": {
          "type": "boolean"
        },
        "ContainsGenericParameters": {
          "type": "boolean"
        },
        "IsSecurityCritical": {
          "type": "boolean"
        },
        "IsSecuritySafeCritical": {
          "type": "boolean"
        },
        "IsSecurityTransparent": {
          "type": "boolean"
        },
        "Module": {
          "$ref": "#/definitions/Module"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "IsCollectible": {
          "type": "boolean"
        },
        "MetadataToken": {
          "type": "integer",
          "format": "int32"
        },
        "MemberType": {
          "$ref": "#/definitions/MemberTypes"
        },
        "ReturnParameter": {
          "$ref": "#/definitions/ParameterInfo"
        },
        "ReturnType": {
          "type": "string"
        }
      }
    },
    "MethodImplAttributes": {
      "type": "integer",
      "description": "0 = Managed\n1 = Native\n2 = OPTIL\n3 = Runtime\n4 = Unmanaged\n8 = NoInlining\n16 = ForwardRef\n32 = Synchronized\n64 = NoOptimization\n128 = PreserveSig\n256 = AggressiveInlining\n512 = AggressiveOptimization\n4096 = InternalCall\n65535 = MaxMethodImplVal",
      "x-enumNames": [
        "Managed",
        "Native",
        "OPTIL",
        "Runtime",
        "CodeTypeMask",
        "Unmanaged",
        "ManagedMask",
        "NoInlining",
        "ForwardRef",
        "Synchronized",
        "NoOptimization",
        "PreserveSig",
        "AggressiveInlining",
        "AggressiveOptimization",
        "InternalCall",
        "MaxMethodImplVal"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4,
        8,
        16,
        32,
        64,
        128,
        256,
        512,
        4096,
        65535
      ]
    },
    "CallingConventions": {
      "type": "integer",
      "description": "1 = Standard\n2 = VarArgs\n3 = Any\n32 = HasThis\n64 = ExplicitThis",
      "x-enumFlags": true,
      "x-enumNames": [
        "Standard",
        "VarArgs",
        "Any",
        "HasThis",
        "ExplicitThis"
      ],
      "enum": [
        1,
        2,
        3,
        32,
        64
      ]
    },
    "CustomAttributeData": {
      "type": "object",
      "required": [
        "AttributeType",
        "Constructor",
        "ConstructorArguments",
        "NamedArguments"
      ],
      "properties": {
        "AttributeType": {
          "type": "string"
        },
        "Constructor": {
          "$ref": "#/definitions/ConstructorInfo"
        },
        "ConstructorArguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeTypedArgument"
          }
        },
        "NamedArguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeNamedArgument"
          }
        }
      }
    },
    "ConstructorInfo": {
      "type": "object",
      "required": [
        "MethodImplementationFlags",
        "CallingConvention",
        "IsAbstract",
        "IsConstructor",
        "IsFinal",
        "IsHideBySig",
        "IsSpecialName",
        "IsStatic",
        "IsVirtual",
        "IsAssembly",
        "IsFamily",
        "IsFamilyAndAssembly",
        "IsFamilyOrAssembly",
        "IsPrivate",
        "IsPublic",
        "IsConstructedGenericMethod",
        "IsGenericMethod",
        "IsGenericMethodDefinition",
        "ContainsGenericParameters",
        "IsSecurityCritical",
        "IsSecuritySafeCritical",
        "IsSecurityTransparent",
        "Module",
        "CustomAttributes",
        "IsCollectible",
        "MetadataToken",
        "MemberType"
      ],
      "properties": {
        "MethodImplementationFlags": {
          "$ref": "#/definitions/MethodImplAttributes"
        },
        "CallingConvention": {
          "$ref": "#/definitions/CallingConventions"
        },
        "IsAbstract": {
          "type": "boolean"
        },
        "IsConstructor": {
          "type": "boolean"
        },
        "IsFinal": {
          "type": "boolean"
        },
        "IsHideBySig": {
          "type": "boolean"
        },
        "IsSpecialName": {
          "type": "boolean"
        },
        "IsStatic": {
          "type": "boolean"
        },
        "IsVirtual": {
          "type": "boolean"
        },
        "IsAssembly": {
          "type": "boolean"
        },
        "IsFamily": {
          "type": "boolean"
        },
        "IsFamilyAndAssembly": {
          "type": "boolean"
        },
        "IsFamilyOrAssembly": {
          "type": "boolean"
        },
        "IsPrivate": {
          "type": "boolean"
        },
        "IsPublic": {
          "type": "boolean"
        },
        "IsConstructedGenericMethod": {
          "type": "boolean"
        },
        "IsGenericMethod": {
          "type": "boolean"
        },
        "IsGenericMethodDefinition": {
          "type": "boolean"
        },
        "ContainsGenericParameters": {
          "type": "boolean"
        },
        "IsSecurityCritical": {
          "type": "boolean"
        },
        "IsSecuritySafeCritical": {
          "type": "boolean"
        },
        "IsSecurityTransparent": {
          "type": "boolean"
        },
        "Module": {
          "$ref": "#/definitions/Module"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "IsCollectible": {
          "type": "boolean"
        },
        "MetadataToken": {
          "type": "integer",
          "format": "int32"
        },
        "MemberType": {
          "$ref": "#/definitions/MemberTypes"
        }
      }
    },
    "MemberTypes": {
      "type": "integer",
      "description": "1 = Constructor\n2 = Event\n4 = Field\n8 = Method\n16 = Property\n32 = TypeInfo\n64 = Custom\n128 = NestedType\n191 = All",
      "x-enumFlags": true,
      "x-enumNames": [
        "Constructor",
        "Event",
        "Field",
        "Method",
        "Property",
        "TypeInfo",
        "Custom",
        "NestedType",
        "All"
      ],
      "enum": [
        1,
        2,
        4,
        8,
        16,
        32,
        64,
        128,
        191
      ]
    },
    "CustomAttributeTypedArgument": {
      "type": "object",
      "required": [
        "ArgumentType"
      ],
      "properties": {
        "ArgumentType": {
          "type": "string"
        },
        "Value": {}
      }
    },
    "CustomAttributeNamedArgument": {
      "type": "object",
      "required": [
        "MemberInfo",
        "TypedValue",
        "MemberName",
        "IsField"
      ],
      "properties": {
        "MemberInfo": {
          "$ref": "#/definitions/MemberInfo"
        },
        "TypedValue": {
          "$ref": "#/definitions/CustomAttributeTypedArgument"
        },
        "MemberName": {
          "type": "string"
        },
        "IsField": {
          "type": "boolean"
        }
      }
    },
    "MemberInfo": {
      "type": "object",
      "required": [
        "Module",
        "CustomAttributes",
        "IsCollectible",
        "MetadataToken"
      ],
      "properties": {
        "Module": {
          "$ref": "#/definitions/Module"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "IsCollectible": {
          "type": "boolean"
        },
        "MetadataToken": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ParameterInfo": {
      "type": "object",
      "required": [
        "Attributes",
        "Member",
        "ParameterType",
        "Position",
        "IsIn",
        "IsLcid",
        "IsOptional",
        "IsOut",
        "HasDefaultValue",
        "CustomAttributes",
        "MetadataToken"
      ],
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/ParameterAttributes"
        },
        "Member": {
          "$ref": "#/definitions/MemberInfo"
        },
        "Name": {
          "type": "string"
        },
        "ParameterType": {
          "type": "string"
        },
        "Position": {
          "type": "integer",
          "format": "int32"
        },
        "IsIn": {
          "type": "boolean"
        },
        "IsLcid": {
          "type": "boolean"
        },
        "IsOptional": {
          "type": "boolean"
        },
        "IsOut": {
          "type": "boolean"
        },
        "DefaultValue": {},
        "RawDefaultValue": {},
        "HasDefaultValue": {
          "type": "boolean"
        },
        "CustomAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "MetadataToken": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ParameterAttributes": {
      "type": "integer",
      "description": "0 = None\n1 = In\n2 = Out\n4 = Lcid\n16 = Optional\n4096 = HasDefault\n8192 = HasFieldMarshal\n16384 = Reserved3\n32768 = Reserved4\n61440 = ReservedMask",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "In",
        "Out",
        "Lcid",
        "Optional",
        "HasDefault",
        "HasFieldMarshal",
        "Reserved3",
        "Reserved4",
        "ReservedMask"
      ],
      "enum": [
        0,
        1,
        2,
        4,
        16,
        4096,
        8192,
        16384,
        32768,
        61440
      ]
    },
    "SecurityRuleSet": {
      "type": "integer",
      "description": "0 = None\n1 = Level1\n2 = Level2",
      "x-enumNames": [
        "None",
        "Level1",
        "Level2"
      ],
      "enum": [
        0,
        1,
        2
      ]
    },
    "ModuleHandle": {
      "type": "object",
      "required": [
        "MDStreamVersion"
      ],
      "properties": {
        "MDStreamVersion": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FuncOfObjectAndObject": {
      "type": "object",
      "required": [
        "Method"
      ],
      "properties": {
        "Target": {},
        "Method": {
          "$ref": "#/definitions/MethodInfo"
        }
      }
    },
    "ActionOfObjectAndObject": {
      "type": "object",
      "required": [
        "Method"
      ],
      "properties": {
        "Target": {},
        "Method": {
          "$ref": "#/definitions/MethodInfo"
        }
      }
    },
    "IEqualityComparerOfString": {
      "type": "object"
    },
    "ODataQueryContext": {
      "type": "object",
      "description": "This defines some context information used to perform query composition.",
      "properties": {
        "DefaultQuerySettings": {
          "description": "Gets the given DefaultQuerySettings.",
          "allOf": [
            {
              "$ref": "#/definitions/DefaultQuerySettings"
            }
          ]
        },
        "Model": {
          "description": "Gets the given IEdmModel that contains the EntitySet.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmModel"
            }
          ]
        },
        "ElementType": {
          "description": "Gets the IEdmType of the element.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmType"
            }
          ]
        },
        "NavigationSource": {
          "description": "Gets the IEdmNavigationSource that contains the element.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmNavigationSource"
            }
          ]
        },
        "ElementClrType": {
          "type": "string",
          "description": "Gets the CLR type of the element."
        },
        "Path": {
          "description": "Gets the ODataPath.",
          "allOf": [
            {
              "$ref": "#/definitions/ODataPath"
            }
          ]
        },
        "RequestContainer": {
          "description": "Gets the request container.",
          "allOf": [
            {
              "$ref": "#/definitions/IServiceProvider"
            }
          ]
        }
      }
    },
    "DefaultQuerySettings": {
      "type": "object",
      "description": "This class describes the default settings to use during query composition.",
      "required": [
        "EnableExpand",
        "EnableSelect",
        "EnableCount",
        "EnableOrderBy",
        "EnableFilter",
        "EnableSkipToken"
      ],
      "properties": {
        "EnableExpand": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether navigation property can be expanded."
        },
        "EnableSelect": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether property can be selected."
        },
        "EnableCount": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether entity set and property can apply $count."
        },
        "EnableOrderBy": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether property can apply $orderby."
        },
        "EnableFilter": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether property can apply $filter."
        },
        "MaxTop": {
          "type": "integer",
          "description": "Gets or sets the max value of $top that a client can request.",
          "format": "int32"
        },
        "EnableSkipToken": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether the service will use skiptoken or not."
        }
      }
    },
    "IEdmModel": {
      "type": "object",
      "description": "Semantic representation of an EDM model.",
      "properties": {
        "SchemaElements": {
          "type": "array",
          "description": "Gets the collection of schema elements that are contained in this model.",
          "items": {
            "$ref": "#/definitions/IEdmSchemaElement"
          }
        },
        "VocabularyAnnotations": {
          "type": "array",
          "description": "Gets the collection of vocabulary annotations that are contained in this model.",
          "items": {
            "$ref": "#/definitions/IEdmVocabularyAnnotation"
          }
        },
        "ReferencedModels": {
          "type": "array",
          "description": "Gets the collection of models referred to by this model (mainly by the this.References).",
          "items": {
            "$ref": "#/definitions/IEdmModel"
          }
        },
        "DeclaredNamespaces": {
          "type": "array",
          "description": "Gets the collection of namespaces that schema elements use contained in this model.",
          "items": {
            "type": "string"
          }
        },
        "DirectValueAnnotationsManager": {
          "description": "Gets the model's annotations manager.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmDirectValueAnnotationsManager"
            }
          ]
        },
        "EntityContainer": {
          "description": "Gets the only one entity container of the model.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmEntityContainer"
            }
          ]
        }
      }
    },
    "IEdmSchemaElement": {
      "type": "object",
      "description": "Common base interface for all named children of EDM schema.",
      "required": [
        "SchemaElementKind"
      ],
      "properties": {
        "SchemaElementKind": {
          "description": "Gets the kind of this schema element.",
          "allOf": [
            {
              "$ref": "#/definitions/EdmSchemaElementKind"
            }
          ]
        },
        "Namespace": {
          "type": "string",
          "description": "Gets the namespace this schema element belongs to."
        }
      }
    },
    "EdmSchemaElementKind": {
      "type": "integer",
      "description": "Defines EDM schema element types.\n\n0 = None\n1 = TypeDefinition\n2 = Term\n3 = Action\n4 = EntityContainer\n5 = Function",
      "x-enumNames": [
        "None",
        "TypeDefinition",
        "Term",
        "Action",
        "EntityContainer",
        "Function"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5
      ]
    },
    "IEdmVocabularyAnnotation": {
      "type": "object",
      "description": "Represents an EDM vocabulary annotation.",
      "properties": {
        "Qualifier": {
          "type": "string",
          "description": "Gets the qualifier used to discriminate between multiple bindings of the same property or type."
        },
        "Term": {
          "description": "Gets the term bound by the annotation.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmTerm"
            }
          ]
        },
        "Target": {
          "description": "Gets the element the annotation applies to.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmVocabularyAnnotatable"
            }
          ]
        },
        "Value": {
          "description": "Gets the expression producing the value of the annotation.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmExpression"
            }
          ]
        }
      }
    },
    "IEdmTerm": {
      "type": "object",
      "description": "Represents an EDM term.",
      "properties": {
        "Type": {
          "description": "Gets the type of this term.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmTypeReference"
            }
          ]
        },
        "AppliesTo": {
          "type": "string",
          "description": "Gets the AppliesTo of this term."
        },
        "DefaultValue": {
          "type": "string",
          "description": "Gets the DefaultValue of this term."
        }
      }
    },
    "IEdmTypeReference": {
      "type": "object",
      "description": "Represents a references to a type.",
      "required": [
        "IsNullable"
      ],
      "properties": {
        "IsNullable": {
          "type": "boolean",
          "description": "Gets a value indicating whether this type is nullable."
        },
        "Definition": {
          "description": "Gets the definition to which this type refers.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmType"
            }
          ]
        }
      }
    },
    "IEdmType": {
      "type": "object",
      "description": "Represents the definition of an EDM type.",
      "required": [
        "TypeKind"
      ],
      "properties": {
        "TypeKind": {
          "description": "Gets the kind of this type.",
          "allOf": [
            {
              "$ref": "#/definitions/EdmTypeKind"
            }
          ]
        }
      }
    },
    "EdmTypeKind": {
      "type": "integer",
      "description": "Defines EDM metatypes.\n\n0 = None\n1 = Primitive\n2 = Entity\n3 = Complex\n4 = Collection\n5 = EntityReference\n6 = Enum\n7 = TypeDefinition\n8 = Untyped\n9 = Path",
      "x-enumNames": [
        "None",
        "Primitive",
        "Entity",
        "Complex",
        "Collection",
        "EntityReference",
        "Enum",
        "TypeDefinition",
        "Untyped",
        "Path"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ]
    },
    "IEdmVocabularyAnnotatable": {
      "type": "object",
      "description": "Represents an element that can be targeted by Vocabulary Annotations"
    },
    "IEdmExpression": {
      "type": "object",
      "description": "Represents an EDM expression.",
      "required": [
        "ExpressionKind"
      ],
      "properties": {
        "ExpressionKind": {
          "description": "Gets the kind of this expression.",
          "allOf": [
            {
              "$ref": "#/definitions/EdmExpressionKind"
            }
          ]
        }
      }
    },
    "EdmExpressionKind": {
      "type": "integer",
      "description": "Defines EDM expression kinds.\n\n0 = None\n1 = BinaryConstant\n2 = BooleanConstant\n3 = DateTimeOffsetConstant\n4 = DecimalConstant\n5 = FloatingConstant\n6 = GuidConstant\n7 = IntegerConstant\n8 = StringConstant\n9 = DurationConstant\n10 = Null\n11 = Record\n12 = Collection\n13 = Path\n14 = If\n15 = Cast\n16 = IsType\n17 = FunctionApplication\n18 = LabeledExpressionReference\n19 = Labeled\n20 = PropertyPath\n21 = NavigationPropertyPath\n22 = DateConstant\n23 = TimeOfDayConstant\n24 = EnumMember\n25 = AnnotationPath",
      "x-enumNames": [
        "None",
        "BinaryConstant",
        "BooleanConstant",
        "DateTimeOffsetConstant",
        "DecimalConstant",
        "FloatingConstant",
        "GuidConstant",
        "IntegerConstant",
        "StringConstant",
        "DurationConstant",
        "Null",
        "Record",
        "Collection",
        "Path",
        "If",
        "Cast",
        "IsType",
        "FunctionApplication",
        "LabeledExpressionReference",
        "Labeled",
        "PropertyPath",
        "NavigationPropertyPath",
        "DateConstant",
        "TimeOfDayConstant",
        "EnumMember",
        "AnnotationPath"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25
      ]
    },
    "IEdmDirectValueAnnotationsManager": {
      "type": "object",
      "description": "Manages getting and setting direct annotations on EDM elements."
    },
    "IEdmEntityContainer": {
      "type": "object",
      "description": "Represents an EDM entity container.",
      "properties": {
        "Elements": {
          "type": "array",
          "description": "Gets a collection of the elements of this entity container.",
          "items": {
            "$ref": "#/definitions/IEdmEntityContainerElement"
          }
        }
      }
    },
    "IEdmEntityContainerElement": {
      "type": "object",
      "description": "Represents the common elements of all EDM entity container elements.",
      "required": [
        "ContainerElementKind"
      ],
      "properties": {
        "ContainerElementKind": {
          "description": "Gets the kind of element of this container element.",
          "allOf": [
            {
              "$ref": "#/definitions/EdmContainerElementKind"
            }
          ]
        },
        "Container": {
          "description": "Gets the container that contains this element.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmEntityContainer"
            }
          ]
        }
      }
    },
    "EdmContainerElementKind": {
      "type": "integer",
      "description": "Defines EDM container element types.\n\n0 = None\n1 = EntitySet\n2 = ActionImport\n3 = FunctionImport\n4 = Singleton",
      "x-enumNames": [
        "None",
        "EntitySet",
        "ActionImport",
        "FunctionImport",
        "Singleton"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4
      ]
    },
    "IEdmNavigationSource": {
      "type": "object",
      "description": "Represents an EDM navigation source.",
      "properties": {
        "NavigationPropertyBindings": {
          "type": "array",
          "description": "Gets the navigation property bindings of this navigation source.",
          "items": {
            "$ref": "#/definitions/IEdmNavigationPropertyBinding"
          }
        },
        "Path": {
          "description": "Gets the path of this navigation source.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmPathExpression"
            }
          ]
        },
        "Type": {
          "description": "Gets the type of this navigation source.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmType"
            }
          ]
        }
      }
    },
    "IEdmNavigationPropertyBinding": {
      "type": "object",
      "description": "Represents a binding from an EDM navigation property to a navigation source.",
      "properties": {
        "NavigationProperty": {
          "description": "Gets the navigation property.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmNavigationProperty"
            }
          ]
        },
        "Target": {
          "description": "Gets the target navigation source.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmNavigationSource"
            }
          ]
        },
        "Path": {
          "description": "Get the path that a navigation property targets.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmPathExpression"
            }
          ]
        }
      }
    },
    "IEdmNavigationProperty": {
      "type": "object",
      "description": "Represents an EDM navigation property.",
      "required": [
        "OnDelete",
        "ContainsTarget"
      ],
      "properties": {
        "Partner": {
          "description": "Gets the partner of this navigation property.",
          "allOf": [
            {
              "$ref": "#/definitions/IEdmNavigationProperty"
            }
[...]
