{
  "swagger": "2.0",
  "info": {
    "version": "2020-11-01-privatepreview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources and logs for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
	  "/providers/Microsoft.Billing/operations": {
		  "get": {
			"tags": [
			  "Operations"
			],
			"operationId": "Operations_List",
			"description": "Lists the available billing REST API operations.",
			"externalDocs": {
			  "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
			},
			"parameters": [
			  {
				"$ref": "#/parameters/apiVersionParameter"
			  }
			],
			"responses": {
			  "200": {
				"description": "OK. The request has succeeded.",
				"schema": {
				  "$ref": "#/definitions/OperationListResult"
				}
			  },
			  "default": {
				"description": "Error response describing why the operation failed.",
				"schema": {
				  "$ref": "#/definitions/ErrorResponse"
				}
			  }
			},
			"x-ms-pageable": {
			  "nextLinkName": "nextLink"
			}
		  }
		},
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingActivityList": {
      "get": {
        "tags": [
          "BillingActivity"
        ],
        "x-ms-examples": {
          "BillingActivityList": {
            "$ref": "./examples/BillingActivityList.json"
          }
        },
        "operationId": "BillingActivityList_Get",
        "description": "Gets billing activity logs for a billing account",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          },
          {
            "$ref": "#/parameters/activityLogEventCategoryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingActivityList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "BillingActivityList": {
      "description": "The list of activity logs.",
      "properties": {
        "value": {
          "description": "The list of activity logs.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingActivity"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingActivity": {
      "description": "The activity log.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The properties of the activity event.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingActivityProperties"
        }
      }
    },
    "BillingActivityProperties": {
      "description": "The properties of the activity logs.",
      "properties": {
        "activityEventId": {
          "description": "The unique string related to this event.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountName": {
          "description": "The enrollment number for which the activity log is being fetched.",
          "type": "string",
          "readOnly": true
        },
        "createdOn": {
          "description": "The date the activity log was created.",
          "type": "string",
          "readOnly": true
        },
        "createdByPrincipalUserEmailAddress": {
          "description": "The email address of the user who created the activity log. This is supported only for non SPN users.",
          "type": "string",
          "readOnly": true
        },
        "friendlyEventCategoryName": {
          "description": "The string describing the activityEventName.",
          "type": "string",
          "readOnly": true
        },
        "extendedProperties": {
          "description": "The related extended properties for an event.",
          "type": "string"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The sub details of the error.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorSubDetails"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorSubDetails": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
	"Operation": {
      "description": "A Billing REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Billing.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed such as invoice and billing subscription.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type such as read, write and delete.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "The list of billing operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "The list of billing operations supported by the Microsoft.Billing resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "activityLogEventCategoryParameter": {
      "name": "activityLogEventCategory",
      "description": "Operation type based on which activity logs will be filtered. ",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request. The current version is 2020-11-01-privatepreview."
    },
    "billingAccountNameParameter": {
      "name": "billingAccountName",
      "in": "path",
      "description": "The ID that uniquely identifies a billing account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "endDateParameter": {
      "name": "$endDate",
      "description": "Start datetime till which activity logs are requested. The date should be specified in MM-DD-YYYY format.",
      "format": "date-time",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "startDateParameter": {
      "name": "$startDate",
      "description": "Start datetime from which activity logs are requested. The date should be specified in MM-DD-YYYY format.",
      "format": "date-time",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
