{
  "swagger": "2.0",
  "info": {
    "title": "ServiceFabricManagementClient",
    "description": "Azure Service Fabric Resource Provider API Client",
    "version": "2024-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters": {
      "get": {
        "operationId": "ManagedClusters_ListByResourceGroup",
        "summary": "Gets the list of Service Fabric cluster resources created in the specified resource group.",
        "description": "Gets all Service Fabric cluster resources created or in the process of being created in the resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "tags": [
          "ManagedCluster"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List cluster by resource group": {
            "$ref": "./examples/ManagedClusterListByResourceGroupOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedClusterListResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/managedClusters": {
      "get": {
        "operationId": "ManagedClusters_ListBySubscription",
        "summary": "Gets the list of Service Fabric cluster resources created in the specified subscription.",
        "description": "Gets all Service Fabric cluster resources created or in the process of being created in the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "tags": [
          "ManagedCluster"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List managed clusters": {
            "$ref": "./examples/ManagedClusterListBySubscriptionOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedClusterListResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}": {
      "get": {
        "tags": [
          "ManagedCluster"
        ],
        "operationId": "ManagedClusters_Get",
        "summary": "Gets a Service Fabric managed cluster resource.",
        "description": "Get a Service Fabric managed cluster resource created or in the process of being created in the specified resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "Get a cluster": {
            "$ref": "./examples/ManagedClusterGetOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ManagedCluster"
        ],
        "operationId": "ManagedClusters_CreateOrUpdate",
        "summary": "Creates or updates a Service Fabric managed cluster resource.",
        "description": "Create or update a Service Fabric managed cluster resource with the specified name.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The cluster resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "x-ms-examples": {
          "Put a cluster with minimum parameters": {
            "$ref": "./examples/ManagedClusterPutOperation_example_min.json"
          },
          "Put a cluster with maximum parameters": {
            "$ref": "./examples/ManagedClusterPutOperation_example_max.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            }
          },
          "202": {
            "description": "The request was accepted and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "description": "The URL to get the status of an ongoing long-running operation.",
                "type": "string"
              },
              "Location": {
                "description": "The URL to get the status of a completed long-running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ManagedCluster"
        ],
        "operationId": "ManagedClusters_Update",
        "summary": "Updates the tags of of a Service Fabric managed cluster resource.",
        "description": "Update the tags of of a Service Fabric managed cluster resource with the specified name.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The managed cluster resource updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedClusterUpdateParameters"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "x-ms-examples": {
          "Patch a managed cluster": {
            "$ref": "./examples/ManagedClusterPatchOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ManagedCluster"
        ],
        "operationId": "ManagedClusters_Delete",
        "summary": "Deletes a Service Fabric managed cluster resource.",
        "description": "Delete a Service Fabric managed cluster resource with the specified name.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "Delete a cluster": {
            "$ref": "./examples/ManagedClusterDeleteOperation_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "responses": {
          "202": {
            "description": "The request was accepted and the operation will complete asynchronously.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "The URL to get the status of an ongoing long-running operation.",
                "type": "string"
              },
              "Location": {
                "description": "The URL to get the status of a completed long-running operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The resource was not found."
          },
          "200": {
            "description": "The operation completed successfully."
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/getazresiliencystatus": {
      "post": {
        "tags": [
          "managedAzResiliencyStatus"
        ],
        "summary": "Action to get Az Resiliency Status of all the Base resources constituting Service Fabric Managed Clusters.",
        "description": "Action to get Az Resiliency Status of all the Base resources constituting Service Fabric Managed Clusters.",
        "operationId": "managedAzResiliencyStatus_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "Az Resiliency status of Base Resources": {
            "$ref": "./examples/managedAzResiliencyStatusGet_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedAzResiliencyStatus"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/getMaintenanceWindowStatus": {
      "post": {
        "tags": [
          "managedMaintenanceWindowStatus"
        ],
        "summary": "Action to get Maintenance Window Status of the Service Fabric Managed Clusters.",
        "description": "Action to get Maintenance Window Status of the Service Fabric Managed Clusters.",
        "operationId": "managedMaintenanceWindowStatus_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "Maintenance Window Status": {
            "$ref": "./examples/ManagedMaintenanceWindowStatusGet_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedMaintenanceWindowStatus"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/applyMaintenanceWindow": {
      "post": {
        "tags": [
          "managedApplyMaintenanceWindow"
        ],
        "summary": "Action to Apply Maintenance window on the Service Fabric Managed Clusters, right now. Any pending update will be applied.",
        "description": "Action to Apply Maintenance window on the Service Fabric Managed Clusters, right now. Any pending update will be applied.",
        "operationId": "managedApplyMaintenanceWindow_Post",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "Maintenance Window Status": {
            "$ref": "./examples/ManagedApplyMaintenanceWindowPost_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully."
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedClusterVersions/{clusterVersion}": {
      "get": {
        "operationId": "ManagedClusterVersion_Get",
        "summary": "Gets information about a Service Fabric managed cluster code version available in the specified location.",
        "description": "Gets information about an available Service Fabric managed cluster code version.",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/clusterVersion"
          }
        ],
        "x-ms-examples": {
          "Get cluster version": {
            "$ref": "./examples/ManagedClusterVersionGet_example.json"
          }
        },
        "tags": [
          "ManagedClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedClusterCodeVersionResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/managedClusterVersions/{clusterVersion}": {
      "get": {
        "operationId": "ManagedClusterVersion_GetByEnvironment",
        "summary": "Gets information about a Service Fabric cluster code version available for the specified environment.",
        "description": "Gets information about an available Service Fabric cluster code version by environment.",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/environment"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/clusterVersion"
          }
        ],
        "x-ms-examples": {
          "Get cluster version by environment": {
            "$ref": "./examples/ManagedClusterVersionGetByEnvironment_example.json"
          }
        },
        "tags": [
          "ManagedClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedClusterCodeVersionResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedClusterVersions": {
      "get": {
        "operationId": "ManagedClusterVersion_List",
        "summary": "Gets the list of Service Fabric cluster code versions available for the specified location.",
        "description": "Gets all available code versions for Service Fabric cluster resources by location.",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "List cluster versions": {
            "$ref": "./examples/ManagedClusterVersionList_example.json"
          }
        },
        "tags": [
          "ManagedClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedClusterCodeVersionListResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/managedClusterVersions": {
      "get": {
        "operationId": "ManagedClusterVersion_ListByEnvironment",
        "summary": "Gets the list of Service Fabric cluster code versions available for the specified environment.",
        "description": "Gets all available code versions for Service Fabric cluster resources by environment.",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/environment"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "List cluster versions by environment": {
            "$ref": "./examples/ManagedClusterVersionListByEnvironment.json"
          }
        },
        "tags": [
          "ManagedClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedClusterCodeVersionListResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedUnsupportedVMSizes": {
      "get": {
        "tags": [
          "managedVMSizes"
        ],
        "summary": "Get the lists of unsupported vm sizes for Service Fabric Managed Clusters.",
        "description": "Get the lists of unsupported vm sizes for Service Fabric Managed Clusters.",
        "operationId": "managedUnsupportedVMSizes_List",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "List unsupported vm sizes": {
            "$ref": "./examples/managedUnsupportedVMSizesList_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedVMSizesResult"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedUnsupportedVMSizes/{vmSize}": {
      "get": {
        "tags": [
          "managedVMSizes"
        ],
        "summary": "Get unsupported vm size for Service Fabric Managed Clusters.",
        "description": "Get unsupported vm size for Service Fabric Managed Clusters.",
        "operationId": "managedUnsupportedVMSizes_Get",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/vmSize"
          }
        ],
        "x-ms-examples": {
          "Get unsupported vm sizes": {
            "$ref": "./examples/managedUnsupportedVMSizesGet_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedVMSize"
            }
          },
          "default": {
            "description": "The detailed error response.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedClusterOperations/{operationId}": {
      "get": {
        "tags": [
          "LongRunningOperations"
        ],
        "summary": "Get long running operation status.",
        "description": "Get long running operation status.",
        "operationId": "OperationStatus_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/operationId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "x-ms-examples": {
          "Get failed operation status": {
            "$ref": "./examples/Long_running_operation_status_failed.json"
          },
          "Get succeeded operation result": {
            "$ref": "./examples/Long_running_operation_status_succeeded.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LongRunningOperationResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedClusterOperationResults/{operationId}": {
      "get": {
        "tags": [
          "LongRunningOperations"
        ],
        "summary": "Get long running operation result.",
        "description": "Get long running operation result.",
        "operationId": "OperationResults_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/operationId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "x-ms-examples": {
          "Get operation result": {
            "$ref": "./examples/Long_running_operation_result.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. The request is still running.",
            "headers": {
              "Location": {
                "description": "The URL to get the status of a completed long-running operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content. For Delete operation results."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ServiceFabric/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all of the available Service Fabric resource provider API operations.",
        "description": "Get the list of available Service Fabric resource provider API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The version of the Service Fabric resource provider API",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-examples": {
          "List available operations": {
            "$ref": "./examples/Operations_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ManagedClusterAddOnFeature": {
      "type": "string",
      "description": "Available cluster add-on features",
      "enum": [
        "DnsService",
        "BackupRestoreService",
        "ResourceMonitorService"
      ],
      "x-ms-enum": {
        "name": "ManagedClusterAddOnFeature",
        "modelAsString": true,
        "values": [
          {
            "value": "DnsService",
            "description": "Dns service"
          },
          {
            "value": "BackupRestoreService",
            "description": "Backup and restore service"
          },
          {
            "value": "ResourceMonitorService",
            "description": "Resource monitor service"
          }
        ]
      }
    },
    "ApplicationTypeVersionsCleanupPolicy": {
      "type": "object",
      "required": [
        "maxUnusedVersionsToKeep"
      ],
      "properties": {
        "maxUnusedVersionsToKeep": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "Number of unused versions per application type to keep."
        }
      },
      "description": "The policy used to clean up unused versions. When the policy is not specified explicitly, the default unused application versions to keep will be 3."
    },
    "AutoGeneratedDomainNameLabelScope": {
      "type": "string",
      "enum": [
        "TenantReuse",
        "SubscriptionReuse",
        "ResourceGroupReuse",
        "NoReuse"
      ],
      "x-ms-enum": {
        "name": "AutoGeneratedDomainNameLabelScope",
        "modelAsString": true,
        "values": [
          {
            "value": "TenantReuse",
            "description": "TenantReuse allows for the same hash to be created if the resource is created in the same Tenant with the same resource name."
          },
          {
            "value": "SubscriptionReuse",
            "description": "SubscriptionReuse allows for the same hash to be created if the resource is created in the same Subscription with the same resource name."
          },
          {
            "value": "ResourceGroupReuse",
            "description": "ResourceGroupReuse allows for the same hash to be created if the resource is created in the same Resource Group with the same resource name."
          },
          {
            "value": "NoReuse",
            "description": "NoReuse will create a new hash regardless of the Subscription, Resource Group, Tenant and Resource name."
          }
        ]
      },
      "description": "This enum is the entrypoint to using a certificate from a public CA for your cluster. This property was introduced to solve the\ndomain squatting problem with new domains. A domain name will be generated in the following format: <cluster-name>.<hash>.<region-name>.<sfmc-domain>.\nThe hash portion comes from Azure DNS' Deterministic Name Library. The library creates a hash using the cluster's Tenant, Subscription, Resource Group\nand Resource Name using the AutoGeneratedDomainNameLabelScope/reuse policy chosen.\n"
    },
    "AzureActiveDirectory": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Azure active directory tenant id."
        },
        "clusterApplication": {
          "type": "string",
          "description": "Azure active directory cluster application id."
        },
        "clientApplication": {
          "type": "string",
          "description": "Azure active directory client application id."
        }
      },
      "description": "The settings to enable AAD authentication on the cluster."
    },
    "ClientCertificate": {
      "type": "object",
      "required": [
        "isAdmin"
      ],
      "properties": {
        "isAdmin": {
          "type": "boolean",
          "description": "Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster."
        },
        "thumbprint": {
          "type": "string",
          "description": "Certificate thumbprint."
        },
        "commonName": {
          "type": "string",
          "description": "Certificate common name."
        },
        "issuerThumbprint": {
          "type": "string",
          "description": "Issuer thumbprint for the certificate. Only used together with CommonName."
        }
      },
      "description": "Client certificate definition."
    },
    "ClusterHealthPolicy": {
      "type": "object",
      "required": [
        "maxPercentUnhealthyNodes",
        "maxPercentUnhealthyApplications"
      ],
      "description": "Defines a health policy used to evaluate the health of the cluster or of a cluster node.\n",
      "properties": {
        "maxPercentUnhealthyNodes": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum allowed percentage of unhealthy nodes before reporting an error. For example, to allow 10% of nodes to be unhealthy, this value would be 10.\n\nThe percentage represents the maximum tolerated percentage of nodes that can be unhealthy before the cluster is considered in error.\nIf the percentage is respected but there is at least one unhealthy node, the health is evaluated as Warning.\nThe percentage is calculated by dividing the number of unhealthy nodes over the total number of nodes in the cluster.\nThe computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.\n\nIn large clusters, some nodes will always be down or out for repairs, so this percentage should be configured to tolerate that.\n",
          "default": 0,
          "minimum": 0,
          "maximum": 100
        },
        "maxPercentUnhealthyApplications": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum allowed percentage of unhealthy applications before reporting an error. For example, to allow 10% of applications to be unhealthy, this value would be 10.\n\nThe percentage represents the maximum tolerated percentage of applications that can be unhealthy before the cluster is considered in error.\nIf the percentage is respected but there is at least one unhealthy application, the health is evaluated as Warning.\nThis is calculated by dividing the number of unhealthy applications over the total number of application instances in the cluster, excluding applications of application types that are included in the ApplicationTypeHealthPolicyMap.\nThe computation rounds up to tolerate one failure on small numbers of applications. Default percentage is zero.\n",
          "default": 0,
          "minimum": 0,
          "maximum": 100
        }
      }
    },
    "ClusterMonitoringPolicy": {
      "type": "object",
      "description": "Describes the monitoring policies for the cluster upgrade.",
      "required": [
        "healthCheckWaitDuration",
        "healthCheckStableDuration",
        "healthCheckRetryTimeout",
        "upgradeTimeout",
        "upgradeDomainTimeout"
      ],
      "properties": {
        "healthCheckWaitDuration": {
          "type": "string",
          "x-ms-format": "duration-constant",
          "description": "The length of time to wait after completing an upgrade domain before performing health checks. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "healthCheckStableDuration": {
          "type": "string",
          "x-ms-format": "duration-constant",
          "description": "The amount of time that the application or cluster must remain healthy before the upgrade proceeds to the next upgrade domain. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "healthCheckRetryTimeout": {
          "type": "string",
          "description": "The amount of time to retry health evaluation when the application or cluster is unhealthy before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "upgradeTimeout": {
          "type": "string",
          "description": "The amount of time the overall upgrade has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "upgradeDomainTimeout": {
          "type": "string",
          "description": "The amount of time each upgrade domain has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        }
      }
    },
    "ClusterState": {
      "type": "string",
      "description": "The current state of the cluster.\n",
      "enum": [
        "WaitingForNodes",
        "Deploying",
        "BaselineUpgrade",
        "Upgrading",
        "UpgradeFailed",
        "Ready"
      ],
      "x-ms-enum": {
        "name": "ClusterState",
        "modelAsString": true,
        "values": [
          {
            "value": "WaitingForNodes",
            "description": "Indicates that the cluster resource is created and the resource provider is waiting for Service Fabric VM extension to boot up and report to it."
          },
          {
            "value": "Deploying",
            "description": "Indicates that the Service Fabric runtime is being installed on the VMs. Cluster resource will be in this state until the cluster boots up and system services are up."
          },
          {
            "value": "BaselineUpgrade",
            "description": "Indicates that the cluster is upgrading to establishes the cluster version. This upgrade is automatically initiated when the cluster boots up for the first time."
          },
          {
            "value": "Upgrading",
            "description": "Indicates that the cluster is being upgraded with the user provided configuration."
          },
          {
            "value": "UpgradeFailed",
            "description": "Indicates that the last upgrade for the cluster has failed."
          },
          {
            "value": "Ready",
            "description": "Indicates that the cluster is in a stable state."
          }
        ]
      }
    },
    "ClusterUpgradeCadence": {
      "type": "string",
      "enum": [
        "Wave0",
        "Wave1",
        "Wave2"
      ],
      "x-ms-enum": {
        "name": "clusterUpgradeCadence",
        "modelAsString": true,
        "values": [
          {
            "value": "Wave0",
            "description": "Cluster upgrade starts immediately after a new version is rolled out. Recommended for Test/Dev clusters."
          },
          {
            "value": "Wave1",
            "description": "Cluster upgrade starts 7 days after a new version is rolled out. Recommended for Pre-prod clusters."
          },
          {
            "value": "Wave2",
            "description": "Cluster upgrade starts 14 days after a new version is rolled out. Recommended for Production clusters."
          }
        ]
      },
      "description": "Indicates when new cluster runtime version upgrades will be applied after they are released. By default is Wave0."
    },
    "ClusterUpgradeDeltaHealthPolicy": {
      "type": "object",
      "description": "Describes the delta health policies for the cluster upgrade.",
      "required": [
        "maxPercentDeltaUnhealthyNodes"
      ],
      "properties": {
        "maxPercentDeltaUnhealthyNodes": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum allowed percentage of nodes health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the nodes at the beginning of upgrade and the state of the nodes at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits.\n",
          "minimum": 0,
          "maximum": 100
        },
        "maxPercentUpgradeDomainDeltaUnhealthyNodes": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum allowed percentage of upgrade domain nodes health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the upgrade domain nodes at the beginning of upgrade and the state of the upgrade domain nodes at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion for all completed upgrade domains to make sure the state of the upgrade domains is within tolerated limits.\n",
          "minimum": 0,
          "maximum": 100
        },
        "maxPercentDeltaUnhealthyApplications": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum allowed percentage of applications health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the applications at the beginning of upgrade and the state of the applications at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits. System services are not included in this.\nNOTE: This value will overwrite the value specified in properties.UpgradeDescription.HealthPolicy.MaxPercentUnhealthyApplications\n",
          "minimum": 0,
          "maximum": 100
        }
      }
    },
    "ClusterUpgradeMode": {
      "type": "string",
      "description": "The upgrade mode of the cluster when new Service Fabric runtime version is available.\n",
      "enum": [
        "Automatic",
        "Manual"
      ],
      "default": "Automatic",
      "x-ms-enum": {
        "name": "ClusterUpgradeMode",
        "modelAsString": true,
        "values": [
          {
            "value": "Automatic",
            "description": "The cluster will be automatically upgraded to the latest Service Fabric runtime version, **clusterUpgradeCadence** will determine when the upgrade starts after the new version becomes available."
          },
          {
            "value": "Manual",
            "description": "The cluster will not be automatically upgraded to the latest Service Fabric runtime version. The cluster is upgraded by setting the **clusterCodeVersion** property in the cluster resource."
          }
        ]
      }
    },
    "ClusterUpgradePolicy": {
      "type": "object",
      "properties": {
        "forceRestart": {
          "type": "boolean",
          "description": "If true, then processes are forcefully restarted during upgrade even when the code version has not changed (the upgrade only changes configuration or data)."
        },
        "healthPolicy": {
          "$ref": "#/definitions/ClusterHealthPolicy",
          "description": "The cluster health policy defines a health policy used to evaluate the health of the cluster during a cluster upgrade."
        },
        "deltaHealthPolicy": {
          "$ref": "#/definitions/ClusterUpgradeDeltaHealthPolicy",
          "description": "The cluster delta health policy defines a health policy used to evaluate the health of the cluster during a cluster upgrade."
        },
        "monitoringPolicy": {
          "$ref": "#/definitions/ClusterMonitoringPolicy",
          "description": "The cluster monitoring policy describes the parameters for monitoring an upgrade in Monitored mode."
        },
        "upgradeReplicaSetCheckTimeout": {
          "type": "string",
          "description": "The maximum amount of time to block processing of an upgrade domain and prevent loss of availability when there are unexpected issues.\nWhen this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues.\nThe timeout is reset at the start of each upgrade domain. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format.\nThis value must be between 00:00:00 and 49710.06:28:15 (unsigned 32 bit integer for seconds)\n"
        }
      },
      "description": "Describes the policy used when upgrading the cluster."
    },
    "LoadBalancingRule": {
      "type": "object",
      "required": [
        "frontendPort",
        "backendPort",
        "protocol",
        "probeProtocol"
      ],
      "properties": {
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values are between 1 and 65534.",
          "minimum": 1,
          "maximum": 65534
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 1 and 65535.",
          "minimum": 1,
          "maximum": 65534
        },
        "protocol": {
          "type": "string",
          "description": "The reference to the transport protocol used by the load balancing rule.",
          "enum": [
            "tcp",
            "udp"
          ],
          "x-ms-enum": {
            "name": "protocol",
            "modelAsString": true
          }
        },
        "probePort": {
          "type": "integer",
          "format": "int32",
          "description": "The prob port used by the load balancing rule. Acceptable values are between 1 and 65535.",
          "minimum": 1,
          "maximum": 65534
        },
        "probeProtocol": {
          "type": "string",
          "description": "the reference to the load balancer probe used by the load balancing rule.",
          "enum": [
            "tcp",
            "http",
            "https"
          ],
          "x-ms-enum": {
            "name": "probeProtocol",
            "modelAsString": true
          }
        },
        "probeRequestPath": {
          "type": "string",
          "description": "The probe request path. Only supported for HTTP/HTTPS probes."
        },
        "loadDistribution": {
          "type": "string",
          "description": "The load distribution policy for this rule."
        }
      },
      "description": "Describes a load balancing rule."
    },
    "LongRunningOperationResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the operation.",
          "format": "date-time"
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the operation.",
          "format": "date-time"
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "The completion percentage of the operation."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation."
        },
        "error": {
          "$ref": "#/definitions/ErrorModelError",
          "description": "The operation error."
        }
      },
      "description": "Long running operation result."
    },
    "ManagedCluster": {
      "type": "object",
      "required": [
        "sku"
      ],
      "description": "The managed cluster resource\n",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ManagedClusterProperties",
          "description": "The managed cluster resource properties"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the managed cluster"
        }
      }
    },
    "ManagedClusterCodeVersionListResult": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ManagedClusterCodeVersionResult"
      },
      "description": "The list results of the Service Fabric runtime versions."
    },
    "ManagedClusterCodeVersionResult": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identification of the result"
        },
        "name": {
          "type": "string",
          "description": "The name of the result"
        },
        "type": {
          "type": "string",
          "description": "The result resource type"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ManagedClusterVersionDetails"
        }
      },
      "description": "The result of the Service Fabric runtime versions"
    },
    "ManagedClusterListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Managed Cluster list results"
    },
    "ManagedClusterProperties": {
      "type": "object",
      "required": [
        "dnsName",
        "adminUserName"
      ],
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The cluster dns name."
        },
        "fqdn": {
          "type": "string",
          "description": "The fully qualified domain name associated with the public load balancer of the cluster.",
          "readOnly": true
        },
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address associated with the public load balancer of the cluster.",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "description": "A service generated unique identifier for the cluster resource.",
          "readOnly": true
        },
        "clusterState": {
          "readOnly": true,
          "$ref": "#/definitions/ClusterState",
          "description": "The current state of the cluster."
        },
        "clusterCertificateThumbprints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of thumbprints of the cluster certificates.",
          "readOnly": true
        },
        "clientConnectionPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for client connections to the cluster.",
          "default": 19000
        },
        "httpGatewayConnectionPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for HTTP connections to the cluster.",
          "default": 19080
        },
        "adminUserName": {
          "type": "string",
          "description": "VM admin user name."
        },
        "adminPassword": {
          "type": "string",
          "x-ms-secret": true,
          "format": "password",
          "description": "VM admin user password."
        },
        "loadBalancingRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadBalancingRule"
          },
          "x-ms-identifiers": [],
          "description": "Load balancing rules that are applied to the public load balancer of the cluster."
        },
        "allowRdpAccess": {
          "type": "boolean",
          "description": "Setting this to true enables RDP access to the VM. The default NSG rule opens RDP port to Internet which can be overridden with custom Network Security Rules. The default value for this setting is false."
        },
        "networkSecurityRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityRule"
          },
          "x-ms-identifiers": [],
          "description": "Custom Network Security Rules that are applied to the Virtual Network of the cluster."
        },
        "clients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientCertificate"
          },
          "x-ms-identifiers": [],
          "description": "Client certificates that are allowed to manage the cluster."
        },
        "azureActiveDirectory": {
          "$ref": "#/definitions/AzureActiveDirectory",
          "description": "The AAD authentication settings of the cluster."
        },
        "fabricSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SettingsSectionDescription"
          },
          "x-ms-identifiers": [],
          "description": "The list of custom fabric settings to configure the cluster."
        },
        "provisioningState": {
          "$ref": "#/definitions/ManagedResourceProvisioningState",
          "readOnly": true,
          "description": "The provisioning state of the managed cluster resource."
        },
        "clusterCodeVersion": {
          "type": "string",
          "description": "The Service Fabric runtime version of the cluster. This property is required when **clusterUpgradeMode** is set to 'Manual'. To get list of available Service Fabric versions for new clusters use [ClusterVersion API](./ClusterVersion.md). To get the list of available version for existing clusters use **availableClusterVersions**."
        },
        "clusterUpgradeMode": {
          "$ref": "#/definitions/ClusterUpgradeMode"
        },
        "clusterUpgradeCadence": {
          "$ref": "#/definitions/ClusterUpgradeCadence",
          "description": "Indicates when new cluster runtime version upgrades will be applied after they are released. By default is Wave0. Only applies when **clusterUpgradeMode** is set to 'Automatic'."
        },
        "addonFeatures": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedClusterAddOnFeature"
          },
          "description": "List of add-on features to enable on the cluster."
        },
        "enableAutoOSUpgrade": {
          "type": "boolean",
          "description": "Setting this to true enables automatic OS upgrade for the node types that are created using any platform OS image with version 'latest'. The default value for this setting is false."
        },
        "zonalResiliency": {
          "type": "boolean",
          "description": "Indicates if the cluster has zone resiliency.",
          "default": false
        },
        "applicationTypeVersionsCleanupPolicy": {
          "$ref": "#/definitions/ApplicationTypeVersionsCleanupPolicy",
          "description": "The policy used to clean up unused versions."
        },
        "enableIpv6": {
          "type": "boolean",
          "description": "Setting this to true creates IPv6 address space for the default VNet used by the cluster. This setting cannot be changed once the cluster is created. The default value for this setting is false."
        },
        "subnetId": {
          "type": "string",
          "description": "If specified, the node types for the cluster are created in this subnet instead of the default VNet. The **networkSecurityRules** specified for the cluster are also applied to this subnet. This setting cannot be changed once the cluster is created."
        },
        "ipTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpTag"
          },
          "x-ms-identifiers": [],
          "description": "The list of IP tags associated with the default public IP address of the cluster."
        },
        "ipv6Address": {
          "type": "string",
          "description": "IPv6 address for the cluster if IPv6 is enabled.",
          "readOnly": true
        },
        "enableServicePublicIP": {
          "type": "boolean",
          "description": "Setting this to true will link the IPv4 address as the ServicePublicIP of the IPv6 address. It can only be set to True if IPv6 is enabled on the cluster."
        },
        "auxiliarySubnets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subnet"
          },
          "x-ms-identifiers": [],
          "description": "Auxiliary subnets for the cluster."
        },
        "serviceEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceEndpoint"
          },
          "x-ms-identifiers": [],
          "description": "Service endpoints for subnets in the cluster."
        },
        "zonalUpdateMode": {
          "$ref": "#/definitions/ZonalUpdateMode",
          "description": "Indicates the update mode for Cross Az clusters."
        },
        "useCustomVnet": {
          "type": "boolean",
          "description": "For new clusters, this parameter indicates that it uses Bring your own VNet, but the subnet is specified at node type level; and for such clusters, the subnetId property is required for node types."
        },
        "publicIPPrefixId": {
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/publicIPPrefixes"
              }
            ]
          },
          "description": "Specify the resource id of a public IPv4 prefix that the load balancer will allocate a public IPv4 address from. This setting cannot be changed once the cluster is created."
        },
        "publicIPv6PrefixId": {
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/publicIPPrefixes"
              }
            ]
          },
          "description": "Specify the resource id of a public IPv6 prefix that the load balancer will allocate a public IPv6 address from. This setting cannot be changed once the cluster is created."
        },
        "ddosProtectionPlanId": {
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          },
          "description": "Specify the resource id of a DDoS network protection plan that will be associated with the virtual network of the cluster."
        },
        "upgradeDescription": {
          "$ref": "#/definitions/ClusterUpgradePolicy",
          "description": "The policy to use when upgrading the cluster."
        },
        "httpGatewayTokenAuthConnectionPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for token-auth based HTTPS connections to the cluster. Cannot be set to the same port as HttpGatewayEndpoint."
        },
        "enableHttpGatewayExclusiveAuthMode": {
          "type": "boolean",
          "description": "If true, token-based authentication is not allowed on the HttpGatewayEndpoint. This is required to support TLS versions 1.3 and above. If token-based authentication is used, HttpGatewayTokenAuthConnectionPort must be defined."
        },
        "autoGeneratedDomainNameLabelScope": {
          "$ref": "#/definitions/AutoGeneratedDomainNameLabelScope",
          "description": "This property is the entry point to using a public CA cert for your cluster cert. It specifies the level of reuse allowed for the custom FQDN created, matching the subject of the public CA cert."
        },
        "customFqdn": {
          "type": "string",
          "description": "If using autoGeneratedDomainNameLabelScope, this is the fully qualified domain name using SFMC's domain, pointing to the public load balancer of the cluster."
        }
      },
      "description": "Describes the managed cluster resource properties."
    },
    "ManagedClusterUpdateParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Managed cluster update parameters",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Managed cluster update request"
    },
    "ManagedClusterVersionDetails": {
      "type": "object",
      "properties": {
        "clusterCodeVersion": {
          "type": "string",
          "description": "The Service Fabric runtime version of the cluster."
        },
        "supportExpiryUtc": {
          "type": "string",
          "description": "The date of expiry of support of the version."
        },
        "osType": {
          "$ref": "#/definitions/OsType"
        }
      },
      "description": "The detail of the Service Fabric runtime version result"
    },
    "ManagedVMSize": {
      "type": "object",
      "properties": {
        "properties": {
          "description": "VM Size properties.",
          "$ref": "#/definitions/VMSize",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "VM Size id.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "VM Size name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "VM Size type.",
          "readOnly": true
        }
      },
      "description": "Describes a VM Sizes."
    },
    "ManagedVMSizesResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Managed VM Sizes for Service Fabric Managed Clusters.",
          "items": {
            "$ref": "#/definitions/ManagedVMSize"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Managed VM Sizes if there are any.",
          "readOnly": true
        }
      },
      "description": "Describes the result of the request to list Managed VM Sizes for Service Fabric Managed Clusters."
    },
    "ManagedAzResiliencyStatus": {
      "type": "object",
      "properties": {
        "baseResourceStatus": {
          "type": "array",
          "description": "List of Managed VM Sizes for Service Fabric Managed Clusters.",
          "items": {
            "$ref": "#/definitions/ResourceAzStatus"
          },
          "x-ms-identifiers": []
        },
        "isClusterZoneResilient": {
          "type": "boolean",
          "description": "URL to get the next set of Managed VM Sizes if there are any.",
          "readOnly": true
        }
      },
      "description": "Describes the result of the request to list Managed VM Sizes for Service Fabric Managed Clusters."
    },
    "ManagedMaintenanceWindowStatus": {
      "type": "object",
      "properties": {
        "isWindowEnabled": {
          "type": "boolean",
          "description": "If maintenance window is enabled on this cluster.",
          "readOnly": true
        },
        "isRegionReady": {
          "type": "boolean",
          "description": "Indicates if the region is ready to configure maintenance windows.",
          "readOnly": true
        },
        "isWindowActive": {
          "type": "boolean",
          "description": "If maintenance window is active.",
          "readOnly": true
        },
        "canApplyUpdates": {
          "type": "boolean",
          "description": "If updates can be applied.",
          "readOnly": true
        },
        "lastWindowStatusUpdateAtUTC": {
          "type": "string",
          "format": "date-time",
          "description": "Last window update time in UTC.",
          "readOnly": true
        },
        "lastWindowStartTimeUTC": {
          "type": "string",
          "format": "date-time",
          "description": "Last window start time in UTC.",
          "readOnly": true
        },
        "lastWindowEndTimeUTC": {
          "type": "string",
          "format": "date-time",
          "description": "Last window end time in UTC.",
          "readOnly": true
        }
      },
      "description": "Describes the maintenance window status of the Service Fabric Managed Cluster."
    },
    "ResourceAzStatus": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "VM Size properties.",
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "description": "VM Size id.",
          "readOnly": true
        },
        "isZoneResilient": {
          "type": "boolean",
          "description": "VM Size name.",
          "readOnly": true
        },
        "details": {
          "type": "string",
          "description": "Zone resiliency status details for the resource.",
          "readOnly": true
        }
      },
      "description": "Describes Az Resiliency status of Base resources"
    },
    "OsType": {
      "type": "string",
      "description": "Cluster operating system, the default will be Windows",
      "enum": [
        "Windows"
      ],
      "x-ms-enum": {
        "name": "OsType",
        "modelAsString": true,
        "values": [
          {
            "value": "Windows",
            "description": "Indicates os is Windows."
          }
        ]
      }
    },
    "ServiceEndpoint": {
      "type": "object",
      "required": [
        "service"
      ],
      "properties": {
        "service": {
          "type": "string",
          "description": "The type of the endpoint service."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of locations."
        }
      },
      "description": "The service endpoint properties."
    },
    "Sku": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "Sku Name."
        }
      },
      "description": "Service Fabric managed cluster Sku definition"
    },
    "SkuName": {
      "type": "string",
      "description": "Sku Name.",
      "enum": [
        "Basic",
        "Standard"
      ],
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": true,
        "values": [
          {
            "value": "Basic",
            "description": "Basic requires a minimum of 3 nodes and allows only 1 node type."
          },
          {
            "value": "Standard",
            "description": "Requires a minimum of 5 nodes and allows 1 or more node type."
          }
        ]
      }
    },
    "Subnet": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Subnet name."
        },
        "enableIpv6": {
          "type": "boolean",
          "description": "Indicates wether to enable Ipv6 or not. If not provided, it will take the same configuration as the cluster."
        },
        "privateEndpointNetworkPolicies": {
          "type": "string",
          "description": "Enable or Disable apply network policies on private end point in the subnet.",
          "enum": [
            "enabled",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "privateEndpointNetworkPolicies",
            "modelAsString": true
          }
        },
        "privateLinkServiceNetworkPolicies": {
          "type": "string",
          "description": "Enable or Disable apply network policies on private link service in the subnet.",
          "enum": [
            "enabled",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "privateLinkServiceNetworkPolicies",
            "modelAsString": true
          }
        },
        "networkSecurityGroupId": {
          "type": "string",
          "description": "Full resource id for the network security group."
        }
      },
      "description": "Describes a Subnet."
    },
    "VMSize": {
      "type": "object",
      "properties": {
        "size": {
          "type": "string",
          "description": "VM Size name.",
          "readOnly": true
        }
      },
      "description": "VM Sizes properties."
    },
    "ZonalUpdateMode": {
      "type": "string",
      "description": "Indicates the update mode for Cross Az clusters.",
      "enum": [
        "Standard",
        "Fast"
      ],
      "x-ms-enum": {
        "name": "ZonalUpdateMode",
        "modelAsString": true,
        "values": [
          {
            "value": "Standard",
            "description": "The cluster will use 5 upgrade domains for Cross Az Node types."
          },
          {
            "value": "Fast",
            "description": "The cluster will use a maximum of 3 upgrade domains per zone instead of 5 for Cross Az Node types for faster deployments."
          }
        ]
      }
    },
    "AvailableOperationDisplay": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "The name of the provider."
        },
        "resource": {
          "type": "string",
          "description": "The resource on which the operation is performed"
        },
        "operation": {
          "type": "string",
          "description": "The operation that can be performed."
        },
        "description": {
          "type": "string",
          "description": "Operation description"
        }
      },
      "description": "Operation supported by the Service Fabric resource provider"
    },
    "ErrorModel": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorModelError",
          "description": "The error details."
        }
      },
      "description": "The structure of the error."
    },
    "ErrorModelError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "The error details."
    },
    "IpTag": {
      "type": "object",
      "required": [
        "ipTagType",
        "tag"
      ],
      "properties": {
        "ipTagType": {
          "type": "string",
          "description": "IP tag type. Example: FirstPartyUsage."
        },
        "tag": {
          "type": "string",
          "description": "IP tag associated with the public IP. Example: SQL, Storage etc."
        }
      },
      "description": "The IP tag associated with the public IP address."
    },
    "ManagedResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the managed resource.",
      "enum": [
        "None",
        "Creating",
        "Created",
        "Updating",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleting",
        "Deleted",
        "Other"
      ],
      "x-ms-enum": {
        "name": "ManagedResourceProvisioningState",
        "modelAsString": true
      }
    },
    "NetworkSecurityRule": {
      "type": "object",
      "required": [
        "name",
        "protocol",
        "access",
        "priority",
        "direction"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Network security rule name."
        },
        "description": {
          "type": "string",
          "description": "Network security rule description."
        },
        "protocol": {
          "type": "string",
          "description": "Network protocol this rule applies to.",
          "enum": [
            "http",
            "https",
            "tcp",
            "udp",
            "icmp",
            "ah",
            "esp"
          ],
          "x-ms-enum": {
            "name": "nsgProtocol",
            "modelAsString": true
          }
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destinationAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The destination port ranges."
        },
        "sourceAddressPrefix": {
          "type": "string",
          "description": "The CIDR or source IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used. If this is an ingress rule, specifies where network traffic originates from."
        },
        "destinationAddressPrefix": {
          "type": "string",
          "description": "The destination address prefix. CIDR or destination IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used."
        },
        "sourcePortRange": {
          "type": "string",
          "description": "The source port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
        },
        "destinationPortRange": {
          "type": "string",
          "description": "he destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
        },
        "access": {
          "type": "string",
          "description": "The network traffic is allowed or denied.",
          "enum": [
            "allow",
            "deny"
          ],
          "x-ms-enum": {
            "name": "access",
            "modelAsString": true
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be in the range 1000 to 3000. Values outside this range are reserved for Service Fabric ManagerCluster Resource Provider. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.",
          "minimum": 1000,
          "maximum": 3000
        },
        "direction": {
          "type": "string",
          "description": "Network security rule direction.",
          "enum": [
            "inbound",
            "outbound"
          ],
          "x-ms-enum": {
            "name": "direction",
            "modelAsString": true
          }
        }
      },
      "description": "Describes a network security rule."
    },
    "OperationListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of operations supported by the Service Fabric resource provider.",
          "items": {
            "$ref": "#/definitions/OperationResult"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any.",
          "readOnly": true
        }
      },
      "description": "Describes the result of the request to list Service Fabric resource provider operations."
    },
    "OperationResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation."
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Indicates whether the operation is a data action"
        },
        "display": {
          "$ref": "#/definitions/AvailableOperationDisplay",
          "description": "The object that represents the operation."
        },
        "origin": {
          "type": "string",
          "description": "Origin result"
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Available operation list result"
    },
    "Resource": {
      "type": "object",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource identifier.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Azure resource name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Azure resource type.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Azure resource location.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "description": "Azure resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Azure resource etag.",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/SystemData"
        }
      },
      "description": "The resource model definition.",
      "x-ms-azure-resource": true
    },
    "SettingsParameterDescription": {
      "type": "object",
      "required": [
        "name",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The parameter name of fabric setting."
        },
        "value": {
          "type": "string",
          "description": "The parameter value of fabric setting."
        }
      },
      "description": "Describes a parameter in fabric settings of the cluster."
    },
    "SettingsSectionDescription": {
      "type": "object",
      "required": [
        "name",
        "parameters"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The section name of the fabric settings."
        },
        "parameters": {
          "type": "array",
          "description": "The collection of parameters in the section.",
          "items": {
            "$ref": "#/definitions/SettingsParameterDescription"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "description": "Describes a section in the fabric settings of the cluster."
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)."
        }
      }
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2024-06-01-preview\" for this specification.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "clusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "description": "The name of the cluster resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "clusterVersion": {
      "name": "clusterVersion",
      "in": "path",
      "description": "The cluster code version.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "environment": {
      "name": "environment",
      "in": "path",
      "description": "The operating system of the cluster. The default means all.",
      "required": true,
      "type": "string",
      "enum": [
        "Windows"
      ],
      "x-ms-parameter-location": "method",
      "x-ms-enum": {
        "name": "ManagedClusterVersionEnvironment",
        "modelAsString": true,
        "values": [
          {
            "value": "Windows",
            "description": "Windows."
          }
        ]
      }
    },
    "locationForClusterCodeVersions": {
      "name": "location",
      "in": "path",
      "description": "The location for the cluster code versions. This is different from cluster location.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "operationId": {
      "name": "operationId",
      "in": "path",
      "description": "operation identifier.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The customer subscription identifier.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "vmSize": {
      "name": "vmSize",
      "in": "path",
      "description": "VM Size name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
