{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Titan management service",
    "version": "2025-03-01-preview",
    "description": "Microsoft.Titan Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ComputeDevices"
    },
    {
      "name": "PrivateIpAddresses"
    },
    {
      "name": "PublicIpAddresses"
    }
  ],
  "paths": {
    "/providers/Microsoft.Titan/locations/{location}/computeDevices": {
      "get": {
        "operationId": "ComputeDevices_List",
        "tags": [
          "ComputeDevices"
        ],
        "description": "List ComputeDeviceResource resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComputeDeviceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComputeDevices_List": {
            "$ref": "./examples/ComputeDevices_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Titan/locations/{location}/computeDevices/{computeDevice}": {
      "get": {
        "operationId": "ComputeDevices_Get",
        "tags": [
          "ComputeDevices"
        ],
        "description": "Get a ComputeDeviceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "computeDevice",
            "in": "path",
            "description": "The parent resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-._]{1,58}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComputeDeviceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComputeDevices_Get": {
            "$ref": "./examples/ComputeDevices_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Titan/locations/{location}/privateIpAddresses": {
      "get": {
        "operationId": "PrivateIpAddresses_List",
        "tags": [
          "PrivateIpAddresses"
        ],
        "description": "List PrivateIpAddress resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateIpAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateIpAddresses_List": {
            "$ref": "./examples/PrivateIpAddresses_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Titan/locations/{location}/privateIpAddresses/{privateIpAddress}": {
      "get": {
        "operationId": "PrivateIpAddresses_Get",
        "tags": [
          "PrivateIpAddresses"
        ],
        "description": "Get a PrivateIpAddress",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "privateIpAddress",
            "in": "path",
            "description": "The name of the PrivateIpAddress",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,32}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateIpAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateIpAddresses_Get": {
            "$ref": "./examples/PrivateIpAddresses_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Titan/locations/{location}/publicIpAddresses": {
      "get": {
        "operationId": "PublicIpAddresses_List",
        "tags": [
          "PublicIpAddresses"
        ],
        "description": "List PublicIpAddress resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIpAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublicIpAddresses_List": {
            "$ref": "./examples/PublicIpAddresses_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Titan/locations/{location}/publicIpAddresses/{publicIpAddress}": {
      "get": {
        "operationId": "PublicIpAddresses_Get",
        "tags": [
          "PublicIpAddresses"
        ],
        "description": "Get a PublicIpAddress",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publicIpAddress",
            "in": "path",
            "description": "The name of the PublicIpAddress",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,32}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIpAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublicIpAddresses_Get": {
            "$ref": "./examples/PublicIpAddresses_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Titan/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ComputeDeviceProperties": {
      "type": "object",
      "description": "Compute Device Properties",
      "properties": {
        "deviceType": {
          "$ref": "#/definitions/DeviceType",
          "description": "The device type",
          "readOnly": true
        },
        "dcCode": {
          "type": "string",
          "description": "The short datacenter code where the physical device is located as surfaced by Network Graph Service (NGS). Ex: BN1 ",
          "readOnly": true
        },
        "deploymentType": {
          "$ref": "#/definitions/DeploymentType",
          "description": "The onboarding group as surfaced by Network Graph Service (NGS). ",
          "readOnly": true
        },
        "dcRackLocation": {
          "type": "string",
          "description": "If the NgsDeviceType is a chassis manager or rack manager, the location of the rack. Unknown otherwise. Surfaced by Network Graph Service (NGS).",
          "readOnly": true
        },
        "function": {
          "type": "string",
          "description": "Whether the device is for production. Surfaced by Network Graph Service (NGS).",
          "readOnly": true
        },
        "assetTag": {
          "type": "string",
          "description": "Unique asset tag of the machine as reported by Hardware Inventory System.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The main (or front-end) IP address of the machine at the time of the snapshot.",
          "readOnly": true
        },
        "lifeCycleState": {
          "type": "string",
          "description": "Represents the logical state of the machine as it goes through the hardware lifecycle.",
          "readOnly": true
        },
        "macAddress": {
          "type": "string",
          "description": "The network MAC address of the machine.",
          "readOnly": true
        },
        "machineName": {
          "type": "string",
          "description": "The name of the machine.",
          "readOnly": true
        },
        "rackName": {
          "type": "string",
          "description": "The name of the physical structure the machine is on.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Unique serial number of the machine as reported by Hardware Inventory System.",
          "readOnly": true
        },
        "machineType": {
          "type": "string",
          "description": "The machine type.",
          "readOnly": true
        },
        "deviceManagerManagementType": {
          "type": "string",
          "description": "Management Type only reported for Device Manager devices.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        }
      },
      "required": [
        "deviceType",
        "dcCode",
        "deploymentType",
        "dcRackLocation",
        "function",
        "assetTag",
        "ipAddress",
        "lifeCycleState",
        "macAddress",
        "machineName",
        "rackName",
        "serialNumber",
        "machineType"
      ]
    },
    "ComputeDeviceResource": {
      "type": "object",
      "description": "Compute Device resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ComputeDeviceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ComputeDeviceResourceListResult": {
      "type": "object",
      "description": "The response of a ComputeDeviceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ComputeDeviceResource items on this page",
          "items": {
            "$ref": "#/definitions/ComputeDeviceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentType": {
      "type": "string",
      "description": "Deployment type enum",
      "enum": [
        "Pilotfish",
        "AzureAll",
        "Exchange",
        "Autopilot",
        "Sharepoint",
        "FOPE",
        "DatacenterServices",
        "MacCloud",
        "PreBuild",
        "AzureDNS",
        "CPS",
        "Tycoon",
        "AzureEngSys",
        "Fabric",
        "DCCE",
        "AzureKeyVault",
        "FirstPartyNetwork",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "DeploymentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Pilotfish",
            "value": "Pilotfish",
            "description": "Pilotfish deployment."
          },
          {
            "name": "AzureAll",
            "value": "AzureAll",
            "description": "AzureAll deployment."
          },
          {
            "name": "Exchange",
            "value": "Exchange",
            "description": "Exchange deployment."
          },
          {
            "name": "Autopilot",
            "value": "Autopilot",
            "description": "Autopilot deployment."
          },
          {
            "name": "Sharepoint",
            "value": "Sharepoint",
            "description": "Sharepoint deployment."
          },
          {
            "name": "FOPE",
            "value": "FOPE",
            "description": "FOPE deployment."
          },
          {
            "name": "DatacenterServices",
            "value": "DatacenterServices",
            "description": "DatacenterServices deployment."
          },
          {
            "name": "MacCloud",
            "value": "MacCloud",
            "description": "MacCloud deployment."
          },
          {
            "name": "PreBuild",
            "value": "PreBuild",
            "description": "PreBuild deployment."
          },
          {
            "name": "AzureDNS",
            "value": "AzureDNS",
            "description": "AzureDNS deployment."
          },
          {
            "name": "CPS",
            "value": "CPS",
            "description": "CPS deployment."
          },
          {
            "name": "Tycoon",
            "value": "Tycoon",
            "description": "Tycoon deployment."
          },
          {
            "name": "AzureEngSys",
            "value": "AzureEngSys",
            "description": "AzureEngSys deployment."
          },
          {
            "name": "Fabric",
            "value": "Fabric",
            "description": "Fabric deployment."
          },
          {
            "name": "DCCE",
            "value": "DCCE",
            "description": "DCCE deployment."
          },
          {
            "name": "AzureKeyVault",
            "value": "AzureKeyVault",
            "description": "AzureKeyVault deployment."
          },
          {
            "name": "FirstPartyNetwork",
            "value": "FirstPartyNetwork",
            "description": "FirstPartyNetwork deployment."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown deployment."
          }
        ]
      }
    },
    "DeviceType": {
      "type": "string",
      "description": "Device type enum",
      "enum": [
        "Server",
        "ChassisManager",
        "EpmsSensor",
        "RackManager",
        "EPMS"
      ],
      "x-ms-enum": {
        "name": "DeviceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Server",
            "value": "Server",
            "description": "The Server."
          },
          {
            "name": "ChassisManager",
            "value": "ChassisManager",
            "description": "The ChassisManager."
          },
          {
            "name": "EpmsSensor",
            "value": "EpmsSensor",
            "description": "The EpmsSensor."
          },
          {
            "name": "RackManager",
            "value": "RackManager",
            "description": "The RackManager."
          },
          {
            "name": "EPMS",
            "value": "EPMS",
            "description": "The EPMS."
          }
        ]
      }
    },
    "Microsoft.Inventory.CommonTypes.AssetType": {
      "type": "string",
      "description": "Enum for AssetType",
      "enum": [
        "Physical",
        "Logical"
      ],
      "x-ms-enum": {
        "name": "AssetType",
        "modelAsString": true,
        "values": [
          {
            "name": "Physical",
            "value": "Physical",
            "description": "Physical AssetType"
          },
          {
            "name": "Logical",
            "value": "Logical",
            "description": "Logical AssetType"
          }
        ]
      }
    },
    "Microsoft.Inventory.CommonTypes.AssignedResource": {
      "type": "object",
      "description": "Metadata that describes the asset to which the resource is assigned",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.AssetType",
          "description": "The type of the resource"
        },
        "resourceId": {
          "type": "string",
          "description": "Unique identifier for the asset"
        }
      },
      "required": [
        "resourceType",
        "resourceId"
      ]
    },
    "Microsoft.Inventory.CommonTypes.IpAddressState": {
      "type": "string",
      "description": "Enum for State",
      "enum": [
        "Managed",
        "Allocated",
        "Active",
        "Retired"
      ],
      "x-ms-enum": {
        "name": "IpAddressState",
        "modelAsString": true,
        "values": [
          {
            "name": "Managed",
            "value": "Managed",
            "description": "Managed State"
          },
          {
            "name": "Allocated",
            "value": "Allocated",
            "description": "Allocated State"
          },
          {
            "name": "Active",
            "value": "Active",
            "description": "Active State"
          },
          {
            "name": "Retired",
            "value": "Retired",
            "description": "Retired State"
          }
        ]
      }
    },
    "Microsoft.Inventory.CommonTypes.IpVersion": {
      "type": "string",
      "description": "Enum for the IP Version",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IpVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "IPv4",
            "value": "IPv4",
            "description": "IPv4 version"
          },
          {
            "name": "IPv6",
            "value": "IPv6",
            "description": "IPv6 version"
          }
        ]
      }
    },
    "Microsoft.Inventory.CommonTypes.Ownership": {
      "type": "object",
      "description": "Metadata that describes the ownership of the resource",
      "properties": {
        "serviceTreeId": {
          "type": "string",
          "description": "The owning service tree ID"
        },
        "subscriptionId": {
          "type": "string",
          "description": "The owning subscription ID"
        }
      }
    },
    "PrivateIpAddress": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateIpAddressProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateIpAddressListResult": {
      "type": "object",
      "description": "The response of a PrivateIpAddress list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateIpAddress items on this page",
          "items": {
            "$ref": "#/definitions/PrivateIpAddress"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateIpAddressProperties": {
      "type": "object",
      "description": "Private IPAddressProperties.",
      "properties": {
        "ipVersion": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.IpVersion",
          "description": "Specifies the IP Version"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP Address (IPv4/IPv6). This can also be represented as a block address range in CIDR notation."
        },
        "state": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.IpAddressState",
          "description": "Managed, Allocated, Active, Retired"
        },
        "region": {
          "type": "string",
          "description": "Region where the IP address exists"
        },
        "isReuse": {
          "type": "boolean",
          "description": "Determines whether the private IP address is used across regions"
        },
        "ownership": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.Ownership",
          "description": "Indicates the ownership of the private IP address"
        },
        "assignedResource": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.AssignedResource",
          "description": "Metadata that describes the resource to which this private IP address is assigned"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "ipVersion",
        "ipAddress",
        "state",
        "region",
        "assignedResource"
      ]
    },
    "PublicIpAddress": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PublicIpAddressProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PublicIpAddressListResult": {
      "type": "object",
      "description": "The response of a PublicIpAddress list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PublicIpAddress items on this page",
          "items": {
            "$ref": "#/definitions/PublicIpAddress"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PublicIpAddressProperties": {
      "type": "object",
      "description": "Public IPAddressProperties.",
      "properties": {
        "ipVersion": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.IpVersion",
          "description": "Specifies the IP Version"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP Address (IPv4/IPv6). This can also be represented as a block address range in CIDR notation."
        },
        "state": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.IpAddressState",
          "description": "Managed, Allocated, Active, Retired"
        },
        "region": {
          "type": "string",
          "description": "Region where the IP address exists"
        },
        "ownership": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.Ownership",
          "description": "Indicates the ownership of the private IP address"
        },
        "assignedResource": {
          "$ref": "#/definitions/Microsoft.Inventory.CommonTypes.AssignedResource",
          "description": "Metadata that describes the resource to which this private IP address is assigned"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "ipVersion",
        "ipAddress",
        "state",
        "region",
        "assignedResource"
      ]
    }
  },
  "parameters": {}
}
