{
  "swagger": "2.0",
  "info": {
    "version": "2018-07-31",
    "title": "ConsumptionManagementClient",
    "description": "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByBillingAccount_List",
        "description": "Lists the charges by billingAccountId for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no chages for a month then that month will show all zeroes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChargesListByBillingAccount": {
            "$ref": "./examples/ChargesListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResultByBillingAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByBillingAccount_ListByBillingPeriod",
        "description": "Lists the charges based on billingAccountId by billing period.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChangesForBillingPeriodByBillingAccount": {
            "$ref": "./examples/ChargesForBillingPeriodByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargeSummaryByBillingAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesForBillingAccountByProject_List",
        "description": "Lists charges for all projects under a billing account given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no chages for a month then that month will show all zeroes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChargesListForBillingAccountByProject": {
            "$ref": "./examples/ChargesListForBillingAccountByProject.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResultByProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByProject_List",
        "description": "Lists the charges by project id for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no chages for a month then that month will show all zeroes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChargesListByProject": {
            "$ref": "./examples/ChargesListByProject.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/projectIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResultByProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByProject_ListByBillingPeriod",
        "description": "Lists the charges based on project id by billing period.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChangesForBillingPeriodByProject": {
            "$ref": "./examples/ChargesForBillingPeriodByProject.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/projectIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargeSummaryByProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesForBillingAccountByBillingProfile_List",
        "description": "Lists the charges by billing profile id for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no chages for a month then that month will show all zeroes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChargesListForBillingAccountByBillingProfile": {
            "$ref": "./examples/ChargesListForBillingAccountByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResultByBillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByBillingProfile_List",
        "description": "Lists the charges by billing profile id for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no chages for a month then that month will show all zeroes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChargesListByBillingProfile": {
            "$ref": "./examples/ChargesListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResultByBillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByBillingProfile_ListByBillingPeriod",
        "description": "Lists the charges based on billingAccountId by billing period.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChangesForBillingPeriodByBillingProfile": {
            "$ref": "./examples/ChargesForBillingPeriodByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargeSummaryByBillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails/download": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByBillingAccount_Download",
        "description": "Download the charges based on billingAccountId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "DownloadUsageChargeForBillingAccount": {
            "$ref": "./examples/DownloadUsageChargeForBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails/download": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByProject_Download",
        "description": "Download the charges based on project id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "DownloadUsageChargeForProject": {
            "$ref": "./examples/DownloadUsageChargeForProject.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/projectIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails/download": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "ChargesByBillingProfile_Download",
        "description": "Download the charges based on billing profile id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "DownloadUsageChargeForBillingProfile": {
            "$ref": "./examples/DownloadUsageChargeForBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/credits": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "CreditsByBillingAccount_List",
        "description": "Lists the credits by billingAccountId and project id for given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "CreditsListByBillingAccount": {
            "$ref": "./examples/CreditsListByBillingAccount.json"
          },
          "CreditsListByBillingAccountExpanded": {
            "$ref": "./examples/CreditsListByBillingAccountExpanded.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the billingProfiles or events within a list of credits. By default, these fields are not included when listing monitory credits.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CreditSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "CreditsByBillingProfile_List",
        "description": "Lists the credits by billingAccountId and billingProfileId for given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "CreditsListByBillingProfile": {
            "$ref": "./examples/CreditsListByBillingProfile.json"
          },
          "CreditsListByBillingAccountExpanded": {
            "$ref": "./examples/CreditsListByBillingProfileExpanded.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the lots or events within a list of credits. By default, these fields are not included when listing monitory credits.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CreditSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/credits/download": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "CreditsByBillingAccount_Download",
        "description": "Download the credit events based on billingAccountId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "DownloadCreditsForBillingAccount": {
            "$ref": "./examples/DownloadCreditEventsForBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits/download": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "CreditsByBillingProfile_Download",
        "description": "Download the credit events based on billing profile id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "DownloadCreditsForBillingProfile": {
            "$ref": "./examples/DownloadCreditEventsForBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "ProductsByBillingAccount_List",
        "description": "Lists the products by billingAccountId for given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ProductsListByBillingAccount": {
            "$ref": "./examples/ProductsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "ProductsByBillingProfile",
        "description": "Lists the products by billingProfileId for given start date and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ProductsListByBillingProfile": {
            "$ref": "./examples/ProductsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/startDateParameter"
          },
          {
            "$ref": "#/parameters/endDateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/paymentMethods": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "operationId": "PaymentMethodsByBillingAccount_List",
        "description": "Lists the Payment Methods by billingAccountId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "PaymentMethodsListByBillingAccount": {
            "$ref": "./examples/PaymentMethodsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/paymentMethods": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "operationId": "PaymentMethodsByBillingProfile_List",
        "description": "Lists the Payment Methods by billing profile Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "PaymentMethodsListByBillingProfile": {
            "$ref": "./examples/PaymentMethodsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceAttributes": {
      "description": "The Resource model definition.",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Resource location"
        },
        "sku": {
          "readOnly": true,
          "type": "string",
          "description": "Resource sku"
        }
      }
    },
    "ProxyResource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "eTag": {
          "type": "string",
          "description": "eTag of the resource. To handle concurrent update scenarion, this field will be used to determine whether the user is updating the latest version or not."
        }
      },
      "x-ms-azure-resource": true
    },
    "ChargesListResultByBillingAccount": {
      "description": "Result of listing charge summary by billing account. It contains a list of available change summaries in reverse chronological order by billing period.",
      "properties": {
        "value": {
          "description": "The list of charge summary by billing account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ChargeSummaryByBillingAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ChargeSummaryByBillingAccount": {
      "description": "A charge summary resource by billing account.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ChargeSummaryPropertiesByBillingAccount",
          "title": "Charge summary properties"
        }
      }
    },
    "ChargeSummaryPropertiesByBillingAccount": {
      "description": "The properties of the charge summary by billing account.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChargeSummaryProperties"
        },
        {
          "$ref": "#/definitions/BillingAccount"
        }
      ]
    },
    "ChargesListResultByBillingProfile": {
      "description": "Result of listing charge summary by billing profile. It contains a list of available change summaries in reverse chronological order by billing period.",
      "properties": {
        "value": {
          "description": "The list of charge summary by billing profile.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ChargeSummaryByBillingProfile"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ChargeSummaryByBillingProfile": {
      "description": "A charge summary resource by billing profile.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ChargeSummaryPropertiesByBillingProfile",
          "title": "Charge summary properties"
        }
      }
    },
    "ChargeSummaryPropertiesByBillingProfile": {
      "description": "The properties of the charge summary by billing profile.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChargeSummaryProperties"
        },
        {
          "$ref": "#/definitions/BillingProfile"
        }
      ]
    },
    "ChargesListResultByProject": {
      "description": "Result of listing charge summary by project. It contains a list of available change summaries in reverse chronological order by billing period.",
      "properties": {
        "value": {
          "description": "The list of charge summary by project.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ChargeSummaryByProject"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ChargeSummaryByProject": {
      "description": "A charge summary resource by project.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ChargeSummaryPropertiesByProject",
          "title": "Charge summary properties"
        }
      }
    },
    "ChargeSummaryPropertiesByProject": {
      "description": "The properties of the charge summary by project.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChargeSummaryProperties"
        },
        {
          "$ref": "#/definitions/Project"
        }
      ]
    },
    "ChargeSummaryProperties": {
      "description": "The properties of the charge summary.",
      "properties": {
        "billingPeriodId": {
          "description": "The id of the billing period resource that the usage belongs to.",
          "type": "string",
          "readOnly": true
        },
        "billingPeriodStart": {
          "description": "Billing period start date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "billingPeriodEnd": {
          "description": "Billing period end date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "azureCharges": {
          "description": "Azure Charges.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "chargesBilledSeparately": {
          "description": "Charges Billed separately.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "marketplaceCharges": {
          "description": "Marketplace Charges.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "currency": {
          "description": "Currency Code",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingAccount": {
      "description": "A billing account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingAccountProperties"
        }
      }
    },
    "BillingAccountProperties": {
      "description": "The properties of the billing account.",
      "properties": {
        "displayName": {
          "description": "Name of the billing account.",
          "type": "string",
          "readOnly": true
        },
        "accountType": {
          "description": "The billing account Type.",
          "type": "string",
          "enum": [
            "CommerceRoot",
            "Enrollment"
          ],
          "readOnly": true
        },
        "address": {
          "description": "The address associated with billing account.",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "description": "The ISO currency, for example, USD.",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "The country associated with billing account..",
          "type": "string",
          "readOnly": true
        },
        "projects": {
          "description": "The projects associated to the billing account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Project"
          }
        },
        "billingProfiles": {
          "description": "The billing profiles associated to the billing account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingProfile"
          }
        },
        "enrollmentDetails": {
          "description": "The details about the associated legacy enrollment. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/Enrollment",
          "readOnly": true
        },
        "departments": {
          "description": "The departments associated to the enrollment.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "enrollmentAccounts": {
          "description": "The accounts associated to the enrollment.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        }
      }
    },
    "BillingProfile": {
      "description": "A billing profile resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing profile.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingProfileProperties"
        }
      }
    },
    "BillingProfileProperties": {
      "description": "The properties of the billing profile.",
      "properties": {
        "displayName": {
          "description": "The billing profile name.",
          "type": "string"
        },
        "poNumber": {
          "description": "Purchase order number.",
          "type": "string"
        }
      }
    },
    "Project": {
      "description": "A project resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The project.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProjectProperties"
        }
      }
    },
    "ProjectProperties": {
      "description": "The properties of a project.",
      "properties": {
        "displayName": {
          "description": "The name of the project.",
          "type": "string"
        },
        "eligibleOffers": {
          "description": "The eligible offers attached to the project.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EligibleOffer"
          }
        },
        "costCenter": {
          "description": "The cost center for the project.",
          "type": "string"
        }
      }
    },
    "CreditSummary": {
      "description": "A credit summary resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreditSummaryProperties",
          "title": "Credit summary properties"
        }
      }
    },
    "CreditSummaryProperties": {
      "description": "The properties of the credit summary.",
      "properties": {
        "availableBalance": {
          "description": "Available balance.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "closedAmount": {
          "description": "Closed amount.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pendingCreditAdjustments": {
          "description": "Pending Credit Adjustments.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pendingExpiredCredit": {
          "description": "Pending Expired Credit.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pendingEligibleCharges": {
          "description": "Pending Eligible Charges.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "currency": {
          "description": "Currency Code",
          "type": "string",
          "readOnly": true
        },
        "events": {
          "description": "The events associated to credit summary.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          }
        }
      }
    },
    "Event": {
      "description": "The credit event associated to credit summary.",
      "properties": {
        "transactionDate": {
          "description": "Transaction Date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "beginningBalance": {
          "description": "Beginning Balance.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "newCredit": {
          "description": "New Credit.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "adjustments": {
          "description": "Adjustments.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "creditExpired": {
          "description": "Credit Expired.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "charges": {
          "description": "Charges.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "closedBalance": {
          "description": "Closed Balance.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }
      }
    },
    "ProductsListResult": {
      "description": "Result of listing products summary. It contains a list of available products summaries in reverse chronological order by purchase date.",
      "properties": {
        "value": {
          "description": "The list of products summary.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ProductsSummary"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProductsSummary": {
      "description": "A product summary resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProductsSummaryProperties",
          "title": "Product summary properties"
        }
      }
    },
    "ProductsSummaryProperties": {
      "description": "The properties of the product summary.",
      "properties": {
        "displayName": {
          "description": "The display name of the product.",
          "type": "string",
          "readOnly": true
        },
        "purchaseDate": {
          "description": "The date of purchase.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "productsType": {
          "description": "The type of product.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Product description.",
          "type": "string",
          "readOnly": true
        },
        "billingFrequency": {
          "description": "Billing frequency.",
          "type": "string",
          "enum": [
            "OneTime",
            "Monthly",
            "UsageBased"
          ],
          "x-ms-enum": {
            "name": "BillingFrequency",
            "modelAsString": true
          }
        },
        "lastCharge": {
          "description": "Last charge associated with the purchase.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "currency": {
          "description": "Currency Code",
          "type": "string",
          "readOnly": true
        },
        "purchaser": {
          "description": "Purchaser email.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionProperties": {
          "description": "The subscription properties.",
          "$ref": "#/definitions/SubscriptionProperties"
        },
        "reservationProperties": {
          "description": "The reservation properties.",
          "$ref": "#/definitions/ReservationProperties"
        }
      }
    },
    "SubscriptionProperties": {
      "description": "The subscription properties.",
      "properties": {
        "subscriptionGuid": {
          "description": "Subscription guid.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "monthToDateCharges": {
          "description": "Month to date charges.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "eligibleOffer": {
          "description": "Offer name",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The status of the subscription.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          }
        }
      }
    },
    "ReservationProperties": {
      "description": "The subscription properties.",
      "properties": {
        "quantity": {
          "description": "The quantity.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "charge": {
          "description": "Month to date charge.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "utilization": {
          "description": "Current utilization",
          "type": "string",
          "readOnly": true
        },
        "reservationType": {
          "description": "The status of the subscription.",
          "type": "string",
          "enum": [
            "Purchase"
          ],
          "x-ms-enum": {
            "name": "ReservationType",
            "modelAsString": true
          }
        }
      }
    },
    "PaymentMethodsListResult": {
      "description": "Result of listing payment methods.",
      "properties": {
        "value": {
          "description": "The list of payment methods.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PaymentMethod"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PaymentMethod": {
      "description": "A payment method resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PaymentMethodProperties",
          "title": "Payment method properties"
        }
      }
    },
    "PaymentMethodProperties": {
      "description": "The properties of the payment method.",
      "properties": {
        "methodType": {
          "description": "Payment method type.",
          "type": "string",
          "enum": [
            "Credits",
            "ChequeWire"
          ],
          "x-ms-enum": {
            "name": "PaymentMethodType",
            "modelAsString": true
          }
        },
        "lastBilledCharge": {
          "description": "Last billed charge.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "currentCharge": {
          "description": "Current charge.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "remainingAmount": {
          "description": "Remaining amount.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "originalAmount": {
          "description": "Original amount.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "currency": {
          "description": "Currency code",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EligibleOffer": {
      "description": "An Eligible Offer resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The Eligible Offer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EligibleOfferProperties"
        }
      }
    },
    "EligibleOfferProperties": {
      "description": "The properties of an Eligible Offer.",
      "properties": {
        "displayName": {
          "description": "Offer name.",
          "type": "string"
        },
        "parentAssetId": {
          "description": "The id of the parent asset.",
          "type": "string"
        },
        "owningProjectId": {
          "description": "The id of the project.",
          "type": "string"
        },
        "startDate": {
          "description": "The start date.",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The end date.",
          "type": "string",
          "format": "date-time"
        },
        "billingProfiles": {
          "description": "The billing profiles associated to the eligible offer.",
          "$ref": "#/definitions/BillingProfile"
        },
        "productDetails": {
          "description": "Information about the product.",
          "$ref": "#/definitions/ProductDetails"
        }
      }
    },
    
    "Department": {
      "description": "A department resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A department.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DepartmentProperties"
        }
      }
    },
    "DepartmentProperties": {
      "description": "The properties of the department.",
      "properties": {
        "departmentName": {
          "description": "The name for department.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center name.",
          "type": "string"
        },
        "status": {
          "description": "The status for department.",
          "type": "string"
        },
        "enrollmentAccounts": {
          "description": "Associated enrollment accounts. By default this is not populated, unless it's specified in $expand.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        }
      }
    },
    "EnrollmentAccount": {
      "description": "An account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnrollmentAccountProperties"
        }
      }
    },
    "EnrollmentAccountProperties": {
      "description": "The properties of the account.",
      "properties": {
        "accountName": {
          "description": "The account name.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center name.",
          "type": "string"
        },
        "accountOwner": {
          "description": "The account owner",
          "type": "string"
        },
        "status": {
          "description": "The status for account.",
          "type": "string"
        },
        "startDate": {
          "description": "Account Start Date",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "Account End Date",
          "type": "string",
          "format": "date-time"
        },
        "department": {
          "description": "Associated department. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/Department"
        }
      }
    },
    "Enrollment": {
      "description": "Current entity level details",
      "properties": {
        "startDate": {
          "description": "Enrollment Start Date",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "endDate": {
          "description": "Enrollment End Date",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "currency": {
          "description": "The currency associated with enrollment",
          "type": "string",
          "readOnly": true
        },
        "channel": {
          "description": "The channel for Enrollment",
          "type": "string",
          "readOnly": true
        },
        "policies": {
          "description": "The attributes associated with legacy enrollment.",
          "$ref": "#/definitions/EnrollmentPolicies",
          "readOnly": true
        },
        "language": {
          "description": "The language for Enrollment",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "The countryCode for Enrollment",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Enrollment status",
          "type": "string",
          "readOnly": true
        },
        "billingCylce": {
          "description": "Enrollment billing cycle",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProductDetails": {
      "description": "Details about the product.",
      "properties": {
        "productName": {
          "description": "The product name.",
          "type": "string",
          "readOnly": true
        },
        "skuId": {
          "description": "The sku id.",
          "type": "string",
          "readOnly": true
        },
        "skuDescription": {
          "description": "The sku description.",
          "type": "string",
          "readOnly": true
        },
        "availabilityId": {
          "description": "The availability id used by purchase.",
          "type": "string",
          "readOnly": true
        },
        "legacyId": {
          "description": "The legacy id of the product.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentPolicies": {
      "description": "The attributes associated with legacy enrollment",
      "properties": {
        "accountOwnerViewCharges": {
          "description": "The accountOwnerViewCharges flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        },
        "departmentAdminViewCharges": {
          "description": "The departmentAdminViewCharges flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        },
        "marketplacesEnabled": {
          "description": "The marketplaces flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        },
        "reservedInstancesEnabled": {
          "description": "The reserved instances flag for Enrollment",
          "type": "boolean",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2018-05-31."
    },
    "billingPeriodNameParameter": {
      "name": "billingPeriodName",
      "in": "path",
      "description": "Billing Period Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "BillingAccount ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "startDateParameter": {
      "name": "startDate",
      "in": "query",
      "description": "Start date",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "endDateParameter": {
      "name": "endDate",
      "in": "query",
      "description": "End date",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "projectIdParameter": {
      "name": "projectId",
      "in": "path",
      "description": "Project Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingProfileIdParameter": {
      "name": "billingProfileId",
      "in": "path",
      "description": "Billing Profile Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}