{
  "swagger": "2.0",
  "info": {
    "title": "DnsResolverManagementClient",
    "version": "2025-05-01",
    "description": "The DNS Resolver Management Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DnsResolvers"
    },
    {
      "name": "InboundEndpoints"
    },
    {
      "name": "OutboundEndpoints"
    },
    {
      "name": "DnsForwardingRulesets"
    },
    {
      "name": "ForwardingRules"
    },
    {
      "name": "VirtualNetworkLinks"
    },
    {
      "name": "DnsResolverPolicies"
    },
    {
      "name": "DnsSecurityRules"
    },
    {
      "name": "DnsResolverPolicyVirtualNetworkLinks"
    },
    {
      "name": "DnsResolverDomainLists"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnsForwardingRulesets": {
      "get": {
        "operationId": "DnsForwardingRulesets_List",
        "tags": [
          "DnsForwardingRulesets"
        ],
        "description": "Lists DNS forwarding rulesets in all resource groups of a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsForwardingRulesetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List DNS forwarding rulesets by subscription": {
            "$ref": "./examples/DnsForwardingRuleset_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnsResolverDomainLists": {
      "get": {
        "operationId": "DnsResolverDomainLists_List",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Lists DNS resolver domain lists in all resource groups of a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DNS resolver domain lists by subscription": {
            "$ref": "./examples/DnsResolverDomainList_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnsResolverPolicies": {
      "get": {
        "operationId": "DnsResolverPolicies_List",
        "tags": [
          "DnsResolverPolicies"
        ],
        "description": "Lists DNS resolver policies in all resource groups of a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DNS resolver policies by subscription": {
            "$ref": "./examples/DnsResolverPolicy_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnsResolvers": {
      "get": {
        "operationId": "DnsResolvers_List",
        "tags": [
          "DnsResolvers"
        ],
        "description": "Lists DNS resolvers in all resource groups of a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List DNS resolvers by subscription": {
            "$ref": "./examples/DnsResolver_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets": {
      "get": {
        "operationId": "DnsForwardingRulesets_ListByResourceGroup",
        "tags": [
          "DnsForwardingRulesets"
        ],
        "description": "Lists DNS forwarding rulesets within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsForwardingRulesetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List DNS forwarding rulesets by resource group": {
            "$ref": "./examples/DnsForwardingRuleset_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}": {
      "get": {
        "operationId": "DnsForwardingRulesets_Get",
        "tags": [
          "DnsForwardingRulesets"
        ],
        "description": "Gets a DNS forwarding ruleset properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsForwardingRuleset"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve DNS forwarding ruleset": {
            "$ref": "./examples/DnsForwardingRuleset_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsForwardingRulesets_CreateOrUpdate",
        "tags": [
          "DnsForwardingRulesets"
        ],
        "description": "Creates or updates a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsForwardingRuleset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsForwardingRuleset' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsForwardingRuleset"
            }
          },
          "201": {
            "description": "Resource 'DnsForwardingRuleset' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsForwardingRuleset"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Upsert DNS forwarding ruleset": {
            "$ref": "./examples/DnsForwardingRuleset_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsForwardingRuleset"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DnsForwardingRulesets_Update",
        "tags": [
          "DnsForwardingRulesets"
        ],
        "description": "Updates a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsForwardingRulesetPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsForwardingRuleset"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update DNS forwarding ruleset": {
            "$ref": "./examples/DnsForwardingRuleset_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsForwardingRuleset"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DnsForwardingRulesets_Delete",
        "tags": [
          "DnsForwardingRulesets"
        ],
        "description": "Deletes a DNS forwarding ruleset. WARNING: This operation cannot be undone. All forwarding rules within the ruleset will be deleted.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete DNS forwarding ruleset": {
            "$ref": "./examples/DnsForwardingRuleset_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}/forwardingRules": {
      "get": {
        "operationId": "ForwardingRules_List",
        "tags": [
          "ForwardingRules"
        ],
        "description": "Lists forwarding rules in a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ForwardingRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List forwarding rules in a DNS forwarding ruleset": {
            "$ref": "./examples/ForwardingRule_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}/forwardingRules/{forwardingRuleName}": {
      "get": {
        "operationId": "ForwardingRules_Get",
        "tags": [
          "ForwardingRules"
        ],
        "description": "Gets properties of a forwarding rule in a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forwardingRuleName",
            "in": "path",
            "description": "The name of the forwarding rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve forwarding rule in a DNS forwarding ruleset": {
            "$ref": "./examples/ForwardingRule_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ForwardingRules_CreateOrUpdate",
        "tags": [
          "ForwardingRules"
        ],
        "description": "Creates or updates a forwarding rule in a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forwardingRuleName",
            "in": "path",
            "description": "The name of the forwarding rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ForwardingRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          },
          "201": {
            "description": "Resource 'ForwardingRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Upsert forwarding rule in a DNS forwarding ruleset": {
            "$ref": "./examples/ForwardingRule_Put.json"
          }
        }
      },
      "patch": {
        "operationId": "ForwardingRules_Update",
        "tags": [
          "ForwardingRules"
        ],
        "description": "Updates a forwarding rule in a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forwardingRuleName",
            "in": "path",
            "description": "The name of the forwarding rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForwardingRulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update forwarding rule in a DNS forwarding ruleset": {
            "$ref": "./examples/ForwardingRule_Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "ForwardingRules_Delete",
        "tags": [
          "ForwardingRules"
        ],
        "description": "Deletes a forwarding rule in a DNS forwarding ruleset. WARNING: This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forwardingRuleName",
            "in": "path",
            "description": "The name of the forwarding rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete forwarding rule in a DNS forwarding ruleset": {
            "$ref": "./examples/ForwardingRule_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}/virtualNetworkLinks": {
      "get": {
        "operationId": "VirtualNetworkLinks_List",
        "tags": [
          "VirtualNetworkLinks"
        ],
        "description": "Lists virtual network links to a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLinkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual network links to a DNS forwarding ruleset": {
            "$ref": "./examples/VirtualNetworkLink_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}/virtualNetworkLinks/{virtualNetworkLinkName}": {
      "get": {
        "operationId": "VirtualNetworkLinks_Get",
        "tags": [
          "VirtualNetworkLinks"
        ],
        "description": "Gets properties of a virtual network link to a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkLinkName",
            "in": "path",
            "description": "The name of the virtual network link.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve virtual network link to a DNS forwarding ruleset": {
            "$ref": "./examples/VirtualNetworkLink_Get.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkLinks_CreateOrUpdate",
        "tags": [
          "VirtualNetworkLinks"
        ],
        "description": "Creates or updates a virtual network link to a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkLinkName",
            "in": "path",
            "description": "The name of the virtual network link.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkLink' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkLink' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Upsert virtual network link to a DNS forwarding ruleset": {
            "$ref": "./examples/VirtualNetworkLink_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VirtualNetworkLink"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkLinks_Update",
        "tags": [
          "VirtualNetworkLinks"
        ],
        "description": "Updates a virtual network link to a DNS forwarding ruleset.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkLinkName",
            "in": "path",
            "description": "The name of the virtual network link.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLinkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkLink"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update virtual network link to a DNS forwarding ruleset": {
            "$ref": "./examples/VirtualNetworkLink_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VirtualNetworkLink"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworkLinks_Delete",
        "tags": [
          "VirtualNetworkLinks"
        ],
        "description": "Deletes a virtual network link to a DNS forwarding ruleset. WARNING: This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsForwardingRulesetName",
            "in": "path",
            "description": "The name of the DNS forwarding ruleset.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkLinkName",
            "in": "path",
            "description": "The name of the virtual network link.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual network link to a DNS forwarding ruleset": {
            "$ref": "./examples/VirtualNetworkLink_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverDomainLists": {
      "get": {
        "operationId": "DnsResolverDomainLists_ListByResourceGroup",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Lists DNS resolver domain lists within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DNS resolver domain lists by resource group": {
            "$ref": "./examples/DnsResolverDomainList_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverDomainLists/{dnsResolverDomainListName}": {
      "get": {
        "operationId": "DnsResolverDomainLists_Get",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Gets properties of a DNS resolver domain list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverDomainListName",
            "in": "path",
            "description": "The name of the DNS resolver domain list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve DNS resolver domain list with bulk number of domains": {
            "$ref": "./examples/DnsResolverDomainList_BulkDomains_Get.json"
          },
          "Retrieve DNS resolver domain list with less than 1000 domains": {
            "$ref": "./examples/DnsResolverDomainList_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsResolverDomainLists_CreateOrUpdate",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Creates or updates a DNS resolver domain list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverDomainListName",
            "in": "path",
            "description": "The name of the DNS resolver domain list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsResolverDomainList' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainList"
            }
          },
          "201": {
            "description": "Resource 'DnsResolverDomainList' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainList"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Upsert DNS resolver domain list with bulk number of domains": {
            "$ref": "./examples/DnsResolverDomainList_BulkDomains_Put.json"
          },
          "Upsert DNS resolver domain list with less than 1000 domains": {
            "$ref": "./examples/DnsResolverDomainList_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsResolverDomainList"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DnsResolverDomainLists_Update",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Updates a DNS resolver domain list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverDomainListName",
            "in": "path",
            "description": "The name of the DNS resolver domain list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainListPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainList"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update DNS resolver domain list": {
            "$ref": "./examples/DnsResolverDomainList_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsResolverDomainList"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DnsResolverDomainLists_Delete",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Deletes a DNS resolver domain list. WARNING: This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverDomainListName",
            "in": "path",
            "description": "The name of the DNS resolver domain list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DNS resolver domain list": {
            "$ref": "./examples/DnsResolverDomainList_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverDomainLists/{dnsResolverDomainListName}/bulk": {
      "post": {
        "operationId": "DnsResolverDomainLists_Bulk",
        "tags": [
          "DnsResolverDomainLists"
        ],
        "description": "Uploads or downloads the list of domains for a DNS Resolver Domain List from a storage link.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverDomainListName",
            "in": "path",
            "description": "The name of the DNS resolver domain list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the bulk domain list operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainListBulk"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverDomainList"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Download DNS resolver domain list domains": {
            "$ref": "./examples/DnsResolverDomainList_BulkDownload.json"
          },
          "Upload DNS resolver domain list domains": {
            "$ref": "./examples/DnsResolverDomainList_BulkUpload.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsResolverDomainList"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies": {
      "get": {
        "operationId": "DnsResolverPolicies_ListByResourceGroup",
        "tags": [
          "DnsResolverPolicies"
        ],
        "description": "Lists DNS resolver policies within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DNS resolver policies by resource group": {
            "$ref": "./examples/DnsResolverPolicy_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}": {
      "get": {
        "operationId": "DnsResolverPolicies_Get",
        "tags": [
          "DnsResolverPolicies"
        ],
        "description": "Gets properties of a DNS resolver policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve DNS resolver policy": {
            "$ref": "./examples/DnsResolverPolicy_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsResolverPolicies_CreateOrUpdate",
        "tags": [
          "DnsResolverPolicies"
        ],
        "description": "Creates or updates a DNS resolver policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsResolverPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicy"
            }
          },
          "201": {
            "description": "Resource 'DnsResolverPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicy"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Upsert DNS resolver policy": {
            "$ref": "./examples/DnsResolverPolicy_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsResolverPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DnsResolverPolicies_Update",
        "tags": [
          "DnsResolverPolicies"
        ],
        "description": "Updates a DNS resolver policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicy"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update DNS resolver policy": {
            "$ref": "./examples/DnsResolverPolicy_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsResolverPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DnsResolverPolicies_Delete",
        "tags": [
          "DnsResolverPolicies"
        ],
        "description": "Deletes a DNS resolver policy. WARNING: This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DNS resolver policy": {
            "$ref": "./examples/DnsResolverPolicy_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}/dnsSecurityRules": {
      "get": {
        "operationId": "DnsSecurityRules_List",
        "tags": [
          "DnsSecurityRules"
        ],
        "description": "Lists DNS security rules for a DNS resolver policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsSecurityRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DNS security rules by DNS resolver policy": {
            "$ref": "./examples/DnsSecurityRule_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}/dnsSecurityRules/{dnsSecurityRuleName}": {
      "get": {
        "operationId": "DnsSecurityRules_Get",
        "tags": [
          "DnsSecurityRules"
        ],
        "description": "Gets properties of a DNS security rule for a DNS resolver policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "dnsSecurityRuleName",
            "in": "path",
            "description": "The name of the DNS security rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsSecurityRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve DNS security rule for DNS resolver policy": {
            "$ref": "./examples/DnsSecurityRule_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsSecurityRules_CreateOrUpdate",
        "tags": [
          "DnsSecurityRules"
        ],
        "description": "Creates or updates a DNS security rule for a DNS resolver policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "dnsSecurityRuleName",
            "in": "path",
            "description": "The name of the DNS security rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsSecurityRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsSecurityRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsSecurityRule"
            }
          },
          "201": {
            "description": "Resource 'DnsSecurityRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsSecurityRule"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Upsert DNS security rule": {
            "$ref": "./examples/DnsSecurityRule_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsSecurityRule"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DnsSecurityRules_Update",
        "tags": [
          "DnsSecurityRules"
        ],
        "description": "Updates a DNS security rule.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "dnsSecurityRuleName",
            "in": "path",
            "description": "The name of the DNS security rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsSecurityRulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsSecurityRule"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update DNS security rule for DNS resolver policy": {
            "$ref": "./examples/DnsSecurityRule_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DnsSecurityRule"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DnsSecurityRules_Delete",
        "tags": [
          "DnsSecurityRules"
        ],
        "description": "Deletes a DNS security rule for a DNS resolver policy. WARNING: This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "dnsSecurityRuleName",
            "in": "path",
            "description": "The name of the DNS security rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DNS security rule for DNS resolver policy": {
            "$ref": "./examples/DnsSecurityRule_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}/virtualNetworkLinks": {
      "get": {
        "operationId": "DnsResolverPolicyVirtualNetworkLinks_List",
        "tags": [
          "DnsResolverPolicyVirtualNetworkLinks"
        ],
        "description": "Lists DNS resolver policy virtual network links.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicyVirtualNetworkLinkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DNS resolver policy virtual network links by DNS resolver policy": {
            "$ref": "./examples/DnsResolverPolicyVirtualNetworkLink_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}/virtualNetworkLinks/{dnsResolverPolicyVirtualNetworkLinkName}": {
      "get": {
        "operationId": "DnsResolverPolicyVirtualNetworkLinks_Get",
        "tags": [
          "DnsResolverPolicyVirtualNetworkLinks"
        ],
        "description": "Gets properties of a DNS resolver policy virtual network link.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "dnsResolverPolicyVirtualNetworkLinkName",
            "in": "path",
            "description": "The name of the DNS resolver policy virtual network link for the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsResolverPolicyVirtualNetworkLink"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve DNS resolver policy virtual network link": {
            "$ref": "./examples/DnsResolverPolicyVirtualNetworkLink_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsResolverPolicyVirtualNetworkLinks_CreateOrUpdate",
        "tags": [
          "DnsResolverPolicyVirtualNetworkLinks"
        ],
        "description": "Creates or updates a DNS resolver policy virtual network link.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dnsResolverPolicyName",
            "in": "path",
            "description": "The name of the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "dnsResolverPolicyVirtualNetworkLinkName",
            "in": "path",
            "description": "The name of the DNS resolver policy virtual network link for the DNS resolver policy.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_\\-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate operation.",
            "required": true,
[...]
