{
  "swagger": "2.0",
  "info": {
    "title": "DataBoxManagementClient",
    "version": "2025-07-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "JobResources"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataBox/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs": {
      "get": {
        "operationId": "Jobs_List",
        "tags": [
          "JobResources"
        ],
        "description": "Lists all the jobs available under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsList": {
            "$ref": "./examples/JobsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration": {
      "post": {
        "operationId": "Service_RegionConfiguration",
        "description": "This API provides configuration details specific to given region/location at Subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "regionConfigurationRequest",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegionConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RegionConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "RegionConfiguration": {
            "$ref": "./examples/RegionConfiguration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress": {
      "post": {
        "operationId": "Service_ValidateAddress",
        "description": "[DEPRECATED NOTICE: This operation will soon be removed]. This method validates the customer shipping address and provide alternate addresses if any.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "validateAddress",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AddressValidationOutput"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "ValidateAddressPost": {
            "$ref": "./examples/ValidateAddressPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateInputs": {
      "post": {
        "operationId": "Service_ValidateInputs",
        "description": "This method does all necessary pre-job creation validation under subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "validationRequest",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "ValidateInputs": {
            "$ref": "./examples/ValidateInputs.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs": {
      "get": {
        "operationId": "Jobs_ListByResourceGroup",
        "tags": [
          "JobResources"
        ],
        "description": "Lists all the jobs available under the given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsListByResourceGroup": {
            "$ref": "./examples/JobsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}": {
      "get": {
        "operationId": "Jobs_Get",
        "tags": [
          "JobResources"
        ],
        "description": "Gets information about the specified job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on details parameter for job, which provides details on the job stages.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsGet": {
            "$ref": "./examples/JobsGet.json"
          },
          "JobsGetCmk": {
            "$ref": "./examples/JobsGetCmk.json"
          },
          "JobsGetCopyStuck": {
            "$ref": "./examples/JobsGetCopyStuck.json"
          },
          "JobsGetExport": {
            "$ref": "./examples/JobsGetExport.json"
          },
          "JobsGetWaitingForAction": {
            "$ref": "./examples/JobsGetWaitingForAction.json"
          }
        }
      },
      "put": {
        "operationId": "Jobs_Create",
        "tags": [
          "JobResources"
        ],
        "description": "Creates a new job with the specified parameters. Existing job cannot be updated with this API and should instead be updated with the Update job API.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "jobResource",
            "in": "body",
            "description": "Job details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'JobResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsCreate": {
            "$ref": "./examples/JobsCreate.json"
          },
          "JobsCreateDevicePassword": {
            "$ref": "./examples/JobsCreateDevicePassword.json"
          },
          "JobsCreateDoubleEncryption": {
            "$ref": "./examples/JobsCreateDoubleEncryption.json"
          },
          "JobsCreateExport": {
            "$ref": "./examples/JobsCreateExport.json"
          },
          "JobsCreateWithUserAssignedIdentity": {
            "$ref": "./examples/JobsCreateWithUserAssignedIdentity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/JobResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Jobs_Update",
        "tags": [
          "JobResources"
        ],
        "description": "Updates the properties of an existing job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobResourceUpdateParameter",
            "in": "body",
            "description": "Job update parameters from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResourceUpdateParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsPatch": {
            "$ref": "./examples/JobsPatch.json"
          },
          "JobsPatchCmk": {
            "$ref": "./examples/JobsPatchCmk.json"
          },
          "JobsPatchSystemAssignedToUserAssigned": {
            "$ref": "./examples/JobsPatchSystemAssignedToUserAssigned.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/JobResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Jobs_Delete",
        "tags": [
          "JobResources"
        ],
        "description": "Deletes a job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsDelete": {
            "$ref": "./examples/JobsDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp": {
      "post": {
        "operationId": "Jobs_BookShipmentPickUp",
        "tags": [
          "JobResources"
        ],
        "description": "Book shipment pick up.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "shipmentPickUpRequest",
            "in": "body",
            "description": "Details of shipment pick up request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShipmentPickUpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ShipmentPickUpResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "BookShipmentPickupPost": {
            "$ref": "./examples/BookShipmentPickupPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel": {
      "post": {
        "operationId": "Jobs_Cancel",
        "tags": [
          "JobResources"
        ],
        "description": "CancelJob.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "cancellationReason",
            "in": "body",
            "description": "Reason for cancellation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancellationReason"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsCancelPost": {
            "$ref": "./examples/JobsCancelPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listCredentials": {
      "post": {
        "operationId": "Jobs_ListCredentials",
        "tags": [
          "JobResources"
        ],
        "description": "This method gets the unencrypted secrets related to the job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UnencryptedCredentialsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsListCredentials": {
            "$ref": "./examples/JobsListCredentials.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/markDevicesShipped": {
      "post": {
        "operationId": "Jobs_MarkDevicesShipped",
        "tags": [
          "JobResources"
        ],
        "description": "Request to mark devices for a given job as shipped",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "markDevicesShippedRequest",
            "in": "body",
            "description": "Mark Devices Shipped Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MarkDevicesShippedRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "MarkDevicesShipped": {
            "$ref": "./examples/MarkDevicesShipped.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/mitigate": {
      "post": {
        "operationId": "Mitigate",
        "tags": [
          "JobResources"
        ],
        "description": "Request to mitigate for a given job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[-\\w\\.]+$"
          },
          {
            "name": "mitigateJobRequest",
            "in": "body",
            "description": "Mitigation Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MitigateJobRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Mitigate": {
            "$ref": "./examples/JobMitigate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/availableSkus": {
      "post": {
        "operationId": "Service_ListAvailableSkusByResourceGroup",
        "description": "This method provides the list of available skus for the given subscription, resource group and location.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "availableSkuRequest",
            "in": "body",
            "description": "Filters for showing the available skus.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailableSkuRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailableSkusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "AvailableSkusPost": {
            "$ref": "./examples/AvailableSkusPost.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration": {
      "post": {
        "operationId": "Service_RegionConfigurationByResourceGroup",
        "description": "This API provides configuration details specific to given region/location at Resource group level.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "regionConfigurationRequest",
            "in": "body",
            "description": "Request body to get the configuration for the region at resource group level.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegionConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegionConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "RegionConfigurationByResourceGroup": {
            "$ref": "./examples/RegionConfigurationByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/validateInputs": {
      "post": {
        "operationId": "Service_ValidateInputsByResourceGroup",
        "description": "This method does all necessary pre-job creation validation under resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "validationRequest",
            "in": "body",
            "description": "Inputs of the customer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "ValidateInputsByResourceGroup": {
            "$ref": "./examples/ValidateInputsByResourceGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessProtocol": {
      "type": "string",
      "description": "Access protocols supported on the device.",
      "enum": [
        "SMB",
        "NFS"
      ],
      "x-ms-enum": {
        "name": "AccessProtocol",
        "modelAsString": false,
        "values": [
          {
            "name": "SMB",
            "value": "SMB",
            "description": "Server Message Block protocol(SMB)."
          },
          {
            "name": "NFS",
            "value": "NFS",
            "description": "Network File System protocol(NFS)."
          }
        ]
      }
    },
    "AccountCredentialDetails": {
      "type": "object",
      "description": "Credential details of the account.",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Name of the account.",
          "readOnly": true
        },
        "dataAccountType": {
          "$ref": "#/definitions/DataAccountType",
          "description": "Type of the account.",
          "readOnly": true
        },
        "accountConnectionString": {
          "type": "string",
          "description": "Connection string of the account endpoint to use the account as a storage endpoint on the device.",
          "readOnly": true
        },
        "shareCredentialDetails": {
          "type": "array",
          "description": "Per share level unencrypted access credentials.",
          "items": {
            "$ref": "#/definitions/ShareCredentialDetails"
          },
          "readOnly": true
        }
      }
    },
    "AdditionalErrorInfo": {
      "type": "object",
      "description": "This class represents additional info which Resource Providers pass when an error occurs.",
      "properties": {
        "info": {
          "type": "object",
          "description": "Additional information of the type of error.",
          "additionalProperties": {}
        },
        "type": {
          "type": "string",
          "description": "Type of error (e.g. CustomerIntervention, PolicyViolation, SecurityViolation)."
        }
      }
    },
    "AddressType": {
      "type": "string",
      "description": "Type of address.",
      "enum": [
        "None",
        "Residential",
        "Commercial"
      ],
      "x-ms-enum": {
        "name": "AddressType",
        "modelAsString": false,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Address type not known."
          },
          {
            "name": "Residential",
            "value": "Residential",
            "description": "Residential Address."
          },
          {
            "name": "Commercial",
            "value": "Commercial",
            "description": "Commercial Address."
          }
        ]
      }
    },
    "AddressValidationOutput": {
      "type": "object",
      "description": "Output of the address validation api.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddressValidationProperties",
          "description": "The address validation properties.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "AddressValidationProperties": {
      "type": "object",
      "description": "The address validation output.",
      "properties": {
        "validationStatus": {
          "$ref": "#/definitions/AddressValidationStatus",
          "description": "The address validation status.",
          "readOnly": true
        },
        "alternateAddresses": {
          "type": "array",
          "description": "List of alternate addresses.",
          "items": {
            "$ref": "#/definitions/ShippingAddress"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputResponse"
        }
      ],
      "x-ms-discriminator-value": "ValidateAddress"
    },
    "AddressValidationStatus": {
      "type": "string",
      "description": "The address validation status.",
      "enum": [
        "Valid",
        "Invalid",
        "Ambiguous"
      ],
      "x-ms-enum": {
        "name": "AddressValidationStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "Valid",
            "value": "Valid",
            "description": "Address provided is valid."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Address provided is invalid or not supported."
          },
          {
            "name": "Ambiguous",
            "value": "Ambiguous",
            "description": "Address provided is ambiguous, please choose one of the alternate addresses returned."
          }
        ]
      }
    },
    "ApiError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetail",
          "description": "The error detail."
        }
      },
      "required": [
        "error"
      ]
    },
    "ApplianceNetworkConfiguration": {
      "type": "object",
      "description": "The Network Adapter configuration of a DataBox.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the network.",
          "readOnly": true
        },
        "macAddress": {
          "type": "string",
          "description": "Mac Address.",
          "readOnly": true
        }
      }
    },
    "ArmBaseObject": {
      "type": "object",
      "description": "Base class for all objects under resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the object.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Id of the object.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the object.",
          "readOnly": true
        }
      }
    },
    "AvailableSkuRequest": {
      "type": "object",
      "description": "The filters for showing the available skus.",
      "properties": {
        "transferType": {
          "$ref": "#/definitions/TransferType",
          "description": "Type of the transfer."
        },
        "country": {
          "type": "string",
          "description": "ISO country code. Country for hardware shipment. For codes check: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements"
        },
        "location": {
          "type": "string",
          "description": "Location for data transfer. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01"
        },
        "skuNames": {
          "type": "array",
          "description": "Sku Names to filter for available skus",
          "items": {
            "$ref": "#/definitions/SkuName"
          }
        }
      },
      "required": [
        "transferType",
        "country",
        "location"
      ]
    },
    "AvailableSkusResult": {
      "type": "object",
      "description": "The available skus operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "[Placeholder] Description for page model",
          "items": {
            "$ref": "#/definitions/SkuInformation"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "[Placeholder] Description for nextLink property"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureFileFilterDetails": {
      "type": "object",
      "description": "Filter details to transfer Azure files",
      "properties": {
        "filePrefixList": {
          "type": "array",
          "description": "Prefix list of the Azure files to be transferred.",
          "items": {
            "type": "string"
          }
        },
        "filePathList": {
          "type": "array",
          "description": "List of full path of the files to be transferred.",
          "items": {
            "type": "string"
          }
        },
        "fileShareList": {
          "type": "array",
          "description": "List of file shares to be transferred.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BlobFilterDetails": {
      "type": "object",
      "description": "Filter details to transfer Azure Blobs",
      "properties": {
        "blobPrefixList": {
          "type": "array",
          "description": "Prefix list of the Azure blobs to be transferred.",
          "items": {
            "type": "string"
          }
        },
        "blobPathList": {
          "type": "array",
          "description": "List of full path of the blobs to be transferred.",
          "items": {
            "type": "string"
          }
        },
        "containerList": {
          "type": "array",
          "description": "List of blob containers to be transferred.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CancellationReason": {
      "type": "object",
      "description": "Reason for cancellation.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason for cancellation."
        }
      },
      "required": [
        "reason"
      ]
    },
    "ClassDiscriminator": {
      "type": "string",
      "description": "Indicates the type of job details.",
      "enum": [
        "DataBox",
        "DataBoxDisk",
        "DataBoxHeavy",
        "DataBoxCustomerDisk"
      ],
      "x-ms-enum": {
        "name": "ClassDiscriminator",
        "modelAsString": false,
        "values": [
          {
            "name": "DataBox",
            "value": "DataBox",
            "description": "Data Box orders."
          },
          {
            "name": "DataBoxDisk",
            "value": "DataBoxDisk",
            "description": "Data Box Disk orders."
          },
          {
            "name": "DataBoxHeavy",
            "value": "DataBoxHeavy",
            "description": "Data Box Heavy orders."
          },
          {
            "name": "DataBoxCustomerDisk",
            "value": "DataBoxCustomerDisk",
            "description": "Data Box Customer Disk orders."
          }
        ]
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Provides additional information about an http error response.",
      "properties": {
        "additionalInfo": {
          "type": "array",
          "description": "Gets or sets additional error info.",
          "items": {
            "$ref": "#/definitions/AdditionalErrorInfo"
          },
          "readOnly": true
        },
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "details": {
          "type": "array",
          "description": "Gets or sets details for the error.",
          "items": {
            "$ref": "#/definitions/CloudError"
          },
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message parsed from the body of the http error response."
        },
        "target": {
          "type": "string",
          "description": "Gets or sets the target of the error."
        }
      }
    },
    "ContactDetails": {
      "type": "object",
      "description": "Contact Details.",
      "properties": {
        "contactName": {
          "type": "string",
          "description": "Contact name of the person."
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the contact person."
        },
        "phoneExtension": {
          "type": "string",
          "description": "Phone extension number of the contact person."
        },
        "mobile": {
          "type": "string",
          "description": "Mobile number of the contact person."
        },
        "emailList": {
          "type": "array",
          "description": "List of Email-ids to be notified about job progress.",
          "items": {
            "type": "string"
          }
        },
        "notificationPreference": {
          "type": "array",
          "description": "Notification preference for a job stage.",
          "items": {
            "$ref": "#/definitions/NotificationPreference"
          }
        }
      },
      "required": [
        "contactName",
        "phone",
        "emailList"
      ]
    },
    "ContactInfo": {
      "type": "object",
      "description": "Contact Info.",
      "properties": {
        "contactName": {
          "type": "string",
          "description": "Contact name of the person.",
          "minLength": 1
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the contact person.",
          "minLength": 1
        },
        "phoneExtension": {
          "type": "string",
          "description": "Phone extension number of the contact person."
        },
        "mobile": {
          "type": "string",
          "description": "Mobile number of the contact person."
        }
      },
      "required": [
        "contactName",
        "phone"
      ]
    },
    "CopyLogDetails": {
      "type": "object",
      "description": "Details for log generated during copy.",
      "properties": {
        "copyLogDetailsType": {
          "$ref": "#/definitions/ClassDiscriminator",
          "description": "Indicates the type of job details."
        }
      },
      "discriminator": "copyLogDetailsType",
      "required": [
        "copyLogDetailsType"
      ]
    },
    "CopyProgress": {
      "type": "object",
      "description": "Copy progress.",
      "properties": {
        "storageAccountName": {
          "type": "string",
          "description": "Name of the storage account. This will be empty for data account types other than storage account.",
          "readOnly": true
        },
        "transferType": {
          "$ref": "#/definitions/TransferType",
          "description": "Transfer type of data",
          "readOnly": true
        },
        "dataAccountType": {
          "$ref": "#/definitions/DataAccountType",
          "description": "Data Account Type.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Id of the account where the data needs to be uploaded.",
          "readOnly": true
        },
        "bytesProcessed": {
          "type": "integer",
          "format": "int64",
          "description": "To indicate bytes transferred.",
          "readOnly": true
        },
        "totalBytesToProcess": {
          "type": "integer",
          "format": "int64",
          "description": "Total amount of data to be processed by the job.",
          "readOnly": true
        },
        "filesProcessed": {
          "type": "integer",
          "format": "int64",
          "description": "Number of files processed",
          "readOnly": true
        },
        "totalFilesToProcess": {
          "type": "integer",
          "format": "int64",
          "description": "Total files to process",
          "readOnly": true
        },
        "invalidFilesProcessed": {
          "type": "integer",
          "format": "int64",
          "description": "Number of files not adhering to azure naming conventions which were processed by automatic renaming",
          "readOnly": true
        },
        "invalidFileBytesUploaded": {
          "type": "integer",
          "format": "int64",
          "description": "Total amount of data not adhering to azure naming conventions which were processed by automatic renaming",
          "readOnly": true
        },
        "renamedContainerCount": {
          "type": "integer",
          "format": "int64",
          "description": "Number of folders not adhering to azure naming conventions which were processed by automatic renaming",
          "readOnly": true
        },
        "filesErroredOut": {
          "type": "integer",
          "format": "int64",
          "description": "Number of files which could not be copied",
          "readOnly": true
        },
        "directoriesErroredOut": {
          "type": "integer",
          "format": "int64",
          "description": "To indicate directories errored out in the job.",
          "readOnly": true
        },
        "invalidDirectoriesProcessed": {
          "type": "integer",
          "format": "int64",
          "description": "To indicate directories renamed",
          "readOnly": true
        },
        "isEnumerationInProgress": {
          "type": "boolean",
          "description": "To indicate if enumeration of data is in progress.\nUntil this is true, the TotalBytesToProcess may not be valid.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/CloudError",
          "description": "Error, if any, in the stage",
          "readOnly": true
        },
        "actions": {
          "type": "array",
          "description": "Available actions on the job.",
          "items": {
            "$ref": "#/definitions/CustomerResolutionCode"
          },
          "readOnly": true
        }
      }
    },
    "CopyStatus": {
      "type": "string",
      "description": "The Status of the copy",
      "enum": [
        "NotStarted",
        "InProgress",
        "Completed",
        "CompletedWithErrors",
        "Failed",
        "NotReturned",
        "HardwareError",
        "DeviceFormatted",
        "DeviceMetadataModified",
        "StorageAccountNotAccessible",
        "UnsupportedData",
        "DriveNotReceived",
        "UnsupportedDrive",
        "OtherServiceError",
        "OtherUserError",
        "DriveNotDetected",
        "DriveCorrupted",
        "MetadataFilesModifiedOrRemoved"
      ],
      "x-ms-enum": {
        "name": "CopyStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Data copy hasn't started yet."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Data copy is in progress."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Data copy completed."
          },
          {
            "name": "CompletedWithErrors",
            "value": "CompletedWithErrors",
            "description": "Data copy completed with errors."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Data copy failed. No data was copied."
          },
          {
            "name": "NotReturned",
            "value": "NotReturned",
            "description": "No copy triggered as device was not returned."
          },
          {
            "name": "HardwareError",
            "value": "HardwareError",
            "description": "The Device has hit hardware issues."
          },
          {
            "name": "DeviceFormatted",
            "value": "DeviceFormatted",
            "description": "Data copy failed. The Device was formatted by user."
          },
          {
            "name": "DeviceMetadataModified",
            "value": "DeviceMetadataModified",
            "description": "Data copy failed. Device metadata was modified by user."
          },
          {
            "name": "StorageAccountNotAccessible",
            "value": "StorageAccountNotAccessible",
            "description": "Data copy failed. Storage Account was not accessible during copy."
          },
          {
            "name": "UnsupportedData",
            "value": "UnsupportedData",
            "description": "Data copy failed. The Device data content is not supported."
          },
          {
            "name": "DriveNotReceived",
            "value": "DriveNotReceived",
            "description": "No copy triggered as device was not received."
          },
          {
            "name": "UnsupportedDrive",
            "value": "UnsupportedDrive",
            "description": "No copy triggered as device type is not supported."
          },
          {
            "name": "OtherServiceError",
            "value": "OtherServiceError",
            "description": "Copy failed due to service error."
          },
          {
            "name": "OtherUserError",
            "value": "OtherUserError",
            "description": "Copy failed due to user error."
          },
          {
            "name": "DriveNotDetected",
            "value": "DriveNotDetected",
            "description": "Copy failed due to disk detection error."
          },
          {
            "name": "DriveCorrupted",
            "value": "DriveCorrupted",
            "description": "Copy failed due to corrupted drive."
          },
          {
            "name": "MetadataFilesModifiedOrRemoved",
            "value": "MetadataFilesModifiedOrRemoved",
            "description": "Copy failed due to modified or removed metadata files."
          }
        ]
      }
    },
    "CreateJobValidations": {
      "type": "object",
      "description": "It does all pre-job creation validations.",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationRequest"
        }
      ],
      "x-ms-discriminator-value": "JobCreationValidation"
    },
    "CreateOrderLimitForSubscriptionValidationRequest": {
      "type": "object",
      "description": "Request to validate create order limit for current subscription.",
      "properties": {
        "deviceType": {
          "$ref": "#/definitions/SkuName",
          "description": "Device type to be used for the job."
        },
        "model": {
          "$ref": "#/definitions/ModelName",
          "description": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
        }
      },
      "required": [
        "deviceType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputRequest"
        }
      ],
      "x-ms-discriminator-value": "ValidateCreateOrderLimit"
    },
    "CreateOrderLimitForSubscriptionValidationResponseProperties": {
      "type": "object",
      "description": "Properties of create order limit for subscription validation response.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ValidationStatus",
          "description": "Create order limit validation status.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputResponse"
        }
      ],
      "x-ms-discriminator-value": "ValidateCreateOrderLimit"
    },
    "CustomerDiskJobSecrets": {
      "type": "object",
      "description": "The secrets related to customer disk job.",
      "properties": {
        "diskSecrets": {
          "type": "array",
          "description": "Contains the list of secrets object for that device.",
          "items": {
            "$ref": "#/definitions/DiskSecret"
          },
          "readOnly": true
        },
        "carrierAccountNumber": {
          "type": "string",
          "format": "password",
          "description": "Carrier Account Number of the customer",
          "readOnly": true,
          "x-ms-secret": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "x-ms-discriminator-value": "DataBoxCustomerDisk"
    },
    "CustomerResolutionCode": {
      "type": "string",
      "description": "Resolution code provided by customer.",
      "enum": [
        "None",
        "MoveToCleanUpDevice",
        "Resume",
        "Restart",
        "ReachOutToOperation"
      ],
      "x-ms-enum": {
        "name": "CustomerResolutionCode",
        "modelAsString": false,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No Resolution Yet"
          },
          {
            "name": "MoveToCleanUpDevice",
            "value": "MoveToCleanUpDevice",
            "description": "Clean the device"
          },
          {
            "name": "Resume",
            "value": "Resume",
            "description": "Resume the job to same stage"
          },
          {
            "name": "Restart",
            "value": "Restart",
            "description": "Restart whole action."
          },
          {
            "name": "ReachOutToOperation",
            "value": "ReachOutToOperation",
            "description": "Reach out to operation for further action."
          }
        ]
      }
    },
    "DataAccountDetails": {
      "type": "object",
      "description": "Account details of the data to be transferred",
      "properties": {
        "dataAccountType": {
          "type": "string",
          "description": "Account Type of the data to be transferred.",
          "default": "StorageAccount",
          "enum": [
            "StorageAccount",
            "ManagedDisk"
          ],
          "x-ms-enum": {
            "name": "DataAccountType",
            "modelAsString": false,
            "values": [
              {
                "name": "StorageAccount",
                "value": "StorageAccount",
                "description": "Storage Accounts ."
              },
              {
                "name": "ManagedDisk",
                "value": "ManagedDisk",
                "description": "Azure Managed disk storage."
              }
            ]
          }
        },
        "sharePassword": {
          "type": "string",
          "format": "password",
          "description": "Password for all the shares to be created on the device. Should not be passed for TransferType:ExportFromAzure jobs. If this is not passed, the service will generate password itself. This will not be returned in Get Call. Password Requirements :  Password must be minimum of 12 and maximum of 64 characters. Password must have at least one uppercase alphabet, one number and one special character. Password cannot have the following characters : IilLoO0 Password can have only alphabets, numbers and these characters : @#\\-$%^!+=;:_()]+",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-secret": true
        }
      },
      "discriminator": "dataAccountType",
      "required": [
        "dataAccountType"
      ]
    },
    "DataAccountType": {
      "type": "string",
      "description": "Type of the account.",
      "enum": [
        "StorageAccount",
        "ManagedDisk"
      ],
      "x-ms-enum": {
        "name": "DataAccountType",
        "modelAsString": false,
        "values": [
          {
            "name": "StorageAccount",
            "value": "StorageAccount",
            "description": "Storage Accounts ."
          },
          {
            "name": "ManagedDisk",
            "value": "ManagedDisk",
            "description": "Azure Managed disk storage."
          }
        ]
      }
    },
    "DataBoxAccountCopyLogDetails": {
      "type": "object",
      "description": "Copy log details for a storage account of a DataBox job",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Account name.",
          "readOnly": true
        },
        "copyLogLink": {
          "type": "string",
          "description": "Link for copy logs.",
          "readOnly": true
        },
        "copyVerboseLogLink": {
          "type": "string",
          "description": "Link for copy verbose logs. This will be set only when LogCollectionLevel is set to Verbose.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBox"
    },
    "DataBoxCustomerDiskCopyLogDetails": {
      "type": "object",
      "description": "Copy Log Details for customer disk",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Disk Serial Number.",
          "readOnly": true
        },
        "errorLogLink": {
          "type": "string",
          "description": "Link for copy error logs.",
          "readOnly": true
        },
        "verboseLogLink": {
          "type": "string",
          "description": "Link for copy verbose logs.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxCustomerDisk"
    },
    "DataBoxCustomerDiskCopyProgress": {
      "type": "object",
      "description": "DataBox CustomerDisk Copy Progress",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Disk Serial Number.",
          "readOnly": true
        },
        "copyStatus": {
          "$ref": "#/definitions/CopyStatus",
          "description": "The Status of the copy",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CopyProgress"
        }
      ]
    },
    "DataBoxCustomerDiskJobDetails": {
      "type": "object",
      "description": "Customer disk job details.",
      "properties": {
        "importDiskDetailsCollection": {
          "type": "object",
          "description": "Contains the map of disk serial number to the disk details for import jobs.",
          "additionalProperties": {
            "$ref": "#/definitions/ImportDiskDetails"
          }
        },
        "exportDiskDetailsCollection": {
          "type": "object",
          "description": "Contains the map of disk serial number to the disk details for export jobs.",
          "additionalProperties": {
            "$ref": "#/definitions/ExportDiskDetails"
          },
          "readOnly": true
        },
        "copyProgress": {
          "type": "array",
          "description": "Copy progress per disk.",
          "items": {
            "$ref": "#/definitions/DataBoxCustomerDiskCopyProgress"
          },
          "readOnly": true
        },
        "deliverToDcPackageDetails": {
          "$ref": "#/definitions/PackageCarrierInfo",
          "description": "Delivery package shipping details.",
          "readOnly": true
        },
        "returnToCustomerPackageDetails": {
          "$ref": "#/definitions/PackageCarrierDetails",
          "description": "Return package shipping details."
        },
        "enableManifestBackup": {
          "type": "boolean",
          "description": "Flag to indicate if disk manifest should be backed-up in the Storage Account.",
          "default": false
        }
      },
      "required": [
        "returnToCustomerPackageDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxCustomerDisk"
    },
    "DataBoxDiskCopyLogDetails": {
      "type": "object",
      "description": "Copy Log Details for a disk",
      "properties": {
        "diskSerialNumber": {
          "type": "string",
          "description": "Disk Serial Number.",
          "readOnly": true
        },
        "errorLogLink": {
          "type": "string",
          "description": "Link for copy error logs.",
          "readOnly": true
        },
        "verboseLogLink": {
          "type": "string",
          "description": "Link for copy verbose logs.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DataBoxDiskCopyProgress": {
      "type": "object",
      "description": "DataBox Disk Copy Progress",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the disk",
          "readOnly": true
        },
        "bytesCopied": {
          "type": "integer",
          "format": "int64",
          "description": "Bytes copied during the copy of disk.",
          "readOnly": true
        },
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the percentage completed for the copy of the disk.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/CopyStatus",
          "description": "The Status of the copy",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/CloudError",
          "description": "Error, if any, in the stage",
          "readOnly": true
        },
        "actions": {
          "type": "array",
          "description": "Available actions on the job.",
          "items": {
            "$ref": "#/definitions/CustomerResolutionCode"
          },
          "readOnly": true
        }
      }
    },
    "DataBoxDiskGranularCopyLogDetails": {
      "type": "object",
      "description": "Granular Copy Log Details for customer disk",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Disk Serial Number.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account id.",
          "readOnly": true
        },
        "errorLogLink": {
          "type": "string",
          "description": "Link for copy error logs.",
          "readOnly": true
        },
        "verboseLogLink": {
          "type": "string",
          "description": "Link for copy verbose logs.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GranularCopyLogDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxCustomerDisk"
    },
    "DataBoxDiskGranularCopyProgress": {
      "type": "object",
      "description": "DataBox Disk Granular Copy Progress",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Disk Serial Number.",
          "readOnly": true
        },
        "copyStatus": {
          "$ref": "#/definitions/CopyStatus",
          "description": "The Status of the copy",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GranularCopyProgress"
        }
      ]
    },
    "DataBoxDiskJobDetails": {
      "type": "object",
      "description": "DataBox Disk Job Details.",
      "properties": {
        "preferredDisks": {
          "type": "object",
          "description": "User preference on what size disks are needed for the job. The map is from the disk size in TB to the count. Eg. {2,5} means 5 disks of 2 TB size. Key is string but will be checked against an int.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "copyProgress": {
          "type": "array",
          "description": "Copy progress per disk.",
          "items": {
            "$ref": "#/definitions/DataBoxDiskCopyProgress"
          },
          "readOnly": true
        },
        "granularCopyProgress": {
          "type": "array",
          "description": "Copy progress per disk.",
          "items": {
            "$ref": "#/definitions/DataBoxDiskGranularCopyProgress"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "granularCopyLogDetails": {
          "type": "array",
          "description": "Copy progress per disk.",
          "items": {
            "$ref": "#/definitions/DataBoxDiskGranularCopyLogDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "disksAndSizeDetails": {
          "type": "object",
          "description": "Contains the map of disk serial number to the disk size being used for the job. Is returned only after the disks are shipped to the customer.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true
        },
        "passkey": {
          "type": "string",
          "description": "User entered passkey for DataBox Disk job."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DataBoxDiskJobSecrets": {
      "type": "object",
      "description": "The secrets related to disk job.",
      "properties": {
        "diskSecrets": {
          "type": "array",
          "description": "Contains the list of secrets object for that device.",
          "items": {
            "$ref": "#/definitions/DiskSecret"
          },
          "readOnly": true
        },
        "passKey": {
          "type": "string",
          "description": "PassKey for the disk Job.",
          "readOnly": true
        },
        "isPasskeyUserDefined": {
          "type": "boolean",
          "description": "Whether passkey was provided by user.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DataBoxHeavyAccountCopyLogDetails": {
      "type": "object",
      "description": "Copy log details for a storage account for Databox heavy",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Account name.",
          "readOnly": true
        },
        "copyLogLink": {
          "type": "array",
          "description": "Link for copy logs.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "copyVerboseLogLink": {
          "type": "array",
          "description": "Link for copy verbose logs. This will be set only when the LogCollectionLevel is set to verbose.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "DataBoxHeavyJobDetails": {
      "type": "object",
      "description": "Databox Heavy Device Job Details",
      "properties": {
        "copyProgress": {
          "type": "array",
          "description": "Copy progress per account.",
          "items": {
            "$ref": "#/definitions/CopyProgress"
          },
          "readOnly": true
        },
        "devicePassword": {
          "type": "string",
          "description": "Set Device password for unlocking Databox Heavy. Should not be passed for TransferType:ExportFromAzure jobs. If this is not passed, the service will generate password itself. This will not be returned in Get Call. Password Requirements :  Password must be minimum of 12 and maximum of 64 characters. Password must have at least one uppercase alphabet, one number and one special character. Password cannot have the following characters : IilLoO0 Password can have only alphabets, numbers and these characters : @#\\-$%^!+=;:_()]+"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "DataBoxHeavyJobSecrets": {
      "type": "object",
      "description": "The secrets related to a databox heavy job.",
      "properties": {
        "cabinetPodSecrets": {
          "type": "array",
          "description": "Contains the list of secret objects for a databox heavy job.",
          "items": {
            "$ref": "#/definitions/DataBoxHeavySecret"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "DataBoxHeavySecret": {
      "type": "object",
      "description": "The secrets related to a databox heavy.",
      "properties": {
        "deviceSerialNumber": {
          "type": "string",
          "description": "Serial number of the assigned device.",
          "readOnly": true
        },
        "devicePassword": {
          "type": "string",
          "description": "Password for out of the box experience on device.",
          "readOnly": true
        },
        "networkConfigurations": {
          "type": "array",
          "description": "Network configuration of the appliance.",
          "items": {
            "$ref": "#/definitions/ApplianceNetworkConfiguration"
          },
          "readOnly": true
        },
        "encodedValidationCertPubKey": {
          "type": "string",
          "description": "The base 64 encoded public key to authenticate with the device",
          "readOnly": true
        },
        "accountCredentialDetails": {
          "type": "array",
          "description": "Per account level access credentials.",
          "items": {
            "$ref": "#/definitions/AccountCredentialDetails"
          },
          "readOnly": true
        }
      }
    },
    "DataBoxJobDetails": {
      "type": "object",
      "description": "Databox Job Details",
      "properties": {
        "copyProgress": {
          "type": "array",
          "description": "Copy progress per storage account.",
          "items": {
            "$ref": "#/definitions/CopyProgress"
          },
          "readOnly": true
        },
        "devicePassword": {
          "type": "string",
          "description": "Set Device password for unlocking Databox. Should not be passed for TransferType:ExportFromAzure jobs. If this is not passed, the service will generate password itself. This will not be returned in Get Call. Password Requirements :  Password must be minimum of 12 and maximum of 64 characters. Password must have at least one uppercase alphabet, one number and one special character. Password cannot have the following characters : IilLoO0 Password can have only alphabets, numbers and these characters : @#\\-$%^!+=;:_()]+"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "x-ms-discriminator-value": "DataBox"
    },
    "DataBoxScheduleAvailabilityRequest": {
      "type": "object",
      "description": "Request body to get the availability for scheduling data box orders orders.",
      "allOf": [
        {
          "$ref": "#/definitions/ScheduleAvailabilityRequest"
        }
      ],
      "x-ms-discriminator-value": "DataBox"
    },
    "DataBoxSecret": {
      "type": "object",
      "description": "The secrets related to a DataBox.",
      "properties": {
        "deviceSerialNumber": {
          "type": "string",
          "description": "Serial number of the assigned device.",
          "readOnly": true
        },
        "devicePassword": {
          "type": "string",
          "description": "Password for out of the box experience on device.",
          "readOnly": true
        },
        "networkConfigurations": {
          "type": "array",
          "description": "Network configuration of the appliance.",
          "items": {
            "$ref": "#/definitions/ApplianceNetworkConfiguration"
          },
          "readOnly": true
        },
        "encodedValidationCertPubKey": {
          "type": "string",
          "description": "The base 64 encoded public key to authenticate with the device",
          "readOnly": true
        },
        "accountCredentialDetails": {
          "type": "array",
          "description": "Per account level access credentials.",
          "items": {
            "$ref": "#/definitions/AccountCredentialDetails"
          },
          "readOnly": true
        }
      }
    },
    "DataCenterCode": {
      "type": "string",
      "description": "DataCenter code.",
      "enum": [
        "Invalid",
        "BY2",
        "BY1",
        "ORK70",
        "AM2",
        "AMS20",
        "BY21",
        "BY24",
        "MWH01",
        "AMS06",
        "SSE90",
        "SYD03",
        "SYD23",
        "CBR20",
        "YTO20",
        "CWL20",
        "LON24",
        "BOM01",
        "BL20",
        "BL7",
        "SEL20",
        "TYO01",
        "BN1",
        "SN5",
        "CYS04",
        "TYO22",
        "YTO21",
        "YQB20",
        "FRA22",
        "MAA01",
        "CPQ02",
        "CPQ20",
        "SIN20",
        "HKG20",
        "SG2",
        "MEL23",
        "SEL21",
        "OSA20",
        "SHA03",
        "BJB",
        "JNB22",
        "JNB21",
        "MNZ21",
        "SN8",
        "AUH20",
        "ZRH20",
        "PUS20",
        "AdHoc",
        "CH1",
        "DSM05",
        "DUB07",
        "PNQ01",
        "SVG20",
        "OSA02",
        "OSA22",
        "PAR22",
        "BN7",
        "SN6",
        "BJS20",
        "BL24",
        "IDC5",
        "TYO23",
        "NTG20",
        "DXB23",
        "DSM11",
        "AMS25",
        "CPQ21",
        "OSA23"
      ],
      "x-ms-enum": {
        "name": "DataCenterCode",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid"
          },
          {
            "name": "BY2",
            "value": "BY2"
          },
          {
            "name": "BY1",
            "value": "BY1"
          },
          {
            "name": "ORK70",
            "value": "ORK70"
          },
          {
            "name": "AM2",
            "value": "AM2"
          },
          {
            "name": "AMS20",
            "value": "AMS20"
          },
          {
            "name": "BY21",
            "value": "BY21"
          },
          {
            "name": "BY24",
            "value": "BY24"
          },
          {
            "name": "MWH01",
            "value": "MWH01"
          },
          {
            "name": "AMS06",
            "value": "AMS06"
          },
          {
            "name": "SSE90",
            "value": "SSE90"
          },
          {
            "name": "SYD03",
            "value": "SYD03"
          },
          {
            "name": "SYD23",
            "value": "SYD23"
          },
          {
            "name": "CBR20",
            "value": "CBR20"
          },
          {
            "name": "YTO20",
            "value": "YTO20"
          },
          {
            "name": "CWL20",
            "value": "CWL20"
          },
          {
            "name": "LON24",
            "value": "LON24"
          },
          {
            "name": "BOM01",
            "value": "BOM01"
          },
          {
            "name": "BL20",
            "value": "BL20"
          },
          {
            "name": "BL7",
            "value": "BL7"
          },
          {
            "name": "SEL20",
            "value": "SEL20"
          },
          {
            "name": "TYO01",
            "value": "TYO01"
          },
          {
            "name": "BN1",
            "value": "BN1"
          },
          {
            "name": "SN5",
            "value": "SN5"
          },
          {
            "name": "CYS04",
            "value": "CYS04"
          },
          {
            "name": "TYO22",
            "value": "TYO22"
          },
          {
            "name": "YTO21",
            "value": "YTO21"
          },
          {
            "name": "YQB20",
            "value": "YQB20"
          },
          {
            "name": "FRA22",
            "value": "FRA22"
          },
          {
            "name": "MAA01",
            "value": "MAA01"
          },
          {
            "name": "CPQ02",
            "value": "CPQ02"
          },
          {
            "name": "CPQ20",
            "value": "CPQ20"
          },
          {
            "name": "SIN20",
            "value": "SIN20"
          },
          {
            "name": "HKG20",
            "value": "HKG20"
          },
          {
            "name": "SG2",
            "value": "SG2"
          },
          {
            "name": "MEL23",
            "value": "MEL23"
          },
          {
            "name": "SEL21",
            "value": "SEL21"
          },
          {
            "name": "OSA20",
            "value": "OSA20"
          },
          {
            "name": "SHA03",
            "value": "SHA03"
          },
          {
            "name": "BJB",
            "value": "BJB"
          },
          {
            "name": "JNB22",
            "value": "JNB22"
          },
          {
            "name": "JNB21",
            "value": "JNB21"
          },
          {
            "name": "MNZ21",
            "value": "MNZ21"
          },
          {
            "name": "SN8",
            "value": "SN8"
          },
          {
            "name": "AUH20",
            "value": "AUH20"
          },
          {
            "name": "ZRH20",
            "value": "ZRH20"
          },
          {
            "name": "PUS20",
            "value": "PUS20"
          },
          {
            "name": "AdHoc",
            "value": "AdHoc"
          },
          {
            "name": "CH1",
            "value": "CH1"
          },
          {
            "name": "DSM05",
            "value": "DSM05"
          },
          {
            "name": "DUB07",
            "value": "DUB07"
          },
          {
            "name": "PNQ01",
            "value": "PNQ01"
          },
          {
            "name": "SVG20",
            "value": "SVG20"
          },
          {
            "name": "OSA02",
            "value": "OSA02"
          },
          {
            "name": "OSA22",
            "value": "OSA22"
          },
          {
            "name": "PAR22",
            "value": "PAR22"
          },
          {
            "name": "BN7",
            "value": "BN7"
          },
          {
            "name": "SN6",
            "value": "SN6"
          },
          {
            "name": "BJS20",
            "value": "BJS20"
          },
          {
            "name": "BL24",
            "value": "BL24"
          },
          {
            "name": "IDC5",
            "value": "IDC5"
          },
          {
            "name": "TYO23",
            "value": "TYO23"
          },
          {
            "name": "NTG20",
            "value": "NTG20"
          },
          {
            "name": "DXB23",
            "value": "DXB23"
          },
          {
            "name": "DSM11",
            "value": "DSM11"
          },
          {
            "name": "AMS25",
            "value": "AMS25"
          },
          {
            "name": "CPQ21",
            "value": "CPQ21"
          },
          {
            "name": "OSA23",
            "value": "OSA23"
          }
        ]
      }
    },
    "DataExportDetails": {
      "type": "object",
      "description": "Details of the data to be used for exporting data from azure.",
      "properties": {
        "transferConfiguration": {
          "$ref": "#/definitions/TransferConfiguration",
          "description": "Configuration for the data transfer."
        },
        "logCollectionLevel": {
          "type": "string",
          "description": "Level of the logs to be collected.",
          "default": "Error",
          "enum": [
            "Error",
            "Verbose"
          ],
          "x-ms-enum": {
            "name": "LogCollectionLevel",
            "modelAsString": false,
            "values": [
              {
                "name": "Error",
                "value": "Error",
                "description": "Only Errors will be collected in the logs."
              },
              {
                "name": "Verbose",
                "value": "Verbose",
                "description": "Verbose logging (includes Errors, CRC, size information and others)."
              }
            ]
          }
        },
        "accountDetails": {
          "$ref": "#/definitions/DataAccountDetails",
          "description": "Account details of the data to be transferred"
        }
      },
      "required": [
        "transferConfiguration",
        "accountDetails"
      ]
    },
    "DataImportDetails": {
      "type": "object",
      "description": "Details of the data to be used for importing data to azure.",
      "properties": {
        "accountDetails": {
          "$ref": "#/definitions/DataAccountDetails",
          "description": "Account details of the data to be transferred"
        },
        "logCollectionLevel": {
          "type": "string",
          "description": "Level of the logs to be collected.",
          "default": "Error",
          "enum": [
            "Error",
            "Verbose"
          ],
          "x-ms-enum": {
            "name": "LogCollectionLevel",
            "modelAsString": false,
            "values": [
              {
                "name": "Error",
                "value": "Error",
                "description": "Only Errors will be collected in the logs."
              },
              {
                "name": "Verbose",
                "value": "Verbose",
                "description": "Verbose logging (includes Errors, CRC, size information and others)."
              }
            ]
          }
        }
      },
      "required": [
        "accountDetails"
      ]
    },
    "DataLocationToServiceLocationMap": {
      "type": "object",
      "description": "Map of data location to service location",
      "properties": {
        "dataLocation": {
          "type": "string",
          "description": "Location of the data.",
          "readOnly": true
        },
        "serviceLocation": {
          "type": "string",
          "description": "Location of the service.",
          "readOnly": true
        }
      }
    },
    "DataTransferDetailsValidationRequest": {
      "type": "object",
      "description": "Request to validate export and import data details.",
      "properties": {
        "dataExportDetails": {
          "type": "array",
          "description": "List of DataTransfer details to be used to export data from azure.",
          "items": {
            "$ref": "#/definitions/DataExportDetails"
          }
        },
        "dataImportDetails": {
          "type": "array",
          "description": "List of DataTransfer details to be used to import data to azure.",
          "items": {
            "$ref": "#/definitions/DataImportDetails"
          }
        },
        "deviceType": {
          "$ref": "#/definitions/SkuName",
          "description": "Device type."
        },
        "transferType": {
          "$ref": "#/definitions/TransferType",
          "description": "Type of the transfer."
        },
        "model": {
          "$ref": "#/definitions/ModelName",
          "description": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
        }
      },
      "required": [
        "deviceType",
        "transferType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputRequest"
        }
      ],
      "x-ms-discriminator-value": "ValidateDataTransferDetails"
    },
    "DataTransferDetailsValidationResponseProperties": {
      "type": "object",
      "description": "Properties of data transfer details validation response.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ValidationStatus",
          "description": "Data transfer details validation status.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputResponse"
        }
      ],
      "x-ms-discriminator-value": "ValidateDataTransferDetails"
    },
    "DataboxJobSecrets": {
      "type": "object",
      "description": "The secrets related to a databox job.",
      "properties": {
        "podSecrets": {
          "type": "array",
          "description": "Contains the list of secret objects for a job.",
          "items": {
            "$ref": "#/definitions/DataBoxSecret"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "x-ms-discriminator-value": "DataBox"
    },
    "DatacenterAddressInstructionResponse": {
      "type": "object",
      "description": "Datacenter instruction for given storage location.",
      "properties": {
        "communicationInstruction": {
          "type": "string",
          "description": "Data center communication instruction",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DatacenterAddressResponse"
        }
      ],
      "x-ms-discriminator-value": "DatacenterAddressInstruction"
    },
    "DatacenterAddressLocationResponse": {
      "type": "object",
      "description": "Datacenter address for given storage location.",
      "properties": {
        "contactPersonName": {
          "type": "string",
          "description": "Contact person name",
          "readOnly": true
        },
        "company": {
          "type": "string",
          "description": "Company name",
          "readOnly": true
        },
        "street1": {
          "type": "string",
          "description": "Street address line 1",
          "readOnly": true
        },
        "street2": {
          "type": "string",
          "description": "Street address line 2",
          "readOnly": true
        },
        "street3": {
          "type": "string",
          "description": "Street address line 3",
          "readOnly": true
        },
        "city": {
          "type": "string",
          "description": "City name",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "name of the state",
          "readOnly": true
        },
        "zip": {
          "type": "string",
          "description": "Zip code",
          "readOnly": true
        },
        "country": {
          "type": "string",
          "description": "name of the country",
          "readOnly": true
        },
        "phone": {
          "type": "string",
          "description": "Phone number",
          "readOnly": true
        },
        "phoneExtension": {
          "type": "string",
          "description": "Phone extension",
          "readOnly": true
        },
        "addressType": {
          "type": "string",
          "description": "Address type",
          "readOnly": true
        },
        "additionalShippingInformation": {
          "type": "string",
          "description": "Special instruction for shipping",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DatacenterAddressResponse"
        }
      ],
      "x-ms-discriminator-value": "DatacenterAddressLocation"
    },
    "DatacenterAddressRequest": {
      "type": "object",
      "description": "Request body to get the datacenter address.",
      "properties": {
        "storageLocation": {
          "type": "string",
          "description": "Storage location. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01"
        },
        "skuName": {
          "$ref": "#/definitions/SkuName",
          "description": "Sku Name for which the data center address requested."
        },
        "model": {
          "$ref": "#/definitions/ModelName",
          "description": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
        }
      },
      "required": [
        "storageLocation",
        "skuName"
      ]
    },
    "DatacenterAddressResponse": {
      "type": "object",
      "description": "Datacenter address for given storage location.",
      "properties": {
        "datacenterAddressType": {
          "$ref": "#/definitions/DatacenterAddressType",
          "description": "Data center address type"
        },
        "supportedCarriersForReturnShipment": {
          "type": "array",
          "description": "List of supported carriers for return shipment.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "dataCenterAzureLocation": {
          "type": "string",
          "description": "Azure Location where the Data Center serves primarily.",
          "readOnly": true
        }
      },
      "discriminator": "datacenterAddressType",
      "required": [
        "datacenterAddressType"
      ]
    },
    "DatacenterAddressType": {
      "type": "string",
      "description": "Data center address type",
      "enum": [
        "DatacenterAddressLocation",
        "DatacenterAddressInstruction"
      ],
      "x-ms-enum": {
        "name": "DatacenterAddressType",
        "modelAsString": false,
        "values": [
          {
            "name": "DatacenterAddressLocation",
            "value": "DatacenterAddressLocation",
            "description": "Data center address location."
          },
          {
            "name": "DatacenterAddressInstruction",
            "value": "DatacenterAddressInstruction",
            "description": "Data center address instruction."
          }
        ]
      }
    },
    "DcAccessSecurityCode": {
      "type": "object",
      "description": "Dc access security code",
      "properties": {
        "reverseDCAccessCode": {
          "type": "string",
          "description": "Reverse Dc access security code."
        },
        "forwardDCAccessCode": {
          "type": "string",
          "description": "Forward Dc access security code."
        }
      }
    },
    "DelayNotificationStatus": {
      "type": "string",
      "description": "Status of notification",
      "enum": [
        "Active",
        "Resolved"
      ],
      "x-ms-enum": {
        "name": "DelayNotificationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Delay is still active"
          },
          {
            "name": "Resolved",
            "value": "Resolved",
            "description": "Delay has been resolved"
          }
        ]
      }
    },
    "Details": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "DeviceCapabilityDetails": {
      "type": "object",
      "description": "Device capability details for a given sku for a given region.",
      "properties": {
        "hardwareEncryption": {
          "$ref": "#/definitions/HardwareEncryption",
[...]
