{  
   "swagger":"2.0",
   "info":{  
      "version":"2018-09-01-preview",
      "title":"Azure Migrate Hub",
      "description":"Migrate your workloads to Azure.",
      "contact":{  
         "name":"Microsoft",
         "email":"azuremigrate@microsoft.com"
      }
   },
   "host":"management.azure.com",
   "schemes":[  
      "https"
   ],
   "produces":[  
      "application/json"
   ],
   "consumes":[  
      "application/json"
   ],
   "parameters":{  
      "subscriptionId":{  
         "name":"subscriptionId",
         "description":"Azure Subscription Id in which migrate project was created.",
         "type":"string",
         "in":"path",
         "required":true
      },
      "resourceGroupName":{  
         "name":"resourceGroupName",
         "description":"Name of the Azure Resource Group that migrate project is part of.",
         "type":"string",
         "in":"path",
         "x-ms-parameter-location":"method",
         "required":true
      },
      "migrateProjectName":{  
         "name":"migrateProjectName",
         "description":"Name of the Azure Migrate project.",
         "type":"string",
         "in":"path",
         "x-ms-parameter-location":"method",
         "required":true
      },
      "machineName":{  
         "name":"machineName",
         "description":"Unique name of a machine in Azure migration hub.",
         "type":"string",
         "in":"path",
         "x-ms-parameter-location":"method",
         "required":true
      },
      "solutionName":{  
         "name":"solutionName",
         "description":"Unique name of a migration solution within a migrate project.",
         "type":"string",
         "in":"path",
         "x-ms-parameter-location":"method",
         "required":true
      },
      "errorName":{  
         "name":"errorName",
         "description":"Unique name of an error within a migrate project.",
         "type":"string",
         "in":"path",
         "x-ms-parameter-location":"method",
         "required":true
      },
      "continuationToken":{  
         "name":"continuationToken",
         "description":"The continuation token.",
         "type":"string",
         "in":"query",
         "required":false,
         "x-ms-parameter-location":"method"
      },
      "api-version":{  
         "name":"api-version",
         "description":"Standard request header. Used by service to identify API version used by client.",
         "type":"string",
         "in":"query",
         "required":true,
         "enum":[  
            "2018-09-01-preview"
         ]
      },
      "acceptLanguage":{  
         "description":"Standard request header. Used by service to respond to client in appropriate language.",
         "name":"Accept-Language",
         "type":"string",
         "in":"header",
         "x-ms-parameter-location":"client"
      }
   },
   "securityDefinitions":{  
      "azure_auth":{  
         "type":"oauth2",
         "authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize",
         "flow":"implicit",
         "description":"Azure Active Directory OAuth2 Flow",
         "scopes":{  
            "user_impersonation":"impersonate your user account"
         }
      }
   },
   "security":[  
      {  
         "azure_auth":[  
            "user_impersonation"
         ]
      }
   ],
   "paths":{  
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/MigrateErrors":{  
         "get":{  
            "tags":[  
               "Errors"
            ],
            "summary":"Gets a list of errors in the migrate project.",
            "operationId":"Errors_EnumerateErrors",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "$ref":"#/parameters/continuationToken"
               },
               {  
                  "$ref":"#/parameters/acceptLanguage"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/ErrorCollection"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateErrors_List":{  
                  "$ref":"./examples/MigrateErrors_List.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/MigrateErrors/{errorName}":{  
         "get":{  
            "tags":[  
               "Errors"
            ],
            "summary":"Gets an error in the migrate project.",
            "operationId":"Errors_GetError",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "$ref":"#/parameters/errorName"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/Error"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateErrors_Get":{  
                  "$ref":"./examples/MigrateErrors_Get.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/Machines":{  
         "get":{  
            "tags":[  
               "Machines"
            ],
            "summary":"Gets a list of machines in the migrate project.",
            "operationId":"Machines_EnumerateMachines",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "$ref":"#/parameters/continuationToken"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/MachineCollection"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Machines_List":{  
                  "$ref":"./examples/Machines_List.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/Machines/{machineName}":{  
         "get":{  
            "tags":[  
               "Machines"
            ],
            "summary":"Gets a machine in the migrate project.",
            "operationId":"Machines_GetMachine",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "$ref":"#/parameters/machineName"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/Machine"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Machines_Get":{  
                  "$ref":"./examples/Machines_Get.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}":{  
         "get":{  
            "tags":[  
               "MigrateProjects"
            ],
            "summary":"Method to get a migrate project.",
            "operationId":"MigrateProjects_GetMigrateProject",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/MigrateProject"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateProjects_Get":{  
                  "$ref":"./examples/MigrateProjects_Get.json"
               }
            }
         },
         "put":{  
            "tags":[  
               "MigrateProjects"
            ],
            "summary":"Method to create or update a migrate project.",
            "operationId":"MigrateProjects_PutMigrateProject",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "name":"body",
                  "in":"body",
                  "description":"Body with migrate project details.",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/MigrateProject"
                  }
               },
               {  
                  "$ref":"#/parameters/acceptLanguage"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/MigrateProject"
                  }
               },
               "201":{  
                  "description":"Created",
                  "schema":{  
                     "$ref":"#/definitions/MigrateProject"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateProjects_Put":{  
                  "$ref":"./examples/MigrateProjects_Put.json"
               }
            }
         },
         "patch":{  
            "tags":[  
               "MigrateProjects"
            ],
            "summary":"Update migrate project.",
            "description":"Update a migrate project with specified name. Supports partial updates, for example only tags can be provided.",
            "operationId":"MigrateProjects_PatchMigrateProject",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "name":"body",
                  "in":"body",
                  "description":"Body with migrate project details.",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/MigrateProject"
                  }
               },
               {  
                  "$ref":"#/parameters/acceptLanguage"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/MigrateProject"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateProjects_Patch":{  
                  "$ref":"./examples/MigrateProjects_Patch.json"
               }
            }
         },
         "delete":{  
            "tags":[  
               "MigrateProjects"
            ],
            "summary":"Delete the migrate project",
            "description":"Delete the migrate project. Deleting non-existent project is a no-operation.",
            "operationId":"MigrateProjects_DeleteMigrateProject",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "$ref":"#/parameters/acceptLanguage"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK"
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateProjects_Delete":{  
                  "$ref":"./examples/MigrateProjects_Delete.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/registerTool":{  
         "post":{  
            "tags":[  
               "MigrateProjects"
            ],
            "summary":"Registers a tool with the migrate project.",
            "operationId":"MigrateProjects_RegisterTool",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "name":"input",
                  "in":"body",
                  "description":"Input containing the name of the tool to be registered.",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/RegisterToolInput"
                  }
               },
               {  
                  "$ref":"#/parameters/acceptLanguage"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/RegistrationResult"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateProjects_RegisterTool":{  
                  "$ref":"./examples/MigrateProjects_RegisterTool.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/refreshSummary":{  
         "post":{  
            "tags":[  
               "MigrateProjects"
            ],
            "summary":"Refresh the summary of the migrate project.",
            "operationId":"MigrateProjects_RefreshMigrateProjectSummary",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/RefreshSummaryResult"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "MigrateProjects_RefreshSummary":{  
                  "$ref":"./examples/MigrateProjects_RefreshSummary.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/Solutions/{solutionName}":{  
         "get":{  
            "tags":[  
               "Solutions"
            ],
            "summary":"Gets a solution in the migrate project.",
            "operationId":"Solutions_GetSolution",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/solutionName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/Solution"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Solutions_Get":{  
                  "$ref":"./examples/Solutions_Get.json"
               }
            }
         },
         "put":{  
            "tags":[  
               "Solutions"
            ],
            "summary":"Creates a solution in the migrate project.",
            "operationId":"Solutions_PutSolution",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/solutionName"
               },
               {  
                  "name":"solutionInput",
                  "in":"body",
                  "description":"The input for the solution.",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/Solution"
                  }
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/Solution"
                  }
               },
               "201":{  
                  "description":"Created",
                  "schema":{  
                     "$ref":"#/definitions/Solution"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Solutions_Put":{  
                  "$ref":"./examples/Solutions_Put.json"
               }
            }
         },
         "patch":{  
            "tags":[  
               "Solutions"
            ],
            "summary":"Update solution.",
            "description":"Update a solution with specified name. Supports partial updates, for example only tags can be provided.",
            "operationId":"Solutions_PatchSolution",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/solutionName"
               },
               {  
                  "name":"solutionInput",
                  "in":"body",
                  "description":"The input for the solution.",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/Solution"
                  }
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/Solution"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Solutions_Patch":{  
                  "$ref":"./examples/Solutions_Patch.json"
               }
            }
         },
         "delete":{  
            "tags":[  
               "Solutions"
            ],
            "summary":"Delete the solution",
            "description":"Delete the solution. Deleting non-existent project is a no-operation.",
            "operationId":"Solutions_DeleteSolution",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/solutionName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               },
               {  
                  "$ref":"#/parameters/acceptLanguage"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK"
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Solutions_Delete":{  
                  "$ref":"./examples/Solutions_Delete.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/Solutions":{  
         "get":{  
            "tags":[  
               "Solutions"
            ],
            "summary":"Gets the list of solutions in the migrate project.",
            "operationId":"Solutions_EnumerateSolutions",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/SolutionsCollection"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Solutions_List":{  
                  "$ref":"./examples/Solutions_List.json"
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/Solutions/{solutionName}/getConfig":{  
         "post":{  
            "tags":[  
               "Solutions"
            ],
            "summary":"Gets the config for the solution in the migrate project.",
            "operationId":"Solutions_GetConfig",
            "parameters":[  
               {  
                  "$ref":"#/parameters/subscriptionId"
               },
               {  
                  "$ref":"#/parameters/resourceGroupName"
               },
               {  
                  "$ref":"#/parameters/migrateProjectName"
               },
               {  
                  "$ref":"#/parameters/solutionName"
               },
               {  
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/SolutionConfig"
                  }
               }
            },
            "deprecated":false,
            "x-ms-examples":{  
               "Solutions_GetConfig":{  
                  "$ref":"./examples/Solutions_GetConfig.json"
               }
            }
         }
      },
      "/providers/Microsoft.Migrate/operations":{  
         "get":{  
            "summary":"Get list of operations supported in the API.",
            "description":"Get a list of REST API supported by Microsoft.Migrate provider.",
            "operationId":"Operations_List",
            "responses":{  
               "200":{  
                  "description":"OK. Returns list of operations.",
                  "schema":{  
                     "$ref":"#/definitions/OperationResultList"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":null
            },
            "x-ms-examples":{  
               "Operations_List":{  
                  "$ref":"./examples/Operations_List.json"
               }
            }
         }
      }
   },
   "definitions":{  
      "Object":{  
         "type":"object",
         "properties":{  

         }
      },
      "ErrorCollection":{  
         "description":"Collection of errors.",
         "type":"object",
         "properties":{  
            "value":{  
               "description":"Gets or sets the machines.",
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/Error"
               }
            },
            "nextLink":{  
               "description":"Gets or sets the value of nextLink.",
               "type":"string"
            }
         }
      },
      "Error":{  
         "description":"Error REST resource.",
         "type":"object",
         "properties":{  
            "id":{  
               "description":"Gets or sets the relative URL to get to this REST resource.",
               "type":"string"
            },
            "name":{  
               "description":"Gets or sets the name of this REST resource.",
               "type":"string"
            },
            "type":{  
               "description":"Gets the type of this REST resource.",
               "type":"string",
               "readOnly":true
            },
            "properties":{  
               "$ref":"#/definitions/ErrorProperties",
               "description":"Gets or sets the properties of the error."
            }
         }
      },
      "ErrorProperties":{  
         "description":"Properties of the error resource.",
         "type":"object",
         "properties":{  
            "errorCode":{  
               "description":"Gets or sets the error code.",
               "type":"string"
            },
            "errorMessage":{  
               "description":"Gets or sets the error message.",
               "type":"string"
            },
            "recommendation":{  
               "description":"Gets or sets the recommendation for the error.",
               "type":"string"
            },
            "possibleCauses":{  
               "description":"Gets or sets the possible causes for the error.",
               "type":"string"
            },
            "solution":{  
               "description":"Gets or sets the solution for which the error is being reported.",
               "type":"string"
            },
            "machine":{  
               "description":"Gets or sets the machine for which the error is being reported.",
               "type":"string"
            }
         }
      },
      "ODataQueryOptions`1":{  
         "type":"object",
         "properties":{  
            "ifMatch":{  
               "$ref":"#/definitions/Object",
               "readOnly":true
            },
            "ifNoneMatch":{  
               "$ref":"#/definitions/Object",
               "readOnly":true
            },
            "request":{  
               "$ref":"#/definitions/Object",
               "readOnly":true
            },
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "rawValues":{  
               "$ref":"#/definitions/ODataRawQueryOptions",
               "readOnly":true
            },
            "selectExpand":{  
               "$ref":"#/definitions/SelectExpandQueryOption",
               "readOnly":true
            },
            "apply":{  
               "$ref":"#/definitions/ApplyQueryOption",
               "readOnly":true
            },
            "filter":{  
               "$ref":"#/definitions/FilterQueryOption",
               "readOnly":true
            },
            "orderBy":{  
               "$ref":"#/definitions/OrderByQueryOption",
               "readOnly":true
            },
            "skip":{  
               "$ref":"#/definitions/SkipQueryOption",
               "readOnly":true
            },
            "top":{  
               "$ref":"#/definitions/TopQueryOption",
               "readOnly":true
            },
            "count":{  
               "$ref":"#/definitions/CountQueryOption",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/ODataQueryValidator"
            }
         }
      },
      "ODataQueryContext":{  
         "type":"object",
         "properties":{  
            "defaultQuerySettings":{  
               "$ref":"#/definitions/DefaultQuerySettings",
               "readOnly":true
            },
            "model":{  
               "$ref":"#/definitions/IEdmModel",
               "readOnly":true
            },
            "elementType":{  
               "$ref":"#/definitions/IEdmType",
               "readOnly":true
            },
            "navigationSource":{  
               "$ref":"#/definitions/IEdmNavigationSource",
               "readOnly":true
            },
            "elementClrType":{  
               "type":"string",
               "readOnly":true
            },
            "path":{  
               "$ref":"#/definitions/ODataPath",
               "readOnly":true
            },
            "requestContainer":{  
               "$ref":"#/definitions/IServiceProvider",
               "readOnly":true
            }
         }
      },
      "ODataRawQueryOptions":{  
         "type":"object",
         "properties":{  
            "filter":{  
               "type":"string",
               "readOnly":true
            },
            "apply":{  
               "type":"string",
               "readOnly":true
            },
            "orderBy":{  
               "type":"string",
               "readOnly":true
            },
            "top":{  
               "type":"string",
               "readOnly":true
            },
            "skip":{  
               "type":"string",
               "readOnly":true
            },
            "select":{  
               "type":"string",
               "readOnly":true
            },
            "expand":{  
               "type":"string",
               "readOnly":true
            },
            "count":{  
               "type":"string",
               "readOnly":true
            },
            "format":{  
               "type":"string",
               "readOnly":true
            },
            "skipToken":{  
               "type":"string",
               "readOnly":true
            },
            "deltaToken":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "SelectExpandQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "rawSelect":{  
               "type":"string",
               "readOnly":true
            },
            "rawExpand":{  
               "type":"string",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/SelectExpandQueryValidator"
            },
            "selectExpandClause":{  
               "$ref":"#/definitions/SelectExpandClause",
               "readOnly":true
            },
            "levelsMaxLiteralExpansionDepth":{  
               "format":"int32",
               "type":"integer"
            }
         }
      },
      "ApplyQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "resultClrType":{  
               "type":"string",
               "readOnly":true
            },
            "applyClause":{  
               "$ref":"#/definitions/ApplyClause",
               "readOnly":true
            },
            "rawValue":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "FilterQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/FilterQueryValidator"
            },
            "filterClause":{  
               "$ref":"#/definitions/FilterClause",
               "readOnly":true
            },
            "rawValue":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "OrderByQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "orderByNodes":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/OrderByNode"
               },
               "readOnly":true
            },
            "rawValue":{  
               "type":"string",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/OrderByQueryValidator"
            },
            "orderByClause":{  
               "$ref":"#/definitions/OrderByClause",
               "readOnly":true
            }
         }
      },
      "SkipQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "rawValue":{  
               "type":"string",
               "readOnly":true
            },
            "value":{  
               "format":"int32",
               "type":"integer",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/SkipQueryValidator"
            }
         }
      },
      "TopQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "rawValue":{  
               "type":"string",
               "readOnly":true
            },
            "value":{  
               "format":"int32",
               "type":"integer",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/TopQueryValidator"
            }
         }
      },
      "CountQueryOption":{  
         "type":"object",
         "properties":{  
            "context":{  
               "$ref":"#/definitions/ODataQueryContext",
               "readOnly":true
            },
            "rawValue":{  
               "type":"string",
               "readOnly":true
            },
            "value":{  
               "type":"boolean",
               "readOnly":true
            },
            "validator":{  
               "$ref":"#/definitions/CountQueryValidator"
            }
         }
      },
      "ODataQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "DefaultQuerySettings":{  
         "type":"object",
         "properties":{  
            "enableExpand":{  
               "type":"boolean"
            },
            "enableSelect":{  
               "type":"boolean"
            },
            "enableCount":{  
               "type":"boolean"
            },
            "enableOrderBy":{  
               "type":"boolean"
            },
            "enableFilter":{  
               "type":"boolean"
            },
            "maxTop":{  
               "format":"int32",
               "type":"integer"
            }
         }
      },
      "IEdmModel":{  
         "type":"object",
         "properties":{  
            "schemaElements":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/IEdmSchemaElement"
               },
               "readOnly":true
            },
            "vocabularyAnnotations":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/IEdmVocabularyAnnotation"
               },
               "readOnly":true
            },
            "referencedModels":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/IEdmModel"
               },
               "readOnly":true
            },
            "declaredNamespaces":{  
               "type":"array",
               "items":{  
                  "type":"string"
               },
               "readOnly":true
            },
            "directValueAnnotationsManager":{  
               "$ref":"#/definitions/IEdmDirectValueAnnotationsManager",
               "readOnly":true
            },
            "entityContainer":{  
               "$ref":"#/definitions/IEdmEntityContainer",
               "readOnly":true
            }
         }
      },
      "IEdmType":{  
         "type":"object",
         "properties":{  
            "typeKind":{  
               "enum":[  
                  "None",
                  "Primitive",
                  "Entity",
                  "Complex",
                  "Collection",
                  "EntityReference",
                  "Enum",
                  "TypeDefinition",
                  "Untyped",
                  "Path"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmNavigationSource":{  
         "type":"object",
         "properties":{  
            "navigationPropertyBindings":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/IEdmNavigationPropertyBinding"
               },
               "readOnly":true
            },
            "path":{  
               "$ref":"#/definitions/IEdmPathExpression",
               "readOnly":true
            },
            "type":{  
               "$ref":"#/definitions/IEdmType",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ODataPath":{  
         "type":"object",
         "properties":{  
            "edmType":{  
               "$ref":"#/definitions/IEdmType",
               "readOnly":true
            },
            "navigationSource":{  
               "$ref":"#/definitions/IEdmNavigationSource",
               "readOnly":true
            },
            "segments":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/ODataPathSegment"
               },
               "readOnly":true
            },
            "pathTemplate":{  
               "type":"string",
               "readOnly":true
            },
            "path":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/ODataPathSegment"
               },
               "readOnly":true
            }
         }
      },
      "IServiceProvider":{  
         "type":"object",
         "properties":{  

         }
      },
      "SelectExpandQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "SelectExpandClause":{  
         "type":"object",
         "properties":{  
            "selectedItems":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/SelectItem"
               },
               "readOnly":true
            },
            "allSelected":{  
               "type":"boolean",
               "readOnly":true
            }
         }
      },
      "ApplyClause":{  
         "type":"object",
         "properties":{  
            "transformations":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/TransformationNode"
               },
               "readOnly":true
            }
         }
      },
      "FilterQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "FilterClause":{  
         "type":"object",
         "properties":{  
            "expression":{  
               "$ref":"#/definitions/SingleValueNode",
               "readOnly":true
            },
            "rangeVariable":{  
               "$ref":"#/definitions/RangeVariable",
               "readOnly":true
            },
            "itemType":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            }
         }
      },
      "OrderByNode":{  
         "type":"object",
         "properties":{  
            "direction":{  
               "enum":[  
                  "Ascending",
                  "Descending"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "OrderByQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "OrderByClause":{  
         "type":"object",
         "properties":{  
            "thenBy":{  
               "$ref":"#/definitions/OrderByClause",
               "readOnly":true
            },
            "expression":{  
               "$ref":"#/definitions/SingleValueNode",
               "readOnly":true
            },
            "direction":{  
               "enum":[  
                  "Ascending",
                  "Descending"
               ],
               "type":"string",
               "readOnly":true
            },
            "rangeVariable":{  
               "$ref":"#/definitions/RangeVariable",
               "readOnly":true
            },
            "itemType":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            }
         }
      },
      "SkipQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "TopQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "CountQueryValidator":{  
         "type":"object",
         "properties":{  

         }
      },
      "IEdmSchemaElement":{  
         "type":"object",
         "properties":{  
            "schemaElementKind":{  
               "enum":[  
                  "None",
                  "TypeDefinition",
                  "Term",
                  "Action",
                  "EntityContainer",
                  "Function"
               ],
               "type":"string",
               "readOnly":true
            },
            "namespace":{  
               "type":"string",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmVocabularyAnnotation":{  
         "type":"object",
         "properties":{  
            "qualifier":{  
               "type":"string",
               "readOnly":true
            },
            "term":{  
               "$ref":"#/definitions/IEdmTerm",
               "readOnly":true
            },
            "target":{  
               "$ref":"#/definitions/IEdmVocabularyAnnotatable",
               "readOnly":true
            },
            "value":{  
               "$ref":"#/definitions/IEdmExpression",
               "readOnly":true
            }
         }
      },
      "IEdmDirectValueAnnotationsManager":{  
         "type":"object",
         "properties":{  

         }
      },
      "IEdmEntityContainer":{  
         "type":"object",
         "properties":{  
            "elements":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/IEdmEntityContainerElement"
               },
               "readOnly":true
            },
            "schemaElementKind":{  
               "enum":[  
                  "None",
                  "TypeDefinition",
                  "Term",
                  "Action",
                  "EntityContainer",
                  "Function"
               ],
               "type":"string",
               "readOnly":true
            },
            "namespace":{  
               "type":"string",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmNavigationPropertyBinding":{  
         "type":"object",
         "properties":{  
            "navigationProperty":{  
               "$ref":"#/definitions/IEdmNavigationProperty",
               "readOnly":true
            },
            "target":{  
               "$ref":"#/definitions/IEdmNavigationSource",
               "readOnly":true
            },
            "path":{  
               "$ref":"#/definitions/IEdmPathExpression",
               "readOnly":true
            }
         }
      },
      "IEdmPathExpression":{  
         "type":"object",
         "properties":{  
            "pathSegments":{  
               "type":"array",
               "items":{  
                  "type":"string"
               },
               "readOnly":true
            },
            "path":{  
               "type":"string",
               "readOnly":true
            },
            "expressionKind":{  
               "enum":[  
                  "None",
                  "BinaryConstant",
                  "BooleanConstant",
                  "DateTimeOffsetConstant",
                  "DecimalConstant",
                  "FloatingConstant",
                  "GuidConstant",
                  "IntegerConstant",
                  "StringConstant",
                  "DurationConstant",
                  "Null",
                  "Record",
                  "Collection",
                  "Path",
                  "If",
                  "Cast",
                  "IsType",
                  "FunctionApplication",
                  "LabeledExpressionReference",
                  "Labeled",
                  "PropertyPath",
                  "NavigationPropertyPath",
                  "DateConstant",
                  "TimeOfDayConstant",
                  "EnumMember",
                  "AnnotationPath"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ODataPathSegment":{  
         "type":"object",
         "properties":{  
            "edmType":{  
               "$ref":"#/definitions/IEdmType",
               "readOnly":true
            },
            "identifier":{  
               "type":"string"
            }
         }
      },
      "SelectItem":{  
         "type":"object",
         "properties":{  

         }
      },
      "TransformationNode":{  
         "type":"object",
         "properties":{  
            "kind":{  
               "enum":[  
                  "Aggregate",
                  "GroupBy",
                  "Filter",
                  "Compute"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "SingleValueNode":{  
         "type":"object",
         "properties":{  
            "typeReference":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            },
            "kind":{  
               "enum":[  
                  "None",
                  "Constant",
                  "Convert",
                  "NonResourceRangeVariableReference",
                  "BinaryOperator",
                  "UnaryOperator",
                  "SingleValuePropertyAccess",
                  "CollectionPropertyAccess",
                  "SingleValueFunctionCall",
                  "Any",
                  "CollectionNavigationNode",
                  "SingleNavigationNode",
                  "SingleValueOpenPropertyAccess",
                  "SingleResourceCast",
                  "All",
                  "CollectionResourceCast",
                  "ResourceRangeVariableReference",
                  "SingleResourceFunctionCall",
                  "CollectionFunctionCall",
                  "CollectionResourceFunctionCall",
                  "NamedFunctionParameter",
                  "ParameterAlias",
                  "EntitySet",
                  "KeyLookup",
                  "SearchTerm",
                  "CollectionOpenPropertyAccess",
                  "CollectionComplexNode",
                  "SingleComplexNode",
                  "Count",
                  "SingleValueCast",
                  "CollectionPropertyNode",
                  "AggregatedCollectionPropertyNode",
                  "In",
                  "CollectionConstant"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "RangeVariable":{  
         "type":"object",
         "properties":{  
            "name":{  
               "type":"string",
               "readOnly":true
            },
            "typeReference":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            },
            "kind":{  
               "format":"int32",
               "type":"integer",
               "readOnly":true
            }
         }
      },
      "IEdmTypeReference":{  
         "type":"object",
         "properties":{  
            "isNullable":{  
               "type":"boolean",
               "readOnly":true
            },
            "definition":{  
               "$ref":"#/definitions/IEdmType",
               "readOnly":true
            }
         }
      },
      "IEdmTerm":{  
         "type":"object",
         "properties":{  
            "type":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            },
            "appliesTo":{  
               "type":"string",
               "readOnly":true
            },
            "defaultValue":{  
               "type":"string",
               "readOnly":true
            },
            "schemaElementKind":{  
               "enum":[  
                  "None",
                  "TypeDefinition",
                  "Term",
                  "Action",
                  "EntityContainer",
                  "Function"
               ],
               "type":"string",
               "readOnly":true
            },
            "namespace":{  
               "type":"string",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmVocabularyAnnotatable":{  
         "type":"object",
         "properties":{  

         }
      },
      "IEdmExpression":{  
         "type":"object",
         "properties":{  
            "expressionKind":{  
               "enum":[  
                  "None",
                  "BinaryConstant",
                  "BooleanConstant",
                  "DateTimeOffsetConstant",
                  "DecimalConstant",
                  "FloatingConstant",
                  "GuidConstant",
                  "IntegerConstant",
                  "StringConstant",
                  "DurationConstant",
                  "Null",
                  "Record",
                  "Collection",
                  "Path",
                  "If",
                  "Cast",
                  "IsType",
                  "FunctionApplication",
                  "LabeledExpressionReference",
                  "Labeled",
                  "PropertyPath",
                  "NavigationPropertyPath",
                  "DateConstant",
                  "TimeOfDayConstant",
                  "EnumMember",
                  "AnnotationPath"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmEntityContainerElement":{  
         "type":"object",
         "properties":{  
            "containerElementKind":{  
               "enum":[  
                  "None",
                  "EntitySet",
                  "ActionImport",
                  "FunctionImport",
                  "Singleton"
               ],
               "type":"string",
               "readOnly":true
            },
            "container":{  
               "$ref":"#/definitions/IEdmEntityContainer",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmNavigationProperty":{  
         "type":"object",
         "properties":{  
            "partner":{  
               "$ref":"#/definitions/IEdmNavigationProperty",
               "readOnly":true
            },
            "onDelete":{  
               "enum":[  
                  "None",
                  "Cascade"
               ],
               "type":"string",
               "readOnly":true
            },
            "containsTarget":{  
               "type":"boolean",
               "readOnly":true
            },
            "referentialConstraint":{  
               "$ref":"#/definitions/IEdmReferentialConstraint",
               "readOnly":true
            },
            "propertyKind":{  
               "enum":[  
                  "None",
                  "Structural",
                  "Navigation"
               ],
               "type":"string",
               "readOnly":true
            },
            "type":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            },
            "declaringType":{  
               "$ref":"#/definitions/IEdmStructuredType",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmReferentialConstraint":{  
         "type":"object",
         "properties":{  
            "propertyPairs":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/EdmReferentialConstraintPropertyPair"
               },
               "readOnly":true
            }
         }
      },
      "IEdmStructuredType":{  
         "type":"object",
         "properties":{  
            "isAbstract":{  
               "type":"boolean",
               "readOnly":true
            },
            "isOpen":{  
               "type":"boolean",
               "readOnly":true
            },
            "baseType":{  
               "$ref":"#/definitions/IEdmStructuredType",
               "readOnly":true
            },
            "declaredProperties":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/IEdmProperty"
               },
               "readOnly":true
            },
            "typeKind":{  
               "enum":[  
                  "None",
                  "Primitive",
                  "Entity",
                  "Complex",
                  "Collection",
                  "EntityReference",
                  "Enum",
                  "TypeDefinition",
                  "Untyped",
                  "Path"
               ],
               "type":"string",
               "readOnly":true
            }
         }
      },
      "EdmReferentialConstraintPropertyPair":{  
         "type":"object",
         "properties":{  
            "dependentProperty":{  
               "$ref":"#/definitions/IEdmStructuralProperty",
               "readOnly":true
            },
            "principalProperty":{  
               "$ref":"#/definitions/IEdmStructuralProperty",
               "readOnly":true
            }
         }
      },
      "IEdmProperty":{  
         "type":"object",
         "properties":{  
            "propertyKind":{  
               "enum":[  
                  "None",
                  "Structural",
                  "Navigation"
               ],
               "type":"string",
               "readOnly":true
            },
            "type":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            },
            "declaringType":{  
               "$ref":"#/definitions/IEdmStructuredType",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "IEdmStructuralProperty":{  
         "type":"object",
         "properties":{  
            "defaultValueString":{  
               "type":"string",
               "readOnly":true
            },
            "propertyKind":{  
               "enum":[  
                  "None",
                  "Structural",
                  "Navigation"
               ],
               "type":"string",
               "readOnly":true
            },
            "type":{  
               "$ref":"#/definitions/IEdmTypeReference",
               "readOnly":true
            },
            "declaringType":{  
               "$ref":"#/definitions/IEdmStructuredType",
               "readOnly":true
            },
            "name":{  
               "type":"string",
               "readOnly":true
            }
         }
      },
      "MachineCollection":{  
         "description":"Collection of machines.",
         "type":"object",
         "properties":{  
            "value":{  
               "description":"Gets or sets the machines.",
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/Machine"
               }
            },
            "nextLink":{  
               "description":"Gets or sets the value of nextLink.",
               "type":"string"
            }
         }
      },
      "Machine":{  
         "description":"Machine REST resource.",
         "type":"object",
         "properties":{  
            "id":{  
               "description":"Gets or sets the relative URL to get to this REST resource.",
               "type":"string"
            },
            "name":{  
               "description":"Gets or sets the name of this REST resource.",
               "type":"string"
            },
            "type":{  
               "description":"Gets the type of this REST resource.",
               "type":"string",
               "readOnly":true
            },
            "properties":{  
               "$ref":"#/definitions/MachineProperties",
               "description":"Gets or sets the properties of the machine."
            }
         }
      },
      "MachineProperties":{  
         "description":"Properties of the machine resource.",
         "type":"object",
         "properties":{  
            "discoveryData":{  
               "description":"Gets or sets the discovery details of the machine published by various sources.",
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/DiscoveryDetails"
               }
            },
            "assessmentData":{  
               "description":"Gets or sets the assessment details of the machine published by various sources.",
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/AssessmentDetails"
               }
            },
            "migrationData":{  
               "description":"Gets or sets the migration details of the machine published by various sources.",
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/MigrationDetails"
               }
            }
         }
      },
      "DiscoveryDetails":{  
         "description":"Discovery properties that can be published by various ISVs.",
         "type":"object",
         "properties":{  
            "osType":{  
               "description":"Gets or sets the OS type.",
               "type":"string"
            },
            "osName":{  
               "description":"Gets or sets the OS name.",
               "type":"string"
            },
            "osVersion":{  
               "description":"Gets or sets the OS version.",
               "type":"string"
            },
            "enqueueTime":{  
               "description":"Gets or sets the time the message was enqueued.",
               "type":"string"
            },
            "solutionName":{  
               "description":"Gets or sets the name of the solution that sent the data.",
               "type":"string"
            },
            "machineId":{  
               "description":"Gets or sets the unique identifier of the machine.",
               "type":"string"
            },
            "machineManagerId":{  
               "description":"Gets or sets the unique identifier of the virtual machine manager(vCenter/VMM).",
               "type":"string"
            },
            "machineName":{  
               "description":"Gets or sets the name of the machine.",
               "type":"string"
            },
            "extendedInfo":{  
               "description":"Gets or sets the ISV specific extended information.",
               "type":"object",
               "additionalProperties":{  
                  "type":"string"
               }
            }
         }
      },
      "AssessmentDetails":{  
         "description":"Assessment properties that can be shared by various publishers.",
         "type":"object",
         "properties":{  
            "assessmentId":{  
               "description":"Gets or sets the id of the assessment done on the machine.",
               "type":"string"
            },
            "targetVMSize":{  
               "description":"Gets or sets the target VM size.",
               "type":"string"
            },
            "targetVMLocation":{  
               "description":"Gets or sets the target VM location.",
               "type":"string"
            },
            "targetStorageType":{  
               "description":"Gets or sets the target storage type.",
               "type":"object",
               "additionalProperties":{  
                  "type":"string"
               }
            },
            "enqueueTime":{  
               "description":"Gets or sets the time the message was enqueued.",
               "type":"string"
            },
            "solutionName":{  
               "description":"Gets or sets the name of the solution that sent the data.",
               "type":"string"
            },
            "machineId":{  
               "description":"Gets or sets the unique identifier of the machine.",
               "type":"string"
            },
            "machineManagerId":{  
               "description":"Gets or sets the unique identifier of the virtual machine manager(vCenter/VMM).",
               "type":"string"
            },
            "machineName":{  
               "description":"Gets or sets the name of the machine.",
               "type":"string"
            },
            "extendedInfo":{  
               "description":"Gets or sets the ISV specific extended information.",
               "type":"object",
               "additionalProperties":{  
                  "type":"string"
               }
            }
         }
      },
      "MigrationDetails":{  
         "description":"Migration properties that can be shared by various publishers.",
         "type":"object",
         "properties":{  
            "migrationPhase":{  
               "description":"Gets or sets the phase of migration of the machine.",
               "type":"string"
            },
            "migrationTested":{  
               "description":"Gets or sets a value indicating whether migration was tested on the machine.",
               "type":"boolean"
            },
            "replicationProgressPercentage":{  
               "format":"int32",
               "description":"Gets or sets the progress percentage of migration on the machine.",
               "type":"integer"
            },
            "targetVMArmId":{  
               "description":"Gets or sets the ARM id the migrated VM.",
               "type":"string"
            },
            "enqueueTime":{  
               "description":"Gets or sets the time the message was enqueued.",
               "type":"string"
            },
            "solutionName":{  
               "description":"Gets or sets the name of the solution that sent the data.",
               "type":"string"
            },
            "machineId":{  
               "description":"Gets or sets the unique identifier of the machine.",
               "type":"string"
            },
            "machineManagerId":{  
               "description":"Gets or sets the unique identifier of the virtual machine manager(vCenter/VMM).",
               "type":"string"
            },
            "machineName":{  
               "description":"Gets or sets the name of the machine.",
               "type":"string"
            },
            "extendedInfo":{  
               "description":"Gets or sets the ISV specific extended information.",
               "type":"object",
               "additionalProperties":{  
                  "type":"string"
               }
            }
         }
      },
      "MigrateProject":{  
         "description":"Migrate Project REST Resource.",
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{  
            "eTag":{  
               "description":"Gets or sets the eTag for concurrency control.",
               "type":"string"
            },
            "location":{  
               "description":"Gets or sets the Azure location in which migrate project is created.",
               "type":"string"
            },
            "properties":{  
               "$ref":"#/definitions/MigrateProjectProperties",
               "description":"Gets or sets the nested properties."
            },
            "id":{  
               "description":"Gets the relative URL to get this migrate project.",
               "type":"string",
               "readOnly":true
            },
            "name":{  
               "description":"Gets or sets the name of the migrate project.",
               "type":"string",
               "readOnly":true
            },
            "type":{  
               "description":"Handled by resource provider. Type = Microsoft.Migrate/MigrateProject.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "MigrateProjectProperties":{  
         "description":"Class for migrate project properties.",
         "type":"object",
         "properties":{  
            "registeredTools":{  
               "description":"Gets or sets the list of tools registered with the migrate project.",
               "type":"array",
               "items":{  
                  "type":"string"
               }
            },
            "summary":{  
               "description":"Gets or sets the goals summary of the migrate Project. \r\n            It maps the goal to its summary object.",
               "type":"object",
               "additionalProperties":{  
                  "$ref":"#/definitions/GoalSummary"
               }
            }
         }
      },
      "GoalSummary":{  
         "description":"Class representing the summary object for goal.",
         "type":"object",
         "properties":{  
            "discoveredCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities discovered.",
               "type":"integer"
            },
            "assessedCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities assessed.",
               "type":"integer"
            },
            "replicatingCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities being replicated.",
               "type":"integer"
            },
            "migratedCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities migrated.",
               "type":"integer"
            }
         }
      },
      "RegisterToolInput":{  
         "description":"Class representing the register tool input.",
         "type":"object",
         "properties":{  
            "tool":{  
               "description":"Gets or sets the tool to be registered.",
               "type":"string"
            }
         }
      },
      "RegistrationResult":{  
         "description":"Class representing the registration status of a tool with the migrate project.",
         "type":"object",
         "properties":{  
            "isRegistered":{  
               "description":"Gets or sets a value indicating whether the tool is registered or not.",
               "type":"boolean"
            }
         }
      },
      "RefreshSummaryResult":{  
         "description":"Class representing the refresh summary status of the migrate project.",
         "type":"object",
         "properties":{  
            "isRefreshed":{  
               "description":"Gets or sets a value indicating whether the migrate project summary is refreshed.",
               "type":"boolean"
            }
         }
      },
      "Solution":{  
         "description":"Solution REST Resource.",
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{  
            "id":{  
               "description":"Gets or sets the relative URL to get to this REST resource.",
               "type":"string",
               "readOnly":true
            },
            "name":{  
               "description":"Gets or sets the name of this REST resource.",
               "type":"string",
               "readOnly":true
            },
            "type":{  
               "description":"Gets the type of this REST resource.",
               "type":"string",
               "readOnly":true
            },
            "properties":{  
               "$ref":"#/definitions/SolutionProperties",
               "description":"Gets or sets the properties of the solution."
            }
         }
      },
      "SolutionProperties":{  
         "description":"Class for solution properties.",
         "type":"object",
         "properties":{  
            "tool":{  
               "description":"Gets or sets the tool being used in the solution.",
               "type":"string"
            },
            "purpose":{  
               "description":"Gets or sets the purpose of the solution.",
               "type":"string"
            },
            "goal":{  
               "description":"Gets or sets the goal of the solution.",
               "type":"string"
            },
            "isInactive":{  
               "description":"Gets or sets a value indicating whether the solution is active or not.",
               "type":"boolean"
            },
            "summary":{  
               "$ref":"#/definitions/SolutionSummary",
               "description":"Gets or sets the summary of the solution."
            },
            "details":{  
               "$ref":"#/definitions/SolutionDetails",
               "description":"Gets or sets the details of the solution."
            }
         }
      },
      "SolutionSummary":{  
         "description":"Class representing the summary object for solution.",
         "type":"object",
         "properties":{  
            "discoveredCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities discovered.",
               "type":"integer"
            },
            "assessedCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities assessed.",
               "type":"integer"
            },
            "replicatingCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities being replicated.",
               "type":"integer"
            },
            "migratedCount":{  
               "format":"int32",
               "description":"Gets or sets the count of entities migrated.",
               "type":"integer"
            }
         }
      },
      "SolutionDetails":{  
         "description":"Class representing the details of the solution.",
         "type":"object",
         "properties":{  
            "groupCount":{  
               "format":"int32",
               "description":"Gets or sets the count of groups reported by the solution.",
               "type":"integer"
            },
            "assessmentCount":{  
               "format":"int32",
               "description":"Gets or sets the count of assessments reported by the solution.",
               "type":"integer"
            },
            "extendedDetails":{  
               "description":"Gets or sets the extended details reported by the solution.",
               "type":"object",
               "additionalProperties":{  
                  "type":"string"
               }
            }
         }
      },
      "SolutionsCollection":{  
         "description":"Collection of solutions.",
         "type":"object",
         "properties":{  
            "value":{  
               "description":"Gets or sets the list of solutions.",
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/Solution"
               }
            },
            "nextLink":{  
               "description":"Gets or sets the value of next link.",
               "type":"string"
            }
         }
      },
      "SolutionConfig":{  
         "description":"Class representing the config for the solution in the migrate project.",
         "type":"object",
         "properties":{  
            "publisherSasUri":{  
               "description":"Gets or sets the publisher sas uri for the solution.",
               "type":"string"
            }
         }
      },
      "OperationResultList":{  
         "type":"object",
         "description":"List of API operations.",
         "properties":{  
            "value":{  
               "type":"array",
               "description":"List of operations.",
               "items":{  
                  "$ref":"#/definitions/Operation"
               }
            }
         }
      },
      "Operation":{  
         "type":"object",
         "description":"A REST API operation supported by the provider.",
         "properties":{  
            "name":{  
               "type":"string",
               "description":"Name of the operation.",
               "readOnly":true
            },
            "display":{  
               "description":"Displayable properties of the operation.",
               "$ref":"#/definitions/OperationDisplay"
            },
            "origin":{  
               "type":"string",
               "description":"Origin of the operation.",
               "readOnly":true
            }
         }
      },
      "OperationDisplay":{  
         "type":"object",
         "description":"Displayable properties of the operation.",
         "readOnly":true,
         "properties":{  
            "provider":{  
               "type":"string",
               "description":"Provider of the operation.",
               "readOnly":true
            },
            "resource":{  
               "type":"string",
               "description":"Resource operated on by the operation.",
               "readOnly":true
            },
            "operation":{  
               "type":"string",
               "description":"Operation Type.",
               "readOnly":true
            },
            "description":{  
               "type":"string",
               "description":"Description of the operation.",
               "readOnly":true
            }
         }
      }
   }
}