{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework.",
    "version": "2021-11-01"
  },
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "PresentationTimeRange": {
      "properties": {
        "startTimestamp": {
          "type": "integer",
          "format": "int64",
          "description": "The absolute start time boundary."
        },
        "endTimestamp": {
          "type": "integer",
          "format": "int64",
          "description": "The absolute end time boundary."
        },
        "presentationWindowDuration": {
          "type": "integer",
          "format": "int64",
          "description": "The relative to end sliding window."
        },
        "liveBackoffDuration": {
          "type": "integer",
          "format": "int64",
          "description": "The relative to end right edge."
        },
        "timescale": {
          "type": "integer",
          "format": "int64",
          "description": "The time scale of time stamps."
        },
        "forceEndTimestamp": {
          "type": "boolean",
          "description": "The indicator of forcing existing of end time stamp."
        }
      },
      "type": "object",
      "description": "The presentation time range, this is asset related and not recommended for Account Filter."
    },
    "FilterTrackPropertyCondition": {
      "properties": {
        "property": {
          "type": "string",
          "enum": [
            "Unknown",
            "Type",
            "Name",
            "Language",
            "FourCC",
            "Bitrate"
          ],
          "x-ms-enum": {
            "name": "FilterTrackPropertyType",
            "values": [
              {
                "value": "Unknown",
                "description": "The unknown track property type."
              },
              {
                "value": "Type",
                "description": "The type."
              },
              {
                "value": "Name",
                "description": "The name."
              },
              {
                "value": "Language",
                "description": "The language."
              },
              {
                "value": "FourCC",
                "description": "The fourCC."
              },
              {
                "value": "Bitrate",
                "description": "The bitrate."
              }
            ],
            "modelAsString": true
          },
          "description": "The track property type."
        },
        "value": {
          "type": "string",
          "description": "The track property value."
        },
        "operation": {
          "type": "string",
          "enum": [
            "Equal",
            "NotEqual"
          ],
          "x-ms-enum": {
            "name": "FilterTrackPropertyCompareOperation",
            "values": [
              {
                "value": "Equal",
                "description": "The equal operation."
              },
              {
                "value": "NotEqual",
                "description": "The not equal operation."
              }
            ],
            "modelAsString": true
          },
          "description": "The track property condition operation."
        }
      },
      "type": "object",
      "required": [
        "property",
        "value",
        "operation"
      ],
      "description": "The class to specify one track property condition."
    },
    "FirstQuality": {
      "properties": {
        "bitrate": {
          "type": "integer",
          "format": "int32",
          "description": "The first quality bitrate."
        }
      },
      "type": "object",
      "required": [
        "bitrate"
      ],
      "description": "Filter First Quality"
    },
    "FilterTrackSelection": {
      "properties": {
        "trackSelections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterTrackPropertyCondition"
          },
          "x-ms-identifiers": [],
          "description": "The track selections."
        }
      },
      "type": "object",
      "required": [
        "trackSelections"
      ],
      "description": "Representing a list of FilterTrackPropertyConditions to select a track.  The filters are combined using a logical AND operation."
    },
    "MediaFilterProperties": {
      "properties": {
        "presentationTimeRange": {
          "$ref": "#/definitions/PresentationTimeRange",
          "description": "The presentation time range."
        },
        "firstQuality": {
          "$ref": "#/definitions/FirstQuality",
          "description": "The first quality."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterTrackSelection"
          },
          "x-ms-identifiers": [],
          "description": "The tracks selection conditions."
        }
      },
      "type": "object",
      "description": "The Media Filter properties."
    },
    "AccountFilter": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaFilterProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "The system metadata relating to this resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An Account Filter."
    },
    "AccountFilterCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountFilter"
          },
          "description": "A collection of AccountFilter items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of AccountFilter items."
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters": {
      "get": {
        "summary": "List Account Filters",
        "description": "List Account Filters in the Media Services account.",
        "operationId": "AccountFilters_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountFilterCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List all Account Filters": {
            "$ref": "examples/accountFilters-list-all.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters/{filterName}": {
      "get": {
        "summary": "Get an Account Filter.",
        "description": "Get the details of an Account Filter in the Media Services account.",
        "operationId": "AccountFilters_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountFilter"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Account Filter name"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get an Account Filter by name": {
            "$ref": "examples/accountFilters-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update an Account Filter",
        "description": "Creates or updates an Account Filter in the Media Services account.",
        "operationId": "AccountFilters_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountFilter"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountFilter"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Account Filter name"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountFilter"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Create an Account Filter": {
            "$ref": "examples/accountFilters-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete an Account Filter.",
        "description": "Deletes an Account Filter in the Media Services account.",
        "operationId": "AccountFilters_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Account Filter name"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete an Account Filter": {
            "$ref": "examples/accountFilters-delete.json"
          }
        }
      },
      "patch": {
        "summary": "Update an Account Filter",
        "description": "Updates an existing Account Filter in the Media Services account.",
        "operationId": "AccountFilters_Update",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountFilter"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Account Filter name"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountFilter"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Update an Account Filter": {
            "$ref": "examples/accountFilters-update.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "MediaServicesAccountName": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Media Services account name.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request."
    }
  }
}
