{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework.",
    "version": "2021-11-01"
  },
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "AssetProperties": {
      "properties": {
        "assetId": {
          "type": "string",
          "format": "uuid",
          "description": "The Asset ID.",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Asset.",
          "readOnly": true,
          "x-nullable": false
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "The last modified date of the Asset.",
          "readOnly": true,
          "x-nullable": false
        },
        "alternateId": {
          "type": "string",
          "description": "The alternate ID of the Asset."
        },
        "description": {
          "type": "string",
          "description": "The Asset description."
        },
        "container": {
          "type": "string",
          "description": "The name of the asset blob container."
        },
        "storageAccountName": {
          "type": "string",
          "description": "The name of the storage account."
        },
        "storageEncryptionFormat": {
          "type": "string",
          "enum": [
            "None",
            "MediaStorageClientEncryption"
          ],
          "x-ms-enum": {
            "name": "AssetStorageEncryptionFormat",
            "values": [
              {
                "value": "None",
                "description": "The Asset does not use client-side storage encryption (this is the only allowed value for new Assets)."
              },
              {
                "value": "MediaStorageClientEncryption",
                "description": "The Asset is encrypted with Media Services client-side encryption."
              }
            ],
            "modelAsString": true
          },
          "description": "The Asset encryption format. One of None or MediaStorageEncryption.",
          "readOnly": true,
          "x-nullable": false
        }
      },
      "type": "object",
      "description": "The Asset properties."
    },
    "AssetContainerSas": {
      "properties": {
        "assetContainerSasUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Asset container SAS URLs."
        }
      },
      "type": "object",
      "description": "The Asset Storage container SAS URLs."
    },
    "AssetFileEncryptionMetadata": {
      "properties": {
        "initializationVector": {
          "type": "string",
          "description": "The Asset File initialization vector."
        },
        "assetFileName": {
          "type": "string",
          "description": "The Asset File name."
        },
        "assetFileId": {
          "type": "string",
          "format": "uuid",
          "description": "The Asset File Id."
        }
      },
      "type": "object",
      "required": [
        "assetFileId"
      ],
      "description": "The Asset File Storage encryption metadata."
    },
    "StorageEncryptedAssetDecryptionData": {
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "The Asset File storage encryption key."
        },
        "assetFileEncryptionMetadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetFileEncryptionMetadata"
          },
          "x-ms-identifiers": [
            "assetFileId"
          ],
          "description": "Asset File encryption metadata."
        }
      },
      "type": "object",
      "description": "Data needed to decrypt asset files encrypted with legacy storage encryption."
    },
    "ListStreamingLocatorsResponse": {
      "properties": {
        "streamingLocators": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetStreamingLocator"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "The list of Streaming Locators.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The Streaming Locators associated with this Asset."
    },
    "AssetStreamingLocator": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Streaming Locator name.",
          "readOnly": true
        },
        "assetName": {
          "type": "string",
          "description": "Asset Name.",
          "readOnly": true
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the Streaming Locator.",
          "readOnly": true,
          "x-nullable": false
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the Streaming Locator.",
          "readOnly": true,
          "x-nullable": false
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the Streaming Locator.",
          "readOnly": true,
          "x-nullable": false
        },
        "streamingLocatorId": {
          "type": "string",
          "format": "uuid",
          "description": "StreamingLocatorId of the Streaming Locator.",
          "readOnly": true,
          "x-nullable": false
        },
        "streamingPolicyName": {
          "type": "string",
          "description": "Name of the Streaming Policy used by this Streaming Locator.",
          "readOnly": true
        },
        "defaultContentKeyPolicyName": {
          "type": "string",
          "description": "Name of the default ContentKeyPolicy used by this Streaming Locator.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Properties of the Streaming Locator."
    },
    "Asset": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssetProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "The system metadata relating to this resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An Asset."
    },
    "PresentationTimeRange": {
      "properties": {
        "startTimestamp": {
          "type": "integer",
          "format": "int64",
          "description": "The absolute start time boundary."
        },
        "endTimestamp": {
          "type": "integer",
          "format": "int64",
          "description": "The absolute end time boundary."
        },
        "presentationWindowDuration": {
          "type": "integer",
          "format": "int64",
          "description": "The relative to end sliding window."
        },
        "liveBackoffDuration": {
          "type": "integer",
          "format": "int64",
          "description": "The relative to end right edge."
        },
        "timescale": {
          "type": "integer",
          "format": "int64",
          "description": "The time scale of time stamps."
        },
        "forceEndTimestamp": {
          "type": "boolean",
          "description": "The indicator of forcing existing of end time stamp."
        }
      },
      "type": "object",
      "description": "The presentation time range, this is asset related and not recommended for Account Filter."
    },
    "FilterTrackPropertyCondition": {
      "properties": {
        "property": {
          "type": "string",
          "enum": [
            "Unknown",
            "Type",
            "Name",
            "Language",
            "FourCC",
            "Bitrate"
          ],
          "x-ms-enum": {
            "name": "FilterTrackPropertyType",
            "values": [
              {
                "value": "Unknown",
                "description": "The unknown track property type."
              },
              {
                "value": "Type",
                "description": "The type."
              },
              {
                "value": "Name",
                "description": "The name."
              },
              {
                "value": "Language",
                "description": "The language."
              },
              {
                "value": "FourCC",
                "description": "The fourCC."
              },
              {
                "value": "Bitrate",
                "description": "The bitrate."
              }
            ],
            "modelAsString": true
          },
          "description": "The track property type."
        },
        "value": {
          "type": "string",
          "description": "The track property value."
        },
        "operation": {
          "type": "string",
          "enum": [
            "Equal",
            "NotEqual"
          ],
          "x-ms-enum": {
            "name": "FilterTrackPropertyCompareOperation",
            "values": [
              {
                "value": "Equal",
                "description": "The equal operation."
              },
              {
                "value": "NotEqual",
                "description": "The not equal operation."
              }
            ],
            "modelAsString": true
          },
          "description": "The track property condition operation."
        }
      },
      "type": "object",
      "required": [
        "property",
        "value",
        "operation"
      ],
      "description": "The class to specify one track property condition."
    },
    "FirstQuality": {
      "properties": {
        "bitrate": {
          "type": "integer",
          "format": "int32",
          "description": "The first quality bitrate."
        }
      },
      "type": "object",
      "required": [
        "bitrate"
      ],
      "description": "Filter First Quality"
    },
    "FilterTrackSelection": {
      "properties": {
        "trackSelections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterTrackPropertyCondition"
          },
          "x-ms-identifiers": [],
          "description": "The track selections."
        }
      },
      "type": "object",
      "required": [
        "trackSelections"
      ],
      "description": "Representing a list of FilterTrackPropertyConditions to select a track.  The filters are combined using a logical AND operation."
    },
    "MediaFilterProperties": {
      "properties": {
        "presentationTimeRange": {
          "$ref": "#/definitions/PresentationTimeRange",
          "description": "The presentation time range."
        },
        "firstQuality": {
          "$ref": "#/definitions/FirstQuality",
          "description": "The first quality."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterTrackSelection"
          },
          "x-ms-identifiers": [],
          "description": "The tracks selection conditions."
        }
      },
      "type": "object",
      "description": "The Media Filter properties."
    },
    "AssetFilter": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaFilterProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "The system metadata relating to this resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An Asset Filter."
    },
    "HlsSettings": {
      "properties": {
        "default": {
          "type": "boolean",
          "description": "The default for the HLS setting."
        },
        "forced": {
          "type": "boolean",
          "description": "The forced for the HLS setting."
        },
        "characteristics": {
          "type": "string",
          "description": "The characteristics for the HLS setting."
        }
      },
      "type": "object",
      "description": "The HLS setting for a text track."
    },
    "TrackBase": {
      "discriminator": "@odata.type",
      "properties": {
        "@odata.type": {
          "type": "string",
          "description": "The discriminator for derived types."
        }
      },
      "type": "object",
      "required": [
        "@odata.type"
      ],
      "description": "Base type for concrete track types. A derived type must be used to represent the Track."
    },
    "AudioTrack": {
      "x-ms-discriminator-value": "#Microsoft.Media.AudioTrack",
      "allOf": [
        {
          "$ref": "#/definitions/TrackBase"
        }
      ],
      "properties": {},
      "type": "object",
      "description": "Represents an audio track in the asset."
    },
    "VideoTrack": {
      "x-ms-discriminator-value": "#Microsoft.Media.VideoTrack",
      "allOf": [
        {
          "$ref": "#/definitions/TrackBase"
        }
      ],
      "properties": {},
      "type": "object",
      "description": "Represents a video track in the asset."
    },
    "TextTrack": {
      "x-ms-discriminator-value": "#Microsoft.Media.TextTrack",
      "allOf": [
        {
          "$ref": "#/definitions/TrackBase"
        }
      ],
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The file name to the source file. This file is located in the storage container of the asset."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the text track on a video player. In HLS, this maps to the NAME attribute of EXT-X-MEDIA."
        },
        "languageCode": {
          "type": "string",
          "description": "The RFC5646 language code for the text track.",
          "readOnly": true
        },
        "playerVisibility": {
          "type": "string",
          "enum": [
            "Hidden",
            "Visible"
          ],
          "x-ms-enum": {
            "name": "Visibility",
            "values": [
              {
                "value": "Hidden",
                "description": "The track is hidden to video player."
              },
              {
                "value": "Visible",
                "description": "The track is visible to video player."
              }
            ],
            "modelAsString": true
          },
          "description": "When PlayerVisibility is set to \"Visible\", the text track will be present in the DASH manifest or HLS playlist when requested by a client. When the PlayerVisibility is set to \"Hidden\", the text will not be available to the client. The default value is \"Visible\"."
        },
        "hlsSettings": {
          "$ref": "#/definitions/HlsSettings",
          "description": "The HLS specific setting for the text track."
        }
      },
      "type": "object",
      "description": "Represents a text track in an asset. A text track is usually used for sparse data related to the audio or video tracks."
    },
    "AssetTrackProperties": {
      "properties": {
        "track": {
          "$ref": "#/definitions/TrackBase",
          "description": "Detailed information about a track in the asset."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Failed",
            "InProgress",
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "values": [
              {
                "value": "Failed",
                "description": "Provisioning state failed."
              },
              {
                "value": "InProgress",
                "description": "Provisioning state in progress."
              },
              {
                "value": "Succeeded",
                "description": "Provisioning state succeeded."
              }
            ],
            "modelAsString": true
          },
          "description": "Provisioning state of the asset track.",
          "readOnly": true,
          "x-nullable": false
        }
      },
      "type": "object",
      "description": "Properties of a video, audio or text track in the asset."
    },
    "AssetTrack": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssetTrackProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "description": "An Asset Track resource."
    },
    "AssetTrackOperationStatus": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Operation identifier."
        },
        "id": {
          "type": "string",
          "description": "Operation resource ID."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation end time."
        },
        "status": {
          "type": "string",
          "description": "Operation status."
        },
        "error": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail",
          "x-nullable": true
        }
      },
      "type": "object",
      "required": [
        "name",
        "status"
      ],
      "description": "Status of asset track operation."
    },
    "AssetCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Asset"
          },
          "description": "A collection of Asset items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of Asset items."
    },
    "ListContainerSasInput": {
      "description": "The parameters to the list SAS request.",
      "properties": {
        "permissions": {
          "description": "The permissions to set on the SAS URL.",
          "type": "string",
          "enum": [
            "Read",
            "ReadWrite",
            "ReadWriteDelete"
          ],
          "x-ms-enum": {
            "name": "AssetContainerPermission",
            "values": [
              {
                "value": "Read",
                "description": "The SAS URL will allow read access to the container."
              },
              {
                "value": "ReadWrite",
                "description": "The SAS URL will allow read and write access to the container."
              },
              {
                "value": "ReadWriteDelete",
                "description": "The SAS URL will allow read, write and delete access to the container."
              }
            ],
            "modelAsString": true
          }
        },
        "expiryTime": {
          "description": "The SAS URL expiration time.  This must be less than 24 hours from the current time.",
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    },
    "AssetFilterCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetFilter"
          },
          "description": "A collection of AssetFilter items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of AssetFilter items."
    },
    "AssetTrackCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetTrack"
          },
          "description": "A collection of AssetTrack items."
        }
      },
      "type": "object",
      "description": "A collection of AssetTrack items."
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets": {
      "get": {
        "summary": "List Assets",
        "description": "List Assets in the Media Services account with optional filtering and ordering",
        "operationId": "Assets_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Restricts the set of items returned."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specifies a non-negative integer n that limits the number of items returned from a collection. The service returns the number of available items up to but not greater than the specified value n."
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the key by which the result collection should be ordered."
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-odata": "#/definitions/Asset",
        "x-ms-examples": {
          "List all Assets": {
            "$ref": "examples/assets-list-all.json"
          },
          "List Asset ordered by date": {
            "$ref": "examples/assets-list-by-date.json"
          },
          "List Asset created in a date range": {
            "$ref": "examples/assets-list-in-date-range.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}": {
      "get": {
        "summary": "Get an Asset",
        "description": "Get the details of an Asset in the Media Services account",
        "operationId": "Assets_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get an Asset by name": {
            "$ref": "examples/assets-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update an Asset",
        "description": "Creates or updates an Asset in the Media Services account",
        "operationId": "Assets_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Create an Asset": {
            "$ref": "examples/assets-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete an Asset.",
        "description": "Deletes an Asset in the Media Services account",
        "operationId": "Assets_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete an Asset": {
            "$ref": "examples/assets-delete.json"
          }
        }
      },
      "patch": {
        "summary": "Update an Asset",
        "description": "Updates an existing Asset in the Media Services account",
        "operationId": "Assets_Update",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Update an Asset": {
            "$ref": "examples/assets-update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/listContainerSas": {
      "post": {
        "summary": "List the Asset URLs",
        "description": "Lists storage container URLs with shared access signatures (SAS) for uploading and downloading Asset content. The signatures are derived from the storage account keys.",
        "operationId": "Assets_ListContainerSas",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetContainerSas"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListContainerSasInput"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "List Asset SAS URLs": {
            "$ref": "examples/assets-list-sas-urls.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/getEncryptionKey": {
      "post": {
        "summary": "Gets the Asset storage key",
        "description": "Gets the Asset storage encryption keys used to decrypt content created by version 2 of the Media Services API",
        "operationId": "Assets_GetEncryptionKey",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageEncryptedAssetDecryptionData"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get Asset Storage Encryption Keys": {
            "$ref": "examples/assets-get-encryption-keys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/listStreamingLocators": {
      "post": {
        "summary": "List Streaming Locators",
        "description": "Lists Streaming Locators which are associated with this asset.",
        "operationId": "Assets_ListStreamingLocators",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListStreamingLocatorsResponse"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "List Asset SAS URLs": {
            "$ref": "examples/assets-list-streaming-locators.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/assetFilters": {
      "get": {
        "summary": "List Asset Filters",
        "description": "List Asset Filters associated with the specified Asset.",
        "operationId": "AssetFilters_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetFilterCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List all Asset Filters": {
            "$ref": "examples/assetFilters-list-all.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/assetFilters/{filterName}": {
      "get": {
        "summary": "Get an Asset Filter.",
        "description": "Get the details of an Asset Filter associated with the specified Asset.",
        "operationId": "AssetFilters_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetFilter"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Filter name"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get an Asset Filter by name": {
            "$ref": "examples/assetFilters-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update an Asset Filter",
        "description": "Creates or updates an Asset Filter associated with the specified Asset.",
        "operationId": "AssetFilters_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetFilter"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AssetFilter"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Filter name"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetFilter"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Create an Asset Filter": {
            "$ref": "examples/assetFilters-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete an Asset Filter.",
        "description": "Deletes an Asset Filter associated with the specified Asset.",
        "operationId": "AssetFilters_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Filter name"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete an Asset Filter": {
            "$ref": "examples/assetFilters-delete.json"
          }
        }
      },
      "patch": {
        "summary": "Update an Asset Filter",
        "description": "Updates an existing Asset Filter associated with the specified Asset.",
        "operationId": "AssetFilters_Update",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetFilter"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "filterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Filter name"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetFilter"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Update an Asset Filter": {
            "$ref": "examples/assetFilters-update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/tracks": {
      "get": {
        "summary": "List Tracks in the Asset",
        "description": "Lists the Tracks in the asset",
        "operationId": "Tracks_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetTrackCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Lists all Tracks": {
            "$ref": "examples/asset-tracks-list-all.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/tracks/{trackName}": {
      "get": {
        "summary": "Get a Track",
        "description": "Get the details of a Track in the Asset",
        "operationId": "Tracks_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get a Track by name": {
            "$ref": "examples/asset-tracks-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update a Track",
        "description": "Create or update a Track in the asset",
        "operationId": "Tracks_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            }
          },
          "201": {
            "description": "Created",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Creates a Track": {
            "$ref": "examples/asset-tracks-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete a Track",
        "description": "Deletes a Track in the asset",
        "operationId": "Tracks_Delete",
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete a Track": {
            "$ref": "examples/asset-tracks-delete.json"
          }
        }
      },
      "patch": {
        "summary": "Update an Track",
        "description": "Updates an existing Track in the asset",
        "operationId": "Tracks_Update",
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update a Track": {
            "$ref": "examples/asset-tracks-update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/tracks/{trackName}/updateTrackData": {
      "post": {
        "summary": "Update the track data",
        "description": "Update the track data. Call this API after any changes are made to the track data stored in the asset container. For example, you have modified the WebVTT captions file in the Azure blob storage container for the asset, viewers will not see the new version of the captions unless this API is called. Note, the changes may not be reflected immediately. CDN cache may also need to be purged if applicable.",
        "operationId": "Tracks_UpdateTrackData",
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update the data for a tracks": {
            "$ref": "examples/asset-tracks-update-data.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/tracks/{trackName}/operationStatuses/{operationId}": {
      "get": {
        "summary": "Get operation status.",
        "description": "Get asset track operation status.",
        "operationId": "OperationStatuses_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetTrackOperationStatus"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Operation Id."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get status of asynchronous operation when it is completed.": {
            "$ref": "examples/asset-tracks-operation-status-by-id-terminal-state.json"
          },
          "Get status of asynchronous operation when it is ongoing.": {
            "$ref": "examples/asset-tracks-operation-status-by-id-non-terminal-state.json"
          },
          "Get status of asynchronous operation when it is completed with error.": {
            "$ref": "examples/asset-tracks-operation-status-by-id-terminal-state-failed.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/tracks/{trackName}/operationResults/{operationId}": {
      "get": {
        "summary": "Get operation result.",
        "description": "Get asset track operation result.",
        "operationId": "OperationResults_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetTrack"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "trackName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset Track name."
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Operation Id."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get result of asynchronous operation.": {
            "$ref": "examples/asset-tracks-operation-result-by-id.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "MediaServicesAccountName": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Media Services account name.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request."
    }
  }
}
