{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PortalServices",
    "version": "2025-09-10-preview",
    "description": "Azure Portal Services API Reference",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CopilotSettings"
    }
  ],
  "paths": {
    "/providers/Microsoft.PortalServices/copilotSettings/default": {
      "get": {
        "operationId": "CopilotSettings_Get",
        "tags": [
          "CopilotSettings"
        ],
        "description": "Get a CopilotSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CopilotSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Copilot settings with agent mode configuration": {
            "$ref": "./examples/CopilotSettings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CopilotSettings_CreateOrUpdate",
        "tags": [
          "CopilotSettings"
        ],
        "description": "Create a CopilotSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopilotSettingsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CopilotSettingsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CopilotSettingsResource"
            }
          },
          "201": {
            "description": "Resource 'CopilotSettingsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CopilotSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new Copilot settings or update an existing one with agent mode configuration": {
            "$ref": "./examples/CopilotSettings_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "CopilotSettings_Update",
        "tags": [
          "CopilotSettings"
        ],
        "description": "Update a CopilotSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopilotSettingsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CopilotSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Copilot settings with agent mode configuration": {
            "$ref": "./examples/CopilotSettings_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "CopilotSettings_Delete",
        "tags": [
          "CopilotSettings"
        ],
        "description": "Delete a CopilotSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Copilot Settings": {
            "$ref": "./examples/CopilotSettings_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.PortalServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the Microsoft.PortalServices/copilotSettings provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AgentModeProperties": {
      "type": "object",
      "description": "The agent mode configuration properties.",
      "properties": {
        "registration": {
          "$ref": "#/definitions/AgentModeRegisterState",
          "description": "The state of the Agent Mode registration for the tenant.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/AgentModeState",
          "description": "The state of the Agent Mode feature for the tenant.",
          "readOnly": true
        }
      },
      "required": [
        "registration"
      ]
    },
    "AgentModePropertiesUpdate": {
      "type": "object",
      "description": "The agent mode configuration properties.",
      "properties": {
        "registration": {
          "$ref": "#/definitions/AgentModeRegisterState",
          "description": "The state of the Agent Mode registration for the tenant.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "AgentModeRegisterState": {
      "type": "string",
      "description": "The state of the Agent Mode registration for the tenant.",
      "enum": [
        "Unregistered",
        "Registered"
      ],
      "x-ms-enum": {
        "name": "AgentModeRegisterState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unregistered",
            "value": "Unregistered",
            "description": "This tenant is unregistered for Agent Mode."
          },
          {
            "name": "Registered",
            "value": "Registered",
            "description": "This tenant is registered for Agent Mode."
          }
        ]
      }
    },
    "AgentModeState": {
      "type": "string",
      "description": "The state of the Agent Mode feature for the tenant.",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "AgentModeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Agent Mode is disabled for this tenant."
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Agent Mode is enabled for this tenant."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.SystemAssignedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (either system assigned, or none)",
      "properties": {
        "type": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/SystemAssignedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CopilotSettingsProperties": {
      "type": "object",
      "description": "The Copilot Settings properties.",
      "properties": {
        "accessControlEnabled": {
          "type": "boolean",
          "description": "Boolean indicating if role-based access control is enabled for copilot in this tenant."
        },
        "agentMode": {
          "$ref": "#/definitions/AgentModeProperties",
          "description": "The agent mode configuration properties."
        },
        "cosmosResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The setting for Bring Your Own Storage (BYOS) for copilot in this tenant. If set, copilot will use specified cosmos DB account for storing copilot chat data.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.DocumentDB/databaseAccounts"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last provisioning operation performed on the resource.",
          "readOnly": true
        }
      },
      "required": [
        "accessControlEnabled"
      ]
    },
    "CopilotSettingsPropertiesUpdate": {
      "type": "object",
      "description": "The Copilot Settings properties.",
      "properties": {
        "accessControlEnabled": {
          "type": "boolean",
          "description": "Boolean indicating if role-based access control is enabled for copilot in this tenant."
        },
        "agentMode": {
          "$ref": "#/definitions/AgentModePropertiesUpdate",
          "description": "The agent mode configuration properties."
        },
        "cosmosResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The setting for Bring Your Own Storage (BYOS) for copilot in this tenant. If set, copilot will use specified cosmos DB account for storing copilot chat data.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.DocumentDB/databaseAccounts"
              }
            ]
          }
        }
      }
    },
    "CopilotSettingsResource": {
      "type": "object",
      "description": "The copilot settings tenant resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CopilotSettingsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "location": {
          "type": "string",
          "description": "The Azure Region where the resource lives (will be set to \"global\" for this global proxy resource)",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CopilotSettingsResourceUpdate": {
      "type": "object",
      "description": "The copilot settings tenant resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CopilotSettingsPropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.SystemAssignedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    }
  },
  "parameters": {}
}
