{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Search API",
    "description": "Microsoft Marketplace Search API",
    "version": "2023-01-01-preview"
  },
  "host": "catalogapi.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/facets": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of offers count per filter",
        "operationId": "Facets_Get",
        "x-ms-examples": {
          "Facets_Get": {
            "$ref": "./examples/Facets_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Use Api key provided by Marketplace Catalog Team as a parameter provided in the header"
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request."
          },
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "description": "The search text, if no value provided, this filter is ignored. Such as searchQuery=red hat"
          },
          {
            "type": "string",
            "name": "publisherDisplayName",
            "in": "query",
            "description": "The search publisher name. Such as publisherDisplayName=red hat. If no value provided, this filter is ignored."
          },
          {
            "type": "string",
            "name": "azureBenefit",
            "in": "query",
            "description": "Define the search for only azure benefit eligible offers, if no value provided, this filter is ignored. Default: null. \n- `Eligible`: Eligible.\n- `NotEligible`: Not Eligible.",
            "x-schema": {
              "$ref": "#/definitions/AzureBenefit"
            },
            "enum": [
              "Eligible",
              "NotEligible"
            ],
            "x-ms-enum": {
              "name": "AzureBenefit",
              "modelAsString": true
            }
          },
          {
            "type": "array",
            "name": "publisherTypes",
            "in": "query",
            "description": "Products that contains any of the given publisher types, If no value provided, this filter is ignored. Possible values: Microsoft, ThirdParty. Default: Microsoft. \n- `Microsoft`: Microsoft.\n- `ThirdParty`: Third Party.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "Microsoft",
                "ThirdParty"
              ],
              "x-ms-enum": {
                "name": "PublisherType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "badges",
            "in": "query",
            "description": "Products that contains any of the given badges. If no value provided, this filter is ignored. The following product badges are available: \n- `PreferredSolution`: Preferred Solution.\n- `PowerBICertified`: power BI Certified.\n- `AdditionalPurchaseRequirement`: Additional Purchase Requirement.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "PreferredSolution",
                "PowerBICertified",
                "AdditionalPurchaseRequirement"
              ],
              "x-ms-enum": {
                "name": "Badge",
                "modelAsString": true
              }
            }
          },
          {
            "type": "string",
            "name": "industryCloud",
            "in": "query",
            "description": "Define the search for IndustryCloud offers. If no value provided, this filter is ignored. Default: NotApplicable. \n- `NotApplicable`: Not Applicable.\n- `True`: True.\n- `False`: False.",
            "x-schema": {
              "$ref": "#/definitions/IndustryCloud"
            },
            "enum": [
              "NotApplicable",
              "True",
              "False"
            ],
            "x-ms-enum": {
              "name": "IndustryCloud",
              "modelAsString": true
            }
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "required": true,
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'"
          },
          {
            "type": "array",
            "name": "productTypes",
            "in": "query",
            "description": "Products that contains any of the given product types, Such as 'VirtualMachine'. If no value provided, this filter is ignored.\n- `AADApps`: Azure Active Directory Apps.\n- `AzureApplication`: Azure Application.\n- `AzureServices`: Azure Services.\n- `ConsultingServices`: Consulting Services.\n- `Container`: Container.\n- `ContainerApps`: Container Apps.\n- `CoreVirtualMachine`: Core Virtual Machine.\n- `CosellOnly`: Cosell Only.\n- `DevService`: Dev Service.\n- `DynamicsBC`: Dynamics BC.\n- `DynamicsCE`: Dynamics CE.\n- `DynamicsOps`: Dynamics Ops.\n- `IotEdgeModules`: Iot Edge Modules.\n- `ManagedApplication`: Managed Application.\n- `ManagedServices`: Managed Services.\n- `None`: None.\n- `Office365`: Office365.\n- `PowerBI`: PowerBI.\n- `PowerBIVisuals`: PowerBI Visuals.\n- `SaaS`: SaaS.\n- `SolutionTemplate`: Solution Template.\n- `VirtualMachine`: Virtual Machine.\n- `VisualStudioExtension`: Visual Studio Extension.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "DevService",
                "ManagedApplication",
                "VirtualMachine",
                "AzureApplication",
                "Container",
                "SaaS",
                "SolutionTemplate",
                "IotEdgeModules",
                "ManagedServices",
                "ContainerApps",
                "VisualStudioExtension",
                "DynamicsOps",
                "DynamicsCE",
                "DynamicsBC",
                "PowerBI",
                "ConsultingServices",
                "CosellOnly",
                "CoreVirtualMachine",
                "PowerBIVisuals",
                "Office365",
                "AADApps",
                "AzureServices",
                "AppService",
                "LogAnalytics"
              ],
              "x-ms-enum": {
                "name": "ProductType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "description": "Products that contains any of the given pricing types. If no value provided, this filter is ignored. \n- `Byol`: The product has at least one plan that is bring your own license.\n- `Free`: The product has at least one plan that is free of charge.\n- `FreeTrial`: The product has at least one plan that is free trial.\n- `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n- `RI`: The product has at least one plan that is Reserved Instance billing model.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "Free",
                "FreeTrial",
                "Byol",
                "Payg",
                "Ri"
              ],
              "x-ms-enum": {
                "name": "PricingType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "industryIds",
            "in": "query",
            "description": "Products that contains any of the given Product industries, If no value provided, this filter is ignored. Possible values - https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#industries. Such as 'retailers'",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "description": "Products that contains any of the given operating systems, if none provided then filter is ignored, this is relevant for Virtual Machine product type only. Such as operatingSystems=windows,linux",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "description": "Products that contains any of the given hideKeys for preview. Such as '22c6b3ae-1111-1111-1111-e7cbdc8569dd'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "categoryIds",
            "in": "query",
            "description": "Products that contains any of the given product categories, https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#categories. Such as 'Productivity'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Product sold market, Possible values - https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies or 'All' for all markets. Such as 'US'"
          },
          {
            "type": "array",
            "name": "supportedProducts",
            "in": "query",
            "description": "Products that contains any of the given supported products. Such as 'CRM'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "applicableProducts",
            "in": "query",
            "description": "Products that contains any of the given M365 products applicable. Such as 'Office365'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "publisherIds",
            "in": "query",
            "description": "Products that contains any of the given publisher ids. Such as 'Microsoft'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "ratingBuckets",
            "in": "query",
            "description": "Products that contains any of the given rating buckets. Such as 'Above1'. If no value provided, this filter is ignored. \n- `AboveOne`: Above One.\n- `AboveTwo`: Above Two.\n- `AboveThree`: Above Three.\n- `AboveFour`: Above Four",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "AboveOne",
                "AboveTwo",
                "AboveThree",
                "AboveFour"
              ],
              "x-ms-enum": {
                "name": "RatingBucket",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "vmArchitectureTypes",
            "in": "query",
            "description": "Array of Virtual Machine image architecture types to search by, see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2: \n - `X64Gen1`: X64 Generation 1.\n - `X64Gen2`: X64 Generation 2.\n - `Arm64`: Arm64 image architecture.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "X64Gen1",
                "X64Gen2",
                "Arm64"
              ],
              "x-ms-enum": {
                "name": "VmArchitectureType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "vmSecurityTypes",
            "in": "query",
            "description": "Products that contains any of the given vm security types. Such as 'Trusted'. If no value provided, this filter is ignored. \n- `None`: None.\n- `Trusted`: Trusted.\n- `Confidential`: Confidential",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "Trusted",
                "Confidential"
              ],
              "x-ms-enum": {
                "name": "VmSecurityType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "string",
            "name": "publishingStage",
            "in": "query",
            "description": "Audience. Default: Preview.\n- `Preview`: Preview.\n- `Public`: Public",
            "x-schema": {
              "$ref": "#/definitions/PublishingStage"
            },
            "enum": [
              "Preview",
              "Public"
            ],
            "x-ms-enum": {
              "name": "PublishingStage",
              "modelAsString": true
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "description": "Array facets to facet by, if none provided then no facets will return. Such as facets=PricingTypes,operatingSystems. \n- `ApplicableProducts`: Applicable Products.\n- `CategoryIds`: Category Ids.\n- `SupportedProducts`: Supported Products. \n- `PublisherId`: Publisher Id.\n- `AzureBenefit`: Azure Benefit.\n- `Badges`: Badges.\n- `IndustryCloud`: Industry Cloud.\n- `PublisherType`: Publisher Type.\n- `ProductType`: Product Type.\n- `OperatingSystems`: Operating Systems.\n- `PricingTypes`: Pricing Types.\n- `VmImageGenerations`: Vm Image Generations.\n- `VmSecurityTypes`: Vm Security Types.\n- `VmArchitectureTypes`: Vm Architecture Types.\n- `RatingBuckets`: Rating Buckets.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "All",
                "ApplicableProducts",
                "LastModifiedDateTime",
                "IndustryIds",
                "CategoryIds",
                "Market",
                "LinkedAddInTypes",
                "SupportedProducts",
                "HideKeys",
                "PublisherId",
                "DisplayName",
                "AzureBenefit",
                "Badges",
                "SmallIconUri",
                "IndustryCloud",
                "PublisherType",
                "PublishingState",
                "Language",
                "UniqueProductId",
                "ProductType",
                "Plans",
                "OperatingSystems",
                "PricingTypes",
                "PublisherDisplayName",
                "Summary",
                "LongSummary",
                "VmImageGenerations",
                "VmSecurityTypes",
                "VmArchitectureTypes",
                "Description",
                "RatingBuckets",
                "RatingAverage",
                "RatingCount"
              ],
              "x-ms-enum": {
                "name": "SearchFieldName",
                "modelAsString": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of offers count per filter",
            "schema": {
              "$ref": "#/definitions/FacetsResponse"
            }
          },
          "default": {
            "description": " Error Responses: \n\n * 400 - In case request malformed.\n\n * 401 - In case of a missing or invalid api key header\n\n * 500 - In case internal error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of azure marketplace catalog offers and total count and facets",
        "operationId": "Search_Get",
        "x-ms-examples": {
          "Search_Get": {
            "$ref": "./examples/Search_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Use Api key provided by Marketplace Catalog Team as a parameter provided in the header"
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request."
          },
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "description": "The search text, if no value provided, this filter is ignored. Such as searchQuery=red hat"
          },
          {
            "type": "string",
            "name": "publisherDisplayName",
            "in": "query",
            "description": "The search publisher name. Such as publisherDisplayName=red hat. If no value provided, this filter is ignored."
          },
          {
            "type": "string",
            "name": "azureBenefit",
            "in": "query",
            "description": "Define the search for only azure benefit eligible offers, if no value provided, this filter is ignored. Default: null. \n- `Eligible`: Eligible.\n- `NotEligible`: Not Eligible.",
            "x-schema": {
              "$ref": "#/definitions/AzureBenefit"
            },
            "enum": [
              "Eligible",
              "NotEligible"
            ],
            "x-ms-enum": {
              "name": "AzureBenefit",
              "modelAsString": true
            }
          },
          {
            "type": "array",
            "name": "publisherTypes",
            "in": "query",
            "description": "Products that contains any of the given publisher types, If no value provided, this filter is ignored. Possible values: Microsoft, ThirdParty. Default: Microsoft. \n- `Microsoft`: Microsoft.\n- `ThirdParty`: Third Party.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "Microsoft",
                "ThirdParty"
              ],
              "x-ms-enum": {
                "name": "PublisherType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "badges",
            "in": "query",
            "description": "Products that contains any of the given badges. If no value provided, this filter is ignored. The following product badges are available: \n- `PreferredSolution`: Preferred Solution.\n- `PowerBICertified`: power BI Certified.\n- `AdditionalPurchaseRequirement`: Additional Purchase Requirement.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "PreferredSolution",
                "PowerBICertified",
                "AdditionalPurchaseRequirement"
              ],
              "x-ms-enum": {
                "name": "Badge",
                "modelAsString": true
              }
            }
          },
          {
            "type": "string",
            "name": "industryCloud",
            "in": "query",
            "description": "Define the search for IndustryCloud offers. If no value provided, this filter is ignored. Default: NotApplicable. \n- `NotApplicable`: Not Applicable.\n- `True`: True.\n- `False`: False.",
            "x-schema": {
              "$ref": "#/definitions/IndustryCloud"
            },
            "enum": [
              "NotApplicable",
              "True",
              "False"
            ],
            "x-ms-enum": {
              "name": "IndustryCloud",
              "modelAsString": true
            }
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "required": true,
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'"
          },
          {
            "type": "array",
            "name": "select",
            "in": "query",
            "required": true,
            "description": "Array of fields to return. Such as 'pricingTypes'. \n- `All`: All fields.\n- `ApplicableProducts`: Applicable Products.\n- `CategoryIds`: Category Ids.\n- `Market`: Market.\n- `SupportedProducts`: Supported Products.\n- `HideKeys`: Hide Keys.\n- `PublisherId`: Publisher Id.\n- `CspStates`: Csp States.\n- `DisplayName`: Display Name.\n- `AzureBenefit`: Azure Benefit.\n- `Badges`: Badges.\n- `SmallIconUri`: Small Icon Uri.\n- `MediumIconUri`: Medium Icon Uri.\n- `LargeIconUri`: Large Icon Uri.\n- `WideIconUri`: Wide Icon Uri.\n- `IndustryCloud`: Industry Cloud.\n- `PublisherType`: Publisher Type.\n- `PublishingState`: Publishing State.\n- `Language`: Language.\n- `UniqueProductId`: Unique Product Id.\n- `ProductType`: Product Type.\n- `Plans`: Plans.\n- `OperatingSystems`: Operating Systems.\n- `PricingTypes`: Pricing Types.\n- `PublisherDisplayName`: Publisher Display Name.\n- `Summary`: Summary.\n- `VmImageGenerations`: Vm Image Generations.\n- `VmSecurityTypes`: Vm Security Types.\n- `VmArchitectureTypes`: Vm Architecture Types.\n- `Description`: Description.\n- `RatingBuckets`: Rating Buckets.\n- `RatingAverage`: Rating Average.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "All",
                "ApplicableProducts",
                "LastModifiedDateTime",
                "IndustryIds",
                "CategoryIds",
                "Market",
                "LinkedAddInTypes",
                "SupportedProducts",
                "HideKeys",
                "PublisherId",
                "DisplayName",
                "AzureBenefit",
                "Badges",
                "SmallIconUri",
                "IndustryCloud",
                "PublisherType",
                "PublishingState",
                "Language",
                "UniqueProductId",
                "ProductType",
                "Plans",
                "OperatingSystems",
                "PricingTypes",
                "PublisherDisplayName",
                "Summary",
                "LongSummary",
                "VmImageGenerations",
                "VmSecurityTypes",
                "VmArchitectureTypes",
                "Description",
                "RatingBuckets",
                "RatingAverage",
                "RatingCount"
              ],
              "x-ms-enum": {
                "name": "SearchFieldName",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "orderBy",
            "in": "query",
            "description": "Array of sort by fields to order by, if none provided then ordered by search score. For example, orderby=RatingCount  desc. \n- `RatingCount`: ratingCount (asc/desc).\n- `LastModifiedDateTime`: lastModifiedDateTime (asc/desc).\n- `RatingAverage`: RatingAverage (asc/desc).",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "productTypes",
            "in": "query",
            "description": "Products that contains any of the given product types, Such as 'VirtualMachine'. If no value provided, this filter is ignored.\n- `AADApps`: Azure Active Directory Apps.\n- `AzureApplication`: Azure Application.\n- `AzureServices`: Azure Services.\n- `ConsultingServices`: Consulting Services.\n- `Container`: Container.\n- `ContainerApps`: Container Apps.\n- `CoreVirtualMachine`: Core Virtual Machine.\n- `CosellOnly`: Cosell Only.\n- `DevService`: Dev Service.\n- `DynamicsBC`: Dynamics BC.\n- `DynamicsCE`: Dynamics CE.\n- `DynamicsOps`: Dynamics Ops.\n- `IotEdgeModules`: Iot Edge Modules.\n- `ManagedApplication`: Managed Application.\n- `ManagedServices`: Managed Services.\n- `None`: None.\n- `Office365`: Office365.\n- `PowerBI`: PowerBI.\n- `PowerBIVisuals`: PowerBI Visuals.\n- `SaaS`: SaaS.\n- `SolutionTemplate`: Solution Template.\n- `VirtualMachine`: Virtual Machine.\n- `VisualStudioExtension`: Visual Studio Extension.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "DevService",
                "ManagedApplication",
                "VirtualMachine",
                "AzureApplication",
                "Container",
                "SaaS",
                "SolutionTemplate",
                "IotEdgeModules",
                "ManagedServices",
                "ContainerApps",
                "VisualStudioExtension",
                "DynamicsOps",
                "DynamicsCE",
                "DynamicsBC",
                "PowerBI",
                "ConsultingServices",
                "CosellOnly",
                "CoreVirtualMachine",
                "PowerBIVisuals",
                "Office365",
                "AADApps",
                "AzureServices",
                "AppService",
                "LogAnalytics"
              ],
              "x-ms-enum": {
                "name": "ProductType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "description": "Products that contains any of the given pricing types. If no value provided, this filter is ignored. \n- `Byol`: The product has at least one plan that is bring your own license.\n- `Free`: The product has at least one plan that is free of charge.\n- `FreeTrial`: The product has at least one plan that is free trial.\n- `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n- `RI`: The product has at least one plan that is Reserved Instance billing model.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "Free",
                "FreeTrial",
                "Byol",
                "Payg",
                "Ri"
              ],
              "x-ms-enum": {
                "name": "PricingType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "industryIds",
            "in": "query",
            "description": "Products that contains any of the given Product industries, If no value provided, this filter is ignored. Possible values - https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#industries. Such as 'retailers'",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "description": "Products that contains any of the given operating systems, if none provided then filter is ignored, this is relevant for Virtual Machine product type only. Such as operatingSystems=windows,linux",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "description": "Products that contains any of the given hideKeys for preview. Such as '22c6b3ae-1111-1111-1111-e7cbdc8569dd'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "categoryIds",
            "in": "query",
            "description": "Products that contains any of the given product categories, https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#categories. Such as 'Productivity'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Product sold market, Possible values - https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies or 'All' for all markets. Such as 'US'"
          },
          {
            "type": "array",
            "name": "supportedProducts",
            "in": "query",
            "description": "Products that contains any of the given supported products. Such as 'CRM'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "applicableProducts",
            "in": "query",
            "description": "Products that contains any of the given M365 products applicable. Such as 'Office365'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "publisherIds",
            "in": "query",
            "description": "Products that contains any of the given publisher ids. Such as 'Microsoft'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "ratingBuckets",
            "in": "query",
            "description": "Products that contains any of the given rating buckets. Such as 'Above1'. If no value provided, this filter is ignored. \n- `AboveOne`: Above One.\n- `AboveTwo`: Above Two.\n- `AboveThree`: Above Three.\n- `AboveFour`: Above Four",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "AboveOne",
                "AboveTwo",
                "AboveThree",
                "AboveFour"
              ],
              "x-ms-enum": {
                "name": "RatingBucket",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "vmArchitectureTypes",
            "in": "query",
            "description": "Array of Virtual Machine image architecture types to search by, see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2: \n - `X64Gen1`: X64 Generation 1.\n - `X64Gen2`: X64 Generation 2.\n - `Arm64`: Arm64 image architecture.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "X64Gen1",
                "X64Gen2",
                "Arm64"
              ],
              "x-ms-enum": {
                "name": "VmArchitectureType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "vmSecurityTypes",
            "in": "query",
            "description": "Products that contains any of the given vm security types. Such as 'Trusted'. If no value provided, this filter is ignored. \n- `None`: None.\n- `Trusted`: Trusted.\n- `Confidential`: Confidential",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "Trusted",
                "Confidential"
              ],
              "x-ms-enum": {
                "name": "VmSecurityType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "string",
            "name": "publishingStage",
            "in": "query",
            "description": "Audience. Default: Preview.\n- `Preview`: Preview.\n- `Public`: Public",
            "x-schema": {
              "$ref": "#/definitions/PublishingStage"
            },
            "enum": [
              "Preview",
              "Public"
            ],
            "x-ms-enum": {
              "name": "PublishingStage",
              "modelAsString": true
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "description": "Array facets to facet by, if none provided then no facets will return. Such as facets=PricingTypes,operatingSystems. \n- `ApplicableProducts`: Applicable Products.\n- `CategoryIds`: Category Ids.\n- `SupportedProducts`: Supported Products. \n- `PublisherId`: Publisher Id.\n- `AzureBenefit`: Azure Benefit.\n- `Badges`: Badges.\n- `IndustryCloud`: Industry Cloud.\n- `PublisherType`: Publisher Type.\n- `ProductType`: Product Type.\n- `OperatingSystems`: Operating Systems.\n- `PricingTypes`: Pricing Types.\n- `VmImageGenerations`: Vm Image Generations.\n- `VmSecurityTypes`: Vm Security Types.\n- `VmArchitectureTypes`: Vm Architecture Types.\n- `RatingBuckets`: Rating Buckets.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "All",
                "ApplicableProducts",
                "LastModifiedDateTime",
                "IndustryIds",
                "CategoryIds",
                "Market",
                "LinkedAddInTypes",
                "SupportedProducts",
                "HideKeys",
                "PublisherId",
                "DisplayName",
                "AzureBenefit",
                "Badges",
                "SmallIconUri",
                "IndustryCloud",
                "PublisherType",
                "PublishingState",
                "Language",
                "UniqueProductId",
                "ProductType",
                "Plans",
                "OperatingSystems",
                "PricingTypes",
                "PublisherDisplayName",
                "Summary",
                "LongSummary",
                "VmImageGenerations",
                "VmSecurityTypes",
                "VmArchitectureTypes",
                "Description",
                "RatingBuckets",
                "RatingAverage",
                "RatingCount"
              ],
              "x-ms-enum": {
                "name": "SearchFieldName",
                "modelAsString": true
              }
            }
          },
          {
            "type": "integer",
            "name": "skip",
            "in": "query",
            "description": "Number of items to skip. Minimum: 0",
            "format": "int32"
          },
          {
            "type": "integer",
            "name": "top",
            "in": "query",
            "description": "Number of items to return. Minimum: 0, Maximum: 50000, Default: 20.",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Azure Marketplace catalog offers and total count and facets",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "default": {
            "description": " Error Responses: \n\n * 400 - In case request malformed.\n\n * 401 - In case of a missing or invalid api key header\n\n * 500 - In case internal error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    },
    "/suggestions/products": {
      "get": {
        "tags": [
          "Public-Suggestions"
        ],
        "summary": "Get a list of azure marketplace products suggestions",
        "operationId": "Suggestions_GetProducts",
        "x-ms-examples": {
          "SuggestionsProducts_Get": {
            "$ref": "./examples/SuggestionsProducts_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Use Api key provided by Marketplace Catalog Team as a parameter provided in the header"
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request."
          },
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "required": true,
            "description": "The search text. Such as searchQuery=red hat. If no value provided, this filter is ignored."
          },
          {
            "type": "string",
            "name": "publisherDisplayName",
            "in": "query",
            "description": "The search publisher name. Such as publisherDisplayName=red hat. If no value provided, this filter is ignored."
          },
          {
            "type": "string",
            "name": "azureBenefit",
            "in": "query",
            "description": "Define the search for only azure benefit eligible offers, if no value provided, this filter is ignored. Default: null. \n- `Eligible`: Eligible.\n- `NotEligible`: Not Eligible.",
            "x-schema": {
              "$ref": "#/definitions/AzureBenefit"
            },
            "enum": [
              "Eligible",
              "NotEligible"
            ],
            "x-ms-enum": {
              "name": "AzureBenefit",
              "modelAsString": true
            }
          },
          {
            "type": "array",
            "name": "publisherTypes",
            "in": "query",
            "description": "Products that contains any of the given publisher types, If no value provided, this filter is ignored. Possible values: Microsoft, ThirdParty. Default: Microsoft. \n- `Microsoft`: Microsoft.\n- `ThirdParty`: Third Party.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "Microsoft",
                "ThirdParty"
              ],
              "x-ms-enum": {
                "name": "PublisherType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "badges",
            "in": "query",
            "description": "Products that contains any of the given badges. If no value provided, this filter is ignored. The following product badges are available: \n- `PreferredSolution`: Preferred Solution.\n- `PowerBICertified`: power BI Certified.\n- `AdditionalPurchaseRequirement`: Additional Purchase Requirement.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "PreferredSolution",
                "PowerBICertified",
                "AdditionalPurchaseRequirement"
              ],
              "x-ms-enum": {
                "name": "Badge",
                "modelAsString": true
              }
            }
          },
          {
            "type": "string",
            "name": "industryCloud",
            "in": "query",
            "description": "Define the search for IndustryCloud offers. If no value provided, this filter is ignored. Default: NotApplicable. \n- `NotApplicable`: Not Applicable.\n- `True`: True.\n- `False`: False.",
            "x-schema": {
              "$ref": "#/definitions/IndustryCloud"
            },
            "enum": [
              "NotApplicable",
              "True",
              "False"
            ],
            "x-ms-enum": {
              "name": "IndustryCloud",
              "modelAsString": true
            }
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "required": true,
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'"
          },
          {
            "type": "array",
            "name": "productTypes",
            "in": "query",
            "description": "Products that contains any of the given product types, Such as 'VirtualMachine'. If no value provided, this filter is ignored.\n- `AADApps`: Azure Active Directory Apps.\n- `AzureApplication`: Azure Application.\n- `AzureServices`: Azure Services.\n- `ConsultingServices`: Consulting Services.\n- `Container`: Container.\n- `ContainerApps`: Container Apps.\n- `CoreVirtualMachine`: Core Virtual Machine.\n- `CosellOnly`: Cosell Only.\n- `DevService`: Dev Service.\n- `DynamicsBC`: Dynamics BC.\n- `DynamicsCE`: Dynamics CE.\n- `DynamicsOps`: Dynamics Ops.\n- `IotEdgeModules`: Iot Edge Modules.\n- `ManagedApplication`: Managed Application.\n- `ManagedServices`: Managed Services.\n- `None`: None.\n- `Office365`: Office365.\n- `PowerBI`: PowerBI.\n- `PowerBIVisuals`: PowerBI Visuals.\n- `SaaS`: SaaS.\n- `SolutionTemplate`: Solution Template.\n- `VirtualMachine`: Virtual Machine.\n- `VisualStudioExtension`: Visual Studio Extension.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "DevService",
                "ManagedApplication",
                "VirtualMachine",
                "AzureApplication",
                "Container",
                "SaaS",
                "SolutionTemplate",
                "IotEdgeModules",
                "ManagedServices",
                "ContainerApps",
                "VisualStudioExtension",
                "DynamicsOps",
                "DynamicsCE",
                "DynamicsBC",
                "PowerBI",
                "ConsultingServices",
                "CosellOnly",
                "CoreVirtualMachine",
                "PowerBIVisuals",
                "Office365",
                "AADApps",
                "AzureServices",
                "AppService",
                "LogAnalytics"
              ],
              "x-ms-enum": {
                "name": "ProductType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "description": "Products that contains any of the given pricing types. If no value provided, this filter is ignored. \n- `Byol`: The product has at least one plan that is bring your own license.\n- `Free`: The product has at least one plan that is free of charge.\n- `FreeTrial`: The product has at least one plan that is free trial.\n- `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n- `RI`: The product has at least one plan that is Reserved Instance billing model.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "Free",
                "FreeTrial",
                "Byol",
                "Payg",
                "Ri"
              ],
              "x-ms-enum": {
                "name": "PricingType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "industryIds",
            "in": "query",
            "description": "Products that contains any of the given Product industries, If no value provided, this filter is ignored. Possible values - https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#industries. Such as 'retailers'",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "description": "Products that contains any of the given operating systems, if none provided then filter is ignored, this is relevant for Virtual Machine product type only. Such as operatingSystems=windows,linux",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "categoryIds",
            "in": "query",
            "description": "Products that contains any of the given product categories, https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#categories. Such as 'Productivity'. If no value provided, this filter is ignored.'",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "supportedProducts",
            "in": "query",
            "description": "Products that contains any of the given supported products. Such as 'CRM'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "applicableProducts",
            "in": "query",
            "description": "Products that contains any of the given M365 products applicable. Such as 'Office365'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "publisherIds",
            "in": "query",
            "description": "Products that contains any of the given publisher ids. Such as 'Microsoft'. If no value provided, this filter is ignored.",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "ratingBuckets",
            "in": "query",
            "description": "Products that contains any of the given rating buckets. Such as 'Above1'. If no value provided, this filter is ignored. \n- `AboveOne`: Above One.\n- `AboveTwo`: Above Two.\n- `AboveThree`: Above Three.\n- `AboveFour`: Above Four",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "AboveOne",
                "AboveTwo",
                "AboveThree",
                "AboveFour"
              ],
              "x-ms-enum": {
                "name": "RatingBucket",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "vmArchitectureTypes",
            "in": "query",
            "description": "Array of Virtual Machine image architecture types to search by, see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2: \n - `X64Gen1`: X64 Generation 1.\n - `X64Gen2`: X64 Generation 2.\n - `Arm64`: Arm64 image architecture.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "X64Gen1",
                "X64Gen2",
                "Arm64"
              ],
              "x-ms-enum": {
                "name": "VmArchitectureType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "vmSecurityTypes",
            "in": "query",
            "description": "Products that contains any of the given vm security types. Such as 'Trusted'. If no value provided, this filter is ignored. \n- `None`: None.\n- `Trusted`: Trusted.\n- `Confidential`: Confidential",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "Trusted",
                "Confidential"
              ],
              "x-ms-enum": {
                "name": "VmSecurityType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "array",
            "name": "suggestionTypes",
            "in": "query",
            "description": "Suggestion types. \n- `WordSearch`: WordSearch.\n- `Entity`: Entity.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "WordSearch",
                "Entity"
              ],
              "x-ms-enum": {
                "name": "SuggestionType",
                "modelAsString": true
              }
            }
          },
          {
            "type": "integer",
            "name": "top",
            "in": "query",
            "description": "Number of items per SuggestionType to return. Minimum: 1, Maximum: 40, Default: 20.",
            "format": "int32"
          },
          {
            "type": "array",
            "name": "select",
            "in": "query",
            "description": "Array of fields to return. Such as 'displayText'. \n- `DisplayText`: Display text.\n- `Id`: Id.\n- `IconUrl`: Icon Url.\n- `ProductType`: Product type.\n- `LinkedAddInsTypes`: Linked AddIns types.",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "DisplayText",
                "Id",
                "IconUrl",
                "ProductType",
                "LinkedAddInsTypes"
              ],
              "x-ms-enum": {
                "name": "SuggestionsFieldName",
                "modelAsString": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of azure marketplace products suggestions and count",
            "schema": {
              "$ref": "#/definitions/SuggestionsResponse"
            }
          },
          "default": {
            "description": " Error Responses: \n\n * 400 - In case request malformed.\n\n * 401 - In case of a missing or invalid api key header\n\n * 500 - In case internal error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "FacetsResponse": {
      "type": "object",
      "description": "The facets response",
      "properties": {
        "value": {
          "description": "The facet items results",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FacetsItem"
          }
        }
      }
    },
    "FacetsItem": {
      "type": "object",
      "description": "The facets item",
      "properties": {
        "facetValues": {
          "type": "object",
          "description": "The facet values",
          "additionalProperties": {
            "$ref": "#/definitions/FacetValue"
          }
        }
      }
    },
    "FacetValue": {
      "type": "object",
      "description": "The facet value",
      "properties": {
        "count": {
          "type": "integer",
          "description": "The facet count",
          "format": "int64"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "The search error response object",
      "properties": {
        "error": {
          "description": "The search error response details",
          "allOf": [
            {
              "$ref": "#/definitions/ErrorDetails"
            }
          ]
        }
      }
    },
    "ErrorDetails": {
      "type": "object",
      "description": "The search error response details object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code description. Such as code=InternalError"
        },
        "message": {
          "type": "string",
          "description": "The error message. Such as message=Internal server error"
        },
        "details": {
          "type": "array",
          "description": "List of error response details",
          "items": {
            "$ref": "#/definitions/ErrorDetails"
          }
        }
      }
    },
    "AzureBenefit": {
      "type": "string",
      "description": "Eligibility for Azure consumption commitment benefit (https://docs.microsoft.com/en-us/marketplace/azure-consumption-commitment-benefit)",
      "enum": [
        "Eligible",
        "NotEligible"
      ],
      "x-ms-enum": {
        "name": "AzureBenefit",
        "modelAsString": true
      }
    },
    "PublisherType": {
      "type": "string",
      "description": "A value indicating whether this is a Microsoft or third party product",
      "enum": [
        "Microsoft",
        "ThirdParty"
      ],
      "x-ms-enum": {
        "name": "PublisherType",
        "modelAsString": true
      }
    },
    "Badge": {
      "type": "string",
      "description": "Badge type",
      "enum": [
        "PreferredSolution",
        "PowerBICertified",
        "AdditionalPurchaseRequirement"
      ],
      "x-ms-enum": {
        "name": "Badge",
        "modelAsString": true
      }
    },
    "IndustryCloud": {
      "type": "string",
      "description": "Industry Cloud",
      "enum": [
        "NotApplicable",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "IndustryCloud",
        "modelAsString": true
      }
    },
    "ProductType": {
      "type": "string",
      "description": "The delivery method or deployment model",
      "enum": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals",
        "Office365",
        "AADApps",
        "AzureServices",
        "AppService",
        "LogAnalytics"
      ],
      "x-ms-enum": {
        "name": "ProductType",
        "modelAsString": true
      }
    },
    "PricingType": {
      "type": "string",
      "description": "Pricing type",
      "enum": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "x-ms-enum": {
        "name": "PricingType",
        "modelAsString": true
      }
    },
    "RatingBucket": {
      "type": "string",
      "description": "Rating Bucket",
      "enum": [
        "AboveOne",
        "AboveTwo",
        "AboveThree",
        "AboveFour"
      ],
      "x-ms-enum": {
        "name": "RatingBucket",
        "modelAsString": true
      }
    },
    "VmArchitectureType": {
      "type": "string",
      "description": "VM Architecture Type",
      "enum": [
        "X64Gen1",
        "X64Gen2",
        "Arm64"
      ],
      "x-ms-enum": {
        "name": "VmArchitectureType",
        "modelAsString": true
      }
    },
    "VmSecurityType": {
      "type": "string",
      "description": "VM Security type",
      "enum": [
        "None",
        "Trusted",
        "Confidential"
      ],
      "x-ms-enum": {
        "name": "VmSecurityType",
        "modelAsString": true
      }
    },
    "PublishingStage": {
      "type": "string",
      "description": "The product publishing stage. Possible values are: Preview, Public",
      "enum": [
        "Preview",
        "Public"
      ],
      "x-ms-enum": {
        "name": "PublishingStage",
        "modelAsString": true
      }
    },
    "SearchFieldName": {
      "type": "string",
      "description": "The search field name",
      "enum": [
        "All",
        "ApplicableProducts",
        "LastModifiedDateTime",
        "IndustryIds",
        "CategoryIds",
        "Market",
        "LinkedAddInTypes",
        "SupportedProducts",
        "HideKeys",
        "PublisherId",
        "DisplayName",
        "AzureBenefit",
        "Badges",
        "SmallIconUri",
        "IndustryCloud",
        "PublisherType",
        "PublishingState",
        "Language",
        "UniqueProductId",
        "ProductType",
        "Plans",
        "OperatingSystems",
        "PricingTypes",
        "PublisherDisplayName",
        "Summary",
        "LongSummary",
        "VmImageGenerations",
        "VmSecurityTypes",
        "VmArchitectureTypes",
        "Description",
        "RatingBuckets",
        "RatingAverage",
        "RatingCount"
      ],
      "x-ms-enum": {
        "name": "SearchFieldName",
        "modelAsString": true
      }
    },
    "SearchResponse": {
      "description": "Search response object",
      "type": "object",
      "required": [
        "results"
      ],
      "properties": {
        "facets": {
          "type": "object",
          "description": "The search facets",
          "additionalProperties": {
            "$ref": "#/definitions/FacetsItem"
          }
        },
        "results": {
          "type": "array",
          "description": "The results",
          "items": {
            "$ref": "#/definitions/ProductSummary"
          }
        },
        "totalCount": {
          "type": "integer",
          "description": "The total count",
          "format": "int64"
        },
        "showingResultsFor": {
          "type": "string",
          "description": "The showing results for"
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next page of API search"
        }
      }
    },
    "ProductSummary": {
      "type": "object",
      "description": "Summary description of the product",
      "required": [
        "productType"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product display name"
        },
        "popularity": {
          "type": "number",
          "description": "Popularity of the product",
          "format": "double"
        },
        "categoryIds": {
          "type": "array",
          "description": "Array of product categories, https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#categories. Such as 'Productivity'",
          "items": {
            "type": "string"
          }
        },
        "industryIds": {
          "type": "array",
          "description": "List of industry IDs the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id"
        },
        "azureBenefit": {
          "description": "Eligibility for Azure consumption commitment benefit (https://docs.microsoft.com/en-us/marketplace/azure-consumption-commitment-benefit). Possible values: \n- `Eligible` - Product is eligible for Azure consumption commitment benefit\n- `NotEligible` - Product is not eligible for Azure consumption commitment benefit",
          "allOf": [
            {
              "$ref": "#/definitions/AzureBenefit"
            }
          ]
        },
        "badges": {
          "type": "array",
          "description": "The following product badges are available: preferredSolution, powerBICertified, AdditionalPurchaseRequirement",
          "items": {
            "$ref": "#/definitions/Badge"
          }
        },
        "publisherType": {
          "description": "A value indicating whether this is a Microsoft or third party product. Possible values:\n- `Microsoft` - Product is published by Microsoft (1st party product)\n- `Third Party` - Product is published by Third Party Vendor",
          "allOf": [
            {
              "$ref": "#/definitions/PublisherType"
            }
          ]
        },
        "publishingStage": {
          "description": "Product publishing stage. Possible values:\n- `Preview` - Product is available to restricted audience\n- `Public` - Product is publicly available in the Marketplace",
          "allOf": [
            {
              "$ref": "#/definitions/PublishingStage"
            }
          ]
        },
        "uniqueProductId": {
          "type": "string",
          "description": "Unique product identifier"
        },
        "productType": {
          "description": "The delivery method or deployment model. Possible values:\n- `SaaS` - The product is a Software solution purchased on pay-as-you-go basis from a cloud service provider\n- `VirtualMachine` -  The product is Image service instances with usage-based pricing\n- `AzureApplication` - Products published as Solution Templates (ST) or Azure Managed Apps (AMA) plans that deploy Azure resources to the customer tenant \n- `DynamicsCE` - All Dynamics products except for DynamicsBC and DynamicsOps\n- `DynamicsBC` - Dynamics 365 business Central \n- `Container` -  The product is delivered as Container\n- `DynamicsOps` - Dynamics 365 Operations Apps\n- `None` - Product type returned for Azure Services, Container Extensions and VM extensions\n- `IotEdgeModules` - Resource is delivered as IoT Edge Module\n- `ContainerApps` - Resource is delivered as Container App\n- `ConsultingServices` Consulting Services (available only in Azure Marketplace as listing offers)\n- `ManagedServices` - The product is delivered as Managed Service\n- `PowerBI` - Power BI products\n- `CosellOnly` - Products available in scope of Co-Sell program only\n- `PowerBIVisuals` - Power BI Visuals products\n- `Office365` - Office 365 products\n- `DevService` - Dev Service\n- `AADApps` - Azure Active Directory Applications\n- `VisualStudioExtension` - Visual Studio Extensions",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "operatingSystems": {
          "type": "array",
          "description": "Operating system info for this product",
          "items": {
            "type": "string"
          }
        },
        "pricingTypes": {
          "type": "array",
          "description": "The list of the pricing types for which this offer is designated. Possible Values: \n- `Free` - Product has at least one plan that is free of charge.\n- `FreeTrial` - Product has at least one plan that is free trial.\n- `Byol` - Product has at least one plan that is bring your own license.\n- `Payg` - Product has at least one plan that is Pay as you go, usage based billing model.\n- `Ri` - Product has at least one plan that is Reserved Instance billing model.",
          "items": {
            "$ref": "#/definitions/PricingType"
          }
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "Publisher display name"
        },
        "longSummary": {
          "type": "string",
          "description": "Product long summary"
        },
        "summary": {
          "type": "string",
          "description": "Product summary"
        },
        "linkedAddInsTypes": {
          "type": "object",
          "description": "Linked add-in types",
          "additionalProperties": {
            "type": "string"
          }
        },
        "smallIconUri": {
          "type": "string",
          "description": "URI to the small product icon"
        },
        "description": {
          "type": "string",
          "description": "The product description text"
        },
        "ratingBuckets": {
          "type": "array",
          "description": "Rating buckets, Above1, Above2, Above3, Above4",
          "items": {
            "type": "string",
            "description": "Rating Bucket",
            "enum": [
              "AboveOne",
              "AboveTwo",
              "AboveThree",
              "AboveFour"
            ],
            "x-ms-enum": {
              "name": "RatingBucket",
              "modelAsString": true
            }
          }
        },
        "ratingAverage": {
          "type": "number",
          "description": "Average rating for the offer",
          "format": "double"
        },
        "ratingCount": {
          "type": "integer",
          "description": "Total number of ratings for the offer",
          "format": "int32"
        },
        "startingPrice": {
          "description": "Retail price of the product's cheapest plan",
          "allOf": [
            {
              "$ref": "#/definitions/MarketStartPrice"
            }
          ]
        },
        "plans": {
          "type": "array",
          "description": "List of plans that are available for this product",
          "items": {
            "$ref": "#/definitions/PlanSummary"
          }
        },
        "supportedProducts": {
          "type": "array",
          "description": "Maps to the list of compatible products that the publisher provides",
          "items": {
            "type": "string"
          }
        },
        "applicableProducts": {
          "type": "array",
          "description": "Product categories the offer belongs to",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedDateTime": {
          "type": "string",
          "description": "Latest update date of the product",
          "format": "date-time"
        }
      }
    },
    "MarketStartPrice": {
      "type": "object",
      "description": "Retail price of the product's cheapest plan",
      "properties": {
        "market": {
          "type": "string",
          "description": "The market for which the starting price is calculated"
        },
        "termUnits": {
          "type": "string",
          "description": "The terms pricing model units"
        },
        "meterUnits": {
          "type": "string",
          "description": "The meters pricing model units"
        },
        "minTermPrice": {
          "type": "number",
          "description": "Starting (minimal) terms price"
        },
        "minMeterPrice": {
          "type": "number",
          "description": "Starting (minimal) meters price"
        },
        "currency": {
          "type": "string",
          "description": "Currency for price"
        }
      }
    },
    "PlanSummary": {
      "type": "object",
      "description": "Summary description of the plan",
      "required": [
        "planType"
      ],
      "properties": {
        "planId": {
          "type": "string",
          "description": "Plan id"
        },
        "uniquePlanId": {
          "type": "string",
          "description": "Unique plan Id which is prefixed by combining uniqueProductId and PlanId with no separator in between"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the plan"
        },
        "vmArchitectureType": {
          "description": "VM Architecture Type. Applicable to Virtual Machine products only. PossibleValues:\n- `Arm64` - The VM image architecture of the plan is Arm64\n- `X64Gen1` - The VM image architecture of the plan is X64 Generation1\n- `X64Gen2` - The VM image architecture of the plan is X64 Generation2",
          "allOf": [
            {
              "$ref": "#/definitions/VmArchitectureType"
            }
          ]
        },
        "cspState": {
          "description": "A value indicating whether the product is available for purchase through CSP channel",
          "allOf": [
            {
              "$ref": "#/definitions/CspState"
            }
          ]
        },
        "metadata": {
          "description": "Additional plan metadata",
          "allOf": [
            {
              "$ref": "#/definitions/PlanMetadata"
            }
          ]
        },
        "altStackReference": {
          "type": "string",
          "description": "Alternative stack reference"
        },
        "stackType": {
          "type": "string",
          "description": "Stack type : Classic, Gen1, Gen2"
        },
        "altArchitectureReference": {
          "type": "string",
          "description": "The alternative architecture reference"
        },
        "categoryIds": {
          "type": "array",
          "description": "Plan CategoryIds",
          "items": {
            "type": "string"
          }
        },
        "hasProtectedArtifacts": {
          "type": "boolean",
          "description": "Set to true if plan has artifacts that are to be hidden for non authenticated users"
        },
        "pricingTypes": {
          "type": "array",
          "description": "The list of the pricing types for which this plan is designated (Possible values are the same as at product level)",
          "items": {
            "$ref": "#/definitions/PricingType"
          }
        },
        "vmSecurityTypes": {
          "type": "array",
          "description": "VM security type. Applicable to Virtual Machine products only. Possible values:\n- Standard - Basic level of security for the virtual machine\n- Trusted - protects against persistent and advanced attacks on Gen2 virtual machines with configurable features like security boot and virtual Trusted Platform Module(vTPM)\n- Confidential - on top of Trusted Launch, Confidential virtual machines offer higher confidentiality and integrity guaranteed with hardware-based trusted execution environment",
          "items": {
            "$ref": "#/definitions/VmSecurityType"
          }
        },
        "summary": {
          "type": "string",
          "description": "The plan summary text"
        },
        "description": {
          "type": "string",
          "description": "Plan description"
        },
        "skuId": {
          "type": "string",
          "description": "The SKU id"
        },
        "planType": {
          "description": "Managed Application or Solution template plan type (applicable only to Azure Applications product). Possible values: \n- `SolutionTemplate` - Solution Template plan type (applicable to Azure Applications only)\n- `ManagedApplication` - Managed Application plan type (applicable to Azure Applications only)",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "displayRank": {
          "type": "string",
          "description": "The order the plan is displayed in the 'Plans' table (as configured by the publisher)"
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Indication that the plan is accessible to restricted audience only"
        }
      }
    },
    "CspState": {
      "type": "string",
      "description": "Value showing whether the plan is available for purchase through CSP channel. For more information see, https://docs.microsoft.com/en-us/azure/marketplace/cloud-solution-providers",
      "enum": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ],
      "x-ms-enum": {
        "name": "CspState",
        "modelAsString": true
      }
    },
    "PlanMetadata": {
      "type": "object",
      "description": "Additional metadata",
      "properties": {
        "generation": {
          "type": "string",
          "description": "The VM image generation (applicable to Virtual Machine products only).see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2"
        },
        "altStackReference": {
          "type": "string",
          "description": "Pointing to a planId which holds the alternative stack reference"
        },
        "relatedSkus": {
          "type": "array",
          "description": "Pointing to a planId of plan related to this plan",
          "items": {
            "$ref": "#/definitions/PlanSkuRelation"
          }
        }
      }
    },
    "PlanSkuRelation": {
      "type": "object",
      "description": "Related plan information",
      "properties": {
        "sku": {
          "description": "The Sku",
          "allOf": [
            {
              "$ref": "#/definitions/RelatedSku"
            }
          ]
        },
        "relationType": {
          "type": "string",
          "description": "Relation Type"
        }
      }
    },
    "RelatedSku": {
      "type": "object",
      "description": "The sku",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name"
        },
        "generation": {
          "type": "string",
          "description": "The generation"
        },
        "identity": {
          "type": "string",
          "description": "The identity"
        }
      }
    },
    "SuggestionsResponse": {
      "type": "object",
      "description": "The suggestion response",
      "required": [
        "value",
        "totalCount"
      ],
      "properties": {
        "value": {
          "description": "The suggestion items results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SuggestionsItem"
          }
        },
        "totalCount": {
          "description": "The suggestion count",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SuggestionsItem": {
      "description": "The suggestion item",
      "type": "object",
      "required": [
        "displayText"
      ],
      "properties": {
        "suggestionType": {
          "description": "The suggestion type",
          "allOf": [
            {
              "$ref": "#/definitions/SuggestionType"
            }
          ]
        },
        "displayText": {
          "description": "The suggestion display text",
          "type": "string"
        },
        "id": {
          "description": "The suggestion item id",
          "type": "string"
        },
        "iconUrl": {
          "description": "The suggestion icon url",
          "type": "string"
        },
        "productType": {
          "description": "The suggestion supported product types",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "linkedAddInsTypes": {
          "description": "The suggestion linked add-in types",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SuggestionType": {
      "type": "string",
      "description": "The type of the suggestion",
      "enum": [
        "WordSearch",
        "Entity"
      ],
      "x-ms-enum": {
        "name": "SuggestionType",
        "modelAsString": true
      }
    },
    "SuggestionsFieldName": {
      "type": "string",
      "description": "The suggestions field name",
      "enum": [
        "DisplayText",
        "Id",
        "IconUrl",
        "ProductType",
        "LinkedAddInsTypes"
      ],
      "x-ms-enum": {
        "name": "SuggestionsFieldName",
        "modelAsString": true
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
