{
  "swagger": "2.0",
  "info": {
    "version": "2024-09-01-preview",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/publishers/{publisherName}/offers": {
      "get": {
        "operationId": "Offers_ListByPublisher",
        "description": "List Offers available for a publisher within the HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ODataExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Offer resources by publisher for the HCI Cluster": {
            "$ref": "./examples/ListOffersByPublisher.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/offers": {
      "get": {
        "operationId": "Offers_ListByCluster",
        "description": "List Offers available across publishers for the HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ODataExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Offer resources by HCI Cluster": {
            "$ref": "./examples/ListOffersByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/publishers/{publisherName}/offers/{offerName}": {
      "get": {
        "operationId": "Offers_Get",
        "description": "Get Offer resource details within a publisher of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "#/parameters/OfferNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ODataExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Offer": {
            "$ref": "./examples/GetOffer.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OfferList": {
      "description": "List of Offer proxy resources for the HCI cluster.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Offer proxy resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Offer": {
      "description": "Offer details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Offer properties.",
          "$ref": "#/definitions/OfferProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "OfferProperties": {
      "description": "Publisher properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning State",
          "type": "string",
          "readOnly": true
        },
        "publisherId": {
          "type": "string",
          "description": "Identifier of the Publisher for the offer"
        },
        "content": {
          "type": "string",
          "description": "JSON serialized catalog content of the offer"
        },
        "contentVersion": {
          "type": "string",
          "description": "The API version of the catalog service used to serve the catalog content"
        },
        "skuMappings": {
          "type": "array",
          "description": "Array of SKU mappings",
          "items": {
            "$ref": "#/definitions/SkuMappings"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SkuMappings": {
      "description": "SKU Mapping details.",
      "type": "object",
      "properties": {
        "catalogPlanId": {
          "type": "string",
          "description": "Identifier of the CatalogPlan for the sku"
        },
        "marketplaceSkuId": {
          "type": "string",
          "description": "Identifier for the sku"
        },
        "marketplaceSkuVersions": {
          "type": "array",
          "description": "Array of SKU versions available",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "PublisherNameParameter": {
      "name": "publisherName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the publisher available within HCI cluster.",
      "x-ms-parameter-location": "method"
    },
    "OfferNameParameter": {
      "name": "offerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the offer available within HCI cluster.",
      "x-ms-parameter-location": "method"
    },
    "ODataExpandParameter": {
      "name": "$expand",
      "in": "query",
      "description": "Specify $expand=content,contentVersion to populate additional fields related to the marketplace offer.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
