{
  "swagger": "2.0",
  "info": {
    "version": "2021-08-08",
    "title": "Azure Alerts Management Service Resource Provider",
    "description": "APIs for Azure alert processing rules CRUD operations."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/actionRules": {
      "get": {
        "description": "List all alert processing rules in a subscription.",
        "operationId": "AlertProcessingRules_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of alert processing rules.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AlertProcessingRulesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetAlertProcessingRulesSubscriptionWide": {
            "$ref": "./examples/AlertProcessingRules_List_Subscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/actionRules": {
      "get": {
        "operationId": "AlertProcessingRules_ListByResourceGroup",
        "description": "List all alert processing rules in a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of alert processing rules.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AlertProcessingRulesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetAlertProcessingRulesResourceGroupWide": {
            "$ref": "./examples/AlertProcessingRules_List_ResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/actionRules/{alertProcessingRuleName}": {
      "get": {
        "description": "Get an alert processing rule by name.",
        "operationId": "AlertProcessingRules_GetByName",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "alertProcessingRuleName",
            "in": "path",
            "description": "The name of the alert processing rule that needs to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the specific alert processing rule.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AlertProcessingRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetAlertProcessingRuleById": {
            "$ref": "./examples/AlertProcessingRules_GetById.json"
          }
        }
      },
      "put": {
        "operationId": "AlertProcessingRules_CreateOrUpdate",
        "description": "Create or update an alert processing rule.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "alertProcessingRuleName",
            "in": "path",
            "description": "The name of the alert processing rule that needs to be created/updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertProcessingRule",
            "in": "body",
            "description": "Alert processing rule to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertProcessingRule"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the updated alert processing rule.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AlertProcessingRule"
            }
          },
          "201": {
            "description": "Created. Returns the created alert processing rule.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AlertProcessingRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a rule that adds an action group to all alerts in a subscription": {
            "$ref": "./examples/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json"
          },
          "Create or update a rule that adds two action groups to all Sev0 and Sev1 alerts in two resource groups": {
            "$ref": "./examples/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json"
          },
          "Create or update a rule that removes all action groups from alerts on a specific VM during a one-off maintenance window (1800-2000 at a specific date, Pacific Standard Time)": {
            "$ref": "./examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json"
          },
          "Create or update a rule that removes all action groups from all alerts on any VM in two resource groups during a recurring maintenance window (2200-0400 every Sat and Sun, India Standard Time)": {
            "$ref": "./examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json"
          },
          "Create or update a rule that removes all action groups outside business hours (Mon-Fri 09:00-17:00, Eastern Standard Time)": {
            "$ref": "./examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json"
          },
          "Create or update a rule that removes all action groups from all alerts in a subscription coming from a specific alert rule": {
            "$ref": "./examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json"
          }
        }
      },
      "delete": {
        "description": "Delete an alert processing rule.",
        "operationId": "AlertProcessingRules_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "alertProcessingRuleName",
            "in": "path",
            "description": "The name of the alert processing rule that needs to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete an alert processing rule.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            }
          },
          "204": {
            "description": "No content: the request was successful, but the response is empty.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteAlertProcessingRule": {
            "$ref": "./examples/AlertProcessingRules_Delete.json"
          }
        }
      },
      "patch": {
        "description": "Enable, disable, or update tags for an alert processing rule.",
        "operationId": "AlertProcessingRules_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "alertProcessingRuleName",
            "in": "path",
            "description": "The name that needs to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertProcessingRulePatch",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchObject"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the created/updated alert processing rule.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AlertProcessingRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchAlertProcessingRule": {
            "$ref": "./examples/AlertProcessingRules_Patch.json"
          }
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "minLength": 1
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "Resource group name where the resource is created.",
      "type": "string",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "api-version": {
      "name": "api-version",
      "description": "Client API version.",
      "type": "string",
      "in": "query",
      "required": true,
      "enum": [
        "2021-08-08"
      ],
      "x-ms-enum": {
        "name": "api-version",
        "modelAsString": true
      }
    }
  },
  "definitions": {
    "errorResponse": {
      "description": "An error response from the service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/errorResponseBody"
        }
      }
    },
    "errorResponseBody": {
      "description": "Details of error response.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code, intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "Description of the error, intended for display in user interface."
        },
        "target": {
          "type": "string",
          "description": "Target of the particular error, for example name of the property."
        },
        "details": {
          "type": "array",
          "description": "A list of additional details about the error.",
          "items": {
            "$ref": "#/definitions/errorResponseBody"
          }
        }
      }
    },
    "Resource": {
      "x-ms-azure-resource": true,
      "description": "An azure resource object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        }
      }
    },
    "ManagedResource": {
      "description": "An azure managed resource object.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ]
    },
    "Scopes": {
      "type": "array",
      "description": "List of ARM IDs which will be the target of the given alert processing rule.",
      "items": {
        "type": "string"
      }
    },
    "Condition": {
      "type": "object",
      "description": "Condition to trigger an alert processing rule.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Field for a given condition.",
          "enum": [
            "Severity",
            "MonitorService",
            "MonitorCondition",
            "SignalType",
            "TargetResourceType",
            "TargetResource",
            "TargetResourceGroup",
            "AlertRuleId",
            "AlertRuleName",
            "Description",
            "AlertContext"
          ],
          "x-ms-enum": {
            "name": "Field",
            "modelAsString": true
          }
        },
        "operator": {
          "type": "string",
          "description": "Operator for a given condition.",
          "enum": [
            "Equals",
            "NotEquals",
            "Contains",
            "DoesNotContain"
          ],
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": true
          }
        },
        "values": {
          "type": "array",
          "description": "List of values to match for a given condition.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Conditions": {
      "type": "array",
      "description": "Conditions in alert instance to be matched for a given alert processing rule. Default value is all. Multiple values could be provided with comma separation.",
      "items": {
        "$ref": "#/definitions/Condition"
      }
    },
    "Schedule": {
      "type": "object",
      "description": "Scheduling configuration for a given alert processing rule.",
      "properties": {
        "effectiveFrom": {
          "type": "string",
          "pattern": "^(?:(\\d{4}-\\d{2}-\\d{2})T(\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?))$",
          "description": "Scheduling effective from time. Date-Time in ISO-8601 format without timezone suffix."
        },
        "effectiveUntil": {
          "type": "string",
          "pattern": "^(?:(\\d{4}-\\d{2}-\\d{2})T(\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?))$",
          "description": "Scheduling effective until time. Date-Time in ISO-8601 format without timezone suffix."
        },
        "timeZone": {
          "type": "string",
          "description": "Scheduling time zone."
        },
        "recurrences": {
          "type": "array",
          "description": "List of recurrences.",
          "items": {
            "$ref": "#/definitions/Recurrence"
          }
        }
      }
    },
    "Recurrence": {
      "type": "object",
      "description": "Recurrence object.",
      "discriminator": "recurrenceType",
      "required": [
        "recurrenceType"
      ],
      "properties": {
        "recurrenceType": {
          "type": "string",
          "description": "Specifies when the recurrence should be applied.",
          "enum": [
            "Daily",
            "Weekly",
            "Monthly"
          ],
          "x-ms-enum": {
            "name": "RecurrenceType",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "description": "Start time for recurrence."
        },
        "endTime": {
          "type": "string",
          "description": "End time for recurrence."
        }
      }
    },
    "DailyRecurrence": {
      "x-ms-discriminator-value": "Daily",
      "type": "object",
      "description": "Daily recurrence object.",
      "required": [
        "startTime",
        "endTime"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Recurrence"
        }
      ]
    },
    "WeeklyRecurrence": {
      "x-ms-discriminator-value": "Weekly",
      "type": "object",
      "description": "Weekly recurrence object.",
      "required": [
        "daysOfWeek"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Recurrence"
        }
      ],
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "description": "Specifies the values for weekly recurrence pattern.",
          "items": {
            "$ref": "#/definitions/DaysOfWeek"
          }
        }
      }
    },
    "MonthlyRecurrence": {
      "x-ms-discriminator-value": "Monthly",
      "type": "object",
      "description": "Monthly recurrence object.",
      "required": [
        "daysOfMonth"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Recurrence"
        }
      ],
      "properties": {
        "daysOfMonth": {
          "type": "array",
          "description": "Specifies the values for monthly recurrence pattern.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "DaysOfWeek": {
      "type": "string",
      "description": "Days of week.",
      "enum": [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "x-ms-enum": {
        "name": "DaysOfWeek",
        "modelAsString": true
      }
    },
    "AlertProcessingRule": {
      "type": "object",
      "description": "Alert processing rule object containing target scopes, conditions and scheduling logic.",
      "allOf": [
        {
          "$ref": "#/definitions/ManagedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Alert processing rule properties.",
          "$ref": "#/definitions/AlertProcessingRuleProperties"
        },
        "systemData": {
          "description": "Alert processing rule system data.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "AlertProcessingRuleProperties": {
      "type": "object",
      "description": "Alert processing rule properties defining scopes, conditions and scheduling logic for alert processing rule.",
      "required": [
        "scopes",
        "actions"
      ],
      "properties": {
        "scopes": {
          "description": "Scopes on which alert processing rule will apply.",
          "$ref": "#/definitions/Scopes"
        },
        "conditions": {
          "description": "Conditions on which alerts will be filtered.",
          "$ref": "#/definitions/Conditions"
        },
        "schedule": {
          "description": "Scheduling for alert processing rule.",
          "$ref": "#/definitions/Schedule"
        },
        "actions": {
          "type": "array",
          "description": "Actions to be applied.",
          "items": {
            "$ref": "#/definitions/Action"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of alert processing rule."
        },
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates if the given alert processing rule is enabled or disabled."
        }
      }
    },
    "Action": {
      "type": "object",
      "description": "Action to be applied.",
      "discriminator": "actionType",
      "required": [
        "actionType"
      ],
      "properties": {
        "actionType": {
          "type": "string",
          "description": "Action that should be applied.",
          "enum": [
            "AddActionGroups",
            "RemoveAllActionGroups"
          ],
          "x-ms-enum": {
            "name": "actionType",
            "modelAsString": true
          }
        }
      }
    },
    "AddActionGroups": {
      "x-ms-discriminator-value": "AddActionGroups",
      "type": "object",
      "description": "Add action groups to alert processing rule.",
      "required": [
        "actionGroupIds"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Action"
        }
      ],
      "properties": {
        "actionGroupIds": {
          "description": "List of action group Ids to add to alert processing rule.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RemoveAllActionGroups": {
      "x-ms-discriminator-value": "RemoveAllActionGroups",
      "type": "object",
      "description": "Indicates if all action groups should be removed.",
      "allOf": [
        {
          "$ref": "#/definitions/Action"
        }
      ]
    },
    "AlertProcessingRulesList": {
      "type": "object",
      "description": "List of alert processing rules.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "URL to fetch the next set of alert processing rules."
        },
        "value": {
          "type": "array",
          "description": "List of alert processing rules.",
          "items": {
            "$ref": "#/definitions/AlertProcessingRule"
          }
        }
      }
    },
    "PatchProperties": {
      "description": "Alert processing rule properties supported by patch.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Indicates if the given alert processing rule is enabled or disabled."
        }
      }
    },
    "PatchObject": {
      "description": "Data contract for patch.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties supported by patch operation.",
          "$ref": "#/definitions/PatchProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags to be updated."
        }
      }
    }
  }
}
