{
    "swagger": "2.0",
    "info": {
        "version": "2016-01-01",
        "title": "AzureBridgeAdminClient",
        "description": "AzureBridge Admin Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {},
    "definitions": {
        "Resource": {
            "description": "Base Resource Object",
            "type": "object",
            "properties": {
                "id": {
                    "readOnly": true,
                    "description": "URI of the resource.",
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "description": "Name of the resource.",
                    "type": "string"
                },
                "type": {
                    "readOnly": true,
                    "description": "Type of resource.",
                    "type": "string"
                },
                "location": {
                    "readOnly": true,
                    "description": "Location of the resource",
                    "type": "string"
                },
                "tags": {
                    "readOnly": true,
                    "description": "List of key value pairs.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "x-ms-azure-resource": true
        },
        "ProvisioningState": {
            "description": "The provisioning state of the resource.",
            "type" : "string",
            "enum": [
                "Stopped",
                "Starting",
                "Running",
                "Stopping",
                "Succeeded",
                "Downloading"
            ],
            "x-ms-enum": {
                "modelAsString": true,
                "name": "ProvisioningState"
            }
        },
        "ProductBase": {
            "description": "Base object for all product classes.",
            "type": "object",
            "properties": {
                "displayName": {
                    "description": "Name displayed for the product.",
                    "type": "string"
                },
                "description": {
                    "description": "Description of the product.",
                    "type": "string"
                },
                "publisherDisplayName": {
                    "description": "Name of publisher.",
                    "type": "string"
                },
                "publisherIdentifier": {
                    "description": "Publisher identifier.",
                    "type": "string"
                },
                "offer": {
                    "description": "Offer name.",
                    "type": "string"
                },
                "offerVersion": {
                    "description": "Offer version.",
                    "type": "string"
                },
                "sku": {
                    "description": "Product SKU.",
                    "type": "string"
                },
                "billingPartNumber": {
                    "description": "Billing part number.",
                    "type": "string"
                },
                "galleryItemIdentity": {
                    "description": "Gallery item identity.",
                    "type": "string"
                },
                "iconUris": {
                    "description": "Information about gallery icons.",
                    "$ref": "#/definitions/GalleryIcons"
                },
                "payloadLength": {
                    "description": "Size in bytes.",
                    "type": "integer",
                    "format": "int64"
                },
                "productKind": {
                    "description": "The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.",
                    "type": "string"
                },
                "productProperties": {
                    "description": "the product properties. At the moment only VirtualMachineProductProperties is allowed.",
                    "$ref": "#/definitions/ProductProperties"
                }
            }
        },
        "GalleryIcons": {
            "description": "Icons for the gallery items.",
            "type": "object",
            "properties": {
                "hero": {
                    "description": "The hero (815x290) icon relative path.",
                    "type": "string"
                },
                "large": {
                    "description": "The large (115x115) icon relative path.",
                    "type": "string"
                },
                "wide": {
                    "description": "The wide (255x115) icon relative path.",
                    "type": "string"
                },
                "medium": {
                    "description": "The medium (90x90) icon relative path.",
                    "type": "string"
                },
                "small": {
                    "description": "The small (40x40) icon relative path.",
                    "type": "string"
                }
            }
        },
        "ProductProperties": {
            "description": "Additional properties of the product",
            "type": "object",
            "properties": {
                "version": {
                    "description": "The version of the product",
                    "type": "string"
                }
            }
        },
        "ProductLink": {
            "description": "Link to a product.",
            "type": "object",
            "properties": {
                "displayName": {
                    "description": "Displayed name of product.",
                    "type": "string"
                },
                "uri": {
                    "description": "URI to product.",
                    "type": "string"
                }
            }
        },
        "ProductLinks": {
            "description": "List of product links.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/ProductLink"
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string",
            "default": "2016-01-01"
        },
        "ActivationNameParameter": {
            "name": "activationName",
            "in": "path",
            "description": "Name of the activation.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "ProductNameParameter": {
            "name": "productName",
            "in": "path",
            "description": "Name of the product.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "ResourceGroupParameter": {
            "description": "The resource group the resource is located under.",
            "name": "resourceGroup",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "RegistrationNameParameter": {
            "name": "registrationName",
            "in": "path",
            "description": "Name of the registration.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}
