{
  "swagger": "2.0",
  "info": {
    "version": "2016-01-01",
    "title": "AzureBridgeAdminClient",
    "description": "AzureBridge Admin Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts": {
      "get": {
        "x-ms-examples": {
          "Get a list of downloaded products.": {
            "$ref": "./examples/DownloadedProduct/List.json"
          }
        },
        "description": "Get a list of downloaded products.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_List",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResourcesPage"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "AzureBridge.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}": {
      "get": {
        "x-ms-examples": {
          "Gets the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Get.json"
          }
        },
        "description": "Get a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_Get",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResource"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "AzureBridge.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "x-ms-examples": {
          "Upserts a downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Put.json"
          }
        },
        "description": "Create or update a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DownloadedProductParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResource"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "AzureBridge.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "x-ms-examples": {
          "Deletes the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Delete.json"
          }
        },
        "description": "Delete a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_Delete",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "AzureBridge.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "DownloadedProductResource": {
      "description": "Downloaded product resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties of the resource.",
          "$ref": "#/definitions/DownloadedProduct"
        }
      },
      "allOf": [
        {
          "$ref": "AzureBridge.json#/definitions/Resource"
        }
      ]
    },
    "DownloadedProduct": {
      "description": "Properties for aggregate usage.",
      "type": "object",
      "properties": {
        "vmExtensionType": {
          "description": "Extension type of the VM.",
          "type": "string"
        },
        "links": {
          "description": "Gallery item identity.",
          "$ref": "AzureBridge.json#/definitions/ProductLinks"
        },
        "legalTerms": {
          "description": "Legal terms for the product.",
          "type": "string"
        },
        "privacyPolicy": {
          "description": "Privacy policy of the product.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "$ref": "AzureBridge.json#/definitions/ProvisioningState"
        }
      },
      "allOf": [
        {
          "$ref": "AzureBridge.json#/definitions/ProductBase"
        }
      ]
    },
    "PutDownloadedProduct": {
      "description": "Properties for aggregate usage (upsert).",
      "type": "object",
      "properties": {
        "galleryPackageBlobSasUri": {
          "description": "SAS uri of gallery package blob.",
          "type": "string"
        },
        "productDetailsProperties": {
          "description": "Product details in JToken",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DownloadedProduct"
        }
      ]
    },
    "DownloadedProductResourcesPage": {
      "description": "Holds an array of downloaded products and the URI to the next page.",
      "properties": {
        "value": {
          "description": "Array of downloaded products.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DownloadedProductResource"
          }
        },
        "nextLink": {
          "description": "URI to next page.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "DownloadedProductParameter": {
      "name": "parameters",
      "in": "body",
      "description": "Parameters supplied to create or update downloaded product.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PutDownloadedProduct"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}