{
  "swagger": "2.0",
  "info": {
    "version": "2016-01-01",
    "title": "AzureBridgeAdminClient",
    "description": "AzureBridge Admin Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts": {
      "get": {
        "x-ms-examples": {
          "Get a list of downloaded products.": {
            "$ref": "./examples/DownloadedProduct/List.json"
          }
        },
        "description": "Get a list of downloaded products.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_List",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResourcesPage"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}": {
      "get": {
        "x-ms-examples": {
          "Gets the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Get.json"
          }
        },
        "description": "Get a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_Get",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResource"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "x-ms-examples": {
          "Deletes the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Delete.json"
          }
        },
        "description": "Delete a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_Delete",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResource"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DownloadedProductResource"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "x-ms-examples": {
          "Puts the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Put.json"
          }
        },
        "description": "Creates a downloaded product.",
        "tags": [
          "DownloadedProducts"
        ],
        "operationId": "DownloadedProducts_Create",
        "parameters": [
          {
            "$ref": "AzureBridge.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DownloadedProductPutParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "DownloadedProductResource": {
      "description": "Downloaded product resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties of the resource.",
          "$ref": "#/definitions/DownloadedProduct"
        }
      },
      "allOf": [
        {
          "$ref": "AzureBridge.json#/definitions/Resource"
        }
      ]
    },
    "DownloadedProduct": {
      "description": "Properties for aggregate usage.",
      "type": "object",
      "properties": {
        "vmExtensionType": {
          "description": "Extension type of the VM.",
          "type": "string"
        },
        "links": {
          "description": "Gallery item identity.",
          "$ref": "AzureBridge.json#/definitions/ProductLinks"
        },
        "legalTerms": {
          "description": "Legal terms for the product.",
          "type": "string"
        },
        "privacyPolicy": {
          "description": "Privacy policy of the product.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "$ref": "AzureBridge.json#/definitions/ProvisioningState"
        }
      },
      "allOf": [
        {
          "$ref": "AzureBridge.json#/definitions/ProductBase"
        }
      ]
    },
    "DownloadedProductResourcesPage": {
      "description": "Holds an array of downloaded products and the URI to the next page.",
      "properties": {
        "value": {
          "description": "Array of downloaded products.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DownloadedProductResource"
          }
        },
        "nextLink": {
          "description": "URI to next page.",
          "type": "string"
        }
      }
    },
    "DownloadedProductPutResource": {
      "description": "Downloaded product put resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties of the resource.",
          "$ref": "#/definitions/DownloadedProductPut"
        }
      },
      "allOf": [
        {
          "$ref": "AzureBridge.json#/definitions/Resource"
        }
      ]
    },
    "DownloadedProductPut": {
      "description": "Product information.",
      "type": "object",
      "properties": {
        "galleryPackageBlobSasUri": {
          "description": "The URI to the .azpkg file that provides information required for showing product in the gallery.",
          "type": "string",
          "readOnly": true
        },
        "productKind": {
          "description": "Specifies the kind of the product (virtualMachine or virtualMachineExtension).",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Specifies additional properties describing the product.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExtendedProductProperties",
          "readOnly": true
        }
      }
    },
    "ExtendedProductProperties": {
      "description": "Product information.",
      "type": "object",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/VirtualMachineExtensionProductProperties"
        },
        {
          "$ref": "#/definitions/VirtualMachineProductProperties"
        }
      ]
    },
    "VirtualMachineExtensionProductProperties": {
      "description": "Product information.",
      "type": "object",
      "properties": {
        "computeRole": {
          "description": "Specifies kind of compute role included in the package.",
          "$ref": "#/definitions/ComputeRole",
          "readOnly": true
        },
        "isSystemExtension": {
          "description": "Specifies if product is a Virtual Machine Extension.",
          "type": "boolean",
          "readOnly": true
        },
        "sourceBlob": {
          "description": "Specifies a download location where content can be downloaded from.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Uri",
          "readOnly": true
        },
        "supportMultipleExtensions": {
          "description": "Indicates if specified product supports multiple extensions.",
          "type": "boolean",
          "readOnly": true
        },
        "version": {
          "description": "Specifies product version.",
          "type": "string",
          "readOnly": true
        },
        "vmOsType": {
          "description": "Specifies operating system used by the product.",
          "$ref": "#/definitions/OperatingSystem",
          "readOnly": true
        },
        "vmScaleSetEnabled": {
          "description": "Indicates if virtual machine Scale Set is enabled in the specified product.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "VirtualMachineProductProperties": {
      "description": "Product information.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies product version.",
          "type": "string",
          "readOnly": true
        },
        "osDiskImage": {
          "description": "OS disk image used by product.",
          "$ref": "#/definitions/OsDiskImage",
          "readOnly": true
        },
        "dataDiskImages": {
          "description": "List of attached data disks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDiskImage"
          },
          "readOnly": true
        }
      }
    },
    "ComputeRole": {
      "description": "Compute role type (IaaS or PaaS).",
      "type": "string",
      "enum": [
        "None",
        "IaaS",
        "PaaS"
      ],
      "x-ms-enum": {
        "name": "ComputeRole",
        "modelAsString": true
      }
    },
    "Uri": {
      "description": "The URI.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperatingSystem": {
      "description": "Operating system type (Windows or Linux).",
      "type": "string",
      "enum": [
        "None",
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "name": "OperatingSystem",
        "modelAsString": true
      }
    },
    "OsDiskImage": {
      "description": "OS disk image.",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "OS operating system type.",
          "$ref": "#/definitions/OperatingSystem",
          "readOnly": true
        },
        "sourceBlobSasUri": {
          "description": "SAS key for source blob.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataDiskImage": {
      "description": "Data disk image.",
      "type": "object",
      "properties": {
        "lun": {
          "description": "The LUN.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sourceBlobSasUri": {
          "description": "SAS key for source blob.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "DownloadedProductPutParameter": {
      "description": "Downloaded product resource definition.",
      "name": "downloadedProductPutParameter",
      "in": "body",
      "required": true,
      "x-ms-parameter-location": "method",
      "schema": {
        "$ref": "#/definitions/DownloadedProductPutResource"
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
