{
    "swagger": "2.0",
    "info": {
        "description": "Region health operation endpoints and objects.",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths": {
            "get": {
                "x-ms-examples": {
                    "Get the list of all health items for the region": "./examples/RegionHealths/RegionHealthsListOperation_example.json"
                },
                "tags": [
                    "RegionHealths"
                ],
                "description": "Get the list of all regions health status.",
                "operationId": "RegionHealths_List",
                "parameters": [
                    {
                        "$ref": "infrastructureinsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RegionHealthList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/Alert",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{region}": {
            "get": {
                "x-ms-examples": {
                    "Get the health status of a region": "./examples/RegionHealths/RegionHealthsGetOperation_example.json"
                },
                "tags": [
                    "RegionHealths"
                ],
                "description": "Get health status of a region.",
                "operationId": "RegionHealths_Get",
                "parameters": [
                    {
                        "$ref": "infrastructureinsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/RegionParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RegionHealth"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "RegionHealth": {
            "description": "Contains information related to a regions health.",
            "properties": {
                "properties": {
                    "description": "Contains information related to a regions health.",
                    "$ref": "#/definitions/RegionHealthModel",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "infrastructureinsights.json#/definitions/Resource"
                }
            ]
        },
        "RegionHealthModel": {
            "description": "Contains information related to a regions health.",
            "properties": {
                "alertSummary": {
                    "description": "Summary of alerts.",
                    "$ref": "infrastructureinsights.json#/definitions/AlertSummary"
                },
                "usageMetrics": {
                    "description": "List of usage metrics for this region.",
                    "type": "array",
                    "items": {
                        "$ref": "infrastructureinsights.json#/definitions/UsageMetrics"
                    }
                }
            }
        },
        "RegionHealthList": {
            "description": "Pageable list of region health items.",
            "properties": {
                "value": {
                    "description": "Array of region health items",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RegionHealth"
                    }
                },
                "nextLink": {
                    "description": "URI to next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "RegionParameter": {
            "description": "Name of the region",
            "name": "region",
            "type": "string",
            "required": true,
            "in": "path",
            "x-ms-parameter-location": "method"
        }
    }
}