{
  "swagger": "2.0",
  "info": {
    "title": "LogicManagementClient",
    "version": "2026-01-01-preview",
    "description": "REST API for Azure Logic Apps — AutoProject resource.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AutoProjects"
    }
  ],
  "paths": {
    "/providers/Microsoft.Logic/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/autoProjects": {
      "get": {
        "operationId": "AutoProjects_ListBySubscription",
        "tags": [
          "AutoProjects"
        ],
        "description": "Gets a list of auto projects by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Auto Projects by Subscription": {
            "$ref": "./examples/AutoProjects_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/autoProjects": {
      "get": {
        "operationId": "AutoProjects_ListByResourceGroup",
        "tags": [
          "AutoProjects"
        ],
        "description": "Gets a list of auto projects by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Auto Projects by Resource Group": {
            "$ref": "./examples/AutoProjects_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/autoProjects/{autoProjectName}": {
      "get": {
        "operationId": "AutoProjects_Get",
        "tags": [
          "AutoProjects"
        ],
        "description": "Gets an auto project.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoProjectName",
            "in": "path",
            "description": "The auto project name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Auto Project": {
            "$ref": "./examples/AutoProjects_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AutoProjects_CreateOrUpdate",
        "tags": [
          "AutoProjects"
        ],
        "description": "Creates or updates an auto project. When creating, the auto project provisions its\nmanaged auto apps (ContainerApps with kind 'workflowapp') and sets\nthe managedBy property on each to this auto project's resource ID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoProjectName",
            "in": "path",
            "description": "The auto project name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The auto project definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AutoProject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutoProject"
            }
          },
          "201": {
            "description": "Resource 'AutoProject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutoProject"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Auto Project": {
            "$ref": "./examples/AutoProjects_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AutoProject"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AutoProjects_Update",
        "tags": [
          "AutoProjects"
        ],
        "description": "Updates an auto project using JSON Merge Patch.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoProjectName",
            "in": "path",
            "description": "The auto project name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Auto Project": {
            "$ref": "./examples/AutoProjects_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AutoProject"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AutoProjects_Delete",
        "tags": [
          "AutoProjects"
        ],
        "description": "Deletes an auto project and all of its managed auto apps.\nThis operation cascades — all ContainerApps with managedBy pointing\nto this auto project will be deleted.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoProjectName",
            "in": "path",
            "description": "The auto project name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Auto Project": {
            "$ref": "./examples/AutoProjects_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AutoAppProvisioningState": {
      "type": "string",
      "description": "The provisioning state of an auto app managed by the auto project.",
      "enum": [
        "InProgress",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "AutoAppProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The auto app is being provisioned."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The auto app has been successfully provisioned."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The auto app provisioning has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The auto app provisioning was canceled."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The auto app is being deleted."
          }
        ]
      }
    },
    "AutoAppReference": {
      "type": "object",
      "description": "A reference to a ContainerApp of kind workflowapp managed by this auto project.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ARM resource ID of the ContainerApp (Microsoft.App/containerApps).\nThe ContainerApp must have kind set to 'workflowapp' and managedBy set to this auto project's resource ID."
        },
        "displayName": {
          "type": "string",
          "description": "A friendly display name for this auto app within the auto project."
        },
        "provisioningState": {
          "$ref": "#/definitions/AutoAppProvisioningState",
          "description": "Gets the current provisioning state of the referenced auto app.",
          "readOnly": true
        },
        "runningState": {
          "$ref": "#/definitions/AutoAppRunningState",
          "description": "Gets the current running state of the referenced auto app.",
          "readOnly": true
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "AutoAppRunningState": {
      "type": "string",
      "description": "The running state of an auto app managed by the auto project.",
      "enum": [
        "Running",
        "Stopped",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "AutoAppRunningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Running",
            "value": "Running",
            "description": "The auto app is running."
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "The auto app is stopped."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The running state is unknown."
          }
        ]
      }
    },
    "AutoProject": {
      "type": "object",
      "description": "The auto project resource. An auto project is a logical grouping that owns and manages\nmultiple ContainerApps of kind 'workflowapp' via the managedBy relationship.\nThe auto project is the single entry point for lifecycle management of its auto apps.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutoProjectProperties",
          "description": "The auto project properties."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AutoProjectListResult": {
      "type": "object",
      "description": "The response of a AutoProject list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AutoProject items on this page",
          "items": {
            "$ref": "#/definitions/AutoProject"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AutoProjectProperties": {
      "type": "object",
      "description": "The properties of the auto project resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/AutoProjectProvisioningState",
          "description": "Gets the provisioning state of the auto project.",
          "readOnly": true
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the created time of the auto project.",
          "readOnly": true
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the last modified time of the auto project.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A description of the auto project."
        },
        "autoApps": {
          "type": "array",
          "description": "The auto apps managed by this auto project (read-only).\nPopulated by the server based on ContainerApps that have `managedBy` set to this auto project's resource ID.\nEach ContainerApp must have kind set to 'workflowapp'.",
          "items": {
            "$ref": "#/definitions/AutoAppReference"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      }
    },
    "AutoProjectProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the auto project resource.",
      "enum": [
        "InProgress",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "AutoProjectProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The auto project is being created or updated."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The auto project has been successfully provisioned."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The auto project provisioning has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The auto project provisioning was canceled."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The auto project is being deleted."
          }
        ]
      }
    },
    "AutoProjectUpdate": {
      "type": "object",
      "description": "The auto project resource. An auto project is a logical grouping that owns and manages\nmultiple ContainerApps of kind 'workflowapp' via the managedBy relationship.\nThe auto project is the single entry point for lifecycle management of its auto apps.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutoProjectProperties",
          "description": "The auto project properties."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    }
  },
  "parameters": {}
}
