{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2023-01-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SecurityOperators"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}/securityOperators": {
      "get": {
        "operationId": "SecurityOperators_List",
        "tags": [
          "SecurityOperators"
        ],
        "description": "Lists Microsoft Defender for Cloud securityOperators in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pricingName",
            "in": "path",
            "description": "Name of the pricing configuration.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityOperatorList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List SecurityOperators": {
            "$ref": "./examples/SecurityOperators/ListSecurityOperators_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}/securityOperators/{securityOperatorName}": {
      "get": {
        "operationId": "SecurityOperators_Get",
        "tags": [
          "SecurityOperators"
        ],
        "description": "Get a specific security operator for the requested scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pricingName",
            "in": "path",
            "description": "Name of the pricing configuration.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          },
          {
            "name": "securityOperatorName",
            "in": "path",
            "description": "Name of the security operator.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityOperator"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a specific security operator by scope and securityOperatorName": {
            "$ref": "./examples/SecurityOperators/GetSecurityOperatorByName_example.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityOperators_CreateOrUpdate",
        "tags": [
          "SecurityOperators"
        ],
        "description": "Creates Microsoft Defender for Cloud security operator on the given scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pricingName",
            "in": "path",
            "description": "Name of the pricing configuration.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          },
          {
            "name": "securityOperatorName",
            "in": "path",
            "description": "Name of the security operator.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityOperator' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityOperator"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a security operator on the given scope": {
            "$ref": "./examples/SecurityOperators/PutSecurityOperatorByName_example.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityOperators_Delete",
        "tags": [
          "SecurityOperators"
        ],
        "description": "Delete Microsoft Defender for Cloud securityOperator in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pricingName",
            "in": "path",
            "description": "Name of the pricing configuration.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          },
          {
            "name": "securityOperatorName",
            "in": "path",
            "description": "Name of the security operator.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete SecurityOperator on subscription": {
            "$ref": "./examples/SecurityOperators/DeleteSecurityOperatorByName_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "SecurityOperator": {
      "type": "object",
      "description": "Security operator under a given subscription and pricing",
      "properties": {
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/Identity",
          "description": "Identity for the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecurityOperatorList": {
      "type": "object",
      "description": "List of SecurityOperator response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of SecurityOperator configurations",
          "items": {
            "$ref": "#/definitions/SecurityOperator"
          }
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
