{
    "swagger": "2.0",
    "info": {
        "description": "Software load balancer multiplexer operation endpoints and objects.",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances/{slbMuxInstance}": {
            "get": {
                "x-ms-examples": {
                    "Get a Software Load Balancer Mux Instance": {
                        "$ref": "./examples/SlbMuxInstance/SlbMuxInstanceGetOperation_example.json"
                    }
                },
                "tags": [
                    "SlbMuxInstances"
                ],
                "description": "Get a software load balancer multiplexer instance.",
                "operationId": "SlbMuxInstances_Get",
                "parameters": [
                    {
                        "$ref": "fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/SLBMuxInstanceParameter"
                    },
                    {
                        "$ref": "fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SlbMuxInstance"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances": {
            "get": {
                "x-ms-examples": {
                    "List all Software Load Balancer Mux Instances": {
                        "$ref": "./examples/SlbMuxInstance/SlbMuxInstanceListOperation_example.json"
                    }
                },
                "tags": [
                    "SlbMuxInstances"
                ],
                "description": "Get a list of all software load balancer instances at a location.",
                "operationId": "SlbMuxInstances_List",
                "parameters": [
                    {
                        "$ref": "fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "fabric.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SlbMuxInstanceList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/SlbMuxInstance"
            }
        }
    },
    "definitions": {
        "SlbMuxInstance": {
            "description": "This resource represents an SLB MUX (software load balancing multiplexer, which distributes the tenant and tenant customer network traffic).",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Properties of a SLB MUX",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/SlbMuxInstanceModel"
                }
            },
            "allOf": [
                {
                    "$ref": "fabric.json#/definitions/Resource"
                }
            ]
        },
        "SlbMuxInstanceModel": {
            "description": "Properties of a SLB MUX",
            "type": "object",
            "properties": {
                "configurationState": {
                    "description": "Configuration state.",
                    "type": "string"
                },
                "virtualServer": {
                    "description": "Virtual server.",
                    "type": "string"
                },
                "bgpPeers": {
                    "description": "List of BGP peers.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "SlbMuxInstanceList": {
            "description": "A pageable list of SLB Mux instances.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "List of SLB Mux instances on this page.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SlbMuxInstance"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "SLBMuxInstanceParameter": {
            "name": "slbMuxInstance",
            "description": "Name of a SLB Mux instance.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    }
}