{
    "swagger": "2.0",
    "info": {
      "title": "Cosmos DB",
      "description": "Azure Cosmos DB Throughput Pool REST API",
      "version": "2023-08-15-preview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "Impersonate your user account"
        }
      }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/throughputPools": {
            "get": {
                "operationId": "ThroughputPools_List",
                "x-ms-examples": {
                "CosmosDBDatabaseAccountList": {
                    "$ref": "./examples/CosmosDBThroughputPoolList.json"
                }
                },
                "description": "Lists all the Azure Cosmos DB Throughput Pools available under the subscription.",
                "parameters": [
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
                }
                ],
                "responses": {
                "200": {
                    "description": "The operation completed successfully.",
                    "schema": {
                    "$ref": "#/definitions/ThroughPutPoolsListResult"
                    }
                }
                },
                "x-ms-pageable": {
                "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}": {
        "get": {
            "operationId": "ThroughputPool_Get",
            "x-ms-examples": {
            "CosmosDBDatabaseAccountGet": {
                "$ref": "./examples/CosmosDBThroughputPoolGet.json"
            }
            },
            "description": "Retrieves the properties of an existing Azure Cosmos DB Throughput Pool",
            "parameters": [
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "#/parameters/ThroughputPoolNameParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            }
            ],
            "responses": {
            "200": {
                "description": "The Throughput Pool properties were retrieved successfully.",
                "schema": {
                "$ref": "#/definitions/ThroughputPoolGetResults"
                }
            }
            }
        },
        "patch": {
            "operationId": "ThroughputPool_Update",
            "x-ms-examples": {
            "CosmosDBDatabaseAccountPatch": {
                "$ref": "./examples/CosmosDBThroughputPoolPatch.json"
            }
            },
            "description": "Updates the properties of an existing Azure Cosmos DB Throughput Pool.",
            "x-ms-long-running-operation": true,
            "parameters": [
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "#/parameters/ThroughputPoolNameParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
                "name": "updateParameters",
                "in": "body",
                "required": true,
                "schema": {
                "$ref": "#/definitions/ThroughputPoolUpdateParameters"
                },
                "description": "The parameters to provide for the current Throughput Pool."
            }
            ],
            "responses": {
            "200": {
                "description": "The ThroughputPool update operation will complete asynchronously.",
                "schema": {
                "$ref": "#/definitions/ThroughputPoolGetResults"
                }
            }
            }
        },
        "put": {
            "operationId": "ThroughputPool_CreateOrUpdate",
            "description": "Creates or updates an Azure Cosmos DB ThroughputPool account. The \"Update\" method is preferred when performing updates on an account.",
            "x-ms-long-running-operation": true,
            "parameters": [
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "#/parameters/ThroughputPoolNameParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
                "name": "createUpdateParameters",
                "in": "body",
                "required": true,
                "schema": {
                "$ref": "#/definitions/ThroughputPoolCreateUpdateParameters"
                },
                "description": "The parameters to provide for the current ThroughputPool."
            }
            ],
            "responses": {
            "200": {
                "description": "The ThroughputPool create or update operation will complete asynchronously.",
                "schema": {
                "$ref": "#/definitions/ThroughputPoolGetResults"
                }
            }
            }
        },
        "delete": {
            "operationId": "ThroughputPool_Delete",
            "x-ms-examples": {
            "CosmosDBDatabaseAccountDelete": {
                "$ref": "./examples/CosmosDBThroughputPoolDelete.json"
            }
            },
            "description": "Deletes an existing Azure Cosmos DB Throughput Pool.",
            "x-ms-long-running-operation": true,
            "parameters": [
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "#/parameters/ThroughputPoolNameParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            }
            ],
            "responses": {
            "202": {
                "description": "The Throughput Pool delete operation will complete asynchronously.",
                "headers": {
                "azure-AsyncOperation": {
                    "type": "string",
                    "description": "URI to poll for completion status."
                },
                "location": {
                    "type": "string",
                    "description": "URI to poll for completion status."
                }
                }
            },
            "204": {
                "description": "The specified Throughput Pool does not exist in the subscription."
            }
            }
        }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}/throughputPoolAccounts": {
            "get": {
                "operationId": "DatabaseAccounts_List",
                "x-ms-examples": {
                "CosmosDBDatabaseAccountList": {
                    "$ref": "./examples/CosmosDBDatabaseAccountList.json"
                }
                },
                "description": "Lists all the Azure Cosmos DB database accounts available under the subscription.",
                "parameters": [
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
                }
                ],
                "responses": {
                "200": {
                    "description": "The operation completed successfully.",
                    "schema": {
                    "$ref": "#/definitions/DatabaseAccountsListResult"
                    }
                }
                },
                "x-ms-pageable": {
                "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}/throughputPoolAccounts/{poolAccountName}": {
        "post": {
            "operationId": "DatabaseAccounts_FailoverPriorityChange",
            "x-ms-examples": {
            "CosmosDBDatabaseAccountFailoverPriorityChange": {
                "$ref": "./examples/CosmosDBDatabaseAccountFailoverPriorityChange.json"
            }
            },
            "description": "Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.",
            "x-ms-long-running-operation": true,
            "parameters": [
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "#/parameters/accountNameParameter"
            },
            {
                "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
                "name": "failoverParameters",
                "in": "body",
                "required": true,
                "schema": {
                "$ref": "#/definitions/FailoverPolicies"
                },
                "description": "The new failover policies for the database account."
            }
            ],
            "responses": {
            "202": {
                "description": "Accepted. The failover policy change operation will complete asynchronously.",
                "headers": {
                "azure-AsyncOperation": {
                    "type": "string",
                    "description": "URI to poll for completion status."
                },
                "location": {
                    "type": "string",
                    "description": "URI to poll for completion status."
                }
                }
            },
            "204": {
                "description": "No Content"
            }
            }
        }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}/locations": {
            "get": {
                "operationId": "DatabaseAccounts_List",
                "x-ms-examples": {
                "CosmosDBDatabaseAccountList": {
                    "$ref": "./examples/CosmosDBDatabaseAccountList.json"
                }
                },
                "description": "Lists all the Azure Cosmos DB database accounts available under the subscription.",
                "parameters": [
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
                }
                ],
                "responses": {
                "200": {
                    "description": "The operation completed successfully.",
                    "schema": {
                    "$ref": "#/definitions/DatabaseAccountsListResult"
                    }
                }
                },
                "x-ms-pageable": {
                "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}/locations/{locationName}/throughputPoolAccounts": {
            "post": {
                "operationId": "DatabaseAccounts_FailoverPriorityChange",
                "x-ms-examples": {
                "CosmosDBDatabaseAccountFailoverPriorityChange": {
                    "$ref": "./examples/CosmosDBDatabaseAccountFailoverPriorityChange.json"
                }
                },
                "description": "Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.",
                "x-ms-long-running-operation": true,
                "parameters": [
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
                },
                {
                    "$ref": "#/parameters/accountNameParameter"
                },
                {
                    "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
                },
                {
                    "name": "failoverParameters",
                    "in": "body",
                    "required": true,
                    "schema": {
                    "$ref": "#/definitions/FailoverPolicies"
                    },
                    "description": "The new failover policies for the database account."
                }
                ],
                "responses": {
                "202": {
                    "description": "Accepted. The failover policy change operation will complete asynchronously.",
                    "headers": {
                    "azure-AsyncOperation": {
                        "type": "string",
                        "description": "URI to poll for completion status."
                    },
                    "location": {
                        "type": "string",
                        "description": "URI to poll for completion status."
                    }
                    }
                },
                "204": {
                    "description": "No Content"
                }
                }
            }
        }
    },
    "definitions": {
      "SqlRoleDefinitionResource": {
        "properties": {
          "roleName": {
            "type": "string",
            "description": "A user-friendly name for the Role Definition. Must be unique for the database account."
          },
          "type": {
            "type": "string",
            "enum": [
              "BuiltInRole",
              "CustomRole"
            ],
            "description": "Indicates whether the Role Definition was built-in or user created.",
            "x-ms-enum": {
              "name": "RoleDefinitionType",
              "modelAsString": false
            }
          },
          "assignableScopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A set of fully qualified Scopes at or below which Role Assignments may be created using this Role Definition. This will allow application of this Role Definition on the entire database account or any underlying Database / Collection. Must have at least one element. Scopes higher than Database account are not enforceable as assignable Scopes. Note that resources referenced in assignable Scopes need not exist."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Permission"
            },
            "description": "The set of operations allowed through this Role Definition."
          }
        },
        "description": "Azure Cosmos DB SQL Role Definition resource object."
      },
      "SqlRoleDefinitionCreateUpdateParameters": {
        "description": "Parameters to create and update an Azure Cosmos DB SQL Role Definition.",
        "type": "object",
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "description": "Properties to create and update an Azure Cosmos DB SQL Role Definition.",
            "$ref": "#/definitions/SqlRoleDefinitionResource"
          }
        }
      },
      "SqlRoleDefinitionGetResults": {
        "type": "object",
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/SqlRoleDefinitionResource",
            "description": "Properties related to the Role Definition."
          }
        },
        "allOf": [
          {
            "$ref": "cosmos-db.json#/definitions/ARMProxyResource"
          }
        ],
        "description": "An Azure Cosmos DB SQL Role Definition."
      },
      "Permission": {
        "type": "object",
        "properties": {
          "dataActions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of data actions that are allowed."
          },
          "notDataActions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of data actions that are denied."
          }
        },
        "description": "The set of data plane operations permitted through this Role Definition."
      },
      "SqlRoleDefinitionListResult": {
        "properties": {
          "value": {
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/definitions/SqlRoleDefinitionGetResults"
            },
            "description": "List of Role Definitions and their properties."
          }
        },
        "description": "The relevant Role Definitions."
      },
      "SqlRoleAssignmentResource": {
        "type": "object",
        "properties": {
          "roleDefinitionId": {
            "type": "string",
            "description": "The unique identifier for the associated Role Definition."
          },
          "scope": {
            "type": "string",
            "description": "The data plane resource path for which access is being granted through this Role Assignment."
          },
          "principalId": {
            "type": "string",
            "description": "The unique identifier for the associated AAD principal in the AAD graph to which access is being granted through this Role Assignment. Tenant ID for the principal is inferred using the tenant associated with the subscription."
          }
        },
        "description": "Azure Cosmos DB SQL Role Assignment resource object."
      },
      "SqlRoleAssignmentCreateUpdateParameters": {
        "description": "Parameters to create and update an Azure Cosmos DB SQL Role Assignment.",
        "type": "object",
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "description": "Properties to create and update an Azure Cosmos DB SQL Role Assignment.",
            "$ref": "#/definitions/SqlRoleAssignmentResource"
          }
        }
      },
      "SqlRoleAssignmentGetResults": {
        "type": "object",
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/SqlRoleAssignmentResource",
            "description": "Properties related to the Role Assignment."
          }
        },
        "allOf": [
          {
            "$ref": "cosmos-db.json#/definitions/ARMProxyResource"
          }
        ],
        "description": "An Azure Cosmos DB Role Assignment"
      },
      "SqlRoleAssignmentListResult": {
        "properties": {
          "value": {
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/definitions/SqlRoleAssignmentGetResults"
            },
            "description": "List of Role Assignments and their properties"
          }
        },
        "description": "The relevant Role Assignments."
      }
    },
    "parameters": {
      "roleDefinitionIdParameter": {
        "name": "roleDefinitionId",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method",
        "description": "The GUID for the Role Definition."
      },
      "roleAssignmentIdParameter": {
        "name": "roleAssignmentId",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method",
        "description": "The GUID for the Role Assignment."
      }
    }
  }
  