{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-01-preview",
    "title": "RedisEnterpriseManagementClient",
    "description": "REST API for managing Redis Enterprise resources in Azure."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Cache/operations": {
      "get": {
        "description": "Lists all of the available REST API operations of the Microsoft.Cache provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/locations/{location}/operationsStatus/{operationId}": {
      "get": {
        "description": "Gets the status of operation.",
        "operationId": "OperationsStatus_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The detailed status of the operation is in the response.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "OperationsStatus"
        ],
        "x-ms-examples": {
          "OperationsStatusGet": {
            "$ref": "./examples/OperationsStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/locations/{location}/skus": {
      "get": {
        "description": "Gets information about skus in specified location for the given subscription id",
        "operationId": "Skus_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded, response body contains the requested details.",
            "schema": {
              "$ref": "#/definitions/RegionSkuDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SKU"
        ],
        "x-ms-examples": {
          "SkusList": {
            "$ref": "./examples/RedisEnterpriseSkusList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/redisEnterprise": {
      "get": {
        "description": "Gets all RedisEnterprise clusters in the specified subscription.",
        "operationId": "RedisEnterprise_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of RedisEnterprise clusters",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise"
        ],
        "x-ms-examples": {
          "RedisEnterpriseList": {
            "$ref": "./examples/RedisEnterpriseList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise": {
      "get": {
        "description": "Lists all RedisEnterprise clusters in a resource group.",
        "operationId": "RedisEnterprise_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of RedisEnterprise clusters",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise"
        ],
        "x-ms-examples": {
          "RedisEnterpriseListByResourceGroup": {
            "$ref": "./examples/RedisEnterpriseListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}": {
      "delete": {
        "description": "Deletes a RedisEnterprise cache cluster.",
        "operationId": "RedisEnterprise_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The cluster was successfully deleted."
          },
          "202": {
            "description": "The cluster delete operation was successfully started. GET the URL in the Azure-AsyncOperation or Location headers to retrieve updated status."
          },
          "204": {
            "description": "The cluster was successfully deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDelete": {
            "$ref": "./examples/RedisEnterpriseDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "description": "Gets information about a RedisEnterprise cluster",
        "operationId": "RedisEnterprise_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded, response body contains the requested details.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise"
        ],
        "x-ms-examples": {
          "RedisEnterpriseGet": {
            "$ref": "./examples/RedisEnterpriseGet.json"
          }
        }
      },
      "patch": {
        "description": "Updates an existing RedisEnterprise cluster",
        "operationId": "RedisEnterprise_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "description": "Parameters supplied to the Update RedisEnterprise operation.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterUpdate"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The cluster was/is being updated. Check provisioningState and resourceState to see detailed status.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "The cluster update operation was started. GET the URL in the Azure-AsyncOperation or Location headers to retrieve updated status."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise"
        ],
        "x-ms-examples": {
          "RedisEnterpriseUpdate": {
            "$ref": "./examples/RedisEnterpriseUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "put": {
        "description": "Creates or updates an existing (overwrite/recreate, with potential downtime) cache cluster",
        "operationId": "RedisEnterprise_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "description": "Parameters supplied to the Create RedisEnterprise operation.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The cluster was/is being updated. Check provisioningState and resourceState to see detailed status.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "The cluster was/is being created. Check provisioningState and resourceState to see detailed status.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise"
        ],
        "x-ms-examples": {
          "RedisEnterpriseCreate": {
            "$ref": "./examples/RedisEnterpriseCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases": {
      "get": {
        "description": "Gets all databases in the specified RedisEnterprise cluster.",
        "operationId": "Databases_ListByCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of databases",
            "schema": {
              "$ref": "#/definitions/DatabaseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesListByCluster": {
            "$ref": "./examples/RedisEnterpriseDatabasesListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}": {
      "delete": {
        "description": "Deletes a single database",
        "operationId": "Databases_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the database."
          },
          "202": {
            "description": "The database delete operation started. GET the URL in the Azure-AsyncOperation or Location headers to retrieve updated status."
          },
          "204": {
            "description": "Successfully deleted the database."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesDelete": {
            "$ref": "./examples/RedisEnterpriseDatabasesDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "description": "Gets information about a database in a RedisEnterprise cluster.",
        "operationId": "Databases_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully found the database",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesGet": {
            "$ref": "./examples/RedisEnterpriseDatabasesGet.json"
          }
        }
      },
      "patch": {
        "description": "Updates a database",
        "operationId": "Databases_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Parameters supplied to the create or update database operation.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseUpdate"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The database was/is being updated. Check provisioningState and resourceState for detailed status.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "The database update operation was successfully started. GET the URL in the Azure-AsyncOperation or Location headers to retrieve updated status."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesUpdate": {
            "$ref": "./examples/RedisEnterpriseDatabasesUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "put": {
        "description": "Creates a database",
        "operationId": "Databases_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Parameters supplied to the create or update database operation.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The database was/is being updated. Check provisioningState and resourceState for detailed status.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "The database was/is being created. Check provisioningState and resourceState for detailed status.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesCreate": {
            "$ref": "./examples/RedisEnterpriseDatabasesCreate.json"
          },
          "RedisEnterpriseDatabasesCreate With Active Geo Replication": {
            "$ref": "./examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/export": {
      "post": {
        "description": "Exports a database file from target database.",
        "operationId": "Databases_Export",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Storage information for exporting into the cluster",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportClusterParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Export operation succeeded."
          },
          "202": {
            "description": "Export operation successfully enqueued; follow the Location header to poll for final outcome."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesExport": {
            "$ref": "./examples/RedisEnterpriseDatabasesExport.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/flush": {
      "post": {
        "description": "Flushes all the keys in this database and also from its linked databases.",
        "operationId": "Databases_Flush",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Information identifying the databases to be flushed",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlushParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Flush operation succeeded. All the keys are cleared in this and all its linked databases."
          },
          "202": {
            "description": "Flush operation successfully enqueued; follow the Azure-AsyncOperation header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "type": "string"
              },
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "How to flush all the keys in the database": {
            "$ref": "./examples/RedisEnterpriseDatabasesFlush.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/forceUnlink": {
      "post": {
        "description": "Forcibly removes the link to the specified database resource.",
        "operationId": "Databases_ForceUnlink",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Information identifying the database to be unlinked.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForceUnlinkParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Force unlink operation succeeded. The unlinked database must be deleted before it can be recreated and linked again."
          },
          "202": {
            "description": "Force unlink operation successfully enqueued; follow the Azure-AsyncOperation header to poll for final outcome."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "How to unlink a database during a regional outage": {
            "$ref": "./examples/RedisEnterpriseDatabasesForceUnlink.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/import": {
      "post": {
        "description": "Imports database files to target database.",
        "operationId": "Databases_Import",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Storage information for importing into the cluster",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportClusterParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Import operation succeeded."
          },
          "202": {
            "description": "The import operation was started. GET the URL in the Azure-AsyncOperation or Location headers to retrieve updated status."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesImport": {
            "$ref": "./examples/RedisEnterpriseDatabasesImport.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/listKeys": {
      "post": {
        "description": "Retrieves the access keys for the RedisEnterprise database.",
        "operationId": "Databases_ListKeys",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The access keys for the specified database.",
            "schema": {
              "$ref": "#/definitions/AccessKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesListKeys": {
            "$ref": "./examples/RedisEnterpriseDatabasesListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/regenerateKey": {
      "post": {
        "description": "Regenerates the RedisEnterprise database\u0027s access keys.",
        "operationId": "Databases_RegenerateKey",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "description": "Specifies which key to regenerate.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the new access keys for the database",
            "schema": {
              "$ref": "#/definitions/AccessKeys"
            }
          },
          "202": {
            "description": "The cluster update operation was started. GET the URL in the Azure-AsyncOperation or Location headers to retrieve updated status."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RedisEnterprise",
          "Databases"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDatabasesRegenerateKey": {
            "$ref": "./examples/RedisEnterpriseDatabasesRegenerateKey.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateEndpointConnections": {
      "get": {
        "description": "Lists all the private endpoint connections associated with the RedisEnterprise cluster.",
        "operationId": "PrivateEndpointConnections_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Successfully retrieved private endpoint connections.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "x-ms-examples": {
          "RedisEnterpriseListPrivateEndpointConnections": {
            "$ref": "./examples/RedisEnterpriseListPrivateEndpointConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "delete": {
        "description": "Deletes the specified private endpoint connection associated with the RedisEnterprise cluster.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the private endpoint connection successfully."
          },
          "204": {
            "description": "No Content -- The private endpoint connection does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "x-ms-examples": {
          "RedisEnterpriseDeletePrivateEndpointConnection": {
            "$ref": "./examples/RedisEnterpriseDeletePrivateEndpointConnection.json"
          }
        }
      },
      "get": {
        "description": "Gets the specified private endpoint connection associated with the RedisEnterprise cluster.",
        "operationId": "PrivateEndpointConnections_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "x-ms-examples": {
          "RedisEnterpriseGetPrivateEndpointConnection": {
            "$ref": "./examples/RedisEnterpriseGetPrivateEndpointConnection.json"
          }
        }
      },
      "put": {
        "description": "Updates the state of the specified private endpoint connection associated with the RedisEnterprise cluster.",
        "operationId": "PrivateEndpointConnections_Put",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "description": "The private endpoint connection properties.",
            "in": "body",
            "name": "properties",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK -- Update the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "x-ms-examples": {
          "RedisEnterprisePutPrivateEndpointConnection": {
            "$ref": "./examples/RedisEnterprisePutPrivateEndpointConnection.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateLinkResources": {
      "get": {
        "description": "Gets the private link resources that need to be created for a RedisEnterprise cluster.",
        "operationId": "PrivateLinkResources_ListByCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PrivateLinkResources"
        ],
        "x-ms-examples": {
          "RedisEnterpriseListPrivateLinkResources": {
            "$ref": "./examples/RedisEnterpriseListPrivateLinkResources.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "AccessKeys": {
      "description": "The secret access keys used for authenticating connections to redis",
      "properties": {
        "primaryKey": {
          "description": "The current primary key that clients can use to authenticate",
          "readOnly": true,
          "type": "string"
        },
        "secondaryKey": {
          "description": "The current secondary key that clients can use to authenticate",
          "readOnly": true,
          "type": "string"
        }
      },
      "title": "Access keys",
      "type": "object"
    },
    "Capability": {
      "description": "Information about the features the location supports",
      "properties": {
        "name": {
          "description": "Feature name",
          "type": "string"
        },
        "value": {
          "description": "Indicates whether feature is supported or not",
          "type": "boolean"
        }
      },
      "title": "Capability",
      "type": "object"
    },
    "Cluster": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Describes the RedisEnterprise cluster",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The identity of the resource."
        },
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "Other properties of the cluster.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU to create, which affects price, performance, and features."
        },
        "zones": {
          "description": "The Availability Zones where this cluster will be deployed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "required": [
        "sku"
      ],
      "type": "object"
    },
    "ClusterList": {
      "description": "The response of a list-all operation.",
      "properties": {
        "nextLink": {
          "description": "The URI to fetch the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "List of clusters.",
          "items": {
            "$ref": "#/definitions/Cluster"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClusterProperties": {
      "description": "Properties of RedisEnterprise clusters, as opposed to general resource properties like location, tags",
      "properties": {
        "encryption": {
          "description": "Encryption-at-rest configuration for the cluster.",
          "properties": {
            "customerManagedKeyEncryption": {
              "description": "All Customer-managed key encryption properties for the resource. Set this to an empty object to use Microsoft-managed key encryption.",
              "properties": {
                "keyEncryptionKeyIdentity": {
                  "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault.",
                  "properties": {
                    "identityType": {
                      "description": "Only userAssignedIdentity is supported in this API version; other types may be supported in the future",
                      "enum": [
                        "systemAssignedIdentity",
                        "userAssignedIdentity"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CmkIdentityType"
                      }
                    },
                    "userAssignedIdentityResourceId": {
                      "description": "User assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/\u003Csub uuid\u003E/resourceGroups/\u003Cresource group\u003E/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "keyEncryptionKeyUrl": {
                  "description": "Key encryption key Url, versioned only. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "hostName": {
          "description": "DNS name of the cluster endpoint",
          "readOnly": true,
          "type": "string"
        },
        "minimumTlsVersion": {
          "description": "The minimum TLS version for the cluster to support, e.g. \u00271.2\u0027",
          "enum": [
            "1.0",
            "1.1",
            "1.2"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "TlsVersion"
          }
        },
        "privateEndpointConnections": {
          "description": "List of private endpoint connections associated with the specified RedisEnterprise cluster",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true,
          "type": "array"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Current provisioning status of the cluster",
          "readOnly": true
        },
        "redisVersion": {
          "description": "Version of redis the cluster supports, e.g. \u00276\u0027",
          "readOnly": true,
          "type": "string"
        },
        "resourceState": {
          "$ref": "#/definitions/ResourceState",
          "description": "Current resource status of the cluster",
          "readOnly": true
        }
      },
      "title": "RedisEnterprise cluster properties",
      "type": "object"
    },
    "ClusterUpdate": {
      "description": "A partial update to the RedisEnterprise cluster",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The identity of the resource."
        },
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "Other properties of the cluster.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU to create, which affects price, performance, and features."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "type": "object",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      },
      "type": "object"
    },
    "Database": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Describes a database on the RedisEnterprise cluster",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "Other properties of the database.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "DatabaseList": {
      "description": "The response of a list-all operation.",
      "properties": {
        "nextLink": {
          "description": "The URI to fetch the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "List of databases",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DatabaseProperties": {
      "description": "Properties of RedisEnterprise databases, as opposed to general resource properties like location, tags",
      "properties": {
        "clientProtocol": {
          "description": "Specifies whether redis clients can connect using TLS-encrypted or plaintext redis protocols. Default is TLS-encrypted.",
          "enum": [
            "Encrypted",
            "Plaintext"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "Protocol"
          }
        },
        "clusteringPolicy": {
          "description": "Clustering policy - default is OSSCluster. Specified at create time.",
          "enum": [
            "EnterpriseCluster",
            "OSSCluster"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusteringPolicy"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "evictionPolicy": {
          "description": "Redis eviction policy - default is VolatileLRU",
          "enum": [
            "AllKeysLFU",
            "AllKeysLRU",
            "AllKeysRandom",
            "VolatileLRU",
            "VolatileLFU",
            "VolatileTTL",
            "VolatileRandom",
            "NoEviction"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "EvictionPolicy"
          }
        },
        "geoReplication": {
          "description": "Optional set of properties to configure geo replication for this database.",
          "properties": {
            "groupNickname": {
              "description": "Name for the group of linked database resources",
              "type": "string",
              "x-ms-mutability": [
                "read",
                "create"
              ]
            },
            "linkedDatabases": {
              "description": "List of database resources to link with this database",
              "items": {
                "$ref": "#/definitions/LinkedDatabase"
              },
              "type": "array"
            }
          },
          "type": "object",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "modules": {
          "description": "Optional set of redis modules to enable in this database - modules can only be added at creation time.",
          "items": {
            "$ref": "#/definitions/Module"
          },
          "type": "array",
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "persistence": {
          "$ref": "#/definitions/Persistence",
          "description": "Persistence settings"
        },
        "port": {
          "description": "TCP port of the database endpoint. Specified at create time. Defaults to an available port.",
          "format": "int32",
          "type": "integer",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Current provisioning status of the database",
          "readOnly": true
        },
        "resourceState": {
          "$ref": "#/definitions/ResourceState",
          "description": "Current resource status of the database",
          "readOnly": true
        }
      },
      "title": "RedisEnterprise database properties",
      "type": "object"
    },
    "DatabaseUpdate": {
      "description": "A partial update to the RedisEnterprise database",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "Properties of the database.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ExportClusterParameters": {
      "description": "Parameters for a Redis Enterprise export operation.",
      "properties": {
        "sasUri": {
          "description": "SAS URI for the target directory to export to",
          "type": "string",
          "x-ms-secret": true
        }
      },
      "required": [
        "sasUri"
      ],
      "title": "Export an RDB file into a target database",
      "type": "object"
    },
    "FlushParameters": {
      "description": "Parameters for a Redis Enterprise active geo-replication flush operation.",
      "properties": {
        "ids": {
          "description": "The resource identifiers of all the other database resources in the georeplication group to be flushed",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "title": "Flush all the keys from the current and all its linked databases",
      "type": "object"
    },
    "ForceUnlinkParameters": {
      "description": "Parameters for a Redis Enterprise Active Geo Replication Force Unlink operation.",
      "properties": {
        "ids": {
          "description": "The resource IDs of the database resources to be unlinked.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "required": [
        "ids"
      ],
      "title": "Forcibly unlink another database from this database.",
      "type": "object"
    },
    "ImportClusterParameters": {
      "description": "Parameters for a Redis Enterprise import operation.",
      "properties": {
        "sasUris": {
          "description": "SAS URIs for the target blobs to import from",
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-ms-secret": true
        }
      },
      "required": [
        "sasUris"
      ],
      "title": "Import RDB files into a target database",
      "type": "object"
    },
    "LinkedDatabase": {
      "description": "Specifies details of a linked database resource.",
      "properties": {
        "id": {
          "description": "Resource ID of a database resource to link with this database.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "state": {
          "description": "State of the link between the database resources.",
          "enum": [
            "Linked",
            "Linking",
            "Unlinking",
            "LinkFailed",
            "UnlinkFailed"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "LinkState"
          }
        }
      },
      "title": "Linked Database",
      "type": "object"
    },
    "LocationInfo": {
      "description": "Information about location (for example: features that it supports)",
      "properties": {
        "capabilities": {
          "description": "List of capabilities",
          "items": {
            "$ref": "#/definitions/Capability"
          },
          "type": "array",
          "x-ms-identifiers": []
        },
        "location": {
          "description": "Location name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Module": {
      "description": "Specifies configuration of a redis module",
      "properties": {
        "args": {
          "description": "Configuration options for the module, e.g. \u0027ERROR_RATE 0.01 INITIAL_SIZE 400\u0027.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "description": "The name of the module, e.g. \u0027RedisBloom\u0027, \u0027RediSearch\u0027, \u0027RedisTimeSeries\u0027",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "version": {
          "description": "The version of the module, e.g. \u00271.0\u0027.",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "title": "Module settings",
      "type": "object"
    },
    "OperationStatus": {
      "description": "The status of a long-running operation.",
      "properties": {
        "endTime": {
          "description": "The end time of the operation.",
          "type": "string"
        },
        "error": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse",
          "description": "Error response describing why the operation failed."
        },
        "id": {
          "description": "The operation\u0027s unique id.",
          "type": "string"
        },
        "name": {
          "description": "The operation\u0027s name.",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the operation.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Persistence": {
      "description": "Persistence-related configuration for the RedisEnterprise database",
      "properties": {
        "aofEnabled": {
          "description": "Sets whether AOF is enabled.",
          "type": "boolean"
        },
        "aofFrequency": {
          "description": "Sets the frequency at which data is written to disk.",
          "enum": [
            "1s",
            "always"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "AofFrequency"
          }
        },
        "rdbEnabled": {
          "description": "Sets whether RDB is enabled.",
          "type": "boolean"
        },
        "rdbFrequency": {
          "description": "Sets the frequency at which a snapshot of the database is created.",
          "enum": [
            "1h",
            "6h",
            "12h"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "RdbFrequency"
          }
        }
      },
      "title": "Persistence settings",
      "type": "object"
    },
    "ProvisioningState": {
      "description": "Current provisioning status",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "RegenerateKeyParameters": {
      "description": "Specifies which access keys to reset to a new random value.",
      "properties": {
        "keyType": {
          "description": "Which access key to regenerate.",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": false,
            "name": "AccessKeyType"
          }
        }
      },
      "required": [
        "keyType"
      ],
      "title": "Regenerate access keys request",
      "type": "object"
    },
    "RegionSkuDetail": {
      "description": "Details about the location requested and the available skus in the location",
      "properties": {
        "locationInfo": {
          "$ref": "#/definitions/LocationInfo",
          "description": "Details about location and its capabilities"
        },
        "resourceType": {
          "description": "Resource type which has the SKU, such as Microsoft.Cache/redisEnterprise",
          "type": "string"
        },
        "skuDetails": {
          "$ref": "#/definitions/SkuDetail",
          "description": "Details about available skus"
        }
      },
      "title": "Region Sku Detail",
      "type": "object"
    },
    "RegionSkuDetails": {
      "description": "List of details about all the available SKUs",
      "properties": {
        "value": {
          "description": "List of Sku Detail",
          "items": {
            "$ref": "#/definitions/RegionSkuDetail"
          },
          "type": "array",
          "x-ms-identifiers": []
        }
      },
      "title": "Region Sku Details",
      "type": "object"
    },
    "ResourceState": {
      "description": "Current resource status",
      "enum": [
        "Running",
        "Creating",
        "CreateFailed",
        "Updating",
        "UpdateFailed",
        "Deleting",
        "DeleteFailed",
        "Enabling",
        "EnableFailed",
        "Disabling",
        "DisableFailed",
        "Disabled"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ResourceState"
      }
    },
    "Sku": {
      "description": "SKU parameters supplied to the create RedisEnterprise operation.",
      "properties": {
        "capacity": {
          "description": "The size of the RedisEnterprise cluster. Defaults to 2 or 3 depending on SKU. Valid values are (2, 4, 6, ...) for Enterprise SKUs and (3, 9, 15, ...) for Flash SKUs.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "The type of RedisEnterprise cluster to deploy. Possible values: (Enterprise_E10, EnterpriseFlash_F300 etc.)"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "SkuDetail": {
      "description": "Information about Sku",
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "The type of RedisEnterprise cluster to deploy. Possible values: (Enterprise_E10, EnterpriseFlash_F300 etc.)"
        }
      },
      "title": "Sku Detail",
      "type": "object"
    },
    "SkuName": {
      "enum": [
        "Enterprise_E10",
        "Enterprise_E20",
        "Enterprise_E50",
        "Enterprise_E100",
        "EnterpriseFlash_F300",
        "EnterpriseFlash_F700",
        "EnterpriseFlash_F1500"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SkuName"
      }
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the RedisEnterprise cluster.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the database.",
      "x-ms-parameter-location": "method"
    }
  }
}