{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Discovery Service",
    "version": "2023-06-06",
    "description": "Azure OffAzure Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HypervClusterController"
    },
    {
      "name": "Sites"
    },
    {
      "name": "VmwareOperationsStatus"
    },
    {
      "name": "VmwarePropertiesController"
    },
    {
      "name": "WebAppPropertiesController"
    },
    {
      "name": "DependencyMapController"
    },
    {
      "name": "MachinesController"
    },
    {
      "name": "VmwareMachinesController"
    },
    {
      "name": "VcenterController"
    },
    {
      "name": "RunAsAccountsController"
    },
    {
      "name": "VmwareHostController"
    },
    {
      "name": "HypervJobsController"
    },
    {
      "name": "HypervDependencyMapController"
    },
    {
      "name": "HypervSitesController"
    },
    {
      "name": "HypervSites"
    },
    {
      "name": "HypervJobs"
    },
    {
      "name": "HypervHostController"
    },
    {
      "name": "HypervMachinesController"
    },
    {
      "name": "HypervRunAsAccountsController"
    },
    {
      "name": "ServersController"
    },
    {
      "name": "ServerSitesController"
    },
    {
      "name": "ServerDependencyMapController"
    },
    {
      "name": "ServerRunAsAccounts"
    },
    {
      "name": "ServerJobsController"
    },
    {
      "name": "ImportJobsController"
    },
    {
      "name": "ImportMachinesController"
    },
    {
      "name": "ImportSitesController"
    },
    {
      "name": "MasterSitesController"
    },
    {
      "name": "ApplianceNonceController"
    },
    {
      "name": "MasterSitesOperationsStatusController"
    },
    {
      "name": "PrivateEndpointConnectionController"
    },
    {
      "name": "PrivateLinkResourcesController"
    },
    {
      "name": "SqlSitesController"
    },
    {
      "name": "WebAppSitesController"
    },
    {
      "name": "TomcatWebApplicationsController"
    },
    {
      "name": "TomcatWebServersController"
    },
    {
      "name": "IisWebApplicationsController"
    },
    {
      "name": "IisWebServersController"
    },
    {
      "name": "WebAppDiscoverySiteDataSourcesController"
    },
    {
      "name": "WebAppExtendedMachinesController"
    },
    {
      "name": "WebApplicationsController"
    },
    {
      "name": "WebAppRunAsAccountsController"
    },
    {
      "name": "WebServersController"
    },
    {
      "name": "SqlAvailabilityGroupController"
    },
    {
      "name": "SqlServersController"
    },
    {
      "name": "SqlDatabasesController"
    },
    {
      "name": "SqlJobsController"
    },
    {
      "name": "SqlRunAsAccountsController"
    },
    {
      "name": "SqlDiscoverySiteDataSourceController"
    },
    {
      "name": "SqlOperationsStatusController"
    }
  ],
  "paths": {
    "/providers/Microsoft.OffAzure/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/hypervSites": {
      "get": {
        "tags": [
          "HypervSites"
        ],
        "operationId": "HypervSites_ListBySubscription",
        "summary": "Get all hyperv  sites.",
        "description": "Get all the hyperv  sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervSites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/HypervSites_ListBySubscription_MaximumSet_Gen.json"
          },
          "HypervSites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/HypervSites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/importSites": {
      "get": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_ListBySubscription",
        "description": "List ImportSiteResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportSiteResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ImportSitesController_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_ListBySubscription_MaximumSet_Gen.json"
          },
          "ImportSitesController_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/masterSites": {
      "get": {
        "tags": [
          "MasterSitesController"
        ],
        "operationId": "MasterSitesController_ListBySubscription",
        "summary": "Get all the sites in the subscription.",
        "description": "List MasterSite resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MasterSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MasterSitesController_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/MasterSitesController_ListBySubscription_MaximumSet_Gen.json"
          },
          "MasterSitesController_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/MasterSitesController_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/serverSites": {
      "get": {
        "tags": [
          "ServerSitesController"
        ],
        "operationId": "ServerSitesController_ListBySubscription",
        "description": "List ServerSiteResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerSiteResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ServerSitesController_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/ServerSitesController_ListBySubscription_MaximumSet_Gen.json"
          },
          "ServerSitesController_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/ServerSitesController_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/vmwareSites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_ListBySubscription",
        "summary": "Get all vmware sites.",
        "description": "Get all the vmware sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmwareSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Sites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Sites_ListBySubscription_MaximumSet_Gen.json"
          },
          "Sites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Sites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites": {
      "get": {
        "tags": [
          "HypervSites"
        ],
        "operationId": "HypervSites_ListByResourceGroup",
        "summary": "Get all hyperv sites.",
        "description": "Get all the hyperv sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervSites_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/HypervSites_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "HypervSites_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/HypervSites_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}": {
      "get": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_Get",
        "description": "Get a HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_Get_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Get_MaximumSet_Gen.json"
          },
          "HypervSitesController_Get_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_Create",
        "description": "Create a HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_Create_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Create_MaximumSet_Gen.json"
          },
          "HypervSitesController_Create_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_Update",
        "description": "Update a HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/HypervSiteUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_Update_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Update_MaximumSet_Gen.json"
          },
          "HypervSitesController_Update_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_Delete",
        "description": "Delete a HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Delete_MaximumSet_Gen.json"
          },
          "HypervSitesController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/clientGroupMembers": {
      "post": {
        "tags": [
          "HypervDependencyMapController"
        ],
        "operationId": "HypervDependencyMapController_ClientGroupMembers",
        "description": "API to list client group members for the selected client group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapextensionsClientGroupMembersRequest"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervDependencyMapController_ClientGroupMembers_MaximumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_ClientGroupMembers_MaximumSet_Gen.json"
          },
          "HypervDependencyMapController_ClientGroupMembers_MinimumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_ClientGroupMembers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/clusters": {
      "get": {
        "tags": [
          "HypervClusterController"
        ],
        "operationId": "HypervClusterController_ListByHypervSite",
        "description": "List HypervCluster resources by HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "filter query",
            "type": "string"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervClusterController_ListByHypervSite_MaximumSet_Gen": {
            "$ref": "./examples/HypervClusterController_ListByHypervSite_MaximumSet_Gen.json"
          },
          "HypervClusterController_ListByHypervSite_MinimumSet_Gen": {
            "$ref": "./examples/HypervClusterController_ListByHypervSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/clusters/{clusterName}": {
      "get": {
        "tags": [
          "HypervClusterController"
        ],
        "operationId": "HypervClusterController_GetCluster",
        "description": "Method to get a Hyper-V cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "description": " Cluster ARM name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervClusterController_GetCluster_MaximumSet_Gen": {
            "$ref": "./examples/HypervClusterController_GetCluster_MaximumSet_Gen.json"
          },
          "HypervClusterController_GetCluster_MinimumSet_Gen": {
            "$ref": "./examples/HypervClusterController_GetCluster_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "HypervClusterController"
        ],
        "operationId": "HypervClusterController_CreateCluster",
        "description": "Method to put a Hyper-V cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "description": " Cluster ARM name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HypervCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCluster"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/HypervCluster"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervClusterController_CreateCluster_MaximumSet_Gen": {
            "$ref": "./examples/HypervClusterController_CreateCluster_MaximumSet_Gen.json"
          },
          "HypervClusterController_CreateCluster_MinimumSet_Gen": {
            "$ref": "./examples/HypervClusterController_CreateCluster_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "HypervClusterController"
        ],
        "operationId": "HypervClusterController_Delete",
        "description": "Delete a HypervCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "description": " Cluster ARM name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervClusterController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/HypervClusterController_Delete_MaximumSet_Gen.json"
          },
          "HypervClusterController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/HypervClusterController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/errorSummary": {
      "post": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_ErrorSummary",
        "description": "Method to get site error summary.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteErrorSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_ErrorSummary_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_ErrorSummary_MaximumSet_Gen.json"
          },
          "HypervSitesController_ErrorSummary_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_ErrorSummary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/exportDependencies": {
      "post": {
        "tags": [
          "HypervDependencyMapController"
        ],
        "operationId": "HypervDependencyMapController_ExportDependencies",
        "description": "API to generate report containing agentless dependencies.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapextensionsExportDependenciesRequest"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervDependencyMapController_ExportDependencies_MaximumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_ExportDependencies_MaximumSet_Gen.json"
          },
          "HypervDependencyMapController_ExportDependencies_MinimumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_ExportDependencies_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/exportMachineErrors": {
      "post": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_ExportMachineErrors",
        "description": "Method to generate report containing \r\n            machine and the errors encountered during guest discovery of the machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/VersionedV202001ExportMachineErrorsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervSitesController_ExportMachineErrors_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_ExportMachineErrors_MaximumSet_Gen.json"
          },
          "HypervSitesController_ExportMachineErrors_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_ExportMachineErrors_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/generateCoarseMap": {
      "post": {
        "tags": [
          "HypervDependencyMapController"
        ],
        "operationId": "HypervDependencyMapController_GenerateCoarseMap",
        "description": "API to generate coarse map for the list of machines.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapextensionsScopeMapRequest"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervDependencyMapController_GenerateCoarseMap_MaximumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_GenerateCoarseMap_MaximumSet_Gen.json"
          },
          "HypervDependencyMapController_GenerateCoarseMap_MinimumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_GenerateCoarseMap_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/generateDetailedMap": {
      "post": {
        "tags": [
          "HypervDependencyMapController"
        ],
        "operationId": "HypervDependencyMapController_GenerateDetailedMap",
        "description": "API to generate detailed map for a selected machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapextensionsSingleMachineDetailedMapRequest"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervDependencyMapController_GenerateDetailedMap_MaximumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_GenerateDetailedMap_MaximumSet_Gen.json"
          },
          "HypervDependencyMapController_GenerateDetailedMap_MinimumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_GenerateDetailedMap_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/hosts": {
      "get": {
        "tags": [
          "HypervHostController"
        ],
        "operationId": "HypervHostController_ListByHypervSite",
        "description": "List HypervHost resources by HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "filter query",
            "type": "string"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervHostListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervHostController_ListByHypervSite_MaximumSet_Gen": {
            "$ref": "./examples/HypervHostController_ListByHypervSite_MaximumSet_Gen.json"
          },
          "HypervHostController_ListByHypervSite_MinimumSet_Gen": {
            "$ref": "./examples/HypervHostController_ListByHypervSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/hosts/{hostName}": {
      "get": {
        "tags": [
          "HypervHostController"
        ],
        "operationId": "HypervHostController_Get",
        "description": "Get a HypervHost",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "description": " Host name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervHost"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervHostController_Get_MaximumSet_Gen": {
            "$ref": "./examples/HypervHostController_Get_MaximumSet_Gen.json"
          },
          "HypervHostController_Get_MinimumSet_Gen": {
            "$ref": "./examples/HypervHostController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "HypervHostController"
        ],
        "operationId": "HypervHostController_Create",
        "description": "Create a HypervHost",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "description": " Host name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HypervHost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervHost"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/HypervHost"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervHostController_Create_MaximumSet_Gen": {
            "$ref": "./examples/HypervHostController_Create_MaximumSet_Gen.json"
          },
          "HypervHostController_Create_MinimumSet_Gen": {
            "$ref": "./examples/HypervHostController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "HypervHostController"
        ],
        "operationId": "HypervHostController_Delete",
        "description": "Delete a HypervHost",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "description": " Host name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervHostController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/HypervHostController_Delete_MaximumSet_Gen.json"
          },
          "HypervHostController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/HypervHostController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/jobs": {
      "get": {
        "tags": [
          "HypervJobs"
        ],
        "operationId": "HypervJobs_ListByHypervSite",
        "description": "List HypervJob resources by HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervJobs_ListByHypervSite_MaximumSet_Gen": {
            "$ref": "./examples/HypervJobs_ListByHypervSite_MaximumSet_Gen.json"
          },
          "HypervJobs_ListByHypervSite_MinimumSet_Gen": {
            "$ref": "./examples/HypervJobs_ListByHypervSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/jobs/{jobName}": {
      "get": {
        "tags": [
          "HypervJobs"
        ],
        "operationId": "HypervJobs_Get",
        "description": "Get a HypervJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": " Job name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervJobs_Get_MaximumSet_Gen": {
            "$ref": "./examples/HypervJobs_Get_MaximumSet_Gen.json"
          },
          "HypervJobs_Get_MinimumSet_Gen": {
            "$ref": "./examples/HypervJobs_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/listHealthSummary": {
      "post": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_ListHealthSummary",
        "description": "Method to get site health summary.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteHealthSummaryCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_ListHealthSummary_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_ListHealthSummary_MaximumSet_Gen.json"
          },
          "HypervSitesController_ListHealthSummary_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_ListHealthSummary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines": {
      "get": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_ListByHypervSite",
        "description": "List HypervMachine resources by HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "filter query",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "page size  query",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total count of machines in the given site.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervMachinesController_ListByHypervSite_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_ListByHypervSite_MaximumSet_Gen.json"
          },
          "HypervMachinesController_ListByHypervSite_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_ListByHypervSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}": {
      "get": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_Get",
        "description": "Get a HypervMachine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervMachinesController_Get_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Get_MaximumSet_Gen.json"
          },
          "HypervMachinesController_Get_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_Update",
        "description": "Update a HypervMachine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/HypervMachineUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervMachinesController_Update_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Update_MaximumSet_Gen.json"
          },
          "HypervMachinesController_Update_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}/applications": {
      "post": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_Applications",
        "description": "Method to get machine with application and roles present in it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervMachinesController_Applications_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Applications_MaximumSet_Gen.json"
          },
          "HypervMachinesController_Applications_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Applications_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}/softwareInventory/default": {
      "post": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_GetMachineSoftwareInventory",
        "description": "Method to get a machines software inventory like applications and roles.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervVmSoftwareInventory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervMachinesController_GetMachineSoftwareInventory_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_GetMachineSoftwareInventory_MaximumSet_Gen.json"
          },
          "HypervMachinesController_GetMachineSoftwareInventory_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_GetMachineSoftwareInventory_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/operationsStatus/{operationStatusName}": {
      "get": {
        "tags": [
          "HypervSites"
        ],
        "operationId": "HypervSites_GetHypervOperationsStatus",
        "description": "A operation status resource belonging to a site resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "operationStatusName",
            "in": "path",
            "required": true,
            "description": "Operation status  Arm Name.",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSites_GetHypervOperationsStatus_MaximumSet_Gen": {
            "$ref": "./examples/HypervSites_GetHypervOperationsStatus_MaximumSet_Gen.json"
          },
          "HypervSites_GetHypervOperationsStatus_MinimumSet_Gen": {
            "$ref": "./examples/HypervSites_GetHypervOperationsStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/refresh": {
      "post": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_Refresh",
        "description": "Method to refresh a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervSitesController_Refresh_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Refresh_MaximumSet_Gen.json"
          },
          "HypervSitesController_Refresh_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Refresh_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/runAsAccounts": {
      "get": {
        "tags": [
          "HypervRunAsAccountsController"
        ],
        "operationId": "HypervRunAsAccountsController_ListByHypervSite",
        "description": "List HypervRunAsAccountResource resources by HypervSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervRunAsAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervRunAsAccountsController_ListByHypervSite_MaximumSet_Gen": {
            "$ref": "./examples/HypervRunAsAccountsController_ListByHypervSite_MaximumSet_Gen.json"
          },
          "HypervRunAsAccountsController_ListByHypervSite_MinimumSet_Gen": {
            "$ref": "./examples/HypervRunAsAccountsController_ListByHypervSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/runAsAccounts/{accountName}": {
      "get": {
        "tags": [
          "HypervRunAsAccountsController"
        ],
        "operationId": "HypervRunAsAccountsController_Get",
        "description": "Get a HypervRunAsAccountResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": " RunAsAccounts name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervRunAsAccountResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervRunAsAccountsController_Get_MaximumSet_Gen": {
            "$ref": "./examples/HypervRunAsAccountsController_Get_MaximumSet_Gen.json"
          },
          "HypervRunAsAccountsController_Get_MinimumSet_Gen": {
            "$ref": "./examples/HypervRunAsAccountsController_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/serverGroupMembers": {
      "post": {
        "tags": [
          "HypervDependencyMapController"
        ],
        "operationId": "HypervDependencyMapController_ServerGroupMembers",
        "description": "API to list server group members for the selected server group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapextensionsServerGroupMembersRequest"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervDependencyMapController_ServerGroupMembers_MaximumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_ServerGroupMembers_MaximumSet_Gen.json"
          },
          "HypervDependencyMapController_ServerGroupMembers_MinimumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_ServerGroupMembers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/summary": {
      "post": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_Summary",
        "description": "Method to get site usage.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervSiteUsage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_Summary_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Summary_MaximumSet_Gen.json"
          },
          "HypervSitesController_Summary_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_Summary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/updateDependencyMapStatus": {
      "post": {
        "tags": [
          "HypervDependencyMapController"
        ],
        "operationId": "HypervDependencyMapController_UpdateDependencyMapStatus",
        "description": "Method to enable disable dependency map status for machines\r\n            in a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/HypervSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateMachineDepMapStatus"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervDependencyMapController_UpdateDependencyMapStatus_MaximumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_UpdateDependencyMapStatus_MaximumSet_Gen.json"
          },
          "HypervDependencyMapController_UpdateDependencyMapStatus_MinimumSet_Gen": {
            "$ref": "./examples/HypervDependencyMapController_UpdateDependencyMapStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/updateProperties": {
      "post": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_UpdateProperties",
        "description": "Method to update custom properties for HYPERV machines\r\n            in a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "metaData",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/MachineMetadataList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervMachinesController_UpdateProperties_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_UpdateProperties_MaximumSet_Gen.json"
          },
          "HypervMachinesController_UpdateProperties_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_UpdateProperties_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/usage": {
      "get": {
        "tags": [
          "HypervSitesController"
        ],
        "operationId": "HypervSitesController_GetUsage",
        "description": "Method to get site error summary.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteUsageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervSitesController_GetUsage_MaximumSet_Gen": {
            "$ref": "./examples/HypervSitesController_GetUsage_MaximumSet_Gen.json"
          },
          "HypervSitesController_GetUsage_MinimumSet_Gen": {
            "$ref": "./examples/HypervSitesController_GetUsage_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites": {
      "get": {
        "tags": [
          "ImportSitesController"
        ],
[...]
