{
  "swagger": "2.0",
  "info": {
    "title": "Azure Machine Learning Services",
    "version": "2021-10-01-dataplanepreview",
    "description": "Azure AI api client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "IndexesVersions"
    },
    {
      "name": "Indexes"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/indexes": {
      "get": {
        "operationId": "Indexes_ListByWorkspace",
        "tags": [
          "Indexes"
        ],
        "description": "List the latest indexes per name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "Name of the workspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IndexListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Indexes_ListByWorkspace - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Indexes_ListByWorkspace_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/indexes/{indexName}/versions": {
      "get": {
        "operationId": "IndexesVersions_ListByIndex",
        "tags": [
          "IndexesVersions"
        ],
        "description": "List IndexVersion resources by Index",
        "parameters": [
          {
            "$ref": "#/parameters/CustomLabelQueryParameter"
          },
          {
            "$ref": "#/parameters/CustomListViewQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "Name of the workspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$"
          },
          {
            "name": "indexName",
            "in": "path",
            "description": "Name of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IndexVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IndexesVersions_ListByIndex - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IndexesVersions_ListByIndex_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/indexes/{indexName}/versions/{versionName}": {
      "get": {
        "operationId": "IndexesVersions_Get",
        "tags": [
          "IndexesVersions"
        ],
        "description": "Get a Index.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "Name of the workspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$"
          },
          {
            "name": "indexName",
            "in": "path",
            "description": "Name of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "version of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IndexVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IndexesVersions_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/IndexesVersions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "IndexesVersions_CreateOrUpdate",
        "tags": [
          "IndexesVersions"
        ],
        "description": "Create a Index.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "Name of the workspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$"
          },
          {
            "name": "indexName",
            "in": "path",
            "description": "Name of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "version of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IndexVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IndexVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IndexVersion"
            }
          },
          "201": {
            "description": "Resource 'IndexVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IndexVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IndexesVersions_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/IndexesVersions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssetBased": {
      "type": "object",
      "description": "Asset based class.",
      "properties": {
        "isArchived": {
          "type": "boolean",
          "description": "Is the asset archived? For types where Stage is defined, when Stage is provided it will be used to populate IsArchived."
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "If the name version are system generated (anonymous registration). For types where Stage is defined, when Stage is provided it will be used to populate IsAnonymous."
        }
      },
      "required": [
        "isArchived",
        "isAnonymous"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourceBase"
        }
      ]
    },
    "Index": {
      "type": "object",
      "description": "Index resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IndexContainerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IndexContainerProperties": {
      "type": "object",
      "description": "Index properties",
      "properties": {
        "indexVersion": {
          "type": "string",
          "description": "Default workspace blob storage Uri. Should work across storage types and auth scenarios."
        },
        "indexVersionDefinition": {
          "$ref": "#/definitions/IndexVersionProperties",
          "description": "Placeholder for extras."
        }
      },
      "required": [
        "indexVersion",
        "indexVersionDefinition"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AssetBased"
        }
      ]
    },
    "IndexListResult": {
      "type": "object",
      "description": "The response of a Index list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Index items on this page",
          "items": {
            "$ref": "#/definitions/Index"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IndexVersion": {
      "type": "object",
      "description": "Index Version resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IndexVersionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IndexVersionListResult": {
      "type": "object",
      "description": "The response of a IndexVersion list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IndexVersion items on this page",
          "items": {
            "$ref": "#/definitions/IndexVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IndexVersionProperties": {
      "type": "object",
      "description": "Index properties",
      "properties": {
        "storageUri": {
          "type": "string",
          "description": "Default workspace blob storage Uri. Should work across storage types and auth scenarios."
        },
        "indexConfigurations": {
          "type": "object",
          "description": "Placeholder for extras.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "storageUri",
        "indexConfigurations"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AssetBased"
        }
      ]
    },
    "ResourceBase": {
      "type": "object",
      "description": "Resource Base class.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Tag dictionary. Tags can be added, removed, and updated.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "The asset property dictionary.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "tags",
        "properties"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "Azure Machine Learning Services api versions.",
      "enum": [
        "2021-10-01-dataplanepreview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2021_10_01_dataplanepreview",
            "value": "2021-10-01-dataplanepreview",
            "description": "Azure Machine Learning Services api version 2021-10-01-dataplanepreview."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.MaxPageSizeQueryParameter": {
      "name": "maxpagesize",
      "in": "query",
      "description": "The maximum number of result items per page.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.SkipQueryParameter": {
      "name": "skip",
      "in": "query",
      "description": "The number of result items to skip.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "default": 0,
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.TopQueryParameter": {
      "name": "top",
      "in": "query",
      "description": "The number of result items to return.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "CustomLabelQueryParameter": {
      "name": "label",
      "in": "query",
      "description": "If set to true, $latest provides the latest of each index.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CustomListViewQueryParameter": {
      "name": "listViewType",
      "in": "query",
      "description": "Defines what set of entities to return in list, default active only.",
      "required": false,
      "type": "string",
      "default": "ActiveOnly",
      "x-ms-parameter-location": "method"
    }
  }
}
