{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Virtual Network Rules API provides a RESTful set of web APIs that interact with firewall rules to manage your virtual networks. The API enables users to create, retrieve, update, and delete virtual network rules."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/virtualNetworkRules/{vnetFirewallRuleName}": {
      "get": {
        "tags": [
          "VnetFirewallRule"
        ],
        "description": "Returns information about a Vnet Firewall Rule.",
        "operationId": "VnetFirewallRules_Get",
        "x-ms-examples": {
          "Gets the virtual network firewall rule": { "$ref": "../examples/VirtualNetworkRulesGet.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/VnetFirewallRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified vnet firewall rule.",
            "schema": {
              "$ref": "#/definitions/VnetFirewallRule"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      },
      "put": {
        "tags": [
          "VnetFirewallRule"
        ],
        "description": "Creates a new Vnet Firewall Rule or updates an existing Vnet Firewall Rule.",
        "operationId": "VnetFirewallRules_CreateOrUpdate",
        "x-ms-examples": {
          "Create or update a virtual network firewall rule": { "$ref": "../examples/VirtualNetworkRulesCreateOrUpdate.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/VnetFirewallRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the vnet firewall rule.",
            "schema": {
              "$ref": "#/definitions/VnetFirewallRule"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 NullVirtualNetworkRequest - Virtual Network Request is Null\n\n * 400 NullVirtualNetworkRequestParameters - Virtual Network Request Parameters are Null\n\n * 400 NullVirtualNetworkSubnetId - The Virtual Network Subnet Id is null\n\n * 400 InvalidVirtualNetworkSubnetId - The Virtual Network Subnet url is missing a section. It should be of the form - \"subscriptions/{VirtualNetworkSubscriptionId}/resourceGroups/{VirtualNetworkResourceGroupName}/providers/{VirtualNetworkType}/virtualNetworks/{VirtualNetworkName}/subnets/{subnetName}\"\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation."
          },
          "201": {
            "description": "Successfully created the vnet firewall rule.",
            "schema": {
              "$ref": "#/definitions/VnetFirewallRule"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "VnetFirewallRule"
        ],
        "description": "Deletes the Vnet Firewall Rule with the given name.",
        "operationId": "VnetFirewallRules_Delete",
        "x-ms-examples": {
          "Delete a virtual network firewall rule": { "$ref": "../examples/VirtualNetworkRulesDelete.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/VnetFirewallRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the Vnet Firewall Rule."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 NullVirtualNetworkRequest - Virtual Network Request is Null\n\n * 400 NullVirtualNetworkRequestParameters - Virtual Network Request Parameters are Null\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation."
          },
          "204": {
            "description": "The specified Vnet Firewall Rule does not exist."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/virtualNetworkRules": {
      "get": {
        "tags": [
          "VnetFirewallRule"
        ],
        "description": "Returns information about Vnet Firewall Rules.",
        "operationId": "VnetFirewallRules_ListByServer",
        "x-ms-examples": {
          "Lists the virtual network firewall rules": { "$ref": "../examples/VirtualNetworkRulesList.json" }
        },
        "x-ms-paging": { 
        "nextLinkName": "null" 
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of vnet firewall rules.",
            "schema": {
              "$ref": "#/definitions/VnetFirewallRuleListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      }
    }
  },
  "definitions": {
    "Resource":{
      "description":"ARM resource.",
      "properties":{  
        "id":{  
          "readOnly":true,
          "type":"string",
          "description":"Resource ID."
        },
        "name":{  
          "readOnly":true,
          "type":"string",
          "description":"Resource name."
        },
        "type":{  
          "readOnly":true,
          "type":"string",
          "description":"Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource":{  
      "description":"ARM proxy resource.",
      "allOf":[  
        {  
          "$ref":"#/definitions/Resource"
        }
      ]
    },
    "VnetFirewallRule": {
      "description": "Vnet Firewall Rule Resource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VnetFirewallRuleProperties",
          "x-ms-flatten": "true"
        }
      },
      "allOf": [
      {
        "$ref": "#/definitions/ProxyResource"
       }
      ]
    },
    "VnetFirewallRuleProperties": {
      "description": "Properties of a vnet firewall rule resource.",
      "type": "object",
      "properties": {
        "virtualNetworkSubnetId": {
          "description": "The VnetSubnetId",
          "type": "string"
        }
      }
    },
    "VnetFirewallRuleListResult": {
      "description": "A list of Vnet Firewall Rule Resource.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VnetFirewallRule"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription ID that identifies an Azure subscription.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request.",
      "required": true,
      "x-ms-parameter-location": "client",
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "VnetFirewallRuleNameParameter": {
      "name": "vnetFirewallRuleName",
      "in": "path",
      "description": "The name of the Virtual Network Firewall Rule.",
      "required": true,
      "type": "string"
    }
  }
}