{
  "swagger": "2.0",
  "info": {
    "title": "SaaSHubResourcesClient",
    "version": "2026-03-31-preview",
    "description": "SaaSHub Resource Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SaasResources"
    },
    {
      "name": "Operations"
    },
    {
      "name": "ProviderLevelActions"
    }
  ],
  "paths": {
    "/providers/Microsoft.SaaSHub/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists the available SaaSHub REST API operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources": {
      "get": {
        "operationId": "SaasResources_ListByTenant",
        "tags": [
          "SaasResources"
        ],
        "description": "Lists the SaaSHub Saas resource under the tenant.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SaasResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SaasResources By Tenant": {
            "$ref": "./examples/SaasResources_ListByTenant.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}": {
      "get": {
        "operationId": "SaasResources_Get",
        "tags": [
          "SaasResources"
        ],
        "description": "Gets a SaaSHub Saas resource by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SaasResource": {
            "$ref": "./examples/SaasResources_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SaasResources_Create",
        "tags": [
          "SaasResources"
        ],
        "description": "Creates or updates a SaaSHub Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request parameters that are provided to the create SaaSHub Saas resource operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SaasResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          },
          "201": {
            "description": "Resource 'SaasResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SaaSResource - Microsoft Customer Agreement Enterprise scenario": {
            "$ref": "./examples/SaasResources_Create_Create_SaaS_Microsoft_Customer_Agreement_Enterprise.json"
          },
          "Create SaasResource": {
            "$ref": "./examples/SaasResources_Create_Create_SaaS_Resource.json"
          },
          "Create SaasResource With Coterminous": {
            "$ref": "./examples/SaasResources_Create_Create_SaaS_Resource_With_Coterminous.json"
          },
          "Create SaasResource With Future Start Date": {
            "$ref": "./examples/SaasResources_Create_Create_SaaS_Resource_With_Future_Start_Date.json"
          },
          "Create SaasResource With Original SaasResource": {
            "$ref": "./examples/SaasResources_Create_Create_SaaS_Resource_With_Original_SaaS_Resource.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SaasResources_Update",
        "tags": [
          "SaasResources"
        ],
        "description": "Updates the properties of a SaaSHub Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Request parameters that are provided to the update SaaSHub Saas resource operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaasResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Change Quantity": {
            "$ref": "./examples/SaasResources_Update_Change_Quantity.json"
          },
          "Coterminous": {
            "$ref": "./examples/SaasResources_Update_Coterminous.json"
          },
          "Extend Trial": {
            "$ref": "./examples/SaasResources_Update_Extend_Trial.json"
          },
          "Sku or Term Update": {
            "$ref": "./examples/SaasResources_Update_Sku_Or_Term_Update.json"
          },
          "Sku or Term Update with Quantity Change": {
            "$ref": "./examples/SaasResources_Update_Sku_Or_Term_Update_With_Quantity_Change.json"
          },
          "Turn Auto Renew Off": {
            "$ref": "./examples/SaasResources_Update_Turn_Auto_Renew_Off.json"
          },
          "Turn Auto Renew On": {
            "$ref": "./examples/SaasResources_Update_Turn_Auto_Renew_On.json"
          },
          "Update Auto Renew and Update Scheduled Actions at the same time": {
            "$ref": "./examples/SaasResources_Update_Update_Auto_Renew_And_Update_Scheduled_Actions_NextTerm.json"
          },
          "Update Auto Renew and Update Scheduled Actions with absolute effectiveDate": {
            "$ref": "./examples/SaasResources_Update_Update_Auto_Renew_And_Update_Scheduled_Actions_MidTerm.json"
          },
          "Update Provisioning Tenant": {
            "$ref": "./examples/SaasResources_Update_Update_Provisioning_Tenant.json"
          },
          "Update a SaaSHub saas resource with schedule actions": {
            "$ref": "./examples/SaasResources_Update_ScheduleActions.json"
          },
          "Update a SaaSHub saas resource with schedule actions for scheduled merges": {
            "$ref": "./examples/SaasResources_Update_ScheduleActions_WithMerge.json"
          },
          "Update a SaaSHub saas resource with schedule actions for scheduled splits": {
            "$ref": "./examples/SaasResources_Update_ScheduleActions_WithSplit.json"
          },
          "Update renewal term - Microsoft Customer Agreement Enterprise scenario": {
            "$ref": "./examples/SaasResources_Update_Microsoft_Customer_Agreement_Enterprise_Renewal.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SaasResources_Delete",
        "tags": [
          "SaasResources"
        ],
        "description": "Deletes a SaaSHub Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SaasResource": {
            "$ref": "./examples/SaasResources_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/canCancel": {
      "post": {
        "operationId": "SaasResources_CanCancel",
        "tags": [
          "SaasResources"
        ],
        "description": "Evaluates whether an existing Saas resource can be cancelled.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanCancelResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CanCancel Invalid Request Body": {
            "$ref": "./examples/SaasResources_CanCancel_Invalid_Request_Body.json"
          },
          "Cancel Failed": {
            "$ref": "./examples/SaasResources_CanCancel_Cancel_Failed.json"
          },
          "Cancel Passed": {
            "$ref": "./examples/SaasResources_CanCancel_Cancel_Passed.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/canMerge": {
      "post": {
        "operationId": "SaasResources_CanMerge",
        "tags": [
          "SaasResources"
        ],
        "description": "Evaluates whether the source Saas resource can be merged to target Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters that are provided to the merge SaaSHub Saas resource operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeSaasResourcesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanMergeResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CanMerge Invalid Request Body": {
            "$ref": "./examples/SaasResources_CanMerge_Invalid_Request_Body.json"
          },
          "Merge Failed": {
            "$ref": "./examples/SaasResources_CanMerge_Merge_Failed.json"
          },
          "Merge Failed Caused by Source SaasResource": {
            "$ref": "./examples/SaasResources_CanMerge_Merge_Failed_Caused_By_Source_Cloud_Service.json"
          },
          "Merge Failed Caused by having multiple Source SaasResource": {
            "$ref": "./examples/SaasResources_CanMerge_Merge_Failed_Caused_By_Having_Multiple_Source_Cloud_Service.json"
          },
          "Merge Pass": {
            "$ref": "./examples/SaasResources_CanMerge_Merge_Pass.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/canUpdate": {
      "post": {
        "operationId": "SaasResources_CanUpdate",
        "tags": [
          "SaasResources"
        ],
        "description": "Evaluates whether the request payload can update an existing Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters that are provided to the update SaaSHub Saas resource operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanUpdateResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CanUpdate Invalid Request Body": {
            "$ref": "./examples/SaasResources_CanUpdate_Invalid_Request_Body.json"
          },
          "Update AddOn - Failed": {
            "$ref": "./examples/SaasResources_CanUpdate_Fail_AddOn.json"
          },
          "Update Failed Caused by Coterm": {
            "$ref": "./examples/SaasResources_CanUpdate_Update_Failed_Caused_By_Coterm.json"
          },
          "Update Failed Caused by Refundable Quantity": {
            "$ref": "./examples/SaasResources_CanUpdate_Update_Failed_Caused_By_Refundable_Quantity.json"
          },
          "Update Failed With No Additional Info": {
            "$ref": "./examples/SaasResources_CanUpdate_Update_Failed_With_No_Additional_Info.json"
          },
          "Update Future Price - Failed": {
            "$ref": "./examples/SaasResources_CanUpdate_Fail_FuturePrice.json"
          },
          "Update Passed": {
            "$ref": "./examples/SaasResources_CanUpdate_Update_Passed.json"
          },
          "Update Promotion - Failed": {
            "$ref": "./examples/SaasResources_CanUpdate_Fail_Promotion.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/cancel": {
      "post": {
        "operationId": "SaasResources_Cancel",
        "tags": [
          "SaasResources"
        ],
        "description": "Cancels a SaaSHub Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel SaasResource": {
            "$ref": "./examples/SaasResources_Cancel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/merge": {
      "post": {
        "operationId": "SaasResources_Merge",
        "tags": [
          "SaasResources"
        ],
        "description": "Merges multiple Saas resources into one target Saas resource. The resource name in URL is the target, and the list of source Saas resource and quantity will be specified in request payload",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters that are provided to the merge SaaSHub Saas resource operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeSaasResourcesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Merge SaasResource": {
            "$ref": "./examples/SaasResources_Merge.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/refundableQuantity": {
      "post": {
        "operationId": "SaasResources_RefundableQuantity",
        "tags": [
          "SaasResources"
        ],
        "description": "Gets the refundable quantity for a SaaSHub Saas resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetRefundableQuantityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetRefundableQuantity for SaaS Resource": {
            "$ref": "./examples/SaasResources_GetRefundableQuantity.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/saasResources/{saasResourceName}/transferToPartner": {
      "post": {
        "operationId": "SaasResources_TransferToPartner",
        "tags": [
          "SaasResources"
        ],
        "description": "Transfers a SaasResource to another partner tenant.\nOnly available starting in API version 2026-03-31-preview.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "saasResourceName",
            "in": "path",
            "description": "The name that uniquely identifies a SaaSHub Saas resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[-_0-9a-zA-Z]{3,50}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferToPartnerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SaasResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Transfer SaasResource to partner tenant": {
            "$ref": "./examples/SaasResources_TransferToPartner.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.SaaSHub/tenantLevelCanCreate": {
      "post": {
        "operationId": "ProviderLevelActions_TenantLevelCanCreate",
        "tags": [
          "ProviderLevelActions"
        ],
        "description": "Evaluates whether the request payload can create a new SaaS resource.\nNot available in API versions 2023-01-01-preview.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters that are provided to the create SaaSHub SaaS resource operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CanCreateSaasResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanCreateResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "New Purchase - Passed": {
            "$ref": "./examples/SaasResources_CanCreate_NewPurchase_Pass.json"
          },
          "New Purchase with original resource - Passed": {
            "$ref": "./examples/SaasResources_CanCreate_WithOriginal_Pass.json"
          },
          "Purchase AddOn - Failed": {
            "$ref": "./examples/SaasResources_CanCreate_Fail_AddOn.json"
          },
          "Purchase Promotion - Failed": {
            "$ref": "./examples/SaasResources_CanCreate_Fail_Promotion.json"
          },
          "Purchase failed due to invalid request body": {
            "$ref": "./examples/SaasResources_CanCreate_InvalidRequestBody.json"
          },
          "Purchase with Coterm - Failed": {
            "$ref": "./examples/SaasResources_CanCreate_Fail_Coterm.json"
          },
          "Purchase with Future Price - Failed": {
            "$ref": "./examples/SaasResources_CanCreate_Fail_FuturePrice.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/tenantLevelCanTransact": {
      "post": {
        "operationId": "ProviderLevelActions_TenantLevelCanTransact",
        "tags": [
          "ProviderLevelActions"
        ],
        "description": "Evaluates whether multiple transaction requests can be processed at tenant level.\nOnly available starting in API version 2025-07-01-preview.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters that are provided to the tenant level canTransact operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TenantLevelCanTransactBulkRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantLevelCanTransactBulkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Evaluates multiple transaction operations for SaasResources at tenant level": {
            "$ref": "./examples/TenantLevelCanTransact_MultipleOperations.json"
          },
          "Tenant Level CanTransact - Single SaasResource CanCreate - Passed": {
            "$ref": "./examples/TenantLevelCanTransact_SingleSaasResource_CanCreate_Pass.json"
          },
          "TenantLevelCanTransact with AdditionalInfo - Multiple Operations": {
            "$ref": "./examples/TenantLevelCanTransact_WithAdditionalInfo.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/tenantLevelCoterminousDates": {
      "post": {
        "operationId": "ProviderLevelActions_TenantLevelGetCotermEndDatesBulk",
        "tags": [
          "ProviderLevelActions"
        ],
        "description": "Gets coterm end dates for multiple resources at tenant level.\nOnly available starting in API version 2026-03-31-preview.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters that are provided to the GetCotermEndDates operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CotermEndDatesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CotermResponseItemBulkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TenantLevelGetCotermEndDates for Provider Level": {
            "$ref": "./examples/ProviderLevelActions_TenantLevelGetCotermEndDates.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/validateFuturePriceEligibility": {
      "post": {
        "operationId": "ProviderLevelActions_ValidateFuturePriceEligibility",
        "tags": [
          "ProviderLevelActions"
        ],
        "description": "Evaluates whether customers qualify for future price concessions when purchasing Microsoft 365 products.\nOn each evaluated product, hydrates the catalog product SKU for the constraints and checks whether\nthe sum of new and existing resources would meet the requirements for concessions.\nOnly available starting in API version 2026-03-31-preview.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters containing products to evaluate for future price eligibility.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateFuturePriceEligibilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateFuturePriceEligibilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate Future Price Eligibility - Bulk Products Mixed Results": {
            "$ref": "./examples/ValidateFuturePriceEligibility_BulkProducts.json"
          },
          "Validate Future Price Eligibility - Eligible": {
            "$ref": "./examples/ValidateFuturePriceEligibility_Eligible.json"
          },
          "Validate Future Price Eligibility - Ineligible (Insufficient Quantity)": {
            "$ref": "./examples/ValidateFuturePriceEligibility_Ineligible.json"
          },
          "Validate Future Price Eligibility - Multiple Coterminous Groups": {
            "$ref": "./examples/ValidateFuturePriceEligibility_MultipleCoterminousGroups.json"
          },
          "Validate Future Price Eligibility - Paginated Response": {
            "$ref": "./examples/ValidateFuturePriceEligibility_Paginated.json"
          },
          "Validate Future Price Eligibility - With Product Context and Resource Tokens": {
            "$ref": "./examples/ValidateFuturePriceEligibility_WithProductContext.json"
          }
        }
      }
    },
    "/providers/Microsoft.SaaSHub/validatePromotions": {
      "post": {
        "operationId": "ProviderLevelActions_ValidatePromotions",
        "tags": [
          "ProviderLevelActions"
        ],
        "description": "Evaluates customer eligibility for promotions on one or more products.\nOnly available starting in API version 2026-03-31-preview.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request parameters containing products to evaluate for promotion eligibility.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidatePromotionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidatePromotionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate Promotions - All Constraint Types Success": {
            "$ref": "./examples/ValidatePromotions_AllConstraintsTypes_Success.json"
          },
          "Validate Promotions - Bulk Products with Mixed Results": {
            "$ref": "./examples/ValidatePromotions_BulkProducts_MixedResults.json"
          },
          "Validate Promotions - No Billing Scope with Product Context": {
            "$ref": "./examples/ValidatePromotions_NoBillingScope_WithProductContext.json"
          },
          "Validate Promotions - Paginated Response with NextLink": {
            "$ref": "./examples/ValidatePromotions_Paginated_Response.json"
          },
          "Validate Promotions - With Resource Tokens": {
            "$ref": "./examples/ValidatePromotions_WithResourceTokens.json"
          },
          "Validate Promotions - firstPurchase Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_firstPurchase_Failed.json"
          },
          "Validate Promotions - newCustomer Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_newCustomer_Failed.json"
          },
          "Validate Promotions - newToOfferGrowthMarginDiscount Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_newToOfferGrowthMarginDiscount_Failed.json"
          },
          "Validate Promotions - prerequisiteConstraints Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_PrerequisiteConstraints_Failed.json"
          },
          "Validate Promotions - productLifetimeOwnershipExclusion Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_ProductLifetimeOwnershipExclusion_Failed.json"
          },
          "Validate Promotions - productOwnership Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_productOwnership_Failed.json"
          },
          "Validate Promotions - qualifyingSubscriptionCoterminosity Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_qualifyingSubscriptionCoterminosity_Failed.json"
          },
          "Validate Promotions - redemptionLimit Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_redemptionLimit_Failed.json"
          },
          "Validate Promotions - renewalPurchaseQuantity Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_renewalPurchaseQuantity_Failed.json"
          },
          "Validate Promotions - seatExpansionGrowthMarginDiscount Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_seatExpansionGrowthMarginDiscount_Failed.json"
          },
          "Validate Promotions - seatQuantity Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_seatQuantity_Failed.json"
          },
          "Validate Promotions - termDuration Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_termDuration_Failed.json"
          },
          "Validate Promotions - upsellGrowthMarginDiscount Constraint Failed": {
            "$ref": "./examples/ValidatePromotions_upsellGrowthMarginDiscount_Failed.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AdditionalInfoItem": {
      "type": "object",
      "description": "Additional information key-value pair",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the additional information item."
        },
        "key": {
          "type": "string",
          "description": "The key of the additional information item."
        },
        "value": {
          "type": "string",
          "description": "The value of the additional information item."
        }
      }
    },
    "AutoRenew": {
      "type": "string",
      "description": "Indicates whether auto renewal is turned on or off for a SaaSHub saas resource. The default value will be 'On' for products that support autorenew.",
      "enum": [
        "Off",
        "On",
        "Once"
      ],
      "x-ms-enum": {
        "name": "AutoRenew",
        "modelAsString": true,
        "values": [
          {
            "name": "Off",
            "value": "Off",
            "description": "Auto renew is turned off"
          },
          {
            "name": "On",
            "value": "On",
            "description": "Auto renew is turned on"
          },
          {
            "name": "Once",
            "value": "Once",
            "description": "Auto renew is turned on for the next term only"
          }
        ]
      }
    },
    "CanCancelResult": {
      "type": "object",
      "description": "Validation result for canCancel operation.",
      "properties": {
        "evaluateResult": {
          "$ref": "#/definitions/EvaluateResult",
          "description": "Whether the validation passed/failed.",
          "readOnly": true
        },
        "reasonCode": {
          "type": "string",
          "description": "ReasonCode for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "Detailed reason for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "additionalInfo": {
          "$ref": "#/definitions/CanCancelResultAdditionalInfo",
          "description": "Additional information for failed validation.",
          "readOnly": true
        }
      }
    },
    "CanCancelResultAdditionalInfo": {
      "type": "object",
      "description": "Additional information for failed validation.",
      "properties": {
        "cancellationWindowEndTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The end date in UTC time by when the self-serve cancellation ends.",
          "readOnly": true
        }
      }
    },
    "CanCreateResult": {
      "type": "object",
      "description": "Validation result for canCreate operation.",
      "properties": {
        "evaluateResult": {
          "$ref": "#/definitions/EvaluateResult",
          "description": "Whether the validation passed/failed.",
          "readOnly": true
        },
        "reasonCode": {
          "type": "string",
          "description": "ReasonCode for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "Detailed reason for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "additionalInfo": {
          "$ref": "#/definitions/CanCreateResultAdditionalInfo",
          "description": "Additional information for failed validation.",
          "readOnly": true
        }
      }
    },
    "CanCreateResultAddOnInfo": {
      "type": "object",
      "description": "Additional detail when request payload failed addOn constraints. Null when constraints passed or not applicable.",
      "properties": {
        "isEligible": {
          "$ref": "#/definitions/EligibilityResult",
          "description": "Whether the add-on eligibility is satisfied.",
          "readOnly": true
        },
        "ineligibilityReasons": {
          "type": "array",
          "description": "AddOn ineligible reasons.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "eligibilityConstraints": {
          "type": "array",
          "description": "AddOn eligibility constraints.",
          "items": {
            "$ref": "#/definitions/EligibilityConstraint"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CanCreateResultAdditionalInfo": {
      "type": "object",
      "description": "Additional information for failed validation.",
      "properties": {
        "addOn": {
          "$ref": "#/definitions/CanCreateResultAddOnInfo",
          "description": "Additional detail when request payload failed addOn constraints. Null when constraints passed or not applicable.",
          "readOnly": true
        },
        "promotion": {
          "type": "array",
          "description": "Additional detail when request payload failed promotion constraints. Null when constraints passed or not applicable.",
          "items": {
            "$ref": "#/definitions/CanCreateResultPromotionInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "futurePrice": {
          "type": "array",
          "description": "Additional evaluation eligibility result for qualifying co-term resources for a future price concession. Null when constraints passed or not applicable.",
          "items": {
            "$ref": "#/definitions/CanCreateResultFuturePriceInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "coTermDates": {
          "type": "array",
          "description": "Additional detail when request payload failed coTerm constraints. Null when constraints passed or not applicable.",
          "items": {
            "$ref": "#/definitions/CoTermDateEligibilityResult"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "coTerm": {
          "$ref": "#/definitions/CoTermEligibilityResult",
          "description": "Additional information for coTerm eligibility with top-level eligibility indicator. Null when constraints passed or not applicable.",
          "readOnly": true
        }
      }
    },
    "CanCreateResultFuturePriceInfo": {
      "type": "object",
      "description": "Model to present additional info about future price eligibility",
      "properties": {
        "termEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The term end date in UTC time, for resources in this group.",
          "readOnly": true
        },
        "totalQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Total cumulative quantity of licenses for resources in this group.",
          "readOnly": true
        },
        "isEligible": {
          "$ref": "#/definitions/EligibilityResult",
          "description": "Whether the future price concession eligibility is satisfied by subscriptions in this group",
          "readOnly": true
        },
        "qualifyingResources": {
          "type": "array",
          "description": "List of qualifying resources for the future price concession",
          "items": {
            "$ref": "#/definitions/CanCreateResultFuturePriceQualifyingResource"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "futurePriceConcessionTypes": {
          "type": "array",
          "description": "Types of future price concession. E.g. FuturePriceNotToExceedCap, PercentageDiscount",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "minimumQuantityRequired": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum number of seats required to be eligible for the future price concession",
          "readOnly": true
        }
      }
    },
    "CanCreateResultFuturePriceQualifyingResource": {
      "type": "object",
      "description": "Model to represent the future price qualified resource",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "ARM resource URI for the qualifying resource.",
          "readOnly": true
        },
        "productCode": {
          "type": "string",
          "description": "Upn value of the product, which can be used to resolve product Id/sku Id/availability Id/term Id.",
          "readOnly": true
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Number of seats for this qualifying resource.",
          "readOnly": true
        },
        "isCopurchased": {
          "type": "boolean",
          "description": "Whether the qualifying resource originated from the copurchased products list.\nTrue if from copurchasedProducts, false if from existing customer resources.",
          "readOnly": true
        },
        "itemTrackingId": {
          "type": "string",
          "description": "Item tracking identifier from the copurchased product request.\nPresent when isCopurchased is true, so the client can correlate back to the original request item.",
          "readOnly": true
        }
      }
    },
    "CanCreateResultPromotionInfo": {
      "type": "object",
      "description": "Model to present promotion eligibility info.",
      "properties": {
        "promotionId": {
          "type": "string",
          "description": "Promotion id.",
          "readOnly": true
        },
        "isEligible": {
          "$ref": "#/definitions/EligibilityResult",
          "description": "True if user is eligible for this promotion, false otherwise",
          "readOnly": true
        },
        "ineligibilityReasons": {
          "type": "array",
          "description": "Promotion ineligible reasons.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "discountProductCode": {
          "type": "string",
          "description": "Identifies which discount UPN each eligibility result corresponds to for CSP Growth Margin.",
          "readOnly": true
        },
        "eligibilityConstraints": {
          "type": "array",
          "description": "Promotion eligibility constraints.",
          "items": {
            "$ref": "#/definitions/PromotionEligibilityConstraint"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CanCreateSaasResourceRequest": {
      "type": "object",
      "description": "Request to check if the saas resource can be created",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the saas hub resource to be created."
        },
        "type": {
          "type": "string",
          "description": "Resource type to be created, currently only supports SaaS resource type."
        },
        "properties": {
          "$ref": "#/definitions/SaasResourceProperties",
          "description": "The properties of the saas hub resource to be created."
        }
      },
      "required": [
        "name",
        "type",
        "properties"
      ]
    },
    "CanMergeResult": {
      "type": "object",
      "description": "Validation result for canMerge operation.",
      "properties": {
        "evaluateResult": {
          "$ref": "#/definitions/EvaluateResult",
          "description": "Whether the validation passed/failed.",
          "readOnly": true
        },
        "reasonCode": {
          "type": "string",
          "description": "ReasonCode for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "Detailed reason for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "Additional information for failed validation.",
          "items": {
            "$ref": "#/definitions/MergeSourceSaasResource"
          },
          "readOnly": true
        }
      }
    },
    "CanTransactCanCancelResponse": {
      "type": "object",
      "description": "Response for canCancel operation evaluation.",
      "properties": {
        "result": {
          "$ref": "#/definitions/CanCancelResult",
          "description": "The result of the canCancel operation evaluation.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CanTransactResponse"
        }
      ],
      "x-ms-discriminator-value": "canCancel"
    },
    "CanTransactCanCreateResponse": {
      "type": "object",
      "description": "Response for canCreate operation evaluation.",
      "properties": {
        "result": {
          "$ref": "#/definitions/CanCreateResult",
          "description": "The result of the canCreate operation evaluation.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CanTransactResponse"
        }
      ],
      "x-ms-discriminator-value": "canCreate"
    },
    "CanTransactCanMergeResponse": {
      "type": "object",
      "description": "Response for canMerge operation evaluation.",
      "properties": {
        "result": {
          "$ref": "#/definitions/CanMergeResult",
          "description": "The result of the canMerge operation evaluation.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CanTransactResponse"
        }
      ],
      "x-ms-discriminator-value": "canMerge"
    },
    "CanTransactCanUpdateResponse": {
      "type": "object",
      "description": "Response for canUpdate operation evaluation.",
      "properties": {
        "result": {
          "$ref": "#/definitions/CanUpdateResult",
          "description": "The result of the canUpdate operation evaluation.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CanTransactResponse"
        }
      ],
      "x-ms-discriminator-value": "canUpdate"
    },
    "CanTransactOperationType": {
      "type": "string",
      "description": "The type of operation being evaluated in a CanTransact request.",
      "enum": [
        "canCreate",
        "canCancel",
        "canUpdate",
        "canMerge"
      ],
      "x-ms-enum": {
        "name": "CanTransactOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "canCreate",
            "value": "canCreate",
            "description": "Create operation type"
          },
          {
            "name": "canCancel",
            "value": "canCancel",
            "description": "Cancel operation type"
          },
          {
            "name": "canUpdate",
            "value": "canUpdate",
            "description": "Update operation type"
          },
          {
            "name": "canMerge",
            "value": "canMerge",
            "description": "Merge operation type"
          }
        ]
      }
    },
    "CanTransactResponse": {
      "type": "object",
      "description": "Base response model for CanTransact operation result.\nThe operationType discriminator determines which specific result structure is used.",
      "properties": {
        "itemTrackingId": {
          "type": "string",
          "description": "The unique identifier for tracking the canTransact response item.",
          "readOnly": true
        },
        "resourceUri": {
          "type": "string",
          "description": "The URI of the resource that was evaluated.",
          "readOnly": true
        },
        "approvalCode": {
          "type": "string",
          "description": "Proof of successful evaluation.",
          "readOnly": true
        },
        "operationType": {
          "$ref": "#/definitions/CanTransactOperationType",
          "description": "The type of operation that was evaluated.",
          "readOnly": true
        },
        "dependsOn": {
          "type": "array",
          "description": "Dependencies for the transaction evaluation.",
          "items": {
            "$ref": "#/definitions/DependsOnValue"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "discriminator": "operationType",
      "required": [
        "resourceUri",
        "operationType"
      ]
    },
    "CanTransactSaasResourcesRequest": {
      "type": "object",
      "description": "Request model for CanTransact operation.",
      "properties": {
        "itemTrackingId": {
          "type": "string",
          "description": "The unique identifier for tracking the canTransact request item."
        },
        "resourceUri": {
          "type": "string",
          "description": "The URI of the resource for the transaction evaluation."
        },
        "approvalCode": {
          "type": "string",
          "description": "Optional token for the evaluation request."
        },
        "operationType": {
          "$ref": "#/definitions/CanTransactOperationType",
          "description": "The type of operation to evaluate for the transaction."
        },
        "properties": {
          "$ref": "#/definitions/SaasResourceProperties",
          "description": "Resource properties for the transaction evaluation.\nSupports SaasResources only."
        },
        "mergeRequest": {
          "$ref": "#/definitions/MergeSaasResourcesRequest",
          "description": "Full merge request payload used for canMerge operations."
        },
        "additionalInfo": {
          "type": "array",
          "description": "Additional information as key-value pairs",
          "items": {
            "$ref": "#/definitions/AdditionalInfoItem"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "resourceUri",
        "operationType"
      ]
    },
    "CanUpdateResult": {
      "type": "object",
      "description": "Validation result for canUpdate operation.",
      "properties": {
        "evaluateResult": {
          "$ref": "#/definitions/EvaluateResult",
          "description": "Whether the validation passed/failed.",
          "readOnly": true
        },
        "reasonCode": {
          "type": "string",
          "description": "ReasonCode for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "Detailed reason for why the request payload failed validation. Null when validation passed.",
          "readOnly": true
        },
        "updateScenario": {
          "type": "string",
          "description": "Update scenario that was identified based on the canUpdate request body values.",
          "readOnly": true
        },
        "additionalInfo": {
          "$ref": "#/definitions/CanUpdateResultAdditionalInfo",
          "description": "Additional information for failed validation.",
          "readOnly": true
        }
      }
    },
    "CanUpdateResultAdditionalInfo": {
      "type": "object",
      "description": "Additional information for failed validation.",
      "properties": {
        "refundableQuantity": {
          "$ref": "#/definitions/RefundableQuantityResult",
          "description": "Additional detail when request payload failed refundableQuantity constraints. Null when constraints passed or not applicable. Relevant scenarios: remove quantity.",
          "readOnly": true
        },
        "coTermDates": {
          "type": "array",
          "description": "Additional detail when request payload failed coTerm constraints. Null when constraints passed or not applicable. Relevant scenarios: coterm, scheduled conversion with coterm.",
          "items": {
            "$ref": "#/definitions/CoTermDateEligibilityResult"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "coTerm": {
          "$ref": "#/definitions/CoTermEligibilityResult",
          "description": "Additional information for coTerm eligibility with top-level eligibility indicator. Null when constraints passed or not applicable. Relevant scenarios: coterm, scheduled conversion with coterm.",
          "readOnly": true
        },
        "addOn": {
          "$ref": "#/definitions/CanCreateResultAddOnInfo",
          "description": "Additional detail when request payload failed addOn constraints. Null when constraints passed or not applicable.",
          "readOnly": true
        },
        "promotion": {
          "type": "array",
          "description": "Additional detail when request payload failed promotion constraints. Null when constraints passed or not applicable.",
          "items": {
            "$ref": "#/definitions/CanCreateResultPromotionInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "futurePrice": {
          "type": "array",
          "description": "Additional evaluation eligibility result for qualifying co-term resources for a future price concession. Null when constraints passed or not applicable.",
          "items": {
            "$ref": "#/definitions/CanCreateResultFuturePriceInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "Cancellation": {
      "type": "string",
      "description": "The policy override for the resource indicates whether the self-serve cancellation or seat reduction is allowed.",
      "enum": [
        "Allowed",
        "NotAllowed"
      ],
      "x-ms-enum": {
        "name": "Cancellation",
        "modelAsString": true,
        "values": [
          {
            "name": "Allowed",
            "value": "Allowed",
            "description": "Cancellation is allowed"
          },
          {
            "name": "NotAllowed",
            "value": "NotAllowed",
            "description": "Cancellation is not allowed"
          }
        ]
      }
    },
    "CoTermDateEligibilityResult": {
      "type": "object",
      "description": "Additional information for failed validation.",
      "properties": {
        "coTermTarget": {
          "type": "string",
          "description": "Target cloud resource or contract name to coTerm to.",
          "readOnly": true
        },
        "coTermTargetType": {
          "$ref": "#/definitions/CoTermTargetType",
          "description": "Whether the target is cloud resource or contract.",
          "readOnly": true
        },
        "termEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "CoTerm end date in UTC time.",
          "readOnly": true
        },
        "errorCode": {
          "type": "string",
          "description": "CoTerm error details",
          "readOnly": true
        }
      }
    },
    "CoTermEligibilityResult": {
      "type": "object",
      "description": "Additional information for coTerm eligibility with top-level eligibility indicator.",
      "properties": {
        "isEligible": {
          "$ref": "#/definitions/EligibilityResult",
          "description": "Whether the coTerm eligibility is satisfied.",
          "readOnly": true
        },
        "coTermDates": {
          "type": "array",
          "description": "Additional detail when request payload failed coTerm constraints. Null when constraints passed or not applicable.",
          "items": {
            "$ref": "#/definitions/CoTermDateEligibilityResult"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CoTermTargetType": {
      "type": "string",
      "description": "Whether the target is cloud resource or contract.",
      "enum": [
        "Resource",
        "Contract"
      ],
      "x-ms-enum": {
        "name": "CoTermTargetType",
        "modelAsString": true,
        "values": [
          {
            "name": "Resource",
            "value": "Resource",
            "description": "Resource co-term type"
          },
          {
            "name": "Contract",
            "value": "Contract",
            "description": "Contract co-term type"
          }
        ]
      }
    },
    "ConstraintFailingItem": {
      "type": "object",
      "description": "Failing item for constraint failure details.",
      "properties": {
        "resourceUris": {
          "type": "array",
          "description": "Resource URIs associated with the failing item.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "condition": {
          "$ref": "#/definitions/FailingItemCondition",
          "description": "Condition that caused the failure.",
          "readOnly": true
        },
        "failedConstraintGroup": {
          "type": "string",
          "description": "Failed constraint group name (for prerequisiteConstraints).",
          "readOnly": true
        },
        "productCodes": {
          "type": "array",
          "description": "Product codes associated with the failing item.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ConstraintFailureDetails": {
      "type": "object",
      "description": "Failure details for constraint evaluation.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Failure message describing why the constraint failed.",
          "readOnly": true
        },
        "failingItems": {
          "type": "array",
          "description": "List of failing items with details.",
          "items": {
            "$ref": "#/definitions/ConstraintFailingItem"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CotermEndDateItem": {
      "type": "object",
      "description": "End date information for coterm calculation.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the end date entry."
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date in UTC time."
        },
        "termDuration": {
          "type": "string",
          "description": "Term duration for this specific end date."
        }
      },
      "required": [
        "id",
        "endDate",
        "termDuration"
      ]
    },
    "CotermEndDatesRequest": {
      "type": "object",
      "description": "Request model for GetCotermEndDates operation.",
      "properties": {
        "endDates": {
          "type": "array",
          "description": "List of end dates to calculate coterm targets for.",
          "items": {
            "$ref": "#/definitions/CotermEndDateItem"
          }
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date for the coterm calculation in UTC time."
        },
        "termDuration": {
          "type": "string",
          "description": "Term duration for the coterm calculation.\nAn ISO 8601 duration using exactly one of the year, month or day designators. E.g. P1Y, P1M."
        }
      },
      "required": [
        "endDates",
        "startDate",
        "termDuration"
      ]
    },
    "CotermResponseItemBulkResponse": {
      "type": "object",
      "description": "Bulk response model for TenantLevelGetCotermEndDates and GetCotermEndDates operations with pagination support.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CotermResponseItemErrorOptional items on this page",
          "items": {
            "$ref": "#/definitions/CotermResponseItemErrorOptional"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CotermResponseItemErrorOptional": {
      "type": "object",
      "description": "Response model for GetCotermEndDates operation. Error code is optional.",
      "properties": {
        "coTermTarget": {
          "type": "string",
          "description": "Target cloud resource or contract name to coterm to.",
          "readOnly": true
        },
        "coTermTargetType": {
          "type": "string",
          "description": "Whether the target is cloud resource or contract.",
          "readOnly": true
        },
        "termEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Term end date in UTC time.",
          "readOnly": true
        },
        "errorCode": {
          "type": "string",
          "description": "Error code if coterm calculation failed.",
          "readOnly": true
        }
      },
      "required": [
        "coTermTarget",
        "coTermTargetType"
      ]
    },
    "CumulativeSeatConstraint": {
      "type": "object",
      "description": "Cumulative seat constraint for prerequisite groups.",
      "properties": {
        "requiredMinSeats": {
          "type": "integer",
          "format": "int64",
          "description": "Required minimum cumulative seats.",
          "readOnly": true
        },
        "requiredMaxSeats": {
          "type": "integer",
          "format": "int64",
          "description": "Required maximum cumulative seats.",
          "readOnly": true
        },
        "actualCumulativeSeats": {
          "type": "integer",
          "format": "int64",
          "description": "Actual cumulative seats owned by the customer.",
          "readOnly": true
        }
      }
    },
    "DependsOnValue": {
      "type": "object",
      "description": "Dependency value containing type and value for dependency tracking purposes.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the dependency value."
        },
        "value": {
          "type": "string",
          "description": "The value of the dependency."
        }
      }
    },
    "Discount": {
      "type": "object",
      "description": "Discount containing type and value for conditional discounts (e.g., CSP Growth Margin).",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the discount."
        },
        "value": {
          "type": "string",
          "description": "The value of the discount."
        }
      }
    },
    "EligibilityConstraint": {
      "type": "object",
      "description": "Shared eligibility constraint model.",
      "properties": {
        "constraintType": {
          "type": "string",
          "description": "The failed eligibility constraint type.",
          "readOnly": true
        },
        "isEligible": {
          "$ref": "#/definitions/EligibilityResult",
          "description": "true if eligibility is satisfied, false otherwise",
          "readOnly": true
        }
      }
    },
    "EligibilityResult": {
      "type": "string",
      "description": "True if user is eligible for this promotion, false otherwise",
      "enum": [
        "Ineligible",
        "Eligible"
      ],
      "x-ms-enum": {
        "name": "EligibilityResult",
        "modelAsString": true,
        "values": [
          {
            "name": "Ineligible",
            "value": "Ineligible",
            "description": "Ineligible for promotion"
          },
          {
            "name": "Eligible",
            "value": "Eligible",
            "description": "Eligible for promotion"
          }
        ]
      }
    },
    "EligiblePurchaseLineItem": {
      "type": "object",
      "description": "Eligible purchase line item for renewal purchase quantity constraint.",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "Product code for the line item.",
          "readOnly": true
        },
        "pricingAudience": {
          "type": "string",
          "description": "Pricing audience for the line item.",
          "readOnly": true
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Quantity of seats for the line item.",
          "readOnly": true
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date for the line item.",
          "readOnly": true
        },
        "resourceUri": {
          "type": "string",
          "description": "Resource URI for the line item.",
          "readOnly": true
        },
        "hasDiscount": {
          "type": "boolean",
          "description": "Whether the line item has a discount.",
          "readOnly": true
        },
        "seatCap": {
          "type": "integer",
          "format": "int64",
          "description": "Seat cap for the line item.",
          "readOnly": true
        }
      }
    },
    "EvaluateResult": {
      "type": "string",
      "description": "Whether the validation passed/failed.",
      "enum": [
        "Unknown",
        "Passed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "EvaluateResult",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Validation result is unknown"
          },
          {
            "name": "Passed",
            "value": "Passed",
            "description": "Validation result is passed"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Validation result is failed"
          }
        ]
      }
    },
    "FailingItemCondition": {
      "type": "object",
      "description": "Condition for failing item.",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "Product code that caused the failure.",
          "readOnly": true
        }
      }
    },
    "GetRefundableQuantityInfo": {
      "type": "object",
      "description": "Model to present detailed refundable quantity information with event details.",
      "properties": {
        "eventDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the event occurred that created this refundable quantity.",
          "readOnly": true
        },
        "deltaQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "The change in quantity from this event.",
          "readOnly": true
        },
        "returnWindowEndDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end date and time in UTC when the refund window ends for this quantity.\nOptional - may be null if there is no specific window limit.",
          "readOnly": true
        }
      }
    },
    "GetRefundableQuantityResponse": {
      "type": "object",
      "description": "Response model for GetRefundableQuantity operation.",
      "properties": {
        "refundableQuantities": {
          "type": "array",
          "description": "List of refundable quantity information with event details.",
          "items": {
            "$ref": "#/definitions/GetRefundableQuantityInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "totalRefundableQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Total refundable quantity across all events.",
          "readOnly": true
        }
      }
    },
    "LinkedResources": {
      "type": "object",
      "description": "Linked resources for the saas resource",
      "properties": {
        "resourceIds": {
          "type": "array",
          "description": "The resources ids which will be linked to current resource.",
          "items": {
            "type": "string"
          }
        },
        "operationType": {
          "$ref": "#/definitions/OriginResourceOperationType",
          "description": "The link operation type."
        }
      }
    },
    "LookbackWindow": {
      "type": "object",
      "description": "Lookback window for prerequisite constraint evaluation.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of lookback window. Valid values: \"Lifetime\", \"Period\"",
          "readOnly": true
        },
        "period": {
          "type": "string",
          "description": "Period duration for the lookback window (e.g., \"P6M\"). Only applicable when type is \"Period\".",
          "readOnly": true
        }
      }
    },
    "MergeSaasResourcesRequest": {
      "type": "object",
      "description": "Request to merge multiple saas resource resources into one target saas resource resource",
      "properties": {
        "sourceResources": {
          "type": "array",
          "description": "List of source resources to be merged into target resource.",
          "items": {
            "$ref": "#/definitions/MergeSourceSaasResource"
          }
        },
        "resourceTokens": {
          "type": "array",
          "description": "Resource tokens for various authorization and context purposes (for merge target).",
          "items": {
            "$ref": "#/definitions/ResourceToken"
          },
          "x-ms-identifiers": [
            "type"
          ]
        }
      }
    },
    "MergeSourceSaasResource": {
      "type": "object",
      "description": "Saas resource to be used in merge operation as source.",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "The quantity of license to be merged"
        },
        "validationError": {
          "type": "string",
          "description": "The validation error it ran into. Null when validation passed.",
          "readOnly": true
        },
        "resourceTokens": {
          "type": "array",
          "description": "Resource tokens for various authorization and context purposes (for merge source).",
          "items": {
            "$ref": "#/definitions/ResourceToken"
          },
          "x-ms-identifiers": [
            "type"
          ]
        },
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Id of the saas resource",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.SaaSHub/saasResources"
              }
            ]
          }
        }
      }
    },
    "OriginResourceOperationType": {
      "type": "string",
      "description": "The operation type for the linked resources",
      "enum": [
        "Renew",
        "Merge"
      ],
      "x-ms-enum": {
        "name": "OriginResourceOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Renew",
            "value": "Renew",
            "description": "Renew operation type"
          },
          {
            "name": "Merge",
            "value": "Merge",
            "description": "Merge operation type"
          }
        ]
      }
    },
    "PrerequisiteConstraintGroup": {
      "type": "object",
      "description": "Prerequisite constraint group for promotion eligibility.",
      "properties": {
        "constraintsMet": {
          "type": "boolean",
          "description": "Whether the constraints in this group are met.",
          "readOnly": true
        },
        "lookbackWindow": {
          "$ref": "#/definitions/LookbackWindow",
          "description": "Lookback window for the constraint evaluation.",
          "readOnly": true
        },
        "products": {
          "type": "array",
          "description": "Products in this constraint group.",
          "items": {
            "$ref": "#/definitions/PrerequisiteProduct"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "cumulativeSeatConstraint": {
          "$ref": "#/definitions/CumulativeSeatConstraint",
          "description": "Cumulative seat constraint for this group.",
          "readOnly": true
        }
      }
    },
    "PrerequisiteProduct": {
      "type": "object",
      "description": "Prerequisite product for constraint evaluation.",
      "properties": {
        "productCodes": {
          "type": "array",
          "description": "Product codes grouped by productId/skuId.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredMinSeats": {
          "type": "integer",
          "format": "int64",
          "description": "Required minimum seats for this product.",
          "readOnly": true
        },
        "requiredMaxSeats": {
          "type": "integer",
          "format": "int64",
          "description": "Required maximum seats for this product.",
          "readOnly": true
        },
        "actualSeats": {
          "type": "integer",
          "format": "int64",
          "description": "Actual seats owned by the customer.",
          "readOnly": true
        }
      }
    },
    "PromotionEligibilityConstraint": {
      "type": "object",
      "description": "Promotion eligibility constraint with detailed evaluation results.\nExtends EligibilityConstraint with additional type-specific properties.\n\nProperties are grouped by constraintType:\n- **firstPurchase**: Uses base properties only (constraintType, isEligible, failureDetails)\n- **newCustomer**: Uses base properties only (constraintType, isEligible, failureDetails)\n- **seatQuantity**: minSeatQuantityConstraint, maxSeatQuantityConstraint, currentSeatQuantityPurchased, minSeatQuantityRequiredToBePurchased, maxSeatQuantityWhichCanBePurchased\n- **termDuration**: eligibleTermDurations, eligibleChargeDurations\n- **qualifyingSubscriptionCoterminosity**: qualifyingSubscriptionTermEndDate, purchaseTermEndDate\n- **productOwnership**: productsWhichMustAlreadyBeOwned\n- **redemptionLimit**: maxPromotionRedemptionCount, remainingPromotionRedemptionCount, previousPromotionRedemptionCount\n- **renewalPurchaseQuantity**: minEligibleSeatQuantity, maxEligibleSeatQuantity, renewalSeatQuantity, eligiblePurchaseLineItems\n- **productLifetimeOwnershipExclusion**: failureDetails (with resourceUris and condition)\n- **prerequisiteConstraints**: mustHaveAtLeastOne, mustHaveAny, mustHaveNone, failureDetails\n- **newToOfferGrowthMarginDiscount**: minNewToOfferConstraint, maxNewToOfferConstraint, currentNewToOfferPurchased, minNewToOfferRequiredToBePurchased, maxNewToOfferWhichCanBePurchased\n- **seatExpansionGrowthMarginDiscount**: minSeatExpansionConstraint, maxSeatExpansionConstraint, currentSeatExpansionPurchased, minSeatExpansionRequiredToBePurchased, maxSeatExpansionWhichCanBePurchased\n- **upsellGrowthMarginDiscount**: minRequiredRatioThreshold, maxRequiredRatioThreshold, currentRatio, currentUpsellQuantity, requiredUpsellQuantity, minUpsellQuantityRequired",
      "properties": {
        "constraintType": {
          "type": "string",
          "description": "The failed eligibility constraint type.",
          "readOnly": true
        },
        "isEligible": {
          "$ref": "#/definitions/EligibilityResult",
          "description": "true if eligibility is satisfied, false otherwise",
          "readOnly": true
        },
        "minSeatQuantityConstraint": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum seat quantity constraint.\nApplicable when constraintType = \"seatQuantity\"",
          "readOnly": true
        },
        "maxSeatQuantityConstraint": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum seat quantity constraint.\nApplicable when constraintType = \"seatQuantity\"",
          "readOnly": true
        },
        "currentSeatQuantityPurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Current seat quantity purchased.\nApplicable when constraintType = \"seatQuantity\"",
          "readOnly": true
        },
        "minSeatQuantityRequiredToBePurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum seat quantity required to be purchased.\nApplicable when constraintType = \"seatQuantity\"",
          "readOnly": true
        },
        "maxSeatQuantityWhichCanBePurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum seat quantity which can be purchased.\nApplicable when constraintType = \"seatQuantity\"",
          "readOnly": true
        },
        "eligibleTermDurations": {
          "type": "array",
          "description": "Eligible term durations. Example: [\"P1Y\", \"P3Y\"]\nApplicable when constraintType = \"termDuration\"",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "eligibleChargeDurations": {
          "type": "array",
          "description": "Eligible charge durations. Example: [\"P1Y\"]\nApplicable when constraintType = \"termDuration\"",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "qualifyingSubscriptionTermEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Qualifying subscription term end date.\nApplicable when constraintType = \"qualifyingSubscriptionCoterminosity\"",
          "readOnly": true
        },
        "purchaseTermEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Purchase term end date.\nApplicable when constraintType = \"qualifyingSubscriptionCoterminosity\"",
          "readOnly": true
        },
        "productsWhichMustAlreadyBeOwned": {
          "type": "array",
          "description": "Products which must already be owned. Each inner array represents products grouped by productId.\nApplicable when constraintType = \"productOwnership\"",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "maxPromotionRedemptionCount": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum promotion redemption count allowed.\nApplicable when constraintType = \"redemptionLimit\"",
          "readOnly": true
        },
        "remainingPromotionRedemptionCount": {
          "type": "integer",
          "format": "int64",
          "description": "Remaining promotion redemption count.\nApplicable when constraintType = \"redemptionLimit\"",
          "readOnly": true
        },
        "previousPromotionRedemptionCount": {
          "type": "integer",
          "format": "int64",
          "description": "Previous promotion redemption count.\nApplicable when constraintType = \"redemptionLimit\"",
          "readOnly": true
        },
        "minEligibleSeatQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum eligible seat quantity for renewal.\nApplicable when constraintType = \"renewalPurchaseQuantity\"",
          "readOnly": true
        },
        "maxEligibleSeatQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum eligible seat quantity for renewal.\nApplicable when constraintType = \"renewalPurchaseQuantity\"",
          "readOnly": true
        },
        "renewalSeatQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Renewal seat quantity.\nApplicable when constraintType = \"renewalPurchaseQuantity\"",
          "readOnly": true
        },
        "eligiblePurchaseLineItems": {
          "type": "array",
          "description": "Eligible purchase line items for renewal.\nApplicable when constraintType = \"renewalPurchaseQuantity\"",
          "items": {
            "$ref": "#/definitions/EligiblePurchaseLineItem"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "mustHaveAtLeastOne": {
          "$ref": "#/definitions/PrerequisiteConstraintGroup",
          "description": "MustHaveAtLeastOne constraint group - all products in this group must be owned.\nApplicable when constraintType = \"prerequisiteConstraints\"",
          "readOnly": true
        },
        "mustHaveAny": {
          "$ref": "#/definitions/PrerequisiteConstraintGroup",
          "description": "MustHaveAny constraint group - at least one product in this group must be owned.\nApplicable when constraintType = \"prerequisiteConstraints\"",
          "readOnly": true
        },
        "mustHaveNone": {
          "$ref": "#/definitions/PrerequisiteConstraintGroup",
          "description": "MustHaveNone constraint group - none of the products in this group should be owned.\nApplicable when constraintType = \"prerequisiteConstraints\"",
          "readOnly": true
        },
        "minNewToOfferConstraint": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum new-to-offer quantity constraint.\nApplicable when constraintType = \"newToOfferGrowthMarginDiscount\"",
          "readOnly": true
        },
        "maxNewToOfferConstraint": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum new-to-offer quantity constraint.\nApplicable when constraintType = \"newToOfferGrowthMarginDiscount\"",
          "readOnly": true
        },
        "currentNewToOfferPurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Current new-to-offer quantity purchased.\nApplicable when constraintType = \"newToOfferGrowthMarginDiscount\"",
          "readOnly": true
        },
        "minNewToOfferRequiredToBePurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum new-to-offer quantity required to be purchased.\nApplicable when constraintType = \"newToOfferGrowthMarginDiscount\"",
          "readOnly": true
        },
        "maxNewToOfferWhichCanBePurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum new-to-offer quantity which can be purchased.\nApplicable when constraintType = \"newToOfferGrowthMarginDiscount\"",
          "readOnly": true
        },
        "minSeatExpansionConstraint": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum seat expansion quantity constraint.\nApplicable when constraintType = \"seatExpansionGrowthMarginDiscount\"",
          "readOnly": true
        },
        "maxSeatExpansionConstraint": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum seat expansion quantity constraint.\nApplicable when constraintType = \"seatExpansionGrowthMarginDiscount\"",
          "readOnly": true
        },
        "currentSeatExpansionPurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Current seat expansion quantity purchased.\nApplicable when constraintType = \"seatExpansionGrowthMarginDiscount\"",
          "readOnly": true
        },
        "minSeatExpansionRequiredToBePurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum seat expansion quantity required to be purchased.\nApplicable when constraintType = \"seatExpansionGrowthMarginDiscount\"",
          "readOnly": true
        },
        "maxSeatExpansionWhichCanBePurchased": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum seat expansion quantity which can be purchased.\nApplicable when constraintType = \"seatExpansionGrowthMarginDiscount\"",
          "readOnly": true
        },
        "minRequiredRatioThreshold": {
          "type": "number",
          "format": "double",
          "description": "Minimum required upsell-to-base ratio threshold.\nApplicable when constraintType = \"upsellGrowthMarginDiscount\"",
          "readOnly": true
        },
        "maxRequiredRatioThreshold": {
          "type": "number",
          "format": "double",
          "description": "Maximum required upsell-to-base ratio threshold.\nApplicable when constraintType = \"upsellGrowthMarginDiscount\"",
          "readOnly": true
        },
        "currentRatio": {
          "type": "number",
          "format": "double",
          "description": "Customer's current upsell-to-base ratio.\nApplicable when constraintType = \"upsellGrowthMarginDiscount\"",
          "readOnly": true
        },
        "currentUpsellQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Current upsell seat quantity owned by the customer.\nApplicable when constraintType = \"upsellGrowthMarginDiscount\"",
          "readOnly": true
        },
        "requiredUpsellQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Required upsell seat quantity to meet the constraint.\nApplicable when constraintType = \"upsellGrowthMarginDiscount\"",
          "readOnly": true
        },
        "minUpsellQuantityRequired": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum upsell seats that must be purchased.\nApplicable when constraintType = \"upsellGrowthMarginDiscount\"",
          "readOnly": true
        },
        "failureDetails": {
          "$ref": "#/definitions/ConstraintFailureDetails",
          "description": "Failure details for the constraint evaluation.\nApplicable to all constraint types when constraint fails.\nFor \"productLifetimeOwnershipExclusion\", contains resourceUris and condition details.\nFor \"prerequisiteConstraints\", contains failedConstraintGroup and productCodes.",
          "readOnly": true
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Gets the status of the SaaSHub saas resource at the time the operation was called.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Processing",
        "Updating",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource provisioning request is accepted"
          },
          {
            "name": "Processing",
            "value": "Processing",
            "description": "Resource provisioning request is being processed"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource provisioning request is being updating"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Resource provisioning request status is unknown"
          }
        ]
      },
      "readOnly": true
    },
    "RefundableQuantityResult": {
      "type": "object",
      "description": "Shared refundable quantity constraint model.",
      "properties": {
        "totalRefundableQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Total refundable quantity at the time of the evaluation.",
          "readOnly": true
        },
        "refundableQuantities": {
          "type": "array",
[...]
