{
  "swagger": "2.0",
  "info": {
    "version": "2024-09-01-preview",
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/chaosFault": {
      "get": {
        "operationId": "ChaosFault_List",
        "description": "list Chaos Faults",
        "x-ms-examples": {
          "ChaosFaultList": {
            "$ref": "./examples/ChaosFaultList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/chaosFaultsResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/chaosFault/{chaosFault}": {
      "put": {
        "operationId": "ChaosFault_EnableDisable",
        "description": "Enable, disable Chaos Fault",
        "x-ms-examples": {
          "ChaosFaultEnableDisable": {
            "$ref": "./examples/ChaosFaultEnableDisable.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/chaosFault"
          },
          {
            "name": "chaosFaultRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chaosFaultResource"
            },
            "description": "A request object to enable/disable the chaos fault."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/chaosFaultResource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/chaosFaultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "operationId": "ChaosFault_Get",
        "description": "Get Chaos Fault",
        "x-ms-examples": {
          "ChaosFaultGet": {
            "$ref": "./examples/ChaosFaultGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/chaosFault"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/chaosFaultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "description": "The provisioning state of the resource.",
      "type": "string",
      "enum": [
        "Enabling",
        "Disabling",
        "InProgress",
        "Failed",
        "Completed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "status",
        "modelAsString": true
      },
      "readOnly": true
    },
    "chaosFaultResource": {
      "description": "A request object to enable/disable the chaos fault",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/chaosFaultProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "chaosFaultProperties": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "Enable",
            "Disable"
          ],
          "description": "Indicates whether what action to take for the Chaos Fault.",
          "x-ms-enum": {
            "name": "SupportedActions",
            "modelAsString": false
          }
        },
        "region": {
          "type": "string",
          "description": "Region of the account where the Chaos Fault is to be enabled/disabled."
        },
        "databaseName": {
          "type": "string",
          "description": "Database name."
        },
        "containerName": {
          "type": "string",
          "description": "Container name."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "A provisioning state of the Chaos Fault."
        }
      },
      "description": "A request object to enable/disable the chaos fault."
    },
    "chaosFaultSResponse": {
      "description": "A request object to enable/disable the chaos fault",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/chaosFaultsProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "chaosFaultsProperties": {
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Chaos Faults.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/chaosFaultResource"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of results.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A response object for chaos fault."
    }
  },
  "parameters": {
    "chaosFault": {
      "name": "chaosFault",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the ChaosFault.",
      "x-ms-parameter-location": "method"
    }
  }
}
