{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB - Managed Cassandra",
    "description": "Azure Cosmos DB Database Service Managed Cassandra REST API",
    "version": "2024-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/cassandraClusters": {
      "get": {
        "operationId": "CassandraClusters_ListBySubscription",
        "description": "List all managed Cassandra clusters in this subscription.",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterListBySubscription": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of managed Cassandra clusters.",
            "schema": {
              "$ref": "#/definitions/ListClusters"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters": {
      "get": {
        "operationId": "CassandraClusters_ListByResourceGroup",
        "description": "List all managed Cassandra clusters in this resource group.",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterListByResourceGroup": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of managed Cassandra clusters.",
            "schema": {
              "$ref": "#/definitions/ListClusters"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}": {
      "get": {
        "operationId": "CassandraClusters_Get",
        "description": "Get the properties of a managed Cassandra cluster.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterGet": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The properties of the managed Cassandra cluster were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "CassandraClusters_Delete",
        "description": "Deletes a managed Cassandra cluster.",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterDelete": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The managed Cassandra cluster will be deleted asynchronously."
          },
          "204": {
            "description": "No such cluster to delete."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "CassandraClusters_CreateUpdate",
        "description": "Create or update a managed Cassandra cluster. When updating, you must specify all writable properties. To update only some properties, use PATCH.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterCreate": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            },
            "description": "The properties specifying the desired state of the managed Cassandra cluster."
          }
        ],
        "responses": {
          "200": {
            "description": "The managed Cassandra cluster is being updated. Poll for provisioningState=Succeeded to find when creation completes.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "201": {
            "description": "The managed Cassandra cluster is being created. Poll for provisioningState=Succeeded to find when creation completes.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "CassandraClusters_Update",
        "description": "Updates some of the properties of a managed Cassandra cluster.",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterPatch": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterPatch.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            },
            "description": "Parameters to provide for specifying the managed Cassandra cluster."
          }
        ],
        "responses": {
          "202": {
            "description": "The managed Cassandra cluster is being updated. Poll the provided operation for completion.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "200": {
            "description": "Completed synchronously. This will only happen if the fields changed by patch require no changes to the actual Cassandra data center.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/invokeCommand": {
      "post": {
        "operationId": "CassandraClusters_InvokeCommand",
        "description": "Invoke a command like nodetool for cassandra maintenance ",
        "x-ms-examples": {
          "CosmosDBManagedCassandraCommand": {
            "$ref": "./examples/CosmosDBManagedCassandraCommand.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommandPostBody"
            },
            "description": "Specification which command to run where"
          }
        ],
        "responses": {
          "202": {
            "description": "Success. The command operation will begin as soon as possible.",
            "schema": {
              "$ref": "#/definitions/CommandOutput"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/invokeCommandAsync": {
      "post": {
        "operationId": "CassandraClusters_InvokeCommandAsync",
        "description": "Invoke a command like nodetool for cassandra maintenance asynchronously",
        "x-ms-examples": {
          "CosmosDBManagedCassandraCommandAsync": {
            "$ref": "./examples/CosmosDBManagedCassandraCommandAsync.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommandPostBody"
            },
            "description": "Specification which command to run where"
          }
        ],
        "responses": {
          "200": {
            "description": "The command operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommandPublicResource"
            }
          },
          "202": {
            "description": "Success. The command operation will begin as soon as possible.",
            "headers": {
              "azure-AsyncOperation": {
                "type": "string",
                "description": "URI to poll for completion status."
              },
              "location": {
                "type": "string",
                "description": "URI to poll for completion status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/commands": {
      "get": {
        "operationId": "CassandraClusters_ListCommand",
        "description": "List all commands currently running on ring info",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "CosmosDBManagedCassandraListCommand": {
            "$ref": "./examples/CosmosDBManagedCassandraListCommand.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of shell commands.",
            "schema": {
              "$ref": "#/definitions/ListCommands"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/commands/{commandId}": {
      "get": {
        "operationId": "CassandraClusters_GetCommandAsync",
        "description": "Get details about a specified command that was run asynchronously.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraCommandResult": {
            "$ref": "./examples/CosmosDBManagedCassandraCommandResult.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/commandId"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Return a command resource.",
            "schema": {
              "$ref": "#/definitions/ListCommands"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/backups": {
      "get": {
        "operationId": "CassandraClusters_ListBackups",
        "description": "List the backups of this cluster that are available to restore.",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "CosmosDBManagedCassandraBackupsList": {
            "$ref": "./examples/CosmosDBManagedCassandraBackupsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of restorable backups for this Cassandra cluster.",
            "schema": {
              "$ref": "#/definitions/ListBackups"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/backups/{backupId}": {
      "get": {
        "operationId": "CassandraClusters_GetBackup",
        "description": "Get the properties of an individual backup of this cluster that is available to restore.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraBackup": {
            "$ref": "./examples/CosmosDBManagedCassandraBackup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/backupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the properties of the backup.",
            "schema": {
              "$ref": "#/definitions/BackupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/dataCenters": {
      "get": {
        "operationId": "CassandraDataCenters_List",
        "description": "List all data centers in a particular managed Cassandra cluster.",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "CosmosDBManagedCassandraDataCenterList": {
            "$ref": "./examples/CosmosDBManagedCassandraDataCenterList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of managed Cassandra data centers.",
            "schema": {
              "$ref": "#/definitions/ListDataCenters"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/dataCenters/{dataCenterName}": {
      "get": {
        "operationId": "CassandraDataCenters_Get",
        "description": "Get the properties of a managed Cassandra data center.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraDataCenterGet": {
            "$ref": "./examples/CosmosDBManagedCassandraDataCenterGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/dataCenterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The properties of the managed Cassandra data center were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "CassandraDataCenters_Delete",
        "description": "Delete a managed Cassandra data center.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraDataCenterDelete": {
            "$ref": "./examples/CosmosDBManagedCassandraDataCenterDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/dataCenterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Deletion will complete asynchronously."
          },
          "204": {
            "description": "Cassandra cluster with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "CassandraDataCenters_CreateUpdate",
        "description": "Create or update a managed Cassandra data center. When updating, overwrite all properties. To update only some properties, use PATCH.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraDataCenterCreate": {
            "$ref": "./examples/CosmosDBManagedCassandraDataCenterCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/dataCenterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            },
            "description": "Parameters specifying the managed Cassandra data center."
          }
        ],
        "responses": {
          "201": {
            "description": "Accepted. The data center will be created asynchronously.",
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            }
          },
          "200": {
            "description": "Accepted. The data center will be updated asynchronously.",
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "CassandraDataCenters_Update",
        "description": "Update some of the properties of a managed Cassandra data center.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraDataCenterUpdate": {
            "$ref": "./examples/CosmosDBManagedCassandraDataCenterPatch.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/dataCenterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            },
            "description": "Parameters to provide for specifying the managed Cassandra data center."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Update will proceed asynchronously.",
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            }
          },
          "200": {
            "description": "Completed synchronously. This will only happen if the fields changed by patch require no changes to the actual Cassandra cluster, such as editing the tags.",
            "schema": {
              "$ref": "#/definitions/DataCenterResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/deallocate": {
      "post": {
        "operationId": "CassandraClusters_Deallocate",
        "description": "Deallocate the Managed Cassandra Cluster and Associated Data Centers. Deallocation will deallocate the host virtual machine of this cluster, and reserved the data disk. This won't do anything on an already deallocated cluster. Use Start to restart the cluster.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterDeallocate": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterDeallocate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/forceDeallocate"
          }
        ],
        "responses": {
          "202": {
            "description": "Cluster deallocated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/start": {
      "post": {
        "operationId": "CassandraClusters_Start",
        "description": "Start the Managed Cassandra Cluster and Associated Data Centers. Start will start the host virtual machine of this cluster with reserved data disk. This won't do anything on an already running cluster. Use Deallocate to deallocate the cluster.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraClusterStart": {
            "$ref": "./examples/CosmosDBManagedCassandraClusterStart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Enqueued Operation to start the cluster."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}/status": {
      "get": {
        "operationId": "CassandraClusters_Status",
        "description": "Gets the CPU, memory, and disk usage statistics for each Cassandra node in a cluster.",
        "x-ms-examples": {
          "CosmosDBManagedCassandraStatus": {
            "$ref": "./examples/CosmosDBManagedCassandraStatus.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the usage statistics of all nodes in the cluster.",
            "schema": {
              "$ref": "#/definitions/CassandraClusterPublicStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "clusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Managed Cassandra cluster name.",
      "minLength": 1,
      "maxLength": 100,
      "pattern": "^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$"
    },
    "commandId": {
      "name": "commandId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Managed Cassandra cluster command id.",
      "minLength": 1,
      "maxLength": 100,
      "pattern": "^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$"
    },
    "forceDeallocate": {
      "name": "x-ms-force-deallocate",
      "in": "header",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Force to deallocate a cluster of Cluster Type Production. Force to deallocate a cluster of Cluster Type Production might cause data loss"
    },
    "dataCenterNameParameter": {
      "name": "dataCenterName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Data center name in a managed Cassandra cluster.",
      "minLength": 1,
      "maxLength": 100,
      "pattern": "^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$"
    },
    "backupNameParameter": {
      "name": "backupId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Id of a restorable backup of a Cassandra cluster.",
      "minLength": 1,
      "maxLength": 15,
      "pattern": "^[0-9]+$"
    }
  },
  "definitions": {
    "ListClusters": {
      "description": "List of managed Cassandra clusters.",
      "readOnly": true,
      "type": "object",
      "properties": {
        "value": {
          "description": "Container for the array of clusters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClusterResource"
          }
        }
      }
    },
    "ManagedCassandraARMResourceProperties": {
      "type": "object",
      "description": "The core properties of ARM resources.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The unique resource identifier of the ARM resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the ARM resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure resource."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource group to which the resource belongs."
        },
        "tags": {
          "$ref": "cosmos-db.json#/definitions/Tags"
        },
        "identity": {
          "$ref": "#/definitions/ManagedCassandraManagedServiceIdentity"
        }
      },
      "x-ms-azure-resource": true
    },
    "ManagedCassandraManagedServiceIdentity": {
      "description": "Identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The object id of the identity resource."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id of the resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "enum": [
            "SystemAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ManagedCassandraResourceIdentityType",
            "modelAsString": true
          }
        }
      }
    },
    "ManagedCassandraProvisioningState": {
      "description": "The status of the resource at the time the operation was called.",
      "type": "string",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ManagedCassandraProvisioningState",
        "modelAsString": true
      }
    },
    "ClusterResource": {
      "description": "Representation of a managed Cassandra cluster.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ManagedCassandraARMResourceProperties"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Properties of a managed Cassandra cluster.",
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/ManagedCassandraProvisioningState"
            },
            "restoreFromBackupId": {
              "type": "string",
              "x-ms-mutability": [
                "create"
              ],
              "description": "To create an empty cluster, omit this field or set it to null. To restore a backup into a new cluster, set this field to the resource id of the backup."
            },
            "delegatedManagementSubnetId": {
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ],
              "description": "Resource id of a subnet that this cluster's management service should have its network interface attached to. The subnet must be routable to all subnets that will be delegated to data centers. The resource id must be of the form '/subscriptions/<subscription id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual network>/subnets/<subnet>'"
            },
            "cassandraVersion": {
              "type": "string",
              "description": "Which version of Cassandra should this cluster converge to running (e.g., 3.11). When updated, the cluster may take some time to migrate to the new version."
            },
            "clusterNameOverride": {
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ],
              "description": "If you need to set the clusterName property in cassandra.yaml to something besides the resource name of the cluster, set the value to use on this property."
            },
            "authenticationMethod": {
              "type": "string",
              "description": "Which authentication method Cassandra should use to authenticate clients. 'None' turns off authentication, so should not be used except in emergencies. 'Cassandra' is the default password based authentication. The default is 'Cassandra'.",
              "enum": [
                "None",
                "Cassandra",
                "Ldap"
              ],
              "x-ms-enum": {
                "name": "AuthenticationMethod",
                "modelAsString": true
              }
            },
            "initialCassandraAdminPassword": {
              "x-ms-mutability": [
                "create"
              ],
              "x-ms-secret": true,
              "description": "Initial password for clients connecting as admin to the cluster. Should be changed after cluster creation. Returns null on GET. This field only applies when the authenticationMethod field is 'Cassandra'.",
              "type": "string"
            },
            "prometheusEndpoint": {
              "$ref": "#/definitions/SeedNode",
              "description": "Hostname or IP address where the Prometheus endpoint containing data about the managed Cassandra nodes can be reached."
            },
            "repairEnabled": {
              "type": "boolean",
              "description": "Should automatic repairs run on this cluster? If omitted, this is true, and should stay true unless you are running a hybrid cluster where you are already doing your own repairs."
            },
            "autoReplicate": {
              "type": "string",
              "description": "The form of AutoReplicate that is being used by this cluster.",
              "enum": [
                "None",
                "SystemKeyspaces",
                "AllKeyspaces"
              ],
              "x-ms-enum": {
                "name": "AutoReplicate",
                "modelAsString": true
              }
            },
            "clientCertificates": {
              "description": "List of TLS certificates used to authorize clients connecting to the cluster. All connections are TLS encrypted whether clientCertificates is set or not, but if clientCertificates is set, the managed Cassandra cluster will reject all connections not bearing a TLS client certificate that can be validated from one or more of the public certificates in this property.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Certificate"
              }
            },
            "externalGossipCertificates": {
              "description": "List of TLS certificates used to authorize gossip from unmanaged data centers. The TLS certificates of all nodes in unmanaged data centers must be verifiable using one of the certificates provided in this property.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Certificate"
              }
            },
            "gossipCertificates": {
              "readOnly": true,
              "x-ms-mutability": [
                "read"
              ],
              "description": "List of TLS certificates that unmanaged nodes must trust for gossip with managed nodes. All managed nodes will present TLS client certificates that are verifiable using one of the certificates provided in this property.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Certificate"
              }
            },
            "externalSeedNodes": {
              "type": "array",
              "description": "List of IP addresses of seed nodes in unmanaged data centers. These will be added to the seed node lists of all managed nodes.",
              "items": {
                "$ref": "#/definitions/SeedNode"
              }
            },
            "seedNodes": {
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/definitions/SeedNode"
              },
              "description": "List of IP addresses of seed nodes in the managed data centers. These should be added to the seed node lists of all unmanaged nodes."
            },
            "externalDataCenters": {
              "type": "array",
              "description": "List of the data center names for unmanaged data centers in this cluster to be included in auto-replication.",
              "items": {
                "type": "string"
              }
            },
            "hoursBetweenBackups": {
              "type": "integer",
              "format": "int32",
              "description": "(Deprecated) Number of hours to wait between taking a backup of the cluster."
            },
            "deallocated": {
              "type": "boolean",
              "description": "Whether the cluster and associated data centers has been deallocated."
            },
            "cassandraAuditLoggingEnabled": {
              "type": "boolean",
              "description": "Whether Cassandra audit logging is enabled"
            },
            "clusterType": {
              "type": "string",
              "description": "Type of the cluster. If set to Production, some operations might not be permitted on cluster.",
              "enum": [
                "Production",
                "NonProduction"
              ],
              "x-ms-enum": {
                "name": "ClusterType",
                "modelAsString": true
              }
            },
            "provisionError": {
              "$ref": "#/definitions/CassandraError",
              "description": "Error related to resource provisioning."
            },
            "extensions": {
              "type": "array",
              "description": "Extensions to be added or updated on cluster.",
              "items": {
                "type": "string"
              }
            },
            "backupSchedules": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BackupSchedule"
              },
              "description": "List of backup schedules that define when you want to back up your data."
            },
            "scheduledEventStrategy": {
              "type": "string",
              "description": "How the nodes in the cluster react to scheduled events",
              "enum": [
                "Ignore",
                "StopAny",
                "StopByRack"
              ],
              "x-ms-enum": {
                "name": "ScheduledEventStrategy",
                "modelAsString": true
              }
            },
            "azureConnectionMethod": {
              "type": "string",
              "description": "How to connect to the azure services needed for running the cluster",
              "enum": [
                "None",
                "VPN"
              ],
              "x-ms-enum": {
                "name": "AzureConnectionType",
                "modelAsString": true
              }
            },
            "privateLinkResourceId": {
              "readOnly": true,
              "type": "string",
              "format": "arm-id",
              "x-ms-arm-id-details": {
                "allowedResources": [
                  {
                    "type": "Microsoft.Network/privateLinkServices"
                  }
                ]
              },
              "description": "If the Connection Method is Vpn, this is the Id of the private link resource that the datacenters need to connect to."
            }
          }
        }
      }
    },
    "ManagedCassandraNodeStatus": {
      "type": "string",
      "description": "Indicates whether the node is functioning or not.",
      "enum": [
        "Up",
        "Down"
      ],
      "x-ms-enum": {
        "name": "NodeStatus",
        "modelAsString": true
      }
    },
    "ManagedCassandraNodeState": {
      "type": "string",
      "description": "The state of the node in Cassandra ring.",
      "enum": [
        "Normal",
        "Leaving",
        "Joining",
        "Moving",
        "Stopped"
      ],
      "x-ms-enum": {
        "name": "NodeState",
        "modelAsString": true
      }
    },
    "CassandraClusterPublicStatus": {
      "type": "object",
      "description": "Properties of a managed Cassandra cluster public status.",
      "properties": {
        "eTag": {
          "type": "string"
        },
        "reaperStatus": {
          "$ref": "#/definitions/ManagedCassandraReaperStatus"
        },
        "connectionErrors": {
          "type": "array",
          "description": "List relevant information about any connection errors to the Datacenters.",
          "items": {
            "$ref": "#/definitions/ConnectionError"
          }
        },
        "errors": {
          "type": "array",
          "description": "List relevant information about any errors about cluster, data center and connection error.",
          "items": {
            "$ref": "#/definitions/CassandraError"
          }
        },
        "dataCenters": {
          "type": "array",
          "description": "List of the status of each datacenter in this cluster.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of this Datacenter."
              },
              "seedNodes": {
                "type": "array",
                "description": "A list of all seed nodes in the cluster, managed and unmanaged.",
                "items": {
                  "type": "string"
                }
              },
              "nodes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The node's IP address."
                    },
                    "state": {
                      "$ref": "#/definitions/ManagedCassandraNodeState"
                    },
                    "status": {
                      "type": "string"
                    },
                    "cassandraProcessStatus": {
                      "type": "string",
                      "description": "Cassandra service status on this node"
                    },
                    "load": {
                      "type": "string",
                      "description": "The amount of file system data in the data directory (e.g., 47.66 kB), excluding all content in the snapshots subdirectories. Because all SSTable data files are included, any data that is not cleaned up (such as TTL-expired cells or tombstones) is counted."
                    },
                    "tokens": {
                      "type": "array",
                      "description": "List of tokens this node covers.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "hostID": {
                      "description": "The network ID of the node.",
                      "type": "string"
                    },
                    "rack": {
                      "description": "The rack this node is part of.",
                      "type": "string"
                    },
                    "timestamp": {
                      "description": "The timestamp when these statistics were captured.",
                      "type": "string"
                    },
                    "diskUsedKB": {
                      "description": "The amount of disk used, in kB, of the directory /var/lib/cassandra.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "diskFreeKB": {
                      "description": "The amount of disk free, in kB, of the directory /var/lib/cassandra.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "memoryUsedKB": {
                      "description": "Used memory (calculated as total - free - buffers - cache), in kB.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "memoryBuffersAndCachedKB": {
                      "description": "Memory used by kernel buffers (Buffers in /proc/meminfo) and page cache and slabs (Cached and SReclaimable in /proc/meminfo), in kB.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "memoryFreeKB": {
                      "description": "Unused memory (MemFree and SwapFree in /proc/meminfo), in kB.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "memoryTotalKB": {
                      "description": "Total installed memory (MemTotal and SwapTotal in /proc/meminfo), in kB.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "cpuUsage": {
                      "description": "A float representing the current system-wide CPU utilization as a percentage.",
                      "type": "number",
                      "format": "double"
                    },
                    "isLatestModel": {
                      "type": "boolean",
                      "description": "If node has been updated to latest model"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ManagedCassandraReaperStatus": {
      "type": "object",
      "properties": {
        "healthy": {
          "type": "boolean"
        },
        "repairRunIds": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "repairSchedules": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConnectionError": {
      "type": "object",
      "properties": {
        "connectionState": {
          "description": "The kind of connection error that occurred.",
          "type": "string",
          "enum": [
            "Unknown",
            "OK",
            "OperatorToDataCenterNetworkError",
            "DatacenterToDatacenterNetworkError",
            "InternalOperatorToDataCenterCertificateError",
            "InternalError"
          ],
          "x-ms-enum": {
            "name": "ConnectionState",
            "modelAsString": true
          }
        },
        "iPFrom": {
          "description": "The IP of host that originated the failed connection.",
          "type": "string"
        },
        "iPTo": {
          "description": "The IP that the connection attempted to reach.",
          "type": "string"
        },
        "port": {
          "description": "The TCP port the connection was attempted on.",
          "type": "integer",
          "format": "int32"
        },
        "exception": {
          "description": "Detailed error message about the failed connection.",
          "type": "string"
        }
      }
    },
    "CassandraError": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The code of error that occurred.",
          "type": "string"
        },
        "message": {
          "description": "The message of the error.",
          "type": "string"
        },
        "target": {
          "description": "The target resource of the error.",
          "type": "string"
        },
        "additionalErrorInfo": {
          "description": "Additional information about the error.",
          "type": "string"
        }
      }
    },
    "CommandPostBody": {
      "description": "Specification of which command to run where",
      "type": "object",
      "required": [
        "command",
        "host"
      ],
      "properties": {
        "command": {
          "type": "string",
          "description": "The command which should be run"
        },
        "arguments": {
          "type": "object",
          "description": "The arguments for the command to be run"
        },
        "host": {
          "type": "string",
          "description": "IP address of the cassandra host to run the command on"
        },
        "cassandra-stop-start": {
          "type": "boolean",
          "description": "If true, stops cassandra before executing the command and then start it again"
        },
        "readWrite": {
          "type": "boolean",
          "description": "If true, allows the command to *write* to the cassandra directory, otherwise read-only."
        }
      }
    },
    "CommandPublicResource": {
      "description": "resource representing a command",
      "type": "object",
      "properties": {
        "command": {
          "type": "string",
          "description": "The command which should be run"
        },
        "commandId": {
          "type": "string",
          "description": "The unique id of command"
        },
        "arguments": {
          "type": "object",
          "description": "The arguments for the command to be run"
        },
        "host": {
          "type": "string",
          "description": "IP address of the cassandra host to run the command on"
        },
        "isAdmin": {
          "type": "boolean",
          "description": "Whether command has admin privileges"
        },
        "cassandraStopStart": {
          "type": "boolean",
          "description": "If true, stops cassandra before executing the command and then start it again"
        },
        "readWrite": {
          "type": "boolean",
          "description": "If true, allows the command to *write* to the cassandra directory, otherwise read-only."
        },
        "result": {
          "type": "string",
          "description": "Result output of the command."
        },
        "status": {
          "type": "string",
          "description": "Status of the command.",
          "enum": [
            "Done",
            "Running",
            "Enqueue",
            "Processing",
            "Finished",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "CommandStatus",
            "modelAsString": true
          }
        },
        "outputFile": {
          "type": "string",
          "description": "The name of the file where the result is written."
        }
      }
    },
    "ListCommands": {
      "description": "List of commands for cluster.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Container for array of commands.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/CommandPublicResource"
          }
        }
      }
    },
    "CommandOutput": {
      "description": "Response of /command api",
      "type": "object",
      "properties": {
        "commandOutput": {
          "type": "string",
          "description": "Output of the command."
        }
      }
    },
    "ListDataCenters": {
      "description": "List of managed Cassandra data centers and their properties.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Container for array of data centers.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/DataCenterResource"
          }
        }
      }
    },
    "BackupResource": {
      "description": "A restorable backup of a Cassandra cluster.",
      "type": "object",
      "properties": {
        "backupId": {
          "description": "The unique identifier of backup.",
          "type": "string"
        },
        "backupState": {
          "description": "The current state of the backup.",
          "type": "string",
          "enum": [
            "Initiated",
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "BackupState",
            "modelAsString": true
          }
        },
        "backupStartTimestamp": {
          "description": "The time at which the backup process begins.",
          "type": "string",
          "format": "date-time"
        },
        "backupStopTimestamp": {
          "description": "The time at which the backup process ends.",
          "type": "string",
          "format": "date-time"
        },
        "backupExpiryTimestamp": {
          "description": "The time at which the backup will expire.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ListBackups": {
      "description": "List of restorable backups for a Cassandra cluster.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Container for array of backups.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BackupResource"
          }
        }
      }
    },
    "SeedNode": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "IP address of this seed node.",
          "type": "string"
        }
      }
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "pem": {
          "description": "PEM formatted public key.",
          "type": "string"
        }
      }
    },
    "BackupSchedule": {
      "type": "object",
      "properties": {
        "scheduleName": {
          "description": "The unique identifier of backup schedule.",
          "type": "string"
        },
        "cronExpression": {
          "description": "The cron expression that defines when you want to back up your data.",
          "type": "string"
        },
        "retentionInHours": {
          "description": "The retention period (hours) of the backups. If you want to retain data forever, set retention to 0.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DataCenterResource": {
      "description": "A managed Cassandra data center.",
      "type": "object",
      "allOf": [
        {
          "$ref": "cosmos-db.json#/definitions/ARMProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Properties of a managed Cassandra data center.",
          "type": "object",
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/ManagedCassandraProvisioningState"
            },
            "dataCenterLocation": {
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ],
              "description": "The region this data center should be created in."
            },
            "delegatedSubnetId": {
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ],
              "description": "Resource id of a subnet the nodes in this data center should have their network interfaces connected to. The subnet must be in the same region specified in 'dataCenterLocation' and must be able to route to the subnet specified in the cluster's 'delegatedManagementSubnetId' property. This resource id will be of the form '/subscriptions/<subscription id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual network>/subnets/<subnet>'."
            },
            "nodeCount": {
              "type": "integer",
              "format": "int32",
              "description": "The number of nodes the data center should have. This is the desired number. After it is set, it may take some time for the data center to be scaled to match. To monitor the number of nodes and their status, use the fetchNodeStatus method on the cluster."
            },
            "seedNodes": {
              "readOnly": true,
              "type": "array",
              "description": "IP addresses for seed nodes in this data center. This is for reference. Generally you will want to use the seedNodes property on the cluster, which aggregates the seed nodes from all data centers in the cluster.",
              "items": {
                "$ref": "#/definitions/SeedNode"
              }
            },
            "base64EncodedCassandraYamlFragment": {
              "type": "string",
              "description": "A fragment of a cassandra.yaml configuration file to be included in the cassandra.yaml for all nodes in this data center. The fragment should be Base64 encoded, and only a subset of keys are allowed."
            },
            "managedDiskCustomerKeyUri": {
              "type": "string",
              "description": "Key uri to use for encryption of managed disks. Ensure the system assigned identity of the cluster has been assigned appropriate permissions(key get/wrap/unwrap permissions) on the key."
            },
            "backupStorageCustomerKeyUri": {
              "type": "string",
              "description": "Indicates the Key Uri of the customer key to use for encryption of the backup storage account."
            },
            "sku": {
              "type": "string",
              "description": "Virtual Machine SKU used for data centers. Default value is Standard_DS14_v2"
            },
            "diskSku": {
              "type": "string",
              "description": "Disk SKU used for data centers. Default value is P30."
            },
            "diskCapacity": {
              "type": "integer",
              "format": "int32",
              "description": "Number of disks attached to each node. Default is 4."
            },
            "availabilityZone": {
              "type": "boolean",
              "description": "If the data center has Availability Zone support, apply it to the Virtual Machine ScaleSet that host the cassandra data center virtual machines."
            },
            "authenticationMethodLdapProperties": {
              "$ref": "#/definitions/AuthenticationMethodLdapProperties"
            },
            "deallocated": {
              "type": "boolean",
              "description": "Whether the data center has been deallocated."
            },
            "provisionError": {
              "$ref": "#/definitions/CassandraError",
              "description": "Error related to resource provisioning."
            },
            "privateEndpointIpAddress": {
              "type": "string",
              "description": "Ip of the VPN Endpoint for this data center."
            }
          }
        }
      }
    },
    "AuthenticationMethodLdapProperties": {
      "type": "object",
      "description": "Ldap authentication method properties. This feature is in preview.",
      "properties": {
        "serverHostname": {
          "description": "Hostname of the LDAP server.",
          "type": "string"
        },
        "serverPort": {
          "description": "Port of the LDAP server.",
          "type": "integer",
          "format": "int32"
        },
        "serviceUserDistinguishedName": {
          "description": "Distinguished name of the look up user account, who can look up user details on authentication.",
          "type": "string"
        },
        "serviceUserPassword": {
          "description": "Password of the look up user.",
          "type": "string"
        },
        "searchBaseDistinguishedName": {
          "description": "Distinguished name of the object to start the recursive search of users from.",
          "type": "string"
        },
        "searchFilterTemplate": {
          "description": "Template to use for searching. Defaults to (cn=%s) where %s will be replaced by the username used to login.",
          "type": "string"
        },
        "serverCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Certificate"
          }
        },
        "connectionTimeoutInMs": {
          "description": "Timeout for connecting to the LDAP server in miliseconds. The default is 5000 ms.",
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}
