{
	"swagger": "2.0",
	"info": {
		"version": "2017-08-21-preview",
		"title": "iotDpsClient",
		"description": "API for using the IoT Device Provisioning Service Features"
	},
	"host": "management.azure.com",
	"schemes": ["https"],
	"paths": {
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}": {
			"get": {
				"tags": ["GET"],
				"operationId": "DpsCertificate_Get",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "certificateName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CertificateResponse"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": ["DELETE"],
				"operationId": "DpsCertificate_Delete",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "certificateName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "certificate.name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "certificate.rawBytes",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "byte"
				}, {
					"name": "certificate.isVerified",
					"in": "query",
					"required": false,
					"type": "boolean"
				}, {
					"name": "certificate.purpose",
					"in": "query",
					"required": false,
					"type": "string",
					"enum": ["clientAuthentication", "serverAuthentication"]
				}, {
					"name": "certificate.created",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "certificate.lastUpdated",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "certificate.hasPrivateKey",
					"in": "query",
					"required": false,
					"type": "boolean"
				}, {
					"name": "certificate.nonce",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"204": {
						"description": "NoContent"
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}": {
			"get": {
				"tags": ["GET"],
				"operationId": "IotDpsResource_Get",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ProvisioningServiceDescription"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": ["PUT"],
				"operationId": "IotDpsResource_CreateOrUpdate",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string",
				}, {
					"name": "ProvisioningServiceDescription",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ProvisioningServiceDescription"
					}
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Object"
						}
					},
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/ProvisioningServiceDescription"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": ["DELETE"],
				"operationId": "IotDpsResource_Delete",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Object"
						}
					},
					"202": {
						"description": "Accepted",
						"schema": {
							"$ref": "#/definitions/ProvisioningServiceDescription"
						},
					"204": {
						"description": "NoContent",
						"schema": {
							"$ref": "#/definitions/ProvisioningServiceDescription"
						}					
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates": {
			"get": {
				"tags": ["GET"],
				"operationId": "DpsCertificates_GetAll",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CertificateResponse"
							}
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Devices/provisioningServices": {
			"get": {
				"tags": ["GET"],
				"operationId": "IotDpsResource_ListBySubscription",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"$ref": "#/parameters/subscriptionId"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotDpsDescriptionListResult"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices": {
			"get": {
				"tags": ["GET"],
				"operationId": "IotDpsResource_ListByResourceGroup",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotDpsDescriptionListResult"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/skus": {
			"get": {
				"tags": ["GET"],
				"operationId": "IotDpsResource_GetValidSkus",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotDpsSkuDefinitionListResult"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}/generateVerificationCode": {
			"post": {
				"tags": ["POST"],
				"operationId": "DpsCertificate_GenerateVerificationCode",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "certificateName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "certificate.name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "certificate.rawBytes",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "byte"
				}, {
					"name": "certificate.isVerified",
					"in": "query",
					"required": false,
					"type": "boolean"
				}, {
					"name": "certificate.purpose",
					"in": "query",
					"required": false,
					"type": "string",
					"enum": ["clientAuthentication", "serverAuthentication"]
				}, {
					"name": "certificate.created",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "certificate.lastUpdated",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "certificate.hasPrivateKey",
					"in": "query",
					"required": false,
					"type": "boolean"
				}, {
					"name": "certificate.nonce",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/VerificationCodeResponse"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}/verify": {
			"post": {
				"tags": ["POST"],
				"operationId": "DpsCertificate_VerifyCertificate",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "certificateName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "request",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/VerificationCodeRequest"
					}
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "certificate.name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "certificate.rawBytes",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "byte"
				}, {
					"name": "certificate.isVerified",
					"in": "query",
					"required": false,
					"type": "boolean"
				}, {
					"name": "certificate.purpose",
					"in": "query",
					"required": false,
					"type": "string",
					"enum": ["clientAuthentication", "serverAuthentication"]
				}, {
					"name": "certificate.created",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "certificate.lastUpdated",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "certificate.hasPrivateKey",
					"in": "query",
					"required": false,
					"type": "boolean"
				}, {
					"name": "certificate.nonce",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CertificateResponse"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability": {
			"post": {
				"tags": ["POST"],
				"operationId": "IotDpsResource_CheckNameAvailability",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "arguments",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/OperationInputs"
					}
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/NameAvailabilityInfo"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/listkeys": {
			"post": {
				"tags": ["POST"],
				"operationId": "IotDpsResource_ListKeys",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SharedAccessSignatureAuthorizationRuleListResult"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/keys/{keyName}/listkeys": {
			"post": {
				"tags": ["POST"],
				"operationId": "IotDpsResource_GetKeysForKeyName",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "provisioningServiceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "keyName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/subscriptionId"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		}
	},
	"definitions": {
		"EventHubProperties": {
			"type": "object",
			"properties": {
				"retentionTimeInDays": {
					"format": "int64",
					"type": "integer"
				},
				"partitionCount": {
					"format": "int32",
					"type": "integer"
				},
				"partitionIds": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"path": {
					"type": "string"
				},
				"endpoint": {
					"type": "string"
				},
				"internalAuthorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessAuthorizationRule"
					}
				},
				"authorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessAuthorizationRule"
					}
				}
			}
		},
		"SharedAccessSignatureAuthorizationRule": {
			"type": "object",
			"properties": {
				"keyName": {
					"type": "string"
				},
				"primaryKey": {
					"type": "string"
				},
				"secondaryKey": {
					"type": "string"
				},
				"rights": {
					"enum": ["RegistryRead", "RegistryWrite", "ServiceConnect", "DeviceConnect"],
					"type": "string",
					"x-ms-enum": {
						"name": "AccessRights",
						"modelAsString": "True"
					}
				}
			}
		},
		"IotHubSkuInfo": {
			"type": "object",
			"properties": {
				"name": {
					"enum": ["F1", "S1", "S2", "S3", "ElasticPool"],
					"type": "string",
					"x-ms-enum": {
						"name": "IotHubSku",
						"modelAsString": "True"
					}
				},
				"tier": {
					"enum": ["Free", "Standard"],
					"type": "string",
					"readOnly": true,
					"x-ms-enum": {
						"name": "IotHubSkuTier",
						"modelAsString": "True"
					}
				},
				"capacity": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"SharedAccessAuthorizationRule": {
			"type": "object",
			"properties": {
				"KeyName": {
					"type": "string"
				},
				"PrimaryKey": {
					"type": "string"
				},
				"IssuerName": {
					"type": "string"
				},
				"SecondaryKey": {
					"type": "string"
				},
				"ClaimType": {
					"type": "string"
				},
				"ClaimValue": {
					"type": "string"
				},
				"Rights": {
					"type": "array",
					"items": {
						"enum": ["Manage", "Send", "Listen", "ManageNotificationHub"],
						"type": "string"
					}
				},
				"CreatedTime": {
					"format": "date-time",
					"type": "string"
				},
				"ModifiedTime": {
					"format": "date-time",
					"type": "string"
				},
				"Revision": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"IpFilterRule": {
			"type": "object",
			"properties": {
				"filterName": {
					"type": "string"
				},
				"action": {
					"enum": ["Accept", "Reject"],
					"type": "string",
					"x-ms-enum": {
						"name": "IpFilterActionType",
						"modelAsString": "True"
					}
				},
				"ipMask": {
					"type": "string"
				}
			}
		},
		"RoutingProperties": {
			"type": "object",
			"properties": {
				"endpoints": {
					"$ref": "#/definitions/Endpoints"
				},
				"routes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/RouteProperties"
					}
				},
				"fallbackRoute": {
					"$ref": "#/definitions/RouteProperties"
				}
			}
		},
		"StorageEndpointProperties": {
			"type": "object",
			"properties": {
				"sasTtlAsIso8601": {
					"format": "date-time",
					"type": "string"
				},
				"connectionString": {
					"type": "string"
				},
				"containerName": {
					"type": "string"
				}
			}
		},
		"MessagingEndpointProperties": {
			"type": "object",
			"properties": {
				"lockDurationAsIso8601": {
					"format": "date-time",
					"type": "string"
				},
				"ttlAsIso8601": {
					"format": "date-time",
					"type": "string"
				},
				"maxDeliveryCount": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"CloudToDeviceProperties": {
			"type": "object",
			"properties": {
				"maxDeliveryCount": {
					"format": "int32",
					"type": "integer"
				},
				"defaultTtlAsIso8601": {
					"format": "date-time",
					"type": "string"
				},
				"feedback": {
					"$ref": "#/definitions/FeedbackProperties"
				}
			}
		},
		"OperationsMonitoringProperties": {
			"type": "object",
			"properties": {
				"events": {
					"type": "object",
					"additionalProperties": {
						"enum": ["None", "Error", "Information"],
						"type": "string"
					}
				}
			}
		},
		"Endpoints": {
			"type": "object",
			"properties": {
				"serviceBusQueues": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/RouteMessagingEndpointProperties"
					}
				},
				"serviceBusTopics": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/RouteMessagingEndpointProperties"
					}
				},
				"eventHubs": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/RouteEventHubProperties"
					}
				},
				"storageContainers": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/RouteStorageEndpointProperties"
					}
				}
			}
		},
		"RouteProperties": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"source": {
					"enum": ["Invalid", "DeviceMessages", "TwinChangeEvents", "DeviceLifecycleEvents", "DeviceJobLifecycleEvents"],
					"type": "string",
					"x-ms-enum": {
						"name": "RoutingSource",
						"modelAsString": "True"
					}
				},
				"condition": {
					"type": "string"
				},
				"endpointNames": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"isEnabled": {
					"type": "boolean"
				}
			}
		},
		"FeedbackProperties": {
			"type": "object",
			"properties": {
				"lockDurationAsIso8601": {
					"format": "date-time",
					"type": "string"
				},
				"ttlAsIso8601": {
					"format": "date-time",
					"type": "string"
				},
				"maxDeliveryCount": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"RouteMessagingEndpointProperties": {
			"type": "object",
			"properties": {
				"connectionString": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"id": {
					"type": "string"
				},
				"subscriptionId": {
					"type": "string"
				},
				"resourceGroup": {
					"type": "string"
				}
			}
		},
		"RouteEventHubProperties": {
			"type": "object",
			"properties": {
				"connectionString": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"id": {
					"type": "string"
				},
				"subscriptionId": {
					"type": "string"
				},
				"resourceGroup": {
					"type": "string"
				}
			}
		},
		"RouteStorageEndpointProperties": {
			"type": "object",
			"properties": {
				"connectionString": {
					"type": "string"
				},
				"containerName": {
					"type": "string"
				},
				"fileNameFormat": {
					"type": "string"
				},
				"batchFrequencyInSeconds": {
					"format": "int32",
					"type": "integer"
				},
				"maxChunkSizeInBytes": {
					"format": "int32",
					"type": "integer"
				},
				"encoding": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"id": {
					"type": "string"
				},
				"subscriptionId": {
					"type": "string"
				},
				"resourceGroup": {
					"type": "string"
				}
			}
		},
		"Object": {
			"type": "object",
			"properties": {}
		},
		"IotHubDescription": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string",
					"readOnly": true
				},
				"name": {
					"type": "string"
				},
				"type": {
					"type": "string",
					"readOnly": true
				},
				"location": {
					"type": "string"
				},
				"tags": {
					"type": "object",
					"additionalProperties": {
						"type": "string"
					},
					"readOnly": true
				},
				"subscriptionid": {
					"type": "string"
				},
				"resourcegroup": {
					"type": "string"
				},
				"etag": {
					"type": "string"
				},
				"properties": {
					"$ref": "#/definitions/IotHubPropertiesDescription"
				},
				"sku": {
					"$ref": "#/definitions/IotHubSkuInfo"
				}
			},
			"x-ms-azure-resource": true
		},
		"IotHubPropertiesDescription": {
			"type": "object",
			"properties": {
				"operationsMonitoringProperties": {
					"$ref": "#/definitions/OperationsMonitoringProperties"
				},
				"state": {
					"enum": ["Activating", "Active", "Deleting", "Deleted", "ActivationFailed", "DeletionFailed", "Transitioning", "Suspending", "Suspended", "Resuming", "FailingOver", "FailoverFailed", "TenantCommitted"],
					"type": "string",
					"x-ms-enum": {
						"name": "Nullable`1",
						"modelAsString": "True"
					}
				},
				"provisioningState": {
					"type": "string"
				},
				"authorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
					}
				},
				"ipFilterRules": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IpFilterRule"
					}
				},
				"hostName": {
					"type": "string"
				},
				"eventHubEndpoints": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/EventHubProperties"
					}
				},
				"routing": {
					"$ref": "#/definitions/RoutingProperties"
				},
				"storageEndpoints": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/StorageEndpointProperties"
					}
				},
				"messagingEndpoints": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/MessagingEndpointProperties"
					}
				},
				"enableFileUploadNotifications": {
					"type": "boolean"
				},
				"cloudToDevice": {
					"$ref": "#/definitions/CloudToDeviceProperties"
				},
				"comments": {
					"type": "string"
				},
				"systemProperties": {
					"type": "object",
					"additionalProperties": {
						"type": "string"
					}
				},
				"features": {
					"enum": ["None", "DeviceManagement"],
					"type": "string",
					"x-ms-enum": {
						"name": "Capabilities",
						"modelAsString": "True"
					}
				}
			}
		},
		"CertificateResponse": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"etag": {
					"type": "string"
				},
				"subject": {
					"type": "string"
				},
				"expiry": {
					"format": "date-time",
					"type": "string"
				},
				"thumbprint": {
					"type": "string"
				},
				"isVerified": {
					"type": "boolean"
				},
				"created": {
					"format": "date-time",
					"type": "string"
				},
				"updated": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"IotDpsSkuInfo": {
			"type": "object",
			"properties": {
				"name": {
					"enum": ["S1"],
					"type": "string",
					"x-ms-enum": {
						"name": "IotDpsSku",
						"modelAsString": "True"
					}
				},
				"tier": {
					"type": "string",
					"readOnly": true
				},
				"capacity": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"ProvisioningServiceDescription": {
			"type": "object",
			"properties": {
				"etag": {
					"type": "string"
				},
				"name": {
					"type": "string",
					"readOnly": "true"
				},
				"location": {
					"type": "string"
				},
				"properties": {
					"$ref": "#/definitions/IotDpsPropertiesDescription"
				},
				"type": {
					"type": "string",
					"readOnly": true
				},
				"id": {
					"type": "string",
					"readOnly": true
				},
				"tags": {
					"type": "object",
					"additionalProperties": {
						"type": "string"
					}
				}
			}
		},
		"IotDpsPropertiesDescription": {
			"type": "object",
			"properties": {
				"state": {
					"enum": ["Activating", "Active", "Deleting", "Deleted", "ActivationFailed", "DeletionFailed", "Transitioning", "Suspending", "Suspended", "Resuming", "FailingOver", "FailoverFailed"],
					"type": "string",
					"x-ms-enum": {
						"name": "Nullable`1",
						"modelAsString": "True"
					}
				},
				"provisioningState": {
					"type": "string"
				},
				"iotHubs": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IotHubDefinitionDescription"
					}
				},
				"allocationPolicy": {
					"enum": ["Hashed", "GeoLatency", "Static"],
					"type": "string",
					"x-ms-enum": {
						"name": "AllocationPolicy",
						"modelAsString": "True"
					}
				},
				"serviceOperationsHostName": {
					"type": "string",
					"readOnly": "true"
				},
				"deviceProvisioningHostName": {
					"type": "string",
					"readOnly": "true"
				},
				"idScope": {
					"type": "string"
				},
				"authorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule[AccessRightsDescription]"
					}
				}
			}
		},
		"IotHubDefinitionDescription": {
			"type": "object",
			"properties": {
				"applyAllocationPolicy": {
					"type": "boolean"
				},
				"allocationWeight": {
					"format": "int32",
					"type": "integer"
				},
				"name": {
					"type": "string",
					"readOnly": "true"
				},
				"connectionString": {
					"type": "string"
				},
				"location": {
					"type": "string"
				}
			}
		},
		"SharedAccessSignatureAuthorizationRule[AccessRightsDescription]": {
			"type": "object",
			"properties": {
				"keyName": {
					"type": "string"
				},
				"primaryKey": {
					"type": "string"
				},
				"secondaryKey": {
					"type": "string"
				},
				"rights": {
					"enum": ["ServiceConfig", "EnrollmentRead", "EnrollmentWrite", "DeviceConnect", "RegistrationStatusRead", "RegistrationStatusWrite"],
					"type": "string",
					"x-ms-enum": {
						"name": "AccessRightsDescription",
						"modelAsString": "True"
					}
				}
			}
		},
		"ErrorDetails": {
			"type": "object",
			"properties": {
				"Code": {
					"type": "string",
					"x-ms-enum": {
						"name": "ErrorCode",
						"modelAsString": "True"
					}
				},
				"HttpStatusCode": {
					"type": "string",
					"readOnly": true
				},
				"Message": {
					"type": "string"
				},
				"Details": {
					"type": "string"
				}
			}
		},
		"SharedAccessSignatureAuthorizationRuleListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"IotDpsSkuDefinitionListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IotDpsSkuDefinition"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"IotDpsSkuDefinition": {
			"type": "object",
			"properties": {
				"Name": {
					"enum": ["S1"],
					"type": "string",
					"x-ms-enum": {
						"name": "IotDpsSku",
						"modelAsString": "True"
					}
				}
			}
		},
		"OperationInputs": {
			"type": "object",
			"properties": {
				"Name": {
					"type": "string"
				},
				"ResourceType": {
					"type": "string"
				},
				"Key": {
					"type": "string"
				},
				"TokenLifeTimeInMinutes": {
					"format": "int32",
					"type": "integer"
				},
				"ConnectionString": {
					"type": "string"
				},
				"MoveResource": {
					"type": "boolean"
				},
				"IotHubDescription": {
					"$ref": "#/definitions/IotHubDescription"
				},
				"SerializedIotHubDescription": {
					"type": "string"
				}
			}
		},
		"NameAvailabilityInfo": {
			"type": "object",
			"properties": {
				"nameAvailable": {
					"type": "boolean"
				},
				"reason": {
					"enum": ["Invalid", "AlreadyExists"],
					"type": "string",
					"x-ms-enum": {
						"name": "NameUnavailabilityReason",
						"modelAsString": "True"
					}
				},
				"message": {
					"type": "string"
				}
			}
		},
		"IotDpsDescriptionListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ProvisioningServiceDescription"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"VerificationCodeResponse": {
			"type": "object",
			"properties": {
				"verificationCode": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"etag": {
					"type": "string"
				},
				"subject": {
					"type": "string"
				},
				"expiry": {
					"format": "date-time",
					"type": "string"
				},
				"thumbprint": {
					"type": "string"
				},
				"isVerified": {
					"type": "boolean"
				},
				"created": {
					"format": "date-time",
					"type": "string"
				},
				"updated": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"VerificationCodeRequest": {
			"type": "object",
			"properties": {
				"certificate": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"subscriptionId": {
			"name": "subscriptionId",
			"in": "path",
			"description": "The subscription identifier.",
			"required": true,
			"type": "string"
		},
		"api-version": {
			"name": "api-version",
			"in": "query",
			"description": "Version of the Api.",
			"required": true,
			"type": "string",
			"default": "2017-08-31-preview"
		}
	},
	"security": []
}