{
  "swagger": "2.0",
  "info": {
    "version": "2023-08-01-preview",
    "title": "portal",
    "description": "Allows creation and deletion of Azure Shared Dashboards."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards/{dashboardName}": {
      "put": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_CreateOrUpdate",
        "x-ms-examples": {
          "Create or update a Dashboard": {
            "$ref": "examples/dashboards/createOrUpdateDashboard.json"
          }
        },
        "description": "Creates or updates a Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "dashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "description": "The parameters required to create or update a dashboard."
          }
        ],
        "responses": {
          "201": {
            "description": "Created response definition. Resource has been created",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "200": {
            "description": "Resource already exists and has been updated.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_Delete",
        "x-ms-examples": {
          "Delete a Dashboard": {
            "$ref": "examples/dashboards/deleteDashboard.json"
          }
        },
        "description": "Deletes the Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "204": {
            "description": "OK resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_Get",
        "x-ms-examples": {
          "Get a Dashboard": {
            "$ref": "examples/dashboards/getDashboard.json"
          }
        },
        "description": "Gets the Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_Update",
        "x-ms-examples": {
          "Update a Dashboard": {
            "$ref": "examples/dashboards/updateDashboard.json"
          }
        },
        "description": "Updates an existing Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "dashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchableDashboard"
            },
            "description": "The updatable fields of a Dashboard."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_ListByResourceGroup",
        "x-ms-examples": {
          "List all custom resource providers on the resourceGroup": {
            "$ref": "examples/dashboards/listDashboardsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all the Dashboards within a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of Dashboards.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_ListBySubscription",
        "x-ms-examples": {
          "List all custom resource providers on the subscription": {
            "$ref": "examples/dashboards/listDashboardsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all the dashboards within a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of dashboards.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "DashboardListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dashboard"
          },
          "description": "The array of custom resource provider manifests."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of dashboards."
    },
    "DashboardTile": {
      "type": "object",
      "description": "A dashboard tile.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard title."
        },
        "type": {
          "$ref": "#/definitions/DashboardTileType"
        },
        "layout": {
          "$ref": "#/definitions/DashboardTileLayout"
        }
      },
      "discriminator": "type",
      "required": [
        "title",
        "type",
        "layout"
      ]
    },
    "DashboardTileLayout": {
      "type": "object",
      "description": "The dashboard tile's layout.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's x position."
        },
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's y position."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's width in grid units."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's height in grid units."
        }
      },
      "required": [
        "x",
        "y",
        "width",
        "height"
      ]
    },
    "DashboardTileType": {
      "description": "Dashboard tile type.",
      "enum": [
        "QueryTile"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "type",
        "modelAsString": true
      }
    },
    "QueryTile": {
      "x-ms-discriminator-value": "QueryTile",
      "description": "A query tile.",
      "type": "object",
      "properties": {
        "visualization": {
          "$ref": "#/definitions/QueryTileVisualization"
        },
        "data": {
          "description": "The definition of data source object within the Query tile.",
          "type": "object",
          "$ref": "#/definitions/QueryTileData"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ]
    },
    "QueryTileData": {
      "type": "object",
      "description": "A dashboard query tile.",
      "additionalProperties": true,
      "properties": {
        "kind": {
          "type": "string",
          "$ref": "#/definitions/QueryTileKind"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "QueryTileKind": {
      "description": "Dashboard Query tile kind.",
      "enum": [
        "arg",
        "arm",
        "log-analytics",
        "app-insights"
      ],
      "x-ms-enum": {
        "name": "kind",
        "modelAsString": true
      },
      "type": "string"
    },
    "QueryTileVisualization": {
      "description": "Query tile visualizations.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Enumeration of supported visualization types.",
          "enum": [
            "table",
            "pie",
            "bar",
            "line"
          ],
          "x-ms-enum": {
            "name": "VisualizationType",
            "modelAsString": true
          }
        },
        "options": {
          "type": "array",
          "description": "Array of supported options for Query Tile visualizations.",
          "items": {
            "$ref": "#/definitions/VisualizationOptions"
          }
        }
      }
    },
    "VisualizationOptions": {
      "type": "string",
      "description": "Enumeration of supported options for Query Tile visualizations.",
      "enum": [
        "HideLegend",
        "HideTileTitle"
      ],
      "x-ms-enum": {
        "name": "options",
        "modelAsString": true
      }
    },
    "ArmDataDefinition": {
      "x-ms-discriminator-value": "arm",
      "type": "object",
      "description": "The data definition of ARM Query Tile.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Relative URL for ARM Resource Provider."
        },
        "verb": {
          "type": "string",
          "description": "Enumeration of supported ARM calls.",
          "enum": [
            "get",
            "post"
          ],
          "x-ms-enum": {
            "name": "verb",
            "modelAsString": true
          }
        },
        "parameters": {
          "type": "object",
          "description": "Input parameters for ARM call.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "headers": {
          "type": "object",
          "description": "Header for ARM call.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "required": [
        "path",
        "verb",
        "parameters",
        "headers"
      ]
    },
    "ArgDataDefinition": {
      "x-ms-discriminator-value": "arg",
      "type": "object",
      "description": "The data definition of ARG Query Tile.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The ARG query."
        },
        "scope": {
          "description": "Scope of the ARG query.",
          "type": "object",
          "$ref": "#/definitions/ArgDataScope"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "required": [
        "query"
      ]
    },
    "ArgDataScope": {
      "description": "Scope of the ARG query.",
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "kind": {
          "$ref": "#/definitions/ArgDataScopeKind"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "ArgDataScopeKind": {
      "description": "ARG Data scope kind.",
      "enum": [
        "directory",
        "management group",
        "subscription"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ScopeKind",
        "modelAsString": true
      }
    },
    "DirectoryScope": {
      "type": "object",
      "description": "The scope directory.",
      "x-ms-discriminator-value": "directory",
      "properties": {
        "directory": {
          "type": "string",
          "description": "The scope directory."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ArgDataScope"
        }
      ]
    },
    "ManagementGroupScope": {
      "type": "object",
      "description": "The management group Ids for the scope.",
      "x-ms-discriminator-value": "management group",
      "properties": {
        "managementGroupIds": {
          "type": "array",
          "description": "The management group Ids for the scope.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ArgDataScope"
        }
      ]
    },
    "SubscriptionScope": {
      "type": "object",
      "description": "The subscription Ids for the scope.",
      "x-ms-discriminator-value": "subscription",
      "properties": {
        "subscriptionIds": {
          "type": "array",
          "description": "The subscription Ids for the scope.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ArgDataScope"
        }
      ]
    },
    "LogAnalyticsDataDefinition": {
      "x-ms-discriminator-value": "log-analytics",
      "type": "object",
      "description": "The data definition of Log Analytics Query Tile.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Log analytics query."
        },
        "workspaceId": {
          "type": "string",
          "description": "Workspace Id for log analytics query."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "required": [
        "query",
        "workspaceId"
      ]
    },
    "AppInsightsDataDefinition": {
      "x-ms-discriminator-value": "app-insights",
      "type": "object",
      "description": "The data definition of App Insights Query Tile.",
      "properties": {
        "query": {
          "type": "string",
          "description": "App Insights query."
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Id for App Insights query."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "required": [
        "query",
        "resourceId"
      ]
    },
    "DashboardPage": {
      "type": "object",
      "description": "A dashboard page.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard page."
        },
        "tiles": {
          "type": "array",
          "description": "The dashboard tiles.",
          "items": {
            "$ref": "#/definitions/DashboardTile"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardProperties": {
      "type": "object",
      "description": "The shared dashboard properties.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard."
        },
        "pages": {
          "type": "array",
          "description": "The dashboard pages.",
          "items": {
            "$ref": "#/definitions/DashboardPage"
          },
          "x-ms-identifiers": []
        },
        "filters": {
          "type": "array",
          "description": "The dashboard filters.",
          "items": {
            "$ref": "#/definitions/DashboardFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardFilter": {
      "type": "object",
      "description": "A dashboard filter.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard filter."
        },
        "variableName": {
          "type": "string",
          "description": "The variable name."
        }
      },
      "additionalProperties": true
    },
    "Dashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "description": "The shared dashboard properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DashboardProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PatchableDashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "description": "The shared dashboard properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DashboardProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The type of identity that last modified the resource."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "DashboardNameParameter": {
      "name": "dashboardName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the dashboard.",
      "minLength": 3,
      "maxLength": 64,
      "pattern": "^[a-z][a-z0-9]*$",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request.",
      "x-ms-parameter-location": "method"
    }
  }
}
