{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2022-10-01",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AutoscaleSettings"
    },
    {
      "name": "Metrics"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/autoscalesettings": {
      "get": {
        "operationId": "AutoscaleSettings_ListBySubscription",
        "tags": [
          "AutoscaleSettings"
        ],
        "description": "Lists the autoscale settings for a subscription",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List autoscale settings by subs": {
            "$ref": "./examples/listAutoscaleSettingBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings": {
      "get": {
        "operationId": "AutoscaleSettings_ListByResourceGroup",
        "tags": [
          "AutoscaleSettings"
        ],
        "description": "Lists the autoscale settings for a resource group",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List autoscale settings": {
            "$ref": "./examples/listAutoscaleSetting.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings/{autoscaleSettingName}": {
      "get": {
        "operationId": "AutoscaleSettings_Get",
        "tags": [
          "AutoscaleSettings"
        ],
        "description": "Gets an autoscale setting",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoscaleSettingName",
            "in": "path",
            "description": "The autoscale setting name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an autoscale setting": {
            "$ref": "./examples/getAutoscaleSetting.json"
          }
        }
      },
      "put": {
        "operationId": "AutoscaleSettings_CreateOrUpdate",
        "tags": [
          "AutoscaleSettings"
        ],
        "description": "Creates or updates an autoscale setting.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoscaleSettingName",
            "in": "path",
            "description": "The autoscale setting name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AutoscaleSettingResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResource"
            }
          },
          "201": {
            "description": "Resource 'AutoscaleSettingResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an autoscale setting": {
            "$ref": "./examples/createOrUpdateAutoscaleSetting.json"
          }
        }
      },
      "patch": {
        "operationId": "AutoscaleSettings_Update",
        "description": "Updates an existing AutoscaleSettingsResource. To update other fields use the CreateOrUpdate method.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoscaleSettingName",
            "in": "path",
            "description": "The autoscale setting name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "autoscaleSettingResource",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoscaleSettingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch an autoscale setting": {
            "$ref": "./examples/patchAutoscaleSetting.json"
          }
        }
      },
      "delete": {
        "operationId": "AutoscaleSettings_Delete",
        "tags": [
          "AutoscaleSettings"
        ],
        "description": "Deletes and autoscale setting",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoscaleSettingName",
            "in": "path",
            "description": "The autoscale setting name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an autoscale setting": {
            "$ref": "./examples/deleteAutoscaleSetting.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings/{autoscaleSettingName}/predictiveMetrics": {
      "get": {
        "operationId": "PredictiveMetric_Get",
        "tags": [
          "Metrics"
        ],
        "description": "get predictive autoscale metric future data",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoscaleSettingName",
            "in": "path",
            "description": "The autoscale setting name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
            "required": true,
            "type": "string"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The interval (i.e. timegrain) of the query.",
            "required": true,
            "type": "string",
            "format": "duration"
          },
          {
            "name": "metricNamespace",
            "in": "query",
            "description": "Metric namespace to query metric definitions for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "metricName",
            "in": "query",
            "description": "The names of the metrics (comma separated) to retrieve. Special case: If a metricname itself has a comma in it then use %2 to indicate it. Eg: 'Metric,Name1' should be **'Metric%2Name1'**",
            "required": true,
            "type": "string"
          },
          {
            "name": "aggregation",
            "in": "query",
            "description": "The list of aggregation types (comma separated) to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PredictiveResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AutoscaleErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Metric for data": {
            "$ref": "./examples/GetPredictiveMetric.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AutoscaleErrorResponse": {
      "type": "object",
      "description": "Describes the format of Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/AutoscaleErrorResponseError",
          "description": "The error object."
        },
        "systemData": {
          "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "The system metadata related to the response.",
          "readOnly": true
        }
      }
    },
    "AutoscaleErrorResponseError": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "details": {
          "type": "string",
          "description": "A human-readable representation of the error's details."
        }
      }
    },
    "AutoscaleNotification": {
      "type": "object",
      "description": "Autoscale notification.",
      "properties": {
        "operation": {
          "$ref": "#/definitions/OperationType",
          "description": "the operation associated with the notification and its value must be \"scale\""
        },
        "email": {
          "$ref": "#/definitions/EmailNotification",
          "description": "the email notification."
        },
        "webhooks": {
          "type": "array",
          "description": "the collection of webhook notifications.",
          "items": {
            "$ref": "#/definitions/WebhookNotification"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "operation"
      ]
    },
    "AutoscaleProfile": {
      "type": "object",
      "description": "Autoscale profile.",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of the profile."
        },
        "capacity": {
          "$ref": "#/definitions/ScaleCapacity",
          "description": "the number of instances that can be used during this profile."
        },
        "rules": {
          "type": "array",
          "description": "the collection of rules that provide the triggers and parameters for the scaling action. A maximum of 10 rules can be specified.",
          "items": {
            "$ref": "#/definitions/ScaleRule"
          },
          "x-ms-identifiers": []
        },
        "fixedDate": {
          "$ref": "#/definitions/TimeWindow",
          "description": "the specific date-time for the profile. This element is not used if the Recurrence element is used."
        },
        "recurrence": {
          "$ref": "#/definitions/Recurrence",
          "description": "the repeating times at which this profile begins. This element is not used if the FixedDate element is used."
        }
      },
      "required": [
        "name",
        "capacity",
        "rules"
      ]
    },
    "AutoscaleSetting": {
      "type": "object",
      "description": "A setting that contains all of the configuration for the automatic scaling of a resource.",
      "properties": {
        "profiles": {
          "type": "array",
          "description": "the collection of automatic scaling profiles that specify different scaling parameters for different time periods. A maximum of 20 profiles can be specified.",
          "maxItems": 20,
          "items": {
            "$ref": "#/definitions/AutoscaleProfile"
          },
          "x-ms-identifiers": []
        },
        "notifications": {
          "type": "array",
          "description": "the collection of notifications.",
          "items": {
            "$ref": "#/definitions/AutoscaleNotification"
          },
          "x-ms-identifiers": []
        },
        "enabled": {
          "type": "boolean",
          "description": "the enabled flag. Specifies whether automatic scaling is enabled for the resource. The default value is 'false'.",
          "default": false
        },
        "predictiveAutoscalePolicy": {
          "$ref": "#/definitions/PredictiveAutoscalePolicy",
          "description": "the predictive autoscale policy mode."
        },
        "name": {
          "type": "string",
          "description": "the name of the autoscale setting."
        },
        "targetResourceUri": {
          "type": "string",
          "description": "the resource identifier of the resource that the autoscale setting should be added to."
        },
        "targetResourceLocation": {
          "type": "string",
          "description": "the location of the resource that the autoscale setting should be added to."
        }
      },
      "required": [
        "profiles"
      ]
    },
    "AutoscaleSettingResource": {
      "type": "object",
      "description": "The autoscale setting resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutoscaleSetting",
          "description": "The autoscale setting of the resource.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AutoscaleSettingResourceCollection": {
      "type": "object",
      "description": "Represents a collection of autoscale setting resources.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AutoscaleSettingResource items on this page",
          "items": {
            "$ref": "#/definitions/AutoscaleSettingResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AutoscaleSettingResourcePatch": {
      "type": "object",
      "description": "The autoscale setting object for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/AutoscaleSetting",
          "description": "The autoscale setting properties of the update operation.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ComparisonOperationType": {
      "type": "string",
      "description": "the operator that is used to compare the metric data and the threshold.",
      "enum": [
        "Equals",
        "NotEquals",
        "GreaterThan",
        "GreaterThanOrEqual",
        "LessThan",
        "LessThanOrEqual"
      ],
      "x-ms-enum": {
        "name": "ComparisonOperationType",
        "modelAsString": false,
        "values": [
          {
            "name": "Equals",
            "value": "Equals",
            "description": "Equals"
          },
          {
            "name": "NotEquals",
            "value": "NotEquals",
            "description": "NotEquals"
          },
          {
            "name": "GreaterThan",
            "value": "GreaterThan",
            "description": "GreaterThan"
          },
          {
            "name": "GreaterThanOrEqual",
            "value": "GreaterThanOrEqual",
            "description": "GreaterThanOrEqual"
          },
          {
            "name": "LessThan",
            "value": "LessThan",
            "description": "LessThan"
          },
          {
            "name": "LessThanOrEqual",
            "value": "LessThanOrEqual",
            "description": "LessThanOrEqual"
          }
        ]
      }
    },
    "EmailNotification": {
      "type": "object",
      "description": "Email notification of an autoscale event.",
      "properties": {
        "sendToSubscriptionAdministrator": {
          "type": "boolean",
          "description": "a value indicating whether to send email to subscription administrator.",
          "default": false
        },
        "sendToSubscriptionCoAdministrators": {
          "type": "boolean",
          "description": "a value indicating whether to send email to subscription co-administrators.",
          "default": false
        },
        "customEmails": {
          "type": "array",
          "description": "the custom e-mails list. This value can be null or empty, in which case this attribute will be ignored.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MetricStatisticType": {
      "type": "string",
      "description": "the metric statistic type. How the metrics from multiple instances are combined.",
      "enum": [
        "Average",
        "Min",
        "Max",
        "Sum",
        "Count"
      ],
      "x-ms-enum": {
        "name": "MetricStatisticType",
        "modelAsString": false,
        "values": [
          {
            "name": "Average",
            "value": "Average",
            "description": "Average"
          },
          {
            "name": "Min",
            "value": "Min",
            "description": "Min"
          },
          {
            "name": "Max",
            "value": "Max",
            "description": "Max"
          },
          {
            "name": "Sum",
            "value": "Sum",
            "description": "Sum"
          },
          {
            "name": "Count",
            "value": "Count",
            "description": "Count"
          }
        ]
      }
    },
    "MetricTrigger": {
      "type": "object",
      "description": "The trigger that results in a scaling action.",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "the name of the metric that defines what the rule monitors."
        },
        "metricNamespace": {
          "type": "string",
          "description": "the namespace of the metric that defines what the rule monitors."
        },
        "metricResourceUri": {
          "type": "string",
          "description": "the resource identifier of the resource the rule monitors."
        },
        "metricResourceLocation": {
          "type": "string",
          "description": "the location of the resource the rule monitors."
        },
        "timeGrain": {
          "type": "string",
          "format": "duration",
          "description": "the granularity of metrics the rule monitors. Must be one of the predefined values returned from metric definitions for the metric. Must be between 12 hours and 1 minute."
        },
        "statistic": {
          "$ref": "#/definitions/MetricStatisticType",
          "description": "the metric statistic type. How the metrics from multiple instances are combined."
        },
        "timeWindow": {
          "type": "string",
          "format": "duration",
          "description": "the range of time in which instance data is collected. This value must be greater than the delay in metric collection, which can vary from resource-to-resource. Must be between 12 hours and 5 minutes."
        },
        "timeAggregation": {
          "$ref": "#/definitions/TimeAggregationType",
          "description": "time aggregation type. How the data that is collected should be combined over time. The default value is Average."
        },
        "operator": {
          "$ref": "#/definitions/ComparisonOperationType",
          "description": "the operator that is used to compare the metric data and the threshold."
        },
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "the threshold of the metric that triggers the scale action."
        },
        "dimensions": {
          "type": "array",
          "description": "List of dimension conditions. For example: [{\"DimensionName\":\"AppName\",\"Operator\":\"Equals\",\"Values\":[\"App1\"]},{\"DimensionName\":\"Deployment\",\"Operator\":\"Equals\",\"Values\":[\"default\"]}].",
          "items": {
            "$ref": "#/definitions/ScaleRuleMetricDimension"
          },
          "x-ms-identifiers": []
        },
        "dividePerInstance": {
          "type": "boolean",
          "description": "a value indicating whether metric should divide per instance."
        }
      },
      "required": [
        "metricName",
        "metricResourceUri",
        "timeGrain",
        "statistic",
        "timeWindow",
        "timeAggregation",
        "operator",
        "threshold"
      ]
    },
    "OperationType": {
      "type": "string",
      "enum": [
        "Scale"
      ],
      "x-ms-enum": {
        "name": "OperationType",
        "modelAsString": false,
        "values": [
          {
            "name": "Scale",
            "value": "Scale",
            "description": "Scale"
          }
        ]
      }
    },
    "PredictiveAutoscalePolicy": {
      "type": "object",
      "description": "The parameters for enabling predictive autoscale.",
      "properties": {
        "scaleMode": {
          "$ref": "#/definitions/PredictiveAutoscalePolicyScaleMode",
          "description": "the predictive autoscale mode"
        },
        "scaleLookAheadTime": {
          "type": "string",
          "format": "duration",
          "description": "the amount of time to specify by which instances are launched in advance. It must be between 1 minute and 60 minutes in ISO 8601 format."
        }
      },
      "required": [
        "scaleMode"
      ]
    },
    "PredictiveAutoscalePolicyScaleMode": {
      "type": "string",
      "description": "the predictive autoscale mode",
      "enum": [
        "Disabled",
        "ForecastOnly",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "PredictiveAutoscalePolicyScaleMode",
        "modelAsString": false,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "ForecastOnly",
            "value": "ForecastOnly",
            "description": "ForecastOnly"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          }
        ]
      }
    },
    "PredictiveResponse": {
      "type": "object",
      "description": "The response to a metrics query.",
      "properties": {
        "timespan": {
          "type": "string",
          "description": "The timespan for which the data was retrieved. Its value consists of two datetimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested."
        },
        "interval": {
          "type": "string",
          "format": "duration",
          "description": "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made."
        },
        "metricName": {
          "type": "string",
          "description": "The metrics being queried"
        },
        "targetResourceId": {
          "type": "string",
          "description": "resource of the predictive metric."
        },
        "data": {
          "type": "array",
          "description": "the value of the collection.",
          "items": {
            "$ref": "#/definitions/PredictiveValue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PredictiveValue": {
      "type": "object",
      "description": "Represents a predictive metric value in the given bucket.",
      "properties": {
        "timeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "the timestamp for the metric value in ISO 8601 format."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Predictive value in this time bucket."
        }
      },
      "required": [
        "timeStamp",
        "value"
      ]
    },
    "Recurrence": {
      "type": "object",
      "description": "The repeating times at which this profile begins. This element is not used if the FixedDate element is used.",
      "properties": {
        "frequency": {
          "$ref": "#/definitions/RecurrenceFrequency",
          "description": "the recurrence frequency. How often the schedule profile should take effect. This value must be Week, meaning each week will have the same set of profiles. For example, to set a daily schedule, set **schedule** to every day of the week. The frequency property specifies that the schedule is repeated weekly."
        },
        "schedule": {
          "$ref": "#/definitions/RecurrentSchedule",
          "description": "the scheduling constraints for when the profile begins."
        }
      },
      "required": [
        "frequency",
        "schedule"
      ]
    },
    "RecurrenceFrequency": {
      "type": "string",
      "description": "the recurrence frequency. How often the schedule profile should take effect. This value must be Week, meaning each week will have the same set of profiles. For example, to set a daily schedule, set **schedule** to every day of the week. The frequency property specifies that the schedule is repeated weekly.",
      "enum": [
        "None",
        "Second",
        "Minute",
        "Hour",
        "Day",
        "Week",
        "Month",
        "Year"
      ],
      "x-ms-enum": {
        "name": "RecurrenceFrequency",
        "modelAsString": false,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Second",
            "value": "Second",
            "description": "Second"
          },
          {
            "name": "Minute",
            "value": "Minute",
            "description": "Minute"
          },
          {
            "name": "Hour",
            "value": "Hour",
            "description": "Hour"
          },
          {
            "name": "Day",
            "value": "Day",
            "description": "Day"
          },
          {
            "name": "Week",
            "value": "Week",
            "description": "Week"
          },
          {
            "name": "Month",
            "value": "Month",
            "description": "Month"
          },
          {
            "name": "Year",
            "value": "Year",
            "description": "Year"
          }
        ]
      }
    },
    "RecurrentSchedule": {
      "type": "object",
      "description": "The scheduling constraints for when the profile begins.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "the timezone for the hours of the profile. Some examples of valid time zones are: Dateline Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard Time (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain Standard Time (Mexico), Mountain Standard Time, Central America Standard Time, Central Standard Time, Central Standard Time (Mexico), Canada Central Standard Time, SA Pacific Standard Time, Eastern Standard Time, US Eastern Standard Time, Venezuela Standard Time, Paraguay Standard Time, Atlantic Standard Time, Central Brazilian Standard Time, SA Western Standard Time, Pacific SA Standard Time, Newfoundland Standard Time, E. South America Standard Time, Argentina Standard Time, SA Eastern Standard Time, Greenland Standard Time, Montevideo Standard Time, Bahia Standard Time, UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard Time, Morocco Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W. Europe Standard Time, Central Europe Standard Time, Romance Standard Time, Central European Standard Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan Standard Time, GTB Standard Time, Middle East Standard Time, Egypt Standard Time, Syria Standard Time, E. Europe Standard Time, South Africa Standard Time, FLE Standard Time, Turkey Standard Time, Israel Standard Time, Kaliningrad Standard Time, Libya Standard Time, Arabic Standard Time, Arab Standard Time, Belarus Standard Time, Russian Standard Time, E. Africa Standard Time, Iran Standard Time, Arabian Standard Time, Azerbaijan Standard Time, Russia Time Zone 3, Mauritius Standard Time, Georgian Standard Time, Caucasus Standard Time, Afghanistan Standard Time, West Asia Standard Time, Ekaterinburg Standard Time, Pakistan Standard Time, India Standard Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia Standard Time, Bangladesh Standard Time, N. Central Asia Standard Time, Myanmar Standard Time, SE Asia Standard Time, North Asia Standard Time, China Standard Time, North Asia East Standard Time, Singapore Standard Time, W. Australia Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard Time, Yakutsk Standard Time, Cen. Australia Standard Time, AUS Central Standard Time, E. Australia Standard Time, AUS Eastern Standard Time, West Pacific Standard Time, Tasmania Standard Time, Magadan Standard Time, Vladivostok Standard Time, Russia Time Zone 10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time, Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time"
        },
        "days": {
          "type": "array",
          "description": "the collection of days that the profile takes effect on. Possible values are Sunday through Saturday.",
          "items": {
            "type": "string"
          }
        },
        "hours": {
          "type": "array",
          "description": "A collection of hours that the profile takes effect on. Values supported are 0 to 23 on the 24-hour clock (AM/PM times are not supported).",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "minutes": {
          "type": "array",
          "description": "A collection of minutes at which the profile takes effect at.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "required": [
        "timeZone",
        "days",
        "hours",
        "minutes"
      ]
    },
    "ScaleAction": {
      "type": "object",
      "description": "The parameters for the scaling action.",
      "properties": {
        "direction": {
          "$ref": "#/definitions/ScaleDirection",
          "description": "the scale direction. Whether the scaling action increases or decreases the number of instances."
        },
        "type": {
          "$ref": "#/definitions/ScaleType",
          "description": "the type of action that should occur when the scale rule fires."
        },
        "value": {
          "type": "string",
          "description": "the number of instances that are involved in the scaling action. This value must be 1 or greater. The default value is 1.",
          "default": "1"
        },
        "cooldown": {
          "type": "string",
          "format": "duration",
          "description": "the amount of time to wait since the last scaling action before this action occurs. It must be between 1 week and 1 minute in ISO 8601 format."
        }
      },
      "required": [
        "direction",
        "type",
        "cooldown"
      ]
    },
    "ScaleCapacity": {
      "type": "object",
      "description": "The number of instances that can be used during this profile.",
      "properties": {
        "minimum": {
          "type": "string",
          "description": "the minimum number of instances for the resource."
        },
        "maximum": {
          "type": "string",
          "description": "the maximum number of instances for the resource. The actual maximum number of instances is limited by the cores that are available in the subscription."
        },
        "default": {
          "type": "string",
          "description": "the number of instances that will be set if metrics are not available for evaluation. The default is only used if the current instance count is lower than the default."
        }
      },
      "required": [
        "minimum",
        "maximum",
        "default"
      ]
    },
    "ScaleDirection": {
      "type": "string",
      "description": "the scale direction. Whether the scaling action increases or decreases the number of instances.",
      "enum": [
        "None",
        "Increase",
        "Decrease"
      ],
      "x-ms-enum": {
        "name": "ScaleDirection",
        "modelAsString": false,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Increase",
            "value": "Increase",
            "description": "Increase"
          },
          {
            "name": "Decrease",
            "value": "Decrease",
            "description": "Decrease"
          }
        ]
      }
    },
    "ScaleRule": {
      "type": "object",
      "description": "A rule that provide the triggers and parameters for the scaling action.",
      "properties": {
        "metricTrigger": {
          "$ref": "#/definitions/MetricTrigger",
          "description": "the trigger that results in a scaling action."
        },
        "scaleAction": {
          "$ref": "#/definitions/ScaleAction",
          "description": "the parameters for the scaling action."
        }
      },
      "required": [
        "metricTrigger",
        "scaleAction"
      ]
    },
    "ScaleRuleMetricDimension": {
      "type": "object",
      "description": "Specifies an auto scale rule metric dimension.",
      "properties": {
        "DimensionName": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "Operator": {
          "$ref": "#/definitions/ScaleRuleMetricDimensionOperationType",
          "description": "the dimension operator. Only 'Equals' and 'NotEquals' are supported. 'Equals' being equal to any of the values. 'NotEquals' being not equal to all of the values"
        },
        "Values": {
          "type": "array",
          "description": "list of dimension values. For example: [\"App1\",\"App2\"].",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "DimensionName",
        "Operator",
        "Values"
      ]
    },
    "ScaleRuleMetricDimensionOperationType": {
      "type": "string",
      "description": "the dimension operator. Only 'Equals' and 'NotEquals' are supported. 'Equals' being equal to any of the values. 'NotEquals' being not equal to all of the values",
      "enum": [
        "Equals",
        "NotEquals"
      ],
      "x-ms-enum": {
        "name": "ScaleRuleMetricDimensionOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals",
            "value": "Equals",
            "description": "Equals"
          },
          {
            "name": "NotEquals",
            "value": "NotEquals",
            "description": "NotEquals"
          }
        ]
      }
    },
    "ScaleType": {
      "type": "string",
      "description": "the type of action that should occur when the scale rule fires.",
      "enum": [
        "ChangeCount",
        "PercentChangeCount",
        "ExactCount",
        "ServiceAllowedNextValue"
      ],
      "x-ms-enum": {
        "name": "ScaleType",
        "modelAsString": false,
        "values": [
          {
            "name": "ChangeCount",
            "value": "ChangeCount",
            "description": "ChangeCount"
          },
          {
            "name": "PercentChangeCount",
            "value": "PercentChangeCount",
            "description": "PercentChangeCount"
          },
          {
            "name": "ExactCount",
            "value": "ExactCount",
            "description": "ExactCount"
          },
          {
            "name": "ServiceAllowedNextValue",
            "value": "ServiceAllowedNextValue",
            "description": "ServiceAllowedNextValue"
          }
        ]
      }
    },
    "TimeAggregationType": {
      "type": "string",
      "description": "time aggregation type. How the data that is collected should be combined over time. The default value is Average.",
      "enum": [
        "Average",
        "Minimum",
        "Maximum",
        "Total",
        "Count",
        "Last"
      ],
      "x-ms-enum": {
        "name": "TimeAggregationType",
        "modelAsString": false,
        "values": [
          {
            "name": "Average",
            "value": "Average",
            "description": "Average"
          },
          {
            "name": "Minimum",
            "value": "Minimum",
            "description": "Minimum"
          },
          {
            "name": "Maximum",
            "value": "Maximum",
            "description": "Maximum"
          },
          {
            "name": "Total",
            "value": "Total",
            "description": "Total"
          },
          {
            "name": "Count",
            "value": "Count",
            "description": "Count"
          },
          {
            "name": "Last",
            "value": "Last",
            "description": "Last"
          }
        ]
      }
    },
    "TimeWindow": {
      "type": "object",
      "description": "A specific date-time for the profile.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "the timezone of the start and end times for the profile. Some examples of valid time zones are: Dateline Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard Time (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain Standard Time (Mexico), Mountain Standard Time, Central America Standard Time, Central Standard Time, Central Standard Time (Mexico), Canada Central Standard Time, SA Pacific Standard Time, Eastern Standard Time, US Eastern Standard Time, Venezuela Standard Time, Paraguay Standard Time, Atlantic Standard Time, Central Brazilian Standard Time, SA Western Standard Time, Pacific SA Standard Time, Newfoundland Standard Time, E. South America Standard Time, Argentina Standard Time, SA Eastern Standard Time, Greenland Standard Time, Montevideo Standard Time, Bahia Standard Time, UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard Time, Morocco Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W. Europe Standard Time, Central Europe Standard Time, Romance Standard Time, Central European Standard Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan Standard Time, GTB Standard Time, Middle East Standard Time, Egypt Standard Time, Syria Standard Time, E. Europe Standard Time, South Africa Standard Time, FLE Standard Time, Turkey Standard Time, Israel Standard Time, Kaliningrad Standard Time, Libya Standard Time, Arabic Standard Time, Arab Standard Time, Belarus Standard Time, Russian Standard Time, E. Africa Standard Time, Iran Standard Time, Arabian Standard Time, Azerbaijan Standard Time, Russia Time Zone 3, Mauritius Standard Time, Georgian Standard Time, Caucasus Standard Time, Afghanistan Standard Time, West Asia Standard Time, Ekaterinburg Standard Time, Pakistan Standard Time, India Standard Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia Standard Time, Bangladesh Standard Time, N. Central Asia Standard Time, Myanmar Standard Time, SE Asia Standard Time, North Asia Standard Time, China Standard Time, North Asia East Standard Time, Singapore Standard Time, W. Australia Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard Time, Yakutsk Standard Time, Cen. Australia Standard Time, AUS Central Standard Time, E. Australia Standard Time, AUS Eastern Standard Time, West Pacific Standard Time, Tasmania Standard Time, Magadan Standard Time, Vladivostok Standard Time, Russia Time Zone 10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time, Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time"
        },
        "start": {
          "type": "string",
          "format": "date-time",
          "description": "the start time for the profile in ISO 8601 format."
        },
        "end": {
          "type": "string",
          "format": "date-time",
          "description": "the end time for the profile in ISO 8601 format."
        }
      },
      "required": [
        "start",
        "end"
      ]
    },
    "WebhookNotification": {
      "type": "object",
      "description": "Webhook notification of an autoscale event.",
      "properties": {
        "serviceUri": {
          "type": "string",
          "description": "the service address to receive the notification."
        },
        "properties": {
          "type": "object",
          "description": "a property bag of settings. This value can be empty.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
