{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2023-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/providers/Microsoft.Network/cloudServicePublicIPAddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListCloudServicePublicIPAddress",
        "description": "Gets information about all public IP addresses on a cloud service level.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "cloudServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cloud service.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionCloudServiceParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of PublicIPInterface resources.",
            "schema": {
              "$ref": "./publicIpAddress.json#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSPublicIP": {
            "$ref": "./examples/CloudServicePublicIpListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/providers/Microsoft.Network/cloudServiceNetworkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListCloudServiceRoleInstancePublicIPAddress",
        "description": "Gets information about all public IP addresses in a role instance IP configuration in a cloud service.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "cloudServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cloud service.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "roleInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of role instance.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The network interface name.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The IP configuration name.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionCloudServiceParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of PublicIPAddress resources.",
            "schema": {
              "$ref": "./publicIpAddress.json#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSVMPublicIP": {
            "$ref": "./examples/CloudServiceRoleInstancePublicIpList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/providers/Microsoft.Network/cloudServiceNetworkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}": {
      "get": {
        "operationId": "PublicIPAddresses_GetCloudServiceRoleInstancePublicIPAddress",
        "description": "Get the specified public IP address in a cloud service.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "cloudServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cloud service.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "roleInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The role instance name.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the IP configuration.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "name": "publicIpAddressName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the public IP Address.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\.-]*[A-Za-z0-9_]$",
            "minLength": 2,
            "maxLength": 80
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionCloudServiceParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "x-ms-examples": {
          "GetVMSSPublicIP": {
            "$ref": "./examples/CloudServicePublicIpGet.json"
          }
        },
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting PublicIPAddress resource.",
            "schema": {
              "$ref": "./publicIpAddress.json#/definitions/PublicIPAddress"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  }
}
