{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2023-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/gatewayLoadBalancerAliases/{gatewayLoadBalancerAliasName}": {
      "delete": {
        "tags": [
          "GatewayLoadBalancerAliases"
        ],
        "operationId": "GatewayLoadBalancerAliases_Delete",
        "description": "Deletes the specified gateway load balancer alias.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "gatewayLoadBalancerAliasName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the gateway load balancer alias."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "GatewayLoadBalancerAliases"
        ],
        "operationId": "GatewayLoadBalancerAliases_Get",
        "description": "Gets the specified public IP address in a specified resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "gatewayLoadBalancerAliasName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the gateway load balancer alias."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting GatewyaLoadBalancerAlias resource.",
            "schema": {
              "$ref": "#/definitions/GatewayLoadBalancerAlias"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GatewayLoadBalancerAliases"
        ],
        "operationId": "GatewayLoadBalancerAliases_CreateOrUpdate",
        "description": "Creates or updates a gateway load balancer alias resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "gatewayLoadBalancerAliasName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the gateway load balancer alias."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayLoadBalancerAlias"
            },
            "description": "Parameters supplied to the create or update gateway load balancer alias."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting gateway load balancer alias resource.",
            "schema": {
              "$ref": "#/definitions/GatewayLoadBalancerAlias"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting gateway load balancer alias resource.",
            "schema": {
              "$ref": "#/definitions/GatewayLoadBalancerAlias"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/gatewayLoadBalancerAliases": {
      "get": {
        "tags": [
          "GatewayLoadBalancerAliases"
        ],
        "operationId": "GatewayLoadBalancerAliases_ListAll",
        "description": "Gets all the gateway load balancer aliases in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of gateway load balancer alias resources.",
            "schema": {
              "$ref": "#/definitions/GatewayLoadBalancerAliasListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/gatewayLoadBalancerAliases": {
      "get": {
        "tags": [
          "GatewayLoadBalancerAliases"
        ],
        "operationId": "GatewayLoadBalancerAliases_List",
        "description": "Gets all gateway load balancer aliases in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of gateway load balancer alias resources.",
            "schema": {
              "$ref": "#/definitions/GatewayLoadBalancerAliasListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "GatewayLoadBalancerAliasPropertiesFormat": {
      "properties": {
        "gatewayLoadBalancer": {
          "$ref": "./loadBalancer.json#/definitions/FrontendIPConfiguration",
          "description": "Gateway load balancer frontend ip configuration."
        },
        "chainedLoadBalancers": {
          "type": "array",
          "items": {
            "$ref": "./loadBalancer.json#/definitions/FrontendIPConfiguration"
          },
          "description": "The list of consumer load balancer frontend ip configurations chained to gateway load balancer alias."
        },
        "resourceGuid": {
          "readOnly": true,
          "type": "string",
          "description": "The resource GUID property of the gateway load balancer alias resource."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the gateway load balancer alias resource,."
        }
      },
      "description": "Gateway load balancer alias properties."
    },
    "GatewayLoadBalancerAlias": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GatewayLoadBalancerAliasPropertiesFormat",
          "description": "Gateway load balancer alias properties."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "Gateway load balancer alias resource."
    },
    "GatewayLoadBalancerAliasListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GatewayLoadBalancerAlias"
          },
          "description": "A list of gateway load balancer aliases that exists in a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListGatewayLoadBalancerAliases API service call."
    }
  }
}
