{
  "swagger": "2.0",
  "info": {
    "title": "DiskResourceProviderClient",
    "description": "The Disk Resource Provider Client.",
    "version": "2023-10-02"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/restorePointCollections/{restorePointCollectionName}/restorePoints/{vmRestorePointName}/diskRestorePoints/{diskRestorePointName}": {
      "get": {
        "tags": [
          "IncrementalRestorePoints"
        ],
        "operationId": "DiskRestorePoint_Get",
        "description": "Get disk restorePoint resource",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./diskRPCommon.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RestorePointCollectionNameParameter"
          },
          {
            "$ref": "#/parameters/VmRestorePointNameParameter"
          },
          {
            "$ref": "#/parameters/DiskRestorePointNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiskRestorePoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get an incremental disk restorePoint resource.": {
            "$ref": "./examples/diskRestorePointExamples/DiskRestorePoint_Get.json"
          },
          "Get an incremental disk restorePoint when source resource is from a different region": {
            "$ref": "./examples/diskRestorePointExamples/DiskRestorePoint_Get_WhenSourceResourceIsFromDifferentRegion.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/restorePointCollections/{restorePointCollectionName}/restorePoints/{vmRestorePointName}/diskRestorePoints": {
      "get": {
        "tags": [
          "IncrementalRestorePoints"
        ],
        "operationId": "DiskRestorePoint_ListByRestorePoint",
        "description": "Lists diskRestorePoints under a vmRestorePoint.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./diskRPCommon.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RestorePointCollectionNameParameter"
          },
          {
            "$ref": "#/parameters/VmRestorePointNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiskRestorePointList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get an incremental disk restorePoint resource.": {
            "$ref": "./examples/diskRestorePointExamples/DiskRestorePoint_ListByVmRestorePoint.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/restorePointCollections/{restorePointCollectionName}/restorePoints/{vmRestorePointName}/diskRestorePoints/{diskRestorePointName}/beginGetAccess": {
      "post": {
        "tags": [
          "IncrementalRestorePoints"
        ],
        "operationId": "DiskRestorePoint_GrantAccess",
        "description": "Grants access to a diskRestorePoint.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./diskRPCommon.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RestorePointCollectionNameParameter"
          },
          {
            "$ref": "#/parameters/VmRestorePointNameParameter"
          },
          {
            "$ref": "#/parameters/DiskRestorePointNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "grantAccessData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./diskRPCommon.json#/definitions/GrantAccessData"
            },
            "description": "Access data object supplied in the body of the get disk access operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./diskRPCommon.json#/definitions/AccessUri"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Grants access to a diskRestorePoint.": {
            "$ref": "./examples/diskRestorePointExamples/DiskRestorePoint_BeginGetAccess.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/restorePointCollections/{restorePointCollectionName}/restorePoints/{vmRestorePointName}/diskRestorePoints/{diskRestorePointName}/endGetAccess": {
      "post": {
        "tags": [
          "IncrementalRestorePoints"
        ],
        "operationId": "DiskRestorePoint_RevokeAccess",
        "description": "Revokes access to a diskRestorePoint.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./diskRPCommon.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RestorePointCollectionNameParameter"
          },
          {
            "$ref": "#/parameters/VmRestorePointNameParameter"
          },
          {
            "$ref": "#/parameters/DiskRestorePointNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Revokes access to a diskRestorePoint.": {
            "$ref": "./examples/diskRestorePointExamples/DiskRestorePoint_EndGetAccess.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DiskRestorePoint": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiskRestorePointProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyOnlyResource"
        }
      ],
      "description": "Properties of disk restore point"
    },
    "DiskRestorePointList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiskRestorePoint"
          },
          "description": "A list of disk restore points."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of disk restore points. Call ListNext() with this to fetch the next page of disk restore points."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List Disk Restore Points operation response."
    },
    "DiskRestorePointProperties": {
      "properties": {
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of restorePoint creation",
          "readOnly": true
        },
        "sourceResourceId": {
          "type": "string",
          "description": "arm id of source disk or source disk restore point.",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "readOnly": true,
          "description": "The Operating System type.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "hyperVGeneration": {
          "type": "string",
          "description": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGeneration",
            "modelAsString": true
          }
        },
        "purchasePlan": {
          "$ref": "./diskRPCommon.json#/definitions/PurchasePlan",
          "description": "Purchase plan information for the the image from which the OS disk was created."
        },
        "supportedCapabilities": {
          "$ref": "./diskRPCommon.json#/definitions/SupportedCapabilities",
          "description": "List of supported capabilities for the image from which the OS disk was created."
        },
        "familyId": {
          "type": "string",
          "description": "id of the backing snapshot's MIS family",
          "readOnly": true
        },
        "sourceUniqueId": {
          "type": "string",
          "description": "unique incarnation id of the source disk",
          "readOnly": true
        },
        "encryption": {
          "$ref": "./diskRPCommon.json#/definitions/Encryption",
          "description": "Encryption property can be used to encrypt data at rest with customer managed keys or platform managed keys.",
          "readOnly": true
        },
        "supportsHibernation": {
          "type": "boolean",
          "description": "Indicates the OS on a disk supports hibernation."
        },
        "networkAccessPolicy": {
          "$ref": "./diskRPCommon.json#/definitions/NetworkAccessPolicy"
        },
        "publicNetworkAccess": {
          "$ref": "./diskRPCommon.json#/definitions/PublicNetworkAccess"
        },
        "diskAccessId": {
          "type": "string",
          "description": "ARM id of the DiskAccess resource for using private endpoints on disks."
        },
        "completionPercent": {
          "type": "number",
          "description": "Percentage complete for the background copy of disk restore point when source resource is from a different region."
        },
        "replicationState": {
          "type": "string",
          "description": "Replication state of disk restore point when source resource is from a different region.",
          "readOnly": true
        },
        "sourceResourceLocation": {
          "type": "string",
          "description": "Location of source disk or source disk restore point when source resource is from a different region.",
          "readOnly": true
        },
        "securityProfile": {
          "$ref": "./diskRPCommon.json#/definitions/DiskSecurityProfile",
          "description": "Contains the security related information for the resource."
        }
      },
      "description": "Properties of an incremental disk restore point"
    },
    "ProxyOnlyResource": {
      "description": "The ProxyOnly Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        }
      }
    }
  },
  "parameters": {
    "DiskRestorePointNameParameter": {
      "name": "diskRestorePointName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the disk restore point created.",
      "x-ms-parameter-location": "method"
    },
    "RestorePointCollectionNameParameter": {
      "name": "restorePointCollectionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the restore point collection that the disk restore point belongs.",
      "x-ms-parameter-location": "method"
    },
    "VmRestorePointNameParameter": {
      "name": "vmRestorePointName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the vm restore point that the disk disk restore point belongs.",
      "x-ms-parameter-location": "method"
    }
  }
}
