{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManager",
    "description": "The Microsoft Azure Network Manager API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2020-08-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagers_Get",
        "description": "Get the specified Network Manager.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the network manager.",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersGet": {
            "$ref": "./examples/NetworkManagerGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagers_CreateOrUpdate",
        "description": "Creates a Network Manager.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            },
            "description": "Parameters supplied to the specify which Managed Network is."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager.",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "201": {
            "description": "Created - Returns information about the network manager.",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagesPut": {
            "$ref": "./examples/NetworkManagerPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagers_Delete",
        "description": "Deletes a network manager.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NetworkManagersDelete": {
            "$ref": "./examples/NetworkManagerDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagers_Update",
        "description": "Update a NetworkManager.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network manager tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager.",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagesPatch": {
            "$ref": "./examples/NetworkManagerPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commit": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "post": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagerCommit_Post",
        "description": "Post a Network Manager Commit.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerCommit"
            },
            "description": "Parameters supplied to the specify which Managed Network commit is."
          }
        ],
        "responses": {
          "200": {
            "description": "Commit Succeed"
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManageCommitPost": {
            "$ref": "./examples/NetworkManagerCommitPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagers": {
      "get": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagers_ListBySubscription",
        "description": "List all network managers in subscription.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the network managers.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersList": {
            "$ref": "./examples/NetworkManagerListAll.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers": {
      "get": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "NetworkManagers_List",
        "description": "List network manager in resource group.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the network manager.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersList": {
            "$ref": "./examples/NetworkManagerList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkManager": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkManagerProperties",
          "description": "The network manager properties"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "The Managed Network resource"
    },
    "NetworkManagerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManager"
          },
          "description": "Gets a page of NetworkManager"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Result of the request to list NetworkManager. It contains a list of groups and a URL link to get the next set of results."
    },
    "NetworkManagerProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the network manager."
        },
        "description": {
          "type": "string",
          "description": "A description of the network manager."
        },
        "networkManagerScopes": {
          "properties": {
            "managementGroups": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of management groups."
            },
            "subscriptions": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of subscriptions."
            }
          },
          "description": "Scope of Network Manager."
        },
        "networkManagerScopeAccesses": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Security",
              "Routing",
              "Connectivity"
            ],
            "x-ms-enum": {
              "name": "ScopeAccesses",
              "modelAsString": true
            }
          },
          "description": "Scope Access."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "Properties of Managed Network"
    },
    "NetworkManagerCommit": {
      "properties": {
        "targetLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of target locations."
        },
        "configurationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of configuration ids."
        },
        "commitType": {
          "type": "string",
          "enum": [
            "AdminPolicy",
            "UserPolicy",
            "Routing",
            "Connectivity"
          ],
          "x-ms-enum": {
            "name": "CommitType",
            "modelAsString": true
          },
          "description": "Commit Type."
        }
      },
      "description": "Network Manager Commit."
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    }
  }
}
