{
  "swagger": "2.0",
  "info": {
    "title": "SecurityConfiguration",
    "version": "2020-08-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations": {
      "get": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_List",
        "description": "The list securityConfigurations operation retrieves all the Managed Network Security Configurations in a resource group, in a paginated format.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ListPageSizeParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns all Managed Network Security Configuration resources in the specified Managed Network, in a paginated format",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List security configurations in a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/import": {
      "post": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_Import",
        "description": "The operation to import nsg to security configurations.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/SecurityConfigurationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerSecurityConfigurationImport"
            },
            "description": "Import Security configuration parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Post successful.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationImportResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Import NSG Rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationImport.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/evaluateImport": {
      "post": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_EvaluateImport",
        "description": "The operation to evaluate import nsg to security configurations.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/SecurityConfigurationParameter"
          },
          {
            "$ref": "#/parameters/ListPageSizeParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerSecurityConfigurationImport"
            },
            "description": "Import Security configuration parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Post successful.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRuleListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Evaluate import NSG Rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationEvaluateImport.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurations"
        ],
        "summary": "Get",
        "description": "Retrieves a network manager security Configuration.",
        "operationId": "SecurityConfigurations_Get",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security configurations": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SecurityConfigurations"
        ],
        "summary": "Create Or Update",
        "description": "Creates or updates a network manager security Configuration in a subscription.  This operation creates or updates a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurations_CreateOrUpdate",
        "parameters": [
          {
            "name": "securityConfiguration",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            },
            "description": "The security Configuration to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Configuration",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "201": {
            "description": "Created Configuration",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create network manager security Configuration for a subscription": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationPut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "SecurityConfigurations"
        ],
        "summary": "Delete",
        "description": "Deletes a network manager security Configuration in a subscription. This operation deletes the network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurations_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete network manager security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_Update",
        "description": "Update a SecurityConfiguration.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network manager SecurityConfiguration tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager SecurityConfiguration.",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch security configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/adminRules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurationAdminRules"
        ],
        "summary": "List",
        "description": "Retrieves a network manager security Configuration admin rule. This operation retrieves a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationAdminRules_List",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationAdminRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security configuration rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationAdminRulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/adminRules/{ruleName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationsRuleParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurationAdminRules"
        ],
        "summary": "Get",
        "description": "Retrieves a network manager security Configuration admin rule in a subscription. This operation retrieves a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationAdminRules_Get",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationAdminRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security admin rule for a specific security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationAdminRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SecurityConfigurationAdminRules"
        ],
        "summary": "Create Or Update",
        "description": "Creates or updates a admin rule for a network manager security Configuration in a subscription. This operation creates or updates an admin rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationAdminRules_CreateOrUpdate",
        "parameters": [
          {
            "name": "securityConfigurationAdminRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationAdminRule"
            },
            "description": "The security rule to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated rule",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationAdminRule"
            }
          },
          "201": {
            "description": "Created rule",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationAdminRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a rule for a network manager security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationAdminRulePut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "SecurityConfigurationAdminRules"
        ],
        "summary": "Delete",
        "description": "Deletes an admin rule for a network manager security Configuration in a subscription. This operation deletes an admin rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationAdminRules_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete security admin rule for a specific security Configuration for a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationAdminRuleDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SecurityConfigurationAdminRules"
        ],
        "operationId": "SecurityConfigurationAdminRules_Update",
        "description": "Update a SecurityConfiguration Admin Rule.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network manager SecurityConfiguration admin rule tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager SecurityConfiguration admin Rule.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationAdminRule"
            }
          },
          "default": {
            "description": "Resource Provider error response.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch security admin rule": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationAdminRulePatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/userRules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurationUserRules"
        ],
        "summary": "List",
        "description": "Retrieves a network manager security Configuration user rule. This operation retrieves a user rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationUserRules_List",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUserRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security user rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationUserRulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/userRules/{ruleName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationsRuleParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurationUserRules"
        ],
        "summary": "Get",
        "description": "Retrieves a network manager security Configuration user rule in a subscription. This operation retrieves a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationUserRules_Get",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUserRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security user rule for a specific security Configuration for a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationUserRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SecurityConfigurationUserRules"
        ],
        "summary": "Create Or Update",
        "description": "Creates or updates a user rule for a network manager security Configuration in a subscription. This operation creates or updates a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationUserRules_CreateOrUpdate",
        "parameters": [
          {
            "name": "securityConfigurationUserRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUserRule"
            },
            "description": "The security rule to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated rule",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUserRule"
            }
          },
          "201": {
            "description": "Created rule",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUserRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a user rule": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationUserRulePut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "SecurityConfigurationUserRules"
        ],
        "summary": "Delete",
        "description": "Deletes a user rule for a network manager security Configuration in a subscription. This operation deletes a user rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationUserRules_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete security user rule for a specific security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationUserRuleDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SecurityConfigurationUserRules"
        ],
        "operationId": "SecurityConfigurationUserRules_Update",
        "description": "Update a SecurityConfiguration User Rule.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network manager SecurityConfiguration rule tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager SecurityConfiguration Rule.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUserRule"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch security user rule": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationUserRulePatch.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SecurityConfigurationParameter": {
      "name": "configurationName",
      "in": "path",
      "description": "The name of the network manager security Configuration.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SecurityConfigurationsRuleParameter": {
      "name": "ruleName",
      "in": "path",
      "description": "The name of the rule.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "ListPageSizeParameter": {
      "name": "$top",
      "description": "May be used to limit the number of results in a page for list queries.",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skiptoken",
      "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "SecurityConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityConfigurationPropertiesFormat",
          "description": "Indicates the properties for the managed network security Configuration."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "Defines the security Configuration for a managed network"
    },
    "SecurityConfigurationPropertiesFormat": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name of the network manager security Configuration."
        },
        "description": {
          "type": "string",
          "description": "A description of the network manager security Configuration."
        },
        "securityType": {
          "type": "string",
          "description": "Security Type.",
          "enum": [
            "AdminPolicy",
            "UserPolicy"
          ],
          "x-ms-enum": {
            "name": "SecurityType",
            "modelAsString": true
          }
        },
        "deleteExistingNSGs": {
          "type": "boolean",
          "description": "Flag if delete existing network security groups."
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "Defines the security Configuration properties for a managed network"
    },
    "SecurityConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfiguration"
          },
          "description": "Gets a page of security configurations"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "A list of managed network security configurations"
    },
    "SecurityConfigurationAdminRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfigurationAdminRule"
          },
          "description": "A list of managed network security configuration admin rules"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Security Configuration Admin Rule List Result."
    },
    "SecurityConfigurationUserRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfigurationUserRule"
          },
          "description": "A list of network manager security configuration user rules"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Security Configuration User Rule List Result."
    },
    "SecurityConfigurationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfigurationRule"
          },
          "description": "A list of network manager security configuration rules"
        },
        "failedImports": {
          "$ref": "#/definitions/FailedImports",
          "description": "Failed Imports."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Security Configuration Rule List Result."
    },
    "SecurityConfigurationAdminRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityConfigurationRuleAdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "Network security admin rule."
    },
    "SecurityConfigurationRuleAdminPropertiesFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule. Restricted to 140 chars."
        },
        "protocol": {
          "type": "string",
          "description": "Network protocol this rule applies to.",
          "enum": [
            "Tcp",
            "Udp",
            "Icmp",
            "Esp",
            "Any",
            "Ah"
          ],
          "x-ms-enum": {
            "name": "SecurityConfigurationRuleProtocol",
            "modelAsString": true
          }
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "access": {
          "$ref": "#/definitions/SecurityConfigurationRuleAccess",
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "#/definitions/SecurityConfigurationRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        }
      },
      "required": [
        "protocol",
        "direction"
      ],
      "description": "Security rule resource."
    },
    "SecurityConfigurationUserRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityConfigurationUserRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security user rule"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "Network security admin rule."
    },
    "SecurityConfigurationUserRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule. Restricted to 140 chars."
        },
        "protocol": {
          "type": "string",
          "description": "Network protocol this rule applies to.",
          "enum": [
            "Tcp",
            "Udp",
            "Icmp",
            "Esp",
            "Any",
            "Ah"
          ],
          "x-ms-enum": {
            "name": "SecurityConfigurationRuleProtocol",
            "modelAsString": true
          }
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "access": {
          "$ref": "#/definitions/SecurityConfigurationRuleAccess",
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "#/definitions/SecurityConfigurationRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        }
      },
      "required": [
        "protocol",
        "direction"
      ],
      "description": "Security rule resource."
    },
    "SecurityConfigurationRuleAccess": {
      "type": "string",
      "description": "Whether network traffic is allowed or denied.",
      "enum": [
        "Allow",
        "Deny",
        "AlwaysAllow"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleAccess",
        "modelAsString": true
      }
    },
    "SecurityConfigurationRuleDirection": {
      "type": "string",
      "description": "The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic.",
      "enum": [
        "Inbound",
        "Outbound"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleDirection",
        "modelAsString": true
      }
    },
    "NetworkManagerSecurityGroupItem": {
      "type": "object",
      "properties": {
        "networkGroupId": {
          "type": "string",
          "description": "Network manager group Id."
        }
      },
      "description": "Network Manager Security Group Item."
    },
    "AddressPrefixItem": {
      "type": "object",
      "properties": {
        "addressPrefix": {
          "type": "string",
          "description": "Address Prefix."
        },
        "addressPrefixType": {
          "type": "string",
          "description": "Address Prefix Type.",
          "enum": [
            "IPPrefix",
            "ServiceTag"
          ],
          "x-ms-enum": {
            "name": "AddressPrefixType",
            "modelAsString": true
          }
        }
      },
      "description": "Address Prefix Item."
    },
    "NetworkManagerSecurityConfigurationImport": {
      "properties": {
        "networkSecurityGroupURI": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of nsg uris."
        },
        "importDenyRulesAsAdminRules": {
          "type": "boolean",
          "description": "Flag if Import Deny Rules As Admin Rules."
        },
        "adminSecurityConfigurationUri": {
          "type": "string",
          "description": "admin Security Configuration Uri."
        },
        "removeAllowVnetInboundRule": {
          "type": "boolean",
          "description": "Flag if Remove Allow Vnet Inbound Rule."
        },
        "removeAllowAzureLoadBalancerInboundRule": {
          "type": "boolean",
          "description": "Flag if Remove Allow Azure Load Balancer Inbound Rule."
        },
        "removeAllowVnetOutboundRule": {
          "type": "boolean",
          "description": "Flag if Remove Allow Vnet Outbound Rule."
        },
        "removeAllowInternetOutboundRule": {
          "type": "boolean",
          "description": "Flag if Remove Allow Internet Outbound Rule."
        }
      },
      "description": "Network Manager Security Configuration Import Parameters."
    },
    "SecurityConfigurationImportResult": {
      "properties": {
        "userSecurityConfiguration": {
          "type": "string",
          "description": "User Security Configuration."
        },
        "adminSecurityConfiguration": {
          "type": "string",
          "description": "Admin Security Configuration."
        },
        "failedImports": {
          "$ref": "#/definitions/FailedImports",
          "description": "failed Imports code and reason"
        }
      },
      "description": "Security Configuration Import Result."
    },
    "FailedImports": {
      "type": "object",
      "description": "Failed Imports.",
      "properties": {
        "failureCode": {
          "type": "string",
          "description": "Failure Code."
        },
        "failureReason": {
          "type": "string",
          "description": "Failure Reason."
        }
      }
    },
    "SecurityConfigurationRule": {
      "properties": {
        "securityType": {
          "type": "string",
          "enum": [
            "AdminPolicy",
            "UserPolicy"
          ],
          "x-ms-enum": {
            "name": "SecurityType",
            "modelAsString": true
          },
          "description": "Commit Type."
        },
        "securityAdminRule": {
          "$ref": "#/definitions/SecurityConfigurationAdminRule",
          "description": "Security Admin Rule."
        },
        "securityUserRule": {
          "$ref": "#/definitions/SecurityConfigurationUserRule",
          "description": "Security User Rule."
        }
      },
      "description": "General Security Configuration Rule."
    }
  }
}
