{
  "swagger": "2.0",
  "info": {
    "title": "NetworkGroup",
    "description": "The Microsoft Azure Network Group API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2020-08-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/{networkGroupName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkGroupNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkGroups"
        ],
        "operationId": "NetworkGroups_Get",
        "description": "Get the specified network group.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the network group.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsGet": {
            "$ref": "./examples/NetworkManagerGroupGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkGroups"
        ],
        "operationId": "NetworkGroups_CreateOrUpdate",
        "description": "Creates a network group.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            },
            "description": "Parameters supplied to the specify which network group need to create"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network group.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag.",
                "type": "string"
              }
            }
          },
          "201": {
            "description": "Created - Returns information about the network group.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsPut": {
            "$ref": "./examples/NetworkManagerGroupPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkGroups"
        ],
        "operationId": "NetworkGroups_Delete",
        "description": "Deletes a network group.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "NetworkGroupsDelete": {
            "$ref": "./examples/NetworkManagerGroupDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkGroups"
        ],
        "operationId": "NetworkGroups_Patch",
        "description": "Patch a Network Group.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupAction"
            },
            "description": "Parameters supplied to update network manager group."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager group tags.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "patch network manager group": {
            "$ref": "./examples/NetworkManagerGroupPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/": {
      "get": {
        "tags": [
          "NetworkGroups"
        ],
        "operationId": "NetworkGroups_List",
        "description": "Get the specified network group list.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the network group.",
            "schema": {
              "$ref": "#/definitions/NetworkGroupListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsList": {
            "$ref": "./examples/NetworkManagerGroupList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkGroup": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkGroupProperties",
          "description": "The Network Group properties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "The Managed Network resource"
    },
    "NetworkGroupListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkGroup"
          },
          "description": "Gets a page of NetworkGroup"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Result of the request to list NetworkGroup. It contains a list of groups and a URL link to get the next set of results."
    },
    "NetworkGroupProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the network group."
        },
        "description": {
          "type": "string",
          "description": "A description of the network group."
        },
        "memberType": {
          "type": "string",
          "description": "Group member Type.",
          "enum": [
            "VirtualNetwork",
            "Subnet"
          ],
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": true
          }
        },
        "groupMembers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/groupMembersItem"
          },
          "description": "Group members of network group."
        },
        "conditionalMembership": {
          "type": "string",
          "description": "Network group conditional filter."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "Properties of Managed Network"
    },
    "groupMembersItem": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "ResourceId Id."
        }
      },
      "description": "GroupMembers Item."
    },
    "GroupAction": {
      "properties": {
        "op": {
          "type": "string",
          "enum": [
            "Add",
            "Remove"
          ],
          "x-ms-enum": {
            "name": "op",
            "modelAsString": true
          }
        },
        "path": {
          "type": "string",
          "description": "Network manager group property path."
        },
        "value": {
          "type": "string",
          "description": "Network manager property value."
        }
      },
      "description": "Group action for patch operations."
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "NetworkGroupNameParameter": {
      "name": "networkGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network group to get.",
      "x-ms-parameter-location": "method"
    }
  }
}
