{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2020-08-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualApplianceSites/{siteName}": {
      "delete": {
        "tags": [
          "VirtualApplianceSites"
        ],
        "operationId": "NetworkVirtualApplianceSites_Delete",
        "description": "Deletes the specified site for Virtual Appliances.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the site."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Virtual Appliance Site": {
            "$ref": "./examples/NetworkVirtualApplianceSiteDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "VirtualApplianceSites"
        ],
        "operationId": "NetworkVirtualApplianceSites_Get",
        "description": "Gets the specified Virtual Appliance Site.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the site."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a Network Virtual Appliance Site resource.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetNetwork Virtual Appliance Site": {
            "$ref": "./examples/NetworkVirtualApplianceSiteGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "VirtualApplianceSites"
        ],
        "operationId": "NetworkVirtualApplianceSites_CreateOrUpdate",
        "description": "Creates or updates the specified Network Virtual Appliance Site.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the site."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceSite"
            },
            "description": "Parameters supplied to the create or update Network Virtual Appliance Site operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting Network Virtual Appliance Site resource.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceSite"
            }
          },
          "201": {
            "description": "Request received successfully. The operation returns the resulting Network Virtual Appliance Site resource.",
            "schema": {
              "$ref": "#/definitions/NetworkVirtualApplianceSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Network Virtual Appliance Site": {
            "$ref": "./examples/NetworkVirtualApplianceSitePut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualApplianceSites": {
      "get": {
        "tags": [
          "VirtualApplianceSites"
        ],
        "operationId": "NetworkVirtualApplianceSites_ListByResourceGroup",
        "description": "Lists all Network Virtual Appliance Sites in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The operation returns a list of Network Virtual Appliance site resources.",
            "schema": {
              "$ref": "#/definitions/VirtualApplianceSiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Network Virtual Appliance sites under a resource group": {
            "$ref": "./examples/NetworkVirtualApplianceSiteListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualApplianceSites": {
      "get": {
        "tags": [
          "NetworkVirtualAppliances"
        ],
        "operationId": "NetworkVirtualApplianceSites_List",
        "description": "Gets all Virtual Appliance sites in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The operation returns a list of Network Appliance site resources.",
            "schema": {
              "$ref": "#/definitions/VirtualApplianceSiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Virtual Appliances sites for a given subscription": {
            "$ref": "./examples/NetworkVirtualApplianceSiteListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkVirtualApplianceSite": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkVirtualApplianceSiteProperties",
          "description": "The properties of the Virtual Appliance Sites."
        },
        "name": {
          "type": "string",
          "description": "Name of the virtual appliance site."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Site type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "Virtual Appliance Site resource."
    },
    "NetworkVirtualApplianceSiteProperties": {
      "properties": {
        "networkVirtualApplianceList": {
          "type": "array",
          "readOnly": false,
          "description": "List of Network Virtual Appliances under a specific virtual appliance site.",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          }
        },
        "addressPrefix": {
          "type": "string",
          "readOnly": false,
          "description": "Address Prefix."
        },
        "o365Policy": {
          "readOnly": false,
          "description": "Office 365 Policy.",
          "$ref": "#/definitions/SiteOffice365PolicyProperties"
        },
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState"
        }
      },
      "description": "Properties of the rule group."
    },
    "SiteOffice365PolicyProperties": {
      "properties": {
        "breakOutCategories": {
          "readOnly": false,
          "description": "Office 365 breakout categories.",
          "$ref": "#/definitions/SiteBreakOutCategoryPolicies"
        }
      },
      "description": "Network Virtual Appliance Site office 365 policy."
    },
    "SiteBreakOutCategoryPolicies": {
      "properties": {
        "allow": {
          "type": "boolean",
          "readOnly": false,
          "description": "Flag to control breakout of o365 allow category."
        },
        "optimize": {
          "type": "boolean",
          "readOnly": false,
          "description": "Flag to control breakout of o365 optimize category."
        },
        "default": {
          "type": "boolean",
          "readOnly": false,
          "description": "Flag to control breakout of o365 default category."
        }
      },
      "description": "Network Virtual Appliance Sku Properties."
    },
    "VirtualApplianceSiteListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkVirtualApplianceSite"
          },
          "description": "List of Network Virtual Appliance sites."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of results."
        }
      },
      "description": "Response for ListNetworkVirtualApplianceSites API service call."
    }
  }
}
