{
    "swagger": "2.0",
    "info": {
        "title": "Security Insights",
        "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
        "version": "2019-01-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/providers/Microsoft.SecurityInsights/operations": {
            "get": {
                "operationId": "Operations_List",
                "description": "Lists all operations available Azure Security Insights Resource Provider.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK. Successfully retrieved operations list.",
                        "schema": {
                            "$ref": "#/definitions/operationsList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules": {
            "get": {
                "x-ms-examples": {
                    "Get all scheduled alert rules.": {
                        "$ref": "./examples/alertRules/GetScheduledAlertRules.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Gets all alert rules.",
                "operationId": "AlertRules_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertRulesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}": {
            "get": {
                "x-ms-examples": {
                    "Get a scheduled alert rule.": {
                        "$ref": "./examples/alertRules/GetScheduledAlertRuleById.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Gets the alert rule.",
                "operationId": "AlertRules_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertRule"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates a scheduled alert rule.": {
                        "$ref": "./examples/alertRules/CreateScheduledAlertRule.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Creates or updates the alert rule.",
                "operationId": "AlertRules_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/AlertRule"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertRule"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AlertRule"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a scheduled alert rule.": {
                        "$ref": "./examples/alertRules/DeleteScheduledAlertRule.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Delete the alert rule.",
                "operationId": "AlertRules_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions": {
            "get": {
                "x-ms-examples": {
                    "Get all actions of alert rule.": {
                        "$ref": "./examples/actions/GetAllActionsByAlertRule.json"
                    }
                },
                "tags": [
                    "Actions"
                ],
                "description": "Gets all actions of alert rule.",
                "operationId": "Actions_ListByAlertRule",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ActionsList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions/{actionId}": {
            "get": {
                "x-ms-examples": {
                    "Get an action of alert rule.": {
                        "$ref": "./examples/actions/GetActionOfAlertRuleById.json"
                    }
                },
                "tags": [
                    "Actions"
                ],
                "description": "Gets the action of alert rule.",
                "operationId": "AlertRules_GetAction",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/ActionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Action"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates an action of alert rule.": {
                        "$ref": "./examples/actions/CreateActionOfAlertRule.json"
                    }
                },
                "tags": [
                    "Actions"
                ],
                "description": "Creates or updates the action of alert rule.",
                "operationId": "AlertRules_CreateAction",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/ActionId"
                    },
                    {
                        "$ref": "#/parameters/Action"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Action"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Action"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete an action of alert rule.": {
                        "$ref": "./examples/actions/DeleteActionOfAlertRule.json"
                    }
                },
                "tags": [
                    "Actions"
                ],
                "description": "Delete the action of alert rule.",
                "operationId": "AlertRules_DeleteAction",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/ActionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases": {
            "get": {
                "x-ms-examples": {
                    "Get all cases.": {
                        "$ref": "./examples/cases/GetCases.json"
                    }
                },
                "tags": [
                    "Cases"
                ],
                "description": "Gets all cases.",
                "operationId": "Cases_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CaseList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases/{caseId}": {
            "get": {
                "x-ms-examples": {
                    "Get a case.": {
                        "$ref": "./examples/cases/GetCaseById.json"
                    }
                },
                "tags": [
                    "Cases"
                ],
                "description": "Gets a case.",
                "operationId": "Cases_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/CaseId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Case"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates a case.": {
                        "$ref": "./examples/cases/CreateCase.json"
                    }
                },
                "tags": [
                    "Cases"
                ],
                "description": "Creates or updates the case.",
                "operationId": "Cases_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/CaseId"
                    },
                    {
                        "$ref": "#/parameters/Case"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Case"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Case"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a case.": {
                        "$ref": "./examples/cases/DeleteCase.json"
                    }
                },
                "tags": [
                    "Cases"
                ],
                "description": "Delete the case.",
                "operationId": "Cases_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/CaseId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks": {
            "get": {
                "x-ms-examples": {
                    "Get all bookmarks.": {
                        "$ref": "./examples/bookmarks/GetBookmarks.json"
                    }
                },
                "tags": [
                    "Bookmarks"
                ],
                "description": "Gets all bookmarks.",
                "operationId": "Bookmarks_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BookmarkList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}": {
            "get": {
                "x-ms-examples": {
                    "Get a bookmark.": {
                        "$ref": "./examples/bookmarks/GetBookmarkById.json"
                    }
                },
                "tags": [
                    "Bookmarks"
                ],
                "description": "Gets a bookmark.",
                "operationId": "Bookmarks_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/BookmarkId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Bookmark"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates a bookmark.": {
                        "$ref": "./examples/bookmarks/CreateBookmark.json"
                    }
                },
                "tags": [
                    "Bookmarks"
                ],
                "description": "Creates or updates the bookmark.",
                "operationId": "Bookmarks_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/BookmarkId"
                    },
                    {
                        "$ref": "#/parameters/Bookmark"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Bookmark"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Bookmark"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a bookmark.": {
                        "$ref": "./examples/bookmarks/DeleteBookmark.json"
                    }
                },
                "tags": [
                    "Bookmarks"
                ],
                "description": "Delete the bookmark.",
                "operationId": "Bookmarks_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/BookmarkId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors": {
            "get": {
                "x-ms-examples": {
                    "Get all data connectors.": {
                        "$ref": "./examples/dataConnectors/GetDataConnectors.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Gets all data connectors.",
                "operationId": "DataConnectors_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataConnectorList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors/{dataConnectorId}": {
            "get": {
                "x-ms-examples": {
                    "Get an Office365 data connector.": {
                        "$ref": "./examples/dataConnectors/GetOfficeDataConnetorById.json"
                    },
                    "Get a TI data connector.": {
                        "$ref": "./examples/dataConnectors/GetThreatIntelligenceById.json"
                    },
                    "Get a MCAS data connector.": {
                        "$ref": "./examples/dataConnectors/GetMicrosoftCloudAppSecurityById.json"
                    },
                    "Get a ASC data connector.": {
                        "$ref": "./examples/dataConnectors/GetAzureSecurityCenterById.json"
                    },
                    "Get an AAD data connector.": {
                        "$ref": "./examples/dataConnectors/GetAzureActiveDirectoryById.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Gets a data connector.",
                "operationId": "DataConnectors_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/DataConnectorId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataConnector"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates an Office365 data connector.": {
                        "$ref": "./examples/dataConnectors/CreateOfficeDataConnetor.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Creates or updates the data connector.",
                "operationId": "DataConnectors_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/DataConnectorId"
                    },
                    {
                        "$ref": "#/parameters/DataConnector"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataConnector"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/DataConnector"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete an Office365 data connector.": {
                        "$ref": "./examples/dataConnectors/DeleteOfficeDataConnetor.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Delete the data connector.",
                "operationId": "DataConnectors_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/DataConnectorId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entities": {
            "get": {
                "x-ms-examples": {
                    "Get all entities.": {
                        "$ref": "./examples/entities/GetEntities.json"
                    }
                },
                "tags": [
                    "Entities"
                ],
                "description": "Gets all entities.",
                "operationId": "Entities_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EntityList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entities/{entityId}": {
            "get": {
                "x-ms-examples": {
                    "Get an account entity.": {
                        "$ref": "./examples/entities/GetAccountEntityById.json"
                    },
                    "Get an host entity.": {
                        "$ref": "./examples/entities/GetHostEntityById.json"
                    },
                    "Get an file entity.": {
                        "$ref": "./examples/entities/GetFileEntityById.json"
                    }
                },
                "tags": [
                    "Entities"
                ],
                "description": "Gets an entity.",
                "operationId": "Entities_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/EntityId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Entity"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/officeConsents": {
            "get": {
                "x-ms-examples": {
                    "Get all office consents.": {
                        "$ref": "./examples/officeConsents/GetOfficeConsents.json"
                    }
                },
                "tags": [
                    "Office Consents"
                ],
                "description": "Gets all office365 consents.",
                "operationId": "OfficeConsents_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfficeConsentList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/officeConsents/{consentId}": {
            "get": {
                "x-ms-examples": {
                    "Get an office consent.": {
                        "$ref": "./examples/officeConsents/GetOfficeConsentsById.json"
                    }
                },
                "tags": [
                    "Office Consents"
                ],
                "description": "Gets an office365 consent.",
                "operationId": "OfficeConsents_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/ConsentId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfficeConsent"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete an office consent.": {
                        "$ref": "./examples/officeConsents/DeleteOfficeConsents.json"
                    }
                },
                "tags": [
                    "Office Consents"
                ],
                "description": "Delete the office365 consent.",
                "operationId": "OfficeConsents_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/ConsentId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/settings/{settingsName}": {
            "get": {
                "x-ms-examples": {
                    "Get UEBA settings.": {
                        "$ref": "./examples/settings/GetUebaSettings.json"
                    },
                    "Get Fusion settings.": {
                        "$ref": "./examples/settings/GetFusionSettings.json"
                    }
                },
                "tags": [
                    "Settings"
                ],
                "description": "Gets a stting.",
                "operationId": "ProductSettings_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/SettingsName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Settings"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Update UEBA settings.": {
                        "$ref": "./examples/settings/UpdateUebaSettings.json"
                    }
                },
                "tags": [
                    "Settings"
                ],
                "description": "Creates or updates the setting.",
                "operationId": "ProductSettings_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/SettingsName"
                    },
                    {
                        "$ref": "#/parameters/Settings"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Settings"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "operation": {
            "description": "Operation provided by provider",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the operation"
                },
                "display": {
                    "type": "object",
                    "description": "Properties of the operation",
                    "properties": {
                        "provider": {
                            "type": "string",
                            "description": "Provider name"
                        },
                        "resource": {
                            "type": "string",
                            "description": "Resource name"
                        },
                        "operation": {
                            "type": "string",
                            "description": "Operation name"
                        },
                        "description": {
                            "type": "string",
                            "description": "Description of the operation"
                        }
                    }
                }
            }
        },
        "operationsList": {
            "description": "Lists the operations available in the SecurityInsights RP.",
            "properties": {
                "nextLink": {
                    "description": "URL to fetch the next set of operations.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of operations",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operation"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "CloudError": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error response structure.",
            "properties": {
                "error": {
                    "x-ms-client-flatten": true,
                    "description": "Error data",
                    "$ref": "#/definitions/CloudErrorBody"
                }
            }
        },
        "CloudErrorBody": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error details.",
            "properties": {
                "code": {
                    "readOnly": true,
                    "type": "string",
                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
                },
                "message": {
                    "readOnly": true,
                    "type": "string",
                    "description": "A message describing the error, intended to be suitable for display in a user interface."
                }
            }
        },
        "AlertRulesList": {
            "description": "List all the alert rules.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of alert rules.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of alert rules.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AlertRule"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "AlertRule": {
            "type": "object",
            "description": "Alert rule.",
            "discriminator": "kind",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/AlertRuleKind"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the alert rule."
                }
            }
        },
        "AlertRuleKind": {
            "type": "object",
            "description": "Describes an Azure resource with kind.",
            "properties": {
                "kind": {
                    "type": "string",
                    "description": "The kind of the alert rule",
                    "enum": [
                        "Scheduled"
                    ],
                    "x-ms-enum": {
                        "name": "AlertRuleKind",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Scheduled"
                            }
                        ]
                    }
                }
            }
        },
        "ScheduledAlertRule": {
            "x-ms-discriminator-value": "Scheduled",
            "type": "object",
            "description": "Represents scheduled alert rule.",
            "allOf": [
                {
                    "$ref": "#/definitions/AlertRule"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Scheduled alert rule properties",
                    "$ref": "#/definitions/ScheduledAlertRuleProperties"
                }
            }
        },
        "ScheduledAlertRuleProperties": {
            "type": "object",
            "description": "Alert rule property bag.",
            "properties": {
                "displayName": {
                    "type": "string",
                    "description": "The display name for alerts created by this alert rule."
                },
                "description": {
                    "type": "string",
                    "description": "The description of the alert rule."
                },
                "severity": {
                    "type": "string",
                    "enum": [
                        "High",
                        "Medium",
                        "Low",
                        "Informational"
                    ],
                    "x-ms-enum": {
                        "name": "AlertSeverity",
                        "modelAsString": false,
                        "values": [
                            {
                                "value": "High",
                                "description": "High severity"
                            },
                            {
                                "value": "Medium",
                                "description": "Medium severity"
                            },
                            {
                                "value": "Low",
                                "description": "Low severity"
                            },
                            {
                                "value": "Informational",
                                "description": "Informational severity"
                            }
                        ]
                    },
                    "description": "The severity for alerts created by this alert rule."
                },
                "enabled": {
                    "type": "boolean",
                    "description": "Determines whether this alert rule is enabled or disabled."
                },
                "query": {
                    "type": "string",
                    "description": "The query that creates alerts for this rule."
                },
                "queryFrequency": {
                    "type": "string",
                    "format": "duration",
                    "description": "The frequency (in ISO 8601 duration format) for this alert rule to run."
                },
                "queryPeriod": {
                    "type": "string",
                    "format": "duration",
                    "description": "The period (in ISO 8601 duration format) that this alert rule looks at."
                },
                "triggerOperator": {
                    "type": "string",
                    "enum": [
                        "GreaterThan",
                        "LessThan",
                        "Equal",
                        "NotEqual"
                    ],
                    "x-ms-enum": {
                        "name": "TriggerOperator",
                        "modelAsString": false
                    },
                    "description": "The operation against the threshold that triggers alert rule."
                },
                "triggerThreshold": {
                    "type": "integer",
                    "description": "The threshold triggers this alert rule."
                },
                "suppressionEnabled": {
                    "type": "boolean",
                    "description": "Determines whether the suppression for this alert rule is enabled or disabled."
                },
                "suppressionDuration": {
                    "type": "string",
                    "format": "duration",
                    "description": "The suppression (in ISO 8601 duration format) to wait since last time this alert rule been triggered."
                },
                "lastModifiedUtc": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The last time that this alert has been modified."
                }
            },
            "required": [
                "ruleName",
                "description",
                "severity",
                "enabled",
                "query",
                "queryFrequency",
                "queryPeriod",
                "triggerOperator",
                "triggerThreshold",
                "suppressionEnabled",
                "suppressionDuration"
            ]
        },
        "ActionsList": {
            "description": "List all the actions.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of actions.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of actions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Action"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "Action": {
            "type": "object",
            "description": "Action for alert rule.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the action."
                },
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Action properties",
                    "$ref": "#/definitions/ActionProperties"
                }
            }
        },
        "ActionProperties": {
            "type": "object",
            "description": "Action property bag.",
            "properties": {
                "triggerUri": {
                    "type": "string",
                    "description": "The uri for the action to trigger."
                }
            }
        },
        "CaseList": {
            "description": "List all the cases.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of cases.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of cases.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Case"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "Case": {
            "type": "object",
            "description": "Represents a case in Azure Security Insights.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the alert rule."
                },
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Case properties",
                    "$ref": "#/definitions/CaseProperties"
                }
            }
        },
        "CaseProperties": {
            "type": "object",
            "description": "Describes case properties",
            "properties": {
                "lastUpdatedTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The last time the case was updated"
                },
                "createdTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the case was created"
                },
                "endTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The end time of the case"
                },
                "startTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The start time of the case"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Label"
                    },
                    "description": "List of labels relevant to this case"
                },
                "description": {
                    "type": "string",
                    "description": "The description of the case"
                },
                "title": {
                    "type": "string",
                    "description": "The title of the case"
                },
                "assignedTo": {
                    "type": "object",
                    "description": "Describes a user that the case is assigned to",
                    "$ref": "#/definitions/UserInfo"
                },
                "severity": {
                    "type": "string",
                    "description": "The severity of the case",
                    "enum": [
                        "Critical",
                        "High",
                        "Medium",
                        "Low",
                        "Informational"
                    ],
                    "x-ms-enum": {
                        "name": "CaseSeverity",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Critical",
                                "description": "Critical severity"
                            },
                            {
                                "value": "High",
                                "description": "High severity"
                            },
                            {
                                "value": "Medium",
                                "description": "Medium severity"
                            },
                            {
                                "value": "Low",
                                "description": "Low severity"
                            },
                            {
                                "value": "Informational",
                                "description": "Informational severity"
                            }
                        ]
                    }
                },
                "status": {
                    "type": "string",
                    "description": "The status of the case",
                    "enum": [
                        "Draft",
                        "Open",
                        "InProgress",
                        "Closed"
                    ],
                    "x-ms-enum": {
                        "name": "Status",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Draft",
                                "description": "Case that wasn't promoted yet to active"
                            },
                            {
                                "value": "Open",
                                "description": "An active case which isn't handled currently"
                            },
                            {
                                "value": "InProgress",
                                "description": "An active case which is handled"
                            },
                            {
                                "value": "Closed",
                                "description": "A non active case"
                            }
                        ]
                    }
                },
                "closeReason": {
                    "type": "string",
                    "description": "The reason the case was closed",
                    "enum": [
                        "Resolved",
                        "Dismissed",
                        "Other"
                    ],
                    "x-ms-enum": {
                        "name": "CloseReason",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Resolved",
                                "description": "Case was resolved"
                            },
                            {
                                "value": "Dismissed",
                                "description": "Case was dismissed"
                            },
                            {
                                "value": "Other",
                                "description": "Case was closed for another reason"
                            }
                        ]
                    }
                }
            },
            "required": [
                "title",
                "severity",
                "status"
            ]
        },
        "BookmarkList": {
            "description": "List all the bookmarks.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of cases.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of bookmarks.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Bookmark"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "Bookmark": {
            "type": "object",
            "description": "Represents a bookmark in Azure Security Insights.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the bookmark."
                },
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Bookmark properties",
                    "$ref": "#/definitions/BookmarkProperties"
                }
            }
        },
        "BookmarkProperties": {
            "type": "object",
            "description": "Describes bookmark properties",
            "properties": {
                "displayName": {
                    "type": "string",
                    "description": "The display name of the bookmark"
                },
                "lastUpdatedTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The last time the bookmark was updated"
                },
                "createdTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the bookmark was created"
                },
                "createdBy": {
                    "type": "object",
                    "description": "Describes a user that created the bookmark",
                    "$ref": "#/definitions/UserInfo"
                },
                "updatedBy": {
                    "type": "object",
                    "description": "Describes a user that updated the bookmark",
                    "$ref": "#/definitions/UserInfo"
                },
                "notes": {
                    "type": "string",
                    "description": "The notes of the bookmark"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Label"
                    },
                    "description": "List of labels relevant to this bookmark"
                },
                "query": {
                    "type": "string",
                    "description": "The query of the bookmark."
                }
            },
            "required": [
                "displayName",
                "query"
            ]
        },
        "UserInfo": {
            "type": "object",
            "description": "User information that made some action",
            "properties": {
                "objectId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The object id of the user."
                },
                "email": {
                    "type": "string",
                    "description": "The email of the user."
                },
                "name": {
                    "type": "string",
                    "description": "The name of the user."
                }
            }
        },
        "Label": {
            "description": "Label that will be used to tag and filter on.",
            "type": "string"
        },
        "DataConnectorList": {
            "description": "List all the data connectors.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of data connectors.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of data connectors.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DataConnector"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "DataConnector": {
            "type": "object",
            "description": "Data connector.",
            "discriminator": "kind",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/DataConnectorKind"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the data connector."
                }
            }
        },
        "DataConnectorKind": {
            "type": "object",
            "description": "Describes an Azure resource with kind.",
            "properties": {
                "kind": {
                    "type": "string",
                    "description": "The kind of the data connector",
                    "enum": [
                        "AzureActiveDirectory",
                        "AzureSecurityCenter",
                        "MicrosoftCloudAppSecurity",
                        "ThreatIntelligence",
                        "Office365"
                    ],
                    "x-ms-enum": {
                        "name": "DataConnectorKind",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "AzureActiveDirectory"
                            },
                            {
                                "value": "AzureSecurityCenter"
                            },
                            {
                                "value": "MicrosoftCloudAppSecurity"
                            },
                            {
                                "value": "ThreatIntelligence"
                            },
                            {
                                "value": "Office365"
                            }
                        ]
                    }
                }
            }
        },
        "DataConnectorTenantId": {
            "type": "object",
            "description": "Properties data connector on tenant level.",
            "properties": {
                "tenantId": {
                    "type": "string",
                    "description": "The tenant id to connect to, and get the data from."
                }
            }
        },
        "OfficeDataConnector": {
            "x-ms-discriminator-value": "Office365",
            "type": "object",
            "description": "Represents office data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Office data connector properties.",
                    "$ref": "#/definitions/OfficeDataConnectorProperties"
                }
            }
        },
        "OfficeDataConnectorProperties": {
            "type": "object",
            "description": "Office data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorTenantId"
                }
            ],
            "properties": {
                "dataTypes": {
                    "description": "The available data types for the connector.",
                    "$ref": "#/definitions/OfficeDataConnectorDataTypes"
                }
            }
        },
        "OfficeDataConnectorDataTypes": {
            "type": "object",
            "description": "The available data types for office data connector.",
            "properties": {
                "sharePoint": {
                    "type": "object",
                    "description": "SharePoint data type connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                },
                "exchange": {
                    "type": "object",
                    "description": "Exchange data type connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                }
            }
        },
        "TIDataConnector": {
            "x-ms-discriminator-value": "ThreatIntelligence",
            "type": "object",
            "description": "Represents threat intelligence data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "TI (Threat Intelligence) data connector properties.",
                    "$ref": "#/definitions/TIDataConnectorProperties"
                }
            }
        },
        "TIDataConnectorProperties": {
            "type": "object",
            "description": "TI (Threat Intelligence) data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorTenantId"
                }
            ],
            "properties": {
                "dataTypes": {
                    "description": "The available data types for the connector.",
                    "$ref": "#/definitions/TIDataConnectorDataTypes"
                }
            }
        },
        "TIDataConnectorDataTypes": {
            "type": "object",
            "description": "The available data types for TI (Threat Intelligence) data connector.",
            "properties": {
                "indicators": {
                    "type": "object",
                    "description": "Data type for indicators connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                }
            }
        },
        "AADDataConnector": {
            "x-ms-discriminator-value": "AzureActiveDirectory",
            "type": "object",
            "description": "Represents AAD (Azure Active Directory) data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "AAD (Azure Active Directory) data connector properties.",
                    "$ref": "#/definitions/AADDataConnectorProperties"
                }
            }
        },
        "AADDataConnectorProperties": {
            "type": "object",
            "description": "AAD (Azure Active Directory) data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorTenantId"
                },
                {
                    "$ref": "#/definitions/DataConnectorWithAlertsProperties"
                }
            ]
        },
        "ASCDataConnector": {
            "x-ms-discriminator-value": "AzureSecurityCenter",
            "type": "object",
            "description": "Represents ASC (Azure Security Center) data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "ASC (Azure Security Center) data connector properties.",
                    "$ref": "#/definitions/ASCDataConnectorProperties"
                }
            }
        },
        "ASCDataConnectorProperties": {
            "type": "object",
            "description": "MCAS (Microsoft Cloud App Security) data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorWithAlertsProperties"
                }
            ],
            "properties": {
                "subscriptionId": {
                    "type": "string",
                    "description": "The subscription id to connect to, and get the data from."
                }
            }
        },
        "MCASDataConnector": {
            "x-ms-discriminator-value": "MicrosoftCloudAppSecurity",
            "type": "object",
            "description": "Represents MCAS (Microsoft Cloud App Security) data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "MCAS (Microsoft Cloud App Security) data connector properties.",
                    "$ref": "#/definitions/MCASDataConnectorProperties"
                }
            }
        },
        "MCASDataConnectorProperties": {
            "type": "object",
            "description": "MCAS (Microsoft Cloud App Security) data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorTenantId"
                },
                {
                    "$ref": "#/definitions/DataConnectorWithAlertsProperties"
                }
            ]
        },
        "DataConnectorWithAlertsProperties": {
            "type": "object",
            "description": "Data connector properties.",
            "properties": {
                "dataTypes": {
                    "description": "The available data types for the connector.",
                    "$ref": "#/definitions/AlertsDataTypeOfDataConnector"
                }
            }
        },
        "AlertsDataTypeOfDataConnector": {
            "type": "object",
            "description": "Alerts data type for data connectors.",
            "properties": {
                "alerts": {
                    "type": "object",
                    "description": "Alerts data type connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                }
            }
        },
        "DataConnectorDataTypeCommon": {
            "type": "object",
            "description": "Common field for data type in data connectors.",
            "properties": {
                "state": {
                    "type": "string",
                    "description": "Describe whether this data type connection is enabled or not.",
                    "enum": [
                        "Enabled",
                        "Disabled"
                    ],
                    "x-ms-enum": {
                        "name": "DataTypeState",
                        "modelAsString": true
                    }
                }
            }
        },
        "EntityList": {
            "description": "List of all the entities.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of entities.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of etnties.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Entity"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "Entity": {
            "type": "object",
            "description": "Specific entity.",
            "discriminator": "kind",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/EntityKind"
                }
            ]
        },
        "EntityKind": {
            "type": "object",
            "description": "Describes an Azure resource with kind.",
            "properties": {
                "kind": {
                    "type": "string",
                    "description": "The kind of the entity",
                    "enum": [
                        "Account",
                        "Host",
                        "File"
                    ],
                    "x-ms-enum": {
                        "name": "EntityKind",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Account",
                                "description": "Entity represents account in the system."
                            },
                            {
                                "value": "Host",
                                "description": "Entity represents host in the system."
                            },
                            {
                                "value": "File",
                                "description": "Entity represents file in the system."
                            }
                        ]
                    }
                }
            }
        },
        "AccountEntity": {
            "x-ms-discriminator-value": "Account",
            "type": "object",
            "description": "Represents an account entity.",
            "allOf": [
                {
                    "$ref": "#/definitions/Entity"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Account entity properties",
                    "$ref": "#/definitions/AccountEntityProperties"
                }
            }
        },
        "AccountEntityProperties": {
            "type": "object",
            "description": "Account entity property bag.",
            "properties": {
                "accountName": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The name of the account. This field should hold only the name without any domain added to it, i.e. administrator."
                },
                "ntDomain": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The NETBIOS domain name as it appears in the alert format – domain\\username. Examples: NT AUTHORITY."
                },
                "upnSuffix": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The user principal name suffix for the account, in some cases it is also the domain name. Examples: contoso.com."
                },
                "sid": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The account security identifier, e.g. S-1-5-18."
                },
                "aadTenantId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The Azure Active Directory tenant id."
                },
                "aadUserId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The Azure Active Directory user id."
                },
                "puid": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The Azure Active Directory Passport User ID."
                },
                "isDomainJoined": {
                    "type": "boolean",
                    "readOnly": true,
                    "description": "Determines whether this is a domain account."
                },
                "objectGuid": {
                    "type": "string",
                    "readOnly": true,
                    "format": "uuid",
                    "description": "The objectGUID attribute is a single-value attribute that is the unique identifier for the object, assigned by active directory."
                }
            }
        },
        "HostEntity": {
            "x-ms-discriminator-value": "Host",
            "type": "object",
            "description": "Represents a host entity.",
            "allOf": [
                {
                    "$ref": "#/definitions/Entity"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Host entity properties",
                    "$ref": "#/definitions/HostEntityProperties"
                }
            }
        },
        "HostEntityProperties": {
            "type": "object",
            "description": "Host entity property bag.",
            "properties": {
                "dnsDomain": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The DNS domain that this host belongs to. Should contain the compete DNS suffix for the domain"
                },
                "ntDomain": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The NT domain that this host belongs to."
                },
                "hostName": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The hostname without the domain suffix."
                },
                "netBiosName": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The host name (pre-windows2000)."
                },
                "azureID": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The azure resource id of the VM."
                },
                "omsAgentID": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The OMS agent id, if the host has OMS agent installed."
                },
                "osFamily": {
                    "type": "string",
                    "enum": [
                        "Linux",
                        "Windows",
                        "Android",
                        "IOS"
                    ],
                    "x-ms-enum": {
                        "name": "OSFamily",
                        "modelAsString": false,
                        "values": [
                            {
                                "value": "Linux",
                                "description": "Host with Linux operartion system."
                            },
                            {
                                "value": "Windows",
                                "description": "Host with Windows operartion system."
                            },
                            {
                                "value": "Android",
                                "description": "Host with Android operartion system."
                            },
                            {
                                "value": "IOS",
                                "description": "Host with IOS operartion system."
                            }
                        ]
                    },
                    "description": "The operartion system type."
                },
                "osVersion": {
                    "type": "string",
                    "readOnly": true,
                    "description": "A free text representation of the operating system. This field is meant to hold specific versions the are more fine grained than OSFamily or future values not supported by OSFamily enumeration"
                },
                "isDomainJoined": {
                    "type": "boolean",
                    "readOnly": true,
                    "description": "Determines whether this host belongs to a domain."
                }
            }
        },
        "FileEntity": {
            "x-ms-discriminator-value": "File",
            "type": "object",
            "description": "Represents a file entity.",
            "allOf": [
                {
                    "$ref": "#/definitions/Entity"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "File entity properties",
                    "$ref": "#/definitions/FileEntityProperties"
                }
            }
        },
        "FileEntityProperties": {
            "type": "object",
            "description": "File entity property bag.",
            "properties": {
                "directory": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The full path to the file."
                },
                "fileName": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The file name without path (some alerts might not include path)."
                }
            }
        },
        "OfficeConsentList": {
            "description": "List of all the office365 consents.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of office consents.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of the consents.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeConsent"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "OfficeConsent": {
            "type": "object",
            "description": "Consent for Office365 tenant that already made.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Office consent properties",
                    "$ref": "#/definitions/OfficeConsentProperties"
                }
            }
        },
        "OfficeConsentProperties": {
            "type": "object",
            "description": "Consent property bag.",
            "properties": {
                "tenantId": {
                    "type": "string",
[...]
