{
    "swagger": "2.0",
    "info": {
        "title": "Security Insights",
        "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
        "version": "2019-01-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/providers/Microsoft.SecurityInsights/operations": {
            "get": {
                "operationId": "Operations_List",
                "description": "Lists all operations available Azure Security Insights Resource Provider.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK. Successfully retrieved operations list.",
                        "schema": {
                            "$ref": "#/definitions/operationsList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules": {
            "get": {
                "x-ms-examples": {
                    "Get all scheduled alert rules.": {
                        "$ref": "./examples/alertRules/GetScheduledAlertRules.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Gets all alert rules.",
                "operationId": "AlertRules_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertRulesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}": {
            "get": {
                "x-ms-examples": {
                    "Get a scheduled alert rule.": {
                        "$ref": "./examples/alertRules/GetScheduledAlertRuleById.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Gets the alert rule.",
                "operationId": "AlertRules_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertRule"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates a scheduled alert rule.": {
                        "$ref": "./examples/alertRules/CreateScheduledAlertRule.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Creates or updates the alert rule.",
                "operationId": "AlertRules_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/AlertRule"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertRule"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AlertRule"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a scheduled alert rule.": {
                        "$ref": "./examples/alertRules/DeleteScheduledAlertRule.json"
                    }
                },
                "tags": [
                    "Alert Rules"
                ],
                "description": "Delete the alert rule.",
                "operationId": "AlertRules_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions": {
            "get": {
                "x-ms-examples": {},
                "tags": [
                    "Actions"
                ],
                "description": "Gets all actions of alert rule.",
                "operationId": "Actions_ListByAlertRule",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ActionsList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions/{actionId}": {
            "get": {
                "x-ms-examples": {},
                "tags": [
                    "Actions"
                ],
                "description": "Gets the action of alert rule.",
                "operationId": "AlertRules_GetAction",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/ActionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Action"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {},
                "tags": [
                    "Actions"
                ],
                "description": "Creates or updates the action of alert rule.",
                "operationId": "AlertRules_CreateAction",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/ActionId"
                    },
                    {
                        "$ref": "#/parameters/Action"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Action"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Action"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {},
                "tags": [
                    "Actions"
                ],
                "description": "Delete the action of alert rule.",
                "operationId": "AlertRules_DeleteAction",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/RuleId"
                    },
                    {
                        "$ref": "#/parameters/ActionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/actions": {
            "get": {
                "x-ms-examples": {},
                "tags": [
                    "Actions"
                ],
                "description": "Gets all actions.",
                "operationId": "Actions_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ActionsList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors": {
            "get": {
                "x-ms-examples": {
                    "Get all data connectors.": {
                        "$ref": "./examples/dataConnectors/GetDataConnectors.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Gets all data connectors.",
                "operationId": "DataConnectors_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataConnectorList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors/{dataConnectorId}": {
            "get": {
                "x-ms-examples": {
                    "Get an Office365 data connector.": {
                        "$ref": "./examples/dataConnectors/GetOfficeDataConnetorById.json"
                    },
                    "Get a TI data connector.": {
                        "$ref": "./examples/dataConnectors/GetThreatIntelligenceById.json"
                    },
                    "Get a MCAS data connector.": {
                        "$ref": "./examples/dataConnectors/GetMicrosoftCloudAppSecurityById.json"
                    },
                    "Get a ASC data connector.": {
                        "$ref": "./examples/dataConnectors/GetAzureSecurityCenterById.json"
                    },
                    "Get an AAD data connector.": {
                        "$ref": "./examples/dataConnectors/GetAzureActiveDirectoryById.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Gets a data connector.",
                "operationId": "DataConnectors_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/DataConnectorId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataConnector"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Creates or updates an Office365 data connector.": {
                        "$ref": "./examples/dataConnectors/CreateOfficeDataConnetor.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Creates or updates the data connector.",
                "operationId": "DataConnectors_Create",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/DataConnectorId"
                    },
                    {
                        "$ref": "#/parameters/DataConnector"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataConnector"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/DataConnector"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete an Office365 data connector.": {
                        "$ref": "./examples/dataConnectors/DeleteOfficeDataConnetor.json"
                    }
                },
                "tags": [
                    "Data Connectors"
                ],
                "description": "Delete the data connector.",
                "operationId": "DataConnectors_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/OperationalInsightsResourceProvider"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceName"
                    },
                    {
                        "$ref": "#/parameters/DataConnectorId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "operation": {
            "description": "Operation provided by provider",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the operation"
                },
                "display": {
                    "type": "object",
                    "description": "Properties of the operation",
                    "properties": {
                        "provider": {
                            "type": "string",
                            "description": "Provider name"
                        },
                        "resource": {
                            "type": "string",
                            "description": "Resource name"
                        },
                        "operation": {
                            "type": "string",
                            "description": "Operation name"
                        },
                        "description": {
                            "type": "string",
                            "description": "Description of the operation"
                        }
                    }
                }
            }
        },
        "operationsList": {
            "description": "Lists the operations available in the SecurityInsights RP.",
            "properties": {
                "nextLink": {
                    "description": "URL to fetch the next set of operations.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of operations",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operation"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "CloudError": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error response structure.",
            "properties": {
                "error": {
                    "x-ms-client-flatten": true,
                    "description": "Error data",
                    "$ref": "#/definitions/CloudErrorBody"
                }
            }
        },
        "CloudErrorBody": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error details.",
            "properties": {
                "code": {
                    "readOnly": true,
                    "type": "string",
                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
                },
                "message": {
                    "readOnly": true,
                    "type": "string",
                    "description": "A message describing the error, intended to be suitable for display in a user interface."
                }
            }
        },
        "AlertRulesList": {
            "description": "List all the alert rules.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of alert rules.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of alert rules.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AlertRule"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "AlertRule": {
            "type": "object",
            "description": "Alert rule.",
            "discriminator": "kind",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/AlertRuleKind"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the alert rule."
                }
            }
        },
        "AlertRuleKind": {
            "type": "object",
            "description": "Describes an Azure resource with kind.",
            "properties": {
                "kind": {
                    "type": "string",
                    "description": "The kind of the alert rule",
                    "enum": [
                        "Scheduled"
                    ],
                    "x-ms-enum": {
                        "name": "AlertRuleKind",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "Scheduled"
                            }
                        ]
                    }
                }
            }
        },
        "ScheduledAlertRule": {
            "x-ms-discriminator-value": "Scheduled",
            "type": "object",
            "description": "Represents scheduled alert rule.",
            "allOf": [
                {
                    "$ref": "#/definitions/AlertRule"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Scheduled alert rule properties",
                    "$ref": "#/definitions/ScheduledAlertRuleProperties"
                }
            }
        },
        "ScheduledAlertRuleProperties": {
            "type": "object",
            "description": "Alert rule property bag.",
            "properties": {
                "ruleName": {
                    "type": "string",
                    "description": "The name for alerts created by this alert rule."
                },
                "description": {
                    "type": "string",
                    "description": "The description of the alert rule."
                },
                "severity": {
                    "type": "string",
                    "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Informational"
                    ],
                    "x-ms-enum": {
                        "name": "Severity",
                        "modelAsString": false
                    },
                    "description": "The severity for alerts created by this alert rule."
                },
                "enabled": {
                    "type": "boolean",
                    "description": "Determines whether this alert rule is enabled or disabled."
                },
                "query": {
                    "type": "string",
                    "description": "The query that creates alerts for this rule."
                },
                "queryFrequency": {
                    "type": "string",
                    "format": "duration",
                    "description": "The frequency (in ISO 8601 duration format) for this alert rule to run."
                },
                "queryPeriod": {
                    "type": "string",
                    "format": "duration",
                    "description": "The period (in ISO 8601 duration format) that this alert rule looks at."
                },
                "triggerOperator": {
                    "type": "string",
                    "enum": [
                        "GreaterThan",
                        "LessThan",
                        "Equal",
                        "NotEqual"
                    ],
                    "x-ms-enum": {
                        "name": "TriggerOperator",
                        "modelAsString": false
                    },
                    "description": "The operation against the threshold that triggers alert rule."
                },
                "triggerThreshold": {
                    "type": "integer",
                    "description": "The threshold triggers this alert rule."
                },
                "suppressionEnabled": {
                    "type": "boolean",
                    "description": "Determines whether the suppression for this alert rule is enabled or disabled."
                },
                "suppressionDuration": {
                    "type": "string",
                    "format": "duration",
                    "description": "The suppression (in ISO 8601 duration format) to wait since last time this alert rule been triggered."
                },
                "lastModifiedUtc": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The last time that this alert has been modified."
                }
            },
            "required": [
                "ruleName",
                "description",
                "severity",
                "enabled",
                "query",
                "queryFrequency",
                "queryPeriod",
                "triggerOperator",
                "triggerThreshold",
                "suppressionEnabled",
                "suppressionDuration"
            ]
        },
        "ActionsList": {
            "description": "List all the actions.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of actions.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of actions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Action"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "Action": {
            "type": "object",
            "description": "Action for alert rule.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the action."
                },
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Action properties",
                    "$ref": "#/definitions/ActionProperties"
                }
            }
        },
        "ActionProperties": {
            "type": "object",
            "description": "Action property bag.",
            "properties": {
                "triggerUri": {
                    "type": "string",
                    "description": "The uri for the action to trigger."
                },
                "ruleId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The unique identifier of the rule."
                }
            }
        },
        "DataConnectorList": {
            "description": "List all the data connectors.",
            "properties": {
                "nextLink": {
                    "readOnly": true,
                    "description": "URL to fetch the next set of data connectors.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of data connectors.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DataConnector"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "DataConnector": {
            "type": "object",
            "description": "Data connector.",
            "discriminator": "kind",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/DataConnectorKind"
                }
            ],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Etag of the data connector."
                }
            }
        },
        "DataConnectorKind": {
            "type": "object",
            "description": "Describes an Azure resource with kind.",
            "properties": {
                "kind": {
                    "type": "string",
                    "description": "The kind of the data connector",
                    "enum": [
                        "AzureActiveDirectory",
                        "AzureSecurityCenter",
                        "MicrosoftCloudAppSecurity",
                        "ThreatIntelligence",
                        "Office365"
                    ],
                    "x-ms-enum": {
                        "name": "DataConnectorKind",
                        "modelAsString": true,
                        "values": [
                            {
                                "value": "AzureActiveDirectory"
                            },
                            {
                                "value": "AzureSecurityCenter"
                            },
                            {
                                "value": "MicrosoftCloudAppSecurity"
                            },
                            {
                                "value": "ThreatIntelligence"
                            },
                            {
                                "value": "Office365"
                            }
                        ]
                    }
                }
            }
        },
        "DataConnectorContextId": {
            "type": "object",
            "description": "Describes an Azure resource with kind.",
            "properties": {
                "contextId": {
                    "type": "string",
                    "description": "The context id of the origin data source (Like tenantID, SubscriptionID etc.)."
                }
            }
        },
        "OfficeDataConnector": {
            "x-ms-discriminator-value": "Office365",
            "type": "object",
            "description": "Represents office data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Office data connector properties.",
                    "$ref": "#/definitions/OfficeDataConnectorProperties"
                }
            }
        },
        "OfficeDataConnectorProperties": {
            "type": "object",
            "description": "Office data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorContextId"
                }
            ],
            "properties": {
                "dataTypes": {
                    "description": "The available data types for the connector.",
                    "$ref": "#/definitions/OfficeDataConnectorDataTypes"
                }
            }
        },
        "OfficeDataConnectorDataTypes": {
            "type": "object",
            "description": "The available data types for office data connector.",
            "properties": {
                "sharePoint": {
                    "type": "object",
                    "description": "SharePoint data type connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                },
                "exchange": {
                    "type": "object",
                    "description": "Exchange data type connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                }
            }
        },
        "TIDataConnector": {
            "x-ms-discriminator-value": "ThreatIntelligence",
            "type": "object",
            "description": "Represents threat intelligence data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "TI data connector properties.",
                    "$ref": "#/definitions/TIDataConnectorProperties"
                }
            }
        },
        "TIDataConnectorProperties": {
            "type": "object",
            "description": "TI data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorContextId"
                }
            ],
            "properties": {
                "dataTypes": {
                    "description": "The available data types for the connector.",
                    "$ref": "#/definitions/TIDataConnectorDataTypes"
                }
            }
        },
        "TIDataConnectorDataTypes": {
            "type": "object",
            "description": "The available data types for TI data connector.",
            "properties": {
                "indicators": {
                    "type": "object",
                    "description": "Data type for indicators connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                }
            }
        },
        "AADDataConnector": {
            "x-ms-discriminator-value": "AzureActiveDirectory",
            "type": "object",
            "description": "Represents AAD (Azure Active Directory) data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorWithAlerts"
                }
            ]
        },
        "ASCDataConnector": {
            "x-ms-discriminator-value": "AzureSecurityCenter",
            "type": "object",
            "description": "Represents ASC (Azure Security Center) data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorWithAlerts"
                }
            ]
        },
        "MCASDataConnector": {
            "x-ms-discriminator-value": "MicrosoftCloudAppSecurity",
            "type": "object",
            "description": "Represents MCAS (Microsoft Cloud App Security) data connector.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorWithAlerts"
                }
            ]
        },
        "DataConnectorWithAlerts": {
            "type": "object",
            "description": "Data connector with alerts data type.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnector"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Data connector properties.",
                    "$ref": "#/definitions/DataConnectorWithAlertsProperties"
                }
            }
        },
        "DataConnectorWithAlertsProperties": {
            "type": "object",
            "description": "Data connector properties.",
            "allOf": [
                {
                    "$ref": "#/definitions/DataConnectorContextId"
                }
            ],
            "properties": {
                "dataTypes": {
                    "description": "The available data types for the connector.",
                    "$ref": "#/definitions/AlertsDataTypeOfDataConnector"
                }
            }
        },
        "AlertsDataTypeOfDataConnector": {
            "type": "object",
            "description": "Alerts data type for data connectors.",
            "properties": {
                "alerts": {
                    "type": "object",
                    "description": "Alerts data type connection.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/DataConnectorDataTypeCommon"
                        }
                    ]
                }
            }
        },
        "DataConnectorDataTypeCommon": {
            "type": "object",
            "description": "Common field for data type in data connectors.",
            "properties": {
                "state": {
                    "type": "string",
                    "description": "Describe whether this data type connection is enabled or not.",
                    "enum": [
                        "Enabled",
                        "Disabled"
                    ],
                    "x-ms-enum": {
                        "name": "DataTypeState",
                        "modelAsString": true
                    }
                }
            }
        },
        "Resource": {
            "x-ms-azure-resource": true,
            "description": "An azure resource object",
            "properties": {
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource Id"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource type"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource name"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionId": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type": "string",
            "description": "Azure subscription ID"
        },
        "ResourceGroupName": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
        },
        "ApiVersion": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
                "2019-01-01-preview"
            ],
            "description": "API version for the operation"
        },
        "OperationalInsightsResourceProvider": {
            "name": "operationalInsightsResourceProvider",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of workspaces resource provider- Microsoft.OperationalInsights.",
            "x-ms-parameter-location": "method"
        },
        "WorkspaceName": {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workspace.",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
        },
        "RuleId": {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type": "string",
            "description": "Alert rule ID",
            "x-ms-parameter-location": "method"
        },
        "AlertRule": {
            "name": "alertRule",
            "in": "body",
            "description": "The alert rule",
            "required": true,
            "schema": {
                "$ref": "#/definitions/AlertRule"
            },
            "x-ms-parameter-location": "method"
        },
        "ActionId": {
            "name": "actionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Action ID",
            "x-ms-parameter-location": "method"
        },
        "Action": {
            "name": "action",
            "in": "body",
            "description": "The action",
            "required": true,
            "schema": {
                "$ref": "#/definitions/Action"
            },
            "x-ms-parameter-location": "method"
        },
        "DataConnectorId": {
            "name": "dataConnectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Connector ID",
            "x-ms-parameter-location": "method"
        },
        "DataConnector": {
            "name": "dataConnector",
            "in": "body",
            "description": "The data connector",
            "required": true,
            "schema": {
                "$ref": "#/definitions/DataConnector"
            },
            "x-ms-parameter-location": "method"
        }
    }
}