{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database API spec",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "operationId": "Capabilities_Get",
        "description": "Returns information about the Azure SQL capabilities available for the specified region.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the region for which the Azure SQL capabilities are retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocationCapability"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MaxSizeCapability": {
      "properties": {
        "limit": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The maximum size of the database (see 'unit' for the units)."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The units that the limit is expressed in.",
          "enum": [
            "Megabytes",
            "Gigabytes",
            "Terabytes",
            "Petabytes"
          ],
          "x-ms-enum": {
            "name": "MaxSizeUnits"
          }
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the maximum size capability.",
          "enum": [
            "Visible",
            "Available",
            "Default"
          ],
          "x-ms-enum": {
            "name": "CapabilityStatus"
          }
        }
      },
      "description": "Represents the maximum size limits for an Azure SQL Database."
    },
    "ServiceObjectiveCapability": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The Service Objective name (Eg: S0, S1, S2)."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Service Objective.",
          "enum": [
            "Visible",
            "Available",
            "Default"
          ],
          "x-ms-enum": {
            "name": "CapabilityStatus"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The unique ID of the Service Objective."
        },
        "supportedMaxSizes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MaxSizeCapability"
          },
          "description": "The list of supported maximum Azure SQL Database sizes for this Service Objective."
        }
      },
      "description": "Represents the Service Objectives capabilities. The service objective represents the performance level assigned to the database (eg: S0, P2, Basic, ...). See https://azure.microsoft.com/en-us/documentation/articles/sql-database-service-tiers/ for more info"
    },
    "EditionCapability": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The edition name (eg: Basic, Standard, Premium, ...)."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL Database edition.",
          "enum": [
            "Visible",
            "Available",
            "Default"
          ],
          "x-ms-enum": {
            "name": "CapabilityStatus"
          }
        },
        "supportedServiceLevelObjectives": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceObjectiveCapability"
          },
          "description": "The list of supported Service Objectives for the edition."
        }
      },
      "description": "Represents the Azure SQL Server edition capabilities. This represents the service tier of the database (Eg: Basic, Standard, Premium, ...)."
    },
    "ServerVersionCapability": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The server version name."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL Server version.",
          "enum": [
            "Visible",
            "Available",
            "Default"
          ],
          "x-ms-enum": {
            "name": "CapabilityStatus"
          }
        },
        "supportedEditions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/EditionCapability"
          },
          "description": "The list of supported Azure SQL Server editions."
        }
      },
      "description": "Represents the Azure SQL Server capabilities."
    },
    "LocationCapability": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The region name."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status for the region with respect to Azure SQL.",
          "enum": [
            "Visible",
            "Available",
            "Default"
          ],
          "x-ms-enum": {
            "name": "CapabilityStatus"
          }
        },
        "supportedServerVersions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerVersionCapability"
          },
          "description": "The list of supported Azure SQL Server versions."
        }
      },
      "description": "Represents the Azure SQL capabilities for a region."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription id that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Resource Group to which the resource belongs.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server",
      "x-ms-parameter-location": "method"
    }
  }
}