{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Replication Link API spec",
    "description": "Provides read and delete functionality for database replication links, as well as failover functionality.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}": {
      "delete": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_DeleteReplicationLink",
        "description": "Deletes the Azure SQL database replication link with the given ID. Cannot be done during failover.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database that has the replication link to be dropped."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the replication link to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        }
      },
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_GetReplicationLink",
        "description": "Gets information about an Azure SQL database replication link.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database to get the link for."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The replication link ID to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplicationLink"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover": {
      "post": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_FailoverReplicationLink",
        "description": "Failover the Azure SQL database replication link with the given ID.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database that has the replication link to be failed over."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the replication link to be failed over."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss": {
      "post": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_FailoverReplicationLinkAllowDataLoss",
        "description": "Force failover the Azure SQL database replication link with the given ID which may result in data loss.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database that has the replication link to be failed over."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the replication link to be failed over."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks": {
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "Databases_ListReplicationLinks",
        "description": "Gets information about Azure SQL database replication links.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database to retrieve links for."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplicationLinkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "ReplicationLinkProperties": {
      "properties": {
        "partnerServer": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Azure SQL server hosting the partner Azure SQL Database."
        },
        "partnerDatabase": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the partner Azure SQL Database."
        },
        "partnerLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The Azure Region of the partner Azure SQL Database."
        },
        "role": {
          "readOnly": true,
          "type": "string",
          "description": "The role of the Azure SQL database in the replication link.",
          "enum": [
            "Primary",
            "Secondary",
            "NonReadableSecondary",
            "Source",
            "Copy"
          ],
          "x-ms-enum": {
            "name": "ReplicationRole"
          }
        },
        "partnerRole": {
          "readOnly": true,
          "type": "string",
          "description": "The role of the partner Azure SQL Database in the replication link.",
          "enum": [
            "Primary",
            "Secondary",
            "NonReadableSecondary",
            "Source",
            "Copy"
          ],
          "x-ms-enum": {
            "name": "ReplicationRole"
          }
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The start time for the replication link (ISO8601 format)."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage of seeding complete for the replication link."
        },
        "replicationState": {
          "readOnly": true,
          "type": "string",
          "description": "The replication state for the replication link.",
          "enum": [
            "PENDING",
            "SEEDING",
            "CATCH_UP",
            "SUSPENDED"
          ],
          "x-ms-enum": {
            "name": "ReplicationState",
            "modelAsString": true
          }
        }
      },
      "description": "Represents the properties of an Azure SQL database replication link."
    },
    "ReplicationLink": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReplicationLinkProperties",
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ],
      "description": "Represents an Azure SQL database replication link."
    },
    "ReplicationLinkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReplicationLink"
          },
          "description": "The list of Azure SQL database replication links housed in the database."
        }
      },
      "description": "Represents the response to a List Azure SQL database replication link request."
    },
    "SqlSubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL server.",
      "x-ms-parameter-location": "method"
    }
  }
}