{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "Servers_GetServiceObjective",
        "description": "Gets a database service objective.",
        "x-ms-examples":{
          "Get a service objective": { "$ref": "../examples/ServiceObjectiveGet.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "serviceObjectiveName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service objective to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceObjective"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "Servers_ListServiceObjectives",
        "description": "Returns database service objectives.",
        "x-ms-examples":{
          "List service objectives": { "$ref": "../examples/ServiceObjectiveList.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceObjectiveListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "SubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID."
        }
      }
    },
    "ServiceObjective": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceObjectiveProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents a database service objective."
    },
    "ServiceObjectiveProperties": {
      "properties": {
        "serviceObjectiveName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the service objective."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is the default service objective.",
          "x-nullable": false
        },
        "isSystem": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is a system service objective.",
          "x-nullable": false
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The description for the service level objective."
        },
        "enabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is enabled.",
          "x-nullable": false
        }
      },
      "description": "Represents the properties of a database service objective."
    },
    "ServiceObjectiveListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceObjective"
          },
          "description": "The list of database service objectives."
        }
      },
      "required": ["value"],
      "description": "Represents the response to a get database service objectives request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
