{
  "swagger": "2.0",
  "info": {
    "title": "Azure Sql Database API spec",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your external server administrators.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}": {
      "put": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "Servers_CreateOrUpdateAzureADAdministrator",
        "description": "Creates a new Azure SQL Server Active Directory Administrator or updates an existing Azure SQL Server Active Directory Administrator.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "administratorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Active Directory Administrator."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            },
            "description": "The required parameters for createing or updating an Active Directory Administrator."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            }
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "Servers_DeleteAzureADAdministrator",
        "description": "Deletes an existing Azure SQL Server Active Directory Administrator.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "administratorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Active Directory Administrator."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "OK"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "Servers_GetAzureADAdministrator",
        "description": "Returns an Azure SQL Server Administrator.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "administratorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Active Directory Administrator."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators": {
      "get": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "Servers_ListAzureADAdministrator",
        "description": "Returns a list of Azure SQL Server Administrators.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerAdministratorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "ServerAdministratorProperties": {
      "properties": {
        "administratorType": {
          "type": "string",
          "description": "The type of Azure SQL Server Administrator.",
          "enum": [
            "ActiveDirectory"
          ],
          "x-ms-enum": {
            "name": "AdministratorType"
          }
        },
        "login": {
          "type": "string",
          "description": "The Azure SQL Server Administrator Login Value."
        },
        "sid": {
          "type": "string",
          "description": "The Azure SQL Server Administrator Sid (Secure ID)."
        },
        "tenantId": {
          "type": "string",
          "description": "The Azure SQL Server Active Directory Administrator tenant id."
        }
      },
      "required": [
        "tenantId",
        "administratorType",
        "login",
        "sid"
      ],
      "description": "Represents the properties of an Azure SQL Server Administrator."
    },
    "ServerAzureADAdministrator": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServerAdministratorProperties",
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents an Azure SQL Server Active Directory Administrator."
    },
    "ServerAdministratorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerAzureADAdministrator"
          },
          "description": "The list of Azure SQL Server Active Directory Administrators for the server."
        }
      },
      "description": "Represents the response to a List Azure SQL Active Directory Administrators request."
    },
    "SubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "uuid",
      "description": "The subscription credentials which uniquely identify Microsoft Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Resource Group to which the resource belongs.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server",
      "x-ms-parameter-location": "method"
    }
  }
}