{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database API spec",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration": {
      "get": {
        "tags": [
          "ServerDisasterRecoveryConfiguration"
        ],
        "operationId": "Servers_ListDisasterRecoveryConfigurations",
        "description": "Returns a list of Azure SQL Server disaster recovery configurations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerDisasterRecoveryConfigurationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{serverDisasterRecoveryConfigurationName}": {
      "get": {
        "tags": [
          "ServerDisasterRecoveryConfiguration"
        ],
        "operationId": "Servers_GetDisasterRecoveryConfiguration",
        "description": "Returns information about an Azure SQL Server disaster recovery configurations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "serverDisasterRecoveryConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL server disaster recovery configuration to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerDisasterRecoveryConfiguration"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ServerDisasterRecoveryConfiguration"
        ],
        "operationId": "Servers_DeleteDisasterRecoveryConfiguration",
        "description": "Deletes the Azure SQL server disaster recovery configuration with the given name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "serverDisasterRecoveryConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL server disaster recovery configuration to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        }
      },
      "put": {
        "tags": [
          "ServerDisasterRecoveryConfiguration"
        ],
        "operationId": "Servers_CreateOrUpdateDisasterRecoveryConfiguration",
        "description": "Starts creating a new or updating an existing Azure SQL Server disaster recovery configuration.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "serverDisasterRecoveryConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL server disaster recovery configuration to be retrieved."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerDisasterRecoveryConfiguration"
            },
            "description": "The required parameters for creating or updating a Server disaster recovery configuration."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerDisasterRecoveryConfiguration"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ServerDisasterRecoveryConfiguration"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{serverDisasterRecoveryConfigurationName}/failover": {
      "post": {
        "tags": [
          "ServerDisasterRecoveryConfiguration"
        ],
        "operationId": "Servers_FailoverDisasterRecoveryConfiguration",
        "description": "Starts a failover for the Azure SQL server disaster recovery configuration with the given name.",
        "parameters": [
          {
            "name": "serverDisasterRecoveryConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL server disaster recovery configuration to start failover."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{serverDisasterRecoveryConfigurationName}/forceFailoverAllowDataLoss": {
      "post": {
        "tags": [
          "ServerDisasterRecoveryConfiguration"
        ],
        "operationId": "Servers_ForceFailoverAllowDataLossDisasterRecoveryConfiguration",
        "description": "Begins failover for the Azure SQL server disaster recovery configuration with the given name.",
        "parameters": [
          {
            "name": "serverDisasterRecoveryConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL server disaster recovery configuration to start failover."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "ServerDisasterRecoveryConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServerDisasterRecoveryConfigurationProperties",
          "description": "The properties representing the Server Disaster Recovery Configuration."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SqlSubResource"
        }
      ],
      "description": "Represents a server disaster recovery configuration."
    },
    "ServerDisasterRecoveryConfigurationList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerDisasterRecoveryConfiguration"
          },
          "description": "The list of Azure SQL Server disaster recovery configurations."
        }
      },
      "description": "Represents the response to a List Azure SQL Server disaster recovery configuration request."
    },
    "ServerDisasterRecoveryConfigurationProperties": {
      "properties": {
        "autoFailover": {
          "type": "string",
          "description": "Whether or not automatic failover is enabled.",
          "enum": [
            "Off",
            "On"
          ],
          "x-ms-enum": {
            "name": "ServerDisasterRecoveryAutoFailover",
            "modelAsString": true
          }
        },
        "failoverPolicy": {
          "type": "string",
          "description": "The policy for automatically failing over.",
          "enum": [
            "Manual",
            "Automatic",
            "Off"
          ],
          "x-ms-enum": {
            "name": "ServerDisasterRecoveryPolicy",
            "modelAsString": true
          }
        },
        "partnerLogicalServerName": {
          "type": "string",
          "description": "The name of the partner server."
        },
        "partnerServerId": {
          "type": "string",
          "description": "The id path the partner server."
        },
        "role": {
          "type": "string",
          "description": "The role of the server.",
          "enum": [
            "None",
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "ServerDisasterRecoveryRole",
            "modelAsString": true
          }
        },
        "type": {
          "type": "string",
          "description": "The type of server disaster recovery configuration.",
          "enum": [
            "AutoDR",
            "Migration",
            "Copy",
            "ContinuousCopy"
          ],
          "x-ms-enum": {
            "name": "ServerDisasterRecoveryType",
            "modelAsString": true
          }
        }
      },
      "description": "Represents the properties of an Azure SQL Server disaster recovery configuration."
    },
    "Resource": {
      "description": "Resource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SqlSubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription id that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Resource Group to which the resource belongs.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server",
      "x-ms-parameter-location": "method"
    }
  }
}