{
  "swagger": "2.0",
  "info": {
    "title": "Azure Sql Database API spec",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "Databases_PauseDataWarehouse",
        "description": "Pause an Azure SQL Data Warehouse database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Data Warehouse database to pause."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "Databases_ResumeDataWarehouse",
        "description": "Resume an Azure SQL Data Warehouse database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Data Warehouse database to resume."
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
      "get": {
        "tags": [
          "DatabaseBackup"
        ],
        "operationId": "Databases_ListRestorePoints",
        "description": "Returns a list of Azure SQL database restore points.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database from which to retrieve available restore points."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorePointListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_CreateOrUpdate",
        "description": "Creates a new Azure SQL database or updates an existing Azure SQL database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be operated on (Updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Database"
            },
            "description": "The required parameters for creating or updating a database."
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Delete",
        "description": "Deletes an Azure SQL database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Get",
        "description": "Returns information about an Azure SQL database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The comma separated list of child objects to expand in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_List",
        "description": "Returns information about an Azure SQL Database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-odata": "#/definitions/Database"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListUsages",
        "description": "Returns information about Azure SQL Database usages.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}": {
      "put": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_CreateOrUpdate",
        "description": "Creates a new Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "description": "The required parameters for createing or updating a server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Delete",
        "description": "Returns information about an Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Get",
        "description": "Returns information about an Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_List",
        "description": "Returns information about an Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/operationResults/versionUpgrade": {
      "delete": {
        "tags": [
          "ServerUpgrades"
        ],
        "operationId": "Servers_CancelUpgrade",
        "description": "Cancel a pending upgrade for the Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ServerUpgrades"
        ],
        "operationId": "Servers_GetUpgradeResult",
        "description": "Returns information about Upgrade status of an Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerUpgradeGetResult"
            }
          },
          "202": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/upgrade": {
      "post": {
        "tags": [
          "ServerUpgrades"
        ],
        "operationId": "Servers_StartUpgrade",
        "description": "Start an Azure SQL Server Upgrade.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerUpgradeStartParameters"
            },
            "description": "The required parameters for the Azure SQL Server Upgrade."
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListUsages",
        "description": "Returns information about Azure SQL Server usage.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}": {
      "put": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_CreateOrUpdate",
        "description": "Creates a new Azure SQL elastic pool or updates an existing Azure SQL elastic pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool to be operated on (Updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            },
            "description": "The required parameters for createing or updating an Elastic Pool."
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_Delete",
        "description": "Deletes the Azure SQL elastic pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_Get",
        "description": "Returns information about an Azure SQL elastic pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_List",
        "description": "Returns information about Azure SQL elastic pools.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPoolListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListActivity",
        "description": "Returns information about Azure SQL elastic pool activities.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool for which to get the current activity."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPoolActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListDatabaseActivity",
        "description": "Returns information about activity on Azure SQL databases inside of an Azure SQL elastic pool.",
        "parameters": [
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPoolDatabaseActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_GetDatabases",
        "description": "Returns information about an Azure SQL database inside of an Azure SQL elastic pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool to be retrieved."
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListDatabases",
        "description": "Returns information about an Azure SQL database inside of an Azure SQL elastic pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_Get",
        "description": "Returns information about an Azure SQL Recommended Elastic Pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecommendedElasticPool"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases/{databaseName}": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_GetDatabases",
        "description": "Returns information about an Azure SQL Database inside of an Azure Sql Recommended Elastic Pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Elastic Pool to be retrieved."
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_List",
        "description": "Returns information about Azure SQL Recommended Elastic Pools.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecommendedElasticPoolListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_ListDatabases",
        "description": "Returns information about an Azure SQL Database inside of an Azure Sql Recommended Elastic Pool.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_ListMetrics",
        "description": "Returns information about an recommended elastic pool metrics.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecommendedElasticPoolListMetricsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "Databases_GetServiceTierAdvisor",
        "description": "Returns information about a service tier advisor.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          },
          {
            "name": "serviceTierAdvisorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of service tier advisor."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisor"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "Databases_ListServiceTierAdvisors",
        "description": "Returns information about service tier advisors for specified database.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "Servers_GetServiceObjective",
        "description": "Returns information about an Azure SQL Database Service Objective.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          },
          {
            "name": "serviceObjectiveName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service objective to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceObjective"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "Servers_ListServiceObjectives",
        "description": "Returns information about Azure SQL Database Service Objectives.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceObjectiveListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current": {
      "put": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_SetTransparentDataEncryption",
        "description": "Creates or updates an Azure SQL Database Transparent Data Encryption Operation.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which setting the Transparent Data Encryption applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            },
            "description": "The required parameters for creating or updating transparent data encryption."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      },
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_GetTransparentDataEncryption",
        "description": "Returns an Azure SQL Database Transparent Data Encryption Response.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the Transparent Data Encryption applies."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current/operationResults": {
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "Databases_ListTransparentDataEncryptionActivity",
        "description": "Returns an Azure SQL Database Transparent Data Encryption Activity Response.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the Transparent Data Encryption applies."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryptionActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "RecommendedElasticPoolMetric": {
      "properties": {
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time of metric."
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "The DTU."
        },
        "sizeGB": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets size in gigabytes."
        }
      },
      "description": "Represents Azure SQL recommended elastic pool metric."
    },
    "RecommendedElasticPoolProperties": {
      "properties": {
        "databaseEdition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the Azure SQL Recommended Elastic Pool. The ElasticPoolEditions enumeration contains all the valid editions.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEditions",
            "modelAsString": true
          }
        },
        "dtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The DTU for the Sql Azure Recommended Elastic Pool."
        },
        "databaseDtuMin": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The minimum DTU for the database."
        },
        "databaseDtuMax": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The maximum DTU for the database."
        },
        "storageMB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets storage size in megabytes."
        },
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start."
        },
        "maxObservedDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed DTU."
        },
        "maxObservedStorageMB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed storage in megabytes."
        },
        "databases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of Azure Sql Databases in this pool. Expanded property"
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of Azure Sql Databases housed in the server. Expanded property"
        }
      },
      "description": "Represents the properties of an Azure SQL Recommended Elastic Pool."
    },
    "RecommendedElasticPool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecommendedElasticPoolProperties",
          "description": "The properites representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Recommended Elastic Pool."
    },
    "RecommendedElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPool"
          },
          "description": "The list of Azure Sql Recommended Elastic Pools hosted in the server."
        }
      },
      "description": "Represents the response to a List Azure Sql Recommended Elastic Pool request."
    },
    "RecommendedElasticPoolListMetricsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of Azure Sql Recommended Elastic Pools metrics."
        }
      },
      "description": "Represents the response to a List Azure Sql Recommended Elastic Pool metrics request."
    },
    "RecommendedDatabaseProperties": {
      "properties": {
        "Name": {
          "type": "string",
          "description": "The name of the Azure SQL Database being upgraded."
        },
        "TargetEdition": {
          "type": "string",
          "description": "The target edition for the Azure SQL Database being upgraded."
        },
        "TargetServiceLevelObjective": {
          "type": "string",
          "description": "The target Service Level Objective for the Azure SQL Database being upgraded."
        }
      },
      "description": "Represents the properties of a recommended Azure SQL Database being upgraded."
    },
    "ElasticPoolProperties": {
      "properties": {
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Azure SQL Elastic Pool."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the Azure SQL Elastic Pool."
        },
        "edition": {
          "type": "string",
          "description": "The edition of the Azure SQL Elastic Pool.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEditions",
            "modelAsString": true
          }
        },
        "dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The total shared DTU for the Sql Azure Database Elastic Pool."
        },
        "databaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum DTU any one Sql Azure Database can consume."
        },
        "databaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum DTU all Sql Azure Databases are guaranteed."
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Gets storage limit for the Sql Azure Database Elastic Pool in MB."
        }
      },
      "description": "Represents the properties of an Azure SQL Elastic Pool."
    },
    "ElasticPool": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database elastic pool."
    },
    "ElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPool"
          },
          "description": "The list of Azure Sql Elastic Pools hosted in the server."
        }
      },
      "description": "Represents the response to a List Azure Sql Elastic Pool request."
    },
    "ElasticPoolActivityProperties": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "The unique operation ID."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedDatabaseDtuMax": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested max DTU per database if available."
        },
        "requestedDatabaseDtuMin": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested min DTU per database if available."
        },
        "requestedDtu": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU for the pool if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The requested name for the Elastic Pool if available."
        },
        "requestedStorageLimitInGB": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The requested storage limit for the pool in GB if available."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Elastic Pool."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Azure SQL Server the Elastic Pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        }
      },
      "description": "Represents the properties of an Azure SQL Elastic Pool."
    },
    "ElasticPoolActivity": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents the activity on an Azure SQL Elastic Pool."
    },
    "ElasticPoolActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolActivity"
          },
          "description": "The list of Azure Sql Elastic Pool Activities."
        }
      },
      "description": "Represents the response to a List Azure Sql Elastic Pool Activity request."
    },
    "ElasticPoolDatabaseActivityProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The database name."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "The unique operation ID."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the Elastic Pool the database is moving into if available."
        },
        "currentElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current Elastic Pool the database is in if available."
        },
        "currentServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current service objective if available."
        },
        "requestedServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the requested service objective if available."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the Azure SQL Server the Elastic Pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        }
      },
      "description": "Represents the properties of an Azure SQL Elastic Pool Database Activity."
    },
    "ElasticPoolDatabaseActivity": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolDatabaseActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents the activity on an Azure SQL Elastic Pool."
    },
    "ElasticPoolDatabaseActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolDatabaseActivity"
          },
          "description": "The list of Azure Sql Elastic Pool Database Activities."
        }
      },
      "description": "Represents the response to a List Azure Sql Elastic Pool Database Activity request."
    },
    "ServerProperties": {
      "properties": {
        "fullyQualifiedDomainName": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified domain name of the server."
        },
        "version": {
          "type": "string",
          "description": "The version of the server."
        },
        "administratorLogin": {
          "type": "string",
          "description": "Administrator username for the server. Can only be specified when the server is being created."
        },
        "administratorLoginPassword": {
          "type": "string",
          "description": "The administrator login password."
        }
      },
      "description": "Represents the properties of an Azure SQL Server."
    },
    "Server": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "Represents the properties of the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Server."
    },
    "ServerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "description": "The list of Azure SQL Servers."
        }
      },
      "description": "Represents the response to a Get Azure SQL Server request."
    },
    "ServerUpgradeGetResult": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL Server Upgrade."
        },
        "scheduleUpgradeAfterTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The schedule time of the Azure SQL Server Upgrade."
        }
      },
      "description": "Represents the response to a Get request for Upgrade status of an Azure SQL Server."
    },
    "ServerUpgradeProperties": {
      "properties": {
        "Version": {
          "type": "string",
          "description": "The version for the Azure SQL Server being upgraded."
        },
        "ScheduleUpgradeAfterUtcDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The earliest time to upgrade the Azure SQL Server."
        },
        "DatabaseCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedDatabaseProperties"
          },
          "description": "The collection of recommended database properties to upgrade the Azure SQL Server."
        },
        "ElasticPoolCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpgradeRecommendedElasticPoolProperties"
          },
          "description": "The collection of recommended elastic pool properties to upgrade the Azure SQL Server."
        }
      },
      "required": [
        "Version"
      ],
      "description": "Start Azure SQL Server Upgrade properties."
    },
    "ServerUpgradeStartParameters": {
      "properties": {
        "serverUpgradeProperties": {
          "$ref": "#/definitions/ServerUpgradeProperties",
          "description": "The properties of the Azure SQL Server Upgrade."
        }
      },
      "required": [
        "serverUpgradeProperties"
      ],
      "description": "Start Azure SQL Server Upgrade parameters."
    },
    "UpgradeRecommendedElasticPoolProperties": {
      "properties": {
        "Name": {
          "type": "string",
          "description": "The name of the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "Edition": {
          "type": "string",
          "description": "The target edition for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "Dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The DTU guarantee for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "StorageMb": {
          "type": "integer",
          "format": "int32",
          "description": "The storage limit in MB for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "DatabaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The DTU guarantee for database for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "DatabaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The DTU cap for database for the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "DatabaseCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of database names to be put in the Azure SQL Recommended Elastic Pool being upgraded."
        },
        "IncludeAllDatabases": {
          "type": "boolean",
          "description": "Gets or sets whether all databases to be put in the Azure SQL Recommended Elastic Pool being upgraded."
        }
      },
      "description": "Represents the properties of a Azure SQL Recommended Elastic Pool being upgraded."
    },
    "RecommendedIndexProperties": {
      "properties": {
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "The proposed index action. We suggest user to create missing index, drop unused index or to rebuild already existing index to improve its performance. Possible values are 'Create', 'Drop', 'Rebuild'."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The state recommendation is in. Current options are: 'Active', 'Pending', 'Executing', 'Verifying', 'Pending Revert', 'Reverting', 'Reverted', 'Ignored', 'Expired', 'Blocked', 'Success'."
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime showing when this resource was created."
        },
        "lastModified": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime of when was this resource last changed."
        },
        "indexType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)"
        },
        "schema": {
          "readOnly": true,
          "type": "string",
          "description": "The schema where table to build index over resides"
        },
        "table": {
          "readOnly": true,
          "type": "string",
          "description": "The table on which to build index."
        },
        "columns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Columns over which to build index"
        },
        "includedColumns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of column names to be included in the index"
        },
        "indexScript": {
          "readOnly": true,
          "type": "string",
          "description": "The full build index script"
        },
        "estimatedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The estimated impact of doing recommended index action."
        },
        "reportedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The values reported after index action is complete."
        }
      },
      "description": "Represents the properties of an Azure SQL Database recommended index."
    },
    "RecommendedIndex": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendedIndexProperties",
          "readOnly": true,
          "x-ms-client-flatten": true,
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database recommended index."
    },
    "TransparentDataEncryptionProperties": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the Azure SQL Database Transparent Data Encryption.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionStates",
            "modelAsString": true
          }
        }
      },
      "description": "Represents the properties of an Azure SQL Database Transparent Data Encryption."
    },
    "TransparentDataEncryption": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents an Azure SQL Database Transparent Data Encryption ."
    },
    "DatabaseProperties": {
      "properties": {
        "collation": {
          "type": "string",
          "description": "The collation of the Azure SQL Database."
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Azure SQL Database."
        },
        "currentServiceObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The current Service Level Objective Id of the Azure SQL Database. This is the Id of the Service Level Objective that is currently active."
        },
        "databaseId": {
          "readOnly": true,
          "type": "string",
          "description": "The Id of the Azure SQL Database."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The recovery period starte date of the Azure SQL Database. This records the start date and time when recovery is available for this Azure SQL Database."
        },
        "edition": {
          "type": "string",
          "description": "The edition of the Azure SQL Database.  The DatabaseEditions enumeration contains all the valid editions.",
          "enum": [
            "Web",
            "Business",
            "Basic",
            "Standard",
            "Premium",
            "Free",
            "Stretch",
            "DataWarehouse"
          ],
          "x-ms-enum": {
            "name": "DatabaseEditions",
            "modelAsString": true
          }
        },
        "maxSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The max size of the Azure SQL Database expressed in bytes."
        },
        "requestedServiceObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "The configured Service Level Objective Id of the Azure SQL Database. This is the Service Level Objective that is being applied to the Azure SQL Database."
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "description": "The name of the configured Service Level Objective of the Azure SQL Database. This is the Service Level Objective that is being applied to the Azure SQL Database."
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The Service Level Objective of the Azure SQL Database."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL Database."
        },
        "elasticPoolName": {
          "type": "string",
          "description": "The name of the Azure SQL Elastic Pool the database is in."
        },
        "defaultSecondaryLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The default secondary region for this database."
        },
        "serviceTierAdvisors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "The list of service tier advisors for this database. Expanded property"
        },
        "upgradeHint": {
          "$ref": "#/definitions/UpgradeHint",
          "readOnly": true,
          "description": "The upgrade hint for this database."
        },
        "schemas": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schema"
          },
          "description": "The schemas from this database."
        },
        "transparentDataEncryption": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransparentDataEncryption"
          },
          "description": "The transparent data encryption info for this database."
        },
        "recommendedIndex": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedIndex"
          },
          "description": "The recommended indices for this database."
        }
      },
      "description": "Represents the properties of an Azure SQL Database."
    },
    "Database": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database."
    },
    "DatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of Azure Sql Databases housed in the server."
        }
      },
      "description": "Represents the response to a List Azure Sql Database request."
    },
    "ServiceTierAdvisorProperties": {
      "properties": {
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start."
        },
        "activeTimeRatio": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The activeTimeRatio for service tier advisor."
        },
        "minDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets minDtu for service tier advisor."
        },
        "avgDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets avgDtu for service tier advisor."
        },
        "maxDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxDtu for service tier advisor."
        },
        "maxSizeInGB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxSizeInGB for service tier advisor."
        },
        "serviceLevelObjectiveUsageMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SloUsageMetric"
          },
          "description": "Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor."
        },
        "currentServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets currentServiceLevelObjective for service tier advisor."
        },
        "currentServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets currentServiceLevelObjectiveId for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "overallRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets overallRecommendationServiceLevelObjective for service tier advisor."
        },
        "overallRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets overallRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "confidence": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets confidence for service tier advisor."
        }
      },
      "description": "Represents the properties of a Service Tier Advisor."
    },
    "ServiceTierAdvisor": {
      "properties": {
        "properties": {
          "readOnly": true,
          "$ref": "#/definitions/ServiceTierAdvisorProperties",
          "description": "The properites representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents a Service Tier Advisor."
    },
    "SloUsageMetric": {
      "properties": {
        "serviceLevelObjective": {
          "type": "string",
          "description": "Gets or sets serviceLevelObjective for SLO usage metric."
        },
        "serviceLevelObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets serviceLevelObjectiveId for SLO usage metric."
        },
        "inRangeTimeRatio": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets inRangeTimeRatio for SLO usage metric."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents a Slo Usage Metric."
    },
    "UpgradeHint": {
      "properties": {
        "targetServiceLevelObjective": {
          "type": "string",
          "description": "TargetServiceLevelObjective for upgrade hint."
        },
        "targetServiceLevelObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "TargetServiceLevelObjectiveId for upgrade hint."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents a Upgrade Hint."
    },
    "TableProperties": {
      "properties": {
        "tableType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure SQL Database table.",
          "enum": [
            "BaseTable",
            "View"
          ],
          "x-ms-enum": {
            "name": "TableType",
            "modelAsString": true
          }
        },
        "columns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Column"
          },
          "description": "The columns from this table."
        },
        "recommendedIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedIndex"
          },
          "description": "The recommended indices for this table."
        }
      },
      "description": "Represents the properties of an Azure SQL Database table."
    },
    "ColumnProperties": {
      "properties": {
        "columnType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure SQL Database table column."
        }
      },
      "description": "Represents the properties of an Azure SQL Database table column."
    },
    "OperationImpact": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the impact dimension."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The unit in which estimated impact to dimension is measured."
        },
        "changeValueAbsolute": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The absolute impact to dimension."
        },
        "changeValueRelative": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The relative impact to dimension (null if not applicable)"
        }
      },
      "description": "Represents impact of an operation, both in absolute and relative terms."
    },
    "Column": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ColumnProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database table column."
    },
    "Table": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/TableProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database table."
    },
    "SchemaProperties": {
      "properties": {
        "tables": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          },
          "description": "The tables from this database."
        }
      },
      "description": "Represents the properties of an Azure SQL Database schema."
    },
    "Schema": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SchemaProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database schema."
    },
    "RestorePointProperties": {
      "properties": {
        "restorePointType": {
          "readOnly": true,
          "type": "string",
          "description": "The restore point type of the Azure SQL Database restore point.",
          "enum": [
            "DISCRETE",
            "CONTINUOUS"
          ],
          "x-ms-enum": {
            "name": "RestorePointTypes",
            "modelAsString": true
          }
        },
        "restorePointCreationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time. Populated when restorePointType = CONTINUOUS. Null otherwise."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore time. Populated when restorePointType = DISCRETE. Null otherwise."
        }
      },
      "description": "Represents the properties of an Azure SQL Database restore point."
    },
    "RestorePoint": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RestorePointProperties",
          "description": "The properties representing the restore point.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database restore point."
    },
    "RestorePointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorePoint"
          },
          "description": "The list of a given Azure Sql Database restore points."
        }
      },
      "description": "Represents the response to a List Azure Sql Database restore points request."
    },
    "DatabaseMetric": {
      "properties": {
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The metric display name."
        },
        "currentValue": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current value of the metric."
        },
        "limit": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current limit of the metric."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The units of the metric."
        },
        "nextResetTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The next reset time for the metric."
        }
      },
      "description": "Represents Azure SQL Database metrics."
    },
    "DatabaseMetricListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseMetric"
          },
          "description": "The list of Azure Sql Database metrics for the database."
        }
      },
      "description": "Represents the response to a List Azure Sql Database metrics request."
    },
    "ServerMetric": {
      "properties": {
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The metric display name."
        },
        "currentValue": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current value of the metric."
        },
        "limit": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The current limit of the metric."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The units of the metric."
        },
        "nextResetTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The next reset time for the metric."
        }
      },
      "description": "Represents Azure SQL Server metrics."
    },
    "ServerMetricListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerMetric"
          },
          "description": "The list of Azure SQL Server metrics for the server."
        }
      },
      "description": "Represents the response to a List Azure SQL Server metrics request."
    },
    "ServiceTierAdvisorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "The list of service tier advisors for specified database."
        }
      },
      "description": "Represents the response to a list service tier advisor request."
    },
    "ServiceObjectiveProperties": {
      "properties": {
        "serviceObjectiveName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the service objective."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is the default service objective."
        },
        "isSystem": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is a system service objective."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The description for the service level objective."
        },
        "enabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Gets whether the service level objective is enabled."
        }
      },
      "description": "Represents the properties of an Azure SQL Database Service Objective."
    },
    "ServiceObjective": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceObjectiveProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents an Azure SQL Database Service Objective."
    },
    "ServiceObjectiveListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceObjective"
          },
          "description": "The list of Azure Sql Database Service Objectives."
        }
      },
      "description": "Represents the response to a Get Azure Sql Database Service Objectives request."
    },
    "TransparentDataEncryptionActivityProperties": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Azure SQL Database.",
          "enum": [
            "Encrypting",
            "Decrypting"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionActivityStates",
            "modelAsString": true
          }
        },
        "percentComplete": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "The percent complete of the transparent data encryption scan for a Azure SQL Database."
        }
      },
      "description": "Represents the properties of an Azure SQL Database Transparent Data Encryption Scan."
    },
    "TransparentDataEncryptionActivity": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionActivityProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "description": "Represents an Azure SQL Database Transparent Data Encryption Scan."
    },
    "TransparentDataEncryptionActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransparentDataEncryptionActivity"
          },
          "description": "The list of Azure Sql Database Transparent Data Encryption Activities."
        }
      },
      "description": "Represents the response to a List Azure Sql Database Transparent Data Encryption Activity request."
    },
    "Resource": {
      "description": "Resource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "description": "Subresource properties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "uuid",
      "description": "The subscription credentials which uniquely identify Microsoft Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Resource Group to which the resource belongs.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameterGeneric": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server",
      "x-ms-parameter-location": "method"
    }
  }
}