{
    "swagger": "2.0",
    "info": {
        "title": "Azure Sql Database API spec",
        "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases.",
        "version": "2014-04-01"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
            "post": {
                "tags": [
                    "DatabaseActivation"
                ],
                "operationId": "Databases_PauseDataWarehouse",
                "description": "Pause an Azure SQL Data Warehouse database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Data Warehouse database to pause."
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "202": {
                        "description": ""
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
            "post": {
                "tags": [
                    "DatabaseActivation"
                ],
                "operationId": "Databases_ResumeDataWarehouse",
                "description": "Resume an Azure SQL Data Warehouse database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Data Warehouse database to resume."
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "200": {
                        "description": ""
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
            "get": {
                "tags": [
                    "DatabaseBackup"
                ],
                "operationId": "Databases_ListRestorePoints",
                "description": "Returns a list of Azure SQL database restore points.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database from which to retrieve available restore points."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RestorePointListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
            "put": {
                "tags": [
                    "Databases"
                ],
                "operationId": "Databases_CreateOrUpdate",
                "description": "Creates a new Azure SQL database or updates an existing Azure SQL database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database to be operated on (Updated or created)."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Database"
                        },
                        "description": "The required parameters for creating or updating a database."
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Database"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Database"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [
                    "Databases"
                ],
                "operationId": "Databases_Delete",
                "description": "Deletes an Azure SQL database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database to be deleted."
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "204": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Databases"
                ],
                "operationId": "Databases_Get",
                "description": "Returns information about an Azure SQL database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database to be retrieved."
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The comma separated list of child objects to expand in the response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Database"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
            "get": {
                "tags": [
                    "Databases"
                ],
                "operationId": "Databases_List",
                "description": "Returns information about an Azure SQL Database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DatabaseListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                },
                "x-ms-odata": "#/definitions/Database"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages": {
            "get": {
                "tags": [
                    "Databases"
                ],
                "operationId": "Databases_ListUsages",
                "description": "Returns information about Azure SQL Database usages.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DatabaseMetricListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}": {
            "put": {
                "tags": [
                    "Servers"
                ],
                "operationId": "Servers_CreateOrUpdate",
                "description": "Creates a new Azure SQL Server.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Server"
                        },
                        "description": "The required parameters for createing or updating a server."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Server"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Server"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Servers"
                ],
                "operationId": "Servers_Delete",
                "description": "Returns information about an Azure SQL Server.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "204": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Servers"
                ],
                "operationId": "Servers_Get",
                "description": "Returns information about an Azure SQL Server.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Server"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers": {
            "get": {
                "tags": [
                    "Servers"
                ],
                "operationId": "Servers_List",
                "description": "Returns information about an Azure SQL Server.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServerListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/operationResults/versionUpgrade": {
            "delete": {
                "tags": [
                    "ServerUpgrades"
                ],
                "operationId": "Servers_CancelUpgrade",
                "description": "Cancel a pending upgrade for the Azure SQL Server.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "ServerUpgrades"
                ],
                "operationId": "Servers_GetUpgradeResult",
                "description": "Returns information about Upgrade status of an Azure SQL Server.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServerUpgradeGetResult"
                        }
                    },
                    "202": {
                        "description": ""
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/upgrade": {
            "post": {
                "tags": [
                    "ServerUpgrades"
                ],
                "operationId": "Servers_StartUpgrade",
                "description": "Start an Azure SQL Server Upgrade.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServerUpgradeStartParameters"
                        },
                        "description": "The required parameters for the Azure SQL Server Upgrade."
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages": {
            "get": {
                "tags": [
                    "Servers"
                ],
                "operationId": "Servers_ListUsages",
                "description": "Returns information about Azure SQL Server usage.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServerMetricListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}": {
            "put": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_CreateOrUpdate",
                "description": "Creates a new Azure SQL elastic pool or updates an existing Azure SQL elastic pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool to be operated on (Updated or created)."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ElasticPool"
                        },
                        "description": "The required parameters for createing or updating an Elastic Pool."
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ElasticPool"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ElasticPool"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_Delete",
                "description": "Deletes the Azure SQL elastic pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool to be deleted."
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "204": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_Get",
                "description": "Returns information about an Azure SQL elastic pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ElasticPool"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools": {
            "get": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_List",
                "description": "Returns information about Azure SQL elastic pools.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ElasticPoolListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity": {
            "get": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_ListActivity",
                "description": "Returns information about Azure SQL elastic pool activities.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool for which to get the current activity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ElasticPoolActivityListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity": {
            "get": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_ListDatabaseActivity",
                "description": "Returns information about activity on Azure SQL databases inside of an Azure SQL elastic pool.",
                "parameters": [
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ElasticPoolDatabaseActivityListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}": {
            "get": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_GetDatabases",
                "description": "Returns information about an Azure SQL database inside of an Azure SQL elastic pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool to be retrieved."
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Database"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases": {
            "get": {
                "tags": [
                    "ElasticPools"
                ],
                "operationId": "ElasticPools_ListDatabases",
                "description": "Returns information about an Azure SQL database inside of an Azure SQL elastic pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "elasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DatabaseListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}": {
            "get": {
                "tags": [
                    "RecommendedElasticPools"
                ],
                "operationId": "RecommendedElasticPools_Get",
                "description": "Returns information about an Azure SQL Recommended Elastic Pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "recommendedElasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RecommendedElasticPool"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases/{databaseName}": {
            "get": {
                "tags": [
                    "RecommendedElasticPools"
                ],
                "operationId": "RecommendedElasticPools_GetDatabases",
                "description": "Returns information about an Azure SQL Database inside of an Azure Sql Recommended Elastic Pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "recommendedElasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Elastic Pool to be retrieved."
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Database"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools": {
            "get": {
                "tags": [
                    "RecommendedElasticPools"
                ],
                "operationId": "RecommendedElasticPools_List",
                "description": "Returns information about Azure SQL Recommended Elastic Pools.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RecommendedElasticPoolListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases": {
            "get": {
                "tags": [
                    "RecommendedElasticPools"
                ],
                "operationId": "RecommendedElasticPools_ListDatabases",
                "description": "Returns information about an Azure SQL Database inside of an Azure Sql Recommended Elastic Pool.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "recommendedElasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DatabaseListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics": {
            "get": {
                "tags": [
                    "RecommendedElasticPools"
                ],
                "operationId": "RecommendedElasticPools_ListMetrics",
                "description": "Returns information about an recommended elastic pool metrics.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "recommendedElasticPoolName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RecommendedElasticPoolListMetricsResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}": {
            "get": {
                "tags": [
                    "ServiceTierAdvisors"
                ],
                "operationId": "Databases_GetServiceTierAdvisor",
                "description": "Returns information about a service tier advisor.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of database."
                    },
                    {
                        "name": "serviceTierAdvisorName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of service tier advisor."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServiceTierAdvisor"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors": {
            "get": {
                "tags": [
                    "ServiceTierAdvisors"
                ],
                "operationId": "Databases_ListServiceTierAdvisors",
                "description": "Returns information about service tier advisors for specified database.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of database."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServiceTierAdvisorListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}": {
            "get": {
                "tags": [
                    "ServiceObjectives"
                ],
                "operationId": "Servers_GetServiceObjective",
                "description": "Returns information about an Azure SQL Database Service Objective.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    },
                    {
                        "name": "serviceObjectiveName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the service objective to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServiceObjective"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives": {
            "get": {
                "tags": [
                    "ServiceObjectives"
                ],
                "operationId": "Servers_ListServiceObjectives",
                "description": "Returns information about Azure SQL Database Service Objectives.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameterGeneric"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ServiceObjectiveListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current": {
            "put": {
                "tags": [
                    "TransparentDataEncryption"
                ],
                "operationId": "Databases_SetTransparentDataEncryption",
                "description": "Creates or updates an Azure SQL Database Transparent Data Encryption Operation.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database for which setting the Transparent Data Encryption applies."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransparentDataEncryption"
                        },
                        "description": "The required parameters for creating or updating transparent data encryption."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TransparentDataEncryption"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TransparentDataEncryption"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "TransparentDataEncryption"
                ],
                "operationId": "Databases_GetTransparentDataEncryption",
                "description": "Returns an Azure SQL Database Transparent Data Encryption Response.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database for which the Transparent Data Encryption applies."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TransparentDataEncryption"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current/operationResults": {
            "get": {
                "tags": [
                    "TransparentDataEncryption"
                ],
                "operationId": "Databases_ListTransparentDataEncryptionActivity",
                "description": "Returns an Azure SQL Database Transparent Data Encryption Activity Response.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "databaseName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the Azure SQL Database for which the Transparent Data Encryption applies."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TransparentDataEncryptionActivityListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        }
    },
    "definitions": {
        "RecommendedElasticPoolMetric": {
            "properties": {
                "dateTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets or sets the time of metric."
                },
                "dtu": {
                    "type": "number",
                    "format": "double",
                    "description": "Gets or sets the DTU."
                },
                "sizeGB": {
                    "type": "number",
                    "format": "double",
                    "description": "Gets or sets size in gigabytes."
                }
            },
            "description": "Represents Azure SQL recommended elastic pool metric."
        },
        "RecommendedElasticPoolProperties": {
            "properties": {
                "databaseEdition": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the edition of the Azure SQL Recommended Elastic Pool. The ElasticPoolEditions enumeration contains all the valid editions.",
                    "enum": [
                        "Basic",
                        "Standard",
                        "Premium"
                    ],
                    "x-ms-enum": {
                        "name": "ElasticPoolEditions",
                        "modelAsString": true
                    }
                },
                "dtu": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets the DTU for the Sql Azure Recommended Elastic Pool."
                },
                "databaseDtuMin": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets the minimum DTU for the database."
                },
                "databaseDtuMax": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets the maximum DTU for the database."
                },
                "storageMB": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets storage size in megabytes."
                },
                "observationPeriodStart": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the observation period start."
                },
                "observationPeriodEnd": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the observation period start."
                },
                "maxObservedDtu": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets maximum observed DTU."
                },
                "maxObservedStorageMB": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets maximum observed storage in megabytes."
                },
                "databases": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Database"
                    },
                    "description": "Gets the list of Azure Sql Databases in this pool. Expanded property"
                },
                "metrics": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RecommendedElasticPoolMetric"
                    },
                    "description": "Gets the list of Azure Sql Databases housed in the server. Expanded property"
                }
            },
            "description": "Represents the properties of an Azure SQL Recommended Elastic Pool."
        },
        "RecommendedElasticPool": {
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/RecommendedElasticPoolProperties",
                    "description": "Gets or sets the properites representing the resource."
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents an Azure SQL Recommended Elastic Pool."
        },
        "RecommendedElasticPoolListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RecommendedElasticPool"
                    },
                    "description": "Gets or sets the list of Azure Sql Recommended Elastic Pools hosted in the server."
                }
            },
            "description": "Represents the response to a List Azure Sql Recommended Elastic Pool request."
        },
        "RecommendedElasticPoolListMetricsResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RecommendedElasticPoolMetric"
                    },
                    "description": "Gets or sets the list of Azure Sql Recommended Elastic Pools metrics."
                }
            },
            "description": "Represents the response to a List Azure Sql Recommended Elastic Pool metrics request."
        },
        "RecommendedDatabaseProperties": {
            "properties": {
                "Name": {
                    "type": "string",
                    "description": "Gets or sets the name of the Azure SQL Database being upgraded."
                },
                "TargetEdition": {
                    "type": "string",
                    "description": "Gets or sets the target edition for the Azure SQL Database being upgraded."
                },
                "TargetServiceLevelObjective": {
                    "type": "string",
                    "description": "Gets or sets the target Service Level Objective for the Azure SQL Database being upgraded."
                }
            },
            "description": "Represents the properties of a recommended Azure SQL Database being upgraded."
        },
        "ElasticPoolProperties": {
            "properties": {
                "creationDate": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the creation date of the Azure SQL Elastic Pool."
                },
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the state of the Azure SQL Elastic Pool."
                },
                "edition": {
                    "type": "string",
                    "description": "Gets the edition of the Azure SQL Elastic Pool.",
                    "enum": [
                        "Basic",
                        "Standard",
                        "Premium"
                    ],
                    "x-ms-enum": {
                        "name": "ElasticPoolEditions",
                        "modelAsString": true
                    }
                },
                "dtu": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the total shared DTU for the Sql Azure Database Elastic Pool."
                },
                "databaseDtuMax": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the maximum DTU any one Sql Azure Database can consume."
                },
                "databaseDtuMin": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the minimum DTU all Sql Azure Databases are guaranteed."
                },
                "storageMB": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets storage limit for the Sql Azure Database Elastic Pool in MB."
                }
            },
            "description": "Represents the properties of an Azure SQL Elastic Pool."
        },
        "ElasticPool": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/ElasticPoolProperties",
                    "description": "Gets or sets the properties representing the resource.",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents an Azure SQL Database elastic pool."
        },
        "ElasticPoolListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ElasticPool"
                    },
                    "description": "Gets or sets the list of Azure Sql Elastic Pools hosted in the server."
                }
            },
            "description": "Represents the response to a List Azure Sql Elastic Pool request."
        },
        "ElasticPoolActivityProperties": {
            "properties": {
                "endTime": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the time the operation finished."
                },
                "errorCode": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the error code if available."
                },
                "errorMessage": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the error message if available."
                },
                "errorSeverity": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the error severity if available."
                },
                "operation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the operation name."
                },
                "operationId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the unique operation ID."
                },
                "percentComplete": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the percentage complete if available."
                },
                "requestedDatabaseDtuMax": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the requested max DTU per database if available."
                },
                "requestedDatabaseDtuMin": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the requested min DTU per database if available."
                },
                "requestedDtu": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the requested DTU for the pool if available."
                },
                "requestedElasticPoolName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the requested name for the Elastic Pool if available."
                },
                "requestedStorageLimitInGB": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int64",
                    "description": "Gets the requested storage limit for the pool in GB if available."
                },
                "elasticPoolName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name of the Elastic Pool."
                },
                "serverName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name of the Azure SQL Server the Elastic Pool is in."
                },
                "startTime": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the time the operation started."
                },
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the current state of the operation."
                }
            },
            "description": "Represents the properties of an Azure SQL Elastic Pool."
        },
        "ElasticPoolActivity": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/ElasticPoolActivityProperties",
                    "description": "Gets or sets the properties representing the resource.",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents the activity on an Azure SQL Elastic Pool."
        },
        "ElasticPoolActivityListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ElasticPoolActivity"
                    },
                    "description": "Gets or sets the list of Azure Sql Elastic Pool Activities."
                }
            },
            "description": "Represents the response to a List Azure Sql Elastic Pool Activity request."
        },
        "ElasticPoolDatabaseActivityProperties": {
            "properties": {
                "databaseName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the database name."
                },
                "endTime": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the time the operation finished."
                },
                "errorCode": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the error code if available."
                },
                "errorMessage": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the error message if available."
                },
                "errorSeverity": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the error severity if available."
                },
                "operation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the operation name."
                },
                "operationId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the unique operation ID."
                },
                "percentComplete": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets the percentage complete if available."
                },
                "requestedElasticPoolName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name for the Elastic Pool the database is moving into if available."
                },
                "currentElasticPoolName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name of the current Elastic Pool the database is in if available."
                },
                "currentServiceObjective": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name of the current service objective if available."
                },
                "requestedServiceObjective": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name of the requested service objective if available."
                },
                "serverName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the name of the Azure SQL Server the Elastic Pool is in."
                },
                "startTime": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the time the operation started."
                },
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the current state of the operation."
                }
            },
            "description": "Represents the properties of an Azure SQL Elastic Pool Database Activity."
        },
        "ElasticPoolDatabaseActivity": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/ElasticPoolDatabaseActivityProperties",
                    "description": "Gets or sets the properties representing the resource.",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents the activity on an Azure SQL Elastic Pool."
        },
        "ElasticPoolDatabaseActivityListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ElasticPoolDatabaseActivity"
                    },
                    "description": "Gets or sets the list of Azure Sql Elastic Pool Database Activities."
                }
            },
            "description": "Represents the response to a List Azure Sql Elastic Pool Database Activity request."
        },
        "ServerProperties": {
            "properties": {
                "fullyQualifiedDomainName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The fully qualified domain name of the server."
                },
                "version": {
                    "type": "string",
                    "description": "The version of the server."
                },
                "administratorLogin": {
                    "type": "string",
                    "description": "Administrator username for the server. Can only be specified when the server is being created."
                },
                "administratorLoginPassword": {
                    "type": "string",
                    "description": "The administrator login password."
                }
            },
            "description": "Represents the properties of an Azure SQL Server."
        },
        "Server": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/ServerProperties",
                    "description": "Represents the properties of the resource.",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents an Azure SQL Server."
        },
        "ServerListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Server"
                    },
                    "description": "Gets or sets the list of Azure SQL Servers."
                }
            },
            "description": "Represents the response to a Get Azure SQL Server request."
        },
        "ServerUpgradeGetResult": {
            "properties": {
                "status": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the status of the Azure SQL Server Upgrade."
                },
                "scheduleUpgradeAfterTime": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the schedule time of the Azure SQL Server Upgrade."
                }
            },
            "description": "Represents the response to a Get request for Upgrade status of an Azure SQL Server."
        },
        "ServerUpgradeProperties": {
            "properties": {
                "Version": {
                    "type": "string",
                    "description": "Gets or sets the version for the Azure SQL Server being upgraded."
                },
                "ScheduleUpgradeAfterUtcDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets or sets the earliest time to upgrade the Azure SQL Server."
                },
                "DatabaseCollection": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RecommendedDatabaseProperties"
                    },
                    "description": "Gets or sets the collection of recommended database properties to upgrade the Azure SQL Server."
                },
                "ElasticPoolCollection": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/UpgradeRecommendedElasticPoolProperties"
                    },
                    "description": "Gets or sets the collection of recommended elastic pool properties to upgrade the Azure SQL Server."
                }
            },
            "required": [
                "Version"
            ],
            "description": "Start Azure SQL Server Upgrade properties."
        },
        "ServerUpgradeStartParameters": {
            "properties": {
                "serverUpgradeProperties": {
                    "$ref": "#/definitions/ServerUpgradeProperties",
                    "description": "Gets or sets the properties of the Azure SQL Server Upgrade."
                }
            },
            "required": [
                "serverUpgradeProperties"
            ],
            "description": "Start Azure SQL Server Upgrade parameters."
        },
        "UpgradeRecommendedElasticPoolProperties": {
            "properties": {
                "Name": {
                    "type": "string",
                    "description": "Gets or sets the name of the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "Edition": {
                    "type": "string",
                    "description": "Gets or sets the target edition for the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "Dtu": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets or sets the DTU guarantee for the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "StorageMb": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets or sets the storage limit in MB for the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "DatabaseDtuMin": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets or sets the DTU guarantee for database for the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "DatabaseDtuMax": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Gets or sets the DTU cap for database for the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "DatabaseCollection": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Gets or sets the list of database names to be put in the Azure SQL Recommended Elastic Pool being upgraded."
                },
                "IncludeAllDatabases": {
                    "type": "boolean",
                    "description": "Gets or sets whether all databases to be put in the Azure SQL Recommended Elastic Pool being upgraded."
                }
            },
            "description": "Represents the properties of a Azure SQL Recommended Elastic Pool being upgraded."
        },
        "RecommendedIndexProperties": {
            "properties": {
                "action": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the proposed index action. We suggest user to create missing index, drop unused index or to rebuild already existing index to improve its performance. Possible values are 'Create', 'Drop', 'Rebuild'."
                },
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the state recommendation is in. Current options are: 'Active', 'Pending', 'Executing', 'Verifying', 'Pending Revert', 'Reverting', 'Reverted', 'Ignored', 'Expired', 'Blocked', 'Success'."
                },
                "created": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the UTC datetime showing when this resource was created."
                },
                "lastModified": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the UTC datetime of when was this resource last changed."
                },
                "indexType": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)"
                },
                "schema": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the schema where table to build index over resides"
                },
                "table": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the table on which to build index."
                },
                "columns": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Columns over which to build index"
                },
                "includedColumns": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Gets the list of column names to be included in the index"
                },
                "indexScript": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the full build index script"
                },
                "estimatedImpact": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OperationImpact"
                    },
                    "description": "Gets the estimated impact of doing recommended index action."
                },
                "reportedImpact": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OperationImpact"
                    },
                    "description": "Gets the values reported after index action is complete."
                }
            },
            "description": "Represents the properties of an Azure SQL Database recommended index."
        },
        "RecommendedIndex": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/RecommendedIndexProperties",
                    "readOnly": true,
                    "x-ms-client-flatten": true,
                    "description": "Gets the properties representing the resource."
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents an Azure SQL Database recommended index."
        },
        "TransparentDataEncryptionProperties": {
            "properties": {
                "status": {
                    "type": "string",
                    "description": "Gets the status of the Azure SQL Database Transparent Data Encryption.",
                    "enum": [
                        "Enabled",
                        "Disabled"
                    ],
                    "x-ms-enum": {
                        "name": "TransparentDataEncryptionStates",
                        "modelAsString": true
                    }
                }
            },
            "description": "Represents the properties of an Azure SQL Database Transparent Data Encryption."
        },
        "TransparentDataEncryption": {
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/TransparentDataEncryptionProperties",
                    "description": "Represents the properties of the resource."
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/SubResource"
                }
            ],
            "description": "Represents an Azure SQL Database Transparent Data Encryption ."
        },
        "DatabaseProperties": {
            "properties": {
                "collation": {
                    "type": "string",
                    "description": "Gets the collation of the Azure SQL Database."
                },
                "creationDate": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the creation date of the Azure SQL Database."
                },
                "currentServiceObjectiveId": {
                    "readOnly": true,
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets the current Service Level Objective Id of the Azure SQL Database. This is the Id of the Service Level Objective that is currently active."
                },
                "databaseId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the Id of the Azure SQL Database."
                },
                "earliestRestoreDate": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the recovery period starte date of the Azure SQL Database. This records the start date and time when recovery is available for this Azure SQL Database."
                },
                "edition": {
                    "type": "string",
                    "description": "Gets the edition of the Azure SQL Database.  The DatabaseEditions enumeration contains all the valid editions.",
                    "enum": [
                        "Web",
                        "Business",
                        "Basic",
                        "Standard",
                        "Premium",
                        "Free",
                        "Stretch",
                        "DataWarehouse"
                    ],
                    "x-ms-enum": {
                        "name": "DatabaseEditions",
                        "modelAsString": true
                    }
                },
                "maxSizeBytes": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Gets the max size of the Azure SQL Database expressed in bytes."
                },
                "requestedServiceObjectiveId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets the configured Service Level Objective Id of the Azure SQL Database. This is the Service Level Objective that is being applied to the Azure SQL Database."
                },
                "requestedServiceObjectiveName": {
                    "type": "string",
                    "description": "Gets the name of the configured Service Level Objective of the Azure SQL Database. This is the Service Level Objective that is being applied to the Azure SQL Database."
                },
                "serviceLevelObjective": {
                    "readOnly": true,
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets the Service Level Objective of the Azure SQL Database."
                },
                "status": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the status of the Azure SQL Database."
                },
                "elasticPoolName": {
                    "type": "string",
                    "description": "Gets the name of the Azure SQL Elastic Pool the database is in."
                },
                "defaultSecondaryLocation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the default secondary region for this database."
                },
                "serviceTierAdvisors": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ServiceTierAdvisor"
                    },
                    "description": "Gets the list of service tier advisors for this database. Expanded property"
                },
                "upgradeHint": {
                    "$ref": "#/definitions/UpgradeHint",
                    "readOnly": true,
                    "description": "Gets the upgrade hint for this database."
                },
                "schemas": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Schema"
                    },
                    "description": "Gets the schemas from this database."
                },
                "transparentDataEncryption": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TransparentDataEncryption"
                    },
                    "description": "Gets the transparent data encryption info for this database."
                },
                "recommendedIndex": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RecommendedIndex"
                    },
                    "description": "Gets the recommended indices for this database."
                }
            },
            "description": "Represents the properties of an Azure SQL Database."
        },
        "Database": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/DatabaseProperties",
                    "description": "Gets or sets the properties representing the resource.",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Represents an Azure SQL Database."
        },
        "DatabaseListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Database"
                    },
                    "description": "Gets or sets the list of Azure Sql Databases housed in the server."
                }
            },
            "description": "Represents the response to a List Azure Sql Database request."
        },
        "ServiceTierAdvisorProperties": {
            "properties": {
                "observationPeriodStart": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the observation period start."
                },
                "observationPeriodEnd": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the observation period start."
                },
                "activeTimeRatio": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets the activeTimeRatio for service tier advisor."
                },
                "minDtu": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets or sets minDtu for service tier advisor."
                },
                "avgDtu": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets or sets avgDtu for service tier advisor."
                },
                "maxDtu": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets or sets maxDtu for service tier advisor."
                },
                "maxSizeInGB": {
                    "readOnly": true,
                    "type": "number",
                    "format": "double",
                    "description": "Gets or sets maxSizeInGB for service tier advisor."
                },
                "serviceLevelObjectiveUsageMetrics": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SloUsageMetric"
                    },
                    "description": "Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor."
                },
                "currentServiceLevelObjective": {
                    "readOnly": true,
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets or sets currentServiceLevelObjective for service tier advisor."
                },
                "currentServiceLevelObjectiveId": {
                    "readOnly": true,
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets or sets currentServiceLevelObjectiveId for service tier advisor."
                },
                "usageBasedRecommendationServiceLevelObjective": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor."
                },
                "usageBasedRecommendationServiceLevelObjectiveId": {
                    "readOnly": true,
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor."
                },
                "databaseSizeBasedRecommendationServiceLevelObjective": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor."
                },
                "databaseSizeBasedRecommendationServiceLevelObjectiveId": {
                    "readOnly": true,
                    "type": "string",
                    "format": "uuid",
                    "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor."
                },
                "disasterPlanBasedRecommendationServiceLevelObjective": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor."
                },
                "disasterPlanBasedRecommendationServiceLevelObjectiveId": {
                    "readOnly": true,
                    "type": "string",
[...]
