{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ComputeBulkActions",
    "version": "2026-02-01-preview",
    "description": "Microsoft.ComputeBulkActions Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BulkActions"
    }
  ],
  "paths": {
    "/providers/Microsoft.ComputeBulkActions/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/launchBulkInstancesOperations": {
      "get": {
        "operationId": "BulkActions_ListBySubscription",
        "tags": [
          "BulkActions"
        ],
        "description": "List LaunchBulkInstancesOperation resources by subscriptionId.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LaunchBulkInstancesOperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_ListBySubscription_MaximumSet_Gen.json"
          },
          "BulkActions_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/operations/{id}": {
      "get": {
        "operationId": "BulkActions_GetOperationStatus",
        "tags": [
          "BulkActions"
        ],
        "description": "Get the status of a LaunchBulkInstancesOperation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "The async operation id.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_GetOperationStatus - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_GetOperationStatus_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesCancelOperations": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesCancelOperations",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesCancelOperations: Cancel a previously submitted (start/deallocate/hibernate) request",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOperationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CancelOperationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesCancelOperations_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesCancelOperations_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesCancelOperations_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesCancelOperations_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesExecuteDeallocate": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesExecuteDeallocate",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesExecuteDeallocate: Execute deallocate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesExecuteDeallocate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesExecuteDeallocate_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesExecuteDeallocate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesExecuteDeallocate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesExecuteHibernate": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesExecuteHibernate",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesExecuteHibernate: Execute hibernate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesExecuteHibernate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesExecuteHibernate_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesExecuteHibernate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesExecuteHibernate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesExecuteStart": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesExecuteStart",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesExecuteStart: Execute start operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesExecuteStart_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesExecuteStart_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesExecuteStart_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesExecuteStart_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesGetOperationErrors": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesGetOperationErrors",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesGetOperationErrors: Get error details on operation errors (like transient errors encountered, additional logs) if they exist.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationErrorsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationErrorsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesGetOperationErrors_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesGetOperationErrors_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesGetOperationErrors_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesGetOperationErrors_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesGetOperationStatus": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesGetOperationStatus",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesGetOperationStatus: Polling endpoint to read status of operations performed on virtual machines",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesGetOperationStatus_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesGetOperationStatus_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesGetOperationStatus_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesGetOperationStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesSubmitDeallocate": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesSubmitDeallocate",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesSubmitDeallocate: Schedule deallocate operation for a batch of virtual machines at datetime in future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesSubmitDeallocate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesSubmitDeallocate_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesSubmitDeallocate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesSubmitDeallocate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesSubmitHibernate": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesSubmitHibernate",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesSubmitHibernate: Schedule hibernate operation for a batch of virtual machines at datetime in future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesSubmitHibernate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesSubmitHibernate_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesSubmitHibernate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesSubmitHibernate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeBulkActions/locations/{location}/virtualMachinesSubmitStart": {
      "post": {
        "operationId": "BulkActions_VirtualMachinesSubmitStart",
        "tags": [
          "BulkActions"
        ],
        "description": "VirtualMachinesSubmitStart: Schedule start operation for a batch of virtual machines at datetime in future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_VirtualMachinesSubmitStart_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesSubmitStart_MaximumSet_Gen.json"
          },
          "BulkActions_VirtualMachinesSubmitStart_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_VirtualMachinesSubmitStart_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeBulkActions/locations/{location}/launchBulkInstancesOperations": {
      "get": {
        "operationId": "BulkActions_ListByResourceGroup",
        "tags": [
          "BulkActions"
        ],
        "description": "List LaunchBulkInstancesOperation resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LaunchBulkInstancesOperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "BulkActions_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/BulkActions_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeBulkActions/locations/{location}/launchBulkInstancesOperations/{name}": {
      "get": {
        "operationId": "BulkActions_Get",
        "tags": [
          "BulkActions"
        ],
        "description": "Gets an instance of LaunchBulkInstancesOperations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the LaunchBulkInstancesOperation.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocationBasedLaunchBulkInstancesOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "BulkActions_CreateOrUpdate",
        "tags": [
          "BulkActions"
        ],
        "description": "Creates or updates LaunchBulkInstancesOperations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the LaunchBulkInstancesOperation.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationBasedLaunchBulkInstancesOperation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LocationBasedLaunchBulkInstancesOperation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LocationBasedLaunchBulkInstancesOperation"
            }
          },
          "201": {
            "description": "Resource 'LocationBasedLaunchBulkInstancesOperation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LocationBasedLaunchBulkInstancesOperation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BulkActions_Delete",
        "tags": [
          "BulkActions"
        ],
        "description": "Deletes LaunchBulkInstancesOperations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the LaunchBulkInstancesOperation.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          {
            "name": "deleteInstances",
            "in": "query",
            "description": "When true, deletes all virtual machines created by this BulkAction Operation.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeBulkActions/locations/{location}/launchBulkInstancesOperations/{name}/cancel": {
      "post": {
        "operationId": "BulkActions_Cancel",
        "tags": [
          "BulkActions"
        ],
        "description": "Cancels LaunchBulkInstancesOperation instances that have not yet launched.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the LaunchBulkInstancesOperation.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_Cancel - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_Cancel_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeBulkActions/locations/{location}/launchBulkInstancesOperations/{name}/virtualMachines": {
      "get": {
        "operationId": "BulkActions_ListVirtualMachines",
        "tags": [
          "BulkActions"
        ],
        "description": "List VirtualMachine resources of a LaunchBulkInstancesOperation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the LaunchBulkInstancesOperation",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter expression to filter the virtual machines.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skip token for pagination. Uses the token from a previous response to fetch the next page of results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BulkActions_ListVirtualMachines - generated by [MaximumSet] rule": {
            "$ref": "./examples/BulkActions_ListVirtualMachines_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AcceleratorManufacturer": {
      "type": "string",
      "description": "Accelerator manufacturers supported by Azure VMs.",
      "enum": [
        "AMD",
        "Nvidia",
        "Xilinx"
      ],
      "x-ms-enum": {
        "name": "AcceleratorManufacturer",
        "modelAsString": true,
        "values": [
          {
            "name": "AMD",
            "value": "AMD",
            "description": "AMD GpuType"
          },
          {
            "name": "Nvidia",
            "value": "Nvidia",
            "description": "Nvidia GpuType"
          },
          {
            "name": "Xilinx",
            "value": "Xilinx",
            "description": "Xilinx GpuType"
          }
        ]
      }
    },
    "AcceleratorType": {
      "type": "string",
      "description": "Accelerator types supported by Azure VMs.",
      "enum": [
        "GPU",
        "FPGA"
      ],
      "x-ms-enum": {
        "name": "AcceleratorType",
        "modelAsString": true,
        "values": [
          {
            "name": "GPU",
            "value": "GPU",
            "description": "GPU Accelerator"
          },
          {
            "name": "FPGA",
            "value": "FPGA",
            "description": "FPGA Accelerator"
          }
        ]
      }
    },
    "AdditionalCapabilities": {
      "type": "object",
      "description": "Enables or disables a capability on the virtual machine or virtual machine scale set.",
      "properties": {
        "ultraSSDEnabled": {
          "type": "boolean",
          "description": "The flag that enables or disables a capability to have one or more managed data disks with UltraSSD_LRS storage account type on the VM or VMSS. Managed disks with storage account type UltraSSD_LRS can be added to a virtual machine or virtual machine scale set only if this property is enabled."
        },
        "hibernationEnabled": {
          "type": "boolean",
          "description": "The flag that enables or disables hibernation capability on the VM."
        }
      }
    },
    "AdditionalUnattendContent": {
      "type": "object",
      "description": "Specifies additional XML formatted information that can be included in the Unattend.xml file, which is used by Windows Setup. Contents are defined by setting name, component name, and the pass in which the content is applied.",
      "properties": {
        "passName": {
          "type": "string",
          "description": "The pass name. Currently, the only allowable value is OobeSystem.",
          "enum": [
            "OobeSystem"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "componentName": {
          "type": "string",
          "description": "The component name. Currently, the only allowable value is Microsoft-Windows-Shell-Setup.",
          "enum": [
            "Microsoft-Windows-Shell-Setup"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "settingName": {
          "$ref": "#/definitions/SettingNames",
          "description": "Specifies the name of the setting to which the content applies. Possible values are: FirstLogonCommands and AutoLogon."
        },
        "content": {
          "type": "string",
          "description": "Specifies the XML formatted content that is added to the unattend.xml file for the specified path and component. The XML must be less than 4KB and must include the root element for the setting or feature that is being inserted."
        }
      }
    },
    "AllInstancesDown": {
      "type": "object",
      "description": "Specifies if Scheduled Events should be auto-approved when all instances are down.",
      "properties": {
        "automaticallyApprove": {
          "type": "boolean",
          "description": "Specifies if Scheduled Events should be auto-approved when all instances are down. Its default value is true."
        }
      }
    },
    "AllocationStrategy": {
      "type": "string",
      "description": "Allocation strategy types for LaunchBulkInstancesOperation",
      "enum": [
        "LowestPrice",
        "CapacityOptimized",
        "Prioritized"
      ],
      "x-ms-enum": {
        "name": "AllocationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "LowestPrice",
            "value": "LowestPrice",
            "description": "Default. VM sizes distribution will be determined to optimize for price. Note: Capacity will still be considered here but will be given much less weight."
          },
          {
            "name": "CapacityOptimized",
            "value": "CapacityOptimized",
            "description": "VM sizes distribution will be determined to optimize for capacity."
          },
          {
            "name": "Prioritized",
            "value": "Prioritized",
            "description": "VM sizes distribution will be determined to optimize for the 'rank' specified for each vm size."
          }
        ]
      }
    },
    "ApiEntityReference": {
      "type": "object",
      "description": "The API entity reference.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
        }
      }
    },
    "ApiError": {
      "type": "object",
      "description": "ApiError for Fleet",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "details": {
          "type": "array",
          "description": "The API error details",
          "items": {
            "$ref": "#/definitions/ApiErrorBase"
          },
          "x-ms-identifiers": [
            "message",
            "target"
          ]
        },
        "innererror": {
          "$ref": "#/definitions/InnerError",
          "description": "The API inner error"
        }
      }
    },
    "ApiErrorBase": {
      "type": "object",
      "description": "API error base.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "ApplicationProfile": {
      "type": "object",
      "description": "Contains the list of gallery applications that should be made available to the VM",
      "properties": {
        "galleryApplications": {
          "type": "array",
          "description": "Specifies the gallery applications that should be made available to the VM",
          "items": {
            "$ref": "#/definitions/VMGalleryApplication"
          },
          "x-ms-identifiers": [
            "packageReferenceId"
          ]
        }
      }
    },
    "ArchitectureType": {
      "type": "string",
      "description": "Architecture types supported by Azure VMs.",
      "enum": [
        "ARM64",
        "X64"
      ],
      "x-ms-enum": {
        "name": "ArchitectureType",
        "modelAsString": true,
        "values": [
          {
            "name": "ARM64",
            "value": "ARM64",
            "description": "ARM64 Architecture"
          },
          {
            "name": "X64",
            "value": "X64",
            "description": "X64 Architecture"
          }
        ]
      }
    },
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BootDiagnostics": {
      "type": "object",
      "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. You can easily view the output of your console log. Azure also enables you to see a screenshot of the VM from the hypervisor.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether boot diagnostics should be enabled on the Virtual Machine."
        },
        "storageUri": {
          "type": "string",
          "description": "Uri of the storage account to use for placing the console output and screenshot. If storageUri is not specified while enabling boot diagnostics, managed storage will be used."
        }
      }
    },
    "CachingTypes": {
      "type": "string",
      "description": "Specifies the caching requirements. Possible values are: **None,** **ReadOnly,** **ReadWrite.** The default values are: **None for Standard storage. ReadOnly for Premium storage**",
      "enum": [
        "None",
        "ReadOnly",
        "ReadWrite"
      ],
      "x-ms-enum": {
        "name": "CachingTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Caching type:None"
          },
          {
            "name": "ReadOnly",
            "value": "ReadOnly",
            "description": "Caching type:ReadOnly"
          },
          {
            "name": "ReadWrite",
            "value": "ReadWrite",
            "description": "Caching type:ReadWrite"
          }
        ]
      }
    },
    "CancelOperationsRequest": {
      "type": "object",
      "description": "This is the request to cancel running operations in bulkactions using the operation ids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to cancel operations on",
          "items": {
            "type": "string"
          }
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "operationIds",
        "correlationid"
      ]
    },
    "CancelOperationsResponse": {
      "type": "object",
      "description": "This is the response from a cancel operations request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations that were successfully cancelled",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "CapacityReservationProfile": {
      "type": "object",
      "description": "The parameters of a capacity reservation Profile.",
      "properties": {
        "capacityReservationGroup": {
          "$ref": "#/definitions/SubResource",
          "description": "Specifies the capacity reservation group resource id that should be used for allocating the virtual machine provided enough capacity has been reserved. Please refer to https://aka.ms/CapacityReservation for more details."
        }
      }
    },
    "CapacityType": {
      "type": "string",
      "description": "Capacity types for LaunchBulkInstancesOperation.",
      "enum": [
        "VM",
        "VCpu"
      ],
      "x-ms-enum": {
        "name": "CapacityType",
        "modelAsString": true,
        "values": [
          {
            "name": "VM",
            "value": "VM",
            "description": "Default. VM is the default capacity type for LaunchBulkInstancesOperation where capacity is provisioned in terms of VMs."
          },
          {
            "name": "VCpu",
            "value": "VCpu",
            "description": "VCpu is the capacity type for LaunchBulkInstancesOperation where capacity is provisioned in terms of VCpus. If VCpu capacity is not exactly divisible by VCpu count in VMSizes, capacity in VCpus will be overprovisioned by default."
          }
        ]
      }
    },
    "ComputeProfile": {
      "type": "object",
      "description": "Compute Profile to configure the Virtual Machines.",
      "properties": {
        "virtualMachineProfile": {
          "$ref": "#/definitions/VirtualMachineProfile",
          "description": "Base Virtual Machine Profile Properties to be specified according to \"specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/{computeApiVersion}/virtualMachine.json#/definitions/VirtualMachineProperties\""
        },
        "extensions": {
          "type": "array",
          "description": "Virtual Machine Extensions Array to be specified according to \"specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/{computeApiVersion}/virtualMachine.json#/definitions/VirtualMachineExtension\"",
          "items": {
            "$ref": "#/definitions/VirtualMachineExtension"
          }
        },
        "computeApiVersion": {
          "type": "string",
          "description": "Specifies the Microsoft.Compute API version to use when creating underlying Virtual Machines.\nThe default value will be the latest supported computeApiVersion by LaunchBulkInstancesOperation."
        }
      },
      "required": [
        "virtualMachineProfile"
      ]
    },
    "CpuManufacturer": {
      "type": "string",
      "description": "Cpu Manufacturers  supported by Azure VMs.",
      "enum": [
        "Intel",
        "AMD",
        "Microsoft",
        "Ampere"
      ],
      "x-ms-enum": {
        "name": "CpuManufacturer",
        "modelAsString": true,
        "values": [
          {
            "name": "Intel",
            "value": "Intel",
            "description": "Intel CPU."
          },
          {
            "name": "AMD",
            "value": "AMD",
            "description": "AMD CPU."
          },
          {
            "name": "Microsoft",
            "value": "Microsoft",
            "description": "Microsoft CPU."
          },
          {
            "name": "Ampere",
            "value": "Ampere",
            "description": "Ampere CPU."
          }
        ]
      }
    },
    "CreateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a create request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the request.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DataDisk": {
      "type": "object",
      "description": "Describes a data disk.",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "vhd": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The virtual hard disk."
        },
        "image": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The source user image virtual hard disk. The virtual hard disk will be copied before being attached to the virtual machine. If SourceImage is provided, the destination virtual hard drive must not exist."
        },
        "caching": {
          "$ref": "#/definitions/CachingTypes",
          "description": "Specifies the caching requirements. Possible values are: None, ReadOnly, ReadWrite. The defaulting behavior is: None for Standard storage. ReadOnly for Premium storage."
        },
        "writeAcceleratorEnabled": {
          "type": "boolean",
          "description": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
        },
        "createOption": {
          "$ref": "#/definitions/DiskCreateOptionTypes",
          "description": "Specifies how the virtual machine disk should be created. Possible values are Attach, FromImage, Empty, Copy, Restore."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the size of the disk in a virtual machine image. The property 'diskSizeGB' is the number of bytes x 1024^3 for the disk and the value cannot be larger than 1023."
        },
        "managedDisk": {
          "$ref": "#/definitions/ManagedDiskParameters",
          "description": "The managed disk parameters."
        },
        "sourceResource": {
          "$ref": "#/definitions/ApiEntityReference",
          "description": "The source resource identifier. It can be a snapshot, or disk restore point from which to create a disk."
        },
        "toBeDetached": {
          "type": "boolean",
          "description": "Specifies whether the data disk is in process of detachment from the VirtualMachine/VirtualMachineScaleset."
        },
        "detachOption": {
          "$ref": "#/definitions/DiskDetachOptionTypes",
          "description": "Specifies the detach behavior to be used while detaching a disk or which is already in the process of detachment from the virtual machine. Supported values: ForceDetach. This feature is still in preview. To force-detach a data disk update toBeDetached to 'true' along with setting detachOption: 'ForceDetach'."
        },
        "deleteOption": {
          "$ref": "#/definitions/DiskDeleteOptionTypes",
          "description": "Specifies whether data disk should be deleted or detached upon VM deletion. Possible values are: Delete, Detach. The default value is set to Detach."
        }
      },
      "required": [
        "lun",
        "createOption"
      ]
    },
    "DeadlineType": {
      "type": "string",
      "description": "The types of deadlines supported by Bulkactions",
      "enum": [
        "Unknown",
        "InitiateAt",
        "CompleteBy"
      ],
      "x-ms-enum": {
        "name": "DeadlineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Default value of Unknown."
          },
          {
            "name": "InitiateAt",
            "value": "InitiateAt",
            "description": "Initiate the operation at the given deadline."
          },
          {
            "name": "CompleteBy",
            "value": "CompleteBy",
            "description": "Complete the operation by the given deadline."
          }
        ]
      }
    },
    "DeallocateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a deallocate request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the request.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DeleteOptions": {
      "type": "string",
      "description": "Specify what happens to the network interface when the VM is deleted",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DeleteOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete network interface when the VM is deleted"
          },
          {
            "name": "Detach",
            "value": "Detach",
            "description": "Detach network interface when the VM is deleted"
          }
        ]
      }
    },
    "DeleteResourceOperationResponse": {
      "type": "object",
      "description": "The response from a delete request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the request.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DiagnosticsProfile": {
      "type": "object",
      "description": "Specifies the boot diagnostic settings state. Minimum compute api-version: 2015-06-15.",
      "properties": {
        "bootDiagnostics": {
          "$ref": "#/definitions/BootDiagnostics",
          "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. **NOTE**: If storageUri is being specified then ensure that the storage account is in the same region and subscription as the VM. You can easily view the output of your console log. Azure also enables you to see a screenshot of the VM from the hypervisor."
        }
      }
    },
    "DiffDiskOptions": {
      "type": "string",
      "description": "Specifies the ephemeral disk option for operating system disk.",
      "enum": [
        "Local"
      ],
      "x-ms-enum": {
        "name": "DiffDiskOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local",
            "description": "Local Ephemeral disk option: Local"
          }
        ]
      }
    },
    "DiffDiskPlacement": {
      "type": "string",
      "description": "Specifies the ephemeral disk placement for operating system disk. This property can be used by user in the request to choose the location i.e, cache disk, resource disk or nvme disk space for Ephemeral OS disk provisioning. For more information on Ephemeral OS disk size requirements, please refer Ephemeral OS disk size requirements for Windows VM at https://docs.microsoft.com/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements and Linux VM at https://docs.microsoft.com/azure/virtual-machines/linux/ephemeral-os-disks#size-requirements. Minimum api-version for NvmeDisk: 2024-03-01.",
      "enum": [
        "CacheDisk",
        "ResourceDisk",
        "NvmeDisk"
      ],
      "x-ms-enum": {
        "name": "DiffDiskPlacement",
        "modelAsString": true,
        "values": [
          {
            "name": "CacheDisk",
            "value": "CacheDisk",
            "description": "CacheDisk disk placement"
          },
          {
            "name": "ResourceDisk",
            "value": "ResourceDisk",
            "description": "ResourceDisk disk placement"
          },
          {
            "name": "NvmeDisk",
            "value": "NvmeDisk",
            "description": "NvmeDisk disk placement"
          }
        ]
      }
    },
    "DiffDiskSettings": {
      "type": "object",
      "description": "Describes the parameters of ephemeral disk settings that can be specified for operating system disk. Note: The ephemeral disk settings can only be specified for managed disk.",
      "properties": {
        "option": {
          "$ref": "#/definitions/DiffDiskOptions",
          "description": "Specifies the ephemeral disk settings for operating system disk."
        },
        "placement": {
          "$ref": "#/definitions/DiffDiskPlacement",
          "description": "Specifies the ephemeral disk placement for operating system disk. Possible values are: CacheDisk, ResourceDisk, NvmeDisk. The defaulting behavior is: CacheDisk if one is configured for the VM size otherwise ResourceDisk or NvmeDisk is used. Minimum api-version for NvmeDisk: 2024-03-01."
        }
      }
    },
    "DiskControllerTypes": {
      "type": "string",
      "description": "Specifies the disk controller type configured for the VM and VirtualMachineScaleSet. This property is only supported for virtual machines whose operating system disk and VM sku supports Generation 2 (https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2), please check the HyperVGenerations capability returned as part of VM sku capabilities in the response of Microsoft.Compute SKUs api for the region contains V2 (https://docs.microsoft.com/rest/api/compute/resourceskus/list). For more information about Disk Controller Types supported please refer to https://aka.ms/azure-diskcontrollertypes.",
      "enum": [
        "SCSI",
        "NVMe"
      ],
      "x-ms-enum": {
        "name": "DiskControllerTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "SCSI",
            "value": "SCSI",
            "description": "SCSI disk controller type"
          },
          {
            "name": "NVMe",
            "value": "NVMe",
            "description": "NVMe disk controller type"
          }
        ]
      }
    },
    "DiskCreateOptionTypes": {
      "type": "string",
      "description": "Specifies how the virtual machine disk should be created. Possible values are **Attach:** This value is used when you are using a specialized disk to create the virtual machine. **FromImage:** This value is used when you are using an image to create the virtual machine. If you are using a platform image, you should also use the imageReference element described above. If you are using a marketplace image, you should also use the plan element previously described. **Empty:** This value is used when creating an empty data disk. **Copy:** This value is used to create a data disk from a snapshot or another disk. **Restore:** This value is used to create a data disk from a disk restore point.",
      "enum": [
        "FromImage",
        "Empty",
        "Attach",
        "Copy",
        "Restore"
      ],
      "x-ms-enum": {
        "name": "DiskCreateOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "FromImage",
            "value": "FromImage",
            "description": "Create disk FromImage"
          },
          {
            "name": "Empty",
            "value": "Empty",
            "description": "Empty value"
          },
          {
            "name": "Attach",
            "value": "Attach",
            "description": "Create disk by Attach"
          },
          {
            "name": "Copy",
            "value": "Copy",
            "description": "Create disk by Copy"
          },
          {
            "name": "Restore",
            "value": "Restore",
            "description": "Create disk by Restore"
          }
        ]
      }
    },
    "DiskDeleteOptionTypes": {
      "type": "string",
      "description": "Specifies the behavior of the managed disk when the VM gets deleted, for example whether the managed disk is deleted or detached. Supported values are: **Delete.** If this value is used, the managed disk is deleted when VM gets deleted. **Detach.** If this value is used, the managed disk is retained after VM gets deleted. Minimum api-version: 2021-03-01.",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DiskDeleteOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete the disk upon VM deletion"
          },
          {
            "name": "Detach",
            "value": "Detach",
            "description": "Detach the disk upon VM deletion"
          }
        ]
      }
    },
    "DiskDetachOptionTypes": {
      "type": "string",
      "description": "Specifies the detach behavior to be used while detaching a disk or which is already in the process of detachment from the virtual machine. Supported values are: **ForceDetach.** detachOption: **ForceDetach** is applicable only for managed data disks. If a previous detachment attempt of the data disk did not complete due to an unexpected failure from the virtual machine and the disk is still not released then use force-detach as a last resort option to detach the disk forcibly from the VM. All writes might not have been flushed when using this detach behavior. **This feature is still in preview**. To force-detach a data disk update toBeDetached to 'true' along with setting detachOption: 'ForceDetach'.",
      "enum": [
        "ForceDetach"
      ],
      "x-ms-enum": {
        "name": "DiskDetachOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "ForceDetach",
            "value": "ForceDetach",
            "description": "ForceDetach the disk"
          }
        ]
      }
    },
    "DiskEncryptionSetParameters": {
      "type": "object",
      "description": "Describes the parameter of customer managed disk encryption set resource id that can be specified for disk. **Note:** The disk encryption set resource id can only be specified for managed disk. Please refer https://aka.ms/mdssewithcmkoverview for more details.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "DiskEncryptionSettings": {
      "type": "object",
      "description": "Describes a Encryption Settings for a Disk",
      "properties": {
        "diskEncryptionKey": {
          "$ref": "#/definitions/KeyVaultSecretReference",
          "description": "Specifies the location of the disk encryption key, which is a Key Vault Secret."
        },
        "keyEncryptionKey": {
          "$ref": "#/definitions/KeyVaultKeyReference",
          "description": "Specifies the location of the key encryption key in Key Vault."
        },
        "enabled": {
          "type": "boolean",
          "description": "Specifies whether disk encryption should be enabled on the virtual machine."
        }
      }
    },
    "DomainNameLabelScopeTypes": {
      "type": "string",
      "description": "The Domain name label scope.The concatenation of the hashed domain name label that generated according to the policy from domain name label scope and vm index will be the domain name labels of the PublicIPAddress resources that will be created",
      "enum": [
        "TenantReuse",
        "SubscriptionReuse",
        "ResourceGroupReuse",
        "NoReuse"
      ],
      "x-ms-enum": {
        "name": "DomainNameLabelScopeTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "TenantReuse",
            "value": "TenantReuse",
            "description": "TenantReuse scope type"
          },
          {
            "name": "SubscriptionReuse",
            "value": "SubscriptionReuse",
            "description": "SubscriptionReuse scope type"
          },
          {
            "name": "ResourceGroupReuse",
            "value": "ResourceGroupReuse",
            "description": "ResourceGroupReuse scope type"
          },
          {
            "name": "NoReuse",
            "value": "NoReuse",
            "description": "NoReuse scope type"
          }
        ]
      }
    },
    "EncryptionIdentity": {
      "type": "object",
      "description": "Specifies the Managed Identity used by ADE to get access token for keyvault operations.",
      "properties": {
        "userAssignedIdentityResourceId": {
          "type": "string",
          "description": "Specifies ARM Resource ID of one of the user identities associated with the VM."
        }
      }
    },
    "EventGridAndResourceGraph": {
      "type": "object",
      "description": "Specifies eventGridAndResourceGraph related Scheduled Event related configurations.",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Specifies if event grid and resource graph is enabled for Scheduled event related configurations."
        },
        "scheduledEventsApiVersion": {
          "type": "string",
          "description": "Specifies the api-version to determine which Scheduled Events configuration schema version will be delivered."
        }
      }
    },
    "EvictionPolicy": {
      "type": "string",
      "description": "Different kind of eviction policies",
      "enum": [
        "Delete",
        "Deallocate"
      ],
      "x-ms-enum": {
        "name": "EvictionPolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "When evicted, the Spot VM will be deleted and the corresponding capacity will be updated to reflect this."
          },
          {
            "name": "Deallocate",
            "value": "Deallocate",
            "description": "When evicted, the Spot VM will be deallocated/stopped"
          }
        ]
      }
    },
    "ExecuteCreateRequest": {
      "type": "object",
      "description": "The ExecuteCreateRequest request for create operations",
      "properties": {
        "resourceConfigParameters": {
          "$ref": "#/definitions/ResourceProvisionPayload",
          "description": "resource creation payload"
        },
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "resourceConfigParameters",
        "executionParameters"
      ]
    },
    "ExecuteDeallocateRequest": {
      "type": "object",
      "description": "The ExecuteDeallocateRequest request for executeDeallocate operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "executionParameters",
        "correlationid"
      ]
    },
    "ExecuteDeleteRequest": {
      "type": "object",
      "description": "The ExecuteDeleteRequest for delete VM operation",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        },
        "forceDeletion": {
          "type": "boolean",
          "description": "Forced delete resource item"
        }
      },
      "required": [
        "executionParameters",
        "correlationid"
      ]
    },
    "ExecuteHibernateRequest": {
      "type": "object",
      "description": "The ExecuteHibernateRequest request for executeHibernate operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "executionParameters",
        "correlationid"
      ]
    },
    "ExecuteStartRequest": {
      "type": "object",
      "description": "The ExecuteStartRequest request for executeStart operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "executionParameters",
        "correlationid"
      ]
    },
    "ExecuteTypeRequest": {
      "type": "object",
      "description": "The execute-type request for power operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "executionParameters",
        "correlationid"
      ]
    },
    "ExecutionParameters": {
      "type": "object",
      "description": "Extra details needed to run the user's request",
      "properties": {
        "optimizationPreference": {
          "$ref": "#/definitions/OptimizationPreference",
          "description": "Details that could optimize the user's request"
        },
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "Retry policy the user can pass"
        }
      }
    },
    "FallbackOperation": {
      "type": "object",
      "description": "Describes the fallback operation that was performed",
      "properties": {
        "lastOpType": {
          "$ref": "#/definitions/ResourceOperationType",
          "description": "The last operation type that was performed as a fallback"
        },
        "status": {
          "type": "string",
          "description": "The status of the fallback operation"
        }
      }
    },
    "GetOperationErrorsRequest": {
      "type": "object",
      "description": "This is the request to get errors per vm operations",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to query errors of",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operationIds"
      ]
    },
    "GetOperationErrorsResponse": {
      "type": "object",
      "description": "This is the response from a get operations errors request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of operationids and their corresponding errors if any",
          "items": {
            "$ref": "#/definitions/OperationErrorsResult"
          },
          "x-ms-identifiers": [
            "operationId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "GetOperationStatusRequest": {
      "type": "object",
      "description": "This is the request to get operation status using operationids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to get the status of",
          "items": {
            "type": "string"
          }
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "operationIds",
        "correlationid"
      ]
    },
    "GetOperationStatusResponse": {
      "type": "object",
      "description": "This is the response from a get operations status request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations based on their operation ids",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "HibernateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a Hibernate request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the request.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "HostEndpointSettings": {
      "type": "object",
      "description": "Specifies particular host endpoint settings.",
      "properties": {
        "mode": {
          "$ref": "#/definitions/Modes",
          "description": "Specifies the execution mode. In Audit mode, the system acts as if it is enforcing the access control policy, including emitting access denial entries in the logs but it does not actually deny any requests to host endpoints. In Enforce mode, the system will enforce the access control and it is the recommended mode of operation."
        },
        "inVMAccessControlProfileReferenceId": {
          "type": "string",
          "description": "Specifies the InVMAccessControlProfileVersion resource id in the format of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/inVMAccessControlProfiles/{profile}/versions/{version}"
        }
      }
    },
    "HyperVGeneration": {
      "type": "string",
      "description": "HyperVGenerations supported by Azure VMs.",
      "enum": [
        "Gen1",
        "Gen2"
      ],
      "x-ms-enum": {
        "name": "HyperVGeneration",
        "modelAsString": true,
        "values": [
          {
            "name": "Gen1",
            "value": "Gen1",
            "description": "Gen1 hyperV."
          },
          {
            "name": "Gen2",
            "value": "Gen2",
            "description": "Gen2 hyperV."
          }
        ]
      }
    },
    "IPVersions": {
      "type": "string",
      "description": "Available from compute Api-Version 2017-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4. Possible values are: 'IPv4' and 'IPv6'.",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IPVersions",
        "modelAsString": true,
        "values": [
          {
            "name": "IPv4",
            "value": "IPv4",
            "description": "IPv4 version"
          },
          {
            "name": "IPv6",
            "value": "IPv6",
            "description": "IPv6 version"
          }
        ]
      }
    },
    "ImageReference": {
      "type": "object",
      "description": "Specifies information about the image to use. You can specify information about platform images, marketplace images, or virtual machine images. This element is required when you want to use a platform image, marketplace image, or virtual machine image, but is not used in other creation operations. NOTE: Image reference publisher and offer can only be set when you create the scale set.",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The image publisher."
        },
        "offer": {
          "type": "string",
          "description": "Specifies the offer of the platform image or marketplace image used to create the virtual machine."
        },
        "sku": {
          "type": "string",
          "description": "The image SKU."
        },
        "version": {
          "type": "string",
          "description": "Specifies the version of the platform image or marketplace image used to create the virtual machine. The allowed formats are Major.Minor.Build or 'latest'. Major, Minor, and Build are decimal numbers. Specify 'latest' to use the latest version of an image available at deploy time. Even if you use 'latest', the VM image will not automatically update after deploy time even if a new version becomes available. Please do not use field 'version' for gallery image deployment, gallery image should always use 'id' field for deployment, to use 'latest' version of gallery image, just set '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{imageName}' in the 'id' field without version input."
        },
        "sharedGalleryImageId": {
          "type": "string",
          "description": "Specified the shared gallery image unique id for vm deployment. This can be fetched from shared gallery image GET call."
        },
        "communityGalleryImageId": {
          "type": "string",
          "description": "Specified the community gallery image unique id for vm deployment. This can be fetched from community gallery image GET call."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "InnerError": {
      "type": "object",
      "description": "Inner error details.",
      "properties": {
        "exceptionType": {
          "type": "string",
          "description": "The exception type."
        },
        "errorDetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      }
    },
    "KeyVaultKeyReference": {
      "type": "object",
      "description": "Describes a reference to Key Vault Key",
      "properties": {
        "keyUrl": {
          "type": "string",
          "description": "The URL referencing a key encryption key in Key Vault."
        },
        "sourceVault": {
          "$ref": "#/definitions/SubResource",
          "description": "The relative URL of the Key Vault containing the key."
        }
      },
      "required": [
        "keyUrl",
        "sourceVault"
      ]
    },
    "KeyVaultSecretReference": {
      "type": "object",
      "description": "Describes a reference to Key Vault Secret",
      "properties": {
        "secretUrl": {
          "type": "string",
          "description": "The URL referencing a secret in a Key Vault."
        },
        "sourceVault": {
          "$ref": "#/definitions/SubResource",
          "description": "The relative URL of the Key Vault containing the secret."
        }
      },
      "required": [
        "secretUrl",
        "sourceVault"
      ]
    },
    "LaunchBulkInstancesOperation": {
      "type": "object",
      "description": "A LaunchBulkInstancesOperation resource",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Zones in which the LaunchBulkInstancesOperation is available",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "plan": {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/Plan",
          "description": "Details of the resource plan."
        }
      }
    },
    "LaunchBulkInstancesOperationListResult": {
      "type": "object",
      "description": "List of LaunchBulkInstancesOperation resources.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of LaunchBulkInstancesOperation resources.",
          "items": {
            "$ref": "#/definitions/LocationBasedLaunchBulkInstancesOperation"
          },
          "x-ms-identifiers": [
            "location",
            "id"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "required": [
        "value"
      ]
    },
    "LaunchBulkInstancesOperationProperties": {
      "type": "object",
      "description": "Details of the LaunchBulkInstancesOperation.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Total capacity to achieve. It can be in terms of VMs or vCPUs.",
          "minimum": 1
        },
        "capacityType": {
          "$ref": "#/definitions/CapacityType",
          "description": "Specifies capacity type for launching instances. It can be in terms of VMs or vCPUs."
        },
        "priorityProfile": {
          "$ref": "#/definitions/PriorityProfile",
          "description": "Configuration Options for Regular or Spot instances in LaunchBulkInstancesOperation."
        },
        "vmSizesProfile": {
          "type": "array",
          "description": "List of VM sizes supported for LaunchBulkInstancesOperation",
          "items": {
            "$ref": "#/definitions/VmSizeProfile"
          },
          "x-ms-identifiers": []
        },
        "vmAttributes": {
          "$ref": "#/definitions/VMAttributes",
          "description": "Attributes to launch instances."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Compute Profile to configure the Virtual Machines."
        },
        "zoneAllocationPolicy": {
          "$ref": "#/definitions/ZoneAllocationPolicy",
          "description": "Zone Allocation Policy for launching instances."
        },
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "Retry policy the user can pass"
        }
      },
      "required": [
        "capacity",
        "priorityProfile",
        "computeProfile"
      ]
    },
    "LinuxConfiguration": {
      "type": "object",
      "description": "Specifies the Linux operating system settings on the virtual machine. For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros).",
      "properties": {
        "disablePasswordAuthentication": {
          "type": "boolean",
          "description": "Specifies whether password authentication should be disabled."
        },
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS."
        },
        "provisionVMAgent": {
          "type": "boolean",
          "description": "Indicates whether virtual machine agent should be provisioned on the virtual machine. When this property is not specified in the request body, default behavior is to set it to true. This will ensure that VM Agent is installed on the VM so that extensions can be added to the VM later."
        },
        "patchSettings": {
          "$ref": "#/definitions/LinuxPatchSettings",
          "description": "[Preview Feature] Specifies settings related to VM Guest Patching on Linux."
        },
        "enableVMAgentPlatformUpdates": {
          "type": "boolean",
          "description": "Indicates whether VMAgent Platform Updates is enabled for the Linux virtual machine. Default value is false."
        }
      }
    },
    "LinuxPatchAssessmentMode": {
      "type": "string",
      "description": "Specifies the mode of VM Guest Patch Assessment for the IaaS virtual machine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You control the timing of patch assessments on a virtual machine. <br /><br /> **AutomaticByPlatform** - The platform will trigger periodic patch assessments. The property provisionVMAgent must be true.",
      "enum": [
        "ImageDefault",
        "AutomaticByPlatform"
      ],
      "x-ms-enum": {
        "name": "LinuxPatchAssessmentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ImageDefault",
            "value": "ImageDefault",
            "description": "ImageDefault mode"
          },
          {
            "name": "AutomaticByPlatform",
            "value": "AutomaticByPlatform",
            "description": "AutomaticByPlatform mode"
          }
        ]
      }
    },
    "LinuxPatchSettings": {
      "type": "object",
      "description": "Specifies settings related to VM Guest Patching on Linux.",
      "properties": {
        "patchMode": {
          "$ref": "#/definitions/LinuxVMGuestPatchMode",
          "description": "Specifies the mode of VM Guest Patching to IaaS virtual machine or virtual machines associated to virtual machine scale set with OrchestrationMode as Flexible.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - The virtual machine's default patching configuration is used. <br /><br /> **AutomaticByPlatform** - The virtual machine will be automatically updated by the platform. The property provisionVMAgent must be true"
        },
        "assessmentMode": {
          "$ref": "#/definitions/LinuxPatchAssessmentMode",
          "description": "Specifies the mode of VM Guest Patch Assessment for the IaaS virtual machine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You control the timing of patch assessments on a virtual machine. <br /><br /> **AutomaticByPlatform** - The platform will trigger periodic patch assessments. The property provisionVMAgent must be true."
        },
        "automaticByPlatformSettings": {
          "$ref": "#/definitions/LinuxVMGuestPatchAutomaticByPlatformSettings",
          "description": "Specifies additional settings for patch mode AutomaticByPlatform in VM Guest Patching on Linux."
        }
      }
    },
    "LinuxVMGuestPatchAutomaticByPlatformRebootSetting": {
      "type": "string",
      "description": "Specifies the reboot setting for all AutomaticByPlatform patch installation operations.",
      "enum": [
        "Unknown",
        "IfRequired",
        "Never",
        "Always"
      ],
      "x-ms-enum": {
        "name": "LinuxVMGuestPatchAutomaticByPlatformRebootSetting",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown reboot setting"
          },
          {
            "name": "IfRequired",
            "value": "IfRequired",
            "description": "Reboot if required"
          },
          {
            "name": "Never",
            "value": "Never",
            "description": "Never reboot"
          },
          {
            "name": "Always",
            "value": "Always",
            "description": "Always reboot"
          }
        ]
      }
    },
    "LinuxVMGuestPatchAutomaticByPlatformSettings": {
      "type": "object",
      "description": "Specifies additional settings to be applied when patch mode AutomaticByPlatform is selected in Linux patch settings.",
      "properties": {
        "rebootSetting": {
          "$ref": "#/definitions/LinuxVMGuestPatchAutomaticByPlatformRebootSetting",
          "description": "Specifies the reboot setting for all AutomaticByPlatform patch installation operations."
        },
        "bypassPlatformSafetyChecksOnUserSchedule": {
          "type": "boolean",
[...]
