{
  "swagger": "2.0",
  "info": {
    "title": "DataShareManagementClient",
    "version": "2021-08-01",
    "description": "Creates a Microsoft.DataShare management client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "ConsumerInvitations"
    },
    {
      "name": "DataSets"
    },
    {
      "name": "Shares"
    },
    {
      "name": "DataSetMappings"
    },
    {
      "name": "ShareSubscriptions"
    },
    {
      "name": "Invitations"
    },
    {
      "name": "ProviderShareSubscriptions"
    },
    {
      "name": "SynchronizationSettings"
    },
    {
      "name": "Triggers"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataShare/consumerInvitations": {
      "get": {
        "operationId": "ConsumerInvitations_ListInvitations",
        "tags": [
          "ConsumerInvitations"
        ],
        "description": "Lists invitations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_ListInvitations": {
            "$ref": "./examples/ConsumerInvitations_ListInvitations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.DataShare/consumerInvitations/{invitationId}": {
      "get": {
        "operationId": "ConsumerInvitations_Get",
        "tags": [
          "ConsumerInvitations"
        ],
        "description": "Get an invitation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "An invitation id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_Get": {
            "$ref": "./examples/ConsumerInvitations_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/activateEmail": {
      "post": {
        "operationId": "EmailRegistrationsOperations_ActivateEmail",
        "summary": "Activates the tenant and email combination using email code received.",
        "description": "Activate the email registration for the current tenant",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "Location of the activation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "emailRegistration",
            "in": "body",
            "description": "The payload for tenant domain activation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EmailRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/registerEmail": {
      "post": {
        "operationId": "EmailRegistrationsOperations_RegisterEmail",
        "summary": "Registers the tenant and email combination for verification.",
        "description": "Register an email for the current tenant",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "Location of the registration",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EmailRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts": {
      "get": {
        "operationId": "Accounts_ListBySubscription",
        "tags": [
          "Accounts"
        ],
        "description": "List Accounts in Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts": {
      "get": {
        "operationId": "Accounts_ListByResourceGroup",
        "tags": [
          "Accounts"
        ],
        "description": "List Accounts in ResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}": {
      "get": {
        "operationId": "Accounts_Get",
        "tags": [
          "Accounts"
        ],
        "description": "Get an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Accounts_Create",
        "tags": [
          "Accounts"
        ],
        "description": "Create an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "account",
            "in": "body",
            "description": "The account payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "x-ms-client-name": "account"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Account' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "Resource 'Account' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Create": {
            "$ref": "./examples/Accounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Accounts_Update",
        "tags": [
          "Accounts"
        ],
        "description": "Patch an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountUpdateParameters",
            "in": "body",
            "description": "The account update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdateParameters"
            },
            "x-ms-client-name": "accountUpdateParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Accounts_Delete",
        "tags": [
          "Accounts"
        ],
        "description": "DeleteAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions": {
      "get": {
        "operationId": "ShareSubscriptions_ListByAccount",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "List share subscriptions in an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListByAccount": {
            "$ref": "./examples/ShareSubscriptions_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}": {
      "get": {
        "operationId": "ShareSubscriptions_Get",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "Get a shareSubscription in an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_Get": {
            "$ref": "./examples/ShareSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ShareSubscriptions_Create",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "Create a shareSubscription in an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscription",
            "in": "body",
            "description": "create parameters for shareSubscription",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            },
            "x-ms-client-name": "shareSubscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ShareSubscription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          "201": {
            "description": "Resource 'ShareSubscription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_Create": {
            "$ref": "./examples/ShareSubscriptions_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "ShareSubscriptions_Delete",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "Delete a shareSubscription in an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_Delete": {
            "$ref": "./examples/ShareSubscriptions_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization": {
      "post": {
        "operationId": "ShareSubscriptions_CancelSynchronization",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "Request to cancel a synchronization.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionSynchronization",
            "in": "body",
            "description": "Share Subscription Synchronization payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            },
            "x-ms-client-name": "shareSubscriptionSynchronization"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_CancelSynchronization": {
            "$ref": "./examples/ShareSubscriptions_CancelSynchronization.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/consumerSourceDataSets/{subscriptionId}/{resourceGroupName}/{accountName}/{shareSubscriptionName}": {
      "get": {
        "operationId": "ConsumerSourceDataSets_ListByShareSubscription",
        "tags": [
          "ShareSubscriptions"
        ],
        "summary": "Get source dataSets of a shareSubscription.",
        "description": "Get source dataSets of a shareSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedConsumerSourceDataSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "ConsumerSourceDataSets_ListByShareSubscription": {
            "$ref": "./examples/ConsumerSourceDataSets_ListByShareSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings": {
      "get": {
        "operationId": "DataSetMappings_ListByShareSubscription",
        "tags": [
          "DataSetMappings"
        ],
        "description": "List DataSetMappings in a share subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataSetMappingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_ListByShareSubscription": {
            "$ref": "./examples/DataSetMappings_ListByShareSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings/{dataSetMappingName}": {
      "get": {
        "operationId": "DataSetMappings_Get",
        "tags": [
          "DataSetMappings"
        ],
        "description": "Get a DataSetMapping in a shareSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMappingName",
            "in": "path",
            "description": "The name of the dataSetMapping.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_Get": {
            "$ref": "./examples/DataSetMappings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DataSetMappings_Create",
        "tags": [
          "DataSetMappings"
        ],
        "description": "Create a DataSetMapping",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMappingName",
            "in": "path",
            "description": "The name of the dataSetMapping.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMapping",
            "in": "body",
            "description": "Destination data set configuration details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            },
            "x-ms-client-name": "dataSetMapping"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataSetMapping' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          "201": {
            "description": "Resource 'DataSetMapping' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_Create": {
            "$ref": "./examples/DataSetMappings_Create.json"
          },
          "DataSetMappings_SqlDB_Create": {
            "$ref": "./examples/DataSetMappings_Create_Data_Set_Mappings_Sql_Db_Create.json"
          },
          "DataSetMappings_SqlDWDataSetToAdlsGen2File_Create": {
            "$ref": "./examples/DataSetMappings_Create_Data_Set_Mappings_Sql_Dw_Data_Set_To_Adls_Gen2_File_Create.json"
          },
          "DataSetMappings_SqlDW_Create": {
            "$ref": "./examples/DataSetMappings_Create_Data_Set_Mappings_Sql_Dw_Create.json"
          },
          "DataSetMappings_SynapseWorkspaceSqlPoolTable_Create": {
            "$ref": "./examples/DataSetMappings_Create_Data_Set_Mappings_Synapse_Workspace_Sql_Pool_Table_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "DataSetMappings_Delete",
        "tags": [
          "DataSetMappings"
        ],
        "description": "Delete a DataSetMapping in a shareSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMappingName",
            "in": "path",
            "description": "The name of the dataSetMapping.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_Delete": {
            "$ref": "./examples/DataSetMappings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings": {
      "post": {
        "operationId": "ShareSubscriptions_ListSourceShareSynchronizationSettings",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "Get synchronization settings set on a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedSourceShareSynchronizationSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListSourceShareSynchronizationSettings": {
            "$ref": "./examples/ShareSubscriptions_ListSourceShareSynchronizationSettings.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails": {
      "post": {
        "operationId": "ShareSubscriptions_ListSynchronizationDetails",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "List synchronization details",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionSynchronization",
            "in": "body",
            "description": "Share Subscription Synchronization payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            },
            "x-ms-client-name": "shareSubscriptionSynchronization"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedSynchronizationDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListSynchronizationDetails": {
            "$ref": "./examples/ShareSubscriptions_ListSynchronizationDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations": {
      "post": {
        "operationId": "ShareSubscriptions_ListSynchronizations",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "List synchronizations of a share subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedShareSubscriptionSynchronization"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListSynchronizations": {
            "$ref": "./examples/ShareSubscriptions_ListSynchronizations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/synchronize": {
      "post": {
        "operationId": "ShareSubscriptions_Synchronize",
        "tags": [
          "ShareSubscriptions"
        ],
        "description": "Initiate a copy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronize",
            "in": "body",
            "description": "Synchronize payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Synchronize"
            },
            "x-ms-client-name": "synchronize"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_Synchronize": {
            "$ref": "./examples/ShareSubscriptions_Synchronize.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers": {
      "get": {
        "operationId": "Triggers_ListByShareSubscription",
        "tags": [
          "Triggers"
        ],
        "description": "List Triggers in a share subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TriggerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_ListByShareSubscription": {
            "$ref": "./examples/Triggers_ListByShareSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}": {
      "get": {
        "operationId": "Triggers_Get",
        "tags": [
          "Triggers"
        ],
        "description": "Get a Trigger in a shareSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "in": "path",
            "description": "The name of the trigger.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Get": {
            "$ref": "./examples/Triggers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Triggers_Create",
        "tags": [
          "Triggers"
        ],
        "description": "Create a Trigger",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "in": "path",
            "description": "The name of the trigger.",
            "required": true,
            "type": "string"
          },
          {
            "name": "trigger",
            "in": "body",
            "description": "Trigger details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Trigger"
            },
            "x-ms-client-name": "trigger"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Trigger' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "201": {
            "description": "Resource 'Trigger' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Trigger"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Create": {
            "$ref": "./examples/Triggers_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Triggers_Delete",
        "tags": [
          "Triggers"
        ],
        "description": "Delete a Trigger in a shareSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "in": "path",
            "description": "The name of the trigger.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Delete": {
            "$ref": "./examples/Triggers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares": {
      "get": {
        "operationId": "Shares_ListByAccount",
        "tags": [
          "Shares"
        ],
        "description": "List shares in an account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ShareListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Shares_ListByAccount": {
            "$ref": "./examples/Shares_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}": {
      "get": {
        "operationId": "Shares_Get",
        "tags": [
          "Shares"
        ],
        "description": "Get a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Shares_Get": {
            "$ref": "./examples/Shares_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Shares_Create",
        "tags": [
          "Shares"
        ],
        "description": "Create a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "share",
            "in": "body",
            "description": "The share payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Share"
            },
            "x-ms-client-name": "share"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Share' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "201": {
            "description": "Resource 'Share' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Shares_Create": {
            "$ref": "./examples/Shares_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "Shares_Delete",
        "tags": [
          "Shares"
        ],
        "description": "Delete a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Shares_Delete": {
            "$ref": "./examples/Shares_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets": {
      "get": {
        "operationId": "DataSets_ListByShare",
        "tags": [
          "DataSets"
        ],
        "description": "List DataSets in a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_ListByShare": {
            "$ref": "./examples/DataSets_ListByShare.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets/{dataSetName}": {
      "get": {
        "operationId": "DataSets_Get",
        "tags": [
          "DataSets"
        ],
        "description": "Get a DataSet in a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetName",
            "in": "path",
            "description": "The name of the dataSet.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Get": {
            "$ref": "./examples/DataSets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DataSets_Create",
        "tags": [
          "DataSets"
        ],
        "description": "Create a DataSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetName",
            "in": "path",
            "description": "The name of the dataSet.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSet",
            "in": "body",
            "description": "The new data set information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSet"
            },
            "x-ms-client-name": "dataSet"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataSet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "201": {
            "description": "Resource 'DataSet' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Create": {
            "$ref": "./examples/DataSets_Create.json"
          },
          "DataSets_KustoCluster_Create": {
            "$ref": "./examples/DataSets_Create_Data_Sets_Kusto_Cluster_Create.json"
          },
          "DataSets_KustoDatabase_Create": {
            "$ref": "./examples/DataSets_Create_Data_Sets_Kusto_Database_Create.json"
          },
          "DataSets_KustoTable_Create": {
            "$ref": "./examples/DataSets_Create_Data_Sets_Kusto_Table_Create.json"
          },
          "DataSets_SqlDBTable_Create": {
            "$ref": "./examples/DataSets_Create_Data_Sets_Sql_Db_Table_Create.json"
          },
          "DataSets_SqlDWTable_Create": {
            "$ref": "./examples/DataSets_Create_Data_Sets_Sql_Dw_Table_Create.json"
          },
          "DataSets_SynapseWorkspaceSqlPoolTable_Create": {
            "$ref": "./examples/DataSets_Create_Data_Sets_Synapse_Workspace_Sql_Pool_Table_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "DataSets_Delete",
        "tags": [
          "DataSets"
        ],
        "description": "Delete a DataSet in a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetName",
            "in": "path",
            "description": "The name of the dataSet.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Delete": {
            "$ref": "./examples/DataSets_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations": {
      "get": {
        "operationId": "Invitations_ListByShare",
        "tags": [
          "Invitations"
        ],
        "description": "List invitations in a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InvitationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_ListByShare": {
            "$ref": "./examples/Invitations_ListByShare.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations/{invitationName}": {
      "get": {
        "operationId": "Invitations_Get",
        "tags": [
          "Invitations"
        ],
        "description": "Get an invitation in a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Get": {
            "$ref": "./examples/Invitations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Invitations_Create",
        "tags": [
          "Invitations"
        ],
        "description": "Create an invitation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitation",
            "in": "body",
            "description": "Invitation details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invitation"
            },
            "x-ms-client-name": "invitation"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Invitation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "201": {
            "description": "Resource 'Invitation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Create": {
            "$ref": "./examples/Invitations_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "Invitations_Delete",
        "tags": [
          "Invitations"
        ],
        "description": "Delete an invitation in a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Delete": {
            "$ref": "./examples/Invitations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizationDetails": {
      "post": {
        "operationId": "Shares_ListSynchronizationDetails",
        "tags": [
          "Shares"
        ],
        "description": "List synchronization details",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSynchronization",
            "in": "body",
            "description": "Share Synchronization payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSynchronization"
            },
            "x-ms-client-name": "shareSynchronization"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedSynchronizationDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Shares_ListSynchronizationDetails": {
            "$ref": "./examples/Shares_ListSynchronizationDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizations": {
      "post": {
        "operationId": "Shares_ListSynchronizations",
        "tags": [
          "Shares"
        ],
        "description": "List synchronizations of a share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedShareSynchronization"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Shares_ListSynchronizations": {
            "$ref": "./examples/Shares_ListSynchronizations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions": {
      "get": {
        "operationId": "ProviderShareSubscriptions_ListByShare",
        "tags": [
          "ProviderShareSubscriptions"
        ],
        "description": "List share subscriptions in a provider share",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the share account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderShareSubscriptions_ListByShare": {
            "$ref": "./examples/ProviderShareSubscriptions_ListByShare.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}": {
      "get": {
        "operationId": "ProviderShareSubscriptions_GetByShare",
        "tags": [
          "ProviderShareSubscriptions"
        ],
        "description": "Get share subscription in a provider share",
        "parameters": [
          {
[...]
