{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-01",
    "title": "Azure Alerts Management Service Resource Provider",
    "description": "Azure Alerts Management Service provides a single pane of glass of alerts across Azure Monitor."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/prometheusRuleGroups": {
      "get": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Retrieve Prometheus all rule group definitions in a subscription.",
        "operationId": "PrometheusRuleGroups List By Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of Prometheus rule groups",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ListSubscriptionResourcePrometheusRuleGroups": {
            "$ref": "./examples/listSubscriptionPrometheusRuleGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/prometheusRuleGroups": {
      "get": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Retrieve Prometheus rule group definitions in a resource group.",
        "operationId": "PrometheusRuleGroups_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of Prometheus rule groups",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ListResourcePrometheusRuleGroups": {
            "$ref": "./examples/listPrometheusRuleGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/prometheusRuleGroups/{ruleGroupName}": {
      "get": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Retrieve a Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of Prometheus rule groups",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrometheusRuleGroup": {
            "$ref": "./examples/getPrometheusRuleGroup.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Create or update a Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            },
            "description": "The parameters of the rule group to create or update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK (Updated).",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "201": {
            "description": "Created (New Alert rule was created).",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreatePrometheusRuleGroup": {
            "$ref": "./examples/createOrUpdatePrometheusRuleGroup.json"
          }
        }
      },
      "patch": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Update an Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResourcePatchParameters"
            },
            "description": "The parameters of the rule group to update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchPrometheusRuleGroup": {
            "$ref": "./examples/patchPrometheusRuleGroup.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Delete a Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete a Prometheus rule group"
          },
          "204": {
            "description": "No content: the request was successful, but the response is empty"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrometheusRuleGroup": {
            "$ref": "./examples/deletePrometheusRuleGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PrometheusRuleGroupResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PrometheusRuleGroupProperties",
          "description": "The Prometheus rule group properties of the resource."
        }
      },
      "description": "The Prometheus rule group resource."
    },
    "PrometheusRuleGroupResourcePatchParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "type": "object",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "the flag that indicates whether the Prometheus rule group is enabled."
            }
          }
        }
      },
      "description": "The Prometheus rule group resource for patch operations."
    },
    "PrometheusRuleGroupResourceCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrometheusRuleGroupResource"
          },
          "description": "the values for the alert rule resources."
        }
      },
      "description": "Represents a collection of alert rule resources."
    },
    "PrometheusRuleGroupProperties": {
      "description": "An Azure Prometheus rule group.",
      "type": "object",
      "required": [
        "scopes",
        "rules"
      ],
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the Prometheus rule group that will be included in the alert email."
        },
        "enabled": {
          "type": "boolean",
          "description": "The flag that indicates whether the Prometheus rule group is enabled."
        },
        "clusterName": {
          "type": "string",
          "description": "The cluster name of the rule group evaluation."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string",
            "_pattern": "^/subscriptions/[^/]*/resourcegroups/[^/]*/providers/microsoft.monitor/accounts/[^/?&\\s]*$"
          },
          "description": "The list of azure resource id's that this rule group is scoped to.",
          "minItems": 1,
          "maxItems": 1
        },
        "interval": {
          "type": "string",
          "description": "the interval in which to run the Prometheus rule group represented in ISO 8601 duration format. Should be between 1 and 15 minutes",
          "format": "duration"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrometheusRule"
          },
          "description": "defines the rules in the Prometheus rule group.",
          "minItems": 1,
          "maxItems": 20
        }
      }
    },
    "PrometheusRule": {
      "type": "object",
      "required": [
        "expression"
      ],
      "oneOf": [
        {
          "$ref": "#/definitions/RecordingRule"
        },
        {
          "$ref": "#/definitions/AlertingRule"
        }
      ],
      "additionalProperties": true,
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "the flag that indicates whether the Prometheus rule is enabled."
        },
        "expression": {
          "description": "The PromQL expression to evaluate. Every evaluation cycle this is evaluated at the current time, and the result recorded as a new set of time series with the metric name as given by 'record'.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels to add or overwrite before storing the result.",
          "patternProperties": {
            "^(?!__)[a-zA-Z_][a-zA-Z0-9_]{0,1023}$": {
              "type": "string",
              "maxLength": 1024
            }
          },
          "additionalProperties": false,
          "maxProperties": 10
        }
      }
    },
    "RecordingRule": {
      "type": "object",
      "required": [
        "record"
      ],
      "properties": {
        "record": {
          "description": "The name of the time series to output to. Must be a valid metric name.",
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "AlertingRule": {
      "type": "object",
      "required": [
        "alert"
      ],
      "additionalProperties": true,
      "properties": {
        "alert": {
          "description": "The name of the alert. Must be a valid metric name.",
          "type": "string"
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "description": "The severity of the alerts fired by the rule.",
          "minimum": 1,
          "maximum": 4
        },
        "for": {
          "type": "string",
          "description": "The amount of time alert must be active before firing.",
          "format": "duration"
        },
        "annotations": {
          "type": "object",
          "description": "Annotations for rule group.",
          "patternProperties": {
            "^[a-zA-Z_][a-zA-Z0-9_]{0,1023}$": {
              "type": "string",
              "maxLength": 1024
            }
          },
          "additionalProperties": false
        },
        "actions": {
          "$ref": "#/definitions/PrometheusRuleGroupActions",
          "description": "The array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved. Only relevant for alerts."
        },
        "resolveConfiguration": {
          "$ref": "#/definitions/PrometheusRuleResolveConfiguration",
          "description": "defines the configuration for resolving fired alerts. Only relevant for alerts."
        }
      }
    },
    "PrometheusRuleGroupActions": {
      "type": "object",
      "description": "An alert action. Only relevant for alerts.",
      "properties": {
        "actionGroups": {
          "$ref": "#/definitions/StringArray",
          "description": "The resource ids of the action group to use."
        },
        "actionProperties": {
          "$ref": "#/definitions/StringDictionary",
          "description": "The properties of an action group object."
        },
        "customProperties": {
          "$ref": "#/definitions/StringDictionary",
          "description": "The custom properties of an action group object."
        }
      }
    },
    "PrometheusRuleResolveConfiguration": {
      "type": "object",
      "description": "Specifies the Prometheus alert rule configuration.",
      "properties": {
        "autoResolved": {
          "type": "boolean",
          "description": "The flag that indicates whether or not to auto resolve a fired alert."
        },
        "timeToResolve": {
          "type": "string",
          "description": "the duration a rule must evaluate as healthy before the fired alert is automatically resolved represented in ISO 8601 duration format. Should be between 1 and 15 minutes",
          "format": "duration"
        }
      },
      "if": {
        "properties": {
          "autoResolved": {
            "const": true
          }
        }
      },
      "then": {
        "required": [
          "timeToResolve"
        ]
      }
    },
    "StringDictionary": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "A dictionary from string to string."
    },
    "StringArray": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "description": "An array of strings."
    }
  },
  "parameters": {
    "RuleGroupNameParameter": {
      "name": "ruleGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the rule group.",
      "x-ms-parameter-location": "method"
    }
  }
}
