{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-01",
    "title": "Azure Alerts Management Service Resource Provider",
    "description": "Azure Alerts Management Service provides a single pane of glass of alerts across Azure Monitor."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/prometheusRuleGroups": {
      "get": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Retrieve Prometheus all rule group definitions in a subscription.",
        "operationId": "PrometheusRuleGroups List By Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of Prometheus rule groups",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ListSubscriptionResourcePrometheusRuleGroups": {
            "$ref": "./examples/listSubscriptionPrometheusRuleGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/prometheusRuleGroups": {
      "get": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Retrieve Prometheus rule group definitions in a resource group.",
        "operationId": "PrometheusRuleGroups_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of Prometheus rule groups",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ListResourcePrometheusRuleGroups": {
            "$ref": "./examples/listPrometheusRuleGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AlertsManagement/prometheusRuleGroups/{ruleGroupName}": {
      "get": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Retrieve a Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of Prometheus rule groups",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrometheusRuleGroup": {
            "$ref": "./examples/getPrometheusRuleGroup.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Create or update a Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            },
            "description": "The parameters of the rule group to create or update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK (Updated).",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "201": {
            "description": "Created (New Alert rule was created).",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreatePrometheusRuleGroup": {
            "$ref": "./examples/createOrUpdatePrometheusRuleGroup.json"
          }
        }
      },
      "patch": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Update an Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResourcePatchParameters"
            },
            "description": "The parameters of the rule group to update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrometheusRuleGroupResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchPrometheusRuleGroup": {
            "$ref": "./examples/patchPrometheusRuleGroup.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrometheusRuleGroups"
        ],
        "description": "Delete a Prometheus rule group definition.",
        "operationId": "PrometheusRuleGroups_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete a Prometheus rule group"
          },
          "204": {
            "description": "No content: the request was successful, but the response is empty"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrometheusRuleGroup": {
            "$ref": "./examples/deletePrometheusRuleGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PrometheusRuleGroupResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./definitions/PrometheusRuleGroupProperties.json",
          "description": "The Prometheus rule group properties of the resource."
        }
      },
      "description": "The Prometheus rule group resource."
    },
    "PrometheusRuleGroupResourcePatchParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "type": "object",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "the flag that indicates whether the Prometheus rule group is enabled."
            }
          }
        }
      },
      "description": "The Prometheus rule group resource for patch operations."
    },
    "PrometheusRuleGroupResourceCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrometheusRuleGroupResource"
          },
          "description": "the values for the alert rule resources."
        }
      },
      "description": "Represents a collection of alert rule resources."
    }
  },
  "parameters": {
    "RuleGroupNameParameter": {
      "name": "ruleGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the rule group.",
      "x-ms-parameter-location": "method"
    }
  }
}
