{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2021-04-01",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Automation/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Automation REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/getSASUriForUpload": {
      "post": {
        "tags": [
          "Operations"
        ],
        "description": "Returns a azure storage URI to upload certificate or module temporarily",
        "operationId": "getSASUriForUpload",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/getRunbookGalleryItems": {
      "post": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all scripts present in automation gallery based on type",
        "operationId": "GalleryItems_List",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. It can be used to filter by type of Runbook"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookGalleryItemsListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Automation operations supported by the Automation resource provider."
        }
      },
      "description": "The response model for the list of Automation operations"
    },
    "Operation": {
      "description": "Automation REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Automation",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Runbooks, Jobs etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          },
          "description": "Provider, Resource and Operation values"
        }
      }
    },
    "RunbookGalleryItemsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunbookGalleryItem"
          },
          "description": "List of Gallery items supported by the Automation resource provider."
        }
      },
      "description": "The response model for the list of Gallery items operations"
    },
    "RunbookGalleryItem": {
      "properties": {
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Author of runbook script"
        },
        "contentUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Content URI for the script"
        },
        "downloadedCount": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Number of times the script has been downloaded"
        },
        "isFederated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Flag to check if script is federated"
        },
        "ratersCount": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Number of ratings"
        },
        "rating": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Average rating for the runbook"
        },
        "runbookKind": {
          "type": "string",
          "readOnly": true,
          "description": "Type of runbook"
        },
        "summary": {
          "type": "string",
          "readOnly": true,
          "description": "Summary of the runbook functionality"
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Runbook Title"
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Last modified time"
        },
        "url": {
          "type": "string",
          "readOnly": true,
          "description": "URI for the gallery runbook"
        }
      },
      "description": "The response model for a gallery runbook"
    }
  }
}
