{
  "swagger": "2.0",
  "info": {
    "title": "HybridComputeManagementClient",
    "description": "The Hybrid Compute Management Client.",
    "version": "2020-08-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}": {
      "put": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_CreateOrUpdate",
        "description": "The operation to create or update a hybrid machine resource identity in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid machine."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Machine"
            },
            "description": "Parameters supplied to the Create hybrid machine operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Machine": {
            "$ref": "./examples/Machines_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_Update",
        "description": "The operation to update a hybrid machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid machine."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineUpdate"
            },
            "description": "Parameters supplied to the Update hybrid machine operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Machine": {
            "$ref": "./examples/Machines_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_Delete",
        "description": "The operation to remove a hybrid machine identity in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid machine."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Machine": {
            "$ref": "./examples/Machines_Delete.json"
          }
        }
      },
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_Get",
        "description": "Retrieves information about the model view or the instance view of a hybrid machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid machine."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation.",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Machine": {
            "$ref": "./examples/Machines_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/assessPatches": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_AssessPatches",
        "x-ms-examples": {
          "Assess patch state of a machine.": {
            "$ref": "./examples/MachineAssessPatches.json"
          }
        },
        "description": "The operation to assess patches on a hybrid machine identity in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid machine."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAssessPatchesResult"
            }
          },
          "202": {
            "description": "HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/installPatches": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_InstallPatches",
        "description": "The operation to install patches on a hybrid machine identity in Azure.",
        "x-ms-examples": {
          "Install patch state of a machine.": {
            "$ref": "./examples/MachineInstallPatches.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid machine."
          },
          {
            "name": "installPatchesInput",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineInstallPatchesParameters"
            },
            "description": "Input for InstallPatches as directly received by the API"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineInstallPatchesResult"
            }
          },
          "202": {
            "description": "HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_ListByResourceGroup",
        "description": "Lists all the hybrid machines in the specified resource group. Use the nextLink property in the response to get the next page of hybrid machines.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Machines by resource group": {
            "$ref": "./examples/Machines_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "Machines_ListBySubscription",
        "description": "Lists all the hybrid machines in the specified subscription. Use the nextLink property in the response to get the next page of hybrid machines.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Machines by resource group": {
            "$ref": "./examples/Machines_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions/{extensionName}": {
      "put": {
        "tags": [
          "MachineExtensions"
        ],
        "operationId": "MachineExtensions_CreateOrUpdate",
        "description": "The operation to create or update the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine where the extension should be created or updated."
          },
          {
            "name": "extensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine extension."
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            },
            "description": "Parameters supplied to the Create Machine Extension operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          },
          "202": {
            "description": "HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously."
          }
        },
        "x-ms-examples": {
          "Create or Update a Machine Extension": {
            "$ref": "./examples/PUTExtension.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "MachineExtensions"
        ],
        "operationId": "MachineExtensions_Update",
        "description": "The operation to create or update the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine where the extension should be created or updated."
          },
          {
            "name": "extensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine extension."
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineExtensionUpdate"
            },
            "description": "Parameters supplied to the Create Machine Extension operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-examples": {
          "Create or Update a Machine Extension": {
            "$ref": "./examples/UpdateExtension.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "MachineExtensions"
        ],
        "operationId": "MachineExtensions_Delete",
        "description": "The operation to delete the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine where the extension should be deleted."
          },
          {
            "name": "extensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine extension."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete a Machine Extension": {
            "$ref": "./examples/DELETEExtension.json"
          }
        }
      },
      "get": {
        "tags": [
          "MachineExtensions"
        ],
        "operationId": "MachineExtensions_Get",
        "description": "The operation to get the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine containing the extension."
          },
          {
            "name": "extensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine extension."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          }
        },
        "x-ms-examples": {
          "GET Machine Extension": {
            "$ref": "./examples/GETExtension.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions": {
      "get": {
        "tags": [
          "MachineExtensions"
        ],
        "operationId": "MachineExtensions_List",
        "description": "The operation to get all extensions of a non-Azure machine",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the machine containing the extension."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineExtensionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GET all Machine Extensions": {
            "$ref": "./examples/LISTExtension.json"
          }
        }
      }
    },
    "/providers/Microsoft.HybridCompute/operations": {
      "get": {
        "tags": [
          "operations"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of hybrid compute operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/OperationValue"
          },
          "description": "The list of compute operations"
        }
      },
      "description": "The List Compute Operation operation response."
    },
    "OperationValue": {
      "properties": {
        "origin": {
          "type": "string",
          "readOnly": true,
          "description": "The origin of the compute operation."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the compute operation."
        },
        "display": {
          "x-ms-client-flatten": true,
          "allOf": [
            {
              "$ref": "#/definitions/OperationValueDisplay"
            }
          ],
          "description": "Display properties"
        }
      },
      "description": "Describes the properties of a Compute Operation value."
    },
    "OperationValueDisplay": {
      "properties": {
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "The display name of the compute operation."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "The display name of the resource the operation applies to."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "The description of the operation."
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "The resource provider for the operation."
        }
      },
      "description": "Describes the properties of a Hybrid Compute Operation Value Display."
    },
    "OSProfile": {
      "readOnly": true,
      "properties": {
        "computerName": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the host OS name of the hybrid machine."
        }
      },
      "description": "Specifies the operating system settings for the hybrid machine."
    },
    "MachineProperties": {
      "properties": {
        "locationData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/locationData"
        },
        "osProfile": {
          "allOf": [
            {
              "$ref": "#/definitions/OSProfile"
            }
          ],
          "description": "Specifies the operating system settings for the hybrid machine."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state, which only appears in the response."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the hybrid machine agent.",
          "enum": [
            "Connected",
            "Disconnected",
            "Error"
          ],
          "x-ms-enum": {
            "name": "StatusTypes",
            "modelAsString": true
          }
        },
        "lastStatusChange": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time of the last status change."
        },
        "errorDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "description": "Details about the error state."
        },
        "agentVersion": {
          "readOnly": true,
          "type": "string",
          "description": "The hybrid machine agent full version."
        },
        "vmId": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Specifies the hybrid machine unique ID."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the hybrid machine display name."
        },
        "machineFqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the hybrid machine FQDN."
        },
        "clientPublicKey": {
          "type": "string",
          "description": "Public Key that the client provides to be used during initial resource onboarding"
        },
        "osName": {
          "readOnly": true,
          "type": "string",
          "description": "The Operating System running on the hybrid machine."
        },
        "osVersion": {
          "readOnly": true,
          "type": "string",
          "description": "The version of Operating System running on the hybrid machine."
        },
        "vmUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the Arc Machine's unique SMBIOS ID"
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MachineExtensionInstanceView"
          },
          "description": "Machine Extensions information"
        },
        "osSku": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the Operating System product SKU."
        },
        "domainName": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the Windows domain name."
        },
        "adFqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the AD fully qualified display name."
        },
        "dnsFqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the DNS fully qualified display name."
        },
        "privateLinkScopedResources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of private link scoped resources associated with this machine."
        }
      },
      "description": "Describes the properties of a hybrid machine."
    },
    "MachineUpdateProperties": {
      "properties": {
        "locationData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/locationData"
        }
      },
      "description": "Describes the ARM updatable properties of a hybrid machine."
    },
    "Machine": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "allOf": [
            {
              "$ref": "#/definitions/MachineProperties"
            }
          ],
          "description": "Hybrid Compute Machine properties"
        },
        "identity": {
          "allOf": [
            {
              "$ref": "#/definitions/Identity"
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Describes a hybrid machine."
    },
    "MachineUpdate": {
      "properties": {
        "identity": {
          "x-ms-client-flatten": true,
          "allOf": [
            {
              "$ref": "#/definitions/Identity"
            }
          ],
          "description": "Hybrid Compute Machine Managed Identity"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "allOf": [
            {
              "$ref": "#/definitions/MachineUpdateProperties"
            }
          ],
          "description": "Hybrid Compute Machine properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResource"
        }
      ],
      "description": "Describes a hybrid machine Update."
    },
    "MachineListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Machine"
          },
          "description": "The list of hybrid machines."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of hybrid machines."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List hybrid machine operation response."
    },
    "UpdateResource": {
      "description": "The Update Resource model definition.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "ErrorDetail": {
      "title": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error's code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        },
        "target": {
          "description": "Indicates which property in the request is responsible for the error.",
          "type": "string"
        },
        "details": {
          "description": "Additional error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          }
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorResponse": {
      "title": "Error response.",
      "description": "Contains details when the response code indicates an error.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error details.",
          "$ref": "#/definitions/ErrorDetail"
        }
      },
      "required": [
        "error"
      ]
    },
    "Identity": {
      "title": "Managed Identity.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The identity type.",
          "type": "string"
        },
        "principalId": {
          "readOnly": true,
          "description": "The identity's principal id.",
          "type": "string"
        },
        "tenantId": {
          "readOnly": true,
          "description": "The identity's tenant id.",
          "type": "string"
        }
      }
    },
    "MachineAssessPatchesResult": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "The overall success or failure status of the operation. It remains \"InProgress\" until the operation completes. At that point it will become \"Unknown\", \"Failed\", \"Succeeded\", or \"CompletedWithWarnings.\"",
          "enum": [
            "Unknown",
            "InProgress",
            "Failed",
            "Succeeded",
            "CompletedWithWarnings"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStatus",
            "modelAsString": true
          }
        },
        "assessmentActivityId": {
          "type": "string",
          "readOnly": true,
          "description": "The activity ID of the operation that produced this result."
        },
        "rebootPending": {
          "type": "boolean",
          "readOnly": true,
          "description": "The overall reboot status of the VM. It will be true when partially installed patches require a reboot to complete installation but the reboot has not yet occurred."
        },
        "availablePatchCountByClassification": {
          "$ref": "#/definitions/AvailablePatchCountByClassification",
          "description": "Summarization of patches available for installation on the machine by classification."
        },
        "startDateTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The UTC timestamp when the operation began."
        },
        "lastModifiedDateTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The UTC timestamp when the operation finished."
        },
        "startedBy": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "User",
            "Platform"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStartedBy",
            "modelAsString": true
          },
          "description": "Indicates if operation was triggered by user or by platform."
        },
        "patchServiceUsed": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Unknown",
            "WU",
            "WU_WSUS",
            "YUM",
            "APT",
            "Zypper"
          ],
          "x-ms-enum": {
            "name": "PatchServiceUsed",
            "modelAsString": true
          },
          "description": "Specifies the patch service used for the operation."
        },
        "osType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OsType",
            "modelAsString": true
          },
          "description": "The operating system type of the machine."
        },
        "errorDetails": {
          "$ref": "#/definitions/ErrorDetail",
          "readOnly": true,
          "description": "The errors that were encountered during execution of the operation. The details array contains the list of them."
        }
      },
      "description": "Describes the properties of an AssessPatches result."
    },
    "AvailablePatchCountByClassification": {
      "type": "object",
      "properties": {
        "security": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of security patches available for installation."
        },
        "critical": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of critical patches available for installation."
        },
        "definition": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of definition patches available for installation."
        },
        "updateRollup": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of update Rollup patches available for installation."
        },
        "featurePack": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of feature pack patches available for installation."
        },
        "servicePack": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of service pack patches available for installation."
        },
        "tools": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of tools patches available for installation."
        },
        "updates": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of updates category patches available for installation."
        },
        "other": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of other patches available for installation."
        }
      },
      "description": "Summarization of patches available for installation on the machine by classification."
    },
    "MachineInstallPatchesParameters": {
      "type": "object",
      "properties": {
        "maximumDuration": {
          "type": "string",
          "description": "Specifies the maximum amount of time that the operation will run. It must be an ISO 8601-compliant duration string such as PT4H (4 hours)"
        },
        "rebootSetting": {
          "type": "string",
          "description": "Defines when it is acceptable to reboot a VM during a software update operation.",
          "enum": [
            "IfRequired",
            "Never",
            "Always"
          ],
          "x-ms-enum": {
            "name": "VMGuestPatchRebootSetting",
            "modelAsString": true
          }
        },
        "windowsParameters": {
          "$ref": "#/definitions/WindowsParameters",
          "description": "Input for InstallPatches on a Windows VM, as directly received by the API"
        },
        "linuxParameters": {
          "$ref": "#/definitions/LinuxParameters",
          "description": "Input for InstallPatches on a Linux VM, as directly received by the API"
        }
      },
      "required": [
        "maximumDuration",
        "rebootSetting"
      ],
      "description": "Input for InstallPatches as directly received by the API"
    },
    "WindowsParameters": {
      "type": "object",
      "properties": {
        "classificationsToInclude": {
          "type": "array",
          "description": "The update classifications to select when installing patches for Windows.",
          "items": {
            "type": "string",
            "enum": [
              "Critical",
              "Security",
              "UpdateRollUp",
              "FeaturePack",
              "ServicePack",
              "Definition",
              "Tools",
              "Updates"
            ],
            "x-ms-enum": {
              "name": "VMGuestPatchClassification_Windows",
              "modelAsString": true
            }
          }
        },
        "kbNumbersToInclude": {
          "type": "array",
          "description": "Kbs to include in the patch operation",
          "items": {
            "type": "string"
          }
        },
        "kbNumbersToExclude": {
          "type": "array",
          "description": "Kbs to exclude in the patch operation",
          "items": {
            "type": "string"
          }
        },
        "excludeKbsRequiringReboot": {
          "type": "boolean",
          "description": "Filters out Kbs that don't have an InstallationRebootBehavior of 'NeverReboots' when this is set to true."
        },
        "maxPatchPublishDate": {
          "type": "string",
          "format": "date-time",
          "description": "This is used to install patches that were published on or before this given max published date."
        }
      },
      "description": "Input for InstallPatches on a Windows VM, as directly received by the API"
    },
    "LinuxParameters": {
      "type": "object",
      "properties": {
        "classificationsToInclude": {
          "type": "array",
          "description": "The update classifications to select when installing patches for Linux.",
          "items": {
            "type": "string",
            "enum": [
              "Critical",
              "Security",
              "Other"
            ],
            "x-ms-enum": {
              "name": "VMGuestPatchClassification_Linux",
              "modelAsString": true
            }
          }
        },
        "packageNameMasksToInclude": {
          "type": "array",
          "description": "packages to include in the patch operation. Format: packageName_packageVersion",
          "items": {
            "type": "string"
          }
        },
        "packageNameMasksToExclude": {
          "type": "array",
          "description": "packages to exclude in the patch operation. Format: packageName_packageVersion",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Input for InstallPatches on a Linux VM, as directly received by the API"
    },
    "MachineInstallPatchesResult": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "The overall success or failure status of the operation. It remains \"InProgress\" until the operation completes. At that point it will become \"Failed\", \"Succeeded\", \"Unknown\" or \"CompletedWithWarnings.\"",
          "enum": [
            "Unknown",
            "InProgress",
            "Failed",
            "Succeeded",
            "CompletedWithWarnings"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStatus",
            "modelAsString": true
          }
        },
        "installationActivityId": {
          "type": "string",
          "readOnly": true,
          "description": "The activity ID of the operation that produced this result."
        },
        "rebootStatus": {
          "type": "string",
          "readOnly": true,
          "description": "The reboot state of the VM following completion of the operation.",
          "enum": [
            "Unknown",
            "NotNeeded",
            "Required",
            "Started",
            "Failed",
            "Completed"
          ],
          "x-ms-enum": {
            "name": "VMGuestPatchRebootStatus",
            "modelAsString": true
          }
        },
        "maintenanceWindowExceeded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Whether the operation ran out of time before it completed all its intended actions."
        },
        "excludedPatchCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "The number of patches that were not installed due to the user blocking their installation."
        },
        "notSelectedPatchCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "The number of patches that were detected as available for install, but did not meet the operation's criteria."
        },
        "pendingPatchCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "The number of patches that were identified as meeting the installation criteria, but were not able to be installed. Typically this happens when maintenanceWindowExceeded == true."
        },
        "installedPatchCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "The number of patches successfully installed."
        },
        "failedPatchCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "The number of patches that could not be installed due to some issue. See errors for details."
        },
        "startDateTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The UTC timestamp when the operation began."
        },
        "lastModifiedDateTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The UTC timestamp when the operation finished."
        },
        "startedBy": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "User",
            "Platform"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStartedBy",
            "modelAsString": true
          },
          "description": "Indicates if operation was triggered by user or by platform."
        },
        "patchServiceUsed": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Unknown",
            "WU",
            "WU_WSUS",
            "YUM",
            "APT",
            "Zypper"
          ],
          "x-ms-enum": {
            "name": "PatchServiceUsed",
            "modelAsString": true
          },
          "description": "Specifies the patch service used for the operation."
        },
        "osType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OsType",
            "modelAsString": true
          },
          "description": "The operating system type of the machine."
        },
        "errorDetails": {
          "$ref": "#/definitions/ErrorDetail",
          "readOnly": true,
          "description": "The errors that were encountered during execution of the operation. The details array contains the list of them."
        }
      },
      "description": "The result summary of an installation operation."
    },
    "MachineExtension": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "allOf": [
            {
              "$ref": "#/definitions/MachineExtensionProperties"
            }
          ],
          "description": "Describes Machine Extension Properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Describes a Machine Extension."
    },
    "MachineExtensionUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "allOf": [
            {
              "$ref": "#/definitions/MachineExtensionUpdateProperties"
            }
          ],
          "description": "Describes Machine Extension Update Properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResource"
        }
      ],
      "description": "Describes a Machine Extension Update."
    },
    "MachineExtensionProperties": {
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension configuration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
        },
        "settings": {
          "type": "object",
          "description": "Json formatted public settings for the extension."
        },
        "protectedSettings": {
          "type": "object",
          "description": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state, which only appears in the response."
        },
        "instanceView": {
          "allOf": [
            {
              "$ref": "#/definitions/MachineExtensionInstanceView"
            }
          ],
          "description": "The machine extension instance view."
        }
      },
      "description": "Describes the properties of a Machine Extension."
    },
    "MachineExtensionUpdateProperties": {
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension configuration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
        },
        "settings": {
          "type": "object",
          "description": "Json formatted public settings for the extension."
        },
        "protectedSettings": {
          "type": "object",
          "description": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
        }
      },
      "description": "Describes the properties of a Machine Extension."
    },
    "MachineExtensionInstanceView": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The machine extension name."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "status": {
          "properties": {
            "code": {
              "type": "string",
              "description": "The status code."
            },
            "level": {
              "type": "string",
              "description": "The level code.",
              "enum": [
                "Info",
                "Warning",
                "Error"
              ],
              "x-ms-enum": {
                "name": "StatusLevelTypes",
                "modelAsString": true
              }
            },
            "displayStatus": {
              "type": "string",
              "description": "The short localizable label for the status."
            },
            "message": {
              "type": "string",
              "description": "The detailed status message, including for alerts and error messages."
            },
            "time": {
              "type": "string",
              "format": "date-time",
              "description": "The time of the status."
            }
          },
          "description": "Instance view status."
        }
      },
      "description": "Describes the Machine Extension Instance View."
    },
    "MachineExtensionsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MachineExtension"
          },
          "description": "The list of extensions"
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions."
        }
      },
      "description": "Describes the Machine Extensions List Result."
    }
  },
  "parameters": {}
}
