{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage packet core control plane resources",
    "version": "2022-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}": {
      "delete": {
        "tags": [
          "PacketCoreControlPlane"
        ],
        "operationId": "PacketCoreControlPlanes_Delete",
        "description": "Deletes the specified packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlaneDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "PacketCoreControlPlane"
        ],
        "operationId": "PacketCoreControlPlanes_Get",
        "description": "Gets information about the specified packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting packet core control plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlaneGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PacketCoreControlPlane"
        ],
        "operationId": "PacketCoreControlPlanes_CreateOrUpdate",
        "description": "Creates or updates a packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            },
            "description": "Parameters supplied to the create or update packet core control plane operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packet core control plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting packet core control plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlaneCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "PacketCoreControlPlane"
        ],
        "operationId": "PacketCoreControlPlanes_UpdateTags",
        "description": "Updates packet core control planes tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update packet core control plane tags."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packet core control plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update packet core control plane tags": {
            "$ref": "./examples/PacketCoreControlPlaneUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes": {
      "get": {
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "operationId": "PacketCoreControlPlanes_ListBySubscription",
        "description": "Lists all the packet core control planes in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of packet core control plane resources.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core control planes in a subscription": {
            "$ref": "./examples/PacketCoreControlPlaneListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes": {
      "get": {
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "operationId": "PacketCoreControlPlanes_ListByResourceGroup",
        "description": "Lists all the packet core control planes in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of packet core control plane resources.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core control planes in resource group": {
            "$ref": "./examples/PacketCoreControlPlaneListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/supportedPacketCoreControlPlaneVersions": {
      "get": {
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "operationId": "PacketCoreControlPlanes_SupportedVersions",
        "description": "Get the set of packet core control plane versions that are currently supported.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get supported packet core control plane versions successful.",
            "schema": {
              "$ref": "#/definitions/SupportedPacketCoreControlPlaneVersionResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get supported packet core control plane versions": {
            "$ref": "./examples/SupportedPacketCoreControlPlaneVersions.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PacketCoreControlPlane": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketCoreControlPlanePropertiesFormat",
          "description": "Packet core control plane Properties."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The identity used to retrieve the ingress certificate from Azure key vault."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "Packet core control plane resource."
    },
    "PacketCoreControlPlanePropertiesFormat": {
      "description": "Packet core control plane properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the packet core control plane resource."
        },
        "mobileNetwork": {
          "$ref": "./common.json#/definitions/MobileNetworkResourceId",
          "description": "Mobile network in which this packet core control plane is deployed."
        },
        "platform": {
          "$ref": "#/definitions/PlatformConfiguration",
          "description": "The platform where the packet core is deployed."
        },
        "coreNetworkTechnology": {
          "$ref": "./ts29571.json#/definitions/CoreNetworkType",
          "description": "The core network technology generation (5G core or EPC / 4G core)."
        },
        "version": {
          "type": "string",
          "description": "The version of the packet core software that is deployed."
        },
        "controlPlaneAccessInterface": {
          "$ref": "./common.json#/definitions/InterfaceProperties",
          "description": "The control plane interface on the access network. For 5G networks, this is the N2 interface. For 4G networks, this is the S1-MME interface."
        },
        "sku": {
          "$ref": "./common.json#/definitions/BillingSku",
          "description": "The SKU defining the throughput and SIM allowances for this packet core control plane deployment."
        },
        "localDiagnosticsAccess": {
          "$ref": "#/definitions/LocalDiagnosticsAccessConfiguration",
          "description": "The kubernetes ingress configuration to control access to packet core diagnostics over local APIs."
        },
        "interopSettings": {
          "type": "object",
          "description": "Settings to allow interoperability with third party components e.g. RANs and UEs."
        }
      },
      "required": [
        "mobileNetwork",
        "controlPlaneAccessInterface",
        "sku"
      ]
    },
    "PacketCoreControlPlaneListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketCoreControlPlane"
          },
          "description": "A list of packet core control planes in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for packet core control planes API service call."
    },
    "PlatformConfiguration": {
      "description": "The platform where the packet core is deployed.",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/PlatformType",
          "description": "The platform type where packet core is deployed."
        },
        "azureStackEdgeDevice": {
          "$ref": "./common.json#/definitions/AzureStackEdgeDeviceResourceId",
          "description": "The Azure Stack Edge device where where the packet core is deployed. If the device is part of a fault tolerant pair, either device in the pair can be specified."
        },
        "connectedCluster": {
          "$ref": "./common.json#/definitions/ConnectedClusterResourceId",
          "description": "Azure Arc connected cluster where the packet core is deployed."
        },
        "customLocation": {
          "$ref": "./common.json#/definitions/CustomLocationResourceId",
          "description": "Azure Arc custom location where the packet core is deployed."
        }
      },
      "required": [
        "type"
      ]
    },
    "PlatformType": {
      "type": "string",
      "description": "The platform type where packet core is deployed. The contents of this enum can change.",
      "enum": [
        "AKS-HCI",
        "BaseVM"
      ],
      "x-ms-enum": {
        "name": "PlatformType",
        "modelAsString": true,
        "values": [
          {
            "value": "AKS-HCI",
            "description": "If this option is chosen, you must set one of \"azureStackEdgeDevice\", \"connectedCluster\" or \"customLocation\". If multiple are set then \"customLocation\" will take precedence over \"connectedCluster\" which takes precedence over \"azureStackEdgeDevice\"."
          },
          {
            "value": "BaseVM",
            "description": "If this option is chosen, you must set one of \"connectedCluster\" or \"customLocation\". If multiple are set then \"customLocation\" will take precedence over \"connectedCluster\"."
          }
        ]
      }
    },
    "LocalDiagnosticsAccessConfiguration": {
      "description": "The kubernetes ingress configuration to control access to packet core diagnostics over local APIs.",
      "type": "object",
      "properties": {
        "httpsServerCertificate": {
          "$ref": "#/definitions/KeyVaultCertificate",
          "description": "The HTTPS server TLS certificate used to secure local access to diagnostics."
        }
      }
    },
    "KeyVaultCertificate": {
      "description": "An Azure key vault certificate.",
      "type": "object",
      "properties": {
        "certificateUrl": {
          "type": "string",
          "description": "The certificate URL, unversioned. For example: https://contosovault.vault.azure.net/certificates/ingress."
        }
      }
    },
    "SupportedPacketCoreControlPlaneVersionResult": {
      "type": "object",
      "properties": {
        "supportedVersions": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A supported version of packet core control plane"
          },
          "description": "The supported packet core control plane versions."
        },
        "recommendedVersion": {
          "type": "string",
          "description": "The recommended version to use for new packet core control plane deployments."
        }
      },
      "description": "Response for supported packet core control plane versions API call."
    }
  }
}
