{
  "swagger": "2.0",
  "info": {
    "title": "ComputeSkuSplitResourceProviderClient",
    "version": "2026-04-01-preview",
    "description": "The Compute SkuSplit Resource Provider Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SkuMixPlacementScores"
    }
  ],
  "paths": {
    "/providers/Microsoft.Compute/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/mixPlacementScores/recommendations": {
      "get": {
        "operationId": "SkuMixPlacementScores_Get",
        "tags": [
          "SkuMixPlacementScores"
        ],
        "description": "Gets SkuMixPlacement scoring metadata.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuMixPlacementBase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the metadata of SkuMixPlacement Scores.": {
            "$ref": "./examples/GetSkuMixPlacementScores.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/mixPlacementScores/recommendations/generate": {
      "post": {
        "operationId": "SkuMixPlacementScores_Post",
        "tags": [
          "SkuMixPlacementScores"
        ],
        "description": "Generates placement scores for VM SKU mix placement.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "skuMixPlacementRequest",
            "in": "body",
            "description": "SkuMixPlacement request object supplied in the body of the generate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuMixPlacementRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuMixPlacementResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generates SkuMixPlacement scores for VM SKU mix placement with explicit VM sizes.": {
            "$ref": "./examples/GenerateSkuMixPlacementScores.json"
          },
          "Generates SkuMixPlacement scores using VM attribute-based selection.": {
            "$ref": "./examples/GenerateSkuMixPlacementScoresWithAttributes.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SkuMixPlacementAllocationStrategy": {
      "type": "string",
      "description": "Allocation strategy for determining the optimal SKU split.",
      "enum": [
        "LowestPrice",
        "Prioritized",
        "EvictionOptimized"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementAllocationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "LowestPrice",
            "value": "LowestPrice",
            "description": "VMs allocated to optimize for lowest price."
          },
          {
            "name": "Prioritized",
            "value": "Prioritized",
            "description": "VMs allocated based on customer-specified rank for each VM size."
          },
          {
            "name": "EvictionOptimized",
            "value": "EvictionOptimized",
            "description": "VMs allocated to optimize for lowest eviction rate (Spot only)."
          }
        ]
      }
    },
    "SkuMixPlacementBase": {
      "type": "object",
      "description": "Contains metadata of the SkuMixPlacement scoring resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SkuMixPlacementProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SkuMixPlacementCapacityProfile": {
      "type": "object",
      "description": "Capacity-related properties for the placement request.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The capacity to run the workload. For VMs: [1..10,000]. For vCPUs: [1..100,000]."
        },
        "capacityType": {
          "$ref": "#/definitions/SkuMixPlacementCapacityType",
          "description": "The unit type for the capacity value."
        },
        "priority": {
          "$ref": "#/definitions/SkuMixPlacementPriority",
          "description": "The priority of the VMs to allocate."
        },
        "spotPriorityProfile": {
          "$ref": "#/definitions/SkuMixPlacementSpotPriorityProfile",
          "description": "Required when priority is Spot. Contains spot-specific configuration."
        },
        "allocationStrategy": {
          "$ref": "#/definitions/SkuMixPlacementAllocationStrategy",
          "description": "The allocation strategy for determining the optimal SKU split."
        },
        "osType": {
          "$ref": "#/definitions/SkuMixPlacementOSType",
          "description": "The OS type. Required when allocationStrategy is LowestPrice because pricing varies by OS."
        },
        "zoneAllocationPolicy": {
          "$ref": "#/definitions/SkuMixPlacementZoneAllocationPolicy",
          "description": "Zone allocation policy. Default: BestEffortBalanced."
        }
      },
      "required": [
        "capacity",
        "capacityType",
        "priority",
        "allocationStrategy"
      ]
    },
    "SkuMixPlacementCapacityType": {
      "type": "string",
      "description": "The unit type for the capacity value.",
      "enum": [
        "VM",
        "VCpu"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementCapacityType",
        "modelAsString": true,
        "values": [
          {
            "name": "Vm",
            "value": "VM",
            "description": "Capacity measured in number of VMs."
          },
          {
            "name": "VCpu",
            "value": "VCpu",
            "description": "Capacity measured in number of vCPUs."
          }
        ]
      }
    },
    "SkuMixPlacementDeploymentChoice": {
      "type": "object",
      "description": "A single deployment choice recommendation.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for this deployment choice."
        },
        "skuSplit": {
          "type": "array",
          "description": "The list of VM size / zone allocations that make up this deployment choice.",
          "items": {
            "$ref": "#/definitions/SkuMixPlacementItem"
          },
          "x-ms-identifiers": [
            "name",
            "zone"
          ]
        }
      },
      "required": [
        "id",
        "skuSplit"
      ]
    },
    "SkuMixPlacementInstanceDescription": {
      "type": "object",
      "description": "Describes which VM sizes (or VM attributes) to consider.",
      "properties": {
        "type": {
          "$ref": "#/definitions/SkuMixPlacementInstanceDescriptionType",
          "description": "The type of instance description."
        },
        "vmSizes": {
          "type": "array",
          "description": "The list of VM sizes. Required when type is VMSizes.",
          "items": {
            "$ref": "#/definitions/SkuMixPlacementVMSize"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "vmAttributes": {
          "$ref": "#/definitions/VmAttributes",
          "description": "VM attribute constraints. Required when type is VMAttributes."
        }
      },
      "required": [
        "type"
      ]
    },
    "SkuMixPlacementInstanceDescriptionType": {
      "type": "string",
      "description": "The type of instance description provided in the request.",
      "enum": [
        "VMSizes",
        "VMAttributes"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementInstanceDescriptionType",
        "modelAsString": true,
        "values": [
          {
            "name": "VMSizes",
            "value": "VMSizes",
            "description": "Instance description is a list of explicit VM sizes."
          },
          {
            "name": "VMAttributes",
            "value": "VMAttributes",
            "description": "Instance description is a set of VM attribute constraints."
          }
        ]
      }
    },
    "SkuMixPlacementItem": {
      "type": "object",
      "description": "A single VM size allocation within a deployment choice.",
      "properties": {
        "name": {
          "type": "string",
          "description": "VM size name (e.g. Standard_D2s_v3)."
        },
        "priority": {
          "$ref": "#/definitions/SkuMixPlacementPriority",
          "description": "Priority of this allocation (Regular or Spot)."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Lower range of recommended allocation capacity."
        },
        "capacityMax": {
          "type": "integer",
          "format": "int32",
          "description": "Upper range of recommended allocation capacity."
        },
        "zone": {
          "type": "string",
          "description": "Logical zone (e.g. \"1\", \"2\", \"3\"). Omitted or empty for regional deployments."
        }
      },
      "required": [
        "name",
        "priority",
        "capacity",
        "capacityMax"
      ]
    },
    "SkuMixPlacementOSType": {
      "type": "string",
      "description": "The OS type of the VMs.",
      "enum": [
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementOSType",
        "modelAsString": true,
        "values": [
          {
            "name": "Windows",
            "value": "Windows",
            "description": "Windows OS."
          },
          {
            "name": "Linux",
            "value": "Linux",
            "description": "Linux OS."
          }
        ]
      }
    },
    "SkuMixPlacementPartialFulfillmentReason": {
      "type": "string",
      "description": "Reason for partial fulfillment of the requested capacity.",
      "enum": [
        "None",
        "InsufficientCapacity",
        "InsufficientQuota"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementPartialFulfillmentReason",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Full capacity was fulfilled."
          },
          {
            "name": "InsufficientCapacity",
            "value": "InsufficientCapacity",
            "description": "Not enough allocable capacity was available."
          },
          {
            "name": "InsufficientQuota",
            "value": "InsufficientQuota",
            "description": "Not enough quota was available."
          }
        ]
      }
    },
    "SkuMixPlacementPriority": {
      "type": "string",
      "description": "Priority levels for VM allocation.",
      "enum": [
        "Regular",
        "Spot"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementPriority",
        "modelAsString": true,
        "values": [
          {
            "name": "Regular",
            "value": "Regular",
            "description": "Regular priority VMs with guaranteed capacity."
          },
          {
            "name": "Spot",
            "value": "Spot",
            "description": "Spot priority VMs with lower cost but potential eviction."
          }
        ]
      }
    },
    "SkuMixPlacementProperties": {
      "type": "object",
      "description": "Contains properties of the SkuMixPlacement resource.",
      "properties": {
        "supportedResourceTypes": {
          "type": "array",
          "description": "Describes what resource types are supported by the mix placement scoring service.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SkuMixPlacementRequest": {
      "type": "object",
      "description": "Sku Mix Placement API request.",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Optional logical zones to consider (e.g. [\"1\",\"2\",\"3\"]). Omitted or empty implies regional deployment.",
          "items": {
            "type": "string"
          }
        },
        "capacityProfile": {
          "$ref": "#/definitions/SkuMixPlacementCapacityProfile",
          "description": "All capacity-related properties."
        },
        "instanceDescription": {
          "$ref": "#/definitions/SkuMixPlacementInstanceDescription",
          "description": "Describes how the service should choose candidate VM sizes."
        }
      },
      "required": [
        "capacityProfile",
        "instanceDescription"
      ]
    },
    "SkuMixPlacementResponse": {
      "type": "object",
      "description": "Sku Mix Placement API response.",
      "properties": {
        "deploymentChoices": {
          "type": "array",
          "description": "List of deployment choice recommendations.",
          "items": {
            "$ref": "#/definitions/SkuMixPlacementDeploymentChoice"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "validUntil": {
          "type": "string",
          "format": "date-time",
          "description": "Date/time until when the recommendations are valid."
        },
        "partialFulfillmentReason": {
          "$ref": "#/definitions/SkuMixPlacementPartialFulfillmentReason",
          "description": "Indicates whether the response is a complete or partial fulfillment."
        }
      },
      "required": [
        "deploymentChoices",
        "validUntil",
        "partialFulfillmentReason"
      ]
    },
    "SkuMixPlacementSpotPriorityProfile": {
      "type": "object",
      "description": "Spot priority configuration. Required when priority is Spot.",
      "properties": {
        "maxPricePerVm": {
          "type": "number",
          "format": "double",
          "description": "Maximum price per VM the customer is willing to pay. Default: -1 (no price restriction)."
        }
      }
    },
    "SkuMixPlacementVMSize": {
      "type": "object",
      "description": "A VM size with optional rank for prioritization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "SKU name (e.g. Standard_D2s_v3)."
        },
        "rank": {
          "type": "integer",
          "format": "int32",
          "description": "Rank of the VM size. Lower = higher priority (starting at 0). Only valid with Prioritized strategy."
        }
      },
      "required": [
        "name"
      ]
    },
    "SkuMixPlacementZonalDistributionStrategy": {
      "type": "string",
      "description": "Strategy for distributing capacity across availability zones.",
      "enum": [
        "BestEffortBalanced",
        "Prioritized"
      ],
      "x-ms-enum": {
        "name": "SkuMixPlacementZonalDistributionStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "BestEffortBalanced",
            "value": "BestEffortBalanced",
            "description": "Capacity distributed across zones on a best-effort balanced basis."
          },
          {
            "name": "Prioritized",
            "value": "Prioritized",
            "description": "Zones filled based on zone preferences/rank. Higher priority zones filled first."
          }
        ]
      }
    },
    "SkuMixPlacementZoneAllocationPolicy": {
      "type": "object",
      "description": "Zone allocation policy for the placement request.",
      "properties": {
        "distributionStrategy": {
          "$ref": "#/definitions/SkuMixPlacementZonalDistributionStrategy",
          "description": "Distribution strategy for allocating capacity across zones."
        },
        "zonePreferences": {
          "type": "array",
          "description": "Per-zone allocation preferences. Used with the Prioritized strategy.",
          "items": {
            "$ref": "#/definitions/SkuMixPlacementZonePreference"
          },
          "x-ms-identifiers": [
            "zone"
          ]
        }
      }
    },
    "SkuMixPlacementZonePreference": {
      "type": "object",
      "description": "Per-zone allocation preference.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Logical zone (e.g. \"1\", \"2\", \"3\")."
        },
        "rank": {
          "type": "integer",
          "format": "int32",
          "description": "Rank of the zone. Lower values = higher priority (0 is highest)."
        },
        "targetMaxCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Best-effort limit to avoid allocating more than this count within the zone."
        }
      },
      "required": [
        "zone"
      ]
    },
    "VmAttributeMinMaxDouble": {
      "type": "object",
      "description": "Double min/max range for VM attributes.",
      "properties": {
        "min": {
          "type": "number",
          "format": "double",
          "description": "Minimum value."
        },
        "max": {
          "type": "number",
          "format": "double",
          "description": "Maximum value."
        }
      }
    },
    "VmAttributeMinMaxInteger": {
      "type": "object",
      "description": "Integer min/max range for VM attributes.",
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum value."
        },
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum value."
        }
      }
    },
    "VmAttributeSupport": {
      "type": "string",
      "description": "Whether a VM capability should be excluded, included, or required.",
      "enum": [
        "Excluded",
        "Included",
        "Required"
      ],
      "x-ms-enum": {
        "name": "VmAttributeSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Excluded",
            "value": "Excluded",
            "description": "Exclude VM sizes that have the capability."
          },
          {
            "name": "Included",
            "value": "Included",
            "description": "Allow VM sizes with and without the capability."
          },
          {
            "name": "Required",
            "value": "Required",
            "description": "Only allow VM sizes that have the capability."
          }
        ]
      }
    },
    "VmAttributes": {
      "type": "object",
      "description": "VM attribute constraints for attribute-based VM selection.",
      "properties": {
        "vCpuCount": {
          "$ref": "#/definitions/VmAttributeMinMaxInteger",
          "description": "vCPU count range. Required."
        },
        "memoryInGiB": {
          "$ref": "#/definitions/VmAttributeMinMaxDouble",
          "description": "Memory range in GiB. Required."
        },
        "architectureTypes": {
          "type": "array",
          "description": "Supported VM architectures. Required.",
          "items": {
            "type": "string"
          }
        },
        "memoryInGiBPerVCpu": {
          "$ref": "#/definitions/VmAttributeMinMaxDouble",
          "description": "Memory-per-vCPU range in GiB."
        },
        "dataDiskCount": {
          "$ref": "#/definitions/VmAttributeMinMaxInteger",
          "description": "Data disk count range."
        },
        "networkInterfaceCount": {
          "$ref": "#/definitions/VmAttributeMinMaxInteger",
          "description": "NIC count range."
        },
        "networkBandwidthInMbps": {
          "$ref": "#/definitions/VmAttributeMinMaxDouble",
          "description": "Network bandwidth range in Mbps."
        },
        "localStorageSupport": {
          "$ref": "#/definitions/VmAttributeSupport",
          "description": "Whether local storage support should be excluded, included, or required."
        },
        "localStorageInGiB": {
          "$ref": "#/definitions/VmAttributeMinMaxDouble",
          "description": "Local storage capacity range in GiB."
        },
        "localStorageDiskTypes": {
          "type": "array",
          "description": "Allowed local storage disk types.",
          "items": {
            "type": "string"
          }
        },
        "rdmaSupport": {
          "$ref": "#/definitions/VmAttributeSupport",
          "description": "Whether RDMA support should be excluded, included, or required."
        },
        "rdmaNetworkInterfaceCount": {
          "$ref": "#/definitions/VmAttributeMinMaxInteger",
          "description": "RDMA NIC count range."
        },
        "acceleratorSupport": {
          "$ref": "#/definitions/VmAttributeSupport",
          "description": "Whether accelerator support should be excluded, included, or required."
        },
        "acceleratorManufacturers": {
          "type": "array",
          "description": "Allowed accelerator manufacturers.",
          "items": {
            "type": "string"
          }
        },
        "acceleratorTypes": {
          "type": "array",
          "description": "Allowed accelerator types.",
          "items": {
            "type": "string"
          }
        },
        "acceleratorCount": {
          "$ref": "#/definitions/VmAttributeMinMaxInteger",
          "description": "Accelerator count range."
        },
        "vmCategories": {
          "type": "array",
          "description": "Allowed VM categories.",
          "items": {
            "type": "string"
          }
        },
        "cpuManufacturers": {
          "type": "array",
          "description": "Allowed CPU manufacturers.",
          "items": {
            "type": "string"
          }
        },
        "burstableSupport": {
          "$ref": "#/definitions/VmAttributeSupport",
          "description": "Whether burstable SKUs should be excluded, included, or required."
        },
        "hyperVGenerations": {
          "type": "array",
          "description": "Allowed Hyper-V generations.",
          "items": {
            "type": "string"
          }
        },
        "excludedVMSizes": {
          "type": "array",
          "description": "VM sizes to explicitly exclude.",
          "items": {
            "type": "string"
          }
        },
        "allowedVMSizes": {
          "type": "array",
          "description": "VM sizes to explicitly allow; attribute filtering applied only to this set.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "vCpuCount",
        "memoryInGiB",
        "architectureTypes"
      ]
    }
  },
  "parameters": {}
}
