{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2024-07-01-preview",
    "description": "A EdgeDevice",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EdgeDeviceJobs"
    },
    {
      "name": "ClusterJobs"
    },
    {
      "name": "Clusters"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/jobs": {
      "get": {
        "operationId": "EdgeDeviceJobs_ListByEdgeDevice",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "List EdgeDeviceJob resources by EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_ListByEdgeDevice": {
            "$ref": "./examples/EdgeDeviceJobs_ListByEdgeDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/jobs/{jobsName}": {
      "get": {
        "operationId": "EdgeDeviceJobs_Get",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Get a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_Get_RemoteSupport": {
            "$ref": "./examples/EdgeDeviceJobs_Get_RemoteSupport.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeDeviceJobs_CreateOrUpdate",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Create a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeDeviceJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          },
          "201": {
            "description": "Resource 'EdgeDeviceJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_CreateOrUpdate_CollectLog": {
            "$ref": "./examples/EdgeDeviceJobs_CreateOrUpdate_CollectLog.json"
          },
          "EdgeDeviceJobs_CreateOrUpdate_RemoteSupport": {
            "$ref": "./examples/EdgeDeviceJobs_CreateOrUpdate_RemoteSupport.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeDeviceJobs_Delete",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Delete a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_Delete": {
            "$ref": "./examples/EdgeDeviceJobs_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/clusters": {
      "get": {
        "operationId": "Clusters_ListBySubscription",
        "tags": [
          "Clusters"
        ],
        "description": "List all HCI clusters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters in a given subscription": {
            "$ref": "./examples/Clusters_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters": {
      "get": {
        "operationId": "Clusters_ListByResourceGroup",
        "tags": [
          "Clusters"
        ],
        "description": "List all HCI clusters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters in a given resource group": {
            "$ref": "./examples/Clusters_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Get HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get cluster": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Clusters_Create",
        "tags": [
          "Clusters"
        ],
        "description": "Create an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Details of the HCI cluster.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Cluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Resource 'Cluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create cluster": {
            "$ref": "./examples/Clusters_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Clusters_Update",
        "tags": [
          "Clusters"
        ],
        "description": "Update an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Details of the HCI cluster.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update cluster": {
            "$ref": "./examples/Clusters_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "tags": [
          "Clusters"
        ],
        "description": "Delete an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete cluster": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/configureRemoteSupport": {
      "post": {
        "operationId": "Clusters_ConfigureRemoteSupport",
        "tags": [
          "Clusters"
        ],
        "description": "Configure RemoteSupport on a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Configure Remote Support Request Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteSupportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configure Remote Support": {
            "$ref": "./examples/Clusters_ConfigureRemoteSupport.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/createClusterIdentity": {
      "post": {
        "operationId": "Clusters_CreateIdentity",
        "tags": [
          "Clusters"
        ],
        "description": "Create cluster identity.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterIdentityResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create cluster Identity": {
            "$ref": "./examples/Clusters_CreateClusterIdentity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/extendSoftwareAssuranceBenefit": {
      "post": {
        "operationId": "Clusters_ExtendSoftwareAssuranceBenefit",
        "tags": [
          "Clusters"
        ],
        "description": "Extends Software Assurance Benefit to a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Software Assurance Change Request Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareAssuranceChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create cluster Identity": {
            "$ref": "./examples/Clusters_ExtendSoftwareAssuranceBenefit.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs": {
      "get": {
        "operationId": "ClusterJobs_ListByCluster",
        "tags": [
          "ClusterJobs"
        ],
        "description": "List ClusterJob resources by Clusters",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_ListByCluster": {
            "$ref": "./examples/ClusterJobs_ListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs/{jobsName}": {
      "get": {
        "operationId": "ClusterJobs_Get",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Get a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_Get_AddServerJob": {
            "$ref": "./examples/ClusterJobs_Get_AddServerJob.json"
          }
        }
      },
      "put": {
        "operationId": "ClusterJobs_CreateOrUpdate",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Create a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ClusterJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          },
          "201": {
            "description": "Resource 'ClusterJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_CreateOrUpdate_AddServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_AddServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_PauseServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_PauseServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_RepairServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_RepairServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_ResumeServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_ResumeServerJob.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ClusterJobs_Delete",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Delete a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_Delete": {
            "$ref": "./examples/ClusterJobs_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/triggerLogCollection": {
      "post": {
        "operationId": "Clusters_TriggerLogCollection",
        "tags": [
          "Clusters"
        ],
        "description": "Trigger Log Collection on a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Trigger Log Collection Request Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Trigger Log Collection": {
            "$ref": "./examples/Clusters_TriggerLogCollection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSecretsLocations": {
      "post": {
        "operationId": "Clusters_UpdateSecretsLocations",
        "tags": [
          "Clusters"
        ],
        "description": "Update cluster secrets locations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretsLocationsChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update secrets locations for a Cluster": {
            "$ref": "./examples/Clusters_UpdateSecretsLocations.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/uploadCertificate": {
      "post": {
        "operationId": "Clusters_UploadCertificate",
        "tags": [
          "Clusters"
        ],
        "description": "Upload certificate.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Upload certificate request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadCertificateRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Upload certificate": {
            "$ref": "./examples/Clusters_UploadCertificate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddServerJobProperties": {
      "type": "object",
      "description": "Properties for adding a server to the cluster.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of Azure resource ids of Arc machines part of cluster for which job will be triggered.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Cluster job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to the cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "IP address of server to be added to the cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger the job for the cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ]
    },
    "AzureLinuxAddServerJobProperties": {
      "type": "object",
      "description": "Properties for adding a server in Azure Linux cluster job.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of Azure resource ids of Arc machines part of cluster for which job will be triggered.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Cluster job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to the cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "IP address of server to be added to the cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger the job for the cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "AzureLinuxClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of Azure resource ids of Arc machines part of cluster for which job will be triggered.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Cluster job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/AzureLinuxJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "AzureLinuxClusterNode": {
      "type": "object",
      "description": "Cluster node details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the cluster node.",
          "readOnly": true
        },
        "edgeDeviceResourceId": {
          "type": "string",
          "description": "Edge device resource Id.",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the cluster node hardware.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Model name of the cluster node hardware.",
          "readOnly": true
        },
        "osName": {
          "type": "string",
          "description": "Operating system running on the cluster node.",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "description": "Version of the operating system running on the cluster node.",
          "readOnly": true
        },
        "osDisplayVersion": {
          "type": "string",
          "description": "Display version of the operating system running on the cluster node.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Immutable id of the cluster node.",
          "readOnly": true
        },
        "coreCount": {
          "type": "number",
          "format": "float",
          "description": "Number of physical cores on the cluster node.",
          "readOnly": true
        },
        "memoryInGiB": {
          "type": "number",
          "format": "float",
          "description": "Total available memory on the cluster node (in GiB).",
          "readOnly": true
        }
      }
    },
    "AzureLinuxClusterProperties": {
      "type": "object",
      "description": "Cluster properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "Status of the cluster agent.",
          "readOnly": true
        },
        "connectivityStatus": {
          "$ref": "#/definitions/ConnectivityStatus",
          "description": "Overall connectivity status for the cluster resource.",
          "readOnly": true
        },
        "aadServicePrincipalObjectId": {
          "type": "string",
          "description": "Id of cluster identity service principal."
        },
        "aadTenantId": {
          "type": "string",
          "description": "Tenant id of cluster AAD identity."
        },
        "cloudId": {
          "type": "string",
          "description": "Unique, immutable resource id.",
          "readOnly": true
        },
        "cloudManagementEndpoint": {
          "type": "string",
          "description": "Endpoint configured for management from the Azure portal."
        },
        "registrationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "First cluster sync timestamp.",
          "readOnly": true
        },
        "lastSyncTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Most recent cluster sync timestamp.",
          "readOnly": true
        },
        "resourceProviderObjectId": {
          "type": "string",
          "description": "Object id of RP Service Principal",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Region specific DataPath Endpoint of the cluster.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/AzureLinuxClusterReportedProperties",
          "description": "Properties reported by cluster agent.",
          "readOnly": true
        }
      }
    },
    "AzureLinuxClusterReportedProperties": {
      "type": "object",
      "description": "Properties reported by cluster agent.",
      "properties": {
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "Last time the cluster reported the data.",
          "readOnly": true
        },
        "supportedCapabilities": {
          "type": "array",
          "description": "Capabilities supported by the cluster.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "customLocationId": {
          "type": "string",
          "description": "Name of the on-prem cluster connected to this resource.",
          "readOnly": true
        },
        "hardwareClass": {
          "$ref": "#/definitions/HardwareClass",
          "description": "The hardware class of the cluster",
          "readOnly": true
        },
        "nodes": {
          "type": "array",
          "description": "List of nodes reported by the cluster.",
          "items": {
            "$ref": "#/definitions/AzureLinuxClusterNode"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "edgeDeviceResourceId"
          ]
        }
      }
    },
    "AzureLinuxCollectLogJobProperties": {
      "type": "object",
      "description": "Azure Linux Collect Log Job Properties.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "AzureLinuxEdgeDeviceJob": {
      "type": "object",
      "description": "Edge device job for Azure Linux solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties",
          "description": "Edge device job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeDeviceJob"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxEdgeDeviceJobProperties": {
      "type": "object",
      "description": "Edge device job properties",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Edge device job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/EdgeDeviceJobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "AzureLinuxEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported by Azure Linux Edge Devices.",
      "enum": [
        "CollectLog",
        "RemoteSupport"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          }
        ]
      }
    },
    "AzureLinuxJob": {
      "type": "object",
      "description": "Cluster job for Azure Linux solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties",
          "description": "Cluster Job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJob"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxJobType": {
      "type": "string",
      "description": "ClusterJob Type supported.",
      "enum": [
        "AddServer",
        "RepairServer"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "Job to add a server to the cluster."
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "Job to repair a server in the cluster."
          }
        ]
      }
    },
    "AzureLinuxProvisioningRequest": {
      "type": "object",
      "description": "Azure Linux provisioning request.",
      "properties": {
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Operating system profile."
        },
        "userConfiguration": {
          "$ref": "#/definitions/UserConfiguration",
          "description": "User configuration."
        },
        "onboardingConfiguration": {
          "$ref": "#/definitions/OnboardingConfiguration",
          "description": "Onboarding configuration."
        },
        "deviceConfiguration": {
          "$ref": "#/definitions/DeviceConfiguration",
          "description": "Device configuration."
        }
      },
      "required": [
        "osProfile",
        "userConfiguration",
        "onboardingConfiguration",
        "deviceConfiguration"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProvisioningRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxRemoteSupportJobProperties": {
      "type": "object",
      "description": "Represents the properties of an Azure Linux Remote Support job.",
      "properties": {
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/RemoteSupportReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "accessLevel",
        "expirationTimestamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteSupport"
    },
    "AzureLinuxRepairServerJobProperties": {
      "type": "object",
      "description": "Properties for repairing a server in the cluster.",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of Azure resource ids of Arc machines part of c`luster for which job will be triggered.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RepairServer"
    },
    "AzureLinuxRoeEdgeDeviceJob": {
      "type": "object",
      "description": "Edge device job for Azure Linux restricted operating environment solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxRoeEdgeDeviceJobProperties",
          "description": "Edge device job properties for restricted operating environment"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeDeviceJob"
        }
      ],
      "x-ms-discriminator-value": "AzureLinuxRoe"
    },
    "AzureLinuxRoeEdgeDeviceJobProperties": {
      "type": "object",
      "description": "Azure linux edge device job properties in restricted operating environment",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Edge device job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/EdgeDeviceJobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/AzureLinuxRoeEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "AzureLinuxRoeEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported by Azure Linux Edge Devices in Restricted operating environment.",
      "enum": [
        "ProvisionOs"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxRoeEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "ProvisionOs",
            "value": "ProvisionOs",
            "description": "Job to provision operating system in the device."
          }
        ]
      }
    },
    "AzureLinuxRoeProvisionOsJobProperties": {
      "type": "object",
      "description": "Represents the properties of an Azure Linux restricted operating environment Provision Os job.",
      "properties": {
        "provisioningRequest": {
          "$ref": "#/definitions/ProvisioningRequest",
          "description": "Os Provisioning request."
        }
      },
      "required": [
        "provisioningRequest"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxRoeEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "ProvisionOs"
    },
    "AzureStackHciJob": {
      "type": "object",
      "description": "Cluster job for Azure Stack HCI solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciClusterJobProperties",
          "description": "HCI Cluster Job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJob"
        }
      ],
      "x-ms-discriminator-value": "WindowsServer"
    },
    "Cluster": {
      "type": "object",
      "description": "Cluster details.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/EdgeSolutionType",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ClusterDesiredProperties": {
      "type": "object",
      "description": "Desired properties of the cluster.",
      "properties": {
        "windowsServerSubscription": {
          "$ref": "#/definitions/WindowsServerSubscription",
          "description": "Desired state of Windows Server Subscription."
        },
        "diagnosticLevel": {
          "$ref": "#/definitions/DiagnosticLevel",
          "description": "Desired level of diagnostic data emitted by the cluster."
        }
      }
    },
    "ClusterIdentityResponse": {
      "type": "object",
      "description": "Cluster Identity details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterIdentityResponseProperties",
          "description": "Cluster identity properties.",
          "readOnly": true
        }
      }
    },
    "ClusterIdentityResponseProperties": {
      "type": "object",
      "description": "Properties for the cluster identity response.",
      "properties": {
        "aadClientId": {
          "type": "string",
          "description": "Azure Active Directory client ID."
        },
        "aadTenantId": {
          "type": "string",
          "description": "Azure Active Directory tenant ID."
        },
        "aadServicePrincipalObjectId": {
          "type": "string",
          "description": "Azure Active Directory service principal object ID."
        },
        "aadApplicationObjectId": {
          "type": "string",
          "description": "Azure Active Directory application object ID."
        }
      }
    },
    "ClusterJob": {
      "type": "object",
      "description": "Cluster Jobs resource",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/EdgeSolutionType",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterJobListResult": {
      "type": "object",
      "description": "The response of a ClusterJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ClusterJob items on this page",
          "items": {
            "$ref": "#/definitions/ClusterJob"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of Azure resource ids of Arc machines part of cluster for which job will be triggered.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Cluster job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      }
    },
    "ClusterListResult": {
      "type": "object",
      "description": "The response of a Cluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Cluster items on this page",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterLogCollectionSession": {
      "type": "object",
      "description": "Log Collection Session details of the cluster.",
      "properties": {
        "logStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start Time of the logs when it was collected",
          "readOnly": true
        },
        "logEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "End Time of the logs when it was collected",
          "readOnly": true
        },
        "timeCollected": {
          "type": "string",
          "format": "date-time",
          "description": "Duration of logs collected",
          "readOnly": true
        },
        "logSize": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the logs collected",
          "readOnly": true
        },
        "logCollectionStatus": {
          "$ref": "#/definitions/LogCollectionStatus",
          "description": "LogCollection status",
          "readOnly": true
        },
        "logCollectionJobType": {
          "$ref": "#/definitions/LogCollectionJobType",
          "description": "LogCollection job type",
          "readOnly": true
        },
        "correlationId": {
          "type": "string",
          "description": "CorrelationId of the log collection",
          "readOnly": true
        },
        "endTimeCollected": {
          "type": "string",
          "format": "date-time",
          "description": "End Time of the logs when it was collected",
          "readOnly": true
        },
        "logCollectionError": {
          "$ref": "#/definitions/LogCollectionError",
          "description": "Log Collection Error details of the cluster.",
          "readOnly": true
        }
      }
    },
    "ClusterNode": {
      "type": "object",
      "description": "Cluster node details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the cluster node.",
          "readOnly": true
        },
        "edgeDeviceResourceId": {
          "type": "string",
          "description": "Edge device resource Id.",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the cluster node hardware.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Model name of the cluster node hardware.",
          "readOnly": true
        },
        "osName": {
          "type": "string",
          "description": "Operating system running on the cluster node.",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "description": "Version of the operating system running on the cluster node.",
          "readOnly": true
        },
        "osDisplayVersion": {
          "type": "string",
          "description": "Display version of the operating system running on the cluster node.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Immutable id of the cluster node.",
          "readOnly": true
        },
        "coreCount": {
          "type": "number",
          "format": "float",
          "description": "Number of physical cores on the cluster node.",
          "readOnly": true
        },
        "memoryInGiB": {
          "type": "number",
          "format": "float",
          "description": "Total available memory on the cluster node (in GiB).",
          "readOnly": true
        }
      }
    },
    "ClusterNodeType": {
      "type": "string",
      "description": "The node type of all the nodes of the cluster.",
      "enum": [
        "FirstParty",
        "ThirdParty"
      ],
      "x-ms-enum": {
        "name": "ClusterNodeType",
        "modelAsString": true,
        "values": [
          {
            "name": "FirstParty",
            "value": "FirstParty",
            "description": "Nodes provided by the first party (original manufacturer)."
          },
          {
            "name": "ThirdParty",
            "value": "ThirdParty",
            "description": "Nodes provided by a third party."
          }
        ]
      }
    },
    "ClusterPatch": {
      "type": "object",
      "description": "Cluster details to update.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "$ref": "#/definitions/EdgeSolutionType",
          "description": "Edge Solution type to support polymorphic resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Cluster properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "Status of the cluster agent.",
          "readOnly": true
        },
        "connectivityStatus": {
          "$ref": "#/definitions/ConnectivityStatus",
          "description": "Overall connectivity status for the cluster resource.",
          "readOnly": true
        },
        "aadServicePrincipalObjectId": {
          "type": "string",
          "description": "Id of cluster identity service principal."
        },
        "aadTenantId": {
          "type": "string",
          "description": "Tenant id of cluster AAD identity."
        },
        "cloudId": {
          "type": "string",
          "description": "Unique, immutable resource id.",
          "readOnly": true
        },
        "cloudManagementEndpoint": {
          "type": "string",
          "description": "Endpoint configured for management from the Azure portal."
        },
        "registrationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "First cluster sync timestamp.",
          "readOnly": true
        },
        "lastSyncTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Most recent cluster sync timestamp.",
          "readOnly": true
        },
        "resourceProviderObjectId": {
          "type": "string",
          "description": "Object id of RP Service Principal",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Region specific DataPath Endpoint of the cluster.",
          "readOnly": true
        }
      }
    },
    "ClusterProvisioningState": {
      "type": "string",
      "description": "Provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Provisioning",
        "NotSpecified",
        "Creating",
        "Updating",
        "Deleting",
        "Moving",
        "Deleted",
        "PartiallySucceeded",
        "InProgress",
        "DisableInProgress",
        "Connected",
        "PartiallyConnected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ClusterProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The provisioning succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The provisioning failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The provisioning was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The provisioning was accepted."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The provisioning is in progress."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The provisioning state is not specified."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The cluster is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The cluster is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The cluster is being deleted."
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "The cluster is being moved."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The cluster has been deleted."
          },
          {
            "name": "PartiallySucceeded",
            "value": "PartiallySucceeded",
            "description": "The provisioning partially succeeded."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The provisioning is in progress."
          },
          {
            "name": "DisableInProgress",
            "value": "DisableInProgress",
            "description": "The cluster disable operation is in progress."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The cluster is connected."
          },
          {
            "name": "PartiallyConnected",
            "value": "PartiallyConnected",
            "description": "The cluster is partially connected."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The cluster is disconnected."
          }
        ]
      },
      "readOnly": true
    },
    "ClusterRemoteSupportNodeSettings": {
      "type": "object",
      "description": "Remote Support Node Settings of the cluster.",
      "properties": {
        "arcResourceId": {
          "type": "string",
          "description": "Arc ResourceId of the Node",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Remote Support Access Connection State on the Node",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Remote Support Enablement Request Created TimeStamp on the Node",
          "readOnly": true
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Remote Support Enablement Request Updated TimeStamp on the Node",
          "readOnly": true
        },
        "connectionStatus": {
          "type": "string",
          "description": "Remote Support Access Connection Status on the Node",
          "readOnly": true
        },
        "connectionErrorMessage": {
          "type": "string",
          "description": "Remote Support Access Connection Error Message on the Node",
          "readOnly": true
        },
        "transcriptLocation": {
          "type": "string",
          "description": "Remote Support Transcript location on the node",
          "readOnly": true
        }
      }
    },
    "ClusterRemoteSupportProperties": {
      "type": "object",
      "description": "Remote Support properties of the cluster.",
      "properties": {
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote Support Access Level",
          "readOnly": true
        },
        "expirationTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration DateTimeStamp when Remote Support Access will be expired",
          "readOnly": true
        },
        "remoteSupportType": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote Support Type for cluster",
          "readOnly": true
        },
        "remoteSupportNodeSettings": {
          "type": "array",
          "description": "Remote Support node settings of the cluster.",
          "items": {
            "$ref": "#/definitions/ClusterRemoteSupportNodeSettings"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "remoteSupportSessionDetails": {
          "type": "array",
          "description": "Remote Support session details of the cluster.",
          "items": {
            "$ref": "#/definitions/PerNodeRemoteSupportSession"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "ClusterReportedProperties": {
      "type": "object",
      "description": "Properties reported by cluster agent.",
      "properties": {
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "Last time the cluster reported the data.",
          "readOnly": true
        },
        "supportedCapabilities": {
          "type": "array",
          "description": "Capabilities supported by the cluster.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "CollectLogJobProperties": {
      "type": "object",
      "description": "Represents the properties of a log collection job.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ]
    },
    "ConnectivityStatus": {
      "type": "string",
      "description": "Overall connectivity status for the cluster resource.",
      "enum": [
        "NotYetRegistered",
        "Connected",
        "NotConnectedRecently",
        "PartiallyConnected",
        "Disconnected",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ConnectivityStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotYetRegistered",
            "value": "NotYetRegistered",
            "description": "The cluster resource has not yet been registered."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The cluster resource is connected."
          },
          {
            "name": "NotConnectedRecently",
            "value": "NotConnectedRecently",
            "description": "The cluster resource has not been connected recently."
          },
          {
            "name": "PartiallyConnected",
            "value": "PartiallyConnected",
            "description": "The cluster resource is partially connected."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The cluster resource is disconnected."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The connectivity status of the cluster resource is not specified."
          }
        ]
      }
    },
    "DeploymentAdapterPropertyOverrides": {
      "type": "object",
      "description": "The network adapter properties to override during deployment of a cluster.",
      "properties": {
        "jumboPacket": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirect": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirectTechnology": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation. Expected values are 'iWARP', 'RoCEv2', 'RoCE'"
        }
      }
    },
    "DeploymentHostNetwork": {
      "type": "object",
      "description": "The HostNetwork of a cluster.",
      "properties": {
        "intents": {
          "type": "array",
          "description": "The network intents assigned to the network reference pattern used for the deployment. Each intent will define its own name, traffic type, adapter names, and overrides as recommended by your OEM.",
          "items": {
            "$ref": "#/definitions/DeploymentIntents"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageNetworks": {
          "type": "array",
          "description": "List of StorageNetworks config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageNetworks"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageConnectivitySwitchless": {
          "type": "boolean",
          "description": "Defines how the storage adapters between nodes are connected either switch or switch less.."
        },
        "enableStorageAutoIp": {
          "type": "boolean",
          "description": "Optional parameter required only for 3 Nodes switchless deployments. This allows users to specify IPs and Mask for Storage NICs when Network ATC is not assigning the IPs for storage automatically."
        }
      }
    },
    "DeploymentIntents": {
      "type": "object",
      "description": "The Intents of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the network intent you wish to create."
        },
        "trafficType": {
          "type": "array",
          "description": "List of network traffic types. Only allowed values are 'Compute', 'Storage', 'Management'.",
          "items": {
            "type": "string"
          }
        },
        "adapter": {
          "type": "array",
          "description": "Array of network interfaces used for the network intent.",
          "items": {
            "type": "string"
          }
        },
        "overrideVirtualSwitchConfiguration": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "virtualSwitchConfigurationOverrides": {
          "$ref": "#/definitions/DeploymentVirtualSwitchConfigurationOverrides",
          "description": "Set virtualSwitch ConfigurationOverrides for cluster."
        },
        "overrideQosPolicy": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "qosPolicyOverrides": {
          "$ref": "#/definitions/QosPolicyOverrides",
          "description": "Set QoS PolicyOverrides for cluster."
        },
        "overrideAdapterProperty": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "adapterPropertyOverrides": {
          "$ref": "#/definitions/DeploymentAdapterPropertyOverrides",
          "description": "Set Adapter PropertyOverrides for cluster."
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "Deployment mode to trigger job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "DeploymentStorageAdapterIPInfo": {
      "type": "object",
      "description": "The storage network adapter info.",
      "properties": {
        "physicalNode": {
          "type": "string",
          "description": "physical node name."
        },
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address assigned to network adapter used for storage."
        },
        "subnetMask": {
          "type": "string",
          "description": "The SubnetMask address assigned to network adapter used for storage."
        }
      }
    },
    "DeploymentStorageNetworks": {
      "type": "object",
      "description": "The StorageNetworks of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the storage network."
        },
        "networkAdapterName": {
          "type": "string",
          "description": "Name of the storage network adapter."
        },
        "vlanId": {
          "type": "string",
          "description": "ID specified for the VLAN storage network. This setting is applied to the network interfaces that route the storage and VM migration traffic."
        },
        "storageAdapterIPInfo": {
          "type": "array",
          "description": "List of Storage adapter physical nodes config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageAdapterIPInfo"
          },
          "x-ms-identifiers": [
            "physicalNode"
          ]
        }
[...]
