{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2020-08-06-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotDefenderSettings": {
      "get": {
        "x-ms-examples": {
          "List IoT Defender settings": {
            "$ref": "./examples/IotDefenderSettings/ListIotDefenderSettings.json"
          }
        },
        "tags": [
          "IoT Defender Settings"
        ],
        "description": "List IoT Defender Settings",
        "operationId": "IotDefenderSettings_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IotDefenderSettingsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotDefenderSettings/default": {
      "get": {
        "x-ms-examples": {
          "Get IoT Defender settings": {
            "$ref": "./examples/IotDefenderSettings/GetIotDefenderSettings.json"
          }
        },
        "tags": [
          "IoT Defender Settings"
        ],
        "operationId": "IotDefenderSettings_Get",
        "description": "Get IoT Defender Settings",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "IoT Defender Settings",
            "schema": {
              "$ref": "#/definitions/IotDefenderSettingsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update IoT Defender settings": {
            "$ref": "./examples/IotDefenderSettings/PutIotDefenderSettings.json"
          }
        },
        "tags": [
          "IoT Defender Settings"
        ],
        "operationId": "IotDefenderSettings_CreateOrUpdate",
        "description": "Create or update IoT Defender settings",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated IoT Defender settings",
            "schema": {
              "$ref": "#/definitions/IotDefenderSettingsModel"
            }
          },
          "201": {
            "description": "Created IoT Defender settings",
            "schema": {
              "$ref": "#/definitions/IotDefenderSettingsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete IoT Defender settings": {
            "$ref": "./examples/IotDefenderSettings/DeleteIotDefenderSettings.json"
          }
        },
        "tags": [
          "IoT Defender Settings"
        ],
        "operationId": "IotDefenderSettings_Delete",
        "description": "Delete IoT Defender settings",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "IoT Defender settings deleted"
          },
          "204": {
            "description": "IoT Defender settings does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotDefenderSettings/default/downloadOnPremiseActivation": {
      "post": {
        "x-ms-examples": {
          "Download activation file": {
            "$ref": "./examples/IotDefenderSettings/DownloadOnPremiseActivation.json"
          }
        },
        "tags": [
          "IoT Defender Settings"
        ],
        "operationId": "IotDefenderSettings_DownloadOnPremiseActivation",
        "description": "Download on-premise sensors activation file",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded activation file"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IotDefenderSettingsList": {
      "description": "List of IoT Defender settings",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/IotDefenderSettingsModel"
          }
        }
      }
    },
    "IotDefenderSettingsModel": {
      "type": "object",
      "description": "IoT Defender settings",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "IoT Defender settings properties",
          "$ref": "#/definitions/IotDefenderSettingsProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "IotDefenderSettingsProperties": {
      "type": "object",
      "description": "IoT Defender settings properties",
      "properties": {
        "onPremiseSensors": {
          "description": "List of on-premise sensors",
          "readOnly": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OnPremiseSensorProperties"
          },
          "example": [
            {
              "name": "sensor-1"
            }
          ]
        }
      }
    },
    "OnPremiseSensorProperties": {
      "type": "object",
      "description": "On-premise sensor properties",
      "properties": {
        "name": {
          "description": "Name of the sensor",
          "readOnly": false,
          "type": "string",
          "example": "sensor-1"
        }
      }
    }
  },
  "parameters": {}
}
