{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2020-08-06-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Security/iotSensors": {
      "get": {
        "x-ms-examples": {
          "List IoT sensors": {
            "$ref": "./examples/IotSensors/List.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "description": "List IoT sensors",
        "operationId": "IotSensors_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IotSensorsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/iotSensors/{iotSensorName}": {
      "get": {
        "x-ms-examples": {
          "Get IoT sensor": {
            "$ref": "./examples/IotSensors/Get.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "operationId": "IotSensors_Get",
        "description": "Get IoT sensor",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          },
          {
            "$ref": "#/parameters/IotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IotSensorsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update IoT sensor": {
            "$ref": "./examples/IotSensors/Put.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "operationId": "IotSensors_CreateOrUpdate",
        "description": "Create or update IoT sensor",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          },
          {
            "$ref": "#/parameters/IotSensorName"
          },
          {
            "$ref": "#/parameters/IotSensorsModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated IoT sensor",
            "schema": {
              "$ref": "#/definitions/IotSensorsModel"
            }
          },
          "201": {
            "description": "Created IoT sensor",
            "schema": {
              "$ref": "#/definitions/IotSensorsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete IoT sensor": {
            "$ref": "./examples/IotSensors/Delete.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "operationId": "IotSensors_Delete",
        "description": "Delete IoT sensor",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          },
          {
            "$ref": "#/parameters/IotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted IoT sensor"
          },
          "204": {
            "description": "IoT sensor does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/iotSensors/{iotSensorName}/downloadActivation": {
      "post": {
        "x-ms-examples": {
          "Download activation file": {
            "$ref": "./examples/IotSensors/DownloadActivation.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "operationId": "IotSensors_DownloadActivation",
        "description": "Download sensor activation file",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          },
          {
            "$ref": "#/parameters/IotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded activation file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/iotSensors/{iotSensorName}/downloadResetPassword": {
      "post": {
        "x-ms-examples": {
          "Download file for reset password of the sensor": {
            "$ref": "./examples/IotSensors/DownloadResetPassword.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "operationId": "IotSensors_DownloadResetPassword",
        "description": "Download file for reset password of the sensor",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          },
          {
            "$ref": "#/parameters/IotSensorName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "The reset password input.",
            "schema": {
              "$ref": "#/definitions/ResetPasswordInput"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded reset password file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/iotSensors/{iotSensorName}/triggerTiPackageUpdate": {
      "post": {
        "x-ms-examples": {
          "Trigger threat intelligence package update": {
            "$ref": "./examples/IotSensors/TriggerTiPackageUpdate.json"
          }
        },
        "tags": [
          "IoT Sensors"
        ],
        "operationId": "IotSensors_TriggerTiPackageUpdate",
        "description": "Trigger threat intelligence package update",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/IotSensorScope"
          },
          {
            "$ref": "#/parameters/IotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Triggered threat intelligence package update"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IotSensorsList": {
      "description": "List of IoT sensors",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/IotSensorsModel"
          }
        }
      }
    },
    "IotSensorsModel": {
      "type": "object",
      "description": "IoT sensor model",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "IoT sensor properties",
          "$ref": "#/definitions/IotSensorProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "IotSensorProperties": {
      "type": "object",
      "description": "IoT sensor properties",
      "properties": {
        "connectivityTime": {
          "description": "Last connectivity time of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020-11-17T12:31:25Z"
        },
        "creationTime": {
          "description": "Creation time of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020-11-17T12:31:25Z"
        },
        "dynamicLearning": {
          "description": "Dynamic mode status of the IoT sensor",
          "example": true,
          "readOnly": true,
          "type": "boolean"
        },
        "learningMode": {
          "description": "Learning mode status of the IoT sensor",
          "example": true,
          "readOnly": true,
          "type": "boolean"
        },
        "sensorStatus": {
          "readOnly": true,
          "type": "string",
          "example": "Ok",
          "description": "Status of the IoT sensor",
          "enum": [
            "Ok",
            "Disconnected",
            "Unavailable"
          ],
          "x-ms-enum": {
            "name": "sensorStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Ok"
              },
              {
                "value": "Disconnected"
              },
              {
                "value": "Unavailable"
              }
            ]
          }
        },
        "sensorVersion": {
          "description": "Version of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020.11.01.1643"
        },
        "tiAutomaticUpdates": {
          "description": "TI Automatic mode status of the IoT sensor",
          "example": true,
          "type": "boolean"
        },
        "tiStatus": {
          "readOnly": true,
          "type": "string",
          "example": "Ok",
          "description": "TI Status of the IoT sensor",
          "enum": [
            "Ok",
            "Failed",
            "InProgress",
            "UpdateAvailable"
          ],
          "x-ms-enum": {
            "name": "tiStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Ok"
              },
              {
                "value": "Failed"
              },
              {
                "value": "InProgress"
              },
              {
                "value": "UpdateAvailable"
              }
            ]
          }
        },
        "tiVersion": {
          "description": "TI Version of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020-11-17T12:31:25Z"
        },
        "zone": {
          "type": "string",
          "description": "Zone of the IoT sensor",
          "example": "A12"
        },
        "sensorType": {
          "description": "Type of sensor",
          "example": "Ot",
          "type": "string",
          "enum": [
            "Ot",
            "Enterprise"
          ],
          "x-ms-enum": {
            "name": "sensorType",
            "modelAsString": true,
            "values": [
              {
                "value": "Ot"
              },
              {
                "value": "Enterprise"
              }
            ]
          }
        }
      }
    },
    "ResetPasswordInput": {
      "type": "object",
      "description": "Reset password input.",
      "properties": {
        "applianceId": {
          "description": "The appliance id of the sensor.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "IotSensorScope": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Scope of the query (IoT Hub, /providers/Microsoft.Devices/iotHubs/myHub)",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "IotSensorName": {
      "name": "iotSensorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the IoT sensor",
      "x-ms-parameter-location": "method"
    },
    "IotSensorsModel": {
      "name": "iotSensorsModel",
      "in": "body",
      "required": true,
      "description": "The IoT sensor model",
      "schema": {
        "$ref": "#/definitions/IotSensorsModel"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
