{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2020-08-06-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/onPremiseIotSensors": {
      "get": {
        "x-ms-examples": {
          "List on-premise IoT sensors": {
            "$ref": "./examples/OnPremiseIotSensors/List.json"
          }
        },
        "tags": [
          "On-Premise IoT Sensors"
        ],
        "description": "List on-premise IoT sensors",
        "operationId": "OnPremiseIotSensors_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnPremiseIotSensorsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/onPremiseIotSensors/{onPremiseIotSensorName}": {
      "get": {
        "x-ms-examples": {
          "Get on-premise IoT sensor": {
            "$ref": "./examples/OnPremiseIotSensors/Get.json"
          }
        },
        "tags": [
          "On-Premise IoT Sensors"
        ],
        "operationId": "OnPremiseIotSensors_Get",
        "description": "Get on-premise IoT sensor",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/OnPremiseIotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnPremiseIotSensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update on-premise IoT sensor": {
            "$ref": "./examples/OnPremiseIotSensors/Put.json"
          }
        },
        "tags": [
          "On-Premise IoT Sensors"
        ],
        "operationId": "OnPremiseIotSensors_CreateOrUpdate",
        "description": "Create or update on-premise IoT sensor",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/OnPremiseIotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated on-premise IoT sensor",
            "schema": {
              "$ref": "#/definitions/OnPremiseIotSensor"
            }
          },
          "201": {
            "description": "Created on-premise IoT sensor",
            "schema": {
              "$ref": "#/definitions/OnPremiseIotSensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete on-premise IoT sensor": {
            "$ref": "./examples/OnPremiseIotSensors/Delete.json"
          }
        },
        "tags": [
          "On-Premise IoT Sensors"
        ],
        "operationId": "OnPremiseIotSensors_Delete",
        "description": "Delete on-premise IoT sensor",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/OnPremiseIotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted on-premise IoT sensor"
          },
          "204": {
            "description": "On-premise IoT sensor does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/onPremiseIotSensors/{onPremiseIotSensorName}/downloadActivation": {
      "post": {
        "x-ms-examples": {
          "Download activation file": {
            "$ref": "./examples/OnPremiseIotSensors/DownloadActivation.json"
          }
        },
        "tags": [
          "On-Premise IoT Sensors"
        ],
        "operationId": "OnPremiseIotSensors_DownloadActivation",
        "description": "Download sensor activation file",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/OnPremiseIotSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded activation file"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OnPremiseIotSensorsList": {
      "description": "List of on-premise IoT sensors",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OnPremiseIotSensor"
          }
        }
      }
    },
    "OnPremiseIotSensor": {
      "type": "object",
      "description": "On-premise IoT sensor",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "On-premise IoT sensor properties",
          "$ref": "#/definitions/OnPremiseIotSensorProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "OnPremiseIotSensorProperties": {
      "type": "object",
      "description": "On-premise IoT sensor properties",
      "properties": {}
    }
  },
  "parameters": {
    "OnPremiseIotSensorName": {
      "name": "onPremiseIotSensorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the on-premise IoT sensor",
      "x-ms-parameter-location": "method"
    }
  }
}
