{
  "swagger": "2.0",
  "info": {
    "title": "DeviceUpdate",
    "description": "Microsoft Device Update resource provider.",
    "version": "2023-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/checknameavailability": {
      "post": {
        "description": "Checks ADU resource name availability.",
        "operationId": "CheckNameAvailability",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest"
            },
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Check Name Availability Request."
          }
        ],
        "responses": {
          "200": {
            "description": "Check Name Availability Response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckNameAvailability_Available": {
            "$ref": "./examples/CheckNameAvailability_Available.json"
          },
          "CheckNameAvailability_AlreadyExists": {
            "$ref": "./examples/CheckNameAvailability_AlreadyExists.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/accounts": {
      "get": {
        "description": "Returns list of Accounts.",
        "operationId": "Accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Accounts.",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get list of Accounts": {
            "$ref": "./examples/Accounts/Accounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts": {
      "get": {
        "description": "Returns list of Accounts.",
        "operationId": "Accounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Accounts.",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets list of Accounts": {
            "$ref": "./examples/Accounts/Accounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}": {
      "get": {
        "description": "Returns account details for the given account name.",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Account details": {
            "$ref": "./examples/Accounts/Accounts_Get.json"
          }
        }
      },
      "head": {
        "description": "Checks whether account exists.",
        "operationId": "Accounts_Head",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account exists."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Checks whether account exists": {
            "$ref": "./examples/Accounts/Accounts_Head.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates Account.",
        "operationId": "Accounts_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "Account",
            "description": "Account details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Async operation to create or update Account was created.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "Async operation to create or update Account was created.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Account": {
            "$ref": "./examples/Accounts/Accounts_Create.json"
          }
        }
      },
      "delete": {
        "description": "Deletes account.",
        "operationId": "Accounts_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account was deleted."
          },
          "202": {
            "description": "Async operation to delete Account was created.",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Account has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an account": {
            "$ref": "./examples/Accounts/Accounts_Delete.json"
          }
        }
      },
      "patch": {
        "description": "Updates account's patchable properties",
        "operationId": "Accounts_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "accountUpdatePayload",
            "description": "Updated Account.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account updated successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "Async operation to update accounts was created.",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "202": {
            "description": "Async operation to update accounts was created.",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Updates Account": {
            "$ref": "./examples/Accounts/Accounts_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/agents": {
      "get": {
        "description": "Returns agents for the given account name.",
        "operationId": "Agents_ListByAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Agents.",
            "schema": {
              "$ref": "#/definitions/AgentList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets list of Agents by Account": {
            "$ref": "./examples/Agents/Agents_ListByAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/agents/{agentName}": {
      "get": {
        "description": "Returns agent details.",
        "operationId": "AgentDetails_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for an agent": {
            "$ref": "./examples/Agents/Agents_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates an Agent.",
        "operationId": "Agents_Create",
        "x-ms-long-running-operation": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "agent",
            "description": "Agent details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "201": {
            "description": "Agent was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Agent": {
            "$ref": "./examples/Agents/Agents_Create.json"
          }
        }
      },
      "delete": {
        "description": "Delete Agent.",
        "operationId": "Agents_Delete",
        "x-ms-long-running-operation": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent was deleted."
          },
          "204": {
            "description": "Agent has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Agent": {
            "$ref": "./examples/Agents/Agents_Delete.json"
          }
        }
      },
      "patch": {
        "description": "Updates Agent.",
        "operationId": "Agents_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagUpdatePayload",
            "description": "Updated tags.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent updated successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Agent": {
            "$ref": "./examples/Agents/Agents_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all private endpoint connections in a device update account.",
        "operationId": "PrivateEndpointConnections_ListByAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionList": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnection_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Get the specified private endpoint connection associated with the device update account.",
        "operationId": "PrivateEndpointConnections_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionGet": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnection_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the device update account.",
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection.",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The create or update request was successful; the operation will complete asynchronously.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "The create or update request was successful; the operation will complete asynchronously.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionCreateOrUpdate": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnection_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the device update account.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the operation completed synchronously."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The private endpoint connection does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionDelete": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnection_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "List all private link resources in a device update account.",
        "operationId": "PrivateLinkResources_ListByAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourcesList": {
            "$ref": "./examples/PrivateLinkResources/PrivateLinkResources_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateLinkResources/{groupId}": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Get the specified private link resource associated with the device update account.",
        "operationId": "PrivateLinkResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The name of the private link resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][-a-z0-9]*(?<!-)$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourcesGet": {
            "$ref": "./examples/PrivateLinkResources/PrivateLinkResources_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.DeviceUpdate/operations": {
      "get": {
        "description": "Returns list of operations for Microsoft.DeviceUpdate resource provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets list of Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Account": {
      "description": "Device Update account details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Device Update account properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state.",
              "type": "string",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating"
              ],
              "readOnly": true,
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              }
            },
            "hostName": {
              "description": "API host name.",
              "type": "string",
              "readOnly": true
            },
            "publicNetworkAccess": {
              "description": "Whether or not public network access is allowed for the account.",
              "default": "Enabled",
              "enum": [
                "Enabled",
                "Disabled"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "PublicNetworkAccess",
                "modelAsString": true
              }
            },
            "privateEndpointConnections": {
              "description": "List of private endpoint connections associated with the account.",
              "type": "array",
              "x-ms-identifiers": [],
              "items": {
                "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
              }
            },
            "sku": {
              "description": "Device Update Sku",
              "type": "string",
              "enum": [
                "Free",
                "Standard"
              ],
              "default": "Standard",
              "readOnly": false,
              "x-ms-enum": {
                "name": "SKU",
                "modelAsString": true
              }
            },
            "encryption": {
              "$ref": "#/definitions/Encryption",
              "description": "CMK encryption at rest properties"
            },
            "locations": {
              "description": "Device Update account primary and failover location details",
              "readOnly": true,
              "x-ms-identifiers": [],
              "type": "array",
              "items": {
                "$ref": "#/definitions/Location"
              }
            },
            "mqttBrokerEndpoints": {
              "description": "MQTT Broker endpoints used for device communication.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deviceEnrollmentScope": {
              "description": "Subscription or resource group used for device enrollment.",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "enrollmentManagedIdentityId": {
              "description": "User assigned managed identity used for device enrollment.",
              "type": "string"
            }
          }
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The type of identity used for the resource."
        }
      },
      "required": [
        "properties"
      ]
    },
    "ProtocolId": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The protocol Id name",
          "type": "string"
        },
        "version": {
          "description": "The protocol Id version",
          "type": "integer",
          "format": "int64"
        }
      },
      "description": "The protocol identifier representing the version of the device update protocol the agent supports."
    },
    "AgentInfo": {
      "type": "object",
      "properties": {
        "protocolId": {
          "description": "The protocol identifier representing the version of the device update protocol the agent supports",
          "$ref": "#/definitions/ProtocolId"
        },
        "compatibilityProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The compat properties of the agent. This object can be thought of as a set of key-value pairs where the key is the name of the compatibility property and the value is the value of the compatibility property. There will always be at least 1 compat property and no more than 5"
        },
        "version": {
          "description": "The version of the agent info used to distinguish whether the agent info needs to be updated from the agent",
          "type": "string"
        }
      },
      "description": "The agent info for the agent that indicates what updates it is compatible with."
    },
    "UpdateId": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Update provider."
        },
        "name": {
          "type": "string",
          "description": "Update name."
        },
        "version": {
          "type": "string",
          "description": "Update version."
        }
      },
      "required": [
        "provider",
        "name",
        "version"
      ],
      "description": "Update identifier."
    },
    "DeploymentAction": {
      "type": "string",
      "enum": [
        "ApplyDeployment"
      ],
      "x-ms-enum": {
        "name": "DeploymentAction",
        "modelAsString": true,
        "values": [
          {
            "value": "ApplyDeployment",
            "name": "ApplyDeployment",
            "description": "Apply the deployment to the agent"
          }
        ]
      },
      "description": "The deployment action the agent take"
    },
    "DeploymentWorkflow": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Deployment identifier."
        },
        "action": {
          "$ref": "#/definitions/DeploymentAction",
          "description": "Deployment action."
        },
        "retryTimestamp": {
          "type": "string",
          "description": "Datetime when the call requested the deployment be retried."
        }
      },
      "required": [
        "id",
        "action"
      ],
      "description": "Deployment workflow metadata."
    },
    "StepResult": {
      "type": "object",
      "properties": {
        "update": {
          "$ref": "#/definitions/UpdateId",
          "description": "The update that this step installs if it is of reference type."
        },
        "description": {
          "type": "string",
          "description": "Step description."
        },
        "resultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install result code."
        },
        "extendedResultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install extended result code"
        },
        "resultDetails": {
          "type": "string",
          "description": "A string containing further details about the install result"
        }
      },
      "required": [
        "resultCode",
        "extendedResultCode"
      ],
      "description": "The step result under an update."
    },
    "InstallResult": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install result code."
        },
        "extendedResultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install extended result code"
        },
        "resultDetails": {
          "type": "string",
          "description": "A string containing further details about the install result"
        },
        "stepResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StepResult",
            "description": "Step results"
          },
          "x-ms-identifiers": [],
          "description": "Array of step results"
        }
      },
      "required": [
        "resultCode",
        "extendedResultCode"
      ],
      "description": "The install result of an update and any step results under it."
    },
    "DeviceDeploymentState": {
      "type": "string",
      "enum": [
        "Succeeded",
        "InProgress",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "DeviceDeploymentState",
        "modelAsString": true,
        "values": [
          {
            "value": "Succeeded",
            "name": "Succeeded",
            "description": "Deployment has completed with success."
          },
          {
            "value": "InProgress",
            "name": "InProgress",
            "description": "Deployment is in progress."
          },
          {
            "value": "Canceled",
            "name": "Canceled",
            "description": "Deployment was canceled."
          },
          {
            "value": "Failed",
            "name": "Failed",
            "description": "Deployment has completed with failure."
          }
        ]
      },
      "description": "Deployment state."
    },
    "DeploymentInfo": {
      "type": "object",
      "properties": {
        "workflow": {
          "description": "The deployment workflow metadata",
          "$ref": "#/definitions/DeploymentWorkflow"
        },
        "update": {
          "description": "The update for the deployment",
          "$ref": "#/definitions/UpdateId"
        },
        "state": {
          "description": "The state the agent is in this deployment",
          "$ref": "#/definitions/DeviceDeploymentState"
        },
        "installResult": {
          "description": "The deployment install result",
          "$ref": "#/definitions/InstallResult"
        }
      },
      "description": "The agent metadata for a deployment."
    },
    "Agent": {
      "description": "Device Update Agent details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Device Update Agent properties.",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state.",
              "type": "string",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating"
              ],
              "readOnly": false,
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              }
            },
            "agentId": {
              "description": "This is the external device Id of the Microsoft.Devices/Device resource referenced by this agent",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "deviceClassId": {
              "description": "This is the ID of the device class of this agent",
              "type": "string"
            },
            "deviceResourceId": {
              "description": "This is the resource Id of the Microsoft.Devices/Device resource referenced by this agent",
              "type": "string"
            },
            "activeMqttBrokerEndpoint": {
              "description": "This is the active MQTT broker endpoint for this agent",
              "type": "string"
            },
            "agentInfo": {
              "description": "This is the compatibility info for the agent that indicates what version of the device update protocol it supports and its compat properties.",
              "$ref": "#/definitions/AgentInfo"
            },
            "latestDeploymentInfo": {
              "description": "This is the metadata about the latest deployment the agent has attempted",
              "$ref": "#/definitions/DeploymentInfo"
            },
            "installedUpdateId": {
              "description": "The current installed update Id on this agent",
              "$ref": "#/definitions/UpdateId"
            }
          }
        }
      },
      "required": [
        "properties"
      ]
    },
    "Encryption": {
      "type": "object",
      "properties": {
        "keyVaultKeyUri": {
          "description": "The URI of the key vault",
          "type": "string"
        },
        "userAssignedIdentity": {
          "description": "The full resourceId of the user assigned identity to be used for key vault access. Identity has to be also assigned to the Account",
          "type": "string"
        }
      },
      "description": "The CMK encryption settings on the Device Update account."
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "description": "Whether the location is primary or failover",
          "default": "Primary",
          "enum": [
            "Primary",
            "Failover"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Role",
            "modelAsString": true
          }
        }
      },
      "description": "Account primary and failover locations",
      "additionalProperties": false
    },
    "AccountList": {
      "description": "List of Accounts.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Accounts list.",
          "type": "string"
        },
        "value": {
          "description": "List of Accounts.",
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "AgentList": {
      "description": "List of Agents.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Agents list.",
          "type": "string"
        },
        "value": {
          "description": "List of Agents.",
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/Agent"
          }
        }
      }
    },
    "PrivateLinkResourceListResult": {
      "description": "The available private link resources for an Account",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of available private link resources for an Account",
          "type": "array",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next list of private link resources.",
          "type": "string"
        }
      }
    },
    "AccountUpdate": {
      "description": "Request payload used to update and existing Accounts.",
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The type of identity used for the resource."
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TagUpdate"
        }
      ]
    },
    "TagUpdate": {
      "description": "Request payload used to update an existing resource's tags.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "description": "List of key value pairs that describe the resource. This will overwrite the existing tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Account name.",
      "x-ms-parameter-location": "method",
      "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$",
      "minLength": 3,
      "maxLength": 24
    },
    "AgentNameParameter": {
      "name": "agentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Agent Id.",
      "x-ms-parameter-location": "method",
      "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$",
      "minLength": 1,
      "maxLength": 1016
    }
  }
}
