{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceHealth",
    "version": "2025-05-01",
    "description": "The Resource Health Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AvailabilityStatuses"
    },
    {
      "name": "ChildAvailabilityStatuses"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "EventImpactedResources"
    },
    {
      "name": "Event"
    },
    {
      "name": "Events"
    },
    {
      "name": "SecurityAdvisoryImpactedResources"
    },
    {
      "name": "EmergingIssues"
    },
    {
      "name": "ChildResources"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses": {
      "get": {
        "operationId": "AvailabilityStatuses_List",
        "tags": [
          "AvailabilityStatuses"
        ],
        "description": "Lists all historical availability transitions and impacting events for a single resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceUri",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/availabilityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetHealthHistoryByResource": {
            "$ref": "./examples/AvailabilityStatuses_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses/current": {
      "get": {
        "operationId": "AvailabilityStatuses_GetByResource",
        "tags": [
          "AvailabilityStatuses"
        ],
        "description": "Gets current availability status for a single resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceUri",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/availabilityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetCurrentHealthByResource": {
            "$ref": "./examples/AvailabilityStatus_GetByResource.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ResourceHealth/childAvailabilityStatuses": {
      "get": {
        "operationId": "ChildAvailabilityStatuses_List",
        "tags": [
          "ChildAvailabilityStatuses"
        ],
        "description": "Lists the historical availability statuses for a single child resource. Use the nextLink property in the response to get the next page of availability status",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceUri",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/availabilityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetChildHealthHistoryByResource": {
            "$ref": "./examples/ChildAvailabilityStatuses_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ResourceHealth/childAvailabilityStatuses/current": {
      "get": {
        "operationId": "ChildAvailabilityStatuses_GetByResource",
        "tags": [
          "ChildAvailabilityStatuses"
        ],
        "description": "Gets current availability status for a single resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceUri",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/availabilityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetChildCurrentHealthByResource": {
            "$ref": "./examples/ChildAvailabilityStatus_GetByResource.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ResourceHealth/childResources": {
      "get": {
        "operationId": "ChildResources_List",
        "tags": [
          "ChildResources"
        ],
        "description": "Lists the all the children and its current health status for a parent resource. Use the nextLink property in the response to get the next page of children current health",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/availabilityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetCurrentChildHealthByResource": {
            "$ref": "./examples/ChildResources_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ResourceHealth/events": {
      "get": {
        "operationId": "Events_ListBySingleResource",
        "tags": [
          "Events"
        ],
        "description": "Lists current service health events for given resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListEventsBySingleResource": {
            "$ref": "./examples/Events_ListBySingleResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/emergingIssues": {
      "get": {
        "operationId": "EmergingIssues_List",
        "tags": [
          "EmergingIssues"
        ],
        "description": "Lists Azure services' emerging issues.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/emergingIssueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetEmergingIssues": {
            "$ref": "./examples/EmergingIssues_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/emergingIssues/{issueName}": {
      "get": {
        "operationId": "EmergingIssues_Get",
        "tags": [
          "EmergingIssues"
        ],
        "description": "Gets Azure services' emerging issues.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the emerging issue.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "IssueNameParameter",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/emergingIssuesGetResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetEmergingIssues": {
            "$ref": "./examples/EmergingIssues_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/events": {
      "get": {
        "operationId": "Events_ListByTenantId",
        "tags": [
          "Events"
        ],
        "description": "Lists current service health events in the tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "queryStartTime",
            "in": "query",
            "description": "Specifies from when to return events (default is 3 days), based on the lastUpdateTime property. For example, queryStartTime = 7/24/2020 OR queryStartTime=7%2F24%2F2020",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListEventsByTenantId": {
            "$ref": "./examples/Events_ListByTenantId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/events/{eventTrackingId}": {
      "get": {
        "operationId": "Event_GetByTenantIdAndTrackingId",
        "tags": [
          "Event"
        ],
        "description": "Service health event in the tenant by event tracking id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "queryStartTime",
            "in": "query",
            "description": "Specifies from when to return events (default is 3 days), based on the lastUpdateTime property. For example, queryStartTime = 7/24/2020 OR queryStartTime=7%2F24%2F2020",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/event"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EventByTenantIdAndTrackingId": {
            "$ref": "./examples/Event_GetByTenantIdAndTrackingId.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/fetchEventDetails": {
      "post": {
        "operationId": "Event_fetchDetailsByTenantIdAndTrackingId",
        "tags": [
          "Event"
        ],
        "description": "Service health event details in the tenant by event tracking id. This can be used to fetch sensitive properties for Security Advisory events. Please see https://learn.microsoft.com/en-us/azure/service-health/security-advisories-elevated-access",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/event"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EventDetailsByTenantIdAndTrackingId": {
            "$ref": "./examples/Event_fetchDetailsByTenantIdAndTrackingId.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources": {
      "get": {
        "operationId": "ImpactedResources_ListByTenantIdAndEventId",
        "tags": [
          "EventImpactedResources"
        ],
        "description": "Lists impacted resources in the tenant by an event.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/eventImpactedResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListEventsByTenantId": {
            "$ref": "./examples/ImpactedResources_ListByTenantId_ListByEventId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources/{impactedResourceName}": {
      "get": {
        "operationId": "ImpactedResources_GetByTenantId",
        "tags": [
          "EventImpactedResources"
        ],
        "description": "Gets the specific impacted resource in the tenant by an event.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "impactedResourceName",
            "in": "path",
            "description": "Name of the Impacted Resource.",
            "required": true,
            "type": "string",
            "pattern": "^[^*#&+:<>%?]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/eventImpactedResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImpactedResourcesGet": {
            "$ref": "./examples/ImpactedResources_GetByTenantId.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/listSecurityAdvisoryImpactedResources": {
      "post": {
        "operationId": "SecurityAdvisoryImpactedResources_ListByTenantIdAndEventId",
        "tags": [
          "SecurityAdvisoryImpactedResources"
        ],
        "description": "Lists impacted resources in the tenant by an event (Security Advisory).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/eventImpactedResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListSecurityAdvisoryImpactedResourcesByTenantId": {
            "$ref": "./examples/SecurityAdvisoryImpactedResources_ListByTenantId_ListByEventId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/metadata": {
      "get": {
        "operationId": "Metadata_List",
        "tags": [
          "Metadata"
        ],
        "description": "Gets the list of metadata entities.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MetadataEntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetMetadata": {
            "$ref": "./examples/Metadata_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/metadata/{name}": {
      "get": {
        "operationId": "Metadata_GetEntity",
        "tags": [
          "Metadata"
        ],
        "description": "Gets the list of metadata entities.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of metadata entity.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetadataEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetMetadata": {
            "$ref": "./examples/Metadata_GetEntity.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists available operations for the resourcehealth resource provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/operationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/availabilityStatuses": {
      "get": {
        "operationId": "AvailabilityStatuses_ListBySubscriptionId",
        "tags": [
          "AvailabilityStatuses"
        ],
        "description": "Lists the current availability status for all the resources in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/availabilityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListHealthBySubscriptionId": {
            "$ref": "./examples/AvailabilityStatuses_ListBySubscriptionId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events": {
      "get": {
        "operationId": "Events_ListBySubscriptionId",
        "tags": [
          "Events"
        ],
        "description": "Lists service health events in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "queryStartTime",
            "in": "query",
            "description": "Specifies from when to return events (default is 3 days), based on the lastUpdateTime property. For example, queryStartTime = 7/24/2020 OR queryStartTime=7%2F24%2F2020",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListEventsBySubscriptionId": {
            "$ref": "./examples/Events_ListBySubscriptionId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}": {
      "get": {
        "operationId": "Event_GetBySubscriptionIdAndTrackingId",
        "tags": [
          "Event"
        ],
        "description": "Service health event in the subscription by event tracking id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "queryStartTime",
            "in": "query",
            "description": "Specifies from when to return events (default is 3 days), based on the lastUpdateTime property. For example, queryStartTime = 7/24/2020 OR queryStartTime=7%2F24%2F2020",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/event"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityAdvisoriesEventBySubscriptionIdAndTrackingId": {
            "$ref": "./examples/Event_GetBySubscriptionIdAndTrackingId.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/fetchBillingCommunicationDetails": {
      "post": {
        "operationId": "Event_fetchBilllingCommunicationDetailsBySubscriptionIdAndTrackingId",
        "tags": [
          "Event"
        ],
        "description": "Service health event details specific in the subscription by event tracking id. This can be used to fetch sensitive properties for Billing event type.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/event"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingEventDetailsBySubscriptionIdAndTrackingId": {
            "$ref": "./examples/Event_fetchBillingCommunicationDetailsBySubscriptionIdAndTrackingId.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/fetchEventDetails": {
      "post": {
        "operationId": "Event_fetchDetailsBySubscriptionIdAndTrackingId",
        "tags": [
          "Event"
        ],
        "description": "Service health event details in the subscription by event tracking id. This can be used to fetch sensitive properties for Security Advisory events. Please see https://learn.microsoft.com/en-us/azure/service-health/security-advisories-elevated-access",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/event"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EventDetailsBySubscriptionIdAndTrackingId": {
            "$ref": "./examples/Event_fetchDetailsBySubscriptionIdAndTrackingId.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources": {
      "get": {
        "operationId": "ImpactedResources_ListBySubscriptionIdAndEventId",
        "tags": [
          "EventImpactedResources"
        ],
        "description": "Lists impacted resources in the subscription by an event.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/eventImpactedResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListImpactedResourcesBySubscriptionId": {
            "$ref": "./examples/ImpactedResources_ListBySubscriptionId_ListByEventId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources/{impactedResourceName}": {
      "get": {
        "operationId": "ImpactedResources_Get",
        "tags": [
          "EventImpactedResources"
        ],
        "description": "Gets the specific impacted resource in the subscription by an event.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "impactedResourceName",
            "in": "path",
            "description": "Name of the Impacted Resource.",
            "required": true,
            "type": "string",
            "pattern": "^[^*#&+:<>%?]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/eventImpactedResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImpactedResourcesGet": {
            "$ref": "./examples/ImpactedResources_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/listSecurityAdvisoryImpactedResources": {
      "post": {
        "operationId": "SecurityAdvisoryImpactedResources_ListBySubscriptionIdAndEventId",
        "tags": [
          "SecurityAdvisoryImpactedResources"
        ],
        "description": "Lists impacted resources in the subscription by an event (Security Advisory).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "eventTrackingId",
            "in": "path",
            "description": "Event Id which uniquely identifies ServiceHealth event.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/eventImpactedResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListSecurityAdvisoryImpactedResourcesBySubscriptionId": {
            "$ref": "./examples/SecurityAdvisoryImpactedResources_ListBySubscriptionId_ListByEventId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceHealth/availabilityStatuses": {
      "get": {
        "operationId": "AvailabilityStatuses_ListByResourceGroup",
        "tags": [
          "AvailabilityStatuses"
        ],
        "description": "Lists the current availability status for all the resources in the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Setting $expand=recommendedactions in url query expands the recommendedactions in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/availabilityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup": {
            "$ref": "./examples/AvailabilityStatuses_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AvailabilityStateValues": {
      "type": "string",
      "description": "Impacted resource status of the resource.",
      "enum": [
        "Available",
        "Unavailable",
        "Degraded",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "AvailabilityStateValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Available",
            "value": "Available",
            "description": "Available"
          },
          {
            "name": "Unavailable",
            "value": "Unavailable",
            "description": "Unavailable"
          },
          {
            "name": "Degraded",
            "value": "Degraded",
            "description": "Degraded"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown"
          }
        ]
      }
    },
    "AvailabilityStatusProperties": {
      "type": "object",
      "description": "Properties of availability state.",
      "properties": {
        "availabilityState": {
          "$ref": "#/definitions/AvailabilityStateValues",
          "description": "Availability status of the resource. When it is null, this availabilityStatus object represents an availability impacting event"
        },
        "title": {
          "type": "string",
          "description": "Title description of the availability status."
        },
        "summary": {
          "type": "string",
          "description": "Summary description of the availability status."
        },
        "detailedStatus": {
          "type": "string",
          "description": "Details of the availability status."
        },
        "reasonType": {
          "type": "string",
          "description": "When the resource's availabilityState is Unavailable, it describes where the health impacting event was originated. Examples are planned, unplanned, user initiated or an outage etc."
        },
        "context": {
          "type": "string",
          "description": "When an event is created, it can either be triggered by a customer or the platform of the resource and this field will illustrate that. This field is connected to the category field in this object."
        },
        "category": {
          "type": "string",
          "description": "When a context field is set to Platform, this field will reflect if the event was planned or unplanned. If the context field does not have a value of Platform, then this field will be ignored."
        },
        "articleId": {
          "type": "string",
          "description": "The Article Id"
        },
        "rootCauseAttributionTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the resource's availabilityState is Unavailable, it provides the Timestamp for when the health impacting event was received."
        },
        "healthEventType": {
          "type": "string",
          "description": "In case of an availability impacting event, it describes when the health impacting event was originated. Examples are Lifecycle, Downtime, Fault Analysis etc."
        },
        "healthEventCause": {
          "type": "string",
          "description": "In case of an availability impacting event, it describes where the health impacting event was originated. Examples are PlatformInitiated, UserInitiated etc."
        },
        "healthEventCategory": {
          "type": "string",
          "description": "In case of an availability impacting event, it describes the category of a PlatformInitiated health impacting event. Examples are Planned, Unplanned etc."
        },
        "healthEventId": {
          "type": "string",
          "description": "It is a unique Id that identifies the event"
        },
        "resolutionETA": {
          "type": "string",
          "format": "date-time",
          "description": "When the resource's availabilityState is Unavailable and the reasonType is not User Initiated, it provides the date and time for when the issue is expected to be resolved."
        },
        "occuredTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when last change in health status occurred."
        },
        "reasonChronicity": {
          "$ref": "#/definitions/reasonChronicityTypes",
          "description": "Chronicity of the availability transition."
        },
        "reportedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when the health was last checked."
        },
        "recentlyResolved": {
          "$ref": "#/definitions/AvailabilityStatusPropertiesRecentlyResolved",
          "description": "An annotation describing a change in the availabilityState to Available from Unavailable with a reasonType of type Unplanned"
        },
        "recommendedActions": {
          "type": "array",
          "description": "Lists actions the user can take based on the current availabilityState of the resource.",
          "items": {
            "$ref": "#/definitions/recommendedAction"
          },
          "x-ms-identifiers": [
            "action"
          ]
        },
        "serviceImpactingEvents": {
          "type": "array",
          "description": "Lists the service impacting events that may be affecting the health of the resource.",
          "items": {
            "$ref": "#/definitions/serviceImpactingEvent"
          },
          "x-ms-identifiers": [
            "correlationId"
          ]
        }
      }
    },
    "AvailabilityStatusPropertiesRecentlyResolved": {
      "type": "object",
      "description": "An annotation describing a change in the availabilityState to Available from Unavailable with a reasonType of type Unplanned",
      "properties": {
        "unavailableOccuredTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when the availabilityState changed to Unavailable"
        },
        "resolvedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when the availabilityState changes to Available."
        },
        "unavailableSummary": {
          "type": "string",
          "description": "Brief description of cause of the resource becoming unavailable."
        }
      }
    },
    "Azure.Core.armResourceType": {
      "type": "string",
      "description": "Represents an Azure Resource Type."
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error details.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "details": {
          "type": "string",
          "description": "The error details.",
          "readOnly": true
        }
      }
    },
    "EventImpactedResourceProperties": {
      "type": "object",
      "description": "Properties of impacted resource.",
      "properties": {
        "targetResourceType": {
          "type": "string",
          "description": "Resource type within Microsoft cloud.",
          "readOnly": true
        },
        "targetResourceId": {
          "type": "string",
          "description": "Identity for resource within Microsoft cloud.",
          "readOnly": true
        },
        "targetRegion": {
          "type": "string",
          "description": "Impacted resource region name.",
          "readOnly": true
        },
        "info": {
          "type": "array",
          "description": "Additional information.",
          "items": {
            "$ref": "#/definitions/keyValueItem"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "EventLevelValues": {
      "type": "string",
      "description": "Level of event.",
      "enum": [
        "Critical",
        "Error",
        "Warning",
        "Informational"
      ],
      "x-ms-enum": {
        "name": "EventLevelValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Error"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          },
          {
            "name": "Informational",
            "value": "Informational",
            "description": "Informational"
          }
        ]
      }
    },
    "EventProperties": {
      "type": "object",
      "description": "Properties of event.",
      "properties": {
        "eventType": {
          "$ref": "#/definitions/EventTypeValues",
          "description": "Type of event."
        },
        "eventSubType": {
          "$ref": "#/definitions/EventSubTypeValues",
          "description": "Sub-type of event."
        },
        "eventSource": {
          "$ref": "#/definitions/EventSourceValues",
          "description": "Source of event."
        },
        "status": {
          "$ref": "#/definitions/EventStatusValues",
          "description": "Current status of event."
        },
        "title": {
          "type": "string",
          "description": "Title text of event."
        },
        "summary": {
          "type": "string",
          "description": "Summary text of event. Use fetchEventDetails endpoint to get summary of sensitive events."
        },
        "header": {
          "type": "string",
          "description": "Header text of event."
        },
        "level": {
          "$ref": "#/definitions/LevelValues",
          "description": "Level of insight."
        },
        "eventLevel": {
          "$ref": "#/definitions/EventLevelValues",
          "description": "Level of event."
        },
        "isEventSensitive": {
          "type": "boolean",
          "description": "If true the event may contains sensitive data. Use the post events/{trackingId}/fetchEventDetails endpoint to fetch sensitive data see https://learn.microsoft.com/en-us/azure/service-health/security-advisories-elevated-access"
        },
        "externalIncidentId": {
          "type": "string",
          "description": "The id of the Incident"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the Incident"
        },
        "article": {
          "$ref": "#/definitions/EventPropertiesArticle",
          "description": "Article of event."
        },
        "links": {
          "type": "array",
          "description": "Useful links of event.",
          "items": {
            "$ref": "#/definitions/link"
          },
          "x-ms-identifiers": []
        },
        "impactStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the health impacting event started."
        },
        "impactMitigationTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the health impacting event resolved."
        },
        "impact": {
          "type": "array",
          "description": "List services impacted by the service health event.",
          "items": {
            "$ref": "#/definitions/impact"
          },
          "x-ms-identifiers": []
        },
        "recommendedActions": {
          "$ref": "#/definitions/EventPropertiesRecommendedActions",
          "description": "Recommended actions of event."
        },
        "faqs": {
          "type": "array",
          "description": "Frequently asked questions for the service health event.",
          "items": {
            "$ref": "#/definitions/faq"
          },
          "x-ms-identifiers": []
        },
        "isHIR": {
          "type": "boolean",
          "description": "It provides information if the event is High incident rate event or not."
        },
        "enableMicrosoftSupport": {
          "type": "boolean",
          "description": "Tells if we want to enable or disable Microsoft Support for this event."
        },
        "description": {
          "type": "string",
          "description": "Contains the communication message for the event, that could include summary, root cause and other details. Use fetchEventDetails endpoint to get description of sensitive events."
        },
        "platformInitiated": {
          "type": "boolean",
          "description": "Is true if the event is platform initiated."
        },
        "enableChatWithUs": {
          "type": "boolean",
          "description": "Tells if we want to enable or disable Microsoft Support for this event."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority level of the event. Has value from 0 to 23. 0 is the highest priority. Service issue events have higher priority followed by planned maintenance and health advisory. Critical events have higher priority followed by error, warning and informational. Furthermore, active events have higher priority than resolved."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the health impacting event was last updated."
        },
        "hirStage": {
          "type": "string",
          "description": "Stage for HIR Document"
        },
        "additionalInformation": {
          "$ref": "#/definitions/EventPropertiesAdditionalInformation",
          "description": "Additional information"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "duration in seconds"
        },
        "impactType": {
          "type": "string",
          "description": "The type of the impact"
        },
        "eventTags": {
          "type": "array",
          "description": "A list of metadata tags associated with the event. Possible values include:\n-Action Recommended: Action may be required by you to avoid possible disruptions or mitigate risks for your services. It is recommended to evaluate these actions and the potential impact on your services.\n- False Positive: After investigation, we've determined your service is healthy and service issues did not impact your services as originally communicated.\n- Preliminary PIR: For our largest, most impactful service issues a Preliminary Post Incident Review (PIR) is published generally within 72 hours of mitigation, to summarize what we have learned so far from the still-in-progress investigation.\n- Final PIR: For service issues, a Final Post Incident Review (PIR) may be published to provide additional details or learnings. Sometimes this requires us to complete an internal retrospective, generally within 14 days of mitigation.",
          "items": {
            "type": "string"
          }
        },
        "newRate": {
          "type": "number",
          "format": "double",
          "description": "Billing rate change information - new rate"
        },
        "oldRate": {
          "type": "number",
          "format": "double",
          "description": "Billing rate change information - old rate"
        },
        "currencyType": {
          "type": "string",
          "description": "Billing currency type information. Example: USD, CAD"
        },
        "billingId": {
          "type": "string",
          "description": "Billing identifier information."
        }
      }
    },
    "EventPropertiesAdditionalInformation": {
      "type": "object",
      "description": "Additional information",
      "properties": {
        "message": {
          "type": "string",
          "description": "Additional information Message"
        }
      }
    },
    "EventPropertiesArticle": {
      "type": "object",
      "description": "Article of event.",
      "properties": {
        "articleContent": {
          "type": "string",
          "description": "Article content of event."
        },
        "articleId": {
          "type": "string",
          "description": "Article Id"
        },
        "parameters": {
          "description": "It provides a map of parameter name and value"
        }
      }
    },
    "EventPropertiesRecommendedActions": {
      "type": "object",
      "description": "Recommended actions of event.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Recommended action title for the service health event."
        },
        "actions": {
          "type": "array",
          "description": "Recommended actions for the service health event.",
          "items": {
            "$ref": "#/definitions/EventPropertiesRecommendedActionsActionsItem"
          },
          "x-ms-identifiers": []
        },
        "localeCode": {
          "type": "string",
          "description": "Recommended action locale for the service health event."
        }
      }
    },
    "EventPropertiesRecommendedActionsActionsItem": {
      "type": "object",
      "description": "Recommended action for the service health event.",
      "properties": {
        "groupId": {
          "type": "integer",
          "format": "int32",
          "description": "Recommended action group Id for the service health event."
        },
        "actionText": {
          "type": "string",
          "description": "Recommended action text"
        }
      }
    },
    "EventSourceValues": {
      "type": "string",
      "description": "Source of event.",
      "enum": [
        "ResourceHealth",
        "ServiceHealth"
      ],
      "x-ms-enum": {
        "name": "EventSourceValues",
        "modelAsString": true,
        "values": [
          {
            "name": "ResourceHealth",
            "value": "ResourceHealth",
            "description": "ResourceHealth"
          },
          {
            "name": "ServiceHealth",
            "value": "ServiceHealth",
            "description": "ServiceHealth"
          }
        ]
      }
    },
    "EventStatusValues": {
      "type": "string",
      "description": "Current status of event.",
      "enum": [
        "Active",
        "Resolved"
      ],
      "x-ms-enum": {
        "name": "EventStatusValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active"
          },
          {
            "name": "Resolved",
            "value": "Resolved",
            "description": "Resolved"
          }
        ]
      }
    },
    "EventSubTypeValues": {
      "type": "string",
      "description": "Sub-type of event.",
      "enum": [
        "Retirement",
        "ForeignExchangeRateChange",
        "Underbilling",
        "Overbilling",
        "PriceChanges",
        "TaxChanges",
        "MeterIDChanges",
        "UnauthorizedPartyAbuse"
      ],
      "x-ms-enum": {
        "name": "EventSubTypeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Retirement",
            "value": "Retirement",
            "description": "Retirement"
          },
          {
            "name": "ForeignExchangeRateChange",
            "value": "ForeignExchangeRateChange",
            "description": "ForeignExchangeRateChange"
          },
          {
            "name": "Underbilling",
            "value": "Underbilling",
            "description": "Underbilling"
          },
          {
            "name": "Overbilling",
            "value": "Overbilling",
            "description": "Overbilling"
          },
          {
            "name": "PriceChanges",
            "value": "PriceChanges",
            "description": "PriceChanges"
          },
          {
            "name": "TaxChanges",
            "value": "TaxChanges",
            "description": "TaxChanges"
          },
          {
            "name": "MeterIDChanges",
            "value": "MeterIDChanges",
            "description": "MeterIDChanges"
          },
          {
            "name": "UnauthorizedPartyAbuse",
            "value": "UnauthorizedPartyAbuse",
            "description": "UnauthorizedPartyAbuse"
          }
        ]
      }
    },
    "EventTypeValues": {
      "type": "string",
      "description": "Type of event.",
      "enum": [
        "ServiceIssue",
        "PlannedMaintenance",
        "HealthAdvisory",
        "RCA",
        "EmergingIssues",
        "SecurityAdvisory",
        "Billing"
      ],
      "x-ms-enum": {
        "name": "EventTypeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "ServiceIssue",
            "value": "ServiceIssue",
            "description": "ServiceIssue"
          },
          {
            "name": "PlannedMaintenance",
            "value": "PlannedMaintenance",
            "description": "PlannedMaintenance"
          },
          {
            "name": "HealthAdvisory",
            "value": "HealthAdvisory",
            "description": "HealthAdvisory"
          },
          {
            "name": "RCA",
            "value": "RCA",
            "description": "RCA"
          },
          {
            "name": "EmergingIssues",
            "value": "EmergingIssues",
            "description": "EmergingIssues"
          },
          {
            "name": "SecurityAdvisory",
            "value": "SecurityAdvisory",
            "description": "SecurityAdvisory"
          },
          {
            "name": "Billing",
            "value": "Billing",
            "description": "Billing"
          }
        ]
      }
    },
    "LevelValues": {
      "type": "string",
      "description": "Level of insight.",
      "enum": [
        "Critical",
        "Warning"
      ],
      "x-ms-enum": {
        "name": "LevelValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          }
        ]
      }
    },
    "LinkDisplayText": {
      "type": "object",
      "description": "Display text of link.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Display text of link."
        },
        "localizedValue": {
          "type": "string",
          "description": "Localized display text of link."
        }
      }
    },
    "LinkTypeValues": {
      "type": "string",
      "description": "Type of link.",
      "enum": [
        "Button",
        "Hyperlink"
      ],
      "x-ms-enum": {
        "name": "LinkTypeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Button",
            "value": "Button",
            "description": "Button"
          },
          {
            "name": "Hyperlink",
            "value": "Hyperlink",
            "description": "Hyperlink"
          }
        ]
      }
    },
    "MetadataEntity": {
      "type": "object",
      "description": "The metadata entity contract.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MetadataEntityProperties",
          "description": "The metadata entity properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MetadataEntityListResult": {
      "type": "object",
      "description": "The list of metadata entities",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of metadata entities.",
          "items": {
            "$ref": "#/definitions/MetadataEntity"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of metadata."
        }
      }
    },
    "MetadataEntityProperties": {
      "type": "object",
      "description": "The metadata entity properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "dependsOn": {
          "type": "array",
          "description": "The list of keys on which this entity depends on.",
          "items": {
            "type": "string"
          }
        },
        "applicableScenarios": {
          "type": "array",
          "description": "The list of scenarios applicable to this metadata entity.",
          "items": {
            "$ref": "#/definitions/Scenario"
          }
        },
        "supportedValues": {
          "type": "array",
          "description": "The list of supported values.",
          "items": {
            "$ref": "#/definitions/MetadataSupportedValueDetail"
          }
        }
      }
    },
    "MetadataSupportedValueDetail": {
      "type": "object",
      "description": "The metadata supported value detail.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the metadata value"
        },
        "previousId": {
          "type": "string",
          "description": "The previous value of the id field incase the data has changed."
        },
        "serviceGuid": {
          "type": "string",
          "description": "The permanent guid for the service. Used when the id is a service name."
        },
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "resourceTypes": {
          "type": "array",
          "description": "The list of associated resource types.",
          "items": {
            "type": "string"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of this metadata supported value. Lower number is given higher preference."
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "description": "Properties of the operation.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Provider name."
        },
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "operation": {
          "type": "string",
          "description": "Operation name."
        },
        "description": {
          "type": "string",
          "description": "Description of the operation."
        }
      }
    },
    "ProxyResource": {
      "type": "object",
      "description": "ARM proxy resource.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure Resource Manager Identity for the availabilityStatuses resource."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/Azure.Core.armResourceType",
          "description": "Microsoft.ResourceHealth/AvailabilityStatuses."
        },
        "location": {
          "type": "string",
          "description": "Azure Resource Manager geo location of the resource."
        }
      }
    },
    "Scenario": {
      "type": "string",
      "enum": [
        "Alerts"
      ],
      "x-ms-enum": {
        "name": "Scenario",
        "modelAsString": true,
        "values": [
          {
            "name": "Alerts",
            "value": "Alerts",
            "description": "Alerts"
          }
        ]
      }
    },
    "ServiceImpactingEventIncidentProperties": {
      "type": "object",
      "description": "Properties of the service impacting event.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the incident."
        },
        "service": {
          "type": "string",
          "description": "Service impacted by the event."
        },
        "region": {
          "type": "string",
          "description": "Region impacted by the event."
        },
        "incidentType": {
          "type": "string",
          "description": "Type of Event."
        }
      }
    },
    "ServiceImpactingEventStatus": {
      "type": "object",
      "description": "Status of the service impacting event.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Current status of the event"
        }
      }
    },
    "SeverityValues": {
      "type": "string",
      "description": "The severity level of this active event.",
      "enum": [
        "Information",
        "Warning",
        "Error"
      ],
      "x-ms-enum": {
        "name": "SeverityValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Information",
            "value": "Information",
            "description": "Information"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Error"
          }
        ]
      }
    },
    "StageValues": {
      "type": "string",
      "description": "The stage of this active event.",
      "enum": [
        "Active",
        "Resolve",
        "Archived"
      ],
      "x-ms-enum": {
        "name": "StageValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active"
          },
          {
            "name": "Resolve",
            "value": "Resolve",
            "description": "Resolve"
          },
          {
            "name": "Archived",
            "value": "Archived",
            "description": "Archived"
          }
        ]
      }
    },
    "availabilityStatus": {
      "type": "object",
      "description": "availabilityStatus of a resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AvailabilityStatusProperties",
          "description": "Properties of availability state."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "availabilityStatusListResult": {
      "type": "object",
      "description": "The List availabilityStatus operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of availabilityStatuses.",
          "items": {
            "$ref": "#/definitions/availabilityStatus"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of availabilityStatuses. Call ListNext() with this URI to fetch the next page of availabilityStatuses."
        }
      },
      "required": [
        "value"
      ]
    },
    "emergingIssue": {
      "type": "object",
      "description": "On-going emerging issue from azure status.",
      "properties": {
        "refreshTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when last time refreshed for ongoing emerging issue."
        },
        "statusBanners": {
          "type": "array",
          "description": "The list of emerging issues of banner type.",
          "items": {
            "$ref": "#/definitions/statusBanner"
          },
          "x-ms-identifiers": []
        },
        "statusActiveEvents": {
          "type": "array",
          "description": "The list of emerging issues of active event type.",
          "items": {
            "$ref": "#/definitions/statusActiveEvent"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "emergingIssueImpact": {
      "type": "object",
      "description": "Object of the emerging issue impact on services and regions.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The impacted service id."
        },
        "name": {
          "type": "string",
          "description": "The impacted service name."
        },
        "regions": {
          "type": "array",
          "description": "The list of impacted regions for corresponding emerging issues.",
          "items": {
            "$ref": "#/definitions/impactedRegion"
          }
        }
      }
    },
    "emergingIssueListResult": {
      "type": "object",
      "description": "The list of emerging issues.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of emerging issues.",
          "items": {
            "$ref": "#/definitions/emergingIssuesGetResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of emerging issues."
        }
      }
    },
    "emergingIssuesGetResult": {
      "type": "object",
      "description": "The Get EmergingIssues operation response.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/emergingIssue",
          "description": "The emerging issue entity properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "event": {
      "type": "object",
      "description": "Service health event",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventProperties",
          "description": "Properties of event.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "eventImpactedResource": {
      "type": "object",
      "description": "Impacted resource for an event.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventImpactedResourceProperties",
          "description": "Properties of impacted resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "eventImpactedResourceListResult": {
      "type": "object",
      "description": "The List of eventImpactedResources operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of eventImpactedResources.",
          "items": {
            "$ref": "#/definitions/eventImpactedResource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of events. Call ListNext() with this URI to fetch the next page of impacted resource."
        }
      },
      "required": [
        "value"
      ]
    },
    "events": {
      "type": "object",
      "description": "The List events operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Event items on this page",
          "items": {
            "$ref": "#/definitions/event"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "faq": {
      "type": "object",
      "description": "Frequently asked question for the service health event",
      "properties": {
        "question": {
          "type": "string",
          "description": "FAQ question for the service health event."
        },
        "answer": {
          "type": "string",
          "description": "FAQ answer for the service health event."
        },
        "localeCode": {
          "type": "string",
          "description": "FAQ locale for the service health event."
        }
      }
    },
    "impact": {
      "type": "object",
      "description": "Azure service impacted by the service health event.",
      "properties": {
        "impactedService": {
          "type": "string",
          "description": "Impacted service name."
        },
        "impactedServiceGuid": {
          "type": "string",
          "description": "Impacted service guid. This is the permanent identifier for the impacted service."
        },
        "impactedRegions": {
          "type": "array",
          "description": "List regions impacted by the service health event.",
          "items": {
            "$ref": "#/definitions/impactedServiceRegion"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "impactedRegion": {
      "type": "object",
      "description": "Object of impacted region.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The impacted region id."
        },
        "name": {
          "type": "string",
          "description": "The impacted region name."
        }
      }
    },
    "impactedServiceRegion": {
      "type": "object",
      "description": "Azure region impacted by the service health event.",
      "properties": {
        "impactedRegion": {
          "type": "string",
          "description": "Impacted region name."
        },
        "status": {
          "$ref": "#/definitions/EventStatusValues",
          "description": "Current status of event in the region."
        },
        "impactedSubscriptions": {
          "type": "array",
          "description": "List subscription impacted by the service health event.",
          "items": {
            "type": "string"
          }
        },
        "impactedTenants": {
          "type": "array",
          "description": "List tenant impacted by the service health event.",
          "items": {
            "type": "string"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the last update for the service health event."
        },
        "updates": {
          "type": "array",
          "description": "List of updates for given service health event.  Use fetchEventDetails endpoint to get updates of sensitive events.",
          "items": {
            "$ref": "#/definitions/update"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "keyValueItem": {
      "type": "object",
      "description": "Key value tuple.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of tuple.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Value of tuple.",
          "readOnly": true
        }
      }
    },
    "link": {
      "type": "object",
      "description": "Useful links for service health event.",
      "properties": {
        "type": {
          "$ref": "#/definitions/LinkTypeValues",
          "description": "Type of link."
        },
        "displayText": {
          "$ref": "#/definitions/LinkDisplayText",
          "description": "Display text of link."
        },
        "extensionName": {
          "type": "string",
          "description": "It provides the name of portal extension to produce link for given service health event."
        },
        "bladeName": {
          "type": "string",
          "description": "It provides the name of portal extension blade to produce link for given service health event."
        },
        "parameters": {
          "description": "It provides a map of parameter name and value for portal extension blade to produce lik for given service health event."
        }
      }
    },
    "operation": {
      "type": "object",
      "description": "Operation available in the Microsoft.ResourceHealth resource provider.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation."
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Properties of the operation."
        }
      }
    },
    "operationListResult": {
      "type": "object",
      "description": "Lists the operations response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of operations available in the Microsoft.ResourceHealth resource provider.",
          "items": {
            "$ref": "#/definitions/operation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "reasonChronicityTypes": {
      "type": "string",
      "description": "Chronicity of the availability transition.",
      "enum": [
        "Transient",
        "Persistent"
      ],
      "x-ms-enum": {
        "name": "reasonChronicityTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Transient",
            "value": "Transient",
            "description": "Transient"
          },
          {
            "name": "Persistent",
            "value": "Persistent",
            "description": "Persistent"
          }
        ]
      }
    },
    "recommendedAction": {
      "type": "object",
      "description": "Lists actions the user can take based on the current availabilityState of the resource.",
      "properties": {
        "action": {
          "type": "string",
          "description": "Recommended action."
        },
        "actionUrl": {
          "type": "string",
          "description": "Link to the action"
        },
        "_ActionUrl.Comment": {
          "type": "string",
          "description": "the comment for the Action"
        },
        "actionUrlText": {
          "type": "string",
          "description": "Substring of action, it describes which text should host the action URL."
        }
      }
    },
    "serviceImpactingEvent": {
      "type": "object",
      "description": "Lists the service impacting events that may be affecting the health of the resource.",
      "properties": {
        "eventStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when the event started."
        },
        "eventStatusLastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when event was submitted/detected."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation id for the event"
        },
        "status": {
          "$ref": "#/definitions/ServiceImpactingEventStatus",
          "description": "Status of the service impacting event."
        },
        "incidentProperties": {
          "$ref": "#/definitions/ServiceImpactingEventIncidentProperties",
          "description": "Properties of the service impacting event."
        }
      }
    },
    "statusActiveEvent": {
      "type": "object",
      "description": "Active event type of emerging issue.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The active event title."
        },
        "description": {
          "type": "string",
          "description": "The details of active event."
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking id of this active event."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The impact start time on this active event."
        },
        "cloud": {
          "type": "string",
          "description": "The cloud type of this active event."
        },
        "severity": {
          "$ref": "#/definitions/SeverityValues",
          "description": "The severity level of this active event."
        },
        "stage": {
          "$ref": "#/definitions/StageValues",
          "description": "The stage of this active event."
        },
        "published": {
          "type": "boolean",
          "description": "The boolean value of this active event if published or not."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time modified on this banner."
        },
        "impacts": {
          "type": "array",
          "description": "The list of emerging issues impacts.",
          "items": {
            "$ref": "#/definitions/emergingIssueImpact"
          }
        }
      }
    },
    "statusBanner": {
      "type": "object",
      "description": "Banner type of emerging issue.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The banner title."
        },
        "message": {
          "type": "string",
          "description": "The details of banner."
        },
        "cloud": {
          "type": "string",
          "description": "The cloud type of this banner."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time modified on this banner."
        }
      }
    },
    "update": {
      "type": "object",
      "description": "Update for service health event.",
      "properties": {
        "summary": {
          "type": "string",
          "description": "Summary text for the given update for the service health event."
        },
        "updateDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for the given update for the service health event."
        },
        "eventTags": {
          "type": "array",
          "description": "A list of metadata tags associated with the event. Possible values include:\n-Action Recommended: Action may be required by you to avoid possible disruptions or mitigate risks for your services. It is recommended to evaluate these actions and the potential impact on your services.\n- False Positive: After investigation, we've determined your service is healthy and service issues did not impact your services as originally communicated.\n- Preliminary PIR: For our largest, most impactful service issues a Preliminary Post Incident Review (PIR) is published generally within 72 hours of mitigation, to summarize what we have learned so far from the still-in-progress investigation.\n- Final PIR: For service issues, a Final Post Incident Review (PIR) may be published to provide additional details or learnings. Sometimes this requires us to complete an internal retrospective, generally within 14 days of mitigation.",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
