{
  "swagger": "2.0",
  "info": {
    "version": "2023-04-01",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}": {
      "get": {
        "description": "Get a savings plan order.",
        "operationId": "BillingSavingsPlanOrder_Get",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderGet": {
            "$ref": "./examples/billingSavingsPlanOrderGet.json"
          },
          "SavingsPlanOrderWithExpandedPaymentsGet": {
            "$ref": "./examples/billingSavingsPlanOrderExpandedSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders": {
      "get": {
        "description": "List all Savings plan orders.",
        "operationId": "BillingSavingsPlanOrder_List",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlanOrderList": {
            "$ref": "./examples/billingSavingsPlanOrderList.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/OrderParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModelList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans": {
      "get": {
        "description": "List savings plans in an order.",
        "operationId": "BillingSavingsPlansInOrder_List",
        "tags": [
          "Savings plan"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlansInOrderList": {
            "$ref": "./examples/billingSavingsPlansInOrderList.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlans": {
      "get": {
        "description": "List savings plans.",
        "operationId": "BillingSavingsPlans_List",
        "tags": [
          "Savings plan"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlansList": {
            "$ref": "./examples/billingSavingsPlansList.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/OrderParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          },
          {
            "$ref": "#/parameters/TakeParameter"
          },
          {
            "$ref": "#/parameters/SelectedStateParameter"
          },
          {
            "$ref": "#/parameters/RefreshSummaryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}": {
      "get": {
        "description": "Get savings plan.",
        "operationId": "BillingSavingsPlan_Get",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanGet": {
            "$ref": "./examples/billingSavingsPlanGet.json"
          },
          "SavingsPlanGetExpandRenewProperties": {
            "$ref": "./examples/billingSavingsPlanGetExpandRenewProperties.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update savings plan.",
        "operationId": "BillingSavingsPlan_Update",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanUpdate": {
            "$ref": "./examples/billingSavingsPlanUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanUpdateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate": {
      "post": {
        "description": "Validate savings plan patch.",
        "operationId": "BillingSavingsPlanUpdate_Validate",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanValidateUpdate": {
            "$ref": "./examples/billingSavingsPlanValidateUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanUpdateValidateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Sku": {
      "type": "object",
      "description": "The SKU to be applied for this resource",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU to be applied"
        }
      }
    },
    "BillingScopeId": {
      "type": "string",
      "description": "Subscription that will be charged for purchasing SavingsPlan"
    },
    "BillingProfileId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the billing profile where the savings plan is applied. Present only for Field-led or Customer-led customers."
    },
    "CustomerId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the customer where the savings plan is applied. Present only for Partner-led customers."
    },
    "BillingAccountId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the billing account where the savings plan is applied. Present only for Enterprise Agreement customers."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state",
      "readOnly": true,
      "enum": [
        "PendingBilling",
        "ConfirmedBilling",
        "Creating",
        "Failed",
        "Created",
        "Succeeded",
        "Cancelled",
        "Expired"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "BillingPlan": {
      "type": "string",
      "description": "Represents the billing plan in ISO 8601 format. Required only for monthly purchases.",
      "enum": [
        "P1M"
      ],
      "x-ms-enum": {
        "name": "BillingPlan",
        "modelAsString": true
      }
    },
    "Renew": {
      "type": "boolean",
      "default": false,
      "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
    },
    "BenefitTerm": {
      "type": "string",
      "description": "Represents the Savings plan term in ISO 8601 format.",
      "enum": [
        "P1Y",
        "P3Y"
      ],
      "x-ms-enum": {
        "name": "SavingsPlanTerm",
        "modelAsString": true
      }
    },
    "DisplayName": {
      "type": "string",
      "description": "Display name"
    },
    "AppliedScopeType": {
      "type": "string",
      "description": "Type of the Applied Scope.",
      "enum": [
        "Single",
        "Shared",
        "ManagementGroup"
      ],
      "x-ms-enum": {
        "name": "AppliedScopeType",
        "modelAsString": true
      }
    },
    "AppliedScopeProperties": {
      "type": "object",
      "description": "Properties specific to applied scope type. Not required if not applicable.",
      "properties": {
        "tenantId": {
          "$ref": "#/definitions/TenantId"
        },
        "managementGroupId": {
          "$ref": "#/definitions/ManagementGroupId"
        },
        "subscriptionId": {
          "$ref": "#/definitions/SubscriptionId"
        },
        "resourceGroupId": {
          "$ref": "#/definitions/ResourceGroupId"
        },
        "displayName": {
          "type": "string",
          "description": "Display name"
        }
      }
    },
    "TenantId": {
      "type": "string",
      "description": "Tenant ID where the savings plan should apply benefit."
    },
    "ManagementGroupId": {
      "type": "string",
      "description": "Fully-qualified identifier of the management group where the benefit must be applied."
    },
    "SubscriptionId": {
      "type": "string",
      "description": "Fully-qualified identifier of the subscription."
    },
    "ResourceGroupId": {
      "type": "string",
      "description": "Fully-qualified identifier of the resource group."
    },
    "Commitment": {
      "type": "object",
      "description": "Commitment towards the benefit.",
      "allOf": [
        {
          "$ref": "#/definitions/Price"
        }
      ],
      "properties": {
        "grain": {
          "type": "string",
          "description": "Commitment grain.",
          "enum": [
            "Hourly"
          ],
          "x-ms-enum": {
            "name": "CommitmentGrain",
            "modelAsString": true
          }
        }
      }
    },
    "SavingsPlanId": {
      "type": "string",
      "description": "Identifier of the savings plan",
      "readOnly": true
    },
    "ExpiryDate": {
      "type": "string",
      "description": "Provisioning state",
      "readOnly": true,
      "format": "date"
    },
    "SavingsPlanModelList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanModel"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "SavingsPlanModelListResult": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SavingsPlanModelList"
        }
      ],
      "properties": {
        "additionalProperties": {
          "description": "The roll out count summary of the savings plans",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SavingsPlanSummary"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SavingsPlanModel": {
      "type": "object",
      "description": "Savings plan",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Savings plan SKU",
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "description": "Savings plan properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SavingsPlanModelProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/systemData",
          "description": "SystemData of Savings plan.",
          "readOnly": true
        }
      }
    },
    "SavingsPlanModelProperties": {
      "type": "object",
      "description": "Savings plan properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "displayProvisioningState": {
          "description": "The provisioning state of the savings plan for display, e.g. Succeeded",
          "type": "string",
          "readOnly": true
        },
        "userFriendlyAppliedScopeType": {
          "description": "The applied scope type of the savings plan for display, e.g. Shared",
          "type": "string",
          "readOnly": true
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "billingProfileId": {
          "$ref": "#/definitions/BillingProfileId"
        },
        "customerId": {
          "$ref": "#/definitions/CustomerId"
        },
        "billingAccountId": {
          "$ref": "#/definitions/BillingAccountId"
        },
        "term": {
          "$ref": "#/definitions/BenefitTerm"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "renewSource": {
          "$ref": "#/definitions/RenewSource"
        },
        "renewDestination": {
          "$ref": "#/definitions/RenewDestination"
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewProperties"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "expiryDate": {
          "$ref": "#/definitions/ExpiryDate"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "commitment": {
          "$ref": "#/definitions/Commitment"
        },
        "effectiveDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime of the savings plan starts providing benefit from.",
          "readOnly": true
        },
        "benefitStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the savings plan benefit started.",
          "readOnly": true
        },
        "expiryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the savings plan will expire.",
          "readOnly": true
        },
        "purchaseDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date time when the savings plan was purchased.",
          "readOnly": true
        },
        "utilization": {
          "$ref": "#/definitions/Utilization"
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        }
      }
    },
    "SavingsPlanSummary": {
      "type": "object",
      "description": "Savings plans list summary",
      "properties": {
        "name": {
          "description": "This property has value 'summary'",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/SavingsPlanSummaryCount"
        }
      }
    },
    "SavingsPlanSummaryCount": {
      "description": "The roll up count summary of savings plans in each state",
      "type": "object",
      "properties": {
        "succeededCount": {
          "description": "The number of savings plans in Succeeded state",
          "readOnly": true,
          "type": "number"
        },
        "failedCount": {
          "description": "The number of savings plans in Failed state",
          "readOnly": true,
          "type": "number"
        },
        "expiringCount": {
          "description": "The number of savings plans in Expiring state",
          "readOnly": true,
          "type": "number"
        },
        "expiredCount": {
          "description": "The number of savings plans in Expired state",
          "readOnly": true,
          "type": "number"
        },
        "pendingCount": {
          "description": "The number of savings plans in Pending state",
          "readOnly": true,
          "type": "number"
        },
        "cancelledCount": {
          "description": "The number of savings plans in Cancelled state",
          "readOnly": true,
          "type": "number"
        },
        "processingCount": {
          "description": "The number of savings plans in Processing state",
          "readOnly": true,
          "type": "number"
        },
        "noBenefitCount": {
          "description": "The number of savings plans in No Benefit state",
          "readOnly": true,
          "type": "number"
        },
        "warningCount": {
          "description": "The number of savings plans in Warning state",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "SavingsPlanOrderModelList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanOrderModel"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "SavingsPlanOrderModel": {
      "type": "object",
      "description": "Savings plan order",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Savings plan SKU",
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "description": "Savings plan order properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SavingsPlanOrderModelProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/systemData",
          "description": "SystemData of Savings plan order.",
          "readOnly": true
        }
      }
    },
    "SavingsPlanOrderModelProperties": {
      "type": "object",
      "description": "Savings plan order properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "billingProfileId": {
          "$ref": "#/definitions/BillingProfileId"
        },
        "customerId": {
          "$ref": "#/definitions/CustomerId"
        },
        "billingAccountId": {
          "$ref": "#/definitions/BillingAccountId"
        },
        "term": {
          "$ref": "#/definitions/BenefitTerm"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "benefitStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the savings plan benefit started.",
          "readOnly": true
        },
        "expiryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the savings plan will expire.",
          "readOnly": true
        },
        "expiryDate": {
          "$ref": "#/definitions/ExpiryDate"
        },
        "planInformation": {
          "$ref": "#/definitions/BillingPlanInformation"
        },
        "savingsPlans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanId"
          }
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        }
      }
    },
    "SavingsPlanUpdateRequest": {
      "type": "object",
      "description": "Savings plan patch request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SavingsPlanUpdateRequestProperties"
        }
      }
    },
    "SavingsPlanUpdateRequestProperties": {
      "type": "object",
      "description": "Savings plan patch request",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewProperties"
        }
      }
    },
    "RenewSource": {
      "type": "string",
      "description": "SavingsPlan Id of the SavingsPlan from which this SavingsPlan is renewed."
    },
    "RenewDestination": {
      "type": "string",
      "description": "SavingsPlan Id of the SavingsPlan which is purchased because of renew."
    },
    "RenewProperties": {
      "type": "object",
      "properties": {
        "purchaseProperties": {
          "$ref": "#/definitions/PurchaseRequest"
        }
      }
    },
    "PurchaseRequest": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PurchaseRequestProperties"
        }
      }
    },
    "PurchaseRequestProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Friendly name of the savings plan"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "term": {
          "$ref": "#/definitions/BenefitTerm"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "commitment": {
          "$ref": "#/definitions/Commitment"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "BillingPlanInformation": {
      "type": "object",
      "description": "Information describing the type of billing plan for this savings plan.",
      "properties": {
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount of money to be paid for the Order. Tax is not included."
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the billing plan has started."
        },
        "nextPaymentDueDate": {
          "type": "string",
          "format": "date",
          "description": "For recurring billing plans, indicates the date when next payment will be processed. Null when total is paid off."
        },
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PaymentDetail": {
      "type": "object",
      "description": "Information about payment related to a savings plan order.",
      "properties": {
        "dueDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the payment needs to be done."
        },
        "paymentDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the transaction is completed. Is null when it is scheduled."
        },
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        },
        "billingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount charged in Billing currency. Tax not included. Is null for future payments"
        },
        "status": {
          "$ref": "#/definitions/PaymentStatus"
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        }
      }
    },
    "PaymentStatus": {
      "type": "string",
      "description": "Describes whether the payment is completed, failed, cancelled or scheduled in the future.",
      "enum": [
        "Succeeded",
        "Failed",
        "Scheduled",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "PaymentStatus",
        "modelAsString": true
      }
    },
    "Utilization": {
      "readOnly": true,
      "type": "object",
      "description": "Savings plan utilization",
      "properties": {
        "trend": {
          "description": "The number of days trend for a savings plan",
          "readOnly": true,
          "type": "string"
        },
        "aggregates": {
          "description": "The array of aggregates of a savings plan's utilization",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UtilizationAggregates"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "UtilizationAggregates": {
      "description": "The aggregate values of savings plan utilization",
      "type": "object",
      "properties": {
        "grain": {
          "description": "The grain of the aggregate",
          "readOnly": true,
          "type": "number"
        },
        "grainUnit": {
          "description": "The grain unit of the aggregate",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The aggregate value",
          "readOnly": true,
          "type": "number"
        },
        "valueUnit": {
          "description": "The aggregate value unit",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ExtendedStatusInfo": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "Status code providing additional information."
        },
        "message": {
          "type": "string",
          "description": "The message giving detailed information about the status code."
        },
        "properties": {
          "type": "object",
          "description": "Properties specific to credit line check failure",
          "properties": {
            "subscriptionId": {
              "type": "string",
              "description": "The subscription that has failed credit line check."
            }
          }
        }
      }
    },
    "SavingsPlanUpdateValidateRequest": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanUpdateRequestProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SavingsPlanValidateResponse": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanValidResponseProperty"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "SavingsPlanValidResponseProperty": {
      "type": "object",
      "description": "Benefit scope response property",
      "properties": {
        "valid": {
          "type": "boolean",
          "description": "Indicates if the provided input was valid"
        },
        "reasonCode": {
          "type": "string",
          "description": "Failure reason code if the provided input was invalid"
        },
        "reason": {
          "type": "string",
          "description": "Failure reason if the provided input was invalid"
        }
      }
    }
  },
  "parameters": {
    "ExpandParameter": {
      "name": "$expand",
      "description": "May be used to expand the planInformation.",
      "in": "query",
      "x-ms-parameter-location": "client",
      "required": false,
      "type": "string"
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "OData filter expression.",
      "x-ms-parameter-location": "method",
      "x-ms-parameter-grouping": {
        "name": "QueryOptions"
      },
      "x-ms-client-name": "Filter"
    },
    "OrderParameter": {
      "name": "$orderby",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "OData order by expression."
    },
    "SkipTokenParameter": {
      "name": "$skiptoken",
      "description": "The number of savings plans to skip from the list before returning results",
      "in": "query",
      "required": false,
      "type": "number"
    },
    "TakeParameter": {
      "name": "take",
      "description": "The number of savings plans to return",
      "in": "query",
      "required": false,
      "type": "number"
    },
    "SelectedStateParameter": {
      "name": "selectedState",
      "description": "The selected provisioning state",
      "in": "query",
      "required": false,
      "type": "string"
    },
    "RefreshSummaryParameter": {
      "name": "refreshSummary",
      "description": "To indicate whether to refresh the roll up counts of the savings plans group by provisioning states",
      "in": "query",
      "required": false,
      "type": "string"
    },
    "SavingsPlanOrderIdParameter": {
      "name": "savingsPlanOrderId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Order ID of the savings plan"
    },
    "SavingsPlanIdParameter": {
      "name": "savingsPlanId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "ID of the savings plan"
    },
    "SavingsPlanUpdateRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for patching a savings plan order alias",
      "schema": {
        "$ref": "#/definitions/SavingsPlanUpdateRequest"
      }
    },
    "SavingsPlanUpdateValidateRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for patching a savings plan order alias",
      "schema": {
        "$ref": "#/definitions/SavingsPlanUpdateValidateRequest"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
