{
  "swagger": "2.0",
  "info": {
    "description": "Billing client provides access to billing resources for Azure subscriptions.",
    "title": "BillingManagementClient",
    "version": "2023-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/reservations": {
      "get": {
        "description": "Lists the reservations for a billing account and the roll up counts of reservations group by provisioning states.",
        "operationId": "Reservations_ListAllByBillingAccount",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "description": "May be used to filter by reservation properties. The filter supports 'eq', 'or', and 'and'. It does not currently support 'ne', 'gt', 'le', 'ge', or 'not'.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "May be used to sort order by reservation properties.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "type": "string"
          },
          {
            "description": "The number of reservations to skip from the list before returning results",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "type": "number"
          },
          {
            "description": "To indicate whether to refresh the roll up counts of the reservations group by provisioning states",
            "in": "query",
            "name": "refreshSummary",
            "required": false,
            "type": "string"
          },
          {
            "description": "The selected provisioning state",
            "in": "query",
            "name": "selectedState",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Reservations"
        ],
        "x-ms-examples": {
          "reservationsListByBillingAccount": {
            "$ref": "./examples/reservationsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}": {
      "get": {
        "summary": "Get `Reservation` details for a billing account.",
        "description": "Get specific `Reservation` details for a billing account.",
        "operationId": "Reservation_GetByBillingAccount",
        "x-ms-examples": {
          "GetReservationByBillingAccount": {
            "$ref": "./examples/reservationGetByBillingAccount.json"
          },
          "GetReservationByBillingAccountSingleScope": {
            "$ref": "./examples/reservationGetByBillingAccountSingleScope.json"
          },
          "GetReservationByBillingAccountSingleResourceGroup": {
            "$ref": "./examples/reservationGetByBillingAccountSingleResourceGroup.json"
          },
          "GetReservationByBillingAccountManagementGroup": {
            "$ref": "./examples/reservationGetByBillingAccountManagementGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/ReservationOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ReservationIdParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "tags": [
          "Reservation"
        ],
        "responses": {
          "200": {
            "description": "Get `Reservation` details.",
            "schema": {
              "$ref": "#/definitions/Reservation"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations": {
      "get": {
        "summary": "Get `Reservation`s in a given reservation Order for a billing account",
        "description": "List `Reservation`s within a single `ReservationOrder` for a billing account.",
        "operationId": "Reservations_ListByBillingAccount",
        "x-ms-examples": {
          "ReservationList": {
            "$ref": "./examples/reservationsGetFromOrderByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/ReservationOrderIdParameter"
          }
        ],
        "tags": [
          "Reservation"
        ],
        "responses": {
          "200": {
            "description": "List `Reservation`s within a single `ReservationOrder`.",
            "schema": {
              "$ref": "#/definitions/ReservationList"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Reservation": {
      "description": "The definition of the reservation.",
      "properties": {
        "id": {
          "description": "The id of the reservation.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "description": "The location of the reservation.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the reservation.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ReservationProperty",
          "description": "The properties associated to this reservation ",
          "type": "object",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "#/definitions/ReservationSkuProperty",
          "description": "The sku information associated to this reservation ",
          "type": "object"
        },
        "type": {
          "description": "The type of the reservation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReservationAppliedScope": {
      "description": "Reservation applied scope",
      "readOnly": true,
      "type": "string"
    },
    "ReservationProperty": {
      "description": "The property of reservation object.",
      "properties": {
        "reservedResourceType": {
          "description": "The reserved source type of the reservation, e.g. virtual machine.",
          "readOnly": true,
          "type": "string"
        },
        "instanceFlexibility": {
          "description": "Allows reservation discount to be applied across skus within the same auto fit group. Not all skus support instance size flexibility.",
          "$ref": "#/definitions/InstanceFlexibility"
        },
        "displayName": {
          "description": "The display name of the reservation",
          "readOnly": true,
          "type": "string"
        },
        "appliedScopes": {
          "description": "The array of applied scopes of a reservation. Will be null if the reservation is in Shared scope",
          "items": {
            "$ref": "#/definitions/ReservationAppliedScope"
          },
          "type": "array"
        },
        "appliedScopeType": {
          "description": "The applied scope type of the reservation.",
          "readOnly": true,
          "type": "string"
        },
        "archived": {
          "description": "Indicates if the reservation is archived",
          "type": "boolean"
        },
        "capabilities": {
          "description": "Capabilities of the reservation",
          "type": "string"
        },
        "quantity": {
          "description": "The number of the reservation.",
          "readOnly": true,
          "type": "number"
        },
        "provisioningState": {
          "description": "The provisioning state of the reservation, e.g. Succeeded",
          "readOnly": true,
          "type": "string"
        },
        "effectiveDateTime": {
          "description": "The effective date time of the reservation",
          "readOnly": true,
          "type": "string"
        },
        "benefitStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the reservation benefit started."
        },
        "lastUpdatedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime of the last time the reservation was updated.",
          "readOnly": true
        },
        "expiryDate": {
          "description": "The expiry date of the reservation",
          "readOnly": true,
          "type": "string"
        },
        "expiryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the reservation will expire."
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Azure Hybrid Benefit needs to be reviewed."
        },
        "skuDescription": {
          "description": "The sku description of the reservation",
          "readOnly": true,
          "type": "string"
        },
        "extendedStatusInfo": {
          "description": "The message giving detailed information about the status code.",
          "$ref": "#/definitions/ExtendedStatusInfo"
        },
        "billingPlan": {
          "description": "The billing plan options available for this sku.",
          "$ref": "#/definitions/ReservationBillingPlan"
        },
        "displayProvisioningState": {
          "description": "The provisioning state of the reservation for display, e.g. Succeeded",
          "readOnly": true,
          "type": "string"
        },
        "provisioningSubState": {
          "description": "The provisioning state of the reservation, e.g. Succeeded",
          "readOnly": true,
          "type": "string"
        },
        "purchaseDate": {
          "type": "string",
          "format": "date",
          "description": "This is the date when the reservation was purchased."
        },
        "purchaseDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the reservation was purchased."
        },
        "splitProperties": {
          "$ref": "#/definitions/ReservationSplitProperties"
        },
        "mergeProperties": {
          "$ref": "#/definitions/ReservationMergeProperties"
        },
        "swapProperties": {
          "$ref": "#/definitions/ReservationSwapProperties"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "billingScopeId": {
          "description": "Subscription that will be charged for purchasing reservation or savings plan",
          "readOnly": true,
          "type": "string"
        },
        "renew": {
          "description": "The renew state of the reservation",
          "readOnly": true,
          "type": "boolean"
        },
        "renewSource": {
          "description": "The renew source of the reservation",
          "readOnly": true,
          "type": "string"
        },
        "renewDestination": {
          "type": "string",
          "description": "Reservation Id of the reservation which is purchased because of renew. Format of the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}."
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewPropertiesResponse"
        },
        "term": {
          "description": "The term of the reservation, e.g. P1Y",
          "readOnly": true,
          "type": "string"
        },
        "userFriendlyAppliedScopeType": {
          "description": "The applied scope type of the reservation for display, e.g. Shared",
          "readOnly": true,
          "type": "string"
        },
        "userFriendlyRenewState": {
          "description": "The renew state of the reservation for display, e.g. On",
          "readOnly": true,
          "type": "string"
        },
        "utilization": {
          "readOnly": true,
          "type": "object",
          "description": "Reservation utilization",
          "properties": {
            "trend": {
              "description": "last 7 day utilization trend for a reservation",
              "readOnly": true,
              "type": "string"
            },
            "aggregates": {
              "description": "The array of aggregates of a reservation's utilization",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReservationUtilizationAggregates"
              },
              "x-ms-identifiers": []
            }
          }
        }
      }
    },
    "ReservationSkuProperty": {
      "description": "The property of reservation sku object.",
      "properties": {
        "name": {
          "description": "The name of the reservation sku.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReservationsListResult": {
      "description": "The list of reservations and summary of roll out count of reservations in each state.",
      "properties": {
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "summary": {
          "$ref": "#/definitions/ReservationSummary",
          "description": "The roll out count summary of the reservations",
          "type": "object"
        },
        "value": {
          "description": "The list of reservations.",
          "items": {
            "$ref": "#/definitions/Reservation"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ReservationList": {
      "type": "object",
      "description": "List of `Reservations",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Reservation"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page of reservations."
        }
      }
    },
    "ReservationSummary": {
      "description": "The roll up count summary of reservations in each state",
      "properties": {
        "cancelledCount": {
          "description": "The number of reservation in Cancelled state",
          "readOnly": true,
          "type": "number"
        },
        "expiredCount": {
          "description": "The number of reservation in Expired state",
          "readOnly": true,
          "type": "number"
        },
        "expiringCount": {
          "description": "The number of reservation in Expiring state",
          "readOnly": true,
          "type": "number"
        },
        "failedCount": {
          "description": "The number of reservation in Failed state",
          "readOnly": true,
          "type": "number"
        },
        "pendingCount": {
          "description": "The number of reservation in Pending state",
          "readOnly": true,
          "type": "number"
        },
        "succeededCount": {
          "description": "The number of reservation in Succeeded state",
          "readOnly": true,
          "type": "number"
        },
        "noBenefitCount": {
          "description": "The number of reservation in 'No Benefit' state",
          "readOnly": true,
          "type": "number"
        },
        "warningCount": {
          "description": "The number of reservation in Warning state",
          "readOnly": true,
          "type": "number"
        },
        "processingCount": {
          "description": "The number of reservation in Processing state",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object"
    },
    "ReservationUtilizationAggregates": {
      "description": "The aggregate values of reservation utilization",
      "properties": {
        "grain": {
          "description": "The grain of the aggregate",
          "readOnly": true,
          "type": "number"
        },
        "grainUnit": {
          "description": "The grain unit of the aggregate",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The aggregate value",
          "readOnly": true,
          "type": "number"
        },
        "valueUnit": {
          "description": "The aggregate value unit",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RenewPropertiesResponse": {
      "type": "object",
      "description": "The renew properties for a reservation.",
      "properties": {
        "purchaseProperties": {
          "$ref": "#/definitions/PurchaseRequest"
        },
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount that Microsoft uses for record. Used during refund for calculating refund limit. Tax is not included. This is locked price 30 days before expiry."
        },
        "billingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Currency and amount that customer will be charged in customer's local currency for renewal purchase. Tax is not included."
        }
      }
    },
    "PurchaseRequest": {
      "type": "object",
      "description": "The request for reservation purchase",
      "properties": {
        "sku": {
          "$ref": "#/definitions/SkuName"
        },
        "location": {
          "type": "string",
          "description": "The Azure region where the reserved resource lives.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PurchaseRequestProperties"
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "SkuName": {
      "type": "object",
      "description": "The name of sku",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "PurchaseRequestProperties": {
      "type": "object",
      "description": "Properties of reservation purchase request",
      "properties": {
        "reservedResourceType": {
          "description": "The reserved source type of the reservation, e.g. virtual machine.",
          "readOnly": true,
          "type": "string"
        },
        "billingScopeId": {
          "type": "string",
          "readOnly": true,
          "description": "Subscription that will be charged for purchasing reservation or savings plan"
        },
        "term": {
          "description": "The term of the reservation, e.g. P1Y",
          "readOnly": true,
          "type": "string"
        },
        "billingPlan": {
          "$ref": "#/definitions/ReservationBillingPlan"
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity of the skus that are part of the reservation. Must be greater than zero."
        },
        "displayName": {
          "type": "string",
          "description": "Friendly name of the reservation"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopes": {
          "$ref": "#/definitions/AppliedScopes"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "reservedResourceProperties": {
          "type": "object",
          "description": "Properties specific to each reserved resource type. Not required if not applicable.",
          "properties": {
            "instanceFlexibility": {
              "$ref": "#/definitions/InstanceFlexibility"
            }
          }
        },
        "instanceFlexibility": {
          "description": "Allows reservation discount to be applied across skus within the same auto fit group. Not all skus support instance size flexibility.",
          "$ref": "#/definitions/InstanceFlexibility"
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Azure hybrid benefit needs to be reviewed."
        }
      }
    },
    "ReservationBillingPlan": {
      "type": "string",
      "description": "Represent the billing plans.",
      "enum": [
        "Upfront",
        "Monthly"
      ],
      "x-ms-enum": {
        "name": "ReservationBillingPlan",
        "modelAsString": true
      }
    },
    "AppliedScopeType": {
      "type": "string",
      "description": "Type of the Applied Scope.",
      "enum": [
        "Single",
        "Shared",
        "ManagementGroup"
      ],
      "x-ms-enum": {
        "name": "AppliedScopeType",
        "modelAsString": true
      }
    },
    "AppliedScopes": {
      "type": "array",
      "description": "List of the subscriptions that the benefit will be applied. Do not specify if AppliedScopeType is Shared.",
      "items": {
        "type": "string",
        "minItems": 1,
        "maxItems": 1
      },
      "x-ms-identifiers": []
    },
    "AppliedScopeProperties": {
      "type": "object",
      "description": "Properties specific to applied scope type. Not required if not applicable. Required and need to provide tenantId and managementGroupId if AppliedScopeType is ManagementGroup",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant ID where the savings plan should apply benefit."
        },
        "managementGroupId": {
          "type": "string",
          "description": "Fully-qualified identifier of the management group where the benefit must be applied."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Fully-qualified identifier of the subscription."
        },
        "resourceGroupId": {
          "type": "string",
          "description": "Fully-qualified identifier of the resource group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name"
        }
      }
    },
    "Renew": {
      "type": "boolean",
      "default": false,
      "description": "Setting this to true will automatically purchase a new reservation on the expiration date time."
    },
    "InstanceFlexibility": {
      "type": "string",
      "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group. Only specify for VirtualMachines reserved resource type.",
      "enum": [
        "On",
        "Off"
      ],
      "x-ms-enum": {
        "name": "InstanceFlexibility",
        "modelAsString": true
      }
    },
    "ExtendedStatusInfo": {
      "type": "object",
      "properties": {
        "statusCode": {
          "$ref": "#/definitions/ReservationStatusCode"
        },
        "message": {
          "type": "string",
          "description": "The message giving detailed information about the status code."
        }
      }
    },
    "ReservationStatusCode": {
      "type": "string",
      "enum": [
        "None",
        "Pending",
        "Processing",
        "Active",
        "PurchaseError",
        "PaymentInstrumentError",
        "Split",
        "Merged",
        "Expired",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ReservationStatusCode",
        "modelAsString": true
      }
    },
    "ReservationSplitProperties": {
      "type": "object",
      "description": "Properties of reservation split",
      "properties": {
        "splitDestinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of destination resource id that are created due to split. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
        },
        "splitSource": {
          "type": "string",
          "description": "Resource id of the reservation from which this is split. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
        }
      }
    },
    "ReservationMergeProperties": {
      "type": "object",
      "description": "Properties of reservation merge",
      "properties": {
        "mergeDestination": {
          "type": "string",
          "description": "Reservation resource id Created due to the merge. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
        },
        "mergeSources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource ids of the source reservation's merged to form this reservation. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
        }
      }
    },
    "ReservationSwapProperties": {
      "type": "object",
      "description": "Properties of reservation swap",
      "properties": {
        "swapSource": {
          "type": "string",
          "description": "Resource id of the source reservation that gets swapped. Format of the resource id is /providers/microsoft.capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
        },
        "swapDestination": {
          "type": "string",
          "description": "Reservation resource id that the original resource gets swapped to. Format of the resource id is /providers/microsoft.capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
        }
      }
    }
  },
  "parameters": {
    "ExpandParameter": {
      "name": "$expand",
      "description": "May be used to expand the detail information of some properties.",
      "in": "query",
      "x-ms-parameter-location": "client",
      "required": false,
      "type": "string"
    },
    "ReservationIdParameter": {
      "name": "reservationId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Id of the reservation item"
    },
    "ReservationOrderIdParameter": {
      "name": "reservationOrderId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Order Id of the reservation"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  }
}
