{
  "swagger": "2.0",
  "info": {
    "title": "ZeroTrustSegmentationClient",
    "version": "2025-07-01-preview",
    "description": "ZeroTrustSegmentation resource provider API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SegmentationManagers"
    }
  ],
  "paths": {
    "/providers/Microsoft.ZeroTrustSegmentation/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all provider operations": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ZeroTrustSegmentation/segmentationManagers": {
      "get": {
        "operationId": "SegmentationManagers_ListBySubscription",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "List SegmentationManager resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SegmentationManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SegmentationManager by subscription": {
            "$ref": "./examples/SegmentationManagerListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ZeroTrustSegmentation/segmentationManagers": {
      "get": {
        "operationId": "SegmentationManagers_ListByResourceGroup",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "List SegmentationManager resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SegmentationManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SegmentationManagers by resource group": {
            "$ref": "./examples/SegmentationManagerListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ZeroTrustSegmentation/segmentationManagers/{segmentationManagerName}": {
      "get": {
        "operationId": "SegmentationManagers_Get",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "Get a SegmentationManager",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "segmentationManagerName",
            "in": "path",
            "description": "Name of the segmentation manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SegmentationManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SegmentationManager": {
            "$ref": "./examples/SegmentationManagerGet.json"
          }
        }
      },
      "put": {
        "operationId": "SegmentationManagers_CreateOrReplace",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "Create a SegmentationManager",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "segmentationManagerName",
            "in": "path",
            "description": "Name of the segmentation manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SegmentationManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SegmentationManager' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SegmentationManager"
            }
          },
          "201": {
            "description": "Resource 'SegmentationManager' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SegmentationManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a SegmentationManager": {
            "$ref": "./examples/SegmentationManagerPut.json"
          }
        }
      },
      "patch": {
        "operationId": "SegmentationManagers_Update",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "Update a SegmentationManager",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "segmentationManagerName",
            "in": "path",
            "description": "Name of the segmentation manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SegmentationManagerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SegmentationManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a SegmentationManager": {
            "$ref": "./examples/SegmentationManagerPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "SegmentationManagers_Delete",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "Delete a SegmentationManager",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "segmentationManagerName",
            "in": "path",
            "description": "Name of the segmentation manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SegmentationManager": {
            "$ref": "./examples/SegmentationManagerDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ZeroTrustSegmentation/segmentationManagers/{segmentationManagerName}/getGraph": {
      "post": {
        "operationId": "SegmentationManagers_GetGraph",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "segmentationManagerName",
            "in": "path",
            "description": "Name of the segmentation manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetGraphRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetGraphResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get graph for a SegmentationManager": {
            "$ref": "./examples/SegmentationManagers_GetGraph.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ZeroTrustSegmentation/segmentationManagers/{segmentationManagerName}/setLabels": {
      "post": {
        "operationId": "SegmentationManagers_SetLabels",
        "tags": [
          "SegmentationManagers"
        ],
        "description": "A synchronous resource action that returns no content.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "segmentationManagerName",
            "in": "path",
            "description": "Name of the segmentation manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetLabelsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Set labels for workloads": {
            "$ref": "./examples/SegmentationManagers_SetLabels.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AnalysisRunType": {
      "type": "string",
      "description": "Analysis run type",
      "enum": [
        "OneTime",
        "Continuous"
      ],
      "x-ms-enum": {
        "name": "AnalysisRunType",
        "modelAsString": true,
        "values": [
          {
            "name": "OneTime",
            "value": "OneTime",
            "description": "Single run"
          },
          {
            "name": "Continuous",
            "value": "Continuous",
            "description": "Continuous run"
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Edge": {
      "type": "object",
      "description": "Edge model representing a connection between two vertices",
      "properties": {
        "source": {
          "type": "string",
          "description": "Source vertex ID"
        },
        "target": {
          "type": "string",
          "description": "Target vertex ID"
        },
        "hourT": {
          "type": "integer",
          "format": "int64",
          "description": "Timestamp of the edge in milliseconds since epoch"
        },
        "trafficWeights": {
          "$ref": "#/definitions/TrafficWeights",
          "description": "Traffic weights associated with the edge"
        }
      },
      "required": [
        "source",
        "target",
        "hourT",
        "trafficWeights"
      ]
    },
    "GetGraphRequest": {
      "type": "object",
      "description": "The request model for the GetGraph API",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the graph"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the graph"
        }
      },
      "required": [
        "startTime",
        "endTime"
      ]
    },
    "GetGraphResponse": {
      "type": "object",
      "description": "The response model for the GetGraph API",
      "properties": {
        "graph": {
          "$ref": "#/definitions/Graph",
          "description": "Graph representation"
        }
      },
      "required": [
        "graph"
      ]
    },
    "Graph": {
      "type": "object",
      "description": "Graph representation model",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "List of vertices in the graph",
          "items": {
            "$ref": "#/definitions/Vertex"
          }
        },
        "edges": {
          "type": "array",
          "description": "List of edges connecting the vertices in the graph",
          "items": {
            "$ref": "#/definitions/Edge"
          },
          "x-ms-identifiers": []
        },
        "totalTrafficWeights": {
          "$ref": "#/definitions/TotalTrafficWeights",
          "description": "Total weights for all edges in the graph"
        }
      },
      "required": [
        "vertices",
        "edges",
        "totalTrafficWeights"
      ]
    },
    "LabelPair": {
      "type": "object",
      "description": "Represent a label as key-value pair",
      "properties": {
        "key": {
          "type": "string",
          "description": "Label key"
        },
        "value": {
          "type": "string",
          "description": "Label value"
        }
      },
      "required": [
        "key",
        "value"
      ]
    },
    "SegmentationManager": {
      "type": "object",
      "description": "A zero trust segmentation resource. this resource defines the SegmentationManager.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentationManagerProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/SegmentationManagerManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SegmentationManagerListResult": {
      "type": "object",
      "description": "The response of a SegmentationManager list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SegmentationManager items on this page",
          "items": {
            "$ref": "#/definitions/SegmentationManager"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SegmentationManagerManagedServiceIdentity": {
      "type": "object",
      "description": "Managed service identity for the segmentation manager.",
      "properties": {
        "type": {
          "$ref": "#/definitions/SegmentationManagerManagedServiceIdentityType",
          "description": "The type of managed service identity."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The user assigned identities associated with the resource.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "SegmentationManagerManagedServiceIdentityType": {
      "type": "string",
      "description": "The type of managed service identity.",
      "enum": [
        "None",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "SegmentationManagerManagedServiceIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity is assigned to this resource."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User Assigned Managed Identity"
          }
        ]
      }
    },
    "SegmentationManagerManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity for the segmentation manager.",
      "properties": {
        "type": {
          "$ref": "#/definitions/SegmentationManagerManagedServiceIdentityType",
          "description": "The type of managed service identity."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The user assigned identities associated with the resource.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      }
    },
    "SegmentationManagerProperties": {
      "type": "object",
      "description": "Segmentation manager properties",
      "properties": {
        "logSources": {
          "type": "array",
          "description": "The collection of ARM resource IDs for the monitored logs.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Network/networkWatchers/flowLogs"
                }
              ]
            }
          }
        },
        "analysisRunType": {
          "$ref": "#/definitions/AnalysisRunType",
          "description": "The analysis run type"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of a snapshot run"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of a snapshot run"
        },
        "segmentationMode": {
          "$ref": "#/definitions/SegmentationMode",
          "description": "The mode of segmentation to be applied"
        },
        "description": {
          "type": "string",
          "description": "The description of the segmentation manager"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "managedBy": {
          "type": "string",
          "description": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
        }
      },
      "required": [
        "logSources",
        "analysisRunType",
        "segmentationMode"
      ]
    },
    "SegmentationManagerPropertiesUpdate": {
      "type": "object",
      "description": "Segmentation manager properties",
      "properties": {
        "logSources": {
          "type": "array",
          "description": "The collection of ARM resource IDs for the monitored logs.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Network/networkWatchers/flowLogs"
                }
              ]
            }
          }
        },
        "analysisRunType": {
          "$ref": "#/definitions/AnalysisRunType",
          "description": "The analysis run type"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of a snapshot run"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of a snapshot run"
        },
        "segmentationMode": {
          "$ref": "#/definitions/SegmentationMode",
          "description": "The mode of segmentation to be applied"
        },
        "description": {
          "type": "string",
          "description": "The description of the segmentation manager"
        },
        "managedBy": {
          "type": "string",
          "description": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
        }
      }
    },
    "SegmentationManagerUpdate": {
      "type": "object",
      "description": "A zero trust segmentation resource. this resource defines the SegmentationManager.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentationManagerPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/SegmentationManagerManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "SegmentationMode": {
      "type": "string",
      "description": "Specifies the mode of segmentation to be applied.",
      "enum": [
        "None",
        "Automatic"
      ],
      "x-ms-enum": {
        "name": "SegmentationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No segmentation applied"
          },
          {
            "name": "Automatic",
            "value": "Automatic",
            "description": "Automatic Mode"
          }
        ]
      }
    },
    "SetLabelRecord": {
      "type": "object",
      "description": "Set label record",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "IP address of the workload"
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address of the workload"
        },
        "labels": {
          "type": "array",
          "description": "Labels as key-value pairs",
          "items": {
            "$ref": "#/definitions/LabelPair"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "ipAddress",
        "macAddress"
      ]
    },
    "SetLabelsRequest": {
      "type": "object",
      "description": "The request model for the SetLabels API",
      "properties": {
        "labels": {
          "type": "array",
          "description": "List of labels that need to be updated",
          "items": {
            "$ref": "#/definitions/SetLabelRecord"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "labels"
      ]
    },
    "TotalTrafficWeights": {
      "type": "object",
      "description": "Total traffic weights for all edges in the graph",
      "properties": {
        "totalInPackets": {
          "type": "number",
          "format": "float",
          "description": "Total incoming packets"
        },
        "totalInBytes": {
          "type": "number",
          "format": "float",
          "description": "Total incoming bytes"
        },
        "totalInConnections": {
          "type": "number",
          "format": "float",
          "description": "Total incoming connections"
        },
        "totalOutPackets": {
          "type": "number",
          "format": "float",
          "description": "Total outgoing packets"
        },
        "totalOutBytes": {
          "type": "number",
          "format": "float",
          "description": "Total outgoing bytes"
        },
        "totalOutConnections": {
          "type": "number",
          "format": "float",
          "description": "Total outgoing connections"
        }
      },
      "required": [
        "totalInPackets",
        "totalInBytes",
        "totalInConnections",
        "totalOutPackets",
        "totalOutBytes",
        "totalOutConnections"
      ]
    },
    "TrafficWeights": {
      "type": "object",
      "description": "TrafficWeights model",
      "properties": {
        "inPacketWeight": {
          "type": "number",
          "format": "float",
          "description": "Incoming packet weight as a percentage"
        },
        "inByteWeight": {
          "type": "number",
          "format": "float",
          "description": "Incoming byte weight as a percentage"
        },
        "inConnectionWeight": {
          "type": "number",
          "format": "float",
          "description": "Incoming connection weight as a percentage"
        },
        "outPacketWeight": {
          "type": "number",
          "format": "float",
          "description": "Outgoing packet weight as a percentage"
        },
        "outByteWeight": {
          "type": "number",
          "format": "float",
          "description": "Outgoing byte weight as a percentage"
        },
        "outConnectionWeight": {
          "type": "number",
          "format": "float",
          "description": "Outgoing connection weight as a percentage"
        }
      },
      "required": [
        "inPacketWeight",
        "inByteWeight",
        "inConnectionWeight",
        "outPacketWeight",
        "outByteWeight",
        "outConnectionWeight"
      ]
    },
    "Vertex": {
      "type": "object",
      "description": "Vertex model representing a node in the network",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the vertex"
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address of the vertex"
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address of the vertex"
        },
        "location": {
          "type": "string",
          "description": "Geographical location of the vertex"
        },
        "armId": {
          "type": "string",
          "description": "Azure Resource Manager ID of the vertex"
        },
        "name": {
          "type": "string",
          "description": "Name of the vertex"
        },
        "labels": {
          "type": "array",
          "description": "Labels associated with the vertex as key-value pairs",
          "items": {
            "$ref": "#/definitions/LabelPair"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "id",
        "ipAddress",
        "macAddress",
        "location",
        "labels"
      ]
    }
  },
  "parameters": {}
}
