{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-11-preview",
    "title": "Microsoft.Quota",
    "description": "Microsoft Azure Quota Resource Provider."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Quota/providers/{providerId}/locations/{location}/usages": {
      "get": {
        "tags": [
          "QuotaInformation"
        ],
        "summary": "Gets the current quota limit and usages for the resources provider for the specified location.",
        "description": "This Api gets the current quota limit and usages for the resources provider for the specified location. This response can be used to submit quoutaRequests.",
        "operationId": "Quotas_List_Status",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota information will be returned as response with pagination.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimits"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Quota/providers/{providerId}/locations/{location}/quotaRequests/{requestName}": {
      "put": {
        "tags": [
          "QuotaRequests"
        ],
        "summary": "Submits a Quota Request for a resource provider at the specified location.",
        "description": "Submits Quota change request for a resource provider for the specified location. To use, first make a request to the /usages API to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the /usages to their new values. Then, submit this updated JSON object to this quota request API. This will update the quotas to the values specified.",
        "operationId": "QuotaRequests_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          },
          {
            "$ref": "#/parameters/QuotaRequestNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "createQuotaRequests",
            "in": "body",
            "description": "Quota requests payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGenericQuotaRequestParameters"
            }
          }
        ],
        "responses": {
		 "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted. Quota requests will be created asynchronously. Please use requestName to check the status."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
		"x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "summary": "For the specified location, gets the Quota request status by request name provided during the quota request creation for the specific resources under the subscription.",
        "description": "Gets the QuotaRequest details and status by the quota Request Name for the resources for the resource  provider at a specific location.",
        "operationId": "QuotaRequests_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          },
          {
            "$ref": "#/parameters/QuotaRequestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Returning the status for all relevant quota requests .",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetailsByName"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "QuotaRequests"
        ],
        "summary": "Deletes the QuotaRequest by name for the resources for the resource  provider at a specific location.",
        "description": "For the specified location, deletes the quota request by request name for resources under the subscription. Delete will not cancel the Quota Request in progress. It will only delete the completed requests, which can be rejected or succeeded quota requests.",
        "operationId": "QuotaRequests_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          },
          {
            "$ref": "#/parameters/QuotaRequestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Quota Request deleted."
          },
          "404": {
            "description": "Not found. Quota request for provided quotaRequest name not found"
          },
          "409": {
            "description": "Conflict. Quota request for provided quotaRequest is in processing state. Request cannot be deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Quota/providers/{providerId}/locations/{location}/quotaRequests": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "summary": "For the specified location and resource Provider, gets the current quota requests under the subscription over the time\n period of one year ago from now to one year back.",
        "description": "For the specified location and Resource provider gets the current quota requests under the subscription over the time period of one year ago from now to one year back. oData filter can be used to select quota requests.",
        "operationId": "QuotaRequest_StatusList",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "| Field                    | Supported operators  \n|---------------------|------------------------\n\r\n|requestSubmitTime | ge, le, eq, gt, lt\n"
          },
          {
            "$ref": "#/parameters/SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/TopQueryParameter"
          }
        ],
		
		"x-ms-pageable": {
			"nextLinkName": "nextLink"
		},
        "responses": {
          "200": {
            "description": "Ok. Sending Quota request status and details",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetailsByNameList"
            }
          },
          "404": {
            "description": "Not found. Quota requests for provided quotaRequest not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
		}
      }
    }
  },
  "definitions": {
    "CreateGenericQuotaRequestParameter": {
      "description": "Generic Quota change request information for a resource Provider.",
      "properties": {
        "limit": {
          "description": "The requested limit.",
          "type": "integer"
        },
        "name": {
		  "description": "Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.",
          "properties": {
            "localizedValue": {
              "type": "string",
              "description": "Resource display name.",
              "readOnly": true
            },
            "value": {
              "type": "string",
              "description": "Resource name.",
              "readOnly": true
            }
          }
        },
        "resourceType": {
          "description": "The resource type for the specific resource provider. For example, BatchAI has a resource type of ‘dedicated lowPriority cluster’. Call the /usages API and use the resource type and resource name from that API. This is an optional field because some resources, like compute, do not have a resource type.",
          "type": "string"
        },
        "unit": {
          "description": "The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
          "type": "string"
        },
        "quotaPeriod": {
          "description": "The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn’t matter.",
          "type": "string"
        }
      }
    },
    "CreateGenericQuotaRequestParameters": {
      "description": "Quota change requests information.",
      "properties": {
        "quotaRequests": {
		  "description": "Quota change requests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateGenericQuotaRequestParameter"
          }
        }
      }
    },
    "CurrentQuotaLimit": {
      "description": "Current Quota limits.",
      "properties": {
        "id": {
          "description": "The full resource path.",
          "type": "string",
          "readOnly": true
        },
        "limit": {
          "description": "The quota limit.",
          "type": "integer",
          "readOnly": false
        },
        "currentValue": {
          "description": "The current resource usages information.",
          "type": "integer",
          "readOnly": true
        },
        "name": {
		  "description": "Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.",
          "properties": {
            "localizedValue": {
              "description": "Resource display name.",
              "type": "string",
              "readOnly": true
            },
            "value": {
              "description": "Resource name.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "resourceType": {
          "description": "The resource type for the specific resource provider. For example, BatchAI has a resource type of ‘dedicated lowPriority cluster’. Call the /usages API and use the resource type and resource name from that API. This is an optional field because some resources, like compute, do not have a resource type.",
          "type": "string"
        },
        "unit": {
          "description": " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
          "type": "string"
        },
        "quotaPeriod": {
          "description": "The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn’t matter.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CurrentQuotaLimits": {
      "description": "Current Quota limits.",
      "properties": {
        "value": {
		  "description": "List of current Quota limits.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimit"
          }
        },
        "nextLink": {
          "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "SubRequest": {
      "description": "The sub-request submitted with the quota request.",
      "properties": {
        "limit": {
          "description": "The Resource limit.",
          "type": "integer",
		  "readOnly": true
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "name": {
		  "description": "The Resource name.",
          "properties": {
            "localizedValue": {
              "description": "Resource display name.",
              "type": "string",
              "readOnly": true
            },
            "value": {
              "description": "Resource name.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "resourceType": {
          "description": "Resource type for which the quota check was made.",
          "type": "string",
          "readOnly": true
        },
        "requestStatus": {
          "$ref": "#/definitions/QuotaRequestState"
        }
      }
    },
    "QuotaRequestDetailsByName": {
      "description": "The details of the quota Request.",
      "properties": {
        "requestName": {
          "description": "The quota request Name.",
          "type": "string",
          "readOnly": true
        },
        "requestSubmitTime": {
          "description": "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "requestStatus": {
		 "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "quotaRequests": {
		  "description": "The quotaRequests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRequest"
          }
        }
      }
    },
    "QuotaRequestDetailsByNameList": {
      "description": "Quota requests information.",
      "properties": {
        "quotaRequests": {
		  "description": "The quotaRequests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaRequestDetailsByName"
          }
        },
        "nextLink": {
          "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "QuotaRequestState": {
      "description": "The quota request status.",
      "enum": [
        "Accepted",
        "Invalid",
        "Success",
        "Failed",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "QuotaRequestState",
        "modelAsString": true
      }
    },
    "ExceptionResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ServiceError",
          "description": "The api error details."
        }
      },
      "description": "The api error."
    },
    "ServiceError": {
      "description": "The api error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceErrorDetail"
          },
          "description": "The list of error details.",
          "readOnly": true
        }
      }
    },
    "ServiceErrorDetail": {
      "description": "The error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The error message."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure subscription id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Api version."
    },
    "LocationIdParameter": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure data center location.",
      "x-ms-parameter-location": "method"
    },
    "ProviderIdParameter": {
      "name": "providerId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure resource Provider id.",
      "x-ms-parameter-location": "method"
    },
    "QuotaRequestNameParameter": {
      "name": "requestName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The QuotaRequest Name.",
      "x-ms-parameter-location": "client"
    },
    "SkipQueryParameter": {
      "name": "$skip",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to skip.",
      "minimum": 0,
      "x-ms-parameter-location": "method"
    },
    "TopQueryParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to return.",
      "minimum": 1,
      "x-ms-parameter-location": "method"
    }
  }
}
