{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft HorizonDb Management API",
    "version": "2026-01-20-preview",
    "description": "Azure Resource Provider API for managing HorizonDb clusters, pools, replicas, and firewall rules",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HorizonDbClusters"
    },
    {
      "name": "HorizonDbPools"
    },
    {
      "name": "HorizonDbReplicas"
    },
    {
      "name": "HorizonDbFirewallRules"
    },
    {
      "name": "HorizonDbPrivateEndpointConnections"
    },
    {
      "name": "HorizonDbPrivateLinkResources"
    },
    {
      "name": "HorizonDbParameterGroups"
    }
  ],
  "paths": {
    "/providers/Microsoft.HorizonDb/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations for Microsoft.HorizonDb": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HorizonDb/clusters": {
      "get": {
        "operationId": "HorizonDBClusters_ListBySubscription",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Lists all HorizonDb clusters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB clusters in a subscription": {
            "$ref": "./examples/Clusters_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HorizonDb/parameterGroups": {
      "get": {
        "operationId": "HorizonDBParameterGroups_ListBySubscription",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Lists all HorizonDb parameter groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbParameterGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB parameter groups in a subscription": {
            "$ref": "./examples/ParameterGroups_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters": {
      "get": {
        "operationId": "HorizonDBClusters_ListByResourceGroup",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Lists all HorizonDb clusters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB clusters in a resource group": {
            "$ref": "./examples/Clusters_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}": {
      "get": {
        "operationId": "HorizonDBClusters_Get",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Gets information about a HorizonDb cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB cluster": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDBClusters_CreateOrUpdate",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Creates a new HorizonDb cluster or updates an existing cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBCluster"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDB cluster": {
            "$ref": "./examples/Clusters_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDBCluster"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDBClusters_Update",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Updates an existing HorizonDb cluster (e.g., tags, virtual cores, replica count).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBClusterForPatchUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBCluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a HorizonDB cluster": {
            "$ref": "./examples/Clusters_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/HorizonDBCluster"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDBClusters_Delete",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Deletes a HorizonDb cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDB cluster": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools": {
      "get": {
        "operationId": "HorizonDBPools_List",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Lists all HorizonDb pools in a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB pools in a cluster": {
            "$ref": "./examples/Pools_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}": {
      "get": {
        "operationId": "HorizonDBPools_Get",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Gets information about a HorizonDb pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB pool": {
            "$ref": "./examples/Pools_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/firewallRules": {
      "get": {
        "operationId": "HorizonDBFirewallRules_List",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Lists all HorizonDb firewall rules in a pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB firewall rules in a pool": {
            "$ref": "./examples/FirewallRules_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/firewallRules/{firewallRuleName}": {
      "get": {
        "operationId": "HorizonDBFirewallRules_Get",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Gets information about a HorizonDb firewall rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBFirewallRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB firewall rule": {
            "$ref": "./examples/FirewallRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDBFirewallRules_CreateOrUpdate",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Creates a new HorizonDb firewall rule or updates an existing rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBFirewallRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbFirewallRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBFirewallRule"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbFirewallRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBFirewallRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDB firewall rule": {
            "$ref": "./examples/FirewallRules_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDBFirewallRule"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDBFirewallRules_Delete",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Deletes a HorizonDb firewall rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDB firewall rule": {
            "$ref": "./examples/FirewallRules_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/replicas": {
      "get": {
        "operationId": "HorizonDBReplicas_List",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Lists all HorizonDb replicas in a pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplicaListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB replicas in a pool": {
            "$ref": "./examples/Replicas_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/replicas/{replicaName}": {
      "get": {
        "operationId": "HorizonDBReplicas_Get",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Gets information about a HorizonDb replica.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBReplica"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB replica": {
            "$ref": "./examples/Replicas_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDBReplicas_CreateOrUpdate",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Creates a new HorizonDb replica or updates an existing replica.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBReplica"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbReplica' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBReplica"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbReplica' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBReplica"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDB replica": {
            "$ref": "./examples/Replicas_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDBReplica"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDBReplicas_Update",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Updates an existing HorizonDb replica (e.g., role).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBReplicaForPatchUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBReplica"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a HorizonDB replica": {
            "$ref": "./examples/Replicas_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/HorizonDBReplica"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDBReplicas_Delete",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Deletes a HorizonDb replica.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDB replica": {
            "$ref": "./examples/Replicas_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateEndpointConnections": {
      "get": {
        "operationId": "HorizonDBPrivateEndpointConnections_List",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Lists private endpoint connections in a HorizonDb cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB private endpoint connections on a cluster": {
            "$ref": "./examples/PrivateEndpointConnections_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "HorizonDBPrivateEndpointConnections_Get",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Gets a private endpoint connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateLinkResources": {
      "get": {
        "operationId": "HorizonDBPrivateLinkResources_List",
        "tags": [
          "HorizonDbPrivateLinkResources"
        ],
        "description": "Lists private link resources in a HorizonDb cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List  HorizonDB private link resources for a cluster": {
            "$ref": "./examples/PrivateLinkResources_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateLinkResources/{groupName}": {
      "get": {
        "operationId": "HorizonDBPrivateLinkResources_Get",
        "tags": [
          "HorizonDbPrivateLinkResources"
        ],
        "description": "Gets a private link resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "The name of the private link resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBPrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB private link resource for a cluster": {
            "$ref": "./examples/PrivateLinkResources_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/parameterGroups": {
      "get": {
        "operationId": "HorizonDBParameterGroups_ListByResourceGroup",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Lists all HorizonDb parameter groups in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbParameterGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB parameter groups in a resource group": {
            "$ref": "./examples/ParameterGroups_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/parameterGroups/{parameterGroupName}": {
      "get": {
        "operationId": "HorizonDBParameterGroups_Get",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Gets information about a HorizonDb parameter group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameterGroupName",
            "in": "path",
            "description": "The name of the HorizonDb parameter group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBParameterGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDB parameter group": {
            "$ref": "./examples/ParameterGroups_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDBParameterGroups_CreateOrUpdate",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Creates a new HorizonDb parameter group or updates an existing parameter group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameterGroupName",
            "in": "path",
            "description": "The name of the HorizonDb parameter group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBParameterGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbParameterGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBParameterGroup"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbParameterGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDBParameterGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDB parameter group": {
            "$ref": "./examples/ParameterGroups_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDBParameterGroup"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDBParameterGroups_Update",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Updates an existing HorizonDb parameter group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameterGroupName",
            "in": "path",
            "description": "The name of the HorizonDb parameter group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBParameterGroupForPatchUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDBParameterGroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a HorizonDB parameter group": {
            "$ref": "./examples/ParameterGroups_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/HorizonDBParameterGroup"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDBParameterGroups_Delete",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Deletes a HorizonDb parameter group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameterGroupName",
            "in": "path",
            "description": "The name of the HorizonDb parameter group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDB parameter group": {
            "$ref": "./examples/ParameterGroups_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/parameterGroups/{parameterGroupName}/connections": {
      "get": {
        "operationId": "HorizonDBParameterGroups_ListConnections",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Gets all connections to a parameter group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameterGroupName",
            "in": "path",
            "description": "The name of the HorizonDb parameter group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbParameterGroupConnectionPropertiesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters connected to a HorizonDB parameter group": {
            "$ref": "./examples/ParameterGroups_ListConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/parameterGroups/{parameterGroupName}/versions": {
      "get": {
        "operationId": "HorizonDBParameterGroups_ListVersions",
        "tags": [
          "HorizonDbParameterGroups"
        ],
        "description": "Lists parameter groups filtered by version number.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameterGroupName",
            "in": "path",
            "description": "The name of the HorizonDb parameter group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "version",
            "in": "query",
            "description": "The version number to filter by.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbParameterGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDB parameter groups filtered by version": {
            "$ref": "./examples/ParameterGroups_ListVersions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/privateEndpointConnections/{privateEndpointConnectionName}": {
      "patch": {
        "operationId": "HorizonDBPrivateEndpointConnections_UpdatePrivateEndpointConnection",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Updates a private endpoint connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDBPrivateEndpointConnectionPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Approve or reject a HorizonDB private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDBPrivateEndpointConnections_DeletePrivateEndpointConnection",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDB private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "HorizonDBCluster": {
      "type": "object",
      "description": "Represents the HorizonDb cluster.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDBClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HorizonDBClusterForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb cluster for update operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/HorizonDBClusterPropertiesForPatchUpdate",
          "description": "The properties that can be updated for a HorizonDb cluster."
        }
      }
    },
    "HorizonDBClusterParameterGroupConnectionProperties": {
      "type": "object",
      "description": "Connection information for HorizonDb parameter group.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the connected parameter group.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "syncStatus": {
          "type": "string",
          "description": "Indication of if parameter group is applied on HorizonDb resource.",
          "readOnly": true
        },
        "applyImmediately": {
          "type": "boolean",
          "description": "Indicates whether the parameters should be applied immediately.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        }
      }
    },
    "HorizonDBClusterProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb cluster.",
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator login name.",
          "minLength": 1,
          "maxLength": 63,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password.",
          "minLength": 8,
          "maxLength": 128,
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        },
        "version": {
          "type": "string",
          "description": "The version of the HorizonDb cluster."
        },
        "createMode": {
          "$ref": "#/definitions/HorizonDBCreateModeCluster",
          "description": "The mode to create a new HorizonDb cluster."
        },
        "pointInTimeUTC": {
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time specifying the time to restore from."
        },
        "sourceClusterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The source cluster resource ID for restore or replica creation."
        },
        "poolName": {
          "type": "string",
          "description": "The pool name for restore or replica operations."
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas.",
          "minimum": 1,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "vCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of vCores.",
          "minimum": 1,
          "maximum": 96,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "processorType": {
          "type": "string",
          "description": "The processor type for the HorizonDb cluster."
        },
        "network": {
          "$ref": "#/definitions/Network",
          "description": "The network related info."
        },
        "state": {
          "$ref": "#/definitions/HorizonDBClusterState",
          "description": "Current state of the cluster.",
          "readOnly": true
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of the cluster.",
          "readOnly": true
        },
        "readonlyEndpoint": {
          "type": "string",
          "description": "The fully qualified domain name used for readonly endpoint for the cluster.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/HorizonDBProvisioningState",
          "description": "The provisioning state of the cluster.",
          "readOnly": true
        },
        "zonePlacementPolicy": {
          "$ref": "#/definitions/HorizonDBZonePlacementPolicy",
          "description": "Defines how replicas are placed across availability zones.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "parameterGroup": {
          "$ref": "#/definitions/HorizonDBClusterParameterGroupConnectionProperties",
          "description": "Defines connection to a parameter group.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        }
      },
      "required": [
        "administratorLogin"
      ]
    },
    "HorizonDBClusterPropertiesForPatchUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb cluster for update operations.",
      "properties": {
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password.",
          "minLength": 8,
          "maxLength": 128,
          "x-ms-mutability": [
            "update"
          ],
          "x-ms-secret": true
        },
        "vCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of vCores.",
          "minimum": 1,
          "maximum": 96,
          "x-ms-mutability": [
            "update"
          ]
        },
        "parameterGroup": {
          "$ref": "#/definitions/HorizonDBClusterParameterGroupConnectionProperties",
          "description": "Defines connection to a parameter group."
        }
      }
    },
    "HorizonDBClusterState": {
      "type": "string",
      "description": "Current states.",
      "enum": [
        "Ready",
        "Dropping",
        "Disabled",
        "Starting",
        "Stopping",
        "Stopped",
        "Updating",
        "Healthy"
      ],
      "x-ms-enum": {
        "name": "HorizonDBClusterState",
        "modelAsString": true,
        "values": [
          {
            "name": "Ready",
            "value": "Ready",
            "description": "Is ready and operational"
          },
          {
            "name": "Dropping",
            "value": "Dropping",
            "description": "Is being dropped/deleted"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Is disabled"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Is starting up"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Is stopping"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Is stopped"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Is being updated"
          },
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "Is healthy"
          }
        ]
      }
    },
    "HorizonDBCreateModeCluster": {
      "type": "string",
      "description": "The mode to create a new HorizonDb cluster.",
      "enum": [
        "Create",
        "Update",
        "PointInTimeRestore"
      ],
      "x-ms-enum": {
        "name": "HorizonDBCreateModeCluster",
        "modelAsString": true,
        "values": [
          {
            "name": "Create",
            "value": "Create",
            "description": "Create a new cluster"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "Update an existing cluster"
          },
          {
            "name": "PointInTimeRestore",
            "value": "PointInTimeRestore",
            "description": "Create cluster from point-in-time restore"
          }
        ]
      }
    },
    "HorizonDBCreateModePool": {
      "type": "string",
      "description": "The mode to create a new HorizonDb cluster.",
      "enum": [
        "Create",
        "Update"
      ],
      "x-ms-enum": {
        "name": "HorizonDBCreateModePool",
        "modelAsString": true,
        "values": [
          {
            "name": "Create",
            "value": "Create",
            "description": "Create a new pool"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "Update an existing pool"
          }
        ]
      }
    },
    "HorizonDBFirewallRule": {
      "type": "object",
      "description": "Represents the HorizonDb firewall rule.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDBFirewallRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDBFirewallRuleProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb firewall rule.",
      "properties": {
        "startIpAddress": {
          "type": "string",
          "description": "The start IP address of the firewall rule (IPv4).",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "endIpAddress": {
          "type": "string",
          "description": "The end IP address of the firewall rule (IPv4).",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the HorizonDb firewall rule.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/HorizonDBProvisioningState",
          "description": "The provisioning state of the firewall rule.",
          "readOnly": true
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ]
    },
    "HorizonDBParameterGroup": {
      "type": "object",
      "description": "Represents the HorizonDb parameter group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDBParameterGroupProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HorizonDBParameterGroupConnectionProperties": {
      "type": "object",
      "description": "Connection information for HorizonDb parameter group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the connected resource.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the connected resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        }
      }
    },
    "HorizonDBParameterGroupForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb parameter group for update operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/HorizonDBParameterGroupPropertiesForPatchUpdate",
          "description": "The properties that can be updated for a HorizonDb parameter group."
        }
      }
    },
    "HorizonDBParameterGroupProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb parameter group.",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters in the parameter group.",
          "items": {
            "$ref": "#/definitions/HorizonDBParameterProperties"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the parameter group.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "pgVersion": {
          "type": "integer",
          "format": "int32",
          "description": "PostgreSQL version for the parameter group.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Current version of the parameter group.",
          "readOnly": true
        },
        "applyImmediately": {
          "type": "boolean",
          "description": "Indicates whether the parameters should be applied immediately.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/HorizonDBProvisioningState",
          "description": "The provisioning state of the parameter group.",
          "readOnly": true
        }
      }
    },
    "HorizonDBParameterGroupPropertiesForPatchUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb parameter group for update operations.",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters in the parameter group.",
          "items": {
            "$ref": "#/definitions/HorizonDBParameterProperties"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "update"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the parameter group.",
          "x-ms-mutability": [
            "update"
          ]
        },
        "applyImmediately": {
          "type": "boolean",
          "description": "Indicates whether the parameters should be applied immediately.",
          "x-ms-mutability": [
            "update"
          ]
        }
      }
    },
    "HorizonDBParameterProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb parameters.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "description": {
          "type": "string",
          "description": "The description of the parameter.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The value of the configuration."
        },
        "dataType": {
          "type": "string",
          "description": "The data type of the parameter.",
          "readOnly": true
        },
        "allowedValues": {
          "type": "string",
          "description": "The allowed values for the parameter.",
          "readOnly": true
        },
        "isDynamic": {
          "type": "boolean",
          "description": "Whether the parameter can be changed dynamically.",
          "readOnly": true
        },
        "isReadOnly": {
          "type": "boolean",
          "description": "Whether the parameter is a read-only parameter.",
          "readOnly": true
        },
        "documentationLink": {
          "type": "string",
          "format": "uri",
          "description": "Link to parameter documentation.",
          "readOnly": true
        },
        "unit": {
          "type": "string",
          "description": "The unit of measurement for the parameter.",
          "readOnly": true
        }
      }
    },
    "HorizonDBPool": {
      "type": "object",
      "description": "Represents the HorizonDb pool.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDBPoolProperties",
          "description": "The resource-specific properties for this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDBPoolProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb pool.",
      "properties": {
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the HorizonDb pool.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/HorizonDBClusterState",
          "description": "Current state of the pool.",
          "readOnly": true
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas in the pool.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The version of the HorizonDb pool.",
          "readOnly": true
        },
        "createMode": {
          "$ref": "#/definitions/HorizonDBCreateModePool",
          "description": "The create mode for the pool.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/HorizonDBProvisioningState",
          "description": "The provisioning state of the pool.",
          "readOnly": true
        }
      }
    },
    "HorizonDBPrivateEndpointConnectionPatch": {
      "type": "object",
      "description": "PATCH model for private endpoint connections",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The private endpoint connection properties",
          "properties": {
            "privateEndpoint": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpoint",
              "description": "The private endpoint resource."
            },
            "privateLinkServiceConnectionState": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkServiceConnectionState",
              "description": "A collection of information about the state of the connection between service consumer and provider."
            }
          }
        }
      }
    },
    "HorizonDBPrivateLinkResource": {
      "type": "object",
      "description": "Represents the HorizonDb private link resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDBProvisioningState": {
      "type": "string",
      "description": "The provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "InProgress",
        "Provisioning"
      ],
      "x-ms-enum": {
        "name": "HorizonDBProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Provisioning completed successfully"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Provisioning was canceled"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Provisioning is in progress"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning is in progress"
          }
        ]
      },
      "readOnly": true
    },
    "HorizonDBPublicNetworkAccessState": {
      "type": "string",
      "description": "Indicates if public network access is enabled or not.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "HorizonDBPublicNetworkAccessState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Public network access is enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Public network access is disabled"
          }
        ]
      }
    },
    "HorizonDBReplica": {
      "type": "object",
      "description": "Represents the HorizonDb replica.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDBReplicaProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDBReplicaForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb replica for update operations.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDBReplicaPropertiesForPatchUpdate",
          "description": "Properties of a HorizonDb replica for update operations."
        }
      }
    },
    "HorizonDBReplicaProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb replica.",
      "properties": {
        "role": {
          "$ref": "#/definitions/HorizonDBReplicaRole",
          "description": "Role of the replica.",
          "x-ms-mutability": [
            "read",
[...]
