{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "Autopilot Environment Provider",
    "version": "2020-06-09"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/autopilotEnvironments/{resourceName}": {
      "put": {
        "description": "Create Update environment.",
        "operationId": "Environment_CreateUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create or update environment": {
            "$ref": "./examples/createOrUpdateEnvironment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "EnvironmentResource",
            "description": "Environment details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Environment Resource create response.",
            "schema": {
              "$ref": "#/definitions/AutopilotEnvironmentResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
            "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
      },
      "get": {
        "description": "Returns an Environment info",
        "operationId": "EnvironmentInfo_Get",
        "x-ms-examples": {
          "Get environment": {
            "$ref": "./examples/getEnvironment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Environment info.",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete Environment",
        "operationId": "Environment_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete environment": {
            "$ref": "./examples/deleteEnvironment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete Environment.",
            "schema": {
              "$ref": "#/definitions/AutopilotEnvironmentResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.AzureCIS/locations/{location}/operationsStatus/{operationId}": {
      "get": {
        "description": "Get Operation Status",
        "operationId": "OperationStatus_Get",
        "x-ms-examples": {
          "Get environment": {
            "$ref": "./examples/getOperationStatus.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/OperationIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Operation ID",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.AzureCIS/Operations": {
      "get": {
        "description": "List operations",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get environment": {
            "$ref": "./examples/getOperationList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List Operations",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "EnvironmentResource": {
      "required": [
        "modelEnvironment",
        "mode",
        "enlistmentType",
        "naming"
      ],
      "type": "object",
      "description": "Environment details",
      "properties": {
        "modelEnvironment": {
          "type": "string",
          "description": "Name of the source environment and cluster"
        },
        "mode": {
          "type": "string",
          "description": "Basic or All Mode indicate clone customer config file or just basic file"
        },
        "enlistmentType": {
          "type": "string",
          "description": "Indicate APGold or PFGold"
        },
        "naming": {
          "type": "object",
          "description": "Target environment/Cluster name",
          "properties": {
            "prefix": {
              "type": "string",
              "description": "Target environment prefix"
            },
            "cluster": {
              "type": "string",
              "description": "Target cluster name"
            }
          }
        }
      }
    },
    "OperationStatusResponse": {
      "required": [
        "id",
        "status",
        "environmentResource"
      ],
      "type": "object",
      "description": "Operation Status response",
      "properties": {
        "id": {
          "type": "string",
          "description": "subscriptions/{id}/providers/{providerName}/locations/{location}/operationsStatus/{id}"
        },
        "location": {
          "type": "string",
          "description": "Location"
        }
        "provisioningState": {
          "type": "string",
          "description": "RP defined values | Succeeded | Failed | Canceled"
        },
        "startTime": {
          "type": "string",
          "description": "<DateLiteral per ISO8601>",
          "default": "2020-01-01T00:00:00+00:00"
        },
        "endTime": {
          "type": "string",
          "description": "<DateLiteral per ISO8601>",
          "default": "2020-01-01T00:00:00+00:00"
        },
        "percentComplete": {
          "type": "string",
          "description": "<double between 0 and 100>",
          "default": "0.0"
        },
        "environmentResource": {
          "$ref": "#/definitions/EnvironmentResource",
          "description": "EnvironmentResource detail"
        }
      }
    },
    "AutopilotEnvironmentResponse": {
      "required": [
        "location",
        "provisioningState",
        "environmentResource"
      ],
      "type": "object",
      "description": "Autopilot Environment Response",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location such as North US"
        },
        "provisioningState": {
          "type": "string",
          "description": "accept"
        },
        "environmentResource": {
          "$ref": "#/definitions/EnvironmentResource",
          "description": "EnvironmentResource detail"
        }
      }
    },
    "OperationListResult": {
      "required": [
        "nextLink",
        "value"
      ],
      "type": "object",
      "description": "Autopilot Environment Response",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        },
        "value": {
          "description": "List of Microsoft.AzureCIS operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "Operation": {
      "required": [
        "name",
        "display"
      ],
      "type": "object",
      "description": "Autopilot Environment Response",
      "properties": {
        "name": {
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}"
        },
        "display": {
          "$ref": "#/definitions/Display",
          "description": "The object that represents the operation."
        }
      }
    },
    "Display": {
      "required": [
        "description",
        "operation",
        "provider",
        "resource"
      ],
      "type": "object",
      "description": "The object that represents the operation.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the operation."
        },
        "operation": {
          "type": "string",
          "description": "Operation type: Read, write, delete, etc."
        },
        "provider": {
          "type": "string",
          "description": "Service provider: Microsoft.AzureCIS"
        },
        "resource": {
          "type": "string",
          "description": "Resource on which the operation is performed: Profile, endpoint, etc."
        },
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "ResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource.",
      "x-ms-parameter-location": "method"
    },
    "EnvironmentNameParameter": {
      "name": "Environment Name",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of Environment.",
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "name": "Operation ID",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id of operation.",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "name": "Location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Location.",
      "x-ms-parameter-location": "method"
    }
  }
}