{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Migration Service",
    "version": "2025-12-01-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MigrateProjects"
    },
    {
      "name": "Waves"
    },
    {
      "name": "MigrationEntities"
    },
    {
      "name": "MigrationEntityGroups"
    },
    {
      "name": "Tasks"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/generateWavePlan": {
      "post": {
        "operationId": "MigrateProjects_GenerateWavePlan",
        "tags": [
          "MigrateProjects"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateWavePlanRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateWavePlanResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProjects_GenerateWavePlan_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrateProjects_GenerateWavePlan_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/migrationEntities": {
      "get": {
        "operationId": "MigrationEntities_ListByParent",
        "tags": [
          "MigrationEntities"
        ],
        "description": "List MigrationEntity resources by MigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationEntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntities_ListByParent_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntities_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/migrationEntities/{migrationEntityName}": {
      "get": {
        "operationId": "MigrationEntities_Get",
        "tags": [
          "MigrationEntities"
        ],
        "description": "Get a MigrationEntity",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "migrationEntityName",
            "in": "path",
            "description": "Migration Entity ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntities_Get_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntities_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MigrationEntities_Create",
        "tags": [
          "MigrationEntities"
        ],
        "description": "Create a MigrationEntity",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "migrationEntityName",
            "in": "path",
            "description": "Migration Entity ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationEntity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MigrationEntity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationEntity"
            }
          },
          "201": {
            "description": "Resource 'MigrationEntity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationEntity"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntities_Create_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntities_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MigrationEntities_Delete",
        "tags": [
          "MigrationEntities"
        ],
        "description": "Delete a MigrationEntity",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "migrationEntityName",
            "in": "path",
            "description": "Migration Entity ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntities_Delete_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntities_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/migrationEntityGroups": {
      "get": {
        "operationId": "MigrationEntityGroups_ListByParent",
        "tags": [
          "MigrationEntityGroups"
        ],
        "description": "List MigrationEntityGroup resources by MigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationEntityGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntityGroups_ListByParent_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntityGroups_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/migrationEntityGroups/{migrationEntityGroupName}": {
      "get": {
        "operationId": "MigrationEntityGroups_Get",
        "tags": [
          "MigrationEntityGroups"
        ],
        "description": "Get a MigrationEntityGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "migrationEntityGroupName",
            "in": "path",
            "description": "Migration Entity Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationEntityGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntityGroups_Get_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntityGroups_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MigrationEntityGroups_Create",
        "tags": [
          "MigrationEntityGroups"
        ],
        "description": "Create a MigrationEntityGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "migrationEntityGroupName",
            "in": "path",
            "description": "Migration Entity Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationEntityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MigrationEntityGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationEntityGroup"
            }
          },
          "201": {
            "description": "Resource 'MigrationEntityGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationEntityGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntityGroups_Create_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntityGroups_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MigrationEntityGroups_Delete",
        "tags": [
          "MigrationEntityGroups"
        ],
        "description": "Delete a MigrationEntityGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "migrationEntityGroupName",
            "in": "path",
            "description": "Migration Entity Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrationEntityGroups_Delete_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/MigrationEntityGroups_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/taskSummary": {
      "post": {
        "operationId": "Tasks_GetSummary",
        "tags": [
          "Tasks"
        ],
        "description": "Retrieves task summary across all tasks in the project.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskSummaryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TaskSummaryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_GetSummary_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Tasks_GetSummary_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/tasks": {
      "get": {
        "operationId": "Tasks_ListByParent",
        "tags": [
          "Tasks"
        ],
        "description": "List Task resources by MigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TaskListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_ListByParent_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Tasks_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/tasks/{taskName}": {
      "get": {
        "operationId": "Tasks_Get",
        "tags": [
          "Tasks"
        ],
        "description": "Get a Task",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Task ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Get_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Tasks_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Tasks_Create",
        "tags": [
          "Tasks"
        ],
        "description": "Create a Task",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Task ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Task' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "201": {
            "description": "Resource 'Task' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Task"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Create_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Tasks_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Tasks_Delete",
        "tags": [
          "Tasks"
        ],
        "description": "Delete a Task",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Task ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Delete_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Tasks_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/waves": {
      "get": {
        "operationId": "Waves_ListByParent",
        "tags": [
          "Waves"
        ],
        "description": "List Wave resources by MigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WaveListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Waves_ListByParent_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Waves_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/waves/{waveName}": {
      "get": {
        "operationId": "Waves_Get",
        "tags": [
          "Waves"
        ],
        "description": "Get a Wave",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "waveName",
            "in": "path",
            "description": "Migration Wave Resource",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wave"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Waves_Get_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Waves_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Waves_Create",
        "tags": [
          "Waves"
        ],
        "description": "Create a Wave",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "waveName",
            "in": "path",
            "description": "Migration Wave Resource",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wave"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Wave' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Wave"
            }
          },
          "201": {
            "description": "Resource 'Wave' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Wave"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Waves_Create_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Waves_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Waves_Delete",
        "tags": [
          "Waves"
        ],
        "description": "Delete a Wave",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "waveName",
            "in": "path",
            "description": "Migration Wave Resource",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Waves_Delete_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Waves_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/waves/{waveName}/refresh": {
      "post": {
        "operationId": "Waves_Refresh",
        "tags": [
          "Waves"
        ],
        "description": "Refresh operation to update wave",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "waveName",
            "in": "path",
            "description": "Migration Wave Resource",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WaveProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Waves_Refresh_MaximumSet - generated by [MaximumSet] rule - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Waves_Refresh_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Arg": {
      "type": "object",
      "description": "ARG query and other details to create workloads within a wave.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query to create workloads within the wave."
        }
      },
      "required": [
        "query"
      ]
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "GenerateWavePlanRequest": {
      "type": "object",
      "description": "Data model of Download URL for wave recommendation report.",
      "properties": {
        "assessmentArmId": {
          "type": "string",
          "description": "ARM Id of the assessment for which the wave plan report is to be generated."
        },
        "migrationPath": {
          "type": "string",
          "description": "Optional. Specify the migration path for which the wave plan report is to be generated. If not specified, the default will be used"
        }
      }
    },
    "GenerateWavePlanResponse": {
      "type": "object",
      "description": "Data model of Download URL for wave recommendation report.",
      "properties": {
        "sasUri": {
          "type": "string",
          "description": "Hyperlink to download report.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date of download url.",
          "readOnly": true
        }
      },
      "required": [
        "sasUri",
        "expirationTime"
      ]
    },
    "Items": {
      "type": "string",
      "description": "Items Enum",
      "enum": [
        "ServerDiscovery",
        "ServerAssessment",
        "ServerMigration",
        "Cloudamize",
        "Turbonomic",
        "Zerto",
        "CorentTech",
        "ServerAssessmentV1",
        "ServerMigration_Replication",
        "Carbonite",
        "DataMigrationAssistant",
        "DatabaseMigrationService",
        "Device42",
        "JetStream",
        "RackWare",
        "UnifyCloud",
        "Flexera",
        "ServerDiscovery_Import",
        "Lakeside",
        "AppServiceMigrationAssistant",
        "Movere",
        "CloudSphere",
        "Modernization",
        "ServerMigration_DataReplication",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "Items",
        "modelAsString": true,
        "values": [
          {
            "name": "ServerDiscovery",
            "value": "ServerDiscovery",
            "description": "Server Discovery Item"
          },
          {
            "name": "ServerAssessment",
            "value": "ServerAssessment",
            "description": "Server Assessment Item"
          },
          {
            "name": "ServerMigration",
            "value": "ServerMigration",
            "description": "Server Migration Item"
          },
          {
            "name": "Cloudamize",
            "value": "Cloudamize",
            "description": "Cloudamize Item"
          },
          {
            "name": "Turbonomic",
            "value": "Turbonomic",
            "description": "Turbonomic Item"
          },
          {
            "name": "Zerto",
            "value": "Zerto",
            "description": "Zerto Item"
          },
          {
            "name": "CorentTech",
            "value": "CorentTech",
            "description": "CorentTech Item"
          },
          {
            "name": "ServerAssessmentV1",
            "value": "ServerAssessmentV1",
            "description": "ServerAssessmentV1"
          },
          {
            "name": "ServerMigration_Replication",
            "value": "ServerMigration_Replication",
            "description": "ServerMigration_Replication"
          },
          {
            "name": "Carbonite",
            "value": "Carbonite",
            "description": "Carbonite Item"
          },
          {
            "name": "DataMigrationAssistant",
            "value": "DataMigrationAssistant",
            "description": "DataMigrationAssistant Item"
          },
          {
            "name": "DatabaseMigrationService",
            "value": "DatabaseMigrationService",
            "description": "DatabaseMigrationService Item"
          },
          {
            "name": "Device42",
            "value": "Device42",
            "description": "Device42 Item"
          },
          {
            "name": "JetStream",
            "value": "JetStream",
            "description": "JetStream Item"
          },
          {
            "name": "RackWare",
            "value": "RackWare",
            "description": "RackWare Item"
          },
          {
            "name": "UnifyCloud",
            "value": "UnifyCloud",
            "description": "UnifyCloud Item"
          },
          {
            "name": "Flexera",
            "value": "Flexera",
            "description": "Flexera Item"
          },
          {
            "name": "ServerDiscovery_Import",
            "value": "ServerDiscovery_Import",
            "description": "ServerDiscovery_Import Item."
          },
          {
            "name": "Lakeside",
            "value": "Lakeside",
            "description": "Lakeside Item"
          },
          {
            "name": "AppServiceMigrationAssistant",
            "value": "AppServiceMigrationAssistant",
            "description": "AppServiceMigrationAssistant Item"
          },
          {
            "name": "Movere",
            "value": "Movere",
            "description": "Movere Item"
          },
          {
            "name": "CloudSphere",
            "value": "CloudSphere",
            "description": "CloudSphere Item"
          },
          {
            "name": "Modernization",
            "value": "Modernization",
            "description": "Modernization Item"
          },
          {
            "name": "ServerMigration_DataReplication",
            "value": "ServerMigration_DataReplication",
            "description": "ServerMigration_DataReplication Item"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Item"
          }
        ]
      }
    },
    "MigrateProject": {
      "type": "object",
      "description": "A Migrate project Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrateProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MigrateProjectProperties": {
      "type": "object",
      "description": "Properties of a migrate project.",
      "properties": {
        "registeredTools": {
          "type": "array",
          "description": "Register tools inside project.",
          "items": {
            "$ref": "#/definitions/Items"
          },
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Service endpoint."
        },
        "summary": {
          "type": "object",
          "description": "Project summary.",
          "additionalProperties": {
            "$ref": "#/definitions/ProjectSummary"
          },
          "readOnly": true
        },
        "lastSummaryRefreshedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last summary refresh time.",
          "readOnly": true
        },
        "refreshSummaryState": {
          "$ref": "#/definitions/RefreshSummaryState",
          "description": "Refresh summary state.",
          "readOnly": true
        },
        "utilityStorageAccountId": {
          "type": "string",
          "description": "Utility storage account id."
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Gets or sets the state of public network access."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "Gets the private endpoint connections.",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        }
      }
    },
    "MigrationEntity": {
      "type": "object",
      "description": "Migration Entity resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrationEntityProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MigrationEntityGroup": {
      "type": "object",
      "description": "Migration Entity Group resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrationEntityGroupProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MigrationEntityGroupListResult": {
      "type": "object",
      "description": "The response of a MigrationEntityGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MigrationEntityGroup items on this page",
          "items": {
            "$ref": "#/definitions/MigrationEntityGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MigrationEntityGroupProperties": {
      "type": "object",
      "description": "Migration Entity Group Properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "applicationId": {
          "type": "string",
          "description": "Application id "
        },
        "applicationDisplayName": {
          "type": "string",
          "description": "Display Name of the Workload."
        },
        "associatedAssessmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Associated Assessment Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/assessmentProjects/assessments"
              }
            ]
          }
        },
        "associatedWaveIds": {
          "type": "array",
          "description": "associated Wave Id",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Migrate/migrateProjects/waves"
                }
              ]
            }
          }
        },
        "executionStatus": {
          "type": "string",
          "description": "Migration Entity Group Status",
          "readOnly": true
        },
        "executionStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Execution Start Date",
          "readOnly": true
        },
        "migrationPath": {
          "type": "string",
          "description": "Migration path"
        }
      },
      "required": [
        "applicationId",
        "applicationDisplayName"
      ]
    },
    "MigrationEntityListResult": {
      "type": "object",
      "description": "The response of a MigrationEntity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MigrationEntity items on this page",
          "items": {
            "$ref": "#/definitions/MigrationEntity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MigrationEntityProperties": {
      "type": "object",
      "description": "Migration Entity Properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "partnerResourceArmId": {
          "type": "string",
          "description": "ARM Resource Identifier for the partner resource."
        },
        "targetAzureResourceArmId": {
          "type": "string",
          "description": "target Azure Resource ARM Id."
        },
        "associatedInventoryResourceId": {
          "type": "string",
          "description": "inventory resource id "
        },
        "inventoryDisplayName": {
          "type": "string",
          "description": "Display Name of the Workload."
        },
        "associatedAssessmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Associated Assessment Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/assessmentProjects/assessments"
              }
            ]
          }
        },
        "associatedWaveId": {
          "type": "string",
          "format": "arm-id",
          "description": "associated Wave Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/migrateProjects/waves"
              }
            ]
          }
        },
        "associatedMigrationEntityGroupIds": {
          "type": "array",
          "description": "associated Migration Entity Group Id",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Migrate/migrateProjects/migrationEntityGroups"
                }
              ]
            }
          }
        },
        "executionStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Execution start date for Migration Entity.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Target of the Migration Entity."
        },
        "migrationStrategy": {
          "$ref": "#/definitions/Strategy",
          "description": "Strategy of Migration Entity.",
          "readOnly": true
        },
        "executionStage": {
          "type": "string",
          "description": "Execution Stage of Migration Entity.",
          "readOnly": true
        },
        "executionStatus": {
          "type": "string",
          "description": "Execution Status of Migration Entity.",
          "readOnly": true
        },
        "executionReadiness": {
          "type": "string",
          "description": "Execution Readiness of Migration Entity.",
          "readOnly": true
        },
        "migrationSpecificProperties": {
          "$ref": "#/definitions/MigrationSpecificPropertiesBase",
          "description": "Migration specific properties for the entity."
        },
        "migrationTool": {
          "type": "string",
          "description": "Migration Tool of the Migration Entity."
        },
        "migrationPath": {
          "type": "string",
          "description": "Migration path"
        },
        "assessedEntityArmId": {
          "type": "string",
          "description": "Assessed Entity ARM Id"
        }
      },
      "required": [
        "associatedInventoryResourceId",
        "inventoryDisplayName"
      ]
    },
    "MigrationSpecificPropertiesBase": {
      "type": "object",
      "description": "The base Migration Specific Properties model.",
      "properties": {
        "instanceType": {
          "$ref": "#/definitions/MigrationSpecificPropertiesInstanceType",
          "description": "Discriminator for migration specific properties."
        }
      },
      "discriminator": "instanceType",
      "required": [
        "instanceType"
      ]
    },
    "MigrationSpecificPropertiesInstanceType": {
      "type": "string",
      "description": "Migration Specific Properties Instance Types.",
      "enum": [
        "ServerMigration"
      ],
      "x-ms-enum": {
        "name": "MigrationSpecificPropertiesInstanceType",
        "modelAsString": true,
        "values": [
          {
            "name": "ServerMigration",
            "value": "ServerMigration"
          }
        ]
      }
    },
    "ProjectSummary": {
      "type": "object",
      "description": "Project summary.",
      "properties": {
        "instanceType": {
          "type": "string",
          "description": "Instance type.",
          "readOnly": true
        },
        "refreshSummaryState": {
          "$ref": "#/definitions/RefreshSummaryState",
          "description": "Refresh summary state."
        },
        "lastSummaryRefreshedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last summary refresh time."
        },
        "extendedSummary": {
          "type": "object",
          "description": "Extended summary.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource provisioning Successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource provisioning Canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource is being Provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being Updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being Deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource is being Accepted."
          }
        ]
      },
      "readOnly": true
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "Gets or sets the state of public network access.",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified Network Access"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled Network Access"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled Network Access"
          }
        ]
      }
    },
    "RefreshSummaryState": {
      "type": "string",
      "description": "Refresh summary state.",
      "enum": [
        "Started",
        "InProgress",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "RefreshSummaryState",
        "modelAsString": true,
        "values": [
          {
            "name": "Started",
            "value": "Started",
            "description": "Started State"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress State"
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Completed State"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed State"
          }
        ]
      }
    },
    "ServerMigrationSpecificProperties": {
      "type": "object",
      "description": "Represents a Server Migration Specific properties base model.",
      "properties": {
        "drApplianceInventoryId": {
          "type": "string",
          "format": "arm-id",
          "description": "A type definition that refers the id to an Azure Resource Manager resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectableItems"
              },
              {
                "type": "Microsoft.OffAzure/VMwareSites/machines"
              },
              {
                "type": "Microsoft.OffAzure/ServerSites/machines"
              }
            ]
          }
        },
        "currentJobId": {
          "type": "string",
          "format": "arm-id",
          "description": "A type definition that refers the id to an Azure Resource Manager resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.RecoveryServices/vaults/replicationJobs"
              }
            ]
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/MigrationSpecificPropertiesBase"
        }
      ],
      "x-ms-discriminator-value": "ServerMigration"
    },
    "Strategy": {
      "type": "string",
      "description": "Strategy for migration to Azure",
      "enum": [
        "None",
        "Rehost",
        "Refactor",
        "Rearchitect",
        "Rebuild",
        "Replace",
        "Retire",
        "Retain",
        "Replatform"
      ],
      "x-ms-enum": {
        "name": "Strategy",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No specific strategy defined."
          },
          {
            "name": "Rehost",
            "value": "Rehost",
            "description": "Rehost: Also known as 'lift and shift', this strategy involves moving existing applications to Azure without modification."
          },
          {
            "name": "Refactor",
            "value": "Refactor",
            "description": "Refactor: Often referred to as 'lift, tinker, and shift', this involves making minor modifications to the application to take advantage of Azure's cloud capabilities."
          },
          {
            "name": "Rearchitect",
            "value": "Rearchitect",
            "description": "Rearchitect: This approach involves significant changes to the application's architecture to fully utilize cloud-native features and scalability of Azure."
          },
          {
            "name": "Rebuild",
            "value": "Rebuild",
            "description": "Rebuild: Involves completely redesigning and rewriting the application from scratch to be cloud-native, leveraging Azure's advanced services."
          },
          {
            "name": "Replace",
            "value": "Replace",
            "description": "Replace: This strategy involves discarding the existing application and replacing it with a new Azure solution or a SaaS platform."
          },
          {
            "name": "Retire",
            "value": "Retire",
            "description": "Retire: This strategy involves discarding the existing application and replacing it with a new Azure solution or a SaaS platform."
          },
          {
            "name": "Retain",
            "value": "Retain",
            "description": "Retain: Keeping certain applications in the current environment when they are not suitable for cloud migration or when the timing is not right."
          },
          {
            "name": "Replatform",
            "value": "Replatform",
            "description": "Replatform: This strategy involves making more substantial changes to the application."
          }
        ]
      }
    },
    "Task": {
      "type": "object",
      "description": "Tasks resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TaskProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TaskListResult": {
      "type": "object",
      "description": "The response of a Task list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Task items on this page",
          "items": {
            "$ref": "#/definitions/Task"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TaskProperties": {
      "type": "object",
      "description": "Task Properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "scopeId": {
          "type": "string",
          "format": "arm-id",
          "description": "associated Wave Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/migrateProjects/waves"
              },
              {
                "type": "Microsoft.Migrate/migrateProjects/migrationEntities"
              },
              {
                "type": "Microsoft.Migrate/migrateProjects/migrationEntityGroups"
              }
            ]
          }
        },
        "stage": {
          "type": "string",
          "description": "Task Stage"
        },
        "taskType": {
          "$ref": "#/definitions/TaskType",
          "description": "Task Type",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Task Dislay Name "
        },
        "isEditable": {
          "type": "boolean",
          "description": "Indicates whether the task is editable.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Task Status"
        },
        "scope": {
          "$ref": "#/definitions/TaskScope",
          "description": "Task Scope"
        },
        "description": {
          "type": "string",
          "description": "Task Description"
        },
        "completionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Task completion Date",
          "readOnly": true
        }
      },
      "required": [
        "scopeId",
        "taskType",
        "displayName",
        "isEditable",
        "status",
        "scope"
      ]
    },
    "TaskScope": {
      "type": "string",
      "description": "TaskScope can be either 'Wave' or 'MigrationEntity' or 'MigrationEntityGroup'",
      "enum": [
        "Wave",
        "MigrationEntity",
        "MigrationEntityGroup"
      ],
      "x-ms-enum": {
        "name": "TaskScope",
        "modelAsString": true,
        "values": [
          {
            "name": "Wave",
            "value": "Wave",
            "description": "Wave task - typically related to a specific wave of migration"
          },
          {
            "name": "MigrationEntity",
            "value": "MigrationEntity",
            "description": "Migration Entity task - typically related to a specific migration entity"
          },
          {
            "name": "MigrationEntityGroup",
            "value": "MigrationEntityGroup",
            "description": "Migration Entity Group task - typically related to a specific migration entity group"
          }
        ]
      }
    },
    "TaskStatusCountMap": {
      "type": "object",
      "description": "Task status count mapping.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The task status."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The count of tasks with this status."
        }
      },
      "required": [
        "status",
        "count"
      ]
    },
    "TaskStatusCounts": {
      "type": "object",
      "description": "Task Status Counts model.",
      "properties": {
        "statusCounts": {
          "type": "array",
          "description": "Status counts dictionary mapping TaskStatus to the count of tasks with that status.",
          "items": {
            "$ref": "#/definitions/TaskStatusCountMap"
          },
          "x-ms-identifiers": [
            "status"
          ]
        }
      },
      "required": [
        "statusCounts"
      ]
    },
    "TaskSummaryItem": {
      "type": "object",
      "description": "Task Summary Item model.",
      "properties": {
        "stage": {
          "type": "string",
          "description": "Task Stage"
        },
        "aggregatedStatus": {
          "type": "string",
          "description": "Aggregated status of tasks in this stage."
        },
        "statusCounts": {
          "$ref": "#/definitions/TaskStatusCounts",
          "description": "Counts of tasks in this stage by status."
        },
        "tasks": {
          "type": "array",
          "description": "List of tasks in this stage.",
          "items": {
            "$ref": "#/definitions/Task"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "stage",
        "aggregatedStatus",
        "statusCounts",
        "tasks"
      ]
    },
    "TaskSummaryRequest": {
      "type": "object",
      "description": "Task Summary Request model.",
      "properties": {
        "scopeId": {
          "type": "string",
          "format": "arm-id",
          "description": "Task Scope ARM Id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/MigrateProjects/waves"
              },
              {
                "type": "Microsoft.Migrate/MigrationProjects/migrationEntityGroups"
              },
              {
                "type": "Microsoft.Migrate/MigrateProjects/migrationEntities"
              }
            ]
          }
        }
      },
      "required": [
        "scopeId"
      ]
    },
    "TaskSummaryResponse": {
      "type": "object",
      "description": "Task Summary Response model.",
      "properties": {
        "items": {
          "type": "array",
          "description": "List of Task Summary Items",
          "items": {
            "$ref": "#/definitions/TaskSummaryItem"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "items"
      ]
    },
    "TaskType": {
      "type": "string",
      "description": "TaskType can be either 'User' or 'System'",
      "enum": [
        "UserDefined",
        "SystemDefined"
      ],
      "x-ms-enum": {
        "name": "TaskType",
        "modelAsString": true,
        "values": [
          {
            "name": "UserDefined",
            "value": "UserDefined",
            "description": "UserDefined task - typically initiated by a user"
          },
          {
            "name": "SystemDefined",
            "value": "SystemDefined",
            "description": "SystemDefined task - typically initiated by the system"
          }
        ]
      }
    },
    "Wave": {
      "type": "object",
      "description": "Migration Wave resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WaveProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "WaveListResult": {
      "type": "object",
      "description": "The response of a Wave list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Wave items on this page",
          "items": {
            "$ref": "#/definitions/Wave"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WaveProperties": {
      "type": "object",
      "description": "Migration Wave Properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the wave."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the wave."
        },
        "arg": {
          "$ref": "#/definitions/Arg",
          "description": "ARG query and other details to create workloads within a wave"
        },
        "status": {
          "type": "string",
          "description": "The status of the wave.",
          "readOnly": true
        },
        "plannedStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Planned start date of the wave."
        },
        "plannedCompletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Planned completion date of the wave."
        },
        "actualStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Actual start date of the wave.",
          "readOnly": true
        },
        "stage": {
          "type": "string",
          "description": "The current stage of the wave.",
          "readOnly": true
        }
      },
      "required": [
        "displayName",
        "arg",
        "plannedStartDate"
      ]
    }
  },
  "parameters": {}
}
