{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.HpcWorkbench",
    "description": "Microsoft.HpcWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}": {
      "put": {
        "tags": [
          "Chambers_CreateorUpdate"
        ],
        "operationId": "Chambers_CreateOrUpdate",
        "description": "Creates or updates the specified Chamber.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update chamber operation.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting chamber resource.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting chamber resource.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Chamber": {
            "$ref": "./examples/ChambersCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Chambers_Update"
        ],
        "operationId": "Chambers_Update",
        "description": "Updates the specified Chamber.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Chamber operation.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Chamber resource.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Update Chamber": {
            "$ref": "./examples/ChambersPatch.json"
          }
        }
      },
      "get": {
        "tags": [
          "Chambers_Get"
        ],
        "operationId": "Chambers_Get",
        "description": "Gets information about the specified Chamber.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the specified Chamber.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Get Chamber": {
            "$ref": "./examples/ChambersGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Chambers_Delete"
        ],
        "operationId": "Chambers_Delete",
        "description": "Deletes the specified Chamber.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Delete Chamber": {
            "$ref": "./examples/ChambersDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers": {
      "get": {
        "tags": [
          "Chambers_List"
        ],
        "operationId": "Chambers_List",
        "description": "Lists all Chambers.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all Chambers",
            "schema": {
              "$ref": "#/definitions/ChamberPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Chambers": {
            "$ref": "./examples/ChambersList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ChamberPageableList": {
      "description": "Microsoft.Sdw.Core.ResourceMetadata.PageableList implementation specific to pageable lists of Microsoft.Sdw.Core.ResourceMetadata.AzureResource`1.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Chamber"
          }
        }
      }
    },
    "ChamberPropertiesFormat": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "./hpcworkbench.json#/definitions/Sku",
          "description": "Gets or sets the SKU."
        },
        "zones": {
          "description": "Gets or sets the Zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "licenseHostId": {
          "description": "Gets or sets the licenseHostId.",
          "type": "string"
        },
        "provisioningState": {
          "$ref": "./hpcworkbench.json#/definitions/ProvisioningState",
          "description": "Gets the status of the Chamber at the time the operation was called"
        }
      },
      "description": "Chamber properties."
    },
    "Chamber": {
      "description": "Chamber resource",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ChamberPropertiesFormat",
          "description": "Chamber properties."
        }
      },
      "allOf": [
        {
          "$ref": "./hpcworkbench.json#/definitions/Resource"
        }
      ]
    }
  }
}
