{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.HpcWorkbench",
    "description": "Microsoft.HpcWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/consortiums/{consortiumName}": {
      "put": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_CreateOrUpdate",
        "description": "Creates or updates the specified consortium.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "consortiumName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the consortium."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update consortium operation.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Consortium resource.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting Consortium resource.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Consortium": {
            "$ref": "./examples/ConsortiumCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_Update",
        "description": "Updates the specified consortium.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "consortiumName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the consortium."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update consortium operation.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Consortium resource.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting Consortium resource.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Update Consortium": {
            "$ref": "./examples/ConsortiumCreateOrUpdate.json"
          }
        }
      },
      "get": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_Get",
        "description": "Gets information about the specified consortium.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "consortiumName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the consortium."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the specified consortium.",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Get Consortium": {
            "$ref": "./examples/ConsortiumGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_Delete",
        "description": "Deletes the specified consortium.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "consortiumName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the consortium."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/Consortium"
            }
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Delete Consortium": {
            "$ref": "./examples/ConsortiumDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/consortiums": {
      "get": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_List",
        "description": "Lists all consortiums.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all consortiums",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ConsortiumPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all consortiums": {
            "$ref": "./examples/ConsortiumList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.HpcWorkbench/consortiums": {
      "get": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_ListByResourceGroup",
        "description": "Lists all the consortiums in a resource group.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all consortiums",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ConsortiumPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all consortiums in resource group": {
            "$ref": "./examples/ConsortiumListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/consortiums": {
      "get": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_ListBySubscription",
        "description": "Lists all the consortiums in a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all consortiums",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ConsortiumPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./hpcworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all consortiums in subscription": {
            "$ref": "./examples/ConsortiumListBySubscription.json"
          }
        }
      }
    }
  }
}
