{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2023-02-01-preview",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Sql Vulnerability Assessment Baseline Rules"
    },
    {
      "name": "Sql Vulnerability Assessment Scans"
    },
    {
      "name": "Sql Vulnerability Assessment Scan Results"
    }
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/baselineRules": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_List",
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Gets the results for all rules in the Baseline.",
        "description": "Gets the results for all rules in the Baseline.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulesResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List baseline for all rules": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_List.json"
          }
        }
      },
      "post": {
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Add",
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Add a list of baseline rules. Will overwrite any previously existing results (for all rules).",
        "description": "Add a list of baseline rules. Will overwrite any previously existing results (for all rules).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RulesResultsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulesResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a baseline for all rules": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Add.json"
          },
          "Create a baseline for all rules using the latest scan results": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_AddLatest.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/baselineRules/{ruleId}": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Get",
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Gets the results for a given rule in the Baseline.",
        "description": "Gets the results for a given rule in the Baseline.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get the baseline": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_CreateOrUpdate",
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Creates a Baseline for a rule in a database. Will overwrite any previously existing results.",
        "description": "Creates a Baseline for a rule in a database. Will overwrite any previously existing results.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The baseline results for this rule.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RuleResultsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RuleResults' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a baseline": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Put.json"
          },
          "Create a baseline using the latest scan results": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_PutLatest.json"
          }
        }
      },
      "delete": {
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Delete",
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Deletes a rule from the Baseline of a given database.",
        "description": "Deletes a rule from the Baseline of a given database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete the baseline": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Delete.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentScans_List",
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets a list of scan records.",
        "description": "Gets a list of scan records.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Scans"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List scan details": {
            "$ref": "./examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_List.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentScans_Get",
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets the scan details of a single scan record.",
        "description": "Gets the scan details of a single scan record.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The scan Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get scan details of a scan record": {
            "$ref": "./examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_Get.json"
          },
          "Get scan details of the latest scan record": {
            "$ref": "./examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_GetLatest.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}/scanResults": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentScanResults_List",
        "tags": [
          "Sql Vulnerability Assessment Scan Results"
        ],
        "summary": "Gets a list of scan results for a single scan record.",
        "description": "Gets a list of scan results for a single scan record.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The scan Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScanResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List scan results": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_List.json"
          },
          "List scan results of the latest scan": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_ListLatest.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}/scanResults/{scanResultId}": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentScanResults_Get",
        "tags": [
          "Sql Vulnerability Assessment Scan Results"
        ],
        "summary": "Gets the scan results of a single rule in a scan record.",
        "description": "Gets the scan results of a single rule in a scan record.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The scan Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scanResultId",
            "in": "path",
            "description": "The rule Id of the results.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScanResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get scan details of a scan record": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_Get.json"
          },
          "Get scan details of the latest scan record": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_GetLatest.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Baseline": {
      "type": "object",
      "description": "Baseline details.",
      "properties": {
        "expectedResults": {
          "type": "array",
          "description": "Expected results.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "updatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Baseline update time (UTC)."
        }
      }
    },
    "BaselineAdjustedResult": {
      "type": "object",
      "description": "The rule result adjusted with baseline.",
      "properties": {
        "baseline": {
          "$ref": "#/definitions/Baseline",
          "description": "Baseline details."
        },
        "status": {
          "$ref": "#/definitions/RuleStatus",
          "description": "The rule result status."
        },
        "resultsNotInBaseline": {
          "type": "array",
          "description": "Results the are not in baseline.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "resultsOnlyInBaseline": {
          "type": "array",
          "description": "Results the are in baseline.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "BenchmarkReference": {
      "type": "object",
      "description": "The benchmark references.",
      "properties": {
        "benchmark": {
          "type": "string",
          "description": "The benchmark name."
        },
        "reference": {
          "type": "string",
          "description": "The benchmark reference."
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "QueryCheck": {
      "type": "object",
      "description": "The rule query details.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The rule query."
        },
        "expectedResult": {
          "type": "array",
          "description": "Expected result.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "columnNames": {
          "type": "array",
          "description": "Column names of expected result.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Remediation": {
      "type": "object",
      "description": "Remediation details.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Remediation description."
        },
        "scripts": {
          "type": "array",
          "description": "Remediation script.",
          "items": {
            "type": "string"
          }
        },
        "automated": {
          "type": "boolean",
          "description": "Is remediation automated."
        },
        "portalLink": {
          "type": "string",
          "description": "Optional link to remediate in Azure Portal."
        }
      }
    },
    "RuleResults": {
      "type": "object",
      "description": "Rule results.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RuleResultsProperties",
          "description": "Rule results properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RuleResultsInput": {
      "type": "object",
      "description": "Rule results input.",
      "properties": {
        "latestScan": {
          "type": "boolean",
          "description": "Take results from latest scan."
        },
        "results": {
          "type": "array",
          "description": "Expected results to be inserted into the baseline.\nLeave this field empty it LatestScan == true.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "RuleResultsProperties": {
      "type": "object",
      "description": "Rule results properties.",
      "properties": {
        "results": {
          "type": "array",
          "description": "Expected results in the baseline.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "RuleSeverity": {
      "type": "string",
      "description": "The rule severity.",
      "enum": [
        "High",
        "Medium",
        "Low",
        "Informational",
        "Obsolete"
      ],
      "x-ms-enum": {
        "name": "RuleSeverity",
        "modelAsString": true,
        "values": [
          {
            "name": "High",
            "value": "High",
            "description": "High"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Medium"
          },
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Informational",
            "value": "Informational",
            "description": "Informational"
          },
          {
            "name": "Obsolete",
            "value": "Obsolete",
            "description": "Obsolete"
          }
        ]
      }
    },
    "RuleStatus": {
      "type": "string",
      "description": "The rule result status.",
      "enum": [
        "NonFinding",
        "Finding",
        "InternalError"
      ],
      "x-ms-enum": {
        "name": "RuleStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NonFinding",
            "value": "NonFinding",
            "description": "NonFinding"
          },
          {
            "name": "Finding",
            "value": "Finding",
            "description": "Finding"
          },
          {
            "name": "InternalError",
            "value": "InternalError",
            "description": "InternalError"
          }
        ]
      }
    },
    "RuleType": {
      "type": "string",
      "description": "The rule type.",
      "enum": [
        "Binary",
        "BaselineExpected",
        "PositiveList",
        "NegativeList"
      ],
      "x-ms-enum": {
        "name": "RuleType",
        "modelAsString": true,
        "values": [
          {
            "name": "Binary",
            "value": "Binary",
            "description": "Binary"
          },
          {
            "name": "BaselineExpected",
            "value": "BaselineExpected",
            "description": "BaselineExpected"
          },
          {
            "name": "PositiveList",
            "value": "PositiveList",
            "description": "PositiveList"
          },
          {
            "name": "NegativeList",
            "value": "NegativeList",
            "description": "NegativeList"
          }
        ]
      }
    },
    "RulesResults": {
      "type": "object",
      "description": "A list of rules results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of rule results.",
          "items": {
            "$ref": "#/definitions/RuleResults"
          }
        }
      }
    },
    "RulesResultsInput": {
      "type": "object",
      "description": "Rules results input.",
      "properties": {
        "latestScan": {
          "type": "boolean",
          "description": "Take results from latest scan."
        },
        "results": {
          "type": "object",
          "description": "Expected results to be inserted into the baseline.\nLeave this field empty it LatestScan == true.",
          "additionalProperties": {
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "type": "array"
          }
        }
      }
    },
    "Scan": {
      "type": "object",
      "description": "A vulnerability assessment scan record.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScanProperties",
          "description": "A vulnerability assessment scan record properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ScanProperties": {
      "type": "object",
      "description": "A vulnerability assessment scan record properties.",
      "properties": {
        "triggerType": {
          "$ref": "#/definitions/ScanTriggerType",
          "description": "The scan trigger type."
        },
        "state": {
          "$ref": "#/definitions/ScanState",
          "description": "The scan status."
        },
        "server": {
          "type": "string",
          "description": "The server name."
        },
        "database": {
          "type": "string",
          "description": "The database name."
        },
        "sqlVersion": {
          "type": "string",
          "description": "The SQL version."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The scan start time (UTC)."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Scan results are valid until end time (UTC)."
        },
        "highSeverityFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failed rules with high severity."
        },
        "mediumSeverityFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failed rules with medium severity."
        },
        "lowSeverityFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failed rules with low severity."
        },
        "totalPassedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of total passed rules."
        },
        "totalFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of total failed rules."
        },
        "totalRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of total rules assessed."
        },
        "isBaselineApplied": {
          "type": "boolean",
          "description": "Baseline created for this database, and has one or more rules."
        },
        "lastScanTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last scan time."
        }
      }
    },
    "ScanResult": {
      "type": "object",
      "description": "A vulnerability assessment scan result for a single rule.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScanResultProperties",
          "description": "A vulnerability assessment scan result properties for a single rule."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ScanResultProperties": {
      "type": "object",
      "description": "A vulnerability assessment scan result properties for a single rule.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "The rule Id."
        },
        "status": {
          "$ref": "#/definitions/RuleStatus",
          "description": "The rule result status."
        },
        "isTrimmed": {
          "type": "boolean",
          "description": "Indicated whether the results specified here are trimmed."
        },
        "queryResults": {
          "type": "array",
          "description": "The results of the query that was run.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "remediation": {
          "$ref": "#/definitions/Remediation",
          "description": "Remediation details."
        },
        "baselineAdjustedResult": {
          "$ref": "#/definitions/BaselineAdjustedResult",
          "description": "The rule result adjusted with baseline."
        },
        "ruleMetadata": {
          "$ref": "#/definitions/VaRule",
          "description": "vulnerability assessment rule metadata details."
        }
      }
    },
    "ScanResults": {
      "type": "object",
      "description": "A list of vulnerability assessment scan results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of vulnerability assessment scan results.",
          "items": {
            "$ref": "#/definitions/ScanResult"
          }
        }
      }
    },
    "ScanState": {
      "type": "string",
      "description": "The scan status.",
      "enum": [
        "Failed",
        "FailedToRun",
        "InProgress",
        "Passed"
      ],
      "x-ms-enum": {
        "name": "ScanState",
        "modelAsString": true,
        "values": [
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "FailedToRun",
            "value": "FailedToRun",
            "description": "FailedToRun"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          },
          {
            "name": "Passed",
            "value": "Passed",
            "description": "Passed"
          }
        ]
      }
    },
    "ScanTriggerType": {
      "type": "string",
      "description": "The scan trigger type.",
      "enum": [
        "OnDemand",
        "Recurring"
      ],
      "x-ms-enum": {
        "name": "ScanTriggerType",
        "modelAsString": true,
        "values": [
          {
            "name": "OnDemand",
            "value": "OnDemand",
            "description": "OnDemand"
          },
          {
            "name": "Recurring",
            "value": "Recurring",
            "description": "Recurring"
          }
        ]
      }
    },
    "Scans": {
      "type": "object",
      "description": "A list of vulnerability assessment scan records.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of vulnerability assessment scan records.",
          "items": {
            "$ref": "#/definitions/Scan"
          }
        }
      }
    },
    "VaRule": {
      "type": "object",
      "description": "vulnerability assessment rule metadata details.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "The rule Id."
        },
        "severity": {
          "$ref": "#/definitions/RuleSeverity",
          "description": "The rule severity."
        },
        "category": {
          "type": "string",
          "description": "The rule category."
        },
        "ruleType": {
          "$ref": "#/definitions/RuleType",
          "description": "The rule type."
        },
        "title": {
          "type": "string",
          "description": "The rule title."
        },
        "description": {
          "type": "string",
          "description": "The rule description."
        },
        "rationale": {
          "type": "string",
          "description": "The rule rationale."
        },
        "queryCheck": {
          "$ref": "#/definitions/QueryCheck",
          "description": "The rule query details."
        },
        "benchmarkReferences": {
          "type": "array",
          "description": "The benchmark references.",
          "items": {
            "$ref": "#/definitions/BenchmarkReference"
          }
        }
      }
    }
  },
  "parameters": {}
}
