{
  "swagger": "2.0",
  "info": {
    "title": "ManagedResourceGroupsClient",
    "version": "2023-06-01-preview",
    "description": "Provides operations for working with managed resource groups."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Resources/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "ListOperations",
        "description": "Lists the available Microsoft.Resources REST API operations.",
        "x-ms-examples": {
          "List Solutions operations": {
            "$ref": "./examples/listResourcesOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/managedResourceGroups/{managedResourceGroupName}": {
      "get": {
        "tags": [
          "ManagedResourceGroups"
        ],
        "operationId": "ManagedResourceGroups_Get",
        "description": "Gets the managed resource group.",
        "x-ms-examples": {
          "Get a managed resource group": {
            "$ref": "./examples/getManagedResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ManagedResourceGroupNameParameter"
          }
        ],
        "responses": {
          "404": {
            "description": "NotFound.",
            "x-ms-error-response": false
          },
          "200": {
            "description": "OK - Returns the managed resource group.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ManagedResourceGroups"
        ],
        "operationId": "ManagedResourceGroups_Delete",
        "description": "Deletes the managed resource group.",
        "x-ms-examples": {
          "Delete managed resource group": {
            "$ref": "./examples/deleteManagedResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ManagedResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "put": {
        "tags": [
          "ManagedResourceGroups"
        ],
        "operationId": "ManagedResourceGroups_CreateOrUpdate",
        "description": "Creates or updates a managed resource group.",
        "x-ms-examples": {
          "Create or update managed application": {
            "$ref": "./examples/createOrUpdateManagedResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ManagedResourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            },
            "description": "Parameters supplied to the create or update a managed resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the managed resource group, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            }
          },
          "201": {
            "description": "Created - Returns information about the managed resource group, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "ManagedResourceGroups"
        ],
        "operationId": "ManagedResourceGroups_Update",
        "description": "Updates an existing managed resource group.",
        "x-ms-examples": {
          "Updates managed resource group": {
            "$ref": "./examples/updateManagedResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ManagedResourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            },
            "description": "Parameters supplied to update an existing managed resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            }
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/managedResourceGroups": {
      "get": {
        "tags": [
          "ManagedResourceGroups"
        ],
        "operationId": "ManagedResourceGroups_ListByResourceGroup",
        "description": "Lists all the managed resource groups resources within a resource group.",
        "x-ms-examples": {
          "Lists all the managed resource groups resources within a resource group": {
            "$ref": "./examples/listManagedResourceGroupsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of managed resource groups resources.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/managedResourceGroups": {
      "get": {
        "tags": [
          "ManagedResourceGroups"
        ],
        "operationId": "ManagedResourceGroup_ListBySubscription",
        "description": "Lists all the managed resource groups resources within a subscription.",
        "x-ms-examples": {
          "Lists all the managed resource groups resources within a subscription": {
            "$ref": "./examples/listManagedResourceGroupsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of managed resource groups.",
            "schema": {
              "$ref": "#/definitions/ManagedResourceGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ManagedResourceGroup": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ManagedResourceGroupProperties",
          "description": "The managed resource group properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Information about the managed resource group resource."
    },
    "ManagedResourceGroupProperties": {
      "type": "object",
      "description": "Managed resource group properties.",
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group ID."
        },
        "location": {
          "type": "string",
          "description": "The managed resource group location."
        },
        "managedByResourceIds": {
          "type": "array",
          "description": "The managed by resource ids which will be managing this resource group.",
          "items": {
            "type": "string"
          }
        },
        "denyAssignmentConfiguration": {
          "type": "object",
          "description": "Deny assignment configuration.",
          "$ref": "#/definitions/DenyAssignmentConfiguration",
          "x-ms-client-flatten": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioned state of the resource."
        }
      }
    },
    "DenyAssignmentConfiguration": {
      "type": "object",
      "description": "Deny assignment configuration.",
      "properties": {
        "notActions": {
          "type": "array",
          "description": "Actions to exclude from that the deny assignment does not grant access.",
          "items": {
            "type": "string"
          }
        },
        "notDataActions": {
          "type": "array",
          "description": "Data actions to exclude from that the deny assignment does not grant access.",
          "items": {
            "type": "string"
          }
        },
        "excludedPrincipals": {
          "type": "array",
          "description": "Array of principals to which the deny assignment does not apply.",
          "items": {
            "$ref": "#/definitions/ExcludedPrincipal"
          }
        }
      }
    },
    "ExcludedPrincipal": {
      "type": "object",
      "description": "Excluded principals.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of excluded principal."
        },
        "type": {
          "type": "string",
          "description": "The principal type.",
          "enum": [
            "Group",
            "ServicePrincipal",
            "User",
            "NotSpecified"
          ],
          "x-ms-enum": {
            "name": "Type",
            "modelAsString": true,
            "values": [
              {
                "value": "Group",
                "description": "Indicates a collection of users who can access Azure resources."
              },
              {
                "value": "ServicePrincipal",
                "description": "Indicates an application or service that can access Azure resources."
              },
              {
                "value": "User",
                "description": "Indicates an individual user who can access Azure resources."
              },
              {
                "value": "NotSpecified",
                "description": "Indicates the default value."
              }
            ]
          }
        }
      }
    },
    "ManagedResourceGroupListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedResourceGroup"
          },
          "description": "The array of managed resource groups."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of managed resource groups."
    },
    "ProvisioningState": {
      "description": "Provisioning status of the managed application.",
      "readOnly": true,
      "enum": [
        "NotSpecified",
        "Accepted",
        "Running",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed",
        "Succeeded",
        "Updating"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "ManagedResourceGroupNameParameter": {
      "name": "managedResourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the managed resource group resource.",
      "minLength": 3,
      "maxLength": 64
    }
  }
}
