{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ComputeSchedule",
    "version": "2026-04-15-preview",
    "description": "Microsoft.ComputeSchedule Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ScheduledActionExtension"
    },
    {
      "name": "Occurrences"
    },
    {
      "name": "OccurrenceExtension"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ComputeSchedule/associatedOccurrences": {
      "get": {
        "operationId": "OccurrenceExtension_ListOccurrenceByVms",
        "tags": [
          "OccurrenceExtension"
        ],
        "description": "List OccurrenceExtensionResource resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OccurrenceExtensionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OccurrenceExtension_ListOccurrenceByVms_MaximumSet": {
            "$ref": "./examples/OccurrenceExtension_ListOccurrenceByVms_MaximumSet_Gen.json"
          },
          "OccurrenceExtension_ListOccurrenceByVms_MinimumSet": {
            "$ref": "./examples/OccurrenceExtension_ListOccurrenceByVms_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ComputeSchedule/associatedScheduledActions": {
      "get": {
        "operationId": "ScheduledActionExtension_ListByVms",
        "tags": [
          "ScheduledActionExtension"
        ],
        "description": "List ScheduledActionResources resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledActionResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActionExtension_ListByVms_MaximumSet": {
            "$ref": "./examples/ScheduledActionExtension_ListByVms_MaximumSet_Gen.json"
          },
          "ScheduledActionExtension_ListByVms_MinimumSet": {
            "$ref": "./examples/ScheduledActionExtension_ListByVms_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ComputeSchedule/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesCancelOperations": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesCancelOperations",
        "description": "VirtualMachinesCancelOperations: Cancel a previously submitted (start/deallocate/hibernate) request",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOperationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CancelOperationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesCancelOperations_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesCancelOperations_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesCancelOperations_MinimumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesCancelOperations_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteCreate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteCreate",
        "description": "[PRIVATE PREVIEW]: VirtualMachinesExecuteCreate: Execute create operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteCreate_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteCreate_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteCreate_MinimumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteCreate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteCreateFlex": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteCreateFlex",
        "description": "VirtualMachinesExecuteCreateFlex: Execute create operation for a batch of virtual machines with flex properties, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteCreateFlexRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateFlexResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteCreateFlex_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteCreateFlex_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteCreateFlex_MinimumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteCreateFlex_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteDeallocate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteDeallocate",
        "description": "VirtualMachinesExecuteDeallocate: Execute deallocate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteDeallocate_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteDeallocate_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteDeallocate_MinimumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteDeallocate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteDelete": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteDelete",
        "description": "[PRIVATE PREVIEW]: VirtualMachinesExecuteDelete: Execute delete operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeleteResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteDelete_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteDelete_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteDelete_MinimumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteDelete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteHibernate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteHibernate",
        "description": "VirtualMachinesExecuteHibernate: Execute hibernate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteHibernate_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteHibernate_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteHibernate_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteHibernate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteStart": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteStart",
        "description": "VirtualMachinesExecuteStart: Execute start operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteStart_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteStart_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteStart_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteStart_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesGetOperationErrors": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesGetOperationErrors",
        "description": "VirtualMachinesGetOperationErrors: Get error details on operation errors (like transient errors encountered, additional logs) if they exist.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationErrorsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationErrorsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesGetOperationErrors_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesGetOperationErrors_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesGetOperationErrors_MinimumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesGetOperationErrors_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesGetOperationStatus": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesGetOperationStatus",
        "description": "VirtualMachinesGetOperationStatus: Polling endpoint to read status of operations performed on virtual machines",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesGetOperationStatus_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesGetOperationStatus_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesGetOperationStatus_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesGetOperationStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesSubmitDeallocate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesSubmitDeallocate",
        "description": "VirtualMachinesSubmitDeallocate: Schedule deallocate operation for a batch of virtual machines at datetime in future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesSubmitDeallocate_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitDeallocate_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesSubmitDeallocate_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitDeallocate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesSubmitHibernate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesSubmitHibernate",
        "description": "VirtualMachinesSubmitHibernate: Schedule hibernate operation for a batch of virtual machines at datetime in future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesSubmitHibernate_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitHibernate_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesSubmitHibernate_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitHibernate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesSubmitStart": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesSubmitStart",
        "description": "VirtualMachinesSubmitStart: Schedule start operation for a batch of virtual machines at datetime in future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesSubmitStart_MaximumSet": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitStart_MaximumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesSubmitStart_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitStart_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/scheduledActions": {
      "get": {
        "operationId": "ScheduledActions_ListBySubscription",
        "description": "List ScheduledAction resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_ListBySubscription_MaximumSet": {
            "$ref": "./examples/ScheduledActions_ListBySubscription_MaximumSet_Gen.json"
          },
          "ScheduledActions_ListBySubscription_MinimumSet": {
            "$ref": "./examples/ScheduledActions_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions": {
      "get": {
        "operationId": "ScheduledActions_ListByResourceGroup",
        "description": "List ScheduledAction resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/ScheduledActions_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "ScheduledActions_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/ScheduledActions_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}": {
      "get": {
        "operationId": "ScheduledActions_Get",
        "description": "Get a ScheduledAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_Get_MaximumSet": {
            "$ref": "./examples/ScheduledActions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ScheduledActions_CreateOrUpdate",
        "description": "Create a ScheduledAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ScheduledAction' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "201": {
            "description": "Resource 'ScheduledAction' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/ScheduledActions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ScheduledActions_Update",
        "description": "Update a ScheduledAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledActionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_Update_MaximumSet": {
            "$ref": "./examples/ScheduledActions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ScheduledActions_Delete",
        "description": "Delete a ScheduledAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_Delete_MaximumSet": {
            "$ref": "./examples/ScheduledActions_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/attachResources": {
      "post": {
        "operationId": "ScheduledActions_AttachResources",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceAttachRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_AttachResources_MaximumSet": {
            "$ref": "./examples/ScheduledActions_AttachResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/cancelNextOccurrence": {
      "post": {
        "operationId": "ScheduledActions_CancelNextOccurrence",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOccurrenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_CancelNextOccurrence_MaximumSet": {
            "$ref": "./examples/ScheduledActions_CancelNextOccurrence_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/detachResources": {
      "post": {
        "operationId": "ScheduledActions_DetachResources",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceDetachRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_DetachResources_MaximumSet": {
            "$ref": "./examples/ScheduledActions_DetachResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/disable": {
      "post": {
        "operationId": "ScheduledActions_Disable",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_Disable_MaximumSet": {
            "$ref": "./examples/ScheduledActions_Disable_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/enable": {
      "post": {
        "operationId": "ScheduledActions_Enable",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_Enable_MaximumSet": {
            "$ref": "./examples/ScheduledActions_Enable_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/occurrences": {
      "get": {
        "operationId": "Occurrences_ListByScheduledAction",
        "tags": [
          "Occurrences"
        ],
        "description": "List Occurrence resources by ScheduledAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OccurrenceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_ListByScheduledAction_MaximumSet": {
            "$ref": "./examples/Occurrences_ListByScheduledAction_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/occurrences/{occurrenceId}": {
      "get": {
        "operationId": "Occurrences_Get",
        "tags": [
          "Occurrences"
        ],
        "description": "Get a Occurrence",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Occurrence"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_Get_MaximumSet": {
            "$ref": "./examples/Occurrences_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/occurrences/{occurrenceId}/cancel": {
      "post": {
        "operationId": "Occurrences_Cancel",
        "tags": [
          "Occurrences"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOccurrenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_Cancel_MaximumSet": {
            "$ref": "./examples/Occurrences_Cancel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/occurrences/{occurrenceId}/delay": {
      "post": {
        "operationId": "Occurrences_Delay",
        "tags": [
          "Occurrences"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceOperationResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_Delay_MaximumSet": {
            "$ref": "./examples/Occurrences_Delay_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/occurrences/{occurrenceId}/resources": {
      "get": {
        "operationId": "Occurrences_ListResources",
        "tags": [
          "Occurrences"
        ],
        "description": "List resources attached to Scheduled Actions for the given occurrence",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OccurrenceResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_ListResources_MaximumSet": {
            "$ref": "./examples/Occurrences_ListResources_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/patchResources": {
      "post": {
        "operationId": "ScheduledActions_PatchResources",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_PatchResources_MaximumSet": {
            "$ref": "./examples/ScheduledActions_PatchResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/resources": {
      "get": {
        "operationId": "ScheduledActions_ListResources",
        "description": "List resources attached to Scheduled Actions",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_ListResources_MaximumSet": {
            "$ref": "./examples/ScheduledActions_ListResources_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/scheduledActions/{scheduledActionName}/triggerManualOccurrence": {
      "post": {
        "operationId": "ScheduledActions_TriggerManualOccurrence",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "scheduledActionName",
            "in": "path",
            "description": "The name of the ScheduledAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Occurrence"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_TriggerManualOccurrence_MaximumSet": {
            "$ref": "./examples/ScheduledActions_TriggerManualOccurrence_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionType": {
      "type": "string",
      "description": "Specify which action user wants to be performed on the resources",
      "enum": [
        "Start",
        "Deallocate",
        "Hibernate"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Start",
            "value": "Start",
            "description": "Perform a start action on the specified resources"
          },
          {
            "name": "Deallocate",
            "value": "Deallocate",
            "description": "Perform a deallocate action on the specified resources"
          },
          {
            "name": "Hibernate",
            "value": "Hibernate",
            "description": "Perform hibernate and deallocate on the specified resources"
          }
        ]
      }
    },
    "AdditionalCapabilities": {
      "type": "object",
      "description": "Enables or disables a capability on the virtual machine or virtual machine scale set.",
      "properties": {
        "ultraSSDEnabled": {
          "type": "boolean",
          "description": "The flag that enables or disables a capability to have one or more managed data disks with UltraSSD_LRS storage account type on the VM or VMSS. Managed disks with storage account type UltraSSD_LRS can be added to a virtual machine or virtual machine scale set only if this property is enabled."
        },
        "hibernationEnabled": {
          "type": "boolean",
          "description": "The flag that enables or disables hibernation capability on the VM."
        }
      }
    },
    "AdditionalUnattendContent": {
      "type": "object",
      "description": "Specifies additional XML formatted information that can be included in the Unattend.xml file, which is used by Windows Setup. Contents are defined by setting name, component name, and the pass in which the content is applied.",
      "properties": {
        "passName": {
          "type": "string",
          "description": "The pass name. Currently, the only allowable value is OobeSystem.",
          "enum": [
            "OobeSystem"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "componentName": {
          "type": "string",
          "description": "The component name. Currently, the only allowable value is Microsoft-Windows-Shell-Setup.",
          "enum": [
            "Microsoft-Windows-Shell-Setup"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "settingName": {
          "$ref": "#/definitions/SettingNames",
          "description": "Specifies the name of the setting to which the content applies. Possible values are: FirstLogonCommands and AutoLogon."
        },
        "content": {
          "type": "string",
          "description": "Specifies the XML formatted content that is added to the unattend.xml file for the specified path and component. The XML must be less than 4KB and must include the root element for the setting or feature that is being inserted."
        }
      }
    },
    "AllInstancesDown": {
      "type": "object",
      "description": "Specifies if Scheduled Events should be auto-approved when all instances are down.",
      "properties": {
        "automaticallyApprove": {
          "type": "boolean",
          "description": "Specifies if Scheduled Events should be auto-approved when all instances are down. Its default value is true."
        }
      }
    },
    "AllocationStrategy": {
      "type": "string",
      "description": "The allocation strategy for VM size selection",
      "enum": [
        "LowestPrice",
        "Prioritized",
        "CapacityOptimized"
      ],
      "x-ms-enum": {
        "name": "AllocationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "LowestPrice",
            "value": "LowestPrice",
            "description": "Platform prioritizes VM sizes with the lowest hourly cost"
          },
          {
            "name": "Prioritized",
            "value": "Prioritized",
            "description": "Customer specifies a rank for each VM size, platform uses VM sizes in rank order"
          },
          {
            "name": "CapacityOptimized",
            "value": "CapacityOptimized",
            "description": "Platform prioritizes VM sizes with the highest available capacity first"
          }
        ]
      }
    },
    "ApiEntityReference": {
      "type": "object",
      "description": "The API entity reference.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
        }
      }
    },
    "ApplicationProfile": {
      "type": "object",
      "description": "Contains the list of gallery applications that should be made available to the VM",
      "properties": {
        "galleryApplications": {
          "type": "array",
          "description": "Specifies the gallery applications that should be made available to the VM",
          "items": {
            "$ref": "#/definitions/VMGalleryApplication"
          },
          "x-ms-identifiers": [
            "packageReferenceId"
          ]
        }
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          }
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Azure REST API guidelines - https://aka.ms/AzureRestApiGuidelines#handling-errors.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocation": {
      "type": "object",
      "description": "The complex type of the extended location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocationType",
          "description": "The type of the extended location."
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocationType": {
      "type": "string",
      "description": "The supported ExtendedLocation types.",
      "enum": [
        "EdgeZone",
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "Azure Edge Zones location type"
          },
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "Azure Custom Locations type"
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BootDiagnostics": {
      "type": "object",
      "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. You can easily view the output of your console log. Azure also enables you to see a screenshot of the VM from the hypervisor.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether boot diagnostics should be enabled on the Virtual Machine."
        },
        "storageUri": {
          "type": "string",
          "description": "Uri of the storage account to use for placing the console output and screenshot. If storageUri is not specified while enabling boot diagnostics, managed storage will be used."
        }
      }
    },
    "BulkActionVMExtension": {
      "type": "object",
      "description": "Defines a virtual machine extension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the virtual machine extension."
        },
        "properties": {
          "$ref": "#/definitions/BulkActionVmExtensionProperties",
          "description": "Properties of the virtual machine extension."
        }
      },
      "required": [
        "name",
        "properties"
      ]
    },
    "BulkActionVMProfile": {
      "type": "object",
      "description": "Describes the properties of a Virtual Machine for create.",
      "properties": {
        "scheduledEventsPolicy": {
          "$ref": "#/definitions/ScheduledEventsPolicy",
          "description": "Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets Scheduled Event related configurations for the virtual machine."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the virtual machine disks."
        },
        "additionalCapabilities": {
          "$ref": "#/definitions/AdditionalCapabilities",
          "description": "Specifies additional capabilities enabled or disabled on the virtual machine."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings used while creating the virtual machine. Some of the settings cannot be changed once VM is provisioned."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network interfaces of the virtual machine."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "Specifies the Security related profile settings for the virtual machine."
        },
        "diagnosticsProfile": {
          "$ref": "#/definitions/DiagnosticsProfile",
          "description": "Specifies the boot diagnostic settings state. Minimum compute api-version: 2015-06-15."
        },
        "licenseType": {
          "type": "string",
          "description": "Specifies that the image or disk that is being used was licensed on-premises. <br><br> Possible values for Windows Server operating system are: <br><br> Windows_Client <br><br> Windows_Server <br><br> Possible values for Linux Server operating system are: <br><br> RHEL_BYOS (for RHEL) <br><br> SLES_BYOS (for SUSE) <br><br> For more information, see [Azure Hybrid Use Benefit for Windows Server](https://docs.microsoft.com/azure/virtual-machines/windows/hybrid-use-benefit-licensing) <br><br> [Azure Hybrid Use Benefit for Linux Server](https://docs.microsoft.com/azure/virtual-machines/linux/azure-hybrid-benefit-linux) <br><br> Minimum api-version: 2015-06-15"
        },
        "extensionsTimeBudget": {
          "type": "string",
          "description": "Specifies the time alloted for all extensions to start. The time duration should be between 15 minutes and 120 minutes (inclusive) and should be specified in ISO 8601 format. The default value is 90 minutes (PT1H30M). Minimum compute api-version: 2020-06-01."
        },
        "scheduledEventsProfile": {
          "$ref": "#/definitions/ScheduledEventsProfile",
          "description": "Specifies Scheduled Event related configurations."
        },
        "userData": {
          "type": "string",
          "description": "UserData for the VM, which must be base-64 encoded. Customer should not pass any secrets in here. Minimum compute api-version: 2021-03-01."
        },
        "capacityReservation": {
          "$ref": "#/definitions/CapacityReservationProfile",
          "description": "Specifies information about the capacity reservation that is used to allocate virtual machine. Minimum compute api-version: 2021-04-01."
        },
        "applicationProfile": {
          "$ref": "#/definitions/ApplicationProfile",
          "description": "Specifies the gallery applications that should be made available to the VM."
        }
      }
    },
    "BulkActionVMSpec": {
      "type": "object",
      "description": "Specifies the properties of a Virtual Machine",
      "properties": {
        "plan": {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/Plan",
          "description": "The marketplace image plan used for the virtual machine."
        },
        "zones": {
          "type": "array",
          "description": "The availability zones.",
          "items": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/VirtualMachineIdentity",
          "description": "The identity of the virtual machine, if configured."
        },
        "extendedLocation": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocation",
          "description": "The extended location of the Virtual Machine."
        },
        "placement": {
          "$ref": "#/definitions/Placement",
          "description": "Placement constraints for virtual machine hardware placement - see specification/compute/Compute.Management/models.tsp#Placement"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags to apply to the virtual machines created by this bulk action.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BulkActionVmExtensionProperties": {
      "type": "object",
      "description": "Describes the properties of a Virtual Machine Extension.",
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension configuration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is 'CustomScriptExtension'."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version of the extension available."
        },
        "settings": {
          "type": "object",
          "description": "JSON formatted public settings for the extension.",
          "additionalProperties": {}
        },
        "protectedSettings": {
          "type": "object",
          "description": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.",
          "additionalProperties": {}
        },
        "suppressFailures": {
          "type": "boolean",
          "description": "Indicates whether failures stemming from the extension will be suppressed (Operational failures such as not connecting to the VM will not be suppressed regardless of this value). The default is false."
        },
        "protectedSettingsFromKeyVault": {
          "$ref": "#/definitions/KeyVaultSecretReference",
          "description": "The extensions protected settings that are passed by reference, and consumed from key vault"
        },
        "provisionAfterExtensions": {
          "type": "array",
          "description": "Collection of extension names after which this extension needs to be provisioned.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BulkVMConfiguration": {
      "type": "object",
      "description": "Specifies the configuration for a virtual machine operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier for created virtual machine. If not passed, it will be created from resource prefix."
        },
        "computeApiVersion": {
          "type": "string",
          "description": "Specifies the Microsoft.Compute API version to use when creating underlying Virtual Machines."
        },
        "resourceGroupName": {
          "type": "string",
          "description": "Resource group name for the virtual machine."
        },
        "zones": {
          "type": "array",
          "description": "The availability zones.",
          "items": {
            "type": "string"
          }
        },
        "plan": {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/Plan",
          "description": "The marketplace image plan used for the virtual machine."
        },
        "identity": {
          "$ref": "#/definitions/VirtualMachineIdentity",
          "description": "The identity of the virtual machine, if configured."
        },
        "extendedLocation": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocation",
          "description": "The extended location of the Virtual Machine."
        },
        "placement": {
          "$ref": "#/definitions/Placement",
          "description": "Placement constraints for virtual machine hardware placement."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags to apply to the virtual machines created by this bulk action.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scheduledEventsPolicy": {
          "$ref": "#/definitions/ScheduledEventsPolicy",
          "description": "Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets Scheduled Event related configurations."
        },
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Specifies the hardware profile for the virtual machine."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the virtual machine disks."
        },
        "additionalCapabilities": {
          "$ref": "#/definitions/AdditionalCapabilities",
          "description": "Specifies additional capabilities enabled or disabled on the virtual machine."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings used while creating the virtual machine."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network interfaces of the virtual machine."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "Specifies the Security related profile settings for the virtual machine."
        },
        "diagnosticsProfile": {
          "$ref": "#/definitions/DiagnosticsProfile",
          "description": "Specifies the boot diagnostic settings state."
        },
        "licenseType": {
          "type": "string",
          "description": "Specifies that the image or disk that is being used was licensed on-premises."
        },
        "extensionsTimeBudget": {
          "type": "string",
          "description": "Specifies the time allotted for all extensions to start. Should be between 15 and 120 minutes in ISO 8601 format."
        },
        "scheduledEventsProfile": {
          "$ref": "#/definitions/ScheduledEventsProfile",
          "description": "Specifies Scheduled Event related configurations."
        },
        "userData": {
          "type": "string",
          "description": "UserData for the VM, which must be base-64 encoded."
        },
        "capacityReservation": {
          "$ref": "#/definitions/CapacityReservationProfile",
          "description": "Specifies information about the capacity reservation used to allocate the virtual machine."
        },
        "applicationProfile": {
          "$ref": "#/definitions/ApplicationProfile",
          "description": "Specifies the gallery applications that should be made available to the VM."
        },
        "extensions": {
          "type": "array",
          "description": "Virtual Machine Extensions Array to be applied to the Virtual Machines.",
          "items": {
            "$ref": "#/definitions/BulkActionVMExtension"
          }
        }
      }
    },
    "CachingTypes": {
      "type": "string",
      "description": "Specifies the caching requirements. Possible values are: **None,** **ReadOnly,** **ReadWrite.** The default values are: **None for Standard storage. ReadOnly for Premium storage**",
      "enum": [
        "None",
        "ReadOnly",
        "ReadWrite"
      ],
      "x-ms-enum": {
        "name": "CachingTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Caching type:None"
          },
          {
            "name": "ReadOnly",
            "value": "ReadOnly",
            "description": "Caching type:ReadOnly"
          },
          {
            "name": "ReadWrite",
            "value": "ReadWrite",
            "description": "Caching type:ReadWrite"
          }
        ]
      }
    },
    "CancelOccurrenceRequest": {
      "type": "object",
      "description": "The request to cancel an occurrence.",
      "properties": {
        "resourceIds": {
          "type": "array",
          "description": "The resources the cancellation should act on. If no resource is passed in the list, Scheduled Action will cancel the occurrence for all resources.",
          "items": {
            "$ref": "#/definitions/ValidScheduledActionResourceId"
          }
        }
      },
      "required": [
        "resourceIds"
      ]
    },
    "CancelOperationsRequest": {
      "type": "object",
      "description": "This is the request to cancel running operations in scheduled actions using the operation ids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to cancel operations on",
          "items": {
            "type": "string"
          }
        },
        "correlationid": {
          "type": "string",
          "description": "CorrelationId item"
        }
      },
      "required": [
        "operationIds",
        "correlationid"
      ]
    },
    "CancelOperationsResponse": {
      "type": "object",
      "description": "This is the response from a cancel operations request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations that were successfully cancelled",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "CapacityReservationProfile": {
      "type": "object",
      "description": "The parameters of a capacity reservation Profile.",
      "properties": {
        "capacityReservationGroup": {
          "$ref": "#/definitions/SubResource",
          "description": "Specifies the capacity reservation group resource id that should be used for allocating the virtual machine provided enough capacity has been reserved. Please refer to https://aka.ms/CapacityReservation for more details."
        }
      }
    },
    "CreateFlexResourceOperationResponse": {
      "type": "object",
      "description": "The response from a create flex request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the create flex request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the create flex request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the create flex request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "CreateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a create request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the create request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the start request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the start request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DataDisk": {
      "type": "object",
      "description": "Describes a data disk.",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "vhd": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The virtual hard disk."
        },
        "image": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The source user image virtual hard disk. The virtual hard disk will be copied before being attached to the virtual machine. If SourceImage is provided, the destination virtual hard drive must not exist."
        },
        "caching": {
          "$ref": "#/definitions/CachingTypes",
          "description": "Specifies the caching requirements. Possible values are: None, ReadOnly, ReadWrite. The defaulting behavior is: None for Standard storage. ReadOnly for Premium storage."
        },
        "writeAcceleratorEnabled": {
          "type": "boolean",
          "description": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
        },
        "createOption": {
          "$ref": "#/definitions/DiskCreateOptionTypes",
          "description": "Specifies how the virtual machine disk should be created. Possible values are Attach, FromImage, Empty, Copy, Restore."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the size of the disk in a virtual machine image. The property 'diskSizeGB' is the number of bytes x 1024^3 for the disk and the value cannot be larger than 1023."
        },
        "managedDisk": {
          "$ref": "#/definitions/ManagedDiskParameters",
          "description": "The managed disk parameters."
        },
        "sourceResource": {
          "$ref": "#/definitions/ApiEntityReference",
          "description": "The source resource identifier. It can be a snapshot, or disk restore point from which to create a disk."
        },
        "toBeDetached": {
          "type": "boolean",
          "description": "Specifies whether the data disk is in process of detachment from the VirtualMachine/VirtualMachineScaleset."
        },
        "detachOption": {
          "$ref": "#/definitions/DiskDetachOptionTypes",
          "description": "Specifies the detach behavior to be used while detaching a disk or which is already in the process of detachment from the virtual machine. Supported values: ForceDetach. This feature is still in preview. To force-detach a data disk update toBeDetached to 'true' along with setting detachOption: 'ForceDetach'."
        },
        "deleteOption": {
          "$ref": "#/definitions/DiskDeleteOptionTypes",
[...]
