{ 
   "swagger":"2.0",
   "info":{ 
      "title":"Azure Arc VMware Management Service API",
      "description":"Self service experience for VMware.",
      "version":"2019-12-20-privatepreview"
   },
   "host":"management.azure.com",
   "schemes":[ 
      "https"
   ],
   "consumes":[ 
      "application/json"
   ],
   "produces":[ 
      "application/json"
   ],
   "security":[ 
      { 
         "azure_auth":[ 
            "user_impersonation"
         ]
      }
   ],
   "securityDefinitions":{ 
      "azure_auth":{ 
         "type":"oauth2",
         "authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize",
         "flow":"implicit",
         "description":"Azure Active Directory OAuth2 Flow.",
         "scopes":{ 
            "user_impersonation":"impersonate your user account"
         }
      }
   },
   "paths":{ 
      "/providers/Microsoft.VMware/operations":{ 
         "get":{ 
            "description":"Returns list of operations.",
            "operationId":"Operations_List",
            "tags":[ 
               "Operations"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Operation details.",
                  "schema":{ 
                     "$ref":"#/definitions/operationsList"
                  }
               }
            },
            "deprecated":false,
            "x-ms-pageable":{ 
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}":{ 
         "put":{ 
            "tags":[ 
               "ArcAgents"
            ],
            "description":"Create Or Update arc agent.",
            "summary":"Implements arc agent PUT method.",
            "operationId":"ArcAgents_Create",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/ArcAgent"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "ArcAgents"
            ],
            "operationId":"ArcAgents_Get",
            "summary":"Gets an arc agent.",
            "description":"Implements arc agent GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ArcAgent"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "ArcAgents"
            ],
            "operationId":"ArcAgents_Update",
            "summary":"Updates an arc agent.",
            "description":"API to update certain properties of the arc agent resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "ArcAgents"
            ],
            "operationId":"ArcAgents_Delete",
            "summary":"Deletes an arc agent.",
            "description":"Implements arc agent DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}/gethybridconnectionstring":{ 
         "post":{ 
            "tags":[ 
               "ArcAgents"
            ],
            "operationId":"ArcAgents_GetHybridConnectionString",
            "summary":"Implements GetHybridConnectionString for the arc agent.",
            "description":"Gets the hybrid connectionstring for the arc agent.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/HybridConnection"
                  }
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/Images/{imageName}":{ 
         "put":{ 
            "tags":[ 
               "Images"
            ],
            "operationId":"Images_Create",
            "description":"Create Or Update image.",
            "summary":"Implements image PUT method.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/Image"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/Image"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "Images"
            ],
            "operationId":"Images_Get",
            "summary":"Gets an image.",
            "description":"Implements image GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/Image"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "Images"
            ],
            "operationId":"Images_Update",
            "summary":"Updates an image.",
            "description":"API to update certain properties of the image resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to udpate.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/Image"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "Images"
            ],
            "operationId":"Images_Delete",
            "summary":"Deletes an image.",
            "description":"Implements image DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/Image"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ResourcePools/{resourcePoolName}":{ 
         "put":{ 
            "tags":[ 
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Create",
            "description":"Create Or Update resourcePool.",
            "summary":"Implements resourcePool PUT method.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"resourcePoolName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the resourcePool."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePool"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Get",
            "summary":"Gets a resourcePool.",
            "description":"Implements resourcePool GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"resourcePoolName",
                  "description":"Name of the resourcePool.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePool"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Update",
            "summary":"Updates a resourcePool.",
            "description":"API to update certain properties of the resourcePool resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"resourcePoolName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the resourcePool."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Delete",
            "summary":"Deletes an resourcePool.",
            "description":"Implements resourcePool DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"resourcePoolName",
                  "description":"Name of the resourcePool.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}/runAsAccounts":{ 
         "get":{ 
            "tags":[ 
               "RunAsAccounts"
            ],
            "operationId":"RunAsAccounts_ListByAgent",
            "summary":"Implements Get RunAsAccounts of the agent.",
            "description":"Returns list of RunAsAccounts configured for the agent.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/RunAsAccountsList"
                  }
               }
            },
            "x-ms-pageable":{ 
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}/runAsAccounts/{runAsAccountName}":{ 
         "get":{ 
            "tags":[ 
               "RunAsAccounts"
            ],
            "operationId":"RunAsAccounts_Get",
            "summary":"Gets a runasaccount.",
            "description":"Implements runasaccount GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "in":"path",
                  "name":"runAsAccountName",
                  "description":"Name of the runasaccount resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/RunAsAccount"
                  }
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VCenters/{vCenterName}":{ 
         "put":{ 
            "tags":[ 
               "VCenters"
            ],
            "operationId":"VCenters_Create",
            "description":"Create Or Update vCenter.",
            "summary":"Implements vCenter PUT method.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/VCenter"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "VCenters"
            ],
            "operationId":"VCenters_Get",
            "summary":"Gets a vCenter.",
            "description":"Implements vCenter GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VCenter"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "VCenters"
            ],
            "operationId":"VCenters_Update",
            "summary":"Updates a vCenter.",
            "description":"API to update certain properties of the vCenter resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "VCenters"
            ],
            "operationId":"VCenters_Delete",
            "summary":"Deletes an vCenter.",
            "description":"Implements vCenter DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualMachines/{virtualMachineName}":{ 
         "put":{ 
            "tags":[ 
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Create",
            "description":"Create Or Update virtual machine.",
            "summary":"Implements virtual machine PUT method.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachine"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Get",
            "summary":"Gets a virtual machine.",
            "description":"Implements virtual machine GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachine"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Update",
            "summary":"Updates a virtual machine.",
            "description":"API to update certain properties of the virtual machine resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Delete",
            "summary":"Deletes an virtual machine.",
            "description":"Implements virtual machine DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineName",
                  "description":"Name of the virtual machine resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualMachineTemplates/{virtualMachineTemplateName}":{ 
         "put":{ 
            "tags":[ 
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Create",
            "description":"Create Or Update virtual machine template.",
            "summary":"Implements virtual machine template PUT method.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "description":"Name of the virtual machine template resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Get",
            "summary":"Gets a virtual machine template.",
            "description":"Implements virtual machine template GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "description":"Name of the virtual machine template resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Update",
            "summary":"Updates a virtual machine template.",
            "description":"API to update certain properties of the virtual machine template resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine template resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Delete",
            "summary":"Deletes an virtual machine template.",
            "description":"Implements virtual machine template DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine template resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualNetworks/{virtualNetworkName}":{ 
         "put":{ 
            "tags":[ 
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Create",
            "description":"Create Or Update virtual network.",
            "summary":"Implements virtual network PUT method.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualNetworkName",
                  "description":"Name of the virtual network resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{ 
            "tags":[ 
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Get",
            "summary":"Gets a virtual network.",
            "description":"Implements virtual network GET method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualNetworkName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual network resource."
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               }
            }
         },
         "patch":{ 
            "tags":[ 
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Update",
            "summary":"Updates a virtual network.",
            "description":"API to update certain properties of the virtual network resource.",
            "consumes":[ 
               "application/json"
            ],
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualNetworkName",
                  "description":"Name of the virtual network resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               },
               { 
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{ 
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "delete":{ 
            "tags":[ 
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Delete",
            "summary":"Deletes an virtual network.",
            "description":"Implements virtual network DELETE method.",
            "produces":[ 
               "application/json"
            ],
            "parameters":[ 
               { 
                  "$ref":"#/parameters/subscriptionId"
               },
               { 
                  "$ref":"#/parameters/resourceGroupName"
               },
               { 
                  "in":"path",
                  "name":"virtualNetworkName",
                  "description":"Name of the virtual network resource.",
                  "required":true,
                  "type":"string"
               },
               { 
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "202":{ 
                  "description":"Success",
                  "headers":{ 
                     "Azure-AsyncOperation":{ 
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      }
   },
   "definitions":{ 
      "ArcAgentProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "certPublicKey"
         ],
         "type":"object",
         "properties":{ 
            "createdTimestamp":{ 
               "description":"Gets the timestamp marking arcAgent creation.",
               "type":"string",
               "readOnly":true
            },
            "updatedTimestamp":{ 
               "description":"Gets the timestamp marking last updated on the arcAgent.",
               "type":"string",
               "readOnly":true
            },
            "certPublicKey":{ 
               "description":"Gets or sets the arcAgent certificate public key.",
               "type":"string"
            },
            "serviceEndpoint":{ 
               "description":"Gets the Endpoint at which the agent can call service REST API.",
               "type":"string",
               "readOnly":true
            },
            "lastHeartBeatUtc":{ 
               "format":"date-time",
               "description":"Gets the last heartbeat time of the site in UTC.",
               "type":"string",
               "readOnly":true
            },
            "version":{ 
               "description":"Gets the version of the arcAgent.",
               "type":"string",
               "readOnly":true
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ArcAgent":{ 
         "description":"Define the arcAgent.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/ArcAgentProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "HybridConnection":{ 
         "description":"The result of a get hybrid connection.",
         "type":"object",
         "properties":{ 
            "connectionString":{ 
               "description":"Gets or sets the connection string.",
               "type":"string"
            }
         }
      },
      "ImageProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "moRefId",
            "vCenterId"
         ],
         "type":"object",
         "properties":{ 
            "vCenterId":{ 
               "description":"Gets or sets the ARM Id of the vCenter resource in which this image resides.",
               "type":"string"
            },
            "moRefId":{ 
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the image.",
               "type":"string"
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "Image":{ 
         "description":"Define the image.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/ImageProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "OperationStatusError":{ 
         "description":"Class for operation status errors.",
         "type":"object",
         "properties":{ 
            "code":{ 
               "description":"Gets or sets the error code.",
               "type":"string"
            },
            "message":{ 
               "description":"Gets or sets the error message.",
               "type":"string"
            },
            "errorDetails":{ 
               "description":"Gets or sets the error details.",
               "type":"array",
               "items":{ 
                  "$ref":"#/definitions/OperationStatusError"
               }
            }
         }
      },
      "OperationStatusProperties":{ 
         "description":"Class for operation result properties.",
         "type":"object"
      },
      "OperationStatus":{ 
         "description":"Operation status REST resource.",
         "type":"object",
         "properties":{ 
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string"
            },
            "name":{ 
               "description":"Gets or sets the operation name.",
               "type":"string"
            },
            "status":{ 
               "description":"Gets or sets the status of the operation. ARM expects the terminal status to be one of\r\nSucceeded/ Failed/ Canceled. All other values imply that the operation is still running.",
               "type":"string"
            },
            "startTime":{ 
               "description":"Gets or sets the start time.",
               "type":"string"
            },
            "endTime":{ 
               "description":"Gets or sets the end time.",
               "type":"string"
            },
            "error":{ 
               "x-ms-client-flatten":true,
               "description":"Operation status error.",
               "$ref":"#/definitions/OperationStatusError"
            },
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/OperationStatusProperties"
            }
         }
      },
      "ResourcePatch":{ 
         "type":"object",
         "properties":{ 
            "tags":{ 
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               },
               "description":"Resource tags."
            }
         },
         "description":"Object containing updates for patch operations."
      },
      "ResourcePoolProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "moRefId",
            "vCenterId"
         ],
         "type":"object",
         "properties":{ 
            "vCenterId":{ 
               "description":"Gets or sets the ARM Id of the vCenter resource in which this resource pool resides.",
               "type":"string"
            },
            "moRefId":{ 
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the resource pool.",
               "type":"string"
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ResourcePool":{ 
         "description":"Define the resourcePool.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/ResourcePoolProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "RunAsAccountProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "accountId",
            "displayName"
         ],
         "type":"object",
         "properties":{ 
            "createdTimestamp":{ 
               "description":"Gets the timestamp marking run as account creation.",
               "type":"string",
               "readOnly":true
            },
            "updatedTimestamp":{ 
               "description":"Gets the timestamp marking last updated on the run as account.",
               "type":"string",
               "readOnly":true
            },
            "accountId":{ 
               "description":"Gets or sets the id of the on-premise runasaccount that maps to this account\r\nrepresentation in Azure.",
               "type":"string"
            },
            "displayName":{ 
               "description":"Gets or sets the displayName for the runasaccount.",
               "type":"string"
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "RunAsAccount":{ 
         "description":"Define the runAsAccount.",
         "required":[ 
            "properties"
         ],
         "type":"object",
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/RunAsAccountProperties"
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "RunAsAccountsList":{ 
         "description":"Lists the runAsAccounts available available for the agent.",
         "properties":{ 
            "nextLink":{ 
               "description":"Url to follow for getting next page of runasaccounts.",
               "type":"string"
            },
            "value":{ 
               "description":"Array of runasaccounts",
               "type":"array",
               "items":{ 
                  "$ref":"#/definitions/RunAsAccount"
               }
            }
         },
         "required":[ 
            "value"
         ]
      },
      "VCenterProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "fqdn",
            "port",
            "runAsAccountId"
         ],
         "type":"object",
         "properties":{ 
            "createdTimestamp":{ 
               "description":"Gets the timestamp marking vCenter creation.",
               "type":"string",
               "readOnly":true
            },
            "updatedTimestamp":{ 
               "description":"Gets the timestamp marking last updated on the vCenter.",
               "type":"string",
               "readOnly":true
            },
            "fqdn":{ 
               "description":"Gets or sets the FQDN/IPAddress of the vCenter.",
               "type":"string"
            },
            "port":{ 
               "format":"int32",
               "description":"Gets or sets the port of the vCenter.",
               "maximum":65535,
               "minimum":1,
               "type":"integer"
            },
            "runAsAccountId":{ 
               "description":"Gets or sets the ARM Id of the run as account Id of the vCenter.",
               "type":"string"
            },
            "version":{ 
               "description":"Gets the version of the vCenter.",
               "type":"string",
               "readOnly":true
            },
            "instanceUuid":{ 
               "description":"Gets the instance UUID of the vCenter.",
               "type":"string",
               "readOnly":true
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VCenter":{ 
         "description":"Define the vCenter.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/VCenterProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "OsType":{ 
         "description":"Defines the different types of VM guest operating systems.",
         "enum":[ 
            "Windows",
            "Linux"
         ],
         "type":"string"
      },
      "OsProfile":{ 
         "description":"Defines the resource properties.",
         "type":"object",
         "properties":{ 
            "computerName":{ 
               "description":"Gets or sets computer name.",
               "type":"string"
            },
            "adminUserName":{ 
               "description":"Gets or sets administrator username.",
               "type":"string"
            },
            "adminPassword":{ 
               "description":"Gets or sets administrator password.",
               "type":"string"
            },
            "osType":{ 
               "description":"Type of OS.",
               "$ref":"#/definitions/OsType"
            }
         }
      },
      "HardwareProfile":{ 
         "description":"Defines the resource properties.",
         "type":"object",
         "properties":{ 
            "memorySizeInMB":{ 
               "format":"int32",
               "description":"Gets or sets memory size in MBs for the vm.",
               "type":"integer"
            },
            "numberOfCores":{ 
               "format":"int32",
               "description":"Gets or sets the number of cores for the vm.",
               "type":"integer"
            }
         }
      },
      "VirtualMachineProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "resourcePoolId",
            "templateId"
         ],
         "type":"object",
         "properties":{ 
            "resourcePoolId":{ 
               "description":"Gets or sets the ARM Id of the resourcePool resource on which this virtual machine will\r\ndeploy.",
               "type":"string"
            },
            "templateId":{ 
               "description":"Gets or sets the ARM Id of the template resource to deploy the virtual machine.",
               "type":"string"
            },
            "networkId":{ 
               "description":"Gets or sets the ARM Id of the network resource to connect the virtual machine.",
               "type":"string"
            },
            "osProfile":{ 
               "description":"OS properties.",
               "$ref":"#/definitions/OsProfile"
            },
            "hardwareProfile":{ 
               "description":"Hardware properties.",
               "$ref":"#/definitions/HardwareProfile"
            },
            "moRefId":{ 
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the virtual machine.",
               "type":"string"
            },
            "powerStatus":{ 
               "description":"Gets the powerstatus of the virtual machine.",
               "type":"string",
               "readOnly":true
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VirtualMachine":{ 
         "description":"Define the virtualMachine.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/VirtualMachineProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VirtualMachineTemplateProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "moRefId",
            "vCenterId"
         ],
         "type":"object",
         "properties":{ 
            "vCenterId":{ 
               "description":"Gets or sets the ARM Id of the vCenter resource in which this template resides.",
               "type":"string"
            },
            "moRefId":{ 
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the virtual machine\r\ntemplate.",
               "type":"string"
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VirtualMachineTemplate":{ 
         "description":"Define the virtualMachineTemplate.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/VirtualMachineTemplateProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VirtualNetworkProperties":{ 
         "description":"Defines the resource properties.",
         "required":[ 
            "moRefId",
            "vCenterId"
         ],
         "type":"object",
         "properties":{ 
            "vCenterId":{ 
               "description":"Gets or sets the ARM Id of the vCenter resource in which this template resides.",
               "type":"string"
            },
            "moRefId":{ 
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the virtual network.",
               "type":"string"
            },
            "provisioningState":{ 
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VirtualNetwork":{ 
         "description":"Define the virtualNetwork.",
         "required":[ 
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{ 
            "properties":{ 
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/VirtualNetworkProperties"
            },
            "location":{ 
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[ 
                  "read",
                  "create"
               ]
            },
            "tags":{ 
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{ 
                  "type":"string"
               }
            },
            "name":{ 
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{ 
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{ 
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "operation":{ 
         "description":"Operation provided by provider",
         "properties":{ 
            "name":{ 
               "type":"string",
               "description":"Name of the operation"
            },
            "display":{ 
               "type":"object",
               "description":"Properties of the operation",
               "properties":{ 
                  "provider":{ 
                     "type":"string",
                     "description":"Provider name"
                  },
                  "resource":{ 
                     "type":"string",
                     "description":"Resource name"
                  },
                  "operation":{ 
                     "type":"string",
                     "description":"Operation name"
                  },
                  "description":{ 
                     "type":"string",
                     "description":"Description of the operation"
                  }
               }
            }
         }
      },
      "operationsList":{ 
         "description":"Lists the operations available.",
         "properties":{ 
            "nextLink":{ 
               "description":"Url to follow for getting next page of operations.",
               "type":"string"
            },
            "value":{ 
               "description":"Array of operations",
               "type":"array",
               "items":{ 
                  "description":"Operation.",
                  "$ref":"#/definitions/operation"
               }
            }
         },
         "required":[ 
            "value"
         ]
      }
   },
   "parameters":{ 
      "subscriptionId":{ 
         "in":"path",
         "name":"subscriptionId",
         "description":"The Subscription ID.",
         "required":true,
         "type":"string"
      },
      "api-version":{ 
         "in":"query",
         "name":"api-version",
         "description":"Client Api Version.",
         "required":true,
         "type":"string"
      },
      "resourceGroupName":{ 
         "in":"path",
         "name":"resourceGroupName",
         "description":"The Resource Group Name.",
         "required":true,
         "type":"string",
         "x-ms-parameter-location":"method"
      }
   }
}