{
  "swagger": "2.0",
  "info": {
    "title": "Scheduled Query Rules API",
    "version": "2025-01-01-preview",
    "description": "Azure Monitor client to create/update/delete Scheduled Query Rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ScheduledQueryRules"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/scheduledQueryRules": {
      "get": {
        "operationId": "ScheduledQueryRules_ListBySubscription",
        "tags": [
          "ScheduledQueryRules"
        ],
        "description": "Retrieve a scheduled query rule definitions in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "List scheduled query rules by subscription": {
            "$ref": "./examples/listScheduledQueryRulesBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules": {
      "get": {
        "operationId": "ScheduledQueryRules_ListByResourceGroup",
        "tags": [
          "ScheduledQueryRules"
        ],
        "description": "Retrieve scheduled query rule definitions in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "List scheduled query rules by resource group": {
            "$ref": "./examples/listScheduledQueryRulesByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules/{ruleName}": {
      "get": {
        "operationId": "ScheduledQueryRules_Get",
        "tags": [
          "ScheduledQueryRules"
        ],
        "description": "Retrieve an scheduled query rule definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the rule.",
            "required": true,
            "type": "string",
            "pattern": "^[^#<>%&:\\?/{}*]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "Get a scheduled query rule for single resource": {
            "$ref": "./examples/getScheduledQueryRule.json"
          }
        }
      },
      "put": {
        "operationId": "ScheduledQueryRules_CreateOrUpdate",
        "tags": [
          "ScheduledQueryRules"
        ],
        "description": "Creates or updates a scheduled query rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the rule.",
            "required": true,
            "type": "string",
            "pattern": "^[^#<>%&:\\?/{}*]{1,260}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters of the rule to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ScheduledQueryRuleResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResource"
            }
          },
          "201": {
            "description": "Resource 'ScheduledQueryRuleResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a scheduled query rule for Single Resource": {
            "$ref": "./examples/createOrUpdateScheduledQueryRule.json"
          },
          "Create or update a scheduled query rule on Resource group(s)": {
            "$ref": "./examples/createOrUpdateScheduledQueryRuleResourceGroup.json"
          },
          "Create or update a scheduled query rule on Subscription ": {
            "$ref": "./examples/createOrUpdateScheduledQueryRuleSubscription.json"
          },
          "Create or update a simple log alert scheduled query rule on Subscription ": {
            "$ref": "./examples/createOrUpdateSimpleLogAlertScheduledQueryRule.json"
          },
          "create or update dynamic threshold scheduled query rule on Subscription ": {
            "$ref": "./examples/createOrUpdateDynamicThresholdScheduledQueryRule.json"
          }
        }
      },
      "patch": {
        "operationId": "ScheduledQueryRules_Update",
        "tags": [
          "ScheduledQueryRules"
        ],
        "description": "Update a scheduled query rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the rule.",
            "required": true,
            "type": "string",
            "pattern": "^[^#<>%&:\\?/{}*]{1,260}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters of the rule to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledQueryRuleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a scheduled query rule": {
            "$ref": "./examples/patchScheduledQueryRule.json"
          }
        }
      },
      "delete": {
        "operationId": "ScheduledQueryRules_Delete",
        "tags": [
          "ScheduledQueryRules"
        ],
        "description": "Deletes a scheduled query rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ruleName",
            "in": "path",
            "description": "The name of the rule.",
            "required": true,
            "type": "string",
            "pattern": "^[^#<>%&:\\?/{}*]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "Delete a scheduled query rule": {
            "$ref": "./examples/deleteScheduledQueryRule.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Actions": {
      "type": "object",
      "description": "Actions to invoke when the alert fires.",
      "properties": {
        "actionGroups": {
          "type": "array",
          "description": "Action Group resource Ids to invoke when the alert fires.",
          "items": {
            "type": "string"
          }
        },
        "customProperties": {
          "type": "object",
          "description": "The properties of an alert payload.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "actionProperties": {
          "type": "object",
          "description": "The properties of an action properties.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AlertSeverity": {
      "type": "number",
      "description": "Severity of the alert. Should be an integer between [0-4]. Value of 0 is severest. Relevant and required only for rules of the kind LogAlert.",
      "enum": [
        0,
        1,
        2,
        3,
        4
      ],
      "x-ms-enum": {
        "name": "AlertSeverity",
        "modelAsString": true,
        "values": [
          {
            "name": "0",
            "value": 0,
            "description": "0"
          },
          {
            "name": "1",
            "value": 1,
            "description": "1"
          },
          {
            "name": "2",
            "value": 2,
            "description": "2"
          },
          {
            "name": "3",
            "value": 3,
            "description": "3"
          },
          {
            "name": "4",
            "value": 4,
            "description": "4"
          }
        ]
      }
    },
    "Condition": {
      "type": "object",
      "description": "A condition of the scheduled query rule.",
      "properties": {
        "criterionType": {
          "$ref": "#/definitions/Microsoft.Common.CriterionType",
          "description": "Specifies the type of threshold criteria"
        },
        "query": {
          "type": "string",
          "description": "Log query alert"
        },
        "timeAggregation": {
          "$ref": "#/definitions/TimeAggregation",
          "description": "Aggregation type. Relevant and required only for rules of the kind LogAlert."
        },
        "metricMeasureColumn": {
          "type": "string",
          "description": "The column containing the metric measure number. Relevant only for rules of the kind LogAlert."
        },
        "resourceIdColumn": {
          "type": "string",
          "description": "The column containing the resource id. The content of the column must be a uri formatted as resource id. Relevant only for rules of the kind LogAlert."
        },
        "dimensions": {
          "type": "array",
          "description": "List of Dimensions conditions",
          "items": {
            "$ref": "#/definitions/Dimension"
          },
          "x-ms-identifiers": []
        },
        "operator": {
          "$ref": "#/definitions/ConditionOperator",
          "description": "The criteria operator. Relevant and required only for rules of the kind LogAlert."
        },
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "the criteria threshold value that activates the alert. Relevant and required only for static threshold rules of the kind LogAlert."
        },
        "alertSensitivity": {
          "type": "string",
          "description": "The extent of deviation required to trigger an alert. Allowed values are 'Low', 'Medium' and 'High'. This will affect how tight the threshold is to the metric series pattern. Relevant only for dynamic threshold rules of the kind LogAlert."
        },
        "ignoreDataBefore": {
          "type": "string",
          "format": "date-time",
          "description": "Use this option to set the date from which to start learning the metric historical data and calculate the dynamic thresholds (in ISO8601 format). Relevant only for dynamic threshold rules of the kind LogAlert."
        },
        "failingPeriods": {
          "$ref": "#/definitions/ConditionFailingPeriods",
          "description": "The minimum number of violations required within the selected lookback time window required to raise an alert. Relevant only for rules of the kind LogAlert."
        },
        "metricName": {
          "type": "string",
          "description": "The name of the metric to be sent. Relevant and required only for rules of the kind LogToMetric."
        },
        "minRecurrenceCount": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum results count that should be found for triggering an alert. Relevant only for rules of the kind SimpleLogAlert."
        }
      }
    },
    "ConditionFailingPeriods": {
      "type": "object",
      "description": "The minimum number of violations required within the selected lookback time window required to raise an alert. Relevant only for rules of the kind LogAlert.",
      "properties": {
        "numberOfEvaluationPeriods": {
          "type": "integer",
          "format": "int64",
          "description": "The number of aggregated lookback points. The lookback time window is calculated based on the aggregation granularity (windowSize) and the selected number of aggregated points. Default value is 1",
          "default": 1
        },
        "minFailingPeriodsToAlert": {
          "type": "integer",
          "format": "int64",
          "description": "The number of violations to trigger an alert. Should be smaller or equal to numberOfEvaluationPeriods. Default value is 1",
          "default": 1
        }
      }
    },
    "ConditionOperator": {
      "type": "string",
      "description": "The criteria operator. Relevant and required only for rules of the kind LogAlert.",
      "enum": [
        "Equals",
        "GreaterThan",
        "GreaterThanOrEqual",
        "LessThan",
        "LessThanOrEqual",
        "GreaterOrLessThan"
      ],
      "x-ms-enum": {
        "name": "ConditionOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals",
            "value": "Equals",
            "description": "Equals"
          },
          {
            "name": "GreaterThan",
            "value": "GreaterThan",
            "description": "GreaterThan"
          },
          {
            "name": "GreaterThanOrEqual",
            "value": "GreaterThanOrEqual",
            "description": "GreaterThanOrEqual"
          },
          {
            "name": "LessThan",
            "value": "LessThan",
            "description": "LessThan"
          },
          {
            "name": "LessThanOrEqual",
            "value": "LessThanOrEqual",
            "description": "LessThanOrEqual"
          },
          {
            "name": "GreaterOrLessThan",
            "value": "GreaterOrLessThan",
            "description": "GreaterOrLessThan"
          }
        ]
      }
    },
    "Dimension": {
      "type": "object",
      "description": "Dimension splitting and filtering definition",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension"
        },
        "operator": {
          "$ref": "#/definitions/DimensionOperator",
          "description": "Operator for dimension values"
        },
        "values": {
          "type": "array",
          "description": "List of dimension values",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "operator",
        "values"
      ]
    },
    "DimensionOperator": {
      "type": "string",
      "description": "Operator for dimension values",
      "enum": [
        "Include",
        "Exclude"
      ],
      "x-ms-enum": {
        "name": "DimensionOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "Include",
            "value": "Include",
            "description": "Include"
          },
          {
            "name": "Exclude",
            "value": "Exclude",
            "description": "Exclude"
          }
        ]
      }
    },
    "Kind": {
      "type": "string",
      "description": "Indicates the type of scheduled query rule. The default is LogAlert.",
      "enum": [
        "LogAlert",
        "SimpleLogAlert",
        "LogToMetric"
      ],
      "x-ms-enum": {
        "name": "Kind",
        "modelAsString": true,
        "values": [
          {
            "name": "LogAlert",
            "value": "LogAlert",
            "description": "LogAlert"
          },
          {
            "name": "SimpleLogAlert",
            "value": "SimpleLogAlert",
            "description": "SimpleLogAlert"
          },
          {
            "name": "LogToMetric",
            "value": "LogToMetric",
            "description": "LogToMetric"
          }
        ]
      }
    },
    "Microsoft.Common.CommonErrorResponse": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error message indicating why the operation failed.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Microsoft.Common.CommonErrorResponse"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "message",
            "target"
          ]
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "Microsoft.Common.CriterionType": {
      "type": "string",
      "description": "Specifies the type of threshold criteria. Previously undocumented values might be returned",
      "enum": [
        "StaticThresholdCriterion",
        "DynamicThresholdCriterion"
      ],
      "x-ms-enum": {
        "name": "CriterionType",
        "modelAsString": true,
        "values": [
          {
            "name": "StaticThresholdCriterion",
            "value": "StaticThresholdCriterion",
            "description": "StaticThresholdCriterion"
          },
          {
            "name": "DynamicThresholdCriterion",
            "value": "DynamicThresholdCriterion",
            "description": "DynamicThresholdCriterion"
          }
        ]
      }
    },
    "Microsoft.Common.ErrorContract": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)",
      "properties": {
        "error": {
          "$ref": "#/definitions/Microsoft.Common.CommonErrorResponse",
          "description": "The error object."
        }
      }
    },
    "Microsoft.Common.Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Microsoft.Common.IdentityType",
          "description": "Type of managed service identity."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "$ref": "#/definitions/Microsoft.Common.UserIdentityProperties"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Microsoft.Common.IdentityType": {
      "type": "string",
      "description": "Type of managed service identity.",
      "enum": [
        "SystemAssigned",
        "UserAssigned",
        "None"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": false,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "UserAssigned"
          },
          {
            "name": "None",
            "value": "None",
            "description": "None"
          }
        ]
      }
    },
    "Microsoft.Common.UserIdentityProperties": {
      "type": "object",
      "description": "Properties of the user assigned identity.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The client ID of resource identity.",
          "readOnly": true
        }
      }
    },
    "RuleResolveConfiguration": {
      "type": "object",
      "description": "TBD. Relevant only for rules of the kind LogAlert.",
      "properties": {
        "autoResolved": {
          "type": "boolean",
          "description": "The flag that indicates whether or not to auto resolve a fired alert."
        },
        "timeToResolve": {
          "type": "string",
          "format": "duration",
          "description": "The duration a rule must evaluate as healthy before the fired alert is automatically resolved represented in ISO 8601 duration format."
        }
      }
    },
    "ScheduledQueryRuleCriteria": {
      "type": "object",
      "description": "The rule criteria that defines the conditions of the scheduled query rule.",
      "properties": {
        "allOf": {
          "type": "array",
          "description": "A list of conditions to evaluate against the specified scopes",
          "items": {
            "$ref": "#/definitions/Condition"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ScheduledQueryRuleProperties": {
      "type": "object",
      "description": "scheduled query rule Definition",
      "properties": {
        "createdWithApiVersion": {
          "type": "string",
          "description": "The api-version used when creating this alert rule",
          "readOnly": true
        },
        "isLegacyLogAnalyticsRule": {
          "type": "boolean",
          "description": "True if alert rule is legacy Log Analytic rule",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the scheduled query rule."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the alert rule"
        },
        "severity": {
          "$ref": "#/definitions/AlertSeverity",
          "description": "Severity of the alert. Should be an integer between [0-4]. Value of 0 is severest. Relevant and required only for rules of the kind LogAlert."
        },
        "enabled": {
          "type": "boolean",
          "description": "The flag which indicates whether this scheduled query rule is enabled. Value should be true or false"
        },
        "scopes": {
          "type": "array",
          "description": "The list of resource id's that this scheduled query rule is scoped to.",
          "items": {
            "type": "string"
          }
        },
        "evaluationFrequency": {
          "type": "string",
          "format": "duration",
          "description": "How often the scheduled query rule is evaluated represented in ISO 8601 duration format. Relevant and required only for rules of the kind LogAlert."
        },
        "windowSize": {
          "type": "string",
          "format": "duration",
          "description": "The period of time (in ISO 8601 duration format) on which the Alert query will be executed (bin size). Relevant and required only for rules of the kind LogAlert."
        },
        "overrideQueryTimeRange": {
          "type": "string",
          "format": "duration",
          "description": "If specified then overrides the query time range (default is WindowSize*NumberOfEvaluationPeriods). Relevant only for rules of the kind LogAlert."
        },
        "targetResourceTypes": {
          "type": "array",
          "description": "List of resource type of the target resource(s) on which the alert is created/updated. For example if the scope is a resource group and targetResourceTypes is Microsoft.Compute/virtualMachines, then a different alert will be fired for each virtual machine in the resource group which meet the alert criteria. Relevant only for rules of the kind LogAlert",
          "items": {
            "type": "string"
          }
        },
        "criteria": {
          "$ref": "#/definitions/ScheduledQueryRuleCriteria",
          "description": "The rule criteria that defines the conditions of the scheduled query rule."
        },
        "muteActionsDuration": {
          "type": "string",
          "format": "duration",
          "description": "Mute actions for the chosen period of time (in ISO 8601 duration format) after the alert is fired. Relevant only for rules of the kind LogAlert."
        },
        "actions": {
          "$ref": "#/definitions/Actions",
          "description": "Actions to invoke when the alert fires."
        },
        "isWorkspaceAlertsStorageConfigured": {
          "type": "boolean",
          "description": "The flag which indicates whether this scheduled query rule has been configured to be stored in the customer's storage. The default is false.",
          "readOnly": true
        },
        "checkWorkspaceAlertsStorageConfigured": {
          "type": "boolean",
          "description": "The flag which indicates whether this scheduled query rule should be stored in the customer's storage. The default is false. Relevant only for rules of the kind LogAlert."
        },
        "skipQueryValidation": {
          "type": "boolean",
          "description": "The flag which indicates whether the provided query should be validated or not. The default is false. Relevant only for rules of the kind LogAlert."
        },
        "autoMitigate": {
          "type": "boolean",
          "description": "The flag that indicates whether the alert should be automatically resolved or not. The default is true. Relevant only for rules of kinds LogAlert and SimpleLogAlert."
        },
        "resolveConfiguration": {
          "$ref": "#/definitions/RuleResolveConfiguration",
          "description": "Defines the configuration for resolving fired alerts. Relevant only for rules of kinds LogAlert and SimpleLogAlert."
        }
      }
    },
    "ScheduledQueryRuleResource": {
      "type": "object",
      "description": "The scheduled query rule resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScheduledQueryRuleProperties",
          "description": "The rule properties of the resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Microsoft.Common.Identity",
          "description": "The identity of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "kind": {
          "$ref": "#/definitions/Kind",
          "description": "Indicates the type of scheduled query rule. The default is LogAlert."
        },
        "etag": {
          "type": "string",
          "description": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")",
          "readOnly": true
        }
      },
      "required": [
        "properties",
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ScheduledQueryRuleResourceCollection": {
      "type": "object",
      "description": "Represents a collection of scheduled query rule resources.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ScheduledQueryRuleResource items on this page",
          "items": {
            "$ref": "#/definitions/ScheduledQueryRuleResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ScheduledQueryRuleResourcePatch": {
      "type": "object",
      "description": "The scheduled query rule resource for patch operations.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Microsoft.Common.Identity",
          "description": "The identity of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ScheduledQueryRuleProperties",
          "description": "The scheduled query rule properties of the resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "TimeAggregation": {
      "type": "string",
      "description": "Aggregation type. Relevant and required only for rules of the kind LogAlert.",
      "enum": [
        "Count",
        "Average",
        "Minimum",
        "Maximum",
        "Total"
      ],
      "x-ms-enum": {
        "name": "TimeAggregation",
        "modelAsString": true,
        "values": [
          {
            "name": "Count",
            "value": "Count",
            "description": "Count"
          },
          {
            "name": "Average",
            "value": "Average",
            "description": "Average"
          },
          {
            "name": "Minimum",
            "value": "Minimum",
            "description": "Minimum"
          },
          {
            "name": "Maximum",
            "value": "Maximum",
            "description": "Maximum"
          },
          {
            "name": "Total",
            "value": "Total",
            "description": "Total"
          }
        ]
      }
    }
  },
  "parameters": {}
}
