{
  "swagger": "2.0",
  "info": {
    "title": "BootstrapRP",
    "version": "2025-02-01-preview",
    "description": "Microsoft BareMetal Azure Resource Provider specification",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "BareMetalConnections"
    },
    {
      "name": "PeeringSettings"
    },
    {
      "name": "Operations"
    },
    {
      "name": "Locations"
    }
  ],
  "paths": {
    "/providers/Microsoft.BareMetal/locations/{location}/utilization": {
      "get": {
        "operationId": "LocationsUtilization_List",
        "description": "Get the Utilization for all clusters in the given location\nNew API route starting from 2025-02-01-preview",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocationsUtilization_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/LocationsUtilization_List_MaximumSet_Gen.json"
          },
          "LocationsUtilization_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/LocationsUtilization_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.BareMetal/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BareMetal/bareMetalConnections": {
      "get": {
        "operationId": "BareMetalConnections_ListSubscription",
        "tags": [
          "BareMetalConnections"
        ],
        "description": "List all BareMetalConnection objects in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BareMetalConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BareMetalConnections list subscription": {
            "$ref": "./examples/BareMetalConnections_ListSubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BareMetal/locations/{location}/updateRoutesOnVirtualNetwork": {
      "post": {
        "operationId": "Locations_UpdateRoutesOnVirtualNetwork",
        "tags": [
          "Locations"
        ],
        "description": "Update Routes on Virtual Network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "A location in a subscription",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "updateRoutesOnVirtualNetworkObject",
            "in": "body",
            "description": "The updateRoutesOnVirtualNetwork object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRoutesOnVirtualNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateRoutesOnVirtualNetwork"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Locations_UpdateRoutesOnVirtualNetwork": {
            "$ref": "./examples/Locations_UpdateRoutesOnVirtualNetwork_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BareMetal/peeringSettings": {
      "get": {
        "operationId": "PeeringSettings_ListSubscription",
        "tags": [
          "PeeringSettings"
        ],
        "description": "List all PeeringSetting objects in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PeeringSettings_ListSubscription": {
            "$ref": "./examples/PeeringSettings_ListSubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetal/bareMetalConnections": {
      "get": {
        "operationId": "BareMetalConnections_ListResourceGroup",
        "tags": [
          "BareMetalConnections"
        ],
        "description": "List all BareMetalConnection objects in the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BareMetalConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BareMetalConnections list resource group": {
            "$ref": "./examples/BareMetalConnections_ListResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetal/bareMetalConnections/{connectionName}": {
      "get": {
        "operationId": "BareMetalConnections_Get",
        "tags": [
          "BareMetalConnections"
        ],
        "description": "Get the BareMetalConnection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the BareMetal Connection. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BareMetalConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BareMetalConnections get": {
            "$ref": "./examples/BareMetalConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "BareMetalConnections_CreateOrUpdate",
        "tags": [
          "BareMetalConnections"
        ],
        "description": "Create or update the BareMetalConnection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the BareMetal Connection. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "bareMetalConnectionObject",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BareMetalConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BareMetalConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BareMetalConnection"
            }
          },
          "201": {
            "description": "Resource 'BareMetalConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BareMetalConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BareMetalConnections create or update": {
            "$ref": "./examples/BareMetalConnections_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "BareMetalConnections_Update",
        "tags": [
          "BareMetalConnections"
        ],
        "description": "Patch the BareMetalConnection. Only the tags may be updated.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the BareMetal Connection. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "bareMetalConnectionObject",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BareMetalConnectionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BareMetalConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BareMetalConnections patch": {
            "$ref": "./examples/BareMetalConnections_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "BareMetalConnections_Delete",
        "tags": [
          "BareMetalConnections"
        ],
        "description": "Delete the BareMetalConnection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the BareMetal Connection. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BareMetalConnections delete": {
            "$ref": "./examples/BareMetalConnections_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetal/peeringSettings": {
      "get": {
        "operationId": "PeeringSettings_ListResourceGroup",
        "tags": [
          "PeeringSettings"
        ],
        "description": "List all PeeringSetting objects in the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PeeringSettings_ListResourceGroup": {
            "$ref": "./examples/PeeringSettings_ListResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetal/peeringSettings/{peeringSettingName}": {
      "get": {
        "operationId": "PeeringSettings_Get",
        "tags": [
          "PeeringSettings"
        ],
        "description": "Get the PeeringSetting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringSettingName",
            "in": "path",
            "description": "The name of the Peering Setting. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 36,
            "maxLength": 101,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PeeringSettings_Get": {
            "$ref": "./examples/PeeringSettings_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PeeringSettings_CreateOrUpdate",
        "tags": [
          "PeeringSettings"
        ],
        "description": "Create or update the PeeringSetting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringSettingName",
            "in": "path",
            "description": "The name of the Peering Setting. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 36,
            "maxLength": 101,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "peeringSettingObject",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PeeringSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringSetting"
            }
          },
          "201": {
            "description": "Resource 'PeeringSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringSetting"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PeeringSettings_CreateOrUpdate": {
            "$ref": "./examples/PeeringSettings_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PeeringSettings_Update",
        "tags": [
          "PeeringSettings"
        ],
        "description": "Patch the PeeringSetting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringSettingName",
            "in": "path",
            "description": "The name of the Peering Setting. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 36,
            "maxLength": 101,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "peeringSettingUpdateObject",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringSettingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringSetting"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PeeringSettings_Update": {
            "$ref": "./examples/PeeringSettings_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PeeringSettings_Delete",
        "tags": [
          "PeeringSettings"
        ],
        "description": "Delete the PeeringSetting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringSettingName",
            "in": "path",
            "description": "The name of the Peering Setting. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 36,
            "maxLength": 101,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PeeringSettings_Delete": {
            "$ref": "./examples/PeeringSettings_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BareMetalConnection": {
      "type": "object",
      "description": "Model representing a BareMetal Connection object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BareMetalConnectionProperties",
          "description": "The resource-specific properties for this resource."
        },
        "etag": {
          "type": "string",
          "description": "Resource Etag."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BareMetalConnectionListResult": {
      "type": "object",
      "description": "The response of a BareMetalConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BareMetalConnection items on this page",
          "items": {
            "$ref": "#/definitions/BareMetalConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BareMetalConnectionProperties": {
      "type": "object",
      "description": "Basic BareMetal Connection properties needed for the request and response.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "IPv4 address to be allocated in the subnet of the associated BareMetal Connection."
        },
        "vlanId": {
          "type": "string",
          "description": "VLAN ID assigned to the subnet of the associated BareMetal Connection.  Assigned by resource provider.",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "ID of the baremetal device in GUID format."
        },
        "subnetResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The baremetal-delegated subnet resource ID."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The current provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "ipAddress",
        "deviceId",
        "subnetResourceId"
      ]
    },
    "BareMetalConnectionUpdate": {
      "type": "object",
      "description": "Model representing a BareMetal Connection object.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ClusterList": {
      "type": "object",
      "description": "List of cluster properties",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "Items on this page",
          "items": {
            "$ref": "#/definitions/ClusterProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "clusters"
      ]
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Cluster object representation",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Name of the cluster",
          "readOnly": true
        },
        "vrfCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Virtual Routing and Forwarding currently on the cluster",
          "readOnly": true
        },
        "vrfLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Max number of Virtual Routing and Forwarding for the cluster",
          "readOnly": true
        },
        "routeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of routes currently on the cluster",
          "readOnly": true
        },
        "routeLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Max number of routes for the cluster",
          "readOnly": true
        },
        "allocatedRoutes": {
          "type": "integer",
          "format": "int32",
          "description": "Potential number of routes for the cluster",
          "readOnly": true
        },
        "tier2Alias": {
          "type": "string",
          "description": "Alias of the T2 device",
          "readOnly": true
        },
        "sdnAppliancePlacement": {
          "$ref": "#/definitions/SdnAppliancePlacement",
          "description": "Placement of the SDN Appliance",
          "readOnly": true
        },
        "sdnApplianceEnabled": {
          "type": "boolean",
          "description": "True if Rotterdam, else False",
          "readOnly": true
        },
        "availabilityZone": {
          "type": "string",
          "description": "AvailabilityZone of the cluster in string format",
          "readOnly": true
        },
        "physicalZoneIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Physical index of current availability zone",
          "readOnly": true
        },
        "allocatedRoutesLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Route limits for cache enabled clusters",
          "readOnly": true
        },
        "lastUpdated": {
          "type": "string",
          "description": "Timestamp when the current values were retrieved from the cluster",
          "readOnly": true
        }
      }
    },
    "PeeringLinkProvisioningState": {
      "type": "string",
      "description": "The current provisioning state for a peering link.",
      "enum": [
        "Succeeded",
        "Failed",
        "Removed"
      ],
      "x-ms-enum": {
        "name": "PeeringLinkProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "is succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "is failed"
          },
          {
            "name": "Removed",
            "value": "Removed",
            "description": "is removed"
          }
        ]
      },
      "readOnly": true
    },
    "PeeringSetting": {
      "type": "object",
      "description": "Model representing a Peering Setting object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PeeringSettingProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PeeringSettingListResult": {
      "type": "object",
      "description": "The response of a PeeringSetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PeeringSetting items on this page",
          "items": {
            "$ref": "#/definitions/PeeringSetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PeeringSettingProperties": {
      "type": "object",
      "description": "Basic Peering Setting properties needed for the request and response.",
      "properties": {
        "linkedResources": {
          "type": "array",
          "description": "Linked Resources in a source vnet.",
          "items": {
            "type": "string"
          }
        },
        "virtualNetworkId": {
          "type": "string",
          "description": "Source vnet ID in the following format: \"Source/VNET/ARM/Resource/ID\""
        },
        "virtualNetworkGuid": {
          "type": "string",
          "description": "Source vnet GUID."
        },
        "remotePeeringLinks": {
          "type": "array",
          "description": "Peering links from a source vnet to remote vnet(s).",
          "items": {
            "$ref": "#/definitions/RemotePeeringLink"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The current provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "linkedResources",
        "virtualNetworkId",
        "virtualNetworkGuid",
        "remotePeeringLinks"
      ]
    },
    "PeeringSettingUpdate": {
      "type": "object",
      "description": "Updated peering setting object",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Creating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "is creating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "is deleting"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "is succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "is failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "is canceled"
          }
        ]
      },
      "readOnly": true
    },
    "RemotePeeringLink": {
      "type": "object",
      "description": "Model representing a Remote Peering Link",
      "properties": {
        "remoteVirtualNetworkId": {
          "type": "string",
          "description": "Remote vnet ID in the following format: \"Remote/VNET/ARM/Resource/ID\""
        },
        "autoSyncProvisioningStatus": {
          "$ref": "#/definitions/PeeringLinkProvisioningState",
          "description": "The current provisioning state for a peering link.",
          "readOnly": true
        }
      },
      "required": [
        "remoteVirtualNetworkId"
      ]
    },
    "RouteToVirtualNetworkOperationStatus": {
      "type": "string",
      "description": "Status of the route to virtualNetwork.",
      "enum": [
        "succeeded",
        "failed"
      ],
      "x-ms-enum": {
        "name": "RouteToVirtualNetworkOperationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "succeeded",
            "value": "succeeded",
            "description": "is succeeded"
          },
          {
            "name": "failed",
            "value": "failed",
            "description": "is failed"
          }
        ]
      }
    },
    "RoutesToVirtualNetworkOperationType": {
      "type": "string",
      "description": "Type of operation.",
      "enum": [
        "create",
        "delete"
      ],
      "x-ms-enum": {
        "name": "RoutesToVirtualNetworkOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "create",
            "value": "create",
            "description": "is create operation"
          },
          {
            "name": "delete",
            "value": "delete",
            "description": "is delete operation"
          }
        ]
      }
    },
    "RoutesToVirtualNetworkOperationsProperties": {
      "type": "object",
      "description": "Routes to VirtualNetwork Operations Properties.",
      "properties": {
        "vnetId": {
          "type": "string",
          "description": "Vnet Id in GUID format."
        },
        "routeAddress": {
          "type": "string",
          "description": "Route Address in IP Address format."
        },
        "nextHopNetworkInterfaceId": {
          "type": "string",
          "description": "Next Hop Network Interface Id in GUID format."
        },
        "logicalContainerId": {
          "type": "string",
          "description": "Logical Container Id in GUID format."
        },
        "availabilityZone": {
          "type": "string",
          "description": "AvailabilityZone in string format."
        },
        "status": {
          "$ref": "#/definitions/RouteToVirtualNetworkOperationStatus",
          "description": "Status of the route.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "The error detail.",
          "readOnly": true
        }
      },
      "required": [
        "vnetId",
        "routeAddress",
        "logicalContainerId",
        "availabilityZone"
      ]
    },
    "SdnAppliancePlacement": {
      "type": "string",
      "description": "Placement of the SDN Appliance",
      "enum": [
        "T1",
        "T2",
        "AcrossT2"
      ],
      "x-ms-enum": {
        "name": "SdnAppliancePlacement",
        "modelAsString": true,
        "values": [
          {
            "name": "T1",
            "value": "T1",
            "description": "T1 device"
          },
          {
            "name": "T2",
            "value": "T2",
            "description": "T2 device"
          },
          {
            "name": "AcrossT2",
            "value": "AcrossT2",
            "description": "Across T2 device"
          }
        ]
      }
    },
    "UpdateRoutesOnVirtualNetwork": {
      "type": "object",
      "description": "Update Routes on VirtualNetwork Object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UpdateRoutesOnVirtualNetworkProperties",
          "description": "Update Routes on Virtual Network Properties Object."
        }
      }
    },
    "UpdateRoutesOnVirtualNetworkProperties": {
      "type": "object",
      "description": "Update Routes on VirtualNetwork Properties.",
      "properties": {
        "routesToVirtualNetwork": {
          "type": "array",
          "description": "List of Routes that needs to updated for VirtualNetwork.",
          "items": {
            "$ref": "#/definitions/RoutesToVirtualNetworkOperationsProperties"
          },
          "x-ms-identifiers": [
            "vnetId",
            "routeAddress"
          ]
        },
        "operationType": {
          "$ref": "#/definitions/RoutesToVirtualNetworkOperationType",
          "description": "Type of operation."
        }
      },
      "required": [
        "routesToVirtualNetwork",
        "operationType"
      ]
    }
  },
  "parameters": {}
}
