{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2017-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "operationId": "Metrics_List",
        "description": "**Lists the metric values for a resource**.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"            
          },
          {
            "$ref": "#/parameters/TimespanParameter"
          },
          {
            "$ref": "#/parameters/IntervalParameter"
          },
          {
            "$ref": "#/parameters/MetricParameter"
          },
          {
            "$ref": "#/parameters/AggregationsParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/OrderByParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric contains metadata A, B and C.<br>- Return all time series of C where A = a1 and B = b1 or b2<br>**$filter=A eq ‘a1’ and B eq ‘b1’ or B eq ‘b2’ and C eq ‘*’**<br>- Invalid variant:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘*’ or B = ‘b2’**<br>This is invalid because the logical or operator cannot separate two different metadata names.<br>- Return all time series where A = a1, B = b1 and C = c1:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘c1’**<br>- Return all time series where A = a1<br>**$filter=A eq ‘a1’ and B eq ‘*’ and C eq ‘*’**.",
            "required": false
          },
          {
            "$ref": "#/parameters/ResultTypeParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric values.",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "examples": {
              "application/json": {
                "cost": 0,
                "timespan": "2017-08-10T21:44:34Z/2017-08-10T22:44:34Z",
                "interval": "PT1M",
                "value": [{
                    "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/Microsoft.Insights/metrics/CpuTime",
                    "type": "Microsoft.Insights/metrics",
                    "name": {
                      "value": "CpuTime",
                      "localizedValue": "CPU Time"
                    },
                    "unit": "Seconds",
                    "timeseries": [{
                        "metadatavalues": [],
                        "data": [{
                            "timeStamp": "2017-08-10T21:44:00Z",
                            "total": 0.0
                          }, {
                            "timeStamp": "2017-08-10T21:45:00Z",
                            "total": 0.0
                          }, {
                            "timeStamp": "2017-08-10T21:46:00Z",
                            "total": 0.0
                          }, {
                            "timeStamp": "2017-08-10T21:47:00Z",
                            "total": 0.0
                          }, {
                            "timeStamp": "2017-08-10T21:48:00Z",
                            "total": 0.0
                          }, {
                            "timeStamp": "2017-08-10T21:49:00Z",
                            "total": 0.0
                          }, {
                            "timeStamp": "2017-08-10T21:50:00Z",
                            "total": 0.0
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "x-ms-odata": "#/definitions/MetadataValue",
        "x-ms-examples": {
          "Get Metric for data": { "$ref": "./examples/GetMetric.json" },
          "Get Metric for metadata": { "$ref": "./examples/GetMetricMetadata.json" }
        }
      }
    }
  },
  "definitions": {
    "LocalizableString": {
      "required": [ "value" ],
      "properties": {
        "value": {
          "type": "string",
          "description": "the invariant value."
        },
        "localizedValue": {
          "type": "string",
          "description": "the locale specific value."
        }
      },
      "description": "The localizable string class."
    },
    "Unit": {
      "type": "string",
      "description": "the unit of the metric.",
      "enum": [
        "Count",
        "Bytes",
        "Seconds",
        "CountPerSecond",
        "BytesPerSecond",
        "Percent",
        "MilliSeconds",
        "ByteSeconds",
        "Unspecified"
      ],
      "x-ms-enum": {
        "name": "Unit",
        "modelAsString": false
      }
    },
    "MetricValue": {
      "required": [ "timeStamp" ],
      "properties": {
        "timeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "the timestamp for the metric value in ISO 8601 format."
        },
        "average": {
          "type": "number",
          "format": "double",
          "description": "the average value in the time range."
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "the least value in the time range."
        },
        "maximum": {
          "type": "number",
          "format": "double",
          "description": "the greatest value in the time range."
        },
        "total": {
          "type": "number",
          "format": "double",
          "description": "the sum of all of the values in the time range."
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "the number of samples in the time range. Can be used to determine the number of values that contributed to the average value."
        }
      },
      "description": "Represents a metric value."
    },
    "MetadataValue": {
      "properties": {
        "name": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the name of the metadata."
        },
        "value": {
          "type": "string",
          "description": "the value of the metadata."
        }
      },
      "description": "Represents a metric metadata value."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Response": {
      "type": "object",
      "properties": {
        "cost": {
          "type": "number",
          "format": "int32",
          "minimum": 0,
          "description": "The integer value representing the cost of the query, for data case."
        },
        "timespan": {
          "type": "string",
          "description": "The timespan for which the data was retrieved. Its value consists of two datatimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested."
        },
        "interval": {
          "type": "string",
          "format": "duration",
          "description": "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          },
          "description": "the value of the collection."
        }
      }, 
      "required": [ "timespan", "value" ],
      "description": "The response to a metrics query."
    },
    "Metric": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "the metric Id."
        },
        "type": {
          "type": "string",
          "description": "the resource type of the metric resource."
        },
        "name": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the name and the display name of the metric, i.e. it is localizable string."
        },
        "unit": {
          "$ref": "#/definitions/Unit",
          "description": "the unit of the metric."
        },
        "timeseries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeSeriesElement"
          },
          "description": "the time series returned when a data query is performed."
        }
      },
      "required": [ "id", "type", "name", "unit", "timeseries" ],
      "description": "The result data of a query."
    },
    "TimeSeriesElement": {
      "type": "object",
      "properties": {
        "metadatavalues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetadataValue"
          },
          "description": "the metadata values returned if $filter was specified in the call."
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricValue"
          },
          "description": "An array of data points representing the metric values.  This is only returned if a result type of data is specified."
        }
      },
      "description": "A time series result type. The discriminator value is always TimeSeries in this case."
    }
  },
  "parameters": {
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier of the resource.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "TimespanParameter": {
      "name": "timespan",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
      "x-ms-parameter-location": "method"
    },
    "IntervalParameter": {
      "name": "interval",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "duration",
      "description": "The interval (i.e. timegrain) of the query.",
      "x-ms-parameter-location": "method"
    },
    "MetricParameter": {
      "name": "metric",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The name of the metric to retrieve.",
      "x-ms-parameter-location": "method"
    },
    "AggregationsParameter": {
      "name": "aggregation",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The list of aggregation types (comma separated) to retrieve.",
      "x-ms-parameter-location": "method"
    },
    "TopParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "number",
      "format": "int32",
      "description": "The maximum number of records to retrieve.\nValid only if $filter is specified.\nDefaults to 10.",
      "x-ms-parameter-location": "method"
    },
    "OrderByParameter": {
      "name": "$orderby",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The aggregation to use for sorting results and the direction of the sort.\nOnly one order can be specified.\nExamples: sum asc.",
      "x-ms-parameter-location": "method"
    },
    "ResultTypeParameter": {
      "name": "resultType",
      "in": "query",
      "type": "string",
      "enum": [
        "Data",
        "Metadata"
      ],
      "x-ms-enum": {
        "name": "ResultType",
        "modelAsString": false
      },
      "description": "Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.",
      "x-ms-parameter-location": "method",
      "required": false
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}