{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2026-09-01-preview",
    "description": "API specification for Microsoft Defender for Cloud billing plans.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "BillingPlans"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/billingPlans": {
      "get": {
        "operationId": "BillingPlans_ListBySubscription",
        "tags": [
          "BillingPlans"
        ],
        "description": "Lists billing plans in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists billing plans in a subscription": {
            "$ref": "./examples/BillingPlans/ListBillingPlansBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/billingPlans": {
      "get": {
        "operationId": "BillingPlans_ListByResourceGroup",
        "tags": [
          "BillingPlans"
        ],
        "description": "Lists billing plans in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists billing plans in a resource group": {
            "$ref": "./examples/BillingPlans/ListBillingPlansByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/billingPlans/{billingPlanName}": {
      "get": {
        "operationId": "BillingPlans_Get",
        "tags": [
          "BillingPlans"
        ],
        "description": "Gets a billing plan.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "billingPlanName",
            "in": "path",
            "description": "The name of the BillingPlan",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a billing plan": {
            "$ref": "./examples/BillingPlans/GetBillingPlan.json"
          }
        }
      },
      "put": {
        "operationId": "BillingPlans_CreateOrUpdate",
        "tags": [
          "BillingPlans"
        ],
        "description": "Creates or replaces a billing plan.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "billingPlanName",
            "in": "path",
            "description": "The name of the BillingPlan",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BillingPlan' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BillingPlan"
            }
          },
          "201": {
            "description": "Resource 'BillingPlan' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BillingPlan"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates a billing plan": {
            "$ref": "./examples/BillingPlans/CreateOrUpdateBillingPlan.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/BillingPlan"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "BillingPlans_Update",
        "tags": [
          "BillingPlans"
        ],
        "description": "Updates a billing plan.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "billingPlanName",
            "in": "path",
            "description": "The name of the BillingPlan",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingPlanUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingPlan"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a billing plan": {
            "$ref": "./examples/BillingPlans/UpdateBillingPlan.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/BillingPlan"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BillingPlans_Delete",
        "tags": [
          "BillingPlans"
        ],
        "description": "Deletes a billing plan.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "billingPlanName",
            "in": "path",
            "description": "The name of the BillingPlan",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a billing plan": {
            "$ref": "./examples/BillingPlans/DeleteBillingPlan.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BillingPlan": {
      "type": "object",
      "description": "A Microsoft Defender for Cloud billing plan.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BillingPlanProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BillingPlanListResult": {
      "type": "object",
      "description": "The response of a BillingPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BillingPlan items on this page",
          "items": {
            "$ref": "#/definitions/BillingPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BillingPlanProperties": {
      "type": "object",
      "description": "Properties of a billing plan.",
      "properties": {
        "serviceType": {
          "type": "string",
          "description": "The service associated with the billing plan.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/BillingPlanState",
          "description": "Indicates whether the billing plan is enabled.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "serviceProperties": {
          "type": "object",
          "description": "Service-specific billing plan configuration. The schema is owned by the\nservice identified by serviceType.",
          "additionalProperties": {},
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/BillingPlanProvisioningState",
          "description": "The status of the most recent resource operation.",
          "readOnly": true
        }
      },
      "required": [
        "serviceType",
        "state"
      ]
    },
    "BillingPlanProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a billing plan.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "BillingPlanProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource creation request has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      }
    },
    "BillingPlanState": {
      "type": "string",
      "description": "The operational state of a billing plan.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "BillingPlanState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The billing plan is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The billing plan is disabled."
          }
        ]
      }
    },
    "BillingPlanUpdate": {
      "type": "object",
      "description": "The request body for updating a billing plan.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BillingPlanUpdateProperties",
          "description": "Properties to update on the billing plan."
        }
      }
    },
    "BillingPlanUpdateProperties": {
      "type": "object",
      "description": "Properties that can be updated on a billing plan.",
      "properties": {
        "state": {
          "$ref": "#/definitions/BillingPlanState",
          "description": "Indicates whether the billing plan is enabled."
        }
      }
    }
  },
  "parameters": {}
}
