{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2026-09-01-preview",
    "description": "API specification for Microsoft Defender for Cloud service entitlements.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ServiceEntitlements"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/serviceEntitlements": {
      "get": {
        "operationId": "ServiceEntitlements_ListBySubscription",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Lists service entitlements in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceEntitlementListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists security entitlements in a subscription": {
            "$ref": "./examples/ServiceEntitlements/ListServiceEntitlementsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/serviceEntitlements": {
      "get": {
        "operationId": "ServiceEntitlements_ListByResourceGroup",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Lists service entitlements in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceEntitlementListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists security entitlements in a resource group": {
            "$ref": "./examples/ServiceEntitlements/ListServiceEntitlementsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/serviceEntitlements/{serviceEntitlementName}": {
      "get": {
        "operationId": "ServiceEntitlements_Get",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Gets a service entitlement.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceEntitlementName",
            "in": "path",
            "description": "The name of the ServiceEntitlement",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceEntitlement"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a service entitlement": {
            "$ref": "./examples/ServiceEntitlements/GetServiceEntitlement.json"
          }
        }
      },
      "put": {
        "operationId": "ServiceEntitlements_CreateOrUpdate",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Creates or replaces a service entitlement.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceEntitlementName",
            "in": "path",
            "description": "The name of the ServiceEntitlement",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceEntitlement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServiceEntitlement' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceEntitlement"
            }
          },
          "201": {
            "description": "Resource 'ServiceEntitlement' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceEntitlement"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a service entitlement": {
            "$ref": "./examples/ServiceEntitlements/CreateOrUpdateServiceEntitlement.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ServiceEntitlements_Update",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Updates a service entitlement.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceEntitlementName",
            "in": "path",
            "description": "The name of the ServiceEntitlement",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceEntitlementUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceEntitlement"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a security entitlement": {
            "$ref": "./examples/ServiceEntitlements/UpdateServiceEntitlement.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ServiceEntitlements_Delete",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Deletes a service entitlement.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceEntitlementName",
            "in": "path",
            "description": "The name of the ServiceEntitlement",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a service entitlement": {
            "$ref": "./examples/ServiceEntitlements/DeleteServiceEntitlement.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/serviceEntitlements/{serviceEntitlementName}/operationResults/{operationId}": {
      "get": {
        "operationId": "ServiceEntitlements_GetOperationResult",
        "tags": [
          "ServiceEntitlements"
        ],
        "description": "Gets the result of a long-running operation performed on a service entitlement.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceEntitlementName",
            "in": "path",
            "description": "The name of the service entitlement.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the result of a long-running operation on a service entitlement": {
            "$ref": "./examples/ServiceEntitlements/GetServiceEntitlementOperationResult.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ServiceEntitlement": {
      "type": "object",
      "description": "A Microsoft Defender for Cloud service entitlement.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceEntitlementProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ServiceEntitlementListResult": {
      "type": "object",
      "description": "The response of a ServiceEntitlement list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ServiceEntitlement items on this page",
          "items": {
            "$ref": "#/definitions/ServiceEntitlement"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServiceEntitlementProperties": {
      "type": "object",
      "description": "Properties of a service entitlement.",
      "properties": {
        "serviceType": {
          "type": "string",
          "description": "The service associated with the service entitlement. Current supported Value is Perception.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/ServiceEntitlementState",
          "description": "Indicates whether the service entitlement is enabled.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ServiceEntitlementProvisioningState",
          "description": "The status of the most recent resource operation.",
          "readOnly": true
        }
      },
      "required": [
        "serviceType",
        "state"
      ]
    },
    "ServiceEntitlementProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a service entitlement.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ServiceEntitlementProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource creation request has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "ServiceEntitlementState": {
      "type": "string",
      "description": "The operational state of a service entitlement.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ServiceEntitlementState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The service entitlement is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The service entitlement is disabled."
          }
        ]
      }
    },
    "ServiceEntitlementUpdate": {
      "type": "object",
      "description": "The request body for updating a service entitlement.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ServiceEntitlementUpdateProperties",
          "description": "Properties to update on the service entitlement."
        }
      }
    },
    "ServiceEntitlementUpdateProperties": {
      "type": "object",
      "description": "Properties that can be updated on a service entitlement.",
      "properties": {
        "state": {
          "$ref": "#/definitions/ServiceEntitlementState",
          "description": "Indicates whether the service entitlement is enabled."
        }
      }
    }
  },
  "parameters": {}
}
