{
  "swagger": "2.0",
  "info": {
    "title": "GraphServices",
    "description": "Microsoft Graph Metering Service",
    "version": "2022-04-18-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Graph/azureAdApplication": {
      "get": {
        "description": "Returns list of AzureAdApplication apps.",
        "operationId": "AzureAdApplication_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "AzureAdApplication details.",
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update AzureAdApplication resource": {
            "$ref": "./examples/AzureADApplication_List.json"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Graph/azureAdApplication": {
      "get": {
        "description": "Returns list of AzureAdApplication belonging to a subscription.",
        "operationId": "AzureAdApplication_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "AzureAdApplication details.",
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get list of AzureAdApplication by subscription": {
            "$ref": "./examples/AzureADApplication_List_Sub.json"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Graph/azureAdApplication/{resourceName}": {
      "get": {
        "description": "Returns AzureAdApplication resource for a given name.",
        "operationId": "AzureAdApplication_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "AzureAdApplication details.",
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AzureAdApplication": {
            "$ref": "./examples/AzureADApplication_Get.json"
          }
        }
      },
      "put": {
        "description": "Create or update AzureAdApplication resource.",
        "operationId": "AzureAdApplication_CreateAndUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "BillableAzureAdApplication",
            "description": "AzureAdApplication details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResource"
            }
          },
          "201": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create AzureAdApplication resource": {
            "$ref": "./examples/AzureADApplication_Create.json"
          }
        }
      },
      "patch": {
        "description": "Update AzureAdApplication details.",
        "operationId": "AzureAdApplication_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "BillableAzureAdApplicationPatch",
            "description": "AzureAdApplication patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureAdApplicationResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update AzureAdApplication resource": {
            "$ref": "./examples/AzureADApplication_Update.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a AzureAdApplication resource.",
        "operationId": "AzureAdApplication_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account was deleted."
          },
          "202": {
            "description": "Async operation to delete Account was created."
          },
          "204": {
            "description": "Account has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AzureAdApplication resource": {
            "$ref": "./examples/AzureADApplication_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Graph/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get list of operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object",
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "AzureAdApplicationResource": {
      "type": "object",
      "description": "AzureAdApplication details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "type": "object",
          "required": [
            "appId"
          ],
          "properties": {
            "provisioningState": {
              "description": "provisioning state",
              "type": "string",
              "readOnly": true
            },
            "appId": {
              "type": "string",
              "description": "User owned App Id",
              "pattern": "^[A-Za-z0-9-]+$"
            }
          }
        }
      }
    },
    "AzureAdApplicationPatchResource": {
      "type": "object",
      "description": "AzureAdApplication patch properties",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "provisioning state",
              "type": "string",
              "readOnly": true
            },
            "appId": {
              "type": "string",
              "description": "User owned App Id",
              "pattern": "^[A-Za-z0-9-]+$"
            }
          }
        }
      }
    },
    "AzureAdApplicationResourceList": {
      "description": "The list of AzureAdApplication.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of AzureAdApplication list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureAdApplicationResource"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
