{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2025-09-09-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BusinessCaseOperations"
    },
    {
      "name": "BusinessCaseOverviewSummaryOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases": {
      "get": {
        "operationId": "BusinessCaseOperations_ListByParent",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "List BusinessCase resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}": {
      "get": {
        "operationId": "BusinessCaseOperations_Get",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "Get a BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Get_MaximumSet": {
            "$ref": "./examples/BusinessCaseOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "BusinessCaseOperations_Create",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "Create a BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BusinessCase' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "201": {
            "description": "Resource 'BusinessCase' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Create_MaximumSet": {
            "$ref": "./examples/BusinessCaseOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BusinessCaseOperations_Delete",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "Delete a BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/getReportDownloadUrl": {
      "post": {
        "operationId": "BusinessCaseOperations_GetReportDownloadUrl",
        "tags": [
          "BusinessCaseOperations"
        ],
        "summary": "Get download URL for the business case report.",
        "description": "Get the URL for downloading the business case in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReportDownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get download URL for the business case report. - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOperations_GetReportDownloadUrl_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/overviewSummaries": {
      "get": {
        "operationId": "BusinessCaseOverviewSummaryOperations_ListByParent",
        "tags": [
          "BusinessCaseOverviewSummaryOperations"
        ],
        "description": "List OverviewSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OverviewSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOverviewSummaryOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/overviewSummaries/{overviewSummaryName}": {
      "get": {
        "operationId": "BusinessCaseOverviewSummaryOperations_Get",
        "tags": [
          "BusinessCaseOverviewSummaryOperations"
        ],
        "description": "Get a OverviewSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "overviewSummaryName",
            "in": "path",
            "description": "Gets the Name of the Overview Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OverviewSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOverviewSummaryOperations_Get_MaximumSet": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssessmentProject": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Assessments": {
      "type": "object",
      "description": "Business case report details.",
      "properties": {
        "type": {
          "type": "string",
          "description": "type of armId"
        },
        "armId": {
          "type": "string",
          "description": "armId of the dependent assessments"
        }
      },
      "required": [
        "type",
        "armId"
      ]
    },
    "AzureArcManagementSettings": {
      "type": "object",
      "description": "Azure Arc Management settings.",
      "properties": {
        "monitoringSettings": {
          "$ref": "#/definitions/AzureArcMonitoringSettings",
          "description": "Gets the azure arc monitoring settings."
        }
      },
      "required": [
        "monitoringSettings"
      ]
    },
    "AzureArcMonitoringSettings": {
      "type": "object",
      "description": "Azure Arc Monitoring settings.",
      "properties": {
        "logsVolumeInGB": {
          "type": "number",
          "format": "float",
          "description": "Logs volume settings."
        },
        "alertRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of alert rules settings."
        }
      },
      "required": [
        "logsVolumeInGB",
        "alertRulesCount"
      ]
    },
    "AzureArcSettings": {
      "type": "object",
      "description": "Azure arc settings for a business case.",
      "properties": {
        "azureArcState": {
          "$ref": "#/definitions/AzureArcState",
          "description": "AzureArc state indicates whether to include azure arc related costs in on-premises or not."
        },
        "laborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets Azure arc labour cost percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "managementSettings": {
          "$ref": "#/definitions/AzureArcManagementSettings",
          "description": "Management settings."
        }
      },
      "required": [
        "azureArcState"
      ]
    },
    "AzureArcState": {
      "type": "string",
      "description": "AzureArc state values.",
      "enum": [
        "Disabled",
        "Enabled",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "AzureArcState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "AzureArc state disabled."
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "AzureArc state enabled."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "AzureArc state unknown."
          }
        ]
      }
    },
    "AzureCurrency": {
      "type": "string",
      "description": "Currency for Azure.",
      "enum": [
        "Unknown",
        "USD",
        "DKK",
        "CAD",
        "IDR",
        "JPY",
        "KRW",
        "NZD",
        "NOK",
        "RUB",
        "SAR",
        "ZAR",
        "SEK",
        "TRY",
        "GBP",
        "MXN",
        "MYR",
        "INR",
        "HKD",
        "BRL",
        "TWD",
        "EUR",
        "CHF",
        "ARS",
        "AUD",
        "CNY"
      ],
      "x-ms-enum": {
        "name": "AzureCurrency",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Currency for Azure"
          },
          {
            "name": "USD",
            "value": "USD",
            "description": "USD Currency for Azure"
          },
          {
            "name": "DKK",
            "value": "DKK",
            "description": "DKK Currency for Azure"
          },
          {
            "name": "CAD",
            "value": "CAD",
            "description": "CAD Currency for Azure"
          },
          {
            "name": "IDR",
            "value": "IDR",
            "description": "IDR Currency for Azure"
          },
          {
            "name": "JPY",
            "value": "JPY",
            "description": "JPY Currency for Azure"
          },
          {
            "name": "KRW",
            "value": "KRW",
            "description": "KRW Currency for Azure"
          },
          {
            "name": "NZD",
            "value": "NZD",
            "description": "NZD Currency for Azure"
          },
          {
            "name": "NOK",
            "value": "NOK",
            "description": "NOK Currency for Azure"
          },
          {
            "name": "RUB",
            "value": "RUB",
            "description": "RUB Currency for Azure"
          },
          {
            "name": "SAR",
            "value": "SAR",
            "description": "SAR Currency for Azure"
          },
          {
            "name": "ZAR",
            "value": "ZAR",
            "description": "ZAR Currency for Azure"
          },
          {
            "name": "SEK",
            "value": "SEK",
            "description": "SEK Currency for Azure"
          },
          {
            "name": "TRY",
            "value": "TRY",
            "description": "TRY Currency for Azure"
          },
          {
            "name": "GBP",
            "value": "GBP",
            "description": "GBP Currency for Azure"
          },
          {
            "name": "MXN",
            "value": "MXN",
            "description": "MXN Currency for Azure"
          },
          {
            "name": "MYR",
            "value": "MYR",
            "description": "MYR Currency for Azure"
          },
          {
            "name": "INR",
            "value": "INR",
            "description": "INR Currency for Azure"
          },
          {
            "name": "HKD",
            "value": "HKD",
            "description": "HKD Currency for Azure"
          },
          {
            "name": "BRL",
            "value": "BRL",
            "description": "BRL Currency for Azure"
          },
          {
            "name": "TWD",
            "value": "TWD",
            "description": "TWD Currency for Azure"
          },
          {
            "name": "EUR",
            "value": "EUR",
            "description": "EUR Currency for Azure"
          },
          {
            "name": "CHF",
            "value": "CHF",
            "description": "CHF Currency for Azure"
          },
          {
            "name": "ARS",
            "value": "ARS",
            "description": "ARS Currency for Azure"
          },
          {
            "name": "AUD",
            "value": "AUD",
            "description": "AUD Currency for Azure"
          },
          {
            "name": "CNY",
            "value": "CNY",
            "description": "CNY Currency for Azure"
          }
        ]
      }
    },
    "AzureLocation": {
      "type": "string",
      "description": "Location for Azure.",
      "enum": [
        "Unknown",
        "EastAsia",
        "SoutheastAsia",
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CanadaCentral",
        "CanadaEast",
        "WestEurope",
        "NorthEurope",
        "CentralIndia",
        "SouthIndia",
        "WestIndia",
        "JapanEast",
        "JapanWest",
        "KoreaCentral",
        "KoreaSouth",
        "UkWest",
        "UkSouth",
        "NorthCentralUs",
        "EastUs",
        "WestUs2",
        "SouthCentralUs",
        "CentralUs",
        "EastUs2",
        "WestUs",
        "WestCentralUs",
        "GermanyCentral",
        "GermanyNortheast",
        "ChinaNorth",
        "ChinaEast",
        "USGovArizona",
        "USGovTexas",
        "USGovIowa",
        "USGovVirginia",
        "USDoDCentral",
        "USDoDEast",
        "FranceCentral",
        "AustraliaCentral",
        "SouthAfricaNorth",
        "FranceSouth",
        "AustraliaCentral2",
        "SouthAfricaWest",
        "GermanyNorth",
        "GermanyWestCentral",
        "NorwayEast",
        "NorwayWest",
        "ChinaEast2",
        "ChinaNorth2",
        "SwitzerlandNorth",
        "SwitzerlandWest",
        "UAENorth",
        "UAECentral",
        "UsNatEast",
        "UsNatWest",
        "UsSecEast",
        "UsSecCentral",
        "UsSecWest",
        "SwedenCentral",
        "QatarCentral",
        "JioIndiaWest",
        "ItalyNorth",
        "PolandCentral",
        "IsraelCentral",
        "MexicoCentral",
        "NewZealandNorth",
        "SpainCentral"
      ],
      "x-ms-enum": {
        "name": "AzureLocation",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Location for Azure"
          },
          {
            "name": "EastAsia",
            "value": "EastAsia",
            "description": "EastAsia Location for Azure"
          },
          {
            "name": "SoutheastAsia",
            "value": "SoutheastAsia",
            "description": "SoutheastAsia Location for Azure"
          },
          {
            "name": "AustraliaEast",
            "value": "AustraliaEast",
            "description": "AustraliaEast Location for Azure"
          },
          {
            "name": "AustraliaSoutheast",
            "value": "AustraliaSoutheast",
            "description": "AustraliaSoutheast Location for Azure"
          },
          {
            "name": "BrazilSouth",
            "value": "BrazilSouth",
            "description": "BrazilSouth Location for Azure"
          },
          {
            "name": "CanadaCentral",
            "value": "CanadaCentral",
            "description": "CanadaCentral Location for Azure"
          },
          {
            "name": "CanadaEast",
            "value": "CanadaEast",
            "description": "CanadaEast Location for Azure"
          },
          {
            "name": "WestEurope",
            "value": "WestEurope",
            "description": "WestEurope Location for Azure"
          },
          {
            "name": "NorthEurope",
            "value": "NorthEurope",
            "description": "NorthEurope Location for Azure"
          },
          {
            "name": "CentralIndia",
            "value": "CentralIndia",
            "description": "CentralIndia Location for Azure"
          },
          {
            "name": "SouthIndia",
            "value": "SouthIndia",
            "description": "SouthIndia Location for Azure"
          },
          {
            "name": "WestIndia",
            "value": "WestIndia",
            "description": "WestIndia Location for Azure"
          },
          {
            "name": "JapanEast",
            "value": "JapanEast",
            "description": "JapanEast Location for Azure"
          },
          {
            "name": "JapanWest",
            "value": "JapanWest",
            "description": "JapanWest Location for Azure"
          },
          {
            "name": "KoreaCentral",
            "value": "KoreaCentral",
            "description": "KoreaCentral Location for Azure"
          },
          {
            "name": "KoreaSouth",
            "value": "KoreaSouth",
            "description": "KoreaSouth Location for Azure"
          },
          {
            "name": "UkWest",
            "value": "UkWest",
            "description": "UkWest Location for Azure"
          },
          {
            "name": "UkSouth",
            "value": "UkSouth",
            "description": "UkSouth Location for Azure"
          },
          {
            "name": "NorthCentralUs",
            "value": "NorthCentralUs",
            "description": "NorthCentralUs Location for Azure"
          },
          {
            "name": "EastUs",
            "value": "EastUs",
            "description": "EastUs Location for Azure"
          },
          {
            "name": "WestUs2",
            "value": "WestUs2",
            "description": "WestUs2 Location for Azure"
          },
          {
            "name": "SouthCentralUs",
            "value": "SouthCentralUs",
            "description": "SouthCentralUs Location for Azure"
          },
          {
            "name": "CentralUs",
            "value": "CentralUs",
            "description": "CentralUs Location for Azure"
          },
          {
            "name": "EastUs2",
            "value": "EastUs2",
            "description": "EastUs2 Location for Azure"
          },
          {
            "name": "WestUs",
            "value": "WestUs",
            "description": "WestUs Location for Azure"
          },
          {
            "name": "WestCentralUs",
            "value": "WestCentralUs",
            "description": "WestCentralUs Location for Azure"
          },
          {
            "name": "GermanyCentral",
            "value": "GermanyCentral",
            "description": "GermanyCentral Location for Azure"
          },
          {
            "name": "GermanyNortheast",
            "value": "GermanyNortheast",
            "description": "GermanyNortheast Location for Azure"
          },
          {
            "name": "ChinaNorth",
            "value": "ChinaNorth",
            "description": "ChinaNorth Location for Azure"
          },
          {
            "name": "ChinaEast",
            "value": "ChinaEast",
            "description": "ChinaEast Location for Azure"
          },
          {
            "name": "USGovArizona",
            "value": "USGovArizona",
            "description": "USGovArizona Location for Azure"
          },
          {
            "name": "USGovTexas",
            "value": "USGovTexas",
            "description": "USGovTexas Location for Azure"
          },
          {
            "name": "USGovIowa",
            "value": "USGovIowa",
            "description": "USGovIowa Location for Azure"
          },
          {
            "name": "USGovVirginia",
            "value": "USGovVirginia",
            "description": "USGovVirginia Location for Azure"
          },
          {
            "name": "USDoDCentral",
            "value": "USDoDCentral",
            "description": "USDoDCentral Location for Azure"
          },
          {
            "name": "USDoDEast",
            "value": "USDoDEast",
            "description": "USDoDEast Location for Azure"
          },
          {
            "name": "FranceCentral",
            "value": "FranceCentral",
            "description": "FranceCentral Location for Azure"
          },
          {
            "name": "AustraliaCentral",
            "value": "AustraliaCentral",
            "description": "AustraliaCentral Location for Azure"
          },
          {
            "name": "SouthAfricaNorth",
            "value": "SouthAfricaNorth",
            "description": "SouthAfricaNorth Location for Azure"
          },
          {
            "name": "FranceSouth",
            "value": "FranceSouth",
            "description": "FranceSouth Location for Azure"
          },
          {
            "name": "AustraliaCentral2",
            "value": "AustraliaCentral2",
            "description": "AustraliaCentral2 Location for Azure"
          },
          {
            "name": "SouthAfricaWest",
            "value": "SouthAfricaWest",
            "description": "SouthAfricaWest Location for Azure"
          },
          {
            "name": "GermanyNorth",
            "value": "GermanyNorth",
            "description": "GermanyNorth Location for Azure"
          },
          {
            "name": "GermanyWestCentral",
            "value": "GermanyWestCentral",
            "description": "GermanyWestCentral Location for Azure"
          },
          {
            "name": "NorwayEast",
            "value": "NorwayEast",
            "description": "NorwayEast Location for Azure"
          },
          {
            "name": "NorwayWest",
            "value": "NorwayWest",
            "description": "NorwayWest Location for Azure"
          },
          {
            "name": "ChinaEast2",
            "value": "ChinaEast2",
            "description": "ChinaEast2 Location for Azure"
          },
          {
            "name": "ChinaNorth2",
            "value": "ChinaNorth2",
            "description": "ChinaNorth2 Location for Azure"
          },
          {
            "name": "SwitzerlandNorth",
            "value": "SwitzerlandNorth",
            "description": "SwitzerlandNorth Location for Azure"
          },
          {
            "name": "SwitzerlandWest",
            "value": "SwitzerlandWest",
            "description": "SwitzerlandWest Location for Azure"
          },
          {
            "name": "UAENorth",
            "value": "UAENorth",
            "description": "UAENorth Location for Azure"
          },
          {
            "name": "UAECentral",
            "value": "UAECentral",
            "description": "UAECentral Location for Azure"
          },
          {
            "name": "UsNatEast",
            "value": "UsNatEast",
            "description": "UsNatEast Location for Azure"
          },
          {
            "name": "UsNatWest",
            "value": "UsNatWest",
            "description": "UsNatWest Location for Azure"
          },
          {
            "name": "UsSecEast",
            "value": "UsSecEast",
            "description": "UsSecEast Location for Azure"
          },
          {
            "name": "UsSecCentral",
            "value": "UsSecCentral",
            "description": "UsSecCentral Location for Azure"
          },
          {
            "name": "UsSecWest",
            "value": "UsSecWest",
            "description": "UsSecWest Location for Azure"
          },
          {
            "name": "SwedenCentral",
            "value": "SwedenCentral",
            "description": "SwedenCentral Location for Azure"
          },
          {
            "name": "QatarCentral",
            "value": "QatarCentral",
            "description": "QatarCentral Location for Azure"
          },
          {
            "name": "JioIndiaWest",
            "value": "JioIndiaWest",
            "description": "JioIndiaWest Location for Azure"
          },
          {
            "name": "ItalyNorth",
            "value": "ItalyNorth",
            "description": "ItalyNorth Location for Azure"
          },
          {
            "name": "PolandCentral",
            "value": "PolandCentral",
            "description": "PolandCentral Location for Azure"
          },
          {
            "name": "IsraelCentral",
            "value": "IsraelCentral",
            "description": "IsraelCentral Location for Azure"
          },
          {
            "name": "MexicoCentral",
            "value": "MexicoCentral",
            "description": "MexicoCentral Location for Azure"
          },
          {
            "name": "NewZealandNorth",
            "value": "NewZealandNorth",
            "description": "NewZealandNorth Location for Azure"
          },
          {
            "name": "SpainCentral",
            "value": "SpainCentral",
            "description": "SpainCentral Location for Azure"
          }
        ]
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AzureSettings": {
      "type": "object",
      "description": "Azure settings for a business case.",
      "properties": {
        "performanceDataStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets start time to use for performance."
        },
        "performanceDataEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets end time to use for performance."
        },
        "comfortFactor": {
          "type": "number",
          "format": "float",
          "description": "Gets comfort factor.",
          "default": 1
        },
        "performanceUtilizationPercentile": {
          "type": "number",
          "format": "float",
          "description": "Gets utilization percentile for performance.",
          "default": 95,
          "minimum": 0,
          "maximum": 100
        },
        "perYearMigrationCompletionPercentage": {
          "type": "array",
          "description": "Gets migration completion percentage per year.",
          "items": {
            "type": "object",
            "description": "The generic name value pair.",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name."
              },
              "value": {
                "type": "number",
                "format": "float",
                "description": "The value."
              }
            }
          },
          "x-ms-identifiers": []
        },
        "networkCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets network cost percentage.",
          "default": 5,
          "minimum": 0,
          "maximum": 100
        },
        "iaasLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets IaaS labour cost percentage.",
          "default": 75,
          "minimum": 0,
          "maximum": 100
        },
        "paasLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets PaaS labour cost percentage.",
          "default": 60,
          "minimum": 0,
          "maximum": 100
        },
        "managementLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets Management labour cost percentage.",
          "default": 60,
          "minimum": 0,
          "maximum": 100
        },
        "avsLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets Avs labour cost percentage.",
          "default": 75,
          "minimum": 0,
          "maximum": 100
        },
        "savingsOption": {
          "type": "string",
          "description": "Gets the business case savings option type.",
          "default": "RI3Year",
          "enum": [
            "Unknown",
            "RI3Year",
            "SavingsPlan3Year"
          ],
          "x-ms-enum": {
            "name": "SavingsOption",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown Savings Option."
              },
              {
                "name": "RI3Year",
                "value": "RI3Year",
                "description": "Reserved Instance 3 Year."
              },
              {
                "name": "SavingsPlan3Year",
                "value": "SavingsPlan3Year",
                "description": "Azure Savings Plan 3 Year."
              }
            ]
          }
        },
        "sqlAzureSettings": {
          "$ref": "#/definitions/SqlAzureSettings",
          "description": "Gets and Sets Sql Azure Settings."
        }
      }
    },
    "BillingSettings": {
      "type": "object",
      "description": "Billing settings class.",
      "properties": {
        "licensingProgram": {
          "$ref": "#/definitions/LicensingProgram",
          "description": "Gets or sets the licensing program."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Gets or sets the subscription ID for licensing program selected."
        }
      }
    },
    "BusinessCase": {
      "type": "object",
      "description": "Business case resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BusinessCaseProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BusinessCaseListResult": {
      "type": "object",
      "description": "The response of a BusinessCase list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BusinessCase items on this page",
          "items": {
            "$ref": "#/definitions/BusinessCase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BusinessCaseProperties": {
      "type": "object",
      "description": "Property bag for an\nMicrosoft.Azure.Migrate.BusinessCaseService.Api.V20220202_preview.Resources.BusinessCase\nresource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The version of the business case.",
          "readOnly": true
        },
        "assessments": {
          "type": "array",
          "description": "dependent assessments",
          "items": {
            "$ref": "#/definitions/Assessments"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "settings": {
          "$ref": "#/definitions/Settings",
          "description": "Business case settings."
        },
        "state": {
          "$ref": "#/definitions/BusinessCaseState",
          "description": "Business case state.",
          "readOnly": true
        },
        "reportStatusDetails": {
          "type": "array",
          "description": "Gets the state of business case reports.",
          "items": {
            "$ref": "#/definitions/ReportDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "businessCaseScope": {
          "$ref": "#/definitions/BusinessCaseScope",
          "description": "Gets the business case scope.",
          "readOnly": true
        },
        "dependentAssessmentIds": {
          "type": "array",
          "description": "Arm id of dependent partner assessments.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BusinessCaseScope": {
      "type": "object",
      "description": "Business case scope.",
      "properties": {
        "scopeType": {
          "$ref": "#/definitions/ScopeType",
          "description": "Scope type.",
          "readOnly": true
        },
        "azureResourceGraphQuery": {
          "type": "string",
          "description": "ARG query.",
          "readOnly": true
        }
      },
      "required": [
        "scopeType"
      ]
    },
    "BusinessCaseState": {
      "type": "string",
      "description": "Business case supported state types.",
      "enum": [
        "Unknown",
        "Completed",
        "OutDated",
        "Started",
        "Tagging",
        "ArtifactsCreation",
        "Computing",
        "Failed",
        "Deleting",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "BusinessCaseState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown State."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Completed State."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "OutDated State."
          },
          {
            "name": "Started",
            "value": "Started",
            "description": "In progress state."
          },
          {
            "name": "Tagging",
            "value": "Tagging",
            "description": "In entities getting tagged on static data state."
          },
          {
            "name": "ArtifactsCreation",
            "value": "ArtifactsCreation",
            "description": "In Artifacts Created state."
          },
          {
            "name": "Computing",
            "value": "Computing",
            "description": "Computation of the business case."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed State."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The deleting business case state."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The updating business case state."
          }
        ]
      }
    },
    "CarbonEmissionsDetails": {
      "type": "object",
      "description": "Details of carbon emissions.",
      "properties": {
        "scope1": {
          "$ref": "#/definitions/CarbonEmissionsScopeDetails",
          "description": "Scope 1 emissions in metric tons of CO2 equivalent (MTCO2e).",
          "readOnly": true
        },
        "scope2": {
          "$ref": "#/definitions/CarbonEmissionsScopeDetails",
          "description": "Scope 2 emissions in metric tons of CO2 equivalent (MTCO2e).",
          "readOnly": true
        },
        "scope3": {
          "$ref": "#/definitions/CarbonEmissionsScopeDetails",
          "description": "Scope 3 emissions in metric tons of CO2 equivalent (MTCO2e).",
          "readOnly": true
        }
      },
      "required": [
        "scope1",
        "scope2",
        "scope3"
      ]
    },
    "CarbonEmissionsScopeDetails": {
      "type": "object",
      "description": "Details of carbon emissions scope.",
      "properties": {
        "compute": {
          "type": "number",
          "format": "float",
          "description": "The compute emissions in metric tons of CO2 equivalent (MTCO2e).",
          "readOnly": true
        },
        "storage": {
          "type": "number",
          "format": "float",
          "description": "The storage emissions in metric tons of CO2 equivalent (MTCO2e).",
          "readOnly": true
        }
      },
      "required": [
        "compute",
        "storage"
      ]
    },
    "CommonSettings": {
      "type": "object",
      "description": "Common settings.",
      "properties": {
        "targetLocation": {
          "type": "string",
          "description": "Location/region that the business case is stored."
        },
        "assessmentProjectId": {
          "type": "string",
          "description": "The assessment project ID that this business case is linked to."
        },
        "infrastructureGrowthRate": {
          "type": "number",
          "format": "float",
          "description": "Gets infrastructure growth rate.",
          "default": 5,
          "minimum": 0,
          "maximum": 100
        },
        "wacc": {
          "type": "number",
          "format": "float",
          "description": "Gets wACC percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "businessCaseType": {
          "type": "string",
          "description": "The business case type. Can be only IAAS, optimize for PAAS and optimize for cost.",
          "default": "OptimizeForCost",
          "enum": [
            "Unknown",
            "OptimizeForCost",
            "IaaSOnly",
            "OptimizeForPaas",
            "AVSOnly"
          ],
          "x-ms-enum": {
            "name": "MigrationStrategy",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown Migration Strategy."
              },
              {
                "name": "OptimizeForCost",
                "value": "OptimizeForCost",
                "description": "Optimize for cost."
              },
              {
                "name": "IaaSOnly",
                "value": "IaaSOnly",
                "description": "IaaS only."
              },
              {
                "name": "OptimizeForPaas",
                "value": "OptimizeForPaas",
                "description": "Optimize for PaaS."
              },
              {
                "name": "AVSOnly",
                "value": "AVSOnly",
                "description": "Avs only."
              }
            ]
          }
        },
        "discountPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets azure Discount percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "currency": {
          "type": "string",
          "description": "Business case Currency.",
          "default": "USD",
          "enum": [
            "Unknown",
            "USD",
            "DKK",
            "CAD",
            "IDR",
            "JPY",
            "KRW",
            "NZD",
            "NOK",
            "RUB",
            "SAR",
            "ZAR",
            "SEK",
            "TRY",
            "GBP",
            "MXN",
            "MYR",
            "INR",
            "HKD",
            "BRL",
            "TWD",
            "EUR",
            "CHF",
            "ARS",
            "AUD",
            "CNY"
          ],
          "x-ms-enum": {
            "name": "BusinessCaseCurrency",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Currency Unknown."
              },
              {
                "name": "USD",
                "value": "USD",
                "description": "Currency USD."
              },
              {
                "name": "DKK",
                "value": "DKK",
                "description": "Currency DKK."
              },
              {
                "name": "CAD",
                "value": "CAD",
                "description": "Currency CAD."
              },
              {
                "name": "IDR",
                "value": "IDR",
                "description": "Currency IDR."
              },
              {
                "name": "JPY",
                "value": "JPY",
                "description": "Currency JPY."
              },
              {
                "name": "KRW",
                "value": "KRW",
                "description": "Currency KRW."
              },
              {
                "name": "NZD",
                "value": "NZD",
                "description": "Currency NZD."
              },
              {
                "name": "NOK",
                "value": "NOK",
                "description": "Currency NOK."
              },
              {
                "name": "RUB",
                "value": "RUB",
                "description": "Currency RUB."
              },
              {
                "name": "SAR",
                "value": "SAR",
                "description": "Currency SAR."
              },
              {
                "name": "ZAR",
                "value": "ZAR",
                "description": "Currency ZAR."
              },
              {
                "name": "SEK",
                "value": "SEK",
                "description": "Currency SEK."
              },
              {
                "name": "TRY",
                "value": "TRY",
                "description": "Currency TRY."
              },
              {
                "name": "GBP",
                "value": "GBP",
                "description": "Currency GBP."
              },
              {
                "name": "MXN",
                "value": "MXN",
                "description": "Currency MXN."
              },
              {
                "name": "MYR",
                "value": "MYR",
                "description": "Currency MYR."
              },
              {
                "name": "INR",
                "value": "INR",
                "description": "Currency INR."
              },
              {
                "name": "HKD",
                "value": "HKD",
                "description": "Currency HKD."
              },
              {
                "name": "BRL",
                "value": "BRL",
                "description": "Currency BRL."
              },
              {
                "name": "TWD",
                "value": "TWD",
                "description": "Currency TWD."
              },
              {
                "name": "EUR",
                "value": "EUR",
                "description": "Currency EUR."
              },
              {
                "name": "CHF",
                "value": "CHF",
                "description": "Currency CHF."
              },
              {
                "name": "ARS",
                "value": "ARS",
                "description": "Currency ARS."
              },
              {
                "name": "AUD",
                "value": "AUD",
                "description": "Currency AUD."
              },
              {
                "name": "CNY",
                "value": "CNY",
                "description": "Currency CNY."
              }
            ]
          }
        },
        "workloadDiscoverySource": {
          "type": "string",
          "description": "The workload discovery source i.e. Appliance or Import.",
          "default": "Appliance",
          "enum": [
            "Unknown",
            "Appliance",
            "Import"
          ],
          "x-ms-enum": {
            "name": "DiscoverySource",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown Discovery Source."
              },
              {
                "name": "Appliance",
                "value": "Appliance",
                "description": "Appliance Discovery Source."
              },
              {
                "name": "Import",
                "value": "Import",
                "description": "Import Discovery Source."
              }
            ]
          }
        }
      },
      "required": [
        "targetLocation",
        "infrastructureGrowthRate",
        "currency"
      ]
    },
    "CostComponentCategory": {
      "type": "string",
      "description": "Represents the category of a cost component.",
      "enum": [
        "Unknown",
        "HardwareAcquisitionCost",
        "VirtualizationLicenseCost",
        "LinuxLicenseCost",
        "SqlLicenseCost",
        "WindowsLicenseCost",
        "EsuCosts",
        "HardwareMaintainanceCost",
        "StorageAcquisitionCost",
        "StorageMaintenanceCost",
        "NetworkAcquisitionCost",
        "NetworkMaintenanceCost",
        "FacilitiesCost",
        "SecurityCost",
        "LaborCost",
        "AzureArcMonitoringCost",
        "AzureArcPatchingCost",
        "AzureDataProtectionCost",
        "ManagementCost",
        "MonitoringServiceCost",
        "OtherDataProtectionManagementCost",
        "OtherMonitoringManagementCost",
        "OtherPatchingManagementCost",
        "PatchingServiceCost",
        "StorageBackupCost",
        "SystemCenterLicenseCost",
        "ThirdPartyManagementCost",
        "VSphereManagementCost"
      ],
      "x-ms-enum": {
        "name": "CostComponentCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown or uninitialized category."
          },
          {
            "name": "HardwareAcquisitionCost",
            "value": "HardwareAcquisitionCost",
            "description": "Hardware acquisition cost."
          },
          {
            "name": "VirtualizationLicenseCost",
            "value": "VirtualizationLicenseCost",
            "description": "Virtualization license cost."
          },
          {
            "name": "LinuxLicenseCost",
            "value": "LinuxLicenseCost",
            "description": "Linux license cost."
          },
          {
            "name": "SqlLicenseCost",
            "value": "SqlLicenseCost",
            "description": "SQL license cost."
          },
          {
            "name": "WindowsLicenseCost",
            "value": "WindowsLicenseCost",
            "description": "Windows license cost."
          },
          {
            "name": "EsuCosts",
            "value": "EsuCosts",
            "description": "ESU costs."
          },
          {
            "name": "HardwareMaintainanceCost",
            "value": "HardwareMaintainanceCost",
            "description": "Hardware maintainance cost."
          },
          {
            "name": "StorageAcquisitionCost",
            "value": "StorageAcquisitionCost",
            "description": "Storage acquisition cost."
          },
          {
            "name": "StorageMaintenanceCost",
            "value": "StorageMaintenanceCost",
            "description": "Storage maintenance cost."
          },
          {
            "name": "NetworkAcquisitionCost",
            "value": "NetworkAcquisitionCost",
            "description": "Network acquisition cost."
          },
          {
            "name": "NetworkMaintenanceCost",
            "value": "NetworkMaintenanceCost",
            "description": "Network maintenance cost."
          },
          {
            "name": "FacilitiesCost",
            "value": "FacilitiesCost",
            "description": "Facilities cost."
          },
          {
            "name": "SecurityCost",
            "value": "SecurityCost",
            "description": "Security cost."
          },
          {
            "name": "LaborCost",
            "value": "LaborCost",
            "description": "Labor cost."
          },
          {
            "name": "AzureArcMonitoringCost",
            "value": "AzureArcMonitoringCost",
            "description": "Monitoring cost in Azure Arc."
          },
          {
            "name": "AzureArcPatchingCost",
            "value": "AzureArcPatchingCost",
            "description": "Patching cost in Azure Arc."
          },
          {
            "name": "AzureDataProtectionCost",
            "value": "AzureDataProtectionCost",
            "description": "Data protection cost in Azure."
          },
          {
            "name": "ManagementCost",
            "value": "ManagementCost",
            "description": "Management cost."
          },
          {
            "name": "MonitoringServiceCost",
            "value": "MonitoringServiceCost",
            "description": "Monitoring service cost."
          },
          {
            "name": "OtherDataProtectionManagementCost",
            "value": "OtherDataProtectionManagementCost",
            "description": "Other data protection management cost."
          },
          {
            "name": "OtherMonitoringManagementCost",
            "value": "OtherMonitoringManagementCost",
            "description": "Other monitoring management cost."
          },
          {
            "name": "OtherPatchingManagementCost",
            "value": "OtherPatchingManagementCost",
            "description": "Other patching management cost."
          },
          {
            "name": "PatchingServiceCost",
            "value": "PatchingServiceCost",
            "description": "Patching service cost."
          },
          {
            "name": "StorageBackupCost",
            "value": "StorageBackupCost",
            "description": "Storage backup cost."
          },
          {
            "name": "SystemCenterLicenseCost",
            "value": "SystemCenterLicenseCost",
            "description": "System Center license cost."
          },
          {
            "name": "ThirdPartyManagementCost",
            "value": "ThirdPartyManagementCost",
            "description": "Third party management cost."
          },
          {
            "name": "VSphereManagementCost",
            "value": "VSphereManagementCost",
            "description": "VSphere management cost."
          }
        ]
      }
    },
    "CostComponentType": {
      "type": "string",
      "description": "Represents the type of cost component.",
      "enum": [
        "Unknown",
        "CapexCost",
        "OpexCost"
      ],
      "x-ms-enum": {
        "name": "CostComponentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown or uninitialized cost type."
          },
          {
            "name": "CapexCost",
            "value": "CapexCost",
            "description": "Capital expenditure (CapEx) cost."
          },
          {
            "name": "OpexCost",
            "value": "OpexCost",
            "description": "Operational expenditure (OpEx) cost."
          }
        ]
      }
    },
    "CostLineItem": {
      "type": "object",
      "description": "Represents a single line item in a cost breakdown.",
      "properties": {
        "pillar": {
          "$ref": "#/definitions/CostPillar",
          "description": "Gets or sets the pillar this cost belongs to."
        },
        "name": {
          "$ref": "#/definitions/CostComponentCategory",
          "description": "Gets or sets the name of the cost component."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the value of the cost component."
        },
        "costType": {
          "$ref": "#/definitions/CostComponentType",
          "description": "Gets or sets the type of cost (Capex or Opex)."
        }
      },
      "required": [
        "pillar",
        "name",
        "value",
        "costType"
      ]
    },
    "CostPillar": {
      "type": "string",
      "description": "Represents the cost pillar a line item belongs to.",
      "enum": [
        "Unknown",
        "Compute",
        "Facilities",
        "ItLabor",
        "Licensing",
        "Management",
        "Network",
        "Security",
        "Storage"
      ],
      "x-ms-enum": {
        "name": "CostPillar",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown or uninitialized pillar."
          },
          {
            "name": "Compute",
            "value": "Compute",
            "description": "Compute pillar."
          },
          {
            "name": "Facilities",
            "value": "Facilities",
            "description": "Facilities pillar."
          },
          {
            "name": "ItLabor",
            "value": "ItLabor",
            "description": "IT labor pillar."
          },
          {
            "name": "Licensing",
            "value": "Licensing",
            "description": "Licensing pillar."
          },
          {
            "name": "Management",
            "value": "Management",
            "description": "Management pillar."
          },
          {
            "name": "Network",
            "value": "Network",
            "description": "Network pillar."
          },
          {
            "name": "Security",
            "value": "Security",
            "description": "Security pillar."
          },
          {
            "name": "Storage",
            "value": "Storage",
            "description": "Storage pillar."
          }
        ]
      }
    },
    "CostSummary": {
      "type": "object",
      "description": "Summary of application migration, including readiness, cost, and strategies.",
      "properties": {
        "azureCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "Azure cost details for the applications."
        },
        "onPremCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "On-premises cost details for the applications."
        }
      },
      "required": [
        "azureCostDetails",
        "onPremCostDetails"
      ]
    },
    "HadrProperties": {
      "type": "object",
      "description": "Gets and Sets Sql Azure Settings HadrProperties.",
      "properties": {
        "enableHadrAssessment": {
          "type": "boolean",
          "description": "Indicates whether HADR Assessment is enabled."
        },
        "multiSubnetIntent": {
          "type": "string",
          "description": "The Multi Subnet Intent."
        },
        "asyncCommitModeIntent": {
          "type": "string",
          "description": "The Async Commit Mode Intent."
        },
        "disasterRecoveryLocation": {
          "type": "string",
          "description": "The Disaster Recovery Location."
        },
        "isInternetAccessAvailable": {
          "type": "boolean",
          "description": "Indicates whether Internet Access is available."
        }
      },
      "required": [
        "enableHadrAssessment",
        "multiSubnetIntent",
        "asyncCommitModeIntent",
        "disasterRecoveryLocation",
        "isInternetAccessAvailable"
      ]
    },
    "LicensingProgram": {
      "type": "string",
      "description": "The licensing program.",
      "enum": [
        "Retail",
        "Unknown",
        "EA",
        "MCA"
      ],
      "x-ms-enum": {
        "name": "LicensingProgram",
        "modelAsString": true,
        "values": [
          {
            "name": "Retail",
            "value": "Retail",
            "description": "Retail/Pay as you go."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Not known"
          },
          {
            "name": "EA",
            "value": "EA",
            "description": "Enterprise agreement."
          },
          {
            "name": "MCA",
            "value": "MCA",
            "description": "Microsoft customer agreement."
          }
        ]
      }
    },
    "OverviewSummary": {
      "type": "object",
      "description": "Overview summary REST resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OverviewSummaryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OverviewSummaryListResult": {
      "type": "object",
      "description": "The response of a OverviewSummary list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OverviewSummary items on this page",
          "items": {
            "$ref": "#/definitions/OverviewSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OverviewSummaryProperties": {
      "type": "object",
      "description": "Overview summary properties class.",
      "properties": {
        "applicationSummary": {
          "$ref": "#/definitions/CostSummary",
          "description": "Summary of custom applications migrated to Azure.",
          "readOnly": true
        },
        "cotsApplicationSummary": {
          "$ref": "#/definitions/CostSummary",
          "description": "Summary of commercial off-the-shelf (COTS) applications.",
          "readOnly": true
        },
        "customApplicationSummary": {
          "$ref": "#/definitions/CostSummary",
          "description": "Summary of custom applications migrated to Azure.",
          "readOnly": true
        },
        "independentWorkloadsSummary": {
          "$ref": "#/definitions/CostSummary",
          "description": "Summary of ungrouped workloads migrated to Azure.",
          "readOnly": true
        },
        "totalAzureCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "Total cost details in azure.",
          "readOnly": true
        },
        "totalOnPremCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "Total cost details in on-premises.",
          "readOnly": true
        },
        "windowsAhubSavings": {
          "type": "number",
          "format": "float",
          "description": "The windows ahub saving.",
          "readOnly": true
        },
        "linuxAhubSavings": {
          "type": "number",
          "format": "float",
          "description": "The linux ahub saving.",
          "readOnly": true
        },
        "sqlAhubSavings": {
          "type": "number",
          "format": "float",
          "description": "The sql ahub saving.",
          "readOnly": true
        },
        "yearOnYearEstimates": {
          "$ref": "#/definitions/YearOnYearEstimates",
          "description": "Shows the year-on-year cost overall.",
          "readOnly": true
        },
        "azureArcEnabledOnPremisesCost": {
          "type": "number",
          "format": "float",
          "description": "The total Azure arc enabled on-premises cost assuming all on-premises infra is arc enabled.",
          "readOnly": true
        },
        "futureCostIncludingAzureArc": {
          "type": "number",
          "format": "float",
          "description": "The final cost including azure and azure arc enabled on-premises considering the remaining on-prem infra is arc enabled.",
          "readOnly": true
        },
        "futureEsuSavingsFor4YearsIncludingAzureArc": {
          "type": "number",
          "format": "float",
          "description": "ESU Savings in 4 Years considering the remaining on-prem infra each year is arc enabled.",
          "readOnly": true
        },
        "futureManagementCostSavingsIncludingAzureArc": {
          "type": "number",
          "format": "float",
          "description": "The management cost saving considering the remaining on-prem infra is arc enabled",
          "readOnly": true
        },
        "futureSecurityCostSavingsIncludingAzureArc": {
          "type": "number",
          "format": "float",
          "description": "The security cost saving considering the remaining on-prem infra is arc enabled.",
          "readOnly": true
        },
        "azureArcServicesCost": {
          "type": "number",
          "format": "float",
          "description": "The total cost of services offered by azure arc.",
          "readOnly": true
        },
        "futureAzureArcEnabledOnPremisesCost": {
          "type": "number",
          "format": "float",
          "description": "The future azure arc cost based on the final migration percentage.",
          "readOnly": true
        },
        "futureAzureArcServicesCost": {
          "type": "number",
          "format": "float",
          "description": "The total cost of services offered by azure arc based on the final migration percentage.",
          "readOnly": true
        },
        "totalOnPremisesSustainabilityDetails": {
          "$ref": "#/definitions/CarbonEmissionsDetails",
          "description": "The total on-premises sustainability estimates.",
          "readOnly": true
        },
        "totalAzureSustainabilityDetails": {
          "$ref": "#/definitions/CarbonEmissionsDetails",
          "description": "The total azure sustainability estimates.",
          "readOnly": true
        },
        "futureCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "Future state cost which includes Azure cost and Arc enabled on-premises cost based on the final migration percentage.",
          "readOnly": true
        },
        "azureArcEnabledOnPremisesCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "The Azure arc enabled on-premises cost.",
          "readOnly": true
        },
        "futureAzureArcEnabledOnPremisesCostDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "The final azure arc enabled on-premises cost based on the final migration percentage.",
          "readOnly": true
        }
      },
      "required": [
        "applicationSummary",
        "cotsApplicationSummary",
        "customApplicationSummary",
        "independentWorkloadsSummary",
        "totalAzureCostDetails",
        "totalOnPremCostDetails",
        "totalOnPremisesSustainabilityDetails",
        "totalAzureSustainabilityDetails"
      ]
    },
    "Percentile": {
      "type": "string",
      "description": "Percentile for Performance Data.",
      "enum": [
        "Percentile50",
        "Percentile90",
        "Percentile95",
        "Percentile99",
        "PercentileUnknown"
      ],
      "x-ms-enum": {
        "name": "Percentile",
        "modelAsString": true,
        "values": [
          {
            "name": "Percentile50",
            "value": "Percentile50",
            "description": "Percentile 50."
          },
          {
            "name": "Percentile90",
            "value": "Percentile90",
            "description": "Percentile 90."
          },
          {
            "name": "Percentile95",
            "value": "Percentile95",
            "description": "Percentile 95."
          },
          {
            "name": "Percentile99",
            "value": "Percentile99",
            "description": "Percentile 99."
          },
          {
            "name": "PercentileUnknown",
            "value": "PercentileUnknown",
            "description": "Percentile unknown."
          }
        ]
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "Private endpoint connection resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProjectProperties": {
      "type": "object",
      "description": "Properties of a project.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was last updated. Date-Time represented in ISO-8601\nformat.",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Endpoint at which the collector agent can call agent REST API.",
          "readOnly": true
        },
        "assessmentSolutionId": {
          "type": "string",
          "description": "Assessment solution ARM id tracked by Microsoft.Migrate/migrateProjects."
        },
        "projectStatus": {
          "$ref": "#/definitions/ProjectStatus",
          "description": "Assessment project status."
        },
        "customerWorkspaceId": {
          "type": "string",
          "description": "The ARM id of service map workspace created by customer."
        },
        "customerWorkspaceLocation": {
          "type": "string",
          "description": "Location of service map workspace created by customer."
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "This value can be set to 'enabled' to avoid breaking changes on existing\ncustomer resources and templates. If set to 'disabled', traffic over public\ninterface is not allowed, and private endpoint connections would be the\nexclusive access method."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The list of private endpoint connections to the project.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "customerStorageAccountArmId": {
          "type": "string",
          "description": "The ARM id of the storage account used for interactions when public access is\ndisabled."
        }
      }
    },
    "ProjectStatus": {
      "type": "string",
      "description": "Project Status.",
      "enum": [
        "Active",
        "Inactive"
      ],
      "x-ms-enum": {
        "name": "ProjectStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active Status."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "Inactive Status."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource provisioning Successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource provisioning Canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource is being Provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being Updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being Deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource is being Accepted."
          }
        ]
      },
      "readOnly": true
    },
    "ReportDetails": {
      "type": "object",
      "description": "Business case report details.",
      "properties": {
        "reportType": {
          "$ref": "#/definitions/ReportType",
          "description": "Report type.",
          "readOnly": true
        },
        "reportStatus": {
          "$ref": "#/definitions/ReportStatus",
          "description": "Report status.",
          "readOnly": true
        }
      }
    },
    "ReportDownloadUrl": {
      "type": "object",
      "description": "Download URL for assessment report.",
      "properties": {
        "businessCaseReportUrl": {
          "type": "string",
          "description": "Hyperlink to download report.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date of download url.",
          "readOnly": true
        }
      }
    },
    "ReportStatus": {
      "type": "string",
      "description": "Business case supported report status types.",
      "enum": [
        "Unknown",
        "None",
        "InProgress",
        "Failed",
        "Completed"
      ],
      "x-ms-enum": {
        "name": "ReportStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Report Status."
          },
          {
            "name": "None",
            "value": "None",
            "description": "None Report Status."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress Report Status."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed Report Status."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Completed Report Status."
          }
        ]
      }
    },
    "ReportType": {
      "type": "string",
      "description": "Business case supported report types.",
      "enum": [
        "Unknown",
        "Excel"
      ],
      "x-ms-enum": {
        "name": "ReportType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Report Type."
          },
          {
            "name": "Excel",
            "value": "Excel",
            "description": "Excel Report Type."
          }
        ]
      }
    },
    "SavingsOptions": {
      "type": "string",
      "description": "The savings options.",
      "enum": [
        "None",
        "RI1Year",
        "RI3Year",
        "SavingsPlan1Year",
        "SavingsPlan3Year",
        "CustomAzureOfferCode"
      ],
      "x-ms-enum": {
        "name": "SavingsOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No savings options."
          },
          {
            "name": "RI1Year",
            "value": "RI1Year",
            "description": "Reserved Instance for 1 year."
          },
          {
            "name": "RI3Year",
            "value": "RI3Year",
            "description": "Reserved Instance for 3 years."
          },
          {
            "name": "SavingsPlan1Year",
            "value": "SavingsPlan1Year",
            "description": "The savings plan for 1 year."
          },
          {
            "name": "SavingsPlan3Year",
            "value": "SavingsPlan3Year",
            "description": "The savings plan for 3  years."
          },
          {
            "name": "CustomAzureOfferCode",
            "value": "CustomAzureOfferCode",
            "description": "Custom azure offer code."
          }
        ]
      }
    },
    "ScopeType": {
      "type": "string",
      "description": "Scope type.",
      "enum": [
        "Datacenter",
        "AzureResourceGraphQuery"
      ],
      "x-ms-enum": {
        "name": "ScopeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Datacenter",
            "value": "Datacenter",
            "description": "Enum for Datacenter."
          },
          {
            "name": "AzureResourceGraphQuery",
            "value": "AzureResourceGraphQuery",
            "description": "Enum for ARG."
          }
        ]
      }
    },
    "Settings": {
      "type": "object",
      "description": "Business case settings.",
      "properties": {
        "commonSettings": {
          "$ref": "#/definitions/CommonSettings",
          "description": "Common settings."
        },
        "azureSettings": {
          "$ref": "#/definitions/AzureSettings",
          "description": "Azure settings for a business case."
        },
        "azureArcSettings": {
          "$ref": "#/definitions/AzureArcSettings",
          "description": "Azure arc settings."
        },
        "billingSettings": {
          "$ref": "#/definitions/BillingSettings",
          "description": "Gets or sets the billing settings."
        }
      },
      "required": [
        "commonSettings",
        "azureSettings"
      ]
    },
    "SqlAzureSettings": {
      "type": "object",
      "description": "Gets and Sets Sql Azure Settings.",
      "properties": {
        "hadrProperties": {
          "$ref": "#/definitions/HadrProperties",
          "description": "Gets and Sets Sql Azure Settings."
        }
      }
    },
    "StrategySummary": {
      "type": "object",
      "description": "Summary of migration strategy, including count and cost details.",
      "properties": {
        "strategy": {
          "type": "string",
          "description": "Name of the migration strategy."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of workloads using this strategy."
        },
        "costDetails": {
          "$ref": "#/definitions/TotalCostDetails",
          "description": "Cost details for workloads using this strategy."
        }
      },
      "required": [
        "strategy",
        "count",
        "costDetails"
      ]
    },
    "TimeRange": {
      "type": "string",
      "description": "Time Range for Performance Data.",
      "enum": [
        "Day",
        "Week",
        "Month",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "TimeRange",
        "modelAsString": true,
        "values": [
          {
            "name": "Day",
            "value": "Day",
            "description": "Daily."
          },
          {
            "name": "Week",
            "value": "Week",
            "description": "Weekly."
          },
          {
            "name": "Month",
            "value": "Month",
            "description": "Monthly."
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom Time Range."
          }
        ]
      }
    },
    "TotalCostDetails": {
      "type": "object",
      "description": "The Cost Details have total Cost, other costs segregation",
      "properties": {
        "totalCost": {
          "type": "number",
          "format": "float",
          "description": "License cost details for workloads.",
          "readOnly": true
        },
        "licenseCostDetails": {
          "type": "number",
          "format": "float",
          "description": "License cost details for workloads.",
          "readOnly": true
        },
        "storageCost": {
          "type": "number",
          "format": "float",
          "description": "The storage cost.",
          "readOnly": true
        },
        "computeCost": {
          "type": "number",
          "format": "float",
          "description": "The compute cost.",
          "readOnly": true
        },
        "itLaborCost": {
          "type": "number",
          "format": "float",
          "description": "The IT labor cost.",
          "readOnly": true
        },
        "networkCost": {
          "type": "number",
          "format": "float",
          "description": "The network cost.",
          "readOnly": true
        },
        "ahubSavings": {
          "type": "number",
          "format": "float",
          "description": "The windows AhubSavings.",
          "readOnly": true
        },
        "linuxAhubSavings": {
          "type": "number",
          "format": "float",
          "description": "The linux AhubSavings.",
          "readOnly": true
        },
        "securityCost": {
          "type": "number",
          "format": "float",
          "description": "Security Cost.",
          "readOnly": true
        },
        "managementCostDetails": {
          "type": "number",
          "format": "float",
          "description": "Management Cost Details.",
          "readOnly": true
        },
        "esuSavings": {
          "type": "number",
          "format": "float",
          "description": "esu savings.",
          "readOnly": true
        },
        "facilitiesCost": {
          "type": "number",
          "format": "float",
          "description": "The facilities cost.",
          "readOnly": true
        },
        "costLineItems": {
          "type": "array",
          "description": "Gets or sets the list of cost line items.",
          "items": {
            "$ref": "#/definitions/CostLineItem"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "required": [
        "totalCost",
        "licenseCostDetails"
      ]
    },
    "Year": {
      "type": "string",
      "description": "Year values.",
      "enum": [
        "Year0",
        "Year1",
        "Year2",
        "Year3"
      ],
      "x-ms-enum": {
        "name": "Year",
        "modelAsString": true,
        "values": [
          {
            "name": "Year0",
            "value": "Year0",
            "description": "Year 0."
          },
          {
            "name": "Year1",
            "value": "Year1",
            "description": "Year 1."
          },
          {
            "name": "Year2",
            "value": "Year2",
            "description": "Year 2."
          },
          {
            "name": "Year3",
            "value": "Year3",
            "description": "Year 3."
          }
        ]
      }
    },
    "YearOnYearCost": {
      "type": "object",
      "description": "Year on Year cost.",
      "properties": {
        "year": {
          "$ref": "#/definitions/Year",
          "description": "Year value."
        },
        "cost": {
          "type": "number",
          "format": "float",
          "description": "Cost for the specified year."
        }
      },
      "required": [
        "year"
      ]
    },
    "YearOnYearEmissions": {
      "type": "object",
      "description": "Year on Year Emissions.",
      "properties": {
        "year": {
          "$ref": "#/definitions/Year",
          "description": "Year value."
        },
        "emissions": {
          "type": "number",
          "format": "float",
          "description": "Emissions for the specified year."
        }
      },
      "required": [
        "year"
      ]
    },
    "YearOnYearEstimates": {
      "type": "object",
      "description": "Shows the year-on-year cost overall.",
      "properties": {
        "onPremisesCost": {
          "type": "array",
          "description": "Year-on-Year on-premises cost.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "azureCost": {
          "type": "array",
          "description": "Year-on-Year Azure cost.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "savings": {
          "type": "array",
          "description": "Year-on-Year savings.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "paybackPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Payback period.",
          "readOnly": true
        },
        "azureArcEnabledOnPremisesCost": {
          "type": "array",
          "description": "Year-on-Year azure arc enabled on-premises cost.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "futureCost": {
          "type": "array",
          "description": "Year-on-Year azure with arc enabled on-premises cost.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "futureAzureArcEnabledOnPremisesEsuCost": {
          "type": "array",
          "description": "Year-on-Year azure arc enabled on-premises esu cost of the remaining infra on-premises.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "futureOnPremisesEsuCost": {
          "type": "array",
          "description": "Year-on-Year on-premises esu cost of the remaining infra on-premises.",
          "items": {
            "$ref": "#/definitions/YearOnYearCost"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "onPremisesEmissionsEstimates": {
          "type": "array",
          "description": "Year-on-Year on-premises emissions estimates.",
          "items": {
            "$ref": "#/definitions/YearOnYearEmissions"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "azureEmissionsEstimates": {
          "type": "array",
          "description": "Year-on-Year Azure emissions estimates.",
          "items": {
            "$ref": "#/definitions/YearOnYearEmissions"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
