{
  "swagger": "2.0",
  "info": {
    "title": "SharedImageGalleryServiceClient",
    "version": "2023-07-03",
    "description": "Shared Image Gallery Service Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries": {
      "get": {
        "operationId": "Galleries_List",
        "tags": [
          "Galleries"
        ],
        "description": "List galleries under a subscription.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List galleries in a subscription.": {
            "$ref": "./examples/galleryExamples/Gallery_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries": {
      "get": {
        "operationId": "Galleries_ListByResourceGroup",
        "tags": [
          "Galleries"
        ],
        "description": "List galleries under a resource group.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List galleries in a resource group.": {
            "$ref": "./examples/galleryExamples/Gallery_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}": {
      "get": {
        "operationId": "Galleries_Get",
        "tags": [
          "Galleries"
        ],
        "description": "Retrieves information about a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The select expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "Permissions"
            ],
            "x-ms-enum": {
              "name": "SelectPermissions",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/GalleryODataExpandQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a community gallery.": {
            "$ref": "./examples/galleryExamples/CommunityGallery_Get.json"
          },
          "Get a gallery with expand sharingProfile groups.": {
            "$ref": "./examples/galleryExamples/Gallery_Get_WithExpandSharingProfileGroups.json"
          },
          "Get a gallery with select permissions.": {
            "$ref": "./examples/galleryExamples/Gallery_Get_WithSelectPermissions.json"
          },
          "Get a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Galleries_CreateOrUpdate",
        "tags": [
          "Galleries"
        ],
        "description": "Create or update a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery. The allowed characters are alphabets and numbers with dots and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "gallery",
            "in": "body",
            "description": "Parameters supplied to the create or update Shared Image Gallery operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a community gallery.": {
            "$ref": "./examples/galleryExamples/CommunityGallery_Create.json"
          },
          "Create or update a simple gallery with sharing profile.": {
            "$ref": "./examples/galleryExamples/Gallery_Create_WithSharingProfile.json"
          },
          "Create or update a simple gallery with soft deletion enabled.": {
            "$ref": "./examples/galleryExamples/Gallery_Create_SoftDeletionEnabled.json"
          },
          "Create or update a simple gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Galleries_Update",
        "tags": [
          "Galleries"
        ],
        "description": "Update a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery. The allowed characters are alphabets and numbers with dots and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "gallery",
            "in": "body",
            "description": "Parameters supplied to the update Shared Image Gallery operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a simple gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Galleries_Delete",
        "tags": [
          "Galleries"
        ],
        "description": "Delete a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications": {
      "get": {
        "operationId": "GalleryApplications_ListByGallery",
        "tags": [
          "GalleryApplications"
        ],
        "description": "List gallery Application Definitions in a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery from which Application Definitions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List gallery Applications in a gallery.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_ListByGallery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}": {
      "get": {
        "operationId": "GalleryApplications_Get",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Retrieves information about a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery from which the Application Definitions are to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryApplications_CreateOrUpdate",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Create or update a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be created or updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplication",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery Application operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a simple gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryApplications_Update",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Update a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplication",
            "in": "body",
            "description": "Parameters supplied to the update gallery Application operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a simple gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryApplications_Delete",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Delete a gallery Application.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition is to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions": {
      "get": {
        "operationId": "GalleryApplicationVersions_ListByGalleryApplication",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "List gallery Application Versions in a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the Shared Application Gallery Application Definition from which the Application Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List gallery Application Versions in a gallery Application Definition.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_ListByGalleryApplication.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions/{galleryApplicationVersionName}": {
      "get": {
        "operationId": "GalleryApplicationVersions_Get",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Retrieves information about a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "ReplicationStatus",
              "UefiSettings"
            ],
            "x-ms-enum": {
              "name": "ReplicationStatusTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a gallery Application Version with replication status.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Get_WithReplicationStatus.json"
          },
          "Get a gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryApplicationVersions_CreateOrUpdate",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Create or update a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplicationVersion",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery Application Version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a simple gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryApplicationVersions_Update",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Update a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplicationVersion",
            "in": "body",
            "description": "Parameters supplied to the update gallery Application Version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a simple gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryApplicationVersions_Delete",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Delete a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images": {
      "get": {
        "operationId": "GalleryImages_ListByGallery",
        "tags": [
          "GalleryImages"
        ],
        "description": "List gallery image definitions in a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery from which Image Definitions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List gallery images in a gallery.": {
            "$ref": "./examples/galleryExamples/GalleryImage_ListByGallery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}": {
      "get": {
        "operationId": "GalleryImages_Get",
        "tags": [
          "GalleryImages"
        ],
        "description": "Retrieves information about a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery from which the Image Definitions are to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryImages_CreateOrUpdate",
        "tags": [
          "GalleryImages"
        ],
        "description": "Create or update a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be created or updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery image operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a simple gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryImages_Update",
        "tags": [
          "GalleryImages"
        ],
        "description": "Update a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Parameters supplied to the update gallery image operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a simple gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryImages_Delete",
        "tags": [
          "GalleryImages"
        ],
        "description": "Delete a gallery image.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition is to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "GalleryImageVersions_ListByGalleryImage",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "List gallery image versions in a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Image Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List gallery image versions in a gallery image definition.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_ListByGalleryImage.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "GalleryImageVersions_Get",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Retrieves information about a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "ReplicationStatus",
              "UefiSettings"
            ],
            "x-ms-enum": {
              "name": "ReplicationStatusTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a gallery image version with replication status.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithReplicationStatus.json"
          },
          "Get a gallery image version with snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithSnapshotsAsSource.json"
          },
          "Get a gallery image version with vhd as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithVhdAsSource.json"
          },
          "Get a gallery image version.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryImageVersions_CreateOrUpdate",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Create or update a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImageVersion",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery image version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a simple Gallery Image Version using VM as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVmAsSource.json"
          },
          "Create or update a simple Gallery Image Version using community gallery image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithCommunityImageVersionAsSource.json"
          },
          "Create or update a simple Gallery Image Version using managed image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create.json"
          },
          "Create or update a simple Gallery Image Version using mix of disks and snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithSnapshotsAsSource.json"
          },
          "Create or update a simple Gallery Image Version using shallow replication mode.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithShallowReplicationMode.json"
          },
          "Create or update a simple Gallery Image Version using shared image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithImageVersionAsSource.json"
          },
          "Create or update a simple Gallery Image Version using snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithSnapshotsAsSource.json"
          },
          "Create or update a simple Gallery Image Version using vhd as a source with custom UEFI keys.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVHD_UefiSettings.json"
          },
          "Create or update a simple Gallery Image Version using vhd as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVHD.json"
          },
          "Create or update a simple gallery image version with target extended locations specified.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithTargetExtendedLocations.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryImageVersions_Update",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Update a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImageVersion",
            "in": "body",
            "description": "Parameters supplied to the update gallery image version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a simple Gallery Image Version (Managed Image as source).": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Update.json"
          },
          "Update a simple Gallery Image Version without source id.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Update_WithoutSourceId.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryImageVersions_Delete",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Delete a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a gallery image version.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/share": {
      "post": {
        "operationId": "GallerySharingProfile_Update",
        "tags": [
          "GallerySharingUpdate"
        ],
        "description": "Update sharing profile of a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sharingUpdate",
            "in": "body",
            "description": "Parameters supplied to the update gallery sharing profile.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Add sharing id to the sharing profile of a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_AddToSharingProfile.json"
          },
          "reset sharing profile of a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_ResetSharingProfile.json"
          },
          "share a gallery to community.": {
            "$ref": "./examples/galleryExamples/Gallery_EnableCommunityGallery.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "CommunityGalleryInfo": {
      "type": "object",
      "description": "Information of community gallery if current gallery is shared to community",
      "properties": {
        "publisherUri": {
          "type": "string",
          "description": "The link to the publisher website. Visible to all users."
        },
        "publisherContact": {
          "type": "string",
          "description": "Community gallery publisher support email. The email address of the publisher. Visible to all users."
        },
        "eula": {
          "type": "string",
          "description": "End-user license agreement for community gallery image."
        },
        "publicNamePrefix": {
          "type": "string",
          "description": "The prefix of the gallery name that will be displayed publicly. Visible to all users."
        },
        "communityGalleryEnabled": {
          "type": "boolean",
          "description": "Contains info about whether community gallery sharing is enabled.",
          "readOnly": true
        },
        "publicNames": {
          "type": "array",
          "description": "Community gallery public name list.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "DataDiskImageEncryption": {
      "description": "Contains encryption settings for a data disk image.",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "This property specifies the logical unit number of the data disk. This value is used to identify data disks within the Virtual Machine and therefore must be unique for each data disk attached to the Virtual Machine."
        }
      },
      "required": [
        "lun"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DiskImageEncryption"
        }
      ]
    },
    "DiskImageEncryption": {
      "description": "This is the disk image encryption base class.",
      "properties": {
        "diskEncryptionSetId": {
          "type": "string",
          "description": "A relative URI containing the resource ID of the disk encryption set."
        }
      }
    },
    "EncryptionImages": {
      "description": "Optional. Allows users to provide customer managed keys for encrypting the OS and data disks in the gallery artifact.",
      "properties": {
        "osDiskImage": {
          "$ref": "#/definitions/OSDiskImageEncryption"
        },
        "dataDiskImages": {
          "type": "array",
          "description": "A list of encryption specifications for data disk images.",
          "items": {
            "$ref": "#/definitions/DataDiskImageEncryption"
          },
          "x-ms-identifiers": [
            "lun"
          ]
        }
      }
    },
    "Gallery": {
      "description": "Specifies information about the Shared Image Gallery that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "GalleryApplication": {
      "description": "Specifies information about the gallery Application Definition that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryApplicationProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "GalleryApplicationCustomAction": {
      "type": "object",
      "description": "A custom action that can be performed with a Gallery Application Version.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the custom action.  Must be unique within the Gallery Application Version."
        },
        "script": {
          "type": "string",
          "description": "The script to run when executing this custom action."
        },
        "description": {
          "type": "string",
          "description": "Description to help the users understand what this custom action does."
        },
        "parameters": {
          "type": "array",
          "description": "The parameters that this custom action uses",
          "items": {
            "$ref": "#/definitions/GalleryApplicationCustomActionParameter"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "name",
        "script"
      ]
    },
    "GalleryApplicationCustomActionParameter": {
      "type": "object",
      "description": "The definition of a parameter that can be passed to a custom action of a Gallery Application Version.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the custom action.  Must be unique within the Gallery Application Version."
        },
        "required": {
          "type": "boolean",
          "description": "Indicates whether this parameter must be passed when running the custom action."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the custom action parameter. Possible values are: String, ConfigurationDataBlob or LogOutputBlob",
          "enum": [
            "String",
            "ConfigurationDataBlob",
            "LogOutputBlob"
          ],
          "x-ms-enum": {
            "name": "GalleryApplicationCustomActionParameterType",
            "modelAsString": false
          }
        },
        "defaultValue": {
          "type": "string",
          "description": "The default value of the parameter.  Only applies to string types"
        },
        "description": {
          "type": "string",
          "description": "A description to help users understand what this parameter means"
        }
      },
      "required": [
        "name"
      ]
    },
    "GalleryApplicationList": {
      "description": "The List Gallery Applications operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of Gallery Applications.",
          "items": {
            "$ref": "#/definitions/GalleryApplication"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of Application Definitions in the Application Gallery. Call ListNext() with this to fetch the next page of gallery Application Definitions."
        }
      },
      "required": [
        "value"
      ]
    },
    "GalleryApplicationProperties": {
      "description": "Describes the properties of a gallery Application Definition.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of this gallery Application Definition resource. This property is updatable."
        },
        "eula": {
          "type": "string",
          "description": "The Eula agreement for the gallery Application Definition."
        },
        "privacyStatementUri": {
          "type": "string",
          "description": "The privacy statement uri."
        },
        "releaseNoteUri": {
          "type": "string",
          "description": "The release note uri."
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery Application Definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "supportedOSType": {
          "type": "string",
          "description": "This property allows you to specify the supported type of the OS that application is built for. Possible values are: **Windows,** **Linux.**",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "customActions": {
          "type": "array",
          "description": "A list of custom actions that can be performed with all of the Gallery Application Versions within this Gallery Application.",
          "items": {
            "$ref": "#/definitions/GalleryApplicationCustomAction"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "supportedOSType"
      ]
    },
    "GalleryApplicationUpdate": {
      "description": "Specifies information about the gallery Application Definition that you want to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryApplicationProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResourceDefinition"
        }
      ]
    },
    "GalleryApplicationVersion": {
      "description": "Specifies information about the gallery Application Version that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryApplicationVersionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "GalleryApplicationVersionList": {
      "description": "The List Gallery Application version operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of gallery Application Versions.",
          "items": {
            "$ref": "#/definitions/GalleryApplicationVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of gallery Application Versions. Call ListNext() with this to fetch the next page of gallery Application Versions."
        }
      },
      "required": [
        "value"
      ]
    },
    "GalleryApplicationVersionProperties": {
      "description": "Describes the properties of a gallery image version.",
      "properties": {
        "publishingProfile": {
          "$ref": "#/definitions/GalleryApplicationVersionPublishingProfile"
        },
        "safetyProfile": {
          "$ref": "#/definitions/GalleryApplicationVersionSafetyProfile"
        },
        "provisioningState": {
          "$ref": "#/definitions/GalleryProvisioningState",
          "readOnly": true
        },
        "replicationStatus": {
          "$ref": "#/definitions/ReplicationStatus",
          "readOnly": true
        }
      },
      "required": [
        "publishingProfile"
      ]
    },
    "GalleryApplicationVersionPublishingProfile": {
      "description": "The publishing profile of a gallery image version.",
      "properties": {
        "source": {
          "$ref": "#/definitions/UserArtifactSource"
        },
        "manageActions": {
          "$ref": "#/definitions/UserArtifactManage"
        },
        "settings": {
          "$ref": "#/definitions/UserArtifactSettings"
        },
        "advancedSettings": {
          "type": "object",
          "description": "Optional. Additional settings to pass to the vm-application-manager extension. For advanced use only.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableHealthCheck": {
          "type": "boolean",
          "description": "Optional. Whether or not this application reports health."
        },
        "customActions": {
          "type": "array",
          "description": "A list of custom actions that can be performed with this Gallery Application Version.",
          "items": {
            "$ref": "#/definitions/GalleryApplicationCustomAction"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "source"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GalleryArtifactPublishingProfileBase"
        }
      ]
    },
    "GalleryApplicationVersionSafetyProfile": {
      "type": "object",
      "description": "The safety profile of the Gallery Application Version.",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/GalleryArtifactSafetyProfileBase"
        }
      ]
    },
    "GalleryApplicationVersionUpdate": {
      "description": "Specifies information about the gallery Application Version that you want to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryApplicationVersionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResourceDefinition"
        }
      ]
    },
    "GalleryArtifactPublishingProfileBase": {
      "description": "Describes the basic gallery artifact publishing profile.",
      "properties": {
        "targetRegions": {
          "type": "array",
          "description": "The target regions where the Image Version is going to be replicated to. This property is updatable.",
          "items": {
            "$ref": "#/definitions/TargetRegion"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of replicas of the Image Version to be created per region. This property would take effect for a region when regionalReplicaCount is not specified. This property is updatable."
        },
        "excludeFromLatest": {
          "type": "boolean",
          "description": "If set to true, Virtual Machines deployed from the latest version of the Image Definition won't use this Image Version."
        },
        "publishedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp for when the gallery image version is published.",
          "readOnly": true
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery image version. This property can be used for decommissioning purposes. This property is updatable."
        },
        "storageAccountType": {
          "type": "string",
          "description": "Specifies the storage account type to be used to store the image. This property is not updatable.",
          "enum": [
            "Standard_LRS",
            "Standard_ZRS",
            "Premium_LRS"
          ],
          "x-ms-enum": {
            "name": "StorageAccountType",
            "modelAsString": true
          }
        },
        "replicationMode": {
          "type": "string",
          "description": "Optional parameter which specifies the mode to be used for replication. This property is not updatable.",
          "enum": [
            "Full",
            "Shallow"
          ],
          "x-ms-enum": {
            "name": "ReplicationMode",
            "modelAsString": true
          }
        },
        "targetExtendedLocations": {
          "type": "array",
          "description": "The target extended locations where the Image Version is going to be replicated to. This property is updatable.",
          "items": {
            "$ref": "#/definitions/GalleryTargetExtendedLocation"
          },
          "x-ms-identifiers": [
            "name",
            "extendedLocation/name"
          ]
        }
      }
    },
    "GalleryArtifactSafetyProfileBase": {
      "type": "object",
      "description": "This is the safety profile of the Gallery Artifact Version.",
      "properties": {
        "allowDeletionOfReplicatedLocations": {
          "type": "boolean",
          "description": "Indicates whether or not removing this Gallery Image Version from replicated regions is allowed."
        }
      }
    },
    "GalleryArtifactSource": {
      "description": "The source image from which the Image Version is going to be created.",
      "properties": {
        "managedImage": {
          "$ref": "#/definitions/ManagedArtifact"
        }
      },
      "required": [
        "managedImage"
      ]
    },
    "GalleryArtifactVersionFullSource": {
      "type": "object",
      "description": "The source of the gallery artifact version.",
      "properties": {
        "communityGalleryImageId": {
          "type": "string",
          "description": "The resource Id of the source Community Gallery Image.  Only required when using Community Gallery Image as a source."
        },
        "virtualMachineId": {
          "type": "string",
          "description": "The resource Id of the source virtual machine.  Only required when capturing a virtual machine to source this Gallery Image Version."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GalleryArtifactVersionSource"
        }
      ]
    },
    "GalleryArtifactVersionSource": {
      "description": "The gallery artifact version source.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the gallery artifact version source."
        }
      }
    },
    "GalleryDataDiskImage": {
      "description": "This is the data disk image.",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "This property specifies the logical unit number of the data disk. This value is used to identify data disks within the Virtual Machine and therefore must be unique for each data disk attached to the Virtual Machine."
        }
      },
      "required": [
        "lun"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GalleryDiskImage"
        }
      ]
    },
    "GalleryDiskImage": {
      "description": "This is the disk image base class.",
      "properties": {
        "sizeInGB": {
          "type": "integer",
          "format": "int32",
          "description": "This property indicates the size of the VHD to be created.",
          "readOnly": true
        },
        "hostCaching": {
          "type": "string",
          "description": "The host caching of the disk. Valid values are 'None', 'ReadOnly', and 'ReadWrite'",
          "enum": [
            "None",
            "ReadOnly",
            "ReadWrite"
          ],
          "x-ms-enum": {
            "name": "HostCaching",
            "modelAsString": false
          }
        },
        "source": {
          "$ref": "#/definitions/GalleryDiskImageSource"
        }
      }
    },
    "GalleryDiskImageSource": {
      "type": "object",
      "description": "The source for the disk image.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The uri of the gallery artifact version source. Currently used to specify vhd/blob source."
        },
        "storageAccountId": {
          "type": "string",
          "description": "The Storage Account Id that contains the vhd blob being used as a source for this artifact version."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GalleryArtifactVersionSource"
        }
      ]
    },
    "GalleryExtendedLocation": {
      "type": "object",
      "description": "The name of the extended location.",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/GalleryExtendedLocationType"
        }
      }
    },
    "GalleryExtendedLocationType": {
      "type": "string",
      "description": "It is type of the extended location.",
      "enum": [
        "EdgeZone",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "GalleryExtendedLocationType",
        "modelAsString": true
      }
    },
    "GalleryIdentifier": {
      "description": "Describes the gallery unique name.",
      "properties": {
        "uniqueName": {
          "type": "string",
          "description": "The unique name of the Shared Image Gallery. This name is generated automatically by Azure.",
          "readOnly": true
        }
      }
    },
    "GalleryImage": {
      "description": "Specifies information about the gallery image definition that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryImageProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "GalleryImageList": {
      "description": "The List Gallery Images operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of Shared Image Gallery images.",
          "items": {
            "$ref": "#/definitions/GalleryImage"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of Image Definitions in the Shared Image Gallery. Call ListNext() with this to fetch the next page of gallery image definitions."
        }
      },
      "required": [
        "value"
      ]
    },
    "GalleryImageProperties": {
      "description": "Describes the properties of a gallery image definition.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of this gallery image definition resource. This property is updatable."
        },
        "eula": {
          "type": "string",
          "description": "The Eula agreement for the gallery image definition."
        },
        "privacyStatementUri": {
          "type": "string",
          "description": "The privacy statement uri."
        },
        "releaseNoteUri": {
          "type": "string",
          "description": "The release note uri."
        },
        "osType": {
          "type": "string",
          "description": "This property allows you to specify the type of the OS that is included in the disk when creating a VM from a managed image. Possible values are: **Windows,** **Linux.**",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "osState": {
          "type": "string",
          "description": "This property allows the user to specify whether the virtual machines created under this image are 'Generalized' or 'Specialized'.",
          "enum": [
            "Generalized",
            "Specialized"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemStateTypes",
            "modelAsString": false
          }
        },
        "hyperVGeneration": {
          "type": "string",
          "description": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGeneration",
            "modelAsString": true
          }
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery image definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "identifier": {
          "$ref": "./galleryRPCommon.json#/definitions/GalleryImageIdentifier"
        },
        "recommended": {
          "$ref": "./galleryRPCommon.json#/definitions/RecommendedMachineConfiguration"
        },
        "disallowed": {
          "$ref": "./galleryRPCommon.json#/definitions/Disallowed"
        },
        "purchasePlan": {
          "$ref": "./galleryRPCommon.json#/definitions/ImagePurchasePlan"
        },
        "provisioningState": {
          "$ref": "#/definitions/GalleryProvisioningState",
          "readOnly": true
        },
        "features": {
          "type": "array",
          "description": "A list of gallery image features.",
          "items": {
            "$ref": "./galleryRPCommon.json#/definitions/GalleryImageFeature"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "architecture": {
          "$ref": "./galleryRPCommon.json#/definitions/Architecture"
        }
      },
      "required": [
        "osType",
        "osState",
        "identifier"
      ]
    },
    "GalleryImageUpdate": {
      "description": "Specifies information about the gallery image definition that you want to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryImageProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResourceDefinition"
        }
      ]
    },
    "GalleryImageVersion": {
      "description": "Specifies information about the gallery image version that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryImageVersionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "GalleryImageVersionList": {
      "description": "The List Gallery Image version operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of gallery image versions.",
          "items": {
            "$ref": "#/definitions/GalleryImageVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of gallery image versions. Call ListNext() with this to fetch the next page of gallery image versions."
        }
      },
      "required": [
        "value"
      ]
    },
    "GalleryImageVersionProperties": {
      "description": "Describes the properties of a gallery image version.",
      "properties": {
        "publishingProfile": {
          "$ref": "#/definitions/GalleryImageVersionPublishingProfile"
        },
        "provisioningState": {
          "$ref": "#/definitions/GalleryProvisioningState",
          "readOnly": true
        },
        "storageProfile": {
          "$ref": "#/definitions/GalleryImageVersionStorageProfile"
        },
        "safetyProfile": {
          "$ref": "#/definitions/GalleryImageVersionSafetyProfile"
        },
        "replicationStatus": {
          "$ref": "#/definitions/ReplicationStatus",
          "readOnly": true
        },
        "securityProfile": {
          "$ref": "#/definitions/ImageVersionSecurityProfile"
        }
      },
      "required": [
        "storageProfile"
      ]
    },
    "GalleryImageVersionPublishingProfile": {
      "description": "The publishing profile of a gallery image Version.",
      "allOf": [
        {
          "$ref": "#/definitions/GalleryArtifactPublishingProfileBase"
        }
      ]
    },
    "GalleryImageVersionSafetyProfile": {
      "type": "object",
      "description": "This is the safety profile of the Gallery Image Version.",
      "properties": {
        "reportedForPolicyViolation": {
          "type": "boolean",
          "description": "Indicates whether this image has been reported as violating Microsoft's policies.",
          "readOnly": true
        },
        "policyViolations": {
          "type": "array",
          "description": "A list of Policy Violations that have been reported for this Gallery Image Version.",
          "items": {
            "$ref": "#/definitions/PolicyViolation"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GalleryArtifactSafetyProfileBase"
        }
      ]
    },
    "GalleryImageVersionStorageProfile": {
      "description": "This is the storage profile of a Gallery Image Version.",
      "properties": {
        "source": {
          "$ref": "#/definitions/GalleryArtifactVersionFullSource"
        },
        "osDiskImage": {
          "$ref": "#/definitions/GalleryOSDiskImage"
        },
        "dataDiskImages": {
          "type": "array",
          "description": "A list of data disk images.",
          "items": {
            "$ref": "#/definitions/GalleryDataDiskImage"
          },
          "x-ms-identifiers": [
            "lun"
          ]
        }
      }
    },
    "GalleryImageVersionUefiSettings": {
      "type": "object",
      "description": "Contains UEFI settings for the image version.",
      "properties": {
        "signatureTemplateNames": {
          "type": "array",
          "description": "The name of the template(s) that contains default UEFI key signatures that will be added to the image.",
          "items": {
            "$ref": "#/definitions/UefiSignatureTemplateName"
          },
          "x-ms-identifiers": []
        },
        "additionalSignatures": {
          "$ref": "#/definitions/UefiKeySignatures"
        }
      }
    },
    "GalleryImageVersionUpdate": {
      "description": "Specifies information about the gallery image version that you want to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryImageVersionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResourceDefinition"
        }
      ]
    },
    "GalleryList": {
      "description": "The List Galleries operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of galleries.",
          "items": {
            "$ref": "#/definitions/Gallery"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of galleries. Call ListNext() with this to fetch the next page of galleries."
        }
      },
      "required": [
        "value"
      ]
    },
    "GalleryOSDiskImage": {
      "description": "This is the OS disk image.",
      "allOf": [
        {
          "$ref": "#/definitions/GalleryDiskImage"
        }
      ]
    },
    "GalleryProperties": {
      "description": "Describes the properties of a Shared Image Gallery.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of this Shared Image Gallery resource. This property is updatable."
        },
        "identifier": {
          "$ref": "#/definitions/GalleryIdentifier"
        },
        "provisioningState": {
          "$ref": "#/definitions/GalleryProvisioningState",
          "readOnly": true
        },
        "sharingProfile": {
          "$ref": "#/definitions/SharingProfile"
        },
        "softDeletePolicy": {
          "$ref": "#/definitions/SoftDeletePolicy"
        },
        "sharingStatus": {
          "$ref": "#/definitions/SharingStatus",
          "readOnly": true
        }
      }
    },
    "GalleryProvisioningState": {
      "type": "string",
      "title": "The current state of the gallery or gallery artifact.",
      "description": "The provisioning state, which only appears in the response.",
      "enum": [
        "Creating",
        "Updating",
        "Failed",
        "Succeeded",
        "Deleting",
        "Migrating"
      ],
      "x-ms-enum": {
        "name": "GalleryProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "GalleryTargetExtendedLocation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the region."
        },
        "extendedLocation": {
          "$ref": "#/definitions/GalleryExtendedLocation"
        },
        "extendedLocationReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of replicas of the Image Version to be created per extended location. This property is updatable."
        },
        "storageAccountType": {
          "type": "string",
          "description": "Specifies the storage account type to be used to store the image. This property is not updatable.",
          "enum": [
            "Standard_LRS",
            "Standard_ZRS",
            "StandardSSD_LRS",
            "Premium_LRS"
          ],
          "x-ms-enum": {
            "name": "EdgeZoneStorageAccountType",
            "modelAsString": true
          }
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionImages"
        }
      }
    },
    "GalleryUpdate": {
      "description": "Specifies information about the Shared Image Gallery that you want to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResourceDefinition"
        }
      ]
    },
    "ImageVersionSecurityProfile": {
      "type": "object",
      "description": "The security profile of a gallery image version",
      "properties": {
        "uefiSettings": {
          "$ref": "#/definitions/GalleryImageVersionUefiSettings"
        }
      }
    },
    "LatestGalleryImageVersion": {
      "type": "object",
      "description": "The gallery image version with latest version in a particular region.",
      "properties": {
        "latestVersionName": {
          "type": "string",
          "description": "The name of the latest version in the region."
        },
        "location": {
          "type": "string",
          "description": "region of the Gallery Image Version."
        }
      },
      "readOnly": true
    },
    "ManagedArtifact": {
      "description": "The managed artifact.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The managed artifact id."
        }
      },
      "required": [
        "id"
      ]
    },
    "OSDiskImageEncryption": {
      "type": "object",
      "description": "Contains encryption settings for an OS disk image.",
      "properties": {
        "securityProfile": {
          "$ref": "#/definitions/OSDiskImageSecurityProfile",
          "type": "object",
          "description": "This property specifies the security profile of an OS disk image."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DiskImageEncryption"
        }
      ]
    },
    "OSDiskImageSecurityProfile": {
      "type": "object",
      "description": "Contains security profile for an OS disk image.",
      "properties": {
        "confidentialVMEncryptionType": {
          "type": "string",
          "description": "confidential VM encryption types",
          "enum": [
            "EncryptedVMGuestStateOnlyWithPmk",
            "EncryptedWithPmk",
            "EncryptedWithCmk",
            "NonPersistedTPM"
          ],
          "x-ms-enum": {
            "name": "ConfidentialVMEncryptionType",
            "modelAsString": true
          }
        },
        "secureVMDiskEncryptionSetId": {
          "type": "string",
          "description": "secure VM disk encryption set id"
        }
      }
    },
    "PolicyViolation": {
      "type": "object",
      "description": "A policy violation reported against a gallery artifact.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Describes the nature of the policy violation.",
          "enum": [
            "Other",
            "ImageFlaggedUnsafe",
            "CopyrightValidation",
            "IpTheft"
          ],
          "x-ms-enum": {
            "name": "PolicyViolationCategory",
            "modelAsString": true
          }
        },
        "details": {
          "type": "string",
          "description": "Describes specific details about why this policy violation was reported."
        }
      }
    },
    "RegionalReplicationStatus": {
      "description": "This is the regional replication status.",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region to which the gallery image version is being replicated to.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "This is the regional replication state.",
          "enum": [
            "Unknown",
            "Replicating",
            "Completed",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ReplicationState",
            "modelAsString": true
          },
          "readOnly": true
        },
        "details": {
          "type": "string",
          "description": "The details of the replication status.",
          "readOnly": true
        },
        "progress": {
          "type": "integer",
          "format": "int32",
          "description": "It indicates progress of the replication job.",
          "readOnly": true
        }
      }
    },
    "RegionalSharingStatus": {
      "type": "object",
      "description": "Gallery regional sharing status",
      "properties": {
        "region": {
          "type": "string",
          "description": "Region name"
        },
        "state": {
          "$ref": "#/definitions/SharingState",
          "type": "string",
          "description": "Gallery sharing state in current region"
        },
        "details": {
          "type": "string",
          "description": "Details of gallery regional sharing failure."
        }
      }
    },
    "ReplicationStatus": {
      "description": "This is the replication status of the gallery image version.",
      "properties": {
        "aggregatedState": {
          "type": "string",
          "description": "This is the aggregated replication status based on all the regional replication status flags.",
          "enum": [
            "Unknown",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "AggregatedReplicationState",
            "modelAsString": true
          },
          "readOnly": true
        },
        "summary": {
          "type": "array",
          "description": "This is a summary of replication status for each region.",
          "items": {
            "$ref": "#/definitions/RegionalReplicationStatus"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "region"
          ]
        }
      }
    },
    "SharingProfile": {
[...]
