{
  "swagger": "2.0",
  "info": {
    "title": "SharedGalleryServiceClient",
    "version": "2023-07-03",
    "description": "Shared Gallery Service Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries": {
      "get": {
        "operationId": "Galleries_List",
        "tags": [
          "Galleries"
        ],
        "description": "List galleries under a subscription.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list galleries in a subscription.": {
            "$ref": "./examples/galleryExamples/Gallery_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}": {
      "get": {
        "operationId": "CommunityGalleries_Get",
        "tags": [
          "CommunityGalleries"
        ],
        "description": "Get a community gallery by gallery public name.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "#/parameters/PublicGalleryNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommunityGallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGallery_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images": {
      "get": {
        "operationId": "CommunityGalleryImages_List",
        "tags": [
          "CommunityGalleryImages"
        ],
        "description": "List community gallery images inside a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PublicGalleryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list community gallery images.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImage_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}": {
      "get": {
        "operationId": "CommunityGalleryImages_Get",
        "tags": [
          "CommunityGalleryImages"
        ],
        "description": "Get a community gallery image.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PublicGalleryNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryImageNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery image.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImage_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "CommunityGalleryImageVersions_List",
        "tags": [
          "CommunityGalleryImageVersions"
        ],
        "description": "List community gallery image versions inside an image.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PublicGalleryNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryImageNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImageVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list community gallery image versions.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImageVersion_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "CommunityGalleryImageVersions_Get",
        "tags": [
          "CommunityGalleryImageVersions"
        ],
        "description": "Get a community gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PublicGalleryNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryImageNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryImageVersionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery image version.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImageVersion_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries": {
      "get": {
        "operationId": "SharedGalleries_List",
        "tags": [
          "SharedGalleries"
        ],
        "description": "List shared galleries by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "required": false,
            "type": "string",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list shared galleries.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGallery_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}": {
      "get": {
        "operationId": "SharedGalleries_Get",
        "tags": [
          "SharedGalleries"
        ],
        "description": "Get a shared gallery by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a shared gallery.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGallery_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images": {
      "get": {
        "operationId": "SharedGalleryImages_List",
        "tags": [
          "SharedGalleryImages"
        ],
        "description": "List shared gallery images by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "required": false,
            "type": "string",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list shared gallery images.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImages_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}": {
      "get": {
        "operationId": "SharedGalleryImages_Get",
        "tags": [
          "SharedGalleryImages"
        ],
        "description": "Get a shared gallery image by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a shared gallery image.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImage_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "SharedGalleryImageVersions_List",
        "tags": [
          "SharedGalleryImageVersions"
        ],
        "description": "List shared gallery image versions by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "required": false,
            "type": "string",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list shared gallery image versions.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImageVersions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "SharedGalleryImageVersions_Get",
        "tags": [
          "SharedGalleryImageVersions"
        ],
        "description": "Get a shared gallery image version by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a shared gallery image version.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImageVersion_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries": {
      "get": {
        "operationId": "Galleries_ListByResourceGroup",
        "tags": [
          "Galleries"
        ],
        "description": "List galleries under a resource group.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list galleries in a resource group.": {
            "$ref": "./examples/galleryExamples/Gallery_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}": {
      "get": {
        "operationId": "Galleries_Get",
        "tags": [
          "Galleries"
        ],
        "description": "Retrieves information about a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The select expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "Permissions"
            ],
            "x-ms-enum": {
              "name": "SelectPermissions",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/GalleryODataExpandQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery.": {
            "$ref": "./examples/galleryExamples/CommunityGallery_Get.json"
          },
          "get a gallery with expand sharingProfile groups.": {
            "$ref": "./examples/galleryExamples/Gallery_Get_WithExpandSharingProfileGroups.json"
          },
          "get a gallery with select permissions.": {
            "$ref": "./examples/galleryExamples/Gallery_Get_WithSelectPermissions.json"
          },
          "get a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Galleries_CreateOrUpdate",
        "tags": [
          "Galleries"
        ],
        "description": "Create or update a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery. The allowed characters are alphabets and numbers with dots and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "gallery",
            "in": "body",
            "description": "Parameters supplied to the create or update Shared Image Gallery operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create a community gallery.": {
            "$ref": "./examples/galleryExamples/CommunityGallery_Create.json"
          },
          "create or update a simple gallery with sharing profile.": {
            "$ref": "./examples/galleryExamples/Gallery_Create_WithSharingProfile.json"
          },
          "create or update a simple gallery with soft deletion enabled.": {
            "$ref": "./examples/galleryExamples/Gallery_Create_SoftDeletionEnabled.json"
          },
          "create or update a simple gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Galleries_Update",
        "tags": [
          "Galleries"
        ],
        "description": "Update a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery. The allowed characters are alphabets and numbers with dots and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "gallery",
            "in": "body",
            "description": "Parameters supplied to the update Shared Image Gallery operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Galleries_Delete",
        "tags": [
          "Galleries"
        ],
        "description": "Delete a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications": {
      "get": {
        "operationId": "GalleryApplications_ListByGallery",
        "tags": [
          "GalleryApplications"
        ],
        "description": "List gallery Application Definitions in a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery from which Application Definitions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list gallery Applications in a gallery.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_ListByGallery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}": {
      "get": {
        "operationId": "GalleryApplications_Get",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Retrieves information about a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery from which the Application Definitions are to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryApplications_CreateOrUpdate",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Create or update a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be created or updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplication",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery Application operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryApplications_Update",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Update a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplication",
            "in": "body",
            "description": "Parameters supplied to the update gallery Application operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryApplications_Delete",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Delete a gallery Application.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition is to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions": {
      "get": {
        "operationId": "GalleryApplicationVersions_ListByGalleryApplication",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "List gallery Application Versions in a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the Shared Application Gallery Application Definition from which the Application Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list gallery Application Versions in a gallery Application Definition.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_ListByGalleryApplication.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions/{galleryApplicationVersionName}": {
      "get": {
        "operationId": "GalleryApplicationVersions_Get",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Retrieves information about a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "ReplicationStatus",
              "UefiSettings"
            ],
            "x-ms-enum": {
              "name": "ReplicationStatusTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery Application Version with replication status.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Get_WithReplicationStatus.json"
          },
          "get a gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryApplicationVersions_CreateOrUpdate",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Create or update a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplicationVersion",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery Application Version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryApplicationVersions_Update",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Update a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryApplicationVersion",
            "in": "body",
            "description": "Parameters supplied to the update gallery Application Version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryApplicationVersions_Delete",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Delete a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Application Gallery in which the Application Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition in which the Application Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images": {
      "get": {
        "operationId": "GalleryImages_ListByGallery",
        "tags": [
          "GalleryImages"
        ],
        "description": "List gallery image definitions in a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery from which Image Definitions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list gallery images in a gallery.": {
            "$ref": "./examples/galleryExamples/GalleryImage_ListByGallery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}": {
      "get": {
        "operationId": "GalleryImages_Get",
        "tags": [
          "GalleryImages"
        ],
        "description": "Retrieves information about a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery from which the Image Definitions are to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryImages_CreateOrUpdate",
        "tags": [
          "GalleryImages"
        ],
        "description": "Create or update a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be created or updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery image operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryImages_Update",
        "tags": [
          "GalleryImages"
        ],
        "description": "Update a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be updated. The allowed characters are alphabets and numbers with dots, dashes, and periods allowed in the middle. The maximum length is 80 characters.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Parameters supplied to the update gallery image operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryImages_Delete",
        "tags": [
          "GalleryImages"
        ],
        "description": "Delete a gallery image.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition is to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "GalleryImageVersions_ListByGalleryImage",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "List gallery image versions in a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Image Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list gallery image versions in a gallery image definition.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_ListByGalleryImage.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "GalleryImageVersions_Get",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Retrieves information about a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "ReplicationStatus",
              "UefiSettings"
            ],
            "x-ms-enum": {
              "name": "ReplicationStatusTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery image version with replication status.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithReplicationStatus.json"
          },
          "get a gallery image version with snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithSnapshotsAsSource.json"
          },
          "get a gallery image version with vhd as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithVhdAsSource.json"
          },
          "get a gallery image version.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryImageVersions_CreateOrUpdate",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Create or update a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version is to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImageVersion",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery image version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple Gallery Image Version using VM as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVmAsSource.json"
          },
          "create or update a simple Gallery Image Version using community gallery image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithCommunityImageVersionAsSource.json"
          },
          "create or update a simple Gallery Image Version using managed image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create.json"
          },
          "create or update a simple Gallery Image Version using mix of disks and snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithSnapshotsAsSource.json"
          },
          "create or update a simple Gallery Image Version using shallow replication mode.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithShallowReplicationMode.json"
          },
          "create or update a simple Gallery Image Version using shared image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithImageVersionAsSource.json"
          },
          "create or update a simple Gallery Image Version using snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithSnapshotsAsSource.json"
          },
          "create or update a simple Gallery Image Version using vhd as a source with custom UEFI keys.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVHD_UefiSettings.json"
          },
          "create or update a simple Gallery Image Version using vhd as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVHD.json"
          },
          "create or update a simple gallery image version with target extended locations specified.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithTargetExtendedLocations.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryImageVersions_Update",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Update a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version is to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryImageVersion",
            "in": "body",
            "description": "Parameters supplied to the update gallery image version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "update a simple Gallery Image Version (Managed Image as source).": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Update.json"
          },
          "update a simple Gallery Image Version without source id.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Update_WithoutSourceId.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryImageVersions_Delete",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Delete a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery in which the Image Definition resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition in which the Image Version resides.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery image version.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/share": {
      "post": {
        "operationId": "GallerySharingProfile_Update",
        "tags": [
          "GallerySharingUpdate"
        ],
        "description": "Update sharing profile of a gallery.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sharingUpdate",
            "in": "body",
            "description": "Parameters supplied to the update gallery sharing profile.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "add sharing id to the sharing profile of a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_AddToSharingProfile.json"
          },
          "reset sharing profile of a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_ResetSharingProfile.json"
          },
          "share a gallery to community.": {
            "$ref": "./examples/galleryExamples/Gallery_EnableCommunityGallery.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "architecture": {
      "type": "string",
      "description": "The architecture of the image. Applicable to OS disks only.",
      "enum": [
        "Arm64",
        "x64"
      ],
      "x-ms-enum": {
        "name": "Architecture",
        "modelAsString": true
      }
    },
    "communityGallery": {
      "description": "Specifies information about the Community Gallery that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunityGalleryProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirCommunityGalleryResource"
        }
      ]
    },
    "communityGalleryArtifactTags": {
      "type": "object",
      "description": "The artifact tags of a community gallery resource.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "communityGalleryDisclaimer": {
      "type": "string",
      "description": "The disclaimer for a community gallery resource.",
      "properties": {
        "disclaimer": {
          "type": "string",
          "description": "Community gallery disclaimer",
          "readOnly": true
        }
      }
    },
    "communityGalleryIdentifier": {
      "description": "The identifier information of community gallery.",
      "properties": {
        "uniqueId": {
          "type": "string",
          "description": "The unique id of this community gallery."
        }
      }
    },
    "communityGalleryImage": {
      "description": "Specifies information about the gallery image definition that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunityGalleryImageProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirCommunityGalleryResource"
        }
      ]
    },
    "communityGalleryImageIdentifier": {
      "description": "This is the community gallery image definition identifier.",
      "properties": {
        "offer": {
          "type": "string",
          "description": "The name of the gallery image definition offer."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the gallery image definition publisher."
        },
        "sku": {
          "type": "string",
          "description": "The name of the gallery image definition SKU."
        }
      }
    },
    "communityGalleryImageList": {
      "type": "object",
      "description": "The List Community Gallery Images operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of community gallery images. Call ListNext() with this to fetch the next page of community gallery images."
        },
        "value": {
          "type": "array",
          "description": "A list of community gallery images.",
          "items": {
            "$ref": "#/definitions/CommunityGalleryImage"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "value"
      ]
    },
    "communityGalleryImageProperties": {
      "description": "Describes the properties of a gallery image definition.",
      "properties": {
        "architecture": {
          "$ref": "./galleryRPCommon.json#/definitions/Architecture"
        },
        "artifactTags": {
          "$ref": "#/definitions/CommunityGalleryArtifactTags"
        },
        "disallowed": {
          "$ref": "./galleryRPCommon.json#/definitions/Disallowed"
        },
        "disclaimer": {
          "$ref": "#/definitions/CommunityGalleryDisclaimer"
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery image definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "eula": {
          "type": "string",
          "description": "The end-user license agreement for the current community gallery image."
        },
        "features": {
          "type": "array",
          "description": "A list of gallery image features.",
          "items": {
            "$ref": "./galleryRPCommon.json#/definitions/GalleryImageFeature"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "hyperVGeneration": {
          "type": "string",
          "description": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGeneration",
            "modelAsString": true
          }
        },
        "identifier": {
          "$ref": "#/definitions/CommunityGalleryImageIdentifier"
        },
        "osState": {
          "type": "string",
          "description": "This property allows the user to specify whether the virtual machines created under this image are 'Generalized' or 'Specialized'.",
          "enum": [
            "Generalized",
            "Specialized"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemStateTypes",
            "modelAsString": false
          }
        },
        "osType": {
          "type": "string",
          "description": "This property allows you to specify the type of the OS that is included in the disk when creating a VM from a managed image. Possible values are: **Windows,** **Linux.**",
          "enum": [
            "Linux",
            "Windows"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "privacyStatementUri": {
          "type": "string",
          "description": "Privacy statement URI for the current community gallery image."
        },
        "purchasePlan": {
          "$ref": "./galleryRPCommon.json#/definitions/ImagePurchasePlan"
        },
        "recommended": {
          "$ref": "./galleryRPCommon.json#/definitions/RecommendedMachineConfiguration"
        }
      },
      "required": [
        "identifier",
        "osState",
        "osType"
      ]
    },
    "communityGalleryImageVersion": {
      "description": "Specifies information about the gallery image version that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunityGalleryImageVersionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirCommunityGalleryResource"
        }
      ]
    },
    "communityGalleryImageVersionList": {
      "type": "object",
      "description": "The List Community Gallery Image versions operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of community gallery image versions. Call ListNext() with this to fetch the next page of community gallery image versions."
        },
        "value": {
          "type": "array",
          "description": "A list of community gallery image versions.",
          "items": {
            "$ref": "#/definitions/CommunityGalleryImageVersion"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "value"
      ]
    },
    "communityGalleryImageVersionProperties": {
      "description": "Describes the properties of a gallery image version.",
      "properties": {
        "artifactTags": {
          "$ref": "#/definitions/CommunityGalleryArtifactTags"
        },
        "disclaimer": {
          "$ref": "#/definitions/CommunityGalleryDisclaimer"
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery image version Definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "excludeFromLatest": {
          "type": "boolean",
          "description": "If set to true, Virtual Machines deployed from the latest version of the Image Definition won't use this Image Version."
        },
        "publishedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The published date of the gallery image version Definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "storageProfile": {
          "$ref": "./galleryRPCommon.json#/definitions/SharedGalleryImageVersionStorageProfile",
          "description": "Describes the storage profile of the image version."
        }
      }
    },
    "communityGalleryInfo": {
      "type": "object",
      "description": "Information of community gallery if current gallery is shared to community",
      "properties": {
        "communityGalleryEnabled": {
          "type": "boolean",
          "description": "Contains info about whether community gallery sharing is enabled.",
          "readOnly": true
        },
        "eula": {
          "type": "string",
          "description": "End-user license agreement for community gallery image."
        },
        "publicNamePrefix": {
          "type": "string",
          "description": "The prefix of the gallery name that will be displayed publicly. Visible to all users."
        },
        "publicNames": {
          "type": "array",
          "description": "Community gallery public name list.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "publisherContact": {
          "type": "string",
          "description": "Community gallery publisher support email. The email address of the publisher. Visible to all users."
        },
        "publisherUri": {
          "type": "string",
          "description": "The link to the publisher website. Visible to all users."
        }
      }
    },
    "communityGalleryMetadata": {
      "type": "object",
      "description": "The metadata of community gallery.",
      "properties": {
        "eula": {
          "type": "string",
          "description": "The end-user license agreement for this community gallery."
        },
        "privacyStatementUri": {
          "type": "string",
          "format": "uri",
          "description": "The link for the privacy statement of this community gallery from the gallery publisher."
        },
        "publicNames": {
          "type": "array",
          "description": "A list of public names the gallery has.",
          "items": {
            "type": "string"
          }
        },
        "publisherContact": {
          "type": "string",
          "description": "The publisher email id of this community gallery."
        },
        "publisherUri": {
          "type": "string",
          "format": "uri",
          "description": "The publisher URI of this community gallery."
        }
      },
      "required": [
        "publicNames",
        "publisherContact"
      ]
    },
    "communityGalleryProperties": {
      "type": "object",
      "description": "Describes the properties of a community gallery.",
      "properties": {
        "artifactTags": {
          "$ref": "#/definitions/CommunityGalleryArtifactTags"
        },
        "communityMetadata": {
          "$ref": "#/definitions/CommunityGalleryMetadata"
        },
        "disclaimer": {
          "$ref": "#/definitions/CommunityGalleryDisclaimer"
        }
      }
    },
    "dataDiskImageEncryption": {
      "description": "Contains encryption settings for a data disk image.",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "This property specifies the logical unit number of the data disk. This value is used to identify data disks within the Virtual Machine and therefore must be unique for each data disk attached to the Virtual Machine."
        }
      },
      "required": [
        "lun"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DiskImageEncryption"
        }
      ]
    },
    "disallowed": {
      "description": "Describes the disallowed disk types.",
      "properties": {
        "diskTypes": {
          "type": "array",
          "description": "A list of disk types.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "diskImageEncryption": {
      "description": "This is the disk image encryption base class.",
      "properties": {
        "diskEncryptionSetId": {
          "type": "string",
          "description": "A relative URI containing the resource ID of the disk encryption set."
        }
      }
    },
    "encryptionImages": {
      "description": "Optional. Allows users to provide customer managed keys for encrypting the OS and data disks in the gallery artifact.",
      "properties": {
        "dataDiskImages": {
          "type": "array",
          "description": "A list of encryption specifications for data disk images.",
          "items": {
            "$ref": "#/definitions/DataDiskImageEncryption"
          },
          "x-ms-identifiers": [
            "lun"
          ]
        },
        "osDiskImage": {
          "$ref": "#/definitions/OSDiskImageEncryption"
        }
      }
    },
    "gallery": {
      "description": "Specifies information about the Shared Image Gallery that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "galleryApplication": {
      "description": "Specifies information about the gallery Application Definition that you want to create or update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GalleryApplicationProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "galleryApplicationCustomAction": {
      "type": "object",
      "description": "A custom action that can be performed with a Gallery Application Version.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description to help the users understand what this custom action does."
        },
        "name": {
          "type": "string",
          "description": "The name of the custom action.  Must be unique within the Gallery Application Version."
        },
        "parameters": {
          "type": "array",
          "description": "The parameters that this custom action uses",
          "items": {
            "$ref": "#/definitions/GalleryApplicationCustomActionParameter"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "script": {
          "type": "string",
          "description": "The script to run when executing this custom action."
        }
      },
      "required": [
        "name",
        "script"
      ]
    },
    "galleryApplicationCustomActionParameter": {
      "type": "object",
      "description": "The definition of a parameter that can be passed to a custom action of a Gallery Application Version.",
      "properties": {
        "defaultValue": {
          "type": "string",
          "description": "The default value of the parameter.  Only applies to string types"
        },
        "description": {
          "type": "string",
          "description": "A description to help users understand what this parameter means"
        },
        "name": {
          "type": "string",
          "description": "The name of the custom action.  Must be unique within the Gallery Application Version."
        },
        "required": {
          "type": "boolean",
          "description": "Indicates whether this parameter must be passed when running the custom action."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the custom action parameter. Possible values are: String, ConfigurationDataBlob or LogOutputBlob",
          "enum": [
            "ConfigurationDataBlob",
            "LogOutputBlob",
            "String"
          ],
          "x-ms-enum": {
            "name": "GalleryApplicationCustomActionParameterType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "name"
      ]
    },
    "galleryApplicationList": {
      "description": "The List Gallery Applications operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of Application Definitions in the Application Gallery. Call ListNext() with this to fetch the next page of gallery Application Definitions."
        },
        "value": {
          "type": "array",
          "description": "A list of Gallery Applications.",
          "items": {
            "$ref": "#/definitions/GalleryApplication"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "galleryApplicationProperties": {
      "description": "Describes the properties of a gallery Application Definition.",
      "properties": {
        "customActions": {
          "type": "array",
          "description": "A list of custom actions that can be performed with all of the Gallery Application Versions within this Gallery Application.",
          "items": {
            "$ref": "#/definitions/GalleryApplicationCustomAction"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of this gallery Application Definition resource. This property is updatable."
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery Application Definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "eula": {
          "type": "string",
          "description": "The Eula agreement for the gallery Application Definition."
        },
        "privacyStatementUri": {
          "type": "string",
          "description": "The privacy statement uri."
        },
        "releaseNoteUri": {
          "type": "string",
          "description": "The release note uri."
        },
        "supportedOSType": {
          "type": "string",
[...]
