{
  "swagger": "2.0",
  "info": {
    "title": "SharedGalleryServiceClient",
    "description": "Shared Gallery Service Client.",
    "version": "2023-07-03"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries": {
      "get": {
        "tags": [
          "SharedGalleries"
        ],
        "operationId": "SharedGalleries_List",
        "description": "List shared galleries by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List shared galleries.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGallery_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images": {
      "get": {
        "tags": [
          "SharedGalleryImages"
        ],
        "operationId": "SharedGalleryImages_List",
        "description": "List shared gallery images by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of the Shared Gallery."
          },
          {
            "name": "sharedTo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List shared gallery images.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImages_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}/versions": {
      "get": {
        "tags": [
          "SharedGalleryImageVersions"
        ],
        "operationId": "SharedGalleryImageVersions_List",
        "description": "List shared gallery image versions by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of the Shared Gallery."
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed."
          },
          {
            "name": "sharedTo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List shared gallery image versions.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImageVersions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}": {
      "get": {
        "tags": [
          "SharedGalleries"
        ],
        "operationId": "SharedGalleries_Get",
        "description": "Get a shared gallery by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of the Shared Gallery."
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGallery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a shared gallery.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGallery_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}": {
      "get": {
        "tags": [
          "SharedGalleryImages"
        ],
        "operationId": "SharedGalleryImages_Get",
        "description": "Get a shared gallery image by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of the Shared Gallery."
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a shared gallery image.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImage_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "tags": [
          "SharedGalleryImageVersions"
        ],
        "operationId": "SharedGalleryImageVersions_Get",
        "description": "Get a shared gallery image version by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./galleryRPCommon.json#/parameters/LocationNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique name of the Shared Gallery."
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed."
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the gallery image version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a shared gallery image version.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImageVersion_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PirResource": {
      "description": "The Resource model definition.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Resource location"
        }
      }
    },
    "PirSharedGalleryResource": {
      "properties": {
        "identifier": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedGalleryIdentifier"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirResource"
        }
      ],
      "description": "Base information about the shared gallery resource in pir."
    },
    "SharedGalleryArtifactTags": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "The artifact tags of a shared gallery resource."
    },
    "SharedGalleryIdentifier": {
      "properties": {
        "uniqueId": {
          "type": "string",
          "description": "The unique id of this shared gallery."
        }
      },
      "description": "The identifier information of shared gallery."
    },
    "SharedGalleryList": {
      "description": "The List Shared Galleries operation response.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedGallery"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "A list of shared galleries."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of shared galleries. Call ListNext() with this to fetch the next page of shared galleries."
        }
      },
      "required": [
        "value"
      ]
    },
    "SharedGallery": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedGalleryProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirSharedGalleryResource"
        }
      ],
      "description": "Specifies information about the Shared Gallery that you want to create or update."
    },
    "SharedGalleryProperties": {
      "type": "object",
      "properties": {
        "artifactTags": {
          "readOnly": true,
          "$ref": "#/definitions/SharedGalleryArtifactTags"
        }
      },
      "description": "Specifies the properties of a shared gallery"
    },
    "SharedGalleryImageList": {
      "description": "The List Shared Gallery Images operation response.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedGalleryImage"
          },
          "x-ms-identifiers": [],
          "description": "A list of shared gallery images."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of shared gallery images. Call ListNext() with this to fetch the next page of shared gallery images."
        }
      },
      "required": [
        "value"
      ]
    },
    "SharedGalleryImage": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedGalleryImageProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirSharedGalleryResource"
        }
      ],
      "description": "Specifies information about the gallery image definition that you want to create or update."
    },
    "SharedGalleryImageProperties": {
      "properties": {
        "osType": {
          "type": "string",
          "description": "This property allows you to specify the type of the OS that is included in the disk when creating a VM from a managed image. Possible values are: **Windows,** **Linux.**",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        },
        "osState": {
          "type": "string",
          "description": "This property allows the user to specify whether the virtual machines created under this image are 'Generalized' or 'Specialized'.",
          "enum": [
            "Generalized",
            "Specialized"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemStateTypes",
            "modelAsString": false
          }
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery image definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "identifier": {
          "$ref": "./galleryRPCommon.json#/definitions/GalleryImageIdentifier"
        },
        "recommended": {
          "$ref": "./galleryRPCommon.json#/definitions/RecommendedMachineConfiguration"
        },
        "disallowed": {
          "$ref": "./galleryRPCommon.json#/definitions/Disallowed"
        },
        "hyperVGeneration": {
          "type": "string",
          "description": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGeneration",
            "modelAsString": true
          }
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "./galleryRPCommon.json#/definitions/GalleryImageFeature"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "A list of gallery image features."
        },
        "purchasePlan": {
          "$ref": "./galleryRPCommon.json#/definitions/ImagePurchasePlan"
        },
        "architecture": {
          "$ref": "./galleryRPCommon.json#/definitions/Architecture"
        },
        "privacyStatementUri": {
          "type": "string",
          "description": "Privacy statement uri for the current community gallery image."
        },
        "eula": {
          "type": "string",
          "description": "End-user license agreement for the current community gallery image."
        },
        "artifactTags": {
          "$ref": "#/definitions/SharedGalleryArtifactTags"
        }
      },
      "required": [
        "osType",
        "osState",
        "identifier"
      ],
      "description": "Describes the properties of a gallery image definition."
    },
    "SharedGalleryImageVersionList": {
      "description": "The List Shared Gallery Image versions operation response.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedGalleryImageVersion"
          },
          "x-ms-identifiers": [],
          "description": "A list of shared gallery images versions."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of shared gallery image versions. Call ListNext() with this to fetch the next page of shared gallery image versions."
        }
      },
      "required": [
        "value"
      ]
    },
    "SharedGalleryImageVersion": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedGalleryImageVersionProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PirSharedGalleryResource"
        }
      ],
      "description": "Specifies information about the gallery image version that you want to create or update."
    },
    "SharedGalleryImageVersionProperties": {
      "properties": {
        "publishedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The published date of the gallery image version Definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "endOfLifeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end of life date of the gallery image version Definition. This property can be used for decommissioning purposes. This property is updatable."
        },
        "excludeFromLatest": {
          "type": "boolean",
          "description": "If set to true, Virtual Machines deployed from the latest version of the Image Definition won't use this Image Version."
        },
        "storageProfile": {
          "$ref": "./galleryRPCommon.json#/definitions/SharedGalleryImageVersionStorageProfile",
          "description": "Describes the storage profile of the image version."
        },
        "artifactTags": {
          "$ref": "#/definitions/SharedGalleryArtifactTags"
        }
      },
      "description": "Describes the properties of a gallery image version."
    }
  }
}
