{
  "swagger": "2.0",
  "info": {
    "title": "MaintenanceManagementClient",
    "version": "2026-02-01-preview",
    "description": "Azure Maintenance Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MaintenanceConfigurations"
    },
    {
      "name": "MaintenanceConfigurationOperationGroup"
    },
    {
      "name": "ApplyUpdates"
    },
    {
      "name": "ApplyUpdateOperationGroup"
    },
    {
      "name": "MaintenancePlans"
    },
    {
      "name": "ConfigurationAssignments"
    },
    {
      "name": "ConfigurationAssignmentOperationGroup"
    },
    {
      "name": "ConfigurationAssignmentsForSubscriptions"
    },
    {
      "name": "ConfigurationAssignmentsForResourceGroup"
    }
  ],
  "paths": {
    "/providers/Microsoft.Maintenance/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "summary": "List available operations",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List (minimum set)": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/applyUpdates": {
      "get": {
        "operationId": "ApplyUpdates_List",
        "tags": [
          "ApplyUpdateOperationGroup"
        ],
        "description": "Get Configuration records within a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_List": {
            "$ref": "./examples/ApplyUpdates_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "operationId": "ConfigurationAssignmentsWithinSubscription_List",
        "tags": [
          "ConfigurationAssignmentsForSubscriptions"
        ],
        "description": "[UNSUPPORTED] Get configuration assignment within a subscription. This API is not implemented yet.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListConfigurationAssignmentsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsWithinSubscription_List_MaximumSet": {
            "$ref": "./examples/ConfigurationAssignmentsWithinSubscription_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignmentsForSubscriptions_Get",
        "tags": [
          "ConfigurationAssignmentsForSubscriptions"
        ],
        "description": "Get configuration assignment for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_GetParent": {
            "$ref": "./examples/ConfigurationAssignmentsForSubscriptions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignmentsForSubscriptions_CreateOrUpdate",
        "tags": [
          "ConfigurationAssignmentsForSubscriptions"
        ],
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForSubscriptions_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationAssignmentsForSubscriptions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ConfigurationAssignmentsForSubscriptions_Update",
        "tags": [
          "ConfigurationAssignmentsForSubscriptions"
        ],
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForSubscriptions_Update_MaximumSet": {
            "$ref": "./examples/ConfigurationAssignmentsForSubscriptions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignmentsForSubscriptions_Delete",
        "tags": [
          "ConfigurationAssignmentsForSubscriptions"
        ],
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForSubscriptions_Delete": {
            "$ref": "./examples/ConfigurationAssignmentsForSubscriptions_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/maintenanceConfigurations": {
      "get": {
        "operationId": "MaintenanceConfigurations_List",
        "tags": [
          "MaintenanceConfigurationOperationGroup"
        ],
        "description": "Get Configuration records within a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListMaintenanceConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_List": {
            "$ref": "./examples/MaintenanceConfigurations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/publicMaintenanceConfigurations": {
      "get": {
        "operationId": "PublicMaintenanceConfigurations_List",
        "tags": [
          "MaintenanceConfigurations"
        ],
        "description": "Get Public Maintenance Configuration records",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListMaintenanceConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "PublicMaintenanceConfigurations_List": {
            "$ref": "./examples/PublicMaintenanceConfigurations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/{resourceName}": {
      "get": {
        "operationId": "PublicMaintenanceConfigurations_Get",
        "tags": [
          "MaintenanceConfigurations"
        ],
        "description": "Get Public Maintenance Configuration record",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the MaintenanceConfiguration",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "PublicMaintenanceConfigurations_Get_MaximumSet": {
            "$ref": "./examples/PublicMaintenanceConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceGrandParentType}/{resourceGrandParentName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}": {
      "get": {
        "operationId": "ApplyUpdates_GetGrandParent",
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Track maintenance updates to resource with 2 parents",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGrandParentType",
            "in": "path",
            "description": "Resource second parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGrandParentName",
            "in": "path",
            "description": "Resource second parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "applyUpdateName",
            "in": "path",
            "description": "The name of the ApplyUpdate",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_GetGrandParent_MaximumSet": {
            "$ref": "./examples/ApplyUpdates_GetGrandParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}": {
      "get": {
        "operationId": "ApplyUpdates_GetParent",
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Track maintenance updates to resource with parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "applyUpdateName",
            "in": "path",
            "description": "The name of the ApplyUpdate",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_GetParent": {
            "$ref": "./examples/ApplyUpdates_GetParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "operationId": "ConfigurationAssignments_ListParent",
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "List configurationAssignments for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListConfigurationAssignmentsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_ListParent": {
            "$ref": "./examples/ConfigurationAssignments_ListParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignments_GetParent",
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Get configuration assignment for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_GetParent": {
            "$ref": "./examples/ConfigurationAssignments_GetParent_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignments_CreateOrUpdateParent",
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_CreateOrUpdateParent": {
            "$ref": "./examples/ConfigurationAssignments_CreateOrUpdateParent_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignments_DeleteParent",
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_DeleteParent": {
            "$ref": "./examples/ConfigurationAssignments_DeleteParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}": {
      "get": {
        "operationId": "ApplyUpdates_Get",
        "tags": [
          "ApplyUpdateOperationGroup"
        ],
        "description": "Track maintenance updates to resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "applyUpdateName",
            "in": "path",
            "description": "The name of the ApplyUpdate",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_Get": {
            "$ref": "./examples/ApplyUpdates_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ApplyUpdates_CreateOrUpdateOrCancel",
        "tags": [
          "ApplyUpdateOperationGroup"
        ],
        "description": "Apply maintenance updates to resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "applyUpdateName",
            "in": "path",
            "description": "The name of the ApplyUpdate",
            "required": true,
            "type": "string"
          },
          {
            "name": "applyUpdate",
            "in": "body",
            "description": "The ApplyUpdate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApplyUpdate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "201": {
            "description": "Resource 'ApplyUpdate' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_CreateOrUpdateOrCancel_MaximumSet": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdateOrCancel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignments_Get",
        "tags": [
          "ConfigurationAssignmentOperationGroup"
        ],
        "description": "Get configuration assignment for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_Get": {
            "$ref": "./examples/ConfigurationAssignments_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignments_CreateOrUpdate",
        "tags": [
          "ConfigurationAssignmentOperationGroup"
        ],
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationAssignments_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignments_Delete",
        "tags": [
          "ConfigurationAssignmentOperationGroup"
        ],
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource parent name",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_Delete": {
            "$ref": "./examples/ConfigurationAssignments_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/maintenancePlans": {
      "get": {
        "operationId": "MaintenancePlansCollectionRoutes_List",
        "tags": [
          "MaintenancePlans"
        ],
        "summary": "List Maintenance Plans for a resource",
        "description": "Lists all Maintenance Plans for a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name for the target resource (e.g., Microsoft.Compute).",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Target resource type (e.g., supercomputer).",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Target resource name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Whether to return inactive maintenance plans as well. Default: active only.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListMaintenancePlansResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "List Maintenance Plans for a resource": {
            "$ref": "./examples/MaintenancePlansCollectionRoutes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/maintenancePlans/{maintenancePlanName}": {
      "get": {
        "operationId": "MaintenancePlans_Get",
        "tags": [
          "MaintenancePlans"
        ],
        "description": "Get Maintenance Plan for a resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name for the target resource (e.g., Microsoft.Compute)",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Target resource type (e.g., supercomputer)",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Target resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "maintenancePlanName",
            "in": "path",
            "description": "The name of the MaintenancePlan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenancePlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenancePlans_Get_MaximumSet": {
            "$ref": "./examples/MaintenancePlans_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MaintenancePlans_CreateOrUpdate",
        "tags": [
          "MaintenancePlans"
        ],
        "description": "Create Maintenance Plan for a resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name for the target resource (e.g., Microsoft.Compute)",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Target resource type (e.g., supercomputer)",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Target resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "maintenancePlanName",
            "in": "path",
            "description": "The name of the MaintenancePlan",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenancePlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenancePlan"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenancePlan"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenancePlans_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MaintenancePlans_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/applyUpdates": {
      "get": {
        "operationId": "ApplyUpdateForResourceGroup_List",
        "summary": "Get Configuration records within a subscription and resource group",
        "description": "Get Configuration records within a subscription and resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListApplyUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "Get Configuration records within a subscription and resource group": {
            "$ref": "./examples/ApplyUpdateForResourceGroup_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "get": {
        "operationId": "ConfigurationAssignmentsForResourceGroup_Get",
        "tags": [
          "ConfigurationAssignmentsForResourceGroup"
        ],
        "description": "Get configuration assignment for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForResourceGroup_Get": {
            "$ref": "./examples/ConfigurationAssignmentsForResourceGroup_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationAssignmentsForResourceGroup_CreateOrUpdate",
        "tags": [
          "ConfigurationAssignmentsForResourceGroup"
        ],
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForResourceGroup_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationAssignmentsForResourceGroup_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ConfigurationAssignmentsForResourceGroup_Update",
        "tags": [
          "ConfigurationAssignmentsForResourceGroup"
        ],
        "description": "Register configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          },
          {
            "name": "configurationAssignment",
            "in": "body",
            "description": "The configurationAssignment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForResourceGroup_Update_MaximumSet": {
            "$ref": "./examples/ConfigurationAssignmentsForResourceGroup_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationAssignmentsForResourceGroup_Delete",
        "tags": [
          "ConfigurationAssignmentsForResourceGroup"
        ],
        "description": "Unregister configuration for resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationAssignmentName",
            "in": "path",
            "description": "The name of the ConfigurationAssignment",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationAssignment"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignmentsForResourceGroup_Delete": {
            "$ref": "./examples/ConfigurationAssignmentsForResourceGroup_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations": {
      "get": {
        "operationId": "MaintenanceConfigurationsForResourceGroup_List",
        "tags": [
          "MaintenanceConfigurationOperationGroup"
        ],
        "description": "Get Configuration records within a subscription and resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListMaintenanceConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurationsForResourceGroup_List_MaximumSet": {
            "$ref": "./examples/MaintenanceConfigurationsForResourceGroup_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations/{resourceName}": {
      "get": {
        "operationId": "MaintenanceConfigurations_Get",
        "tags": [
          "MaintenanceConfigurationOperationGroup"
        ],
        "description": "Get Configuration record",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the MaintenanceConfiguration",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_Get_MaximumSet": {
            "$ref": "./examples/MaintenanceConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MaintenanceConfigurations_CreateOrUpdate",
        "tags": [
          "MaintenanceConfigurationOperationGroup"
        ],
        "description": "Create or Update configuration record",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the MaintenanceConfiguration",
            "required": true,
            "type": "string"
          },
          {
            "name": "configuration",
            "in": "body",
            "description": "The configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MaintenanceConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "201": {
            "description": "Resource 'MaintenanceConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MaintenanceConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "MaintenanceConfigurations_Update",
        "tags": [
          "MaintenanceConfigurationOperationGroup"
        ],
        "description": "Patch configuration record",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the MaintenanceConfiguration",
            "required": true,
            "type": "string"
          },
          {
            "name": "configuration",
            "in": "body",
            "description": "The configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_Update_MaximumSet": {
            "$ref": "./examples/MaintenanceConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "MaintenanceConfigurations_Delete",
        "tags": [
          "MaintenanceConfigurationOperationGroup"
        ],
        "description": "Delete Configuration record",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the MaintenanceConfiguration",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_Delete_MaximumSet": {
            "$ref": "./examples/MaintenanceConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceGrandParentType}/{resourceGrandParentName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default": {
      "put": {
        "operationId": "ApplyUpdates_CreateOrUpdateGrandParent",
        "summary": "Apply Updates to resource with 2 parents",
        "description": "Apply maintenance updates to resource with 2 parents",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGrandParentType",
            "in": "path",
            "description": "Resource second parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGrandParentName",
            "in": "path",
            "description": "Resource second parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "Apply Updates to resource with 2 parents": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdateGrandParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default": {
      "put": {
        "operationId": "ApplyUpdates_CreateOrUpdateParent",
        "summary": "Apply Updates to resource with parent",
        "description": "Apply maintenance updates to resource with parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_CreateOrUpdateParent": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdateParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates": {
      "get": {
        "operationId": "Updates_ListParent",
        "summary": "Get Updates to resource",
        "description": "Get updates to resources.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentType",
            "in": "path",
            "description": "Resource parent type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceParentName",
            "in": "path",
            "description": "Resource parent identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListUpdatesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "Updates_ListParent": {
            "$ref": "./examples/Updates_ListParent_MaximumSet_Gen.json"
          },
          "Updates_ListParent (minimum set)": {
            "$ref": "./examples/Updates_ListParent_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default": {
      "put": {
        "operationId": "ApplyUpdates_CreateOrUpdate",
        "summary": "Apply Updates to resource",
        "description": "Apply maintenance updates to resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplyUpdate"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ApplyUpdates_CreateOrUpdate": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "operationId": "ConfigurationAssignments_List",
        "summary": "Get Configuration records within a subscription and resource group",
        "description": "Get Configuration records within a subscription and resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListConfigurationAssignmentsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationAssignments_List": {
            "$ref": "./examples/ConfigurationAssignments_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates": {
      "get": {
        "operationId": "Updates_List",
        "summary": "Get Updates to resource",
        "description": "Get updates to resources.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "description": "Resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListUpdatesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "Updates_List": {
            "$ref": "./examples/Updates_List_MaximumSet_Gen.json"
          },
          "Updates_List (minimum set)": {
            "$ref": "./examples/Updates_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/scheduledevents": {
      "post": {
        "operationId": "ScheduledEvents_AcknowledgeList",
        "summary": "Post ScheduledEvents List Acknowledgement",
        "description": "Post List of ScheduledEvents Acknowledgement",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduledEventsIdList",
            "in": "body",
            "description": "List of ScheduledEvents Id.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledEventsIdList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledEventsApproveResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ScheduledEventsListAcknowledgeError"
            }
          }
        },
        "x-ms-examples": {
          "Post ScheduledEvents List Acknowledgement": {
            "$ref": "./examples/ScheduledEvents_AcknowledgeList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/scheduledevents/{scheduledEventId}/acknowledge": {
      "post": {
        "operationId": "ScheduledEvents_Acknowledge",
        "summary": "Post ScheduledEvents Acknowledgement",
        "description": "Post ScheduledEvents Acknowledgement",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource type",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduledEventId",
            "in": "path",
            "description": "ScheduledEvents Id. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledEventsApproveResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "Post ScheduledEvents Acknowledgement": {
            "$ref": "./examples/ScheduledEvents_Acknowledge.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApplyUpdate": {
      "type": "object",
      "description": "Apply Update request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplyUpdateProperties",
          "description": "Properties of the apply update",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApplyUpdateProperties": {
      "type": "object",
      "description": "Properties for apply update",
      "properties": {
        "status": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The status"
        },
        "resourceId": {
          "type": "string",
          "description": "The resourceId"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last Update time"
        },
        "maintenancePlanId": {
          "type": "string",
          "description": "Maintenance plan name if the update is part of a maintenance plan."
        },
        "statusDetails": {
          "$ref": "#/definitions/UpdateStatusDetails",
          "description": "Update status details, includes failure reason and recovery step for the update (if any)."
        }
      }
    },
    "ConfigurationAssignment": {
      "type": "object",
      "description": "Configuration Assignment",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationAssignmentProperties",
          "description": "Properties of the configuration assignment",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "description": "Location of the resource"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConfigurationAssignmentFilterProperties": {
      "type": "object",
      "description": "Azure query for the update configuration.",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "description": "List of allowed resources.",
          "items": {
            "type": "string"
          }
        },
        "resourceGroups": {
          "type": "array",
          "description": "List of allowed resource groups.",
          "items": {
            "type": "string"
          }
        },
        "osTypes": {
          "type": "array",
          "description": "List of allowed operating systems.",
          "items": {
            "type": "string"
          }
        },
        "locations": {
          "type": "array",
          "description": "List of locations to scope the query to.",
          "items": {
            "type": "string"
          }
        },
        "tagSettings": {
          "$ref": "#/definitions/TagSettingsProperties",
          "description": "Tag settings for the VM."
        }
      }
    },
    "ConfigurationAssignmentProperties": {
      "type": "object",
      "description": "Properties for configuration assignment",
      "properties": {
        "maintenanceConfigurationId": {
          "type": "string",
          "description": "The maintenance configuration Id"
        },
        "resourceId": {
          "type": "string",
          "description": "The unique resourceId"
        },
        "filter": {
          "$ref": "#/definitions/ConfigurationAssignmentFilterProperties",
          "description": "Properties of the configuration assignment"
        }
      }
    },
    "ErrorDetails": {
      "type": "object",
      "description": "An error response details received from the Azure Maintenance service.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        }
      }
    },
    "ImpactType": {
      "type": "string",
      "description": "The impact type",
      "enum": [
        "None",
        "Freeze",
        "Restart",
        "Redeploy"
      ],
      "x-ms-enum": {
        "name": "ImpactType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Pending updates has no impact on resource."
          },
          {
            "name": "Freeze",
            "value": "Freeze",
            "description": "Pending updates can freeze network or disk io operation on resource."
          },
          {
            "name": "Restart",
            "value": "Restart",
            "description": "Pending updates can cause resource to restart."
          },
          {
            "name": "Redeploy",
            "value": "Redeploy",
            "description": "Pending updates can redeploy resource."
          }
        ]
      }
    },
    "InputLinuxParameters": {
      "type": "object",
      "description": "Input properties for patching a Linux machine.",
      "properties": {
        "packageNameMasksToExclude": {
          "type": "array",
          "description": "Package names to be excluded for patching.",
          "items": {
            "type": "string"
          }
        },
        "packageNameMasksToInclude": {
          "type": "array",
          "description": "Package names to be included for patching.",
          "items": {
            "type": "string"
          }
        },
        "classificationsToInclude": {
          "type": "array",
          "description": "Classification category of patches to be patched. Allowed values are 'Critical', 'Security', and 'Other'.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InputPatchConfiguration": {
      "type": "object",
      "description": "Input configuration for a patch run",
      "properties": {
        "rebootSetting": {
          "type": "string",
          "description": "Possible reboot preference as defined by the user based on which it would be decided to reboot the machine or not after the patch operation is completed.",
          "default": "IfRequired",
          "enum": [
            "IfRequired",
            "Never",
            "Always"
          ],
          "x-ms-enum": {
            "name": "RebootOptions",
            "modelAsString": true,
            "values": [
              {
                "name": "IfRequired",
                "value": "IfRequired"
              },
              {
                "name": "Never",
                "value": "Never"
              },
              {
                "name": "Always",
                "value": "Always"
              }
            ]
          }
        },
        "windowsParameters": {
          "$ref": "#/definitions/InputWindowsParameters",
          "description": "Input parameters specific to patching a Windows machine. For Linux machines, do not pass this property."
        },
        "linuxParameters": {
          "$ref": "#/definitions/InputLinuxParameters",
          "description": "Input parameters specific to patching Linux machine. For Windows machines, do not pass this property."
        }
      }
    },
    "InputWindowsParameters": {
      "type": "object",
      "description": "Input properties for patching a Windows machine.",
      "properties": {
        "kbNumbersToExclude": {
          "type": "array",
          "description": "Windows KBID to be excluded for patching.",
          "items": {
            "type": "string"
          }
        },
        "kbNumbersToInclude": {
          "type": "array",
          "description": "Windows KBID to be included for patching.",
          "items": {
            "type": "string"
          }
        },
        "classificationsToInclude": {
          "type": "array",
          "description": "Classification category of patches to be patched. Allowed values are 'Critical', 'Security', 'UpdateRollup', 'FeaturePack', 'ServicePack', 'Definition', 'Tools', and 'Updates'.",
[...]
