{
  "swagger": "2.0",
  "info": {
    "title": "ComputeDiagnosticResourceProviderClient",
    "version": "2024-06-01-preview",
    "description": "The Compute Diagnostic Resource Provider Client"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnosticOperations/{operationId}": {
      "get": {
        "operationId": "DiagnosticOperations_Read",
        "tags": [
          "diagnosticOperations"
        ],
        "description": "Gets status of a Diagnostic operation issued for Disk Inspection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComputeDiagnosticsOperationResult"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the status of a scheduled disk inspection request.": {
            "$ref": "./examples/GetDiagnosticOperation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics": {
      "get": {
        "operationId": "Diagnostics_List",
        "tags": [
          "diagnostics"
        ],
        "description": "Lists all available Compute diagnostics for a subscription in a location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComputeDiagnosticsList"
            }
          },
          "default": {
            "description": "Error response describing why the listing call failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the status of a scheduled disk inspection request.": {
            "$ref": "./examples/ListDiagnostics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink",
          "itemName": "value"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection": {
      "get": {
        "operationId": "DiskInspection_Get",
        "tags": [
          "diagnostics_DiskInspection"
        ],
        "description": "Gets a specific Compute diagnostic for a subscription in a location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComputeDiagnosticBase"
            }
          },
          "default": {
            "description": "Error response describing why the get call failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the status of a scheduled disk inspection request.": {
            "$ref": "./examples/GetDiskInspection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/registerStorageConfiguration": {
      "post": {
        "operationId": "DiskInspectionStorageConfiguration_Register",
        "tags": [
          "registerStorageConfiguration"
        ],
        "description": "Register a storageAccount for a subscription used for DiskInspection",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageConfigurationInput",
            "in": "body",
            "description": "Storage Configuration object supplied in the body of the Post to cache storageAccount for a given subscription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageConfigurationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succeeded"
          },
          "default": {
            "description": "Error response describing why the register operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a request for registering a storageAccount information.": {
            "$ref": "./examples/RegisterStorageConfiguration.json"
          }
        },
        "x-ms-long-running-operation": false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/run": {
      "post": {
        "operationId": "DiskInspection_Create",
        "tags": [
          "diagnostics"
        ],
        "description": "Creates a request for executing disk Inspection.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "runDiskInspectionInput",
            "in": "body",
            "description": "RunDiskInspection object supplied in the body of the Post run disk inspection operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunDiskInspectionInput"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the diagnostic run failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a request for disk inspection.": {
            "$ref": "./examples/RunDiskInspection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/validateStorageConfiguration": {
      "post": {
        "operationId": "DiskInspectionStorageConfiguration_Validate",
        "tags": [
          "validateStorageConfiguration"
        ],
        "description": "Validate if a storageAccount configuration exists for a subscription used for DiskInspection.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StorageConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing why the get call failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Returns storageAccount value for an existing configuration entry": {
            "$ref": "./examples/ValidateStorageConfiguration.json"
          }
        },
        "x-ms-long-running-operation": false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/spotPlacementRecommender": {
      "get": {
        "operationId": "SpotPlacementRecommender_Get",
        "tags": [
          "diagnostics_SpotPlacementRecommender"
        ],
        "description": "[SOON TO BE DEPRECATED] Gets Spot Placement Recommender diagnostic metadata.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComputeDiagnosticBase"
            }
          },
          "default": {
            "description": "Error response describing why the get call failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the metadata of Spot Placement Recommender diagnostic.": {
            "$ref": "./examples/GetSpotPlacementRecommender.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/spotPlacementRecommender/generate": {
      "post": {
        "operationId": "SpotPlacementRecommender_Post",
        "tags": [
          "spotPlacementRecommender"
        ],
        "description": "[SOON TO BE DEPRECATED] Generates placement scores for Spot VM skus.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "spotPlacementRecommenderInput",
            "in": "body",
            "description": "SpotPlacementRecommender object supplied in the body of the Post spot placement recommender operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpotPlacementRecommenderInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SpotPlacementRecommenderResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Returns spot VM placement scores for given configurations.": {
            "$ref": "./examples/SpotPlacementRecommender.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot": {
      "get": {
        "operationId": "SpotPlacementScores_Get",
        "tags": [
          "placementScores_spot"
        ],
        "description": "Gets Spot Placement Scores metadata.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComputeDiagnosticBase"
            }
          },
          "default": {
            "description": "Error response describing why the get call failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the metadata of Spot Placement Scores.": {
            "$ref": "./examples/GetSpotPlacementScores.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot/generate": {
      "post": {
        "operationId": "SpotPlacementScores_Post",
        "tags": [
          "spotPlacementScores"
        ],
        "description": "Generates placement scores for Spot VM skus.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "spotPlacementScoresInput",
            "in": "body",
            "description": "SpotPlacementScores object supplied in the body of the Post spot placement scores operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpotPlacementScoresInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SpotPlacementScoresResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Returns spot VM placement scores for given configurations.": {
            "$ref": "./examples/GenerateSpotPlacementScores.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ComputeDiagnosticBase": {
      "type": "object",
      "description": "Contains metadata of a diagnostic type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiagnosticProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ComputeDiagnosticsList": {
      "type": "object",
      "description": "Lists all available Compute diagnostics for a subscription in a location.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The collection of available Compute diagnostics returned by the listing operation.",
          "items": {
            "$ref": "#/definitions/ComputeDiagnosticBase"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token."
        }
      }
    },
    "ComputeDiagnosticsOperationResult": {
      "type": "object",
      "description": "Api output result when Compute Diagnostic operation is completed.",
      "properties": {
        "message": {
          "type": "string",
          "description": "The result of the disk inspection operation."
        },
        "responseFields": {
          "type": "string",
          "description": "The response fields of the disk inspection operation."
        },
        "resultStatus": {
          "type": "string",
          "description": "Result status of the async operation.",
          "enum": [
            "Success",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "resultStatus",
            "modelAsString": true
          }
        },
        "errorDetail": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "The API error details."
        },
        "createdUTC": {
          "type": "string",
          "format": "date-time",
          "description": "The time when the disk inspection was completed."
        }
      }
    },
    "DiagnosticProperties": {
      "type": "object",
      "description": "Contains additional properties of a diagnostic",
      "properties": {
        "supportedResourceTypes": {
          "type": "array",
          "description": "Describes what are the supported resource types for a diagnostic.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ErrorDetail": {
      "type": "object",
      "description": "Error Detail message.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "User friendly error message."
        },
        "details": {
          "type": "array",
          "description": "The Api error details",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail"
          }
        },
        "innerError": {
          "$ref": "#/definitions/InnerError",
          "description": "The Api inner error"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "An error response from the Compute Diagnostic Resource Provider service.",
      "properties": {
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail"
        }
      }
    },
    "InnerError": {
      "type": "object",
      "description": "Inner error details.",
      "properties": {
        "exceptiontype": {
          "type": "string",
          "description": "The exception type."
        },
        "errordetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      }
    },
    "PlacementScore": {
      "type": "object",
      "description": "The spot placement score for sku/region/zone combination.",
      "properties": {
        "sku": {
          "type": "string",
          "description": "The resource's CRP virtual machine SKU size."
        },
        "region": {
          "type": "string",
          "description": "The region."
        },
        "availabilityZone": {
          "type": "string",
          "description": "The availability region."
        },
        "score": {
          "type": "string",
          "description": "The placement score."
        },
        "isQuotaAvailable": {
          "type": "boolean",
          "description": "Whether the desired quota is available."
        }
      }
    },
    "ResourceSize": {
      "type": "object",
      "description": "SpotPlacementRecommender API response.",
      "properties": {
        "sku": {
          "type": "string",
          "description": "The resource's CRP virtual machine SKU size."
        }
      }
    },
    "RunDiskInspectionInput": {
      "type": "object",
      "description": "Data used for requesting a Disk Inspection execution.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Qualified ID of the resource."
        },
        "manifest": {
          "type": "string",
          "description": "Name of manifest in order to trigger Disk Inspection."
        },
        "uploadSasUri": {
          "type": "string",
          "description": "SAS uri to the blob where results will be uploaded.",
          "x-ms-secret": true
        }
      },
      "required": [
        "resourceId",
        "manifest",
        "uploadSasUri"
      ]
    },
    "SpotPlacementRecommenderInput": {
      "type": "object",
      "description": "SpotPlacementRecommender API Input.",
      "properties": {
        "desiredLocations": {
          "type": "array",
          "description": "The desired regions",
          "items": {
            "type": "string"
          }
        },
        "desiredSizes": {
          "type": "array",
          "description": "The desired resource SKUs.",
          "items": {
            "$ref": "#/definitions/ResourceSize"
          }
        },
        "desiredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Desired instance count per region/zone based on the scope."
        },
        "availabilityZones": {
          "type": "boolean",
          "description": "Defines if the scope is zonal or regional."
        }
      }
    },
    "SpotPlacementRecommenderResponse": {
      "type": "object",
      "description": "SpotPlacementRecommender API response.",
      "properties": {
        "desiredLocations": {
          "type": "array",
          "description": "The desired regions",
          "items": {
            "type": "string"
          }
        },
        "desiredSizes": {
          "type": "array",
          "description": "The desired resource SKUs.",
          "items": {
            "$ref": "#/definitions/ResourceSize"
          }
        },
        "desiredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Desired instance count per region/zone based on the scope."
        },
        "availabilityZones": {
          "type": "boolean",
          "description": "Defines if the scope is zonal or regional."
        },
        "placementScores": {
          "type": "array",
          "description": "The spot placement scores.",
          "items": {
            "$ref": "#/definitions/PlacementScore"
          }
        }
      }
    },
    "SpotPlacementScoresInput": {
      "type": "object",
      "description": "SpotPlacementScores API Input.",
      "properties": {
        "desiredLocations": {
          "type": "array",
          "description": "The desired regions",
          "items": {
            "type": "string"
          }
        },
        "desiredSizes": {
          "type": "array",
          "description": "The desired resource SKUs.",
          "items": {
            "$ref": "#/definitions/ResourceSize"
          }
        },
        "desiredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Desired instance count per region/zone based on the scope."
        },
        "availabilityZones": {
          "type": "boolean",
          "description": "Defines if the scope is zonal or regional."
        }
      }
    },
    "SpotPlacementScoresResponse": {
      "type": "object",
      "description": "SpotPlacementScores API response.",
      "properties": {
        "desiredLocations": {
          "type": "array",
          "description": "The desired regions",
          "items": {
            "type": "string"
          }
        },
        "desiredSizes": {
          "type": "array",
          "description": "The desired resource SKUs.",
          "items": {
            "$ref": "#/definitions/ResourceSize"
          }
        },
        "desiredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Desired instance count per region/zone based on the scope."
        },
        "availabilityZones": {
          "type": "boolean",
          "description": "Defines if the scope is zonal or regional."
        },
        "placementScores": {
          "type": "array",
          "description": "The spot placement scores.",
          "items": {
            "$ref": "#/definitions/PlacementScore"
          }
        }
      }
    },
    "StorageConfigurationInput": {
      "type": "object",
      "description": "Data used for registering a Storage Account for a Subscription.",
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "Fully qualified storage account Id. Example: \"/subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}\""
        }
      },
      "required": [
        "storageAccountId"
      ]
    },
    "StorageConfigurationResponse": {
      "type": "object",
      "description": "Api output result when there is an existing storage configuration entry.",
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "Fully qualified storage account Id. Example: \"/subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}\""
        }
      }
    }
  }
}