{
  "swagger": "2.0",
  "info": {
    "title": "OSCPControlPlaneServiceAPI",
    "description": "REST APIs for OSCP Control Plane Service",
    "version": "2020-06-23-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
            "user_impersonation": "impersonate your user account"
        }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenLogisticsPlatform/workspaces/{workspaceName}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspace_Get",
        "x-ms-examples": {
          "Workspace Get": {
            "$ref": "./examples/Workspace_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspace_Put",
        "x-ms-examples": {
          "Workspace Put": {
            "$ref": "./examples/Workspace_Put.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "workspace",
            "in": "body",
            "description": "The workspace's content to apply.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "Returned when the operation is created.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspace_Delete",
        "x-ms-examples": {
          "Workspace Delete": {
            "$ref": "./examples/Workspace_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful."
          },
          "202": {
            "description": "Returned when the operation is accepted."
          },
          "204": {
            "description": "Returned when the operation returns no content."
          },
          "default": {
            "x-nullable": false,
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "description": "Update workspace details.",
        "operationId": "Workspace_Update",
        "x-ms-examples": {
          "Workspace Update": {
            "$ref": "./examples/Workspace_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "workspacePatchResource",
            "description": "workspace patch properties.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkspacePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenLogisticsPlatform/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspace_List",
        "x-ms-examples": {
          "Workspace List": {
            "$ref": "./examples/Workspace_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returned when the operation is successful.",
            "schema": {
                "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenLogisticsPlatform/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspace_ListAll",
        "x-ms-examples": {
          "Workspace ListAll": {
            "$ref": "./examples/Workspace_ListAll.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returned when the operation is successful.",
            "schema": {
                "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenLogisticsPlatform/checkNameAvailability": {
      "post": {
        "tags": [
          "CheckNameAvailability Namespaces"
        ],
        "operationId": "Namespaces_CheckNameAvailability",
        "x-ms-examples": {
          "Check Name Availability": {
            "$ref": "./examples/Namespaces_CheckNameAvailability.json"
          }
        },
        "description": "Check the give Namespace name availability.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "nameAvailabilityRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityRequest"
            },
            "description": "Parameters to check availability of the given Namespace name"
          }
        ],
        "responses": {
          "200": {
            "description": "Check availability returned successfully.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenLogisticsPlatform/locations/{location}/operationstatus/{operationStatusId}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspace_OperationStatus",
        "x-ms-examples": {
          "Workspace Operation Status": {
            "$ref": "./examples/Workspace_OperationStatus.json"
          }
        },
        "description": "The status of provisioning operation.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The region name which the operation will lookup into."
          },
          {
            "name": "operationStatusId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The target operation status Id."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Accepted. The operation is ongoing.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Accepted",
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ]
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "etag": {
          "description": "The etag",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "Workspace": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "properties": {
            "workspaceId": {
              "type": "string",
              "description": "The workspace's Id",
              "readOnly": true
            },
            "workspaceUrl": {
              "description": "The workspace URL which is of the format '{workspaceId-guid-without-dash}-workspaces.supplychain.azure.com'",
              "type": "string",
              "readOnly": true
            },
            "provisioningState": {
              "description": "The provisioning state of the resource.",
              "readOnly": true,
              "$ref": "#/definitions/ProvisioningState"
            }
          }
        }
      }
    },
    "TrackedResourceUpdate": {
      "description": "The resource model definition used for updating a tracked ARM resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WorkspacePatchResource": {
      "type": "object",
      "description": "Workspace patch properties",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResourceUpdate"
        }
      ]
    },
    "WorkspaceList": {
      "description": "The list of workspace resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of workspace resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of workspaces.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        }
      }
    },
    "NameAvailabilityRequest": {
      "description": "Name availability request payload which is exposed in the request of the resource provider.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the name to check.",
          "type": "string"
        },
        "type": {
          "description": "Gets or sets the type of the resource to check.",
          "type": "string"
        }
      }
    },
    "ErrorObject": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorObject",
          "description": "Properties of the Error Response."
        }
      }
    },
    "CheckNameAvailabilityParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name to check the namespace name availability"
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameter supplied to check Namespace name availability operation "
    },
    "UnavailableReason": {
      "type": "string",
      "enum": [
        "None",
        "InvalidName",
        "SubscriptionIsDisabled",
        "NameInUse",
        "NameInLockdown",
        "TooManyNamespaceInCurrentSubscription"
      ],
      "x-ms-enum": {
        "name": "UnavailableReason",
        "modelAsString": false
      },
      "description": "Specifies the reason for the unavailability of the service."
    },
    "CheckNameAvailabilityResult": {
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The detailed info regarding the reason associated with the Namespace."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Value indicating Namespace is availability, true if the Namespace is available; otherwise, false."
        },
        "reason": {
          "$ref": "#/definitions/UnavailableReason",
          "description": "The reason for unavailability of a Namespace."
        }
      },
      "description": "The Result of the CheckNameAvailability operation"
    },
    "OperationStatus": {
      "description": "The status of operation.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Id."
        },
        "fullyQualifiedResourceId": {
          "type": "string",
          "description": "The resource identifier."
        },
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "type": "string",
          "description": "The operation Id."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the operation."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation."
        },
        "percentComplete": {
          "type": "string",
          "description": "The percentage completion."
        },
        "error": {
          "type": "object",
          "description": "The error detail of the operation if any.",
          "$ref": "#/definitions/ExtendedErrorInfo"
        },
        "operations": {
          "description": "The error message details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationStatus"
          },
          "readOnly": true
        }
      }
    },
    "ExtendedErrorInfo": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The error target.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The error message details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtendedErrorInfo"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "description": "The additional error information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypedErrorInfo"
          },
          "readOnly": true
        }
      }
    },
    "TypedErrorInfo": {
      "description": "The error type and its information.",
      "properties": {
        "type": {
          "description": "The type of error info.",
          "type": "string",
          "readOnly": true
        },
        "info": {
          "description": "The details of the error type.",
          "readOnly": true
        }
      }
    }
  },
  "parameters":{
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "WorkspaceNameParameter": {
      "type": "string",
      "name": "workspaceName",
      "description": "The name of resource. This is the name of your Azure Supply Chain Service's workspace.",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
