{
  "swagger": "2.0",
  "info": {
    "version": "2021-11-10-privatepreview",
    "title": "fist",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "fistClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}": {
      "put": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_Create",
        "description": "The operation to create a firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Firmware"
            },
            "description": "Parameters when creating firmwareGroups operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a firmware.": {
            "$ref": "./examples/CreateFirmware.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_Update",
        "description": "The operation to update firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Firmware"
            },
            "description": "Parameters when creating a firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Firmware Group": {
            "$ref": "./examples/UpdateFirmware.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_Delete",
        "description": "The operation to delete a firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a firmware.": {
            "$ref": "./examples/DeleteFirmware.json"
          }
        }
      },
      "get": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_Get",
        "description": "Get firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get firmware.": {
            "$ref": "./examples/GetFirmware.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares": {
      "get": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_ListByFirmwareGroup",
        "description": "Lists all of firmwares inside firmware group.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FirmwareList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all firmware groups by subscription.": {
            "$ref": "./examples/ListFirmwaresByGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}/getUploadUrl": {
      "post": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_GetUrl",
        "description": "The operation to a url for file upload.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UrlData"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Url for upload firmware": {
            "$ref": "./examples/PostGetUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}/generateSummary": {
      "post": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_GetSummary",
        "description": "The operation to get a scan summary.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generate summary": {
            "$ref": "./examples/PostGenerateSummary.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}/generateComponentList": {
      "post": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_GenerateComponentList",
        "description": "The operation to list all components result for a firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ComponentList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Generate component list": {
            "$ref": "./examples/PostGenerateComponentList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}/generateComponentDetails": {
      "post": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_GenerateComponentDetails",
        "description": "The operation to get component details for a firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "name": "componentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The id of firmware component.",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generate components list.": {
            "$ref": "./examples/PostGenerateComponent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}/generateBinaryHardeningList": {
      "post": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_GenerateBinaryHardeningList",
        "description": "The operation to list all binary hardening result for a firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BinaryHardeningList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Generate binary hardening list": {
            "$ref": "./examples/PostGenerateBinaryHardeningList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/firmwareGroups/{firmwareGroupName}/firmwares/{firmwareId}/generateBinaryHardeningDetails": {
      "post": {
        "tags": [
          "Firmwares"
        ],
        "operationId": "Firmware_GenerateBinaryHardeningDetails",
        "description": "The operation to get binary hardening details for a firmware.",
        "parameters": [
          {
            "name": "firmwareGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of firmware group."
          },
          {
            "name": "firmwareId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of firmware."
          },
          {
            "name": "binaryId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The id of firmware binary.",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BinaryHardening"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generate details for binary hardening.": {
            "$ref": "./examples/PostGenerateBinaryHardening.json"
          }
        }
      }
    }
  },
  "definitions": {
    "FirmwareProperties": {
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "File name for a firmware that user uploaded."
        },
        "vendor": {
          "type": "string",
          "description": "Vendor names."
        },
        "model": {
          "type": "string",
          "description": "Model of a firmware that user uploaded."
        },
        "version": {
          "type": "string",
          "description": "Version of a firmware that user uploaded."
        },
        "description": {
          "type": "string",
          "description": "Description of a firmware that user uploaded."
        },
        "fileSize": {
          "description": "Firmware file size.",
          "type": "integer",
          "format": "int64",
          "x-nullable": true
        },
        "status": {
          "type": "string",
          "description": "The status of file uploading.",
          "enum": [
            "Pending",
            "Analyzing",
            "Ready",
            "Error"
          ],
          "default": "Pending",
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "type": "string",
          "enum": [
            "Accepted",
            "Succeeded",
            "Canceled",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStatus",
            "modelAsString": true
          },
          "readOnly": true
        }
      },
      "description": "Firmware properties."
    },
    "Firmware": {
      "type": "object",
      "description": "Firmware definition",
      "properties": {
        "properties": {
          "title": "Firmware properties",
          "description": "List the properties of firmwares",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FirmwareProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "FirmwareList": {
      "type": "object",
      "description": "List result for firmwares",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Firmware"
          },
          "description": "The list of firmware."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of asset."
        }
      }
    },
    "UrlData": {
      "type": "object",
      "properties": {
        "uploadUrl": {
          "description": "Url for file uploading.",
          "type": "string",
          "x-nullable": true,
          "x-ms-secret": true
        }
      },
      "description": "Url data for file uploading."
    },
    "Summary": {
      "type": "object",
      "properties": {
        "extractedSize": {
          "description": "Extracted firmware file size.",
          "type": "integer",
          "format": "int64",
          "x-nullable": true
        },
        "extractedFileCount": {
          "description": "Extracted file count.",
          "type": "integer",
          "format": "int64",
          "x-nullable": true
        },
        "componentCount": {
          "description": "Components count.",
          "type": "integer",
          "format": "int64",
          "x-nullable": true
        },
        "binaryCount": {
          "description": "Binary count",
          "type": "integer",
          "format": "int64",
          "x-nullable": true
        },
        "analysisTimeSeconds": {
          "description": "Time used for analysis",
          "type": "integer",
          "format": "int64",
          "x-nullable": true
        }
      },
      "description": "Summary result after scanning the firmware."
    },
    "Component": {
      "type": "object",
      "properties": {
        "componentId": {
          "description": "Id for the component.",
          "type": "string",
          "x-nullable": true
        },
        "componentName": {
          "description": "Name for the component.",
          "type": "string",
          "x-nullable": true
        },
        "version": {
          "description": "Version for the component.",
          "type": "string",
          "x-nullable": true
        },
        "license": {
          "description": "License for the component.",
          "type": "string",
          "x-nullable": true
        },
        "releaseDate": {
          "type": "string",
          "format": "date-time",
          "description": "Release date for the component."
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Paths of the component."
        },
        "isUpdateAvailable": {
          "description": "Flag if new update is available for the component.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "isUpdateAvailable",
            "modelAsString": true
          }
        }
      },
      "description": "Component of a firmware."
    },
    "ComponentList": {
      "type": "object",
      "description": "List result for components",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Component"
          },
          "description": "The list of component."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of asset."
        }
      }
    },
    "BinaryHardeningFeatures": {
      "type": "object",
      "properties": {
        "nx": {
          "description": "NX flag.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "nxFlag",
            "modelAsString": true
          }
        },
        "pie": {
          "description": "PIE flag.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "pieFlag",
            "modelAsString": true
          }
        },
        "relro": {
          "description": "RELRO flag.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "relroFlag",
            "modelAsString": true
          }
        },
        "canary": {
          "description": "Canary flag.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "canaryFlag",
            "modelAsString": true
          }
        },
        "stripped": {
          "description": "Stripped flag.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "strippedFlag",
            "modelAsString": true
          }
        }
      },
      "description": "Binary hardening features."
    },
    "BinaryHardening": {
      "type": "object",
      "properties": {
        "binaryHardeningId": {
          "description": "Id for the binary hardening.",
          "type": "string",
          "x-nullable": true
        },
        "features": {
          "title": "BinaryHardeningFeatures",
          "description": "Binary hardening features.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BinaryHardeningFeatures"
        },
        "architecture": {
          "description": "The architecture of the uploaded firmware.",
          "type": "string",
          "x-nullable": true
        },
        "path": {
          "description": "path for binary hardening.",
          "type": "string",
          "x-nullable": true
        },
        "class": {
          "description": "class for binary hardening.",
          "type": "string",
          "x-nullable": true
        }
      },
      "description": "Binary hardening of a firmware."
    },
    "BinaryHardeningList": {
      "type": "object",
      "description": "List result for binary hardening",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BinaryHardening"
          },
          "description": "The list of binary hardening result."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of asset."
        }
      }
    }
  },
  "parameters": {}
}
