{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ChangeSafety management service",
    "version": "2025-03-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SafeRollouts"
    },
    {
      "name": "Steps"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/safeRollouts": {
      "get": {
        "operationId": "SafeRollouts_ListBySubscription",
        "tags": [
          "SafeRollouts"
        ],
        "description": "List SafeRollout resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SafeRolloutListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/safeRollouts/{safeRolloutName}/steps": {
      "get": {
        "operationId": "Steps_ListBySubscription",
        "tags": [
          "Steps"
        ],
        "description": "List Step resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StepListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Steps_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Steps_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/safeRollouts": {
      "get": {
        "operationId": "SafeRollouts_ListByResourceGroup",
        "tags": [
          "SafeRollouts"
        ],
        "description": "List SafeRollout resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SafeRolloutListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/safeRollouts/{safeRolloutName}": {
      "get": {
        "operationId": "SafeRollouts_Get",
        "tags": [
          "SafeRollouts"
        ],
        "description": "Get a SafeRollout",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SafeRollout"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SafeRollouts_CreateOrUpdate",
        "tags": [
          "SafeRollouts"
        ],
        "description": "Create a SafeRollout",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeRollout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SafeRollout' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SafeRollout"
            }
          },
          "201": {
            "description": "Resource 'SafeRollout' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SafeRollout"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SafeRollouts_Update",
        "tags": [
          "SafeRollouts"
        ],
        "description": "Update a SafeRollout",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeRolloutUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SafeRollout"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SafeRollouts_Delete",
        "tags": [
          "SafeRollouts"
        ],
        "description": "Delete a SafeRollout",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/safeRollouts/{safeRolloutName}/cancel": {
      "post": {
        "operationId": "SafeRollouts_Cancel",
        "tags": [
          "SafeRollouts"
        ],
        "description": "Cancel the SafeRollout.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeRollout"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SafeRollouts_Cancel_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/SafeRollouts_Cancel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/safeRollouts/{safeRolloutName}/steps": {
      "get": {
        "operationId": "Steps_ListByParent",
        "tags": [
          "Steps"
        ],
        "description": "List Step resources by SafeRollout",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StepListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Steps_ListByParent_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Steps_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/safeRollouts/{safeRolloutName}/steps/{stepName}": {
      "get": {
        "operationId": "Steps_Get",
        "tags": [
          "Steps"
        ],
        "description": "Get a Step",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "safeRolloutName",
            "in": "path",
            "description": "The name of the safeRollout",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stepName",
            "in": "path",
            "description": "The name of the step",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Step"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Steps_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Steps_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      }
    },
    "ChangeStateResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "Azure resource Id of a ChangeState.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ChangeSafety/changeStates"
          }
        ]
      }
    },
    "Error": {
      "type": "object",
      "description": "The error object for the safe rollout.",
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorUpdate": {
      "type": "object",
      "description": "The error object for the safe rollout.",
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      }
    },
    "OperationStatus": {
      "type": "string",
      "description": "Indicates the current status of the operation.",
      "enum": [
        "InProgress",
        "Succeeded",
        "Canceled",
        "Canceling",
        "Paused",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "OperationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Step in progress."
          },
          {
            "name": "Completed",
            "value": "Succeeded",
            "description": "Step Succeeded."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Step was canceled."
          },
          {
            "name": "Canceling",
            "value": "Canceling",
            "description": "Step is being canceled."
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Step is paused."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Step failed."
          }
        ]
      }
    },
    "OperationType": {
      "type": "string",
      "description": "The operation type.",
      "enum": [
        "Validator",
        "StageProgression",
        "ARMTemplateDeployment"
      ],
      "x-ms-enum": {
        "name": "OperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Validator",
            "value": "Validator",
            "description": "The validator execution."
          },
          {
            "name": "StageProgression",
            "value": "StageProgression",
            "description": "The operation to create or update the stage progression."
          },
          {
            "name": "ARMTemplateDeployment",
            "value": "ARMTemplateDeployment",
            "description": "The operation to deploy the ARM template, link to the deployment is included."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current resource.",
      "enum": [
        "InProgress",
        "Deleting",
        "Deleted",
        "Succeeded",
        "Failed",
        "Canceling",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Resource in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource deletion in progress"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Resource deleted"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource completed."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource failed."
          },
          {
            "name": "Canceling",
            "value": "Canceling",
            "description": "Resource canceling."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource canceled."
          }
        ]
      },
      "readOnly": true
    },
    "SafeRollout": {
      "type": "object",
      "description": "Resource to track the rollout of changes.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SafeRolloutProperties",
          "description": "The resource-specific properties for this resource."
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the safeRollout",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed identity for the safe rollout to use.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "location",
        "identity"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SafeRolloutListResult": {
      "type": "object",
      "description": "The response of a SafeRollout list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SafeRollout items on this page",
          "items": {
            "$ref": "#/definitions/SafeRollout"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SafeRolloutProperties": {
      "type": "object",
      "description": "Details of the properties of the SafeRollout.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the safe rollout.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The internal status of the safe rollout.",
          "readOnly": true
        },
        "changeStateResourceId": {
          "$ref": "#/definitions/ChangeStateResourceId",
          "description": "Azure resource Id of the referenced change state.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "error": {
          "$ref": "#/definitions/Error",
          "description": "The error of the safe rollout.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "status",
        "changeStateResourceId"
      ]
    },
    "SafeRolloutPropertiesUpdate": {
      "type": "object",
      "description": "Details of the properties of the SafeRollout.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorUpdate",
          "description": "The error of the safe rollout.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "SafeRolloutUpdate": {
      "type": "object",
      "description": "Resource to track the rollout of changes.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SafeRolloutPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed identity for the safe rollout to use.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StageProgressionResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "Azure resource Id of a StageProgression.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ChangeSafety/changeStates/stageProgressions"
          }
        ]
      }
    },
    "Status": {
      "type": "string",
      "description": "Indicates internal status of the safe rollout or step resource.",
      "enum": [
        "Running",
        "Succeeded",
        "Canceled",
        "Canceling",
        "Paused",
        "Failed",
        "Initialized"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true,
        "values": [
          {
            "name": "Running",
            "value": "Running",
            "description": "Resource is in running."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource completed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource canceled."
          },
          {
            "name": "Canceling",
            "value": "Canceling",
            "description": "Resource canceling."
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Resource is paused."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource is failed."
          },
          {
            "name": "Initialized",
            "value": "Initialized",
            "description": "Resource is initialized."
          }
        ]
      },
      "readOnly": true
    },
    "Step": {
      "type": "object",
      "description": "Resource to track the rollout steps, with SafeRollout as parent resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StepProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StepListResult": {
      "type": "object",
      "description": "The response of a Step list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Step items on this page",
          "items": {
            "$ref": "#/definitions/Step"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StepOperation": {
      "type": "object",
      "description": "Object to track the operations of the step.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation"
        },
        "status": {
          "$ref": "#/definitions/OperationStatus",
          "description": "Operation status."
        },
        "statusMessage": {
          "type": "string",
          "description": "Operation status message."
        },
        "operationId": {
          "type": "string",
          "description": "Operation id."
        },
        "operationType": {
          "$ref": "#/definitions/OperationType",
          "description": "The operation type."
        },
        "deploymentName": {
          "type": "string",
          "description": "The deployment name."
        },
        "error": {
          "$ref": "#/definitions/Error",
          "description": "Operation error."
        }
      },
      "required": [
        "name",
        "status",
        "operationId",
        "operationType"
      ]
    },
    "StepProperties": {
      "type": "object",
      "description": "Details of the properties of the Step.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the step.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the step.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "stageProgressionResourceId": {
          "$ref": "#/definitions/StageProgressionResourceId",
          "description": "Azure resource Id of the referenced stage progression.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sequenceId": {
          "type": "string",
          "description": "Step sequence id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "operations": {
          "type": "array",
          "description": "Step operations array.",
          "items": {
            "$ref": "#/definitions/StepOperation"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "status",
        "stageProgressionResourceId",
        "sequenceId"
      ]
    }
  },
  "parameters": {}
}
