{
  "swagger": "2.0",
  "info": {
    "title": "AuthorizationManagementClient",
    "version": "2021-12-01-preview",
    "description": "Access reviews service provides the workflow for running access reviews on different kind of resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GetAccessReviewHistoryDefinition"
    },
    {
      "name": "PutAccessReviewHistoryDefinition"
    },
    {
      "name": "DeleteAccessReviewHistoryDefinition"
    },
    {
      "name": "GetAccessReviewHistoryDefinitions"
    },
    {
      "name": "PostAccessReviewHistoryDefinitionInstance"
    },
    {
      "name": "GetAccessReviewHistoryDefinitionInstances"
    },
    {
      "name": "ScopeGetAccessReviewHistoryDefinitionInstances"
    },
    {
      "name": "GetAccessReviewScheduleDefinition"
    },
    {
      "name": "PutAccessReviewScheduleDefinition"
    },
    {
      "name": "DeleteAccessReviewScheduleDefinition"
    },
    {
      "name": "GetAccessReviewScheduleDefinitions"
    },
    {
      "name": "AccessReviewScheduleDefinitionStop"
    },
    {
      "name": "GetAccessReviewScheduleDefinitionsAssignedForMyApproval"
    },
    {
      "name": "GetAccessReviewInstance"
    },
    {
      "name": "PutAccessReviewInstance"
    },
    {
      "name": "GetAccessReviewInstances"
    },
    {
      "name": "AccessReviewInstanceStop"
    },
    {
      "name": "AccessReviewInstanceResetDecisions"
    },
    {
      "name": "AccessReviewInstanceApplyDecisions"
    },
    {
      "name": "AccessReviewInstanceSendReminders"
    },
    {
      "name": "GetAccessReviewInstanceDecisions"
    },
    {
      "name": "GetAccessReviewInstanceContactedReviewers"
    },
    {
      "name": "AccessReviewInstanceRecordAllDecisions"
    },
    {
      "name": "AccessReviewInstanceAcceptRecommmendations"
    },
    {
      "name": "GetAccessReviewInstancesAssignedForMyApproval"
    },
    {
      "name": "TenantLevelGetAccessReviewInstanceContactedReviewers"
    },
    {
      "name": "GetAccessReviewDefaultSettings"
    },
    {
      "name": "PutAccessReviewDefaultSettings"
    },
    {
      "name": "GetAccessReviewMyInstanceDecision"
    },
    {
      "name": "PatchAccessReviewMyInstanceDecision"
    },
    {
      "name": "GetAccessReviewMyInstanceDecisions"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions": {
      "get": {
        "operationId": "ScopeAccessReviewHistoryDefinitions_List",
        "tags": [
          "GetAccessReviewHistoryDefinitions"
        ],
        "description": "Lists the accessReviewHistoryDefinitions available from this provider, definition instances are only available for 30 days after creation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Only standard filters on definition name and created date are supported",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviewHistoryDefinitions": {
            "$ref": "./examples/GetAccessReviewHistoryDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}": {
      "get": {
        "operationId": "ScopeAccessReviewHistoryDefinitions_GetById",
        "tags": [
          "GetAccessReviewHistoryDefinition"
        ],
        "description": "Get access review history definition by definition Id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviewHistoryDefinition": {
            "$ref": "./examples/GetAccessReviewHistoryDefinition.json"
          }
        }
      },
      "put": {
        "operationId": "ScopeAccessReviewHistoryDefinition_Create",
        "tags": [
          "PutAccessReviewHistoryDefinition"
        ],
        "description": "Create a scheduled or one-time Access Review History Definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review history definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinitionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewHistoryDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "PutAccessReviewHistoryDefinition": {
            "$ref": "./examples/PutAccessReviewHistoryDefinition.json"
          }
        }
      },
      "delete": {
        "operationId": "ScopeAccessReviewHistoryDefinition_DeleteById",
        "tags": [
          "DeleteAccessReviewHistoryDefinition"
        ],
        "description": "Delete an access review history definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "DeleteAccessReview": {
            "$ref": "./examples/DeleteAccessReviewHistoryDefinition.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}/instances": {
      "get": {
        "operationId": "ScopeAccessReviewHistoryDefinitionInstances_List",
        "tags": [
          "ScopeGetAccessReviewHistoryDefinitionInstances"
        ],
        "description": "Get access review history definition instances by definition Id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinitionInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviewHistoryDefinitionInstances": {
            "$ref": "./examples/GetAccessReviewHistoryDefinitionInstances.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}/instances/{instanceId}/generateDownloadUri": {
      "post": {
        "operationId": "ScopeAccessReviewHistoryDefinitionInstance_GenerateDownloadUri",
        "tags": [
          "PostAccessReviewHistoryDefinitionInstance"
        ],
        "description": "Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be retrieved by fetching the accessReviewHistoryDefinition object.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The id of the access review history definition instance to generate a URI for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "PostAccessReviewHistoryDefinitionInstance": {
            "$ref": "./examples/PostAccessReviewHistoryDefinitionInstance.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions": {
      "get": {
        "operationId": "ScopeAccessReviewScheduleDefinitions_List",
        "tags": [
          "GetAccessReviewScheduleDefinitions"
        ],
        "description": "Get access review schedule definitions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewScheduleDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}": {
      "get": {
        "operationId": "ScopeAccessReviewScheduleDefinitions_GetById",
        "tags": [
          "GetAccessReviewScheduleDefinition"
        ],
        "description": "Get single access review definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/GetAccessReviewScheduleDefinition.json"
          }
        }
      },
      "put": {
        "operationId": "ScopeAccessReviewScheduleDefinitions_CreateOrUpdateById",
        "tags": [
          "PutAccessReviewScheduleDefinition"
        ],
        "description": "Create or Update access review schedule definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review schedule definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinitionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewScheduleDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "PutAccessReview": {
            "$ref": "./examples/PutAccessReviewScheduleDefinition.json"
          }
        }
      },
      "delete": {
        "operationId": "ScopeAccessReviewScheduleDefinitions_DeleteById",
        "tags": [
          "DeleteAccessReviewScheduleDefinition"
        ],
        "description": "Delete access review schedule definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "DeleteAccessReview": {
            "$ref": "./examples/DeleteAccessReviewScheduleDefinition.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances": {
      "get": {
        "operationId": "ScopeAccessReviewInstances_List",
        "tags": [
          "GetAccessReviewInstances"
        ],
        "description": "Get access review instances",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstances.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}": {
      "get": {
        "operationId": "ScopeAccessReviewInstances_GetById",
        "tags": [
          "GetAccessReviewInstance"
        ],
        "description": "Get access review instances",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstance.json"
          }
        }
      },
      "put": {
        "operationId": "ScopeAccessReviewInstances_Create",
        "tags": [
          "PutAccessReviewInstance"
        ],
        "description": "Update access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review instance properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewInstanceProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/PutAccessReviewInstance.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/applyDecisions": {
      "post": {
        "operationId": "ScopeAccessReviewInstance_ApplyDecisions",
        "tags": [
          "AccessReviewInstanceApplyDecisions"
        ],
        "description": "An action to apply all decisions for an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/AccessReviewInstanceApplyDecisions.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/contactedReviewers": {
      "get": {
        "operationId": "ScopeAccessReviewInstanceContactedReviewers_List",
        "tags": [
          "GetAccessReviewInstanceContactedReviewers"
        ],
        "description": "Get access review instance contacted reviewers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewContactedReviewerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstanceContactedReviewers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/decisions": {
      "get": {
        "operationId": "ScopeAccessReviewInstanceDecisions_List",
        "tags": [
          "GetAccessReviewInstanceDecisions"
        ],
        "description": "Get access review instance decisions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDecisionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstanceDecisions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/recordAllDecisions": {
      "post": {
        "operationId": "ScopeAccessReviewInstance_RecordAllDecisions",
        "tags": [
          "AccessReviewInstanceRecordAllDecisions"
        ],
        "description": "An action to approve/deny all decisions for a review with certain filters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Record all decisions payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecordAllDecisionsProperties"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "AccessReviewInstanceRecordAllDecisions": {
            "$ref": "./examples/AccessReviewInstanceRecordAllDecisions.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/resetDecisions": {
      "post": {
        "operationId": "ScopeAccessReviewInstance_ResetDecisions",
        "tags": [
          "AccessReviewInstanceResetDecisions"
        ],
        "description": "An action to reset all decisions for an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/AccessReviewInstanceResetDecisions.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/sendReminders": {
      "post": {
        "operationId": "ScopeAccessReviewInstance_SendReminders",
        "tags": [
          "AccessReviewInstanceSendReminders"
        ],
        "description": "An action to send reminders for an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/AccessReviewInstanceSendReminders.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/stop": {
      "post": {
        "operationId": "ScopeAccessReviewInstance_Stop",
        "tags": [
          "AccessReviewInstanceStop"
        ],
        "description": "An action to stop an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/StopAccessReviewInstance.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/stop": {
      "post": {
        "operationId": "ScopeAccessReviewScheduleDefinitions_Stop",
        "tags": [
          "AccessReviewScheduleDefinitionStop"
        ],
        "description": "Stop access review definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/StopAccessReviewScheduleDefinition.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleSettings/default": {
      "get": {
        "operationId": "ScopeAccessReviewDefaultSettings_Get",
        "tags": [
          "GetAccessReviewDefaultSettings"
        ],
        "description": "Get access review default settings for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDefaultSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviewDefaultSettings": {
            "$ref": "./examples/GetAccessReviewDefaultSettings.json"
          }
        }
      },
      "put": {
        "operationId": "ScopeAccessReviewDefaultSettings_Put",
        "tags": [
          "PutAccessReviewDefaultSettings"
        ],
        "description": "Get access review default settings for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review schedule settings.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewDefaultSettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewDefaultSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviewDefaultSettings": {
            "$ref": "./examples/PutAccessReviewDefaultSettings.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions": {
      "get": {
        "operationId": "AccessReviewScheduleDefinitionsAssignedForMyApproval_List",
        "tags": [
          "GetAccessReviewScheduleDefinitionsAssignedForMyApproval"
        ],
        "description": "Get access review instances assigned for my approval.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. One custom filter option is supported : 'assignedToMeToReview()'. When specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewScheduleDefinitionsAssignedForMyApproval.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances": {
      "get": {
        "operationId": "AccessReviewInstancesAssignedForMyApproval_List",
        "tags": [
          "GetAccessReviewInstancesAssignedForMyApproval"
        ],
        "description": "Get access review instances assigned for my approval.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstancesAssignedForMyApproval.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}": {
      "get": {
        "operationId": "AccessReviewInstancesAssignedForMyApproval_GetById",
        "tags": [
          "GetAccessReviewInstance"
        ],
        "description": "Get single access review instance assigned for my approval.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstanceAssignedForMyApproval.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/acceptRecommendations": {
      "post": {
        "operationId": "AccessReviewInstance_AcceptRecommendations",
        "tags": [
          "AccessReviewInstanceAcceptRecommmendations"
        ],
        "description": "An action to accept recommendations for decision in an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReview": {
            "$ref": "./examples/AccessReviewInstanceAcceptRecommendations.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/contactedReviewers": {
      "get": {
        "operationId": "TenantLevelAccessReviewInstanceContactedReviewers_List",
        "tags": [
          "TenantLevelGetAccessReviewInstanceContactedReviewers"
        ],
        "description": "Get access review instance contacted reviewers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewContactedReviewerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/TenantLevelGetAccessReviewInstanceContactedReviewers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/decisions": {
      "get": {
        "operationId": "AccessReviewInstanceMyDecisions_List",
        "tags": [
          "GetAccessReviewMyInstanceDecisions"
        ],
        "description": "Get my access review instance decisions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDecisionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstanceMyDecisions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/decisions/{decisionId}": {
      "get": {
        "operationId": "AccessReviewInstanceMyDecisions_GetById",
        "tags": [
          "GetAccessReviewMyInstanceDecision"
        ],
        "description": "Get my single access review instance decision.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "decisionId",
            "in": "path",
            "description": "The id of the decision record.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDecision"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/GetAccessReviewInstanceMyDecisionById.json"
          }
        }
      },
      "patch": {
        "operationId": "AccessReviewInstanceMyDecisions_Patch",
        "tags": [
          "PatchAccessReviewMyInstanceDecision"
        ],
        "description": "Record a decision.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "decisionId",
            "in": "path",
            "description": "The id of the decision record.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review decision properties to patch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewDecisionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDecision"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetAccessReviews": {
            "$ref": "./examples/PatchAccessReviewInstanceMyDecisionById.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists the operations available from this provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions": {
      "get": {
        "operationId": "AccessReviewHistoryDefinitions_List",
        "tags": [
          "GetAccessReviewHistoryDefinitions"
        ],
        "description": "Lists the accessReviewHistoryDefinitions available from this provider, definition instances are only available for 30 days after creation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Only standard filters on definition name and created date are supported",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}": {
      "get": {
        "operationId": "AccessReviewHistoryDefinitions_GetById",
        "tags": [
          "GetAccessReviewHistoryDefinition"
        ],
        "description": "Get access review history definition by definition Id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      },
      "put": {
        "operationId": "AccessReviewHistoryDefinition_Create",
        "tags": [
          "PutAccessReviewHistoryDefinition"
        ],
        "description": "Create a scheduled or one-time Access Review History Definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review history definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinitionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewHistoryDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      },
      "delete": {
        "operationId": "AccessReviewHistoryDefinition_DeleteById",
        "tags": [
          "DeleteAccessReviewHistoryDefinition"
        ],
        "description": "Delete an access review history definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}/instances": {
      "get": {
        "operationId": "AccessReviewHistoryDefinitionInstances_List",
        "tags": [
          "GetAccessReviewHistoryDefinitionInstances"
        ],
        "description": "Get access review history definition instances by definition Id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryDefinitionInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}/instances/{instanceId}/generateDownloadUri": {
      "post": {
        "operationId": "AccessReviewHistoryDefinitionInstance_GenerateDownloadUri",
        "tags": [
          "PostAccessReviewHistoryDefinitionInstance"
        ],
        "description": "Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be retrieved by fetching the accessReviewHistoryDefinition object.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "historyDefinitionId",
            "in": "path",
            "description": "The id of the access review history definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The id of the access review history definition instance to generate a URI for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewHistoryInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions": {
      "get": {
        "operationId": "AccessReviewScheduleDefinitions_List",
        "tags": [
          "GetAccessReviewScheduleDefinitions"
        ],
        "description": "Get access review schedule definitions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}": {
      "get": {
        "operationId": "AccessReviewScheduleDefinitions_GetById",
        "tags": [
          "GetAccessReviewScheduleDefinition"
        ],
        "description": "Get single access review definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      },
      "put": {
        "operationId": "AccessReviewScheduleDefinitions_CreateOrUpdateById",
        "tags": [
          "PutAccessReviewScheduleDefinition"
        ],
        "description": "Create or Update access review schedule definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review schedule definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinitionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewScheduleDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      },
      "delete": {
        "operationId": "AccessReviewScheduleDefinitions_DeleteById",
        "tags": [
          "DeleteAccessReviewScheduleDefinition"
        ],
        "description": "Delete access review schedule definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances": {
      "get": {
        "operationId": "AccessReviewInstances_List",
        "tags": [
          "GetAccessReviewInstances"
        ],
        "description": "Get access review instances",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}": {
      "get": {
        "operationId": "AccessReviewInstances_GetById",
        "tags": [
          "GetAccessReviewInstance"
        ],
        "description": "Get access review instances",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      },
      "put": {
        "operationId": "AccessReviewInstances_Create",
        "tags": [
          "PutAccessReviewInstance"
        ],
        "description": "Update access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review instance properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewInstanceProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/applyDecisions": {
      "post": {
        "operationId": "AccessReviewInstance_ApplyDecisions",
        "tags": [
          "AccessReviewInstanceApplyDecisions"
        ],
        "description": "An action to apply all decisions for an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/contactedReviewers": {
      "get": {
        "operationId": "AccessReviewInstanceContactedReviewers_List",
        "tags": [
          "GetAccessReviewInstanceContactedReviewers"
        ],
        "description": "Get access review instance contacted reviewers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewContactedReviewerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/decisions": {
      "get": {
        "operationId": "AccessReviewInstanceDecisions_List",
        "tags": [
          "GetAccessReviewInstanceDecisions"
        ],
        "description": "Get access review instance decisions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Other than standard filters, one custom filter option is supported : 'assignedToMeToReview()'. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDecisionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/resetDecisions": {
      "post": {
        "operationId": "AccessReviewInstance_ResetDecisions",
        "tags": [
          "AccessReviewInstanceResetDecisions"
        ],
        "description": "An action to reset all decisions for an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/sendReminders": {
      "post": {
        "operationId": "AccessReviewInstance_SendReminders",
        "tags": [
          "AccessReviewInstanceSendReminders"
        ],
        "description": "An action to send reminders for an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/stop": {
      "post": {
        "operationId": "AccessReviewInstance_Stop",
        "tags": [
          "AccessReviewInstanceStop"
        ],
        "description": "An action to stop an access review instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the access review instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/stop": {
      "post": {
        "operationId": "AccessReviewScheduleDefinitions_Stop",
        "tags": [
          "AccessReviewScheduleDefinitionStop"
        ],
        "description": "Stop access review definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "scheduleDefinitionId",
            "in": "path",
            "description": "The id of the access review schedule definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleSettings/default": {
      "get": {
        "operationId": "AccessReviewDefaultSettings_Get",
        "tags": [
          "GetAccessReviewDefaultSettings"
        ],
        "description": "Get access review default settings for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessReviewDefaultSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      },
      "put": {
        "operationId": "AccessReviewDefaultSettings_Put",
        "tags": [
          "PutAccessReviewDefaultSettings"
        ],
        "description": "Get access review default settings for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access review schedule settings.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessReviewScheduleSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessReviewDefaultSettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessReviewDefaultSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccessRecommendationType": {
      "type": "string",
      "description": "The feature- generated recommendation shown to the reviewer.",
      "enum": [
        "Approve",
        "Deny",
        "NoInfoAvailable"
      ],
      "x-ms-enum": {
        "name": "AccessRecommendationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Approve",
            "value": "Approve",
            "description": "Approve"
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "Deny"
          },
          {
            "name": "NoInfoAvailable",
            "value": "NoInfoAvailable",
            "description": "NoInfoAvailable"
          }
        ]
      }
    },
    "AccessReviewActorIdentity": {
      "type": "object",
      "description": "Details of the actor identity",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The identity id",
          "readOnly": true
        },
        "principalType": {
          "$ref": "#/definitions/AccessReviewActorIdentityType",
          "description": "The identity type : user/servicePrincipal",
          "readOnly": true
        },
        "principalName": {
          "type": "string",
          "description": "The identity display name",
          "readOnly": true
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The user principal name(if valid)",
          "readOnly": true
        }
      }
    },
    "AccessReviewActorIdentityType": {
      "type": "string",
      "description": "The identity type : user/servicePrincipal",
      "enum": [
        "user",
        "servicePrincipal"
      ],
      "x-ms-enum": {
        "name": "AccessReviewActorIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "user",
            "value": "user",
            "description": "user"
          },
          {
            "name": "servicePrincipal",
            "value": "servicePrincipal",
            "description": "servicePrincipal"
          }
        ]
      }
    },
    "AccessReviewApplyResult": {
      "type": "string",
      "description": "The outcome of applying the decision.",
      "enum": [
        "New",
        "Applying",
        "AppliedSuccessfully",
        "AppliedWithUnknownFailure",
        "AppliedSuccessfullyButObjectNotFound",
        "ApplyNotSupported"
      ],
      "x-ms-enum": {
        "name": "AccessReviewApplyResult",
        "modelAsString": true,
        "values": [
          {
            "name": "New",
            "value": "New",
            "description": "New"
          },
          {
            "name": "Applying",
            "value": "Applying",
            "description": "Applying"
          },
          {
            "name": "AppliedSuccessfully",
            "value": "AppliedSuccessfully",
            "description": "AppliedSuccessfully"
          },
          {
            "name": "AppliedWithUnknownFailure",
            "value": "AppliedWithUnknownFailure",
            "description": "AppliedWithUnknownFailure"
          },
          {
            "name": "AppliedSuccessfullyButObjectNotFound",
            "value": "AppliedSuccessfullyButObjectNotFound",
            "description": "AppliedSuccessfullyButObjectNotFound"
          },
          {
            "name": "ApplyNotSupported",
            "value": "ApplyNotSupported",
            "description": "ApplyNotSupported"
          }
        ]
      }
    },
    "AccessReviewContactedReviewer": {
      "type": "object",
      "description": "Access Review Contacted Reviewer.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The access review reviewer id.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The access review reviewer id.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AccessReviewContactedReviewerProperties",
          "description": "Access Review Contacted Reviewer properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AccessReviewContactedReviewerListResult": {
      "type": "object",
      "description": "The response of a AccessReviewContactedReviewer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AccessReviewContactedReviewer items on this page",
          "items": {
            "$ref": "#/definitions/AccessReviewContactedReviewer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AccessReviewContactedReviewerProperties": {
      "type": "object",
      "description": "Properties of access review contacted reviewer.",
      "properties": {
        "userDisplayName": {
          "type": "string",
          "description": "The display name of the reviewer",
          "readOnly": true
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The user principal name of the reviewer",
          "readOnly": true
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time when the reviewer was contacted.",
          "x-nullable": true,
          "readOnly": true
        }
      }
    },
    "AccessReviewDecision": {
      "type": "object",
      "description": "Access Review.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccessReviewDecisionProperties",
          "description": "Access Review Decision properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AccessReviewDecisionIdentity": {
      "type": "object",
      "description": "Target of the decision.",
      "properties": {
        "type": {
          "$ref": "#/definitions/DecisionTargetType",
          "description": "The type of decision target : User/ServicePrincipal"
        },
        "id": {
          "type": "string",
          "description": "The id of principal whose access was reviewed.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user whose access was reviewed.",
          "readOnly": true
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "AccessReviewDecisionInsight": {
      "type": "object",
      "description": "Access Review Decision Insight.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The access review insight id.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The access review insight name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AccessReviewDecisionInsightProperties",
          "description": "Access Review Decision Insight properties."
        }
      }
    },
    "AccessReviewDecisionInsightProperties": {
      "type": "object",
      "description": "Details of the Insight.",
      "properties": {
        "type": {
          "$ref": "#/definitions/AccessReviewDecisionInsightType",
          "description": "The type of insight"
        },
        "insightCreatedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time when the insight was created.",
          "x-nullable": true,
          "readOnly": true
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "AccessReviewDecisionInsightType": {
      "type": "string",
      "description": "The type of insight",
      "enum": [
        "userSignInInsight"
      ],
      "x-ms-enum": {
        "name": "AccessReviewDecisionInsightType",
        "modelAsString": true,
        "values": [
          {
            "name": "userSignInInsight",
            "value": "userSignInInsight",
            "description": "userSignInInsight"
          }
        ]
      }
    },
    "AccessReviewDecisionListResult": {
      "type": "object",
      "description": "The response of a AccessReviewDecision list operation.",
[...]
