{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PortalServices",
    "version": "2024-04-01-preview",
    "description": "Azure Portal Services API Reference",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Dashboards"
    }
  ],
  "paths": {
    "/providers/Microsoft.PortalServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the Microsoft.PortalServices provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "operationId": "Dashboards_ListBySubscription",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets all the dashboards within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all custom resource providers on the subscription": {
            "$ref": "./examples/Dashboards_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "operationId": "Dashboards_ListByResourceGroup",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets all the Dashboards within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all custom resource providers on the resourceGroup": {
            "$ref": "./examples/Dashboards_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards/{dashboardName}": {
      "get": {
        "operationId": "Dashboards_Get",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets the Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^(?!con$|prn$|aux$|nul$|com[1-9]$)(?!.*[._-]{2,})[a-zA-Z0-9]([a-zA-Z0-9-._]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a dashboard": {
            "$ref": "./examples/Dashboards_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Dashboards_CreateOrUpdate",
        "tags": [
          "Dashboards"
        ],
        "description": "Creates or updates a Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^(?!con$|prn$|aux$|nul$|com[1-9]$)(?!.*[._-]{2,})[a-zA-Z0-9]([a-zA-Z0-9-._]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Dashboard' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "201": {
            "description": "Resource 'Dashboard' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a dashboard with Arc Snapshot tile.": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_ArcSnapshotTile.json"
          },
          "Create a dashboard with Markdown tiles": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_MarkdownTile.json"
          },
          "Create a dashboard with Query tiles": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_QueryTile.json"
          },
          "Create a dashboard with Resource tiles": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_ResourceTile.json"
          },
          "Create a dashboard with navigation and policy tiles.": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_NavigationTile_PolicyTile.json"
          },
          "Create a dashboard with parameters": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_Parameter.json"
          },
          "Create an empty dashboard": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_NoTiles.json"
          },
          "Create dashboard with tiles including visible, highlight, and actions properties": {
            "$ref": "./examples/Dashboards_CreateOrUpdate_VisibleHighlightAction.json"
          }
        }
      },
      "patch": {
        "operationId": "Dashboards_Update",
        "tags": [
          "Dashboards"
        ],
        "description": "Updates an existing Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^(?!con$|prn$|aux$|nul$|com[1-9]$)(?!.*[._-]{2,})[a-zA-Z0-9]([a-zA-Z0-9-._]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchableDashboard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a dashboard with Markdown tiles": {
            "$ref": "./examples/Dashboards_Update_MarkdownTile.json"
          },
          "Update a dashboard with Query tiles": {
            "$ref": "./examples/Dashboards_Update_QueryTile.json"
          },
          "Update a dashboard with Resource tiles": {
            "$ref": "./examples/Dashboards_Update_ResourceTile.json"
          },
          "Update a dashboard with parameters": {
            "$ref": "./examples/Dashboards_Update_Parameters.json"
          }
        }
      },
      "delete": {
        "operationId": "Dashboards_Delete",
        "tags": [
          "Dashboards"
        ],
        "description": "Deletes the Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^(?!con$|prn$|aux$|nul$|com[1-9]$)(?!.*[._-]{2,})[a-zA-Z0-9]([a-zA-Z0-9-._]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a dashboard": {
            "$ref": "./examples/Dashboards_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionOpenBlade": {
      "type": "object",
      "description": "Model for Actions on click open blade",
      "properties": {
        "blade": {
          "$ref": "#/definitions/BladeReferenceWithContextPane",
          "description": "open a blade in context pane"
        },
        "assetId": {
          "$ref": "#/definitions/AssetIdReference",
          "description": "The asset id reference."
        },
        "deepLink": {
          "type": "string",
          "description": "The deep link to the blade."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ActionsOnClick"
        }
      ],
      "x-ms-discriminator-value": "openBlade"
    },
    "ActionParameters": {
      "type": "object",
      "description": "Model for actions on click update parameters",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The array of dashboard parameter values.",
          "items": {
            "$ref": "#/definitions/DashboardParameterValues"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ActionsOnClick"
        }
      ],
      "x-ms-discriminator-value": "updateParameters"
    },
    "ActionReference": {
      "type": "object",
      "description": "Model for Action reference.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ActionReferenceType",
          "description": "Discriminator property for ActionReference."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ActionReferenceBlade": {
      "type": "object",
      "description": "Model for action reference to a blade.",
      "properties": {
        "blade": {
          "$ref": "#/definitions/BladeReferenceWithContextPane",
          "description": "open a blade in context pane"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the link"
        }
      },
      "required": [
        "blade",
        "displayName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ActionReference"
        }
      ],
      "x-ms-discriminator-value": "blade"
    },
    "ActionReferenceType": {
      "type": "string",
      "description": "The types of dashboard tile action references.",
      "enum": [
        "blade",
        "uri"
      ],
      "x-ms-enum": {
        "name": "ActionReferenceType",
        "modelAsString": true,
        "values": [
          {
            "name": "blade",
            "value": "blade",
            "description": "The action reference type for blade."
          },
          {
            "name": "uri",
            "value": "uri",
            "description": "The action reference type for url."
          }
        ]
      }
    },
    "ActionReferenceUrl": {
      "type": "object",
      "description": "Model for action reference to a uri.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI that will be opened"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the link"
        }
      },
      "required": [
        "uri",
        "displayName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ActionReference"
        }
      ],
      "x-ms-discriminator-value": "uri"
    },
    "Actions": {
      "type": "object",
      "description": "Actions available on the tile.",
      "properties": {
        "onClick": {
          "$ref": "#/definitions/ActionsOnClick",
          "description": "Actions available on the tile on click."
        },
        "footer": {
          "type": "array",
          "description": "Actions available on the tile on footer.",
          "items": {
            "$ref": "#/definitions/ActionReference"
          },
          "x-ms-identifiers": []
        },
        "contextMenu": {
          "type": "array",
          "description": "Actions available on the tile on context menu.",
          "items": {
            "$ref": "#/definitions/ActionReference"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ActionsOnClick": {
      "type": "object",
      "description": "Model for Actions on click.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ActionsOnClickType",
          "description": "Discriminator property for ActionsOnClick."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ActionsOnClickType": {
      "type": "string",
      "description": "The types of dashboard tile on click actions.",
      "enum": [
        "openBlade",
        "updateParameters"
      ],
      "x-ms-enum": {
        "name": "ActionsOnClickType",
        "modelAsString": true,
        "values": [
          {
            "name": "openBlade",
            "value": "openBlade",
            "description": "The on click action type for openBlade."
          },
          {
            "name": "updateParameters",
            "value": "updateParameters",
            "description": "The on click action type for updateParameters."
          }
        ]
      }
    },
    "AggregationType": {
      "type": "string",
      "description": "The types of Dashboard Query tile aggregation types.",
      "enum": [
        "avg",
        "count",
        "max",
        "min",
        "percentile",
        "sum",
        "unique"
      ],
      "x-ms-enum": {
        "name": "AggregationType",
        "modelAsString": true,
        "values": [
          {
            "name": "avg",
            "value": "avg",
            "description": "The aggregation type for avg."
          },
          {
            "name": "count",
            "value": "count",
            "description": "The aggregation type for count."
          },
          {
            "name": "max",
            "value": "max",
            "description": "The aggregation type for max."
          },
          {
            "name": "min",
            "value": "min",
            "description": "The aggregation type for min."
          },
          {
            "name": "percentile",
            "value": "percentile",
            "description": "The aggregation type for percentile."
          },
          {
            "name": "sum",
            "value": "sum",
            "description": "The aggregation type for sum."
          },
          {
            "name": "unique",
            "value": "unique",
            "description": "The aggregation type for total."
          }
        ]
      }
    },
    "AppInsightsDataDefinition": {
      "type": "object",
      "description": "The data definition of App Insights Query Tile.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Array of metrics object for an app insights query tile data.",
          "items": {
            "$ref": "#/definitions/QueryTileMetricsItem"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "metrics"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "app-insights"
    },
    "ArcSnapshotTile": {
      "type": "object",
      "description": "Display information of your Arc enabled resources with the arc snapshot tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/ArcSnapshotTileData",
          "description": "The definition of data for the arc snapshot tile."
        },
        "visualization": {
          "$ref": "#/definitions/QueryTileVisualization",
          "description": "Query tile visualizations."
        }
      },
      "required": [
        "data",
        "visualization"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "ArcSnapshotTile"
    },
    "ArcSnapshotTileData": {
      "type": "object",
      "description": "Data definition for a arc snapshot tile.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/ArcSnapshotTileDataKind",
          "description": "The ARG data source of the query tile. Enum permitting the value: \"arg\""
        },
        "query": {
          "type": "string",
          "description": "A valid ARG query used to fetch the data."
        },
        "columns": {
          "$ref": "#/definitions/ArcSnapshotTileDataColumn",
          "description": "The column names to get from the query result."
        },
        "allResourcesConfiguredText": {
          "type": "string",
          "description": "The text to be shown when all the resources are configured with the service."
        },
        "usedParameters": {
          "type": "array",
          "description": "Parameter names that are applied to the tile. It can be used within the query.",
          "items": {
            "type": "string"
          }
        },
        "noResources": {
          "$ref": "#/definitions/ArcSnapshotTileDataNoResources",
          "description": "Used when the resource count returned from the count is zero."
        },
        "actions": {
          "$ref": "#/definitions/ArcSnapshotTileDataActions",
          "description": "Actions that can be taken on the arc snapshot tile."
        }
      },
      "required": [
        "kind",
        "query",
        "columns"
      ]
    },
    "ArcSnapshotTileDataActions": {
      "type": "object",
      "description": "Actions that can be taken on the arc snapshot tile.",
      "properties": {
        "configureService": {
          "$ref": "#/definitions/ActionReference",
          "description": "Action on configure service."
        },
        "viewConfiguredService": {
          "$ref": "#/definitions/ActionReference",
          "description": "Action on view configure resources."
        },
        "viewNotConfiguredResources": {
          "$ref": "#/definitions/ActionReference",
          "description": "Action on view not configure resources."
        }
      }
    },
    "ArcSnapshotTileDataColumn": {
      "type": "object",
      "description": "The column names to get from the query result.",
      "properties": {
        "notConfiguredResourcesCount": {
          "type": "string",
          "description": "The column name that will return the count of resources that are not configured."
        },
        "totalCount": {
          "type": "string",
          "description": "The column name that will return the total count of resources."
        }
      },
      "required": [
        "notConfiguredResourcesCount",
        "totalCount"
      ]
    },
    "ArcSnapshotTileDataKind": {
      "type": "string",
      "description": "The types of modified by.",
      "enum": [
        "arg"
      ],
      "x-ms-enum": {
        "name": "ArcSnapshotTileDataKind",
        "modelAsString": true,
        "values": [
          {
            "name": "arg",
            "value": "arg",
            "description": "The data kind arg for Arc Snapshot tile."
          }
        ]
      }
    },
    "ArcSnapshotTileDataNoResources": {
      "type": "object",
      "description": "Used when the resource count returned from the count is zero.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Text to be shown when there are no resources to be configured with the service."
        },
        "icon": {
          "$ref": "#/definitions/IconReference",
          "description": "Icon to be shown when there are no resources to be configured with."
        }
      },
      "required": [
        "text",
        "icon"
      ]
    },
    "ArgDataDefinition": {
      "type": "object",
      "description": "The data definition of ARG Query Tile.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The ARG query."
        }
      },
      "required": [
        "query"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "arg"
    },
    "AssetIdReference": {
      "type": "object",
      "description": "Model for Asset Id Reference.",
      "properties": {
        "assetId": {
          "type": "string",
          "description": "The asset id."
        },
        "extensionName": {
          "type": "string",
          "description": "The extension name"
        },
        "assetType": {
          "type": "string",
          "description": "The asset type"
        }
      },
      "required": [
        "assetId",
        "extensionName",
        "assetType"
      ]
    },
    "BladeReferenceWithContextPane": {
      "type": "object",
      "description": "open a blade in context pane",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the blade to open."
        },
        "extension": {
          "type": "string",
          "description": "The extension name of the blade to open."
        },
        "parameters": {
          "type": "object",
          "description": "The parameters to pass to the blade."
        },
        "inContextPane": {
          "type": "boolean",
          "description": "Whether the blade should be opened in the context pane."
        }
      },
      "required": [
        "name"
      ]
    },
    "Dashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DashboardPropertiesWithProvisioningState",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DashboardListResult": {
      "type": "object",
      "description": "The response of a Dashboard list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Dashboard items on this page",
          "items": {
            "$ref": "#/definitions/Dashboard"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DashboardPage": {
      "type": "object",
      "description": "A dashboard page.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard page."
        },
        "tiles": {
          "type": "array",
          "description": "The dashboard tiles.",
          "items": {
            "$ref": "#/definitions/DashboardTile"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "title",
        "tiles"
      ]
    },
    "DashboardParameter": {
      "type": "object",
      "description": "A dashboard parameter.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard filter."
        },
        "kind": {
          "$ref": "#/definitions/DashboardParameterType",
          "description": "Types of dashboard parameters."
        },
        "parameterNames": {
          "type": "array",
          "description": "The unique names to serve as placeholders for the parameter values.",
          "items": {
            "type": "string"
          }
        },
        "defaultValues": {
          "type": "array",
          "description": "The parameter value(s) that will be selected by default when the parameter is displayed.",
          "items": {
            "type": "string"
          }
        },
        "showOnPages": {
          "type": "array",
          "description": "A list of integers that represent indexes of the pages that this parameter applies to.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "title",
        "kind",
        "parameterNames",
        "defaultValues",
        "showOnPages"
      ]
    },
    "DashboardParameterType": {
      "type": "string",
      "description": "The types of dashboard tile parameters.",
      "enum": [
        "location",
        "resourceGroup",
        "resourceType",
        "subscription",
        "timeGranularity",
        "timeRange"
      ],
      "x-ms-enum": {
        "name": "DashboardParameterType",
        "modelAsString": true,
        "values": [
          {
            "name": "location",
            "value": "location",
            "description": "The parameter type for location."
          },
          {
            "name": "resourceGroup",
            "value": "resourceGroup",
            "description": "The parameter type for resourceGroup."
          },
          {
            "name": "resourceType",
            "value": "resourceType",
            "description": "The parameter type for resourceType."
          },
          {
            "name": "subscription",
            "value": "subscription",
            "description": "The parameter type for subscription."
          },
          {
            "name": "timeGranularity",
            "value": "timeGranularity",
            "description": "The parameter type for timeGranularity."
          },
          {
            "name": "timeRange",
            "value": "timeRange",
            "description": "The parameter type for timeRange."
          }
        ]
      }
    },
    "DashboardParameterValues": {
      "type": "object",
      "description": "The dashboard parameter values.",
      "properties": {
        "parameterName": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "values": {
          "type": "array",
          "description": "The parameter value(s) that will be selected by default when the parameter is displayed.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "parameterName",
        "values"
      ]
    },
    "DashboardParameterValuesList": {
      "type": "object",
      "description": "The dashboard parameter list.",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The array of dashboard parameter values.",
          "items": {
            "$ref": "#/definitions/DashboardParameterValues"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardProperties": {
      "type": "object",
      "description": "The shared dashboard properties.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard."
        },
        "pages": {
          "type": "array",
          "description": "The dashboard pages.",
          "items": {
            "$ref": "#/definitions/DashboardPage"
          },
          "x-ms-identifiers": []
        },
        "parameters": {
          "type": "array",
          "description": "The dashboard parameters.",
          "items": {
            "$ref": "#/definitions/DashboardParameter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardPropertiesWithProvisioningState": {
      "type": "object",
      "description": "Dashboard Properties with Provisioning state",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard."
        },
        "pages": {
          "type": "array",
          "description": "The dashboard pages.",
          "items": {
            "$ref": "#/definitions/DashboardPage"
          },
          "x-ms-identifiers": []
        },
        "parameters": {
          "type": "array",
          "description": "The dashboard parameters.",
          "items": {
            "$ref": "#/definitions/DashboardParameter"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/DashboardProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "title",
        "pages"
      ]
    },
    "DashboardProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the last accepted operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DashboardProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "DashboardTile": {
      "type": "object",
      "description": "A dashboard tile.",
      "properties": {
        "type": {
          "$ref": "#/definitions/DashboardTileType",
          "description": "Discriminator property for DashboardTile."
        },
        "title": {
          "type": "string",
          "description": "The title of dashboard title."
        },
        "subtitle": {
          "type": "string",
          "description": "The title of dashboard subtitle."
        },
        "layout": {
          "$ref": "#/definitions/DashboardTileLayout",
          "description": "The dashboard tile's layout."
        },
        "visible": {
          "$ref": "#/definitions/DashboardParameterValuesList",
          "description": "The dashboard parameter list."
        },
        "highlight": {
          "$ref": "#/definitions/DashboardParameterValuesList",
          "description": "The dashboard parameter list."
        },
        "actions": {
          "$ref": "#/definitions/Actions",
          "description": "Actions available on the tile."
        }
      },
      "discriminator": "type",
      "required": [
        "type",
        "title",
        "layout"
      ]
    },
    "DashboardTileLayout": {
      "type": "object",
      "description": "The dashboard tile's layout.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's x position."
        },
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's y position."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's width in grid units."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's height in grid units."
        }
      },
      "required": [
        "x",
        "y",
        "width",
        "height"
      ]
    },
    "DashboardTileType": {
      "type": "string",
      "description": "The types of dashboard tiles.",
      "enum": [
        "ArcSnapshotTile",
        "MarkdownTile",
        "NavigationTile",
        "PolicyTile",
        "QueryTile",
        "ResourceTile"
      ],
      "x-ms-enum": {
        "name": "DashboardTileType",
        "modelAsString": true,
        "values": [
          {
            "name": "ArcSnapshotTile",
            "value": "ArcSnapshotTile",
            "description": "The tile type for Arc Snapshot tile."
          },
          {
            "name": "MarkdownTile",
            "value": "MarkdownTile",
            "description": "The tile type for Markdown tile."
          },
          {
            "name": "NavigationTile",
            "value": "NavigationTile",
            "description": "The tile type for Navigation tile."
          },
          {
            "name": "PolicyTile",
            "value": "PolicyTile",
            "description": "The tile type for Policy tile."
          },
          {
            "name": "QueryTile",
            "value": "QueryTile",
            "description": "The tile type for Query tile."
          },
          {
            "name": "ResourceTile",
            "value": "ResourceTile",
            "description": "The tile type for Resource tile."
          }
        ]
      }
    },
    "IconReference": {
      "type": "object",
      "description": "Model for Icon Reference.",
      "properties": {
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "Framework icon type - enum number or zero for custom icon."
        },
        "data": {
          "type": "string",
          "description": "Icon data string that is supplied by the extension author."
        }
      },
      "required": [
        "type"
      ]
    },
    "MarkdownInlineData": {
      "type": "object",
      "description": "The data definition of Markdown with inline content",
      "properties": {
        "content": {
          "type": "string",
          "description": "Dashboard Markdown Tile content."
        }
      },
      "required": [
        "content"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MarkdownTileData"
        }
      ],
      "x-ms-discriminator-value": "inline"
    },
    "MarkdownSource": {
      "type": "string",
      "description": "The types of Dashboard Markdown tile sources.",
      "enum": [
        "inline",
        "uri"
      ],
      "x-ms-enum": {
        "name": "MarkdownSource",
        "modelAsString": true,
        "values": [
          {
            "name": "inline",
            "value": "inline",
            "description": "The source type for inline."
          },
          {
            "name": "uri",
            "value": "uri",
            "description": "The source type for uri."
          }
        ]
      }
    },
    "MarkdownTile": {
      "type": "object",
      "description": "A markdown tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/MarkdownTileData",
          "description": "The definition of data for the markdown tile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "MarkdownTile"
    },
    "MarkdownTileData": {
      "type": "object",
      "description": "Data definition for a markdown tile.",
      "properties": {
        "source": {
          "$ref": "#/definitions/MarkdownSource",
          "description": "Discriminator property for MarkdownTileData."
        }
      },
      "discriminator": "source",
      "required": [
        "source"
      ]
    },
    "MarkdownUriData": {
      "type": "object",
      "description": "The data definition of Markdown with uri content",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Dashboard Markdown Tile uri."
        }
      },
      "required": [
        "uri"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MarkdownTileData"
        }
      ],
      "x-ms-discriminator-value": "uri"
    },
    "NavigationTile": {
      "type": "object",
      "description": "Navigate with a click to assets or blades within Azure Portal with the navigation tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/NavigationTileData",
          "description": "The definition of data for the navigation tile."
        }
      },
      "required": [
        "data"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "NavigationTile"
    },
    "NavigationTileData": {
      "type": "object",
      "description": "The data that determines the content of the navigation tile.",
      "properties": {
        "icon": {
          "$ref": "#/definitions/IconReference",
          "description": "Icon to be displayed on the navigation tile."
        },
        "description": {
          "type": "string",
          "description": "The description displayed within the navigation tile."
        }
      },
      "required": [
        "icon"
      ]
    },
    "PatchableDashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DashboardProperties",
          "description": "The shared dashboard properties."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyTile": {
      "type": "object",
      "description": "Display information of your resources that are compliant with configured Azure policies with the policy tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/QueryTileData",
          "description": "The definition of data for the policy tile."
        }
      },
      "required": [
        "data"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "PolicyTile"
    },
    "PolicyTileDataDefinition": {
      "type": "object",
      "description": "The data that determines the content of the policy tile.",
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "policy"
    },
    "QueryTile": {
      "type": "object",
      "description": "A query tile.",
      "properties": {
        "visualization": {
          "$ref": "#/definitions/QueryTileVisualization",
          "description": "Query tile visualizations."
        },
        "data": {
          "$ref": "#/definitions/QueryTileData",
          "description": "The definition of data source object within the Query tile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "QueryTile"
    },
    "QueryTileData": {
      "type": "object",
      "description": "A dashboard query tile.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/QueryTileKind",
          "description": "Discriminator property for QueryTileData."
        },
        "usedParameters": {
          "type": "array",
          "description": "The dashboard parameter names used in the tiles.",
          "items": {
            "type": "string"
          }
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "QueryTileKind": {
      "type": "string",
      "description": "The types of Dashboard Query tile kinds.",
      "enum": [
        "arg",
        "app-insights",
        "policy",
        "recent-resources"
      ],
      "x-ms-enum": {
        "name": "QueryTileKind",
        "modelAsString": true,
        "values": [
          {
            "name": "arg",
            "value": "arg",
            "description": "The kind type for arg."
          },
          {
            "name": "appInsights",
            "value": "app-insights",
            "description": "The kind type for app-insights."
          },
          {
            "name": "policy",
            "value": "policy",
            "description": "The kind type for policy."
          },
          {
            "name": "recentResources",
            "value": "recent-resources",
            "description": "The kind type for recent-resources."
          }
        ]
      }
    },
    "QueryTileMetricsItem": {
      "type": "object",
      "description": "The metrics object for an app insights query tile data.",
      "properties": {
        "aggregationType": {
          "$ref": "#/definitions/AggregationType",
          "description": "The aggregation type to use for this metric item."
        },
        "name": {
          "type": "string",
          "description": "The name of the metric item."
        },
        "namespace": {
          "type": "string",
          "description": "The custom namespace to use."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/QueryTileMetricsItemResourceMetadata",
          "description": "The information that identifies the resource to which the metric belongs."
        }
      },
      "required": [
        "aggregationType",
        "name",
        "resourceMetadata"
      ]
    },
    "QueryTileMetricsItemResourceMetadata": {
      "type": "object",
      "description": "The information that identifies the resource to which the metric belongs.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id of the resource."
        }
      },
      "required": [
        "id"
      ]
    },
    "QueryTileVisualization": {
      "type": "object",
      "description": "Query tile visualizations.",
      "properties": {
        "type": {
          "$ref": "#/definitions/VisualizationType",
          "description": "Enumeration of supported visualization types."
        },
        "options": {
          "type": "object",
          "description": "Options for Query Tile visualizations."
        }
      }
    },
    "RecentResourcesDataDefinition": {
      "type": "object",
      "description": "The data definition of recent resources Query Tile.",
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "recent-resources"
    },
    "ResourceTile": {
      "type": "object",
      "description": "A resource tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/ResourceTileData",
          "description": "Data definition for a resource tile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "ResourceTile"
    },
    "ResourceTileData": {
      "type": "object",
      "description": "Data definition for a resource tile.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ARM Id of a resource."
        },
        "visibleProperties": {
          "type": "array",
          "description": "List of visible properties.",
          "items": {
            "type": "string"
          }
        },
        "allowedCommands": {
          "type": "array",
          "description": "List of allowed commands.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "VisualizationType": {
      "type": "string",
      "description": "The types of Dashboard Visualizations.",
      "enum": [
        "area",
        "bar",
        "card",
        "column",
        "donut",
        "line",
        "multistat",
        "pie",
        "snapshot",
        "scatter",
        "table",
        "timechart"
      ],
      "x-ms-enum": {
        "name": "VisualizationType",
        "modelAsString": true,
        "values": [
          {
            "name": "area",
            "value": "area",
            "description": "The visualization type for area."
          },
          {
            "name": "bar",
            "value": "bar",
            "description": "The visualization type for bar."
          },
          {
            "name": "card",
            "value": "card",
            "description": "The visualization type for card."
          },
          {
            "name": "column",
            "value": "column",
            "description": "The visualization type for column."
          },
          {
            "name": "donut",
            "value": "donut",
            "description": "The visualization type for donut."
          },
          {
            "name": "line",
            "value": "line",
            "description": "The visualization type for line."
          },
          {
            "name": "multistat",
            "value": "multistat",
            "description": "The visualization type for multistat."
          },
          {
            "name": "pie",
            "value": "pie",
            "description": "The visualization type for pie."
          },
          {
            "name": "snapshot",
            "value": "snapshot",
            "description": "The visualization type for snapshot."
          },
          {
            "name": "scatter",
            "value": "scatter",
            "description": "The visualization type for scatter."
          },
          {
            "name": "table",
            "value": "table",
            "description": "The visualization type for table."
          },
          {
            "name": "timechart",
            "value": "timechart",
            "description": "The visualization type for timechart."
          }
        ]
      }
    }
  },
  "parameters": {}
}
