{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft NetApp",
    "description": "Microsoft NetApp Azure Resource Provider specification",
    "version": "2025-09-01-preview"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/elasticRegionInfos": {
      "get": {
        "summary": "Describes region specific information.",
        "description": "Provides region specific information.",
        "tags": [
          "NetApp Elastic Resource"
        ],
        "operationId": "NetAppElasticResourceRegionInfos_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticRegionInfosList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RegionInfos_List": {
            "$ref": "examples/ElasticRegionInfos_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/elasticRegionInfos/default": {
      "get": {
        "summary": "Describes region specific information.",
        "description": "Provides region specific information.",
        "tags": [
          "NetApp Elastic Resource"
        ],
        "operationId": "NetAppElasticResourceRegionInfos_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticRegionInfoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RegionInfos_Get": {
            "$ref": "examples/ElasticRegionInfos_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/elasticAccounts": {
      "get": {
        "summary": "Describe all NetApp Elastic Accounts in a subscription",
        "description": "List and describe all NetApp elastic accounts in the subscription.",
        "tags": [
          "NetApp Elastic Accounts"
        ],
        "operationId": "ElasticAccounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticAccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticAccounts_ListBySubscription": {
            "$ref": "examples/ElasticAccounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts": {
      "get": {
        "summary": "Describe all NetApp Elastic Accounts in a resource group",
        "description": "List and describe all NetApp elastic accounts in the resource group.",
        "tags": [
          "NetApp Elastic Accounts"
        ],
        "operationId": "ElasticAccounts_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticAccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticAccounts_List": {
            "$ref": "examples/ElasticAccounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}": {
      "get": {
        "summary": "Describe a NetApp Elastic Account",
        "description": "Get the NetApp elastic account",
        "tags": [
          "NetApp Elastic Accounts"
        ],
        "operationId": "ElasticAccounts_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticAccounts_Get": {
            "$ref": "examples/ElasticAccounts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetApp Elastic Accounts"
        ],
        "operationId": "ElasticAccounts_CreateOrUpdate",
        "summary": "Create or update a NetApp Elastic Account",
        "description": "Create or update the specified NetApp elastic account within the resource group",
        "parameters": [
          {
            "name": "body",
            "description": "NetApp elastic account object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticAccount"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - account updated",
            "schema": {
              "$ref": "#/definitions/elasticAccount"
            }
          },
          "201": {
            "description": "Account created",
            "schema": {
              "$ref": "#/definitions/elasticAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticAccounts_CreateOrUpdate": {
            "$ref": "examples/ElasticAccounts_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetApp Elastic Accounts"
        ],
        "operationId": "ElasticAccounts_Delete",
        "summary": "Delete a NetApp Elastic Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "Delete the specified NetApp elastic account",
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticAccounts_Delete": {
            "$ref": "examples/ElasticAccounts_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetApp Elastic Accounts"
        ],
        "operationId": "ElasticAccounts_Update",
        "summary": "Update a NetApp Elastic Account",
        "description": "Patch the specified NetApp elastic account",
        "parameters": [
          {
            "name": "body",
            "description": "NetApp elastic Account object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticAccountPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - account updated",
            "schema": {
              "$ref": "#/definitions/elasticAccount"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticAccounts_Update": {
            "$ref": "examples/ElasticAccounts_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools": {
      "get": {
        "summary": "Describe all Elastic Capacity Pools",
        "description": "List all elastic capacity pools in the NetApp elastic account",
        "tags": [
          "Elastic Capacity Pools"
        ],
        "operationId": "ElasticPools_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticCapacityPoolList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticPools_List": {
            "$ref": "examples/ElasticPools_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}": {
      "get": {
        "summary": "Describe an elastic Capacity Pool",
        "description": "Get details of the specified elastic capacity pool",
        "tags": [
          "Elastic Capacity Pools"
        ],
        "operationId": "ElasticPools_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticCapacityPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticPools_Get": {
            "$ref": "examples/ElasticPools_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Elastic Capacity Pools"
        ],
        "operationId": "ElasticPools_CreateOrUpdate",
        "summary": "Create or Update the specified elastic capacity pool within the resource group",
        "description": "Create or Update a capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Capacity pool object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticCapacityPool"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - pool updated",
            "schema": {
              "$ref": "#/definitions/elasticCapacityPool"
            }
          },
          "201": {
            "description": "Pool created",
            "schema": {
              "$ref": "#/definitions/elasticCapacityPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticPools_CreateOrUpdate": {
            "$ref": "examples/ElasticPools_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Elastic Capacity Pools"
        ],
        "operationId": "ElasticPools_Update",
        "summary": "Update an elastic capacity pool",
        "description": "Patch the specified elastic capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Capacity pool object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticCapacityPoolPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticCapacityPool"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticPools_Update": {
            "$ref": "examples/ElasticPools_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Elastic Capacity Pools"
        ],
        "operationId": "ElasticPools_Delete",
        "summary": "Delete an elastic capacity pool",
        "description": "Delete the specified capacity pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticPools_Delete": {
            "$ref": "examples/ElasticPools_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/changeZone": {
      "post": {
        "tags": [
          "Change Zone"
        ],
        "summary": "Change zone for Zone Redundant elastic pool",
        "description": "Moves pool to another zone",
        "operationId": "ElasticPools_ChangeZone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Move pool to the zone supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticCapacityPool"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticPools_ChangeZone": {
            "$ref": "examples/ElasticPools_ChangeZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/checkVolumeFilePathAvailability": {
      "post": {
        "tags": [
          "Elastic Volume FilePath Availability"
        ],
        "summary": "Check file path availability for elastic volume within the given elastic capacityPool",
        "description": "Check if a volume file path is available within the given elastic capacityPool.",
        "operationId": "ElasticPools_CheckVolumeFilePathAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "File path availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/checkElasticVolumeFilePathAvailabilityRequest"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/checkElasticResourceAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticPools_CheckVolumeFilePathAvailability": {
            "$ref": "examples/ElasticPools_CheckVolumeFilePathAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/elasticVolumes": {
      "get": {
        "summary": "Describe all elastic volumes",
        "description": "List all elastic volumes within the elastic capacity pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Elastic Volumes"
        ],
        "operationId": "ElasticVolumes_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticVolumeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticVolumes_List": {
            "$ref": "examples/ElasticVolumes_List.json"
          },
          "ElasticVolumes_List_SMB": {
            "$ref": "examples/ElasticVolumes_List_SMB.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/elasticVolumes/{volumeName}": {
      "get": {
        "tags": [
          "Elastic Volumes"
        ],
        "operationId": "ElasticVolumes_Get",
        "summary": "Describe an elastic volume",
        "description": "Get the details of the specified volume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticVolume"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticVolumes_Get": {
            "$ref": "examples/ElasticVolumes_Get.json"
          },
          "ElasticVolumes_Get_SMB": {
            "$ref": "examples/ElasticVolumes_Get_SMB.json"
          }
        }
      },
      "put": {
        "tags": [
          "Elastic Volumes"
        ],
        "operationId": "ElasticVolumes_CreateOrUpdate",
        "summary": "Create or Update an elastic volume",
        "description": "Create or update the specified volume within the capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Volume object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticVolume"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - volume updated",
            "schema": {
              "$ref": "#/definitions/elasticVolume"
            }
          },
          "201": {
            "description": "Volume created",
            "schema": {
              "$ref": "#/definitions/elasticVolume"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticVolumes_CreateOrUpdate": {
            "$ref": "examples/ElasticVolumes_CreateOrUpdate.json"
          },
          "ElasticVolumes_CreateOrUpdate_SMB": {
            "$ref": "examples/ElasticVolumes_CreateOrUpdate_SMB.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Elastic Volumes"
        ],
        "operationId": "ElasticVolumes_Update",
        "summary": "Update an elastic volume",
        "description": "Patch the specified elastic volume",
        "parameters": [
          {
            "name": "body",
            "description": "Volume object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticVolumePatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticVolume"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticVolumes_Update": {
            "$ref": "examples/ElasticVolumes_Update.json"
          },
          "ElasticVolumes_Update_SMB": {
            "$ref": "examples/ElasticVolumes_Update_SMB.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Elastic Volumes"
        ],
        "operationId": "ElasticVolumes_Delete",
        "summary": "Delete an elastic volume",
        "description": "Delete the specified volume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticVolumes_Delete": {
            "$ref": "examples/ElasticVolumes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/elasticVolumes/{volumeName}/revert": {
      "post": {
        "tags": [
          "Elastic Volumes Revert"
        ],
        "summary": "Revert an elastic volume to one of its snapshots",
        "description": "Revert a volume to the snapshot specified in the body",
        "operationId": "ElasticVolumes_Revert",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Object for snapshot to revert supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticVolumeRevert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state",
            "schema": {
              "$ref": "#/definitions/elasticVolume"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticVolumes_Revert": {
            "$ref": "examples/ElasticVolumes_Revert.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/elasticVolumes/{volumeName}/elasticSnapshots": {
      "get": {
        "tags": [
          "Elastic Snapshots"
        ],
        "operationId": "ElasticSnapshots_List",
        "summary": "Describe all elastic snapshots",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "List all snapshots associated with the volume",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticSnapshots_List": {
            "$ref": "examples/ElasticSnapshots_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticCapacityPools/{poolName}/elasticVolumes/{volumeName}/elasticSnapshots/{snapshotName}": {
      "get": {
        "tags": [
          "Elastic Snapshots"
        ],
        "operationId": "ElasticSnapshots_Get",
        "summary": "Describe an elastic snapshot",
        "description": "Get details of the specified snapshot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticSnapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticSnapshots_Get": {
            "$ref": "examples/ElasticSnapshots_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Elastic Snapshots"
        ],
        "operationId": "ElasticSnapshots_Create",
        "summary": "Create an elastic snapshot",
        "description": "Create the specified elastic snapshot within the given volume",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticSnapshot"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - Snapshot updated",
            "schema": {
              "$ref": "#/definitions/elasticSnapshot"
            }
          },
          "201": {
            "description": "Snapshot created",
            "schema": {
              "$ref": "#/definitions/elasticSnapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticSnapshots_Create": {
            "$ref": "examples/ElasticSnapshots_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Elastic Snapshots"
        ],
        "operationId": "ElasticSnapshots_Delete",
        "summary": "Delete an elastic snapshot",
        "description": "Delete elastic snapshot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticSnapshots_Delete": {
            "$ref": "examples/ElasticSnapshots_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticSnapshotPolicies": {
      "get": {
        "operationId": "ElasticSnapshotPolicies_List",
        "description": "List elastic snapshot policy",
        "tags": [
          "Elastic Snapshot Policy"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticSnapshotPolicies_List": {
            "$ref": "examples/ElasticSnapshotPolicies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticSnapshotPolicies/{snapshotPolicyName}": {
      "get": {
        "operationId": "ElasticSnapshotPolicies_Get",
        "description": "Get an elastic snapshot Policy",
        "tags": [
          "Elastic Snapshot Policy"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticSnapshotPolicies_Get": {
            "$ref": "examples/ElasticSnapshotPolicies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ElasticSnapshotPolicies_Create",
        "description": "Create an elastic snapshot policy",
        "tags": [
          "Elastic Snapshot Policy"
        ],
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicy"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - snapshot Policy updated",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicy"
            }
          },
          "201": {
            "description": "Snapshot Policy created",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "ElasticSnapshotPolicies_Create": {
            "$ref": "examples/ElasticSnapshotPolicies_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Elastic Snapshot Policy"
        ],
        "operationId": "ElasticSnapshotPolicies_Update",
        "description": "Patch an elastic snapshot policy",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicyPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicy"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticSnapshotPolicies_Update": {
            "$ref": "examples/ElasticSnapshotPolicies_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ElasticSnapshotPolicies_Delete",
        "description": "Delete elastic snapshot policy",
        "tags": [
          "Elastic Snapshot Policy"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticSnapshotPolicies_Delete": {
            "$ref": "examples/ElasticSnapshotPolicies_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticSnapshotPolicies/{snapshotPolicyName}/elasticVolumes": {
      "get": {
        "tags": [
          "Elastic Snapshot Policy List Volumes"
        ],
        "summary": "Get elastic volumes for elastic snapshot policy",
        "description": "Get elastic volumes associated with elastic snapshot policy",
        "operationId": "ElasticSnapshotPolicies_ListVolumes",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/elasticSnapshotPolicyVolumeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticSnapshotPolicies_ListVolumes": {
            "$ref": "examples/ElasticSnapshotPolicies_ListVolumes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticBackupVaults": {
      "get": {
        "summary": "Describe all Elastic Backup Vaults",
        "description": "List and describe all Elastic Backup Vaults in the elastic account.",
        "tags": [
          "Elastic Backup Vaults"
        ],
        "operationId": "ElasticBackupVaults_ListByNetAppAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackupVaultsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticBackupVaults_List": {
            "$ref": "examples/ElasticBackupVaults_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticBackupVaults/{backupVaultName}": {
      "get": {
        "summary": "Describe the Elastic Backup Vault",
        "description": "Get the Elastic Backup Vault",
        "tags": [
          "Elastic Backup Vaults"
        ],
        "operationId": "ElasticBackupVaults_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackupVault"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticBackupVaults_Get": {
            "$ref": "examples/ElasticBackupVaults_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Elastic Backup Vaults"
        ],
        "summary": "Create or Update an elastic Backup Vault",
        "description": "Create or update the specified Elastic Backup Vault in the NetApp account",
        "operationId": "ElasticBackupVaults_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "ElasticBackupVault object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticBackupVault"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - elasticBackupVault updated",
            "schema": {
              "$ref": "#/definitions/ElasticBackupVault"
            }
          },
          "201": {
            "description": "elasticBackupVault created",
            "schema": {
              "$ref": "#/definitions/ElasticBackupVault"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticBackupVault_CreateOrUpdate": {
            "$ref": "examples/ElasticBackupVaults_Create.json"
          }
        }
      },
      "patch": {
        "summary": "Update NetApp Elastic Backup Vault",
        "description": "Patch the specified NetApp Elastic Backup Vault",
        "tags": [
          "Elastic Backup Vaults"
        ],
        "operationId": "ElasticBackupVaults_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Elastic Backup Vault object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticBackupVaultPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Elastic Backup Vault updated.",
            "schema": {
              "$ref": "#/definitions/ElasticBackupVault"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticBackupVaults_Update": {
            "$ref": "examples/ElasticBackupVaults_Update.json"
          }
        }
      },
      "delete": {
        "summary": "Delete NetApp Elastic Backup Vault",
        "description": "Delete the specified Elastic Backup Vault",
        "tags": [
          "Elastic Backup Vaults"
        ],
        "operationId": "ElasticBackupVaults_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticBackupVaults_Delete": {
            "$ref": "examples/ElasticBackupVaults_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticBackupVaults/{backupVaultName}/elasticBackups": {
      "get": {
        "tags": [
          "Elastic Backups"
        ],
        "summary": "List Elastic Backups",
        "description": "List all elastic backups Under an elastic Backup Vault",
        "operationId": "ElasticBackups_ListByVault",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "in": "query",
            "name": "$filter",
            "type": "string",
            "description": "An option to specify the elastic VolumeResourceId. If present, then only returns the elastic backups under the specified elastic volume",
            "required": false
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackupsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticBackups_List": {
            "$ref": "examples/ElasticBackupsUnderElasticBackupVault_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticBackupVaults/{backupVaultName}/elasticBackups/{backupName}": {
      "get": {
        "summary": "Describe the Elastic Backup under Elastic Backup Vault",
        "description": "Get the specified Elastic Backup under Elastic Backup Vault.",
        "tags": [
          "Elastic Backups"
        ],
        "operationId": "ElasticBackups_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticBackupsUnderElasticBackupVault_Get": {
            "$ref": "examples/ElasticBackupsUnderElasticBackupVault_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Elastic Backups"
        ],
        "summary": "Create an elastic backup",
        "description": "Create an elastic backup under the elastic Backup Vault",
        "operationId": "ElasticBackups_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Elastic Backup object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticBackup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - elastic backup created updated",
            "schema": {
              "$ref": "#/definitions/ElasticBackup"
            }
          },
          "201": {
            "description": "Elastic Backup created",
            "schema": {
              "$ref": "#/definitions/ElasticBackup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticBackupsUnderElasticBackupVault_Create": {
            "$ref": "examples/ElasticBackupsUnderElasticBackupVault_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Elastic Backups"
        ],
        "summary": "Patch an elastic backup",
        "description": "Patch an elastic Backup under the Elastic Backup Vault",
        "operationId": "ElasticBackups_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Elastic Backup object supplied in the body of the operation.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ElasticBackupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackup"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticBackupsUnderElasticBackupVault_Update": {
            "$ref": "examples/ElasticBackupsUnderElasticBackupVault_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Elastic Backups"
        ],
        "summary": "Delete elastic backup",
        "description": "Delete an elastic Backup under the elastic Backup Vault",
        "operationId": "ElasticBackups_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupVaultName"
          },
          {
            "$ref": "#/parameters/BackupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticBackupsUnderElasticBackupVault_Delete": {
            "$ref": "examples/ElasticBackupsUnderElasticBackupVault_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticBackupPolicies": {
      "get": {
        "tags": [
          "Elastic Backup Policy"
        ],
        "summary": "List elastic backup policies",
        "description": "List elastic backup policies for elastic account",
        "operationId": "ElasticBackupPolicies_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackupPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticBackupPolicies_List": {
            "$ref": "examples/ElasticBackupPolicies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/elasticAccounts/{accountName}/elasticBackupPolicies/{backupPolicyName}": {
      "get": {
        "tags": [
          "Elastic Backup Policy"
        ],
        "summary": "Get an elastic backup Policy",
        "description": "Get a particular elastic backup Policy",
        "operationId": "ElasticBackupPolicies_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackupPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticBackupPolicies_Get": {
            "$ref": "examples/ElasticBackupPolicies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Elastic Backup Policy"
        ],
        "summary": "Create an elastic backup policy",
        "description": "Create an elastic backup policy for elastic Account",
        "operationId": "ElasticBackupPolicies_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Elastic Backup policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticBackupPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Elastic Backup Policy created",
            "schema": {
              "$ref": "#/definitions/ElasticBackupPolicy"
            }
          },
          "201": {
            "description": "Elastic Backup Policy created",
            "schema": {
              "$ref": "#/definitions/ElasticBackupPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ElasticBackupPolicies_Create": {
            "$ref": "examples/ElasticBackupPolicies_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Elastic Backup Policy"
        ],
        "summary": "Patch an elastic backup policy",
        "description": "Patch an elastic backup policy for elastic Account",
        "operationId": "ElasticBackupPolicies_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Elastic Backup policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticBackupPolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticBackupPolicy"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticBackupPolicies_Update": {
            "$ref": "examples/ElasticBackupPolicies_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Elastic Backup Policy"
        ],
        "summary": "Delete an elastic backup policy",
        "description": "Delete elastic backup policy",
        "operationId": "ElasticBackupPolicies_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ElasticBackupPolicies_Delete": {
            "$ref": "examples/ElasticBackupPolicies_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "checkElasticVolumeFilePathAvailabilityRequest": {
      "description": "File path availability request content - availability is based on the elastic volume filePath within the given elastic capacityPool.",
      "required": [
        "filePath"
      ],
      "type": "object",
      "properties": {
        "filePath": {
          "$ref": "#/definitions/elasticVolumeFilePath"
        }
      }
    },
    "elasticResourceAvailabilityStatus": {
      "readOnly": true,
      "type": "string",
      "description": "Current availability status of the resource.",
      "enum": [
        "Online",
        "Offline"
      ],
      "x-ms-enum": {
        "name": "availabilityStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Online",
            "value": "Online",
            "description": "The resource is currently Online and accessible"
          },
          {
            "name": "Offline",
            "value": "Offline",
            "description": "The resource is currently Offline and not accessible"
          }
        ]
      }
    },
    "elasticAccountList": {
      "description": "List of NetApp elastic account resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "Multiple NetApp elastic accounts",
          "items": {
            "$ref": "#/definitions/elasticAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of results."
        }
      }
    },
    "elasticAccount": {
      "description": "NetApp elastic account resource",
      "type": "object",
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "etag": {
          "$ref": "#/definitions/resourceEtag"
        },
        "properties": {
          "description": "NetApp elastic account properties",
          "$ref": "#/definitions/elasticAccountProperties"
        }
      }
    },
    "elasticAccountPatch": {
      "description": "NetApp elastic account patch resource",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        },
        "tags": {
          "description": "Resource tags",
          "$ref": "#/definitions/elasticResourceTags"
        },
        "properties": {
          "description": "NetApp elastic account properties",
          "$ref": "#/definitions/elasticAccountProperties"
        }
      }
    },
    "elasticAccountProperties": {
      "description": "NetApp elastic account properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "netapp-common.json#/definitions/CommonResourceProvisioningState"
        },
        "encryption": {
          "description": "Encryption settings",
          "$ref": "#/definitions/elasticEncryption"
        }
      }
    },
    "elasticEncryption": {
      "type": "object",
      "description": "Encryption settings",
      "properties": {
        "keySource": {
          "type": "string",
          "description": "The encryption keySource (provider). Possible values (case-insensitive):  Microsoft.NetApp, Microsoft.KeyVault",
          "enum": [
            "Microsoft.NetApp",
            "Microsoft.KeyVault"
          ],
          "x-ms-enum": {
            "name": "KeySource",
            "modelAsString": true,
            "values": [
              {
                "value": "Microsoft.NetApp",
                "description": "Microsoft-managed key encryption"
              },
              {
                "value": "Microsoft.KeyVault",
                "description": "Customer-managed key encryption"
              }
            ]
          }
        },
        "keyVaultProperties": {
          "$ref": "#/definitions/ElasticKeyVaultProperties",
          "description": "Properties provided by KeyVault. Applicable if keySource is 'Microsoft.KeyVault'."
        },
        "identity": {
          "$ref": "#/definitions/ElasticEncryptionIdentity",
          "description": "Identity used to authenticate to KeyVault. Applicable if keySource is 'Microsoft.KeyVault'."
        }
      }
    },
    "ElasticKeyVaultProperties": {
      "description": "Properties of key vault.",
      "type": "object",
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "format": "uri",
          "description": "The Uri of KeyVault."
        },
        "keyName": {
          "type": "string",
          "description": "The name of KeyVault key.",
          "minLength": 1,
          "maxLength": 127,
          "pattern": "^[a-zA-Z0-9-]{1,127}$"
        },
        "keyVaultResourceId": {
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.KeyVault/vaults"
              }
            ]
          },
          "description": "The resource ID of KeyVault."
        },
        "status": {
          "type": "string",
          "description": "Status of the KeyVault connection.",
          "readOnly": true,
          "enum": [
            "Created",
            "Updating",
            "InUse",
            "Deleted",
            "Error"
          ],
          "x-ms-enum": {
            "name": "KeyVaultStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Created",
                "description": "KeyVault connection created but not in use"
              },
              {
                "value": "InUse",
                "description": "KeyVault connection in use by SMB Volume"
              },
              {
                "value": "Deleted",
                "description": "KeyVault connection Deleted"
              },
              {
                "value": "Error",
                "description": "Error with the KeyVault connection"
              },
              {
                "value": "Updating",
                "description": "KeyVault connection Updating"
              }
            ]
          }
        }
      }
    },
    "ElasticEncryptionIdentity": {
      "description": "Identity used to authenticate with key vault.",
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID (object ID) of the identity used to authenticate with key vault. Read-only.",
          "format": "uuid",
          "readOnly": true
        },
        "userAssignedIdentity": {
          "type": "string",
          "description": "The ARM resource identifier of the user assigned identity used to authenticate with key vault. Applicable if identity.type has 'UserAssigned'. It should match key of identity.userAssignedIdentities.",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      }
    },
    "elasticEncryptionConfiguration": {
      "description": "CMK Encryption Configuration",
      "required": [
        "elasticPoolEncryptionKeySource",
        "keyVaultPrivateEndpointResourceId"
      ],
      "type": "object",
      "properties": {
        "elasticPoolEncryptionKeySource": {
          "$ref": "#/definitions/elasticPoolEncryptionKeySource"
        },
        "keyVaultPrivateEndpointResourceId": {
          "$ref": "#/definitions/keyVaultPrivateEndpointResourceId"
        }
      }
    },
    "elasticPoolEncryptionKeySource": {
      "type": "string",
      "description": "Pool Encryption Key Source.",
      "enum": [
        "NetApp",
        "KeyVault"
      ],
      "x-ms-enum": {
        "name": "elasticPoolEncryptionKeySource",
        "modelAsString": false,
        "values": [
          {
            "name": "NetApp",
            "value": "NetApp",
            "description": "Represents the encryption key source of Elastic pool is Microsoft.NetApp"
          },
          {
            "name": "KeyVault",
            "value": "KeyVault",
            "description": "Represents the encryption key source of Elastic pool is Microsoft.KeyVault"
          }
        ]
      }
    },
    "keyVaultPrivateEndpointResourceId": {
      "type": "string",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/privateEndpoints"
          }
        ]
      },
[...]
