{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft NetApp",
    "description": "Microsoft NetApp Azure Resource Provider specification",
    "version": "2025-09-01-preview"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/activeDirectoryConfigs": {
      "get": {
        "summary": "Describe all Active Directory configurations in a subscription",
        "description": "List all active directory configurations within the subscription",
        "tags": [
          "Active Directory Configuration"
        ],
        "operationId": "ActiveDirectoryConfigs_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfigList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ActiveDirectoryConfigurations_ListBySubscription": {
            "$ref": "examples/ActiveDirectoryConfigs_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/activeDirectoryConfigs": {
      "get": {
        "summary": "Describe all Active Directory configurations in a resource group",
        "description": "List all active directory configurations within the resource group.",
        "tags": [
          "Active Directory Configuration"
        ],
        "operationId": "ActiveDirectoryConfigs_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfigList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ActiveDirectoryConfigurations_List": {
            "$ref": "examples/ActiveDirectoryConfigs_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/activeDirectoryConfigs/{activeDirectoryConfigName}": {
      "get": {
        "summary": "Describe a Active Directory configuration",
        "description": "Get the details of the specified active directory configuration",
        "tags": [
          "Active Directory Configuration"
        ],
        "operationId": "ActiveDirectoryConfigs_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDirectoryConfigName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfig"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ActiveDirectoryConfigs_Get": {
            "$ref": "examples/ActiveDirectoryConfigs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Active Directory Configuration"
        ],
        "operationId": "ActiveDirectoryConfigs_CreateOrUpdate",
        "summary": "Create or update a Active Directory configuration",
        "description": "Create or update the specified active directory configuration",
        "parameters": [
          {
            "name": "body",
            "description": "ActiveDirectoryConfig object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfig"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDirectoryConfigName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfig"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfig"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ActiveDirectoryConfigs_CreateOrUpdate": {
            "$ref": "examples/ActiveDirectoryConfigs_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Active Directory Configuration"
        ],
        "operationId": "ActiveDirectoryConfigs_Update",
        "summary": "Update a Active Directory configuration",
        "description": "Patch the specified active directory configuration",
        "parameters": [
          {
            "name": "body",
            "description": "Active Directory config object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfigPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDirectoryConfigName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConfig"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ActiveDirectoryConfigs_Update": {
            "$ref": "examples/ActiveDirectoryConfigs_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Active Directory Configuration"
        ],
        "operationId": "ActiveDirectoryConfigs_Delete",
        "summary": "Delete the specified active directory configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDirectoryConfigName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "Delete the specified Active Directory configuration",
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ActiveDirectoryConfigs_Delete": {
            "$ref": "examples/ActiveDirectoryConfigs_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActiveDirectoryConfigList": {
      "type": "object",
      "description": "List of ActiveDirectoryConfig resources",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActiveDirectoryConfig"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of results."
        }
      }
    },
    "ActiveDirectoryConfig": {
      "description": "Active Directory Configuration resource",
      "type": "object",
      "required": [
        "location",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "properties": {
          "description": "Active Directory Configuration properties",
          "$ref": "#/definitions/ActiveDirectoryConfigProperties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "description": "The identity used for the resource.",
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity"
        }
      }
    },
    "ActiveDirectoryConfigPatch": {
      "description": "Active Directory Configuration patch resource",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "readOnly": true,
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/activeDirectoryConfigs/{resourceName}\""
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the resource."
        },
        "tags": {
          "description": "Resource tags",
          "$ref": "#/definitions/CommonResourceTags"
        },
        "properties": {
          "description": "Active Directory config patch properties",
          "$ref": "#/definitions/ActiveDirectoryConfigPatchProperties"
        },
        "identity": {
          "description": "The identity used for the resource.",
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity"
        }
      }
    },
    "ActiveDirectoryConfigProperties": {
      "description": "Active Directory Configuration properties",
      "type": "object",
      "required": [
        "userName",
        "secretPassword",
        "domain",
        "dns",
        "smbServerName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ActiveDirectoryConfigCommonProperties"
        }
      ],
      "properties": {
        "domain": {
          "description": "Name of the Active Directory domain",
          "type": "string",
          "maxLength": 255,
          "example": "example.net"
        },
        "secretPassword": {
          "$ref": "#/definitions/SecretPassword"
        },
        "provisioningState": {
          "$ref": "#/definitions/CommonResourceProvisioningState"
        }
      }
    },
    "ActiveDirectoryConfigPatchProperties": {
      "description": "Active Directory Configuration patch properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ActiveDirectoryConfigCommonProperties"
        }
      ],
      "properties": {
        "secretPassword": {
          "$ref": "#/definitions/SecretPasswordPatch"
        }
      }
    },
    "ActiveDirectoryConfigCommonProperties": {
      "description": "Active Directory Configuration common properties",
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "A domain user account with permission to create machine accounts",
          "maxLength": 255
        },
        "dns": {
          "description": "An array of DNS server IP addresses(IPv4 only) for the Active Directory ",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "101.102.103.104"
          ]
        },
        "smbServerName": {
          "description": "NetBIOS name of the SMB server. This name will be registered as a computer account in the AD and used to mount volumes",
          "type": "string",
          "maxLength": 10,
          "example": "smbServerOne"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory",
          "type": "string",
          "maxLength": 255
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery to",
          "type": "string",
          "maxLength": 63,
          "example": "Default-First-Site-Name"
        },
        "backupOperators": {
          "description": "Users to be added to the Built-in Backup Operator active directory group. A list of unique usernames without domain specifier",
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 255
          },
          "example": [
            "backUpOptOne",
            "clarkkent"
          ]
        },
        "administrators": {
          "description": "Users to be added to the Built-in Administrators active directory group. A list of unique usernames without domain specifier",
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 255
          },
          "example": [
            "corpadmin",
            "clarkkent"
          ]
        },
        "securityOperators": {
          "description": "Domain Users in the Active directory to be given SecurityPrivilege privilege (Needed for SMB Continuously available shares for SQL). A list of unique usernames without domain specifier",
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 255
          },
          "example": [
            "clarkkent"
          ]
        },
        "activeDirectoryStatus": {
          "$ref": "#/definitions/ActiveDirectoryStatus"
        }
      }
    },
    "SecretPassword": {
      "type": "object",
      "description": "Access password from Azure KeyVault Secrets to connect Active Directory",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/SecretPasswordKeyVaultProperties",
          "description": "Properties provided by KeyVault. "
        },
        "identity": {
          "$ref": "#/definitions/SecretPasswordIdentity",
          "description": "Identity used to authenticate to KeyVault. Applicable if keySource is 'Microsoft.KeyVault'."
        }
      }
    },
    "SecretPasswordPatch": {
      "type": "object",
      "description": "Access Password from Azure KeyVault Secret to connect Active Directory on patch",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/SecretPasswordKeyVaultPatchProperties",
          "description": "Patch Properties provided by KeyVault."
        },
        "identity": {
          "$ref": "#/definitions/SecretPasswordIdentity",
          "description": "Identity used to authenticate to KeyVault. Applicable if keySource is 'Microsoft.KeyVault'."
        }
      }
    },
    "SecretPasswordKeyVaultProperties": {
      "description": "Properties of key vault to get the secrets for password.",
      "type": "object",
      "required": [
        "keyVaultUri",
        "secretName"
      ],
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "format": "uri",
          "description": "The Uri of KeyVault.",
          "example": "https://vault-name.vault.azure.net/",
          "maxLength": 255
        },
        "secretName": {
          "type": "string",
          "description": "The name of KeyVault password secret.",
          "example": "activeDirectoryPassword",
          "maxLength": 127
        }
      }
    },
    "SecretPasswordKeyVaultPatchProperties": {
      "description": "Patch Properties of key vault to get the secrets for password.",
      "type": "object",
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "format": "uri",
          "description": "The Uri of KeyVault.",
          "example": "https://vault-name.vault.azure.net/",
          "maxLength": 255
        },
        "secretName": {
          "type": "string",
          "description": "The name of KeyVault password secret.",
          "example": "activeDirectoryPassword",
          "maxLength": 127
        }
      }
    },
    "SecretPasswordIdentity": {
      "description": "Identity used to authenticate with key vault.",
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID (object ID) of the identity used to authenticate with key vault. Read-only.",
          "readOnly": true
        },
        "userAssignedIdentity": {
          "type": "string",
          "description": "The Azure resource identifier of the user assigned identity used to authenticate with key vault. Applicable if identity.type has 'UserAssigned'. It should match key of identity.userAssignedIdentities."
        }
      }
    },
    "ActiveDirectoryStatus": {
      "type": "string",
      "description": "Status of the Active Directory",
      "readOnly": true,
      "enum": [
        "Created",
        "Updating",
        "InUse",
        "Deleted",
        "Error"
      ],
      "x-ms-enum": {
        "name": "ActiveDirectoryStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Active Directory created but not in use"
          },
          {
            "name": "InUse",
            "value": "InUse",
            "description": "Active Directory in use by SMB Volume"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Active Directory Deleted"
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Error with the Active Directory"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Active Directory Updating"
          }
        ]
      }
    },
    "CommonResourceProvisioningState": {
      "readOnly": true,
      "type": "string",
      "description": "Azure lifecycle management.",
      "enum": [
        "Accepted",
        "Creating",
        "Patching",
        "Updating",
        "Deleting",
        "Moving",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource has been accepted"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Resource is creating"
          },
          {
            "name": "Patching",
            "value": "Patching",
            "description": "Resource is patching"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is getting deleting"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is updating"
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "Resource is moving"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource is in a failed state."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource is in a valid state."
          }
        ]
      }
    },
    "CommonResourceTags": {
      "type": "object",
      "description": "Tags are a list of key-value pairs that describe the resource",
      "x-ms-mutability": [
        "read",
        "create",
        "update"
      ]
    }
  },
  "parameters": {
    "ActiveDirectoryConfigName": {
      "name": "activeDirectoryConfigName",
      "type": "string",
      "in": "path",
      "required": true,
      "pattern": "^[a-zA-Z][a-zA-Z0-9\\-_]{0,63}$",
      "minLength": 1,
      "maxLength": 64,
      "description": "The name of the Active Directory Configuration",
      "x-ms-parameter-location": "method"
    }
  }
}
