{
  "swagger": "2.0",
  "info": {
    "version": "2025-02-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/storages": {
      "get": {
        "tags": [
          "ConnectedEnvironmentsStorages"
        ],
        "summary": "Get all storages for a connectedEnvironment.",
        "description": "Get all storages for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentsStorages_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentStoragesCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List environments storages by subscription": {
            "$ref": "./examples/ConnectedEnvironmentsStorages_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/storages/{storageName}": {
      "get": {
        "tags": [
          "ConnectedEnvironmentsStorages"
        ],
        "summary": "Get storage for a connectedEnvironment.",
        "description": "Get storage for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentsStorages_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the storage.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentStorage"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a environments storage properties by subscription": {
            "$ref": "./examples/ConnectedEnvironmentsStorages_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ConnectedEnvironmentsStorages"
        ],
        "summary": "Create or update storage for a connectedEnvironment.",
        "description": "Create or update storage for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentsStorages_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the storage.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageEnvelope",
            "in": "body",
            "description": "Configuration details of storage.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentStorage"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentStorage"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ConnectedEnvironmentStorage"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update environments storage": {
            "$ref": "./examples/ConnectedEnvironmentsStorages_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ConnectedEnvironmentsStorages"
        ],
        "summary": "Delete storage for a connectedEnvironment.",
        "description": "Delete storage for a connectedEnvironment.",
        "operationId": "ConnectedEnvironmentsStorages_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectedEnvironmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the storage.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Storage does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List environments storages by subscription": {
            "$ref": "./examples/ConnectedEnvironmentsStorages_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectedEnvironmentStoragesCollection": {
      "description": "Collection of Storage for Environments",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of storage resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedEnvironmentStorage"
          }
        }
      }
    },
    "ConnectedEnvironmentStorage": {
      "description": "Storage resource for connectedEnvironment.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Storage properties",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state of the storage.",
              "enum": [
                "Succeeded",
                "Failed",
                "Canceled",
                "InProgress",
                "Deleting"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "ConnectedEnvironmentStorageProvisioningState",
                "modelAsString": true
              }
            },
            "deploymentErrors": {
              "description": "Any errors that occurred during deployment or deployment validation",
              "type": "string",
              "readOnly": true
            },
            "azureFile": {
              "$ref": "./CommonDefinitions.json#/definitions/AzureFileProperties",
              "description": "Azure file properties"
            },
            "smb": {
              "$ref": "./CommonDefinitions.json#/definitions/SmbStorage",
              "description": "SMB storage properties"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
