{
  "swagger": "2.0",
  "info": {
    "version": "2025-02-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions": {
      "get": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Get the Revisions for a given Container App.",
        "operationId": "ContainerAppsRevisions_ListRevisions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App for which Revisions are needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RevisionCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container App's revisions": {
            "$ref": "./examples/Revisions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Revision"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}": {
      "get": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Get a revision of a Container App.",
        "operationId": "ContainerAppsRevisions_GetRevision",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Revision"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's revision": {
            "$ref": "./examples/Revisions_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/activate": {
      "post": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Activates a revision for a Container App",
        "operationId": "ContainerAppsRevisions_ActivateRevision",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container App revision was activated"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Activate Container App's revision": {
            "$ref": "./examples/Revisions_Activate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/deactivate": {
      "post": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Deactivates a revision for a Container App",
        "operationId": "ContainerAppsRevisions_DeactivateRevision",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container App revision was deactivated"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deactivate Container App's revision": {
            "$ref": "./examples/Revisions_Deactivate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/replicas/{replicaName}": {
      "get": {
        "tags": [
          "ContainerAppsRevisionReplicas"
        ],
        "summary": "Get a replica for a Container App Revision.",
        "operationId": "ContainerAppsRevisionReplicas_GetReplica",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "Name of the Container App Revision Replica.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's revision replica": {
            "$ref": "./examples/Replicas_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/replicas": {
      "get": {
        "tags": [
          "ContainerAppsRevisionReplicas"
        ],
        "summary": "List replicas for a Container App Revision.",
        "operationId": "ContainerAppsRevisionReplicas_ListReplicas",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplicaCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container App's replicas": {
            "$ref": "./examples/Replicas_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/restart": {
      "post": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Restarts a revision for a Container App",
        "operationId": "ContainerAppsRevisions_RestartRevision",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container App revision was restarted"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restart Container App's revision": {
            "$ref": "./examples/Revisions_Restart.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Revision": {
      "description": "Container App Revision.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Revision resource specific properties",
          "type": "object",
          "properties": {
            "createdTime": {
              "format": "date-time",
              "description": "Timestamp describing when the revision was created\nby controller",
              "type": "string",
              "readOnly": true
            },
            "lastActiveTime": {
              "format": "date-time",
              "description": "Timestamp describing when the revision was last active. Only meaningful when revision is inactive",
              "type": "string",
              "readOnly": true
            },
            "fqdn": {
              "description": "Fully qualified domain name of the revision",
              "type": "string",
              "readOnly": true
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/Template",
              "description": "Container App Revision Template with all possible settings and the\ndefaults if user did not provide them. The defaults are populated\nas they were at the creation time",
              "readOnly": true
            },
            "active": {
              "description": "Boolean describing if the Revision is Active",
              "type": "boolean",
              "readOnly": true
            },
            "replicas": {
              "format": "int32",
              "description": "Number of pods currently running for this revision",
              "type": "integer",
              "readOnly": true
            },
            "trafficWeight": {
              "format": "int32",
              "description": "Traffic weight assigned to this revision",
              "type": "integer",
              "readOnly": true
            },
            "labels": {
              "description": "List of labels assigned to this revision.",
              "type": "array",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            },
            "provisioningError": {
              "description": "Optional Field - Platform Error Message",
              "type": "string",
              "readOnly": true
            },
            "healthState": {
              "description": "Current health State of the revision",
              "enum": [
                "Healthy",
                "Unhealthy",
                "None"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "RevisionHealthState",
                "modelAsString": true
              }
            },
            "provisioningState": {
              "description": "Current provisioning State of the revision",
              "enum": [
                "Provisioning",
                "Provisioned",
                "Failed",
                "Deprovisioning",
                "Deprovisioned"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "RevisionProvisioningState",
                "modelAsString": true
              }
            },
            "runningState": {
              "description": "Current running state of the revision",
              "enum": [
                "Running",
                "Processing",
                "Stopped",
                "Degraded",
                "Failed",
                "Unknown"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "RevisionRunningState",
                "modelAsString": true
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "RevisionCollection": {
      "description": "Container App Revisions collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Revision"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Replica": {
      "description": "Container App Revision Replica.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Replica resource specific properties",
          "type": "object",
          "properties": {
            "createdTime": {
              "type": "string",
              "description": "Timestamp describing when the pod was created by controller",
              "format": "date-time",
              "readOnly": true
            },
            "runningState": {
              "description": "Current running state of the replica",
              "enum": [
                "Running",
                "NotRunning",
                "Unknown"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "ContainerAppReplicaRunningState",
                "modelAsString": true
              }
            },
            "runningStateDetails": {
              "description": "The details of replica current running state",
              "type": "string",
              "readOnly": true
            },
            "containers": {
              "description": "The containers collection under a replica.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReplicaContainer"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "initContainers": {
              "description": "The init containers collection under a replica.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReplicaContainer"
              },
              "x-ms-identifiers": [
                "name"
              ]
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "ReplicaCollection": {
      "description": "Container App Revision Replicas collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Replica"
          }
        }
      }
    },
    "ReplicaContainer": {
      "description": "Container object under Container App Revision Replica.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The Name of the Container",
          "type": "string"
        },
        "containerId": {
          "description": "The Id of the Container",
          "type": "string"
        },
        "ready": {
          "description": "The container ready status",
          "type": "boolean"
        },
        "started": {
          "description": "The container start status",
          "type": "boolean"
        },
        "restartCount": {
          "format": "int32",
          "description": "The container restart count",
          "type": "integer"
        },
        "runningState": {
          "description": "Current running state of the container",
          "enum": [
            "Running",
            "Terminated",
            "Waiting"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ContainerAppContainerRunningState",
            "modelAsString": true
          }
        },
        "runningStateDetails": {
          "description": "The details of container current running state",
          "type": "string",
          "readOnly": true
        },
        "logStreamEndpoint": {
          "description": "Log Stream endpoint",
          "type": "string",
          "readOnly": true
        },
        "execEndpoint": {
          "description": "Container exec endpoint",
          "type": "string",
          "readOnly": true
        },
        "debugEndpoint": {
          "description": "Container debug endpoint",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
