{
  "swagger": "2.0",
  "info": {
    "version": "2025-02-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/labelHistory": {
      "get": {
        "tags": [
          "ContainerAppsLabelHistory"
        ],
        "summary": "Get the Label History for a given Container App.",
        "operationId": "ContainerAppsLabelHistory_ListLabelHistory",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/ContainerAppsNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabelHistoryCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container App's all label history": {
            "$ref": "./examples/LabelHistory_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/LabelHistory"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/labelHistory/{labelName}": {
      "get": {
        "tags": [
          "ContainerAppsLabelHistory"
        ],
        "summary": "Get the history of a label.",
        "operationId": "ContainerAppsLabelHistory_GetLabelHistory",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/ContainerAppsNameParameter"
          },
          {
            "name": "labelName",
            "in": "path",
            "description": "Name of the Container App label.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabelHistory"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's single label history": {
            "$ref": "./examples/LabelHistory_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ContainerAppsLabelHistory"
        ],
        "summary": "Delete the history of a label.",
        "operationId": "ContainerAppsLabelHistory_DeleteLabelHistory",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/ContainerAppsNameParameter"
          },
          {
            "name": "labelName",
            "in": "path",
            "description": "Name of the Container App label.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok."
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Container App's label history for a given label": {
            "$ref": "./examples/LabelHistory_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "LabelHistory": {
      "description": "Container App Label History.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Container App Label History resource specific properties",
          "type": "object",
          "properties": {
            "records": {
              "description": "List of label history records.",
              "type": "array",
              "readOnly": true,
              "items": {
                "$ref": "#/definitions/LabelHistoryRecordItem"
              },
              "x-ms-identifiers": [
                "label"
              ]
            }
          }
        }
      },
      "x-ms-client-flatten": true
    },
    "LabelHistoryRecordItem": {
      "description": "Container App Label History Item resource specific properties",
      "type": "object",
      "properties": {
        "revision": {
          "description": "Container App revision name that label was applied to.",
          "type": "string",
          "readOnly": true
        },
        "start": {
          "format": "date-time",
          "description": "Timestamp describing when the label was applied to the revision.",
          "type": "string",
          "readOnly": true
        },
        "stop": {
          "format": "date-time",
          "description": "Timestamp describing when the label was removed from the revision. Only meaningful when the label is currently applied to the revision.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Status of the label history record.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Starting"
          ],
          "x-ms-enum": {
            "name": "Status",
            "modelAsString": true
          },
          "readOnly": true
        }
      }
    },
    "LabelHistoryCollection": {
      "description": "Container App Label History collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LabelHistory"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
