{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2025-02-02-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/javaComponents": {
      "get": {
        "tags": [
          "JavaComponents"
        ],
        "summary": "Get the Java Components for a managed environment.",
        "operationId": "JavaComponents_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/JavaComponentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Java Components": {
            "$ref": "./examples/JavaComponents_List.json"
          },
          "List Java Components with ServiceBinds": {
            "$ref": "./examples/JavaComponents_List_ServiceBind.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/javaComponents/{name}": {
      "get": {
        "tags": [
          "JavaComponents"
        ],
        "summary": "Get a Java Component.",
        "operationId": "JavaComponents_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Java Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JavaComponent"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Java Component": {
            "$ref": "./examples/JavaComponents_Get.json"
          },
          "Get Java Component with ServiceBinds": {
            "$ref": "./examples/JavaComponents_Get_ServiceBind.json"
          }
        }
      },
      "put": {
        "tags": [
          "JavaComponents"
        ],
        "summary": "Creates or updates a Java Component.",
        "description": "Creates or updates a Java Component in a Managed Environment.",
        "operationId": "JavaComponents_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Java Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "javaComponentEnvelope",
            "in": "body",
            "description": "Configuration details of the Java Component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JavaComponent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No change performed on the Java Component.",
            "schema": {
              "$ref": "#/definitions/JavaComponent"
            }
          },
          "201": {
            "description": "Java Component create or update has been started.",
            "schema": {
              "$ref": "#/definitions/JavaComponent"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or Update Java Component": {
            "$ref": "./examples/JavaComponents_CreateOrUpdate.json"
          },
          "Create or Update Java Component with ServiceBinds": {
            "$ref": "./examples/JavaComponents_CreateOrUpdate_ServiceBind.json"
          }
        }
      },
      "patch": {
        "tags": [
          "JavaComponents"
        ],
        "summary": "Update properties of a Java Component",
        "description": "Patches a Java Component using JSON Merge Patch",
        "operationId": "JavaComponents_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Java Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "javaComponentEnvelope",
            "in": "body",
            "description": "Configuration details of the Java Component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JavaComponent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/JavaComponent"
            }
          },
          "202": {
            "description": "Patch operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Patch Java Component": {
            "$ref": "./examples/JavaComponents_Patch.json"
          },
          "Patch Java Component with ServiceBinds": {
            "$ref": "./examples/JavaComponents_Patch_ServiceBind.json"
          }
        }
      },
      "delete": {
        "tags": [
          "JavaComponents"
        ],
        "summary": "Delete a Java Component.",
        "description": "Delete a Java Component.",
        "operationId": "JavaComponents_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Java Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Java Component does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Java Component": {
            "$ref": "./examples/JavaComponents_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ScgRoute": {
      "description": "Spring Cloud Gateway route definition",
      "type": "object",
      "required": [
        "id",
        "uri"
      ],
      "properties": {
        "id": {
          "description": "Id of the route",
          "type": "string"
        },
        "uri": {
          "description": "Uri of the route",
          "type": "string"
        },
        "predicates": {
          "description": "Predicates of the route",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "description": "Filters of the route",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "order": {
          "description": "Order of the route",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "JavaComponentConfigurationProperty": {
      "description": "Configuration properties for a Java Component",
      "type": "object",
      "properties": {
        "propertyName": {
          "description": "The name of the property",
          "type": "string"
        },
        "value": {
          "description": "The value of the property",
          "type": "string"
        }
      }
    },
    "JavaComponentServiceBind": {
      "description": "Configuration to bind a Java Component to another Java Component",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the service bind",
          "type": "string"
        },
        "serviceId": {
          "description": "Resource id of the target service",
          "format": "arm-id",
          "type": "string"
        }
      }
    },
    "JavaComponent": {
      "description": "Java Component.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Java Component resource specific properties",
          "type": "object",
          "$ref": "#/definitions/JavaComponentProperties"
        }
      }
    },
    "JavaComponentProperties": {
      "description": "Java Component common properties.",
      "type": "object",
      "required": [
        "componentType"
      ],
      "properties": {
        "componentType": {
          "description": "Type of the Java Component.",
          "enum": [
            "SpringBootAdmin",
            "SpringCloudEureka",
            "SpringCloudConfig",
            "SpringCloudGateway",
            "Nacos"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "JavaComponentType",
            "modelAsString": true
          }
        },
        "provisioningState": {
          "description": "Provisioning state of the Java Component.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Deleting",
            "InProgress"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "JavaComponentProvisioningState",
            "modelAsString": true
          }
        },
        "configurations": {
          "description": "List of Java Components configuration properties",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JavaComponentConfigurationProperty"
          },
          "x-ms-identifiers": [
            "propertyName"
          ]
        },
        "scale": {
          "description": "Java component scaling configurations",
          "type": "object",
          "properties": {
            "minReplicas": {
              "format": "int32",
              "description": "Optional. Minimum number of Java component replicas. Defaults to 1 if not set",
              "type": "integer"
            },
            "maxReplicas": {
              "format": "int32",
              "description": "Optional. Maximum number of Java component replicas",
              "type": "integer"
            }
          }
        },
        "serviceBinds": {
          "description": "List of Java Components that are bound to the Java component",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JavaComponentServiceBind"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "x-ms-client-flatten": true,
      "discriminator": "componentType"
    },
    "JavaComponentIngress": {
      "description": "Container App Ingress configuration.",
      "type": "object",
      "properties": {
        "fqdn": {
          "description": "Hostname of the Java Component endpoint",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SpringCloudGatewayComponent": {
      "description": "Spring Cloud Gateway properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JavaComponentProperties"
        }
      ],
      "properties": {
        "ingress": {
          "$ref": "#/definitions/JavaComponentIngress",
          "description": "Java Component Ingress configurations."
        },
        "springCloudGatewayRoutes": {
          "description": "Gateway route definition",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScgRoute"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      },
      "x-ms-discriminator-value": "SpringCloudGateway"
    },
    "SpringBootAdminComponent": {
      "description": "Spring Boot Admin properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JavaComponentProperties"
        }
      ],
      "properties": {
        "ingress": {
          "$ref": "#/definitions/JavaComponentIngress",
          "description": "Java Component Ingress configurations."
        }
      },
      "x-ms-discriminator-value": "SpringBootAdmin"
    },
    "NacosComponent": {
      "description": "Nacos properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JavaComponentProperties"
        }
      ],
      "properties": {
        "ingress": {
          "$ref": "#/definitions/JavaComponentIngress",
          "description": "Java Component Ingress configurations."
        }
      },
      "x-ms-discriminator-value": "Nacos"
    },
    "SpringCloudEurekaComponent": {
      "description": "Spring Cloud Eureka properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JavaComponentProperties"
        }
      ],
      "properties": {
        "ingress": {
          "$ref": "#/definitions/JavaComponentIngress",
          "description": "Java Component Ingress configurations."
        }
      },
      "x-ms-discriminator-value": "SpringCloudEureka"
    },
    "SpringCloudConfigComponent": {
      "description": "Spring Cloud Config properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JavaComponentProperties"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "SpringCloudConfig"
    },
    "JavaComponentsCollection": {
      "description": "Java Components ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JavaComponent"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  }
}
