{
  "swagger": "2.0",
  "info": {
    "version": "2025-02-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/maintenanceConfigurations": {
      "get": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_List",
        "description": "Gets all maintenance configurations in the specified Managed Environment.",
        "x-ms-examples": {
          "ManagedEnvironmentMaintenanceConfigurationsList": {
            "$ref": "./examples/ManagedEnvironment_MaintenanceConfigurations_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "description": "The name of the Managed Environment.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got the current maintenance configurations",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/maintenanceConfigurations/{configName}": {
      "put": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_CreateOrUpdate",
        "x-ms-examples": {
          "ManagedEnvironmentMaintenanceConfigurationsCreateOrUpdate": {
            "$ref": "./examples/ManagedEnvironment_MaintenanceConfigurations_CreateOrUpdate.json"
          }
        },
        "description": "Create or update the maintenance configuration for Managed Environment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "description": "The name of the Managed Environment.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "configName",
            "description": "The name of the maintenance configuration.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "maintenanceConfigurationEnvelope",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationResource"
            },
            "description": "Parameters to set the maintenance configuration for ManagedEnvironment ."
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The maintenance configuration was successfully updated.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationResource"
            }
          },
          "201": {
            "description": "The maintenance configuration was successfully created.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationResource"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_Delete",
        "x-ms-examples": {
          "ManagedEnvironmentMaintenanceConfigurationsDelete": {
            "$ref": "./examples/ManagedEnvironment_MaintenanceConfigurations_Delete.json"
          }
        },
        "description": "Deletes the maintenance configuration of a ManagedEnvironment .",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "description": "The name of the Managed Environment.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "configName",
            "description": "The name of the maintenance configuration.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "204": {
            "description": "No content."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_Get",
        "x-ms-examples": {
          "ManagedEnvironmentMaintenanceConfigurationsGet": {
            "$ref": "./examples/ManagedEnvironment_MaintenanceConfigurations_Get.json"
          }
        },
        "description": "Gets the maintenance configuration of a ManagedEnvironment .",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "description": "The name of the Managed Environment.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "configName",
            "description": "The name of the maintenance configuration.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response of get maintenance configurations.",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfigurationResource"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ScheduledEntry": {
      "type": "object",
      "description": "Maintenance schedule entry for a managed environment.",
      "properties": {
        "weekDay": {
          "type": "string",
          "description": "Day of the week when a managed environment can be patched.",
          "enum": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "x-ms-enum": {
            "name": "WeekDay",
            "modelAsString": false
          }
        },
        "startHourUtc": {
          "type": "integer",
          "format": "int32",
          "description": "Start hour after which managed environment maintenance can start from 0 to 23 hour."
        },
        "durationHours": {
          "type": "integer",
          "format": "int32",
          "description": "Length of maintenance window range from 8 to 24 hours."
        }
      },
      "required": [
        "weekDay",
        "startHourUtc",
        "durationHours"
      ]
    },
    "ScheduledEntries": {
      "type": "object",
      "description": "List of maintenance schedules for a managed environment.",
      "properties": {
        "scheduledEntries": {
          "x-ms-client-name": "ScheduledEntries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScheduledEntry"
          },
          "x-ms-identifiers": [],
          "description": "List of maintenance schedules for a managed environment."
        }
      },
      "required": [
        "scheduledEntries"
      ]
    },
    "MaintenanceConfigurationResource": {
      "type": "object",
      "description": "Information about the Maintenance Configuration resource.",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScheduledEntries",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "MaintenanceConfigurationCollection": {
      "type": "object",
      "description": "The response of list maintenance configuration resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MaintenanceConfigurationResource"
          },
          "description": "Results of the list maintenance configuration resources."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link for next page of results."
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
