{
  "swagger": "2.0",
  "info": {
    "title": "DnsManagementClient",
    "description": "The DNS Management Client.",
    "version": "2023-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/dnssecConfigs/default": {
      "put": {
        "tags": [
          "DnssecConfigs"
        ],
        "operationId": "DnssecConfigs_CreateOrUpdate",
        "description": "Creates or updates the DNSSEC configuration on a DNS zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the DNSSEC configuration. Omit this value to always overwrite the DNSSEC configuration. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch",
            "description": "Set to '*' to allow this DNSSEC configuration to be created, but to prevent updating existing DNSSEC configuration. Other values will be ignored."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The DNSSEC configuration has been created.",
            "schema": {
              "$ref": "#/definitions/DnssecConfig"
            }
          },
          "200": {
            "description": "The DNSSEC configuration has been updated.",
            "schema": {
              "$ref": "#/definitions/DnssecConfig"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create DnssecConfig": {
            "$ref": "./examples/CreateOrUpdateDnssecConfig.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DnssecConfigs"
        ],
        "operationId": "DnssecConfigs_Delete",
        "description": "Deletes the DNSSEC configuration on a DNS zone. This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of this DNSSEC configuration. Omit this value to always delete the DNSSEC configuration. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The DNSSEC configuration was not found."
          },
          "202": {
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              }
            },
            "description": "The DNSSEC configuration delete operation has been accepted and will complete asynchronously."
          },
          "200": {
            "description": "The DNSSEC configuration has been deleted."
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete DnssecConfig": {
            "$ref": "./examples/DeleteDnssecConfig.json"
          }
        }
      },
      "get": {
        "tags": [
          "DnssecConfigs"
        ],
        "operationId": "DnssecConfigs_Get",
        "description": "Gets the DNSSEC configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DnssecConfig"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DnssecConfig": {
            "$ref": "./examples/GetDnssecConfig.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/dnssecConfigs": {
      "get": {
        "tags": [
          "DnssecConfigs"
        ],
        "operationId": "DnssecConfigs_ListByDnsZone",
        "description": "Lists the DNSSEC configurations in a DNS zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DnssecConfigListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List DnssecConfigs": {
            "$ref": "./examples/ListDnssecConfigsByZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}": {
      "patch": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_Update",
        "description": "Updates a record set within a DNS zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "#/parameters/RelativeRecordSetNameParameter"
          },
          {
            "$ref": "#/parameters/RecordTypeParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecordSet"
            },
            "description": "Parameters supplied to the Update operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting concurrent changes."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The record set has been updated.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch A recordset": {
            "$ref": "./examples/PatchARecordset.json"
          },
          "Patch AAAA recordset": {
            "$ref": "./examples/PatchAAAARecordset.json"
          },
          "Patch CAA recordset": {
            "$ref": "./examples/PatchCaaRecordset.json"
          },
          "Patch CNAME recordset": {
            "$ref": "./examples/PatchCNAMERecordset.json"
          },
          "Patch MX recordset": {
            "$ref": "./examples/PatchMXRecordset.json"
          },
          "Patch NS recordset": {
            "$ref": "./examples/PatchNSRecordset.json"
          },
          "Patch PTR recordset": {
            "$ref": "./examples/PatchPTRRecordset.json"
          },
          "Patch SOA recordset": {
            "$ref": "./examples/PatchSOARecordset.json"
          },
          "Patch SRV recordset": {
            "$ref": "./examples/PatchSRVRecordset.json"
          },
          "Patch TXT recordset": {
            "$ref": "./examples/PatchTXTRecordset.json"
          },
          "Patch DS recordset": {
            "$ref": "./examples/PatchDSRecordset.json"
          },
          "Patch TLSA recordset": {
            "$ref": "./examples/PatchTLSARecordset.json"
          },
          "Patch NAPTR recordset": {
            "$ref": "./examples/PatchNAPTRRecordset.json"
          }
        }
      },
      "put": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_CreateOrUpdate",
        "description": "Creates or updates a record set within a DNS zone. Record sets of type SOA can be updated but not created (they are created when the DNS zone is created).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "#/parameters/RelativeRecordSetNameParameter"
          },
          {
            "$ref": "#/parameters/RecordTypeParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecordSet"
            },
            "description": "Parameters supplied to the CreateOrUpdate operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The record set has been created.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "200": {
            "description": "The record set has been updated.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create A recordset": {
            "$ref": "./examples/CreateOrUpdateARecordset.json"
          },
          "Create A recordset with alias target resource": {
            "$ref": "./examples/CreateOrUpdateARecordsetAlias.json"
          },
          "Create A recordset with traffic management profile": {
            "$ref": "./examples/CreateOrUpdateARecordSetTrafficManagementProfile.json"
          },
          "Create AAAA recordset": {
            "$ref": "./examples/CreateOrUpdateAAAARecordset.json"
          },
          "Create CAA recordset": {
            "$ref": "./examples/CreateOrUpdateCaaRecordset.json"
          },
          "Create CNAME recordset": {
            "$ref": "./examples/CreateOrUpdateCNAMERecordset.json"
          },
          "Create MX recordset": {
            "$ref": "./examples/CreateOrUpdateMXRecordset.json"
          },
          "Create NS recordset": {
            "$ref": "./examples/CreateOrUpdateNSRecordset.json"
          },
          "Create PTR recordset": {
            "$ref": "./examples/CreateOrUpdatePTRRecordset.json"
          },
          "Create SOA recordset": {
            "$ref": "./examples/CreateOrUpdateSOARecordset.json"
          },
          "Create SRV recordset": {
            "$ref": "./examples/CreateOrUpdateSRVRecordset.json"
          },
          "Create TXT recordset": {
            "$ref": "./examples/CreateOrUpdateTXTRecordset.json"
          },
          "Create DS recordset": {
            "$ref": "./examples/CreateOrUpdateDSRecordset.json"
          },
          "Create TLSA recordset": {
            "$ref": "./examples/CreateOrUpdateTLSARecordset.json"
          },
          "Create NAPTR recordset": {
            "$ref": "./examples/CreateOrUpdateNAPTRRecordset.json"
          }
        }
      },
      "delete": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_Delete",
        "description": "Deletes a record set from a DNS zone. This operation cannot be undone. Record sets of type SOA cannot be deleted (they are deleted when the DNS zone is deleted).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "#/parameters/RelativeRecordSetNameParameter"
          },
          {
            "$ref": "#/parameters/RecordTypeParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the record set. Omit this value to always delete the current record set. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The record set was not found."
          },
          "200": {
            "description": "The record set has been deleted."
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete A recordset": {
            "$ref": "./examples/DeleteARecordset.json"
          },
          "Delete AAAA recordset": {
            "$ref": "./examples/DeleteAAAARecordset.json"
          },
          "Delete CAA recordset": {
            "$ref": "./examples/DeleteCaaRecordset.json"
          },
          "Delete CNAME recordset": {
            "$ref": "./examples/DeleteCNAMERecordset.json"
          },
          "Delete MX recordset": {
            "$ref": "./examples/DeleteMXRecordset.json"
          },
          "Delete NS recordset": {
            "$ref": "./examples/DeleteNSRecordset.json"
          },
          "Delete PTR recordset": {
            "$ref": "./examples/DeletePTRRecordset.json"
          },
          "Delete SRV recordset": {
            "$ref": "./examples/DeleteSRVRecordset.json"
          },
          "Delete TXT recordset": {
            "$ref": "./examples/DeleteTXTRecordset.json"
          },
          "Delete DS recordset": {
            "$ref": "./examples/DeleteDSRecordset.json"
          },
          "Delete TLSA recordset": {
            "$ref": "./examples/DeleteTLSARecordset.json"
          },
          "Delete NAPTR recordset": {
            "$ref": "./examples/DeleteNAPTRRecordset.json"
          }
        }
      },
      "get": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_Get",
        "description": "Gets a record set.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "#/parameters/RelativeRecordSetNameParameter"
          },
          {
            "$ref": "#/parameters/RecordTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get A recordset": {
            "$ref": "./examples/GetARecordset.json"
          },
          "Get AAAA recordset": {
            "$ref": "./examples/GetAAAARecordset.json"
          },
          "Get CAA recordset": {
            "$ref": "./examples/GetCaaRecordset.json"
          },
          "Get CNAME recordset": {
            "$ref": "./examples/GetCNAMERecordset.json"
          },
          "Get MX recordset": {
            "$ref": "./examples/GetMXRecordset.json"
          },
          "Get NS recordset": {
            "$ref": "./examples/GetNSRecordset.json"
          },
          "Get PTR recordset": {
            "$ref": "./examples/GetPTRRecordset.json"
          },
          "Get SOA recordset": {
            "$ref": "./examples/GetSOARecordset.json"
          },
          "Get SRV recordset": {
            "$ref": "./examples/GetSRVRecordset.json"
          },
          "Get TXT recordset": {
            "$ref": "./examples/GetTXTRecordset.json"
          },
          "Get DS recordset": {
            "$ref": "./examples/GetDSRecordset.json"
          },
          "Get TLSA recordset": {
            "$ref": "./examples/GetTLSARecordset.json"
          },
          "Get NAPTR recordset": {
            "$ref": "./examples/GetNAPTRRecordset.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}": {
      "get": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_ListByType",
        "description": "Lists the record sets of a specified type in a DNS zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "#/parameters/RecordTypeParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of record sets to return. If not specified, returns up to 100 record sets."
          },
          {
            "name": "$recordsetnamesuffix",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/RecordSetListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List A recordsets": {
            "$ref": "./examples/ListARecordset.json"
          },
          "List AAAA recordsets": {
            "$ref": "./examples/ListAAAARecordset.json"
          },
          "List CAA recordsets": {
            "$ref": "./examples/ListCaaRecordset.json"
          },
          "List CNAME recordsets": {
            "$ref": "./examples/ListCNAMERecordset.json"
          },
          "List MX recordsets": {
            "$ref": "./examples/ListMXRecordset.json"
          },
          "List NS recordsets": {
            "$ref": "./examples/ListNSRecordset.json"
          },
          "List PTR recordsets": {
            "$ref": "./examples/ListPTRRecordset.json"
          },
          "List SOA recordsets": {
            "$ref": "./examples/ListSOARecordset.json"
          },
          "List SRV recordsets": {
            "$ref": "./examples/ListSRVRecordset.json"
          },
          "List TXT recordsets": {
            "$ref": "./examples/ListTXTRecordset.json"
          },
          "List DS recordsets": {
            "$ref": "./examples/ListDSRecordset.json"
          },
          "List TLSA recordsets": {
            "$ref": "./examples/ListTLSARecordset.json"
          },
          "List NAPTR recordsets": {
            "$ref": "./examples/ListNAPTRRecordset.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets": {
      "get": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_ListByDnsZone",
        "description": "Lists all record sets in a DNS zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of record sets to return. If not specified, returns up to 100 record sets."
          },
          {
            "name": "$recordsetnamesuffix",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/RecordSetListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List recordsets by zone": {
            "$ref": "./examples/ListRecordSetsByZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/all": {
      "get": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_ListAllByDnsZone",
        "description": "Lists all record sets in a DNS zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of record sets to return. If not specified, returns up to 100 record sets."
          },
          {
            "name": "$recordsetnamesuffix",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>",
            "x-ms-client-name": "recordSetNameSuffix"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/RecordSetListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all recordsets by zone": {
            "$ref": "./examples/ListRecordSetsByZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}": {
      "put": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_CreateOrUpdate",
        "description": "Creates or updates a DNS zone. Does not modify DNS records within the zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Zone"
            },
            "description": "Parameters supplied to the CreateOrUpdate operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch",
            "description": "Set to '*' to allow a new DNS zone to be created, but to prevent updating an existing zone. Other values will be ignored."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS zone has been updated.",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          },
          "201": {
            "description": "The DNS zone has been created.",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create zone": {
            "$ref": "./examples/CreateOrUpdateZone.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_Delete",
        "description": "Deletes a DNS zone. WARNING: All DNS records in the zone will also be deleted. This operation cannot be undone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the DNS zone. Omit this value to always delete the current zone. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS zone was not found."
          },
          "202": {
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              }
            },
            "description": "The DNS zone delete operation has been accepted and will complete asynchronously."
          },
          "200": {
            "description": "The DNS zone has been deleted."
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete zone": {
            "$ref": "./examples/DeleteZone.json"
          }
        }
      },
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_Get",
        "description": "Gets a DNS zone. Retrieves the zone properties, but not the record sets within the zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get zone": {
            "$ref": "./examples/GetZone.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_Update",
        "description": "Updates a DNS zone. Does not modify DNS records within the zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ZoneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ZoneUpdate"
            },
            "description": "Parameters supplied to the Update operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS zone has been updated.",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch zone": {
            "$ref": "./examples/PatchZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_ListByResourceGroup",
        "description": "Lists the DNS zones within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of record sets to return. If not specified, returns up to 100 record sets."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ZoneListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List zones by resource group": {
            "$ref": "./examples/ListZonesByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/getDnsResourceReference": {
      "post": {
        "operationId": "DnsResourceReference_GetByTargetResources",
        "description": "Returns the DNS records specified by the referencing targetResourceIds.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsResourceReferenceRequest"
            },
            "description": "Properties for dns resource reference request."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DnsResourceReferenceResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DNS resource reference": {
            "$ref": "./examples/GetDnsResourceReference.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "Zones_List",
        "description": "Lists the DNS zones in all resource groups in a subscription.",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of DNS zones to return. If not specified, returns up to 100 zones."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ZoneListResult"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List zones by subscription": {
            "$ref": "./examples/ListZonesBySubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ARecord": {
      "type": "object",
      "properties": {
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address of this A record."
        }
      },
      "description": "An A record."
    },
    "AaaaRecord": {
      "type": "object",
      "properties": {
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address of this AAAA record."
        }
      },
      "description": "An AAAA record."
    },
    "MxRecord": {
      "type": "object",
      "properties": {
        "preference": {
          "type": "integer",
          "format": "int32",
          "description": "The preference value for this MX record."
        },
        "exchange": {
          "type": "string",
          "description": "The domain name of the mail host for this MX record."
        }
      },
      "description": "An MX record."
    },
    "NsRecord": {
      "type": "object",
      "properties": {
        "nsdname": {
          "type": "string",
          "description": "The name server name for this NS record."
        }
      },
      "description": "An NS record."
    },
    "PtrRecord": {
      "type": "object",
      "properties": {
        "ptrdname": {
          "type": "string",
          "description": "The PTR target domain name for this PTR record."
        }
      },
      "description": "A PTR record."
    },
    "SrvRecord": {
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority value for this SRV record."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight value for this SRV record."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port value for this SRV record."
        },
        "target": {
          "type": "string",
          "description": "The target domain name for this SRV record."
        }
      },
      "description": "An SRV record."
    },
    "TxtRecord": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "type": "string"
          },
          "description": "The text value of this TXT record."
        }
      },
      "description": "A TXT record."
    },
    "CnameRecord": {
      "type": "object",
      "properties": {
        "cname": {
          "type": "string",
          "description": "The canonical name for this CNAME record."
        }
      },
      "description": "A CNAME record."
    },
    "SoaRecord": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "The domain name of the authoritative name server for this SOA record."
        },
        "email": {
          "type": "string",
          "description": "The email contact for this SOA record."
        },
        "serialNumber": {
          "type": "integer",
          "format": "int64",
          "description": "The serial number for this SOA record."
        },
        "refreshTime": {
          "type": "integer",
          "format": "int64",
          "description": "The refresh value for this SOA record."
        },
        "retryTime": {
          "type": "integer",
          "format": "int64",
          "description": "The retry time for this SOA record."
        },
        "expireTime": {
          "type": "integer",
          "format": "int64",
          "description": "The expire time for this SOA record."
        },
        "minimumTTL": {
          "type": "integer",
          "format": "int64",
          "x-ms-client-name": "minimumTtl",
          "description": "The minimum value for this SOA record. By convention this is used to determine the negative caching duration."
        }
      },
      "description": "An SOA record."
    },
    "CaaRecord": {
      "type": "object",
      "properties": {
        "flags": {
          "type": "integer",
          "format": "int32",
          "description": "The flags for this CAA record as an integer between 0 and 255."
        },
        "tag": {
          "type": "string",
          "description": "The tag for this CAA record."
        },
        "value": {
          "type": "string",
          "description": "The value for this CAA record."
        }
      },
      "description": "A CAA record."
    },
    "DigestAlgorithmType": {
      "type": "integer",
      "format": "int32",
      "description": "The digest algorithm type represents the standard digest algorithm number used to construct the digest. See: https://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml"
    },
    "SecurityAlgorithmType": {
      "type": "integer",
      "format": "int32",
      "description": "The security algorithm type represents the standard security algorithm number of the DNSKEY Resource Record. See: https://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xhtml"
    },
    "Digest": {
      "type": "object",
      "properties": {
        "algorithmType": {
          "$ref": "#/definitions/DigestAlgorithmType"
        },
        "value": {
          "type": "string",
          "description": "The digest value is a cryptographic hash value of the referenced DNSKEY Resource Record."
        }
      },
      "description": "A digest."
    },
    "DsRecord": {
      "type": "object",
      "properties": {
        "keyTag": {
          "type": "integer",
          "format": "int32",
          "description": "The key tag value is used to determine which DNSKEY Resource Record is used for signature verification."
        },
        "algorithm": {
          "$ref": "#/definitions/SecurityAlgorithmType"
        },
        "digest": {
          "$ref": "#/definitions/Digest",
          "description": "The digest entity."
        }
      },
      "description": "A DS record. For more information about the DS record format, see RFC 4034: https://www.rfc-editor.org/rfc/rfc4034"
    },
    "TlsaRecord": {
      "type": "object",
      "properties": {
        "usage": {
          "type": "integer",
          "format": "int32",
          "description": "The usage specifies the provided association that will be used to match the certificate presented in the TLS handshake."
        },
        "selector": {
          "type": "integer",
          "format": "int32",
          "description": "The selector specifies which part of the TLS certificate presented by the server will be matched against the association data."
        },
        "matchingType": {
          "type": "integer",
          "format": "int32",
          "description": "The matching type specifies how the certificate association is presented."
        },
        "certAssociationData": {
          "type": "string",
          "description": "This specifies the certificate association data to be matched."
        }
      },
      "description": "A TLSA record. For more information about the TLSA record format, see RFC 6698: https://www.rfc-editor.org/rfc/rfc6698"
    },
    "NaptrRecord": {
      "type": "object",
      "properties": {
        "order": {
          "type": "integer",
          "format": "int32",
          "description": "The order in which the NAPTR records MUST be processed in order to accurately represent the ordered list of rules. The ordering is from lowest to highest. Valid values: 0-65535."
        },
        "preference": {
          "type": "integer",
          "format": "int32",
          "description": "The preference specifies the order in which NAPTR records with equal 'order' values should be processed, low numbers being processed before high numbers. Valid values: 0-65535."
        },
        "flags": {
          "type": "string",
          "description": "The flags specific to DDDS applications. Values currently defined in RFC 3404 are uppercase and lowercase letters \"A\", \"P\", \"S\", and \"U\", and the empty string, \"\". Enclose Flags in quotation marks."
        },
        "services": {
          "type": "string",
          "description": "The services specific to DDDS applications. Enclose Services in quotation marks."
        },
        "regexp": {
          "type": "string",
          "description": "The regular expression that the DDDS application uses to convert an input value into an output value. For example: an IP phone system might use a regular expression to convert a phone number that is entered by a user into a SIP URI. Enclose the regular expression in quotation marks. Specify either a value for 'regexp' or a value for 'replacement'."
        },
        "replacement": {
          "type": "string",
          "description": "The replacement is a fully qualified domain name (FQDN) of the next domain name that you want the DDDS application to submit a DNS query for. The DDDS application replaces the input value with the value specified for replacement. Specify either a value for 'regexp' or a value for 'replacement'. If you specify a value for 'regexp', specify a dot (.) for 'replacement'."
        }
      },
      "description": "A NAPTR record. For more information about the NAPTR record format, see RFC 3403: https://www.rfc-editor.org/rfc/rfc3403"
    },
    "RecordSetProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata attached to the record set."
        },
        "TTL": {
          "type": "integer",
          "format": "int64",
          "description": "The TTL (time-to-live) of the records in the record set."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the record set.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "provisioning State of the record set.",
          "readOnly": true
        },
        "targetResource": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to an azure resource from where the dns resource value is taken."
        },
        "trafficManagementProfile": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to an azure traffic manager profile resource from where the dns resource value is taken."
        },
        "ARecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "description": "The list of A records in the record set."
        },
        "AAAARecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "AaaaRecords",
          "items": {
            "$ref": "#/definitions/AaaaRecord"
          },
          "description": "The list of AAAA records in the record set."
        },
        "MXRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "MxRecords",
          "items": {
            "$ref": "#/definitions/MxRecord"
          },
          "description": "The list of MX records in the record set."
        },
        "NSRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "NsRecords",
          "items": {
            "$ref": "#/definitions/NsRecord"
          },
          "description": "The list of NS records in the record set."
        },
        "PTRRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "PtrRecords",
          "items": {
            "$ref": "#/definitions/PtrRecord"
          },
          "description": "The list of PTR records in the record set."
        },
        "SRVRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "SrvRecords",
          "items": {
            "$ref": "#/definitions/SrvRecord"
          },
          "description": "The list of SRV records in the record set."
        },
        "TXTRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "TxtRecords",
          "items": {
            "$ref": "#/definitions/TxtRecord"
          },
          "description": "The list of TXT records in the record set."
        },
        "CNAMERecord": {
          "$ref": "#/definitions/CnameRecord",
          "x-ms-client-name": "CnameRecord",
          "description": "The CNAME record in the  record set."
        },
        "SOARecord": {
          "$ref": "#/definitions/SoaRecord",
          "x-ms-client-name": "SoaRecord",
          "description": "The SOA record in the record set."
        },
        "caaRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "CaaRecords",
          "items": {
            "$ref": "#/definitions/CaaRecord"
          },
          "description": "The list of CAA records in the record set."
        },
        "DSRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "DsRecords",
          "items": {
            "$ref": "#/definitions/DsRecord"
          },
          "description": "The list of DS records in the record set."
        },
        "TLSARecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "TlsaRecords",
          "items": {
            "$ref": "#/definitions/TlsaRecord"
          },
          "description": "The list of TLSA records in the record set."
        },
        "NAPTRRecords": {
          "type": "array",
          "x-ms-identifiers": [],
          "x-ms-client-name": "NaptrRecords",
          "items": {
            "$ref": "#/definitions/NaptrRecord"
          },
          "description": "The list of NAPTR records in the record set."
        }
      },
      "description": "Represents the properties of the records in the record set."
    },
    "RecordSet": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the record set.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the record set.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the record set.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The etag of the record set."
        },
        "properties": {
          "$ref": "#/definitions/RecordSetProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the record set."
        }
      },
      "x-ms-azure-resource": true,
      "description": "Describes a DNS record set (a collection of DNS records with the same name and type)."
    },
    "RecordSetUpdateParameters": {
      "type": "object",
      "properties": {
        "RecordSet": {
          "$ref": "#/definitions/RecordSet",
          "description": "Specifies information about the record set being updated."
        }
      },
      "description": "Parameters supplied to update a record set."
    },
    "RecordSetListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecordSet"
          },
          "description": "Information about the record sets in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a record set List operation."
    },
    "DelegationSignerInfo": {
      "type": "object",
      "properties": {
        "digestAlgorithmType": {
          "$ref": "#/definitions/DigestAlgorithmType",
          "readOnly": true
        },
        "digestValue": {
          "type": "string",
          "description": "The digest value is a cryptographic hash value of the referenced DNSKEY Resource Record.",
          "readOnly": true
        },
        "record": {
          "type": "string",
          "description": "The record represents a delegation signer (DS) record.",
          "readOnly": true
        }
      },
      "description": "The delegation signer information."
    },
    "SigningKey": {
      "type": "object",
      "properties": {
        "delegationSignerInfo": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/DelegationSignerInfo"
          },
          "description": "The delegation signer information.",
          "readOnly": true
        },
        "flags": {
          "type": "integer",
          "format": "int32",
          "description": "The flags specifies how the key is used.",
          "readOnly": true
        },
        "keyTag": {
          "type": "integer",
          "format": "int32",
          "description": "The key tag value of the DNSKEY Resource Record.",
          "readOnly": true
        },
        "protocol": {
          "type": "integer",
          "format": "int32",
          "description": "The protocol value. The value is always 3.",
          "readOnly": true
        },
        "publicKey": {
          "type": "string",
          "description": "The public key, represented as a Base64 encoding.",
          "readOnly": true
        },
        "securityAlgorithmType": {
          "$ref": "#/definitions/SecurityAlgorithmType",
          "readOnly": true
        }
      },
      "description": "Represents the signing key."
    },
    "DnssecProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Provisioning State of the DNSSEC configuration.",
          "readOnly": true
        },
        "signingKeys": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/SigningKey"
          },
          "description": "The list of signing keys.",
          "readOnly": true
        }
      },
      "description": "Represents the DNSSEC properties."
    },
    "DnssecConfig": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnssecProperties",
          "x-ms-client-flatten": true,
          "description": "The DNSSEC properties.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the DNSSEC configuration.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the DNSSEC configuration.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the DNSSEC configuration.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The etag of the DNSSEC configuration."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true,
      "description": "Represents the DNSSEC configuration."
    },
    "DnssecConfigListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DnssecConfig"
          },
          "description": "Information about the DNSSEC configurations in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a List DNSSEC configurations operation."
    },
    "ZoneProperties": {
      "type": "object",
      "properties": {
        "maxNumberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of record sets that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "maxNumberOfRecordsPerRecordSet": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of records per record set that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "numberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The current number of record sets in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "nameServers": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "type": "string"
          },
          "description": "The name servers for this DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        },
        "zoneType": {
          "type": "string",
          "enum": [
            "Public",
            "Private"
          ],
          "x-ms-enum": {
            "name": "ZoneType",
            "modelAsString": false
          },
          "default": "Public",
          "description": "The type of this DNS zone (Public or Private)."
        },
        "registrationVirtualNetworks": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "description": "A list of references to virtual networks that register hostnames in this DNS zone. This is a only when ZoneType is Private."
        },
        "resolutionVirtualNetworks": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "description": "A list of references to virtual networks that resolve records in this DNS zone. This is a only when ZoneType is Private."
        },
        "signingKeys": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/SigningKey"
          },
          "description": "The list of signing keys.",
          "readOnly": true
        }
      },
      "description": "Represents the properties of the zone."
    },
    "Zone": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag of the zone."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ZoneProperties",
          "description": "The properties of the zone."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Describes a DNS zone."
    },
    "ZoneUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Describes a request to update a DNS zone."
    },
    "ZoneListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Zone"
          },
          "description": "Information about the DNS zones."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response to a Zone List or ListAll operation."
    },
    "DnsResourceReferenceRequest": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DnsResourceReferenceRequestProperties",
          "description": "The properties of the Resource Reference Request."
        }
      },
      "description": "Represents the properties of the Dns Resource Reference Request."
    },
    "DnsResourceReferenceRequestProperties": {
      "type": "object",
      "properties": {
        "targetResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "description": "A list of references to azure resources for which referencing dns records need to be queried."
        }
      },
      "description": "Represents the properties of the Dns Resource Reference Request."
    },
    "DnsResourceReferenceResult": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DnsResourceReferenceResultProperties",
          "description": "The result of dns resource reference request. Returns a list of dns resource references for each of the azure resource in the request."
        }
      },
      "description": "Represents the properties of the Dns Resource Reference Result."
    },
    "DnsResourceReferenceResultProperties": {
      "type": "object",
      "properties": {
        "dnsResourceReferences": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/DnsResourceReference"
          },
          "description": "The result of dns resource reference request. A list of dns resource references for each of the azure resource in the request"
        }
      },
      "description": "The result of dns resource reference request. Returns a list of dns resource references for each of the azure resource in the request."
    },
    "DnsResourceReference": {
      "type": "object",
      "properties": {
        "dnsResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "description": "A list of dns Records "
        },
        "targetResource": {
          "$ref": "#/definitions/SubResource",
          "description": "A reference to an azure resource from where the dns resource value is taken."
        }
      },
      "description": "Represents a single Azure resource and its referencing DNS records."
    },
    "Resource": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "required": [
        "location"
      ],
      "description": "Common properties of an Azure Resource Manager resource"
    },
    "SubResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id."
        }
      },
      "description": "A reference to a another resource"
    },
    "CloudError": {
      "type": "object",
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "Cloud error body."
        }
      },
      "description": "An error response from the service."
    },
    "CloudErrorBody": {
      "type": "object",
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the service."
    }
  },
  "parameters": {
    "ZoneNameParameter": {
      "name": "zoneName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the DNS zone (without a terminating dot).",
      "x-ms-parameter-location": "method"
    },
    "RelativeRecordSetNameParameter": {
      "name": "relativeRecordSetName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the record set, relative to the name of the zone.",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    },
    "RecordTypeParameter": {
      "name": "recordType",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The type of DNS record in this record set.",
      "enum": [
        "A",
        "AAAA",
        "CAA",
        "CNAME",
        "MX",
        "NS",
        "PTR",
        "SOA",
        "SRV",
        "TXT",
        "TLSA",
        "DS",
        "NAPTR"
      ],
      "x-ms-enum": {
        "name": "RecordType",
        "modelAsString": false
      },
      "x-ms-parameter-location": "method"
    }
  }
}
