{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "DstsServiceAccount Provider",
    "version": "2021-02-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dstsServiceAccounts": {
      "get": {
        "description": "Lists all the DstsServiceAccounts in a subscription.",
        "x-ms-examples": {
          "Get DstsServiceAccounts in a subscription": {
            "$ref": "./examples/GetAllDstsServiceAccount.json"
          }
        },
        "operationId": "DstsServiceAccount_listSubscriptionLevel",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of DstsServiceAccounts.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dstsServiceAccounts": {
      "get": {
        "description": "Lists all the DstsServiceAccounts in a ResourceGroup.",
        "x-ms-examples": {
          "Get DstsServiceAccounts in a ResourceGroup": {
            "$ref": "./examples/GetDstsServiceAccountUnderResourceGroup.json"
          }
        },
        "operationId": "DstsServiceAccounts_listResourceGroupLevel",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of DstsServiceAccounts.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dstsServiceAccounts/{resourceName}": {
      "put": {
        "description": "Create or update DstsServiceAccount.",
        "x-ms-examples": {
          "Create or update a DstsServiceAccount": {
            "$ref": "./examples/CreateDstsServiceAccount.json"
          }
        },
        "operationId": "DstsServiceAccount_CreateUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "DstsServiceAccount",
            "description": "DstsServiceAccount details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "DstsServiceAccount Resource created successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountModel"
            }
          },
          "200": {
            "description": "DstsServiceAccount Resource updated successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Patch DstsServiceAccount.",
        "x-ms-examples": {
          "Patch DstsServiceAccount": {
            "$ref": "./examples/PatchDstsServiceAccount.json"
          }
        },
        "operationId": "DstsServiceAccount_patch",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "DstsServiceAccount",
            "description": "DstsServiceAccount details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DstsServiceAccount Resource patch response.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Returns a DstsServiceAccount info",
        "x-ms-examples": {
          "Get DstsServiceAccount": {
            "$ref": "./examples/GetDstsServiceAccount.json"
          }
        },
        "operationId": "DstsServiceAccountInfo_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DstsServiceAccount info.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete DstsServiceAccount",
        "x-ms-examples": {
          "Delete a DstsServiceAccount": {
            "$ref": "./examples/DeleteDstsServiceAccount.json"
          }
        },
        "operationId": "DstsServiceAccount_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DstsServiceAccount exists and deleted successfully."
          },
          "204": {
            "description": "DstsServiceAccount does not exist but request is well formed."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DstsServiceAccountResource": {
      "required": [
        "GroupName"
      ],
      "type": "object",
      "description": "DstsServiceAccount properties",
      "properties": {
        "GroupName": {
          "type": "string",
          "description": "Name of the ServiceAccountGroup in Dscm to which the ServiceAccount belongs. Example: ProductionGroup"
        },
        "AccountName": {
          "type": "string",
          "description": "Name of the ServiceAccount, to be specified optionally if the ServiceAccountGroup does not specify a naming pattern for its member ServiceAccounts. Example: prod-useast.azcis.trafficmanager.net"
        },
        "DstsInstance": {
          "type": "string",
          "description": "Dsts instance on which the ServiceAccount should be created. If not specified, the ServiceAccount is created on the regional dsts instance corresponding to the resource location. Example: useast-dsts.dsts.core.windows.net"
        }
      }
    },
    "DstsServiceAccountModel": {
      "type": "object",
      "description": "DstsServiceAccount Response",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the feature."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID of the feature."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type of the feature."
        },
        "location": {
          "type": "string",
          "description": "location"
        },
        "properties": {
          "$ref": "#/definitions/DstsServiceAccountResource",
          "description": "DstsServiceAccountResource detail"
        }
      }
    },
    "DstsServiceAccountResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DstsServiceAccountModel"
          },
          "description": "An array of Dsts ServiceAccount"
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of DstsServiceAccount"
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
