{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "Autopilot Environment Provider",
    "version": "2020-06-10-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/autopilotEnvironments": {
      "get": {
        "description": "List an Environment info",
        "operationId": "EnvironmentInfo_listSubscriptionLevel",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Environment info.",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/autopilotEnvironments": {
      "get": {
        "description": "List an Environment info",
        "operationId": "EnvironmentInfo_listResourceGroupLevel",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Environment info.",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/autopilotEnvironments/{resourceName}": {
      "put": {
        "description": "Create Update environment.",
        "operationId": "Environment_CreateUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "EnvironmentResponse",
            "description": "Environment details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Resource create response.",
            "schema": {
              "$ref": "#/definitions/AutopilotEnvironmentResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
            "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "patch environment.",
        "operationId": "Environment_patch",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "EnvironmentResponse",
            "description": "Environment details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Resource create response.",
            "schema": {
              "$ref": "#/definitions/AutopilotEnvironmentResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
            "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Returns an Environment info",
        "operationId": "EnvironmentInfo_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Environment info.",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete Environment",
        "operationId": "Environment_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Environment.",
            "schema": {
              "$ref": "#/definitions/AutopilotEnvironmentResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EnvironmentResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "location": {
          "type": "string",
          "description": "location"
        },
        "properties": {
          "$ref": "#/definitions/EnvironmentResource",
          "description": "The error details."
        }
      }
    },
    "EnvironmentResource": {
      "type": "object",
      "description": "Environment details",
      "properties": {
        "modelEnvironment": {
          "type": "string",
          "description": "Name of the source environment and cluster"
        },
        "mode": {
          "type": "string",
          "description": "Basic or All Mode indicate clone customer config file or just basic file"
        },
        "enlistmentType": {
          "type": "string",
          "description": "Indicate APGold or PFGold"
        },
        "naming": {
          "type": "object",
          "description": "Target environment/Cluster name",
          "properties": {
            "prefix": {
              "type": "string",
              "description": "Target environment prefix"
            },
            "cluster": {
              "type": "string",
              "description": "Target cluster name"
            }
          }
        }
      }
    },
    "OperationStatusResponse": {
      "required": [
        "id",
        "status",
        "environmentResource"
      ],
      "type": "object",
      "description": "Operation Status response",
      "properties": {
        "id": {
          "type": "string",
          "description": "subscriptions/{id}/providers/{providerName}/locations/{location}/operationsStatus/{id}"
        },
        "location": {
          "type": "string",
          "description": "Location"
        },
        "status": {
          "type": "string",
          "description": "RP defined values | Succeeded | Failed | Canceled"
        },
        "startTime": {
          "type": "string",
          "description": "<DateLiteral per ISO8601>",
          "default": "2020-01-01T00:00:00+00:00"
        },
        "endTime": {
          "type": "string",
          "description": "<DateLiteral per ISO8601>",
          "default": "2020-01-01T00:00:00+00:00"
        },
        "percentComplete": {
          "type": "string",
          "description": "<double between 0 and 100>",
          "default": "0.0"
        },
        "environmentResource": {
          "$ref": "#/definitions/EnvironmentResource",
          "description": "EnvironmentResource detail"
        }
      }
    },
    "AutopilotEnvironmentResponse": {
      "type": "object",
      "description": "Autopilot Environment Response",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the feature."
        },
        "id": {
          "type": "string",
          "description": "The resource ID of the feature."
        },
        "type": {
          "type": "string",
          "description": "The resource type of the feature."
        },
        "properties": {
          "$ref": "#/definitions/EnvironmentResource",
          "description": "EnvironmentResource detail"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource.",
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id of operation.",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Location.",
      "x-ms-parameter-location": "method"
    }
  }
}