{
  "swagger": "2.0",
  "info": {
    "version": "2018-07-01",
    "title": "DeploymentAdminClient",
    "description": "Deployment Admin Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages": {
      "get": {
        "x-ms-examples": {
          "Return product packages list.": {
            "$ref": "./examples/ProductPackage/List.json"
          }
        },
        "description": "Returns an array of product packages.",
        "tags": [
          "ProductPackages"
        ],
        "operationId": "ProductPackages_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductPackagesList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{productId}": {
      "get": {
        "x-ms-examples": {
          "Return the product package details.": {
            "$ref": "./examples/ProductPackage/Get.json"
          }
        },
        "description": "Retrieves the specific product package details.",
        "tags": [
          "ProductPackages"
        ],
        "operationId": "ProductPackages_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductPackage"
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Creates a new product package.": {
            "$ref": "./examples/ProductPackage/Create.json"
          }
        },
        "description": "Creates a new product package.",
        "tags": [
          "ProductPackages"
        ],
        "operationId": "ProductPackages_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductPackage"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "x-ms-examples": {
          "Removes a product package.": {
            "$ref": "./examples/ProductPackage/Delete.json"
          }
        },
        "description": "Deletes a product package.",
        "tags": [
          "ProductPackages"
        ],
        "operationId": "ProductPackages_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Object model of azure resource manager base.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "ID of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of Resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "ProductPackage": {
      "description": "Properties for a product package.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a product package.",
          "$ref": "#/definitions/ProductPackageProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProductPackagesList": {
      "description": "List of product packages.",
      "properties": {
        "value": {
          "description": "List of product packages.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductPackage"
          }
        },
        "nextLink": {
          "description": "Continuation Token.",
          "type": "string"
        }
      }
    },
    "ProductPackageProperties": {
      "type": "object",
      "description": "Properties for Product package.",
      "properties": {
        "fileContainerId": {
          "description": "File container resource identifier containing product manifest.",
          "$ref": "#/definitions/FileContainerId"
        },
        "isDeployable": {
          "description": "Value indicating whether the package is applicable for deployment.",
          "type": "boolean"
        },
        "isUpdatable": {
          "description": "Value indicating whether the package is applicable for update.",
          "type": "boolean"
        },
        "productDeploymentId": {
          "description": "The identifier of product deployment; null if this version is not installed.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "type": "string"
        }
      }
    },
    "FileContainerId": {
      "description": "File container resource identifier containing product manifest.",
      "type": "string"
    },
    "ProductProperties": {
      "description": "Additional properties of the product",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the product",
          "type": "string"
        }
      }
    },
    "ProductLink": {
      "description": "Link to a product.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Displayed name of product.",
          "type": "string"
        },
        "uri": {
          "description": "URI to product.",
          "type": "string"
        }
      }
    },
    "ProductLinks": {
      "description": "List of product links.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/ProductLink"
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string",
      "default": "2018-07-01"
    },
    "ProductIdParameter": {
      "name": "productId",
      "in": "path",
      "description": "The product identifier.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
