{
    "swagger": "2.0",
    "info": {
        "title": "Azure Maps",
        "version": "1.0",
        "description": "Azure Maps REST APIs"
    },
    "host": "atlas.microsoft.com",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "parameters": {
        "SubscriptionKey": {
            "name": "subscription-key",
            "description": "Azure Maps subscription key",
            "type": "string",
            "in": "query",
            "required": true,
            "x-ms-parameter-location": "client"
        },
        "ApiVersion": {
            "name": "api-version",
            "description": "Version number of Azure Maps API.  Current version is 1.0",
            "type": "string",
            "in": "query",
            "required": true,
            "default": "1.0",
            "x-ms-parameter-location": "client"
        },
        "AcceptLanguage": {
            "name": "Accept-Language",
            "in": "header",
            "description": "Specifies the list of acceptable ISO 639-1 language codes in which the timezone names should be returned.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "TimezoneOptions": {
            "name": "options",
            "in": "query",
            "description": "Alternatively, use alias \"o\". Options available for types of information returned in the result.",
            "required": false,
            "type": "string",
            "enum": [
                "none",
                "zoneInfo",
                "transitions",
                "all"
            ],
            "x-ms-enum": {
                "name": "options",
                "modelAsString": false,
                "values": [
                    {
                        "value": "none",
                        "description": "Do not include zoneinfo or transitions in the result."
                    },
                    {
                        "value": "zoneInfo",
                        "description": "Include additional time zone info in the result."
                    },
                    {
                        "value": "transitions",
                        "description": "Include transition information in the result (The number of transitions is currently capped at 250)."
                    },
                    {
                        "value": "all",
                        "description": "Include both zoneinfo and transitions in the result."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "TimezoneTimeStamp": {
            "name": "timeStamp",
            "in": "query",
            "description": "Alternatively, use alias \"stamp\", or \"s\". Reference time, if omitted, the API will use the machine time serving the request.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method",
            "format": "date-time"
        },
        "TimezoneTransitionsFrom": {
            "name": "transitionsFrom",
            "in": "query",
            "description": "Alternatively, use alias \"tf\". The start date from which daylight savings time (DST) transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method",
            "format": "date-time"
        },
        "TimezoneTransitionsYears": {
            "name": "transitionsYears",
            "in": "query",
            "description": "Alternatively, use alias \"ty\". The number of years from \"transitionsFrom\" for which DST transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "TextFormat": {
            "name": "format",
            "description": "Desired format of the response. Possible values are json \u0026 xml.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "json",
                "xml"
            ],
            "x-ms-parameter-location": "method"
        },
        "RasterTileFormat": {
            "name": "format",
            "description": "Desired format of the response. Possible value: png.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "png"
            ],
            "x-ms-enum": {
                "name": "format",
                "modelAsString": false,
                "values": [
                    {
                        "value": "png",
                        "description": "An image in the png format. Supports zoom levels 0 through 18."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "TileFormat": {
            "name": "format",
            "description": "Desired format of the response. Possible values are png \u0026 pbf.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "png",
                "pbf"
            ],
            "x-ms-enum": {
                "name": "format",
                "modelAsString": false,
                "values": [
                    {
                        "value": "png",
                        "description": "An image in the png format. Supports zoom levels 0 through 18."
                    },
                    {
                        "value": "pbf",
                        "description": "Vector graphic in the pbf format. Supports zoom levels 0 through 20."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "xTileIndex": {
            "name": "x",
            "x-ms-client-name": "xTileIndex",
            "in": "query",
            "description": "X index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857) ",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "yTileIndex": {
            "name": "y",
            "x-ms-client-name": "yTileIndex",
            "in": "query",
            "description": "Y index for the desired tile, based on Spherical Mercator projection coordinate system (EPSG:3857)",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "Zoom": {
            "name": "zoom",
            "in": "query",
            "description": "Zoom level for desired tile.",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "Text": {
            "name": "text",
            "in": "query",
            "description": "Yes/no value to exclude textual data from response. Only images and country names will be in response.",
            "required": false,
            "type": "string",
            "enum": [
                "yes",
                "no"
            ],
            "default": "yes",
            "x-ms-parameter-location": "method"
        },
        "Language": {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "OptionalBiasLat": {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased.  E.g. 37.337",
            "required": false,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "OptionalBiasLon": {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased.  E.g. -121.89",
            "required": false,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "RequiredBiasLat": {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased.  E.g. 37.337",
            "required": true,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "RequiredBiasLon": {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased.  E.g. -121.89",
            "required": true,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "Typeahead": {
            "name": "typeahead",
            "in": "query",
            "description": "Boolean.  If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-parameter-location": "method"
        },
        "Limit": {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned.",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-parameter-location": "method"
        },
        "CountrySet": {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes, e.g. FR, ES. This will limit the search to the specified countries",
            "required": false,
            "type": "array",
            "items": {
                "type": "string"
            },
            "collectionFormat": "csv",
            "x-ms-parameter-location": "method"
        },
        "Radius": {
            "name": "radius",
            "in": "query",
            "description": "The radius in meters to for the results to be constrained to the defined area",
            "required": false,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "Query": {
            "name": "query",
            "in": "query",
            "description": "The applicable query string and/or coordinates",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "SearchResultIndexSet": {
            "name": "idxSet",
            "in": "query",
            "description": "A comma separated list of indexes which should be utilized for the search. Item order does not matter. Available indexes are: Addr = Address range interpolation, Geo = Geographies, PAD = Point Addresses, POI = Points of interest, Str = Streets, Xstr = Cross Streets (intersections)",
            "required": false,
            "type": "array",
            "items": {
                "type": "string",
                "enum": [
                    "Addr",
                    "Geo",
                    "PAD",
                    "POI",
                    "Str",
                    "Xstr"
                ],
                "x-ms-enum": {
                    "name": "idxSet",
                    "modelAsString": false,
                    "values": [
                        {
                            "value": "Addr",
                            "description": "Address range interpolation"
                        },
                        {
                            "value": "Geo",
                            "description": "Geographies"
                        },
                        {
                            "value": "PAD",
                            "description": "Point Addresses"
                        },
                        {
                            "value": "POI",
                            "description": "Points of interest"
                        },
                        {
                            "value": "Str",
                            "description": "Streets"
                        },
                        {
                            "value": "Xstr",
                            "description": "Cross Streets (Intersections)"
                        }
                    ]
                }
            },
            "collectionFormat": "csv",
            "x-ms-parameter-location": "method"
        },
        "BoundingBoxTopLeft": {
            "x-client-name": "BoundingBoxTopLeft",
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box.  E.g. 37.553,-122.453",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "BoundingBoxBottomRight": {
            "x-client-name": "BoundingBoxBottomRight",
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box. E.g. 37.553,-122.453",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "responses": {
        "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        },
        "401": {
            "description": "Unauthorized: Access is denied due to invalid credentials.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        },
        "403": {
            "description": "Permission, capacity, or authentication issues.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        },
        "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        },
        "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        }
    },
    "paths": {
        "/map/copyright/bounding/{format}": {
            "get": {
                "description": "Returns the copyright information for a given bounding box",
                "operationId": "Render_GetCopyrightBounding",
                "x-ms-examples": {
                    "GetCopyrightBounding": {
                        "$ref": "./examples/GetCopyrightBounding.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "name": "mincoordinates",
                        "in": "query",
                        "description": "Minimum coordinates of bounding box in latitude longitude coordinate system.  E.g. 52.41064,4.84228",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "maxcoordinates",
                        "in": "query",
                        "description": "Maximum coordinates of bounding box in latitude longitude coordinate system.  E.g. 52.41064,4.84228",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/Text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightBoundingResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/caption/{format}": {
            "get": {
                "description": "Returns the copyright caption information",
                "operationId": "Render_GetCopyrightCaption",
                "x-ms-examples": {
                    "GetCopyrightCaption": {
                        "$ref": "./examples/GetCopyrightCaption.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightCaptionResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/world/{format}": {
            "get": {
                "description": "Returns the copyright information for the world",
                "operationId": "Render_GetCopyrightWorld",
                "x-ms-examples": {
                    "GetCopyrightWorld": {
                        "$ref": "./examples/GetCopyrightWorld.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightWorldResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/tile/{format}": {
            "get": {
                "description": "Returns the copyright information for a given tile",
                "operationId": "Render_GetCopyrightTile",
                "x-ms-examples": {
                    "GetCopyrightTile": {
                        "$ref": "./examples/GetCopyrightTile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Zoom"
                    },
                    {
                        "$ref": "#/parameters/xTileIndex"
                    },
                    {
                        "$ref": "#/parameters/yTileIndex"
                    },
                    {
                        "$ref": "#/parameters/Text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightTileResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/static/{format}": {
            "get": {
                "description": "Returns a raster map image",
                "operationId": "Render_GetMapStaticImage",
                "x-ms-examples": {
                    "GetMapStaticImage": {
                        "$ref": "./examples/GetMapStaticImage.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/RasterTileFormat"
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Map layer requested. If layer is set to labels or hybrid, the format should be png.",
                        "required": false,
                        "default": "basic",
                        "type": "string",
                        "enum": [
                            "basic",
                            "hybrid",
                            "labels"
                        ],
                        "x-ms-enum": {
                            "name": "layer",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "basic",
                                    "description": "Returns an image containing all map features including polygons, borders, roads and labels."
                                },
                                {
                                    "value": "hybrid",
                                    "description": "Returns an image containing borders, roads, and labels, and can be overlaid on other tiles (such as satellite imagery) to produce hybrid tiles."
                                },
                                {
                                    "value": "labels",
                                    "description": "Returns an image of just the map\u0027s label information."
                                }
                            ]
                        }
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "description": "Map style to be returned.  Currently, only style available is main.",
                        "required": false,
                        "default": "main",
                        "type": "string",
                        "enum": [
                            "main"
                        ]
                    },
                    {
                        "name": "zoom",
                        "in": "query",
                        "description": "Zoom level of the map desired. Note: bbox may not be used in conjunction with center, height or width.",
                        "required": false,
                        "default": 12,
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 20
                    },
                    {
                        "name": "center",
                        "in": "query",
                        "description": "Coordinates of the center point. center and bbox shouldn\u0027t be used together. Format: \u0027lon,lat\u0027. Projection used - EPSG:3857. Longitude range: -180 to 180. Latitude range: -85 to 85. Note: bbox may not be used in conjunction with center, height or width.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "Bounding box in the projection stated in center.  Format : \u0027minLon, minLat, maxLon, maxLat\u0027. Note: bbox may not be used in conjunction with center, height or width.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "Height of the resulting image, in pixels. Note: bbox may not be used in conjunction with center, height or width.",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 8192,
                        "default": 512
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "Width of the resulting image, in pixels.   Range is 1 to 8192. Default is 512. Note: bbox may not be used in conjunction with zoom, center, height or width.",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 8192,
                        "default": 512
                    }
                ],
                "produces": [
                    "image/png",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MapStaticResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/tile/{format}": {
            "get": {
                "description": "Returns a raster or vector map tile",
                "operationId": "Render_GetMapTile",
                "x-ms-examples": {
                    "GetMapTile": {
                        "$ref": "./examples/GetMapTile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TileFormat"
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Map layer requested. Possible values are basic,hybrid \u0026 labels.",
                        "required": true,
                        "enum": [
                            "basic",
                            "hybrid",
                            "labels"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "layer",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "basic",
                                    "description": "Returns a tile containing all map features including polygons, borders, roads and labels."
                                },
                                {
                                    "value": "hybrid",
                                    "description": "Returns a tile containing borders, roads, and labels, and can be overlaid on other tiles (such as satellite imagery) to produce hybrid tiles."
                                },
                                {
                                    "value": "labels",
                                    "description": "Returns a tile of just the map\u0027s label information."
                                }
                            ]
                        }
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "description": "Map style to be returned.  Currently there is only one style, e.g. main",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "main"
                        ],
                        "x-ms-enum": {
                            "name": "MapTileStyle",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "main",
                                    "description": "Azure Maps main style"
                                }
                            ]
                        }
                    },
                    {
                        "$ref": "#/parameters/Zoom"
                    },
                    {
                        "$ref": "#/parameters/xTileIndex"
                    },
                    {
                        "$ref": "#/parameters/yTileIndex"
                    },
                    {
                        "name": "tileSize",
                        "in": "query",
                        "description": "The size of the returned map tile in pixels.",
                        "required": false,
                        "type": "integer",
                        "default": 256,
                        "enum": [
                            256,
                            512
                        ],
                        "x-ms-enum": {
                            "name": "tileSize",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": 256,
                                    "description": "Return a 256 by 256 pixel tile."
                                },
                                {
                                    "value": 512,
                                    "description": "Return a 512 by 512 pixel tile."
                                }
                            ]
                        }
                    },
                    {
                        "$ref": "#/parameters/Language"
                    }
                ],
                "produces": [
                    "image/png",
                    "image/pbf",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MapTileResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/fuzzy/{format}": {
            "get": {
                "description": "Returns the search results from a fuzzy search",
                "operationId": "Search_GetSearchFuzzy",
                "x-ms-examples": {
                    "GetSearchFuzzy": {
                        "$ref": "./examples/GetSearchFuzzy.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set.",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 1900
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "name": "extendedPostalCodesFor",
                        "in": "query",
                        "description": "Indexes for which extended postal codes should be included in the results. Available indexes are: Addr = Address ranges, Geo = Geographies, PAD = Point Addresses, POI = Points of Interest, Str = Streets, XStr = Cross Streets (intersections)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "minFuzzyLevel",
                        "in": "query",
                        "description": "Minimum fuzzyness level to be used.",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 4
                    },
                    {
                        "name": "maxFuzzyLevel",
                        "in": "query",
                        "description": "Maximum fuzzyness level to be used.",
                        "required": false,
                        "type": "integer",
                        "default": 2,
                        "minimum": 1,
                        "maximum": 4
                    },
                    {
                        "$ref": "#/parameters/SearchResultIndexSet"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchFuzzyResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/poi/{format}": {
            "get": {
                "description": "Returns the search results from a POI search",
                "operationId": "Search_GetSearchPOI",
                "x-ms-examples": {
                    "GetSearchPOI": {
                        "$ref": "./examples/GetSearchPOI.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set.",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 1900
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "name": "extendedPostalCodesFor",
                        "in": "query",
                        "description": "Indexes for which extended postal codes should be included in the results. POI = Points of Interest",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchPoiResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/poi/category/{format}": {
            "get": {
                "description": "Returns the search results from a POI Category search",
                "operationId": "Search_GetSearchPOICategory",
                "x-ms-examples": {
                    "GetSearchPOICategory": {
                        "$ref": "./examples/GetSearchPOICategory.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "multiplier",
                        "in": "query",
                        "description": "Multiplies the limit by this value to gather more candidate POIs, which will then be sorted by drive distance, returning only the top candidates according to the limit.",
                        "required": false,
                        "type": "integer",
                        "default": 2
                    },
                    {
                        "name": "routingTimeout",
                        "in": "query",
                        "description": "Number of milliseconds routing engine can take to give the results.",
                        "required": false,
                        "type": "integer",
                        "default": 4000
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "name": "extendedPostalCodesFor",
                        "in": "query",
                        "description": "Indexes for which extended postal codes should be included in the results. Available indexes are: Addr = Address ranges, Geo = Geographies, PAD = Point Addresses, POI = Points of Interest, Str = Streets, XStr = Cross Streets (intersections)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchPoiCategoryResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/{format}": {
            "get": {
                "description": "In some cases, a fuzzy search might be too much.  For example, if you are only interested in traditional geocoding, Address Search can be used for address look up exclusively. The geocoding is performed by hitting the endpoint with just the address or partial address in question. The search index will be queried for everything above the street level data and no POIs will be returned. Note that the geocoder is very tolerant of typos and incomplete addresses. It will also handle everything from exact street addresses or street or intersections as well as higher level geographies such as city centers, counties, states etc.",
                "operationId": "Search_GetSearchAddress",
                "x-ms-examples": {
                    "GetSearchAddress": {
                        "$ref": "./examples/GetSearchAddress.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set.",
                        "required": false,
                        "type": "integer",
                        "minimum": 0,
                        "default": 0
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "name": "extendedPostalCodesFor",
                        "in": "query",
                        "description": "Indexes for which extended postal codes should be included in the results. Available indexes are: Addr = Address ranges, Geo = Geographies, PAD = Point Addresses, POI = Points of Interest, Str = Streets, XStr = Cross Streets (intersections)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/reverse/{format}": {
            "get": {
                "description": "Returns the search results from a Reverse address search",
                "operationId": "Search_GetSearchAddressReverse",
                "x-ms-examples": {
                    "GetSearchAddressReverse": {
                        "$ref": "./examples/GetSearchAddressReverse.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "name": "spatialKeys",
                        "in": "query",
                        "description": "Boolean.  If the spatialKeys flag is set, the response will also contain the deCarta proprietary geo-spatial key information for a specified location",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "returnSpeedLimit",
                        "in": "query",
                        "description": "Boolean.  To enable return of the posted speedlimit",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "heading",
                        "in": "query",
                        "description": "The directional heading of the vehicle in degrees, for travel along a segment of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can include upto one decimal place",
                        "required": false,
                        "type": "number",
                        "minimum": -360.0,
                        "maximum": 360.0
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "If a number is sent in along with the request, the response may include the side of the street (Left/Right) and also an offset position for that number",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "returnRoadUse",
                        "in": "query",
                        "description": "Boolean.  To enable return of the road use array for reversegeocodes at street level",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "roadUse",
                        "in": "query",
                        "description": "To restrict reversegeocodes to a certain type of roaduse. The road use array for reversegeocodes can be one or more of LimitedAccess, Arterial, Terminal, Ramp, Rotary, LocalStreet",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressReverseResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/reverse/crossStreet/{format}": {
            "get": {
                "description": "Returns the search results from a Cross Street address search",
                "operationId": "Search_GetSearchAddressReverseCrossStreet",
                "x-ms-examples": {
                    "GetSearchAddressReverseCrossStreet": {
                        "$ref": "./examples/GetSearchAddressReverseCrossStreet.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "name": "spatialKeys",
                        "in": "query",
                        "description": "Boolean.  If the spatialKeys flag is set, the response will also contain the deCarta proprietary geo-spatial key information for a specified location",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "heading",
                        "in": "query",
                        "description": "The directional heading of the vehicle in degrees, for travel along a segment of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can include upto one decimal place",
                        "required": false,
                        "type": "number",
                        "minimum": -360.0,
                        "maximum": 360.0
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressReverseCrossStreetResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/structured/{format}": {
            "get": {
                "description": "Returns the search results from a Structured address search",
                "operationId": "Search_GetSearchAddressStructured",
                "x-ms-examples": {
                    "GetSearchAddressStructured": {
                        "$ref": "./examples/GetSearchAddressStructured.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "name": "countryCode",
                        "in": "query",
                        "description": "The 2 or 3 letter country code portion of an address.  E.g. US",
                        "required": true,
                        "default": "US",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of responses that will be returned",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "streetNumber",
                        "in": "query",
                        "description": "The street number portion of an address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "streetName",
                        "in": "query",
                        "description": "The street name portion of an address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "crossStreet",
                        "in": "query",
                        "description": "The cross street name for the structured address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "municipality",
                        "in": "query",
                        "description": "The municipality portion of an address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "municipalitySubdivision",
                        "in": "query",
                        "description": "The municipality subdivision (sub/super city) for the structured address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "countryTertiarySubdivision",
                        "in": "query",
                        "description": "The named area for the structured address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "countrySecondarySubdivision",
                        "in": "query",
                        "description": "The county for the structured address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "countrySubdivision",
                        "in": "query",
                        "description": "The country subdividion portion of an address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "postalCode",
                        "in": "query",
                        "description": "The postal code portion of an address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "extendedPostalCodesFor",
                        "in": "query",
                        "description": "Indexes for which extended postal codes should be included in the results. Available indexes are: Addr = Address ranges, Geo = Geographies, PAD = Point Addresses, POI = Points of Interest, Str = Streets, XStr = Cross Streets (intersections)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressStructuredResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/route/directions/{format}": {
            "get": {
                "description": "Returns routing directions between 2 coordinates",
                "operationId": "Route_GetRouteDirections",
                "x-ms-examples": {
                    "GetRouteDirections": {
                        "$ref": "./examples/GetRouteDirections.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The Coordinates through which the route is calculated. Needs two coordinates at least. Delimited by colon. First one is the origin and the last is the destination of the route. Optional coordinates in between act as WayPoints in the route.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "maxAlternatives",
                        "in": "query",
                        "description": "Number of desired alternative routes to be calculated.",
                        "required": false,
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 5,
                        "default": 0
                    },
                    {
                        "name": "alternativeType",
                        "in": "query",
                        "description": "Controls the optimality, with respect to the given planning criteria.  Controls the optimality, with respect to the given planning criteria, of the calculated alternatives compared to the reference route.",
                        "required": false,
                        "type": "string",
                        "default": "anyRoute",
                        "enum": [
                            "anyRoute",
                            "betterRoute"
                        ],
                        "x-ms-enum": {
                            "name": "alternativeType",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "anyRoute",
                                    "description": "Allow any alternative route to be returned irrespective of how it compares to the reference route in terms of optimality."
                                },
                                {
                                    "value": "betterRoute",
                                    "description": "Return an alternative route only if it is better than the reference route according to the given planning criteria."
                                }
                            ]
                        }
                    },
                    {
                        "name": "minDeviationDistance",
                        "in": "query",
                        "description": "All alternative routes returned will follow the reference route (see section POST Requests) from the origin point of the calculateRoute request for at least this number of meters. Can only be used when reconstructing a route. The minDeviationDistance parameter cannot be used in conjunction with arriveAt",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "arriveAt",
                        "in": "query",
                        "description": "The date and time of arrival at the destination point. It must be specified as a dateTime. When a time zone offset is not specified it will be assumed to be that of the destination point. The arriveAt value must be in the future. The arriveAt parameter cannot be used in conjunction with departAt, minDeviationDistance or minDeviationTime.",
                        "type": "string",
                        "format": "date-time",
                        "required": false
                    },
                    {
                        "name": "departAt",
                        "in": "query",
                        "description": "The date and time of departure from the origin point. Departure times apart from now must be specified as a dateTime. When a time zone offset is not specified, it will be assumed to be that of the origin point. The departAt value must be in the future in the date-time format (1996-12-19T16:39:57-08:00).",
                        "type": "string",
                        "format": "date-time",
                        "required": false
                    },
                    {
                        "name": "minDeviationTime",
                        "in": "query",
                        "description": "All alternative routes returned will follow the reference route (see section POST Requests) from the origin point of the calculateRoute request for at least this number of seconds. Can only be used when reconstructing a route. The minDeviationTime parameter cannot be used in conjunction with arriveAt",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "instructionsType",
                        "in": "query",
                        "description": "If specified, guidance instructions will be returned.  Note that the instructionsType parameter cannot be used in conjunction with routeRepresentation=none",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "coded",
                            "text",
                            "tagged"
                        ],
                        "x-ms-enum": {
                            "name": "instructionsType",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "coded",
                                    "description": "Returns raw instruction data without human-readable messages."
                                },
                                {
                                    "value": "text",
                                    "description": "Returns raw instructions data with human-readable messages in plain text."
                                },
                                {
                                    "value": "tagged",
                                    "description": "Returns raw instruction data with tagged human-readable messages to permit formatting."
                                }
                            ]
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "The language parameter determines the language of the guidance messages. It does not affect proper nouns (the names of streets, plazas, etc.) It has no effect when instructionsType=coded.  Allowed values are (a subset of) the IETF language tags described",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "computeBestOrder",
                        "in": "query",
                        "description": "Re-order the route waypoints to reduce the route length. Yields best results when used in conjunction with routeType shortest. Possible values are true or false.  True computes a better order, if possible but is not allowed to be used in conjunction with maxAlternatives value greater than 0 or in conjunction with circle waypoints. The response will include the optimized waypoint indices and can be used with a maximum of 20 route waypoints.  False will use the locations in the given order and not allowed to be used in conjunction with routeRepresentation none",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "routeRepresentation",
                        "in": "query",
                        "description": "Specifies the representation of the set of routes provided as response. This parameter value can only be used in conjunction with computeBestOrder=true.",
                        "required": false,
                        "type": "string",
                        "default": "polyline",
                        "enum": [
                            "polyline",
                            "none"
                        ],
                        "x-ms-enum": {
                            "name": "routeRepresentation",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "polyline",
                                    "description": "Includes route geometry in the response."
                                },
                                {
                                    "value": "none",
                                    "description": "Includes only the optimized waypoint indices but does not include the route geometry in the response."
                                }
                            ]
                        }
                    },
                    {
                        "name": "computeTravelTimeFor",
                        "in": "query",
                        "description": "Specifies whether to return additional travel times using different types of traffic information (none, historic, live) as well as the default best-estimate travel time. Possible values are none which , or all which ",
                        "required": false,
                        "type": "string",
                        "default": "none",
                        "enum": [
                            "none",
                            "all"
                        ],
                        "x-ms-enum": {
                            "name": "computeTravelTimeFor",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "none",
                                    "description": "Does not compute additional travel times."
                                },
                                {
                                    "value": "all",
                                    "description": "Computes travel times for all types of traffic information and specifies all results in the fields noTrafficTravelTimeInSeconds, historicTrafficTravelTimeInSeconds and liveTrafficIncidentsTravelTimeInSeconds being included in the summaries in the route response."
                                }
                            ]
                        }
                    },
                    {
                        "name": "vehicleHeading",
                        "in": "query",
                        "description": "The directional heading of the vehicle in degrees starting at true North and continuing in clockwise direction. North is 0 degrees, east is 90 degrees, south is 180 degrees, west is 270 degrees. Possible values 0-359",
                        "required": false,
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 359
                    },
                    {
                        "name": "report",
                        "in": "query",
                        "description": "Specifies which data should be reported for diagnosis purposes",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sectionType",
                        "in": "query",
                        "description": "Specifies which of the section types are reported in the route response. For example if sectionType = pedestrian the sections which are suited for pedestrians only are returned. Multiple types can be used. The default sectionType refers to the travelMode input. By default travelMode is set to car",
                        "required": false,
                        "type": "string",
                        "default": "travelMode",
                        "enum": [
                            "carTrain",
                            "country",
                            "ferry",
                            "motorway",
                            "pedestrian",
                            "tollRoad",
                            "tollVignette",
                            "traffic",
                            "travelMode",
                            "tunnel"
                        ],
                        "x-ms-enum": {
                            "name": "sectionType",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "vehicleAxleWeight",
                        "in": "query",
                        "description": "Weight per axle of the vehicle in kg. A value of 0 means that weight restrictions per axle are not considered.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "vehicleLength",
                        "in": "query",
                        "description": "Width of the vehicle in meters. A value of 0 means that width restrictions are not considered.",
                        "required": false,
                        "type": "number",
                        "format": "float",
                        "default": 0
                    },
                    {
                        "name": "vehicleHeight",
                        "in": "query",
                        "description": "Height of the vehicle in meters. A value of 0 means that height restrictions are not considered.",
                        "required": false,
                        "type": "number",
                        "format": "float",
                        "default": 0
                    },
                    {
                        "name": "vehicleWidth",
                        "in": "query",
                        "description": "Length of the vehicle in meters. A value of 0 means that length restrictions are not considered.",
                        "required": false,
                        "type": "number",
                        "format": "float",
                        "default": 0
                    },
                    {
                        "name": "vehicleMaxSpeed",
                        "in": "query",
                        "description": "Maximum speed of the vehicle in km/hour. A value of 0 means that an appropriate value for the vehicle will be determined and applied during route planning. A non-zero value may be overridden during route planning.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "vehicleWeight",
                        "in": "query",
                        "description": "Weight of the vehicle in kilograms.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "windingness",
                        "in": "query",
                        "description": "Level of turns for thrilling route. This parameter can only be used in conjunction with routeType=thrilling.",
                        "required": false,
                        "type": "string",
                        "default": "normal",
                        "enum": [
                            "low",
                            "normal",
                            "high"
                        ],
                        "x-ms-enum": {
                            "name": "windingness",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "hilliness",
                        "in": "query",
                        "description": "Degree of hilliness for thrilling route. This parameter can only be used in conjunction with routeType=thrilling.",
                        "required": false,
                        "type": "string",
                        "default": "normal",
                        "enum": [
                            "low",
                            "normal",
                            "high"
                        ],
                        "x-ms-enum": {
                            "name": "hilliness",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "travelMode",
                        "in": "query",
                        "description": "The mode of travel for the requested route. Note that the requested travelMode may not be available for the entire route. Where the requested travelMode is not available for a particular section, the travelMode element of the response for that section will be other. Note that travel modes bus, motorcycle, taxi and van are BETA functionality. Full restriction data is not available in all areas. In calculateReachableRange requests, the values bicycle and pedestrian must not be used",
                        "required": false,
                        "type": "string",
                        "default": "car",
                        "enum": [
                            "car",
                            "truck",
                            "taxi",
                            "bus",
                            "van",
                            "motorcycle",
                            "bicycle",
                            "pedestrian"
                        ],
                        "x-ms-enum": {
                            "name": "travelMode",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "avoid",
                        "in": "query",
                        "description": "Specifies something that the route calculation should try to avoid when determining the route. Can be specified multiple times. Possible values: (tollRoads avoids toll roads), (motorways avoids motorways), (ferries avoids ferries), (unpavedRoads avoids unpaved roads), (carpools avoids routes that require use of carpool (HOV/ High Occupancy Vehicle) lanes), (alreadyUsedRoads avoids using the same road multiple times. Most useful in conjunction with routeType=thrilling). In calculateReachableRange requests, the value alreadyUsedRoads must not be used.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "tollRoads",
                            "motorways",
                            "ferries",
                            "unpavedRoads",
                            "carpools",
                            "alreadyUsedRoads"
                        ],
                        "x-ms-enum": {
                            "name": "avoid",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "traffic",
                        "in": "query",
                        "description": "Possible values: (true (do consider all available traffic information during routing)), (false (ignore current traffic data during routing). Note that although the current traffic data is ignored during routing, the effect of historic traffic on effective road speeds is still incorporated).",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "routeType",
                        "in": "query",
                        "description": "The type of route requested. Notes on specific values: (fastest returns the fastest route), (shortest returns the shortest route by distance), (eco routes balance economy and speed), (thrilling routes include interesting or challenging roads and use as few motorways as possible. You can choose the level of turns included and also the degree of hilliness. See the hilliness and windingness parameters for how to set this. There is a limit of 900 km on routes planned with routeType=thrilling)",
                        "required": false,
                        "type": "string",
                        "default": "fastest",
                        "enum": [
                            "fastest",
                            "shortest",
                            "eco",
                            "thrilling"
                        ],
                        "x-ms-enum": {
                            "name": "routeType",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "vehicleLoadType",
                        "in": "query",
                        "description": "Types of cargo that may be classified as hazardous materials and restricted from some roads. Available vehicleLoadType values are US Hazmat classes 1 through 9, plus generic classifications for use in other countries. Values beginning with USHazmat are for US routing while otherHazmat should be used for all other countries. vehicleLoadType can be specified multiple times. This parameter is currently only considered for travelMode=truck.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "USHazmatClass1",
                            "USHazmatClass2",
                            "USHazmatClass3",
                            "USHazmatClass4",
                            "USHazmatClass5",
                            "USHazmatClass6",
                            "USHazmatClass7",
                            "USHazmatClass8",
                            "USHazmatClass9",
                            "otherHazmatExplosive",
                            "otherHazmatGeneral",
                            "otherHazmatHarmfulToWater"
                        ],
                        "x-ms-enum": {
                            "name": "vehicleLoadType",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "USHazmatClass1",
                                    "description": "Explosives"
                                },
                                {
                                    "value": "USHazmatClass2",
                                    "description": "Compressed gas"
                                },
                                {
                                    "value": "USHazmatClass3",
                                    "description": "Flammable liquids"
                                },
                                {
                                    "value": "USHazmatClass4",
                                    "description": "Flammable solids"
                                },
                                {
                                    "value": "USHazmatClass5",
                                    "description": "Oxidizers"
                                },
                                {
                                    "value": "USHazmatClass6",
                                    "description": "Poisons"
                                },
                                {
                                    "value": "USHazmatClass7",
                                    "description": "Radioactive"
                                },
                                {
                                    "value": "USHazmatClass8",
                                    "description": "Corrosives"
                                },
                                {
                                    "value": "USHazmatClass9",
                                    "description": "Miscellaneous"
                                },
                                {
                                    "value": "otherHazmatExplosive",
                                    "description": "Explosives"
                                },
                                {
                                    "value": "otherHazmatGeneral",
                                    "description": "Miscellaneous"
                                },
                                {
                                    "value": "otherHazmatHarmfulToWater",
                                    "description": "Harmful to water"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RouteDirectionsResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/timezone/byId/{format}": {
            "get": {
                "description": "Returns the timezone info for an IANA ID",
                "operationId": "Timezone_GetTimezoneByID",
                "x-ms-examples": {
                    "GetTimezoneByID": {
                        "$ref": "./examples/GetTimezoneByID.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/AcceptLanguage"
                    },
                    {
                        "$ref": "#/parameters/TimezoneOptions"
                    },
                    {
                        "$ref": "#/parameters/TimezoneTimeStamp"
                    },
                    {
                        "$ref": "#/parameters/TimezoneTransitionsFrom"
                    },
                    {
                        "$ref": "#/parameters/TimezoneTransitionsYears"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimezoneByIdResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/timezone/byCoordinates/{format}": {
            "get": {
                "description": "Returns the timezone info for a coordinates",
                "operationId": "Timezone_GetTimezoneByCoordinates",
                "x-ms-examples": {
                    "GetTimezoneByCoordinates": {
                        "$ref": "./examples/GetTimezoneByCoordinates.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/AcceptLanguage"
                    },
                    {
                        "$ref": "#/parameters/TimezoneOptions"
                    },
                    {
                        "$ref": "#/parameters/TimezoneTimeStamp"
                    },
                    {
                        "$ref": "#/parameters/TimezoneTransitionsFrom"
                    },
                    {
                        "$ref": "#/parameters/TimezoneTransitionsYears"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimezoneByCoordinatesResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/timezone/enumWindows/{format}": {
            "get": {
                "description": "Returns all the Windows timezones",
                "operationId": "Timezone_GetTimezoneEnumWindows",
                "x-ms-examples": {
                    "GetTimezoneEnumWindows": {
                        "$ref": "./examples/GetTimezoneEnumWindows.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimezoneEnumWindowsResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/timezone/enumIana/{format}": {
            "get": {
                "description": "Returns all the IANA timezones",
                "operationId": "Timezone_GetTimezoneEnumIANA",
                "x-ms-examples": {
                    "GetTimezoneEnumIANA": {
                        "$ref": "./examples/GetTimezoneEnumIANA.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimezoneEnumIanaResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/timezone/ianaVersion/{format}": {
            "get": {
                "description": "Returns the current IANA version",
                "operationId": "Timezone_GetTimezoneIANAVersion",
                "x-ms-examples": {
                    "GetTimezoneIANAVersion": {
                        "$ref": "./examples/GetTimezoneIANAVersion.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimezoneIanaVersionResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/timezone/windowsToIana/{format}": {
            "get": {
                "description": "Get the IANA timezone from a Windows timezone",
                "operationId": "Timezone_GetTimezoneWindowsToIANA",
                "x-ms-examples": {
                    "GetTimezoneWindowsToIANA": {
[...]
