{
  "swagger": "2.0",
  "info": {
    "version": "2022-07-01-privatepreview",
    "title": "Azure Security API Security Resource Provider (v3)",
    "description": "PP3 RP service OpenAPI Specification (CAS Resource Provider v3)"
  },
  "host": "management.azure.com",
  "basePath": "/",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiSecurity/apimSubscriptionOffboardings/{apimSubscriptionOffboardingId}": {
      "put": {
        "description": "offboard CAS RP with APIM RP for Defender for API from customer",
        "summary": "create subscription-level offboarding",
        "tags": [
          "OnboardOffboardWithApimRP",
          "ApimRPConfig",
          "default"
        ],
        "operationId": "V3ApimSubscriptionOffboarding_Create",
        "x-ms-examples": {
          "V3ApimSubscriptionOffboarding_Create_PropertySet": {
            "$ref": "./examples/V3ApimSubscriptionOffboarding_Create_PropertySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "apimSubscriptionOffboardingId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApimRPoffboardRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request to offboard CAS RP with APIM RP",
            "x-ms-error-response": true
          },
          "401": {
            "description": "Access token in API key header is missing or invalid",
            "x-ms-error-response": true
          },
          "404": {
            "description": "Offboarding URI resource page does not exist",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict (race condition)",
            "x-ms-error-response": true
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiSecurity/apimApisOffboardings/{apimApisOffboardingId}": {
      "put": {
        "description": "Create API-level offboarding to offboard one or more APIM API collections using CAS RP",
        "summary": "create api-level offboarding",
        "tags": [
          "OnboardOffboardWithApimRP",
          "ApimRPConfig",
          "default"
        ],
        "operationId": "V3ApimApisOffboarding_Create",
        "x-ms-examples": {
          "V3ApimApisOffboarding_Create_PropertySet": {
            "$ref": "./examples/V3ApimApisOffboarding_Create_PropertySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "apimApisOffboardingId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApimApisOffboardingRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request to do api-level offboarding using CAS RP with APIM RP",
            "x-ms-error-response": true
          },
          "401": {
            "description": "Access token in API key header is missing or invalid",
            "x-ms-error-response": true
          },
          "404": {
            "description": "API-level offboarding URI resource page does not exist",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict (race condition)",
            "x-ms-error-response": true
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiSecurity/apimApisOnboardings/{apimApisOnboardingId}": {
      "put": {
        "description": "create initial CAS RP onboarding with APIM RP for Defender for API from customer",
        "summary": "create api-level onboarding",
        "tags": [
          "OnboardOffboardWithApimRP",
          "ApimRPConfig",
          "default"
        ],
        "operationId": "V3ApimApisOnboarding_Create",
        "x-ms-examples": {
          "V3ApimApisOnboarding_Create_PropertySet": {
            "$ref": "./examples/V3ApimApisOnboarding_Create_PropertySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "apimApisOnboardingId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApimRPonboardConfigurationRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "201": {
            "description": "Successfully onboarded with APIM RP with onboarding record created on APIM side",
            "headers": {
              "Location": {
                "description": "The location of the created onboarding record on APIM side",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Bad request to onboarded with APIM RP",
            "x-ms-error-response": true
          },
          "401": {
            "description": "Access token in API key header is missing or invalid",
            "x-ms-error-response": true
          },
          "404": {
            "description": "Onboarding URI resource page does not exist",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict (race condition)",
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "description": "Retrieve CAS RP onboarding configurations with APIM RP for Defender for API from customer by onboarding Id",
        "summary": "get api-level onboarding",
        "tags": [
          "ApimRPConfig",
          "default"
        ],
        "operationId": "V3ApimApisOnboarding_Get",
        "x-ms-examples": {
          "V3ApimApisOnboarding_Get_PropertySet": {
            "$ref": "./examples/V3ApimApisOnboarding_Get_PropertySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "apimApisOnboardingId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "default": {
            "description": "Default error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Current parameter configuration of CAS RP onboarded with APIM RP",
            "schema": {
              "$ref": "#/definitions/ApimRPonboardConfiguration"
            }
          },
          "401": {
            "description": "Access token in API key header is missing or invalid",
            "x-ms-error-response": true
          },
          "404": {
            "description": "Configuration does not exist",
            "x-ms-error-response": true
          }
        }
      },
      "patch": {
        "description": "update CAS RP onboarding configurations with APIM RP for Defender for API from customer by onboarding Id",
        "summary": "update api-level onboarding",
        "tags": [
          "ApimRPConfig",
          "default"
        ],
        "operationId": "V3ApimApisOnboarding_Update",
        "x-ms-examples": {
          "V3ApimApisOnboarding_Update_PropertySet": {
            "$ref": "./examples/V3ApimApisOnboarding_Update_PropertySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "apimApisOnboardingId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApimRPOnboardParametersConfigRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Current parameter configuration of CAS RP onboarded with APIM RP",
            "schema": {
              "$ref": "#/definitions/ApimRPonboardConfiguration"
            }
          },
          "400": {
            "description": "Bad request to update CAS RP onboarding configurations",
            "x-ms-error-response": true
          },
          "401": {
            "description": "Access token in API key header is missing or invalid",
            "x-ms-error-response": true
          },
          "404": {
            "description": "Configuration does not exist",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict (race condition)",
            "x-ms-error-response": true
          }
        }
      }
    },
    "/providers/Microsoft.ApiSecurity/operations": {
      "get": {
        "tags": [
          "Operations",
          "default"
        ],
        "description": "Lists all of the available RP operations.",
        "operationId": "V3Operations_List",
        "x-ms-examples": {
          "V3Operations_List_PropertySet": {
            "$ref": "./examples/V3Operations_List_PropertySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "JsonValueKind": {
      "title": "JsonValueKind",
      "example": 0,
      "type": "integer",
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7
      ],
      "x-ms-enum": {
        "name": "JsonValueKind",
        "modelAsString": false
      }
    },
    "JsonElement": {
      "title": "JsonElement",
      "type": "object",
      "properties": {
        "valueKind": {
          "$ref": "#/definitions/JsonValueKind"
        }
      }
    },
    "ApimRPOnboardParametersConfigRequest": {
      "title": "ApimRPOnboardParametersConfigRequest",
      "description": "Request object used to configure parameters in initial onboarding",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "description": "properties object in onboarding request payload that contains the property entries that will be used for ARM's linked access checks during the post-onboarding configuration update",
          "properties": {
            "apiIds": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ApimRPonboardConfigurationRequest": {
      "title": "ApimRPonboardConfigurationRequest",
      "description": "Current configuration object to be used by APIM RP through CAS RP onboarding process or afterwards parameters configuration",
      "type": "object",
      "properties": {
        "name": {
          "description": "the name of CAS RP",
          "type": "string"
        },
        "id": {
          "description": "an APIM RP side generated ID identifying CAS RP entity",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "properties": {
          "type": "object",
          "description": "properties object in onboarding request payload that contains the property entries that will be used for ARM's linked access checks during onboarding",
          "properties": {
            "apiIds": {
              "description": "list of the APIM API Ids that customer is interested in their traffic during onboarding with APIM",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ApimRPonboardConfiguration": {
      "title": "ApimRPonboardConfiguration",
      "description": "Current configuration object to be used by APIM RP through CAS RP onboarding process or afterwards parameters configuration",
      "type": "object",
      "properties": {
        "name": {
          "description": "the name of CAS RP",
          "type": "string"
        },
        "id": {
          "description": "an APIM RP side generated ID identifying CAS RP entity",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "apiIds": {
          "description": "list of the APIM API Ids that customer is interested in their traffic during onboarding with APIM",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ApimRPoffboardRequest": {
      "title": "ApimRPoffboardRequest",
      "description": "Request object used to pass info to APIM RP during CAS RP offboarding process",
      "type": "object",
      "properties": {
        "id": {
          "description": "CAS RP server side generated subscription-level offboarding Id",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        }
      }
    },
    "ApimApisOffboardingRequest": {
      "title": "ApimApisOffboardingRequest",
      "description": "Request object used to pass info to APIM RP during CAS RP api-level offboarding process",
      "type": "object",
      "properties": {
        "name": {
          "description": "a user friendly name for this APIM api-level offboarding",
          "type": "string"
        },
        "id": {
          "description": "CAS RP server side generated ID for this api-level offboarding request",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "properties": {
          "type": "object",
          "description": "properties object in api-level offboarding request payload that contains the property entries that will be used for ARM's linked access checks",
          "properties": {
            "apiIds": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "SystemData": {
      "title": "SystemData",
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "createdByType": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedBy": {
          "type": "string"
        },
        "lastModifiedByType": {
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "OnboardOffboardWithApimRP",
      "description": ""
    },
    {
      "name": "ApimRPConfig",
      "description": ""
    },
    {
      "name": "OAS",
      "description": ""
    },
    {
      "name": "ApiCollections",
      "description": ""
    },
    {
      "name": "Health",
      "description": ""
    }
  ]
}
