{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-10-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "WebApplicationFirewallPolicies"
    },
    {
      "name": "FrontDoors"
    },
    {
      "name": "FrontendEndpoints"
    },
    {
      "name": "RulesEngines"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "Experiments"
    }
  ],
  "paths": {
    "/providers/Microsoft.Network/checkFrontDoorNameAvailability": {
      "post": {
        "operationId": "FrontDoorNameAvailability_Check",
        "description": "Check the availability of a Front Door resource name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "checkFrontDoorNameAvailabilityInput",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityOutput"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckNameAvailability": {
            "$ref": "./examples/CheckFrontdoorNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies": {
      "get": {
        "operationId": "Policies_ListBySubscription",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Lists all of the protection policies within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicyList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all Policies in a Resource Group": {
            "$ref": "./examples/WafListPoliciesUnderSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/NetworkExperimentProfiles": {
      "get": {
        "operationId": "NetworkExperimentProfiles_List",
        "tags": [
          "Profiles"
        ],
        "summary": "Gets a list of Network Experiment Profiles under a subscription",
        "description": "Gets a list of Network Experiment Profiles under a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProfileList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NetworkExperiment Profiles in a Resource Group": {
            "$ref": "./examples/NetworkExperimentListProfiles.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/checkFrontDoorNameAvailability": {
      "post": {
        "operationId": "FrontDoorNameAvailabilityWithSubscription_Check",
        "description": "Check the availability of a Front Door subdomain.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "checkFrontDoorNameAvailabilityInput",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityOutput"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckNameAvailabilityWithSubscription": {
            "$ref": "./examples/CheckFrontdoorNameAvailabilityWithSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/frontDoorWebApplicationFirewallManagedRuleSets": {
      "get": {
        "operationId": "ManagedRuleSets_List",
        "description": "Lists all available managed rule sets.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagedRuleSetDefinitionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Policies ManagedRuleSets in a Resource Group": {
            "$ref": "./examples/WafListManagedRuleSets.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/frontDoors": {
      "get": {
        "operationId": "FrontDoors_List",
        "tags": [
          "FrontDoors"
        ],
        "description": "Lists all of the Front Doors within an Azure subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FrontDoorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Front Doors": {
            "$ref": "./examples/FrontdoorListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies": {
      "get": {
        "operationId": "Policies_List",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Lists all of the protection policies within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicyList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all Policies in a Resource Group": {
            "$ref": "./examples/WafListPolicies.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}": {
      "get": {
        "operationId": "Policies_Get",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Retrieve protection policy with specified name within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Web Application Firewall Policy.",
            "required": true,
            "type": "string",
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Policy": {
            "$ref": "./examples/WafPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "Policies_CreateOrUpdate",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Create or update policy with specified rule set name within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Web Application Firewall Policy.",
            "required": true,
            "type": "string",
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Policy to be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WebApplicationFirewallPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          },
          "201": {
            "description": "Resource 'WebApplicationFirewallPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates specific policy": {
            "$ref": "./examples/WafPolicyCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/WebApplicationFirewallPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Policies_Update",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Patch a specific frontdoor webApplicationFirewall policy for tags update under the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Web Application Firewall Policy.",
            "required": true,
            "type": "string",
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "FrontdoorWebApplicationFirewallPolicy parameters to be patched.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patches specific policy": {
            "$ref": "./examples/WafPolicyPatch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/WebApplicationFirewallPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Policies_Delete",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Deletes Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Web Application Firewall Policy.",
            "required": true,
            "type": "string",
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete protection policy": {
            "$ref": "./examples/WafPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles": {
      "get": {
        "operationId": "NetworkExperimentProfiles_ListByResourceGroup",
        "tags": [
          "Profiles"
        ],
        "summary": "Gets a list of Network Experiment Profiles within a resource group under a subscription",
        "description": "Gets a list of Network Experiment Profiles within a resource group under a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProfileList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NetworkExperiment Profiles in a Resource Group": {
            "$ref": "./examples/NetworkExperimentListByResourceGroupProfiles.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}": {
      "get": {
        "operationId": "NetworkExperimentProfiles_Get",
        "tags": [
          "Profiles"
        ],
        "summary": "Gets an NetworkExperiment Profile by ProfileName",
        "description": "Gets an NetworkExperiment Profile by ProfileName",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets an NetworkExperiment Profile by Profile Id": {
            "$ref": "./examples/NetworkExperimentGetProfile.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkExperimentProfiles_CreateOrUpdate",
        "tags": [
          "Profiles"
        ],
        "summary": "Creates an NetworkExperiment Profile",
        "description": "Creates an NetworkExperiment Profile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "An Network Experiment Profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Profile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "201": {
            "description": "Resource 'Profile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Profile"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Profile"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates an NetworkExperiment Profile in a Resource Group": {
            "$ref": "./examples/NetworkExperimentCreateProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Profile"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "NetworkExperimentProfiles_Update",
        "tags": [
          "Profiles"
        ],
        "summary": "Updates an NetworkExperimentProfiles by NetworkExperimentProfile name",
        "description": "Updates an NetworkExperimentProfiles",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Profile Update Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Profile"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an Experiment": {
            "$ref": "./examples/NetworkExperimentUpdateProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Profile"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NetworkExperimentProfiles_Delete",
        "tags": [
          "Profiles"
        ],
        "summary": "Deletes an NetworkExperiment Profile by ProfileName",
        "description": "Deletes an NetworkExperiment Profile by ProfileName",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an NetworkExperiment Profile by ProfileName": {
            "$ref": "./examples/NetworkExperimentDeleteProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments": {
      "get": {
        "operationId": "Experiments_ListByProfile",
        "tags": [
          "Experiments"
        ],
        "summary": "Gets a list of Experiments",
        "description": "Gets a list of Experiments",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExperimentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of Experiments": {
            "$ref": "./examples/NetworkExperimentListExperiments.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments/{experimentName}": {
      "get": {
        "operationId": "Experiments_Get",
        "tags": [
          "Experiments"
        ],
        "summary": "Gets an Experiment by ExperimentName",
        "description": "Gets an Experiment by ExperimentName",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "experimentName",
            "in": "path",
            "description": "The Experiment identifier associated with the Experiment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets an Experiment by ExperimentName": {
            "$ref": "./examples/NetworkExperimentGetExperiment.json"
          }
        }
      },
      "put": {
        "operationId": "Experiments_CreateOrUpdate",
        "tags": [
          "Experiments"
        ],
        "summary": "Creates or updates an Experiment",
        "description": "Creates or updates an Experiment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "experimentName",
            "in": "path",
            "description": "The Experiment identifier associated with the Experiment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Experiment resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Experiment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "201": {
            "description": "Resource 'Experiment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Experiment"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates an Experiment": {
            "$ref": "./examples/NetworkExperimentCreateExperiment.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Experiment"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Experiments_Update",
        "tags": [
          "Experiments"
        ],
        "summary": "Updates an Experiment by Experiment id",
        "description": "Updates an Experiment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "experimentName",
            "in": "path",
            "description": "The Experiment identifier associated with the Experiment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Experiment Update Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExperimentUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an Experiment": {
            "$ref": "./examples/NetworkExperimentUpdateExperiment.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Experiment"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Experiments_Delete",
        "tags": [
          "Experiments"
        ],
        "summary": "Deletes an Experiment",
        "description": "Deletes an Experiment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "experimentName",
            "in": "path",
            "description": "The Experiment identifier associated with the Experiment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an Experiment": {
            "$ref": "./examples/NetworkExperimentDeleteExperiment.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments/{experimentName}/latencyScorecard": {
      "get": {
        "operationId": "Reports_GetLatencyScorecards",
        "tags": [
          "Experiments"
        ],
        "summary": "Gets a Latency Scorecard for a given Experiment",
        "description": "Gets a Latency Scorecard for a given Experiment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "experimentName",
            "in": "path",
            "description": "The Experiment identifier associated with the Experiment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "endDateTimeUTC",
            "in": "query",
            "description": "The end DateTime of the Latency Scorecard in UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "The country associated with the Latency Scorecard. Values are country ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html",
            "required": false,
            "type": "string"
          },
          {
            "name": "aggregationInterval",
            "in": "query",
            "description": "The aggregation interval of the Latency Scorecard",
            "required": true,
            "type": "string",
            "enum": [
              "Daily",
              "Weekly",
              "Monthly"
            ],
            "x-ms-enum": {
              "name": "LatencyScorecardAggregationInterval",
              "modelAsString": true,
              "values": [
                {
                  "name": "Daily",
                  "value": "Daily",
                  "description": "Daily"
                },
                {
                  "name": "Weekly",
                  "value": "Weekly",
                  "description": "Weekly"
                },
                {
                  "name": "Monthly",
                  "value": "Monthly",
                  "description": "Monthly"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LatencyScorecard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a Latency Scorecard for a given Experiment": {
            "$ref": "./examples/NetworkExperimentGetLatencyScorecard.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments/{experimentName}/timeseries": {
      "get": {
        "operationId": "Reports_GetTimeseries",
        "tags": [
          "Experiments"
        ],
        "summary": "Gets a Timeseries for a given Experiment",
        "description": "Gets a Timeseries for a given Experiment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "experimentName",
            "in": "path",
            "description": "The Experiment identifier associated with the Experiment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          },
          {
            "name": "startDateTimeUTC",
            "in": "query",
            "description": "The start DateTime of the Timeseries in UTC",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDateTimeUTC",
            "in": "query",
            "description": "The end DateTime of the Timeseries in UTC",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "aggregationInterval",
            "in": "query",
            "description": "The aggregation interval of the Timeseries",
            "required": true,
            "type": "string",
            "enum": [
              "Hourly",
              "Daily"
            ],
            "x-ms-enum": {
              "name": "TimeseriesAggregationInterval",
              "modelAsString": true,
              "values": [
                {
                  "name": "Hourly",
                  "value": "Hourly",
                  "description": "Hourly"
                },
                {
                  "name": "Daily",
                  "value": "Daily",
                  "description": "Daily"
                }
              ]
            }
          },
          {
            "name": "timeseriesType",
            "in": "query",
            "description": "The type of Timeseries",
            "required": true,
            "type": "string",
            "enum": [
              "MeasurementCounts",
              "LatencyP50",
              "LatencyP75",
              "LatencyP95"
            ],
            "x-ms-enum": {
              "name": "TimeseriesType",
              "modelAsString": true,
              "values": [
                {
                  "name": "MeasurementCounts",
                  "value": "MeasurementCounts",
                  "description": "MeasurementCounts"
                },
                {
                  "name": "LatencyP50",
                  "value": "LatencyP50",
                  "description": "LatencyP50"
                },
                {
                  "name": "LatencyP75",
                  "value": "LatencyP75",
                  "description": "LatencyP75"
                },
                {
                  "name": "LatencyP95",
                  "value": "LatencyP95",
                  "description": "LatencyP95"
                }
              ]
            }
          },
          {
            "name": "endpoint",
            "in": "query",
            "description": "The specific endpoint",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "The country associated with the Timeseries. Values are country ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Timeseries"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a Timeseries for a given Experiment": {
            "$ref": "./examples/NetworkExperimentGetTimeseries.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/preconfiguredEndpoints": {
      "get": {
        "operationId": "PreconfiguredEndpoints_List",
        "tags": [
          "Profiles"
        ],
        "summary": "Gets a list of Preconfigured Endpoints",
        "description": "Gets a list of Preconfigured Endpoints",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The Profile identifier associated with the Tenant and Partner",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreconfiguredEndpointList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of Preconfigured Endpoints": {
            "$ref": "./examples/NetworkExperimentGetPreconfiguredEndpoints.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors": {
      "get": {
        "operationId": "FrontDoors_ListByResourceGroup",
        "tags": [
          "FrontDoors"
        ],
        "description": "Lists all of the Front Doors within a resource group under a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FrontDoorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Front Doors in a Resource Group": {
            "$ref": "./examples/FrontdoorList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}": {
      "get": {
        "operationId": "FrontDoors_Get",
        "tags": [
          "FrontDoors"
        ],
        "description": "Gets a Front Door with the specified Front Door name under the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FrontDoor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Front Door": {
            "$ref": "./examples/FrontdoorGet.json"
          }
        }
      },
      "put": {
        "operationId": "FrontDoors_CreateOrUpdate",
        "tags": [
          "FrontDoors"
        ],
        "description": "Creates a new Front Door with a Front Door name under the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "frontDoorParameters",
            "in": "body",
            "description": "Front Door properties needed to create a new Front Door.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FrontDoor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FrontDoor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FrontDoor"
            }
          },
          "201": {
            "description": "Resource 'FrontDoor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FrontDoor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/FrontDoor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update specific Front Door": {
            "$ref": "./examples/FrontdoorCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FrontDoor"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FrontDoors_Delete",
        "tags": [
          "FrontDoors"
        ],
        "description": "Deletes an existing Front Door with the specified parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Front Door": {
            "$ref": "./examples/FrontdoorDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints": {
      "get": {
        "operationId": "FrontendEndpoints_ListByFrontDoor",
        "tags": [
          "FrontendEndpoints"
        ],
        "description": "Lists all of the frontend endpoints within a Front Door.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FrontendEndpointsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Frontend endpoints in a Front Door": {
            "$ref": "./examples/FrontdoorFrontendEndpointList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}": {
      "get": {
        "operationId": "FrontendEndpoints_Get",
        "tags": [
          "FrontendEndpoints"
        ],
        "description": "Gets a Frontend endpoint with the specified name within the specified Front Door.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "frontendEndpointName",
            "in": "path",
            "description": "Name of the Frontend endpoint which is unique within the Front Door.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FrontendEndpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Frontend Endpoint": {
            "$ref": "./examples/FrontdoorFrontendEndpointGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}/disableHttps": {
      "post": {
        "operationId": "FrontendEndpoints_DisableHttps",
        "tags": [
          "FrontendEndpoints"
        ],
        "description": "Disables a frontendEndpoint for HTTPS traffic",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "frontendEndpointName",
            "in": "path",
            "description": "Name of the Frontend endpoint which is unique within the Front Door.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FrontendEndpoints_DisableHttps": {
            "$ref": "./examples/FrontdoorDisableHttps.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}/enableHttps": {
      "post": {
        "operationId": "FrontendEndpoints_EnableHttps",
        "tags": [
          "FrontendEndpoints"
        ],
        "description": "Enables a frontendEndpoint for HTTPS traffic",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "frontendEndpointName",
            "in": "path",
            "description": "Name of the Frontend endpoint which is unique within the Front Door.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          },
          {
            "name": "customHttpsConfiguration",
            "in": "body",
            "description": "The configuration specifying how to enable HTTPS",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomHttpsConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FrontendEndpoints_EnableHttps": {
            "$ref": "./examples/FrontdoorEnableHttps.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/purge": {
      "post": {
        "operationId": "Endpoints_PurgeContent",
        "tags": [
          "FrontDoors"
        ],
        "description": "Removes a content from Front Door.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "contentFilePaths",
            "in": "body",
            "description": "The path to the content to be purged. Path can be a full URL, e.g. '/pictures/city.png' which removes a single file, or a directory with a wildcard, e.g. '/pictures/*' which removes all folders and files in the directory.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurgeParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Purge content from Front Door": {
            "$ref": "./examples/FrontdoorPurgeContent.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/rulesEngines": {
      "get": {
        "operationId": "RulesEngines_ListByFrontDoor",
        "tags": [
          "RulesEngines"
        ],
        "description": "Lists all of the Rules Engine Configurations within a Front Door.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RulesEngineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Rules Engine Configurations in a Front Door": {
            "$ref": "./examples/FrontdoorRulesEngineList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/rulesEngines/{rulesEngineName}": {
      "get": {
        "operationId": "RulesEngines_Get",
        "tags": [
          "RulesEngines"
        ],
        "description": "Gets a Rules Engine Configuration with the specified name within the specified Front Door.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "rulesEngineName",
            "in": "path",
            "description": "Name of the Rules Engine which is unique within the Front Door.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulesEngine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Rules Engine Configuration": {
            "$ref": "./examples/FrontdoorRulesEngineGet.json"
          }
        }
      },
      "put": {
        "operationId": "RulesEngines_CreateOrUpdate",
        "tags": [
          "RulesEngines"
        ],
        "description": "Creates a new Rules Engine Configuration with the specified name within the specified Front Door.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "rulesEngineName",
            "in": "path",
            "description": "Name of the Rules Engine which is unique within the Front Door.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          },
          {
            "name": "rulesEngineParameters",
            "in": "body",
            "description": "Rules Engine Configuration properties needed to create a new Rules Engine Configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RulesEngine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RulesEngine' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RulesEngine"
            }
          },
          "201": {
            "description": "Resource 'RulesEngine' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RulesEngine"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/RulesEngine"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a specific Rules Engine Configuration": {
            "$ref": "./examples/FrontdoorRulesEngineCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/RulesEngine"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "RulesEngines_Delete",
        "tags": [
          "RulesEngines"
        ],
        "description": "Deletes an existing Rules Engine Configuration with the specified parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "rulesEngineName",
            "in": "path",
            "description": "Name of the Rules Engine which is unique within the Front Door.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Rules Engine Configuration": {
            "$ref": "./examples/FrontdoorRulesEngineDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/validateCustomDomain": {
      "post": {
        "operationId": "FrontDoors_ValidateCustomDomain",
        "tags": [
          "FrontDoors"
        ],
        "description": "Validates the custom domain mapping to ensure it maps to the correct Front Door endpoint in DNS.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "frontDoorName",
            "in": "path",
            "description": "Name of the Front Door which is globally unique.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          },
          {
            "name": "customDomainProperties",
            "in": "body",
            "description": "Custom domain to be validated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateCustomDomainInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateCustomDomainOutput"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FrontDoor_ValidateCustomDomain": {
            "$ref": "./examples/FrontdoorValidateCustomDomain.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionType": {
      "type": "string",
      "description": "Defines the action to take on rule match.",
      "enum": [
        "Allow",
        "Block",
        "Log",
        "Redirect",
        "AnomalyScoring",
        "JSChallenge",
        "CAPTCHA"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow"
          },
          {
            "name": "Block",
            "value": "Block",
            "description": "Block"
          },
          {
            "name": "Log",
            "value": "Log",
            "description": "Log"
          },
          {
            "name": "Redirect",
            "value": "Redirect",
            "description": "Redirect"
          },
          {
            "name": "AnomalyScoring",
            "value": "AnomalyScoring",
            "description": "AnomalyScoring"
          },
          {
            "name": "JSChallenge",
            "value": "JSChallenge",
            "description": "JSChallenge"
          },
          {
            "name": "CAPTCHA",
            "value": "CAPTCHA",
            "description": "CAPTCHA"
          }
        ]
      }
    },
    "AggregationInterval": {
      "type": "string",
      "description": "The aggregation interval of the Timeseries",
      "enum": [
        "Hourly",
        "Daily"
      ],
      "x-ms-enum": {
        "name": "AggregationInterval",
        "modelAsString": true,
        "values": [
          {
            "name": "Hourly",
            "value": "Hourly",
            "description": "Hourly"
          },
          {
            "name": "Daily",
            "value": "Daily",
            "description": "Daily"
          }
        ]
      }
    },
    "Availability": {
      "type": "string",
      "description": "Indicates whether the name is available.",
      "enum": [
        "Available",
        "Unavailable"
      ],
      "x-ms-enum": {
        "name": "Availability",
        "modelAsString": true,
        "values": [
          {
            "name": "Available",
            "value": "Available",
            "description": "Available"
          },
          {
            "name": "Unavailable",
            "value": "Unavailable",
            "description": "Unavailable"
          }
        ]
      }
    },
    "Backend": {
      "type": "object",
      "description": "Backend address of a frontDoor load balancer.",
      "properties": {
        "address": {
          "type": "string",
          "description": "Location of the backend (IP address or FQDN)"
        },
        "privateLinkAlias": {
          "type": "string",
          "description": "The Alias of the Private Link resource. Populating this optional field indicates that this backend is 'Private'"
        },
        "privateLinkResourceId": {
          "type": "string",
          "description": "The Resource Id of the Private Link resource. Populating this optional field indicates that this backend is 'Private'"
        },
        "privateLinkLocation": {
          "type": "string",
          "description": "The location of the Private Link resource. Required only if 'privateLinkResourceId' is populated"
        },
        "privateEndpointStatus": {
          "$ref": "#/definitions/PrivateEndpointStatus",
          "description": "The Approval status for the connection to the Private Link",
          "readOnly": true
        },
        "privateLinkApprovalMessage": {
          "type": "string",
          "description": "A custom message to be included in the approval request to connect to the Private Link"
        },
        "httpPort": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP TCP port number. Must be between 1 and 65535.",
          "minimum": 1,
          "maximum": 65535
        },
        "httpsPort": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTPS TCP port number. Must be between 1 and 65535.",
          "minimum": 1,
          "maximum": 65535
        },
        "enabledState": {
          "$ref": "#/definitions/BackendEnabledState",
          "description": "Whether to enable use of this backend. Permitted values are 'Enabled' or 'Disabled'"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority to use for load balancing. Higher priorities will not be used for load balancing if any lower priority backend is healthy.",
          "minimum": 1,
          "maximum": 5
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of this endpoint for load balancing purposes.",
          "minimum": 1,
          "maximum": 1000
        },
        "backendHostHeader": {
          "type": "string",
          "description": "The value to use as the host header sent to the backend. If blank or unspecified, this defaults to the incoming host."
        }
      }
    },
    "BackendEnabledState": {
      "type": "string",
      "description": "Whether to enable use of this backend. Permitted values are 'Enabled' or 'Disabled'",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "BackendEnabledState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "BackendPool": {
      "type": "object",
      "description": "A backend pool is a collection of backends that can be routed to.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackendPoolProperties",
          "description": "Properties of the Front Door Backend Pool",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "BackendPoolProperties": {
      "type": "object",
      "description": "The JSON object that contains the properties required to create a Backend Pool.",
      "properties": {
        "resourceState": {
          "$ref": "#/definitions/FrontDoorResourceState",
          "title": "Resource status of the Front Door or Front Door SubResource.",
          "description": "Resource status.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BackendPoolUpdateParameters"
        }
      ]
    },
    "BackendPoolUpdateParameters": {
      "type": "object",
      "description": "A collection of backends that can be routed to.",
      "properties": {
        "backends": {
          "type": "array",
          "description": "The set of backends for this pool",
          "items": {
            "$ref": "#/definitions/Backend"
          }
        },
        "loadBalancingSettings": {
          "$ref": "#/definitions/SubResource",
          "description": "Load balancing settings for a backend pool"
        },
        "healthProbeSettings": {
          "$ref": "#/definitions/SubResource",
          "description": "L7 health probe settings for a backend pool"
        }
      }
    },
    "BackendPoolsSettings": {
      "type": "object",
      "description": "Settings that apply to all backend pools.",
      "properties": {
        "enforceCertificateNameCheck": {
          "type": "string",
          "description": "Whether to enforce certificate name check on HTTPS requests to all backend pools. No effect on non-HTTPS requests.",
          "default": "Enabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "EnforceCertificateNameCheckEnabledState",
            "modelAsString": true,
            "values": [
              {
                "name": "Enabled",
                "value": "Enabled",
                "description": "Enabled"
              },
              {
                "name": "Disabled",
                "value": "Disabled",
                "description": "Disabled"
              }
            ]
          }
        },
        "sendRecvTimeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Send and receive timeout on forwarding request to the backend. When timeout is reached, the request fails and returns.",
          "minimum": 16
        }
      }
    },
    "BasicResource": {
      "type": "object",
      "description": "Common resource representation.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID.",
          "readOnly": true
        },
        "name": {
[...]
