{
  "swagger": "2.0",
  "info": {
    "version": "2021-10-01-preview",
    "title": "LabServicesClient",
    "description": "Azure Lab Services REST API.",
    "x-ms-code-generation-settings": {
      "internalConstructors": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.LabServices/operations": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get all operations",
        "description": "Returns a list of all operations.",
        "operationId": "Operations_List",
        "responses": {
          "200": {
            "description": "The request was successful; response contains all operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "The default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "listOperations": {
            "$ref": "./examples/LabServices/listOperations.json"
          }
        }
      }
    }
  },
  "definitions": {
    "provisioningState": {
      "type": "string",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Locked"
      ],
      "description": "Resource provisioning state.",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false,
        "values": [
          {
            "value": "Creating",
            "description": "Resource is in the process of being created."
          },
          {
            "value": "Updating",
            "description": "New property values are being applied to the resource."
          },
          {
            "value": "Deleting",
            "description": "Resource is in the process of being deleted."
          },
          {
            "value": "Succeeded",
            "description": "Resource is in healthy state after creation or update operation."
          },
          {
            "value": "Failed",
            "description": "Previous operation on the resource has failed leaving resource in unhealthy state."
          },
          {
            "value": "Locked",
            "description": "The resource is locked and changes are currently blocked. This could be due to maintenance or a scheduled operation. The state will go back to succeeded once the locking operation has finished."
          }
        ]
      }
    },
    "enableState": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "description": "Property enabled state.",
      "x-ms-enum": {
        "name": "EnableState",
        "modelAsString": false
      }
    },
    "connectionType": {
      "type": "string",
      "enum": [
        "Public",
        "Private",
        "None"
      ],
      "description": "A connection type for access labs and VMs (Public, Private or None).",
      "x-ms-enum": {
        "name": "ConnectionType",
        "modelAsString": false
      }
    },
    "emailAddress": {
      "type": "string",
      "minLength": 6,
      "maxLength": 254,
      "description": "An email address."
    },
    "phoneNumber": {
      "type": "string",
      "minLength": 1,
      "maxLength": 31,
      "description": "A phone number."
    },
    "url": {
      "type": "string",
      "minLength": 3,
      "maxLength": 2000,
      "description": "A URL."
    },
    "osType": {
      "type": "string",
      "enum": [
        "Windows",
        "Linux"
      ],
      "description": "The operating system type.",
      "x-ms-enum": {
        "name": "OsType",
        "modelAsString": false
      }
    },
    "osState": {
      "type": "string",
      "enum": [
        "Generalized",
        "Specialized"
      ],
      "description": "The operating system state.",
      "x-ms-enum": {
        "name": "OsState",
        "modelAsString": false,
        "values": [
          {
            "value": "Generalized",
            "description": "Image does not contain any machine and user specific information."
          },
          {
            "value": "Specialized",
            "description": "Image contains machine and user specific information."
          }
        ]
      }
    },
    "shutdownOnIdleMode": {
      "type": "string",
      "enum": [
        "None",
        "UserAbsence",
        "LowUsage"
      ],
      "description": "Defines whether to shut down VM on idle and the criteria for idle detection.",
      "x-ms-enum": {
        "name": "shutdownOnIdleMode",
        "modelAsString": false,
        "values": [
          {
            "value": "None",
            "description": "The VM won't be shut down when it is idle."
          },
          {
            "value": "UserAbsence",
            "description": "The VM will be considered as idle when there is no keyboard or mouse input."
          },
          {
            "value": "LowUsage",
            "description": "The VM will be considered as idle when user is absent and the resource (CPU and disk) consumption is low."
          }
        ]
      }
    },
    "TrackedResourceUpdate": {
      "description": "Base tracked resource type for all PATCH updates.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AutoShutdownProfile": {
      "description": "Profile for how to handle shutting down virtual machines.",
      "type": "object",
      "properties": {
        "shutdownOnDisconnect": {
          "description": "Whether shutdown on disconnect is enabled",
          "default": "Disabled",
          "$ref": "#/definitions/enableState"
        },
        "shutdownWhenNotConnected": {
          "description": "Whether a VM will get shutdown when it hasn't been connected to after a period of time.",
          "default": "Disabled",
          "$ref": "#/definitions/enableState"
        },
        "shutdownOnIdle": {
          "description": "Whether a VM will get shutdown when it has idled for a period of time.",
          "default": "None",
          "$ref": "#/definitions/shutdownOnIdleMode"
        },
        "disconnectDelay": {
          "description": "The amount of time a VM will stay running after a user disconnects if this behavior is enabled.",
          "type": "string",
          "format": "duration"
        },
        "noConnectDelay": {
          "description": "The amount of time a VM will stay running before it is shutdown if no connection is made and this behavior is enabled.",
          "type": "string",
          "format": "duration"
        },
        "idleDelay": {
          "description": "The amount of time a VM will idle before it is shutdown if this behavior is enabled.",
          "type": "string",
          "format": "duration"
        }
      }
    },
    "ConnectionProfile": {
      "description": "Connection profile for how users connect to lab virtual machines.",
      "type": "object",
      "properties": {
        "webSshAccess": {
          "description": "The enabled access level for Web Access over SSH.",
          "default": "None",
          "$ref": "#/definitions/connectionType"
        },
        "webRdpAccess": {
          "description": "The enabled access level for Web Access over RDP.",
          "default": "None",
          "$ref": "#/definitions/connectionType"
        },
        "clientSshAccess": {
          "description": "The enabled access level for Client Access over SSH.",
          "default": "None",
          "$ref": "#/definitions/connectionType"
        },
        "clientRdpAccess": {
          "description": "The enabled access level for Client Access over RDP.",
          "default": "None",
          "$ref": "#/definitions/connectionType"
        }
      }
    }
  }
}
