{
  "swagger": "2.0",
  "info": {
    "title": "Stream Analytics Management Client",
    "version": "2021-10-01-preview",
    "description": "Stream Analytics Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Functions"
    },
    {
      "name": "StreamingJobs"
    },
    {
      "name": "Inputs"
    },
    {
      "name": "Outputs"
    },
    {
      "name": "Transformations"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "PrivateEndpoints"
    }
  ],
  "paths": {
    "/providers/Microsoft.StreamAnalytics/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/clusters": {
      "get": {
        "operationId": "Clusters_ListBySubscription",
        "tags": [
          "Clusters"
        ],
        "description": "Lists all of the clusters in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the clusters in a subscription": {
            "$ref": "./examples/Clusters_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/compileQuery": {
      "post": {
        "operationId": "SubscriptionsOperations_CompileQuery",
        "description": "Compile the Stream Analytics query.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The region to which the request is sent. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "compileQuery",
            "in": "body",
            "description": "The query compilation object which defines the input, output, and transformation for the query compilation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompileQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryCompilationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/quotas": {
      "get": {
        "operationId": "SubscriptionsOperations_ListQuotas",
        "description": "Retrieves the subscription's current quota information in a particular region.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The region to which the request is sent. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SubscriptionQuotasListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/sampleInput": {
      "post": {
        "operationId": "SubscriptionsOperations_SampleInput",
        "description": "Sample the Stream Analytics input data.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The region to which the request is sent. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "sampleInput",
            "in": "body",
            "description": "Defines the necessary parameters for sampling the Stream Analytics input data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SampleInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SampleInputResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/testInput": {
      "post": {
        "operationId": "SubscriptionsOperations_TestInput",
        "description": "Test the Stream Analytics input.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The region to which the request is sent. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "testInput",
            "in": "body",
            "description": "Defines the necessary parameters for testing the Stream Analytics input.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TestDatasourceResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/testOutput": {
      "post": {
        "operationId": "SubscriptionsOperations_TestOutput",
        "description": "Test the Stream Analytics output.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The region to which the request is sent. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "testOutput",
            "in": "body",
            "description": "Defines the necessary parameters for testing the Stream Analytics output.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestOutput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TestDatasourceResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/testQuery": {
      "post": {
        "operationId": "SubscriptionsOperations_TestQuery",
        "description": "Test the Stream Analytics query on a sample input.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The region to which the request is sent. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "testQuery",
            "in": "body",
            "description": "The query testing object that defines the input, output, and transformation for the query testing.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryTestingResult"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/streamingjobs": {
      "get": {
        "operationId": "StreamingJobs_List",
        "tags": [
          "StreamingJobs"
        ],
        "description": "Lists all of the streaming jobs in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StreamingJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all streaming jobs in a subscription and do not use the $expand OData query parameter": {
            "$ref": "./examples/StreamingJobs_List_List_All_Streaming_Jobs_In_A_Subscription_And_Do_Not_Use_The_Expand_O_Data_Query_Parameter.json"
          },
          "List all streaming jobs in a subscription and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions": {
            "$ref": "./examples/StreamingJobs_List_List_All_Streaming_Jobs_In_A_Subscription_And_Use_The_Expand_O_Data_Query_Parameter_To_Expand_Inputs_Outputs_Transformation_And_Functions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters": {
      "get": {
        "operationId": "Clusters_ListByResourceGroup",
        "tags": [
          "Clusters"
        ],
        "description": "Lists all of the clusters in the given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters in resource group": {
            "$ref": "./examples/Clusters_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Gets information about the specified cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a cluster": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Clusters_CreateOrUpdate",
        "tags": [
          "Clusters"
        ],
        "description": "Creates a Stream Analytics Cluster or replaces an already existing cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the resource. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-None-Match"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster",
            "in": "body",
            "description": "The definition of the cluster that will be used to create a new cluster or replace the existing one.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "x-ms-client-name": "cluster"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Cluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Resource 'Cluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new cluster": {
            "$ref": "./examples/Clusters_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "tags": [
          "Clusters"
        ],
        "description": "Deletes the specified cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a cluster": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/clusters/{name}": {
      "patch": {
        "operationId": "Clusters_Update",
        "tags": [
          "Clusters"
        ],
        "description": "Updates an existing cluster. This can be used to partially update (ie. update one or two properties) a cluster without affecting the rest of the cluster definition.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the resource. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster",
            "in": "body",
            "description": "The properties specified here will overwrite the corresponding properties in the existing cluster (ie. Those properties will be updated).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "x-ms-client-name": "cluster"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a cluster": {
            "$ref": "./examples/Clusters_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/listStreamingJobs": {
      "post": {
        "operationId": "Clusters_ListStreamingJobs",
        "tags": [
          "Clusters"
        ],
        "description": "Lists all of the streaming jobs in the given cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedClusterJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all streaming jobs in cluster": {
            "$ref": "./examples/Clusters_ListStreamingJobs.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/privateEndpoints": {
      "get": {
        "operationId": "PrivateEndpoints_ListByCluster",
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Lists the private endpoints in the cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the private endpoints in a cluster": {
            "$ref": "./examples/PrivateEndpoints_ListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/privateEndpoints/{privateEndpointName}": {
      "get": {
        "operationId": "PrivateEndpoints_Get",
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Gets information about the specified Private Endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointName",
            "in": "path",
            "description": "The name of the private endpoint.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a private endpoint": {
            "$ref": "./examples/PrivateEndpoints_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpoints_CreateOrUpdate",
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Creates a Stream Analytics Private Endpoint or replaces an already existing Private Endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the resource. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-None-Match"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointName",
            "in": "path",
            "description": "The name of the private endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpoint",
            "in": "body",
            "description": "The definition of the private endpoint that will be used to create a new cluster or replace the existing one.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            },
            "x-ms-client-name": "privateEndpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpoint' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpoint' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a private endpoint": {
            "$ref": "./examples/PrivateEndpoints_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpoints_Delete",
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Delete the specified private endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointName",
            "in": "path",
            "description": "The name of the private endpoint.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a private endpoint": {
            "$ref": "./examples/PrivateEndpoints_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs": {
      "get": {
        "operationId": "StreamingJobs_ListByResourceGroup",
        "tags": [
          "StreamingJobs"
        ],
        "description": "Lists all of the streaming jobs in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StreamingJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all streaming jobs in a resource group and do not use the $expand OData query parameter": {
            "$ref": "./examples/StreamingJobs_ListByResourceGroup_List_All_Streaming_Jobs_In_A_Resource_Group_And_Do_Not_Use_The_Expand_O_Data_Query_Parameter.json"
          },
          "List all streaming jobs in a resource group and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions": {
            "$ref": "./examples/StreamingJobs_ListByResourceGroup_List_All_Streaming_Jobs_In_A_Resource_Group_And_Use_The_Expand_O_Data_Query_Parameter_To_Expand_Inputs_Outputs_Transformation_And_Functions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}": {
      "get": {
        "operationId": "StreamingJobs_Get",
        "tags": [
          "StreamingJobs"
        ],
        "description": "Gets details about the specified streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a streaming job and do not use the $expand OData query parameter": {
            "$ref": "./examples/StreamingJobs_Get_Get_A_Streaming_Job_And_Do_Not_Use_The_Expand_O_Data_Query_Parameter.json"
          },
          "Get a streaming job and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions": {
            "$ref": "./examples/StreamingJobs_Get_Get_A_Streaming_Job_And_Use_The_Expand_O_Data_Query_Parameter_To_Expand_Inputs_Outputs_Transformation_And_Functions.json"
          }
        }
      },
      "put": {
        "operationId": "StreamingJobs_CreateOrReplace",
        "tags": [
          "StreamingJobs"
        ],
        "description": "Creates a streaming job or replaces an already existing streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new streaming job to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "streamingJob",
            "in": "body",
            "description": "The definition of the streaming job that will be used to create a new streaming job or replace the existing one.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "x-ms-client-name": "streamingJob"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StreamingJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            }
          },
          "201": {
            "description": "Resource 'StreamingJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a complete streaming job (a streaming job with a transformation, at least 1 input and at least 1 output)": {
            "$ref": "./examples/StreamingJobs_CreateOrReplace_Create_A_Complete_Streaming_Job_A_Streaming_Job_With_A_Transformation_At_Least_1_Input_And_At_Least_1_Output.json"
          },
          "Create a streaming job shell (a streaming job with no inputs, outputs, transformation, or functions)": {
            "$ref": "./examples/StreamingJobs_CreateOrReplace_Create_A_Streaming_Job_Shell_A_Streaming_Job_With_No_Inputs_Outputs_Transformation_Or_Functions.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "StreamingJobs_Delete",
        "tags": [
          "StreamingJobs"
        ],
        "description": "Deletes a streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a streaming job": {
            "$ref": "./examples/StreamingJobs_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions": {
      "get": {
        "operationId": "Functions_ListByStreamingJob",
        "tags": [
          "Functions"
        ],
        "description": "Lists all of the functions under the specified streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FunctionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all functions in a streaming job": {
            "$ref": "./examples/Functions_ListByStreamingJob.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}": {
      "get": {
        "operationId": "Functions_Get",
        "tags": [
          "Functions"
        ],
        "description": "Gets details about the specified function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Function"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a JavaScript function": {
            "$ref": "./examples/Functions_Get_Get_A_Java_Script_Function.json"
          },
          "Get an Azure ML function": {
            "$ref": "./examples/Functions_Get_Get_An_Azure_Ml_Function.json"
          }
        }
      },
      "put": {
        "operationId": "Functions_CreateOrReplace",
        "tags": [
          "Functions"
        ],
        "description": "Creates a function or replaces an already existing function under an existing streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the function. Omit this value to always overwrite the current function. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new function to be created, but to prevent updating an existing function. Other values will result in a 412 Pre-condition Failed response.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          },
          {
            "name": "function",
            "in": "body",
            "description": "The definition of the function that will be used to create a new function or replace the existing one under the streaming job.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Function"
            },
            "x-ms-client-name": "function"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Function' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Function"
            }
          },
          "201": {
            "description": "Resource 'Function' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Function"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a CLRUdf function": {
            "$ref": "./examples/Functions_CreateOrReplace_Create_A_Clr_Udf_Function.json"
          },
          "Create a JavaScript function": {
            "$ref": "./examples/Functions_CreateOrReplace_Create_A_Java_Script_Function.json"
          },
          "Create an Azure ML Service function": {
            "$ref": "./examples/Functions_CreateOrReplace_Create_An_Azure_Ml_Service_Function.json"
          },
          "Create an Azure ML function": {
            "$ref": "./examples/Functions_CreateOrReplace_Create_An_Azure_Ml_Function.json"
          }
        }
      },
      "delete": {
        "operationId": "Functions_Delete",
        "tags": [
          "Functions"
        ],
        "description": "Deletes a function from the streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a function": {
            "$ref": "./examples/Functions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/functions/{name}": {
      "patch": {
        "operationId": "Functions_Update",
        "tags": [
          "Functions"
        ],
        "description": "Updates an existing function under an existing streaming job. This can be used to partially update (ie. update one or two properties) a function without affecting the rest the job or function definition.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the function. Omit this value to always overwrite the current function. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          },
          {
            "name": "function",
            "in": "body",
            "description": "A function object. The properties specified here will overwrite the corresponding properties in the existing function (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing function will remain the same and not change as a result of this PATCH operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Function"
            },
            "x-ms-client-name": "function"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Function"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a JavaScript function": {
            "$ref": "./examples/Functions_Update_Update_A_Java_Script_Function.json"
          },
          "Update an Azure ML function": {
            "$ref": "./examples/Functions_Update_Update_An_Azure_Ml_Function.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/retrieveDefaultDefinition": {
      "post": {
        "operationId": "Functions_RetrieveDefaultDefinition",
        "tags": [
          "Functions"
        ],
        "description": "Retrieves the default definition of a function based on the parameters specified.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionRetrieveDefaultDefinitionParameters",
            "in": "body",
            "description": "Parameters used to specify the type of function to retrieve the default definition for.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FunctionRetrieveDefaultDefinitionParameters"
            },
            "x-ms-client-name": "functionRetrieveDefaultDefinitionParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Function"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve the default definition for an Azure ML function": {
            "$ref": "./examples/Functions_RetrieveDefaultDefinition.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/test": {
      "post": {
        "operationId": "Functions_Test",
        "tags": [
          "Functions"
        ],
        "description": "Tests if the information provided for a function is valid. This can range from testing the connection to the underlying web service behind the function or making sure the function code provided is syntactically correct.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "type": "string"
          },
          {
            "name": "function",
            "in": "body",
            "description": "If the function specified does not already exist, this parameter must contain the full function definition intended to be tested. If the function specified already exists, this parameter can be left null to test the existing function as is or if specified, the properties specified will overwrite the corresponding properties in the existing function (exactly like a PATCH operation) and the resulting function will be tested.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Function"
            },
            "x-ms-client-name": "function"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceTestStatus"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Test the connection for a JavaScript function": {
            "$ref": "./examples/Functions_Test_Test_The_Connection_For_A_Java_Script_Function.json"
          },
          "Test the connection for an Azure ML function": {
            "$ref": "./examples/Functions_Test_Test_The_Connection_For_An_Azure_Ml_Function.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs": {
      "get": {
        "operationId": "Inputs_ListByStreamingJob",
        "tags": [
          "Inputs"
        ],
        "description": "Lists all of the inputs under the specified streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InputListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all inputs in a streaming job": {
            "$ref": "./examples/Inputs_ListByStreamingJob_List_All_Inputs_In_A_Streaming_Job.json"
          },
          "List all inputs in a streaming job and include diagnostic information using the $select OData query parameter": {
            "$ref": "./examples/Inputs_ListByStreamingJob_List_All_Inputs_In_A_Streaming_Job_And_Include_Diagnostic_Information_Using_The_Select_O_Data_Query_Parameter.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}": {
      "get": {
        "operationId": "Inputs_Get",
        "tags": [
          "Inputs"
        ],
        "description": "Gets details about the specified input.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inputName",
            "in": "path",
            "description": "The name of the input.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Input"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a reference blob input with CSV serialization": {
            "$ref": "./examples/Inputs_Get_Get_A_Reference_Blob_Input_With_Csv_Serialization.json"
          },
          "Get a stream Event Hub input with JSON serialization": {
            "$ref": "./examples/Inputs_Get_Get_A_Stream_Event_Hub_Input_With_Json_Serialization.json"
          },
          "Get a stream IoT Hub input with Avro serialization": {
            "$ref": "./examples/Inputs_Get_Get_A_Stream_Io_T_Hub_Input_With_Avro_Serialization.json"
          },
          "Get a stream blob input with CSV serialization": {
            "$ref": "./examples/Inputs_Get_Get_A_Stream_Blob_Input_With_Csv_Serialization.json"
          }
        }
      },
      "put": {
        "operationId": "Inputs_CreateOrReplace",
        "tags": [
          "Inputs"
        ],
        "description": "Creates an input or replaces an already existing input under an existing streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the input. Omit this value to always overwrite the current input. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new input to be created, but to prevent updating an existing input. Other values will result in a 412 Pre-condition Failed response.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inputName",
            "in": "path",
            "description": "The name of the input.",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "description": "The definition of the input that will be used to create a new input or replace the existing one under the streaming job.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Input"
            },
            "x-ms-client-name": "input"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Input' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Input"
            }
          },
          "201": {
            "description": "Resource 'Input' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Input"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Gateway Message Bus input": {
            "$ref": "./examples/Inputs_CreateOrReplace_Create_A_Gateway_Message_Bus_Input.json"
          },
          "Create a reference blob input with CSV serialization": {
            "$ref": "./examples/Inputs_CreateOrReplace_Create_A_Reference_Blob_Input_With_Csv_Serialization.json"
          },
          "Create a stream Event Hub input with JSON serialization": {
            "$ref": "./examples/Inputs_CreateOrReplace_Create_A_Stream_Event_Hub_Input_With_Json_Serialization.json"
          },
          "Create a stream IoT Hub input with Avro serialization": {
            "$ref": "./examples/Inputs_CreateOrReplace_Create_A_Stream_Io_T_Hub_Input_With_Avro_Serialization.json"
          },
          "Create a stream blob input with CSV serialization": {
            "$ref": "./examples/Inputs_CreateOrReplace_Create_A_Stream_Blob_Input_With_Csv_Serialization.json"
          },
          "Create an Event Grid input": {
            "$ref": "./examples/Inputs_CreateOrReplace_Create_An_Event_Grid_Input.json"
          }
        }
      },
      "delete": {
        "operationId": "Inputs_Delete",
        "tags": [
          "Inputs"
        ],
        "description": "Deletes an input from the streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inputName",
            "in": "path",
            "description": "The name of the input.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an input": {
            "$ref": "./examples/Inputs_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/inputs/{name}": {
      "patch": {
        "operationId": "Inputs_Update",
        "tags": [
          "Inputs"
        ],
        "description": "Updates an existing input under an existing streaming job. This can be used to partially update (ie. update one or two properties) an input without affecting the rest the job or input definition.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the input. Omit this value to always overwrite the current input. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inputName",
            "in": "path",
            "description": "The name of the input.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the input.",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "description": "An Input object. The properties specified here will overwrite the corresponding properties in the existing input (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Input"
            },
            "x-ms-client-name": "input"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Input"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a reference blob input": {
            "$ref": "./examples/Inputs_Update_Update_A_Reference_Blob_Input.json"
          },
          "Update a stream Event Hub input": {
            "$ref": "./examples/Inputs_Update_Update_A_Stream_Event_Hub_Input.json"
          },
          "Update a stream IoT Hub input": {
            "$ref": "./examples/Inputs_Update_Update_A_Stream_Io_T_Hub_Input.json"
          },
          "Update a stream blob input": {
            "$ref": "./examples/Inputs_Update_Update_A_Stream_Blob_Input.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/test": {
      "post": {
        "operationId": "Inputs_Test",
        "tags": [
          "Inputs"
        ],
        "description": "Tests whether an input’s datasource is reachable and usable by the Azure Stream Analytics service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inputName",
            "in": "path",
            "description": "The name of the input.",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "description": "If the input specified does not already exist, this parameter must contain the full input definition intended to be tested. If the input specified already exists, this parameter can be left null to test the existing input as is or if specified, the properties specified will overwrite the corresponding properties in the existing input (exactly like a PATCH operation) and the resulting input will be tested.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Input"
            },
            "x-ms-client-name": "input"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceTestStatus"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Test the connection for an input": {
            "$ref": "./examples/Inputs_Test.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs": {
      "get": {
        "operationId": "Outputs_ListByStreamingJob",
        "tags": [
          "Outputs"
        ],
        "description": "Lists all of the outputs under the specified streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OutputListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all outputs in a streaming job": {
            "$ref": "./examples/Outputs_ListByStreamingJob.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}": {
      "get": {
        "operationId": "Outputs_Get",
        "tags": [
          "Outputs"
        ],
        "description": "Gets details about the specified output.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "outputName",
            "in": "path",
            "description": "The name of the output.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a DocumentDB output": {
            "$ref": "./examples/Outputs_Get_Get_A_Document_Db_Output.json"
          },
          "Get a Power BI output": {
            "$ref": "./examples/Outputs_Get_Get_A_Power_Bi_Output.json"
          },
          "Get a Service Bus Queue output with Avro serialization": {
            "$ref": "./examples/Outputs_Get_Get_A_Service_Bus_Queue_Output_With_Avro_Serialization.json"
          },
          "Get a Service Bus Topic output with CSV serialization": {
            "$ref": "./examples/Outputs_Get_Get_A_Service_Bus_Topic_Output_With_Csv_Serialization.json"
          },
          "Get a blob output with CSV serialization": {
            "$ref": "./examples/Outputs_Get_Get_A_Blob_Output_With_Csv_Serialization.json"
          },
          "Get an Azure Data Lake Store output with JSON serialization": {
            "$ref": "./examples/Outputs_Get_Get_An_Azure_Data_Lake_Store_Output_With_Json_Serialization.json"
          },
          "Get an Azure Data Warehouse output": {
            "$ref": "./examples/Outputs_Get_Get_An_Azure_Data_Warehouse_Output.json"
          },
          "Get an Azure Function output": {
            "$ref": "./examples/Outputs_Get_Get_An_Azure_Function_Output.json"
          },
          "Get an Azure SQL database output": {
            "$ref": "./examples/Outputs_Get_Get_An_Azure_Sql_Database_Output.json"
          },
          "Get an Azure Table output": {
            "$ref": "./examples/Outputs_Get_Get_An_Azure_Table_Output.json"
          },
          "Get an Event Hub output with JSON serialization": {
            "$ref": "./examples/Outputs_Get_Get_An_Event_Hub_Output_With_Json_Serialization.json"
          }
        }
      },
      "put": {
        "operationId": "Outputs_CreateOrReplace",
        "tags": [
          "Outputs"
        ],
        "description": "Creates an output or replaces an already existing output under an existing streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The ETag of the output. Omit this value to always overwrite the current output. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Set to '*' to allow a new output to be created, but to prevent updating an existing output. Other values will result in a 412 Pre-condition Failed response.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "outputName",
            "in": "path",
            "description": "The name of the output.",
            "required": true,
            "type": "string"
          },
          {
            "name": "output",
            "in": "body",
            "description": "The definition of the output that will be used to create a new output or replace the existing one under the streaming job.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Output"
            },
            "x-ms-client-name": "output"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Output' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          },
          "201": {
            "description": "Resource 'Output' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a DocumentDB output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Document_Db_Output.json"
          },
          "Create a Gateway Message Bus output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Gateway_Message_Bus_Output.json"
          },
          "Create a PostgreSQL output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Postgre_Sql_Output.json"
          },
          "Create a Power BI output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Power_Bi_Output.json"
          },
          "Create a Service Bus Queue output with Avro serialization": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Service_Bus_Queue_Output_With_Avro_Serialization.json"
          },
          "Create a Service Bus Topic output with CSV serialization": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Service_Bus_Topic_Output_With_Csv_Serialization.json"
          },
          "Create a blob output with CSV serialization": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_A_Blob_Output_With_Csv_Serialization.json"
          },
          "Create an Azure Data Lake Store output with JSON serialization": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_An_Azure_Data_Lake_Store_Output_With_Json_Serialization.json"
          },
          "Create an Azure Data Warehouse output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_An_Azure_Data_Warehouse_Output.json"
          },
          "Create an Azure Function output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_An_Azure_Function_Output.json"
          },
          "Create an Azure SQL database output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_An_Azure_Sql_Database_Output.json"
          },
          "Create an Azure Table output": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_An_Azure_Table_Output.json"
          },
          "Create an Event Hub output with JSON serialization": {
            "$ref": "./examples/Outputs_CreateOrReplace_Create_An_Event_Hub_Output_With_Json_Serialization.json"
          }
        }
      },
      "delete": {
        "operationId": "Outputs_Delete",
        "tags": [
          "Outputs"
        ],
        "description": "Deletes an output from the streaming job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the streaming job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "outputName",
            "in": "path",
            "description": "The name of the output.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an output": {
[...]
