{
  "swagger": "2.0",
  "info": {
    "title": "Azure Action Groups Network Security Perimeter APIs",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2021-10-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a list of NSP configurations for specified action group.",
        "operationId": "ActionGroups_ListNSP",
        "x-ms-examples": {
          "Get an action group": {
            "$ref": "./examples/NSPForActionGroups_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of configs.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/networkSecurityPerimeterConfigurations/{configurationName}": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a specified NSP configuration for specified action group.",
        "operationId": "ActionGroups_GetNSP",
        "x-ms-examples": {
          "Get NSP config by name for an action group": {
            "$ref": "./examples/NSPForActionGroups_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "$ref": "#/parameters/configurationName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the NSP config.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/networkSecurityPerimeterConfigurations/{configurationName}/reconcile": {
      "post": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconciles a specified NSP configuration for specified action group.",
        "operationId": "ActionGroups_ReconcileNSP",
        "x-ms-examples": {
          "Reconcile NSP config by name for an action group": {
            "$ref": "./examples/NSPForActionGroups_Reconcile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "$ref": "#/parameters/configurationName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Request to reconcile the association accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeterConfiguration": {
      "description": "NSP Configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationListResult": {
      "description": "A list of NSP configurations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationProperties": {
      "description": "The properties of an NSP config.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of Network Security Perimeter configuration propagation",
          "enum": [
            "Accepted",
            "Succeeded",
            "Failed",
            "Deleting",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "NetworkSecurityPerimeterConfigurationProvisioningState",
            "modelAsString": true
          }
        },
        "networkSecurityPerimeter": {
          "$ref": "#/definitions/NSPConfigPerimeter"
        },
        "resourceAssociation": {
          "$ref": "#/definitions/NSPConfigAssociation"
        },
        "profile": {
          "$ref": "#/definitions/NSPConfigProfile"
        },
        "provisioningIssues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPProvisioningIssue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NSPConfigAccessRule": {
      "description": "Information of Access Rule in Network Security Perimeter profile",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NSPConfigAccessRuleProperties"
        }
      }
    },
    "NSPConfigAccessRuleProperties": {
      "description": "Properties of Access Rule",
      "type": "object",
      "properties": {
        "direction": {
          "description": "Direction of Access Rule",
          "enum": [
            "Inbound",
            "Outbound"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NspAccessRuleDirection",
            "modelAsString": true
          }
        },
        "addressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fullyQualifiedDomainNames": {
          "description": "FQDN for outbound rules",
          "type": "array",
          "readOnly": true,
          "items": {
            "description": "Fully qualified domain name",
            "type": "string"
          }
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkSecurityPerimeters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPConfigPerimeter"
          }
        }
      }
    },
    "NSPConfigAssociation": {
      "description": "Information about resource association",
      "type": "object",
      "readOnly": true,
      "properties": {
        "name": {
          "type": "string"
        },
        "accessMode": {
          "description": "Access Mode of the resource association",
          "enum": [
            "Enforced",
            "Learning",
            "Audit"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceAssociationAccessMode",
            "modelAsString": true
          }
        }
      }
    },
    "NSPConfigPerimeter": {
      "description": "NetworkSecurityPerimeter related information",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id"
        },
        "perimeterGuid": {
          "type": "string"
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      }
    },
    "NSPConfigProfile": {
      "description": "Network Security Perimeter profile",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accessRulesVersion": {
          "type": "string"
        },
        "accessRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPConfigAccessRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NSPProvisioningIssue": {
      "description": "Describes provisioning issue for given NetworkSecurityPerimeterConfiguration",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NSPProvisioningIssueProperties"
        }
      }
    },
    "NSPProvisioningIssueProperties": {
      "description": "Properties of provisioning issue",
      "type": "object",
      "properties": {
        "issueType": {
          "description": "Type of issue",
          "enum": [
            "Unknown",
            "ConfigurationPropagationFailure"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IssueType",
            "modelAsString": true
          }
        },
        "severity": {
          "description": "Severity of the issue.",
          "enum": [
            "Warning",
            "Error"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Severity",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string"
        },
        "suggestedResourceIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedAccessRules": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "ActionGroupNameParameter": {
      "name": "actionGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the action group.",
      "x-ms-parameter-location": "method",
      "pattern": "^.*$",
      "maxLength": 43
    },
    "configurationName": {
      "name": "configurationName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^.*$",
      "description": "The name for Network Security Perimeter configuration",
      "x-ms-parameter-location": "method"
    }
  }
}
