{
  "swagger": "2.0",
  "info": {
    "title": "Azure Action Groups API",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2021-10-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a list of NSP configurations for specified action group.",
        "operationId": "ActionGroups_NSP_List",
        "x-ms-examples": {
          "Get an action group": {
            "$ref": "./examples/NSPForActionGroups_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of configs.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationListResult"
            }
          },
          "default": {
            "description": "An error occurred and the NSP configs could not be retrieved.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/networkSecurityPerimeterConfigurations/{configurationName}": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a specified NSP configuration for specified action group.",
        "operationId": "ActionGroups_NSP_Get",
        "x-ms-examples": {
          "Get NSP config by name for an action group": {
            "$ref": "./examples/NSPForActionGroups_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the NSP configuration."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the NSP config.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "An error occurred and the NSP config could not be retrieved.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/networkSecurityPerimeterConfigurations/{configurationName}/reconcile": {
      "post": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconciles a specified NSP configuration for specified action group.",
        "operationId": "ActionGroups_NSP_Reconcile",
        "x-ms-examples": {
          "Reconcile NSP config by name for an action group": {
            "$ref": "./examples/NSPForActionGroups_Reconcile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the NSP configuration."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully reconciled the NSP config.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "An error occurred and the NSP config could not be reconciled.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
    "definitions": {
      "NetworkSecurityPerimeterConfiguration": {
        "description": "NSP Configuration",
        "type": "object",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        }
      },
      "NetworkSecurityPerimeterConfigurationListResult": {
        "description": "A list of NSP configurations.",
        "type": "object",
        "properties": {
          "value": {
            "description": "Array of results.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            },
            "readOnly": true
          },
          "nextLink": {
            "description": "Link to retrieve next page of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "NetworkSecurityPerimeterConfigurationProperties": {
        "description": "The properties of an NSP config.",
        "type": "object",
        "properties": {
          "provisioningState": {
            "type": "string"
          },
          "networkSecurityPerimeter": {
            "$ref": "#/definitions/NSPConfigPerimeter"
          },
          "resourceAssociation": {
            "$ref": "#/definitions/NSPConfigAssociation"
          },
          "profile": {
            "$ref": "#/definitions/NSPConfigProfile"
          },
          "provisioningIssues": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/NSPProvisioningIssue"
            },
            "x-ms-identifiers": []
          }
        }
      },
      "NSPConfigAccessRule": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/definitions/NSPConfigAccessRuleProperties"
          }
        }
      },
      "NSPConfigAccessRuleProperties": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string"
          },
          "addressPrefixes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fullyQualifiedDomainNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "networkSecurityPerimeters": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/NSPConfigNetworkSecurityPerimeterRule"
            }
          }
        }
      },
      "NSPConfigAssociation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "accessMode": {
            "type": "string"
          }
        }
      },
      "NSPConfigNetworkSecurityPerimeterRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "perimeterGuid": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "NSPConfigPerimeter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "perimeterGuid": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "NSPConfigProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "accessRulesVersion": {
            "type": "string"
          },
          "accessRules": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/NSPConfigAccessRule"
            },
            "x-ms-identifiers": []
          }
        }
      },
      "NSPProvisioningIssue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/definitions/NSPProvisioningIssueProperties"
          }
        }
      },
      "NSPProvisioningIssueProperties": {
        "type": "object",
        "properties": {
          "issueType": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "suggestedResourceIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "suggestedAccessRules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "ActionGroupNameParameter": {
        "name": "actionGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the action group.",
        "x-ms-parameter-location": "method"
      }
    }
  }
