{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Data Collection Endpoints API",
    "description": "Provides operations for working with Azure Monitor data collection endpoints",
    "version": "2021-10-01",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionEndpoints/{dataCollectionEndpointName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "summary": "Gets a list of NSP configurations for the specified data collection endpoint.",
        "operationId": "DataCollectionEndpoints_ListNSP",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataCollectionEndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of configs.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../common-types/v2/commonMonitoringTypes.json#/definitions/ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "List NSP configs by data collection endpoint": {
            "$ref": "./examples/NSPForDataCollectionEndpoints_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionEndpoints/{dataCollectionEndpointName}/networkSecurityPerimeterConfigurations/{configurationName}": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "summary": "Gets the specified NSP configuration for the specified data collection endpoint.",
        "operationId": "DataCollectionEndpoints_GetNSP",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataCollectionEndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/configurationName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the config.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../common-types/v2/commonMonitoringTypes.json#/definitions/ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "Get NSP configs by name for data collection endpoint": {
            "$ref": "./examples/NSPForDataCollectionEndpoints_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionEndpoints/{dataCollectionEndpointName}/networkSecurityPerimeterConfigurations/{configurationName}/reconcile": {
      "post": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "summary": "Reconciles the specified NSP configuration for the specified data collection endpoint.",
        "operationId": "DataCollectionEndpoints_ReconcileNSP",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataCollectionEndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/configurationName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully reconciled the config.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../common-types/v2/commonMonitoringTypes.json#/definitions/ErrorContract"
            }
          }
        },
        "x-ms-examples": {
          "Reconcile NSP config for data collection endpoint": {
            "$ref": "./examples/NSPForDataCollectionEndpoints_Reconcile.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeterConfiguration": {
      "description": "The Network Security Perimeter configuration resource.",
      "type": "object",
      "readOnly": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationProperties",
          "description": "Properties of the Network Security Perimeter Configuration",
          "x-ms-client-flatten": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationList": {
      "description": "Result of the List Network Security Perimeter configuration operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A collection of Network Security Perimeter configurations",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationProperties": {
      "description": "Properties of the Network Security Perimeter Configuration",
      "type": "object",
      "readOnly": true,
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of Network Security Perimeter configuration propagation",
          "enum": [
            "Accepted",
            "Succeeded",
            "Failed",
            "Deleting",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "NetworkSecurityPerimeterConfigurationProvisioningState",
            "modelAsString": true
          }
        },
        "provisioningIssues": {
          "description": "List of Provisioning Issues if any",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ProvisioningIssue"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "networkSecurityPerimeter": {
          "$ref": "#/definitions/NetworkSecurityPerimeter",
          "readOnly": true
        },
        "resourceAssociation": {
          "description": "Information about resource association",
          "readOnly": true,
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the resource association",
              "type": "string"
            },
            "accessMode": {
              "description": "Access Mode of the resource association",
              "enum": [
                "Enforced",
                "Learning",
                "Audit"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "ResourceAssociationAccessMode",
                "modelAsString": true
              }
            }
          }
        },
        "profile": {
          "description": "Network Security Perimeter profile",
          "readOnly": true,
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the resource",
              "type": "string"
            },
            "accessRulesVersion": {
              "description": "Current access rules version",
              "type": "number"
            },
            "accessRules": {
              "description": "List of Access Rules",
              "type": "array",
              "items": {
                "$ref": "#/definitions/NspAccessRule"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "diagnosticSettingsVersion": {
              "description": "Diagnostic settings version",
              "type": "number"
            },
            "enabledLogCategories": {
              "description": "Enabled logging categories",
              "type": "array",
              "items": {
                "description": "Logging category",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ProvisioningIssue": {
      "description": "Describes provisioning issue for given NetworkSecurityPerimeterConfiguration",
      "type": "object",
      "readOnly": true,
      "properties": {
        "name": {
          "description": "Name of the issue",
          "type": "string"
        },
        "properties": {
          "description": "Properties of provisioning issue",
          "type": "object",
          "readOnly": true,
          "properties": {
            "issueType": {
              "description": "Type of issue",
              "enum": [
                "Unknown",
                "ConfigurationPropagationFailure"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "IssueType",
                "modelAsString": true
              }
            },
            "severity": {
              "description": "Severity of the issue.",
              "enum": [
                "Warning",
                "Error"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "Severity",
                "modelAsString": true
              }
            },
            "description": {
              "description": "Description of the issue",
              "type": "string"
            }
          }
        }
      }
    },
    "NspAccessRule": {
      "description": "Information of Access Rule in Network Security Perimeter profile",
      "type": "object",
      "readOnly": true,
      "properties": {
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "properties": {
          "description": "Properties of Access Rule",
          "readOnly": true,
          "type": "object",
          "properties": {
            "direction": {
              "description": "Direction of Access Rule",
              "enum": [
                "Inbound",
                "Outbound"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "NspAccessRuleDirection",
                "modelAsString": true
              }
            },
            "addressPrefixes": {
              "description": "Address prefixes in the CIDR format for inbound rules",
              "type": "array",
              "items": {
                "description": "IP Address",
                "type": "string"
              }
            },
            "subscriptions": {
              "description": "Subscriptions for inbound rules",
              "type": "array",
              "items": {
                "description": "Subscription for inbound rule",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "id": {
                    "description": "The ARM identifier of subscription",
                    "type": "string"
                  }
                }
              }
            },
            "networkSecurityPerimeters": {
              "description": "NetworkSecurityPerimeters for inbound rules",
              "type": "array",
              "readOnly": true,
              "items": {
                "$ref": "#/definitions/NetworkSecurityPerimeter"
              }
            },
            "fullyQualifiedDomainNames": {
              "description": "FQDN for outbound rules",
              "type": "array",
              "readOnly": true,
              "items": {
                "description": "Fully qualified domain name",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "NetworkSecurityPerimeter": {
      "description": "NetworkSecurityPerimeter related information",
      "type": "object",
      "readOnly": true,
      "properties": {
        "id": {
          "description": "The ARM identifier of the resource",
          "type": "string"
        },
        "perimeterGuid": {
          "description": "Guid of the resource",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      }
    }
  },
  "parameters": {
    "DataCollectionEndpointNameParameter": {
      "in": "path",
      "name": "dataCollectionEndpointName",
      "description": "The name of the data collection endpoint. The name is case insensitive.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "pattern": "^.*$",
      "maxLength": 43
    },
    "configurationName": {
      "name": "configurationName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^.*$",
      "description": "The name for Network Security Perimeter configuration",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
