{
  "swagger": "2.0",
  "info": {
    "description": "Billing client provides access to billing resources for Azure subscriptions.",
    "title": "BillingManagementClient",
    "version": "2024-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments": {
      "get": {
        "description": "Lists the role assignments for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingRoleAssignments_ListByBillingProfile",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsListByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "description": "Deletes a role assignment for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_DeleteByBillingProfile",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsDeleteByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentsDeleteByBillingProfile.json"
          }
        }
      },
      "get": {
        "description": "Gets a role assignment for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingRoleAssignments_GetByBillingProfile",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsGetByBillingProfile": {
            "$ref": "./examples/billingRoleAssignmentsGetByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleAssignments": {
      "get": {
        "description": "Lists the role assignments for the caller on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingRoleAssignments_ListByInvoiceSection",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          },
          {
            "$ref": "./types.json#/parameters/invoiceSectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsListByInvoiceSection": {
            "$ref": "./examples/billingRoleAssignmentsListByInvoiceSection.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "description": "Deletes a role assignment for the caller on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_DeleteByInvoiceSection",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          },
          {
            "$ref": "./types.json#/parameters/invoiceSectionName"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsDeleteByInvoiceSection": {
            "$ref": "./examples/billingRoleAssignmentsDeleteByInvoiceSection.json"
          }
        }
      },
      "get": {
        "description": "Gets a role assignment for the caller on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingRoleAssignments_GetByInvoiceSection",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          },
          {
            "$ref": "./types.json#/parameters/invoiceSectionName"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsGetByInvoiceSection": {
            "$ref": "./examples/billingRoleAssignmentsGetByInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingRoleAssignments": {
      "get": {
        "description": "Lists the role assignments for the caller on a billing account. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingRoleAssignments_ListByBillingAccount",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsListByBillingAccount": {
            "$ref": "./examples/billingRoleAssignmentsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "description": "Deletes a role assignment for the caller on a billing account. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_DeleteByBillingAccount",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsDeleteByBillingAccount": {
            "$ref": "./examples/billingRoleAssignmentsDeleteByBillingAccount.json"
          }
        }
      },
      "get": {
        "description": "Gets a role assignment for the caller on a billing account. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingRoleAssignments_GetByBillingAccount",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "x-ms-examples": {
          "billingRoleAssignmentsGetByBillingAccount": {
            "$ref": "./examples/billingRoleAssignmentsGetByBillingAccount.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BillingRoleAssignment": {
      "allOf": [
        {
          "$ref": "./types.json#/definitions/ArmResource"
        }
      ],
      "description": "The role assignment",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BillingRoleAssignmentProperties",
          "description": "The properties of the role assignment.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "BillingRoleAssignmentListResult": {
      "description": "The list of role assignments.",
      "properties": {
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The list of role assignments.",
          "items": {
            "$ref": "#/definitions/BillingRoleAssignment"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "BillingRoleAssignmentProperties": {
      "description": "The properties of the role assignment.",
      "properties": {
        "createdByPrincipalId": {
          "description": "The principal Id of the user who created the role assignment.",
          "readOnly": true,
          "type": "string"
        },
        "createdByPrincipalTenantId": {
          "description": "The tenant Id of the user who created the role assignment.",
          "readOnly": true,
          "type": "string"
        },
        "createdByUserEmailAddress": {
          "description": "The email address of the user who created the role assignment.",
          "readOnly": true,
          "type": "string"
        },
        "createdOn": {
          "description": "The date the role assignment was created.",
          "readOnly": true,
          "type": "string"
        },
        "principalId": {
          "description": "The principal id of the user to whom the role was assigned.",
          "type": "string"
        },
        "principalTenantId": {
          "description": "The principal tenant id of the user to whom the role was assigned.",
          "type": "string"
        },
        "roleDefinitionId": {
          "description": "The ID of the role definition.",
          "type": "string"
        },
        "scope": {
          "description": "The scope at which the role was assigned.",
          "readOnly": true,
          "type": "string"
        },
        "userAuthenticationType": {
          "description": "The authentication type.",
          "type": "string"
        },
        "userEmailAddress": {
          "description": "The email address of the user.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "billingRoleAssignmentName": {
      "description": "The ID that uniquely identifies a role assignment.",
      "in": "path",
      "name": "billingRoleAssignmentName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  }
}
