{
  "swagger": "2.0",
  "info": {
    "description": "Billing client provides access to billing resources for Azure subscriptions.",
    "title": "BillingManagementClient",
    "version": "2024-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingPermissions": {
      "get": {
        "description": "Lists the billing permissions the caller has on a billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingPermissions_ListByBillingAccount",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "x-ms-examples": {
          "billingPermissionsListByBillingAccount": {
            "$ref": "./examples/billingPermissionsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingPermissions": {
      "get": {
        "description": "Lists the billing permissions the caller has on a billing profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingPermissions_ListByBillingProfile",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "x-ms-examples": {
          "billingPermissionsListByBillingProfile": {
            "$ref": "./examples/billingPermissionsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingPermissions": {
      "get": {
        "description": "Lists the billing permissions the caller has on an invoice section.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingPermissions_ListByInvoiceSections",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/billingProfileName"
          },
          {
            "$ref": "./types.json#/parameters/invoiceSectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "x-ms-examples": {
          "billingPermissionsListByInvoiceSection": {
            "$ref": "./examples/billingPermissionsListByInvoiceSection.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/billingPermissions": {
      "get": {
        "description": "Lists the billing permissions the caller has for a customer.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "BillingPermissions_ListByCustomer",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/customerName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "x-ms-examples": {
          "billingPermissionsListByCustomer": {
            "$ref": "./examples/billingPermissionsListByCustomer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Action": {
      "description": "The action the caller is allowed to perform.",
      "readOnly": true,
      "type": "string"
    },
    "BillingPermissionsListResult": {
      "description": "Result of list billingPermissions a caller has on a billing account.",
      "properties": {
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The list of billingPermissions a caller has on a billing account.",
          "items": {
            "$ref": "#/definitions/BillingPermissionsProperties"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "BillingPermissionsProperties": {
      "description": "The set of allowed action and not allowed actions a caller has on a billing account",
      "properties": {
        "actions": {
          "description": "The set of actions that the caller is allowed to perform.",
          "items": {
            "$ref": "#/definitions/Action"
          },
          "readOnly": true,
          "type": "array"
        },
        "notActions": {
          "description": "The set of actions that the caller is not allowed to perform.",
          "items": {
            "$ref": "#/definitions/NotAction"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "NotAction": {
      "description": "The set of actions that the caller is not allowed to perform.",
      "readOnly": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  }
}
