{
  "swagger": "2.0",
  "info": {
    "description": "Billing client provides access to billing resources for Azure subscriptions.",
    "title": "BillingManagementClient",
    "version": "2024-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}/transactions": {
      "get": {
        "description": "Lists the transactions for an invoice. Transactions include purchases, refunds and Azure usage charges.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "operationId": "Transactions_ListByInvoice",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/billingAccountName"
          },
          {
            "$ref": "./types.json#/parameters/invoiceName"
          },
          {
            "$ref": "./types.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./types.json#/definitions/ArmError"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "x-ms-examples": {
          "transactionsListByInvoice": {
            "$ref": "./examples/transactionsListByInvoice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Transaction": {
      "allOf": [
        {
          "$ref": "./types.json#/definitions/ArmResource"
        }
      ],
      "description": "A transaction.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TransactionProperties",
          "title": "Transaction properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "TransactionListResult": {
      "description": "The list of transactions.",
      "properties": {
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of records.",
          "format": "int32",
          "readOnly": true,
          "type": "number"
        },
        "value": {
          "description": "The list of transactions.",
          "items": {
            "$ref": "#/definitions/Transaction"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "TransactionProperties": {
      "description": "The properties of a transaction.",
      "properties": {
        "azureCreditApplied": {
          "$ref": "./types.json#/definitions/Amount",
          "description": "The amount of any Azure credits automatically applied to this transaction.",
          "readOnly": true
        },
        "azurePlan": {
          "description": "The type of azure plan of the subscription that was used for the transaction.",
          "readOnly": true,
          "type": "string"
        },
        "billingCurrency": {
          "description": "The ISO 4217 code for the currency in which this transaction is billed.",
          "readOnly": true,
          "type": "string"
        },
        "billingProfileDisplayName": {
          "description": "The name of the billing profile which will be billed for the transaction.",
          "readOnly": true,
          "type": "string"
        },
        "billingProfileId": {
          "description": "The ID of the billing profile which will be billed for the transaction.",
          "readOnly": true,
          "type": "string"
        },
        "customerDisplayName": {
          "description": "The name of the customer for which the transaction took place. The field is applicable only for Microsoft Partner Agreement billing account.",
          "readOnly": true,
          "type": "string"
        },
        "customerId": {
          "description": "The ID of the customer for which the transaction took place. The field is applicable only for Microsoft Partner Agreement billing account.",
          "readOnly": true,
          "type": "string"
        },
        "date": {
          "description": "The date of transaction.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "discount": {
          "description": "The percentage discount, if any, applied to this transaction.",
          "readOnly": true,
          "type": "number"
        },
        "effectivePrice": {
          "$ref": "./types.json#/definitions/Amount",
          "description": "The price of the product after applying any discounts.",
          "readOnly": true
        },
        "exchangeRate": {
          "description": "The exchange rate used to convert charged amount to billing currency, if applicable.",
          "readOnly": true,
          "type": "number"
        },
        "invoice": {
          "description": "Invoice on which the transaction was billed or 'pending' if the transaction is not billed.",
          "readOnly": true,
          "type": "string"
        },
        "invoiceId": {
          "description": "The ID of the invoice on which the transaction was billed. This field is only applicable for transactions which are billed.",
          "readOnly": true,
          "type": "string"
        },
        "invoiceSectionDisplayName": {
          "description": "The name of the invoice section which will be billed for the transaction.",
          "readOnly": true,
          "type": "string"
        },
        "invoiceSectionId": {
          "description": "The ID of the invoice section which will be billed for the transaction.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "The kind of transaction. Options are all or reservation.",
          "enum": [
            "all",
            "reservation"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "TransactionTypeKind"
          }
        },
        "marketPrice": {
          "$ref": "./types.json#/definitions/Amount",
          "description": "The retail price of the product.",
          "readOnly": true
        },
        "orderId": {
          "description": "The order ID of the reservation. The field is only applicable for transaction of kind reservation.",
          "readOnly": true,
          "type": "string"
        },
        "orderName": {
          "description": "The name of the reservation order. The field is only applicable for transactions of kind reservation.",
          "readOnly": true,
          "type": "string"
        },
        "pricingCurrency": {
          "description": "The ISO 4217 code for the currency in which the product is priced.",
          "readOnly": true,
          "type": "string"
        },
        "productDescription": {
          "description": "The description of the product for which the transaction took place.",
          "readOnly": true,
          "type": "string"
        },
        "productFamily": {
          "description": "The family of the product for which the transaction took place.",
          "readOnly": true,
          "type": "string"
        },
        "productType": {
          "description": "The type of the product for which the transaction took place.",
          "readOnly": true,
          "type": "string"
        },
        "productTypeId": {
          "description": "The ID of the product type for which the transaction took place.",
          "readOnly": true,
          "type": "string"
        },
        "quantity": {
          "description": "The quantity purchased in the transaction.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "servicePeriodEndDate": {
          "description": "The end date of the product term, or the end date of the month in which usage ended.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "servicePeriodStartDate": {
          "description": "The date of the purchase of the product, or the start date of the month in which usage started.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "subscriptionId": {
          "description": "The ID of the subscription that was used for the transaction. The field is only applicable for transaction of kind reservation.",
          "readOnly": true,
          "type": "string"
        },
        "subscriptionName": {
          "description": "The name of the subscription that was used for the transaction. The field is only applicable for transaction of kind reservation.",
          "readOnly": true,
          "type": "string"
        },
        "subTotal": {
          "$ref": "./types.json#/definitions/Amount",
          "description": "The pre-tax charged amount for the transaction.",
          "readOnly": true
        },
        "tax": {
          "$ref": "./types.json#/definitions/Amount",
          "description": "The tax amount applied to the transaction.",
          "readOnly": true
        },
        "transactionAmount": {
          "$ref": "./types.json#/definitions/Amount",
          "description": "The charge associated with the transaction.",
          "readOnly": true
        },
        "transactionType": {
          "description": "The type of transaction.",
          "enum": [
            "Purchase",
            "Usage Charge"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ReservationType"
          }
        },
        "unitOfMeasure": {
          "description": "The unit of measure used to bill for the product. For example, compute services are billed per hour.",
          "readOnly": true,
          "type": "string"
        },
        "units": {
          "description": "The number of units used for a given product.",
          "readOnly": true,
          "type": "number"
        },
        "unitType": {
          "description": "The description for the unit of measure for a given product.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  }
}
