{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/{ipPrefixName}": {
      "put": {
        "tags": [
          "IpPrefixes"
        ],
        "operationId": "IpPrefixes_Create",
        "summary": "Create an IP Prefix.",
        "description": "Implements IP Prefix PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixName",
            "required": true,
            "type": "string",
            "description": "Name of the IP Prefix"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/IpPrefix"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpPrefix"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IpPrefix"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "IpPrefixes_Create_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "IpPrefixes"
        ],
        "operationId": "IpPrefixes_Get",
        "summary": "Gets an IP Prefix.",
        "description": "Implements IP Prefix GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixName",
            "required": true,
            "type": "string",
            "description": "Name of the IP Prefix"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpPrefix"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixes_Get_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "IpPrefixes"
        ],
        "operationId": "IpPrefixes_Update",
        "summary": "Updates the IP Prefix.",
        "description": "API to update certain properties of the IP Prefix resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixName",
            "required": true,
            "type": "string",
            "description": "Name of the IP Prefix"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "IP Prefix properties to update.",
            "schema": {
              "$ref": "#/definitions/IpPrefixPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpPrefix"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "IpPrefixes_Update_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IpPrefixes"
        ],
        "operationId": "IpPrefixes_Delete",
        "summary": "Deletes the IP Prefix.",
        "description": "Implements IP Prefix DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixName",
            "required": true,
            "type": "string",
            "description": "Name of the IP Prefix"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "IpPrefixes_Delete_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes": {
      "get": {
        "operationId": "IpPrefixes_ListByResourceGroup",
        "summary": "List IpPrefixes by resource group.",
        "description": "Implements IpPrefixes list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IpPrefixes under the resource group.",
            "schema": {
              "$ref": "#/definitions/IpPrefixesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpPrefixes_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes": {
      "get": {
        "operationId": "IpPrefixes_ListBySubscription",
        "summary": "List IpPrefixes by subscription.",
        "description": "Implements IpPrefixes list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IpPrefixes under the subscription.",
            "schema": {
              "$ref": "#/definitions/IpPrefixesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpPrefixes_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "IpPrefixProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "ipPrefixRules": {
          "type": "array",
          "description": "IpPrefix contains the list of IP PrefixRules objects.",
          "items": {
            "type": "object",
            "properties": {
              "action": {
                "description": "Action to be taken on the configuration. Example: Permit | Deny.",
                "$ref": "./common.json#/definitions/CommunityActionTypes"
              },
              "sequenceNumber": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 4294967295,
                "description": "Sequence to insert to/delete from existing route. Prefix lists are evaluated starting with the lowest sequence number and continue down the list until a match is made. Once a match is made, the permit or deny statement is applied to that network and the rest of the list is ignored."
              },
              "networkPrefix": {
                "type": "string",
                "description": "Network Prefix specifying IPv4/IPv6 packets to be permitted or denied. Example: 1.1.1.0/24 | 3FFE:FFFF:0:CD30::/126 "
              },
              "condition": {
                "type": "string",
                "description": "Specify prefix-list bounds.",
                "enum": [
                  "EqualTo",
                  "GreaterThanOrEqualTo",
                  "LesserThanOrEqualTo"
                ],
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "condition"
                }
              },
              "subnetMaskLength": {
                "type": "integer",
                "format": "int32",
                "minimum": 1,
                "maximum": 128,
                "description": "SubnetMaskLength gives the minimum NetworkPrefix length to be matched.Possible values for IPv4 are 1 - 32. Possible values of IPv6 are 1 - 128."
              }
            },
            "required": [
              "action",
              "sequenceNumber",
              "networkPrefix"
            ]
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "required": [
        "ipPrefixRules"
      ],
      "description": "IpPrefixProperties define the resource properties."
    },
    "IpPrefix": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IpPrefixProperties"
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The IPPrefix resource definition."
    },
    "IpPrefixPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The IPPrefix patch resource definition."
    },
    "IpPrefixesListResult": {
      "type": "object",
      "description": "List of IpPrefixes.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of IPPrefix resources.",
          "items": {
            "$ref": "#/definitions/IpPrefix"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
