{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Cosmic Management Service",
    "version": "2026-03-01-preview",
    "description": "Microsoft.Cosmic Resource Provider Management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Namespaces"
    },
    {
      "name": "Environments"
    }
  ],
  "paths": {
    "/providers/Microsoft.Cosmic/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cosmic/namespaces": {
      "get": {
        "operationId": "Namespaces_ListBySubscription",
        "tags": [
          "Namespaces"
        ],
        "description": "List Namespace resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces": {
      "get": {
        "operationId": "Namespaces_ListByResourceGroup",
        "tags": [
          "Namespaces"
        ],
        "description": "List Namespace resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}": {
      "get": {
        "operationId": "Namespaces_Get",
        "tags": [
          "Namespaces"
        ],
        "description": "Get a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Namespaces_CreateOrUpdate",
        "tags": [
          "Namespaces"
        ],
        "description": "Create a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Namespace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "201": {
            "description": "Resource 'Namespace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Namespace"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Namespaces_Update",
        "tags": [
          "Namespaces"
        ],
        "description": "Update a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespaceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Namespaces_Delete",
        "tags": [
          "Namespaces"
        ],
        "description": "Delete a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/environments": {
      "get": {
        "operationId": "Environments_ListByNamespace",
        "tags": [
          "Environments"
        ],
        "description": "List Environment resources by Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_ListByNamespace_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_ListByNamespace_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/environments/{environmentName}": {
      "get": {
        "operationId": "Environments_Get",
        "tags": [
          "Environments"
        ],
        "description": "Get a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the Environment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Environments_CreateOrUpdate",
        "tags": [
          "Environments"
        ],
        "description": "Create a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the Environment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Environment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "201": {
            "description": "Resource 'Environment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Environment"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Environments_Update",
        "tags": [
          "Environments"
        ],
        "description": "Update a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the Environment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Environments_Delete",
        "tags": [
          "Environments"
        ],
        "description": "Delete a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the Environment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CapacityConfiguration": {
      "type": "object",
      "description": "Capacity configuration for the environment.",
      "properties": {
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of instances across all partitions."
        },
        "partitionOverrides": {
          "type": "array",
          "description": "Per-partition capacity overrides within this region.",
          "items": {
            "$ref": "#/definitions/CapacityPartitionOverride"
          },
          "x-ms-identifiers": [
            "partitionName"
          ]
        }
      }
    },
    "CapacityPartitionOverride": {
      "type": "object",
      "description": "Capacity override for a specific partition within a region.",
      "properties": {
        "partitionName": {
          "type": "string",
          "description": "The partition name."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of instances in this partition."
        },
        "regionOverrides": {
          "type": "array",
          "description": "Per-region capacity overrides.",
          "items": {
            "$ref": "#/definitions/CapacityRegionOverride"
          },
          "x-ms-identifiers": [
            "region"
          ]
        }
      }
    },
    "CapacityRegionOverride": {
      "type": "object",
      "description": "Capacity override for a specific region.",
      "properties": {
        "region": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region name."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of instances in this region."
        }
      },
      "required": [
        "region",
        "instanceCount"
      ]
    },
    "CosmicProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a Cosmic resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "CosmicProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource creation request has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "CosmicRing": {
      "type": "string",
      "description": "Cosmic Rings.",
      "enum": [
        "plat",
        "dev",
        "rnr",
        "tdf",
        "infra",
        "test",
        "sdf",
        "msit",
        "prod",
        "gallatin",
        "bleu",
        "delos",
        "gcc",
        "gcch",
        "dod",
        "ag08",
        "ag09"
      ],
      "x-ms-enum": {
        "name": "CosmicRing",
        "modelAsString": true,
        "values": [
          {
            "name": "Plat",
            "value": "plat",
            "description": "Plat ring"
          },
          {
            "name": "Dev",
            "value": "dev",
            "description": "Dev ring"
          },
          {
            "name": "Rnr",
            "value": "rnr",
            "description": "Rnr ring"
          },
          {
            "name": "Tdf",
            "value": "tdf",
            "description": "Tdf ring"
          },
          {
            "name": "Infra",
            "value": "infra",
            "description": "Infra ring"
          },
          {
            "name": "Test",
            "value": "test",
            "description": "Test ring"
          },
          {
            "name": "Sdf",
            "value": "sdf",
            "description": "SDF ring"
          },
          {
            "name": "Msit",
            "value": "msit",
            "description": "MSIT ring"
          },
          {
            "name": "Prod",
            "value": "prod",
            "description": "Prod ring"
          },
          {
            "name": "Gallatin",
            "value": "gallatin",
            "description": "Gallatin ring"
          },
          {
            "name": "Bleu",
            "value": "bleu",
            "description": "Bleu ring"
          },
          {
            "name": "Delos",
            "value": "delos",
            "description": "Delos ring"
          },
          {
            "name": "Gcc",
            "value": "gcc",
            "description": "GCC ring"
          },
          {
            "name": "Gcch",
            "value": "gcch",
            "description": "GCCH ring"
          },
          {
            "name": "Dod",
            "value": "dod",
            "description": "DOD ring"
          },
          {
            "name": "Ag08",
            "value": "ag08",
            "description": "Ag08 ring"
          },
          {
            "name": "Ag09",
            "value": "ag09",
            "description": "Ag09 ring"
          }
        ]
      }
    },
    "EgressPublicIpConfiguration": {
      "type": "object",
      "description": "Egress public IP configuration using BYOIP.",
      "properties": {
        "ipTagType": {
          "type": "string",
          "description": "The IP tag type for egress."
        },
        "ipTagValue": {
          "type": "string",
          "description": "The IP tag value for egress."
        },
        "ipCapacity": {
          "type": "string",
          "description": "The IP capacity for egress."
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6). Defaults to IPv4."
        }
      }
    },
    "Environment": {
      "type": "object",
      "description": "An Environment resource representing a per-ring deployment environment within a namespace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnvironmentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EnvironmentListResult": {
      "type": "object",
      "description": "The response of a Environment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Environment items on this page",
          "items": {
            "$ref": "#/definitions/Environment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnvironmentProperties": {
      "type": "object",
      "description": "Properties of an Environment resource.",
      "properties": {
        "topology": {
          "type": "array",
          "description": "Topology configuration for the environment.",
          "items": {
            "$ref": "#/definitions/TopologyConfiguration"
          },
          "x-ms-identifiers": [
            "partitionName"
          ]
        },
        "capacity": {
          "$ref": "#/definitions/CapacityConfiguration",
          "description": "Capacity configuration for the environment."
        },
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicyConfiguration",
          "description": "Resource policy configuration for the environment."
        },
        "networking": {
          "$ref": "#/definitions/NetworkingConfiguration",
          "description": "Networking configuration for the environment including BYOIP and SNAT settings."
        },
        "status": {
          "$ref": "#/definitions/EnvironmentStatus",
          "description": "The status of the environment.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/CosmicProvisioningState",
          "description": "The provisioning state of the environment resource.",
          "readOnly": true
        }
      },
      "required": [
        "capacity"
      ]
    },
    "EnvironmentStatus": {
      "type": "object",
      "description": "Status of the environment.",
      "properties": {
        "realizationState": {
          "$ref": "#/definitions/RealizationState",
          "description": "The overall realization state."
        },
        "realizations": {
          "type": "array",
          "description": "Per-region realization details.",
          "items": {
            "$ref": "#/definitions/RegionRealization"
          },
          "x-ms-identifiers": [
            "realizationId"
          ]
        },
        "conditions": {
          "type": "array",
          "description": "Status conditions reporting errors or important state transitions.",
          "items": {
            "$ref": "#/definitions/StatusCondition"
          },
          "x-ms-identifiers": [
            "type"
          ]
        },
        "expectedCompletionTime": {
          "type": "string",
          "format": "date-time",
          "description": "The expected completion time for an in-progress operation."
        },
        "statusDescription": {
          "type": "string",
          "description": "A human-readable description of the current environment status."
        }
      }
    },
    "EnvironmentUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Environment.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EnvironmentUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "EnvironmentUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Environment.",
      "properties": {
        "topology": {
          "type": "array",
          "description": "Topology configuration for the environment.",
          "items": {
            "$ref": "#/definitions/TopologyConfiguration"
          },
          "x-ms-identifiers": [
            "partitionName"
          ]
        },
        "capacity": {
          "$ref": "#/definitions/CapacityConfiguration",
          "description": "Capacity configuration for the environment."
        },
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicyConfiguration",
          "description": "Resource policy configuration for the environment."
        },
        "networking": {
          "$ref": "#/definitions/NetworkingConfiguration",
          "description": "Networking configuration for the environment including BYOIP and SNAT settings."
        }
      }
    },
    "GpuDriverType": {
      "type": "string",
      "description": "The GPU driver type.",
      "enum": [
        "CUDA",
        "GRID"
      ],
      "x-ms-enum": {
        "name": "GpuDriverType",
        "modelAsString": true,
        "values": [
          {
            "name": "CUDA",
            "value": "CUDA",
            "description": "CUDA driver for compute workloads."
          },
          {
            "name": "GRID",
            "value": "GRID",
            "description": "GRID driver for visualization workloads."
          }
        ]
      }
    },
    "HealthState": {
      "type": "string",
      "description": "The health state of an environment resource.",
      "enum": [
        "Healthy",
        "Unhealthy",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "The environment is healthy."
          },
          {
            "name": "Unhealthy",
            "value": "Unhealthy",
            "description": "The environment is unhealthy."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The health state is unknown."
          }
        ]
      }
    },
    "IngressPublicIpConfiguration": {
      "type": "object",
      "description": "Ingress public IP configuration using BYOIP.",
      "properties": {
        "ipTagType": {
          "type": "string",
          "description": "The IP tag type for ingress."
        },
        "ipTagValue": {
          "type": "string",
          "description": "The IP tag value for ingress."
        },
        "names": {
          "type": "array",
          "description": "Names associated with this ingress IP configuration.",
          "items": {
            "type": "string"
          }
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6). Defaults to IPv4."
        }
      },
      "required": [
        "ipTagType",
        "ipTagValue"
      ]
    },
    "InstanceLevelPublicIpConfiguration": {
      "type": "object",
      "description": "Instance-level public IP configuration.",
      "properties": {
        "prefixLength": {
          "type": "integer",
          "format": "int32",
          "description": "The prefix length for the public IP."
        },
        "ipTagType": {
          "type": "string",
          "description": "The IP tag type."
        },
        "ipTagValue": {
          "type": "string",
          "description": "The IP tag value."
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6). Defaults to IPv4."
        }
      }
    },
    "InstanceRealization": {
      "type": "object",
      "description": "Realization details for a specific instance.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "The instance identifier."
        },
        "partition": {
          "type": "string",
          "description": "The partition this instance belongs to."
        },
        "clusterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the cluster backing this instance."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of this instance."
        },
        "migrationState": {
          "$ref": "#/definitions/MigrationState",
          "description": "The current migration state of this instance."
        }
      },
      "required": [
        "instanceId",
        "partition"
      ]
    },
    "IpVersion": {
      "type": "string",
      "description": "IP Version",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IpVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "IPV4",
            "value": "IPv4",
            "description": "Version IPv4"
          },
          {
            "name": "IPV6",
            "value": "IPv6",
            "description": "Version IPv6"
          }
        ]
      }
    },
    "MigrationState": {
      "type": "string",
      "description": "The migration state of a namespace instance.",
      "enum": [
        "NeedsMigration",
        "InMigration",
        "NoMigrationNeeded"
      ],
      "x-ms-enum": {
        "name": "MigrationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NeedsMigration",
            "value": "NeedsMigration",
            "description": "Instance spec and cluster spec are mismatched; migration is required but has not started."
          },
          {
            "name": "InMigration",
            "value": "InMigration",
            "description": "The instance is currently being migrated."
          },
          {
            "name": "NoMigrationNeeded",
            "value": "NoMigrationNeeded",
            "description": "The instance is correctly placed; no migration is required."
          }
        ]
      }
    },
    "Namespace": {
      "type": "object",
      "description": "A Namespace resource representing a logical grouping of Cosmic environments.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NamespaceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NamespaceListResult": {
      "type": "object",
      "description": "The response of a Namespace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Namespace items on this page",
          "items": {
            "$ref": "#/definitions/Namespace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NamespaceProperties": {
      "type": "object",
      "description": "Properties of a Namespace resource.",
      "properties": {
        "workload": {
          "type": "string",
          "description": "Workload name this resource belongs to.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serviceTreeId": {
          "type": "string",
          "description": "The ServiceTree GUID (with all letters in lower case) for billing"
        },
        "torusTeam": {
          "type": "string",
          "description": "Torus Team Name"
        },
        "icmAccount": {
          "type": "string",
          "description": "The IcM Account for Escalations"
        },
        "icmTenant": {
          "type": "string",
          "description": "The IcM tenant for auditing"
        },
        "emailAlias": {
          "type": "string",
          "description": "Email Alias"
        },
        "isolationGroup": {
          "type": "string",
          "description": "The isolation group for this namespace."
        },
        "nightwatchEnabled": {
          "type": "boolean",
          "description": "Indicates whether Nightwatch monitoring is enabled for the namespace.",
          "default": false
        },
        "provisioningState": {
          "$ref": "#/definitions/CosmicProvisioningState",
          "description": "The provisioning state of the namespace resource.",
          "readOnly": true
        }
      },
      "required": [
        "workload",
        "serviceTreeId",
        "torusTeam",
        "icmAccount",
        "icmTenant",
        "nightwatchEnabled"
      ]
    },
    "NamespaceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Namespace.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/NamespaceUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "NamespaceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Namespace.",
      "properties": {
        "serviceTreeId": {
          "type": "string",
          "description": "The ServiceTree GUID (with all letters in lower case) for billing"
        },
        "torusTeam": {
          "type": "string",
          "description": "Torus Team Name"
        },
        "icmAccount": {
          "type": "string",
          "description": "The IcM Account for Escalations"
        },
        "icmTenant": {
          "type": "string",
          "description": "The IcM tenant for auditing"
        },
        "emailAlias": {
          "type": "string",
          "description": "Email Alias"
        },
        "isolationGroup": {
          "type": "string",
          "description": "The isolation group for this namespace."
        },
        "nightwatchEnabled": {
          "type": "boolean",
          "description": "Indicates whether Nightwatch monitoring is enabled for the namespace.",
          "default": false
        }
      }
    },
    "NetworkingConfiguration": {
      "type": "object",
      "description": "Networking configuration for the environment.",
      "properties": {
        "ingressPublicIps": {
          "type": "array",
          "description": "BYOIP (Bring Your Own IP) tags for ingress traffic.",
          "items": {
            "$ref": "#/definitions/IngressPublicIpConfiguration"
          },
          "x-ms-identifiers": [
            "ipTagType",
            "ipTagValue"
          ]
        },
        "egressPublicIps": {
          "$ref": "#/definitions/EgressPublicIpConfiguration",
          "description": "BYOIP (Bring Your Own IP) configuration for egress traffic."
        },
        "snatPortsPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Optional SNAT ports to allocate per node. Empty or unset means not specified."
        },
        "instanceLevelPublicIp": {
          "$ref": "#/definitions/InstanceLevelPublicIpConfiguration",
          "description": "Instance-level public IP configuration."
        }
      }
    },
    "OsType": {
      "type": "string",
      "description": "The operating system type for the compute nodes.",
      "enum": [
        "Linux",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "OsType",
        "modelAsString": true,
        "values": [
          {
            "name": "Linux",
            "value": "Linux",
            "description": "Linux operating system."
          },
          {
            "name": "Windows",
            "value": "Windows",
            "description": "Windows operating system."
          }
        ]
      }
    },
    "PartitionRealization": {
      "type": "object",
      "description": "Realization details for a specific partition.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The partition name."
        },
        "realizationState": {
          "$ref": "#/definitions/RealizationState",
          "description": "The realization state of this partition."
        }
      },
      "required": [
        "name"
      ]
    },
    "PodResourceSpec": {
      "type": "object",
      "description": "Resource specification for a single service pod.",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "The name of the service."
        },
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas per cluster."
        },
        "cores": {
          "type": "string",
          "description": "CPU cores requested per pod (e.g. '0.5', '2')."
        },
        "memory": {
          "type": "string",
          "description": "Memory requested per pod (e.g. '512Mi', '2Gi')."
        },
        "coresLimit": {
          "type": "string",
          "description": "CPU cores limit per pod. If unset, defaults to approximately 2x the request."
        },
        "memoryLimit": {
          "type": "string",
          "description": "Memory limit per pod. If unset, defaults to approximately 2x the request."
        },
        "rollingUpdateReplicaPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage of replicas considered during rolling updates (default: 10)."
        },
        "gpus": {
          "type": "string",
          "description": "Number of GPUs per pod."
        }
      }
    },
    "RealizationState": {
      "type": "string",
      "description": "The realization state of an environment resource.",
      "enum": [
        "InProgress",
        "Succeeded",
        "Failed",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "RealizationState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Realization is in progress."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Realization succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Realization failed."
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Realization is pending."
          }
        ]
      },
      "readOnly": true
    },
    "RegionRealization": {
      "type": "object",
      "description": "Realization details for a specific region.",
      "properties": {
        "region": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region name."
        },
        "realizationId": {
          "type": "string",
          "description": "The realization identifier."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of this realization."
        },
        "healthState": {
          "$ref": "#/definitions/HealthState",
          "description": "The health state of this realization."
        },
        "partitions": {
          "type": "array",
          "description": "Partition realization details.",
          "items": {
            "$ref": "#/definitions/PartitionRealization"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "instances": {
          "type": "array",
          "description": "Instance realization details.",
          "items": {
            "$ref": "#/definitions/InstanceRealization"
          },
          "x-ms-identifiers": [
            "instanceId"
          ]
        }
      },
      "required": [
        "region",
        "realizationId"
      ]
    },
    "RegionalResourcePolicy": {
      "type": "object",
      "description": "Resource policy override for a specific region.",
      "properties": {
        "region": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region name."
        },
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicy",
          "description": "Default resource policy for all rings."
        }
      }
    },
    "ResourcePolicy": {
      "type": "object",
      "description": "Default resource policy settings.",
      "properties": {
        "vmFamily": {
          "type": "string",
          "description": "The default Azure VM family (e.g. 'Standard_D', 'Standard_E')."
        },
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "The operating system type (e.g. Linux, Windows)."
        },
        "gpus": {
          "type": "number",
          "format": "double",
          "description": "The number of GPUs requested."
        },
        "gpuDriverType": {
          "$ref": "#/definitions/GpuDriverType",
          "description": "The GPU driver type (e.g. CUDA, GRID)."
        },
        "podResources": {
          "type": "array",
          "description": "Per-service pod resource specifications.",
          "items": {
            "$ref": "#/definitions/PodResourceSpec"
          },
          "x-ms-identifiers": [
            "serviceName"
          ]
        }
      }
    },
    "ResourcePolicyConfiguration": {
      "type": "object",
      "description": "Resource policy configuration for the environment.",
      "properties": {
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicy",
          "description": "Default resource policy for all rings."
        },
        "regionOverrides": {
          "type": "array",
          "description": "Per-region resource policy overrides.",
          "items": {
            "$ref": "#/definitions/RegionalResourcePolicy"
          },
          "x-ms-identifiers": [
            "region"
          ]
        }
      }
    },
    "StatusCondition": {
      "type": "object",
      "description": "A condition reporting detailed status information.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of condition (e.g. InMigration, PlacementAbandoned)."
        },
        "conditionStatus": {
          "type": "string",
          "description": "The status of the condition: True, False, or Unknown."
        },
        "reason": {
          "type": "string",
          "description": "A one-word CamelCase reason for the condition's last transition."
        },
        "message": {
          "type": "string",
          "description": "A human-readable message with details about the last transition."
        },
        "lastHeartbeatTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time an update was received for this condition."
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time this condition transitioned from one status to another."
        }
      },
      "required": [
        "type"
      ]
    },
    "TopologyConfiguration": {
      "type": "object",
      "description": "Topology configuration for the environment.",
      "properties": {
        "partitionName": {
          "type": "string",
          "description": "The partition name."
        },
        "regions": {
          "type": "array",
          "description": "The Azure regions where instances should be placed (e.g. ['eastus', 'westus']).",
          "items": {
            "$ref": "#/definitions/Azure.Core.azureLocation"
          }
        }
      }
    }
  },
  "parameters": {}
}
