{
  "swagger": "2.0",
  "info": {
    "title": "TrafficManagerManagementClient",
    "version": "2022-04-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Profiles"
    },
    {
      "name": "TrafficManagerGeographicHierarchies"
    },
    {
      "name": "UserMetricsModels"
    }
  ],
  "paths": {
    "/providers/Microsoft.Network/checkTrafficManagerNameAvailability": {
      "post": {
        "operationId": "Profiles_CheckTrafficManagerRelativeDnsNameAvailability",
        "description": "Checks the availability of a Traffic Manager Relative DNS name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckTrafficManagerRelativeDnsNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TrafficManagerNameAvailability"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NameAvailabilityTest_NameAvailablePOST21": {
            "$ref": "./examples/NameAvailabilityTest_NameAvailable-POST-example-21.json"
          },
          "NameAvailabilityTest_NameNotAvailablePOST23": {
            "$ref": "./examples/NameAvailabilityTest_NameNotAvailable-POST-example-23.json"
          }
        }
      }
    },
    "/providers/Microsoft.Network/trafficManagerGeographicHierarchies/default": {
      "get": {
        "operationId": "GeographicHierarchies_GetDefault",
        "tags": [
          "TrafficManagerGeographicHierarchies"
        ],
        "description": "Gets the default Geographic Hierarchy used by the Geographic traffic routing method.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TrafficManagerGeographicHierarchy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GeographicHierarchy-GET-default": {
            "$ref": "./examples/GeographicHierarchy-GET-default.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/checkTrafficManagerNameAvailabilityV2": {
      "post": {
        "operationId": "Profiles_checkTrafficManagerNameAvailabilityV2",
        "description": "Checks the availability of a Traffic Manager Relative DNS name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckTrafficManagerRelativeDnsNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TrafficManagerNameAvailability"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NameAvailabilityV2Test_NameAvailablePOST21": {
            "$ref": "./examples/NameAvailabilityV2Test_NameAvailable-POST-example-21.json"
          },
          "NameAvailabilityV2Test_NameNotAvailablePOST23": {
            "$ref": "./examples/NameAvailabilityV2Test_NameNotAvailable-POST-example-23.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficManagerUserMetricsKeys/default": {
      "get": {
        "operationId": "TrafficManagerUserMetricsKeys_Get",
        "tags": [
          "UserMetricsModels"
        ],
        "description": "Get the subscription-level key used for Real User Metrics collection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UserMetricsModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "TrafficManagerUserMetricsKeys-GET": {
            "$ref": "./examples/TrafficManagerUserMetricsKeys-GET.json"
          }
        }
      },
      "put": {
        "operationId": "TrafficManagerUserMetricsKeys_CreateOrUpdate",
        "tags": [
          "UserMetricsModels"
        ],
        "description": "Create or update a subscription-level key used for Real User Metrics collection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'UserMetricsModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/UserMetricsModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "TrafficManagerUserMetricsKeys-PUT": {
            "$ref": "./examples/TrafficManagerUserMetricsKeys-PUT.json"
          }
        }
      },
      "delete": {
        "operationId": "TrafficManagerUserMetricsKeys_Delete",
        "tags": [
          "UserMetricsModels"
        ],
        "description": "Delete a subscription-level key used for Real User Metrics collection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeleteOperationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "TrafficManagerUserMetricsKeys-DELETE": {
            "$ref": "./examples/TrafficManagerUserMetricsKeys-DELETE.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles": {
      "get": {
        "operationId": "Profiles_ListBySubscription",
        "tags": [
          "Profiles"
        ],
        "description": "Lists all Traffic Manager profiles within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription": {
            "$ref": "./examples/Profile-GET-BySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles": {
      "get": {
        "operationId": "Profiles_ListByResourceGroup",
        "tags": [
          "Profiles"
        ],
        "description": "Lists all Traffic Manager profiles within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListProfilesByResourceGroup": {
            "$ref": "./examples/Profile-GET-ByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}": {
      "get": {
        "operationId": "Profiles_Get",
        "tags": [
          "Profiles"
        ],
        "description": "Gets a Traffic Manager profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Profile-GET-WithEndpoints": {
            "$ref": "./examples/Profile-GET-WithEndpoints.json"
          },
          "Profile-GET-WithTrafficViewDisabled": {
            "$ref": "./examples/Profile-GET-WithTrafficViewDisabled.json"
          },
          "Profile-GET-WithTrafficViewEnabled": {
            "$ref": "./examples/Profile-GET-WithTrafficViewEnabled.json"
          }
        }
      },
      "put": {
        "operationId": "Profiles_CreateOrUpdate",
        "tags": [
          "Profiles"
        ],
        "description": "Create or update a Traffic Manager profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Traffic Manager profile parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Profile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "201": {
            "description": "Resource 'Profile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Profile-PUT-MultiValue": {
            "$ref": "./examples/Profile-PUT-MultiValue.json"
          },
          "Profile-PUT-NoEndpoints": {
            "$ref": "./examples/Profile-PUT-NoEndpoints.json"
          },
          "Profile-PUT-WithAliasing": {
            "$ref": "./examples/Profile-PUT-WithAliasing.json"
          },
          "Profile-PUT-WithCustomHeaders": {
            "$ref": "./examples/Profile-PUT-WithCustomHeaders.json"
          },
          "Profile-PUT-WithEndpoints": {
            "$ref": "./examples/Profile-PUT-WithEndpoints.json"
          },
          "Profile-PUT-WithNestedEndpoints": {
            "$ref": "./examples/Profile-PUT-WithNestedEndpoints.json"
          }
        }
      },
      "patch": {
        "operationId": "Profiles_Update",
        "tags": [
          "Profiles"
        ],
        "description": "Update a Traffic Manager profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Traffic Manager profile parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Profile-PATCH-MonitorConfig": {
            "$ref": "./examples/Profile-PATCH-MonitorConfig.json"
          }
        }
      },
      "delete": {
        "operationId": "Profiles_Delete",
        "tags": [
          "Profiles"
        ],
        "description": "Deletes a Traffic Manager profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeleteOperationResult"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Profile-DELETE": {
            "$ref": "./examples/Profile-DELETE.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}": {
      "get": {
        "operationId": "Endpoints_Get",
        "description": "Gets a Traffic Manager endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointType",
            "in": "path",
            "description": "The type of the Traffic Manager endpoint.",
            "required": true,
            "type": "string",
            "enum": [
              "AzureEndpoints",
              "ExternalEndpoints",
              "NestedEndpoints"
            ],
            "x-ms-enum": {
              "name": "EndpointType",
              "modelAsString": false
            }
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The name of the Traffic Manager endpoint.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Endpoint-GET-External-WithGeoMapping": {
            "$ref": "./examples/Endpoint-GET-External-WithGeoMapping.json"
          },
          "Endpoint-GET-External-WithLocation": {
            "$ref": "./examples/Endpoint-GET-External-WithLocation.json"
          },
          "Endpoint-GET-External-WithSubnetMapping": {
            "$ref": "./examples/Endpoint-GET-External-WithSubnetMapping.json"
          }
        }
      },
      "put": {
        "operationId": "Endpoints_CreateOrUpdate",
        "description": "Create or update a Traffic Manager endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointType",
            "in": "path",
            "description": "The type of the Traffic Manager endpoint.",
            "required": true,
            "type": "string",
            "enum": [
              "AzureEndpoints",
              "ExternalEndpoints",
              "NestedEndpoints"
            ],
            "x-ms-enum": {
              "name": "EndpointType",
              "modelAsString": false
            }
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The name of the Traffic Manager endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Traffic Manager endpoint parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Endpoint' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "201": {
            "description": "Resource 'Endpoint' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Endpoint-PUT-External-WithAlwaysServe": {
            "$ref": "./examples/Endpoint-PUT-External-WithAlwaysServe.json"
          },
          "Endpoint-PUT-External-WithCustomHeaders": {
            "$ref": "./examples/Endpoint-PUT-External-WithCustomHeaders.json"
          },
          "Endpoint-PUT-External-WithGeoMapping": {
            "$ref": "./examples/Endpoint-PUT-External-WithGeoMapping.json"
          },
          "Endpoint-PUT-External-WithLocation": {
            "$ref": "./examples/Endpoint-PUT-External-WithLocation.json"
          },
          "Endpoint-PUT-External-WithSubnetMapping": {
            "$ref": "./examples/Endpoint-PUT-External-WithSubnetMapping.json"
          }
        }
      },
      "patch": {
        "operationId": "Endpoints_Update",
        "description": "Update a Traffic Manager endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointType",
            "in": "path",
            "description": "The type of the Traffic Manager endpoint.",
            "required": true,
            "type": "string",
            "enum": [
              "AzureEndpoints",
              "ExternalEndpoints",
              "NestedEndpoints"
            ],
            "x-ms-enum": {
              "name": "EndpointType",
              "modelAsString": false
            }
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The name of the Traffic Manager endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Traffic Manager endpoint parameters supplied to the Update operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Endpoint-PATCH-External-Target": {
            "$ref": "./examples/Endpoint-PATCH-External-Target.json"
          }
        }
      },
      "delete": {
        "operationId": "Endpoints_Delete",
        "description": "Deletes a Traffic Manager endpoint.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointType",
            "in": "path",
            "description": "The type of the Traffic Manager endpoint.",
            "required": true,
            "type": "string",
            "enum": [
              "AzureEndpoints",
              "ExternalEndpoints",
              "NestedEndpoints"
            ],
            "x-ms-enum": {
              "name": "EndpointType",
              "modelAsString": false
            }
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The name of the Traffic Manager endpoint.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeleteOperationResult"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Endpoint-DELETE-External": {
            "$ref": "./examples/Endpoint-DELETE-External.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}": {
      "get": {
        "operationId": "HeatMap_Get",
        "description": "Gets latest heatmap for Traffic Manager profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the Traffic Manager profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "heatMapType",
            "in": "path",
            "description": "The type of the heatmap.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "HeatMapType",
              "modelAsString": false
            }
          },
          {
            "name": "topLeft",
            "in": "query",
            "description": "The top left latitude,longitude pair of the rectangular viewport to query for.",
            "required": false,
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            },
            "collectionFormat": "csv",
            "minItems": 2,
            "maxItems": 2
          },
          {
            "name": "botRight",
            "in": "query",
            "description": "The bottom right latitude,longitude pair of the rectangular viewport to query for.",
            "required": false,
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            },
            "collectionFormat": "csv",
            "minItems": 2,
            "maxItems": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HeatMapModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "HeatMap-GET": {
            "$ref": "./examples/HeatMap-GET.json"
          },
          "HeatMap-GET-With-Null-Values": {
            "$ref": "./examples/HeatMap-GET-With-Null-Values.json"
          },
          "HeatMap-GET-With-TopLeft-BotRight": {
            "$ref": "./examples/HeatMap-GET-With-TopLeft-BotRight.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AllowedEndpointRecordType": {
      "type": "string",
      "description": "The allowed type DNS record types for this profile.",
      "enum": [
        "DomainName",
        "IPv4Address",
        "IPv6Address",
        "Any"
      ],
      "x-ms-enum": {
        "name": "AllowedEndpointRecordType",
        "modelAsString": true,
        "values": [
          {
            "name": "DomainName",
            "value": "DomainName"
          },
          {
            "name": "IPv4Address",
            "value": "IPv4Address"
          },
          {
            "name": "IPv6Address",
            "value": "IPv6Address"
          },
          {
            "name": "Any",
            "value": "Any"
          }
        ]
      }
    },
    "AlwaysServe": {
      "type": "string",
      "description": "If Always Serve is enabled, probing for endpoint health will be disabled and endpoints will be included in the traffic routing method.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AlwaysServe",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          }
        ]
      }
    },
    "CheckTrafficManagerRelativeDnsNameAvailabilityParameters": {
      "type": "object",
      "description": "Parameters supplied to check Traffic Manager name operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource."
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "An error returned by the Azure Resource Manager",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The content of the error."
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The content of an error returned by the Azure Resource Manager",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "target": {
          "type": "string",
          "description": "Error target"
        },
        "details": {
          "type": "array",
          "description": "Error details",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          }
        }
      },
      "x-ms-external": true
    },
    "DeleteOperationResult": {
      "type": "object",
      "description": "The result of the request or operation.",
      "properties": {
        "boolean": {
          "type": "boolean",
          "description": "The result of the operation or request.",
          "readOnly": true,
          "x-ms-client-name": "operationResult"
        }
      }
    },
    "DnsConfig": {
      "type": "object",
      "description": "Class containing DNS settings in a Traffic Manager profile.",
      "properties": {
        "relativeName": {
          "type": "string",
          "description": "The relative DNS name provided by this Traffic Manager profile. This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile."
        },
        "fqdn": {
          "type": "string",
          "description": "The fully-qualified domain name (FQDN) of the Traffic Manager profile. This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager.",
          "readOnly": true
        },
        "ttl": {
          "type": "integer",
          "format": "int64",
          "description": "The DNS Time-To-Live (TTL), in seconds. This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile."
        }
      }
    },
    "Endpoint": {
      "type": "object",
      "description": "Class representing a Traffic Manager endpoint.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EndpointProperties",
          "description": "The properties of the Traffic Manager endpoint.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "EndpointMonitorStatus": {
      "type": "string",
      "description": "The monitoring status of the endpoint.",
      "enum": [
        "CheckingEndpoint",
        "Online",
        "Degraded",
        "Disabled",
        "Inactive",
        "Stopped",
        "Unmonitored"
      ],
      "x-ms-enum": {
        "name": "EndpointMonitorStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "CheckingEndpoint",
            "value": "CheckingEndpoint"
          },
          {
            "name": "Online",
            "value": "Online"
          },
          {
            "name": "Degraded",
            "value": "Degraded"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          },
          {
            "name": "Inactive",
            "value": "Inactive"
          },
          {
            "name": "Stopped",
            "value": "Stopped"
          },
          {
            "name": "Unmonitored",
            "value": "Unmonitored"
          }
        ]
      }
    },
    "EndpointProperties": {
      "type": "object",
      "description": "Class representing a Traffic Manager endpoint properties.",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "The Azure Resource URI of the of the endpoint. Not applicable to endpoints of type 'ExternalEndpoints'."
        },
        "target": {
          "type": "string",
          "description": "The fully-qualified DNS name or IP address of the endpoint. Traffic Manager returns this value in DNS responses to direct traffic to this endpoint."
        },
        "endpointStatus": {
          "$ref": "#/definitions/EndpointStatus",
          "description": "The status of the endpoint. If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method."
        },
        "weight": {
          "type": "integer",
          "format": "int64",
          "description": "The weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000."
        },
        "priority": {
          "type": "integer",
          "format": "int64",
          "description": "The priority of this endpoint when using the 'Priority' traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value."
        },
        "endpointLocation": {
          "type": "string",
          "description": "Specifies the location of the external or nested endpoints when using the 'Performance' traffic routing method."
        },
        "endpointMonitorStatus": {
          "$ref": "#/definitions/EndpointMonitorStatus",
          "description": "The monitoring status of the endpoint."
        },
        "minChildEndpoints": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'."
        },
        "minChildEndpointsIPv4": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum number of IPv4 (DNS record type A) endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'."
        },
        "minChildEndpointsIPv6": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum number of IPv6 (DNS record type AAAA) endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'."
        },
        "geoMapping": {
          "type": "array",
          "description": "The list of countries/regions mapped to this endpoint when using the 'Geographic' traffic routing method. Please consult Traffic Manager Geographic documentation for a full list of accepted values.",
          "items": {
            "type": "string"
          }
        },
        "subnets": {
          "type": "array",
          "description": "The list of subnets, IP addresses, and/or address ranges mapped to this endpoint when using the 'Subnet' traffic routing method. An empty list will match all ranges not covered by other endpoints.",
          "items": {
            "$ref": "#/definitions/EndpointPropertiesSubnetsItem"
          }
        },
        "customHeaders": {
          "type": "array",
          "description": "List of custom headers.",
          "items": {
            "$ref": "#/definitions/EndpointPropertiesCustomHeadersItem"
          }
        },
        "alwaysServe": {
          "$ref": "#/definitions/AlwaysServe",
          "description": "If Always Serve is enabled, probing for endpoint health will be disabled and endpoints will be included in the traffic routing method."
        }
      }
    },
    "EndpointPropertiesCustomHeadersItem": {
      "type": "object",
      "description": "Custom header name and value.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      }
    },
    "EndpointPropertiesSubnetsItem": {
      "type": "object",
      "description": "Subnet first address, scope, and/or last address.",
      "properties": {
        "first": {
          "type": "string",
          "description": "First address in the subnet."
        },
        "last": {
          "type": "string",
          "description": "Last address in the subnet."
        },
        "scope": {
          "type": "integer",
          "format": "int32",
          "description": "Block size (number of leading bits in the subnet mask)."
        }
      }
    },
    "EndpointStatus": {
      "type": "string",
      "description": "The status of the endpoint. If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "EndpointStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          }
        ]
      }
    },
    "GeographicHierarchyProperties": {
      "type": "object",
      "description": "Class representing the properties of the Geographic hierarchy used with the Geographic traffic routing method.",
      "properties": {
        "geographicHierarchy": {
          "$ref": "#/definitions/Region",
          "description": "The region at the root of the hierarchy from all the regions in the hierarchy can be retrieved."
        }
      }
    },
    "HeatMapEndpoint": {
      "type": "object",
      "description": "Class which is a sparse representation of a Traffic Manager endpoint.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ARM Resource ID of this Traffic Manager endpoint."
        },
        "endpointId": {
          "type": "integer",
          "format": "int32",
          "description": "A number uniquely identifying this endpoint in query experiences."
        }
      }
    },
    "HeatMapModel": {
      "type": "object",
      "description": "Class representing a Traffic Manager HeatMap.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HeatMapProperties",
          "description": "The properties of the Traffic Manager HeatMap.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "HeatMapProperties": {
      "type": "object",
      "description": "Class representing a Traffic Manager HeatMap properties.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The beginning of the time window for this HeatMap, inclusive."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The ending of the time window for this HeatMap, exclusive."
        },
        "endpoints": {
          "type": "array",
          "description": "The endpoints used in this HeatMap calculation.",
          "items": {
            "$ref": "#/definitions/HeatMapEndpoint"
          }
        },
        "trafficFlows": {
          "type": "array",
          "description": "The traffic flows produced in this HeatMap calculation.",
          "items": {
            "$ref": "#/definitions/TrafficFlow"
          }
        }
      }
    },
    "MonitorConfig": {
      "type": "object",
      "description": "Class containing endpoint monitoring settings in a Traffic Manager profile.",
      "properties": {
        "profileMonitorStatus": {
          "$ref": "#/definitions/ProfileMonitorStatus",
          "description": "The profile-level monitoring status of the Traffic Manager profile."
        },
        "protocol": {
          "$ref": "#/definitions/MonitorProtocol",
          "description": "The protocol (HTTP, HTTPS or TCP) used to probe for endpoint health."
        },
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "The TCP port used to probe for endpoint health."
        },
        "path": {
          "type": "string",
          "description": "The path relative to the endpoint domain name used to probe for endpoint health."
        },
        "intervalInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "The monitor interval for endpoints in this profile. This is the interval at which Traffic Manager will check the health of each endpoint in this profile."
        },
        "timeoutInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "The monitor timeout for endpoints in this profile. This is the time that Traffic Manager allows endpoints in this profile to response to the health check."
        },
        "toleratedNumberOfFailures": {
          "type": "integer",
          "format": "int64",
          "description": "The number of consecutive failed health check that Traffic Manager tolerates before declaring an endpoint in this profile Degraded after the next failed health check."
        },
        "customHeaders": {
          "type": "array",
          "description": "List of custom headers.",
          "items": {
            "$ref": "#/definitions/MonitorConfigCustomHeadersItem"
          }
        },
        "expectedStatusCodeRanges": {
          "type": "array",
          "description": "List of expected status code ranges.",
          "items": {
            "$ref": "#/definitions/MonitorConfigExpectedStatusCodeRangesItem"
          }
        }
      }
    },
    "MonitorConfigCustomHeadersItem": {
      "type": "object",
      "description": "Custom header name and value.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      }
    },
    "MonitorConfigExpectedStatusCodeRangesItem": {
      "type": "object",
      "description": "Min and max value of a status code range.",
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Min status code."
        },
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "Max status code."
        }
      }
    },
    "MonitorProtocol": {
      "type": "string",
      "description": "The protocol (HTTP, HTTPS or TCP) used to probe for endpoint health.",
      "enum": [
        "HTTP",
        "HTTPS",
        "TCP"
      ],
      "x-ms-enum": {
        "name": "MonitorProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "HTTP",
            "value": "HTTP"
          },
          {
            "name": "HTTPS",
            "value": "HTTPS"
          },
          {
            "name": "TCP",
            "value": "TCP"
          }
        ]
      }
    },
    "Profile": {
      "type": "object",
      "description": "Class representing a Traffic Manager profile.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProfileProperties",
          "description": "The properties of the Traffic Manager profile.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "ProfileListResult": {
      "type": "object",
      "description": "The response of a Profile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Profile items on this page",
          "items": {
            "$ref": "#/definitions/Profile"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProfileMonitorStatus": {
      "type": "string",
      "description": "The profile-level monitoring status of the Traffic Manager profile.",
      "enum": [
        "CheckingEndpoints",
        "Online",
        "Degraded",
        "Disabled",
        "Inactive"
      ],
      "x-ms-enum": {
        "name": "ProfileMonitorStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "CheckingEndpoints",
            "value": "CheckingEndpoints"
          },
          {
            "name": "Online",
            "value": "Online"
          },
          {
            "name": "Degraded",
            "value": "Degraded"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          },
          {
            "name": "Inactive",
            "value": "Inactive"
          }
        ]
      }
    },
    "ProfileProperties": {
      "type": "object",
      "description": "Class representing the Traffic Manager profile properties.",
      "properties": {
        "profileStatus": {
          "$ref": "#/definitions/ProfileStatus",
          "description": "The status of the Traffic Manager profile."
        },
        "trafficRoutingMethod": {
          "$ref": "#/definitions/TrafficRoutingMethod",
          "description": "The traffic routing method of the Traffic Manager profile."
        },
        "dnsConfig": {
          "$ref": "#/definitions/DnsConfig",
          "description": "The DNS settings of the Traffic Manager profile."
        },
        "monitorConfig": {
          "$ref": "#/definitions/MonitorConfig",
          "description": "The endpoint monitoring settings of the Traffic Manager profile."
        },
        "endpoints": {
          "type": "array",
          "description": "The list of endpoints in the Traffic Manager profile.",
          "items": {
            "$ref": "#/definitions/Endpoint"
          }
        },
        "trafficViewEnrollmentStatus": {
          "$ref": "#/definitions/TrafficViewEnrollmentStatus",
          "description": "Indicates whether Traffic View is 'Enabled' or 'Disabled' for the Traffic Manager profile. Null, indicates 'Disabled'. Enabling this feature will increase the cost of the Traffic Manage profile."
        },
        "allowedEndpointRecordTypes": {
          "type": "array",
          "description": "The list of allowed endpoint record types.",
          "items": {
            "$ref": "#/definitions/AllowedEndpointRecordType"
          }
        },
        "maxReturn": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum number of endpoints to be returned for MultiValue routing type."
        }
      }
    },
    "ProfileStatus": {
      "type": "string",
      "description": "The status of the Traffic Manager profile.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ProfileStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          }
        ]
      }
    },
    "ProxyResource": {
      "type": "object",
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "QueryExperience": {
      "type": "object",
      "description": "Class representing a Traffic Manager HeatMap query experience properties.",
      "properties": {
        "endpointId": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the endpoint from the 'endpoints' array which these queries were routed to."
        },
        "queryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of queries originating from this location."
        },
        "latency": {
          "type": "number",
          "format": "double",
          "description": "The latency experienced by queries originating from this location."
        }
      },
      "required": [
        "endpointId",
        "queryCount"
      ]
    },
    "Region": {
      "type": "object",
      "description": "Class representing a region in the Geographic hierarchy used with the Geographic traffic routing method.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code of the region"
        },
        "name": {
          "type": "string",
          "description": "The name of the region"
        },
        "regions": {
          "type": "array",
          "description": "The list of Regions grouped under this Region in the Geographic Hierarchy.",
          "items": {
            "$ref": "#/definitions/Region"
          }
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles."
        }
      }
    },
    "TrackedResource": {
      "type": "object",
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "location": {
          "type": "string",
          "description": "The Azure Region where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrafficFlow": {
      "type": "object",
      "description": "Class representing a Traffic Manager HeatMap traffic flow properties.",
      "properties": {
        "sourceIp": {
          "type": "string",
          "description": "The IP address that this query experience originated from."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The approximate latitude that these queries originated from."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The approximate longitude that these queries originated from."
        },
        "queryExperiences": {
          "type": "array",
          "description": "The query experiences produced in this HeatMap calculation.",
          "items": {
            "$ref": "#/definitions/QueryExperience"
          }
        }
      }
    },
    "TrafficManagerGeographicHierarchy": {
      "type": "object",
      "description": "Class representing the Geographic hierarchy used with the Geographic traffic routing method.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GeographicHierarchyProperties",
          "description": "The properties of the Geographic Hierarchy resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "TrafficManagerNameAvailability": {
      "type": "object",
      "description": "Class representing a Traffic Manager Name Availability response.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative name."
        },
        "type": {
          "type": "string",
          "description": "Traffic Manager profile resource type."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Describes whether the relative name is available or not."
        },
        "reason": {
          "type": "string",
          "description": "The reason why the name is not available, when applicable."
        },
        "message": {
          "type": "string",
          "description": "Descriptive message that explains why the name is not available, when applicable."
        }
      }
    },
    "TrafficRoutingMethod": {
      "type": "string",
      "description": "The traffic routing method of the Traffic Manager profile.",
      "enum": [
        "Performance",
        "Priority",
        "Weighted",
        "Geographic",
        "MultiValue",
        "Subnet"
      ],
      "x-ms-enum": {
        "name": "TrafficRoutingMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "Performance",
            "value": "Performance"
          },
          {
            "name": "Priority",
            "value": "Priority"
          },
          {
            "name": "Weighted",
            "value": "Weighted"
          },
          {
            "name": "Geographic",
            "value": "Geographic"
          },
          {
            "name": "MultiValue",
            "value": "MultiValue"
          },
          {
            "name": "Subnet",
            "value": "Subnet"
          }
        ]
      }
    },
    "TrafficViewEnrollmentStatus": {
      "type": "string",
      "description": "Indicates whether Traffic View is 'Enabled' or 'Disabled' for the Traffic Manager profile. Null, indicates 'Disabled'. Enabling this feature will increase the cost of the Traffic Manage profile.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "TrafficViewEnrollmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          }
        ]
      }
    },
    "UserMetricsModel": {
      "type": "object",
      "description": "Class representing Traffic Manager User Metrics.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UserMetricsProperties",
          "description": "The properties of the Traffic Manager User Metrics.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "UserMetricsProperties": {
      "type": "object",
      "description": "Class representing a Traffic Manager Real User Metrics key response.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key returned by the User Metrics operation."
        }
      }
    }
  },
  "parameters": {}
}
