{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceIntelligence",
    "version": "2026-02-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Runs"
    },
    {
      "name": "Messages"
    },
    {
      "name": "QueryOperationGroup"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceIntelligence/generateQuery": {
      "post": {
        "operationId": "QueryOperationGroup_GenerateQuery",
        "tags": [
          "QueryOperationGroup"
        ],
        "description": "Generates ARG query for a given user prompt.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryGenerationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryGenerationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Failed Query Generation": {
            "$ref": "./examples/QueryOperationGroup_Generate_Failed.json"
          },
          "Query Generation with history": {
            "$ref": "./examples/QueryOperationGroup_Generate_WithHistory.json"
          },
          "Succeeded Query Generation": {
            "$ref": "./examples/QueryOperationGroup_Generate.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceIntelligence/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceIntelligence/agents": {
      "get": {
        "operationId": "Agents_ListBySubscription",
        "tags": [
          "Agents"
        ],
        "description": "Lists agents in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Agents by Subscription": {
            "$ref": "./examples/Agents_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents": {
      "get": {
        "operationId": "Agents_ListByResourceGroup",
        "tags": [
          "Agents"
        ],
        "description": "Lists agents in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Agents in a resource group": {
            "$ref": "./examples/Agents_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}": {
      "get": {
        "operationId": "Agents_Get",
        "tags": [
          "Agents"
        ],
        "description": "Gets an agent by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an Agent": {
            "$ref": "./examples/Agents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Agents_CreateOrUpdate",
        "tags": [
          "Agents"
        ],
        "description": "Creates or updates an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Agent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "201": {
            "description": "Resource 'Agent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an Agent": {
            "$ref": "./examples/Agents_CreateOrUpdate.json"
          },
          "Create or update an Agent with user-assigned identity": {
            "$ref": "./examples/Agents_CreateOrUpdate_UserAssigned.json"
          }
        }
      },
      "patch": {
        "operationId": "Agents_Update",
        "tags": [
          "Agents"
        ],
        "description": "Updates an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an Agent": {
            "$ref": "./examples/Agents_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Agents_Delete",
        "tags": [
          "Agents"
        ],
        "description": "Deletes an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Agent": {
            "$ref": "./examples/Agents_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/execute": {
      "post": {
        "operationId": "Agents_Execute",
        "tags": [
          "Agents"
        ],
        "description": "Creates a new run for the agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new run for an agent": {
            "$ref": "./examples/Agents_Run.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Run"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/runs": {
      "get": {
        "operationId": "Runs_ListByParent",
        "tags": [
          "Runs"
        ],
        "description": "Lists runs for an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RunListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List runs for an agent": {
            "$ref": "./examples/Runs_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/runs/{runId}": {
      "get": {
        "operationId": "Runs_Get",
        "tags": [
          "Runs"
        ],
        "description": "Gets a run by ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the run.",
            "required": true,
            "type": "string",
            "pattern": "^(?!latest$)[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Run": {
            "$ref": "./examples/Runs_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Runs_CreateOrUpdate",
        "tags": [
          "Runs"
        ],
        "description": "Creates or updates a run. Returns 200 for terminal states, 201 with LRO for running states.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the run.",
            "required": true,
            "type": "string",
            "pattern": "^(?!latest$)[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The run request parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "201": {
            "description": "Resource 'Run' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Run"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a Run": {
            "$ref": "./examples/Runs_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Run"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Runs_Delete",
        "tags": [
          "Runs"
        ],
        "description": "Deletes a run.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the run.",
            "required": true,
            "type": "string",
            "pattern": "^(?!latest$)[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Run": {
            "$ref": "./examples/Runs_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/runs/{runId}/execute": {
      "post": {
        "operationId": "Runs_Execute",
        "tags": [
          "Runs"
        ],
        "description": "Executes a run asynchronously.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the run.",
            "required": true,
            "type": "string",
            "pattern": "^(?!latest$)[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Execute a run asynchronously": {
            "$ref": "./examples/Runs_Execute.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Run"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/runs/{runId}/messages": {
      "get": {
        "operationId": "Messages_ListByParent",
        "tags": [
          "Messages"
        ],
        "description": "Lists messages for a run.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the run.",
            "required": true,
            "type": "string",
            "pattern": "^(?!latest$)[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Messages in a Run": {
            "$ref": "./examples/Messages_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/runs/{runId}/messages/{messageId}": {
      "get": {
        "operationId": "Messages_Get",
        "tags": [
          "Messages"
        ],
        "description": "Gets a message by ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the run.",
            "required": true,
            "type": "string",
            "pattern": "^(?!latest$)[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "The unique identifier of the message.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Message": {
            "$ref": "./examples/Messages_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/runs/latest": {
      "get": {
        "operationId": "LatestRuns_Get",
        "tags": [
          "Runs"
        ],
        "description": "Gets the latest run.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Run"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the latest run": {
            "$ref": "./examples/LatestRuns_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Agent": {
      "type": "object",
      "description": "An AI Agent resource that can execute runs.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AgentListResult": {
      "type": "object",
      "description": "The response of a Agent list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Agent items on this page",
          "items": {
            "$ref": "#/definitions/Agent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AgentProperties": {
      "type": "object",
      "description": "Properties of an Agent resource.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly display name for the agent."
        },
        "description": {
          "type": "string",
          "description": "A description of the agent's purpose."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the agent.",
          "readOnly": true
        }
      }
    },
    "AgentUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Agent.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/AgentUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "AgentUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Agent.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly display name for the agent."
        },
        "description": {
          "type": "string",
          "description": "A description of the agent's purpose."
        }
      }
    },
    "AllowToolUse": {
      "type": "string",
      "description": "Whether tool invocation is permitted during a run.",
      "enum": [
        "enabled",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "AllowToolUse",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "enabled",
            "description": "Tool invocation is enabled during the run"
          },
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "Tool invocation is disabled during the run"
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "HistoryContext": {
      "type": "object",
      "description": "History content generated by a user, assistant or system role",
      "properties": {
        "content": {
          "type": "string",
          "description": "Content generated by a given role"
        },
        "role": {
          "$ref": "#/definitions/Role",
          "description": "Role which generates the content e.g., user, assistant or system"
        }
      },
      "required": [
        "content",
        "role"
      ]
    },
    "Message": {
      "type": "object",
      "description": "A message within a run. Records the conversation history.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MessageProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MessageListResult": {
      "type": "object",
      "description": "The response of a Message list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Message items on this page",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MessageProperties": {
      "type": "object",
      "description": "Properties of a Message resource.",
      "properties": {
        "messageType": {
          "$ref": "#/definitions/MessageType",
          "description": "The type of message (system_message, tool_call, tool_return, assistant_message).",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "description": "The source of the message (system, user, actor, planner, critic).",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "description": "The content of the message. For tool_call/tool_return messages, this may contain JSON.",
          "readOnly": true
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the message was created.",
          "readOnly": true
        }
      }
    },
    "MessageType": {
      "type": "string",
      "description": "The type of message in a run.",
      "enum": [
        "system_message",
        "tool_call",
        "tool_return",
        "assistant_message",
        "user_message"
      ],
      "x-ms-enum": {
        "name": "MessageType",
        "modelAsString": true,
        "values": [
          {
            "name": "system_message",
            "value": "system_message",
            "description": "A system-generated message"
          },
          {
            "name": "tool_call",
            "value": "tool_call",
            "description": "A tool invocation request"
          },
          {
            "name": "tool_return",
            "value": "tool_return",
            "description": "A tool invocation response"
          },
          {
            "name": "assistant_message",
            "value": "assistant_message",
            "description": "A message from the assistant"
          },
          {
            "name": "user_message",
            "value": "user_message",
            "description": "A message from the user"
          }
        ]
      }
    },
    "QueryGenerationRequest": {
      "type": "object",
      "description": "Query Generation Request",
      "properties": {
        "history": {
          "type": "array",
          "description": "A collection of chat history to provide context in query generation",
          "items": {
            "$ref": "#/definitions/HistoryContext"
          },
          "x-ms-identifiers": []
        },
        "prompt": {
          "type": "string",
          "description": "Prompt text from user"
        }
      },
      "required": [
        "prompt"
      ]
    },
    "QueryGenerationResult": {
      "type": "object",
      "description": "Query Generation Result",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query generated for a given user prompt text"
        },
        "status": {
          "$ref": "#/definitions/StatusResult",
          "description": "Status for the query generation result"
        }
      },
      "required": [
        "query",
        "status"
      ]
    },
    "ResumePolicy": {
      "type": "string",
      "description": "The resume policy for a run.",
      "enum": [
        "none",
        "resume",
        "pause",
        "cancel"
      ],
      "x-ms-enum": {
        "name": "ResumePolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "none",
            "description": "No specific policy - default behavior, starts the run"
          },
          {
            "name": "Resume",
            "value": "resume",
            "description": "Resume the run"
          },
          {
            "name": "Pause",
            "value": "pause",
            "description": "Pause the run"
          },
          {
            "name": "Cancel",
            "value": "cancel",
            "description": "Cancel the run"
          }
        ]
      }
    },
    "Role": {
      "type": "string",
      "description": "The role which generates a specific message. Restricted to the user or assistant role.",
      "enum": [
        "user",
        "assistant",
        "system"
      ],
      "x-ms-enum": {
        "name": "Role",
        "modelAsString": true,
        "values": [
          {
            "name": "user",
            "value": "user",
            "description": "If a message was generated by a human, the role should be assigned user"
          },
          {
            "name": "assistant",
            "value": "assistant",
            "description": "If a message was generated by ARG Query Generation service, then the role should be assistant"
          },
          {
            "name": "system",
            "value": "system",
            "description": "If a message provides high level instructions for the query generation, then the role should be system"
          }
        ]
      }
    },
    "Run": {
      "type": "object",
      "description": "A single execution run on an agent. Tracks run status, timing, and results.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RunError": {
      "type": "object",
      "description": "Error details for a failed run.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "RunListResult": {
      "type": "object",
      "description": "The response of a Run list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Run items on this page",
          "items": {
            "$ref": "#/definitions/Run"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RunProperties": {
      "type": "object",
      "description": "Properties of a Run resource.",
      "properties": {
        "status": {
          "$ref": "#/definitions/RunStatus",
          "description": "The lifecycle status of the run.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the run started.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the run completed.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/RunError",
          "description": "Error details if the run failed.",
          "readOnly": true
        }
      }
    },
    "RunRequest": {
      "type": "object",
      "description": "Request body for creating and running an agent.",
      "properties": {
        "allowToolUse": {
          "$ref": "#/definitions/AllowToolUse",
          "description": "Whether tool invocation is permitted during the run. Defaults to enabled."
        },
        "resumePolicy": {
          "$ref": "#/definitions/ResumePolicy",
          "description": "The resume policy for the run. Defaults to none."
        },
        "inputOverrides": {
          "type": "object",
          "description": "Optional input overrides for the run.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "description": "The input message from the user."
        },
        "modelUrl": {
          "type": "string",
          "description": "The model endpoint URL to use for this run."
        }
      },
      "required": [
        "message",
        "modelUrl"
      ]
    },
    "RunStatus": {
      "type": "string",
      "description": "The lifecycle status of a run.",
      "enum": [
        "running",
        "paused",
        "awaitingInput",
        "completed",
        "failed"
      ],
      "x-ms-enum": {
        "name": "RunStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Running",
            "value": "running",
            "description": "The run is actively executing"
          },
          {
            "name": "Paused",
            "value": "paused",
            "description": "The run execution is paused"
          },
          {
            "name": "AwaitingInput",
            "value": "awaitingInput",
            "description": "The run is awaiting user input"
          },
          {
            "name": "Completed",
            "value": "completed",
            "description": "The run has completed execution"
          },
          {
            "name": "Failed",
            "value": "failed",
            "description": "The run execution failed"
          }
        ]
      }
    },
    "StatusCategory": {
      "type": "string",
      "description": "Status Category",
      "enum": [
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "StatusCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded when query was generated successfully"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed when query was not generated"
          }
        ]
      }
    },
    "StatusResult": {
      "type": "object",
      "description": "Status",
      "properties": {
        "category": {
          "$ref": "#/definitions/StatusCategory",
          "description": "Status category for query generation result"
        },
        "message": {
          "type": "string",
          "description": "Status message for query generation result"
        }
      },
      "required": [
        "category",
        "message"
      ]
    }
  },
  "parameters": {}
}
