{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceIntelligence",
    "version": "2026-02-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Threads"
    },
    {
      "name": "ThreadRuns"
    },
    {
      "name": "LatestThreadRuns"
    },
    {
      "name": "Messages"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceIntelligence/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceIntelligence/agents": {
      "get": {
        "operationId": "Agents_ListBySubscription",
        "tags": [
          "Agents"
        ],
        "description": "Lists agents in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Agents by Subscription": {
            "$ref": "./examples/Agents_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents": {
      "get": {
        "operationId": "Agents_ListByResourceGroup",
        "tags": [
          "Agents"
        ],
        "description": "Lists agents in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Agents in a resource group": {
            "$ref": "./examples/Agents_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}": {
      "get": {
        "operationId": "Agents_Get",
        "tags": [
          "Agents"
        ],
        "description": "Gets an agent by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an Agent": {
            "$ref": "./examples/Agents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Agents_CreateOrUpdate",
        "tags": [
          "Agents"
        ],
        "description": "Creates or updates an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Agent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "201": {
            "description": "Resource 'Agent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an Agent": {
            "$ref": "./examples/Agents_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Agents_Delete",
        "tags": [
          "Agents"
        ],
        "description": "Deletes an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Agent": {
            "$ref": "./examples/Agents_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/run": {
      "post": {
        "operationId": "Agents_Run",
        "tags": [
          "Agents"
        ],
        "description": "Creates a new thread and run for the agent. Returns 202 Accepted with run tracking info.\nThe client should poll GET threadRuns/{runId} for completion.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThreadRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThreadRunResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new thread and run for an agent": {
            "$ref": "./examples/Agents_Run.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ThreadRunResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads": {
      "get": {
        "operationId": "Threads_ListByParent",
        "tags": [
          "Threads"
        ],
        "description": "Lists threads for an agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThreadListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Threads for an Agent": {
            "$ref": "./examples/Threads_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads/{threadId}": {
      "get": {
        "operationId": "Threads_Get",
        "tags": [
          "Threads"
        ],
        "description": "Gets a thread by ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Thread": {
            "$ref": "./examples/Threads_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Threads_CreateOrUpdate",
        "tags": [
          "Threads"
        ],
        "description": "Creates a new thread.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Thread' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "201": {
            "description": "Resource 'Thread' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Thread": {
            "$ref": "./examples/Threads_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Threads_Delete",
        "tags": [
          "Threads"
        ],
        "description": "Deletes a thread.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Thread": {
            "$ref": "./examples/Threads_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads/{threadId}/threadRuns": {
      "get": {
        "operationId": "ThreadRuns_ListByParent",
        "tags": [
          "ThreadRuns"
        ],
        "description": "Lists thread runs for a thread.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThreadRunListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ThreadRuns for a Thread": {
            "$ref": "./examples/ThreadRuns_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "operationId": "Threads_CreateRun",
        "tags": [
          "Threads"
        ],
        "description": "Creates a new run on an existing thread. Returns 202 Accepted with run tracking info.\nThe client should poll GET threadRuns/{runId} for completion.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThreadRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThreadRunResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a run on an existing thread": {
            "$ref": "./examples/Threads_CreateRun.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ThreadRunResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads/{threadId}/threadRuns/{runId}": {
      "get": {
        "operationId": "ThreadRuns_Get",
        "tags": [
          "ThreadRuns"
        ],
        "description": "Gets a thread run by ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the thread run.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThreadRun"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a ThreadRun": {
            "$ref": "./examples/ThreadRuns_Get.json"
          }
        }
      },
      "delete": {
        "operationId": "ThreadRuns_Delete",
        "tags": [
          "ThreadRuns"
        ],
        "description": "Deletes a thread run.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the thread run.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a ThreadRun": {
            "$ref": "./examples/ThreadRuns_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads/{threadId}/threadRuns/{runId}/messages": {
      "get": {
        "operationId": "Messages_ListByParent",
        "tags": [
          "Messages"
        ],
        "description": "Lists messages for a thread run.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the thread run.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Messages in a ThreadRun": {
            "$ref": "./examples/Messages_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads/{threadId}/threadRuns/{runId}/messages/{messageId}": {
      "get": {
        "operationId": "Messages_Get",
        "tags": [
          "Messages"
        ],
        "description": "Gets a message by ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the thread run.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "The unique identifier of the message.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Message": {
            "$ref": "./examples/Messages_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceIntelligence/agents/{agentName}/threads/{threadId}/threadRuns/latest": {
      "get": {
        "operationId": "LatestThreadRuns_Get",
        "tags": [
          "LatestThreadRuns"
        ],
        "description": "Gets the latest thread run.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LatestThreadRun"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the latest thread run": {
            "$ref": "./examples/LatestThreadRuns_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LatestThreadRuns_CreateOrUpdate",
        "tags": [
          "LatestThreadRuns"
        ],
        "description": "Creates or updates a thread run via PUT for ARM/Bicep compatibility.\nThe \"latest\" name is a logical identifier — the actual run ID is generated server-side.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of the agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The unique identifier of the thread.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LatestThreadRun"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LatestThreadRun' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LatestThreadRun"
            }
          },
          "201": {
            "description": "Resource 'LatestThreadRun' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LatestThreadRun"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a thread run via PUT (ARM/Bicep compatibility)": {
            "$ref": "./examples/LatestThreadRuns_CreateOrUpdate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Agent": {
      "type": "object",
      "description": "An AI Agent resource that can execute runs within threads.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AgentListResult": {
      "type": "object",
      "description": "The response of a Agent list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Agent items on this page",
          "items": {
            "$ref": "#/definitions/Agent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AgentProperties": {
      "type": "object",
      "description": "Properties of an Agent resource.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly display name for the agent."
        },
        "description": {
          "type": "string",
          "description": "A description of the agent's purpose."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the agent.",
          "readOnly": true
        }
      }
    },
    "AllowToolUse": {
      "type": "string",
      "description": "Whether tool invocation is permitted during a thread run.",
      "enum": [
        "enabled",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "AllowToolUse",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "enabled",
            "description": "Tool invocation is enabled during the run"
          },
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "Tool invocation is disabled during the run"
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "LatestThreadRun": {
      "type": "object",
      "description": "Singleton resource representing the latest thread run.\nProvides PUT endpoint for ARM/Bicep compatibility at threadRuns/latest.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ThreadRunProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "Message": {
      "type": "object",
      "description": "A message within a thread run. Records the conversation history.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MessageProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MessageListResult": {
      "type": "object",
      "description": "The response of a Message list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Message items on this page",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MessageProperties": {
      "type": "object",
      "description": "Properties of a Message resource.",
      "properties": {
        "messageType": {
          "$ref": "#/definitions/MessageType",
          "description": "The type of message (system_message, tool_call, tool_return, assistant_message).",
          "readOnly": true
        },
        "source": {
          "$ref": "#/definitions/MessageSource",
          "description": "The source of the message (system, user, actor, planner, critic).",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "description": "The content of the message. For tool_call/tool_return messages, this may contain JSON.",
          "readOnly": true
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the message was created.",
          "readOnly": true
        }
      }
    },
    "MessageSource": {
      "type": "string",
      "description": "The source of a message.",
      "enum": [
        "system",
        "user",
        "actor",
        "planner",
        "critic"
      ],
      "x-ms-enum": {
        "name": "MessageSource",
        "modelAsString": true,
        "values": [
          {
            "name": "system",
            "value": "system",
            "description": "Message from the system"
          },
          {
            "name": "user",
            "value": "user",
            "description": "Message from the user"
          },
          {
            "name": "actor",
            "value": "actor",
            "description": "Message from the actor agent"
          },
          {
            "name": "planner",
            "value": "planner",
            "description": "Message from the planner agent"
          },
          {
            "name": "critic",
            "value": "critic",
            "description": "Message from the critic agent"
          }
        ]
      }
    },
    "MessageType": {
      "type": "string",
      "description": "The type of message in a thread run.",
      "enum": [
        "system_message",
        "tool_call",
        "tool_return",
        "assistant_message",
        "user_message"
      ],
      "x-ms-enum": {
        "name": "MessageType",
        "modelAsString": true,
        "values": [
          {
            "name": "system_message",
            "value": "system_message",
            "description": "A system-generated message"
          },
          {
            "name": "tool_call",
            "value": "tool_call",
            "description": "A tool invocation request"
          },
          {
            "name": "tool_return",
            "value": "tool_return",
            "description": "A tool invocation response"
          },
          {
            "name": "assistant_message",
            "value": "assistant_message",
            "description": "A message from the assistant"
          },
          {
            "name": "user_message",
            "value": "user_message",
            "description": "A message from the user"
          }
        ]
      }
    },
    "ResumePolicy": {
      "type": "string",
      "description": "The resume policy for a thread run.",
      "enum": [
        "none",
        "resume",
        "pause",
        "cancel"
      ],
      "x-ms-enum": {
        "name": "ResumePolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "none",
            "description": "No specific policy — default behavior, starts the thread run"
          },
          {
            "name": "Resume",
            "value": "resume",
            "description": "Resume the thread run"
          },
          {
            "name": "Pause",
            "value": "pause",
            "description": "Pause the thread run"
          },
          {
            "name": "Cancel",
            "value": "cancel",
            "description": "Cancel the thread run"
          }
        ]
      }
    },
    "Thread": {
      "type": "object",
      "description": "A conversation thread for an agent. Tracks message history and run state.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ThreadProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ThreadListResult": {
      "type": "object",
      "description": "The response of a Thread list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Thread items on this page",
          "items": {
            "$ref": "#/definitions/Thread"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ThreadProperties": {
      "type": "object",
      "description": "Properties of a Thread resource.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ThreadStatus",
          "description": "The lifecycle status of the thread.",
          "readOnly": true
        },
        "lastRunId": {
          "type": "string",
          "description": "The ID of the most recent thread run.",
          "readOnly": true
        }
      }
    },
    "ThreadRun": {
      "type": "object",
      "description": "A single execution run on a thread. Tracks run status, timing, and results.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ThreadRunProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ThreadRunListResult": {
      "type": "object",
      "description": "The response of a ThreadRun list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ThreadRun items on this page",
          "items": {
            "$ref": "#/definitions/ThreadRun"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ThreadRunProperties": {
      "type": "object",
      "description": "Properties of a ThreadRun resource.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the run started.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the run completed.",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Error details if the run failed.",
          "readOnly": true
        }
      }
    },
    "ThreadRunRequest": {
      "type": "object",
      "description": "Request body for creating and running a thread.",
      "properties": {
        "allowToolUse": {
          "$ref": "#/definitions/AllowToolUse",
          "description": "Whether tool invocation is permitted during the run. Defaults to enabled."
        },
        "resumePolicy": {
          "$ref": "#/definitions/ResumePolicy",
          "description": "The resume policy for the run. Defaults to none."
        },
        "inputOverrides": {
          "type": "object",
          "description": "Optional input overrides as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "description": "The input message from the user."
        },
        "model": {
          "type": "string",
          "description": "Optional model URL override. When specified, this URL is used for all agents\ninstead of the model URL from the agent definitions.",
          "x-ms-client-name": "modelUrl"
        }
      }
    },
    "ThreadRunResponse": {
      "type": "object",
      "description": "Response body returned when a thread run is accepted.",
      "properties": {
        "threadId": {
          "type": "string",
          "description": "The ID of the thread."
        },
        "runId": {
          "type": "string",
          "description": "The ID of the created run."
        },
        "status": {
          "type": "string",
          "description": "The current status of the run."
        }
      },
      "required": [
        "threadId",
        "runId",
        "status"
      ]
    },
    "ThreadStatus": {
      "type": "string",
      "description": "The lifecycle status of a thread.",
      "enum": [
        "idle",
        "running",
        "paused",
        "awaitingInput",
        "completed",
        "failed"
      ],
      "x-ms-enum": {
        "name": "ThreadStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Idle",
            "value": "idle",
            "description": "The thread is idle and not currently running"
          },
          {
            "name": "Running",
            "value": "running",
            "description": "The thread is actively running"
          },
          {
            "name": "Paused",
            "value": "paused",
            "description": "The thread execution is paused"
          },
          {
            "name": "AwaitingInput",
            "value": "awaitingInput",
            "description": "The thread is awaiting user input"
          },
          {
            "name": "Completed",
            "value": "completed",
            "description": "The thread has completed execution"
          },
          {
            "name": "Failed",
            "value": "failed",
            "description": "The thread execution failed"
          }
        ]
      }
    }
  },
  "parameters": {}
}
