{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2025-02-27-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LandingZoneAccountOperations"
    },
    {
      "name": "LandingZoneConfigurationOperations"
    },
    {
      "name": "LandingZoneRegistrationOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/landingZoneAccounts": {
      "get": {
        "operationId": "LandingZoneAccountOperations_ListBySubscription",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Lists the landing zone accounts within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_ListBySubscription": {
            "$ref": "./examples/LandingZoneAccountOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZoneConfigurationOperations_ListBySubscription",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Lists the landing zone configurations within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_ListBySubscription": {
            "$ref": "./examples/LandingZoneConfigurationOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrationOperations_ListBySubscription",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Lists the landing zone registrations within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_ListBySubscription": {
            "$ref": "./examples/LandingZoneRegistrationOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts": {
      "get": {
        "operationId": "LandingZoneAccountOperations_ListByResourceGroup",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Lists the landing zone accounts within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/LandingZoneAccountOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}": {
      "get": {
        "operationId": "LandingZoneAccountOperations_Get",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Gets the landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Get": {
            "$ref": "./examples/LandingZoneAccountOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneAccountOperations_Create",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Creates the landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneAccountResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneAccountResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Create": {
            "$ref": "./examples/LandingZoneAccountOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneAccountOperations_Update",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Updates the landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Update": {
            "$ref": "./examples/LandingZoneAccountOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LandingZoneAccountOperations_Delete",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Deletes the landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Delete": {
            "$ref": "./examples/LandingZoneAccountOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZoneConfigurationOperations_ListByResourceGroup",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Lists the landing zone configurations within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_ListByResourceGroup": {
            "$ref": "./examples/LandingZoneConfigurationOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}": {
      "get": {
        "operationId": "LandingZoneConfigurationOperations_Get",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Gets the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneConfigurationOperations_Create",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Creates the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneConfigurationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneConfigurationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Create": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneConfigurationOperations_Update",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Updates the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Update": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LandingZoneConfigurationOperations_Delete",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Deletes the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Delete": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}/createCopy": {
      "post": {
        "operationId": "LandingZoneConfigurationOperations_CreateCopy",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Provides a mechanism to create a copy of the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateLandingZoneConfigurationCopyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateLandingZoneConfigurationCopyResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_CreateCopy": {
            "$ref": "./examples/LandingZoneConfigurationOperations_CreateCopy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}/generateLandingZone": {
      "post": {
        "operationId": "LandingZoneConfigurationOperations_GenerateLandingZone",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Generate the landing zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_GenerateLandingZone": {
            "$ref": "./examples/LandingZoneConfigurationOperations_GenerateLandingZone.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}/updateAuthoringStatus": {
      "post": {
        "operationId": "LandingZoneConfigurationOperations_UpdateAuthoringStatus",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Provides a mechanism to update the authoring status.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAuthoringStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAuthoringStatusResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_UpdateAuthoringStatus": {
            "$ref": "./examples/LandingZoneConfigurationOperations_UpdateAuthoringStatus.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrationOperations_ListByResourceGroup",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Lists the landing zone registrations within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_ListByResourceGroup": {
            "$ref": "./examples/LandingZoneRegistrationOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneRegistrations/{landingZoneRegistrationName}": {
      "get": {
        "operationId": "LandingZoneRegistrationOperations_Get",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Gets the landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone Registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Get": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneRegistrationOperations_Create",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Creates the landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone Registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneRegistrationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneRegistrationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Create": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneRegistrationOperations_Update",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Updates the landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone Registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Update": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LandingZoneRegistrationOperations_Delete",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Deletes the landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The parent landing zone account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone Registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Delete": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AuthoringStatus": {
      "type": "string",
      "description": "The authoring status for a landing zone configuration.",
      "enum": [
        "Authoring",
        "ReadyForUse",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AuthoringStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Authoring",
            "value": "Authoring",
            "description": "This is the default status when a create configuration request is made. In this state, the Landing Zone configuration can be updated."
          },
          {
            "name": "ReadyForUse",
            "value": "ReadyForUse",
            "description": "This status is set when the configuration changes are complete and the configuration is ready for code generation"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "This status is set when the landing zone configuration is no longer in use."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "allOf": [
              {
                "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity"
              }
            ],
            "type": "object",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "CreateCopyRequest": {
      "type": "object",
      "description": "The request for the create copy action of landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the new landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,24}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateCopyResponse": {
      "type": "object",
      "description": "The response of the create copy action of landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The id of the copied landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "CreateLandingZoneConfigurationCopyRequest": {
      "type": "object",
      "description": "The request for the create copy action of landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the new landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,64}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateLandingZoneConfigurationCopyResponse": {
      "type": "object",
      "description": "The response of the create copy action of landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The id of the copied landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "CustomNamingConvention": {
      "type": "object",
      "description": "The details for the custom resource override.",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType",
          "description": "The type of the resource."
        },
        "formula": {
          "type": "string",
          "description": "The custom formula for the resource type."
        }
      },
      "required": [
        "resourceType",
        "formula"
      ]
    },
    "DecommissionedManagementGroupProperties": {
      "type": "object",
      "description": "Decommissioned management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this management group will not be created. The default value is false."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "DecommissionedManagementGroupPropertiesUpdate": {
      "type": "object",
      "description": "Decommissioned management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this management group will not be created. The default value is false."
        }
      }
    },
    "FirewallCreationOptions": {
      "type": "string",
      "description": "The input values for creating or using an existing firewall resource.",
      "enum": [
        "None",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "FirewallCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Value when a firewall resource is not created."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Value when the firewall creation is based on the standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Value when the firewall creation is based on the premium SKU."
          }
        ]
      }
    },
    "GenerateLandingZoneRequest": {
      "type": "object",
      "description": "The request to generate code for a landing zone.",
      "properties": {
        "infrastructureAsCodeOutputOptions": {
          "$ref": "#/definitions/InfrastructureAsCodeOutputOptions",
          "description": "The export options available for code generation."
        },
        "existingManagementSubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Management subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingIdentitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Identity subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingConnectivitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Connectivity subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "subscriptionBillingScope": {
          "type": "string",
          "description": "The full resource ID of billing scope associated to the EA, MCA or MPA account you wish to create the subscription in."
        },
        "existingTopLevelMgParentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Optional parent for management group hierarchy, used as intermediate root management group parent, if specified. If empty, default will deploy beneath tenant toot management group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The suffix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name.",
          "minLength": 1,
          "maxLength": 90
        },
        "deploymentLocation": {
          "type": "string",
          "description": "Location to run deployment(s) from the list of azure regions.",
          "pattern": "^([a-zA-Z0-9]+)$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the organization or agency the landing zone is being deployed for."
        },
        "environment": {
          "type": "string",
          "description": "The environment for which the landing zone is being deployed"
        }
      },
      "required": [
        "infrastructureAsCodeOutputOptions",
        "deploymentPrefix",
        "topLevelMgDisplayName",
        "deploymentLocation"
      ]
    },
    "GenerateLandingZoneResponse": {
      "type": "object",
      "description": "The response for the request to generate landing zone code.",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level Management Group display name."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the Landing Zone configuration resource."
        },
        "generatedCodeUrl": {
          "type": "string",
          "format": "password",
          "description": "The url to access the generated code..",
          "x-ms-secret": true
        },
        "storageAccountName": {
          "type": "string",
          "format": "password",
          "description": "The storage account name to access the generated code.",
          "x-ms-secret": true
        },
        "containerName": {
          "type": "string",
          "format": "password",
          "description": "The storage account container to access the generated code.",
          "x-ms-secret": true
        },
        "blobName": {
          "type": "string",
          "format": "password",
          "description": "The storage account blob name to access the generated code.",
          "x-ms-secret": true
        },
        "generatedArmTemplate": {
          "type": "string",
          "format": "password",
          "description": "The generated code content as a json string.",
          "x-ms-secret": true
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "generatedCodeUrl",
        "storageAccountName",
        "containerName",
        "blobName"
      ]
    },
    "InfrastructureAsCodeOutputOptions": {
      "type": "string",
      "description": "Output options for landing zone code generation.",
      "enum": [
        "Bicep",
        "ARM"
      ],
      "x-ms-enum": {
        "name": "InfrastructureAsCodeOutputOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Value when generating Landing Zone code in Bicep."
          },
          {
            "name": "ARM",
            "value": "ARM",
            "description": "Value when generating landing zone code in Arm."
          }
        ]
      }
    },
    "LandingZoneAccountResource": {
      "type": "object",
      "description": "The Landing zone account parent resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneAccountResourceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LandingZoneAccountResourceListResult": {
      "type": "object",
      "description": "The response of a LandingZoneAccountResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneAccountResource items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneAccountResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneAccountResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone account resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone account.",
          "readOnly": true
        },
        "storageAccount": {
          "type": "string",
          "format": "arm-id",
          "description": "The storage account that will host the generated slz code.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        }
      },
      "required": [
        "storageAccount"
      ]
    },
    "LandingZoneAccountResourcePropertiesUpdate": {
      "type": "object",
      "description": "The properties of landing zone account resource type.",
      "properties": {
        "storageAccount": {
          "type": "string",
          "format": "arm-id",
          "description": "The storage account that will host the generated slz code.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        }
      }
    },
    "LandingZoneAccountResourceUpdate": {
      "type": "object",
      "description": "The Landing zone account parent resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneAccountResourcePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "LandingZoneConfigurationResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneConfigurationResourceListResult": {
      "type": "object",
      "description": "The response of a LandingZoneConfigurationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneConfigurationResource items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneConfigurationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneConfigurationResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone configuration.",
          "readOnly": true
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The status for the landing zone configurations workflow.",
          "readOnly": true
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy ddos, choose Yes, otherwise No. Select Existing to provide an existing ddos protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the ddos protection plan.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy log analytics workspace, choose Yes, otherwise No. Select UseExisting to provide an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the log analytics workspace that was created to centralize log ingestion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and UseExisting for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the bastion service, choose Yes, otherwise No. Choose UseExisting for existing bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of azure bastion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the root of the landing zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the landing zone management groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the platform management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the management management group under platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the connectivity management group under platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the identity management group under platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupProperties",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupProperties",
          "description": "This will be applied to the sandbox management group."
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityProperties",
          "description": "The managed identity to be tied to this landing zone configuration"
        },
        "platformMgChildren": {
          "type": "array",
          "description": "Platform children management group properties.",
          "items": {
            "$ref": "#/definitions/PlatformManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "namingConventionFormula": {
          "type": "string",
          "description": "The naming convention that's used by default for all resource types for this landing zone configuration"
        },
        "customNamingConvention": {
          "type": "array",
          "description": "The customized naming convention for one or more resource types in this landing zone configuration",
          "items": {
            "$ref": "#/definitions/CustomNamingConvention"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "ddosProtectionCreationOption",
        "logAnalyticsWorkspaceCreationOption",
        "firewallCreationOption",
        "gatewaySubnetCidrBlock",
        "logRetentionInDays",
        "hubNetworkCidrBlock",
        "azureBastionCreationOption",
        "managedIdentity"
      ]
    },
    "LandingZoneConfigurationResourcePropertiesUpdate": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy ddos, choose Yes, otherwise No. Select Existing to provide an existing ddos protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the ddos protection plan.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy log analytics workspace, choose Yes, otherwise No. Select UseExisting to provide an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the log analytics workspace that was created to centralize log ingestion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and UseExisting for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the bastion service, choose Yes, otherwise No. Choose UseExisting for existing bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of azure bastion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the root of the landing zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the landing zone management groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the platform management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the management management group under platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the connectivity management group under platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the identity management group under platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupPropertiesUpdate",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupPropertiesUpdate",
          "description": "This will be applied to the sandbox management group."
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityPropertiesUpdate",
          "description": "The managed identity to be tied to this landing zone configuration"
        },
        "platformMgChildren": {
          "type": "array",
          "description": "Platform children management group properties.",
          "items": {
            "$ref": "#/definitions/PlatformManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "namingConventionFormula": {
          "type": "string",
          "description": "The naming convention that's used by default for all resource types for this landing zone configuration"
        },
        "customNamingConvention": {
          "type": "array",
          "description": "The customized naming convention for one or more resource types in this landing zone configuration",
          "items": {
            "$ref": "#/definitions/CustomNamingConvention"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "LandingZoneConfigurationResourceUpdate": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationResourcePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneManagementGroupProperties": {
      "type": "object",
      "description": "Landing zone management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "LandingZoneRegistrationResource": {
      "type": "object",
      "description": "The Landing Zone registration resource type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneRegistrationResourceListResult": {
      "type": "object",
      "description": "The response of a LandingZoneRegistrationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneRegistrationResource items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneRegistrationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneRegistrationResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone registration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing Zone registration resource type.",
          "readOnly": true
        },
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityProperties",
          "description": "The managed identity to be tied to this landing zone registration"
        }
      },
      "required": [
        "existingTopLevelMgId",
        "existingLandingZoneConfigurationId",
        "managedIdentity"
      ]
    },
    "LandingZoneRegistrationResourcePropertiesUpdate": {
      "type": "object",
      "description": "The properties of landing zone registration resource type.",
      "properties": {
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityPropertiesUpdate",
          "description": "The managed identity to be tied to this landing zone registration"
        }
      }
    },
    "LandingZoneRegistrationResourceUpdate": {
      "type": "object",
      "description": "The Landing Zone registration resource type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationResourcePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of managed identity.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityResourceType",
          "description": "The type of managed identity."
        },
        "userAssignedIdentityResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the managed identity.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "ManagedIdentityPropertiesUpdate": {
      "type": "object",
      "description": "The properties of managed identity.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityResourceType",
          "description": "The type of managed identity."
        },
        "userAssignedIdentityResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the managed identity.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      }
    },
    "ManagedIdentityResourceType": {
      "type": "string",
      "description": "The authoring status for a landing zone configuration.",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          }
        ]
      }
    },
    "ManagementGroupProperties": {
      "type": "object",
      "description": "Details of the policy and initiatives associated with the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties"
      ]
    },
    "ManagementGroupPropertiesUpdate": {
      "type": "object",
      "description": "Details of the policy and initiatives associated with the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PlatformManagementGroupProperties": {
      "type": "object",
      "description": "Platform management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "PolicyInitiativeAssignmentProperties": {
      "type": "object",
      "description": "Details of policy assignments",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "description": "The fully qualified id of the policy initiative."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters for the assignment of policy initiatives.",
          "additionalProperties": {}
        }
      },
      "required": [
        "policyInitiativeId",
        "assignmentParameters"
      ]
    },
    "ResourceCreationOptions": {
      "type": "string",
      "description": "Options for resource creation.",
      "enum": [
        "Yes",
        "No",
        "UseExisting"
      ],
      "x-ms-enum": {
        "name": "ResourceCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Yes",
            "value": "Yes",
            "description": "Value to create a new resource."
          },
          {
            "name": "No",
            "value": "No",
            "description": "Value to not create a new resource."
          },
          {
            "name": "UseExisting",
            "value": "UseExisting",
            "description": "Value to use an existing resource."
          }
        ]
      }
    },
    "ResourceType": {
      "type": "string",
      "description": "The input values for defining resource types for naming conventions.",
      "enum": [
        "azureFirewalls",
        "workspaces",
        "automationAccounts",
        "dashboards",
        "userAssignedIdentities",
        "bastionHosts",
        "ddosProtectionPlans",
        "networkSecurityGroups",
        "virtualNetworks",
        "routeTables"
      ],
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "azureFirewalls",
            "value": "azureFirewalls",
            "description": "Value when customer wants to provide custom naming convention for Azure Firewall."
          },
          {
            "name": "workspaces",
            "value": "workspaces",
            "description": "Value when customer wants to provide custom naming convention for Log Analytics workspace."
          },
          {
            "name": "automationAccounts",
            "value": "automationAccounts",
            "description": "Value when customer wants to provide custom naming convention for automation account."
          },
          {
            "name": "dashboards",
            "value": "dashboards",
            "description": "Value when customer wants to provide custom naming convention for dashboard."
          },
          {
            "name": "userAssignedIdentities",
            "value": "userAssignedIdentities",
            "description": "Value when customer wants to provide custom naming convention for managed identity."
          },
          {
            "name": "bastionHosts",
            "value": "bastionHosts",
            "description": "Value when customer wants to provide custom naming convention for Bastion."
          },
          {
            "name": "ddosProtectionPlans",
            "value": "ddosProtectionPlans",
            "description": "Value when customer wants to provide custom naming convention for DDoS protection plan."
          },
          {
            "name": "networkSecurityGroups",
            "value": "networkSecurityGroups",
            "description": "Value when customer wants to provide custom naming convention for Bastion NSG."
          },
          {
            "name": "virtualNetworks",
            "value": "virtualNetworks",
            "description": "Value when customer wants to provide custom naming convention for virtual network."
          },
          {
            "name": "routeTables",
            "value": "routeTables",
            "description": "Value when customer wants to provide custom naming convention for route table."
          }
        ]
      }
    },
    "SandboxManagementGroupProperties": {
      "type": "object",
      "description": "Sandbox management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this management group will not be created. The default value is false."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "SandboxManagementGroupPropertiesUpdate": {
      "type": "object",
      "description": "Sandbox management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this management group will not be created. The default value is false."
        }
      }
    },
    "Tags": {
      "type": "object",
[...]
