{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2025-02-27-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LandingZoneAccountOperations"
    },
    {
      "name": "LandingZoneConfigurationOperations"
    },
    {
      "name": "LandingZoneRegistrationOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/landingZoneAccounts": {
      "get": {
        "operationId": "LandingZoneAccountOperations_ListBySubscription",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "List the landing zone accounts within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_ListBySubscription": {
            "$ref": "./examples/LandingZoneAccountOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZoneConfigurationOperations_ListBySubscription",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "List the landing zone configurations within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_ListBySubscription": {
            "$ref": "./examples/LandingZoneConfigurationOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrationOperations_ListBySubscription",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "List the landing zone registrations within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_ListBySubscription": {
            "$ref": "./examples/LandingZoneRegistrationOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts": {
      "get": {
        "operationId": "LandingZoneAccountOperations_ListByResourceGroup",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "List the landing zone accounts within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/LandingZoneAccountOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}": {
      "get": {
        "operationId": "LandingZoneAccountOperations_Get",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Get a landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Get": {
            "$ref": "./examples/LandingZoneAccountOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneAccountOperations_Create",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Create a landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneAccountResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneAccountResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Create": {
            "$ref": "./examples/LandingZoneAccountOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneAccountOperations_Update",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Update a landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneAccountResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Update": {
            "$ref": "./examples/LandingZoneAccountOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LandingZoneAccountOperations_Delete",
        "tags": [
          "LandingZoneAccountOperations"
        ],
        "description": "Deletes a landing zone account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneAccountOperations_Delete": {
            "$ref": "./examples/LandingZoneAccountOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZoneConfigurationOperations_ListByResourceGroup",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "List the landing zone configurations within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_ListByResourceGroup": {
            "$ref": "./examples/LandingZoneConfigurationOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}": {
      "get": {
        "operationId": "LandingZoneConfigurationOperations_Get",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Get a landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Get": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneConfigurationOperations_Create",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Create a landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneConfigurationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneConfigurationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Create": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneConfigurationOperations_Update",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Update a landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Update": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LandingZoneConfigurationOperations_Delete",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Delete a landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_Delete": {
            "$ref": "./examples/LandingZoneConfigurationOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}/createCopy": {
      "post": {
        "operationId": "LandingZoneConfigurationOperations_CreateCopy",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Create a duplicate of the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateLandingZoneConfigurationCopyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateLandingZoneConfigurationCopyResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_CreateCopy": {
            "$ref": "./examples/LandingZoneConfigurationOperations_CreateCopy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}/generateLandingZone": {
      "post": {
        "operationId": "LandingZoneConfigurationOperations_GenerateLandingZone",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Generate infrastructure as code (IaC) for a landing zone deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_GenerateLandingZone": {
            "$ref": "./examples/LandingZoneConfigurationOperations_GenerateLandingZone.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneConfigurations/{landingZoneConfigurationName}/updateAuthoringStatus": {
      "post": {
        "operationId": "LandingZoneConfigurationOperations_UpdateAuthoringStatus",
        "tags": [
          "LandingZoneConfigurationOperations"
        ],
        "description": "Update the authoring status on a landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The landing zone configuration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAuthoringStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAuthoringStatusResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneConfigurationOperations_UpdateAuthoringStatus": {
            "$ref": "./examples/LandingZoneConfigurationOperations_UpdateAuthoringStatus.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrationOperations_ListByResourceGroup",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "List the landing zone registrations within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_ListByResourceGroup": {
            "$ref": "./examples/LandingZoneRegistrationOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/landingZoneAccounts/{landingZoneAccountName}/landingZoneRegistrations/{landingZoneRegistrationName}": {
      "get": {
        "operationId": "LandingZoneRegistrationOperations_Get",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Get a landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Get": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneRegistrationOperations_Create",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Create a landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneRegistrationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneRegistrationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Create": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneRegistrationOperations_Update",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Update a landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Update": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LandingZoneRegistrationOperations_Delete",
        "tags": [
          "LandingZoneRegistrationOperations"
        ],
        "description": "Delete a landing zone registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "landingZoneAccountName",
            "in": "path",
            "description": "The landing zone account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrationOperations_Delete": {
            "$ref": "./examples/LandingZoneRegistrationOperations_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AuthoringStatus": {
      "type": "string",
      "description": "The authoring status for a landing zone configuration.",
      "enum": [
        "Authoring",
        "ReadyForUse",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AuthoringStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Authoring",
            "value": "Authoring",
            "description": "'Authoring' is the default status when a create configuration request is made. In this state, the Landing zone configuration can be modified."
          },
          {
            "name": "ReadyForUse",
            "value": "ReadyForUse",
            "description": "'ReadyForUse' status is set when the configuration updates are finished, and the configuration is ready for code generation or deployment."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "'Disabled' status is set when the landing zone configuration is no longer in use."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "allOf": [
              {
                "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity"
              }
            ],
            "type": "object",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "CreateCopyRequest": {
      "type": "object",
      "description": "The request for duplicate landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the duplicate landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,24}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateCopyResponse": {
      "type": "object",
      "description": "The response of the request for duplicate landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ID of the duplicate landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "CreateLandingZoneConfigurationCopyRequest": {
      "type": "object",
      "description": "The request for create duplicate landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the duplicate landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,64}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateLandingZoneConfigurationCopyResponse": {
      "type": "object",
      "description": "The response of the create duplicate landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ID of the duplicate landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "CustomNamingConvention": {
      "type": "object",
      "description": "The details for the custom naming convention override for a specific resource type.",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType",
          "description": "The type of the resource."
        },
        "formula": {
          "type": "string",
          "description": "The custom naming formula for the resource type."
        }
      },
      "required": [
        "resourceType",
        "formula"
      ]
    },
    "DecommissionedManagementGroupProperties": {
      "type": "object",
      "description": "The 'Decommissioned' management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of policy initiatives applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "This parameter determines whether the 'Decommissioned' management group will be created. If set to true, the group will be created; if set to false, it will not be created. The default value is false."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "DecommissionedManagementGroupPropertiesUpdate": {
      "type": "object",
      "description": "The 'Decommissioned' management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of policy initiatives applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "This parameter determines whether the 'Decommissioned' management group will be created. If set to true, the group will be created; if set to false, it will not be created. The default value is false."
        }
      }
    },
    "FirewallCreationOptions": {
      "type": "string",
      "description": "Parameter used for deploying or not a Firewall resource.",
      "enum": [
        "None",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "FirewallCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Select 'None' value to skip Firewall deployment."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Select 'Standard' value to deploy the Firewall Standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Select 'Premium' value to deploy the Firewall Premium SKU."
          }
        ]
      }
    },
    "GenerateLandingZoneRequest": {
      "type": "object",
      "description": "The request to generate Infrastructure as Code (IaC) for a landing zone.",
      "properties": {
        "infrastructureAsCodeOutputOptions": {
          "$ref": "#/definitions/InfrastructureAsCodeOutputOptions",
          "description": "The export options available for code generation."
        },
        "existingManagementSubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Existing 'Management' subscription ID to be linked with this deployment when reusing instead of creating a new subscription.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingIdentitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Existing 'Identity' subscription ID to be linked with this deployment when reusing instead of creating a new subscription.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingConnectivitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Existing 'Connectivity' subscription ID to be linked with this deployment when reusing instead of creating a new subscription.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "subscriptionBillingScope": {
          "type": "string",
          "description": "The complete resource ID of the billing scope linked to the EA, MCA, or MPA account where you want to create the subscription."
        },
        "existingTopLevelMgParentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Optional parent for the management group hierarchy, serving as an intermediate root management group parent if specified. If left empty, the default will be to deploy under the tenant root management group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment. Use between 2 and 5 characters, consisting only of letters, digits, '-', '.', or '_'. No other special characters are supported.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The optional suffix that will be appended to all resources created by this deployment, maximum 5 characters.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The display name assigned to the top management group of the landing zone deployment hierarchy. It is recommended to use unique names for each landing zone deployment.",
          "minLength": 1,
          "maxLength": 90
        },
        "deploymentLocation": {
          "type": "string",
          "description": "The Azure region where the landing zone will be deployed. All Azure regions are supported.",
          "pattern": "^([a-zA-Z0-9]+)$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the organization or agency for which the landing zone is being deployed. This is optional."
        },
        "environment": {
          "type": "string",
          "description": "The environment where the landing zone is being deployed, such as ppe, prod, test, etc."
        }
      },
      "required": [
        "infrastructureAsCodeOutputOptions",
        "deploymentPrefix",
        "topLevelMgDisplayName",
        "deploymentLocation"
      ]
    },
    "GenerateLandingZoneResponse": {
      "type": "object",
      "description": "The response payload for generating infrastructure-as-code for the landing zone.",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The parent management group name of the landing zone deployment."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the Landing zone configuration resource."
        },
        "generatedCodeUrl": {
          "type": "string",
          "format": "password",
          "description": "The url to access the generated code.",
          "x-ms-secret": true
        },
        "storageAccountName": {
          "type": "string",
          "format": "password",
          "description": "The storage account name to access the generated code.",
          "x-ms-secret": true
        },
        "containerName": {
          "type": "string",
          "format": "password",
          "description": "The storage account container to access the generated code.",
          "x-ms-secret": true
        },
        "blobName": {
          "type": "string",
          "format": "password",
          "description": "The storage account blob name to access the generated code.",
          "x-ms-secret": true
        },
        "generatedArmTemplate": {
          "type": "string",
          "format": "password",
          "description": "The generated code content in JSON string format.",
          "x-ms-secret": true
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "generatedCodeUrl",
        "storageAccountName",
        "containerName",
        "blobName"
      ]
    },
    "InfrastructureAsCodeOutputOptions": {
      "type": "string",
      "description": "Output options for landing zone code generation.",
      "enum": [
        "Bicep",
        "ARM"
      ],
      "x-ms-enum": {
        "name": "InfrastructureAsCodeOutputOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Value when generating Landing zone code in Bicep format."
          },
          {
            "name": "ARM",
            "value": "ARM",
            "description": "Value when generating Landing zone code in ARM format."
          }
        ]
      }
    },
    "LandingZoneAccountResource": {
      "type": "object",
      "description": "The Landing zone account resource type. A Landing zone account is the container for configuring, deploying and managing multiple landing zones.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneAccountResourceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LandingZoneAccountResourceListResult": {
      "type": "object",
      "description": "The response of a LandingZoneAccountResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneAccountResource items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneAccountResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneAccountResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone account resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The state that reflects the current stage in the creation, updating, or deletion process of the landing zone account.",
          "readOnly": true
        },
        "storageAccount": {
          "type": "string",
          "format": "arm-id",
          "description": "The storage account that will host the generated infrastructure as code (IaC) for a landing zone deployment.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        }
      },
      "required": [
        "storageAccount"
      ]
    },
    "LandingZoneAccountResourcePropertiesUpdate": {
      "type": "object",
      "description": "The properties of landing zone account resource type.",
      "properties": {
        "storageAccount": {
          "type": "string",
          "format": "arm-id",
          "description": "The storage account that will host the generated infrastructure as code (IaC) for a landing zone deployment.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        }
      }
    },
    "LandingZoneAccountResourceUpdate": {
      "type": "object",
      "description": "The Landing zone account resource type. A Landing zone account is the container for configuring, deploying and managing multiple landing zones.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneAccountResourcePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "LandingZoneConfigurationResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneConfigurationResourceListResult": {
      "type": "object",
      "description": "The response of a LandingZoneConfigurationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneConfigurationResource items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneConfigurationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneConfigurationResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The state that reflects the current stage in the creation, updating, or deletion process of the landing zone configuration.",
          "readOnly": true
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The status that indicates the current phase of the configuration process for a deployment.",
          "readOnly": true
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Parameter used to deploy a DDoS protection plan: Select 'Yes' to enable deployment, 'No' to skip it, or 'Existing' to reuse an existing DDoS protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the DDoS protection plan when reusing an existing one.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Parameter used to deploy a log analytics workspace: Select 'Yes' to enable deployment, 'No' to skip it, or 'Existing' to reuse an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the log analytics workspace when reusing an existing one.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Tags are key-value pairs that can be assigned to a resource to organize and manage it more effectively. Example: {'name': 'a tag name', 'value': 'a tag value'}",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "Parameter used for deploying a Firewall: Select 'No' to skip deployment, 'Standard' to deploy the Standard SKU, or 'Premium' to deploy the Premium SKU."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "The Firewall subnet address used for deploying a firewall. Specify the Firewall subnet using IPv4 CIDR notation."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "The gateway subnet address used for deploying a virtual network. Specify the subnet using IPv4 CIDR notation."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Parameter to define the retention period for logs, in days. The minimum duration is 30 days and the maximum is 730 days.",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The Virtual Network address. Specify the address using IPv4 CIDR notation."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Parameter used to deploy a Bastion: Select 'Yes' to enable deployment, 'No' to skip it, or 'Existing' to reuse an existing Bastion."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the Bastion when reusing an existing one.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "The Bastion subnet address. Specify the address using IPv4 CIDR notation."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "The child management groups of 'Landing Zones' management group and their assigned policies.",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The assigned policies of the parent management group."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The assigned policies of the 'Landing Zones' management group."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The assigned policies of the 'Platform' management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The assigned policies of the 'Management' management group under 'Platform' management group."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The assigned policies of the 'Connectivity' management group under 'Platform' management group."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The assigned policies of the 'Identity' management group under 'Platform' management group."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupProperties",
          "description": "The assigned policies of the 'Decommissioned' management group and indicator to create it or not."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupProperties",
          "description": "The assigned policies of the 'Sandbox' management group and indicator to create it or not."
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityProperties",
          "description": "The managed identity to be assigned to this landing zone configuration."
        },
        "platformMgChildren": {
          "type": "array",
          "description": "The names of the 'Platform' child management groups and their assigned policies, excluding the default ones: 'Connectivity', 'Identity', and 'Management'",
          "items": {
            "$ref": "#/definitions/PlatformManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "namingConventionFormula": {
          "type": "string",
          "description": "The default naming convention applied to all resources for this landing zone configuration. Example - {DeploymentPrefix}-Contoso-{ResourceTypeAbbreviation}{DeploymentSuffix}-{Environment}-testing"
        },
        "customNamingConvention": {
          "type": "array",
          "description": "The custom naming convention applied to specific resource types for this landing zone configuration, which overrides the default naming convention for those resource types. Example - 'customNamingConvention': [{'resourceType': 'azureFirewalls', 'formula': '{DeploymentPrefix}-afwl-{DeploymentSuffix}'}]",
          "items": {
            "$ref": "#/definitions/CustomNamingConvention"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "ddosProtectionCreationOption",
        "logAnalyticsWorkspaceCreationOption",
        "firewallCreationOption",
        "gatewaySubnetCidrBlock",
        "logRetentionInDays",
        "hubNetworkCidrBlock",
        "azureBastionCreationOption",
        "managedIdentity"
      ]
    },
    "LandingZoneConfigurationResourcePropertiesUpdate": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Parameter used to deploy a DDoS protection plan: Select 'Yes' to enable deployment, 'No' to skip it, or 'Existing' to reuse an existing DDoS protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the DDoS protection plan when reusing an existing one.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Parameter used to deploy a log analytics workspace: Select 'Yes' to enable deployment, 'No' to skip it, or 'Existing' to reuse an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the log analytics workspace when reusing an existing one.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Tags are key-value pairs that can be assigned to a resource to organize and manage it more effectively. Example: {'name': 'a tag name', 'value': 'a tag value'}",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "Parameter used for deploying a Firewall: Select 'No' to skip deployment, 'Standard' to deploy the Standard SKU, or 'Premium' to deploy the Premium SKU."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "The Firewall subnet address used for deploying a firewall. Specify the Firewall subnet using IPv4 CIDR notation."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "The gateway subnet address used for deploying a virtual network. Specify the subnet using IPv4 CIDR notation."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Parameter to define the retention period for logs, in days. The minimum duration is 30 days and the maximum is 730 days.",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The Virtual Network address. Specify the address using IPv4 CIDR notation."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Parameter used to deploy a Bastion: Select 'Yes' to enable deployment, 'No' to skip it, or 'Existing' to reuse an existing Bastion."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the Bastion when reusing an existing one.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "The Bastion subnet address. Specify the address using IPv4 CIDR notation."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "The child management groups of 'Landing Zones' management group and their assigned policies.",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the parent management group."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Landing Zones' management group."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Platform' management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Management' management group under 'Platform' management group."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Connectivity' management group under 'Platform' management group."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Identity' management group under 'Platform' management group."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Decommissioned' management group and indicator to create it or not."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupPropertiesUpdate",
          "description": "The assigned policies of the 'Sandbox' management group and indicator to create it or not."
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityPropertiesUpdate",
          "description": "The managed identity to be assigned to this landing zone configuration."
        },
        "platformMgChildren": {
          "type": "array",
          "description": "The names of the 'Platform' child management groups and their assigned policies, excluding the default ones: 'Connectivity', 'Identity', and 'Management'",
          "items": {
            "$ref": "#/definitions/PlatformManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "namingConventionFormula": {
          "type": "string",
          "description": "The default naming convention applied to all resources for this landing zone configuration. Example - {DeploymentPrefix}-Contoso-{ResourceTypeAbbreviation}{DeploymentSuffix}-{Environment}-testing"
        },
        "customNamingConvention": {
          "type": "array",
          "description": "The custom naming convention applied to specific resource types for this landing zone configuration, which overrides the default naming convention for those resource types. Example - 'customNamingConvention': [{'resourceType': 'azureFirewalls', 'formula': '{DeploymentPrefix}-afwl-{DeploymentSuffix}'}]",
          "items": {
            "$ref": "#/definitions/CustomNamingConvention"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "LandingZoneConfigurationResourceUpdate": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationResourcePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneManagementGroupProperties": {
      "type": "object",
      "description": "The 'Landing Zones' management group properties..",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of policy initiatives applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "LandingZoneRegistrationResource": {
      "type": "object",
      "description": "The Landing zone registration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneRegistrationResourceListResult": {
      "type": "object",
      "description": "The response of a LandingZoneRegistrationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneRegistrationResource items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneRegistrationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneRegistrationResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone registration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The state that reflects the current stage in the creation, updating, or deletion process of the landing zone registration resource type.",
          "readOnly": true
        },
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityProperties",
          "description": "The managed identity to be assigned to this landing zone registration."
        }
      },
      "required": [
        "existingTopLevelMgId",
        "existingLandingZoneConfigurationId"
      ]
    },
    "LandingZoneRegistrationResourcePropertiesUpdate": {
      "type": "object",
      "description": "The properties of landing zone registration resource type.",
      "properties": {
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityPropertiesUpdate",
          "description": "The managed identity to be assigned to this landing zone registration."
        }
      }
    },
    "LandingZoneRegistrationResourceUpdate": {
      "type": "object",
      "description": "The Landing zone registration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationResourcePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of managed identity, specifically including type and resource ID.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityResourceType",
          "description": "The type of managed identity."
        },
        "userAssignedIdentityResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the managed identity.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "ManagedIdentityPropertiesUpdate": {
      "type": "object",
      "description": "The properties of managed identity, specifically including type and resource ID.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityResourceType",
          "description": "The type of managed identity."
        },
        "userAssignedIdentityResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the managed identity.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      }
    },
    "ManagedIdentityResourceType": {
      "type": "string",
      "description": "The managed identity resource.",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          }
        ]
      }
    },
    "ManagementGroupProperties": {
      "type": "object",
      "description": "The properties of policy initiatives applied to the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of policy initiatives applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties"
      ]
    },
    "ManagementGroupPropertiesUpdate": {
      "type": "object",
      "description": "The properties of policy initiatives applied to the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of policy initiatives applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PlatformManagementGroupProperties": {
      "type": "object",
      "description": "The 'Platform' management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of policy initiatives applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "PolicyInitiativeAssignmentProperties": {
      "type": "object",
      "description": "The properties of assigned policy initiatives.",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "description": "The fully qualified id of the policy initiative."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters of the assigned policy initiative.",
          "additionalProperties": {}
        }
      },
      "required": [
        "policyInitiativeId",
        "assignmentParameters"
      ]
    },
    "ResourceCreationOptions": {
      "type": "string",
      "description": "Options for resource creation.",
      "enum": [
        "Yes",
        "No",
        "UseExisting"
      ],
      "x-ms-enum": {
        "name": "ResourceCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Yes",
            "value": "Yes",
            "description": "Value to create a new resource."
          },
          {
            "name": "No",
            "value": "No",
            "description": "Value to not create a new resource."
          },
          {
            "name": "UseExisting",
            "value": "UseExisting",
            "description": "Value to use an existing resource."
          }
        ]
      }
    },
    "ResourceType": {
      "type": "string",
      "description": "The input values for resource types for custom naming conventions.",
      "enum": [
        "azureFirewalls",
        "workspaces",
        "automationAccounts",
        "dashboards",
        "userAssignedIdentities",
        "bastionHosts",
        "ddosProtectionPlans",
        "networkSecurityGroups",
        "virtualNetworks",
        "routeTables"
      ],
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "azureFirewalls",
            "value": "azureFirewalls",
            "description": "Value when customer wants to provide a custom naming convention for Azure Firewall."
          },
          {
[...]
