{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SustainabilityServices",
    "version": "2024-10-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Calculations"
    }
  ],
  "paths": {
    "/providers/Microsoft.SustainabilityServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SustainabilityServices/calculations": {
      "get": {
        "operationId": "Calculations_ListBySubscription",
        "tags": [
          "Calculations"
        ],
        "description": "List CalculationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CalculationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculations_ListBySubscription": {
            "$ref": "./examples/Calculations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SustainabilityServices/calculations": {
      "get": {
        "operationId": "Calculations_ListByResourceGroup",
        "tags": [
          "Calculations"
        ],
        "description": "List CalculationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CalculationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculations_ListByResourceGroup": {
            "$ref": "./examples/Calculations_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SustainabilityServices/calculations/{calculationResourceName}": {
      "get": {
        "operationId": "Calculations_Get",
        "tags": [
          "Calculations"
        ],
        "description": "Get a CalculationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "calculationResourceName",
            "in": "path",
            "description": "The name of the Calculation Resource Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CalculationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculations_Get": {
            "$ref": "./examples/Calculations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Calculations_CreateOrUpdate",
        "tags": [
          "Calculations"
        ],
        "description": "Create a CalculationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "calculationResourceName",
            "in": "path",
            "description": "The name of the Calculation Resource Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CalculationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CalculationResource"
            }
          },
          "201": {
            "description": "Resource 'CalculationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CalculationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculations_CreateOrUpdate": {
            "$ref": "./examples/Calculations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Calculations_Update",
        "tags": [
          "Calculations"
        ],
        "description": "Update a CalculationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "calculationResourceName",
            "in": "path",
            "description": "The name of the Calculation Resource Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CalculationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgriService_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/AgriService_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Calculations_Delete",
        "tags": [
          "Calculations"
        ],
        "description": "Delete a CalculationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "calculationResourceName",
            "in": "path",
            "description": "The name of the Calculation Resource Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculations_Delete": {
            "$ref": "./examples/Calculations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AkvProfile": {
      "type": "object",
      "description": "The properties related to Azure Key Vault (Akv) Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Akv Resource",
          "readOnly": true
        }
      }
    },
    "AppServiceProfile": {
      "type": "object",
      "description": "The properties related to App Service Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of App service Resource",
          "readOnly": true
        }
      }
    },
    "AzureFrontDoorProfile": {
      "type": "object",
      "description": "The properties related to Azure FrontDoor Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of AzureFrontDoor Resource",
          "readOnly": true
        }
      }
    },
    "MonitoringProfile": {
      "type": "object",
      "description": "The properties related to Monitoring Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Application Insights Resource",
          "readOnly": true
        }
      }
    },
    "RedisProfile": {
      "type": "object",
      "description": "The properties related to Azure Redis Cache Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Azure Redis Cache Resource",
          "readOnly": true
        }
      }
    },
    "StorageProfile": {
      "type": "object",
      "description": "The properties related to Storage Resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Storage Resource",
          "readOnly": true
        }
      }
    },
    "CalculationResource": {
      "type": "object",
      "description": "A SustainabilityServicesProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CalculationResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CalculationResourceListResult": {
      "type": "object",
      "description": "The response of a CalculationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CalculationResource items on this page",
          "items": {
            "$ref": "#/definitions/CalculationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CalculationResourceProperties": {
      "type": "object",
      "description": "Details of the SustainabilityServices Calculations.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Calculation Resource Version.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "tokenClaimsApplicationId": {
          "type": "string",
          "description": "Application Id for token claims.",
          "pattern": "^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ddosPlan": {
          "type": "string",
          "description": "DDoS Protection Plan",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serviceUrl": {
          "type": "string",
          "description": "Service Url",
          "readOnly": true
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Profile of Storage Created.",
          "readOnly": true
        },
        "akvProfile": {
          "$ref": "#/definitions/AkvProfile",
          "description": "Profile of AKV Created.",
          "readOnly": true
        },
        "appServiceProfile": {
          "$ref": "#/definitions/AppServiceProfile",
          "description": "Profile of App Service Created.",
          "readOnly": true
        },
        "redisProfile": {
          "$ref": "#/definitions/RedisProfile",
          "description": "Profile of Azure Redis Created.",
          "readOnly": true
        },
        "monitoringProfile": {
          "$ref": "#/definitions/MonitoringProfile",
          "description": "Profile of Monitoring Resource Created.",
          "readOnly": true
        },
        "azureFrontDoorProfile": {
          "$ref": "#/definitions/AzureFrontDoorProfile",
          "description": "Profile of Azure FrontDoor Resource Created.",
          "readOnly": true
        }
      },
      "required": [
        "tokenClaimsApplicationId"
      ]
    },
    "CalculationResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the CalculationResource.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/CalculationResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "CalculationResourceUpdateProperties": {
      "type": "object",
      "description": "Details of the SustainabilityServices Calculations.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Calculation Resource Version.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Versions": {
      "type": "string",
      "description": "Supported API versions for the Microsoft.SustainabilityServices resource provider.",
      "enum": [
        "2024-10-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_10_01_preview",
            "value": "2024-10-01-preview",
            "description": "The 2024-10-01-preview version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
