{
  "swagger": "2.0",
  "info": {
    "title": "SingleSPNAttribute",
    "version": "2022-10-27",
    "description": "Azure OffAzure Resource Provider management API.",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HyperVClusterController"
    },
    {
      "name": "Sites"
    },
    {
      "name": "VMwareOperationsStatus"
    },
    {
      "name": "VMwarePropertiesController"
    },
    {
      "name": "WebAppPropertiesController"
    },
    {
      "name": "DependencyMapController"
    },
    {
      "name": "VmwareSites"
    },
    {
      "name": "MachinesController"
    },
    {
      "name": "VmwareMachinesController"
    },
    {
      "name": "VCenterController"
    },
    {
      "name": "RunAsAccountsController"
    },
    {
      "name": "VmwareHostController"
    },
    {
      "name": "JobsController"
    },
    {
      "name": "HyperVDependencyMapController"
    },
    {
      "name": "HyperVSitesController"
    },
    {
      "name": "HypervSites"
    },
    {
      "name": "HyperVJobs"
    },
    {
      "name": "HyperVHostController"
    },
    {
      "name": "HypervMachinesController"
    },
    {
      "name": "HyperVRunAsAccountsController"
    },
    {
      "name": "ServersController"
    },
    {
      "name": "ServerSitesController"
    },
    {
      "name": "ServerDependencyMapController"
    },
    {
      "name": "ServerRunAsAccounts"
    },
    {
      "name": "ServerJobsController"
    },
    {
      "name": "ImportJobsController"
    },
    {
      "name": "ImportMachinesController"
    },
    {
      "name": "ImportSitesController"
    },
    {
      "name": "MasterSitesController"
    },
    {
      "name": "ApplianceNonceController"
    },
    {
      "name": "MasterSitesOperationsStatusController"
    },
    {
      "name": "PrivateEndpointConnectionController"
    },
    {
      "name": "PrivateEndpointConnectionProxyController"
    },
    {
      "name": "PrivateLinkResourcesController"
    },
    {
      "name": "SqlSitesController"
    },
    {
      "name": "WebAppSitesController"
    },
    {
      "name": "TomcatWebApplicationsController"
    },
    {
      "name": "TomcatWebServersController"
    },
    {
      "name": "IISWebApplicationsController"
    },
    {
      "name": "IISWebServersController"
    },
    {
      "name": "WebAppDiscoverySiteDataSourcesController"
    },
    {
      "name": "WebAppExtendedMachinesController"
    },
    {
      "name": "WebApplicationsController"
    },
    {
      "name": "WebAppRunAsAccountsController"
    },
    {
      "name": "WebServersController"
    },
    {
      "name": "SqlAvailabilityGroupController"
    },
    {
      "name": "SqlServersController"
    },
    {
      "name": "SqlDatabasesController"
    },
    {
      "name": "SqlJobsController"
    },
    {
      "name": "SqlRunAsAccountsController"
    },
    {
      "name": "SqlDiscoverySiteDataSourceController"
    },
    {
      "name": "SubscriptionController"
    },
    {
      "name": "SqlOperationsStatusController"
    }
  ],
  "paths": {
    "/providers/Microsoft.OffAzure/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/HyperVSites": {
      "get": {
        "tags": [
          "HypervSites"
        ],
        "operationId": "HyperVSites_ListBySubscription",
        "summary": "Get all hyperv  sites.",
        "description": "Get all the hyperv  sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVSiteCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HyperVSites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_ListBySubscription_MaximumSet_Gen.json"
          },
          "HyperVSites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/MasterSites": {
      "get": {
        "tags": [
          "MasterSitesController"
        ],
        "operationId": "MasterSites_ListBySubscription",
        "summary": "Get all the sites in the subscription.",
        "description": "Get all the sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MasterSiteCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MasterSites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/MasterSites_ListBySubscription_MaximumSet_Gen.json"
          },
          "MasterSites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/MasterSites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/VMwareSites": {
      "get": {
        "tags": [
          "VmwareSites"
        ],
        "operationId": "VMwareSites_ListBySubscription",
        "summary": "Get all vmware sites.",
        "description": "Get all the vmware sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VMwareSiteCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VMwareSites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/VMwareSites_ListBySubscription_MaximumSet_Gen.json"
          },
          "VMwareSites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/VMwareSites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure": {
      "put": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "operationId": "PrivateEndpointConnectionProxyController_PutPrivateEndpointConnectionProxy",
        "summary": "Gets the private endpoint connection proxy.",
        "description": "Gets the private endpoint connection proxy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/MicrosoftAzureMigratePrivateEndpointBodyPrivateEndpointConnectionProxyRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftAzureMigratePrivateEndpointBodyPrivateEndpointConnectionProxyRequestBody"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_PutPrivateEndpointConnectionProxy_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_PutPrivateEndpointConnectionProxy_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_PutPrivateEndpointConnectionProxy_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_PutPrivateEndpointConnectionProxy_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites": {
      "get": {
        "tags": [
          "HypervSites"
        ],
        "operationId": "HypervSites_ListByResourceGroup",
        "summary": "Get all hyperv sites.",
        "description": "Get all the hyperv sites in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVSiteCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HypervSites_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/HypervSites_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "HypervSites_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/HypervSites_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}": {
      "get": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_GetSite",
        "description": "Get a HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVSite"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSites_GetSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_GetSite_MaximumSet_Gen.json"
          },
          "HyperVSites_GetSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_GetSite_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_PutSite",
        "description": "Create a HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HyperVSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVSite"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSites_PutSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_PutSite_MaximumSet_Gen.json"
          },
          "HyperVSites_PutSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_PutSite_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_PatchSite",
        "description": "Update a HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Job body with updated properties.",
            "schema": {
              "$ref": "#/definitions/HyperVSiteUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVSite"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSites_PatchSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_PatchSite_MaximumSet_Gen.json"
          },
          "HyperVSites_PatchSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_PatchSite_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_DeleteSite",
        "description": "Delete a HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          }
        },
        "x-ms-examples": {
          "HyperVSites_DeleteSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_DeleteSite_MaximumSet_Gen.json"
          },
          "HyperVSites_DeleteSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_DeleteSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/clientGroupMembers": {
      "post": {
        "tags": [
          "HyperVDependencyMapController"
        ],
        "operationId": "HyperVDependencyMapController_ClientGroupsMembersAsync",
        "description": "API to list client group members for the selected client group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapExtensionsClientGroupMembersRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVDependencyMapController_ClientGroupsMembersAsync_MaximumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_ClientGroupsMembersAsync_MaximumSet_Gen.json"
          },
          "HyperVDependencyMapController_ClientGroupsMembersAsync_MinimumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_ClientGroupsMembersAsync_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/clusters": {
      "get": {
        "tags": [
          "HyperVClusterController"
        ],
        "operationId": "HyperVCluster_GetAllClustersInSite",
        "description": "List HyperVCluster resources by HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "filter query",
            "type": "string"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVClusterCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HyperVCluster_GetAllClustersInSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVCluster_GetAllClustersInSite_MaximumSet_Gen.json"
          },
          "HyperVCluster_GetAllClustersInSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVCluster_GetAllClustersInSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/clusters/{clusterName}": {
      "get": {
        "tags": [
          "HyperVClusterController"
        ],
        "operationId": "HyperVClusterController_GetCluster",
        "description": "Method to get a Hyper-V cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "description": " Cluster ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVCluster"
            }
          }
        },
        "x-ms-examples": {
          "HyperVClusterController_GetCluster_MaximumSet_Gen": {
            "$ref": "./examples/HyperVClusterController_GetCluster_MaximumSet_Gen.json"
          },
          "HyperVClusterController_GetCluster_MinimumSet_Gen": {
            "$ref": "./examples/HyperVClusterController_GetCluster_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "HyperVClusterController"
        ],
        "operationId": "HyperVClusterController_PutCluster",
        "description": "Create a HyperVCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "description": " Cluster ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HyperVCluster"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVClusterController_PutCluster_MaximumSet_Gen": {
            "$ref": "./examples/HyperVClusterController_PutCluster_MaximumSet_Gen.json"
          },
          "HyperVClusterController_PutCluster_MinimumSet_Gen": {
            "$ref": "./examples/HyperVClusterController_PutCluster_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/errorSummary": {
      "get": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSitesController_ErrorSummary",
        "description": "Method to get site error summary.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "applianceName",
            "in": "query",
            "required": true,
            "description": "Appliance Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteErrorSummary"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSitesController_ErrorSummary_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSitesController_ErrorSummary_MaximumSet_Gen.json"
          },
          "HyperVSitesController_ErrorSummary_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSitesController_ErrorSummary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/exportDependencies": {
      "post": {
        "tags": [
          "HyperVDependencyMapController"
        ],
        "operationId": "HyperVDependencyMapController_ExportDependencies",
        "description": "API to generate report containing agentless dependencies.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapExtensionsExportDependenciesRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVDependencyMapController_ExportDependencies_MaximumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_ExportDependencies_MaximumSet_Gen.json"
          },
          "HyperVDependencyMapController_ExportDependencies_MinimumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_ExportDependencies_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/exportMachineErrors": {
      "post": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSitesController_ExportMachineErrors",
        "description": "Method to generate report containing \r\n            machine and the errors encountered during guest discovery of the machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/VersionedV202001ExportMachineErrorsRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVSitesController_ExportMachineErrors_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSitesController_ExportMachineErrors_MaximumSet_Gen.json"
          },
          "HyperVSitesController_ExportMachineErrors_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSitesController_ExportMachineErrors_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/generateCoarseMap": {
      "post": {
        "tags": [
          "HyperVDependencyMapController"
        ],
        "operationId": "HyperVDependencyMapController_GenerateCoarseMapAsync",
        "description": "API to generate coarse map for the list of machines.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapExtensionsScopeMapRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVDependencyMapController_GenerateCoarseMapAsync_MaximumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_GenerateCoarseMapAsync_MaximumSet_Gen.json"
          },
          "HyperVDependencyMapController_GenerateCoarseMapAsync_MinimumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_GenerateCoarseMapAsync_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/generateDetailedMap": {
      "post": {
        "tags": [
          "HyperVDependencyMapController"
        ],
        "operationId": "HyperVDependencyMapController_GenerateDetailedMapAsync",
        "description": "API to generate detailed map for a selected machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapExtensionsSingleMachineDetailedMapRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVDependencyMapController_GenerateDetailedMapAsync_MaximumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_GenerateDetailedMapAsync_MaximumSet_Gen.json"
          },
          "HyperVDependencyMapController_GenerateDetailedMapAsync_MinimumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_GenerateDetailedMapAsync_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/healthSummary": {
      "post": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_GetSiteHealthSummary",
        "description": "Method to get site health summary.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteHealthSummaryCollection"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSites_GetSiteHealthSummary_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_GetSiteHealthSummary_MaximumSet_Gen.json"
          },
          "HyperVSites_GetSiteHealthSummary_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_GetSiteHealthSummary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/hosts": {
      "get": {
        "tags": [
          "HyperVHostController"
        ],
        "operationId": "HyperVHost_GetAllHostsInSite",
        "description": "List HyperVHost resources by HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "filter query",
            "type": "string"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVHostCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HyperVHost_GetAllHostsInSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVHost_GetAllHostsInSite_MaximumSet_Gen.json"
          },
          "HyperVHost_GetAllHostsInSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVHost_GetAllHostsInSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/hosts/{hostName}": {
      "get": {
        "tags": [
          "HyperVHostController"
        ],
        "operationId": "HyperVHost_GetHost",
        "description": "Get a HyperVHost",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "description": " Host name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVHost"
            }
          }
        },
        "x-ms-examples": {
          "HyperVHost_GetHost_MaximumSet_Gen": {
            "$ref": "./examples/HyperVHost_GetHost_MaximumSet_Gen.json"
          },
          "HyperVHost_GetHost_MinimumSet_Gen": {
            "$ref": "./examples/HyperVHost_GetHost_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "HyperVHostController"
        ],
        "operationId": "HyperVHost_PutHost",
        "description": "Create a HyperVHost",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "description": " Host name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HyperVHost"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVHost_PutHost_MaximumSet_Gen": {
            "$ref": "./examples/HyperVHost_PutHost_MaximumSet_Gen.json"
          },
          "HyperVHost_PutHost_MinimumSet_Gen": {
            "$ref": "./examples/HyperVHost_PutHost_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/jobs": {
      "get": {
        "tags": [
          "HyperVJobs"
        ],
        "operationId": "HyperVJobs_GetAllJobsInSite",
        "description": "List HyperVJob resources by HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVJobCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HyperVJobs_GetAllJobsInSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVJobs_GetAllJobsInSite_MaximumSet_Gen.json"
          },
          "HyperVJobs_GetAllJobsInSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVJobs_GetAllJobsInSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/jobs/{jobName}": {
      "get": {
        "tags": [
          "HyperVJobs"
        ],
        "operationId": "HyperVJobs_GetJob",
        "description": "Get a HyperVJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": " Job name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVJob"
            }
          }
        },
        "x-ms-examples": {
          "HyperVJobs_GetJob_MaximumSet_Gen": {
            "$ref": "./examples/HyperVJobs_GetJob_MaximumSet_Gen.json"
          },
          "HyperVJobs_GetJob_MinimumSet_Gen": {
            "$ref": "./examples/HyperVJobs_GetJob_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/machines": {
      "get": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HyperVMachines_GetAllMachinesInSite",
        "description": "List HyperVMachine resources by HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "filter query",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "page size  query",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total count of machines in the given site.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVMachineCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HyperVMachines_GetAllMachinesInSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVMachines_GetAllMachinesInSite_MaximumSet_Gen.json"
          },
          "HyperVMachines_GetAllMachinesInSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVMachines_GetAllMachinesInSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/machines/{machineName}": {
      "get": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HyperVMachines_GetMachine",
        "description": "Get a HyperVMachine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVMachine"
            }
          }
        },
        "x-ms-examples": {
          "HyperVMachines_GetMachine_MaximumSet_Gen": {
            "$ref": "./examples/HyperVMachines_GetMachine_MaximumSet_Gen.json"
          },
          "HyperVMachines_GetMachine_MinimumSet_Gen": {
            "$ref": "./examples/HyperVMachines_GetMachine_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/machines/{machineName}/applications": {
      "get": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HyperVMachinesController_GetHyperVMachineApplications",
        "description": "Method to get machine with application and roles present in it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVMachine"
            }
          }
        },
        "x-ms-examples": {
          "HyperVMachinesController_GetHyperVMachineApplications_MaximumSet_Gen": {
            "$ref": "./examples/HyperVMachinesController_GetHyperVMachineApplications_MaximumSet_Gen.json"
          },
          "HyperVMachinesController_GetHyperVMachineApplications_MinimumSet_Gen": {
            "$ref": "./examples/HyperVMachinesController_GetHyperVMachineApplications_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/machines/{machineName}/softwareInventory/default": {
      "get": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_Seven10MachinesControllerGetMachineSoftwareInventory",
        "summary": "Method to get a machines software inventory like applications and roles.",
        "description": "Method to get a machines software inventory like applications and roles.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": " HypervMachine name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVVMSoftwareInventory"
            }
          }
        },
        "x-ms-examples": {
          "HypervMachinesController_Seven10MachinesControllerGetMachineSoftwareInventory_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Seven10MachinesControllerGetMachineSoftwareInventory_MaximumSet_Gen.json"
          },
          "HypervMachinesController_Seven10MachinesControllerGetMachineSoftwareInventory_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_Seven10MachinesControllerGetMachineSoftwareInventory_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/operationsStatus/{operationStatusName}": {
      "get": {
        "tags": [
          "HypervSites"
        ],
        "operationId": "HyperVOperationsStatus_GetOperationStatus",
        "description": "A operation status resource belonging to a site resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "operationStatusName",
            "in": "path",
            "required": true,
            "description": "Operation status  Arm Name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        },
        "x-ms-examples": {
          "HyperVOperationsStatus_GetOperationStatus_MaximumSet_Gen": {
            "$ref": "./examples/HyperVOperationsStatus_GetOperationStatus_MaximumSet_Gen.json"
          },
          "HyperVOperationsStatus_GetOperationStatus_MinimumSet_Gen": {
            "$ref": "./examples/HyperVOperationsStatus_GetOperationStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/refresh": {
      "post": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_RefreshSite",
        "description": "Method to refresh a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVSites_RefreshSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_RefreshSite_MaximumSet_Gen.json"
          },
          "HyperVSites_RefreshSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_RefreshSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/runAsAccounts": {
      "get": {
        "tags": [
          "HyperVRunAsAccountsController"
        ],
        "operationId": "HyperVRunAsAccounts_GetAllRunAsAccountsInSite",
        "description": "List HypervRunAsAccountResource resources by HyperVSite",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervRunAsAccountResourceCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "HyperVRunAsAccounts_GetAllRunAsAccountsInSite_MaximumSet_Gen": {
            "$ref": "./examples/HyperVRunAsAccounts_GetAllRunAsAccountsInSite_MaximumSet_Gen.json"
          },
          "HyperVRunAsAccounts_GetAllRunAsAccountsInSite_MinimumSet_Gen": {
            "$ref": "./examples/HyperVRunAsAccounts_GetAllRunAsAccountsInSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/runAsAccounts/{accountName}": {
      "get": {
        "tags": [
          "HyperVRunAsAccountsController"
        ],
        "operationId": "HyperVRunAsAccounts_GetRunAsAccount",
        "description": "Get a HypervRunAsAccountResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": " RunAsAccounts name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervRunAsAccountResource"
            }
          }
        },
        "x-ms-examples": {
          "HyperVRunAsAccounts_GetRunAsAccount_MaximumSet_Gen": {
            "$ref": "./examples/HyperVRunAsAccounts_GetRunAsAccount_MaximumSet_Gen.json"
          },
          "HyperVRunAsAccounts_GetRunAsAccount_MinimumSet_Gen": {
            "$ref": "./examples/HyperVRunAsAccounts_GetRunAsAccount_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/serverGroupMembers": {
      "post": {
        "tags": [
          "HyperVDependencyMapController"
        ],
        "operationId": "HyperVDependencyMapController_ServerGroupsMembersAsync",
        "description": "API to list server group members for the selected server group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/DependencyMapServiceMapExtensionsServerGroupMembersRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVDependencyMapController_ServerGroupsMembersAsync_MaximumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_ServerGroupsMembersAsync_MaximumSet_Gen.json"
          },
          "HyperVDependencyMapController_ServerGroupsMembersAsync_MinimumSet_Gen": {
            "$ref": "./examples/HyperVDependencyMapController_ServerGroupsMembersAsync_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/summary": {
      "post": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSites_GetSiteUsage",
        "description": "Method to get site usage.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HyperVSiteUsage"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSites_GetSiteUsage_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSites_GetSiteUsage_MaximumSet_Gen.json"
          },
          "HyperVSites_GetSiteUsage_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSites_GetSiteUsage_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/updateDependencyMapStatus": {
      "post": {
        "tags": [
          "HyperVDependencyMapController"
        ],
        "operationId": "HyperVMachinesController_UpdateMachineDependencyMapStatus",
        "description": "Method to enable disable dependency map status for machines\r\n            in a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "mapRequest",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/UpdateMachineDepMapStatus"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HyperVMachinesController_UpdateMachineDependencyMapStatus_MaximumSet_Gen": {
            "$ref": "./examples/HyperVMachinesController_UpdateMachineDependencyMapStatus_MaximumSet_Gen.json"
          },
          "HyperVMachinesController_UpdateMachineDependencyMapStatus_MinimumSet_Gen": {
            "$ref": "./examples/HyperVMachinesController_UpdateMachineDependencyMapStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/updateProperties": {
      "post": {
        "tags": [
          "HypervMachinesController"
        ],
        "operationId": "HypervMachinesController_UpdateProperties",
        "description": "Method to update custom properties for HYPERV machines\r\n            in a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "metaData",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/MachineMetadataList"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "HypervMachinesController_UpdateProperties_MaximumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_UpdateProperties_MaximumSet_Gen.json"
          },
          "HypervMachinesController_UpdateProperties_MinimumSet_Gen": {
            "$ref": "./examples/HypervMachinesController_UpdateProperties_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/usage": {
      "get": {
        "tags": [
          "HyperVSitesController"
        ],
        "operationId": "HyperVSitesController_Usage",
        "description": "Method to get site error summary.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteUsageResponse"
            }
          }
        },
        "x-ms-examples": {
          "HyperVSitesController_Usage_MaximumSet_Gen": {
            "$ref": "./examples/HyperVSitesController_Usage_MaximumSet_Gen.json"
          },
          "HyperVSitesController_Usage_MinimumSet_Gen": {
            "$ref": "./examples/HyperVSitesController_Usage_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}": {
      "get": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_Get",
        "description": "Get a ImportSiteResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportSiteResource"
            }
          }
        },
        "x-ms-examples": {
          "ImportSitesController_Get_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Get_MaximumSet_Gen.json"
          },
          "ImportSitesController_Get_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_Create",
        "description": "Create a ImportSiteResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ImportSiteResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportSiteResource"
            }
          }
        },
        "x-ms-examples": {
          "ImportSitesController_Create_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Create_MaximumSet_Gen.json"
          },
          "ImportSitesController_Create_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_Update",
        "description": "Update a ImportSiteResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ImportSiteResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportSiteResource"
            }
          }
        },
        "x-ms-examples": {
          "ImportSitesController_Update_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Update_MaximumSet_Gen.json"
          },
          "ImportSitesController_Update_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_Delete",
        "description": "Delete a ImportSiteResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          }
        },
        "x-ms-examples": {
          "ImportSitesController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Delete_MaximumSet_Gen.json"
          },
          "ImportSitesController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/deleteImportedMachines": {
      "post": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_DeleteImportedMachines",
        "description": "Deletes the imported machines for site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/V20190501PreviewSasUriResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "type": "object",
              "properties": {},
              "x-cadl-name": "{}"
            }
          }
        },
        "x-ms-examples": {
          "ImportSitesController_DeleteImportedMachines_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_DeleteImportedMachines_MaximumSet_Gen.json"
          },
          "ImportSitesController_DeleteImportedMachines_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_DeleteImportedMachines_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/deletejobs": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_Deletejobs",
        "description": "Method to get all delete import machines job for the given site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportDeleteImportMachinesJobDeleteImportMachinesJobCollection"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_Deletejobs_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Deletejobs_MaximumSet_Gen.json"
          },
          "ImportJobsController_Deletejobs_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Deletejobs_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/DeleteJobs/{jobName}": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_Deletejob",
        "description": "Gets the delete imported machines job with the given job name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": "Job Arm Name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/V20200201DeleteImportMachinesJob"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_Deletejob_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Deletejob_MaximumSet_Gen.json"
          },
          "ImportJobsController_Deletejob_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Deletejob_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_PatchDeleteMachinesJob",
        "description": "Patch the delete imported machines job object.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": "Job Arm Name.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Job body with updated properties.",
            "schema": {
              "$ref": "#/definitions/V20200201DeleteImportMachinesJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/V20200201DeleteImportMachinesJob"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_PatchDeleteMachinesJob_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_PatchDeleteMachinesJob_MaximumSet_Gen.json"
          },
          "ImportJobsController_PatchDeleteMachinesJob_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_PatchDeleteMachinesJob_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/exportjobs": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_Exportjobs",
        "description": "Method to get all export import machines job for the given site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/V20200201ExportImportedMachinesJobExportImportedMachinesJobCollection"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_Exportjobs_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Exportjobs_MaximumSet_Gen.json"
          },
          "ImportJobsController_Exportjobs_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Exportjobs_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/ExportJobs/{jobName}": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_Exportjob",
        "description": "Gets the export imported machines job with the given job name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": "Job Arm Name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/V20200201ExportImportedMachinesJob"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_Exportjob_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Exportjob_MaximumSet_Gen.json"
          },
          "ImportJobsController_Exportjob_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Exportjob_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/exportUri": {
      "post": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_ExportUri",
        "description": "Method to generate report containing \r\n            machine and the deep discovery of the application installed in the machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/SasUriResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SasUriResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportSitesController_ExportUri_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_ExportUri_MaximumSet_Gen.json"
          },
          "ImportSitesController_ExportUri_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_ExportUri_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/importjobs": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_Importjobs",
        "description": "Method to get all import machines job for the given site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/V20200201ImportMachinesJobImportMachinesJobCollection"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_Importjobs_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Importjobs_MaximumSet_Gen.json"
          },
          "ImportJobsController_Importjobs_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Importjobs_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/ImportJobs/{jobName}": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_Importjob",
        "description": "Gets the import job with the given job name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": "Job Arm Name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/V20200201ImportMachinesJob"
            }
          }
        },
        "x-ms-examples": {
          "ImportJobsController_Importjob_MaximumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Importjob_MaximumSet_Gen.json"
          },
          "ImportJobsController_Importjob_MinimumSet_Gen": {
            "$ref": "./examples/ImportJobsController_Importjob_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/importUri": {
      "post": {
        "tags": [
          "ImportSitesController"
        ],
        "operationId": "ImportSitesController_ImportUri",
        "description": "Method to refresh a site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "description": "Site name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/SasUriResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SasUriResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportSitesController_ImportUri_MaximumSet_Gen": {
            "$ref": "./examples/ImportSitesController_ImportUri_MaximumSet_Gen.json"
          },
          "ImportSitesController_ImportUri_MinimumSet_Gen": {
            "$ref": "./examples/ImportSitesController_ImportUri_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/importSites/{siteName}/jobs": {
      "get": {
        "tags": [
          "ImportJobsController"
        ],
        "operationId": "ImportJobsController_ListByImportSiteResource",
        "description": "List ImportJobResource resources by ImportSiteResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
[...]
