{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2020-01-01",
    "description": "Azure Migrate Resource Provider management API.",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AssessmentProjectsOperations"
    },
    {
      "name": "AssessmentOptionsOperations"
    },
    {
      "name": "MachinesOperations"
    },
    {
      "name": "GroupsOperations"
    },
    {
      "name": "AssessmentsOperations"
    },
    {
      "name": "AssessedMachinesOperations"
    },
    {
      "name": "HypervCollectorsOperations"
    },
    {
      "name": "VmwareCollectorsOperations"
    },
    {
      "name": "ServerCollectorsOperations"
    },
    {
      "name": "PrivateEndpointConnectionOperations"
    },
    {
      "name": "PrivateLinkResourceOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}": {
      "get": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Get",
        "description": "Get a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Create",
        "description": "Create a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Update",
        "description": "Update a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Delete",
        "description": "Delete a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions": {
      "get": {
        "tags": [
          "AssessmentOptionsOperations"
        ],
        "operationId": "AssessmentOptionsOperations_ListByAssessmentProject",
        "description": "List AssessmentOptions resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentOptionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions/{assessmentOptionsName}": {
      "get": {
        "tags": [
          "AssessmentOptionsOperations"
        ],
        "operationId": "AssessmentOptionsOperations_Get",
        "description": "Get a AssessmentOptions",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "assessmentOptionsName",
            "in": "path",
            "required": true,
            "description": " assessment options ARM name. Accepted valus is 'default'",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups": {
      "get": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_ListByAssessmentProject",
        "description": "List Group resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}": {
      "get": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_Get",
        "description": "Get a Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_Create",
        "description": "Create a Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_Delete",
        "description": "Delete a Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments": {
      "get": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_ListByGroup",
        "description": "List Assessment resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}": {
      "get": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_Get",
        "description": "Get a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_Create",
        "description": "Create a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_Delete",
        "description": "Delete a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines": {
      "get": {
        "tags": [
          "AssessedMachinesOperations"
        ],
        "operationId": "AssessedMachinesOperations_ListByAssessment",
        "description": "List AssessedMachine resources by Assessment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}": {
      "get": {
        "tags": [
          "AssessedMachinesOperations"
        ],
        "operationId": "AssessedMachinesOperations_Get",
        "description": "Get a AssessedMachine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          },
          {
            "name": "assessedMachineName",
            "in": "path",
            "required": true,
            "description": "Machine assessement Assessed Machine ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/getReportDownloadUrl": {
      "post": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_GetReportDownloadUrl",
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-cadl-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/updateMachines": {
      "post": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_UpdateMachines",
        "summary": "Update machines in group.",
        "description": "Update machines in group by adding or removing machines.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/UpdateGroupBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/hypervcollectors": {
      "get": {
        "tags": [
          "HypervCollectorsOperations"
        ],
        "operationId": "HypervCollectorsOperations_ListByAssessmentProject",
        "description": "List HypervCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/hypervcollectors/{hyperCollectorName}": {
      "get": {
        "tags": [
          "HypervCollectorsOperations"
        ],
        "operationId": "HypervCollectorsOperations_Get",
        "description": "Get a HypervCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "hyperCollectorName",
            "in": "path",
            "required": true,
            "description": "Hyper-V collector ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HypervCollectorsOperations"
        ],
        "operationId": "HypervCollectorsOperations_Create",
        "description": "Create a HypervCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "hyperCollectorName",
            "in": "path",
            "required": true,
            "description": "Hyper-V collector ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "HypervCollectorsOperations"
        ],
        "operationId": "HypervCollectorsOperations_Delete",
        "description": "Delete a HypervCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "hyperCollectorName",
            "in": "path",
            "required": true,
            "description": "Hyper-V collector ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines": {
      "get": {
        "tags": [
          "MachinesOperations"
        ],
        "operationId": "MachinesOperations_ListByAssessmentProject",
        "description": "List Machine resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines/{machineName}": {
      "get": {
        "tags": [
          "MachinesOperations"
        ],
        "operationId": "MachinesOperations_Get",
        "description": "Get a Machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "required": true,
            "description": "Assessible Machine ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "operationId": "PrivateEndpointConnectionOperations_ListByAssessmentProject",
        "description": "List PrivateEndpointConnection resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "operationId": "PrivateEndpointConnectionOperations_Get",
        "description": "Get a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "required": true,
            "description": "Private endpoint connection ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "operationId": "PrivateEndpointConnectionOperations_Update",
        "description": "Create a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "required": true,
            "description": "Private endpoint connection ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "operationId": "PrivateEndpointConnectionOperations_Delete",
        "description": "Delete a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "required": true,
            "description": "Private endpoint connection ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResourceOperations"
        ],
        "operationId": "PrivateLinkResourceOperations_ListByAssessmentProject",
        "description": "List PrivateLinkResource resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "tags": [
          "PrivateLinkResourceOperations"
        ],
        "operationId": "PrivateLinkResourceOperations_Get",
        "description": "Get a PrivateLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "privateLinkResourceName",
            "in": "path",
            "required": true,
            "description": "Private link resource ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors": {
      "get": {
        "tags": [
          "ServerCollectorsOperations"
        ],
        "operationId": "ServerCollectorsOperations_ListByAssessmentProject",
        "description": "List ServerCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors/{serverCollectorName}": {
      "get": {
        "tags": [
          "ServerCollectorsOperations"
        ],
        "operationId": "ServerCollectorsOperations_Get",
        "description": "Get a ServerCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "serverCollectorName",
            "in": "path",
            "required": true,
            "description": "Physical server collector ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ServerCollectorsOperations"
        ],
        "operationId": "ServerCollectorsOperations_Create",
        "description": "Create a ServerCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "serverCollectorName",
            "in": "path",
            "required": true,
            "description": "Physical server collector ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ServerCollectorsOperations"
        ],
        "operationId": "ServerCollectorsOperations_Delete",
        "description": "Delete a ServerCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "serverCollectorName",
            "in": "path",
            "required": true,
            "description": "Physical server collector ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors": {
      "get": {
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "operationId": "VmwareCollectorsOperations_ListByAssessmentProject",
        "description": "List VmwareCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmwareCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors/{vmWareCollectorName}": {
      "get": {
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "operationId": "VmwareCollectorsOperations_Get",
        "description": "Get a VmwareCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "vmWareCollectorName",
            "in": "path",
            "required": true,
            "description": "VMware collector ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "operationId": "VmwareCollectorsOperations_Create",
        "description": "Create a VmwareCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "vmWareCollectorName",
            "in": "path",
            "required": true,
            "description": "VMware collector ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "operationId": "VmwareCollectorsOperations_Delete",
        "description": "Delete a VmwareCollector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "vmWareCollectorName",
            "in": "path",
            "required": true,
            "description": "VMware collector ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApiVersions": {
      "type": "string",
      "enum": [
        "2019-10-01",
        "2020-01-01",
        "2020-05-01-preview",
        "2022-02-02-preview"
      ],
      "x-ms-enum": {
        "name": "ApiVersions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2019_10_01",
            "value": "2019-10-01"
          },
          {
            "name": "v2020_01_01",
            "value": "2020-01-01"
          },
          {
            "name": "v2020_05_01_preview",
            "value": "2020-05-01-preview"
          },
          {
            "name": "v2022_02_02_preview",
            "value": "2022-02-02-preview"
          }
        ]
      }
    },
    "AssessedDisk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the assessed disk.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User friendly name of the assessed disk.",
          "readOnly": true
        },
        "gigabytesProvisioned": {
          "type": "number",
          "format": "float",
          "description": "Gigabytes of storage provisioned for this disk.",
          "readOnly": true
        },
        "megabytesPerSecondOfRead": {
          "type": "number",
          "format": "float",
          "description": "Disk throughput in MegaBytes per second.",
          "readOnly": true
        },
        "megabytesPerSecondOfWrite": {
          "type": "number",
          "format": "float",
          "description": "Disk throughput in MegaBytes per second.",
          "readOnly": true
        },
        "numberOfReadOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Number of read operations per second for the disk.",
          "readOnly": true
        },
        "numberOfWriteOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Number of read and write operations per second for the disk.",
          "readOnly": true
        },
        "monthlyStorageCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated aggregate storage cost for a 31-day month for this disk.",
          "readOnly": true
        },
        "recommendedDiskType": {
          "type": "string",
          "description": "Storage type selected for this disk.",
          "enum": [
            "Unknown",
            "Standard",
            "Premium",
            "StandardSSD",
            "StandardOrPremium"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "recommendedDiskSize": {
          "type": "string",
          "description": "Recommended Azure size for the disk, given utilization data and preferences set\non Assessment.",
          "enum": [
            "Unknown",
            "Standard_S4",
            "Standard_S6",
            "Standard_S10",
            "Standard_S15",
            "Standard_S20",
            "Standard_S30",
            "Standard_S40",
            "Standard_S50",
            "Premium_P4",
            "Premium_P6",
            "Premium_P10",
            "Premium_P15",
            "Premium_P20",
            "Premium_P30",
            "Premium_P40",
            "Premium_P50",
            "Standard_S60",
            "Standard_S70",
            "Standard_S80",
            "Premium_P60",
            "Premium_P70",
            "Premium_P80",
            "StandardSSD_E10",
            "StandardSSD_E15",
            "StandardSSD_E20",
            "StandardSSD_E30",
            "StandardSSD_E40",
            "StandardSSD_E50",
            "StandardSSD_E60",
            "StandardSSD_E70",
            "StandardSSD_E80",
            "StandardSSD_E4",
            "StandardSSD_E6"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown"
              },
              {
                "name": "StandardS4",
                "value": "Standard_S4"
              },
              {
                "name": "StandardS6",
                "value": "Standard_S6"
              },
              {
                "name": "StandardS10",
                "value": "Standard_S10"
              },
              {
                "name": "StandardS15",
                "value": "Standard_S15"
              },
              {
                "name": "StandardS20",
                "value": "Standard_S20"
              },
              {
                "name": "StandardS30",
                "value": "Standard_S30"
              },
              {
                "name": "StandardS40",
                "value": "Standard_S40"
              },
              {
                "name": "StandardS50",
                "value": "Standard_S50"
              },
              {
                "name": "PremiumP4",
                "value": "Premium_P4"
              },
              {
                "name": "PremiumP6",
                "value": "Premium_P6"
              },
              {
                "name": "PremiumP10",
                "value": "Premium_P10"
              },
              {
                "name": "PremiumP15",
                "value": "Premium_P15"
              },
              {
                "name": "PremiumP20",
                "value": "Premium_P20"
              },
              {
                "name": "PremiumP30",
                "value": "Premium_P30"
              },
              {
                "name": "PremiumP40",
                "value": "Premium_P40"
              },
              {
                "name": "PremiumP50",
                "value": "Premium_P50"
              },
              {
                "name": "StandardS60",
                "value": "Standard_S60"
              },
              {
                "name": "StandardS70",
                "value": "Standard_S70"
              },
              {
                "name": "StandardS80",
                "value": "Standard_S80"
              },
              {
                "name": "PremiumP60",
                "value": "Premium_P60"
              },
              {
                "name": "PremiumP70",
                "value": "Premium_P70"
              },
              {
                "name": "PremiumP80",
                "value": "Premium_P80"
              },
              {
                "name": "StandardSSDE10",
                "value": "StandardSSD_E10"
              },
              {
                "name": "StandardSSDE15",
                "value": "StandardSSD_E15"
              },
              {
                "name": "StandardSSDE20",
                "value": "StandardSSD_E20"
              },
              {
                "name": "StandardSSDE30",
                "value": "StandardSSD_E30"
              },
              {
                "name": "StandardSSDE40",
                "value": "StandardSSD_E40"
              },
              {
                "name": "StandardSSDE50",
                "value": "StandardSSD_E50"
              },
              {
                "name": "StandardSSDE60",
                "value": "StandardSSD_E60"
              },
              {
                "name": "StandardSSDE70",
                "value": "StandardSSD_E70"
              },
              {
                "name": "StandardSSDE80",
                "value": "StandardSSD_E80"
              },
              {
                "name": "StandardSSDE4",
                "value": "StandardSSD_E4"
              },
              {
                "name": "StandardSSDE6",
                "value": "StandardSSD_E6"
              }
            ]
          },
          "readOnly": true
        },
        "gigabytesForRecommendedDiskSize": {
          "type": "integer",
          "format": "int32",
          "description": "Gigabytes of storage provided by the recommended Azure disk size.",
          "readOnly": true
        },
        "suitability": {
          "type": "string",
          "description": "Whether this disk is suitable for Azure.",
          "enum": [
            "Unknown",
            "NotSuitable",
            "Suitable",
            "ConditionallySuitable",
            "ReadinessUnknown"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "suitabilityExplanation": {
          "type": "string",
          "description": "If disk is not suitable to be migrated, this explains the reasons and\nmitigation steps.",
          "enum": [
            "Unknown",
            "NotApplicable",
            "DiskSizeGreaterThanSupported",
            "NoSuitableDiskSizeForIops",
            "NoSuitableDiskSizeForThroughput",
            "NoDiskSizeFoundInSelectedLocation",
            "NoDiskSizeFoundForSelectedRedundancy",
            "InternalErrorOccurredForDiskEvaluation",
            "NoEaPriceFoundForDiskSize"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "suitabilityDetail": {
          "type": "string",
          "description": "If disk is suitable to be migrate but some conditions/checks were not\nconsidered while calculating suitability, this explains the details.",
          "enum": [
            "None",
            "NumberOfReadOperationsPerSecondMissing",
            "NumberOfWriteOperationsPerSecondMissing",
            "MegabytesPerSecondOfReadMissing",
            "MegabytesPerSecondOfWriteMissing",
            "DiskGigabytesConsumedMissing",
            "DiskGigabytesProvisionedMissing",
            "NumberOfReadOperationsPerSecondOutOfRange",
            "NumberOfWriteOperationsPerSecondOutOfRange",
            "MegabytesPerSecondOfReadOutOfRange",
            "MegabytesPerSecondOfWriteOutOfRange",
            "DiskGigabytesConsumedOutOfRange",
            "DiskGigabytesProvisionedOutOfRange"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        }
      },
      "description": "A disk assessed for an assessment."
    },
    "AssessedMachine": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedMachineProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Machine assessement Assessed Machine resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedMachineListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssessedMachine"
          },
          "x-cadl-name": "AssessedMachine[]",
          "description": "The AssessedMachine items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a AssessedMachine list operation.",
      "required": [
        "value"
      ]
    },
    "AssessedMachineProperties": {
      "type": "object",
      "properties": {
        "bootType": {
          "type": "string",
          "description": "Boot type of the machine.",
          "enum": [
            "Unknown",
            "EFI",
            "BIOS"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown"
              },
              {
                "name": "EFI",
                "value": "EFI"
              },
              {
                "name": "Bios",
                "value": "BIOS"
              }
            ]
          },
          "readOnly": true
        },
        "datacenterMachineArmId": {
          "type": "string",
          "description": "ARM ID of the discovered machine.",
          "readOnly": true
        },
        "datacenterManagementServerArmId": {
          "type": "string",
          "description": "ARM ID of the discovered datacenter.",
          "readOnly": true
        },
        "datacenterManagementServerName": {
          "type": "string",
          "description": "Name of the server hosting the datacenter management solution.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the machine",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User readable name of the machine as defined by the user in their private\ndatacenter.",
          "readOnly": true
        },
        "megabytesOfMemory": {
          "type": "number",
          "format": "float",
          "description": "Memory in Megabytes.",
          "readOnly": true
        },
        "numberOfCores": {
          "type": "integer",
          "format": "int32",
          "description": "Processor count.",
          "readOnly": true
        },
        "operatingSystemType": {
          "type": "string",
          "description": "Operating System type of the machine.",
          "readOnly": true
        },
        "operatingSystemName": {
          "type": "string",
          "description": "Operating System name of the machine.",
          "readOnly": true
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Operating System version of the machine.",
          "readOnly": true
        },
        "monthlyBandwidthCost": {
          "type": "number",
          "format": "float",
          "description": "Monthly network cost estimate for the network adapters that are attached to\nthis machine as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyStorageCost": {
          "type": "number",
          "format": "float",
          "description": "Monthly storage cost estimate for the disks that are attached to this machine\nas a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyPremiumStorageCost": {
          "type": "number",
          "format": "float",
          "description": "Monthly premium storage cost estimate for the disks that are attached to this\nmachine as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyStandardSSDStorageCost": {
          "type": "number",
          "format": "float",
          "description": "Monthly standard SSD storage cost estimate for the disks that are attached to\nthis machine as a group, for a 31-day month.",
          "readOnly": true
        },
        "confidenceRatingInPercentage": {
          "type": "number",
          "format": "float",
          "description": "Confidence rating of assessed machine.",
          "readOnly": true
        },
        "disks": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/AssessedDisk"
          },
          "x-cadl-name": "Record<AssessedDisk>",
          "description": "Dictionary of disks attached to the machine. Key is ID of disk. Value is a disk\nobject.",
          "readOnly": true
        },
        "networkAdapters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/AssessedNetworkAdapter"
          },
          "x-cadl-name": "Record<AssessedNetworkAdapter>",
          "description": "Dictionary of network adapters attached to the machine. Key is name of the\nadapter. Value is a network adapter object.",
          "readOnly": true
        },
        "recommendedSize": {
          "type": "string",
          "description": "Recommended Azure size for this machine.",
          "enum": [
            "Unknown",
            "Basic_A0",
            "Basic_A1",
            "Basic_A2",
            "Basic_A3",
            "Basic_A4",
            "Standard_A0",
            "Standard_A1",
            "Standard_A2",
            "Standard_A3",
            "Standard_A4",
            "Standard_A5",
            "Standard_A6",
            "Standard_A7",
            "Standard_A8",
            "Standard_A9",
            "Standard_A10",
            "Standard_A11",
            "Standard_A1_v2",
            "Standard_A2_v2",
            "Standard_A4_v2",
            "Standard_A8_v2",
            "Standard_A2m_v2",
            "Standard_A4m_v2",
            "Standard_A8m_v2",
            "Standard_D1",
            "Standard_D2",
            "Standard_D3",
            "Standard_D4",
            "Standard_D11",
            "Standard_D12",
            "Standard_D13",
            "Standard_D14",
            "Standard_D1_v2",
            "Standard_D2_v2",
            "Standard_D3_v2",
            "Standard_D4_v2",
            "Standard_D5_v2",
            "Standard_D11_v2",
            "Standard_D12_v2",
            "Standard_D13_v2",
            "Standard_D14_v2",
            "Standard_D15_v2",
            "Standard_DS1",
            "Standard_DS2",
            "Standard_DS3",
            "Standard_DS4",
            "Standard_DS11",
            "Standard_DS12",
            "Standard_DS13",
            "Standard_DS14",
            "Standard_DS1_v2",
            "Standard_DS2_v2",
            "Standard_DS3_v2",
            "Standard_DS4_v2",
            "Standard_DS5_v2",
            "Standard_DS11_v2",
            "Standard_DS12_v2",
            "Standard_DS13_v2",
            "Standard_DS14_v2",
            "Standard_DS15_v2",
            "Standard_F1",
            "Standard_F2",
            "Standard_F4",
            "Standard_F8",
            "Standard_F16",
            "Standard_F1s",
            "Standard_F2s",
            "Standard_F4s",
            "Standard_F8s",
            "Standard_F16s",
            "Standard_G1",
            "Standard_G2",
            "Standard_G3",
            "Standard_G4",
            "Standard_G5",
            "Standard_GS1",
            "Standard_GS2",
            "Standard_GS3",
            "Standard_GS4",
            "Standard_GS5",
            "Standard_H8",
            "Standard_H16",
            "Standard_H8m",
            "Standard_H16m",
            "Standard_H16r",
            "Standard_H16mr",
            "Standard_L4s",
            "Standard_L8s",
            "Standard_L16s",
            "Standard_L32s",
            "Standard_D2s_v3",
            "Standard_D4s_v3",
            "Standard_D8s_v3",
            "Standard_D16s_v3",
            "Standard_D32s_v3",
            "Standard_D64s_v3",
            "Standard_D2_v3",
            "Standard_D4_v3",
            "Standard_D8_v3",
            "Standard_D16_v3",
            "Standard_D32_v3",
            "Standard_D64_v3",
            "Standard_F2s_v2",
            "Standard_F4s_v2",
            "Standard_F8s_v2",
            "Standard_F16s_v2",
            "Standard_F32s_v2",
            "Standard_F64s_v2",
            "Standard_F72s_v2",
            "Standard_E2_v3",
            "Standard_E4_v3",
            "Standard_E8_v3",
            "Standard_E16_v3",
            "Standard_E32_v3",
            "Standard_E64_v3",
            "Standard_E2s_v3",
            "Standard_E4s_v3",
            "Standard_E8s_v3",
            "Standard_E16s_v3",
            "Standard_E32s_v3",
            "Standard_E64s_v3",
            "Standard_M64s",
            "Standard_M64ms",
            "Standard_M128s",
            "Standard_M128ms"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown"
              },
              {
                "name": "BasicA0",
                "value": "Basic_A0"
              },
              {
                "name": "BasicA1",
                "value": "Basic_A1"
              },
              {
                "name": "BasicA2",
                "value": "Basic_A2"
              },
              {
                "name": "BasicA3",
                "value": "Basic_A3"
              },
              {
                "name": "BasicA4",
                "value": "Basic_A4"
              },
              {
                "name": "StandardA0",
                "value": "Standard_A0"
              },
              {
                "name": "StandardA1",
                "value": "Standard_A1"
              },
              {
                "name": "StandardA2",
                "value": "Standard_A2"
              },
              {
                "name": "StandardA3",
                "value": "Standard_A3"
              },
              {
                "name": "StandardA4",
                "value": "Standard_A4"
              },
              {
                "name": "StandardA5",
                "value": "Standard_A5"
              },
              {
                "name": "StandardA6",
                "value": "Standard_A6"
              },
[...]
