{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-15",
    "title": "Azure Quota Extension API",
    "description": "Microsoft Azure Quota Resource Provider"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth 2.0 authorization"
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Quota/quotaLimits/{resourceName}": {
      "get": {
        "tags": [
          "QuotaInformation"
        ],
        "description": "Gets the quota limit and current quota usage of a resource. The response can be used to determine the remaining quota and calculate a new quota limit that can be submitted with a PUT request.",
        "operationId": "Quota_Get",
        "x-ms-examples": {
          "Quotas_Request_ForCompute": {
            "$ref": "./examples/getComputeOneSkuUsages.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ScopeInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The quota information will be returned in the response with pagination.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            },
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "QuotaInformation"
        ],
        "description": "Create or update the quota limit for the specified resource to the requested value. To update the quota, follow these steps:\n1. Use the GET operation to determine how much quota remains for the specific resource and to calculate the new quota limit. These steps are detailed in [this example](https://techcommunity.microsoft.com/t5/azure-governance-and-management/using-the-new-quota-rest-api/ba-p/2183670).\n2. Use this PUT operation to update the quota limit.",
        "operationId": "Quota_CreateOrUpdate",
        "x-ms-examples": {
          "Quotas_Request_ForCompute": {
            "$ref": "./examples/putComputeOneSkuQuotaRequest.json"
          },
          "Quotas_Request_ForMachineLearningServices_DedicatedResource": {
            "$ref": "./examples/putMachineLearningServicesQuotaRequestDedicated.json"
          },
          "Quotas_Request_ForMachineLearningServices_LowPriorityResource": {
            "$ref": "./examples/putMachineLearningServicesQuotaRequestLowPriority.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ScopeInPath"
          },
          {
            "name": "createQuotaRequest",
            "in": "body",
            "description": "Quota requests payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the quota request details.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          },
          "202": {
            "description": "The request is accepted and is being processed. To check the status for this request, use the value for the quota request ID **id** obtained in the response of a [Quota Request Status](https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotarequeststatus/get) GET operation.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "QuotaInformation"
        ],
        "description": "Update the quota limit for a specific resource to the specified value:\n1. Use the GET operation to determine how much quota remains for the specific resource and to calculate the new quota limit. These steps are detailed in [this example](https://techcommunity.microsoft.com/t5/azure-governance-and-management/using-the-new-quota-rest-api/ba-p/2183670).\n2. Use this PUT operation to update the quota limit.",
        "operationId": "Quota_Update",
        "x-ms-examples": {
          "Quotas_Request_PatchForCompute": {
            "$ref": "./examples/patchComputeQuotaRequest.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ScopeInPath"
          },
          {
            "name": "createQuotaRequest",
            "in": "body",
            "description": "Quota requests payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the quota request details.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          },
          "202": {
            "description": "The request is accepted and is being processed. To check the status for this request, use the value for the quota request ID **id** in a [Quota Request Status](https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotarequeststatus/get) GET operation.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Quota/quotaLimits": {
      "get": {
        "tags": [
          "QuotaInformation"
        ],
        "description": "Get a list of current quota limits and usages of all resources. The response from this GET operation can be leveraged to submit requests to update a quota.",
        "operationId": "Quota_List",
        "x-ms-examples": {
          "Quotas_listUsagesForCompute": {
            "$ref": "./examples/getComputeUsages.json"
          },
          "Quotas_listUsagesMachineLearningServices": {
            "$ref": "./examples/getMachineLearningServicesUsages.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ScopeInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota information will be returned in the response with pagination.",
            "schema": {
              "$ref": "#/definitions/QuotaLimits"
            },
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Quota/quotaLimitsRequests/{id}": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "x-ms-examples": {
          "QuotaRequestStatus": {
            "$ref": "./examples/getQuotaRequestStatusById.json"
          },
          "QuotaRequestInProgress": {
            "$ref": "./examples/getQuotaRequestStatusInProgress.json"
          },
          "QuotaRequestFailed": {
            "$ref": "./examples/getQuotaRequestStatusFailed.json"
          }
        },
        "description": "Gets the quota request details and status by quota request ID for the resources of the resource provider at a specific location. The quota request ID **id** is returned in the response of the PUT operation.",
        "operationId": "QuotaRequestStatus_Get",
        "parameters": [
          {
            "$ref": "#/parameters/RequestIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ScopeInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returning the status for the quota request.",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Quota/quotaLimitsRequests": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "x-ms-examples": {
          "QuotaRequestHistory": {
            "$ref": "./examples/getQuotaRequestsHistory.json"
          }
        },
        "description": "For the specified location and resource provider, gets the current quota requests under the subscription for a one year period ending at the time is made. Use the **oData** filter can be used to select quota requests.",
        "operationId": "QuotaRequestStatus_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ScopeInPath"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "| Field                    | Supported operators  \n|---------------------|------------------------\n\r\n|requestSubmitTime | ge, le, eq, gt, lt\n |provisioningState eq {QuotaRequestState}\n |resourceName eq {resourceName}\n"
          },
          {
            "$ref": "#/parameters/TopQueryParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Sending quota request status and details.",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Quota/quotaLimitProviders": {
      "get": {
        "tags": [
          "QuotaMetadata"
        ],
        "description": "Gets the list of current resource providers supported by the Microsoft.Quota resource provider.\r\nFor each resource provider, the resource templates the resource provider supports are be provided. \r\nFor each resource template, the resource dimensions are listed. The resource dimensions are the name-value pairs in the resource URI.\r\nExample: Microsoft.Compute Resource Provider\r\nThe URI template is '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'. The actual dimensions vary depending on the resource provider.\r\nThe resource dimensions are {subscriptions},{locations},{quotaBucket}.",
        "operationId": "QuotaResourceProviders_List",
        "x-ms-examples": {
          "Quotas_listMetadataForRPs": {
            "$ref": "./examples/metadata/getQuotaRPMetadata.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota limits type information.",
            "schema": {
              "$ref": "#/definitions/resourceProvidersList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Quota/operations": {
      "get": {
        "summary": "GET operations.",
        "description": "List all GET operations.",
        "operationId": "Operation_List",
        "x-ms-examples": {
          "GetOperations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Operation"
        ],
        "responses": {
          "200": {
            "description": "List all GET operations.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResponse"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next page of items."
        }
      }
    },
    "OperationResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay"
        },
        "origin": {
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Provider name."
        },
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "operation": {
          "type": "string",
          "description": "Operation name."
        },
        "description": {
          "type": "string",
          "description": "Operation description."
        }
      }
    },
    "CommonResourceProperties": {
      "type": "object",
      "description": "Resource properties.",
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type. \"Microsoft.Quota/quotaLimits\""
        }
      }
    },
    "CurrentQuotaLimitBase": {
      "type": "object",
      "description": "Quota limit.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The resource Id.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The resource type.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The resource name.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Quota properties for the specified resource.",
          "$ref": "#/definitions/QuotaProperties"
        }
      }
    },
    "QuotaProperties": {
      "description": "Quota properties for the specified resource.",
      "type": "object",
      "properties": {
        "limit": {
          "description": "Quota limit.",
          "type": "integer",
          "format": "int32",
          "readOnly": false
        },
        "currentValue": {
          "description": "Usage information for the current resource.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "unit": {
          "description": " The quota limit units, such as Count and Bytes. When requesting quota, use the **unit** value returned in the GET response in the request body of your PUT operation.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name provided by the resource provider. Use this property name when requesting quota.",
          "$ref": "#/definitions/ResourceName"
        },
        "resourceType": {
          "description": "Resource type name.",
          "$ref": "#/definitions/ResourceTypesName"
        },
        "quotaPeriod": {
          "description": "The time period over which the quota usage values are summarized. For example:\r\n*P1D (per one day)\n*PT1M (per one minute)\n*PT1S (per one second).\r\nThis parameter is optional because, for some resources like compute, the period is irrelevant.",
          "type": "string",
          "readOnly": true
        },
        "isQuotaApplicable": {
          "description": "States if quota can be requested for this resource.",
          "type": "boolean",
          "readOnly": true
        },
        "properties": {
          "description": "Additional properties for the specific resource provider.",
          "type": "object"
        }
      }
    },
    "ResourceName": {
      "type": "object",
      "description": "Name of the resource provided by the resource Provider. When requesting quota, use this property name.",
      "properties": {
        "value": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": false
        },
        "localizedValue": {
          "description": "Resource display name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QuotaLimits": {
      "type": "object",
      "description": "Quota limits.",
      "properties": {
        "value": {
          "description": "List of quota limits.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimitBase"
          }
        },
        "nextLink": {
          "description": "The URI used to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "QuotaLimitsResponse": {
      "type": "object",
      "description": "Quota limits request response.",
      "properties": {
        "value": {
          "description": "List of quota limits with the quota request status.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimitBase"
          }
        },
        "nextLink": {
          "description": "The URI used to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "CreateGenericQuotaRequestParameters": {
      "type": "object",
      "description": "Quota change requests information.",
      "properties": {
        "value": {
          "description": "Quota change requests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimitBase"
          }
        }
      }
    },
    "SubRequest": {
      "type": "object",
      "description": "Request property.",
      "properties": {
        "limit": {
          "description": "Resource quota limit.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "$ref": "#/definitions/ResourceName"
        },
        "resourceType": {
          "description": "Resource type for which the quota check was made.",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": " Quota limit units, such as Count and Bytes. When requesting quota, use the **unit** value returned in the GET response in the request body of your PUT operation.",
          "type": "string"
        },
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User-friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "subRequestId": {
          "description": "Quota request ID.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QuotaRequestOneResourceSubmitResponse": {
      "description": "Quota request response.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "Quota request ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the quota request.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type. \"Microsoft.Quota/ServiceLimitRequests\""
        },
        "properties": {
          "description": "Quota request details.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/quotaRequestOneResourceProperties"
        }
      }
    },
    "QuotaRequestSubmitResponse": {
      "description": "Quota request response.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "Quota request ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Quota request name.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "The quota request details.",
          "type": "object",
          "$ref": "#/definitions/QuotaRequestProperties"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type. \"Microsoft.Quota/quotaLimits\""
        }
      }
    },
    "QuotaRequestSubmitResponse202": {
      "description": "The quota request response with the quota request ID.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The quota request ID. To check the request status, use the **id** value in a [Quota Request Status](https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotarequeststatus/get) GET operation.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Operation ID.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Quota request status.",
          "$ref": "#/definitions/QuotaRequestStatusDetails",
          "x-ms-client-flatten": true
        }
      }
    },
    "QuotaRequestStatusDetails": {
      "description": "Quota request status details.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Quota request status.",
          "$ref": "#/definitions/QuotaRequestState",
          "readOnly": true
        },
        "message": {
          "description": "User-friendly message.",
          "type": "string",
          "readOnly": true
        },
        "limit": {
          "description": "Quota limit.",
          "type": "integer",
          "format": "int32",
          "readOnly": false
        },
        "currentValue": {
          "description": "Usage information for the current resource.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "unit": {
          "description": " The quota limit units, such as Count and Bytes. When requesting quota, use the **unit** value returned in the GET response in the request body of your PUT operation.",
          "type": "string",
          "readOnly": false
        },
        "name": {
          "description": "Resource name provided by the resource provider. Use this property name when requesting quota.",
          "$ref": "#/definitions/ResourceName"
        },
        "resourceType": {
          "description": "Resource type name.",
          "$ref": "#/definitions/ResourceTypesName"
        },
        "quotaPeriod": {
          "description": "The time period over which the quota usage values are summarized. For example:\r\n*P1D (per one day)\n*PT1M (per one minute)\n*PT1S (per one second).\r\nThis parameter is optional because, for some resources like compute, the period is irrelevant.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Additional properties for the specific resource provider.",
          "type": "object"
        }
      }
    },
    "QuotaRequestDetails": {
      "type": "object",
      "description": "List of quota requests with details.",
      "properties": {
        "id": {
          "description": "Quota request ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Quota request name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type. \"Microsoft.Quota/quotaLimits\""
        },
        "properties": {
          "description": "Quota request details.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaRequestProperties"
        }
      }
    },
    "QuotaRequestDetailsList": {
      "description": "Quota request information.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Quota request details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaRequestDetails"
          }
        },
        "nextLink": {
          "description": "The URI for fetching the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "QuotaRequestProperties": {
      "type": "object",
      "description": "Quota request properties.",
      "properties": {
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User-friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "requestSubmitTime": {
          "description": "The quota request submission time. The date conforms to the following format specified by the ISO 8601 standard: yyyy-MM-ddTHH:mm:ssZ",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "value": {
          "description": "Quota request details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRequest"
          }
        }
      }
    },
    "quotaRequestOneResourceProperties": {
      "type": "object",
      "description": "Quota request.",
      "properties": {
        "provisioningState": {
          "description": "Quota request status.",
          "readOnly": true,
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User-friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "requestSubmitTime": {
          "description": "Quota request submission time. The date conforms to the following ISO 8601 standard format: yyyy-MM-ddTHH:mm:ssZ.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "limit": {
          "description": "Quota limit.",
          "type": "integer",
          "format": "int32",
          "readOnly": false
        },
        "currentValue": {
          "description": "Usage information for the current resource.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "unit": {
          "description": " The quota limit units, such as Count and Bytes. When requesting quota, use the **unit** value returned in the GET response in the request body of your PUT operation.",
          "type": "string",
          "readOnly": false
        },
        "name": {
          "description": "Resource name provided by the resource provider. Use this property name when requesting quota.",
          "$ref": "#/definitions/ResourceName"
        },
        "resourceType": {
          "description": "Resource type name.",
          "$ref": "#/definitions/ResourceTypesName"
        },
        "quotaPeriod": {
          "description": "The time period over which the quota usage values are summarized. For example:\r\n*P1D (per one day)\n*PT1M (per one minute)\n*PT1S (per one second).\r\nThis parameter is optional because, for some resources like compute, the period is irrelevant.",
          "type": "string",
          "readOnly": true
        },
        "isQuotaApplicable": {
          "description": "States if quota can be requested for this resource.",
          "type": "boolean",
          "readOnly": true
        },
        "properties": {
          "description": "Additional properties for the specific resource provider.",
          "type": "object"
        }
      }
    },
    "QuotaRequestState": {
      "description": "Quota request status.",
      "enum": [
        "Accepted",
        "Invalid",
        "Succeeded",
        "Failed",
        "InProgress"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "name": "QuotaRequestState",
        "modelAsString": true
      }
    },
    "ResourceTypesName": {
      "description": "Resource types. For extensibility, it is a string.",
      "enum": [
        "standard",
        "dedicated",
        "lowPriority",
        "shared",
        "serviceSpecific"
      ],
      "readOnly": false,
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": true
      }
    },
    "ExceptionResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ServiceError",
          "description": "API error details."
        }
      },
      "description": "Error."
    },
    "quotaBucketProperties": {
      "type": "object",
      "description": "quotaBucket provider properties.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name."
        },
        "displayName": {
          "description": "Display name.",
          "type": "string"
        }
      }
    },
    "ResourceProviderDimension": {
      "type": "object",
      "description": "Resource provider resource dimension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource dimension name."
        },
        "displayName": {
          "description": "Display name.",
          "type": "string"
        }
      }
    },
    "ResourceProviderTemplate": {
      "type": "object",
      "description": "Resource template details for the resource provider.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource type."
        },
        "resourceQuery": {
          "description": "Resource query for dimension values.",
          "$ref": "#/definitions/resourceQueryDetails"
        },
        "resourceUsagesQuery": {
          "description": "Resource usages query.",
          "$ref": "#/definitions/resourceQueryDetails"
        },
        "dimensions": {
          "description": "Resource provider dimensions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderDimension"
          }
        }
      }
    },
    "ResourceProviderTemplates": {
      "type": "object",
      "description": "List of resource provider templates",
      "properties": {
        "value": {
          "description": "The resource provider templates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderTemplate"
          }
        }
      }
    },
    "ResourceProviderInformation": {
      "type": "object",
      "description": "Resource provider information.",
      "properties": {
        "resourceProviderName": {
          "type": "string",
          "description": "Resource provider name."
        },
        "properties": {
          "description": "Resource provider quota dimensions.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ResourceProviderTemplates"
        }
      }
    },
    "resourceProvidersList": {
      "type": "object",
      "description": "Resource providers list.",
      "properties": {
        "value": {
          "description": "Resource provider information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderInformation"
          }
        }
      }
    },
    "QuotaTypeInformationDimensionList": {
      "description": "Quota types information list.",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource type"
        },
        "value": {
          "description": "Quota type information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaTypeDimensionInformation"
          }
        }
      }
    },
    "QuotaTypeDimensionInformation": {
      "type": "object",
      "description": "Quota type information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name."
        },
        "displayName": {
          "type": "string",
          "description": "Display name."
        },
        "id": {
          "type": "string",
          "description": "Dimension ID."
        }
      }
    },
    "QuotaTemplateDetails": {
      "type": "object",
      "description": "Quota template details.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource type."
        },
        "properties": {
          "description": "Quota type properties for the resource ID.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaTypeInformationDimensionList"
        }
      }
    },
    "resourceQueryDetails": {
      "type": "object",
      "description": "Resource query details.",
      "properties": {
        "resourceQueryType": {
          "description": "Resource query type.",
          "$ref": "#/definitions/ResourceQueryType"
        },
        "resourceQueryMethod": {
          "description": "Resource query method.",
          "$ref": "#/definitions/ResourceQueryMethod"
        },
        "resourceQueryUri": {
          "type": "string",
          "description": "Base URI for for resource query."
        },
        "resourceQueryPostTemplate": {
          "description": "Template to create the resource query.",
          "type": "string"
        }
      }
    },
    "ResourceQueryType": {
      "description": "Resource query types. For extensibility, it is a string.",
      "enum": [
        "ARG",
        "RestAPI"
      ],
      "readOnly": false,
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceQueryType",
        "modelAsString": true
      }
    },
    "ResourceQueryMethod": {
      "description": "The resource query method.",
      "enum": [
        "GET",
        "POST"
      ],
      "readOnly": false,
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceQueryMethod",
        "modelAsString": true
      }
    },
    "QuotaTemplatesDetails": {
      "type": "object",
      "description": "Quota templates details.",
      "properties": {
        "value": {
          "description": "Quota templates information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaTemplateDetails"
          }
        }
      }
    },
    "ServiceError": {
      "description": "API error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceErrorDetail"
          },
          "description": "List of error details.",
          "readOnly": true
        }
      }
    },
    "ServiceErrorDetail": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Error message."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdInParameters": {
      "name": "subscriptionId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation.",
      "minLength": 1
    },
    "ResourceNameInParameters": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource name for a given resource provider. For example:\r\n- SKU name for Microsoft.Compute\r\n- Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices",
      "x-ms-parameter-location": "method"
    },
    "ResourceDimensionTypeInParameter": {
      "name": "resourceDimension",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource dimension type for a resource provider. For example:\r\n- locations and SKUs for Microsoft.Compute\r\n- resource groups, batch accounts, and SKUs for Microsoft.Batch",
      "x-ms-parameter-location": "method"
    },
    "RequestIdInParameters": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Quota request ID.",
      "x-ms-parameter-location": "method"
    },
    "TopQueryParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to return.",
      "minimum": 1,
      "x-ms-parameter-location": "method"
    },
    "SkipTokenParameter": {
      "name": "$skiptoken",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "The **Skiptoken** parameter is used only if a previous operation returned a partial result. If a previous response contains a **nextLink** element, the value of the **nextLink** element includes a **skiptoken** parameter that specifies a starting point to use for subsequent calls.",
      "x-ms-parameter-location": "method"
    },
    "ScopeInPath": {
      "name": "scope",
      "description": "The target Azure resource URI. For example, `/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`. This is the target Azure resource URI for the List GET operation. If a `{resourceName}` is added after `/quotaLimits`, then it's the target Azure resource URI in the GET operation for the specific resource.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
