{
  "swagger": "2.0",
  "info": {
    "version": "2019-03-01-preview",
    "title": "CostManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_ListByBillingAccount",
        "description": "Lists the dimensions by billingAccount Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "BillingAccountDimensionsList": {
            "$ref": "./examples/BillingAccountDimensionsList.json"
          },
          "BillingAccountDimensionsListExpandAndTop": {
            "$ref": "./examples/BillingAccountDimensionsListExpandAndTop.json"
          },
          "BillingAccountDimensionsListWithFilter": {
            "$ref": "./examples/BillingAccountDimensionsListWithFilter.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_ListByEnrollmentAccount",
        "description": "Lists the dimensions by Enrollment Account Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "EnrollmentAccountDimensionsList": {
            "$ref": "./examples/EnrollmentAccountDimensionsList.json"
          },
          "EnrollmentAccountDimensionsListExpandAndTop": {
            "$ref": "./examples/EnrollmentAccountDimensionsListExpandAndTop.json"
          },
          "EnrollmentAccountDimensionsListWithFilter": {
            "$ref": "./examples/EnrollmentAccountDimensionsListWithFilter.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountIdParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_ListByDepartment",
        "description": "Lists the dimensions by Department Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DepartmentDimensionsList": {
            "$ref": "./examples/DepartmentDimensionsList.json"
          },
          "DepartmentDimensionsListExpandAndTop": {
            "$ref": "./examples/DepartmentDimensionsListExpandAndTop.json"
          },
          "DepartmentDimensionsListWithFilter": {
            "$ref": "./examples/DepartmentDimensionsListWithFilter.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_ListByManagementGroup",
        "description": "Lists the dimensions by managementGroup Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ManagementGroupDimensionsList": {
            "$ref": "./examples/ManagementGroupDimensionsList.json"
          },
          "ManagementGroupDimensionsListExpandAndTop": {
            "$ref": "./examples/ManagementGroupDimensionsListExpandAndTop.json"
          },
          "ManagementGroupDimensionsListWithFilter": {
            "$ref": "./examples/ManagementGroupDimensionsListWithFilter.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_ListBySubscription",
        "description": "Lists the dimensions by subscription Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "SubscriptionDimensionsList": {
            "$ref": "./examples/SubscriptionDimensionsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_UsageBySubscription",
        "description": "Query the usage data for subscriptionId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "SubscriptionQuery": {
            "$ref": "./examples/SubscriptionQuery.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageBySubscription",
        "description": "Forecast the usage data for subscriptionId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "SubscriptionForecast": {
            "$ref": "./examples/SubscriptionForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "tags": [
          "Dimensions"
        ],
        "x-ms-odata": "#/definitions/Dimension",
        "operationId": "Dimensions_ListByResourceGroup",
        "description": "Lists the dimensions by resource group Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ResourceGroupDimensionsList": {
            "$ref": "./examples/ResourceGroupDimensionsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_UsageByResourceGroup",
        "description": "Query the usage data for subscriptionId and resource group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ResourceGroupQuery": {
            "$ref": "./examples/ResourceGroupQuery.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageByResourceGroup",
        "description": "Forecast the usage data for subscriptionId and resource group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ResourceGroupForecast": {
            "$ref": "./examples/ResourceGroupForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_UsageByBillingAccount",
        "description": "Query the usage data for billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "BillingAccountQuery": {
            "$ref": "./examples/BillingAccountQuery.json"
          },
          "BillingAccountQueryGroupingUsage": {
            "$ref": "./examples/BillingAccountQueryGrouping.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageByBillingAccount",
        "description": "Forecast the usage data for billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "BillingAccountForecast": {
            "$ref": "./examples/BillingAccountForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_UsageByEnrollmentAccount",
        "description": "Query the usage data for an enrollment account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "EnrollmentAccountQuery": {
            "$ref": "./examples/EnrollmentAccountQuery.json"
          },
          "EnrollmentAccountQueryGroupingUsage": {
            "$ref": "./examples/EnrollmentAccountQueryGrouping.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageByEnrollmentAccount",
        "description": "Forecast the usage data for an enrollment account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "EnrollmentAccountForecast": {
            "$ref": "./examples/EnrollmentAccountForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_UsageByDepartment",
        "description": "Query the usage data for department.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DepartmentQuery": {
            "$ref": "./examples/DepartmentQuery.json"
          },
          "DepartmentQueryGroupingUsage": {
            "$ref": "./examples/DepartmentQueryGrouping.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageByDepartment",
        "description": "Forecast the usage data for department.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DepartmentForecast": {
            "$ref": "./examples/DepartmentForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "tags": [
          "Query"
        ],
        "operationId": "Query_UsageByManagementGroup",
        "description": "Lists the usage data for management group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ManagementGroupQuery": {
            "$ref": "./examples/ManagementGroupQuery.json"
          },
          "ManagementGroupQueryGroupingUsage": {
            "$ref": "./examples/ManagementGroupQueryGrouping.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageByManagementGroup",
        "description": "Lists the usage data for management group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ManagementGroupForecast": {
            "$ref": "./examples/ManagementGroupForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/Forecast": {
      "post": {
        "tags": [
          "Forecast"
        ],
        "operationId": "Forecast_UsageByExternalBillingAccount",
        "description": "Forecast the usage data for external billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalBillingAccountForecast": {
            "$ref": "./examples/ExternalBillingAccountForecast.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/externalBillingAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportConfigDefinition"
            },
            "description": "Parameters supplied to the CreateOrUpdate Report Config operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/cloudConnectors": {
      "get": {
        "tags": [
          "CloudConnectors"
        ],
        "operationId": "CloudConnector_List",
        "description": "List all cloud connector definitions",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CloudConnector_List": {
            "$ref": "./examples/CloudConnectorList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConnectorDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/cloudConnectors/{connectorName}": {
      "get": {
        "tags": [
          "CloudConnectors"
        ],
        "operationId": "CloudConnector_Get",
        "description": "Get a cloud connector definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CloudConnector_Get": {
            "$ref": "./examples/CloudConnectorGet.json"
          },
          "CloudConnector_Get_Expand": {
            "$ref": "./examples/CloudConnectorGetExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/connectorNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the collectionInfo property. By default, collectionInfo is not included.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CloudConnectors"
        ],
        "operationId": "CloudConnector_CreateOrUpdate",
        "description": "Create or update a cloud connector definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CloudConnector_Put": {
            "$ref": "./examples/CloudConnectorPut.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/connectorNameParameter"
          },
          {
            "name": "connector",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            },
            "description": "Connector details"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CloudConnectors"
        ],
        "operationId": "CloudConnector_Delete",
        "description": "Delete a cloud connector definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CloudConnector_Delete": {
            "$ref": "./examples/CloudConnectorDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/connectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CloudConnectors"
        ],
        "operationId": "CloudConnector_Update",
        "description": "Update a cloud connector definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CloudConnector_Update": {
            "$ref": "./examples/CloudConnectorPatch.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/connectorNameParameter"
          },
          {
            "name": "connector",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            },
            "description": "Connector details"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/checkConnectorEligibility": {
      "post": {
        "tags": [
          "CheckConnectorEligibility"
        ],
        "operationId": "Connector_CheckEligibility",
        "description": "Check if a connector already exists and return it's definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CheckEligibility_Post": {
            "$ref": "./examples/CheckEligibilityPost.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "connectorCredentials",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckEligibilityDefinition"
            },
            "description": "Connector credentials"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConnectorDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/externalBillingAccounts": {
      "get": {
        "tags": [
          "ExternalBillingAccounts"
        ],
        "operationId": "ExternalBillingAccount_List",
        "description": "List all ExternalBillingAccount definitions",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalBillingAccount_List": {
            "$ref": "./examples/ExternalBillingAccountList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalBillingAccountDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}": {
      "get": {
        "tags": [
          "ExternalBillingAccounts"
        ],
        "operationId": "ExternalBillingAccount_Get",
        "description": "Get a ExternalBillingAccount definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalBillingAccount_Get": {
            "$ref": "./examples/ExternalBillingAccountGet.json"
          },
          "ExternalBillingAccount_Get_Expand": {
            "$ref": "./examples/ExternalBillingAccountGetExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/externalBillingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the collectionInfo property. By default, collectionInfo is not included.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalBillingAccountDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/externalSubscriptions": {
      "get": {
        "tags": [
          "ExternalSubscriptions"
        ],
        "operationId": "ExternalSubscription_ListByExternalBillingAccount",
        "description": "List all ExternalSubscriptions by ExternalBillingAccount definitions",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalBillingAccountExternalSubscription_List": {
            "$ref": "./examples/ExternalBillingAccountExternalSubscriptionList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/externalBillingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalSubscriptionDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/externalSubscriptions": {
      "get": {
        "tags": [
          "ExternalSubscriptions"
        ],
        "operationId": "ExternalSubscription_List",
        "description": "List all ExternalSubscription definitions",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalSubscription_List": {
            "$ref": "./examples/ExternalSubscriptionList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalSubscriptionDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}": {
      "get": {
        "tags": [
          "ExternalSubscriptions"
        ],
        "operationId": "ExternalSubscription_Get",
        "description": "Get an ExternalSubscription definition",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalSubscription_Get": {
            "$ref": "./examples/ExternalSubscriptionGet.json"
          },
          "ExternalSubscription_Get_Expand": {
            "$ref": "./examples/ExternalSubscriptionGetExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/externalSubscriptionNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the collectionInfo property. By default, collectionInfo is not included.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalSubscriptionDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/externalSubscriptions": {
      "get": {
        "tags": [
          "ExternalSubscriptions"
        ],
        "operationId": "ExternalSubscription_ListByManagementGroup",
        "description": "List all ExternalSubscription definitions for Management Group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExternalSubscription_List": {
            "$ref": "./examples/ManagementGroupExternalSubscriptionList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "name": "$recurse",
            "description": "The $recurse=true query string parameter allows returning externalSubscriptions associated with the specified managementGroup, or any of its descendants.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalSubscriptionDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}": {
      "put": {
        "tags": [
          "ExternalSubscriptions"
        ],
        "operationId": "ExternalSubscription_UpdateManagementGroup",
        "description": "Updates the management group of an ExternalSubscription",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ManagementGroupExternalSubscription_Put": {
            "$ref": "./examples/ManagementGroupExternalSubscriptionUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/externalSubscriptionNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules": {
      "get": {
        "tags": [
          "ShowbackRules"
        ],
        "operationId": "ShowbackRules_List",
        "description": "Get list all Showback Rules.",
        "x-ms-examples": {
          "ShowbackRules_List": {
            "$ref": "./examples/ShowbackRulesList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ShowbackRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules/{ruleName}": {
      "get": {
        "tags": [
          "ShowbackRules"
        ],
        "operationId": "ShowbackRule_GetBillingAccountId",
        "description": "Gets the showback rule by rule name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ShowbackRules": {
            "$ref": "./examples/ShowbackRuleGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ruleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ShowbackRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ShowbackRules"
        ],
        "operationId": "ShowbackRule_CreateUpdateRule",
        "description": "Create/Update showback rule for billing account.",
        "x-ms-examples": {
          "ShowbackRules": {
            "$ref": "./examples/ShowbackRulePut.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ruleNameParameter"
          },
          {
            "name": "showbackRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShowbackRule"
            },
            "description": "Showback rule to create or update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ShowbackRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available consumption REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ErrorBase": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine readable error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "A human readable error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Indicates which property in the request is responsible for the error.",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "A machine readable error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Indicates which property in the request is responsible for the error.",
          "type": "string"
        },
        "details": {
          "description": "error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorBase"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "ReportConfigDefinition": {
      "description": "The definition of a report config.",
      "properties": {
        "type": {
          "description": "The type of the report. Usage represents actual usage, forecast represents forecasted data and UsageAndForecast represents both usage and forecasted data. Actual usage and forecasted data can be differentiated based on dates.",
          "type": "string",
          "enum": [
            "Usage"
          ],
          "x-ms-enum": {
            "name": "ReportType",
            "modelAsString": true
          }
        },
        "timeframe": {
          "description": "The time frame for pulling data for the report. If custom, then a specific time period must be provided.",
          "type": "string",
          "enum": [
            "WeekToDate",
            "MonthToDate",
            "YearToDate",
            "Custom"
          ],
          "x-ms-enum": {
            "name": "TimeframeType",
            "modelAsString": true
          }
        },
        "timePeriod": {
          "description": "Has time period for pulling data for the report.",
          "$ref": "#/definitions/ReportConfigTimePeriod"
        },
        "dataset": {
          "description": "Has definition for data in this report config.",
          "$ref": "#/definitions/ReportConfigDataset"
        }
      },
      "required": [
        "type",
        "timeframe"
      ]
    },
    "ReportConfigTimePeriod": {
      "description": "The start and end date for pulling data for the report.",
      "properties": {
        "from": {
          "description": "The start date to pull data from.",
          "type": "string",
          "format": "date-time"
        },
        "to": {
          "description": "The end date to pull data to.",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "ReportConfigDataset": {
      "description": "The definition of data present in the report.",
      "properties": {
        "granularity": {
          "description": "The granularity of rows in the report.",
          "type": "string",
          "enum": [
            "Daily",
            "Monthly"
          ],
          "x-ms-enum": {
            "name": "GranularityType",
            "modelAsString": true
          }
        },
        "configuration": {
          "description": "Has configuration information for the data in the report. The configuration will be ignored if aggregation and grouping are provided.",
          "$ref": "#/definitions/ReportConfigDatasetConfiguration"
        },
        "aggregation": {
          "type": "object",
          "description": "Dictionary of aggregation expression to use in the report. The key of each item in the dictionary is the alias for the aggregated column. Report can have up to 2 aggregation clauses.",
          "additionalProperties": {
            "type": "object",
            "$ref": "#/definitions/ReportConfigAggregation"
          },
          "maxItems": 2
        },
        "grouping": {
          "description": "Array of group by expression to use in the report. Report can have up to 2 group by clauses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportConfigGrouping"
          },
          "maxItems": 2
        },
        "sorting": {
          "description": "Array of order by expression to use in the report.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportConfigSorting"
          }
        },
        "filter": {
          "type": "object",
          "description": "Has filter expression to use in the report.",
          "$ref": "#/definitions/ReportConfigFilter"
        }
      }
    },
    "ReportConfigDatasetConfiguration": {
      "description": "The configuration of dataset in the report.",
      "properties": {
        "columns": {
          "description": "Array of column names to be included in the report. Any valid report column name is allowed. If not provided, then report includes all columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReportConfigAggregation": {
      "description": "The aggregation expression to be used in the report.",
      "properties": {
        "name": {
          "description": "The name of the column to aggregate.",
          "type": "string"
        },
        "function": {
          "description": "The name of the aggregation function to use.",
          "type": "string",
          "enum": [
            "Sum"
          ],
          "x-ms-enum": {
            "name": "FunctionType",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "function"
      ]
    },
    "ReportConfigSorting": {
      "description": "The order by expression to be used in the report.",
      "properties": {
        "direction": {
          "description": "Direction of sort.",
          "type": "string",
          "enum": [
            "Ascending",
            "Descending"
          ]
        },
        "name": {
          "description": "The name of the column to sort.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "ReportConfigGrouping": {
      "description": "The group by expression to be used in the report.",
      "properties": {
        "type": {
          "description": "Has type of the column to group.",
          "$ref": "#/definitions/ReportConfigColumnType"
        },
        "name": {
          "description": "The name of the column to group. This version supports subscription lowest possible grain.",
          "type": "string"
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ReportConfigFilter": {
      "description": "The filter expression to be used in the report.",
      "properties": {
        "and": {
          "description": "The logical \"AND\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportConfigFilter"
          },
          "minItems": 2
        },
        "or": {
          "description": "The logical \"OR\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportConfigFilter"
          },
          "minItems": 2
        },
        "not": {
          "description": "The logical \"NOT\" expression.",
          "$ref": "#/definitions/ReportConfigFilter"
        },
        "dimension": {
          "description": "Has comparison expression for a dimension",
          "$ref": "#/definitions/ReportConfigComparisonExpression"
        },
        "tag": {
          "description": "Has comparison expression for a tag",
          "$ref": "#/definitions/ReportConfigComparisonExpression"
        }
      }
    },
    "ReportConfigColumnType": {
      "description": "The type of the column in the report.",
      "type": "string",
      "enum": [
        "Tag",
        "Dimension"
      ],
      "x-ms-enum": {
        "name": "ReportConfigColumnType",
        "modelAsString": true
      }
    },
    "ReportConfigComparisonExpression": {
      "description": "The comparison expression to be used in the report.",
      "properties": {
        "name": {
          "description": "The name of the column to use in comparison.",
          "type": "string"
        },
        "operator": {
          "description": "The operator to use for comparison.",
          "type": "string",
          "enum": [
            "In",
            "Contains"
          ],
          "x-ms-enum": {
            "name": "OperatorType",
            "modelAsString": true
          }
        },
        "values": {
          "description": "Array of values to use for comparison",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1
        }
      },
      "required": [
        "name",
        "operator",
        "values"
      ]
    },
    "DimensionsListResult": {
      "description": "Result of listing dimensions. It contains a list of available dimensions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of dimensions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        }
      }
    },
    "Dimension": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DimensionProperties",
          "title": "Dimension properties"
        }
      }
    },
    "DimensionProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "filterEnabled": {
          "type": "boolean"
        },
        "groupingEnabled": {
          "type": "boolean"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "total": {
          "format": "int32",
          "type": "integer"
        },
        "category": {
          "type": "string"
        },
        "usageStart": {
          "format": "date-time",
          "type": "string"
        },
        "usageEnd": {
          "format": "date-time",
          "type": "string"
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "QueryResult": {
      "description": "Result of query. It contains all columns listed under groupings and aggregation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of usage data.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Query": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QueryProperties",
          "title": "Query properties"
        }
      }
    },
    "QueryProperties": {
      "type": "object",
      "properties": {
        "nextLink": {
          "type": "string"
        },
        "columns": {
          "description": "Array of columns",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryColumn"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {}
          }
        }
      }
    },
    "QueryColumn": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ConnectorDefinitionListResult": {
      "description": "Result of listing connector definitions. It contains a list of available connector definitions in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of connector definitions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ConnectorDefinition"
          }
        }
      }
    },
    "ConnectorDefinition": {
      "type": "object",
      "description": "The Connector model definition",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Connector kind (eg aws)"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Connector id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Connector name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Connector type"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConnectorProperties",
          "description": "Connector properties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ConnectorProperties": {
      "type": "object",
      "description": "The properties of a Connector",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Connector DisplayName"
        },
        "providerBillingAccountId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Connector providerBillingAccountId, determined from credentials (eg AWS Consolidated account number)",
          "readOnly": true
        },
        "providerBillingAccountDisplayName": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "The display name of the providerBillingAccountId as defined on the external provider",
          "readOnly": true
        },
        "credentialsKey": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Credentials authentication key (eg AWS ARN)"
        },
        "credentialsSecret": {
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ],
          "description": "Credentials secret (eg AWS ExternalId)"
        },
        "reportId": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Identifying source report. (For AWS this is a CUR report name, defined with Daily and with Resources)"
        },
        "createdOn": {
          "format": "date-time",
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Connector definition creation datetime",
          "readOnly": true
        },
        "modifiedOn": {
          "format": "date-time",
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Connector last modified datetime",
          "readOnly": true
        },
        "status": {
          "enum": [
            "active",
            "error",
            "expired",
            "warning"
          ],
          "x-ms-enum": {
            "name": "ConnectorStatus",
            "modelAsString": true
          },
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Connector status",
          "readOnly": true
        },
        "externalBillingAccountId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Associated ExternalBillingAccountId",
          "readOnly": true
        },
        "defaultManagementGroupId": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Default ManagementGroupId"
        },
        "subscriptionId": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Billing SubscriptionId"
        },
        "billingModel": {
          "enum": [
            "trial",
            "autoUpgrade",
            "premium",
            "expired"
          ],
          "x-ms-enum": {
            "name": "ConnectorBillingModel",
            "modelAsString": true
          },
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Connector billing model"
        },
        "daysTrialRemaining": {
          "type": "integer",
          "x-nullable": true,
          "x-ms-mutability": [
            "read"
          ],
          "description": "Number of days remaining of trial",
          "readOnly": true
        },
        "collectionInfo": {
          "$ref": "#/definitions/ConnectorCollectionInfo",
          "description": "Collection information",
          "x-nullable": true,
          "readOnly": true
        }
      }
    },
    "ConnectorCollectionInfo": {
      "type": "object",
      "description": "Collection and ingestion information",
      "properties": {
        "lastChecked": {
          "format": "date-time",
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Last time the data acquisition process initiated connecting to the external provider",
          "readOnly": true
        },
        "sourceLastUpdated": {
          "format": "date-time",
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Source timestamp of external data currently available in Azure (eg AWS last processed CUR file timestamp)",
          "readOnly": true
        },
        "lastUpdated": {
          "format": "date-time",
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Last time the external data was updated into Azure",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ConnectorCollectionErrorInfo",
          "description": "Error information of last collection"
        }
      }
    },
    "ConnectorCollectionErrorInfo": {
      "type": "object",
      "description": "Details of any error encountered on last collection attempt",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Detailed error message",
          "readOnly": true
        },
        "errorInnerMessage": {
          "type": "string",
          "description": "External Provider error message",
          "readOnly": true
        },
        "errorCode": {
          "type": "string",
          "description": "Short error code",
          "readOnly": true
        },
        "errorStartTime": {
          "format": "date-time",
          "type": "string",
          "description": "Time the error started occurring (Last time error occurred in lastChecked)",
          "readOnly": true
        }
      }
    },
    "CheckEligibilityDefinition": {
      "type": "object",
      "description": "The check eligibility Connector credentials definition",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Connector kind (eg aws)"
        },
        "credentialsKey": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Credentials authentication key (eg AWS ARN)"
        },
        "credentialsSecret": {
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ],
          "description": "Credentials secret (eg AWS ExternalId)"
        },
        "reportId": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Identifying source report. (For AWS this is a CUR report name, defined with Daily and with Resources)"
        }
      }
    },
    "ExternalBillingAccountDefinitionListResult": {
      "description": "Result of listing ExternalBillingAccount definitions. It contains a list of available ExternalBillingAccount definitions in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of ExternalBillingAccount definitions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExternalBillingAccountDefinition"
          }
        }
      }
    },
    "ExternalBillingAccountDefinition": {
      "type": "object",
      "description": "The ExternalBillingAccount model definition",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalBillingAccount id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalBillingAccount name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalBillingAccount type"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalBillingAccount kind (eg aws)"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExternalBillingAccountProperties",
          "description": "ExternalBillingAccount properties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ExternalBillingAccountProperties": {
      "type": "object",
      "description": "The properties of a ExternalBillingAccount",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "ExternalBillingAccount DisplayName",
          "readOnly": true
        },
        "providerBillingAccountId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Provider BillingAccountId (eg AWS Consolidated Account number)",
          "readOnly": true
        },
        "connectorId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Underlying ConnectorId",
          "readOnly": true
        },
        "collectionInfo": {
          "$ref": "#/definitions/ConnectorCollectionInfo",
          "description": "Collection information",
          "x-nullable": true,
          "readOnly": true
        }
      }
    },
    "ExternalSubscriptionDefinitionListResult": {
      "description": "Result of listing ExternalSubscription definitions. It contains a list of available ExternalSubscription definitions in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of ExternalSubscription definitions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExternalSubscriptionDefinition"
          }
        }
      }
    },
    "ExternalSubscriptionDefinition": {
      "type": "object",
      "description": "The ExternalSubscription model definition",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalSubscription id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalSubscription name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalSubscription type"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "ExternalSubscription kind (eg aws)"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExternalSubscriptionProperties",
          "description": "ExternalSubscription properties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ExternalSubscriptionProperties": {
      "type": "object",
      "description": "The properties of a ExternalSubscription",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "ExternalSubscription DisplayName",
          "readOnly": true
        },
        "managementGroupId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Assigned ManagementGroupId",
          "readOnly": true
        },
        "providerBillingAccountId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Provider BillingAccountId (eg AWS Consolidated Account number)",
          "readOnly": true
        },
        "providerAccountId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Provider AccountId (eg AWS Linked Account number)",
          "readOnly": true
        },
        "externalBillingAccountId": {
          "type": "string",
          "x-ms-mutability": [
            "read"
          ],
          "description": "Parent ExternalBillingAccountId",
          "readOnly": true
        },
        "collectionInfo": {
          "$ref": "#/definitions/ConnectorCollectionInfo",
          "description": "Collection information",
          "x-nullable": true,
          "readOnly": true
        }
      }
    },
    "ExternalSubscriptionIdListRequest": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of ExternalSubscriptionIds."
        }
      },
      "description": "The list of ExternalSubscriptionIds operation request."
    },
    "OperationListResult": {
      "description": "Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of cost management operations supported by the Microsoft.CostManagement resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "A Cost management REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.CostManagement.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Dimensions, Query.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "ShowbackRuleListResult": {
      "description": "Result of listing showback rules. It contains a list of available rules in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of showback rules.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ShowbackRule"
          }
        }
      }
    },
    "ShowbackRule": {
      "type": "object",
      "description": "The showback rule model definition",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Rule id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Rule name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Rule type"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ShowbackRuleProperties",
          "description": "Showback rule properties"
        }
      }
    },
    "ShowbackRuleProperties": {
      "required": [
        "ruleType"
      ],
      "description": "The properties of a showback rule.",
      "discriminator": "ruleType",
      "properties": {
        "description": {
          "description": "Description of a showback rule.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the showback rule.",
          "type": "string",
          "enum": [
            "NotActive",
            "Active"
          ],
          "x-ms-enum": {
            "name": "ShowbackRuleStatus",
            "modelAsString": true
          }
        },
        "version": {
          "description": "The current version of showback rule.",
          "type": "integer",
          "readOnly": true
        },
        "scopes": {
          "description": "List of authorized assigned scopes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Scope"
          }
        },
        "creationTime": {
          "format": "date-time",
          "description": "The time when the showback rule was created.",
          "type": "string",
          "readOnly": true
        },
        "deprecationTime": {
          "description": "The current time when showback rule was deprecate.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "modificationTime": {
          "description": "The current status when showback rule was modified.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "ruleType": {
          "type": "string",
          "description": "The rule type of the showback rule solution.",
          "enum": [
            "CustomPrice",
            "CostAllocation"
          ],
          "x-ms-enum": {
            "name": "RuleType",
            "modelAsString": true
          }
        }
      }
    },
    "Scope": {
      "type": "object",
      "description": "The Scope model definition",
      "properties": {
        "id": {
          "type": "string",
          "description": "Scope id"
        },
        "name": {
          "type": "string",
          "description": "Scope name"
        },
        "type": {
          "type": "string",
          "description": "Scope type"
        },
        "childScope": {
          "$ref": "#/definitions/Scope"
        }
      }
    },
    "Markup": {
      "type": "object",
      "description": "The Markup model definition",
      "properties": {
        "percentage": {
          "type": "string"
        }
      }
    },
    "CustomPriceDetailsKind": {
      "properties": {
        "details": {
          "x-ms-client-flatten": true,
          "description": "The Custom price properties to validate.",
          "$ref": "#/definitions/CustomPriceDetails"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ShowbackRuleProperties"
        }
      ],
      "description": "Represents Custom price showback rule model",
      "x-ms-discriminator-value": "CustomPrice"
    },
    "CustomPriceDetails": {
      "description": "Represents Custom price showback rule model",
      "properties": {
        "pricesheet": {
          "type": "string"
        },
        "benefits": {
          "description": "Array of benefits.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "None",
              "All",
              "AHUB",
              "Reservations"
            ],
            "x-ms-enum": {
              "name": "FunctionType",
              "modelAsString": true
            }
          }
        },
        "markups": {
          "description": "List of markups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Markup"
          }
        }
      }
    },
    "CostAllocationDetailsKind": {
      "properties": {
        "details": {
          "x-ms-client-flatten": true,
          "description": "The CostAllocation properties to validate.",
          "$ref": "#/definitions/CostAllocationDetails"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ShowbackRuleProperties"
        }
      ],
      "description": "Represents CostAllocation showback rule model",
      "x-ms-discriminator-value": "CostAllocation"
    },
    "CostAllocationDetails": {
      "description": "Represents CostAllocation showback rule model",
      "properties": {
        "policy": {
          "description": "Cost allocation policy.",
          "type": "string",
          "enum": [
            "Proportional",
            "Evenly",
            "Fixed"
          ],
          "x-ms-enum": {
            "name": "CostAllocationPolicy",
            "modelAsString": true
          }
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2019-03-01-preview"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "BillingAccount ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "managementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "description": "ManagementGroup ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "departmentIdParameter": {
      "name": "departmentId",
      "in": "path",
      "description": "Department ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "enrollmentAccountIdParameter": {
      "name": "enrollmentAccountId",
      "in": "path",
      "description": "Enrollment Account ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Azure Resource Group Name.",
      "required": true,
      "type": "string",
[...]
