{
  "swagger": "2.0",
  "info": {
    "version": "2023-01-01",
    "title": "Azure Migrate V2",
    "description": "Migrate your workloads to Azure.",
    "contact": {
      "name": "Microsoft",
      "email": "azuremigratehub@microsoft.com"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "parameters": {
    "migrateProjectName": {
      "name": "migrateProjectName",
      "description": "Name of the Azure Migrate project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "machineName": {
      "name": "machineName",
      "description": "Unique name of a machine in Azure migration hub.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "databaseName": {
      "name": "databaseName",
      "description": "Unique name of a database in Azure migration hub.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "databaseInstanceName": {
      "name": "databaseInstanceName",
      "description": "Unique name of a database instance in Azure migration hub.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "solutionName": {
      "name": "solutionName",
      "description": "Unique name of a migration solution within a migrate project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "eventName": {
      "name": "eventName",
      "description": "Unique name of an event within a migrate project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "continuationToken": {
      "name": "continuationToken",
      "description": "The continuation token.",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "pageSize": {
      "name": "pageSize",
      "description": "The number of items to be returned in a single page. This value is honored only if it is less than the 100.",
      "type": "integer",
      "format": "int32",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "virtualDesktopUserName": {
      "name": "virtualDesktopUserName",
      "description": "The ARM name of the webserver to be fetched.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    },
    "webServerId": {
      "name": "webServerId",
      "description": "The ARM name of the virtual desktop user.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "webSiteName": {
      "name": "webSiteName",
      "description": "The ARM name of the website to be fetched.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DatabaseInstancesController"
    },
    {
      "name": "DatabasesController"
    },
    {
      "name": "EventsController"
    },
    {
      "name": "MachinesController"
    },
    {
      "name": "MigrateProjectsController"
    },
    {
      "name": "SolutionsController"
    },
    {
      "name": "VirtualDesktopUserController"
    },
    {
      "name": "WebServersController"
    },
    {
      "name": "WebSitesController"
    },
    {
      "name": "PrivateEndpointConnectionController"
    },
    {
      "name": "PrivateEndpointConnectionProxyController"
    },
    {
      "name": "PrivateLinkResourceController"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances": {
      "get": {
        "tags": [
          "DatabaseInstancesController"
        ],
        "summary": "Gets a list of database instances in the migrate project.",
        "operationId": "DatabaseInstancesController_ListDatabaseInstances",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseInstanceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DatabaseInstancesController_ListDatabaseInstances_MaximumSet_Gen": {
            "$ref": "./examples/DatabaseInstancesController_ListDatabaseInstances_MaximumSet_Gen.json"
          },
          "DatabaseInstancesController_ListDatabaseInstances_MinimumSet_Gen": {
            "$ref": "./examples/DatabaseInstancesController_ListDatabaseInstances_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances/{databaseInstanceName}": {
      "get": {
        "tags": [
          "DatabaseInstancesController"
        ],
        "summary": "Gets a database instance in the migrate project.",
        "operationId": "DatabaseInstancesController_GetDatabaseInstance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/databaseInstanceName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "DatabaseInstancesController_GetDatabaseInstance_MaximumSet_Gen": {
            "$ref": "./examples/DatabaseInstancesController_GetDatabaseInstance_MaximumSet_Gen.json"
          },
          "DatabaseInstancesController_GetDatabaseInstance_MinimumSet_Gen": {
            "$ref": "./examples/DatabaseInstancesController_GetDatabaseInstance_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases": {
      "get": {
        "tags": [
          "DatabasesController"
        ],
        "summary": "Gets a list of databases in the migrate project.",
        "operationId": "DatabasesController_ListDatabases",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DatabasesController_ListDatabases_MaximumSet_Gen": {
            "$ref": "./examples/DatabasesController_ListDatabases_MaximumSet_Gen.json"
          },
          "DatabasesController_ListDatabases_MinimumSet_Gen": {
            "$ref": "./examples/DatabasesController_ListDatabases_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases/{databaseName}": {
      "get": {
        "tags": [
          "DatabasesController"
        ],
        "summary": "Gets a database in the migrate project.",
        "operationId": "DatabasesController_GetDatabase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/databaseName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "DatabasesController_GetDatabase_MaximumSet_Gen": {
            "$ref": "./examples/DatabasesController_GetDatabase_MaximumSet_Gen.json"
          },
          "DatabasesController_GetDatabase_MinimumSet_Gen": {
            "$ref": "./examples/DatabasesController_GetDatabase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents": {
      "get": {
        "tags": [
          "EventsController"
        ],
        "summary": "Gets a list of events in the migrate project.",
        "operationId": "EventsController_ListEvents",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EventsController_ListEvents_MaximumSet_Gen": {
            "$ref": "./examples/EventsController_ListEvents_MaximumSet_Gen.json"
          },
          "EventsController_ListEvents_MinimumSet_Gen": {
            "$ref": "./examples/EventsController_ListEvents_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}": {
      "get": {
        "tags": [
          "EventsController"
        ],
        "summary": "Gets an event in the migrate project.",
        "operationId": "EventsController_GetEvent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/eventName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateEvent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "EventsController_GetEvent_MaximumSet_Gen": {
            "$ref": "./examples/EventsController_GetEvent_MaximumSet_Gen.json"
          },
          "EventsController_GetEvent_MinimumSet_Gen": {
            "$ref": "./examples/EventsController_GetEvent_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "EventsController"
        ],
        "summary": "Delete the migrate event",
        "description": "Delete the migrate event. Deleting non-existent migrate event is a no-operation.",
        "operationId": "EventsController_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/eventName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "204": {
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "EventsController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/EventsController_Delete_MaximumSet_Gen.json"
          },
          "EventsController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/EventsController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines": {
      "get": {
        "tags": [
          "MachinesController"
        ],
        "summary": "Gets a list of machines in the migrate project.",
        "operationId": "MachinesController_ListMachines",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MachinesController_ListMachines_MaximumSet_Gen": {
            "$ref": "./examples/MachinesController_ListMachines_MaximumSet_Gen.json"
          },
          "MachinesController_ListMachines_MinimumSet_Gen": {
            "$ref": "./examples/MachinesController_ListMachines_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines/{machineName}": {
      "get": {
        "tags": [
          "MachinesController"
        ],
        "summary": "Gets a machine in the migrate project.",
        "operationId": "MachinesController_GetMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/machineName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MachinesController_GetMachine_MaximumSet_Gen": {
            "$ref": "./examples/MachinesController_GetMachine_MaximumSet_Gen.json"
          },
          "MachinesController_GetMachine_MinimumSet_Gen": {
            "$ref": "./examples/MachinesController_GetMachine_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registerTool": {
      "post": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Registers a tool with the migrate project.",
        "operationId": "MigrateProjectsController_RegisterTool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Input containing the name of the tool to be registered.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterToolInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistrationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_RegisterTool_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_RegisterTool_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_RegisterTool_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_RegisterTool_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/refreshSummary": {
      "post": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Refresh the summary of the migrate project.",
        "operationId": "MigrateProjectsController_RefreshSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "input",
            "in": "body",
            "description": "The goal input which needs to be refreshed.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshSummaryInput"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RefreshSummaryResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_RefreshSummary_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_RefreshSummary_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_RefreshSummary_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_RefreshSummary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}": {
      "get": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Gets a solution in the migrate project.",
        "operationId": "SolutionsController_GetSolution",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "SolutionsController_GetSolution_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_GetSolution_MaximumSet_Gen.json"
          },
          "SolutionsController_GetSolution_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_GetSolution_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Creates a solution in the migrate project.",
        "operationId": "SolutionsController_Create",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "solutionInput",
            "in": "body",
            "description": "The input for the solution.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "SolutionsController_Create_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_Create_MaximumSet_Gen.json"
          },
          "SolutionsController_Create_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Update solution.",
        "description": "Update a solution with specified name. Supports partial updates, for example only tags can be provided.",
        "operationId": "SolutionsController_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "solutionInput",
            "in": "body",
            "description": "The input for the solution.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "SolutionsController_Update_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_Update_MaximumSet_Gen.json"
          },
          "SolutionsController_Update_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Delete the solution",
        "description": "Delete the solution. Deleting non-existent project is a no-operation.",
        "operationId": "SolutionsController_DeleteSolution",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "204": {
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "SolutionsController_DeleteSolution_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_DeleteSolution_MaximumSet_Gen.json"
          },
          "SolutionsController_DeleteSolution_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_DeleteSolution_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions": {
      "get": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Gets the list of solutions in the migrate project.",
        "operationId": "SolutionsController_ListSolutions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SolutionsCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SolutionsController_ListSolutions_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_ListSolutions_MaximumSet_Gen.json"
          },
          "SolutionsController_ListSolutions_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_ListSolutions_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/getConfig": {
      "post": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Gets the config for the solution in the migrate project.",
        "operationId": "SolutionsController_GetConfig",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SolutionConfig"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "SolutionsController_GetConfig_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_GetConfig_MaximumSet_Gen.json"
          },
          "SolutionsController_GetConfig_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_GetConfig_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/cleanupData": {
      "post": {
        "tags": [
          "SolutionsController"
        ],
        "summary": "Cleanup the solution data in the migrate project.",
        "operationId": "SolutionsController_CleanupData",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "SolutionsController_CleanupData_MaximumSet_Gen": {
            "$ref": "./examples/SolutionsController_CleanupData_MaximumSet_Gen.json"
          },
          "SolutionsController_CleanupData_MinimumSet_Gen": {
            "$ref": "./examples/SolutionsController_CleanupData_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers": {
      "get": {
        "tags": [
          "VirtualDesktopUserController"
        ],
        "summary": "Gets a list of virtual desktop users in the migrate project.",
        "operationId": "VirtualDesktopUserController_ListVirtualDesktopUsers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualDesktopUserCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VirtualDesktopUserController_ListVirtualDesktopUsers_MaximumSet_Gen": {
            "$ref": "./examples/VirtualDesktopUserController_ListVirtualDesktopUsers_MaximumSet_Gen.json"
          },
          "VirtualDesktopUserController_ListVirtualDesktopUsers_MinimumSet_Gen": {
            "$ref": "./examples/VirtualDesktopUserController_ListVirtualDesktopUsers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers/{virtualDesktopUserName}": {
      "get": {
        "tags": [
          "VirtualDesktopUserController"
        ],
        "summary": "Gets a virtual desktop user in the migrate project.",
        "operationId": "VirtualDesktopUserController_GetVirtualDesktopUser",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/virtualDesktopUserName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualDesktopUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "VirtualDesktopUserController_GetVirtualDesktopUser_MaximumSet_Gen": {
            "$ref": "./examples/VirtualDesktopUserController_GetVirtualDesktopUser_MaximumSet_Gen.json"
          },
          "VirtualDesktopUserController_GetVirtualDesktopUser_MinimumSet_Gen": {
            "$ref": "./examples/VirtualDesktopUserController_GetVirtualDesktopUser_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webServers": {
      "get": {
        "tags": [
          "WebServersController"
        ],
        "summary": "Gets a list of WebServers in the migrate project.",
        "operationId": "WebServersController_ListWebServers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebServerCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebServersController_ListWebServers_MaximumSet_Gen": {
            "$ref": "./examples/WebServersController_ListWebServers_MaximumSet_Gen.json"
          },
          "WebServersController_ListWebServers_MinimumSet_Gen": {
            "$ref": "./examples/WebServersController_ListWebServers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webServers/{webServerId}": {
      "get": {
        "tags": [
          "WebServersController"
        ],
        "summary": "Gets a webserver in the migrate project.",
        "operationId": "WebServersController_GetWebServer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/webServerId"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "WebServersController_GetWebServer_MaximumSet_Gen": {
            "$ref": "./examples/WebServersController_GetWebServer_MaximumSet_Gen.json"
          },
          "WebServersController_GetWebServer_MinimumSet_Gen": {
            "$ref": "./examples/WebServersController_GetWebServer_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webSites": {
      "get": {
        "tags": [
          "WebSitesController"
        ],
        "summary": "Gets a list of websites in the migrate project.",
        "operationId": "WebSitesController_ListWebSites",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/continuationToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebSiteCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebSitesController_ListWebSites_MaximumSet_Gen": {
            "$ref": "./examples/WebSitesController_ListWebSites_MaximumSet_Gen.json"
          },
          "WebSitesController_ListWebSites_MinimumSet_Gen": {
            "$ref": "./examples/WebSitesController_ListWebSites_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webSites/{webSiteName}": {
      "get": {
        "tags": [
          "WebSitesController"
        ],
        "summary": "Gets a website in the migrate project.",
        "operationId": "WebSitesController_GetWebSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "#/parameters/webSiteName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "WebSitesController_GetWebSite_MaximumSet_Gen": {
            "$ref": "./examples/WebSitesController_GetWebSite_MaximumSet_Gen.json"
          },
          "WebSitesController_GetWebSite_MinimumSet_Gen": {
            "$ref": "./examples/WebSitesController_GetWebSite_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/migrateProjects": {
      "get": {
        "summary": "Get all migrate projects.",
        "description": "Get all the migrate projects in the subscription.",
        "operationId": "Projects_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/ProjectResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Projects_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Projects_ListBySubscription_MaximumSet_Gen.json"
          },
          "Projects_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Projects_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects": {
      "get": {
        "summary": "Get all migrate projects.",
        "description": "Get all the migrate projects in the resource group.",
        "operationId": "Projects_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/ProjectResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Projects_List_MaximumSet_Gen": {
            "$ref": "./examples/Projects_List_MaximumSet_Gen.json"
          },
          "Projects_List_MinimumSet_Gen": {
            "$ref": "./examples/Projects_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}": {
      "get": {
        "summary": "Get a specific project.",
        "description": "Get information related to a specific migrate project. Returns a json object of type 'migrateProject' as specified in the models section.",
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_GetMigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_Get_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Get_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Get_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Create or update a new project with specified settings.",
        "description": "Create or update a new project by sending a json object of type 'migrateproject' as given in Models section as part of the Request Body. The project name is unique.\n\nThis operation is Idempotent.\n",
        "operationId": "MigrateProjectsController_PutMigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "body",
            "description": "Migrate project body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_Create_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Create_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Create_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Delete the project",
        "description": "Delete the migrate project. It deletes summary of the project.",
        "operationId": "MigrateProjectsController_DeleteMigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No content. No project with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Delete_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Update project.",
        "description": "Update a project with specified name. Supports partial updates, for example only tags can be provided.",
        "operationId": "MigrateProjectsController_PatchMigrateProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "body",
            "description": "Migrate project body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_Update_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Update_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Update_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registrationDetails": {
      "post": {
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_GetToolRegistrationDetails",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistrationDetailsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistrationDetailsResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "MigrateProjectsController_GetToolRegistrationDetails_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_GetToolRegistrationDetails_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_GetToolRegistrationDetails_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_GetToolRegistrationDetails_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Get the private endpoint connections.",
        "description": "Get all the private endpoint connections under a migrate project.",
        "operationId": "PrivateEndpointConnectionsController_GetPrivateEndpointConnections",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionController_ListPrivateEndpointConnections_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_ListPrivateEndpointConnections_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_ListPrivateEndpointConnections_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_ListPrivateEndpointConnections_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections/{peConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Get the private endpoint.",
        "description": "Get the private endpoint with the specified name.",
        "operationId": "PrivateEndpointConnectionController_GetPrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionController_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Get_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_Get_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Create or update private endpoint.",
        "description": "Create or update a private endpoint with specified name. If a private endpoint already exists, update it.",
        "operationId": "PrivateEndpointConnectionController_PutPrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Private endpoint connection body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionController_Create_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Create_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_Create_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Delete the endpoint",
        "description": "Delete the private endpoint. Deleting non-existent private endpoint is a no-operation.",
        "operationId": "PrivateEndpointConnectionController_DeletePrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "enum": [
                "Continue",
                "SwitchingProtocols",
                "OK",
                "Created",
                "Accepted",
                "NonAuthoritativeInformation",
                "NoContent",
                "ResetContent",
                "PartialContent",
                "MultipleChoices",
                "Ambiguous",
                "MovedPermanently",
                "Moved",
                "Found",
                "Redirect",
                "SeeOther",
                "RedirectMethod",
                "NotModified",
                "UseProxy",
                "Unused",
                "TemporaryRedirect",
                "RedirectKeepVerb",
                "BadRequest",
                "Unauthorized",
                "PaymentRequired",
                "Forbidden",
                "NotFound",
                "MethodNotAllowed",
                "NotAcceptable",
                "ProxyAuthenticationRequired",
                "RequestTimeout",
                "Conflict",
                "Gone",
                "LengthRequired",
                "PreconditionFailed",
                "RequestEntityTooLarge",
                "RequestUriTooLong",
                "UnsupportedMediaType",
                "RequestedRangeNotSatisfiable",
                "ExpectationFailed",
                "UpgradeRequired",
                "InternalServerError",
                "NotImplemented",
                "BadGateway",
                "ServiceUnavailable",
                "GatewayTimeout",
                "HttpVersionNotSupported"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "enum",
                "modelAsString": true
              }
            }
          },
          "204": {
            "description": "No content. No private endpoint with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Delete_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnectionProxies": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Get the private endpoint connection proxies.",
        "description": "Get all the private endpoint connections proxies under a migrate project.",
        "operationId": "PrivateEndpointConnectionProxyController_ListPrivateEndpointConnectionProxies",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_ListPrivateEndpointConnectionProxies_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_ListPrivateEndpointConnectionProxies_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_ListPrivateEndpointConnectionProxies_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_ListPrivateEndpointConnectionProxies_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnectionProxies/{pecProxyName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Get the private link proxy resource.",
        "description": "Get the of private link proxy resources from a migrate project and private link proxy resource.",
        "operationId": "PrivateEndpointConnectionProxyController_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private link proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Get_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_Get_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Create or update private endpoint proxy.",
        "description": "Create or update a private endpoint proxy with specified name. If a private endpoint already exists, update it.",
        "operationId": "PrivateEndpointConnectionProxyController_Create",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private endpoint proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Modify private endpoint proxy state body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Create_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Create_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_Create_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Delete the private endpoint proxy",
        "description": "Delete the private endpoint proxy. Deleting non-existent private endpoint proxy is a no-operation.",
        "operationId": "PrivateEndpointConnectionProxyController_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private endpoint proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "204": {
            "description": "No content. No private endpoint proxy with specified name was found.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Delete_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnectionProxies/{pecProxyName}/validate": {
      "post": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Validates private endpoint connection proxy.",
        "description": "Validates private endpoint connection using a project and private endpoint connection proxy",
        "operationId": "PrivateEndpointConnectionProxyController_Validate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private link proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Validate proxy connection state body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Validate_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Validate_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_Validate_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Validate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "tags": [
          "PrivateLinkResourceController"
        ],
        "summary": "Get the private link resource.",
        "description": "Get the private link resource with the specified name.",
        "operationId": "PrivateLinkResourceController_GetPrivateLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "privateLinkResourceName",
            "description": "Private Link resource name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateLinkResourceController_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_Get_MaximumSet_Gen.json"
          },
          "PrivateLinkResourceController_Get_MinimumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResourceController"
        ],
        "summary": "Get the list of private link resources.",
        "description": "Get the list of private link resources under a resource group and migrate project.",
        "operationId": "PrivateLinkResourceController_GetPrivateLinkResources",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "x-ms-examples": {
          "PrivateLinkResourceController_ListPrivateLinkResources_MaximumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_ListPrivateLinkResources_MaximumSet_Gen.json"
          },
          "PrivateLinkResourceController_ListPrivateLinkResources_MinimumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_ListPrivateLinkResources_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get list of operations supported in the API.",
        "description": "Get a list of REST API supported by Microsoft.Migrate provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Object": {
      "description": "Defines generic object.",
      "type": "object",
      "properties": {}
    },
    "DatabaseInstanceCollection": {
      "description": "Collection of database instances.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets the database instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseInstance"
          }
        },
        "nextLink": {
          "description": "Gets or sets the value of nextLink.",
          "type": "string"
        }
      }
    },
    "DatabaseInstance": {
      "description": "DatabaseInstance REST resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the relative URL to get to this REST resource.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of this REST resource.",
          "type": "string"
        },
        "type": {
          "description": "Gets the type of this REST resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/DatabaseInstanceProperties",
          "description": "Gets or sets the properties of the machine."
        }
      }
    },
    "DatabaseInstanceProperties": {
      "description": "Properties of the database instance resource.",
      "type": "object",
      "properties": {
        "discoveryData": {
          "description": "Gets or sets the assessment details of the database instance published by various sources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseInstanceDiscoveryDetails"
          },
          "x-ms-identifiers": [
            "instanceId"
          ]
        },
        "summary": {
          "description": "Gets or sets the database instances summary per solution. The key of dictionary is the solution name and value is the corresponding database instance summary object.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DatabaseInstanceSummary"
          }
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "Gets or sets the time of the last modification of the database.",
          "type": "string"
        }
      }
    },
    "DatabaseInstanceDiscoveryDetails": {
      "description": "Discovery properties that can be shared by various publishers.",
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "Gets or sets the time of the last modification of the database instance details.",
          "type": "string"
        },
        "id": {
          "description": "Gets the relative URL to get to this DatabaseInstanceDiscoveryDetails resource.",
          "type": "string"
        },
        "instanceId": {
          "description": "Gets or sets the database instance Id.",
          "type": "string"
        },
        "enqueueTime": {
          "description": "Gets or sets the time the message was enqueued.",
          "type": "string"
        },
        "solutionName": {
          "description": "Gets or sets the name of the solution that sent the data.",
          "type": "string"
        },
        "instanceName": {
          "description": "Gets or sets the database instance name.",
          "type": "string"
        },
        "instanceVersion": {
          "description": "Gets or sets the database instance version.",
          "type": "string"
        },
        "instanceType": {
          "description": "Gets or sets the database instance type.",
          "type": "string"
        },
        "hostName": {
          "description": "Gets or sets the host name of the database server.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Gets or sets the IP addresses of the database server. IP addresses could be IP V4 or IP V6.",
          "type": "string"
        },
        "portNumber": {
          "format": "int32",
          "description": "Gets or sets the port number of the database server.",
          "type": "integer"
        },
        "extendedInfo": {
          "description": "Gets or sets the extended properties of the database server.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseInstanceSummary": {
      "description": "Class representing the database instance summary object.",
      "type": "object",
      "properties": {
        "databasesAssessedCount": {
          "format": "int32",
          "description": "Gets or sets the count of databases assessed.",
          "type": "integer"
        },
        "migrationReadyCount": {
          "format": "int32",
          "description": "Gets or sets the count of databases ready for migration.",
          "type": "integer"
        }
      }
    },
    "DatabaseCollection": {
      "description": "Collection of databases.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets the databases.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          }
        },
        "nextLink": {
          "description": "Gets or sets the value of nextLink.",
[...]
