{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2022-01-01",
    "description": "API spec for Microsoft.Security (Azure Security Center) alerts resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Alerts"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts": {
      "get": {
        "operationId": "Alerts_List",
        "tags": [
          "Alerts"
        ],
        "description": "List all the alerts that are associated with the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlertList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security alerts on a subscription": {
            "$ref": "./examples/Alerts/GetAlertsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts": {
      "get": {
        "operationId": "Alerts_ListSubscriptionLevelByRegion",
        "tags": [
          "Alerts"
        ],
        "description": "List all the alerts that are associated with the subscription that are stored in a specific location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security alerts on a subscription from a security data location": {
            "$ref": "./examples/Alerts/GetAlertsSubscriptionsLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}": {
      "get": {
        "operationId": "Alerts_GetSubscriptionLevel",
        "tags": [
          "Alerts"
        ],
        "description": "Get an alert that is associated with a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security alert on a subscription from a security data location": {
            "$ref": "./examples/Alerts/GetAlertSubscriptionLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/activate": {
      "post": {
        "operationId": "Alerts_UpdateSubscriptionLevelStateToActivate",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a subscription from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertSubscriptionLocation_activate_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/dismiss": {
      "post": {
        "operationId": "Alerts_UpdateSubscriptionLevelStateToDismiss",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a subscription from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertSubscriptionLocation_dismiss_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/inProgress": {
      "post": {
        "operationId": "Alerts_UpdateSubscriptionLevelStateToInProgress",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a subscription from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertSubscriptionLocation_inProgress_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/resolve": {
      "post": {
        "operationId": "Alerts_UpdateSubscriptionLevelStateToResolve",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a subscription from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertSubscriptionLocation_resolve_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/default/simulate": {
      "post": {
        "operationId": "Alerts_Simulate",
        "tags": [
          "Alerts"
        ],
        "description": "Simulate security alerts",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertSimulatorRequestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertSimulatorRequestBody"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Simulate security alerts on a subscription": {
            "$ref": "./examples/Alerts/SimulateAlerts_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/alerts": {
      "get": {
        "operationId": "Alerts_ListByResourceGroup",
        "tags": [
          "Alerts"
        ],
        "description": "List all the alerts that are associated with the resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlertList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security alerts on a resource group": {
            "$ref": "./examples/Alerts/GetAlertsResourceGroup_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts": {
      "get": {
        "operationId": "Alerts_ListResourceGroupLevelByRegion",
        "tags": [
          "Alerts"
        ],
        "description": "List all the alerts that are associated with the resource group that are stored in a specific location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get security alerts on a resource group from a security data location": {
            "$ref": "./examples/Alerts/GetAlertsResourceGroupLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}": {
      "get": {
        "operationId": "Alerts_GetResourceGroupLevel",
        "tags": [
          "Alerts"
        ],
        "description": "Get an alert that is associated a resource group or a resource in a resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security alert on a resource group from a security data location": {
            "$ref": "./examples/Alerts/GetAlertResourceGroupLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/activate": {
      "post": {
        "operationId": "Alerts_UpdateResourceGroupLevelStateToActivate",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a resource group from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertResourceGroupLocation_activate_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/dismiss": {
      "post": {
        "operationId": "Alerts_UpdateResourceGroupLevelStateToDismiss",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a resource group from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertResourceGroupLocation_dismiss_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/inProgress": {
      "post": {
        "operationId": "Alerts_UpdateResourceGroupLevelStateToInProgress",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a resource group from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertResourceGroupLocation_inProgress_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/resolve": {
      "post": {
        "operationId": "Alerts_UpdateResourceGroupLevelStateToResolve",
        "tags": [
          "Alerts"
        ],
        "description": "Update the alert's state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the alert object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update security alert state on a resource group from a security data location": {
            "$ref": "./examples/Alerts/UpdateAlertResourceGroupLocation_resolve_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Alert": {
      "type": "object",
      "description": "Security alert",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertProperties",
          "description": "describes security alert properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertEntity": {
      "type": "object",
      "description": "Changing set of properties depending on the entity type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of entity",
          "readOnly": true
        }
      },
      "additionalProperties": {}
    },
    "AlertList": {
      "type": "object",
      "description": "List of security alerts",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Alert items on this page",
          "items": {
            "$ref": "#/definitions/Alert"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      }
    },
    "AlertProperties": {
      "type": "object",
      "description": "describes security alert properties.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Schema version.",
          "readOnly": true
        },
        "alertType": {
          "type": "string",
          "description": "Unique identifier for the detection logic (all alert instances from the same detection logic will have the same alertType).",
          "readOnly": true
        },
        "systemAlertId": {
          "type": "string",
          "description": "Unique identifier for the alert.",
          "readOnly": true
        },
        "productComponentName": {
          "type": "string",
          "description": "The name of Azure Security Center pricing tier which powering this alert. Learn more: https://docs.microsoft.com/en-us/azure/security-center/security-center-pricing",
          "readOnly": true
        },
        "alertDisplayName": {
          "type": "string",
          "description": "The display name of the alert.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the suspicious activity that was detected.",
          "readOnly": true
        },
        "severity": {
          "$ref": "#/definitions/AlertSeverity",
          "description": "The risk level of the threat that was detected. Learn more: https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview#how-are-alerts-classified.",
          "readOnly": true
        },
        "intent": {
          "$ref": "#/definitions/Intent",
          "description": "The kill chain related intent behind the alert. For list of supported values, and explanations of Azure Security Center's supported kill chain intents.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time of the first event or activity included in the alert in ISO8601 format.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time of the last event or activity included in the alert in ISO8601 format.",
          "readOnly": true
        },
        "resourceIdentifiers": {
          "type": "array",
          "description": "The resource identifiers that can be used to direct the alert to the right product exposure group (tenant, workspace, subscription etc.). There can be multiple identifiers of different type per alert.",
          "items": {
            "$ref": "#/definitions/ResourceIdentifier"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "remediationSteps": {
          "type": "array",
          "description": "Manual action items to take to remediate the alert.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "vendorName": {
          "type": "string",
          "description": "The name of the vendor that raises the alert.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/AlertStatus",
          "description": "The life cycle status of the alert.",
          "readOnly": true
        },
        "extendedLinks": {
          "type": "array",
          "description": "Links related to the alert",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "alertUri": {
          "type": "string",
          "description": "A direct link to the alert page in Azure Portal.",
          "readOnly": true
        },
        "timeGeneratedUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time the alert was generated in ISO8601 format.",
          "readOnly": true
        },
        "productName": {
          "type": "string",
          "description": "The name of the product which published this alert (Microsoft Sentinel, Microsoft Defender for Identity, Microsoft Defender for Endpoint, Microsoft Defender for Office, Microsoft Defender for Cloud Apps, and so on).",
          "readOnly": true
        },
        "processingEndTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC processing end time of the alert in ISO8601 format.",
          "readOnly": true
        },
        "entities": {
          "type": "array",
          "description": "A list of entities related to the alert.",
          "items": {
            "$ref": "#/definitions/AlertEntity"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "isIncident": {
          "type": "boolean",
          "description": "This field determines whether the alert is an incident (a compound grouping of several alerts) or a single alert.",
          "readOnly": true
        },
        "correlationKey": {
          "type": "string",
          "description": "Key for corelating related alerts. Alerts with the same correlation key considered to be related.",
          "readOnly": true
        },
        "extendedProperties": {
          "type": "object",
          "description": "Custom properties for the alert.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "compromisedEntity": {
          "type": "string",
          "description": "The display name of the resource most related to this alert.",
          "readOnly": true
        },
        "techniques": {
          "type": "array",
          "description": "kill chain related techniques behind the alert.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "subTechniques": {
          "type": "array",
          "description": "Kill chain related sub-techniques behind the alert.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "supportingEvidence": {
          "$ref": "#/definitions/AlertPropertiesSupportingEvidence",
          "description": "Changing set of properties depending on the supportingEvidence type."
        }
      }
    },
    "AlertPropertiesSupportingEvidence": {
      "type": "object",
      "description": "Changing set of properties depending on the supportingEvidence type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the supportingEvidence",
          "readOnly": true
        }
      },
      "additionalProperties": {}
    },
    "AlertSeverity": {
      "type": "string",
      "description": "The risk level of the threat that was detected. Learn more: https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview#how-are-alerts-classified.",
      "enum": [
        "Informational",
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "AlertSeverity",
        "modelAsString": true,
        "values": [
          {
            "name": "Informational",
            "value": "Informational",
            "description": "Informational"
          },
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Medium"
          },
          {
            "name": "High",
            "value": "High",
            "description": "High"
          }
        ]
      }
    },
    "AlertSimulatorBundlesRequestProperties": {
      "type": "object",
      "description": "Simulate alerts according to this bundles.",
      "properties": {
        "bundles": {
          "type": "array",
          "description": "Bundles list.",
          "items": {
            "$ref": "#/definitions/BundleType"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AlertSimulatorRequestProperties"
        }
      ],
      "x-ms-discriminator-value": "Bundles"
    },
    "AlertSimulatorRequestBody": {
      "type": "object",
      "description": "Alert Simulator request body.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertSimulatorRequestProperties",
          "description": "Alert Simulator request body data."
        }
      }
    },
    "AlertSimulatorRequestProperties": {
      "type": "object",
      "description": "Describes properties of an alert simulation request",
      "properties": {
        "kind": {
          "$ref": "#/definitions/Kind",
          "description": "The kind of alert simulation."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "additionalProperties": {}
    },
    "AlertStatus": {
      "type": "string",
      "description": "The life cycle status of the alert.",
      "enum": [
        "Active",
        "InProgress",
        "Resolved",
        "Dismissed"
      ],
      "x-ms-enum": {
        "name": "AlertStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "An alert which doesn't specify a value is assigned the status 'Active'"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "An alert which is in handling state"
          },
          {
            "name": "Resolved",
            "value": "Resolved",
            "description": "Alert closed after handling"
          },
          {
            "name": "Dismissed",
            "value": "Dismissed",
            "description": "Alert dismissed as false positive"
          }
        ]
      }
    },
    "AzureResourceIdentifier": {
      "type": "object",
      "description": "Azure resource identifier.",
      "properties": {
        "azureResourceId": {
          "type": "string",
          "description": "ARM resource identifier for the cloud resource being alerted on",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceIdentifier"
        }
      ],
      "x-ms-discriminator-value": "AzureResource"
    },
    "BundleType": {
      "type": "string",
      "description": "Alert Simulator supported bundles.",
      "enum": [
        "AppServices",
        "DNS",
        "KeyVaults",
        "KubernetesService",
        "ResourceManager",
        "SqlServers",
        "StorageAccounts",
        "VirtualMachines",
        "CosmosDbs"
      ],
      "x-ms-enum": {
        "name": "BundleType",
        "modelAsString": true,
        "values": [
          {
            "name": "AppServices",
            "value": "AppServices",
            "description": "AppServices"
          },
          {
            "name": "DNS",
            "value": "DNS",
            "description": "DNS"
          },
          {
            "name": "KeyVaults",
            "value": "KeyVaults",
            "description": "KeyVaults"
          },
          {
            "name": "KubernetesService",
            "value": "KubernetesService",
            "description": "KubernetesService"
          },
          {
            "name": "ResourceManager",
            "value": "ResourceManager",
            "description": "ResourceManager"
          },
          {
            "name": "SqlServers",
            "value": "SqlServers",
            "description": "SqlServers"
          },
          {
            "name": "StorageAccounts",
            "value": "StorageAccounts",
            "description": "StorageAccounts"
          },
          {
            "name": "VirtualMachines",
            "value": "VirtualMachines",
            "description": "VirtualMachines"
          },
          {
            "name": "CosmosDbs",
            "value": "CosmosDbs",
            "description": "CosmosDbs"
          }
        ]
      }
    },
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "Intent": {
      "type": "string",
      "description": "The kill chain related intent behind the alert. For list of supported values, and explanations of Azure Security Center's supported kill chain intents.",
      "enum": [
        "Unknown",
        "PreAttack",
        "InitialAccess",
        "Persistence",
        "PrivilegeEscalation",
        "DefenseEvasion",
        "CredentialAccess",
        "Discovery",
        "LateralMovement",
        "Execution",
        "Collection",
        "Exfiltration",
        "CommandAndControl",
        "Impact",
        "Probing",
        "Exploitation"
      ],
      "x-ms-enum": {
        "name": "Intent",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown"
          },
          {
            "name": "PreAttack",
            "value": "PreAttack",
            "description": "PreAttack could be either an attempt to access a certain resource regardless of a malicious intent, or a failed attempt to gain access to a target system to gather information prior to exploitation. This step is usually detected as an attempt, originating from outside the network, to scan the target system and find a way in.  Further details on the PreAttack stage can be read in [MITRE Pre-Att&ck matrix](https://attack.mitre.org/matrices/pre/)."
          },
          {
            "name": "InitialAccess",
            "value": "InitialAccess",
            "description": "InitialAccess is the stage where an attacker manages to get foothold on the attacked resource."
          },
          {
            "name": "Persistence",
            "value": "Persistence",
            "description": "Persistence is any access, action, or configuration change to a system that gives a threat actor a persistent presence on that system."
          },
          {
            "name": "PrivilegeEscalation",
            "value": "PrivilegeEscalation",
            "description": "Privilege escalation is the result of actions that allow an adversary to obtain a higher level of permissions on a system or network."
          },
          {
            "name": "DefenseEvasion",
            "value": "DefenseEvasion",
            "description": "Defense evasion consists of techniques an adversary may use to evade detection or avoid other defenses."
          },
          {
            "name": "CredentialAccess",
            "value": "CredentialAccess",
            "description": "Credential access represents techniques resulting in access to or control over system, domain, or service credentials that are used within an enterprise environment."
          },
          {
            "name": "Discovery",
            "value": "Discovery",
            "description": "Discovery consists of techniques that allow the adversary to gain knowledge about the system and internal network."
          },
          {
            "name": "LateralMovement",
            "value": "LateralMovement",
            "description": "Lateral movement consists of techniques that enable an adversary to access and control remote systems on a network and could, but does not necessarily, include execution of tools on remote systems."
          },
          {
            "name": "Execution",
            "value": "Execution",
            "description": "The execution tactic represents techniques that result in execution of adversary-controlled code on a local or remote system."
          },
          {
            "name": "Collection",
            "value": "Collection",
            "description": "Collection consists of techniques used to identify and gather information, such as sensitive files, from a target network prior to exfiltration."
          },
          {
            "name": "Exfiltration",
            "value": "Exfiltration",
            "description": "Exfiltration refers to techniques and attributes that result or aid in the adversary removing files and information from a target network."
          },
          {
            "name": "CommandAndControl",
            "value": "CommandAndControl",
            "description": "The command and control tactic represents how adversaries communicate with systems under their control within a target network."
          },
          {
            "name": "Impact",
            "value": "Impact",
            "description": "Impact events primarily try to directly reduce the availability or integrity of a system, service, or network; including manipulation of data to impact a business or operational process."
          },
          {
            "name": "Probing",
            "value": "Probing",
            "description": "Probing could be either an attempt to access a certain resource regardless of a malicious intent, or a failed attempt to gain access to a target system to gather information prior to exploitation."
          },
          {
            "name": "Exploitation",
            "value": "Exploitation",
            "description": "Exploitation is the stage where an attacker manages to get a foothold on the attacked resource. This stage is relevant for compute hosts and resources such as user accounts, certificates etc."
          }
        ]
      }
    },
    "Kind": {
      "type": "string",
      "description": "The kind of alert simulation.",
      "enum": [
        "Bundles"
      ],
      "x-ms-enum": {
        "name": "Kind",
        "modelAsString": true,
        "values": [
          {
            "name": "Bundles",
            "value": "Bundles",
            "description": "Simulate alerts according to bundles"
          }
        ]
      }
    },
    "LogAnalyticsIdentifier": {
      "type": "object",
      "description": "Represents a Log Analytics workspace scope identifier.",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "The LogAnalytics workspace id that stores this alert.",
          "readOnly": true
        },
        "workspaceSubscriptionId": {
          "type": "string",
          "description": "The azure subscription id for the LogAnalytics workspace storing this alert.",
          "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
          "readOnly": true
        },
        "workspaceResourceGroup": {
          "type": "string",
          "description": "The azure resource group for the LogAnalytics workspace storing this alert",
          "readOnly": true
        },
        "agentId": {
          "type": "string",
          "description": "(optional) The LogAnalytics agent id reporting the event that this alert is based on.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceIdentifier"
        }
      ],
      "x-ms-discriminator-value": "LogAnalytics"
    },
    "ResourceIdentifier": {
      "type": "object",
      "description": "A resource identifier for an alert which can be used to direct the alert to the right product exposure group (tenant, workspace, subscription etc.).",
      "properties": {
        "type": {
          "$ref": "#/definitions/ResourceIdentifierType",
          "description": "There can be multiple identifiers of different type per alert, this field specify the identifier type."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ResourceIdentifierType": {
      "type": "string",
      "description": "There can be multiple identifiers of different type per alert, this field specify the identifier type.",
      "enum": [
        "AzureResource",
        "LogAnalytics"
      ],
      "x-ms-enum": {
        "name": "ResourceIdentifierType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureResource",
            "value": "AzureResource",
            "description": "AzureResource"
          },
          {
            "name": "LogAnalytics",
            "value": "LogAnalytics",
            "description": "LogAnalytics"
          }
        ]
      }
    }
  },
  "parameters": {}
}
