{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Workspaces Control Plane API",
    "version": "2025-10-03-preview",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureMonitorWorkspaces"
    },
    {
      "name": "Issue"
    },
    {
      "name": "MetricsContainers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListBySubscription",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_ListBySubscription - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListByResourceGroup",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_ListByResourceGroup - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_Get",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Returns the specified Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AzureMonitorWorkspaces_CreateOrUpdate",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Creates or updates an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Properties that need to be specified to create a new Azure Monitor Workspace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureMonitorWorkspaceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "201": {
            "description": "Resource 'AzureMonitorWorkspaceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "AzureMonitorWorkspaces_Update",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Updates part of an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AzureMonitorWorkspaces_Delete",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Deletes an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues": {
      "get": {
        "operationId": "Issue_List",
        "tags": [
          "Issue"
        ],
        "description": "List all issues under the parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IssueResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_List_MaximumSet": {
            "$ref": "./examples/Issue_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}": {
      "get": {
        "operationId": "Issue_Get",
        "tags": [
          "Issue"
        ],
        "description": "Get issue properties",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IssueResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_Get_MaximumSet": {
            "$ref": "./examples/Issue_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Issue_Create",
        "tags": [
          "Issue"
        ],
        "description": "Create a new issue or updates an existing one",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "related",
            "in": "query",
            "description": "Related resource or alert that is to be added to the issue (default: empty - the issue will be created without any related resources or alerts)",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IssueResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IssueResource"
            }
          },
          "201": {
            "description": "Resource 'IssueResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IssueResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_Create_MaximumSet": {
            "$ref": "./examples/Issue_Create_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Issue_Update",
        "tags": [
          "Issue"
        ],
        "description": "Update an issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IssueResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_Update_MaximumSet": {
            "$ref": "./examples/Issue_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Issue_Delete",
        "tags": [
          "Issue"
        ],
        "description": "Delete an issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_Delete_MaximumSet": {
            "$ref": "./examples/Issue_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/addInvestigationResult": {
      "post": {
        "operationId": "Issue_AddInvestigationResult",
        "tags": [
          "Issue"
        ],
        "description": "Adds investigation result",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvestigationResult"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InvestigationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_AddInvestigationResult_MaximumSet": {
            "$ref": "./examples/Issue_AddInvestigationResult_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/addOrUpdateAlerts": {
      "post": {
        "operationId": "Issue_AddOrUpdateAlerts",
        "tags": [
          "Issue"
        ],
        "description": "Add or update alerts in the issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RelatedAlerts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RelatedAlerts"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_AddOrUpdateAlerts_MaximumSet": {
            "$ref": "./examples/Issue_AddOrUpdateAlerts_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/addOrUpdateResources": {
      "post": {
        "operationId": "Issue_AddOrUpdateResources",
        "tags": [
          "Issue"
        ],
        "description": "Add or update resources in the issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RelatedResources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RelatedResources"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_AddOrUpdateResources_MaximumSet": {
            "$ref": "./examples/Issue_AddOrUpdateResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/fetchBackgroundVisualization": {
      "post": {
        "operationId": "Issue_FetchBackgroundVisualization",
        "tags": [
          "Issue"
        ],
        "description": "Fetch the background visualization of the issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BackgroundVisualization"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_FetchBackgroundVisualization_MaximumSet": {
            "$ref": "./examples/Issue_FetchBackgroundVisualization_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/fetchInvestigationResult": {
      "post": {
        "operationId": "Issue_FetchInvestigationResult",
        "tags": [
          "Issue"
        ],
        "description": "Fetch investigation result",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchInvestigationResultParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InvestigationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_FetchInvestigationResult_MaximumSet": {
            "$ref": "./examples/Issue_FetchInvestigationResult_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/listAlerts": {
      "post": {
        "operationId": "Issue_ListAlerts",
        "tags": [
          "Issue"
        ],
        "description": "List all alerts in the issue - this method uses pagination to return all alerts",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedRelatedAlert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_ListAlerts_MaximumSet": {
            "$ref": "./examples/Issue_ListAlerts_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/listResources": {
      "post": {
        "operationId": "Issue_ListResources",
        "tags": [
          "Issue"
        ],
        "description": "List all resources in the issue - this method uses pagination to return all resources",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedRelatedResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_ListResources_MaximumSet": {
            "$ref": "./examples/Issue_ListResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/setBackgroundVisualization": {
      "post": {
        "operationId": "Issue_SetBackgroundVisualization",
        "tags": [
          "Issue"
        ],
        "description": "Set the background visualization for the issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "issueName",
            "in": "path",
            "description": "The name of the IssueResource",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackgroundVisualization"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Issue_SetBackgroundVisualization_MaximumSet": {
            "$ref": "./examples/Issue_SetBackgroundVisualization_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers": {
      "get": {
        "operationId": "MetricsContainers_ListByAzureMonitorWorkspace",
        "tags": [
          "MetricsContainers"
        ],
        "description": "Lists metrics containers for a monitoring account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetricsContainerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MetricsContainers_ListByAzureMonitorWorkspace_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/MetricsContainers_ListByAzureMonitorWorkspace_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers/{metricsContainerName}": {
      "get": {
        "operationId": "MetricsContainers_Get",
        "tags": [
          "MetricsContainers"
        ],
        "description": "Gets metrics container settings for a monitoring account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "metricsContainerName",
            "in": "path",
            "description": "The name of the MetricsContainer",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetricsContainerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MetricsContainers_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/MetricsContainers_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MetricsContainers_CreateOrUpdate",
        "tags": [
          "MetricsContainers"
        ],
        "description": "Creates or updates metrics container settings for a monitoring account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "metricsContainerName",
            "in": "path",
            "description": "The name of the MetricsContainer",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetricsContainerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MetricsContainerResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MetricsContainerResource"
            }
          },
          "201": {
            "description": "Resource 'MetricsContainerResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MetricsContainerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MetricsContainers_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/MetricsContainers_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AddedByType": {
      "type": "string",
      "description": "The type of entity that added data to the issue",
      "enum": [
        "Manual",
        "Automatic"
      ],
      "x-ms-enum": {
        "name": "AddedByType",
        "modelAsString": true,
        "values": [
          {
            "name": "Manual",
            "value": "Manual",
            "description": "The data was added manually by a user"
          },
          {
            "name": "Automatic",
            "value": "Automatic",
            "description": "The data was added automatically"
          }
        ]
      }
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "AzureMonitorWorkspace": {
      "type": "object",
      "description": "Properties of an Azure Monitor Workspace",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The immutable Id of the Azure Monitor Workspace. This property is read-only.",
          "readOnly": true
        },
        "metrics": {
          "$ref": "#/definitions/AzureMonitorWorkspaceMetrics",
          "description": "Properties related to the metrics container in the Azure Monitor Workspace",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy.",
          "readOnly": true
        },
        "defaultIngestionSettings": {
          "$ref": "#/definitions/AzureMonitorWorkspaceDefaultIngestionSettings",
          "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace"
        }
      }
    },
    "AzureMonitorWorkspaceDefaultIngestionSettings": {
      "type": "object",
      "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection rule for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "dataCollectionEndpointResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection endpoint for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "dataCollectionRuleImmutableId": {
          "type": "string",
          "description": "The immutable Id of the default data collection rule for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "ingestionEndpoints": {
          "$ref": "#/definitions/IngestionEndpoints",
          "description": "The ingestion endpoints for this Azure Monitor Workspace.",
          "readOnly": true
        }
      }
    },
    "AzureMonitorWorkspaceMetrics": {
      "type": "object",
      "description": "Properties related to the metrics container in the Azure Monitor Workspace",
      "properties": {
        "prometheusQueryEndpoint": {
          "type": "string",
          "description": "The Prometheus query endpoint for the Azure Monitor Workspace",
          "readOnly": true
        },
        "internalId": {
          "type": "string",
          "description": "An internal identifier for the metrics container. Only to be used by the system.",
          "readOnly": true
        },
        "enableAccessUsingResourcePermissions": {
          "type": "boolean",
          "description": "Flag that indicates whether to enable access using resource permissions."
        }
      }
    },
    "AzureMonitorWorkspaceResource": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspace",
          "description": "Resource properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AzureMonitorWorkspaceResourceListResult": {
      "type": "object",
      "description": "The response of a AzureMonitorWorkspaceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureMonitorWorkspaceResource items on this page",
          "items": {
            "$ref": "#/definitions/AzureMonitorWorkspaceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureMonitorWorkspaceResourceUpdate": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspace",
          "description": "Resource properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Background": {
      "type": "object",
      "description": "The issue background information",
      "properties": {
        "type": {
          "type": "string",
          "description": "The background type"
        },
        "text": {
          "type": "string",
          "description": "The background text"
        },
        "details": {
          "type": "array",
          "description": "The background details",
          "items": {
            "$ref": "#/definitions/BackgroundDetails"
          }
        }
      }
    },
    "BackgroundDetails": {
      "type": "object",
      "description": "A background details element",
      "properties": {
        "name": {
          "type": "string",
          "description": "The background details name"
        },
        "value": {
          "type": "string",
          "description": "The background details value"
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "BackgroundVisualization": {
      "type": "object",
      "description": "The issue background visualization",
      "properties": {
        "visualization": {
          "type": "string",
          "description": "The background visualization content, in Adaptive Card format"
        },
        "origin": {
          "$ref": "#/definitions/Origin",
          "description": "The background visualization origin",
          "readOnly": true
        }
      },
      "required": [
        "visualization",
        "origin"
      ]
    },
    "FetchInvestigationResultParameters": {
      "type": "object",
      "description": "Parameters provided to get the investigation result",
      "properties": {
        "investigationId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "The unique identifier of the investigation"
        }
      },
      "required": [
        "investigationId"
      ]
    },
    "IngestionEndpoints": {
      "type": "object",
      "description": "The ingestion endpoints for an Azure Monitor Workspace.",
      "properties": {
        "metrics": {
          "type": "string",
          "description": "The metrics ingestion endpoint for this Azure Monitor Workspace.",
          "readOnly": true
        }
      }
    },
    "InvestigationMetadata": {
      "type": "object",
      "description": "Properties of the current investigation",
      "properties": {
        "id": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "The unique identifier of the investigation"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the investigation (in UTC)"
        }
      },
      "required": [
        "id",
        "createdAt"
      ]
    },
    "InvestigationResult": {
      "type": "object",
      "description": "Details about the investigation result",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of the investigation"
        },
        "origin": {
          "$ref": "#/definitions/Origin",
          "description": "The origin of the investigation"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the investigation (in UTC)"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The last update time of the investigation (in UTC)"
        },
        "result": {
          "type": "string",
          "description": "The result of this investigation"
        }
      },
      "required": [
        "id",
        "result"
      ]
    },
    "IssueProperties": {
      "type": "object",
      "description": "The issue properties",
      "properties": {
        "title": {
          "type": "string",
          "description": "The issue title"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The issue status"
        },
        "severity": {
          "type": "string",
          "description": "The issue severity"
        },
        "investigations": {
          "type": "array",
          "description": "The list of investigations in the issue",
          "items": {
            "$ref": "#/definitions/InvestigationMetadata"
          },
          "readOnly": true
        },
        "impactTime": {
          "type": "string",
          "format": "date-time",
          "description": "The issue impact time (in UTC)"
        },
        "investigationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of investigations in the issue",
          "readOnly": true
        },
        "background": {
          "$ref": "#/definitions/Background",
          "description": "The issue background information"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "title",
        "status",
        "severity",
        "investigations",
        "impactTime",
        "investigationsCount"
      ]
    },
    "IssuePropertiesUpdate": {
      "type": "object",
      "description": "The issue properties",
      "properties": {
        "title": {
          "type": "string",
          "description": "The issue title"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The issue status"
        },
        "severity": {
          "type": "string",
          "description": "The issue severity"
        },
        "impactTime": {
          "type": "string",
          "format": "date-time",
          "description": "The issue impact time (in UTC)"
        },
        "background": {
          "$ref": "#/definitions/Background",
          "description": "The issue background information"
        }
      }
    },
    "IssueResource": {
      "type": "object",
      "description": "The Issue resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IssueProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IssueResourceListResult": {
      "type": "object",
      "description": "The response of a IssueResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IssueResource items on this page",
          "items": {
            "$ref": "#/definitions/IssueResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IssueResourceUpdate": {
      "type": "object",
      "description": "The Issue resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IssuePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ListParameter": {
      "type": "object",
      "description": "Parameters for listing related entities",
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filter to apply on the operation. For example, to filter by relevance, use \"$filter=relevance eq 'Relevant'\". Note: this property is currently a placeholder and is not in use."
        }
      }
    },
    "MetricsContainer": {
      "type": "object",
      "description": "Properties of a metrics container.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the metrics container.",
          "readOnly": true
        },
        "limits": {
          "$ref": "#/definitions/MetricsLimits",
          "description": "Metrics limits."
        }
      }
    },
    "MetricsContainerResource": {
      "type": "object",
      "description": "Metrics container resource for an Azure Monitor Workspace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MetricsContainer",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MetricsContainerResourceListResult": {
      "type": "object",
      "description": "The response of a MetricsContainerResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MetricsContainerResource items on this page",
          "items": {
            "$ref": "#/definitions/MetricsContainerResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MetricsLimits": {
      "type": "object",
      "description": "Definition of Metrics limits",
      "properties": {
        "maxActiveTimeSeries": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum number of active time series allowed on the metrics containers."
        },
        "maxEventsPerMinute": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum rate (events per minute) that can be processed on the metrics containers."
        }
      }
    },
    "Origin": {
      "type": "object",
      "description": "Details about the origin of the entity - the source that added it to the issue",
      "properties": {
        "addedBy": {
          "type": "string",
          "description": "The ID of the origin - for example, in case of 'Manual', the user ID/app ID, and in case of 'Automatic', the name of the automatic system"
        },
        "addedByType": {
          "$ref": "#/definitions/AddedByType",
          "description": "The source of the origin - Manual or Automatic"
        }
      },
      "required": [
        "addedBy",
        "addedByType"
      ]
    },
    "PagedRelatedAlert": {
      "type": "object",
      "description": "Paged collection of RelatedAlert items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RelatedAlert items on this page",
          "items": {
            "$ref": "#/definitions/RelatedAlert"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PagedRelatedResource": {
      "type": "object",
      "description": "Paged collection of RelatedResource items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RelatedResource items on this page",
          "items": {
            "$ref": "#/definitions/RelatedResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Public network access is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Public network access is disabled."
          }
        ]
      }
    },
    "RelatedAlert": {
      "type": "object",
      "description": "Properties of an alert which is related to the issue",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The alert ID"
        },
        "relevance": {
          "$ref": "#/definitions/Relevance",
          "description": "The alerts's relevance status"
        },
        "origin": {
          "$ref": "#/definitions/Origin",
          "description": "The source that related the alert to the issue",
          "readOnly": true
        },
        "addedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time this relation was added to the issue (in UTC)",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The last update time of this relation (in UTC)",
          "readOnly": true
        }
      },
      "required": [
        "id",
        "relevance",
        "origin",
        "addedAt",
        "lastModifiedAt"
      ]
    },
    "RelatedAlerts": {
      "type": "object",
      "description": "A list of related alerts",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of related alerts",
          "items": {
            "$ref": "#/definitions/RelatedAlert"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "RelatedResource": {
      "type": "object",
      "description": "Properties of a resource which is related to the issue",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID"
        },
        "relevance": {
          "$ref": "#/definitions/Relevance",
          "description": "The resource's relevance status"
        },
        "origin": {
          "$ref": "#/definitions/Origin",
          "description": "The source that related the resource to the issue",
          "readOnly": true
        },
        "addedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time this relation was added to the issue (in UTC)",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The last update time of this relation (in UTC)",
          "readOnly": true
        }
      },
      "required": [
        "id",
        "relevance",
        "origin",
        "addedAt",
        "lastModifiedAt"
      ]
    },
    "RelatedResources": {
      "type": "object",
      "description": "A list of related resources",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of related resources",
          "items": {
            "$ref": "#/definitions/RelatedResource"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "Relevance": {
      "type": "string",
      "description": "The relevance status of the resource",
      "enum": [
        "None",
        "Relevant",
        "Irrelevant"
      ],
      "x-ms-enum": {
        "name": "Relevance",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No relevance status for the resource"
          },
          {
            "name": "Relevant",
            "value": "Relevant",
            "description": "The resource is relevant to the issue"
          },
          {
            "name": "Irrelevant",
            "value": "Irrelevant",
            "description": "The resource is irrelevant to the issue"
          }
        ]
      }
    },
    "Status": {
      "type": "string",
      "description": "The issue status",
      "enum": [
        "New",
        "InProgress",
        "Mitigated",
        "Closed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true,
        "values": [
          {
            "name": "New",
            "value": "New",
            "description": "The issue is new"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The issue is in progress"
          },
          {
            "name": "Mitigated",
            "value": "Mitigated",
            "description": "The issue is mitigated"
          },
          {
            "name": "Closed",
            "value": "Closed",
            "description": "The issue is closed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The issue is canceled"
          }
        ]
      }
    }
  },
  "parameters": {}
}
