{
  "swagger": "2.0",
  "info": {
    "title": "Edge Sites",
    "version": "2025-06-01",
    "description": "Azure Edge Sites Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Sites"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/serviceGroups/{servicegroupName}/providers/Microsoft.Edge/sites": {
      "get": {
        "operationId": "SitesByServiceGroup_ListByServiceGroup",
        "description": "list Site at SG scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "servicegroupName",
            "in": "path",
            "description": "The name of the service group",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SitesByServiceGroup_ListByServiceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesByServiceGroup_ListByServiceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{servicegroupName}/providers/Microsoft.Edge/sites/{siteName}": {
      "get": {
        "operationId": "SitesByServiceGroup_Get",
        "description": "Get Site at SG scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "servicegroupName",
            "in": "path",
            "description": "The name of the service group",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the site",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SitesByServiceGroup_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesByServiceGroup_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SitesByServiceGroup_CreateOrUpdate",
        "description": "create or update Site at SG scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "servicegroupName",
            "in": "path",
            "description": "The name of the service group",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the site",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The properties of the site",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Site' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Resource 'Site' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SitesByServiceGroup_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesByServiceGroup_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SitesByServiceGroup_Update",
        "description": "update Site at SG scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "servicegroupName",
            "in": "path",
            "description": "The name of the service group",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the site",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The properties of the site",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SitesByServiceGroup_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesByServiceGroup_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SitesByServiceGroup_Delete",
        "description": "delete Site at SG scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "servicegroupName",
            "in": "path",
            "description": "The name of the service group",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the site",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SitesByServiceGroup_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesByServiceGroup_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites": {
      "get": {
        "operationId": "SitesBySubscription_List",
        "description": "List Site resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List by Subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesBySubscription_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}": {
      "get": {
        "operationId": "SitesBySubscription_Get",
        "description": "Get a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Site Subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesBySubscription_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SitesBySubscription_CreateOrUpdate",
        "description": "Create a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Site' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Resource 'Site' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Site Subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesBySubscription_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SitesBySubscription_Update",
        "description": "Update a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Site Subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesBySubscription_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SitesBySubscription_Delete",
        "description": "Delete a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Site Subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/SitesBySubscription_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites": {
      "get": {
        "operationId": "Sites_ListByResourceGroup",
        "tags": [
          "Sites"
        ],
        "description": "List Site resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List by Site Subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sites_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}": {
      "get": {
        "operationId": "Sites_Get",
        "tags": [
          "Sites"
        ],
        "description": "Get a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Site - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sites_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Sites_CreateOrUpdate",
        "tags": [
          "Sites"
        ],
        "description": "Create a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Site' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Resource 'Site' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Site - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sites_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Sites_Update",
        "tags": [
          "Sites"
        ],
        "description": "Update a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Site - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sites_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Sites_Delete",
        "tags": [
          "Sites"
        ],
        "description": "Delete a Site",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "Name of Site resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Site - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sites_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AvailabilityStatus": {
      "type": "string",
      "description": "ResourceType availability status",
      "enum": [
        "ComingSoon",
        "Supported"
      ],
      "x-ms-enum": {
        "name": "AvailabilityStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "ComingSoon",
            "value": "ComingSoon",
            "description": "Coming soon if aggregation is going to come in future for the resource-type"
          },
          {
            "name": "Supported",
            "value": "Supported",
            "description": "Supported if aggregation is supported for the resource-type"
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Site": {
      "type": "object",
      "description": "Site as ARM Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SiteProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SiteAddressProperties": {
      "type": "object",
      "description": "Site address properties",
      "properties": {
        "streetAddress1": {
          "type": "string",
          "description": "First line of the street address"
        },
        "streetAddress2": {
          "type": "string",
          "description": "Second line of the street address"
        },
        "city": {
          "type": "string",
          "description": "City of the address"
        },
        "stateOrProvince": {
          "type": "string",
          "description": "State or province of the address"
        },
        "country": {
          "type": "string",
          "description": "Country of the address"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal or ZIP code of the address"
        }
      }
    },
    "SiteListResult": {
      "type": "object",
      "description": "The response of a Site list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Site items on this page",
          "items": {
            "$ref": "#/definitions/Site"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SiteProperties": {
      "type": "object",
      "description": "Site properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "displayName of Site resource"
        },
        "description": {
          "type": "string",
          "description": "Description of Site resource"
        },
        "siteAddress": {
          "$ref": "#/definitions/SiteAddressProperties",
          "description": "Physical address of the site"
        },
        "labels": {
          "type": "object",
          "description": "Key-value pairs for labeling the site resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of last operation",
          "readOnly": true
        }
      }
    },
    "SiteUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Site.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SiteUpdateProperties",
          "description": "The updatable properties of the Site."
        }
      }
    },
    "SiteUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Site.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "displayName of Site resource"
        },
        "description": {
          "type": "string",
          "description": "Description of Site resource"
        },
        "siteAddress": {
          "$ref": "#/definitions/SiteAddressProperties",
          "description": "Physical address of the site"
        },
        "labels": {
          "type": "object",
          "description": "Key-value pairs for labeling the site resource.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
