{
  "swagger": "2.0",
  "info": {
    "title": "AIGatewayClient",
    "version": "2026-09-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AIGatewayOperations"
    },
    {
      "name": "Operations"
    },
    {
      "name": "AiGatewayResources"
    },
    {
      "name": "AiGatewayWorkspaceResources"
    },
    {
      "name": "AiGatewayModelProviderResources"
    },
    {
      "name": "AiGatewayModelResources"
    },
    {
      "name": "AiGatewayToolServerResources"
    },
    {
      "name": "AiGatewayApiKeyResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApiManagement/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "AIGatewayOperations",
          "Operations"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.ApiManagement provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AI Gateway operations": {
            "$ref": "./examples/AIGatewayListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/aigateways": {
      "get": {
        "operationId": "AiGatewayResources_ListBySubscription",
        "tags": [
          "AiGatewayResources"
        ],
        "description": "List AiGatewayResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AI Gateways by subscription": {
            "$ref": "./examples/AiGatewayListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways": {
      "get": {
        "operationId": "AiGatewayResources_ListByResourceGroup",
        "tags": [
          "AiGatewayResources"
        ],
        "description": "List AiGatewayResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AI Gateways by resource group": {
            "$ref": "./examples/AiGatewayListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}": {
      "get": {
        "operationId": "AiGatewayResources_Get",
        "tags": [
          "AiGatewayResources"
        ],
        "description": "Get a AiGatewayResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an AI Gateway": {
            "$ref": "./examples/AiGatewayGet.json"
          }
        }
      },
      "put": {
        "operationId": "AiGatewayResources_CreateOrUpdate",
        "tags": [
          "AiGatewayResources"
        ],
        "description": "Create a AiGatewayResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the resource. Required for an update.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiGatewayResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayResource"
            }
          },
          "201": {
            "description": "Resource 'AiGatewayResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an AI Gateway": {
            "$ref": "./examples/AiGatewayCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AiGatewayResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiGatewayResources_Update",
        "tags": [
          "AiGatewayResources"
        ],
        "description": "Update a AiGatewayResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an AI Gateway": {
            "$ref": "./examples/AiGatewayUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AiGatewayResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AiGatewayResources_Delete",
        "tags": [
          "AiGatewayResources"
        ],
        "description": "Delete a AiGatewayResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an AI Gateway": {
            "$ref": "./examples/AiGatewayDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/apiKeys": {
      "get": {
        "operationId": "AiGatewayApiKeyResources_ListByAiGateway",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "List AiGatewayApiKeyResource resources by AiGatewayResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AI Gateway API keys": {
            "$ref": "./examples/AiGatewayApiKeyList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/apiKeys/{apiKeyName}": {
      "get": {
        "operationId": "AiGatewayApiKeyResources_Get",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Get a AiGatewayApiKeyResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an AI Gateway API key": {
            "$ref": "./examples/AiGatewayApiKeyGet.json"
          }
        }
      },
      "put": {
        "operationId": "AiGatewayApiKeyResources_CreateOrUpdate",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Create a AiGatewayApiKeyResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the resource. Required for an update.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiGatewayApiKeyResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyResource"
            }
          },
          "201": {
            "description": "Resource 'AiGatewayApiKeyResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an AI Gateway API key": {
            "$ref": "./examples/AiGatewayApiKeyCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AiGatewayApiKeyResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiGatewayApiKeyResources_Update",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Update a AiGatewayApiKeyResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an AI Gateway API key": {
            "$ref": "./examples/AiGatewayApiKeyUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AiGatewayApiKeyResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AiGatewayApiKeyResources_Delete",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Delete a AiGatewayApiKeyResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an AI Gateway API key": {
            "$ref": "./examples/AiGatewayApiKeyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/apiKeys/{apiKeyName}/listSecrets": {
      "post": {
        "operationId": "AiGatewayApiKeyResources_ListSecrets",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Returns primary and secondary key values.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayApiKeyValues"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AI Gateway API key secrets": {
            "$ref": "./examples/AiGatewayApiKeyListSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/apiKeys/{apiKeyName}/regeneratePrimaryKey": {
      "post": {
        "operationId": "AiGatewayApiKeyResources_RegeneratePrimaryKey",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Regenerates the primary API key value.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate the primary AI Gateway API key": {
            "$ref": "./examples/AiGatewayApiKeyRegeneratePrimaryKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/apiKeys/{apiKeyName}/regenerateSecondaryKey": {
      "post": {
        "operationId": "AiGatewayApiKeyResources_RegenerateSecondaryKey",
        "tags": [
          "AiGatewayApiKeyResources"
        ],
        "description": "Regenerates the secondary API key value.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the AiGatewayApiKeyResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate the secondary AI Gateway API key": {
            "$ref": "./examples/AiGatewayApiKeyRegenerateSecondaryKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces": {
      "get": {
        "operationId": "AiGatewayWorkspaceResources_ListByAiGateway",
        "tags": [
          "AiGatewayWorkspaceResources"
        ],
        "description": "List AiGatewayWorkspaceResource resources by AiGatewayResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AI Gateway workspaces": {
            "$ref": "./examples/AiGatewayWorkspaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}": {
      "get": {
        "operationId": "AiGatewayWorkspaceResources_Get",
        "tags": [
          "AiGatewayWorkspaceResources"
        ],
        "description": "Get a AiGatewayWorkspaceResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an AI Gateway workspace": {
            "$ref": "./examples/AiGatewayWorkspaceGet.json"
          }
        }
      },
      "put": {
        "operationId": "AiGatewayWorkspaceResources_CreateOrUpdate",
        "tags": [
          "AiGatewayWorkspaceResources"
        ],
        "description": "Create a AiGatewayWorkspaceResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the resource. Required for an update.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiGatewayWorkspaceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceResource"
            }
          },
          "201": {
            "description": "Resource 'AiGatewayWorkspaceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an AI Gateway workspace": {
            "$ref": "./examples/AiGatewayWorkspaceCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AiGatewayWorkspaceResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiGatewayWorkspaceResources_Update",
        "tags": [
          "AiGatewayWorkspaceResources"
        ],
        "description": "Update a AiGatewayWorkspaceResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayWorkspaceResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an AI Gateway workspace": {
            "$ref": "./examples/AiGatewayWorkspaceUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AiGatewayWorkspaceResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AiGatewayWorkspaceResources_Delete",
        "tags": [
          "AiGatewayWorkspaceResources"
        ],
        "description": "Delete a AiGatewayWorkspaceResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an AI Gateway workspace": {
            "$ref": "./examples/AiGatewayWorkspaceDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/modelProviders": {
      "get": {
        "operationId": "AiGatewayModelProviderResources_ListByWorkspace",
        "tags": [
          "AiGatewayModelProviderResources"
        ],
        "description": "List AiGatewayModelProviderResource resources by AiGatewayWorkspaceResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List model providers": {
            "$ref": "./examples/AiGatewayModelProviderList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/modelProviders/{modelProviderName}": {
      "get": {
        "operationId": "AiGatewayModelProviderResources_Get",
        "tags": [
          "AiGatewayModelProviderResources"
        ],
        "description": "Get a AiGatewayModelProviderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a model provider": {
            "$ref": "./examples/AiGatewayModelProviderGet.json"
          }
        }
      },
      "put": {
        "operationId": "AiGatewayModelProviderResources_CreateOrUpdate",
        "tags": [
          "AiGatewayModelProviderResources"
        ],
        "description": "Create a AiGatewayModelProviderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the resource. Required for an update.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiGatewayModelProviderResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderResource"
            }
          },
          "201": {
            "description": "Resource 'AiGatewayModelProviderResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Foundry model provider": {
            "$ref": "./examples/AiGatewayModelProviderCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AiGatewayModelProviderResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiGatewayModelProviderResources_Update",
        "tags": [
          "AiGatewayModelProviderResources"
        ],
        "description": "Update a AiGatewayModelProviderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelProviderResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a model provider": {
            "$ref": "./examples/AiGatewayModelProviderUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AiGatewayModelProviderResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AiGatewayModelProviderResources_Delete",
        "tags": [
          "AiGatewayModelProviderResources"
        ],
        "description": "Delete a AiGatewayModelProviderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a model provider": {
            "$ref": "./examples/AiGatewayModelProviderDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/modelProviders/{modelProviderName}/listCredentials": {
      "post": {
        "operationId": "AiGatewayModelProviderResources_ListCredentials",
        "tags": [
          "AiGatewayModelProviderResources"
        ],
        "description": "Gets credential metadata for a model provider. Secret values are not returned.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayCredentialValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List model provider credentials": {
            "$ref": "./examples/AiGatewayModelProviderListCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/modelProviders/{modelProviderName}/models": {
      "get": {
        "operationId": "AiGatewayModelResources_ListByModelProvider",
        "tags": [
          "AiGatewayModelResources"
        ],
        "description": "List AiGatewayModelResource resources by AiGatewayModelProviderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List models by provider": {
            "$ref": "./examples/AiGatewayModelList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/modelProviders/{modelProviderName}/models/{modelName}": {
      "get": {
        "operationId": "AiGatewayModelResources_Get",
        "tags": [
          "AiGatewayModelResources"
        ],
        "description": "Get a AiGatewayModelResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelName",
            "in": "path",
            "description": "The name of the AiGatewayModelResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an AI Gateway model": {
            "$ref": "./examples/AiGatewayModelGet.json"
          }
        }
      },
      "put": {
        "operationId": "AiGatewayModelResources_CreateOrUpdate",
        "tags": [
          "AiGatewayModelResources"
        ],
        "description": "Create a AiGatewayModelResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelName",
            "in": "path",
            "description": "The name of the AiGatewayModelResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the resource. Required for an update.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiGatewayModelResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResource"
            }
          },
          "201": {
            "description": "Resource 'AiGatewayModelResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an AI Gateway model": {
            "$ref": "./examples/AiGatewayModelCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AiGatewayModelResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiGatewayModelResources_Update",
        "tags": [
          "AiGatewayModelResources"
        ],
        "description": "Update a AiGatewayModelResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelName",
            "in": "path",
            "description": "The name of the AiGatewayModelResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayModelUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an AI Gateway model": {
            "$ref": "./examples/AiGatewayModelUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AiGatewayModelResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AiGatewayModelResources_Delete",
        "tags": [
          "AiGatewayModelResources"
        ],
        "description": "Delete a AiGatewayModelResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelProviderName",
            "in": "path",
            "description": "The name of the AiGatewayModelProviderResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "modelName",
            "in": "path",
            "description": "The name of the AiGatewayModelResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an AI Gateway model": {
            "$ref": "./examples/AiGatewayModelDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/models": {
      "get": {
        "operationId": "AiGatewayWorkspaceModelOperations_ListByWorkspace",
        "description": "Lists models from every model provider in an AI Gateway workspace.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "AI Gateway resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "Workspace resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayModelResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all models in a workspace": {
            "$ref": "./examples/AiGatewayWorkspaceModelsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/toolServers": {
      "get": {
        "operationId": "AiGatewayToolServerResources_ListByWorkspace",
        "tags": [
          "AiGatewayToolServerResources"
        ],
        "description": "List AiGatewayToolServerResource resources by AiGatewayWorkspaceResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List tool servers": {
            "$ref": "./examples/AiGatewayToolServerList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/toolServers/{toolServerName}": {
      "get": {
        "operationId": "AiGatewayToolServerResources_Get",
        "tags": [
          "AiGatewayToolServerResources"
        ],
        "description": "Get a AiGatewayToolServerResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "toolServerName",
            "in": "path",
            "description": "The name of the AiGatewayToolServerResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a tool server": {
            "$ref": "./examples/AiGatewayToolServerGet.json"
          }
        }
      },
      "put": {
        "operationId": "AiGatewayToolServerResources_CreateOrUpdate",
        "tags": [
          "AiGatewayToolServerResources"
        ],
        "description": "Create a AiGatewayToolServerResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "toolServerName",
            "in": "path",
            "description": "The name of the AiGatewayToolServerResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the resource. Required for an update.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AiGatewayToolServerResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerResource"
            }
          },
          "201": {
            "description": "Resource 'AiGatewayToolServerResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an MCP tool server": {
            "$ref": "./examples/AiGatewayToolServerCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AiGatewayToolServerResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AiGatewayToolServerResources_Update",
        "tags": [
          "AiGatewayToolServerResources"
        ],
        "description": "Update a AiGatewayToolServerResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "toolServerName",
            "in": "path",
            "description": "The name of the AiGatewayToolServerResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a tool server": {
            "$ref": "./examples/AiGatewayToolServerUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AiGatewayToolServerResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AiGatewayToolServerResources_Delete",
        "tags": [
          "AiGatewayToolServerResources"
        ],
        "description": "Delete a AiGatewayToolServerResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "toolServerName",
            "in": "path",
            "description": "The name of the AiGatewayToolServerResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "$ref": "#/parameters/If-Match"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a tool server": {
            "$ref": "./examples/AiGatewayToolServerDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/aigateways/{aiGatewayName}/workspaces/{workspaceName}/toolServers/{toolServerName}/listSecrets": {
      "post": {
        "operationId": "AiGatewayToolServerResources_ListSecrets",
        "tags": [
          "AiGatewayToolServerResources"
        ],
        "description": "Lists secret values configured on tool server endpoints.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "aiGatewayName",
            "in": "path",
            "description": "The name of the AiGatewayResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the AiGatewayWorkspaceResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "toolServerName",
            "in": "path",
            "description": "The name of the AiGatewayToolServerResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AiGatewayToolServerSecrets"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List tool server secrets": {
            "$ref": "./examples/AiGatewayToolServerListSecrets.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AiGatewayApiKeyCredential": {
      "type": "object",
      "description": "API key credentials for an upstream service.",
      "properties": {
        "headerName": {
          "type": "string",
          "description": "Name of the HTTP header that carries the API key."
        },
        "value": {
          "type": "string",
          "format": "password",
          "description": "Secret API key value. This value is not returned by read operations.",
          "x-ms-secret": true
        }
      },
      "required": [
        "headerName"
      ]
    },
    "AiGatewayApiKeyCredentialUpdate": {
      "type": "object",
      "description": "API key credentials for updating an upstream service.",
      "properties": {
        "headerName": {
          "type": "string",
          "description": "Name of the HTTP header that carries the API key."
        },
        "value": {
          "type": "string",
          "format": "password",
          "description": "Secret API key value.",
          "x-ms-secret": true
        }
      }
    },
    "AiGatewayApiKeyProperties": {
      "type": "object",
      "description": "Properties of an AI Gateway API key.",
      "properties": {
        "displayName": {
          "type": "string",
[...]
