{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.MessagingConnectors management service",
    "version": "2024-08-01-preview",
    "description": "Microsoft.MessagingConnectors Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ConnectorOperations"
    },
    {
      "name": "DataPreviewOperations"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.MessagingConnectors/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations List": {
            "$ref": "./examples/Operation_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/connectors": {
      "get": {
        "operationId": "ConnectorOperations_ListBySubscription",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "List Connector By Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector ListBySubscription": {
            "$ref": "./examples/BitCoinSourceConnector_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/locations/{location}/dataPreview/default/preview": {
      "post": {
        "operationId": "DataPreviewOperations_Preview",
        "tags": [
          "DataPreviewOperations"
        ],
        "description": "create one dataPreview task",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataPreviewProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataPreviewResults"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataPreview SqlServerSourceConnector": {
            "$ref": "./examples/DataPreview_SqlServerSourceConnector.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors": {
      "get": {
        "operationId": "ConnectorOperations_ListByResourceGroup",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "List Connector By ResourceGroup and Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector ListByResourceGroup": {
            "$ref": "./examples/BitCoinSourceConnector_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors/{name}": {
      "get": {
        "operationId": "ConnectorOperations_Get",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Gets an Connector instance for the specified subscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,78}[a-zA-Z0-9_]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector Get": {
            "$ref": "./examples/BitCoinSourceConnector_Get.json"
          },
          "ConfluentSourceConnector Get": {
            "$ref": "./examples/ConfluentSourceConnector_Get.json"
          },
          "CosmosDbSourceConnector Get": {
            "$ref": "./examples/CosmosDbSourceConnector_Get.json"
          },
          "GooglePubSubSourceConnector Get": {
            "$ref": "./examples/GooglePubSubSourceConnector_Get.json"
          },
          "KinesisSourceConnector Get": {
            "$ref": "./examples/KinesisSourceConnector_Get.json"
          },
          "MySqlSourceConnector Get": {
            "$ref": "./examples/MySqlSourceConnector_Get.json"
          },
          "PostgreSqlSourceConnector Get": {
            "$ref": "./examples/PostgreSqlSourceConnector_Get.json"
          },
          "SqlServerSourceConnector Get": {
            "$ref": "./examples/SqlServerSourceConnector_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectorOperations_CreateOrUpdate",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Create an Connector instance for the specified subscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,78}[a-zA-Z0-9_]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MessagingConnector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "201": {
            "description": "Resource 'MessagingConnector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector CreateOrUpdate": {
            "$ref": "./examples/BitCoinSourceConnector_CreateOrUpdate.json"
          },
          "ConfluentSourceConnector CreateOrUpdate": {
            "$ref": "./examples/ConfluentSourceConnector_CreateOrUpdate.json"
          },
          "CosmosDbSourceConnector CreateOrUpdate": {
            "$ref": "./examples/CosmosDbSourceConnector_CreateOrUpdate.json"
          },
          "GooglePubSubSourceConnector CreateOrUpdate": {
            "$ref": "./examples/GooglePubSubSourceConnector_CreateOrUpdate.json"
          },
          "KinesisSourceConnector CreateOrUpdate": {
            "$ref": "./examples/KinesisSourceConnector_CreateOrUpdate.json"
          },
          "MySqlSourceConnector CreateOrUpdate": {
            "$ref": "./examples/MySqlSourceConnector_CreateOrUpdate.json"
          },
          "PostgreSqlSourceConnector CreateOrUpdate": {
            "$ref": "./examples/PostgreSqlSourceConnector_CreateOrUpdate.json"
          },
          "SqlServerSourceConnector CreateOrUpdate": {
            "$ref": "./examples/SqlServerSourceConnector_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ConnectorOperations_UpdateTags",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Update Tags of Connector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,78}[a-zA-Z0-9_]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessagingConnectorTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector UpdateTags": {
            "$ref": "./examples/BitCoinSourceConnector_UpdateTags.json"
          },
          "ConfluentSourceConnector UpdateTags": {
            "$ref": "./examples/ConfluentSourceConnector_UpdateTags.json"
          },
          "CosmosDbSourceConnector UpdateTags": {
            "$ref": "./examples/CosmosDbSourceConnector_UpdateTags.json"
          },
          "GooglePubSubSourceConnector UpdateTags": {
            "$ref": "./examples/GooglePubSubSourceConnector_UpdateTags.json"
          },
          "KinesisSourceConnector UpdateTags": {
            "$ref": "./examples/KinesisSourceConnector_UpdateTags.json"
          },
          "MySqlSourceConnector UpdateTags": {
            "$ref": "./examples/MySqlSourceConnector_UpdateTags.json"
          },
          "PostgreSqlSourceConnector UpdateTags": {
            "$ref": "./examples/PostgreSqlSourceConnector_UpdateTags.json"
          },
          "SqlServerSourceConnector UpdateTags": {
            "$ref": "./examples/SqlServerSourceConnector_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectorOperations_Delete",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Delete an Connector instance for the specified subscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,78}[a-zA-Z0-9_]"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector Delete": {
            "$ref": "./examples/BitCoinSourceConnector_Delete.json"
          },
          "ConfluentSourceConnector Delete": {
            "$ref": "./examples/ConfluentSourceConnector_Delete.json"
          },
          "CosmosDbSourceConnector Delete": {
            "$ref": "./examples/CosmosDbSourceConnector_Delete.json"
          },
          "GooglePubSubSourceConnector Delete": {
            "$ref": "./examples/GooglePubSubSourceConnector_Delete.json"
          },
          "KinesisSourceConnector Delete": {
            "$ref": "./examples/KinesisSourceConnector_Delete.json"
          },
          "MySqlSourceConnector Delete": {
            "$ref": "./examples/MySqlSourceConnector_Delete.json"
          },
          "PostgreSqlSourceConnector Delete": {
            "$ref": "./examples/PostgreSqlSourceConnector_Delete.json"
          },
          "SqlServerSourceConnector Delete": {
            "$ref": "./examples/SqlServerSourceConnector_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors/{name}/pause": {
      "post": {
        "operationId": "ConnectorOperations_Pause",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Pause one Connector to paused status",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,78}[a-zA-Z0-9_]"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector Pause": {
            "$ref": "./examples/BitCoinSourceConnector_Pause.json"
          },
          "ConfluentSourceConnector Pause": {
            "$ref": "./examples/ConfluentSourceConnector_Pause.json"
          },
          "CosmosDbSourceConnector Pause": {
            "$ref": "./examples/CosmosDbSourceConnector_Pause.json"
          },
          "GooglePubSubSourceConnector Pause": {
            "$ref": "./examples/GooglePubSubSourceConnector_Pause.json"
          },
          "KinesisSourceConnector Pause": {
            "$ref": "./examples/KinesisSourceConnector_Pause.json"
          },
          "MySqlSourceConnector Pause": {
            "$ref": "./examples/MySqlSourceConnector_Pause.json"
          },
          "PostgreSqlSourceConnector Pause": {
            "$ref": "./examples/PostgreSqlSourceConnector_Pause.json"
          },
          "SqlServerSourceConnector Pause": {
            "$ref": "./examples/SqlServerSourceConnector_Pause.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors/{name}/resume": {
      "post": {
        "operationId": "ConnectorOperations_Resume",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Resume one Connector to running status",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,78}[a-zA-Z0-9_]"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BitCoinSourceConnector Resume": {
            "$ref": "./examples/BitCoinSourceConnector_Resume.json"
          },
          "ConfluentSourceConnector Resume": {
            "$ref": "./examples/ConfluentSourceConnector_Resume.json"
          },
          "CosmosDbSourceConnector Resume": {
            "$ref": "./examples/CosmosDbSourceConnector_Resume.json"
          },
          "GooglePubSubSourceConnector Resume": {
            "$ref": "./examples/GooglePubSubSourceConnector_Resume.json"
          },
          "KinesisSourceConnector Resume": {
            "$ref": "./examples/KinesisSourceConnector_Resume.json"
          },
          "MySqlSourceConnector Resume": {
            "$ref": "./examples/MySqlSourceConnector_Resume.json"
          },
          "PostgreSqlSourceConnector Resume": {
            "$ref": "./examples/PostgreSqlSourceConnector_Resume.json"
          },
          "SqlServerSourceConnector Resume": {
            "$ref": "./examples/SqlServerSourceConnector_Resume.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BitCoinSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for BitCoinSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "BitCoinSource"
    },
    "ConfluentSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for ConfluentSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "bootstrapServers": {
          "type": "string",
          "description": "bootstrapServers of the Confluent server."
        },
        "topic": {
          "type": "string",
          "description": "Topic of the Confluent."
        },
        "consumerGroup": {
          "type": "string",
          "description": "ConsumerGroup of the Confluent."
        },
        "autoOffsetReset": {
          "type": "string",
          "description": "AutoOffsetReset policy of the Confluent consume."
        },
        "user": {
          "type": "string",
          "description": "User of the Confluent."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password of the Confluent.",
          "x-ms-secret": true
        },
        "saslMechanism": {
          "$ref": "#/definitions/SaslMechanismForConfluent",
          "description": "Sasl mechanism of the confluent."
        },
        "securityProtocol": {
          "$ref": "#/definitions/SecurityProtocolForConfluent",
          "description": "Security protocol of the confluent."
        }
      },
      "required": [
        "bootstrapServers",
        "topic",
        "consumerGroup",
        "autoOffsetReset",
        "user",
        "password",
        "saslMechanism",
        "securityProtocol"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "ConfluentSource"
    },
    "ConnectorProperties": {
      "type": "object",
      "description": "Basic info for Connector",
      "properties": {
        "maxTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Max Tasks count of the Connector."
        },
        "valueConverter": {
          "$ref": "#/definitions/ConverterType",
          "description": "Type of the Connector."
        },
        "connectorDirection": {
          "$ref": "#/definitions/Direction",
          "description": "Direction of the Connector."
        },
        "connectorType": {
          "$ref": "#/definitions/ConnectorType",
          "description": "Type of the Connector."
        },
        "eventHubConfig": {
          "$ref": "#/definitions/EventHubConfig",
          "description": "connectionString of the EventHub."
        },
        "sourceDataFormat": {
          "$ref": "#/definitions/SourceDataFormat",
          "description": "Data format of the data source"
        },
        "connectorState": {
          "$ref": "#/definitions/ConnectorState",
          "description": "State of the MessagingConnector"
        }
      },
      "discriminator": "connectorType",
      "required": [
        "maxTasks",
        "valueConverter",
        "connectorType",
        "eventHubConfig"
      ]
    },
    "ConnectorProvisioningState": {
      "type": "string",
      "description": "Provisioning states of Connector ARM Resource",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ConnectorProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating State"
          }
        ]
      },
      "readOnly": true
    },
    "ConnectorState": {
      "type": "string",
      "description": "Business State of Connector",
      "enum": [
        "Unknown",
        "Creating",
        "Initializing",
        "Running",
        "Updating",
        "Degraded",
        "Stopped",
        "Paused",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ConnectorState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown State"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating State"
          },
          {
            "name": "Initializing",
            "value": "Initializing",
            "description": "Initializing State"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Running State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating State"
          },
          {
            "name": "Degraded",
            "value": "Degraded",
            "description": "Degraded State"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Stopped State"
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Paused State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting State"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed State"
          }
        ]
      }
    },
    "ConnectorType": {
      "type": "string",
      "description": "Enum of the type of Connector",
      "enum": [
        "Unknown",
        "GooglePubSubSource",
        "KinesisSource",
        "PostgreSqlSource",
        "SqlServerSource",
        "CosmosDbSource",
        "BitCoinSource",
        "KafkaSource",
        "ConfluentSource",
        "MySqlSource"
      ],
      "x-ms-enum": {
        "name": "ConnectorType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown source connector."
          },
          {
            "name": "GooglePubSubSource",
            "value": "GooglePubSubSource",
            "description": "Google pub sub source connector."
          },
          {
            "name": "KinesisSource",
            "value": "KinesisSource",
            "description": "Amazon kinesis source connector."
          },
          {
            "name": "PostgreSqlSource",
            "value": "PostgreSqlSource",
            "description": "Postgre sql source connector."
          },
          {
            "name": "SqlServerSource",
            "value": "SqlServerSource",
            "description": "Sql server source connector."
          },
          {
            "name": "CosmosDbSource",
            "value": "CosmosDbSource",
            "description": "Cosmos db source connector."
          },
          {
            "name": "BitCoinSource",
            "value": "BitCoinSource",
            "description": "BitCoin source connector."
          },
          {
            "name": "KafkaSource",
            "value": "KafkaSource",
            "description": "Kafka source connector."
          },
          {
            "name": "ConfluentSource",
            "value": "ConfluentSource",
            "description": "confluent source connector."
          },
          {
            "name": "MySqlSource",
            "value": "MySqlSource",
            "description": "mysql source connector."
          }
        ]
      }
    },
    "ConverterType": {
      "type": "string",
      "description": "Enum of the type of Converter",
      "enum": [
        "Unknown",
        "ByteArrayConverter",
        "StringConverter",
        "JsonConverter",
        "AvroConverter",
        "CsvConverter"
      ],
      "x-ms-enum": {
        "name": "ConverterType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown converter."
          },
          {
            "name": "ByteArrayConverter",
            "value": "ByteArrayConverter",
            "description": "This represents a converter for byte arrays format."
          },
          {
            "name": "StringConverter",
            "value": "StringConverter",
            "description": "This represents a converter for string format."
          },
          {
            "name": "JsonConverter",
            "value": "JsonConverter",
            "description": "This represents a converter for json format."
          },
          {
            "name": "AvroConverter",
            "value": "AvroConverter",
            "description": "This represents a converter for Avro format."
          },
          {
            "name": "CsvConverter",
            "value": "CsvConverter",
            "description": "This represents a converter for csv format."
          }
        ]
      }
    },
    "CosmosDbSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for CosmosDbSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "pollIntervalInMs": {
          "type": "integer",
          "format": "int32",
          "description": "PollIntervalInMs policy."
        },
        "cosmosEndpoint": {
          "type": "string",
          "description": "Endpoint of CosmosDB."
        },
        "databaseName": {
          "type": "string",
          "description": "DatabaseName for CosmosDB server."
        },
        "container": {
          "type": "string",
          "description": "Container for CosmosDB server."
        },
        "masterKey": {
          "type": "string",
          "format": "password",
          "description": "masterKey for CosmosDB server.",
          "x-ms-secret": true
        },
        "offsetPolicy": {
          "$ref": "#/definitions/OffsetPolicyForCosmosDB",
          "description": "useLatestOffset policy"
        }
      },
      "required": [
        "pollIntervalInMs",
        "cosmosEndpoint",
        "databaseName",
        "container",
        "masterKey",
        "offsetPolicy"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "CosmosDbSource"
    },
    "CsvDelimiters": {
      "type": "string",
      "description": "Delimiter for csv",
      "enum": [
        "Pipe",
        "Comma",
        "SemiColon",
        "Space",
        "Tab"
      ],
      "x-ms-enum": {
        "name": "CsvDelimiters",
        "modelAsString": true,
        "values": [
          {
            "name": "Pipe",
            "value": "Pipe",
            "description": "Pipe delimiter"
          },
          {
            "name": "Comma",
            "value": "Comma",
            "description": "Comma delimiter"
          },
          {
            "name": "SemiColon",
            "value": "SemiColon",
            "description": "SemiColon delimiter"
          },
          {
            "name": "Space",
            "value": "Space",
            "description": "Space delimiter"
          },
          {
            "name": "Tab",
            "value": "Tab",
            "description": "Tab delimiter"
          }
        ]
      }
    },
    "CsvHeaderTypes": {
      "type": "string",
      "description": "CsvHeader types",
      "enum": [
        "IncludeHeader",
        "ExcludeHeader"
      ],
      "x-ms-enum": {
        "name": "CsvHeaderTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "IncludeHeader",
            "value": "IncludeHeader",
            "description": "include CSV header"
          },
          {
            "name": "ExcludeHeader",
            "value": "ExcludeHeader",
            "description": "exclude CSV header"
          }
        ]
      }
    },
    "CsvSourceDataFormat": {
      "type": "object",
      "description": "CSV Source data format model",
      "properties": {
        "header": {
          "$ref": "#/definitions/CsvHeaderTypes",
          "description": "CSV header type"
        },
        "delimiter": {
          "$ref": "#/definitions/CsvDelimiters",
          "description": "CSV Delimiter"
        },
        "textCharset": {
          "type": "string",
          "description": "Charset supported by Java language"
        }
      },
      "required": [
        "header",
        "delimiter",
        "textCharset"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SourceDataFormat"
        }
      ],
      "x-ms-discriminator-value": "CSV"
    },
    "DataPreview": {
      "type": "object",
      "description": "A dataPreview resource Azure",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataPreviewProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DataPreviewProperties": {
      "type": "object",
      "description": "Properties of one DataPreview",
      "properties": {
        "connectorProperties": {
          "$ref": "#/definitions/ConnectorProperties",
          "description": "Properties of one Connector Source"
        },
        "dataRange": {
          "$ref": "#/definitions/DataRangeBaseConfig",
          "description": "DataRange for DataPreview"
        }
      },
      "required": [
        "connectorProperties",
        "dataRange"
      ]
    },
    "DataPreviewResults": {
      "type": "object",
      "description": "Properties of DataPreview results",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count of DataPreview results"
        },
        "results": {
          "type": "array",
          "description": "Content of DataPreview results",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "count",
        "results"
      ]
    },
    "DataRangeBaseConfig": {
      "type": "object",
      "description": "Base config for DataRange",
      "properties": {
        "type": {
          "$ref": "#/definitions/DataRangeType",
          "description": "type of dataRange"
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "DataRangeLimit": {
      "type": "object",
      "description": "DataRange by max records limit",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Max Limit for DataRange"
        }
      },
      "required": [
        "limit"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DataRangeBaseConfig"
        }
      ],
      "x-ms-discriminator-value": "Limit"
    },
    "DataRangeType": {
      "type": "string",
      "description": "Type of DataRange",
      "enum": [
        "Unknown",
        "Limit"
      ],
      "x-ms-enum": {
        "name": "DataRangeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown type"
          },
          {
            "name": "Limit",
            "value": "Limit",
            "description": "Max limit range type"
          }
        ]
      }
    },
    "Direction": {
      "type": "string",
      "description": "Enum of Directions of Connector",
      "enum": [
        "Unknown",
        "Source",
        "Sink"
      ],
      "x-ms-enum": {
        "name": "Direction",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown direction"
          },
          {
            "name": "Source",
            "value": "Source",
            "description": "Source Connector"
          },
          {
            "name": "Sink",
            "value": "Sink",
            "description": "Sink Connector"
          }
        ]
      }
    },
    "EventHubConfig": {
      "type": "object",
      "description": "Basic info for EventHub",
      "properties": {
        "namespaceHostName": {
          "type": "string",
          "description": "namespace of the EventHub."
        },
        "eventHubName": {
          "type": "string",
          "description": "name of the EventHub."
        },
        "connectionString": {
          "type": "string",
          "format": "password",
          "description": "connectionString of the EventHub.",
          "x-ms-secret": true
        }
      },
      "required": [
        "namespaceHostName",
        "eventHubName",
        "connectionString"
      ]
    },
    "GooglePubSubSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for GooglePubSubSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId for pubsub server."
        },
        "subscriptionName": {
          "type": "string",
          "description": "SubscriptionName for pubsub server."
        },
        "accountKey": {
          "type": "string",
          "format": "password",
          "description": "AccountKey for pubsub server.",
          "x-ms-secret": true
        }
      },
      "required": [
        "projectId",
        "subscriptionName",
        "accountKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "GooglePubSubSource"
    },
    "JsonSourceDataFormat": {
      "type": "object",
      "description": "JSON source data format model",
      "properties": {
        "textCharset": {
          "type": "string",
          "description": "Charset supported by Java language"
        }
      },
      "required": [
        "textCharset"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SourceDataFormat"
        }
      ],
      "x-ms-discriminator-value": "JSON"
    },
    "KinesisSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for KinesisSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "awsAccessKeyId": {
          "type": "string",
          "description": "AccessKeyId for AWS Kinesis Server."
        },
        "awsSecretAccessKey": {
          "type": "string",
          "format": "password",
          "description": "SecretAccessKey for AWS Kinesis Server.",
          "x-ms-secret": true
        },
        "awsKinesisRegion": {
          "type": "string",
          "description": "Region of AWS Kinesis Server."
        },
        "awsKinesisStreamName": {
          "type": "string",
          "description": "StreamName in AWS Kinesis Server."
        }
      },
      "required": [
        "awsAccessKeyId",
        "awsSecretAccessKey",
        "awsKinesisRegion",
        "awsKinesisStreamName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "KinesisSource"
    },
    "MessagingConnector": {
      "type": "object",
      "description": "A Connector resource Azure",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MessagingConnectorListResult": {
      "type": "object",
      "description": "The response of a MessagingConnector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MessagingConnector items on this page",
          "items": {
            "$ref": "#/definitions/MessagingConnector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MessagingConnectorTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in MessagingConnector resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "MySqlSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for MySqlSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "hostName": {
          "type": "string",
          "description": "HostName for MySql."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for MySql."
        },
        "databaseName": {
          "type": "string",
          "description": "DatabaseName for MySql."
        },
        "username": {
          "type": "string",
          "description": "Username for MySql."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for MySql.",
          "x-ms-secret": true
        },
        "serverId": {
          "type": "integer",
          "format": "int32",
          "description": "Server id for MySql."
        },
        "tableNames": {
          "type": "string",
          "description": "Tables used as source."
        }
      },
      "required": [
        "hostName",
        "port",
        "databaseName",
        "username",
        "password",
        "serverId",
        "tableNames"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "MySqlSource"
    },
    "OffsetPolicyForCosmosDB": {
      "type": "string",
      "description": "Enum of the OffsetPolicy for CosmosDB connector",
      "enum": [
        "UseLatestSourceOffset",
        "UseEarliestRecordedOffset"
      ],
      "x-ms-enum": {
        "name": "OffsetPolicyForCosmosDB",
        "modelAsString": true,
        "values": [
          {
            "name": "UseLatestSourceOffset",
            "value": "UseLatestSourceOffset",
            "description": "use the latest (most recent) source offset"
          },
          {
            "name": "UseEarliestRecordedOffset",
            "value": "UseEarliestRecordedOffset",
            "description": "use the earliest recorded offset"
          }
        ]
      }
    },
    "PostgreSqlSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for PostgreSqlSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "hostName": {
          "type": "string",
          "description": "HostName for PostgreSql Server."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for PostgreSql Server."
        },
        "databaseName": {
          "type": "string",
          "description": "DatabaseName for PostgreSql Server."
        },
        "username": {
          "type": "string",
          "description": "Username for PostgreSql Server."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for PostgreSql Server.",
          "x-ms-secret": true
        },
        "replicationSlotName": {
          "type": "string",
          "description": "ReplicationSlotName for PostgreSql Server."
        },
        "tableNames": {
          "type": "string",
          "description": "Tables used as source."
        }
      },
      "required": [
        "hostName",
        "port",
        "databaseName",
        "username",
        "password",
        "replicationSlotName",
        "tableNames"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "PostgreSqlSource"
    },
    "ResourceProperties": {
      "type": "object",
      "description": "Properties of one arm resource",
      "properties": {
        "connectorProperties": {
          "$ref": "#/definitions/ConnectorProperties",
          "description": "Properties of one Connector"
        },
        "provisioningState": {
          "$ref": "#/definitions/ConnectorProvisioningState",
          "description": "State of provisioning of the MessagingConnector ARM Resource",
          "readOnly": true
        }
      },
      "required": [
        "connectorProperties"
      ]
    },
    "SaslMechanismForConfluent": {
      "type": "string",
      "description": "Enum of the SaslMechanism for Confluent connector",
      "enum": [
        "SASL_PLAINTEXT",
        "PLAINTEXT",
        "SASL_SSL",
        "SSL"
      ],
      "x-ms-enum": {
        "name": "SaslMechanismForConfluent",
        "modelAsString": true,
        "values": [
          {
            "name": "SaslPlainText",
            "value": "SASL_PLAINTEXT",
            "description": "The SASL_PLAINTEXT sasl mechanism."
          },
          {
            "name": "PlainText",
            "value": "PLAINTEXT",
            "description": "The PLAINTEXT sasl mechanism."
          },
          {
            "name": "SaslSsl",
            "value": "SASL_SSL",
            "description": "The SASL_SSL sasl mechanism."
          },
          {
            "name": "Ssl",
            "value": "SSL",
            "description": "The SSL sasl mechanism."
          }
        ]
      }
    },
    "SecurityProtocolForConfluent": {
      "type": "string",
      "description": "Enum of the SecurityProtocol for Confluent connector",
      "enum": [
        "GSSAPI",
        "PLAIN",
        "SCRAM-SHA-256",
        "SCRAM-SHA-512",
        "OAUTHBEARER"
      ],
      "x-ms-enum": {
        "name": "SecurityProtocolForConfluent",
        "modelAsString": true,
        "values": [
          {
            "name": "GssApi",
            "value": "GSSAPI",
            "description": "The GSSAPI security protocol."
          },
          {
            "name": "Plain",
            "value": "PLAIN",
            "description": "The PLAIN security protocol."
          },
          {
            "name": "ScramSha256",
            "value": "SCRAM-SHA-256",
            "description": "The SCRAM-SHA-256 security protocol."
          },
          {
            "name": "ScramSha512",
            "value": "SCRAM-SHA-512",
            "description": "The SCRAM-SHA-512 security protocol."
          },
          {
            "name": "OAuthBearer",
            "value": "OAUTHBEARER",
            "description": "The OAUTHBEARER security protocol."
          }
        ]
      }
    },
    "SourceDataFormat": {
      "type": "object",
      "description": "Source data format base model",
      "properties": {
        "type": {
          "$ref": "#/definitions/SourceDataFormatTypes",
          "description": "Type of data format"
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "SourceDataFormatTypes": {
      "type": "string",
      "description": "Source data format Types",
      "enum": [
        "JSON",
        "CSV"
      ],
      "x-ms-enum": {
        "name": "SourceDataFormatTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "JSON",
            "value": "JSON",
            "description": "JSON format"
          },
          {
            "name": "CSV",
            "value": "CSV",
            "description": "CSV format"
          }
        ]
      }
    },
    "SqlServerSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for SqlServerSqlSourceConnector",
      "properties": {
        "connectorDirection": {
          "type": "string",
          "description": "Direction of the Source Connector.",
          "default": "Source",
          "enum": [
            "Unknown",
            "Source",
            "Sink"
          ],
          "x-ms-enum": {
            "name": "Direction",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Unknown direction"
              },
              {
                "name": "Source",
                "value": "Source",
                "description": "Source Connector"
              },
              {
                "name": "Sink",
                "value": "Sink",
                "description": "Sink Connector"
              }
            ]
          }
        },
        "hostName": {
          "type": "string",
          "description": "HostName for SqlServer."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for SqlServer."
        },
        "databaseName": {
          "type": "string",
          "description": "DatabaseName for SqlServer."
        },
        "username": {
          "type": "string",
          "description": "Username for SqlServer."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for SqlServer.",
          "x-ms-secret": true
        },
        "tableNames": {
          "type": "string",
          "description": "Tables used as source."
        }
      },
      "required": [
        "hostName",
        "port",
        "databaseName",
        "username",
        "password",
        "tableNames"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "SqlServerSource"
    }
  },
  "parameters": {}
}
