{
  "swagger": "2.0",
  "info": {
    "title": "MicrosoftScanningClient",
    "description": "Creates a Microsoft.Scanning management client.",
    "version": "2023-09-01"
  },
  "host": "purview.azure.com",
  "basePath": "/scan",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow."
    }
  },
  "x-ms-parameterized-host": {
    "hostTemplate": "{endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/endpoint"
      }
    ]
  },
  "paths": {
    "/azureKeyVaults/{azureKeyVaultName}": {
      "get": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "Gets azureKeyVault information",
        "operationId": "KeyVaultConnections_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "azureKeyVaultName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_Get": {
            "$ref": "./examples/KeyVaultConnections_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "Creates an instance of a azureKeyVault",
        "operationId": "KeyVaultConnections_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "azureKeyVaultName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_Create": {
            "$ref": "./examples/KeyVaultConnections_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "Deletes the azureKeyVault associated with the account",
        "operationId": "KeyVaultConnections_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "azureKeyVaultName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_Delete": {
            "$ref": "./examples/KeyVaultConnections_Delete.json"
          }
        }
      }
    },
    "/azureKeyVaults": {
      "get": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "List azureKeyVaults in account",
        "operationId": "KeyVaultConnections_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureKeyVaultList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_ListAll": {
            "$ref": "./examples/KeyVaultConnections_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/classificationrules/{classificationRuleName}": {
      "get": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Get a classification rule",
        "operationId": "ClassificationRules_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_Get": {
            "$ref": "./examples/ClassificationRules_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Creates or Updates a classification rule",
        "operationId": "ClassificationRules_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_CreateOrUpdate": {
            "$ref": "./examples/ClassificationRules_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Deletes a classification rule",
        "operationId": "ClassificationRules_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_Delete": {
            "$ref": "./examples/ClassificationRules_Delete.json"
          }
        }
      }
    },
    "/classificationrules": {
      "get": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "List classification rules in Account",
        "operationId": "ClassificationRules_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClassificationRuleList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_ListAll": {
            "$ref": "./examples/ClassificationRules_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/classificationrules/{classificationRuleName}/versions": {
      "get": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Lists the rule versions of a classification rule",
        "operationId": "ClassificationRules_ListVersionsByRuleName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClassificationRuleList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_ListVersionsByRuleName": {
            "$ref": "./examples/ClassificationRules_ListVersionsByRuleName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/classificationrules/{classificationRuleName}/versions/{classificationRuleVersion}:tag": {
      "post": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Sets Classification Action on a specific classification rule version.",
        "operationId": "ClassificationRules_TagClassificationVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "classificationRuleVersion",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "action",
            "required": true,
            "type": "string",
            "enum": [
              "Keep",
              "Delete"
            ],
            "x-ms-enum": {
              "name": "ClassificationAction",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ClassificationRules_TagClassificationVersion": {
            "$ref": "./examples/ClassificationRules_TagClassificationVersion.json"
          }
        }
      }
    },
    "/collections/{collectionName}/scans": {
      "get": {
        "tags": [
          "Collection"
        ],
        "description": "List scans of the collection",
        "operationId": "Scans_ListByCollection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "collectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanByCollectionList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_ListByCollection": {
            "$ref": "./examples/Scans_ListByCollection.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/credentials/{credentialName}": {
      "get": {
        "tags": [
          "Credential"
        ],
        "description": "Gets credential information",
        "operationId": "Credential_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "credentialName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_Get": {
            "$ref": "./examples/Credential_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Credential"
        ],
        "description": "Creates an instance of a credential",
        "operationId": "Credential_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "credentialName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_CreateOrUpdate": {
            "$ref": "./examples/Credential_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Credential"
        ],
        "description": "Deletes the credentials associated with the account",
        "operationId": "Credential_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "credentialName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_Delete": {
            "$ref": "./examples/Credential_Delete.json"
          }
        }
      }
    },
    "/credentials": {
      "get": {
        "tags": [
          "Credential"
        ],
        "description": "List credentials in account",
        "operationId": "Credential_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CredentialList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_ListAll": {
            "$ref": "./examples/Credential_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}": {
      "put": {
        "tags": [
          "DataSources"
        ],
        "description": "Creates or Updates a data source",
        "operationId": "DataSources_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_CreateOrUpdate": {
            "$ref": "./examples/DataSources_CreateOrUpdate.json"
          }
        }
      },
      "get": {
        "tags": [
          "DataSources"
        ],
        "description": "Get a data source",
        "operationId": "DataSources_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_Get": {
            "$ref": "./examples/DataSources_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataSources"
        ],
        "description": "Deletes a data source",
        "operationId": "DataSources_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_Delete": {
            "$ref": "./examples/DataSources_Delete.json"
          }
        }
      }
    },
    "/datasources": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "description": "List data sources in Data catalog",
        "operationId": "DataSources_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSourceList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_ListAll": {
            "$ref": "./examples/DataSources_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/filters/custom": {
      "get": {
        "tags": [
          "Filters"
        ],
        "description": "Get a filter",
        "operationId": "Filters_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Filters_Get": {
            "$ref": "./examples/Filters_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Filters"
        ],
        "description": "Creates or updates a filter",
        "operationId": "Filters_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Filters_CreateOrUpdate": {
            "$ref": "./examples/Filters_CreateOrUpdate.json"
          }
        }
      }
    },
    "/integrationruntimes": {
      "get": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Lists integration runtimes in an account.",
        "operationId": "IntegrationRuntimes_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_ListByAccount": {
            "$ref": "./examples/IntegrationRuntimes_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}": {
      "get": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Gets an integration runtime.",
        "operationId": "IntegrationRuntimes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_Get": {
            "$ref": "./examples/IntegrationRuntimes_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Deletes an integration runtime.",
        "operationId": "IntegrationRuntimes_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_Delete": {
            "$ref": "./examples/IntegrationRuntimes_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Create or update an instance of a integration runtime.",
        "operationId": "IntegrationRuntimes_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_CreateOrUpdate": {
            "$ref": "./examples/IntegrationRuntimes_CreateOrUpdate.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}/status": {
      "get": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Gets detailed status information for an integration runtime.",
        "operationId": "IntegrationRuntimes_Status",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeStatus"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_Status": {
            "$ref": "./examples/IntegrationRuntimes_Status.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:listAuthKeys": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Retrieves the authentication keys for an integration runtime.",
        "operationId": "IntegrationRuntimes_ListAuthKeys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeAuthKeys"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_ListAuthKeys": {
            "$ref": "./examples/IntegrationRuntimes_ListAuthKeys.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:regenerateAuthKey": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Regenerates the authentication key for an integration runtime.",
        "operationId": "IntegrationRuntimes_RegenerateAuthKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeRegenerateKeyParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeAuthKeys"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_RegenerateAuthKey": {
            "$ref": "./examples/IntegrationRuntimes_RegenerateAuthKey.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:disableInteractiveQuery": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Disables interactive querying.",
        "operationId": "IntegrationRuntimes_DisableInteractiveQuery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_DisableInteractiveQuery": {
            "$ref": "./examples/IntegrationRuntimes_DisableInteractiveQuery.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:enableInteractiveQuery": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Enables interactive querying.",
        "operationId": "IntegrationRuntimes_EnableInteractiveQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "description": "The request of enabling interactive query for integration runtime.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableInteractiveQueryForIntegrationRuntimeRequest"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "IntegrationRuntimes_EnableInteractiveQuery": {
            "$ref": "./examples/IntegrationRuntimes_EnableInteractiveQuery.json"
          }
        }
      }
    },
    "/managedvirtualnetworks": {
      "get": {
        "tags": [
          "ManagedVirtualNetworks"
        ],
        "description": "Lists managed virtual networks in an account",
        "operationId": "ManagedVirtualNetworks_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetworkList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedVirtualNetworks_ListByAccount": {
            "$ref": "./examples/ManagedVirtualNetworks_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managedvirtualnetworks/{managedVirtualNetworkName}": {
      "get": {
        "tags": [
          "ManagedVirtualNetworks"
        ],
        "description": "Gets a managed virtual network",
        "operationId": "ManagedVirtualNetworks_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedVirtualNetworks_Get": {
            "$ref": "./examples/ManagedVirtualNetworks_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagedVirtualNetworks"
        ],
        "description": "Create or update a managed virtual network",
        "operationId": "ManagedVirtualNetworks_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "description": "Managed virtual network resource definition.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedVirtualNetworks_CreateOrUpdate": {
            "$ref": "./examples/ManagedVirtualNetworks_CreateOrUpdate.json"
          }
        }
      }
    },
    "/managedvirtualnetworks/{managedVirtualNetworkName}/managedprivateendpoints": {
      "get": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Lists managed private endpoints for an account",
        "operationId": "ManagedPrivateEndpoints_ListPrivateEndpointsByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpointList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_ListPrivateEndpointsByAccount": {
            "$ref": "./examples/ManagedPrivateEndpoints_ListPrivateEndpointsByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managedvirtualnetworks/{managedVirtualNetworkName}/managedprivateendpoints/{managedPrivateEndpointName}": {
      "get": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Gets a managed private endpoint",
        "operationId": "ManagedPrivateEndpoints_GetPrivateEndpoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/managedPrivateEndpointName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_GetPrivateEndpoint": {
            "$ref": "./examples/ManagedPrivateEndpoints_GetPrivateEndpoint.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Deletes a managed private endpoint",
        "operationId": "ManagedPrivateEndpoints_DeletePrivateEndpoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/managedPrivateEndpointName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_DeletePrivateEndpoint": {
            "$ref": "./examples/ManagedPrivateEndpoints_DeletePrivateEndpoint.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Create or update a managed private endpoint",
        "operationId": "ManagedPrivateEndpoints_CreateOrUpdatePrivateEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/managedPrivateEndpointName"
          },
          {
            "description": "Managed private endpoint resource definition.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_CreateOrUpdatePrivateEndpoint": {
            "$ref": "./examples/ManagedPrivateEndpoints_CreateOrUpdatePrivateEndpoint.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}": {
      "put": {
        "tags": [
          "Scan"
        ],
        "description": "Creates an instance of a scan",
        "operationId": "Scans_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_CreateOrUpdate": {
            "$ref": "./examples/Scans_CreateOrUpdate.json"
          }
        }
      },
      "get": {
        "tags": [
          "Scan"
        ],
        "description": "Gets a scan information",
        "operationId": "Scans_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_Get": {
            "$ref": "./examples/Scans_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Scan"
        ],
        "description": "Deletes the scan associated with the data source",
        "operationId": "Scans_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_Delete": {
            "$ref": "./examples/Scans_Delete.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans": {
      "get": {
        "tags": [
          "Scan"
        ],
        "description": "List scans in data source",
        "operationId": "Scans_ListByDataSource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_ListByDataSource": {
            "$ref": "./examples/Scans_ListByDataSource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/runs/{runId}": {
      "put": {
        "tags": [
          "ScanResult"
        ],
        "description": "Runs the scan",
        "operationId": "ScanResult_RunScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scanLevel",
            "type": "string",
            "enum": [
              "Full",
              "Incremental"
            ],
            "x-ms-enum": {
              "name": "ScanLevelType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ScanResult_RunScan": {
            "$ref": "./examples/ScanResult_RunScan.json"
          }
        }
      },
      "get": {
        "tags": [
          "ScanResult"
        ],
        "description": "Get the status of the scan run with ingestion details",
        "operationId": "ScanResult_GetScanStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanResultWithIngestion"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanResult_GetScanStatus": {
            "$ref": "./examples/ScanResult_GetScanStatus.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/runs/{runId}:cancel": {
      "post": {
        "tags": [
          "ScanResult"
        ],
        "description": "Cancels a scan",
        "operationId": "ScanResult_CancelScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ScanResult_CancelScan": {
            "$ref": "./examples/ScanResult_CancelScan.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/runs": {
      "get": {
        "tags": [
          "ScanResult"
        ],
        "description": "Lists the scan history of a scan",
        "operationId": "ScanResult_ListScanHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanHistoryListWithIngestion"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanResult_ListScanHistory": {
            "$ref": "./examples/ScanResult_ListScanHistory.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/scanrulesets/{scanRulesetName}": {
      "get": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "Get a scan ruleset",
        "operationId": "ScanRulesets_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanRulesetName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_Get": {
            "$ref": "./examples/ScanRulesets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "Creates or Updates a scan ruleset",
        "operationId": "ScanRulesets_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanRulesetName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_CreateOrUpdate": {
            "$ref": "./examples/ScanRulesets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "Deletes a scan ruleset",
        "operationId": "ScanRulesets_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanRulesetName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_Delete": {
            "$ref": "./examples/ScanRulesets_Delete.json"
          }
        }
      }
    },
    "/scanrulesets": {
      "get": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "List scan rulesets in Data catalog",
        "operationId": "ScanRulesets_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScanRulesetList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_ListAll": {
            "$ref": "./examples/ScanRulesets_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/systemScanRulesets": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "List all system scan rulesets for an account",
        "operationId": "SystemScanRulesets_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SystemScanRulesetList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_ListAll": {
            "$ref": "./examples/SystemScanRulesets_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/systemScanRulesets/datasources/{dataSourceType}": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "Get a system scan ruleset for a data source",
        "operationId": "SystemScanRulesets_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceType",
            "required": true,
            "type": "string",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SystemScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_Get": {
            "$ref": "./examples/SystemScanRulesets_Get.json"
          }
        }
      }
    },
    "/systemScanRulesets/versions/{version}": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "Get a scan ruleset by version",
        "operationId": "SystemScanRulesets_GetByVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dataSourceType",
            "type": "string",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SystemScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_GetByVersion": {
            "$ref": "./examples/SystemScanRulesets_GetByVersion.json"
          }
        }
      }
    },
    "/systemScanRulesets/versions/latest": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "Get the latest version of a system scan ruleset",
        "operationId": "SystemScanRulesets_GetLatest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dataSourceType",
            "type": "string",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SystemScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_GetLatest": {
            "$ref": "./examples/SystemScanRulesets_GetLatest.json"
          }
        }
      }
    },
    "/systemScanRulesets/versions": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "List system scan ruleset versions in Data catalog",
        "operationId": "SystemScanRulesets_ListVersionsByDataSource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dataSourceType",
            "type": "string",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SystemScanRulesetList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_ListVersionsByDataSource": {
            "$ref": "./examples/SystemScanRulesets_ListVersionsByDataSource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/triggers/default": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "description": "Gets trigger information",
        "operationId": "Triggers_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Get": {
            "$ref": "./examples/Triggers_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Triggers"
        ],
        "description": "Creates an instance of a trigger",
        "operationId": "Triggers_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Create": {
            "$ref": "./examples/Triggers_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Triggers"
        ],
        "description": "Deletes the trigger associated with the scan",
        "operationId": "Triggers_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Delete": {
            "$ref": "./examples/Triggers_Delete.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/triggers/default:enable": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "description": "Enables a trigger",
        "operationId": "Triggers_Enable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Enable": {
            "$ref": "./examples/Triggers_Enable.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/triggers/default:disable": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "description": "Disables a trigger",
        "operationId": "Triggers_Disable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Disable": {
            "$ref": "./examples/Triggers_Disable.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureKeyVaultProperties": {
      "type": "object",
      "properties": {
        "baseUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ProxyResource": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource identifier.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The resource name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AzureKeyVault": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "allOf": [
            {
              "$ref": "#/definitions/AzureKeyVaultProperties"
            }
          ]
        }
      }
    },
    "ErrorModel": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorModel"
          }
        }
      }
    },
    "ErrorResponseModel": {
      "type": "object",
      "properties": {
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ]
        }
      }
    },
    "AzureKeyVaultList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureKeyVault"
          }
        },
        "nextLink": {
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ClassificationRule": {
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "kind": {
          "enum": [
            "System",
            "Custom"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassificationRuleType",
            "modelAsString": true
          }
        }
      },
      "discriminator": "kind"
    },
    "ClassificationRuleList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClassificationRule"
          }
        },
        "nextLink": {
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ErrorInfo": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorInfo"
          }
        }
      }
    },
    "OperationResponse": {
      "type": "object",
      "properties": {
        "scanResultId": {
          "format": "uuid",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "enum": [
            "Accepted",
            "InProgress",
            "TransientFailure",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OperationStatus",
            "modelAsString": true
          }
        },
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorInfo"
            }
          ]
        }
      }
    },
    "ScanByCollection": {
      "type": "object",
      "properties": {
        "collectionName": {
          "type": "string"
        },
        "dataSourceName": {
          "type": "string"
        },
        "dataSourceType": {
          "enum": [
            "None",
            "AzureSubscription",
            "AzureResourceGroup",
            "AzureSynapseWorkspace",
            "AzureSynapse",
            "AdlsGen1",
            "AdlsGen2",
            "AmazonAccount",
            "AmazonS3",
            "AmazonSql",
            "AzureCosmosDb",
            "AzureDataExplorer",
            "AzureFileService",
            "AzureSqlDatabase",
            "AmazonPostgreSql",
            "AzurePostgreSql",
            "SqlServerDatabase",
            "AzureSqlDatabaseManagedInstance",
            "AzureSqlDataWarehouse",
            "AzureMySql",
            "AzureStorage",
            "Teradata",
            "Oracle",
            "SapS4Hana",
            "SapEcc",
            "PowerBI"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataSourceType",
            "modelAsString": true
          }
        },
        "scanName": {
          "type": "string"
        }
      }
    },
    "ScanByCollectionList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanByCollection"
          }
        },
        "nextLink": {
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "Credential": {
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "kind": {
          "enum": [
            "AccountKey",
            "ServicePrincipal",
            "BasicAuth",
            "SqlAuth",
            "AmazonARN",
            "ConsumerKeyAuth",
            "DelegatedAuth",
            "ManagedIdentity"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "CredentialType",
            "modelAsString": true
          }
        }
      },
      "discriminator": "kind"
    },
    "CredentialList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Credential"
          }
        },
        "nextLink": {
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "Notification": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ScanDiagnostics": {
      "type": "object",
      "properties": {
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Notification"
          }
        },
        "exceptionCountMap": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true
        }
      }
    },
    "ScanResult": {
      "type": "object",
      "properties": {
        "assetsDiscovered": {
          "format": "int64",
          "type": "integer",
          "readOnly": true
        },
        "assetsClassified": {
          "format": "int64",
          "type": "integer",
          "readOnly": true
        },
        "queuedTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "pipelineStartTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "isErrorLogAvailable": {
          "type": "boolean",
          "readOnly": true
        },
        "parentId": {
          "type": "string",
          "readOnly": true
        },
        "ingestionJobId": {
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "resourceId": {
          "type": "string",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "readOnly": true
        },
        "diagnostics": {
          "allOf": [
            {
              "$ref": "#/definitions/ScanDiagnostics"
            }
          ],
          "readOnly": true
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "scanRulesetVersion": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "scanRulesetType": {
          "enum": [
            "Custom",
            "System"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanRulesetType",
            "modelAsString": true
          }
        },
        "scanLevelType": {
          "enum": [
            "Full",
            "Incremental"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanLevelType",
            "modelAsString": true
          }
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true
        },
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ],
          "readOnly": true
        },
        "runType": {
          "type": "string",
          "readOnly": true
        },
        "dataSourceType": {
          "enum": [
            "None",
            "Fabric",
            "AzureSubscription",
            "AzureResourceGroup",
            "AzureSynapseWorkspace",
            "AzureSynapse",
            "AdlsGen1",
            "AdlsGen2",
            "AmazonAccount",
            "AmazonS3",
            "AmazonSql",
            "AzureCosmosDb",
            "AzureDataExplorer",
            "AzureFileService",
            "AzureSqlDatabase",
            "ArcEnabledSqlServer",
            "AmazonPostgreSql",
            "AzurePostgreSql",
            "Databricks",
            "SqlServerDatabase",
            "AzureSqlDatabaseManagedInstance",
            "AzureSqlDataWarehouse",
            "AzureMySql",
            "Hdfs",
            "TableauServer",
            "AzureStorage",
            "Teradata",
            "Oracle",
            "PostgreSql",
            "AmazonRedShift",
            "DatabricksHms",
            "SapS4Hana",
            "SapEcc",
            "Snowflake",
            "PowerBI",
            "Trident",
            "Dataverse",
            "DatabricksUnityCatalog"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DataSourceType",
            "modelAsString": true
          }
        }
      }
    },
    "DiscoveryExecutionDetails": {
      "type": "object",
      "properties": {
        "discoveryStartTime": {
          "format": "date-time",
          "type": "string"
        },
        "discoveryEndTime": {
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "enum": [
            "Queued",
            "Running",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Delayed",
            "Throttled",
            "CompletedWithExceptions",
            "CompleteWithWarning"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ScanStatus",
            "modelAsString": true
          }
        },
        "statistics": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "isErrorLogAvailable": {
          "type": "boolean"
        }
      }
    },
    "IngestionExecutionDetails": {
      "type": "object",
      "properties": {
        "ingestionStartTime": {
          "format": "date-time",
          "type": "string"
        },
        "ingestionEndTime": {
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "enum": [
            "None",
            "Succeeded",
            "Queued",
            "InProgress",
            "SourceUnknown",
            "PartialSucceeded",
            "Failed",
            "Canceled",
            "Canceling"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IngestionPhaseStatus",
            "modelAsString": true
          }
        },
        "statistics": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "estimatedTimeRemainingInSeconds": {
          "format": "int64",
          "type": "integer"
        },
        "isErrorLogAvailable": {
          "type": "boolean"
        },
        "lastUpdatedAt": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ScanResultWithIngestion": {
      "type": "object",
      "properties": {
        "discoveryExecutionDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/DiscoveryExecutionDetails"
            }
          ],
          "readOnly": true
        },
        "ingestionExecutionDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/IngestionExecutionDetails"
            }
          ],
          "readOnly": true
        },
        "parentId": {
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "ingestionJobId": {
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "readOnly": true
        },
        "diagnostics": {
          "allOf": [
            {
              "$ref": "#/definitions/ScanDiagnostics"
            }
          ],
          "readOnly": true
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "scanRulesetVersion": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "scanRulesetType": {
          "enum": [
            "Custom",
            "System"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanRulesetType",
            "modelAsString": true
          }
        },
        "scanLevelType": {
          "enum": [
            "Full",
            "Incremental"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanLevelType",
            "modelAsString": true
          }
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true
        },
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ],
          "readOnly": true
        },
        "runType": {
          "type": "string",
          "readOnly": true
        },
        "dataSourceType": {
          "enum": [
            "None",
            "Fabric",
            "AzureSubscription",
            "AzureResourceGroup",
            "AzureSynapseWorkspace",
            "AzureSynapse",
            "AdlsGen1",
            "AdlsGen2",
            "AmazonAccount",
            "AmazonS3",
            "AmazonSql",
            "AzureCosmosDb",
            "AzureDataExplorer",
            "AzureFileService",
            "AzureSqlDatabase",
            "ArcEnabledSqlServer",
            "AmazonPostgreSql",
            "AzurePostgreSql",
            "Databricks",
            "SqlServerDatabase",
            "AzureSqlDatabaseManagedInstance",
            "AzureSqlDataWarehouse",
            "AzureMySql",
            "Hdfs",
            "TableauServer",
            "AzureStorage",
            "Teradata",
            "Oracle",
            "PostgreSql",
            "AmazonRedShift",
            "DatabricksHms",
            "SapS4Hana",
            "SapEcc",
            "Snowflake",
            "PowerBI",
            "Trident",
            "Dataverse",
            "DatabricksUnityCatalog"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DataSourceType",
            "modelAsString": true
          }
        }
      }
    },
    "ExtendedProperties": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string"
        },
        "resourceGroup": {
          "type": "string"
        }
      }
    },
    "ItemPath": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "extendedProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/ExtendedProperties"
            }
          ]
        }
      }
    },
    "QualifiedName": {
      "type": "object",
      "properties": {
        "typeName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "extendedProperties": {
          "allOf": [
            {
              "$ref": "#/definitions/ExtendedProperties"
            }
          ]
        }
      }
    },
    "DataSourceIdentifier": {
      "type": "object",
      "properties": {
        "itemPath": {
          "allOf": [
            {
              "$ref": "#/definitions/ItemPath"
            }
          ]
        },
        "qualifiedName": {
          "allOf": [
            {
              "$ref": "#/definitions/QualifiedName"
            }
          ]
        },
        "dataSourceName": {
          "type": "string"
        },
        "guid": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "Scan": {
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "kind": {
          "enum": [
            "AzureSubscriptionCredential",
            "AzureSubscriptionMsi",
            "AzureResourceGroupCredential",
            "AzureResourceGroupMsi",
            "AzureSynapseWorkspaceCredential",
            "AzureSynapseWorkspaceMsi",
            "AzureSynapseCredential",
            "AzureSynapseMsi",
            "AdlsGen1Credential",
            "AdlsGen1Msi",
            "AdlsGen2Credential",
            "AdlsGen2Msi",
            "AmazonAccountCredential",
            "AmazonS3Credential",
            "AmazonS3RoleARN",
            "AmazonSqlCredential",
            "AzureCosmosDbCredential",
            "AzureDataExplorerCredential",
            "AzureDataExplorerMsi",
            "AzureFileServiceCredential",
            "AzureSqlDatabaseCredential",
            "AzureSqlDatabaseMsi",
            "AzureSqlDatabaseNativeAuth",
            "ArcEnabledSqlServerCredential",
            "ArcEnabledSqlServerNativeAuth",
            "AmazonPostgreSqlCredential",
            "AzurePostgreSqlCredential",
            "DatabricksCredential",
            "SqlServerDatabaseCredential",
            "AzureSqlDatabaseManagedInstanceCredential",
            "AzureSqlDatabaseManagedInstanceMsi",
            "AzureSqlDatabaseManagedInstanceNativeAuth",
            "AzureSqlDataWarehouseCredential",
            "AzureSqlDataWarehouseMsi",
            "AzureMySqlCredential",
            "HdfsCredential",
            "AzureStorageCredential",
            "AzureStorageMsi",
            "TeradataTeradataCredential",
            "TeradataTeradataUserPass",
            "TeradataUserPass",
            "OracleOracleCredential",
            "OracleOracleUserPass",
            "DatabricksHmsCredential",
            "SapS4HanaSapS4HanaCredential",
            "SapS4HanaSapS4HanaUserPass",
            "SapEccSapEccCredential",
            "SapEccSapEccUserPass",
            "SnowflakeCredential",
            "PowerBICredential",
            "PowerBIDelegated",
            "PowerBIFpa",
            "PowerBIMsi",
            "FabricCredential",
            "FabricDelegated",
            "FabricFpa",
            "FabricMsi",
            "TridentCredential",
            "TridentDelegated",
            "TridentMsi",
            "DataverseCredential",
            "DataverseMsi"
          ],
          "type": "string",
          "description": "the properties of scan, vary by datasource type",
          "x-ms-enum": {
            "name": "ScanAuthorizationType",
            "modelAsString": true
          }
        },
        "scanResults": {
          "description": "scan results of this scan",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanResult"
          },
          "readOnly": true
        },
        "scanResultsWithIngestion": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanResultWithIngestion"
          },
          "readOnly": true
        },
        "scanId": {
          "type": "string"
[...]
