{
  "swagger": "2.0",
  "info": {
    "title": "MicrosoftScanningClient",
    "description": "Creates a Microsoft.Scanning management client.",
    "version": "2023-09-01"
  },
  "host": "purview.azure.com",
  "basePath": "/scan",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow."
    }
  },
  "x-ms-parameterized-host": {
    "hostTemplate": "{endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/endpoint"
      }
    ]
  },
  "paths": {
    "/azureKeyVaults/{azureKeyVaultName}": {
      "get": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "Gets azureKeyVault connection.",
        "operationId": "KeyVaultConnections_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "azureKeyVaultName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_Get": {
            "$ref": "./examples/KeyVaultConnections_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "Creates or replaces a connection to azureKeyVault.",
        "operationId": "KeyVaultConnections_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "azureKeyVaultName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/AzureKeyVault"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_CreateOrReplace": {
            "$ref": "./examples/KeyVaultConnections_CreateOrReplace.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "Deletes the azureKeyVault associated with the account.",
        "operationId": "KeyVaultConnections_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "azureKeyVaultName",
            "required": true,
            "type": "string",
            "description": "The name of the azureKeyVault connection to delete."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_Delete": {
            "$ref": "./examples/KeyVaultConnections_Delete.json"
          }
        }
      }
    },
    "/azureKeyVaults": {
      "get": {
        "tags": [
          "AzureKeyVaults"
        ],
        "description": "List azureKeyVaults in account.",
        "operationId": "KeyVaultConnections_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/AzureKeyVaultList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultConnections_ListAll": {
            "$ref": "./examples/KeyVaultConnections_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/classificationrules/{classificationRuleName}": {
      "get": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Get a classification rule.",
        "operationId": "ClassificationRules_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string",
            "description": "The name of the classification rule to retrieve."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_Get": {
            "$ref": "./examples/ClassificationRules_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Creates or replaces a classification rule.",
        "operationId": "ClassificationRules_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string",
            "description": "the classification rule name"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ClassificationRule"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_CreateOrReplace": {
            "$ref": "./examples/ClassificationRules_CreateOrReplace.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Deletes a classification rule.",
        "operationId": "ClassificationRules_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string",
            "description": "The name of the classification rule to delete."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_Delete": {
            "$ref": "./examples/ClassificationRules_Delete.json"
          }
        }
      }
    },
    "/classificationrules": {
      "get": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "List classification rules in Account.",
        "operationId": "ClassificationRules_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ClassificationRuleList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_ListAll": {
            "$ref": "./examples/ClassificationRules_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/classificationrules/{classificationRuleName}/versions": {
      "get": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Lists the rule versions of a classification rule.",
        "operationId": "ClassificationRules_ListVersionsByRuleName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string",
            "description": "The name of the classification rule to retrieve."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ClassificationRuleList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ClassificationRules_ListVersionsByRuleName": {
            "$ref": "./examples/ClassificationRules_ListVersionsByRuleName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/classificationrules/{classificationRuleName}/versions/{classificationRuleVersion}:tag": {
      "post": {
        "tags": [
          "ClassificationRules"
        ],
        "description": "Sets Classification Action on a specific classification rule version.",
        "operationId": "ClassificationRules_TagClassificationVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "classificationRuleName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "classificationRuleVersion",
            "required": true,
            "type": "integer",
            "description": "The version of the classification rule to retrieve.",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "action",
            "required": true,
            "type": "string",
            "description": "The action to take on the classification rule version.",
            "enum": [
              "Keep",
              "Delete"
            ],
            "x-ms-enum": {
              "name": "ClassificationAction",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ClassificationRules_TagClassificationVersion": {
            "$ref": "./examples/ClassificationRules_TagClassificationVersion.json"
          }
        }
      }
    },
    "/credentials/{credentialName}": {
      "get": {
        "tags": [
          "Credential"
        ],
        "description": "Gets credential information.",
        "operationId": "Credential_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "credentialName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_Get": {
            "$ref": "./examples/Credential_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Credential"
        ],
        "description": "Creates or replaces an instance of a credential.",
        "operationId": "Credential_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "credentialName",
            "required": true,
            "type": "string",
            "description": "The name of the credential to retrieve."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_CreateOrReplace": {
            "$ref": "./examples/Credential_CreateOrReplace.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Credential"
        ],
        "description": "Deletes the credentials associated with the account.",
        "operationId": "Credential_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "credentialName",
            "required": true,
            "type": "string",
            "description": "The name of the credential to delete."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_Delete": {
            "$ref": "./examples/Credential_Delete.json"
          }
        }
      }
    },
    "/credentials": {
      "get": {
        "tags": [
          "Credential"
        ],
        "description": "List credentials in account.",
        "operationId": "Credential_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CredentialList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Credential_ListAll": {
            "$ref": "./examples/Credential_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}": {
      "put": {
        "tags": [
          "DataSources"
        ],
        "description": "Creates or replaces a data source.",
        "operationId": "DataSources_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_CreateOrReplace": {
            "$ref": "./examples/DataSources_CreateOrReplace.json"
          }
        }
      },
      "get": {
        "tags": [
          "DataSources"
        ],
        "description": "Get a data source.",
        "operationId": "DataSources_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "The name of the data source to retrieve."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DataSource"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_Get": {
            "$ref": "./examples/DataSources_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataSources"
        ],
        "description": "Deletes a data source.",
        "operationId": "DataSources_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "The name of the data source to delete."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_Delete": {
            "$ref": "./examples/DataSources_Delete.json"
          }
        }
      }
    },
    "/datasources": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "description": "List data sources in Data catalog.",
        "operationId": "DataSources_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DataSourceList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "DataSources_ListAll": {
            "$ref": "./examples/DataSources_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/filters/custom": {
      "get": {
        "tags": [
          "Filters"
        ],
        "description": "Get a filter.",
        "operationId": "Filters_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "The name of the data source to retrieve."
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "The name of the scan to retrieve."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Filters_Get": {
            "$ref": "./examples/Filters_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Filters"
        ],
        "description": "Creates or replaces a filter.",
        "operationId": "Filters_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Filters_CreateOrReplace": {
            "$ref": "./examples/Filters_CreateOrReplace.json"
          }
        }
      }
    },
    "/integrationruntimes": {
      "get": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Lists integration runtimes in an account.",
        "operationId": "IntegrationRuntimes_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_ListByAccount": {
            "$ref": "./examples/IntegrationRuntimes_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}": {
      "get": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Gets an integration runtime.",
        "operationId": "IntegrationRuntimes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_Get": {
            "$ref": "./examples/IntegrationRuntimes_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Deletes an integration runtime.",
        "operationId": "IntegrationRuntimes_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_Delete": {
            "$ref": "./examples/IntegrationRuntimes_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Creates or replaces an instance of integration runtime.",
        "operationId": "IntegrationRuntimes_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntime"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_CreateOrReplace": {
            "$ref": "./examples/IntegrationRuntimes_CreateOrReplace.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}/status": {
      "get": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Gets detailed status information for an integration runtime.",
        "operationId": "IntegrationRuntimes_Status",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeStatus"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_Status": {
            "$ref": "./examples/IntegrationRuntimes_Status.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:listAuthKeys": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Retrieves the authentication keys for an integration runtime.",
        "operationId": "IntegrationRuntimes_ListAuthKeys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeAuthKeys"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_ListAuthKeys": {
            "$ref": "./examples/IntegrationRuntimes_ListAuthKeys.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:regenerateAuthKey": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Regenerates the authentication key for an integration runtime.",
        "operationId": "IntegrationRuntimes_RegenerateAuthKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName",
            "description": "The name of the integration runtime to retrieve."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeRegenerateKeyParameters",
              "description": "The request of regenerating auth key for integration runtime."
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/IntegrationRuntimeAuthKeys"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_RegenerateAuthKey": {
            "$ref": "./examples/IntegrationRuntimes_RegenerateAuthKey.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:disableInteractiveQuery": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Disables interactive querying.",
        "operationId": "IntegrationRuntimes_DisableInteractiveQuery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName",
            "description": "The name of the integration runtime to retrieve."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "IntegrationRuntimes_DisableInteractiveQuery": {
            "$ref": "./examples/IntegrationRuntimes_DisableInteractiveQuery.json"
          }
        }
      }
    },
    "/integrationruntimes/{integrationRuntimeName}:enableInteractiveQuery": {
      "post": {
        "tags": [
          "IntegrationRuntimes"
        ],
        "description": "Enables interactive querying.",
        "operationId": "IntegrationRuntimes_EnableInteractiveQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/integrationRuntimeName"
          },
          {
            "description": "The request of enabling interactive query for integration runtime.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableInteractiveQueryForIntegrationRuntimeRequest"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "IntegrationRuntimes_EnableInteractiveQuery": {
            "$ref": "./examples/IntegrationRuntimes_EnableInteractiveQuery.json"
          }
        }
      }
    },
    "/managedvirtualnetworks": {
      "get": {
        "tags": [
          "ManagedVirtualNetworks"
        ],
        "description": "Lists managed virtual networks in an account.",
        "operationId": "ManagedVirtualNetworks_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetworkList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedVirtualNetworks_ListByAccount": {
            "$ref": "./examples/ManagedVirtualNetworks_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managedvirtualnetworks/{managedVirtualNetworkName}": {
      "get": {
        "tags": [
          "ManagedVirtualNetworks"
        ],
        "description": "Gets a managed virtual network.",
        "operationId": "ManagedVirtualNetworks_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedVirtualNetworks_Get": {
            "$ref": "./examples/ManagedVirtualNetworks_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagedVirtualNetworks"
        ],
        "description": "Creates or replaces a managed virtual network.",
        "operationId": "ManagedVirtualNetworks_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "description": "Managed virtual network resource definition.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedVirtualNetwork"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedVirtualNetworks_CreateOrReplace": {
            "$ref": "./examples/ManagedVirtualNetworks_CreateOrReplace.json"
          }
        }
      }
    },
    "/managedvirtualnetworks/{managedVirtualNetworkName}/managedprivateendpoints": {
      "get": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Lists managed private endpoints under a managed virtual network.",
        "operationId": "ManagedPrivateEndpoints_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpointList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_ListByAccount": {
            "$ref": "./examples/ManagedPrivateEndpoints_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managedvirtualnetworks/{managedVirtualNetworkName}/managedprivateendpoints/{managedPrivateEndpointName}": {
      "get": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Gets a managed private endpoint.",
        "operationId": "ManagedPrivateEndpoints_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/managedPrivateEndpointName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_Get": {
            "$ref": "./examples/ManagedPrivateEndpoints_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Deletes a managed private endpoint.",
        "operationId": "ManagedPrivateEndpoints_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/managedPrivateEndpointName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_Delete": {
            "$ref": "./examples/ManagedPrivateEndpoints_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagedPrivateEndpoints"
        ],
        "description": "Creates or replaces a managed private endpoint.",
        "operationId": "ManagedPrivateEndpoints_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/managedVirtualNetworkName"
          },
          {
            "$ref": "#/parameters/managedPrivateEndpointName"
          },
          {
            "description": "Managed private endpoint resource definition.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_CreateOrReplace": {
            "$ref": "./examples/ManagedPrivateEndpoints_CreateOrReplace.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}": {
      "put": {
        "tags": [
          "Scan"
        ],
        "description": "Creates or replaces an instance of a scan.",
        "operationId": "Scans_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": " data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Scan"
            },
            "description": "The scan definition."
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_CreateOrReplace": {
            "$ref": "./examples/Scans_CreateOrReplace.json"
          }
        }
      },
      "get": {
        "tags": [
          "Scan"
        ],
        "description": "Gets a scan information.",
        "operationId": "Scans_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_Get": {
            "$ref": "./examples/Scans_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Scan"
        ],
        "description": "Deletes the scan associated with the data source.",
        "operationId": "Scans_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_Delete": {
            "$ref": "./examples/Scans_Delete.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans": {
      "get": {
        "tags": [
          "Scan"
        ],
        "description": "List scans in data source.",
        "operationId": "Scans_ListByDataSource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Scans_ListByDataSource": {
            "$ref": "./examples/Scans_ListByDataSource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/runs/{runId}": {
      "put": {
        "tags": [
          "ScanResult"
        ],
        "description": "Runs the scan.",
        "operationId": "ScanResult_RunScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "type": "string",
            "description": "run id"
          },
          {
            "in": "query",
            "name": "scanLevel",
            "type": "string",
            "description": "scan level",
            "enum": [
              "Full",
              "Incremental"
            ],
            "x-ms-enum": {
              "name": "ScanLevelType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ScanResult_RunScan": {
            "$ref": "./examples/ScanResult_RunScan.json"
          }
        }
      },
      "get": {
        "tags": [
          "ScanResult"
        ],
        "description": "Get the status of the scan run with ingestion details.",
        "operationId": "ScanResult_GetScanStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "type": "string",
            "description": "run id"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanResultWithIngestion"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanResult_GetScanStatus": {
            "$ref": "./examples/ScanResult_GetScanStatus.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/runs/{runId}:cancel": {
      "post": {
        "tags": [
          "ScanResult"
        ],
        "description": "Cancels a scan.",
        "operationId": "ScanResult_CancelScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "type": "string",
            "description": "run id"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ScanResult_CancelScan": {
            "$ref": "./examples/ScanResult_CancelScan.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/runs": {
      "get": {
        "tags": [
          "ScanResult"
        ],
        "description": "Lists the scan history of a scan.",
        "operationId": "ScanResult_ListScanHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanHistoryListWithIngestion"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanResult_ListScanHistory": {
            "$ref": "./examples/ScanResult_ListScanHistory.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/scanrulesets/{scanRulesetName}": {
      "get": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "Get a scan ruleset.",
        "operationId": "ScanRulesets_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanRulesetName",
            "required": true,
            "type": "string",
            "description": "scan ruleset name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_Get": {
            "$ref": "./examples/ScanRulesets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "Creates or replaces a scan ruleset.",
        "operationId": "ScanRulesets_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanRulesetName",
            "required": true,
            "type": "string",
            "description": "scan ruleset name"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_CreateOrReplace": {
            "$ref": "./examples/ScanRulesets_CreateOrReplace.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "Deletes a scan ruleset.",
        "operationId": "ScanRulesets_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanRulesetName",
            "required": true,
            "type": "string",
            "description": "scan rule set name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_Delete": {
            "$ref": "./examples/ScanRulesets_Delete.json"
          }
        }
      }
    },
    "/scanrulesets": {
      "get": {
        "tags": [
          "ScanRulesets"
        ],
        "description": "List scan rulesets in Data catalog.",
        "operationId": "ScanRulesets_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ScanRulesetList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "ScanRulesets_ListAll": {
            "$ref": "./examples/ScanRulesets_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/systemScanRulesets": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "List all system scan rulesets for an account.",
        "operationId": "SystemScanRulesets_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SystemScanRulesetList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_ListAll": {
            "$ref": "./examples/SystemScanRulesets_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/systemScanRulesets/datasources/{dataSourceType}": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "Get a system scan ruleset for a data source.",
        "operationId": "SystemScanRulesets_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceType",
            "required": true,
            "type": "string",
            "description": "data source type",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SystemScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_Get": {
            "$ref": "./examples/SystemScanRulesets_Get.json"
          }
        }
      }
    },
    "/systemScanRulesets/versions/{version}": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "Get a scan ruleset by version.",
        "operationId": "SystemScanRulesets_GetByVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dataSourceType",
            "type": "string",
            "description": "data source type",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SystemScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_GetByVersion": {
            "$ref": "./examples/SystemScanRulesets_GetByVersion.json"
          }
        }
      }
    },
    "/systemScanRulesets/versions/latest": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "Get the latest version of a system scan ruleset.",
        "operationId": "SystemScanRulesets_GetLatest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dataSourceType",
            "type": "string",
            "description": "data source type",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SystemScanRuleset"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_GetLatest": {
            "$ref": "./examples/SystemScanRulesets_GetLatest.json"
          }
        }
      }
    },
    "/systemScanRulesets/versions": {
      "get": {
        "tags": [
          "SystemScanRulesets"
        ],
        "description": "List system scan ruleset versions in Data catalog.",
        "operationId": "SystemScanRulesets_ListVersionsByDataSource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dataSourceType",
            "type": "string",
            "description": "data source type",
            "enum": [
              "None",
              "AzureSubscription",
              "AzureResourceGroup",
              "AzureSynapseWorkspace",
              "AzureSynapse",
              "AdlsGen1",
              "AdlsGen2",
              "AmazonAccount",
              "AmazonS3",
              "AmazonSql",
              "AzureCosmosDb",
              "AzureDataExplorer",
              "AzureFileService",
              "AzureSqlDatabase",
              "AmazonPostgreSql",
              "AzurePostgreSql",
              "SqlServerDatabase",
              "AzureSqlDatabaseManagedInstance",
              "AzureSqlDataWarehouse",
              "AzureMySql",
              "AzureStorage",
              "Teradata",
              "Oracle",
              "SapS4Hana",
              "SapEcc",
              "PowerBI"
            ],
            "x-ms-enum": {
              "name": "DataSourceType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SystemScanRulesetList"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "SystemScanRulesets_ListVersionsByDataSource": {
            "$ref": "./examples/SystemScanRulesets_ListVersionsByDataSource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/triggers/default": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "description": "Gets trigger information.",
        "operationId": "Triggers_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Get": {
            "$ref": "./examples/Triggers_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Triggers"
        ],
        "description": "Creates or replaces an instance of a trigger.",
        "operationId": "Triggers_CreateOrReplace",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_CreateOrReplace": {
            "$ref": "./examples/Triggers_CreateOrReplace.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Triggers"
        ],
        "description": "Deletes the trigger associated with the scan.",
        "operationId": "Triggers_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Delete": {
            "$ref": "./examples/Triggers_Delete.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/triggers/default:enable": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "description": "Enables a trigger.",
        "operationId": "Triggers_Enable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Enable": {
            "$ref": "./examples/Triggers_Enable.json"
          }
        }
      }
    },
    "/datasources/{dataSourceName}/scans/{scanName}/triggers/default:disable": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "description": "Disables a trigger.",
        "operationId": "Triggers_Disable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceName",
            "required": true,
            "type": "string",
            "description": "data source name"
          },
          {
            "in": "path",
            "name": "scanName",
            "required": true,
            "type": "string",
            "description": "scan name"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Scanning Service.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Disable": {
            "$ref": "./examples/Triggers_Disable.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureKeyVaultProperties": {
      "type": "object",
      "properties": {
        "baseUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ProxyResource": {
      "description": "The proxy resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource identifier.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The resource name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AzureKeyVault": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "allOf": [
            {
              "$ref": "#/definitions/AzureKeyVaultProperties"
            }
          ]
        }
      }
    },
    "ErrorModel": {
      "description": "The error model.",
      "type": "object",
      "properties": {
        "code": {
          "description": "A unique error code that identifies the specific error.",
          "type": "string"
        },
        "message": {
          "description": "A human-readable error message that provides more details about the error.",
          "type": "string"
        },
        "target": {
          "description": "The specific component that the error is associated with.",
          "type": "string"
        },
        "details": {
          "description": "An array of nested ErrorModel objects that provides additional error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorModel"
          }
        }
      }
    },
    "ErrorResponseModel": {
      "description": "The error response model.",
      "type": "object",
      "properties": {
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ]
        }
      }
    },
    "AzureKeyVaultList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Azure Key Vault connections.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureKeyVault"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        },
        "count": {
          "description": "The number of Azure Key Vault connections.",
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ClassificationRule": {
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "kind": {
          "enum": [
            "System",
            "Custom"
          ],
          "type": "string",
          "description": "The kind of classification rule.",
          "x-ms-enum": {
            "name": "ClassificationRuleType",
            "modelAsString": true
          }
        }
      },
      "discriminator": "kind"
    },
    "ClassificationRuleList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of classification rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClassificationRule"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        },
        "count": {
          "description": "The number of classification rules.",
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ErrorInfo": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "A unique error code that identifies the specific error."
        },
        "message": {
          "type": "string",
          "description": "A human-readable error message that provides more details about the error."
        },
        "target": {
          "type": "string",
          "description": "The specific component that the error is associated with."
        },
        "details": {
          "type": "array",
          "description": "error info detail",
          "items": {
            "$ref": "#/definitions/ErrorInfo"
          }
        }
      }
    },
    "OperationResponse": {
      "type": "object",
      "properties": {
        "scanResultId": {
          "format": "uuid",
          "type": "string",
          "description": "The scan result identifier."
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "description": "The start time of the operation."
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "description": "The end time of the operation"
        },
        "status": {
          "enum": [
            "Accepted",
            "InProgress",
            "TransientFailure",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "description": "operation status",
          "x-ms-enum": {
            "name": "OperationStatus",
            "modelAsString": true
          }
        },
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorInfo"
            }
          ]
        }
      }
    },
    "Credential": {
      "required": [
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "kind": {
          "enum": [
            "AccountKey",
            "ServicePrincipal",
            "BasicAuth",
            "SqlAuth",
            "AmazonARN",
            "ConsumerKeyAuth",
            "DelegatedAuth",
            "ManagedIdentity"
          ],
          "type": "string",
          "description": "The kind of credential.",
          "x-ms-enum": {
            "name": "CredentialType",
            "modelAsString": true
          }
        }
      },
      "discriminator": "kind"
    },
    "CredentialList": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Credential"
          }
        },
        "nextLink": {
          "description": "The link to the next page of results, if any remaining results exist.",
          "type": "string"
        },
        "count": {
          "description": "The number of credentials.",
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "Notification": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "notification message"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "notification code"
        }
      }
    },
    "ScanDiagnostics": {
      "type": "object",
      "properties": {
        "notifications": {
          "type": "array",
          "description": "notifications",
          "items": {
            "$ref": "#/definitions/Notification"
          }
        },
        "exceptionCountMap": {
          "type": "object",
          "description": "exception count map",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true
        }
      }
    },
    "ScanResult": {
      "type": "object",
      "properties": {
        "assetsDiscovered": {
          "format": "int64",
          "type": "integer",
          "readOnly": true,
          "description": "The number of assets discovered."
        },
        "assetsClassified": {
          "format": "int64",
          "type": "integer",
          "readOnly": true,
          "description": "The number of assets classified."
        },
        "queuedTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "description": "The time the scan was queued."
        },
        "pipelineStartTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "description": "The time the scan started."
        },
        "isErrorLogAvailable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Indicates whether the error log is available."
        },
        "parentId": {
          "type": "string",
          "readOnly": true,
          "description": "The parent scan result identifier."
        },
        "ingestionJobId": {
          "type": "string",
          "readOnly": true,
          "description": "The ingestion job identifier."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The scan result identifier."
        },
        "resourceId": {
          "type": "string",
          "readOnly": true,
          "description": "The resource identifier."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "The scan result status."
        },
        "diagnostics": {
          "allOf": [
            {
              "$ref": "#/definitions/ScanDiagnostics"
            }
          ],
          "readOnly": true,
          "description": "The scan diagnostics."
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "description": "The scan start time."
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "description": "The scan end time."
        },
        "scanRulesetVersion": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "The scan ruleset version."
        },
        "scanRulesetType": {
          "enum": [
            "Custom",
            "System"
          ],
          "type": "string",
          "description": "The scan ruleset type.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanRulesetType",
            "modelAsString": true
          }
        },
        "scanLevelType": {
          "enum": [
            "Full",
            "Incremental"
          ],
          "type": "string",
          "description": "scan level type",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanLevelType",
            "modelAsString": true
          }
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "The error message."
        },
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ],
          "readOnly": true
        },
        "runType": {
          "type": "string",
          "readOnly": true,
          "description": "The run type."
        },
        "dataSourceType": {
          "enum": [
            "None",
            "Fabric",
            "AzureSubscription",
            "AzureResourceGroup",
            "AzureSynapseWorkspace",
            "AzureSynapse",
            "AdlsGen1",
            "AdlsGen2",
            "AmazonAccount",
            "AmazonS3",
            "AmazonSql",
            "AzureCosmosDb",
            "AzureDataExplorer",
            "AzureFileService",
            "AzureSqlDatabase",
            "ArcEnabledSqlServer",
            "AmazonPostgreSql",
            "AzurePostgreSql",
            "Databricks",
            "SqlServerDatabase",
            "AzureSqlDatabaseManagedInstance",
            "AzureSqlDataWarehouse",
            "AzureMySql",
            "Hdfs",
            "TableauServer",
            "AzureStorage",
            "Teradata",
            "Oracle",
            "PostgreSql",
            "AmazonRedShift",
            "DatabricksHms",
            "SapS4Hana",
            "SapEcc",
            "Snowflake",
            "PowerBI",
            "Trident",
            "Dataverse",
            "DatabricksUnityCatalog"
          ],
          "type": "string",
          "description": "The data source type of scan result.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DataSourceType",
            "modelAsString": true
          }
        }
      }
    },
    "DiscoveryExecutionDetails": {
      "type": "object",
      "properties": {
        "discoveryStartTime": {
          "format": "date-time",
          "type": "string",
          "description": "The discovery start time."
        },
        "discoveryEndTime": {
          "format": "date-time",
          "type": "string",
          "description": "The discovery end time."
        },
        "status": {
          "enum": [
            "Queued",
            "Running",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Delayed",
            "Throttled",
            "CompletedWithExceptions",
            "CompleteWithWarning"
          ],
          "type": "string",
          "description": "The discovery status.",
          "x-ms-enum": {
            "name": "ScanStatus",
            "modelAsString": true
          }
        },
        "statistics": {
          "type": "object",
          "description": "The discovery statistics.",
          "additionalProperties": {
            "type": "object"
          }
        },
        "isErrorLogAvailable": {
          "type": "boolean",
          "description": "Indicates whether the error log is available."
        }
      }
    },
    "IngestionExecutionDetails": {
      "type": "object",
      "properties": {
        "ingestionStartTime": {
          "format": "date-time",
          "type": "string",
          "description": "The ingestion start time."
        },
        "ingestionEndTime": {
          "format": "date-time",
          "type": "string",
          "description": "The ingestion end time."
        },
        "status": {
          "enum": [
            "None",
            "Succeeded",
            "Queued",
            "InProgress",
            "SourceUnknown",
            "PartialSucceeded",
            "Failed",
            "Canceled",
            "Canceling"
          ],
          "type": "string",
          "description": "The ingestion status.",
          "x-ms-enum": {
            "name": "IngestionPhaseStatus",
            "modelAsString": true
          }
        },
        "statistics": {
          "type": "object",
          "description": "The ingestion statistics.",
          "additionalProperties": {
            "type": "object"
          }
        },
        "estimatedTimeRemainingInSeconds": {
          "format": "int64",
          "description": "The estimated time remaining in seconds.",
          "type": "integer"
        },
        "isErrorLogAvailable": {
          "type": "boolean",
          "description": "Indicates whether the error log is available."
        },
        "lastUpdatedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The last updated time."
        }
      }
    },
    "ScanResultWithIngestion": {
      "type": "object",
      "description": "The scan result with ingestion.",
      "properties": {
        "discoveryExecutionDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/DiscoveryExecutionDetails"
            }
          ],
          "readOnly": true,
          "description": "The discovery execution details."
        },
        "ingestionExecutionDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/IngestionExecutionDetails"
            }
          ],
          "readOnly": true,
          "description": "The ingestion execution details."
        },
        "parentId": {
          "type": "string",
          "readOnly": true,
          "description": "The parent scan result identifier."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The scan result identifier."
        },
        "ingestionJobId": {
          "type": "string",
          "description": "The ingestion job identifier."
        },
        "resourceId": {
          "type": "string",
          "readOnly": true,
          "description": "The resource identifier."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "The scan result status."
        },
        "diagnostics": {
          "allOf": [
            {
              "$ref": "#/definitions/ScanDiagnostics"
            }
          ],
          "readOnly": true,
          "description": "The scan diagnostics."
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "description": "The scan start time.",
          "readOnly": true
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "description": "The scan end time.",
          "readOnly": true
        },
        "scanRulesetVersion": {
          "format": "int32",
          "type": "integer",
          "description": "The scan ruleset version.",
          "readOnly": true
        },
        "scanRulesetType": {
          "enum": [
            "Custom",
            "System"
          ],
          "type": "string",
          "description": "The scan ruleset type.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanRulesetType",
            "modelAsString": true
          }
        },
        "scanLevelType": {
          "enum": [
            "Full",
            "Incremental"
          ],
          "type": "string",
          "description": "scan level type",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ScanLevelType",
            "modelAsString": true
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ],
          "readOnly": true,
          "description": "The error."
        },
        "runType": {
          "type": "string",
          "readOnly": true,
          "description": "The run type."
        },
        "dataSourceType": {
          "enum": [
            "None",
            "Fabric",
            "AzureSubscription",
            "AzureResourceGroup",
            "AzureSynapseWorkspace",
            "AzureSynapse",
            "AdlsGen1",
            "AdlsGen2",
            "AmazonAccount",
            "AmazonS3",
            "AmazonSql",
            "AzureCosmosDb",
            "AzureDataExplorer",
            "AzureFileService",
            "AzureSqlDatabase",
            "ArcEnabledSqlServer",
            "AmazonPostgreSql",
            "AzurePostgreSql",
            "Databricks",
            "SqlServerDatabase",
            "AzureSqlDatabaseManagedInstance",
            "AzureSqlDataWarehouse",
            "AzureMySql",
            "Hdfs",
            "TableauServer",
            "AzureStorage",
            "Teradata",
            "Oracle",
            "PostgreSql",
            "AmazonRedShift",
            "DatabricksHms",
            "SapS4Hana",
            "SapEcc",
            "Snowflake",
            "PowerBI",
            "Trident",
            "Dataverse",
            "DatabricksUnityCatalog"
          ],
          "type": "string",
[...]
