{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EncryptedTransport",
    "version": "2024-09-01-preview",
    "description": "Azure Encrypted Transport Management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EncryptedTransportAccountOperations"
    },
    {
      "name": "DeviceOperations"
    },
    {
      "name": "DeviceProfileOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.EncryptedTransport/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts": {
      "get": {
        "operationId": "EncryptedTransportAccountOperations_ListBySubscription",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "List EncryptedTransportAccount resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransportAccountOperations_ListBySubscription_MaximumSet": {
            "$ref": "./examples/EncryptedTransportAccountOperations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}/deviceProfiles": {
      "get": {
        "operationId": "DeviceProfileOperations_ListBySubscription",
        "tags": [
          "DeviceProfileOperations"
        ],
        "description": "List DeviceProfile resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceProfileOperations_ListBySubscription_MaximumSet": {
            "$ref": "./examples/DeviceProfileOperations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}/devices": {
      "get": {
        "operationId": "DeviceOperations_ListBySubscription",
        "tags": [
          "DeviceOperations"
        ],
        "description": "List Device resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceOperations_ListBySubscription_MaximumSet": {
            "$ref": "./examples/DeviceOperations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts": {
      "get": {
        "operationId": "EncryptedTransportAccountOperations_ListByResourceGroup",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "List EncryptedTransportAccount resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransportAccountOperations_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/EncryptedTransportAccountOperations_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}": {
      "get": {
        "operationId": "EncryptedTransportAccountOperations_Get",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Get a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransportAccountOperations_Get_MaximumSet": {
            "$ref": "./examples/EncryptedTransportAccountOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EncryptedTransportAccountOperations_CreateOrUpdate",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Create a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EncryptedTransportAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          },
          "201": {
            "description": "Resource 'EncryptedTransportAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransportAccountOperations_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/EncryptedTransportAccountOperations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EncryptedTransportAccountOperations_Update",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Update a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransportAccountOperations_Update_MaximumSet": {
            "$ref": "./examples/EncryptedTransportAccountOperations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "EncryptedTransportAccountOperations_Delete",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Delete a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransportAccountOperations_Delete_MaximumSet": {
            "$ref": "./examples/EncryptedTransportAccountOperations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}/deviceProfiles": {
      "get": {
        "operationId": "DeviceProfileOperations_ListByEncryptedTransportAccount",
        "tags": [
          "DeviceProfileOperations"
        ],
        "description": "List DeviceProfile resources by EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceProfileOperations_ListByEncryptedTransportAccount_MaximumSet": {
            "$ref": "./examples/DeviceProfileOperations_ListByEncryptedTransportAccount_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}/deviceProfiles/{deviceProfileName}": {
      "get": {
        "operationId": "DeviceProfileOperations_Get",
        "tags": [
          "DeviceProfileOperations"
        ],
        "description": "Get a DeviceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceProfileName",
            "in": "path",
            "description": "The device profile name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceProfileOperations_Get_MaximumSet": {
            "$ref": "./examples/DeviceProfileOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceProfileOperations_CreateOrUpdate",
        "tags": [
          "DeviceProfileOperations"
        ],
        "description": "Create a DeviceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceProfileName",
            "in": "path",
            "description": "The device profile name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeviceProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceProfile"
            }
          },
          "201": {
            "description": "Resource 'DeviceProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceProfile"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceProfileOperations_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/DeviceProfileOperations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DeviceProfileOperations_Update",
        "tags": [
          "DeviceProfileOperations"
        ],
        "description": "Update a DeviceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceProfileName",
            "in": "path",
            "description": "The device profile name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceProfileUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceProfileOperations_Update_MaximumSet": {
            "$ref": "./examples/DeviceProfileOperations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceProfileOperations_Delete",
        "tags": [
          "DeviceProfileOperations"
        ],
        "description": "Delete a DeviceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceProfileName",
            "in": "path",
            "description": "The device profile name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceProfileOperations_Delete_MaximumSet": {
            "$ref": "./examples/DeviceProfileOperations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}/devices": {
      "get": {
        "operationId": "DeviceOperations_ListByEncryptedTransportAccount",
        "tags": [
          "DeviceOperations"
        ],
        "description": "List Device resources by EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceOperations_ListByEncryptedTransportAccount_MaximumSet": {
            "$ref": "./examples/DeviceOperations_ListByEncryptedTransportAccount_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}/devices/{deviceName}": {
      "get": {
        "operationId": "DeviceOperations_Get",
        "tags": [
          "DeviceOperations"
        ],
        "description": "Get a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "The device name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceOperations_Get_MaximumSet": {
            "$ref": "./examples/DeviceOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceOperations_CreateOrUpdate",
        "tags": [
          "DeviceOperations"
        ],
        "description": "Create a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "The device name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Device' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "201": {
            "description": "Resource 'Device' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceOperations_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/DeviceOperations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DeviceOperations_Update",
        "tags": [
          "DeviceOperations"
        ],
        "description": "Update a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "The device name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceOperations_Update_MaximumSet": {
            "$ref": "./examples/DeviceOperations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceOperations_Delete",
        "tags": [
          "DeviceOperations"
        ],
        "description": "Delete a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "The device name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceOperations_Delete_MaximumSet": {
            "$ref": "./examples/DeviceOperations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.ipV4Address": {
      "type": "string",
      "description": "Represent an IP V4 address serialized as a string.\n\nIt is formatted as four 8-bit fields separated by periods."
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "BaseResourceProperties": {
      "type": "object",
      "description": "Properties for a base resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Device": {
      "type": "object",
      "description": "Device Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeviceListResult": {
      "type": "object",
      "description": "The response of a Device list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Device items on this page",
          "items": {
            "$ref": "#/definitions/Device"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceProfile": {
      "type": "object",
      "description": "Device Profile Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceProfileProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeviceProfileId": {
      "type": "string",
      "format": "arm-id",
      "description": "The device profile resource identifier of the selected device profile",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.EncryptedTransport/encryptedTransportAccounts/deviceProfiles"
          }
        ]
      }
    },
    "DeviceProfileListResult": {
      "type": "object",
      "description": "The response of a DeviceProfile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeviceProfile items on this page",
          "items": {
            "$ref": "#/definitions/DeviceProfile"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceProfileProperties": {
      "type": "object",
      "description": "Device Profile Properties",
      "properties": {
        "imageId": {
          "type": "string",
          "description": "File name such as eud-rhel94-image-0_1_0.vhd corresponding to the device profile image.",
          "pattern": "^[A-Za-z0-9-]+\\.[A-Za-z]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "profileName": {
          "type": "string",
          "description": "User-friendly name describing the device profile, for example 'Dell Image with Audio and Camera'.",
          "pattern": "^[a-zA-Z0-9 ]{3,60}$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "imageId",
        "profileName"
      ]
    },
    "DeviceProfilePropertiesUpdate": {
      "type": "object",
      "description": "Device Profile Properties"
    },
    "DeviceProfileUpdate": {
      "type": "object",
      "description": "Device Profile Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceProfilePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "DeviceProperties": {
      "type": "object",
      "description": "Device Properties",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "The serial number that identifies the end-user device. This must be unique at the account scope.",
          "pattern": "^[a-zA-Z0-9]{3,24}$",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "deviceProfileId": {
          "$ref": "#/definitions/DeviceProfileId",
          "description": "Reference to an existing device profile.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "macAddress": {
          "type": "string",
          "description": "The MAC address for the end user device.",
          "pattern": "^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "serialNumber",
        "deviceProfileId",
        "macAddress"
      ]
    },
    "DevicePropertiesUpdate": {
      "type": "object",
      "description": "Device Properties",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "The serial number that identifies the end-user device. This must be unique at the account scope.",
          "pattern": "^[a-zA-Z0-9]{3,24}$",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "macAddress": {
          "type": "string",
          "description": "The MAC address for the end user device.",
          "pattern": "^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "DeviceUpdate": {
      "type": "object",
      "description": "Device Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DevicePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "EncryptedTransportAccount": {
      "type": "object",
      "description": "Encrypted Transport Account Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EncryptedTransportAccountProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EncryptedTransportAccountBandwidthOptions": {
      "type": "string",
      "description": "Encrypted Transport Account bandwidth options in Mbps",
      "enum": [
        "Mbps500",
        "Mbps1000",
        "Mbps2000",
        "Mbps5000",
        "Mbps10000"
      ],
      "x-ms-enum": {
        "name": "EncryptedTransportAccountBandwidthOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Mbps500",
            "value": "Mbps500",
            "description": "500 Mbps"
          },
          {
            "name": "Mbps1000",
            "value": "Mbps1000",
            "description": "1000 Mbps"
          },
          {
            "name": "Mbps2000",
            "value": "Mbps2000",
            "description": "2000 Mbps"
          },
          {
            "name": "Mbps5000",
            "value": "Mbps5000",
            "description": "5000 Mbps"
          },
          {
            "name": "Mbps10000",
            "value": "Mbps10000",
            "description": "10000 Mbps"
          }
        ]
      }
    },
    "EncryptedTransportAccountListResult": {
      "type": "object",
      "description": "The response of a EncryptedTransportAccount list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EncryptedTransportAccount items on this page",
          "items": {
            "$ref": "#/definitions/EncryptedTransportAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EncryptedTransportAccountProperties": {
      "type": "object",
      "description": "Encrypted Transport Account Properties",
      "properties": {
        "wifiPsk": {
          "type": "string",
          "format": "password",
          "description": "Wi-Fi Pre-Shared Key as printable ASCII string",
          "pattern": "^[ -~ ]{8,64}$",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-secret": true
        },
        "subnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "Reference to an existing subnet in the customer's Azure virtual network",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bandwidth": {
          "$ref": "#/definitions/EncryptedTransportAccountBandwidthOptions",
          "description": "Bandwidth can only be 500, 1000, 2000, 5000, or 10000 Mbps",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "privateIpAddress": {
          "type": "array",
          "description": "Private IP address of the account, genearted by the service",
          "items": {
            "$ref": "#/definitions/Azure.Core.ipV4Address"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "wifiPsk",
        "subnetId",
        "bandwidth",
        "privateIpAddress"
      ]
    },
    "EncryptedTransportAccountPropertiesUpdate": {
      "type": "object",
      "description": "Encrypted Transport Account Properties",
      "properties": {
        "bandwidth": {
          "$ref": "#/definitions/EncryptedTransportAccountBandwidthOptions",
          "description": "Bandwidth can only be 500, 1000, 2000, 5000, or 10000 Mbps",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "EncryptedTransportAccountUpdate": {
      "type": "object",
      "description": "Encrypted Transport Account Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EncryptedTransportAccountPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning status of the resource",
      "enum": [
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Canceled",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning the resource is in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The change request has been accepted"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The change request has been canceled"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The change request has succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The change request has failed"
          }
        ]
      },
      "readOnly": true
    },
    "ResourceSkuType": {
      "type": "object",
      "description": "The base SKU resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU information of the resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "SubnetId": {
      "type": "string",
      "format": "arm-id",
      "description": "Subnet Resource Identifier of the subnet in the customer vnet",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/virtualNetworks/subnets"
          }
        ]
      }
    }
  },
  "parameters": {}
}
