{
  "swagger": "2.0",
  "info": {
    "title": "HanaManagementClient",
    "description": "The SAP HANA on Azure Management Client.",
    "version": "2017-11-03-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.HanaOnAzure/operations": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of SAP HANA management operations.",
        "x-ms-examples": {
          "List all HANA management operations supported by HANA RP": {
            "$ref": "./examples/HanaOperations_List.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/hanaInstances": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_List",
        "summary": "Gets a list of SAP HANA instances in the specified subscription.",
        "description": "Gets a list of SAP HANA instances in the specified subscription. The operations returns various properties of each SAP HANA on Azure instance.",
        "x-ms-examples": {
          "List all HANA instances in a subscription": {
            "$ref": "./examples/HanaInstances_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HanaInstancesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_ListByResourceGroup",
        "summary": "Gets a list of SAP HANA instances in the specified subscription and the resource group.",
        "description": "Gets a list of SAP HANA instances in the specified subscription and the resource group. The operations returns various properties of each SAP HANA on Azure instance.",
        "x-ms-examples": {
          "List all HANA instances in a resource group": {
            "$ref": "./examples/HanaInstances_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HanaInstancesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Get",
        "summary": "Gets properties of a SAP HANA instance.",
        "description": "Gets properties of a SAP HANA instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/HanaInstances_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HanaInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a SAP HANA instance.",
        "description": "Creates a SAP HANA instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/HanaInstances_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created HanaInstance",
            "schema": {
              "$ref": "#/definitions/HanaInstance"
            }
          },
          "201": {
            "description": "Creating HanaInstance",
            "schema": {
              "$ref": "#/definitions/HanaInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a SAP HANA instance.",
        "description": "Deletes a SAP HANA instance with the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/HanaInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted HanaInstance"
          },
          "202": {
            "description": "Deleting HanaInstance"
          },
          "204": {
            "description": "No HanaInstance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Update",
        "summary": "Patches the Tags field of a SAP HANA instance.",
        "description": "Patches the Tags field of a SAP HANA instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Update Tags field of a HANA instance": {
            "$ref": "./examples/HanaInstances_PatchTags.json"
          },
          "Delete Tags field of a HANA instance": {
            "$ref": "./examples/HanaInstances_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HanaInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/restart": {
      "post": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Restart",
        "x-ms-long-running-operation": true,
        "description": "The operation to restart a SAP HANA instance.",
        "x-ms-examples": {
          "Restart a HANA instance": {
            "$ref": "./examples/HanaInstances_Restart.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/start": {
      "post": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Start",
        "x-ms-long-running-operation": true,
        "description": "The operation to start a SAP HANA instance.",
        "x-ms-examples": {
          "Start a HANA instance": {
            "$ref": "./examples/HanaInstances_Start.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/shutdown": {
      "post": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "HanaInstances_Shutdown",
        "x-ms-long-running-operation": true,
        "description": "The operation to shutdown a SAP HANA instance.",
        "x-ms-examples": {
          "Shutdown a HANA instance": {
            "$ref": "./examples/HanaInstances_Shutdown.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_List",
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/SapMonitors_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Get",
        "summary": "Gets properties of a SAP monitor.",
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapMonitors_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a SAP monitor.",
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/SapMonitors_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created SapMonitor",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "201": {
            "description": "Creating SapMonitor",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a SAP monitor.",
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/SapMonitors_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted SapMonitor"
          },
          "202": {
            "description": "Deleting SapMonitor"
          },
          "204": {
            "description": "No SapMonitor to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Update",
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags.json"
          },
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    },
    "HanaInstancesListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HanaInstance"
          },
          "description": "The list of SAP HANA on Azure instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of HANA instances."
        }
      },
      "description": "The response from the List HANA Instances operation."
    },
    "HanaInstance": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HanaInstanceProperties",
          "description": "HANA instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "HANA instance info on Azure (ARM properties and HANA properties)"
    },
    "HanaInstanceProperties": {
      "properties": {
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Specifies the hardware settings for the HANA instance."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the HANA instance disks."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings for the HANA instance."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network settings for the HANA instance."
        },
        "hanaInstanceId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the HANA instance unique ID."
        },
        "powerState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "starting",
            "started",
            "stopping",
            "stopped",
            "restarting",
            "unknown"
          ],
          "x-ms-enum": {
            "name": "HanaInstancePowerStateEnum",
            "modelAsString": true
          },
          "description": "Resource power state"
        },
        "proximityPlacementGroup": {
          "readOnly": true,
          "type": "string",
          "description": "Resource proximity placement group"
        },
        "hwRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Hardware revision of a HANA instance"
        },
        "partnerNodeId": {
          "type": "string",
          "description": "ARM ID of another HanaInstance that will share a network with this HanaInstance"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "HanaProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the HanaInstance"
        }
      },
      "description": "Describes the properties of a HANA instance."
    },
    "HardwareProfile": {
      "properties": {
        "hardwareType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Cisco_UCS",
            "HPE"
          ],
          "x-ms-enum": {
            "name": "HanaHardwareTypeNamesEnum",
            "modelAsString": true
          },
          "description": "Name of the hardware type (vendor and/or their product name)"
        },
        "hanaInstanceSize": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "S72m",
            "S144m",
            "S72",
            "S144",
            "S192",
            "S192m",
            "S192xm",
            "S96",
            "S384",
            "S384m",
            "S384xm",
            "S384xxm",
            "S576m",
            "S576xm",
            "S768",
            "S768m",
            "S768xm",
            "S960m",
            "S224o",
            "S224m",
            "S224om",
            "S224oxm",
            "S224oxxm"
          ],
          "x-ms-enum": {
            "name": "HanaInstanceSizeNamesEnum",
            "modelAsString": true
          },
          "description": "Specifies the HANA instance SKU."
        }
      },
      "description": "Specifies the hardware settings for the HANA instance."
    },
    "Disk": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes."
        },
        "lun": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        }
      },
      "description": "Specifies the disk information fo the HANA instance"
    },
    "StorageProfile": {
      "properties": {
        "nfsIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "IP Address to connect to storage."
        },
        "osDisks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "description": "Specifies information about the operating system disk used by the hana instance."
        }
      },
      "description": "Specifies the storage settings for the HANA instance disks."
    },
    "OSProfile": {
      "properties": {
        "computerName": {
          "type": "string",
          "description": "Specifies the host OS name of the HANA instance."
        },
        "osType": {
          "readOnly": true,
          "type": "string",
          "description": "This property allows you to specify the type of the OS."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies version of operating system."
        },
        "sshPublicKey": {
          "type": "string",
          "description": "Specifies the SSH public key used to access the operating system."
        }
      },
      "description": "Specifies the operating system settings for the HANA instance."
    },
    "NetworkProfile": {
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpAddress"
          },
          "description": "Specifies the network interfaces for the HANA instance."
        },
        "circuitId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the circuit id for connecting to express route."
        }
      },
      "description": "Specifies the network settings for the HANA instance disks."
    },
    "IpAddress": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Specifies the IP address of the network interface."
        }
      },
      "description": "Specifies the IP address of the network interface."
    },
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of HANA operations"
        }
      },
      "description": "List of HANA operations"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service."
        },
        "display": {
          "$ref": "#/definitions/Display",
          "description": "Displayed HANA operation information"
        }
      },
      "description": "HANA operation information"
    },
    "Display": {
      "type": "object",
      "properties": {
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services."
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the “name” section."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views."
        },
        "origin": {
          "readOnly": true,
          "type": "string",
          "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'"
        }
      },
      "description": "Detailed HANA operation information"
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the HANA instance."
        }
      },
      "description": "Tags field of the HANA instance."
    },
    "MonitoringDetails": {
      "type": "object",
      "properties": {
        "hanaSubnet": {
          "type": "string",
          "description": "ARM ID of an Azure Subnet with access to the HANA instance."
        },
        "hanaHostname": {
          "type": "string",
          "description": "Hostname of the HANA Instance blade."
        },
        "hanaDbName": {
          "type": "string",
          "description": "Name of the database itself."
        },
        "hanaDbSqlPort": {
          "type": "integer",
          "description": "The port number of the tenant DB. Used to connect to the DB."
        },
        "hanaDbUsername": {
          "type": "string",
          "description": "Username for the HANA database to login to for monitoring"
        },
        "hanaDbPassword": {
          "type": "string",
          "description": "Password for the HANA database to login for monitoring"
        }
      },
      "description": "Details needed to monitor a Hana Instance"
    },
    "SapMonitorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SapMonitor"
          },
          "description": "The list of SAP monitors."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP monitors."
        }
      },
      "description": "The response from the List SAP monitors operation."
    },
    "SapMonitor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SapMonitorProperties",
          "description": "SAP monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
    },
    "SapMonitorProperties": {
      "properties": {
        "hanaSubnet": {
          "type": "string",
          "description": "Specifies the SAP monitor unique ID."
        },
        "hanaHostname": {
          "type": "string",
          "description": "Hostname of the HANA instance."
        },
        "hanaDbName": {
          "type": "string",
          "description": "Database name of the HANA instance."
        },
        "hanaDbSqlPort": {
          "type": "integer",
          "description": "Database port of the HANA instance."
        },
        "hanaDbUsername": {
          "type": "string",
          "description": "Database username of the HANA instance."
        },
        "hanaDbPassword": {
          "type": "string",
          "description": "Database password of the HANA instance."
        },
        "hanaDbPasswordKeyVaultUrl": {
          "type": "string",
          "description": "KeyVault URL link to the password for the HANA database."
        },
        "hanaDbCredentialsMsiId": {
          "type": "string",
          "description": "MSI ID passed by customer which has access to customer's KeyVault and to be assigned to the Collector VM."
        },
        "keyVaultId": {
          "type": "string",
          "description": "Key Vault ID containing customer's HANA credentials."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "HanaProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the HanaInstance"
        },
        "managedResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource group the SAP Monitor resources get deployed into."
        },
        "logAnalyticsWorkspaceArmId": {
          "readOnly": true,
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for monitoring"
        }
      },
      "description": "Describes the properties of a SAP monitor."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "HanaInstanceNameParameter": {
      "name": "hanaInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP HANA on Azure instance.",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorNameParameter": {
      "name": "sapMonitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    },
    "MonitoringParameter": {
      "name": "monitoringParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/MonitoringDetails"
      },
      "description": "Request body that only contains monitoring attributes",
      "x-ms-parameter-location": "method"
    },
    "HanaInstanceParameter": {
      "name": "hanaInstanceParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/HanaInstance"
      },
      "description": "Request body representing a HanaInstance",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorParameter": {
      "name": "sapMonitorParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SapMonitor"
      },
      "description": "Request body representing a SAP Monitor",
      "x-ms-parameter-location": "method"
    }
  }
}
