{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/connectionTypes/{connectionTypeName}": {
      "delete": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_Delete",
        "description": "Delete the connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connectiontype."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_Get",
        "description": "Retrieve the connectiontype identified by connectiontype name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connectiontype."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }		  
        }
      },
	  "put": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_CreateOrUpdate",
        "description": "Create a connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionTypeCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/connectionTypes": {
      "get": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_List",
        "description": "Retrieve a list of connectiontypes.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectionTypeListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
   },
  "definitions": {
    "ConnectionTypeCreateOrUpdateProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate if the connection type is global."
        },
        "fieldDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FieldDefinition"
          },
          "description": "Gets or sets the field definitions of the connection type."
        }
      },
      "required": [
        "fieldDefinitions"
      ],
      "description": "The properties of the create connection type."
    },
    "ConnectionTypeCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the connection type."
        },
        "properties": {
          "$ref": "#/definitions/ConnectionTypeCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the connection type."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update connection type operation."
    },
    "ConnectionTypeProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate if the connection type is global."
        },
        "fieldDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FieldDefinition"
          },
          "description": "Gets or sets the field definitions of the connection type."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the connection type."
    },
    "ConnectionType": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the connection type."
        },
        "properties": {
          "$ref": "#/definitions/ConnectionTypeProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the connection type."
        }
      },
      "description": "Definition of the connection type."
    },
    "ConnectionTypeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionType"
          },
          "description": "Gets or sets a list of connection types."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list connection type operation."
    },
	"FieldDefinition": {
      "properties": {
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the isEncrypted flag of the connection field definition."
        },
        "isOptional": {
          "type": "boolean",
          "description": "Gets or sets the isOptional flag of the connection field definition."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the connection field definition."
        }
      },
      "required": [
        "type"
      ],
      "description": "Definition of the connection fields."
    },
	"ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }	
      },
	  "description": "Error response of an operation failure"
    }
   },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
	  "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  }
}