{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}": {
      "delete": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_Delete",
        "description": "Delete the connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Delete an existing connection type": {
            "$ref": "../examples/connectionType/deleteConnectionType_Existing.json"
          },
          "Delete a non-existing connection type": {
            "$ref": "../examples/connectionType/deleteConnectionType_NonExisting.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connectiontype."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_Get",
        "description": "Retrieve the connectiontype identified by connectiontype name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Get connection type": {
            "$ref": "../examples/connectionType/getConnectionType.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connectiontype."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_CreateOrUpdate",
        "description": "Create a connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Create connection type": {
            "$ref": "../examples/connectionType/createConnectionType.json"
          },
          "Update connection type": {
            "$ref": "../examples/connectionType/updateExistingConnectionType.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "name": "connectionTypeCreateOrUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionTypeCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionType"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes": {
      "get": {
        "tags": [
          "ConnectionTypes"
        ],
        "operationId": "ConnectionTypes_ListByAutomationAccount",
        "description": "Retrieve a list of connectiontypes.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Get connection types, first 100": {
            "$ref": "../examples/connectionType/getAllConnectionTypes_First100.json"
          },
          "Get connection types, next 100": {
            "$ref": "../examples/connectionType/getAllConnectionTypes_Next100.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionTypeListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}