{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}": {
      "delete": {
        "tags": [
          "PsCredentials"
        ],
        "operationId": "PsCredentials_Delete",
        "description": "Delete the credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Delete an existing credential": {
            "$ref": "../examples/credential/deleteCredentialExisting.json"
          },
          "Delete a non-existing credential": {
            "$ref": "../examples/credential/deleteCredentialNonExisting.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of credential."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "PsCredentials"
        ],
        "operationId": "PsCredentials_Get",
        "description": "Retrieve the credential identified by credential name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Get a credential": {
            "$ref": "../examples/credential/getCredential.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of credential."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PsCredentials"
        ],
        "x-ms-client-name": "PSCredentials",
        "operationId": "PsCredentials_CreateOrUpdate",
        "description": "Create a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Create a credential": {
            "$ref": "../examples/credential/createCredential.json"
          },
          "Update a credential": {
            "$ref": "../examples/credential/updateCredential_createOrUpdate.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update credential operation."
          },
          {
            "name": "credentialCreateOrUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/CredentialCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update credential operation."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/Credential"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PsCredentials"
        ],
        "operationId": "PsCredentials_Update",
        "description": "Update a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "Update a credential": {
            "$ref": "../examples/credential/updateCredential_patch.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "credentialName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the Update credential operation."
          },
          {
            "name": "credentialUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/CredentialUpdateParameters"
            },
            "description": "The parameters supplied to the Update credential operation."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Credential"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials": {
      "get": {
        "tags": [
          "PsCredentials"
        ],
        "operationId": "PsCredentials_ListByAutomationAccount",
        "description": "Retrieve a list of credentials.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "x-ms-examples": {
          "List credentials by automation account, first 100": {
            "$ref": "../examples/credential/listCredentialsByAutomationAccount.json"
          },
          "List credentials by automation account, next 100": {
            "$ref": "../examples/credential/listCredentialsByAutomationAccount_next100_using_nextLink.json"
          }
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/CredentialListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "definitions": {},
    "parameters": {}
  }
}