{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/nodeConfigurations/{nodeConfigurationName}": {
      "delete": {
        "tags": [
          "NodeConfigurations"
        ],
        "operationId": "NodeConfigurations_Delete",
        "description": "Delete the Dsc node configurations by node configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node configuration name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "NodeConfigurations"
        ],
        "operationId": "NodeConfigurations_Get",
        "description": "Retrieve the Dsc node configurations by node configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node configuration name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "put": {
        "tags": [
          "NodeConfigurations"
        ],
        "operationId": "NodeConfigurations_CreateOrUpdate",
        "description": "Create the node configuration identified by node configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The create or update parameters for configuration."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DscNodeConfigurationCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for configuration."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/nodeConfigurations": {
      "get": {
        "tags": [
          "NodeConfigurations"
        ],
        "operationId": "NodeConfigurations_List",
        "description": "Retrieve a list of dsc node configurations.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfigurationListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
	"ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
	"DscConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the Dsc configuration."
        }
      },
      "description": "The Dsc configuration property associated with the entity."
    },
	"DscNodeConfigurationCreateOrUpdateParameters": {
      "properties": {
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        }
      },
      "required": [
        "source",
        "name",
        "configuration"
      ],
      "description": "The parameters supplied to the create or update node configuration operation."
    },
    "DscNodeConfiguration": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the node configuration name."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets creation time."
        },
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        }
      },
      "description": "Definition of the dsc node configuration."
    },
    "DscNodeConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeConfiguration"
          },
          "description": "Gets or sets a list of Dsc node configurations."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc nodeconfiguration."
        }
      },
      "description": "The dsc nodeconfiguration property associated with the entity."
    },
 	"ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }	
      },
	  "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
	  "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  }
}