{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}": {
      "delete": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Delete",
        "description": "Delete a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Delete a hybrid worker group": {
            "$ref": "../examples/hybridRunbookWorkerGroup/deleteHybridRunbookWorkerGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Automation account name."
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Get",
        "description": "Retrieve a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Get a hybrid worker group": {
            "$ref": "../examples/hybridRunbookWorkerGroup/hybridRunbookWorkerGroupGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Update",
        "description": "Update a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/HybridRunbookWorkerGroupUpdateParameters"
            },
            "description": "The hybrid runbook worker group"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups": {
      "get": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_ListByAutomationAccount",
        "description": "Retrieve a list of hybrid runbook worker groups.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "List hybrid worker groups by Automation Account": {
            "$ref": "../examples/hybridRunbookWorkerGroup/hybridRunbookWorkerGroupList.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/HybridRunbookWorkerGroupsListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}