{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}": {
      "delete": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Delete",
        "description": "Delete the job schedule identified by job schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Delete a job schedule": {
            "$ref": "../examples/jobSchedule/deleteJobSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Get",
        "description": "Retrieve the job schedule identified by job schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Get a job schedule": {
            "$ref": "../examples/jobSchedule/getJobSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Create",
        "description": "Create a job schedule.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Create a job schedule": {
            "$ref": "../examples/jobSchedule/createJobSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/JobScheduleCreateParameters"
            },
            "description": "The parameters supplied to the create job schedule operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules": {
      "get": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_ListByAutomationAccount",
        "description": "Retrieve a list of job schedules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "List all job schedules by automation account": {
            "$ref": "../examples/jobSchedule/listAllJobSchedulesByAutomationAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobScheduleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}