{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagementClient",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/octet-stream"
  ],
  "produces": [
    "application/json",
    "application/octet-stream"
  ],
  "paths": {
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules/{moduleName}/activities/{activityName}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "operationId": "Activities_Get",
        "description": "Retrieve the activity in the module identified by module name and activity name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/activityoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of module."
          },
          {
            "name": "activityName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of activity."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules/{moduleName}/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "operationId": "Activities_List",
        "description": "Retrieve a list of activities in the module identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/activityoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of module."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules/{name}": {
      "put": {
        "tags": [
          "Modules"
        ],
        "operationId": "Modules_CreateOrUpdate",
        "description": "Create the module identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The create or update parameters for module."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModuleCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for module."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Modules"
        ],
        "operationId": "Modules_Patch",
        "description": "Create the module identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The patch parameters for module."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModulePatchParameters"
            },
            "description": "The patch parameters for module."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules/{moduleName}": {
      "delete": {
        "tags": [
          "Modules"
        ],
        "operationId": "Modules_Delete",
        "description": "Delete the module by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The module name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Modules"
        ],
        "operationId": "Modules_Get",
        "description": "Retrieve the module identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The module name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules": {
      "get": {
        "tags": [
          "Modules"
        ],
        "operationId": "Modules_List",
        "description": "Retrieve a list of modules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules/{moduleName}/objectDataTypes/{typeName}/fields": {
      "get": {
        "tags": [
          "ObjectDataTypes"
        ],
        "operationId": "ObjectDataTypes_ListFieldsByModuleAndType",
        "description": "Retrieve a list of fields of a given type identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/objectdatatypeoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of module."
          },
          {
            "name": "typeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of type."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeFieldListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/objectDataTypes/{typeName}/fields": {
      "get": {
        "tags": [
          "ObjectDataTypes"
        ],
        "operationId": "ObjectDataTypes_ListFieldsByType",
        "description": "Retrieve a list of fields of a given type across all accessible modules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/objectdatatypeoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "typeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of type."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeFieldListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/modules/{moduleName}/types/{typeName}/fields": {
      "get": {
        "tags": [
          "TypeFields"
        ],
        "operationId": "TypeFields_List",
        "description": "Retrieve a list of fields of a given type identified by module name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/typefieldoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of module."
          },
          {
            "name": "typeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of type."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeFieldListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
   },
  "definitions": {
	"ActivityParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the activity parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter is required. If the value is false, the parameter is optional."
        },
        "isDynamic": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter is dynamic."
        },
        "position": {
          "type": "boolean",
          "description": "Gets or sets the position of the activity parameter."
        },
        "valueFromPipeline": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter can take values from the incoming pipeline objects. This setting is used if the cmdlet must access the complete input object. false indicates that the parameter cannot take values from the complete input object."
        },
        "valueFromPipelineByPropertyName": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter can be filled from a property of the incoming pipeline object that has the same name as this parameter. false indicates that the parameter cannot be filled from the incoming pipeline object property with the same name. "
        },
        "valueFromRemainingArguments": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the cmdlet parameter accepts all the remaining command-line arguments that are associated with this parameter in the form of an array. false if the cmdlet parameter does not accept all the remaining argument values."
        }
      },
      "description": "Definition of the activity parameter."
    },
    "ActivityParameterSet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter set."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameter"
          },
          "description": "Gets or sets the parameters of the activity parameter set."
        }
      },
      "description": "Definition of the activity parameter set."
    },
    "ActivityOutputType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity output type."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the activity output type."
        }
      },
      "description": "Definition of the activity output type."
    },
    "ActivityProperties": {
      "properties": {
        "definition": {
          "type": "string",
          "description": "Gets or sets the user name of the activity."
        },
        "parameterSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameterSet"
          },
          "description": "Gets or sets the parameter sets of the activity."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityOutputType"
          },
          "description": "Gets or sets the output types of the activity."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the activity."
    },
    "Activity": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity."
        },
        "properties": {
          "$ref": "#/definitions/ActivityProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the activity."
        }
      },
      "description": "Definition of the activity."
    },
    "ActivityListResult": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The Resource definition.",
      "x-ms-azure-resource": true
    },
	"ModuleCreateOrUpdateProperties": {
      "properties": {
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the module content link."
        }
      },
      "required": [
        "contentLink"
      ],
      "description": "The parameters supplied to the create or update module properties."
    },
    "ModuleCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module create properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update module operation."
    },
    "ModuleErrorInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      },
      "description": "Definition of the module error info type."
    },
    "ModuleProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets the isGlobal flag of the module."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the module."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the size in bytes of the module."
        },
        "activityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity count of the module."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the module.",
          "enum": [
            "Created",
            "Creating",
            "StartingImportModuleRunbook",
            "RunningImportModuleRunbook",
            "ContentRetrieved",
            "ContentDownloaded",
            "ContentValidated",
            "ConnectionTypeImported",
            "ContentStored",
            "ModuleDataStored",
            "ActivitiesStored",
            "ModuleImportRunbookComplete",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ModuleProvisioningState",
            "modelAsString": false
          }
        },
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the contentLink of the module."
        },
        "error": {
          "$ref": "#/definitions/ModuleErrorInfo",
          "description": "Gets or sets the error info of the module."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the module property type."
    },
    "Module": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the module type."
    },
    "ModuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Module"
          },
          "description": "Gets or sets a list of modules."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "Gets or sets the skip token."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list module operation."
    },
    "ModulePatchProperties": {
      "properties": {
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the module content link."
        }
      },
      "description": "The parameters supplied to the patch properties."
    },
    "ModulePatchParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModulePatchProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module patch properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the patch module operation."
    },
    "TypeField": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the field."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the field."
        }
      },
      "description": "Information about a field of a type."
    },
    "TypeFieldListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeField"
          },
          "description": "Gets or sets a list of fields."
        }
      },
      "description": "The response model for the list fields operation."
    },
	"ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
	"Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The Resource definition.",
      "x-ms-azure-resource": true
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  }
}