{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/content": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_GetContent",
        "description": "Retrieve the content of runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "put": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Create",
        "description": "Updates the runbook draft with runbookStream as its content.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook draft update parameters."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously."
          },
		  "200": {
            "description": "OK."
          },
		  "201": {
            "description": "Created"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Get",
        "description": "Retrieve the runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookDraft"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/publish": {
      "post": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Publish",
        "description": "Retrieve the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the publish runbook operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously."
          },
		  "200": {
            "description": "OK."
          },
		  "201": {
            "description": "Created"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/undoEdit": {
      "post": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_UndoEdit",
        "description": "Retrieve the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookDraftUndoEditResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/content": {
      "get": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_GetContent",
        "description": "Retrieve the content of runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}": {
	  "get": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_Get",
        "description": "Retrieve the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Runbook"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },  
      "put": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_CreateOrUpdate",
        "description": "Create the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunbookCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for runbook."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": ""
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_Update",
        "description": "Update the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunbookUpdateParameters"
            },
            "description": "The update parameters for runbook."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Runbook"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "delete": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_Delete",
        "description": "Delete the runbook by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks": {
      "get": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_List",
        "description": "Retrieve a list of runbooks.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/runbooks": {
      "get": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_ListByResourceGroup",
        "description": "Retrieve a list of runbooks within a given resource group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts/runbooks": {
      "get": {
        "tags": [
          "Runbooks"
        ],
        "operationId": "Runbooks_ListBySubscriptionId",
        "description": "Retrieve a list of runbooks within a given subscription.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunbookListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },	
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/testJob/streams/{jobStreamId}": {
      "get": {
        "tags": [
          "TestJobStreams"
        ],
        "operationId": "TestJobStreams_Get",
        "description": "Retrieve a test job streams identified by runbook name and stream id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "jobStreamId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job stream id."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobStream"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/testJob/streams": {
      "get": {
        "tags": [
          "TestJobStreams"
        ],
        "operationId": "Streams_ListByTestJob",
        "description": "Retrieve a list of test job streams identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobStreamListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/testJob": {
      "put": {
        "tags": [
          "TestJobs"
        ],
        "operationId": "TestJobs_Create",
        "description": "Create a test job of the runbook.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create test job operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestJobCreateParameters"
            },
            "description": "The parameters supplied to the create test job operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TestJob"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "TestJobs"
        ],
        "operationId": "TestJobs_Get",
        "description": "Retrieve the test job for the specified runbook.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TestJob"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/testJob/resume": {
      "post": {
        "tags": [
          "TestJobs"
        ],
        "operationId": "TestJobs_Resume",
        "description": "Resume the test job.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/testJob/stop": {
      "post": {
        "tags": [
          "TestJobs"
        ],
        "operationId": "TestJobs_Stop",
        "description": "Stop the test job.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}/draft/testJob/suspend": {
      "post": {
        "tags": [
          "TestJobs"
        ],
        "operationId": "TestJobs_Suspend",
        "description": "Suspend the test job.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RunbookParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the runbook parameter type."
    },
    "RunbookDraft": {
      "properties": {
        "inEdit": {
          "type": "boolean",
          "description": "Gets or sets whether runbook is in edit mode."
        },
        "draftContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the draft runbook content link."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the runbook draft."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the runbook draft."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook draft parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        }
      },
      "description": "Definition of the runbook type."
    },
    "RunbookDraftUndoEditResult": {
      "properties": {
        "statusCode": {
          "type": "string",
          "enum": [
            "Continue",
            "SwitchingProtocols",
            "OK",
            "Created",
            "Accepted",
            "NonAuthoritativeInformation",
            "NoContent",
            "ResetContent",
            "PartialContent",
            "MultipleChoices",
            "Ambiguous",
            "MovedPermanently",
            "Moved",
            "Found",
            "Redirect",
            "SeeOther",
            "RedirectMethod",
            "NotModified",
            "UseProxy",
            "Unused",
            "TemporaryRedirect",
            "RedirectKeepVerb",
            "BadRequest",
            "Unauthorized",
            "PaymentRequired",
            "Forbidden",
            "NotFound",
            "MethodNotAllowed",
            "NotAcceptable",
            "ProxyAuthenticationRequired",
            "RequestTimeout",
            "Conflict",
            "Gone",
            "LengthRequired",
            "PreconditionFailed",
            "RequestEntityTooLarge",
            "RequestUriTooLong",
            "UnsupportedMediaType",
            "RequestedRangeNotSatisfiable",
            "ExpectationFailed",
            "UpgradeRequired",
            "InternalServerError",
            "NotImplemented",
            "BadGateway",
            "ServiceUnavailable",
            "GatewayTimeout",
            "HttpVersionNotSupported"
          ],
          "x-ms-enum": {
            "name": "HttpStatusCode",
            "modelAsString": false
          }
        },
        "requestId": {
          "type": "string"
        }
      },
      "description": "The response model for the undoedit runbook operation."
    },
    "RunbookCreateOrUpdateProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType",
        "publishContentLink"
      ],
      "description": "The parameters supplied to the create or update runbook properties."
    },
    "RunbookCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets runbook create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "RunbookCreateOrUpdateDraftProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType",
        "draft"
      ],
      "description": "The parameters supplied to the create or update dratft runbook properties."
    },
    "RunbookCreateOrUpdateDraftParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookCreateOrUpdateDraftProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets runbook draft create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "RunbookUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "description": "The parameters supplied to the update runbook properties."
    },
    "RunbookUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update runbook operation."
    },
    "RunbookProperties": {
      "properties": {
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publisdContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the runbook.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "RunbookState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the option to log activity trace of the runbook."
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the runbook.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "RunbookProvisioningState",
            "modelAsString": false
          }
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the runbook property type."
    },
    "Runbook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Definition of the runbook type."
    },
    "RunbookListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Runbook"
          },
          "description": "Gets or sets a list of runbooks."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list runbook operation."
    },
    "JobStreamListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStream"
          },
          "description": "A list of job streams."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job stream operation."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "TestJobCreateParameters": {
      "properties": {
        "runbookName": {
          "type": "string",
          "description": "Gets or sets the runbook name."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        }
      },
      "required": [
        "runbookName"
      ],
      "description": "The parameters supplied to the create test job operation."
    },
    "TestJob": {
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the test job."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the test job."
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the test job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the test job."
        },
        "exception": {
          "type": "string",
          "description": "Gets or sets the exception of the test job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the test job."
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last status modified time of the test job."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        }
      },
      "description": "Definition of the test job."
    },
    "JobStreamProperties": {
      "properties": {
        "jobStreamId": {
          "type": "string",
          "description": "Gets or sets the id of the job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job."
        },
        "streamType": {
          "type": "string",
          "description": "Gets or sets the stream type.",
          "enum": [
            "Progress",
            "Output",
            "Warning",
            "Error",
            "Debug",
            "Verbose",
            "Any"
          ],
          "x-ms-enum": {
            "name": "JobStreamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "Gets or sets the stream text."
        },
        "summary": {
          "type": "string",
          "description": "Gets or sets the summary."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the values of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobStream": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the id of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
	"Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The Resource definition.",
      "x-ms-azure-resource": true
    },
	"ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
	"ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }	
      },
	  "description": "Error response of an operation failure"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  }
}