{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/variables/{variableName}": {
      "put": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_CreateOrUpdate",
        "description": "Create a variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The variable name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update variable operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_Update",
        "description": "Update a variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The variable name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableUpdateParameters"
            },
            "description": "The parameters supplied to the update variable operation."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "delete": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_Delete",
        "description": "Delete the variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of variable."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_Get",
        "description": "Retrieve the variable identified by variable name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of variable."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/variables": {
      "get": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_List",
        "description": "Retrieve a list of variables.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VariableListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }  
  },
  "definitions": {
    "VariableCreateOrUpdateProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the variable."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the variable."
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the encrypted flag of the variable."
        }
      },
      "description": "The properties of the create variable operation."
    },
    "VariableCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the variable."
        },
        "properties": {
          "$ref": "#/definitions/VariableCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update variable operation."
    },
    "VariableProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the variable."
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the encrypted flag of the variable."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the varible properties"
    },
    "Variable": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the variable."
        },
        "properties": {
          "$ref": "#/definitions/VariableProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "description": "Definition of the varible."
    },
    "VariableListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable"
          },
          "description": "Gets or sets a list of variables."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list variables operation."
    },
    "VariableUpdateProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the variable."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the variable."
        }
      },
      "description": "The properties of the update variable"
    },
    "VariableUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the variable."
        },
        "properties": {
          "$ref": "#/definitions/VariableUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the variable."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the update variable operation."
    },
   	"ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }	
      },
	  "description": "Error response of an operation failure"
    }
   },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
	  "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  }
}