{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}": {
      "put": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_CreateOrUpdate",
        "description": "Create a variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The variable name."
          },
          {
            "name": "variableCreateOrUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/VariableCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update variable operation."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Variable"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/Variable"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_Update",
        "description": "Update a variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The variable name."
          },
          {
            "name": "variableUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/VariableUpdateParameters"
            },
            "description": "The parameters supplied to the update variable operation."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
			"schema": {
              "$ref": "./definitions.json#/definitions/Variable"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "delete": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_Delete",
        "description": "Delete the variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of variable."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_Get",
        "description": "Retrieve the variable identified by variable name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of variable."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Variable"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables": {
      "get": {
        "tags": [
          "Variables"
        ],
        "operationId": "Variables_ListByAutomationAccount",
        "description": "Retrieve a list of variables.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "parameters": [
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/VariableListResult"
            }
          },
		  "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }  
  },
  "definitions": {
   },
  "parameters": {
  }
}