{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2026-02-01-preview",
    "description": "The workload SAP monitor Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Monitors"
    },
    {
      "name": "AlertTemplates"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "Db2JobConfigurations"
    },
    {
      "name": "ProviderInstances"
    },
    {
      "name": "SapLandscapeMonitor"
    },
    {
      "name": "InstanceMonitors"
    }
  ],
  "paths": {
    "/providers/Microsoft.Workloads/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "operationId": "Monitors_List",
        "tags": [
          "Monitors"
        ],
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors in a subscription": {
            "$ref": "./examples/Monitors_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "operationId": "Monitors_ListByResourceGroup",
        "tags": [
          "Monitors"
        ],
        "description": "Gets a list of SAP monitors in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors in a resource group": {
            "$ref": "./examples/Monitors_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}": {
      "get": {
        "operationId": "Monitors_Get",
        "tags": [
          "Monitors"
        ],
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/Monitors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Monitors_Create",
        "tags": [
          "Monitors"
        ],
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a SAP monitor",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Monitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "201": {
            "description": "Resource 'Monitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Monitor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a SAP monitor": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor.json"
          },
          "Create a SAP monitor with system assigned identity": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor_With_System_Assigned_Identity.json"
          },
          "Create a SAP monitor with user assigned identity": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor_With_User_Assigned_Identity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Monitors_Update",
        "tags": [
          "Monitors"
        ],
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The Update SAP workload monitor request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMonitorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/Monitors_PatchTags_Delete.json"
          },
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/Monitors_PatchTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Monitors_Delete",
        "tags": [
          "Monitors"
        ],
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/Monitors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates": {
      "get": {
        "operationId": "AlertTemplates_List",
        "tags": [
          "AlertTemplates"
        ],
        "description": "Gets a list of alert templates in the specified SAP monitor. The operations returns various properties of each alert template.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerType",
            "in": "query",
            "description": "The provider type for filtering alert templates.",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertTemplateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Alert Templates in a monitor": {
            "$ref": "./examples/AlertTemplates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates/{alertTemplateName}": {
      "get": {
        "operationId": "AlertTemplates_Get",
        "tags": [
          "AlertTemplates"
        ],
        "description": "Gets properties of an alert template for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertTemplateName",
            "in": "path",
            "description": "SAP monitor alert template resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertTemplate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor Alert Template": {
            "$ref": "./examples/AlertTemplates_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alerts": {
      "get": {
        "operationId": "Alerts_List",
        "tags": [
          "Alerts"
        ],
        "description": "Gets a list of alerts in the specified SAP monitor. The operations returns various properties of each alerts.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Alerts in a monitor": {
            "$ref": "./examples/Alerts_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alerts/{alertName}": {
      "get": {
        "operationId": "Alerts_Get",
        "tags": [
          "Alerts"
        ],
        "description": "Gets properties of an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the SAP monitor alert resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor Alert": {
            "$ref": "./examples/Alerts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Alerts_Create",
        "tags": [
          "Alerts"
        ],
        "description": "Creates an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the SAP monitor alert resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a SAP monitor's alert resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Alert' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "201": {
            "description": "Resource 'Alert' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Alert"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Alert": {
            "$ref": "./examples/Alerts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Alerts_Delete",
        "tags": [
          "Alerts"
        ],
        "description": "Deletes an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the SAP monitor alert resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a SAP monitor alert": {
            "$ref": "./examples/Alerts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/db2JobConfigurations": {
      "get": {
        "operationId": "Db2JobConfigurations_List",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Gets a list of DB2 job configurations in the specified SAP monitor. The operations returns various properties of each DB2 job configurations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Db2JobConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all db2 job configurations": {
            "$ref": "./examples/Db2JobConfigurations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/db2JobConfigurations/{jobConfigurationName}": {
      "get": {
        "operationId": "Db2JobConfigurations_Get",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Gets db2 job configuration for the specified subscription, resource group, SAP monitor name and job configurations name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "jobConfigurationName",
            "in": "path",
            "description": "Name of the job configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Db2JobConfigurations_Create",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Create db2 job configuration for the specified subscription, resource group, SAP monitor name and job configurations Name",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "jobConfigurationName",
            "in": "path",
            "description": "Name of the job configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a DB2 job configurations",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Db2JobConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            }
          },
          "201": {
            "description": "Resource 'Db2JobConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Db2JobConfigurations_Delete",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Delete db2 job configuration for the specified subscription, resource group, SAP monitor name, and job configurations Name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "jobConfigurationName",
            "in": "path",
            "description": "Name of the job configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances": {
      "get": {
        "operationId": "ProviderInstances_ListByMonitor",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Gets a list of provider instances in the specified SAP monitor. The operations returns various properties of each provider instances.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors providers in a subscription": {
            "$ref": "./examples/ProviderInstances_ListByMonitor.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "operationId": "ProviderInstances_Get",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Gets properties of a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a Db2 provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Db2_Provider.json"
          },
          "Get properties of a MsSqlServer provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Ms_Sql_Server_Provider.json"
          },
          "Get properties of a OS provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Os_Provider.json"
          },
          "Get properties of a Oracle provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Oracle_Provider.json"
          },
          "Get properties of a PrometheusHaCluster provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Prometheus_Ha_Cluster_Provider.json"
          },
          "Get properties of a SAP monitor Hana provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Sap_Monitor_Hana_Provider.json"
          },
          "Get properties of a SAP monitor NetWeaver provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Sap_Monitor_Net_Weaver_Provider.json"
          }
        }
      },
      "put": {
        "operationId": "ProviderInstances_Create",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Creates a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a provider instance associated with a SAP monitor.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProviderInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Resource 'ProviderInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Db2 provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Db2_Provider.json"
          },
          "Create a Db2 provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Db2_Provider_With_Root_Certificate.json"
          },
          "Create a MsSqlServer provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Ms_Sql_Server_Provider.json"
          },
          "Create a MsSqlServer provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Ms_Sql_Server_Provider_With_Root_Certificate.json"
          },
          "Create a OS provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Os_Provider.json"
          },
          "Create a OS provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Os_Provider_With_Root_Certificate.json"
          },
          "Create a Oracle provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Oracle_Provider.json"
          },
          "Create a Oracle provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Oracle_Provider_With_Root_Certificate.json"
          },
          "Create a PrometheusHaCluster provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Prometheus_Ha_Cluster_Provider.json"
          },
          "Create a PrometheusHaCluster provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Prometheus_Ha_Cluster_Provider_With_Root_Certificate.json"
          },
          "Create a SAP monitor Hana provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Hana_Provider.json"
          },
          "Create a SAP monitor Hana provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Hana_Provider_With_Root_Certificate.json"
          },
          "Create a SAP monitor NetWeaver provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Net_Weaver_Provider.json"
          },
          "Create a SAP monitor NetWeaver provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Net_Weaver_Provider_With_Root_Certificate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProviderInstances_Delete",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Deletes a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a SAP monitor provider": {
            "$ref": "./examples/ProviderInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/sapLandscapeMonitor": {
      "get": {
        "operationId": "SapLandscapeMonitor_ListByMonitor",
        "tags": [
          "SapLandscapeMonitor"
        ],
        "description": "Gets configuration values for Single Pane Of Glass for SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the SAP landscape monitor(s)": {
            "$ref": "./examples/SapLandscapeMonitor_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/sapLandscapeMonitor/default": {
      "get": {
        "operationId": "SapLandscapeMonitor_Get",
        "tags": [
          "SapLandscapeMonitor"
        ],
        "description": "Gets configuration values for Single Pane Of Glass for SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SapLandscapeMonitor_Create",
        "tags": [
          "SapLandscapeMonitor"
        ],
        "description": "Creates a SAP Landscape Monitor Dashboard for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a configuration for Sap Landscape Monitor Dashboard",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SapLandscapeMonitorResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResource"
            }
          },
          "201": {
            "description": "Resource 'SapLandscapeMonitorResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create for SAP Landscape monitor Dashboard": {
            "$ref": "./examples/SapLandscapeMonitor_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "SapLandscapeMonitor_Update",
        "tags": [
          "SapLandscapeMonitor"
        ],
        "description": "Patches the SAP Landscape Monitor Dashboard for the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Request body representing a configuration for Sap Landscape Monitor Dashboard",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SapLandscapeMonitor_Delete",
        "tags": [
          "SapLandscapeMonitor"
        ],
        "description": "Deletes a SAP Landscape Monitor Dashboard with the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/virtualInstances/{virtualInstanceName}/instanceMonitors": {
      "get": {
        "operationId": "InstanceMonitors_ListByParent",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "List instance monitors by parent (Virtual Instance)",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Instance Monitors by Virtual Instance": {
            "$ref": "./examples/InstanceMonitors_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/virtualInstances/{virtualInstanceName}/instanceMonitors/default": {
      "get": {
        "operationId": "InstanceMonitors_Get",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Get the instance monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an Instance Monitor": {
            "$ref": "./examples/InstanceMonitors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "InstanceMonitors_Create",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Create or replace the instance monitor. Enables the Observability capability for the WVI.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing an instance monitor resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InstanceMonitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          },
          "201": {
            "description": "Resource 'InstanceMonitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update an Instance Monitor": {
            "$ref": "./examples/InstanceMonitors_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InstanceMonitors_Update",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Update the instance monitor. Allows the PATCH operation for InstanceMonitor.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceMonitorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an Instance Monitor": {
            "$ref": "./examples/InstanceMonitors_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "InstanceMonitors_Delete",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Delete the instance monitor. Disables the Observability capability for the WVI.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Instance Monitor": {
            "$ref": "./examples/InstanceMonitors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActionsParameter": {
      "type": "object",
      "description": "Gets or sets the list of action parameter",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Gets or sets the function Name"
        },
        "parameters": {
          "type": "array",
          "description": "Gets or sets the list of function Name.",
          "items": {
            "$ref": "#/definitions/ConfigurationParameter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Alert": {
      "type": "object",
      "description": "A alert associated with SAP monitor.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertProperties",
          "description": "Alert Instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertAutoMitigate": {
      "type": "string",
      "description": "The value that indicates whether the alert should be automatically resolved or not. The default is Disable.",
      "enum": [
        "Enable",
        "Disable"
      ],
      "x-ms-enum": {
        "name": "AlertAutoMitigate",
        "modelAsString": true,
        "values": [
          {
            "name": "Enable",
            "value": "Enable",
            "description": "The alert should be automatically resolved."
          },
          {
            "name": "Disable",
            "value": "Disable",
            "description": "The alert should not be automatically resolved."
          }
        ]
      }
    },
    "AlertListResult": {
      "type": "object",
      "description": "The response of a Alert list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Alert items on this page",
          "items": {
            "$ref": "#/definitions/Alert"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AlertProperties": {
      "type": "object",
      "description": "Describes the properties of an Alert for SAP monitor.",
      "properties": {
        "errors": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "Defines the alert instance errors.",
          "readOnly": true
        },
        "alertRuleResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "ID of the alert rule resource created.",
          "readOnly": true
        },
        "templateName": {
          "type": "string",
          "description": "Name of the alert template from which it was created."
        },
        "providerType": {
          "type": "string",
          "description": "The provider type for alert. For example, the value can be SapHana."
        },
        "providerNames": {
          "type": "array",
          "description": "Name of provider instances associated with the alert.",
          "items": {
            "type": "string"
          }
        },
        "alertRuleProperties": {
          "$ref": "#/definitions/AlertRuleProperties",
          "description": "Describes the properties of an alert."
        },
        "provisioningState": {
          "$ref": "#/definitions/WorkloadMonitorProvisioningState",
          "description": "State of provisioning of the alert instance",
          "readOnly": true
        }
      }
    },
    "AlertQueryParameter": {
      "type": "object",
      "description": "Defines the Alert Query Parameter.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the alert query parameter."
        },
        "value": {
          "type": "string",
          "description": "The value of the alert query parameter."
        }
      }
    },
    "AlertRuleProperties": {
      "type": "object",
      "description": "Describes the properties of an alert.",
      "properties": {
        "status": {
          "$ref": "#/definitions/AlertRuleStatus",
          "description": "Indicates whether the alert is in an enabled state."
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "description": "Severity of the alert. Should be an integer between [0-4]. Value of 0 is severest.",
          "minimum": 0,
          "maximum": 4
        },
        "actionGroups": {
          "type": "array",
          "description": "Action Group resource Ids to invoke when the alert fires",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource."
          }
        },
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "The threshold of the alert."
        },
        "thresholdOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "The threshold operator of the alert."
        },
        "windowSize": {
          "type": "integer",
          "format": "int32",
          "description": "The period of time on which the Alert query will be executed."
        },
        "evaluationFrequency": {
          "type": "integer",
          "format": "int32",
          "description": "How often the scheduled query rule is evaluated."
        },
        "failingPeriodsToAlert": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failing periods to trigger an alert."
        },
        "failingPeriodsOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "The operator for failing periods."
        },
        "muteActionsDuration": {
          "type": "integer",
          "format": "int32",
          "description": "Mute actions for the chosen period of time after the alert is fired."
        },
        "autoMitigate": {
          "$ref": "#/definitions/AlertAutoMitigate",
          "description": "The value that indicates whether the alert should be automatically resolved or not. The default is Disable."
        },
        "dimension": {
          "type": "string",
          "description": "Evaluation of metric on a particular column."
        },
        "alertQueryParameters": {
          "type": "array",
          "description": "The alert query parameters.",
          "items": {
            "$ref": "#/definitions/AlertQueryParameter"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "AlertRuleStatus": {
      "type": "string",
      "description": "The value which indicates whether this scheduled query rule is enabled. Value should be enabled or disabled",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AlertRuleStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The scheduled query rule is enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The scheduled query rule is disabled"
          }
        ]
      }
    },
    "AlertTemplate": {
      "type": "object",
      "description": "A alert template associated with SAP monitor.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertTemplateProperties",
          "description": "Alert Template properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertTemplateListResult": {
      "type": "object",
      "description": "The response of a AlertTemplate list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AlertTemplate items on this page",
          "items": {
            "$ref": "#/definitions/AlertTemplate"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AlertTemplateMetricMeasurement": {
      "type": "object",
      "description": "Defines the Alert Template MetricMeasurement Properties.",
      "properties": {
        "thresholdOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "Operator used for threshold comparison."
        },
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "The Threshold Value Associated with the Alert Template for Metric Measurement."
        },
        "metricTriggerType": {
          "$ref": "#/definitions/AlertTemplateMetricTriggerType",
          "description": "Metric Trigger Type Associated with the Alert Template for Metric Measurement."
        },
        "metricColumn": {
          "type": "string",
          "description": "Metric Column Associated with the Alert Template for Metric Measurement."
        },
        "frequencyInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Frequency (mins) value Associated with the Alert Template for Metric Measurement."
        },
        "timeWindowInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Time Window (mins) Value Associated with the Alert Template for Metric Measurement."
        }
      }
    },
    "AlertTemplateMetricTriggerType": {
      "type": "string",
      "description": "Metric Trigger Type Associated with the Alert Template for Metric Measurement",
      "enum": [
        "Consecutive",
        "Total"
      ],
      "x-ms-enum": {
        "name": "AlertTemplateMetricTriggerType",
        "modelAsString": true,
        "values": [
          {
            "name": "Consecutive",
            "value": "Consecutive",
            "description": "The metric trigger type is consecutive."
          },
          {
            "name": "Total",
            "value": "Total",
            "description": "The metric trigger type is total."
          }
        ]
      }
    },
    "AlertTemplateParameterType": {
      "type": "string",
      "description": "Type of the Query Input Parameter",
      "enum": [
        "LogAnalyticsQuery",
        "ProviderProperty",
        "CustomInput"
      ],
      "x-ms-enum": {
        "name": "AlertTemplateParameterType",
        "modelAsString": true,
        "values": [
          {
            "name": "LogAnalyticsQuery",
            "value": "LogAnalyticsQuery",
            "description": "Log Analytics query parameter"
          },
          {
            "name": "ProviderProperty",
            "value": "ProviderProperty",
            "description": "Provider property parameter"
          },
          {
            "name": "CustomInput",
            "value": "CustomInput",
            "description": "Custom input parameter"
          }
        ]
      }
    },
    "AlertTemplateProperties": {
      "type": "object",
      "description": "Describes the properties of an Alert Template for SAP monitor.",
      "properties": {
        "errors": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "Defines the SAP monitor Alert Template errors.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/WorkloadMonitorProvisioningState",
          "description": "State of provisioning of the Alert Template.",
          "readOnly": true
        },
        "templateDisplayName": {
          "type": "string",
          "description": "Display name of the alert template."
        },
        "providerType": {
          "type": "string",
          "description": "The provider type for alert template. For example, the value can be SapHana."
        },
        "description": {
          "type": "string",
          "description": "Description of the template."
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "description": "Severity of the alert. Should be an integer between [0-4]. Value of 0 is most severe and value of 4 is least severe.",
          "minimum": 0,
          "maximum": 4
        },
        "query": {
          "type": "string",
          "description": "Query associated with the alert template."
        },
        "thresholdOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "Operator used for threshold comparison."
        },
        "defaultThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Default threshold value."
        },
        "lowerBound": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum possible Default Threshold Value Associated with the Alert Template."
        },
        "upperBound": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum possible Default Threshold Value Associated with the Alert Template."
        },
        "defaultThresholdInputOption": {
          "$ref": "#/definitions/DefaultThresholdInputOption",
          "description": "Input option for the default threshold."
        },
        "alertUnit": {
          "type": "string",
          "description": "Unit of the alert."
        },
        "metricMeasurement": {
          "$ref": "#/definitions/AlertTemplateMetricMeasurement",
          "description": "Describes the properties for metric measurement in alerts template."
        },
        "queryInputParameters": {
          "type": "array",
          "description": "Describes the Query Input Parameter properties in alerts template.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/AlertTemplateQueryInputParameter"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "AlertTemplateQueryInputParameter": {
      "type": "object",
      "description": "Describes the Query Input Parameter properties in alerts template.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Query Input Parameter"
        },
        "type": {
          "$ref": "#/definitions/AlertTemplateParameterType",
          "description": "Type of the Query Input Parameter"
        },
        "description": {
          "type": "string",
          "description": "Description of the Query Input Parameter"
        },
        "defaultValue": {
          "type": "string",
          "description": "Default Value of the Query Input Parameter"
        },
        "laQuery": {
          "type": "string",
          "description": "Log Analytics query associated with the parameter."
        },
        "selectionMode": {
          "$ref": "#/definitions/AlertTemplateSelectionMode",
          "description": "Selection mode for the parameter."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the Query Input Parameter."
        }
      }
    },
    "AlertTemplateSelectionMode": {
      "type": "string",
      "description": "Selection Mode of the Query Input Parameter",
      "enum": [
        "Single",
        "Multiple"
      ],
      "x-ms-enum": {
        "name": "AlertTemplateSelectionMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Single",
            "value": "Single",
            "description": "The selection mode is single."
          },
          {
            "name": "Multiple",
            "value": "Multiple",
            "description": "The selection mode is Multiple."
          }
        ]
      }
    },
    "AppServicePlanConfiguration": {
      "type": "object",
      "description": "Configuration details of app service plan",
      "properties": {
        "tier": {
          "$ref": "#/definitions/AppServicePlanTier",
          "description": "The App Service plan tier."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The number of workers in app service plan. If this is not set or set to 0, auto scale will be configured for the app service plan, otherwise, instance count is set to this number.",
          "minimum": 0
        }
      }
    },
    "AppServicePlanTier": {
      "type": "string",
      "description": "The App Service plan tier.",
      "enum": [
        "ElasticPremium",
        "PremiumV3"
      ],
      "x-ms-enum": {
        "name": "AppServicePlanTier",
        "modelAsString": true,
        "values": [
          {
            "name": "ElasticPremium",
            "value": "ElasticPremium",
            "description": "Elastic Premium plan"
          },
          {
            "name": "PremiumV3",
            "value": "PremiumV3",
            "description": "Dedicated Premium V3 plan"
          }
        ]
      }
    },
    "ConditionalOperator": {
      "type": "string",
      "description": "Result Condition Evaluation Criteria",
      "enum": [
        "LessThan",
        "GreaterThan",
        "Equal",
        "GreaterThanOrEqual",
        "LessThanOrEqual"
      ],
      "x-ms-enum": {
        "name": "ConditionalOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "LessThan",
            "value": "LessThan",
            "description": "The value is less than the specified value."
          },
          {
            "name": "GreaterThan",
            "value": "GreaterThan",
            "description": "The value is greater than the specified value."
          },
          {
            "name": "Equal",
            "value": "Equal",
            "description": "The value is equal to the specified value."
          },
          {
            "name": "GreaterThanOrEqual",
            "value": "GreaterThanOrEqual",
            "description": "The value is greater than or equal to the specified value."
          },
          {
            "name": "LessThanOrEqual",
            "value": "LessThanOrEqual",
            "description": "The value is less than or equal to the specified value."
          }
        ]
      }
    },
    "ConfigurationParameter": {
      "type": "object",
      "description": "Gets or sets list of configuration Parameter",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets name of configuration"
        },
        "value": {
          "type": "string",
          "description": "Gets or sets value of configuration parameter"
        }
      }
    },
    "Db2JobConfiguration": {
      "type": "object",
      "description": "A DB2 job configurations associated with SAP monitor.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Db2JobConfigurationsProperties",
          "description": "DB2 job configurations properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "Db2JobConfigurationListResult": {
      "type": "object",
      "description": "The response of a Db2JobConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Db2JobConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/Db2JobConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Db2JobConfigurationsProperties": {
      "type": "object",
      "description": "DB2 job configurations properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/WorkloadMonitorProvisioningState",
          "description": "State of provisioning of the DB2 job configurations.",
          "readOnly": true
        },
        "metricName": {
          "type": "string",
          "description": "Gets or sets the name of the DB2 job configurations."
        },
        "metricDimensions": {
          "type": "array",
          "description": "Gets or sets the list of dimensions for the DB2 job configurations.",
          "items": {
            "type": "string"
          }
        },
        "customLogTable": {
          "type": "string",
          "description": "Gets or sets the name of the custom log table used to store data in log Analytics."
        },
        "defaultFrequencyInSecs": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the value of the default frequency of execution for the job.",
          "maximum": 86400
        },
        "type": {
          "$ref": "#/definitions/JobConfigurationType",
          "description": "Gets or sets the type for the job configuration."
        },
        "parameters": {
          "type": "array",
          "description": "Gets or sets the list of Configuration parameters.",
          "items": {
            "$ref": "#/definitions/ConfigurationParameter"
          },
          "x-ms-identifiers": []
        },
        "actions": {
          "type": "array",
          "description": "Gets or sets the list of actions",
          "items": {
            "$ref": "#/definitions/ActionsParameter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Db2ProviderInstanceProperties": {
      "type": "object",
      "description": "Gets or sets the DB2 provider properties.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Gets or sets the target virtual machine name."
        },
        "dbName": {
          "type": "string",
          "description": "Gets or sets the db2 database name."
        },
        "dbPort": {
          "type": "string",
          "description": "Gets or sets the db2 database sql port."
        },
        "dbUsername": {
          "type": "string",
          "description": "Gets or sets the db2 database user name."
        },
        "dbPassword": {
          "type": "string",
          "format": "password",
          "description": "Gets or sets the db2 database password.",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "type": "string",
          "description": "Gets or sets the key vault URI to secret with the database password."
        },
        "sapSid": {
          "type": "string",
          "description": "Gets or sets the SAP System Identifier"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference",
          "description": "Gets or sets certificate preference if secure communication is enabled."
        },
        "sslCertificateUri": {
          "type": "string",
          "description": "Gets or sets the blob URI to SSL certificate for the DB2 Database."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "x-ms-discriminator-value": "Db2"
    },
    "DefaultThresholdInputOption": {
      "type": "string",
      "description": "Is input required for Default Threshold Value Associated with the Alert Template",
      "enum": [
        "Required",
        "NotRequired",
        "Optional"
      ],
      "x-ms-enum": {
        "name": "DefaultThresholdInputOption",
        "modelAsString": true,
        "values": [
          {
            "name": "Required",
            "value": "Required",
            "description": "The default threshold value is required."
          },
          {
            "name": "NotRequired",
            "value": "NotRequired",
            "description": "The default threshold value is not required."
          },
          {
            "name": "Optional",
            "value": "Optional",
            "description": "The default threshold value is optional."
          }
        ]
      }
    },
    "HanaDbProviderInstanceProperties": {
      "type": "object",
      "description": "Gets or sets the provider properties.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Gets or sets the target virtual machine size."
        },
        "dbName": {
          "type": "string",
          "description": "Gets or sets the hana database name."
        },
        "sqlPort": {
          "type": "string",
          "description": "Gets or sets the database sql port."
        },
        "instanceNumber": {
          "type": "string",
          "description": "Gets or sets the database instance number."
        },
        "dbUsername": {
          "type": "string",
          "description": "Gets or sets the database user name."
        },
        "dbPassword": {
          "type": "string",
          "format": "password",
          "description": "Gets or sets the database password.",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "type": "string",
          "description": "Gets or sets the key vault URI to secret with the database password."
        },
        "sslCertificateUri": {
          "type": "string",
          "description": "Gets or sets the blob URI to SSL certificate for the DB."
        },
        "sslHostNameInCertificate": {
          "type": "string",
          "description": "Gets or sets the hostname(s) in the SSL certificate."
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference",
          "description": "Gets or sets certificate preference if secure communication is enabled."
        },
        "sapSid": {
          "type": "string",
          "description": "Gets or sets the SAP System Identifier."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "x-ms-discriminator-value": "SapHana"
    },
    "Health": {
      "type": "object",
      "description": "Resource health details",
      "properties": {
        "healthState": {
          "$ref": "#/definitions/WorkloadProviderInstanceHealthState",
          "description": "Health state of the resource",
          "readOnly": true
        },
        "impactingReasons": {
          "type": "string",
          "description": "Reasons impacting health state",
          "readOnly": true
        }
      }
    },
    "InstanceMonitor": {
      "type": "object",
      "description": "Instance Monitor resource.\nThis is a singleton child proxy resource under VirtualInstance that enables/disables Observability for a given WVI.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InstanceMonitorProperties",
          "description": "Instance monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "InstanceMonitorListResult": {
      "type": "object",
      "description": "The response of a InstanceMonitor list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The InstanceMonitor items on this page",
          "items": {
            "$ref": "#/definitions/InstanceMonitor"
          }
        },
        "nextLink": {
[...]
