{
  "swagger": "2.0",
  "info": {
    "title": "SubscriptionClient",
    "version": "2016-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/locations": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListLocations",
        "description": "Gets a list of the subscription locations.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the subscription"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "description": "Gets details about particular subscription.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the subscription."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_List",
        "description": "Gets a list of the subscriptionIds.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/tenants": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "operationId": "Tenants_List",
        "description": "Gets a list of the tenantIds.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TenantListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Location": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the resource (/subscriptions/SubscriptionId)."
        },
        "subscriptionId": {
          "type": "string",
          "description": "The subscription Id."
        },
        "name": {
          "type": "string",
          "description": "The location name."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the location."
        },
        "latitude": {
          "type": "string",
          "description": "The latitude of the location."
        },
        "longitude": {
          "type": "string",
          "description": "The longitude of the location."
        }
      },
      "description": "Location information."
    },
    "LocationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          },
          "description": "The locations."
        }
      },
      "description": "Location list operation response."
    },
    "Subscription": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the resource (/subscriptions/SubscriptionId)."
        },
        "subscriptionId": {
          "type": "string",
          "description": "The subscription Id."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant Id."
        },
        "displayName": {
          "type": "string",
          "description": "The subscription display name."
        },
        "state": {
          "type": "string",
          "description": "The subscription state."
        },
        "subscriptionPolicies": {
          "$ref": "#/definitions/SubscriptionPolicies",
          "description": "The subscription policies."
        },
        "authorizationSource": {
          "type": "string",
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'."
        }
      },
      "description": "Subscription information."
    },
    "SubscriptionPolicies": {
      "properties": {
        "locationPlacementId": {
          "type": "string",
          "description": "The subscription location placement Id."
        },
        "quotaId": {
          "type": "string",
          "description": "The subscription quota Id."
        },
        "spendingLimit": {
          "type": "string",
          "description": "The subscription spending limit.",
          "enum": [
            "On",
            "Off",
            "CurrentPeriodOff"
          ],
          "x-ms-enum": {
            "name": "spendingLimit",
            "modelAsString": true
          }
        }
      },
      "description": "Subscription policies."
    },
    "SubscriptionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          },
          "description": "The subscriptions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "required": [
        "nextLink"
      ],
      "description": "Subscription list operation response."
    },
    "TenantIdDescription": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Id."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenantId."
        }
      },
      "description": "Tenant Id information."
    },
    "TenantListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantIdDescription"
          },
          "description": "The tenant Ids."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "required": [
        "nextLink"
      ],
      "description": "Tenant Ids information."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
