{
    "swagger": "2.0",
    "info": {
      "version": "2019-06-01",
      "title": "StorageManagementClient",
      "description": "The Azure Storage Management API."
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices":{
        "get": {
          "tags": [
            "TableServiceProperties"
          ],
          "operationId": "ListTableService",
          "x-ms-examples": {
            "TableServicesList": {
              "$ref": "./examples/TableServicesList.json"
            }
          },
          "description": "List all table services for the storage account.",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- returned the properties of a storage account’s Table service.",
              "schema": {
                "$ref": "#/definitions/ListTableServices"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/{TableServicesName}": {
        "put": {
          "tags": [
            "TableServiceProperties"
          ],
          "operationId": "TableServices_SetServiceProperties",
          "x-ms-examples": {
            "PutTableServices": {
              "$ref": "./examples/TableServicesPut.json"
            }
          },
          "description": "Sets the properties of a storage account’s Table service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules. ",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/TableServicesName"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/TableServiceProperties"
              },
              "description": "The properties of a storage account’s Table service, only properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules can be specified."
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Sets The properties of a storage account’s Table service successfully.",
              "schema": {
                "$ref": "#/definitions/TableServiceProperties"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "get": {
          "tags": [
            "TableServiceProperties"
          ],
          "operationId": "TableServices_GetServiceProperties",
          "x-ms-examples": {
            "GetTableServices": {
              "$ref": "./examples/TableServicesGet.json"
            }
          },
          "description": "Gets the properties of a storage account’s Table service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/TableServicesName"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- returned the properties of a storage account’s Table service.",
              "schema": {
                "$ref": "#/definitions/TableServiceProperties"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables/{tableName}": {
        "put": {
          "tags": [
            "TableService"
          ],
          "operationId": "PutTable",
          "x-ms-examples": {
            "PutTable": {
              "$ref": "./examples/PutTable.json"
            }
          },
          "description": "Creates a new table with the specified table name, under the specified account.",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/TableName"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Creates a table with the given table name successfully.",
              "schema": {
                "$ref": "#/definitions/Table"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "TableService"
          ],
          "operationId": "PatchTable",
          "x-ms-examples": {
            "PatchTable": {
              "$ref": "./examples/PatchTable.json"
            }
          },
          "description": "Creates a new table with the specified table name, under the specified account.",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/TableName"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Creates a table with the given table name successfully.",
              "schema": {
                "$ref": "#/definitions/Table"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "get": {
          "tags": [
            "TableService"
          ],
          "operationId": "GetTable",
          "x-ms-examples": {
            "GetTable": {
              "$ref": "./examples/GetTable.json"
            }
          },
          "description": "Gets the table with the specified table name, under the specified account if it exists.",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/TableName"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- returned table with the specified table name successfully.",
              "schema": {
                "$ref": "#/definitions/Table"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "TableService"
          ],
          "operationId": "DeleteTable",
          "x-ms-examples": {
            "DeleteTable": {
              "$ref": "./examples/DeleteTable.json"
            }
          },
          "description": "Deletes the table with the specified table name, under the specified account if it exists.",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/TableName"
            }
          ],
          "responses": {
            "204": {
              "description": "No Content - Successfully deleted the table with the sepcified table name"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables": {
        "get": {
          "tags": [
            "TableService"
          ],
          "operationId": "QueryTable",
          "x-ms-examples": {
            "QueryTable": {
              "$ref": "./examples/QueryTable.json"
            }
          },
          "description": "Gets a list of all the tables under the specified storage account",
          "parameters": [
            {
              "$ref": "./storage.json#/parameters/ResourceGroupName"
            },
            {
              "$ref": "./storage.json#/parameters/StorageAccountName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- returned a list of tables successfully.",
              "schema": {
                "$ref": "#/definitions/ListTableResource"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "ListTableServices": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TableServiceProperties"
            },
            "description": "List of table services returned.",
            "readOnly": true
          }
        }
      },
      "TableServiceProperties": {
        "properties": {
          "properties": {
            "properties": {
              "cors": {
                "$ref": "./common.json#/definitions/CorsRules",
                "description": "Specifies CORS rules for the Table service. You can include up to five CorsRule elements in the request. If no CorsRule elements are included in the request body, all CORS rules will be deleted, and CORS will be disabled for the Table service."
              }
            },
            "x-ms-client-flatten": true,
            "x-ms-client-name": "TableServiceProperties",
            "description": "The properties of a storage account’s Table service."
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "The properties of a storage account’s Table service."
      },
      "Table": {
        "properties": {
          "properties": {
            "$ref": "#/definitions/TableProperties",
            "x-ms-client-flatten": true,
            "x-ms-client-name": "TableProperties",
            "description": "Table resource properties."
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "Properties of the table, including Id, resource name, resource type."
      },
      "TableProperties": {
        "properties": {
          "TableName": {
            "type": "string",
            "readOnly": true,
            "description": "Table name under the specified account"
          }
        }
      },
      "ListTableResource": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Table"
            },
            "description": "List of tables returned.",
            "readOnly": true
          },
          "nextLink": {
            "type": "string",
            "description": "Request URL that can be used to query next page of tables",
            "readOnly": true
          }
        },
        "description": "Response schema. Contains list of tables returned"
      },
      "ErrorResponse": {
        "properties": {
          "code": {
            "type": "string",
            "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
          },
          "message": {
            "type": "string",
            "description": "A message describing the error, intended to be suitable for display in a user interface."
          }
        },
        "description": "An error response from the storage resource provider."
      }
    },
    "parameters": {
      "TableServicesName": {
        "name": "TableServicesName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the Table Service within the specified storage account. Table Service Name must be 'default'",
        "enum": [
          "default"
        ],
        "x-ms-parameter-location": "method"
      },
      "TableName": {
        "name": "tableName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "A table name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of only aplanumeric characters and it cannot begin with a numeric character.",
        "maxLength": 63,
        "minLength": 3,
        "pattern": "^[A-Za-z][A-Za-z0-9]{2,62}$",
        "x-ms-parameter-location": "method"
      }
    }
  }