{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Elastic",
    "version": "2025-06-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ElasticMonitorResources"
    },
    {
      "name": "MonitoredSubscriptions"
    },
    {
      "name": "OpenAIIntegrationRPModels"
    },
    {
      "name": "TagRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.Elastic/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Elastic/elasticVersions": {
      "get": {
        "operationId": "ElasticVersions_List",
        "summary": "Retrieve a list of all available Elastic versions for a specified region, helping you choose the best version for your deployment.",
        "description": "Retrieve a list of all available Elastic versions for a specified region, helping you choose the best version for your deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region where elastic deployment will take place.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ElasticVersionsListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticVersions_List": {
            "$ref": "./examples/ElasticVersions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Elastic/getElasticOrganizationToAzureSubscriptionMapping": {
      "post": {
        "operationId": "Organizations_GetElasticToAzureSubscriptionMapping",
        "summary": "Retrieve mapping details between the Elastic Organization and Azure Subscription for the logged-in user.",
        "description": ">;\n  /**\nRetrieve mapping details between the Elastic Organization and Azure Subscription for the logged-in user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ElasticOrganizationToAzureSubscriptionMappingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_GetElasticToAzureSubscriptionMapping": {
            "$ref": "./examples/Organizations_GetElasticToAzureSubscriptionMapping.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Elastic/getOrganizationApiKey": {
      "post": {
        "operationId": "Organizations_GetApiKey",
        "summary": "Fetch the User API Key from the internal database, if it was generated and stored during the creation of the Elasticsearch Organization.",
        "description": "Fetch the User API Key from the internal database, if it was generated and stored during the creation of the Elasticsearch Organization.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UserEmailId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UserApiKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_GetApiKey": {
            "$ref": "./examples/Organizations_GetApiKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Elastic/monitors": {
      "get": {
        "operationId": "Monitors_List",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all Elastic monitor resources within a specified subscription, helping you audit and manage your monitoring setup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_List": {
            "$ref": "./examples/Monitors_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors": {
      "get": {
        "operationId": "Monitors_ListByResourceGroup",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all Elastic monitor resources within a specified resource group of the subscription, helping you audit and manage your monitoring setup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_ListByResourceGroup": {
            "$ref": "./examples/Monitors_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}": {
      "get": {
        "operationId": "Monitors_Get",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Get detailed properties of a specific Elastic monitor resource, helping you manage observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Get": {
            "$ref": "./examples/Monitors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Monitors_Create",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Create a new Elastic monitor resource in your Azure subscription, enabling observability and monitoring of your Azure resources through Elastic.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Elastic monitor resource model",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ElasticMonitorResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "201": {
            "description": "Resource 'ElasticMonitorResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Create": {
            "$ref": "./examples/Monitors_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ElasticMonitorResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Monitors_Update",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Update an existing Elastic monitor resource in your Azure subscription, ensuring optimal observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Elastic resource model update parameters.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResourceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Update": {
            "$ref": "./examples/Monitors_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ElasticMonitorResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Monitors_Delete",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Delete an existing Elastic monitor resource from your Azure subscription, removing its observability and monitoring capabilities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Delete": {
            "$ref": "./examples/Monitors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/associateTrafficFilter": {
      "post": {
        "operationId": "AssociateTrafficFilter_Associate",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Associate a traffic filter with your Elastic monitor resource to control and manage network traffic.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "rulesetId",
            "in": "query",
            "description": "Ruleset Id of the filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssociateTrafficFilter_Associate": {
            "$ref": "./examples/AssociateTrafficFilter_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/createAndAssociateIPFilter": {
      "post": {
        "operationId": "createAndAssociateIPFilter_Create",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Create and associate an IP filter with your Elastic monitor resource to control and manage network traffic.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "ips",
            "in": "query",
            "description": "List of ips",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the traffic filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "createAndAssociateIPFilter_Create": {
            "$ref": "./examples/IPTrafficFilter_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/createAndAssociatePLFilter": {
      "post": {
        "operationId": "createAndAssociatePLFilter_Create",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Create and associate a PL filter with your Elastic monitor resource to control and manage network traffic.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the traffic filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateEndpointGuid",
            "in": "query",
            "description": "Guid of the private endpoint",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateEndpointName",
            "in": "query",
            "description": "Name of the private endpoint",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "createAndAssociatePLFilter_Create": {
            "$ref": "./examples/PrivateLinkTrafficFilters_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/createOrUpdateExternalUser": {
      "post": {
        "operationId": "ExternalUser_CreateOrUpdate",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Create or update external user configurations for your Elastic monitor resource, enabling access and management by external users.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Elastic External User Creation Parameters",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExternalUserInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExternalUserCreationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExternalUser_CreateOrUpdate": {
            "$ref": "./examples/ExternalUserInfo.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/deleteTrafficFilter": {
      "post": {
        "operationId": "TrafficFilters_Delete",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Delete an existing traffic filter associated with your Elastic monitor resource, removing its network traffic control capabilities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "rulesetId",
            "in": "query",
            "description": "Ruleset Id of the filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TrafficFilters_Delete": {
            "$ref": "./examples/TrafficFilters_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/detachAndDeleteTrafficFilter": {
      "post": {
        "operationId": "DetachAndDeleteTrafficFilter_Delete",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Detach and delete an existing traffic filter from your Elastic monitor resource, removing its network traffic control capabilities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "rulesetId",
            "in": "query",
            "description": "Ruleset Id of the filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DetachAndDeleteTrafficFilter_Delete": {
            "$ref": "./examples/DetachAndDeleteTrafficFilter_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/detachTrafficFilter": {
      "post": {
        "operationId": "DetachTrafficFilter_Update",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Detach an existing traffic filter from your Elastic monitor resource, removing its network traffic control capabilities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "rulesetId",
            "in": "query",
            "description": "Ruleset Id of the filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DetachTrafficFilter_Update": {
            "$ref": "./examples/DetachTrafficFilters_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/getBillingInfo": {
      "post": {
        "operationId": "BillingInfo_Get",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Retrieve marketplace and organization billing information mapped to the given Elastic monitor resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingInfo_Get": {
            "$ref": "./examples/BillingInfo_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listAllTrafficFilters": {
      "post": {
        "operationId": "AllTrafficFilters_list",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all traffic filters associated with your Elastic monitor resource, helping you manage network traffic control.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticTrafficFilterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AllTrafficFilters_list": {
            "$ref": "./examples/AllTrafficFilters_list.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listAssociatedTrafficFilters": {
      "post": {
        "operationId": "listAssociatedTrafficFilters_list",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all traffic filters associated with your Elastic monitor resource, helping you manage network traffic control.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticTrafficFilterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listAssociatedTrafficFilters_list": {
            "$ref": "./examples/AssociatedFiltersForDeployment_list.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listConnectedPartnerResources": {
      "post": {
        "operationId": "ConnectedPartnerResources_List",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all active deployments associated with the marketplace subscription linked to the given Elastic monitor resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectedPartnerResourcesListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectedPartnerResources_List": {
            "$ref": "./examples/ConnectedPartnerResources_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listDeploymentInfo": {
      "post": {
        "operationId": "DeploymentInfo_List",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Fetch detailed information about Elastic cloud deployments corresponding to the Elastic monitor resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentInfo_List": {
            "$ref": "./examples/DeploymentInfo_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listMonitoredResources": {
      "post": {
        "operationId": "MonitoredResources_List",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all resources currently being monitored by the Elastic monitor resource, helping you manage observability.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitoredResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MonitoredResources_List": {
            "$ref": "./examples/MonitoredResources_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listUpgradableVersions": {
      "post": {
        "operationId": "UpgradableVersions_Details",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all upgradable versions for your Elastic monitor resource, helping you plan and execute upgrades.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpgradableVersionsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpgradableVersions_Details": {
            "$ref": "./examples/UpgradableVersions_Details.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listVMHost": {
      "post": {
        "operationId": "VMHost_List",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List all VM resources currently being monitored by the Elastic monitor resource, helping you manage observability.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VMHostListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VMHost_List": {
            "$ref": "./examples/VMHost_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/monitoredSubscriptions": {
      "get": {
        "operationId": "MonitoredSubscriptions_List",
        "tags": [
          "MonitoredSubscriptions"
        ],
        "description": "List all subscriptions currently being monitored by the Elastic monitor resource, helping you manage observability.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionPropertiesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_GetMonitoredSubscriptions": {
            "$ref": "./examples/MonitoredSubscriptions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/monitoredSubscriptions/{configurationName}": {
      "get": {
        "operationId": "MonitoredSubscriptions_Get",
        "tags": [
          "MonitoredSubscriptions"
        ],
        "description": "Get detailed information about all subscriptions currently being monitored by the Elastic monitor resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name. Only 'default' value is supported.",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_GetMonitoredSubscriptions": {
            "$ref": "./examples/MonitoredSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MonitoredSubscriptions_CreateorUpdate",
        "tags": [
          "MonitoredSubscriptions"
        ],
        "description": "Add subscriptions to be monitored by the Elastic monitor resource, enabling observability and monitoring.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MonitoredSubscriptionProperties' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionProperties"
            }
          },
          "201": {
            "description": "Resource 'MonitoredSubscriptionProperties' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionProperties"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_AddMonitoredSubscriptions": {
            "$ref": "./examples/MonitoredSubscriptions_CreateorUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/MonitoredSubscriptionProperties"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MonitoredSubscriptions_Update",
        "tags": [
          "MonitoredSubscriptions"
        ],
        "description": "Update subscriptions to be monitored by the Elastic monitor resource, ensuring optimal observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitoredSubscriptionProperties"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_UpdateMonitoredSubscriptions": {
            "$ref": "./examples/MonitoredSubscriptions_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/MonitoredSubscriptionProperties"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MonitoredSubscriptions_Delete",
        "tags": [
          "MonitoredSubscriptions"
        ],
        "description": "Delete subscriptions being monitored by the Elastic monitor resource, removing their observability and monitoring capabilities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name. Only 'default' value is supported.",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_DeleteMonitoredSubscriptions": {
            "$ref": "./examples/MonitoredSubscriptions_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations": {
      "get": {
        "operationId": "OpenAI_List",
        "tags": [
          "OpenAIIntegrationRPModels"
        ],
        "description": "List all OpenAI integration rules for a given Elastic monitor resource, helping you manage AI-driven observability and monitoring.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenAIIntegrationRPModelListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenAI_List": {
            "$ref": "./examples/OpenAI_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}": {
      "get": {
        "operationId": "OpenAI_Get",
        "tags": [
          "OpenAIIntegrationRPModels"
        ],
        "description": "Get detailed information about OpenAI integration rules for a given Elastic monitor resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "integrationName",
            "in": "path",
            "description": "OpenAI Integration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenAIIntegrationRPModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenAI_Get": {
            "$ref": "./examples/OpenAI_Get.json"
          }
        }
      },
      "put": {
        "operationId": "OpenAI_CreateOrUpdate",
        "tags": [
          "OpenAIIntegrationRPModels"
        ],
        "description": "Create or update an OpenAI integration rule for a given Elastic monitor resource, enabling advanced AI-driven observability and monitoring.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "integrationName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OpenAIIntegrationRPModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenAIIntegrationRPModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OpenAIIntegrationRPModel"
            }
          },
          "201": {
            "description": "Resource 'OpenAIIntegrationRPModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OpenAIIntegrationRPModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenAI_CreateOrUpdate": {
            "$ref": "./examples/OpenAI_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "OpenAI_Delete",
        "tags": [
          "OpenAIIntegrationRPModels"
        ],
        "description": "Delete an OpenAI integration rule for a given Elastic monitor resource, removing AI-driven observability and monitoring capabilities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "integrationName",
            "in": "path",
            "description": "OpenAI Integration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenAI_Delete": {
            "$ref": "./examples/OpenAI_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}/getStatus": {
      "post": {
        "operationId": "OpenAI_GetStatus",
        "tags": [
          "OpenAIIntegrationRPModels"
        ],
        "description": "Get the status of OpenAI integration for a given Elastic monitor resource, ensuring optimal observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "integrationName",
            "in": "path",
            "description": "OpenAI Integration name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenAIIntegrationStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenAI_GetStatus": {
            "$ref": "./examples/OpenAI_GetStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/resubscribe": {
      "post": {
        "operationId": "Organizations_Resubscribe",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Resubscribe the Elasticsearch Organization.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Resubscribe Properties",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ResubscribeProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Resubscribe": {
            "$ref": "./examples/Organizations_Resubscribe.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ElasticMonitorResource"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/tagRules": {
      "get": {
        "operationId": "TagRules_List",
        "tags": [
          "TagRules"
        ],
        "description": "List all tag rules for a given Elastic monitor resource, helping you manage fine-grained control over observability based on resource tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRulesListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_List": {
            "$ref": "./examples/TagRules_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/tagRules/{ruleSetName}": {
      "get": {
        "operationId": "TagRules_Get",
        "tags": [
          "TagRules"
        ],
        "description": "Get detailed information about a tag rule set for a given Elastic monitor resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "ruleSetName",
            "in": "path",
            "description": "Tag Rule Set resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRules"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_Get": {
            "$ref": "./examples/TagRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "TagRules_CreateOrUpdate",
        "tags": [
          "TagRules"
        ],
        "description": "Create or update a tag rule set for a given Elastic monitor resource, enabling fine-grained control over observability based on resource tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "ruleSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "request body of MonitoringTagRules",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MonitoringTagRules"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MonitoringTagRules' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRules"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_CreateOrUpdate": {
            "$ref": "./examples/TagRules_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "TagRules_Delete",
        "tags": [
          "TagRules"
        ],
        "description": "Delete a tag rule set for a given Elastic monitor resource, removing fine-grained control over observability based on resource tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "ruleSetName",
            "in": "path",
            "description": "Tag Rule Set resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_Delete": {
            "$ref": "./examples/TagRules_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/upgrade": {
      "post": {
        "operationId": "Monitor_Upgrade",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Upgrade the Elastic monitor resource to a newer version, ensuring optimal observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Elastic Monitor Upgrade Parameters",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ElasticMonitorUpgrade"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitor_Upgrade": {
            "$ref": "./examples/Monitor_Upgrade.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/vmCollectionUpdate": {
      "post": {
        "operationId": "VMCollection_Update",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "Update the VM details that will be monitored by the Elastic monitor resource, ensuring optimal observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "VM resource Id",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VMCollectionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VMCollection_Update": {
            "$ref": "./examples/VMCollection_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/vmIngestionDetails": {
      "post": {
        "operationId": "VMIngestion_Details",
        "tags": [
          "ElasticMonitorResources"
        ],
        "description": "List detailed information about VM ingestion that will be monitored by the Elastic monitor resource, ensuring optimal observability and performance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Monitor resource name",
            "required": true,
            "type": "string",
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VMIngestionDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VMIngestion_Details": {
            "$ref": "./examples/VMIngestion_Details.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BillingInfoResponse": {
      "type": "object",
      "description": "Marketplace Subscription and Organization details to which resource gets billed into.",
      "properties": {
        "marketplaceSaasInfo": {
          "$ref": "#/definitions/MarketplaceSaaSInfo",
          "description": "Marketplace Subscription details"
        },
        "partnerBillingEntity": {
          "$ref": "#/definitions/PartnerBillingEntity",
          "description": "Partner Billing Entity details: Organization Info"
        }
      }
    },
    "CompanyInfo": {
      "type": "object",
      "description": "Company information of the user to be passed to partners.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain of the company",
          "maxLength": 256
        },
        "business": {
          "type": "string",
          "description": "Business of the company",
          "maxLength": 128
        },
        "employeesNumber": {
          "type": "string",
          "description": "Number of employees in the company",
          "maxLength": 20
        },
        "state": {
          "type": "string",
          "description": "State of the company location.",
          "maxLength": 128
        },
        "country": {
          "type": "string",
          "description": "Country of the company location.",
          "maxLength": 128
        }
      }
    },
    "ConfigurationType": {
      "type": "string",
      "description": "Configuration type of the Elasticsearch project",
      "enum": [
        "GeneralPurpose",
        "Vector",
        "TimeSeries",
        "NotApplicable"
      ],
      "x-ms-enum": {
        "name": "ConfigurationType",
        "modelAsString": true,
        "values": [
          {
            "name": "GeneralPurpose",
            "value": "GeneralPurpose"
          },
          {
            "name": "Vector",
            "value": "Vector"
          },
          {
            "name": "TimeSeries",
            "value": "TimeSeries"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable"
          }
        ]
      }
    },
    "ConnectedPartnerResourceProperties": {
      "type": "object",
      "description": "Connected Partner Resource Properties",
      "properties": {
        "partnerDeploymentName": {
          "type": "string",
          "description": "Elastic resource name"
        },
        "partnerDeploymentUri": {
          "type": "string",
          "description": "URL of the resource in Elastic cloud."
        },
        "azureResourceId": {
          "type": "string",
          "description": "The azure resource Id of the resource."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "type": {
          "type": "string",
          "description": "The hosting type of the resource."
        }
      }
    },
    "ConnectedPartnerResourcesListFormat": {
      "type": "object",
      "description": "Connected Partner Resources List Format",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectedPartnerResourceProperties",
          "description": "Connected Partner Resource Properties"
        }
      }
    },
    "ConnectedPartnerResourcesListResponse": {
      "type": "object",
      "description": "List of all active elastic deployments.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectedPartnerResourcesListFormat items on this page",
          "items": {
            "$ref": "#/definitions/ConnectedPartnerResourcesListFormat"
          },
          "x-ms-identifiers": [
            "properties/azureResourceId"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentInfoResponse": {
      "type": "object",
      "description": "The properties of deployment in Elastic cloud corresponding to the Elastic monitor resource.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ElasticDeploymentStatus",
          "description": "The Elastic deployment status.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of the elasticsearch in Elastic cloud deployment.",
          "readOnly": true
        },
        "memoryCapacity": {
          "type": "string",
          "description": "RAM capacity of the elasticsearch in Elastic cloud deployment.",
          "readOnly": true
        },
        "diskCapacity": {
          "type": "string",
          "description": "Disk capacity of the elasticsearch in Elastic cloud deployment.",
          "readOnly": true
        },
        "elasticsearchEndPoint": {
          "type": "string",
          "description": "Elasticsearch endpoint in Elastic cloud deployment. This is either the aliased_endpoint if available, or the service_url otherwise.",
          "readOnly": true
        },
        "deploymentUrl": {
          "type": "string",
          "description": "Deployment URL of the elasticsearch in Elastic cloud deployment.",
          "readOnly": true
        },
        "marketplaceSaasInfo": {
          "$ref": "#/definitions/MarketplaceSaaSInfo",
          "description": "Marketplace SaaS Info of the resource.",
          "readOnly": true
        },
        "projectType": {
          "type": "string",
          "description": "Project Type - Applicable for Serverless only.",
          "readOnly": true
        },
        "configurationType": {
          "type": "string",
          "description": "ConfigurationType Type - Applicable for Serverless only.",
          "readOnly": true
        }
      }
    },
    "ElasticCloudDeployment": {
      "type": "object",
      "description": "Details of the user's elastic deployment associated with the monitor resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Elastic deployment name",
          "readOnly": true
        },
        "deploymentId": {
          "type": "string",
          "description": "Elastic deployment Id",
          "readOnly": true
        },
        "azureSubscriptionId": {
          "type": "string",
          "description": "Associated Azure subscription Id for the elastic deployment.",
          "readOnly": true
        },
        "elasticsearchRegion": {
          "type": "string",
          "description": "Region where Deployment at Elastic side took place.",
          "readOnly": true
        },
        "elasticsearchServiceUrl": {
          "type": "string",
          "description": "Elasticsearch ingestion endpoint of the Elastic deployment.",
          "readOnly": true
        },
        "kibanaServiceUrl": {
          "type": "string",
          "description": "Kibana endpoint of the Elastic deployment.",
          "readOnly": true
        },
        "kibanaSsoUrl": {
          "type": "string",
          "description": "Kibana dashboard sso URL of the Elastic deployment.",
          "readOnly": true
        }
      }
    },
    "ElasticCloudUser": {
      "type": "object",
      "description": "Details of the user's elastic account.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email of the Elastic User Account.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "User Id of the elastic account of the User.",
          "readOnly": true
        },
        "elasticCloudSsoDefaultUrl": {
          "type": "string",
          "description": "Elastic cloud default dashboard sso URL of the Elastic user account.",
          "readOnly": true
        }
      }
    },
    "ElasticDeploymentStatus": {
      "type": "string",
      "description": "Flag specifying if the Elastic deployment status is healthy or not.",
      "enum": [
        "Healthy",
        "Unhealthy"
      ],
      "x-ms-enum": {
        "name": "ElasticDeploymentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy"
          },
          {
            "name": "Unhealthy",
            "value": "Unhealthy"
          }
        ]
      }
    },
    "ElasticMonitorResource": {
      "type": "object",
      "description": "Monitor resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MonitorProperties",
          "description": "Properties of the monitor resource."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the Elastic resource - observability, security, search etc."
        },
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "SKU of the monitor resource."
        },
        "identity": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "Identity properties of the monitor resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ElasticMonitorResourceListResponse": {
      "type": "object",
      "description": "Response of a list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ElasticMonitorResource items on this page",
          "items": {
            "$ref": "#/definitions/ElasticMonitorResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ElasticMonitorResourceUpdateParameters": {
      "type": "object",
      "description": "Monitor resource update parameters.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "elastic monitor resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ElasticMonitorUpgrade": {
      "type": "object",
      "description": "Upgrade elastic monitor version",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version to which the elastic monitor should be upgraded to"
        }
      }
    },
    "ElasticOrganizationToAzureSubscriptionMappingResponse": {
      "type": "object",
      "description": "The Azure Subscription ID to which the Organization of the logged in user belongs and gets billed into.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticOrganizationToAzureSubscriptionMappingResponseProperties",
          "description": "The properties of Azure Subscription ID to which the Organization of the logged in user belongs and gets billed into."
        }
      }
    },
    "ElasticOrganizationToAzureSubscriptionMappingResponseProperties": {
      "type": "object",
      "description": "The properties of Azure Subscription ID to which the Organization of the logged in user belongs and gets billed into.",
[...]
