{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-01",
    "title": "PowerBIDedicated",
    "description": "PowerBI Dedicated Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Power BI dedicated capacities",
    "x-ms-code-generation-settings": {
      "name": "PowerBIDedicatedManagementClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}": {
      "get": {
        "description": "Gets details about the specified dedicated capacity.",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/getCapacity.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_GetDetails",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Provisions the specified Dedicated capacity based on the configuration specified in the request.",
        "x-ms-examples": {
          "Create capacity": {
            "$ref": "./examples/createCapacity.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63."
          },
          {
            "name": "capacityParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            },
            "description": "Contains the information used to provision the Dedicated capacity."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          },
          "201": {
            "description": "InProgress. The operation is still in progress.",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "description": "Deletes the specified Dedicated capacity.",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/deleteCapacity.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "204": {
            "description": "No Content."
          },
          "202": {
            "description": "Accepted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "description": "Updates the current state of the specified Dedicated capacity.",
        "x-ms-examples": {
          "Update capacity parameters": {
            "$ref": "./examples/updateCapacity.json"
          },
          "Update capacity to Generation 2": {
            "$ref": "./examples/updateToGen2.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "name": "capacityUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedCapacityUpdateParameters"
            },
            "description": "Request object that contains the updated information for the capacity."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacity"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/suspend": {
      "post": {
        "description": "Suspends operation of the specified dedicated capacity instance.",
        "x-ms-examples": {
          "Suspend capacity": {
            "$ref": "./examples/suspendCapacity.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_Suspend",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/resume": {
      "post": {
        "description": "Resumes operation of the specified Dedicated capacity instance.",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/resumeCapacity.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_Resume",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities": {
      "get": {
        "description": "Gets all the Dedicated capacities for the given resource group.",
        "x-ms-examples": {
          "List capacities in resource group": {
            "$ref": "./examples/listCapacitiesInResourceGroup.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacities"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/capacities": {
      "get": {
        "description": "Lists all the Dedicated capacities for the given subscription.",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/listCapacitiesInSubscription.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedCapacities"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/skus": {
      "get": {
        "description": "Lists eligible SKUs for PowerBI Dedicated resource provider.",
        "x-ms-examples": {
          "List eligible SKUs for a new capacity": {
            "$ref": "./examples/listSKUsForNew.json"
          }
        },
        "operationId": "Capacities_ListSkus",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SkuEnumerationForNewResourceResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/skus": {
      "get": {
        "description": "Lists eligible SKUs for a PowerBI Dedicated resource.",
        "x-ms-examples": {
          "List eligible SKUs for an existing capacity": {
            "$ref": "./examples/listSKUsForExisting.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_ListSkusForCapacity",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dedicatedCapacityName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SkuEnumerationForExistingResourceResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.PowerBIDedicated/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available PowerBIDedicated REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/locations/{location}/checkNameAvailability": {
      "post": {
        "x-ms-examples": {
          "Check name availability of a capacity": {
            "$ref": "./examples/checkNameAvailability.json"
          }
        },
        "tags": [
          "Capacities"
        ],
        "operationId": "Capacities_CheckNameAvailability",
        "description": "Check the name availability in the target location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The region name which the operation will lookup into."
          },
          {
            "name": "capacityParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckCapacityNameAvailabilityParameters"
            },
            "description": "The name of the capacity."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckCapacityNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result listing capacities. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of capacities supported by the Microsoft.PowerBIDedicated resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Capacities REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.PowerBIDedicated.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: capacity, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: create, update, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Resource": {
      "description": "Represents an instance of an PowerBI Dedicated resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the PowerBI Dedicated resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the PowerBI Dedicated resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the PowerBI Dedicated resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the PowerBI Dedicated resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "DedicatedCapacity": {
      "description": "Represents an instance of a Dedicated Capacity resource.",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/CapacitySku",
          "description": "The SKU of the PowerBI Dedicated capacity resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DedicatedCapacityProperties",
          "description": "Properties of the provision operation request."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "sku"
      ]
    },
    "DedicatedCapacities": {
      "description": "An array of Dedicated capacities resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DedicatedCapacity"
          },
          "description": "An array of Dedicated capacities resources."
        }
      },
      "required": [
        "value"
      ]
    },
    "DedicatedCapacityUpdateParameters": {
      "description": "Provision request specification",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/CapacitySku",
          "description": "The SKU of the Dedicated capacity resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional provisioning properties."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DedicatedCapacityMutableProperties",
          "description": "Properties of the provision operation request."
        }
      }
    },
    "DedicatedCapacityProperties": {
      "description": "Properties of Dedicated Capacity resource.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Paused",
            "Suspended",
            "Provisioning",
            "Updating",
            "Suspending",
            "Pausing",
            "Resuming",
            "Preparing",
            "Scaling"
          ],
          "x-ms-enum": {
            "name": "State",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current state of PowerBI Dedicated resource. The state is to indicate more states outside of resource provisioning."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Paused",
            "Suspended",
            "Provisioning",
            "Updating",
            "Suspending",
            "Pausing",
            "Resuming",
            "Preparing",
            "Scaling"
          ],
          "x-ms-enum": {
            "name": "CapacityProvisioningState",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current deployment state of PowerBI Dedicated resource. The provisioningState is to indicate states for resource provisioning."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DedicatedCapacityMutableProperties"
        }
      ]
    },
    "CapacitySku": {
      "description": "Represents the SKU name and Azure pricing tier for PowerBI Dedicated capacity resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU level."
        },
        "tier": {
          "type": "string",
          "enum": [
            "PBIE_Azure",
            "Premium",
            "AutoPremiumHost"
          ],
          "x-ms-enum": {
            "name": "CapacitySkuTier",
            "modelAsString": true
          },
          "description": "The name of the Azure pricing tier to which the SKU applies."
        }
      },
      "required": [
        "name"
      ]
    },
    "DedicatedCapacityMutableProperties": {
      "description": "An object that represents a set of mutable Dedicated capacity resource properties.",
      "type": "object",
      "properties": {
        "administration": {
          "$ref": "#/definitions/DedicatedCapacityAdministrators",
          "description": "A collection of Dedicated capacity administrators"
        },
        "mode": {
          "description": "Specifies the generation of the Power BI Embedded capacity. If no value is specified, the default value 'Gen2' is used. [Learn More](https://docs.microsoft.com/power-bi/developer/embedded/power-bi-embedded-generation-2)",
          "type": "string",
          "enum": [
            "Gen1",
            "Gen2"
          ],
          "x-ms-enum": {
            "name": "Mode",
            "modelAsString": true
          }
        }
      }
    },
    "DedicatedCapacityAdministrators": {
      "description": "An array of administrator user identities",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The UPN of the user. For example: johnsmith@contoso.com."
          },
          "description": "An array of administrator user identities."
        }
      }
    },
    "SkuEnumerationForNewResourceResult": {
      "description": "An object that represents enumerating SKUs for new resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CapacitySku"
          },
          "description": "The collection of available SKUs for new resources"
        }
      }
    },
    "SkuEnumerationForExistingResourceResult": {
      "description": "An object that represents enumerating SKUs for existing resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuDetailsForExistingResource"
          },
          "description": "The collection of available SKUs for existing resources"
        }
      }
    },
    "SkuDetailsForExistingResource": {
      "description": "An object that represents SKU details for existing resources",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/CapacitySku",
          "description": "The SKU in SKU details for existing resources."
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Describes the format of Error response.",
      "properties": {
        "error": {
          "description": "The error object",
          "properties": {
            "code": {
              "type": "string",
              "description": "Error code"
            },
            "message": {
              "type": "string",
              "description": "Error message indicating why the operation failed."
            }
          }
        }
      }
    },
    "CheckCapacityNameAvailabilityParameters": {
      "description": "Details of capacity name request body.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "pattern": "^[a-z][a-z0-9]*$",
          "minLength": 3,
          "maxLength": 63,
          "description": "Name for checking availability."
        },
        "type": {
          "type": "string",
          "default": "Microsoft.PowerBIDedicated/capacities",
          "description": "The resource type of PowerBI dedicated."
        }
      }
    },
    "CheckCapacityNameAvailabilityResult": {
      "description": "The checking result of capacity name availability.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicator of availability of the capacity name."
        },
        "reason": {
          "type": "string",
          "description": "The reason of unavailability."
        },
        "message": {
          "type": "string",
          "description": "The detailed message of the request unavailability."
        }
      }
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "An identifier for the identity that created the resource"
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that created the resource"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "An identifier for the identity that last modified the resource"
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that last modified the resource"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "IdentityType": {
      "description": "The type of identity that created/modified the resource.",
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The client API version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90."
    }
  }
}
