{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.StandbyPool",
    "version": "2023-06-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StandbyVirtualMachinePools"
    },
    {
      "name": "StandbyVirtualMachines"
    }
  ],
  "paths": {
    "/providers/Microsoft.StandbyPool/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools": {
      "get": {
        "operationId": "StandbyVirtualMachinePools_ListBySubscription",
        "tags": [
          "StandbyVirtualMachinePools"
        ],
        "description": "List StandbyVirtualMachinePoolResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachinePools_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_ListBySubscription_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachinePools_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools": {
      "get": {
        "operationId": "StandbyVirtualMachinePools_ListByResourceGroup",
        "tags": [
          "StandbyVirtualMachinePools"
        ],
        "description": "List StandbyVirtualMachinePoolResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachinePools_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachinePools_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/{standbyVirtualMachinePoolName}": {
      "get": {
        "operationId": "StandbyVirtualMachinePools_Get",
        "tags": [
          "StandbyVirtualMachinePools"
        ],
        "description": "Get a StandbyVirtualMachinePoolResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standbyVirtualMachinePoolName",
            "in": "path",
            "description": "Name of the standby virtual machine pool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachinePools_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_Get_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachinePools_Get - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "StandbyVirtualMachinePools_CreateOrUpdate",
        "tags": [
          "StandbyVirtualMachinePools"
        ],
        "description": "Create a StandbyVirtualMachinePoolResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standbyVirtualMachinePoolName",
            "in": "path",
            "description": "Name of the standby virtual machine pool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StandbyVirtualMachinePoolResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResource"
            }
          },
          "201": {
            "description": "Resource 'StandbyVirtualMachinePoolResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachinePools_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachinePools_CreateOrUpdate - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "StandbyVirtualMachinePools_Update",
        "tags": [
          "StandbyVirtualMachinePools"
        ],
        "description": "Update a StandbyVirtualMachinePoolResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standbyVirtualMachinePoolName",
            "in": "path",
            "description": "Name of the standby virtual machine pool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachinePoolResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachinePools_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_Update_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachinePools_Update - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "StandbyVirtualMachinePools_Delete",
        "tags": [
          "StandbyVirtualMachinePools"
        ],
        "description": "Delete a StandbyVirtualMachinePoolResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standbyVirtualMachinePoolName",
            "in": "path",
            "description": "Name of the standby virtual machine pool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachinePools_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_Delete_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachinePools_Delete - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachinePools_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/{standbyVirtualMachinePoolName}/standbyVirtualMachines": {
      "get": {
        "operationId": "StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource",
        "tags": [
          "StandbyVirtualMachines"
        ],
        "description": "List StandbyVirtualMachineResource resources by StandbyVirtualMachinePoolResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standbyVirtualMachinePoolName",
            "in": "path",
            "description": "Name of the standby virtual machine pool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachineResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/{standbyVirtualMachinePoolName}/standbyVirtualMachines/{standbyVirtualMachineName}": {
      "get": {
        "operationId": "StandbyVirtualMachines_Get",
        "tags": [
          "StandbyVirtualMachines"
        ],
        "description": "Get a StandbyVirtualMachineResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standbyVirtualMachinePoolName",
            "in": "path",
            "description": "Name of the standby virtual machine pool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "standbyVirtualMachineName",
            "in": "path",
            "description": "Name of the standby virtual machine",
            "required": true,
            "type": "string",
            "pattern": "^[_a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandbyVirtualMachineResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StandbyVirtualMachines_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachines_Get_MaximumSet_Gen.json"
          },
          "StandbyVirtualMachines_Get - generated by [MinimumSet] rule": {
            "$ref": "./examples/StandbyVirtualMachines_Get_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Virtual machine is being deleted."
          }
        ]
      }
    },
    "StandbyVirtualMachinePoolResource": {
      "type": "object",
      "description": "A StandbyVirtualMachinePoolResource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StandbyVirtualMachinePoolResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "StandbyVirtualMachinePoolResourceListResult": {
      "type": "object",
      "description": "The response of a StandbyVirtualMachinePoolResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StandbyVirtualMachinePoolResource items on this page",
          "items": {
            "$ref": "#/definitions/StandbyVirtualMachinePoolResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StandbyVirtualMachinePoolResourceProperties": {
      "type": "object",
      "description": "Details of the StandbyVirtualMachinePool.",
      "properties": {
        "maxReadyCapacity": {
          "type": "integer",
          "format": "int64",
          "description": "Specifies maximum number of standby VMs. When the pool is attached to VMScaleSets, the limit applies to each VMScaleSet.",
          "maximum": 2000
        },
        "virtualMachineState": {
          "$ref": "#/definitions/VirtualMachineState",
          "description": "Specifies the desired state of Virtual Machines in the pool.",
          "x-ms-identifiers": [
            "vmState"
          ]
        },
        "attachedVirtualMachineScaleSetIds": {
          "type": "array",
          "description": "Specifies list of VMScaleSets' fully qualified resource IDs the pool is attached to. When multiple VMScaleSets are specified, standby VMs are created for each VMScaleSet independently.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "maxReadyCapacity",
        "virtualMachineState"
      ]
    },
    "StandbyVirtualMachinePoolResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the StandbyVirtualMachinePoolResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/StandbyVirtualMachinePoolResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "StandbyVirtualMachinePoolResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the StandbyVirtualMachinePoolResource.",
      "properties": {
        "maxReadyCapacity": {
          "type": "integer",
          "format": "int64",
          "description": "Specifies maximum number of standby VMs. When the pool is attached to VMScaleSets, the limit applies to each VMScaleSet.",
          "maximum": 2000
        },
        "virtualMachineState": {
          "$ref": "#/definitions/VirtualMachineState",
          "description": "Specifies the desired state of Virtual Machines in the pool.",
          "x-ms-identifiers": [
            "vmState"
          ]
        },
        "attachedVirtualMachineScaleSetIds": {
          "type": "array",
          "description": "Specifies list of VMScaleSets' fully qualified resource IDs the pool is attached to. When multiple VMScaleSets are specified, standby VMs are created for each VMScaleSet independently.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StandbyVirtualMachineResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StandbyVirtualMachineResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StandbyVirtualMachineResourceListResult": {
      "type": "object",
      "description": "The response of a StandbyVirtualMachineResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StandbyVirtualMachineResource items on this page",
          "items": {
            "$ref": "#/definitions/StandbyVirtualMachineResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StandbyVirtualMachineResourceProperties": {
      "type": "object",
      "description": "Details of the StandbyVirtualMachine.",
      "properties": {
        "virtualMachineResourceId": {
          "type": "string",
          "description": "Resource id of the virtual machine."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "virtualMachineResourceId"
      ]
    },
    "VirtualMachineState": {
      "type": "string",
      "description": "State of standby virtual machines",
      "enum": [
        "Running",
        "Deallocated"
      ],
      "x-ms-enum": {
        "name": "VirtualMachineState",
        "modelAsString": true,
        "values": [
          {
            "name": "Running",
            "value": "Running",
            "description": "Virtual machine is up and running."
          },
          {
            "name": "Deallocated",
            "value": "Deallocated",
            "description": "The virtual machine has released the lease on the underlying hardware and is powered off."
          }
        ]
      }
    }
  },
  "parameters": {}
}
