{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Storage Sync",
    "description": "Microsoft Storage Sync Service API",
    "version": "2020-09-01",
    "x-ms-code-generation-settings": {
      "name": "StorageSyncManagementClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.StorageSync/operations": {
      "get": {
        "tags": [
          "ResourceProvider",
          "Operations"
        ],
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "Lists all of the available Storage Sync Rest API operations.",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of operations resources in the Resource Provider",
            "schema": {
              "$ref": "#/definitions/OperationEntityListResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/checkNameAvailability": {
      "post": {
        "tags": [
          "StorageSyncService"
        ],
        "operationId": "StorageSyncServices_CheckNameAvailability",
        "x-ms-examples": {
          "StorageSyncServiceCheckNameAvailability_Available": {
            "$ref": "./examples/StorageSyncServiceCheckNameAvailability_Available.json"
          },
          "StorageSyncServiceCheckNameAvailability_AlreadyExists": {
            "$ref": "./examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json"
          }
        },
        "description": "Check the give namespace name availability.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The desired region for the name check."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            },
            "description": "Parameters to check availability of the given namespace name"
          }
        ],
        "responses": {
          "200": {
            "description": "check availability returned successfully.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}": {
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Storage Sync Service resource name.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceCreateParameters"
            }
          }
        ],
        "tags": [
          "StorageSyncServices Resource"
        ],
        "operationId": "StorageSyncServices_Create",
        "description": "Create a new StorageSyncService.",
        "x-ms-examples": {
          "StorageSyncServices_Create": {
            "$ref": "./examples/StorageSyncServices_Create.json"
          }
        },
        "responses": {
          "200": {
            "description": "Storage Sync Service object created/updated",
            "schema": {
              "$ref": "#/definitions/StorageSyncService"
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "StorageSyncServices Resource"
        ],
        "operationId": "StorageSyncServices_Get",
        "description": "Get a given StorageSyncService.",
        "x-ms-examples": {
          "StorageSyncServices_Get": {
            "$ref": "./examples/StorageSyncServices_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Storage Sync Service object",
            "schema": {
              "$ref": "#/definitions/StorageSyncService"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Storage Sync Service resource.",
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceUpdateParameters"
            }
          }
        ],
        "tags": [
          "StorageSyncServices Resource"
        ],
        "operationId": "StorageSyncServices_Update",
        "description": "Patch a given StorageSyncService.",
        "x-ms-examples": {
          "StorageSyncServices_Update": {
            "$ref": "./examples/StorageSyncServices_Update.json"
          }
        },
        "responses": {
          "200": {
            "description": "Storage Sync Service object created/updated",
            "schema": {
              "$ref": "#/definitions/StorageSyncService"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "StorageSyncServices Resource"
        ],
        "operationId": "StorageSyncServices_Delete",
        "description": "Delete a given StorageSyncService.",
        "x-ms-examples": {
          "StorageSyncServices_Delete": {
            "$ref": "./examples/StorageSyncServices_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Storage Sync Service object was deleted.",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Storage Sync Service Resource doesn't exist"
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "StorageSyncServices Resource"
        ],
        "operationId": "StorageSyncServices_ListByResourceGroup",
        "description": "Get a StorageSyncService list by Resource group name.",
        "x-ms-examples": {
          "StorageSyncServices_ListByResourceGroup": {
            "$ref": "./examples/StorageSyncServices_ListByResourceGroup.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of registered Storage Sync Service resources in the Resource Group",
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceArray"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "StorageSyncServices Resource"
        ],
        "operationId": "StorageSyncServices_ListBySubscription",
        "description": "Get a StorageSyncService list by subscription.",
        "x-ms-examples": {
          "StorageSyncServices_ListBySubscription": {
            "$ref": "./examples/StorageSyncServices_ListBySubscription.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of registered Storage Sync Service resources in the subscription.",
            "schema": {
              "$ref": "#/definitions/StorageSyncServiceArray"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "operationId": "PrivateLinkResources_ListByStorageSyncService",
        "description": "Gets the private link resources that need to be created for a storage sync service.",
        "x-ms-examples": {
          "PrivateLinkResources_List": {
            "$ref": "./examples/PrivateLinkResources_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageSyncServiceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Get",
        "description": "Gets the specified private endpoint connection associated with the storage sync service.",
        "x-ms-examples": {
          "PrivateEndpointConnections_Get": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageSyncServiceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Create",
        "description": "Update the state of specified private endpoint connection associated with the storage sync service.",
        "x-ms-examples": {
          "PrivateEndpointConnections_Create": {
            "$ref": "./examples/PrivateEndpointConnections_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageSyncServiceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
            },
            "description": "The private endpoint connection properties."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Update the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Delete",
        "description": "Deletes the specified private endpoint connection associated with the storage sync service.",
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageSyncServiceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the private endpoint connection successfully."
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content -- The private endpoint connection does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateEndpointConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "PrivateEndpointConnection Resource"
        ],
        "operationId": "PrivateEndpointConnections_ListByStorageSyncService",
        "description": "Get a PrivateEndpointConnection List.",
        "x-ms-examples": {
          "PrivateEndpointConnections_ListByStorageSyncService": {
            "$ref": "./examples/PrivateEndpointConnections_ListByStorageSyncService.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of Sync Group resources in Storage Sync Service",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SyncGroup Resource"
        ],
        "operationId": "SyncGroups_ListByStorageSyncService",
        "description": "Get a SyncGroup List.",
        "x-ms-examples": {
          "SyncGroups_ListByStorageSyncService": {
            "$ref": "./examples/SyncGroups_ListByStorageSyncService.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of Sync Group resources in Storage Sync Service",
            "schema": {
              "$ref": "#/definitions/SyncGroupArray"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}": {
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Sync Group Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SyncGroupCreateParameters"
            }
          }
        ],
        "tags": [
          "SyncGroup Resource"
        ],
        "operationId": "SyncGroups_Create",
        "description": "Create a new SyncGroup.",
        "x-ms-examples": {
          "SyncGroups_Create": {
            "$ref": "./examples/SyncGroups_Create.json"
          }
        },
        "responses": {
          "200": {
            "description": "Sync Group object",
            "schema": {
              "$ref": "#/definitions/SyncGroup"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SyncGroup Resource"
        ],
        "operationId": "SyncGroups_Get",
        "description": "Get a given SyncGroup.",
        "x-ms-examples": {
          "SyncGroups_Get": {
            "$ref": "./examples/SyncGroups_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Sync Group object",
            "schema": {
              "$ref": "#/definitions/SyncGroup"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SyncGroup Resource"
        ],
        "operationId": "SyncGroups_Delete",
        "description": "Delete a given SyncGroup.",
        "x-ms-examples": {
          "SyncGroups_Delete": {
            "$ref": "./examples/SyncGroups_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Sync Group object was deleted",
            "headers": {
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource doesn't exist"
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}": {
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Cloud Endpoint resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudEndpointCreateParameters"
            }
          }
        ],
        "tags": [
          "CloudEndpoint Resource"
        ],
        "operationId": "CloudEndpoints_Create",
        "description": "Create a new CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_Create": {
            "$ref": "./examples/CloudEndpoints_Create.json"
          }
        },
        "responses": {
          "200": {
            "description": "Cloud Endpoint object",
            "schema": {
              "$ref": "#/definitions/CloudEndpoint"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "CloudEndpoint Resource"
        ],
        "operationId": "CloudEndpoints_Get",
        "description": "Get a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_Get": {
            "$ref": "./examples/CloudEndpoints_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Cloud Endpoint object",
            "schema": {
              "$ref": "#/definitions/CloudEndpoint"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "CloudEndpoint Resource"
        ],
        "operationId": "CloudEndpoints_Delete",
        "description": "Delete a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_Delete": {
            "$ref": "./examples/CloudEndpoints_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Retry-After": {
                "description": "Retry After",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request id",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource doesn't exist"
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "CloudEndpoint Resource"
        ],
        "operationId": "CloudEndpoints_ListBySyncGroup",
        "description": "Get a CloudEndpoint List.",
        "x-ms-examples": {
          "CloudEndpoints_ListBySyncGroup": {
            "$ref": "./examples/CloudEndpoints_ListBySyncGroup.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of Cloud Endpoint resources in Sync Group",
            "schema": {
              "$ref": "#/definitions/CloudEndpointArray"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prebackup": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Backup request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupRequest"
            }
          }
        ],
        "tags": [
          "CloudEndpoint Resource",
          "Actions",
          "Backup Restore"
        ],
        "operationId": "CloudEndpoints_PreBackup",
        "description": "Pre Backup a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_PreBackup": {
            "$ref": "./examples/CloudEndpoints_PreBackup.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Backup request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupRequest"
            }
          }
        ],
        "tags": [
          "CloudEndpoint Resource",
          "Actions",
          "Backup Restore"
        ],
        "operationId": "CloudEndpoints_PostBackup",
        "description": "Post Backup a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_PostBackup": {
            "$ref": "./examples/CloudEndpoints_PostBackup.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PostBackupResponse"
            },
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prerestore": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Cloud Endpoint object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreRestoreRequest"
            }
          }
        ],
        "tags": [
          "CloudEndpoint Resource",
          "Actions",
          "Backup Restore"
        ],
        "operationId": "CloudEndpoints_PreRestore",
        "description": "Pre Restore a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_PreRestore": {
            "$ref": "./examples/CloudEndpoints_PreRestore.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/restoreheartbeat": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "CloudEndpoint Resource",
          "Actions",
          "Backup Restore"
        ],
        "operationId": "CloudEndpoints_restoreheartbeat",
        "description": "Restore Heartbeat a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_restoreheartbeat": {
            "$ref": "./examples/CloudEndpoints_RestoreHeatbeat.json"
          }
        },
        "responses": {
          "200": {
            "description": "Restore Heartbeat Operation has ran successfully.",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Cloud Endpoint object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostRestoreRequest"
            }
          }
        ],
        "tags": [
          "CloudEndpoint Resource",
          "Actions",
          "Backup Restore"
        ],
        "operationId": "CloudEndpoints_PostRestore",
        "description": "Post Restore a given CloudEndpoint.",
        "x-ms-examples": {
          "CloudEndpoints_PostRestore": {
            "$ref": "./examples/CloudEndpoints_PostRestore.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/triggerChangeDetection": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cloudEndpointName",
            "in": "path",
            "description": "Name of Cloud Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Trigger Change Detection Action parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerChangeDetectionParameters"
            }
          }
        ],
        "tags": [
          "CloudEndpoint Resource",
          "Actions",
          "Change Detection"
        ],
        "operationId": "CloudEndpoints_TriggerChangeDetection",
        "description": "Triggers detection of changes performed on Azure File share connected to the specified Azure File Sync Cloud Endpoint.",
        "x-ms-examples": {
          "CloudEndpoints_TriggerChangeDetection": {
            "$ref": "./examples/CloudEndpoints_TriggerChangeDetection.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}": {
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverEndpointName",
            "in": "path",
            "description": "Name of Server Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Server Endpoint object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerEndpointCreateParameters"
            }
          }
        ],
        "tags": [
          "ServerEndpoint Resource"
        ],
        "operationId": "ServerEndpoints_Create",
        "description": "Create a new ServerEndpoint.",
        "x-ms-examples": {
          "ServerEndpoints_Create": {
            "$ref": "./examples/ServerEndpoints_Create.json"
          }
        },
        "responses": {
          "200": {
            "description": "Server Endpoint object",
            "schema": {
              "$ref": "#/definitions/ServerEndpoint"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverEndpointName",
            "in": "path",
            "description": "Name of Server Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Any of the properties applicable in PUT request.",
            "schema": {
              "$ref": "#/definitions/ServerEndpointUpdateParameters"
            }
          }
        ],
        "tags": [
          "ServerEndpoint Resource"
        ],
        "operationId": "ServerEndpoints_Update",
        "description": "Patch a given ServerEndpoint.",
        "x-ms-examples": {
          "ServerEndpoints_Update": {
            "$ref": "./examples/ServerEndpoints_Update.json"
          }
        },
        "responses": {
          "200": {
            "description": "Server Endpoint object",
            "schema": {
              "$ref": "#/definitions/ServerEndpoint"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverEndpointName",
            "in": "path",
            "description": "Name of Server Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServerEndpoint Resource"
        ],
        "operationId": "ServerEndpoints_Get",
        "description": "Get a ServerEndpoint.",
        "x-ms-examples": {
          "ServerEndpoints_Get": {
            "$ref": "./examples/ServerEndpoints_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Server Endpoint object",
            "schema": {
              "$ref": "#/definitions/ServerEndpoint"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverEndpointName",
            "in": "path",
            "description": "Name of Server Endpoint object.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServerEndpoint Resource"
        ],
        "operationId": "ServerEndpoints_Delete",
        "description": "Delete a given ServerEndpoint.",
        "x-ms-examples": {
          "ServerEndpoints_Delete": {
            "$ref": "./examples/ServerEndpoints_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServerEndpoint Resource"
        ],
        "operationId": "ServerEndpoints_ListBySyncGroup",
        "description": "Get a ServerEndpoint list.",
        "x-ms-examples": {
          "ServerEndpoints_ListBySyncGroup": {
            "$ref": "./examples/ServerEndpoints_ListBySyncGroup.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of Server Endpoint resources in Sync Group",
            "schema": {
              "$ref": "#/definitions/ServerEndpointArray"
            },
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}/recallAction": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "syncGroupName",
            "in": "path",
            "description": "Name of Sync Group resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverEndpointName",
            "in": "path",
            "description": "Name of Server Endpoint object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Recall Action object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecallActionParameters"
            }
          }
        ],
        "tags": [
          "ServerEndpoint Resource",
          "Actions"
        ],
        "operationId": "ServerEndpoints_recallAction",
        "description": "Recall a server endpoint.",
        "x-ms-examples": {
          "ServerEndpoints_recallAction": {
            "$ref": "./examples/ServerEndpoints_Recall.json"
          }
        },
        "responses": {
          "200": {
            "description": "Server Endpoint object",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegisteredServer Resource"
        ],
        "operationId": "RegisteredServers_ListByStorageSyncService",
        "description": "Get a given registered server list.",
        "x-ms-examples": {
          "RegisteredServers_ListByStorageSyncService": {
            "$ref": "./examples/RegisteredServers_ListByStorageSyncService.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of Registered Server resources in Storage Sync Service",
            "schema": {
              "$ref": "#/definitions/RegisteredServerArray"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegisteredServer Resource"
        ],
        "operationId": "RegisteredServers_Get",
        "description": "Get a given registered server.",
        "x-ms-examples": {
          "RegisteredServers_Get": {
            "$ref": "./examples/RegisteredServers_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Registered Server resources in Sync Group",
            "schema": {
              "$ref": "#/definitions/RegisteredServer"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Registered Server object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisteredServerCreateParameters"
            }
          }
        ],
        "tags": [
          "RegisteredServer Resource"
        ],
        "operationId": "RegisteredServers_Create",
        "description": "Add a new registered server.",
        "x-ms-examples": {
          "RegisteredServers_Create": {
            "$ref": "./examples/RegisteredServers_Create.json"
          }
        },
        "responses": {
          "200": {
            "description": "Registered Server resources in Sync Group",
            "schema": {
              "$ref": "#/definitions/RegisteredServer"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "GUID identifying the on-premises server.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegisteredServer Resource"
        ],
        "operationId": "RegisteredServers_Delete",
        "description": "Delete the given registered server.",
        "x-ms-examples": {
          "RegisteredServers_Delete": {
            "$ref": "./examples/RegisteredServers_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource doesn't exist"
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}/triggerRollover": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "Server Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Body of Trigger Rollover request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRolloverRequest"
            }
          }
        ],
        "tags": [
          "RegisteredServer Resource",
          "Actions"
        ],
        "operationId": "RegisteredServers_triggerRollover",
        "description": "Triggers Server certificate rollover.",
        "x-ms-examples": {
          "RegisteredServers_triggerRollover": {
            "$ref": "./examples/RegisteredServers_TriggerRollover.json"
          }
        },
        "responses": {
          "200": {
            "description": "Trigger Rollover success status",
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Asynchronous Operation Status Location",
            "headers": {
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Workflow Resource"
        ],
        "operationId": "Workflows_ListByStorageSyncService",
        "description": "Get a Workflow List",
        "x-ms-examples": {
          "Workflows_ListByStorageSyncService": {
            "$ref": "./examples/Workflows_ListByStorageSyncService.json"
          }
        },
        "responses": {
          "200": {
            "description": "Array of Workflow resources in Storage Sync Service",
            "schema": {
              "$ref": "#/definitions/WorkflowArray"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "request id.",
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "description": "correlation request id.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error message indicating why the operation failed.",
            "schema": {
              "$ref": "#/definitions/StorageSyncError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "storageSyncServiceName",
            "in": "path",
            "description": "Name of Storage Sync Service resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowId",
            "in": "path",
[...]
