{
  "swagger": "2.0",
  "info": {
    "title": "Groups RP APIs",
    "version": "2026-03-01-preview",
    "description": "The Groups RP provides Service Groups as a construct to group multiple resources, resource groups, subscriptions and other service groups into an organizational hierarchy and centrally manage access control, policies, alerting and reporting for those resources",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ServiceGroups"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}": {
      "get": {
        "operationId": "ServiceGroups_Get",
        "tags": [
          "ServiceGroups"
        ],
        "description": "Get the details of the serviceGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetServiceGroup": {
            "$ref": "./examples/ServiceGroup_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CreateOrUpdateServiceGroup",
        "tags": [
          "ServiceGroups"
        ],
        "description": "Create or Update a serviceGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          },
          {
            "name": "createServiceGroupRequest",
            "in": "body",
            "description": "ServiceGroup creation parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServiceGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceGroup"
            }
          },
          "201": {
            "description": "Resource 'ServiceGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutServiceGroup": {
            "$ref": "./examples/ServiceGroup_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ServiceGroup"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "UpdateServiceGroup",
        "tags": [
          "ServiceGroups"
        ],
        "description": "Update a serviceGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          },
          {
            "name": "updateServiceGroupRequest",
            "in": "body",
            "description": "ServiceGroup update parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchServiceGroup": {
            "$ref": "./examples/ServiceGroup_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ServiceGroup"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DeleteServiceGroup",
        "tags": [
          "ServiceGroups"
        ],
        "description": "Delete a ServiceGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteServiceGroup": {
            "$ref": "./examples/ServiceGroup_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/listAncestors": {
      "post": {
        "operationId": "ServiceGroups_ListAncestors",
        "tags": [
          "ServiceGroups"
        ],
        "description": "Get the details of the serviceGroup's ancestors.\n\nThis is a paginated POST action. When the response contains a skipToken,\nmore results are available; callers must re-POST to the same listAncestors\nURL with that skipToken value in the request body to fetch the next page.\nWhen skipToken is absent, the current page is the last page. SDKs do not\nnatively support POST-based pagination, so callers must loop manually.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAncestorsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListAncestorsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListServiceGroupAncestors": {
            "$ref": "./examples/ServiceGroup_ListAncestors.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/listDescendants": {
      "post": {
        "operationId": "ServiceGroups_ListDescendants",
        "tags": [
          "ServiceGroups"
        ],
        "description": "List the descendant serviceGroups of the serviceGroup, ordered by hierarchy.\n\nThis is a paginated POST action. When the response contains a skipToken,\nmore results are available; callers must re-POST to the same listDescendants\nURL with that skipToken value in the request body to fetch the next page.\nWhen skipToken is absent, the current page is the last page. SDKs do not\nnatively support POST-based pagination, so callers must loop manually.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDescendantsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListDescendantsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListServiceGroupDescendants": {
            "$ref": "./examples/ServiceGroup_ListDescendants.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/listMembers": {
      "post": {
        "operationId": "ServiceGroups_ListMembers",
        "tags": [
          "ServiceGroups"
        ],
        "description": "List the members of the serviceGroup. Members are entities linked to the\nservice group via a Microsoft.Relationships resource\n(Microsoft.Relationships/serviceGroupMember for direct members, or\nMicrosoft.Relationships/contains for members included transitively via a\ncontainer). Descendant service groups are not returned by this action;\nuse listDescendants to enumerate nested service groups.\n\nThis is a paginated POST action. When the response contains a skipToken,\nmore results are available; callers must re-POST to the same listMembers\nURL with that skipToken value in the request body to fetch the next page.\nWhen skipToken is absent, the current page is the last page. SDKs do not\nnatively support POST-based pagination, so callers must loop manually.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceGroupName",
            "in": "path",
            "description": "ServiceGroup Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListMembersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListServiceGroupMembers": {
            "$ref": "./examples/ServiceGroup_ListMembers.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ListAncestorsRequest": {
      "type": "object",
      "description": "Request body for the listAncestors action.",
      "properties": {
        "skipToken": {
          "type": "string",
          "description": "An opaque pagination token returned in the previous response's skipToken field.\nInclude this value in the request body to fetch the next page of results."
        }
      }
    },
    "ListAncestorsResponse": {
      "type": "object",
      "description": "Response for the listAncestors action. Contains a page of ancestor service\ngroups plus an opaque skipToken for fetching subsequent pages.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The page of ancestor service groups.",
          "items": {
            "$ref": "#/definitions/ServiceGroup"
          }
        },
        "skipToken": {
          "type": "string",
          "description": "Opaque pagination token. When present, more results are available; callers\nmust re-POST to the same listAncestors URL with this value in the request\nbody to fetch the next page. When absent, the current page is the last page."
        }
      },
      "required": [
        "value"
      ]
    },
    "ListDescendantsRequest": {
      "type": "object",
      "description": "Request body for the listDescendants action.",
      "properties": {
        "skipToken": {
          "type": "string",
          "description": "An opaque pagination token returned in the previous response's skipToken field.\nInclude this value in the request body to fetch the next page of results."
        }
      }
    },
    "ListDescendantsResponse": {
      "type": "object",
      "description": "Response for the listDescendants action. Contains a page of service groups\nplus an opaque skipToken for fetching subsequent pages.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The page of descendant service groups.",
          "items": {
            "$ref": "#/definitions/ServiceGroup"
          }
        },
        "skipToken": {
          "type": "string",
          "description": "Opaque pagination token. When present, more results are available; callers\nmust re-POST to the same listDescendants URL with this value in the request\nbody to fetch the next page. When absent, the current page is the last page."
        }
      },
      "required": [
        "value"
      ]
    },
    "ListMembersExpand": {
      "type": "string",
      "description": "Controls which members are returned by the listMembers action. Currently\nonly \"allMembers\" is supported. If omitted, the service behaves as if\n\"allMembers\" was specified.",
      "enum": [
        "allMembers"
      ],
      "x-ms-enum": {
        "name": "ListMembersExpand",
        "modelAsString": true,
        "values": [
          {
            "name": "AllMembers",
            "value": "allMembers",
            "description": "Return all members of the service group."
          }
        ]
      }
    },
    "ListMembersRequest": {
      "type": "object",
      "description": "Request body for the listMembers action.",
      "properties": {
        "expand": {
          "$ref": "#/definitions/ListMembersExpand",
          "description": "Controls which members are returned. Only \"allMembers\" is supported today;\nif omitted, the service defaults to \"allMembers\"."
        },
        "filter": {
          "type": "string",
          "description": "A filter expression to narrow the returned members. Reserved for a future\nAPI version; not implemented in this version. Any value provided today is\naccepted but ignored."
        },
        "skipToken": {
          "type": "string",
          "description": "An opaque pagination token returned in the previous response's skipToken field.\nInclude this value in the request body to fetch the next page of results."
        }
      }
    },
    "ListMembersResponse": {
      "type": "object",
      "description": "Response for the listMembers action. Contains a page of service group members\nplus an opaque skipToken for fetching subsequent pages.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The page of service group members.",
          "items": {
            "$ref": "#/definitions/ServiceGroupMember"
          }
        },
        "skipToken": {
          "type": "string",
          "description": "Opaque pagination token. When present, more results are available; callers\nmust re-POST to the same listMembers URL with this value in the request\nbody to fetch the next page. When absent, the current page is the last page."
        }
      },
      "required": [
        "value"
      ]
    },
    "ParentServiceGroupProperties": {
      "type": "object",
      "description": "The details of the parent serviceGroup.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified ID of the parent serviceGroup.  For example, '/providers/Microsoft.Management/serviceGroups/TestServiceGroup'",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/serviceGroups"
              }
            ]
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the serviceGroup. For example, Running",
      "enum": [
        "NotStarted",
        "Running",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "NotStarted"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Running"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          }
        ]
      }
    },
    "ServiceGroup": {
      "type": "object",
      "description": "The serviceGroup details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceGroupProperties",
          "description": "ServiceGroup creation request body parameters."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the serviceGroup.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "description": "The serviceGroup tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceGroupMember": {
      "type": "object",
      "description": "A member of a service group. Members are entities linked to the service\ngroup via a Microsoft.Relationships resource (serviceGroupMember or\ncontains). Descendant service groups are not returned as members; use\nlistDescendants for those.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified ARM ID of the member. For example,\n/subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.KeyVault/vaults/{vaultName}.",
          "readOnly": true
        }
      }
    },
    "ServiceGroupProperties": {
      "type": "object",
      "description": "ServiceGroup creation request body parameters.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the serviceGroup. For example, Running",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the serviceGroup. For example, ServiceGroupTest1"
        },
        "criticality": {
          "type": "number",
          "format": "double",
          "description": "The criticality designation of the service group."
        },
        "parent": {
          "$ref": "#/definitions/ParentServiceGroupProperties",
          "description": "The details of the parent serviceGroup."
        }
      }
    }
  },
  "parameters": {}
}
