{
  "swagger": "2.0",
  "info": {
    "title": "DeviceUpdate",
    "version": "2024-04-01-preview",
    "description": "Microsoft Device Update resource provider."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DeviceUpdate/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "Returns list of operations for Microsoft.DeviceUpdate resource provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Gets list of Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/checknameavailability": {
      "post": {
        "operationId": "CheckNameAvailability",
        "description": "Checks ADU resource name availability.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Check Name Availability Request.",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check Name Availability Response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "CheckNameAvailability_AlreadyExists": {
            "$ref": "./examples/CheckNameAvailability_AlreadyExists.json"
          },
          "CheckNameAvailability_Available": {
            "$ref": "./examples/CheckNameAvailability_Available.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/updateAccounts": {
      "get": {
        "operationId": "UpdateAccounts_ListBySubscription",
        "description": "Returns list of Update Accounts.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Update Accounts.",
            "schema": {
              "$ref": "#/definitions/UpdateAccountList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Get list of UpdateAccounts": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts": {
      "get": {
        "operationId": "UpdateAccounts_ListByResourceGroup",
        "description": "Returns list of Update Accounts.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Update Accounts.",
            "schema": {
              "$ref": "#/definitions/UpdateAccountList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Gets list of Accounts": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}": {
      "get": {
        "operationId": "UpdateAccounts_Get",
        "description": "Returns update account details for the given update account name.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update account details.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Update Account details": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "UpdateAccounts_Create",
        "description": "Creates or updates an Update Account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "name": "UpdateAccount",
            "in": "body",
            "description": "Update Account details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Async operation to create or update an Update Account succeeded.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "201": {
            "description": "Async operation to create or update an Update Account was created.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates an Update Account": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "UpdateAccounts_Update",
        "description": "Updates update account's patchable properties",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "name": "updateAccountUpdatePayload",
            "in": "body",
            "description": "Updated Update Account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Account updated successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "202": {
            "description": "Async operation to update an update account was created.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Result Location URI"
              }
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Update Account": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "UpdateAccounts_Delete",
        "description": "Deletes an update account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Async operation to delete an Update Account was created.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Result Location URI"
              }
            }
          },
          "204": {
            "description": "Update Account has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an update account": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/activeDeployments": {
      "get": {
        "operationId": "ActiveDeployments_ListByUpdateAccount",
        "description": "Returns active deployments for the given update account name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Active Deployments.",
            "schema": {
              "$ref": "#/definitions/ActiveDeploymentList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Active Deployments by Update Account": {
            "$ref": "./examples/ActiveDeployments/ActiveDeployments_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/activeDeployments/{activeDeploymentName}": {
      "get": {
        "operationId": "ActiveDeployments_Get",
        "description": "Returns Active Deployment details.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Active Deployment details.",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for an Active Deployment": {
            "$ref": "./examples/ActiveDeployments/ActiveDeployments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ActiveDeployments_Create",
        "description": "Creates or updates an Active Deployment.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "activeDeployment",
            "in": "body",
            "description": "Active Deployment details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active Deployment was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "201": {
            "description": "Active Deployment was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Active Deployment": {
            "$ref": "./examples/ActiveDeployments/ActiveDeployments_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "ActiveDeployments_Update",
        "description": "Updates Active Deployment.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active Deployment updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Active Deployment": {
            "$ref": "./examples/ActiveDeployments/ActiveDeployments_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ActiveDeployments_Delete",
        "description": "Delete Active Deployment.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ActiveDeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Active Deployment was deleted."
          },
          "204": {
            "description": "Active Deployment has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Active Deployment": {
            "$ref": "./examples/ActiveDeployments/ActiveDeployments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/agents": {
      "get": {
        "operationId": "Agents_ListByUpdateAccount",
        "description": "Returns agents for the given update account name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Agents.",
            "schema": {
              "$ref": "#/definitions/AgentList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Agents by an Update Account": {
            "$ref": "./examples/Agents/Agents_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/agents/{agentName}": {
      "get": {
        "operationId": "Agents_Get",
        "description": "Returns agent details.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for an agent": {
            "$ref": "./examples/Agents/Agents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Agents_Create",
        "description": "Creates or updates an Agent.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "agent",
            "in": "body",
            "description": "Agent details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "201": {
            "description": "Agent was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Agent": {
            "$ref": "./examples/Agents/Agents_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Agents_Update",
        "description": "Updates Agent.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent updated successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Agent": {
            "$ref": "./examples/Agents/Agents_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Agents_Delete",
        "description": "Delete Agent.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent was deleted."
          },
          "204": {
            "description": "Agent has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Agent": {
            "$ref": "./examples/Agents/Agents_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/calculateHighestVersionUpdates": {
      "post": {
        "operationId": "UpdateAccounts_CalculateHighestVersionUpdates",
        "description": "Calculate the highest version updates for the Account.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The highest version updates for the Account.",
            "schema": {
              "$ref": "#/definitions/DeviceClassUpdatableDevicesList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculates Highest Version Updates": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_CalculateHighestVersionUpdates.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/calculateUpdateCompliance": {
      "post": {
        "operationId": "Accounts_CalculateUpdateCompliance",
        "description": "Calculate update compliance for the Account.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The update compliance details for the Account.",
            "schema": {
              "$ref": "#/definitions/UpdateCompliance"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculates Update Compliance": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_CalculateUpdateCompliance.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments": {
      "get": {
        "operationId": "Deployments_ListByUpdateAccount",
        "description": "Returns deployments for the given update account name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Deployments.",
            "schema": {
              "$ref": "#/definitions/DeploymentList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Deployments by Account": {
            "$ref": "./examples/Deployments/Deployments_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments/{deploymentName}": {
      "get": {
        "operationId": "Deployments_Get",
        "description": "Returns Deployment details.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for a Deployment": {
            "$ref": "./examples/Deployments/Deployments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Deployments_Create",
        "description": "Creates or updates a Deployment.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "deployment",
            "in": "body",
            "description": "Deployment details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "201": {
            "description": "Deployment was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a Deployment": {
            "$ref": "./examples/Deployments/Deployments_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Deployments_Update",
        "description": "Updates Deployment.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment updated successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Deployment": {
            "$ref": "./examples/Deployments/Deployments_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Deployments_Delete",
        "description": "Delete Deployment.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment was deleted."
          },
          "204": {
            "description": "Deployment has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Deployment": {
            "$ref": "./examples/Deployments/Deployments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments/{deploymentName}/calculateDeviceStates": {
      "post": {
        "operationId": "Deployments_CalculateDeviceStates",
        "description": "Calculates the list of devices in a deployment along with their state. Useful for getting a list of failed devices.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "filter",
            "in": "body",
            "description": "Device state filter. Uses OData syntax. Example: deviceState eq 'Succeeded'",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The devices in the deployment along with their states.",
            "schema": {
              "$ref": "#/definitions/DeploymentDeviceStatesList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of devices in a Deployment": {
            "$ref": "./examples/Deployments/Deployments_CalculateDeviceStates.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments/{deploymentName}/calculateStatus": {
      "post": {
        "operationId": "Deployments_CalculateStatus",
        "description": "Calculate the status of a deployment including a breakdown of how many devices in the deployment are in progress, completed, or failed.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The status of the deployment.",
            "schema": {
              "$ref": "#/definitions/DeploymentStatus"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the status of a Deployment": {
            "$ref": "./examples/Deployments/Deployments_CalculateStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deviceClasses": {
      "get": {
        "operationId": "DeviceClasses_ListByUpdateAccount",
        "description": "Returns device compatibility classes for the given account name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Device Classes.",
            "schema": {
              "$ref": "#/definitions/DeviceClassList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Device Compatibility Classes by Account": {
            "$ref": "./examples/DeviceClasses/DeviceClasses_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deviceClasses/{deviceClassName}": {
      "get": {
        "operationId": "DeviceClasses_Get",
        "description": "Returns Device Class details.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceClassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Class details.",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for a Device Class": {
            "$ref": "./examples/DeviceClasses/DeviceClasses_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceClasses_Create",
        "description": "Creates or updates a Device Class.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceClassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "deviceClass",
            "in": "body",
            "description": "Device Class details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device Class was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "201": {
            "description": "Device Class was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Device Class": {
            "$ref": "./examples/DeviceClasses/DeviceClasses_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "DeviceClasses_Update",
        "description": "Updates Device Class.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceClassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device Class updated successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Device Class": {
            "$ref": "./examples/DeviceClasses/DeviceClasses_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceClasses_Delete",
        "description": "Delete Device Class.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceClassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Class was deleted."
          },
          "204": {
            "description": "Device Class has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Device Class": {
            "$ref": "./examples/DeviceClasses/DeviceClasses_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/importUpdate": {
      "post": {
        "operationId": "UpdateAccounts_ImportUpdate",
        "description": "Import update into given update account.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "updateToImport",
            "in": "body",
            "description": "The update to be imported (see schema https://json.schemastore.org/azure-deviceupdate-import-manifest-5.0.json for details).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportUpdateRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The response indicates the import operation is performed in the background.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Result Location URI"
              }
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Import Update": {
            "$ref": "./examples/UpdateAccounts/UpdateAccounts_ImportUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/updates": {
      "get": {
        "operationId": "Updates_List",
        "description": "Returns list of Updates.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Updates.",
            "schema": {
              "$ref": "#/definitions/UpdateList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Updates": {
            "$ref": "./examples/Updates/Updates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/updates/{updateResourceName}": {
      "get": {
        "operationId": "Updates_Get",
        "description": "Returns update details.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update details.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Update details": {
            "$ref": "./examples/Updates/Updates_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Updates_Create",
        "description": "Create update resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "update",
            "in": "body",
            "description": "Update details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update is created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "201": {
            "description": "Update is created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Update details": {
            "$ref": "./examples/Updates/Updates_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Updates_Modify",
        "description": "Update update tags.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update tags updated successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Update Account": {
            "$ref": "./examples/Updates/Updates_Modify.json"
          }
        }
      },
      "delete": {
        "operationId": "Updates_Delete",
        "description": "Deletes update.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateAccountNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Async operation to delete an Update was created.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Operation Result Location URI"
              }
            }
          },
          "204": {
            "description": "Update has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an update": {
            "$ref": "./examples/Updates/Updates_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActiveDeployment": {
      "type": "object",
      "description": "The details of an active deployment that is currently being offered to agents.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Active Deployment properties.",
          "properties": {
            "provisioningState": {
              "type": "string",
              "description": "Provisioning state.",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating",
                "Deleting"
              ],
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              },
              "readOnly": false
            },
            "deploymentId": {
              "type": "string",
              "description": "The deployment Id",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "startDateTime": {
              "type": "string",
              "format": "date-time",
              "description": "The start date for the active deployment",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "deviceClassId": {
              "type": "string",
              "description": "The device class Id",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "updateProtocol": {
              "$ref": "#/definitions/UpdateProtocol",
              "description": "The update protocol",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "workflow": {
              "$ref": "#/definitions/DeploymentWorkflow",
              "description": "The deployment workflow metadata",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "updateManifest": {
              "type": "string",
              "description": "The update manifest that contains all of the metadata for the active deployment",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "updateManifestSignature": {
              "type": "string",
              "description": "The update manifest signature that is used to validate the integrity of the update manifest",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            }
          },
          "required": [
            "deploymentId",
            "startDateTime",
            "deviceClassId",
            "updateProtocol",
            "workflow",
            "updateManifest",
            "updateManifestSignature"
          ],
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ActiveDeploymentList": {
      "type": "object",
      "description": "List of Active Deployments.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Active Deployments list."
        },
        "value": {
          "type": "array",
          "description": "List of Active Deployments.",
          "items": {
            "$ref": "#/definitions/ActiveDeployment",
            "description": "Active Deployment details."
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Agent": {
      "type": "object",
      "description": "Device Update Agent details.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Device Update Agent properties.",
          "properties": {
            "provisioningState": {
              "type": "string",
              "description": "Provisioning state.",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating",
                "Deleting"
              ],
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              },
              "readOnly": false
            },
            "agentId": {
              "type": "string",
              "description": "This is the external device Id of the Microsoft.Devices/Device resource referenced by this agent",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "deviceClassId": {
              "type": "string",
              "description": "This is the ID of the device class of this agent"
            },
            "deviceResourceId": {
              "type": "string",
              "description": "This is the resource Id of the Microsoft.Devices/Device resource referenced by this agent"
            },
            "activeMqttBrokerEndpoint": {
              "type": "string",
              "description": "This is the active MQTT broker endpoint for this agent"
            },
            "agentInfo": {
              "$ref": "#/definitions/AgentInfo",
              "description": "This is the compatibility info for the agent that indicates what version of the device update protocol it supports and its compat properties."
            },
            "latestDeploymentInfo": {
              "$ref": "#/definitions/DeploymentInfo",
              "description": "This is the metadata about the latest deployment the agent has attempted"
            },
            "installedUpdateId": {
              "$ref": "#/definitions/UpdateId",
              "description": "The current installed update Id on this agent"
            },
            "enrollmentStatus": {
              "$ref": "#/definitions/AgentEnrollmentStatus",
              "description": "Enrollment status"
            },
            "deviceUuid": {
              "type": "string",
              "description": "This is the device UUID for this agent"
            }
          },
          "required": [
            "deviceResourceId",
            "enrollmentStatus",
            "deviceUuid"
          ],
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AgentEnrollmentState": {
      "type": "string",
      "description": "The agent enrollment state.",
      "enum": [
        "Succeeded",
        "Failed",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "AgentEnrollmentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Agent enrollment succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Agent enrollment failed."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Agent enrollment is in progress."
          }
        ]
      }
    },
    "AgentEnrollmentStatus": {
      "type": "object",
      "description": "Agent enrollment status.",
      "properties": {
        "state": {
          "$ref": "#/definitions/AgentEnrollmentState",
          "description": "The agent enrollment state."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorDetail",
          "description": "The agent enrollment error detail. This is only populated when state is Failed"
        }
      },
      "required": [
        "state"
      ]
    },
    "AgentInfo": {
      "type": "object",
      "description": "The agent info for the agent that indicates what updates it is compatible with.",
      "properties": {
        "updateProtocol": {
          "$ref": "#/definitions/UpdateProtocol",
          "description": "The update protocol representing the version of the device update protocol the agent supports"
        },
        "compatibilityProperties": {
          "type": "object",
          "description": "The compat properties of the agent. This object can be thought of as a set of key-value pairs where the key is the name of the compatibility property and the value is the value of the compatibility property. There will always be at least 1 compat property and no more than 5",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64",
          "description": "The sequence number of the agent info used to distinguish whether the agent info needs to be updated from the agent"
        }
      }
    },
    "AgentList": {
      "type": "object",
      "description": "List of Agents.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Agents list."
        },
        "value": {
          "type": "array",
          "description": "List of Agents.",
          "items": {
            "$ref": "#/definitions/Agent",
            "description": "Agent details."
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Compatibility": {
      "type": "object",
      "description": "Key-value pairs representing update compatibility information.",
      "additionalProperties": {
        "maxItems": 5,
        "minItems": 1,
        "type": "string"
      }
    },
    "Deployment": {
      "type": "object",
      "description": "Deployment details.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Deployment properties.",
          "properties": {
            "provisioningState": {
              "type": "string",
              "description": "Provisioning state.",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating",
                "Deleting"
              ],
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              },
              "readOnly": false
            },
            "deploymentId": {
              "type": "string",
              "description": "The caller-provided deployment identifier. This cannot be longer than 73 characters, must be all lower-case, and cannot contain '&', '^', '[', ']', '{', '}', '|', '<', '>', forward slash, backslash, or double quote.",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "startDateTime": {
              "type": "string",
              "format": "date-time",
              "description": "The deployment start datetime.",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "updateId": {
              "$ref": "#/definitions/UpdateId",
              "description": "UpdateId that is deployed as part of this deployment.",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "deviceClasses": {
              "type": "array",
              "description": "The device classes the deployment is compatible with. This is not provided by the caller during creating the deployment but is automatically determined by Device Update",
              "items": {
                "type": "string"
              },
              "x-ms-mutability": [
                "create",
                "read"
              ]
            }
          },
          "required": [
            "deploymentId",
            "startDateTime",
            "updateId"
          ],
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeploymentAction": {
      "type": "string",
      "description": "The deployment action the agent take",
      "enum": [
        "ApplyDeployment"
      ],
      "x-ms-enum": {
        "name": "DeploymentAction",
        "modelAsString": true,
        "values": [
          {
            "name": "ApplyDeployment",
            "value": "ApplyDeployment",
            "description": "Apply the deployment to the agent"
          }
        ]
      }
    },
    "DeploymentDeviceState": {
      "type": "object",
      "description": "Deployment device status.",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Agent identity."
        },
        "retryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times this deployment has been retried on this device."
        },
        "movedOnToNewDeployment": {
          "type": "boolean",
          "description": "Boolean flag indicating whether this device is in a newer deployment and can no longer retry this deployment."
        },
        "deviceState": {
          "$ref": "#/definitions/DeviceDeploymentState",
          "description": "Deployment device state."
        }
      },
      "required": [
        "agentId",
        "retryCount",
        "movedOnToNewDeployment",
        "deviceState"
      ]
    },
    "DeploymentDeviceStatesList": {
      "type": "object",
      "description": "The list of deployment device states.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The collection of pageable items.",
          "items": {
            "$ref": "#/definitions/DeploymentDeviceState"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items."
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentInfo": {
      "type": "object",
      "description": "The agent metadata for a deployment.",
      "properties": {
        "workflow": {
          "$ref": "#/definitions/DeploymentWorkflow",
          "description": "The deployment workflow metadata"
        },
        "updateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "The update Id for the deployment"
        },
        "state": {
          "$ref": "#/definitions/DeviceDeploymentState",
          "description": "The state the agent is in this deployment"
        },
        "installResult": {
          "$ref": "#/definitions/InstallResult",
          "description": "The deployment install result"
        }
      }
    },
    "DeploymentList": {
      "type": "object",
      "description": "List of Deployments.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of the Deployments list."
        },
        "value": {
          "type": "array",
          "description": "List of Deployments.",
          "items": {
            "$ref": "#/definitions/Deployment",
            "description": "Deployment details."
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DeploymentState": {
      "type": "string",
      "description": "Deployment state.",
      "enum": [
        "Active",
        "ActiveWithSubgroupFailures",
        "Failed",
        "Inactive",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeploymentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The deployment can be sent to devices targeted in the deployment."
          },
          {
            "name": "ActiveWithSubgroupFailures",
            "value": "ActiveWithSubgroupFailures",
            "description": "The deployment can be sent to some devices targeted in the deployment but at least 1 subgroup is in a failed state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The deployment will not be sent to any devices.  Consult error for more details about what failed."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "A newer deployment for this group has been created and no devices in the group will receive this deployment."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The deployment has been canceled and no devices will receive it."
          }
        ]
      }
    },
    "DeploymentStatus": {
      "type": "object",
      "description": "Deployment status metadata.",
      "properties": {
        "deploymentState": {
          "$ref": "#/definitions/DeploymentState",
          "description": "The state of the deployment."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse",
          "description": "The error details of the Failed state.  This is not present if the deployment state is not Failed."
        },
        "subgroupStatus": {
          "type": "array",
          "description": "The collection of device class subgroup status objects",
          "items": {
            "$ref": "#/definitions/DeviceClassSubgroupDeploymentStatus"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "deploymentState",
        "subgroupStatus"
      ]
    },
    "DeploymentWorkflow": {
      "type": "object",
      "description": "Deployment workflow metadata.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Deployment identifier."
        },
        "action": {
          "$ref": "#/definitions/DeploymentAction",
          "description": "Deployment action."
        },
        "retryTimestamp": {
          "type": "string",
          "description": "Datetime when the call requested the deployment be retried."
        }
      },
      "required": [
        "id",
        "action"
      ]
    },
    "DeviceClass": {
      "type": "object",
      "description": "Device Update Device Class details.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Device Update Device Class properties.",
          "properties": {
            "provisioningState": {
              "type": "string",
              "description": "Provisioning state.",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating",
                "Deleting"
              ],
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              },
              "readOnly": false
            },
            "deviceClassId": {
              "type": "string",
              "description": "This is the ID of the Device Class",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "deviceClassInfo": {
              "$ref": "#/definitions/DeviceClassInfo",
              "description": "This is the compatibility info for the device class that will be used to check compatibility with updates."
            },
            "highestVersionCompatibleUpdateId": {
              "$ref": "#/definitions/UpdateId",
              "description": "UpdateId that is the highest version compatible with this device compatibility class."
            },
            "installableUpdates": {
              "type": "array",
              "description": "The list of installable update Ids.",
              "items": {
                "$ref": "#/definitions/UpdateId"
              },
              "x-ms-identifiers": []
            }
          },
          "required": [
            "deviceClassId",
            "deviceClassInfo"
          ],
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeviceClassInfo": {
      "type": "object",
      "description": "The compatibility info for the device class that indicates what updates it is compatible with.",
      "properties": {
        "updateProtocol": {
          "$ref": "#/definitions/UpdateProtocol",
          "description": "The update protocol representing the version of the device update protocol the agent supports"
        },
        "compatibilityProperties": {
          "type": "object",
          "description": "The compat properties of the device class. This object can be thought of as a set of key-value pairs where the key is the name of the compatibility property and the value is the value of the compatibility property. There will always be at least 1 compat property and no more than 5",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DeviceClassList": {
      "type": "object",
      "description": "List of Device Classes.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Device Classes list."
        },
        "value": {
          "type": "array",
          "description": "List of Device Classes.",
          "items": {
            "$ref": "#/definitions/DeviceClass",
            "description": "Device Class details."
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DeviceClassSubgroupDeploymentState": {
      "type": "string",
      "enum": [
        "Active",
        "Failed",
        "Inactive",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeviceClassSubgroupDeploymentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The subgroup deployment can be sent to devices targeted in the deployment."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The subgroup deployment failed and will not be sent to any devices."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "A newer deployment for this subgroup has been created and no devices in the subgroup will receive this deployment."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The subgroup deployment has been canceled and no devices will receive it."
          }
        ]
      }
    },
    "DeviceClassSubgroupDeploymentStatus": {
      "type": "object",
      "description": "Device class subgroup deployment status metadata.",
      "properties": {
        "deviceClassId": {
          "type": "string",
          "description": "The device class subgroup identity"
        },
        "deploymentState": {
          "$ref": "#/definitions/DeviceClassSubgroupDeploymentState",
          "description": "The state of the subgroup deployment."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse",
          "description": "The error details of the Failed state.  This is not present if the deployment state is not Failed."
        },
        "totalDevices": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of devices in the deployment."
        },
        "devicesInProgressCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of devices that are currently in deployment."
        },
        "devicesCompletedFailedCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of devices that have completed deployment with a failure."
        },
        "devicesCompletedSucceededCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of devices which have successfully completed deployment."
        },
        "devicesCanceledCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of devices which have had their deployment canceled."
        }
      },
      "required": [
        "deviceClassId",
        "deploymentState"
      ]
    },
    "DeviceClassUpdatableDevices": {
      "type": "object",
      "description": "Device compatibility class Id, update Id, and the number of devices that need the update.",
      "properties": {
        "deviceClassId": {
          "type": "string",
          "description": "The device compatibility class Id"
        },
        "updateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "Update Id."
        },
        "deviceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of devices in the device class that need the update."
        }
      },
      "required": [
        "deviceClassId",
        "updateId",
        "deviceCount"
      ]
    },
    "DeviceClassUpdatableDevicesList": {
      "type": "object",
      "description": "The list of updatable devices for a device class.",
      "properties": {
        "deviceClassHighestVersionUpdates": {
          "type": "array",
          "description": "The list of device classes and the highest version update details for each.",
          "items": {
            "$ref": "#/definitions/DeviceClassUpdatableDevices"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "deviceClassHighestVersionUpdates"
      ]
    },
    "DeviceDeploymentState": {
      "type": "string",
      "description": "Deployment state.",
      "enum": [
        "Succeeded",
        "InProgress",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "DeviceDeploymentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Deployment has completed with success."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Deployment is in progress."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Deployment was canceled."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Deployment has completed with failure."
          }
        ]
      }
    },
    "Encryption": {
      "type": "object",
      "description": "The CMK encryption settings on the Device Update account.",
      "properties": {
        "keyVaultKeyUri": {
          "type": "string",
          "description": "The URI of the key vault"
        },
        "userAssignedIdentity": {
          "type": "string",
          "description": "The full resourceId of the user assigned identity to be used for key vault access. Identity has to be also assigned to the Account"
        }
      }
    },
    "FileImportMetadata": {
      "type": "object",
      "description": "Metadata describing an update file.",
      "properties": {
        "filename": {
          "type": "string",
          "description": "Update file name as specified inside import manifest."
        },
        "url": {
          "type": "string",
          "description": "Azure Blob location from which the update file can be downloaded by Device Update for IoT Hub. This is typically a read-only SAS-protected blob URL with an expiration set to at least 4 hours."
        }
      },
      "required": [
        "filename",
        "url"
      ]
    },
    "ImportManifestMetadata": {
      "type": "object",
      "description": "Metadata describing the import manifest, a document which describes the files and other metadata about an update version.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Azure Blob location from which the import manifest can be downloaded by Device Update for IoT Hub. This is typically a read-only SAS-protected blob URL with an expiration set to at least 4 hours."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "File size in number of bytes."
        },
        "hashes": {
          "type": "object",
          "description": "A JSON object containing the hash(es) of the file. At least SHA256 hash is required. This object can be thought of as a set of key-value pairs where the key is the hash algorithm, and the value is the hash of the file calculated using that algorithm.",
          "additionalProperties": {
            "minItems": 1,
            "type": "string"
          }
        }
      },
      "required": [
        "url",
        "sizeInBytes",
        "hashes"
      ]
    },
    "ImportUpdateInput": {
      "type": "array",
      "description": "Import update input metadata.",
      "minItems": 1,
      "maxItems": 11,
      "items": {
        "$ref": "#/definitions/ImportUpdateInputItem"
      },
      "x-ms-identifiers": []
    },
    "ImportUpdateInputItem": {
      "type": "object",
      "description": "Import update input item metadata.",
      "properties": {
        "importManifest": {
          "$ref": "#/definitions/ImportManifestMetadata",
          "description": "Import manifest metadata like source URL, file size/hashes, etc."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly update name.",
          "minLength": 1,
          "maxLength": 512
        },
        "files": {
          "type": "array",
          "description": "One or more update file properties like filename and source URL.",
          "minItems": 0,
          "maxItems": 10,
          "items": {
            "$ref": "#/definitions/FileImportMetadata"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "importManifest"
      ]
    },
    "ImportUpdateRequest": {
      "type": "object",
      "description": "Import Update API request body.",
      "properties": {
        "importUpdateInput": {
          "$ref": "#/definitions/ImportUpdateInput"
        },
        "enableScan": {
          "type": "boolean",
          "description": "Whether enable anti-malware scan",
          "default": false
        }
      },
      "required": [
        "importUpdateInput"
      ]
    },
    "InstallResult": {
      "type": "object",
      "description": "The install result of an update and any step results under it.",
      "properties": {
        "resultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install result code."
        },
        "extendedResultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install extended result code"
        },
        "resultDetails": {
          "type": "string",
          "description": "A string containing further details about the install result"
        },
        "stepResults": {
          "type": "array",
          "description": "Array of step results",
          "items": {
            "$ref": "#/definitions/StepResult",
            "description": "Step results"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "resultCode",
        "extendedResultCode"
      ]
    },
    "Instructions": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Collection of installation steps.",
          "minItems": 1,
          "maxItems": 10,
          "items": {
            "$ref": "#/definitions/Step"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "steps"
      ]
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "Whether the location is primary or failover",
          "default": "Primary",
          "enum": [
            "Primary",
            "Failover"
          ],
          "x-ms-enum": {
            "name": "Role",
            "modelAsString": true
          }
        }
      },
      "additionalProperties": false
    },
    "MqttBroker": {
      "type": "object",
      "description": "The MQTT Broker",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The full resourceId of the Event Grid Namespace. Required if using Azure EventGrid broker"
        },
        "mqttHostName": {
          "type": "string",
          "description": "MQTT Broker endpoint. Required if not using Azure EventGrid broker"
        },
        "type": {
          "type": "string",
          "description": "The type of a MQTT Broker",
          "default": "EventGrid",
          "enum": [
            "EventGrid",
            "Generic"
          ],
          "x-ms-enum": {
            "name": "Type",
            "modelAsString": true
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Step": {
      "type": "object",
      "description": "Update install instruction step.",
      "minProperties": 2,
      "properties": {
        "type": {
          "type": "string",
          "description": "Step type.",
          "default": "inline",
          "enum": [
            "inline",
            "reference"
          ],
          "x-ms-enum": {
            "name": "StepType",
            "modelAsString": true,
            "values": [
              {
                "name": "Inline",
                "value": "Inline",
                "description": "Step type that performs code execution."
              },
              {
                "name": "Reference",
                "value": "Reference",
                "description": "Step type that installs another update."
              }
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Step description.",
          "minLength": 1,
          "maxLength": 64
        },
        "handler": {
          "type": "string",
          "description": "Identity of handler that will execute this step. Required if step type is inline.",
          "minLength": 1,
          "maxLength": 32
        },
        "handlerProperties": {
          "type": "object",
          "description": "Parameters to be passed to handler during execution."
        },
        "files": {
          "type": "array",
          "description": "Collection of file names to be passed to handler during execution. Required if step type is inline.",
          "minItems": 1,
          "maxItems": 5,
          "items": {
            "type": "string"
          }
        },
        "updateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "Referenced child update identity.  Required if step type is reference."
        }
      }
    },
    "StepResult": {
      "type": "object",
      "description": "The step result under an update.",
      "properties": {
        "updateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "The update that this step installs if it is of reference type."
        },
        "description": {
          "type": "string",
          "description": "Step description."
        },
        "resultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install result code."
        },
        "extendedResultCode": {
          "type": "integer",
          "format": "int64",
          "description": "Install extended result code"
        },
        "resultDetails": {
          "type": "string",
          "description": "A string containing further details about the install result"
        }
      },
      "required": [
        "resultCode",
        "extendedResultCode"
      ]
    },
    "TagUpdate": {
      "type": "object",
      "description": "Request payload used to update an existing resource's tags.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "List of key value pairs that describe the resource. This will overwrite the existing tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Update": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Update properties.",
          "properties": {
            "updateId": {
              "$ref": "#/definitions/UpdateId",
              "description": "Update identity."
            },
            "description": {
              "type": "string",
              "description": "Update description specified by creator.",
              "minLength": 1,
              "maxLength": 512
            },
            "friendlyName": {
              "type": "string",
              "description": "Friendly update name specified by importer.",
              "minLength": 1,
              "maxLength": 512
            },
            "isDeployable": {
              "type": "boolean",
              "description": "Whether the update can be deployed to a device on its own.",
              "default": true
            },
            "compatibility": {
              "type": "array",
              "description": "List of update compatibility information.",
              "minItems": 1,
              "maxItems": 10,
              "items": {
                "$ref": "#/definitions/Compatibility"
              },
              "x-ms-identifiers": []
            },
            "instructions": {
              "$ref": "#/definitions/Instructions",
              "description": "Update install instructions."
            },
            "referencedBy": {
              "type": "array",
              "description": "List of update identities that reference this update.",
              "minItems": 1,
              "items": {
                "$ref": "#/definitions/UpdateId"
              },
              "x-ms-identifiers": [
                "provider",
                "name",
                "version"
              ]
            },
            "files": {
              "type": "array",
              "description": "List of update file metadata.",
              "minItems": 0,
              "maxItems": 10,
              "items": {
                "$ref": "#/definitions/UpdateFile"
              },
              "x-ms-identifiers": [
                "fileName"
              ]
            },
            "scanResult": {
              "type": "string",
              "description": "Update aggregate scan result (calculated from payload file scan results)."
            },
            "manifestVersion": {
              "type": "string",
              "description": "Schema version of manifest used to import the update."
            },
            "importedDateTime": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time in UTC when the update was imported."
            },
            "createdDateTime": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time in UTC when the update was created."
            }
          },
          "required": [
            "updateId",
            "compatibility",
            "instructions",
            "manifestVersion",
            "importedDateTime",
            "createdDateTime"
          ],
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "UpdateAccount": {
      "type": "object",
      "description": "Device Update update account details.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Device Update update account properties.",
          "properties": {
            "provisioningState": {
              "type": "string",
              "description": "Provisioning state.",
              "enum": [
                "Succeeded",
                "Deleted",
                "Failed",
                "Canceled",
                "Accepted",
                "Creating",
                "Deleting"
              ],
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              },
              "readOnly": true
            },
            "sku": {
              "type": "string",
              "description": "Device Update Account Sku",
              "default": "Standard",
              "enum": [
                "Free",
                "Standard"
              ],
              "x-ms-enum": {
                "name": "SKU",
                "modelAsString": true
              },
              "readOnly": false
[...]
