{
  "swagger": "2.0",
  "info": {
    "title": "Billing benefits RP",
    "version": "2022-11-01",
    "description": "Azure Benefits RP let users create and manage benefits like savings plan.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SavingsPlanOrderAliasModels"
    },
    {
      "name": "SavingsPlanOrderModels"
    },
    {
      "name": "SavingsPlanModels"
    },
    {
      "name": "ReservationOrderAliasResponses"
    }
  ],
  "paths": {
    "/providers/Microsoft.BillingBenefits/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/reservationOrderAliases/{reservationOrderAliasName}": {
      "get": {
        "operationId": "ReservationOrderAlias_Get",
        "tags": [
          "ReservationOrderAliasResponses"
        ],
        "description": "Get a reservation order alias.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderAliasName",
            "in": "path",
            "description": "Name of the reservation order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationOrderAliasGet": {
            "$ref": "./examples/ReservationOrderAlias_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ReservationOrderAlias_Create",
        "tags": [
          "ReservationOrderAliasResponses"
        ],
        "description": "Create a reservation order alias.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderAliasName",
            "in": "path",
            "description": "Name of the reservation order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating a reservation order alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ReservationOrderAliasResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "201": {
            "description": "Resource 'ReservationOrderAliasResponse' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/ReservationOrderAlias_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}": {
      "get": {
        "operationId": "SavingsPlanOrderAlias_Get",
        "tags": [
          "SavingsPlanOrderAliasModels"
        ],
        "description": "Get a savings plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderAliasName",
            "in": "path",
            "description": "Name of the savings plan order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderAliasGet": {
            "$ref": "./examples/SavingsPlanOrderAlias_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SavingsPlanOrderAlias_Create",
        "tags": [
          "SavingsPlanOrderAliasModels"
        ],
        "description": "Create a savings plan. Learn more about permissions needed at https://go.microsoft.com/fwlink/?linkid=2215851",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderAliasName",
            "in": "path",
            "description": "Name of the savings plan order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating a savings plan order alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SavingsPlanOrderAliasModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "201": {
            "description": "Resource 'SavingsPlanOrderAliasModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderAliasCreate": {
            "$ref": "./examples/SavingsPlanOrderAlias_Create_Savings_Plan_Order_Alias_Create.json"
          },
          "SavingsPlanOrderAliasCreateSingleScope": {
            "$ref": "./examples/SavingsPlanOrderAlias_Create_Savings_Plan_Order_Alias_Create_Single_Scope.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders": {
      "get": {
        "operationId": "SavingsPlanOrder_List",
        "tags": [
          "SavingsPlanOrderModels"
        ],
        "description": "List all Savings plan orders.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderList": {
            "$ref": "./examples/SavingsPlanOrder_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}": {
      "get": {
        "operationId": "SavingsPlanOrder_Get",
        "tags": [
          "SavingsPlanOrderModels"
        ],
        "description": "Get a savings plan order.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the detail information of some properties.",
            "required": false,
            "type": "string"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderGet": {
            "$ref": "./examples/SavingsPlanOrder_Get_Savings_Plan_Order_Get.json"
          },
          "SavingsPlanOrderWithExpandedPaymentsGet": {
            "$ref": "./examples/SavingsPlanOrder_Get_Savings_Plan_Order_With_Expanded_Payments_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/elevate": {
      "post": {
        "operationId": "SavingsPlanOrder_Elevate",
        "tags": [
          "SavingsPlanOrderModels"
        ],
        "description": "Elevate as owner on savings plan order based on billing permissions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderElevate": {
            "$ref": "./examples/SavingsPlanOrder_Elevate.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans": {
      "get": {
        "operationId": "SavingsPlan_List",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "List savings plans in an order.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlansInOrderList": {
            "$ref": "./examples/SavingsPlan_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}": {
      "get": {
        "operationId": "SavingsPlan_Get",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "Get savings plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the detail information of some properties.",
            "required": false,
            "type": "string"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "savingsPlanId",
            "in": "path",
            "description": "ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanItemGet": {
            "$ref": "./examples/SavingsPlan_Get_Savings_Plan_Item_Get.json"
          },
          "SavingsPlanItemWithExpandedRenewPropertiesGet": {
            "$ref": "./examples/SavingsPlan_Get_Savings_Plan_Item_With_Expanded_Renew_Properties_Get.json"
          }
        }
      },
      "patch": {
        "operationId": "SavingsPlan_Update",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "Update savings plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "savingsPlanId",
            "in": "path",
            "description": "ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for patching a savings plan order alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanUpdateRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanUpdate": {
            "$ref": "./examples/SavingsPlan_Update.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validateUpdate": {
      "post": {
        "operationId": "SavingsPlan_ValidateUpdate",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "Validate savings plan patch.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "savingsPlanId",
            "in": "path",
            "description": "ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for validating a savings plan patch request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanUpdateValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanValidateUpdate": {
            "$ref": "./examples/SavingsPlan_ValidateUpdate.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/validate": {
      "post": {
        "operationId": "ValidatePurchase",
        "description": "Validate savings plan purchase.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanPurchaseValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans": {
      "get": {
        "operationId": "SavingsPlan_ListAll",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "List savings plans.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlansList": {
            "$ref": "./examples/SavingsPlan_ListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AppliedScopeProperties": {
      "type": "object",
      "description": "Properties specific to applied scope type. Not required if not applicable.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant ID where the benefit is applied."
        },
        "managementGroupId": {
          "type": "string",
          "description": "Fully-qualified identifier of the management group where the benefit must be applied."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Fully-qualified identifier of the subscription."
        },
        "resourceGroupId": {
          "type": "string",
          "description": "Fully-qualified identifier of the resource group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name"
        }
      }
    },
    "AppliedScopeType": {
      "type": "string",
      "description": "Type of the Applied Scope.",
      "enum": [
        "Single",
        "Shared",
        "ManagementGroup"
      ],
      "x-ms-enum": {
        "name": "AppliedScopeType",
        "modelAsString": true
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "BillingInformation": {
      "type": "object",
      "description": "billing information",
      "properties": {
        "billingCurrencyTotalPaidAmount": {
          "$ref": "#/definitions/Price"
        },
        "billingCurrencyProratedAmount": {
          "$ref": "#/definitions/Price"
        },
        "billingCurrencyRemainingCommitmentAmount": {
          "$ref": "#/definitions/Price"
        }
      }
    },
    "BillingPlan": {
      "type": "string",
      "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans.",
      "enum": [
        "P1M"
      ],
      "x-ms-enum": {
        "name": "BillingPlan",
        "modelAsString": true
      }
    },
    "BillingPlanInformation": {
      "type": "object",
      "description": "Information describing the type of billing plan for this savings plan.",
      "properties": {
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount of money to be paid for the Order. Tax is not included."
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the billing plan has started."
        },
        "nextPaymentDueDate": {
          "type": "string",
          "format": "date",
          "description": "For recurring billing plans, indicates the date when next payment will be processed. Null when total is paid off."
        },
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Commitment": {
      "type": "object",
      "description": "Commitment towards the benefit.",
      "properties": {
        "grain": {
          "$ref": "#/definitions/CommitmentGrain",
          "description": "Commitment grain."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Price"
        }
      ]
    },
    "CommitmentGrain": {
      "type": "string",
      "description": "Commitment grain.",
      "enum": [
        "Hourly"
      ],
      "x-ms-enum": {
        "name": "CommitmentGrain",
        "modelAsString": true
      }
    },
    "ExtendedStatusInfo": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "Status code providing additional information."
        },
        "message": {
          "type": "string",
          "description": "The message giving detailed information about the status code."
        }
      }
    },
    "InstanceFlexibility": {
      "type": "string",
      "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group.",
      "enum": [
        "On",
        "Off"
      ],
      "x-ms-enum": {
        "name": "InstanceFlexibility",
        "modelAsString": true
      }
    },
    "OperationResultError": {
      "type": "object",
      "description": "Required if status == failed or status == canceled.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required if status == failed or status == cancelled. If status == failed, provide an invariant error code used for error troubleshooting, aggregation, and analysis."
        },
        "message": {
          "type": "string",
          "description": "Required if status == failed. Localized. If status == failed, provide an actionable error message indicating what error occurred, and what the user can do to address the issue."
        }
      }
    },
    "PaymentDetail": {
      "type": "object",
      "description": "Information about payment related to a savings plan order.",
      "properties": {
        "dueDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the payment needs to be done."
        },
        "paymentDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the transaction is completed. Is null when it is scheduled."
        },
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        },
        "billingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount charged in Billing currency. Tax not included. Is null for future payments"
        },
        "status": {
          "$ref": "#/definitions/PaymentStatus",
          "description": "Describes whether the payment is completed, failed, cancelled or scheduled in the future."
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo",
          "readOnly": true
        },
        "billingAccount": {
          "type": "string",
          "description": "Billing account"
        }
      }
    },
    "PaymentStatus": {
      "type": "string",
      "description": "Describes whether the payment is completed, failed, cancelled or scheduled in the future.",
      "enum": [
        "Succeeded",
        "Failed",
        "Scheduled",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "PaymentStatus",
        "modelAsString": true
      },
      "readOnly": true
    },
    "Price": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "PricingCurrencyDuration": {
      "type": "string",
      "description": "Represents either billing plan or savings plan term in ISO 8601 format.",
      "enum": [
        "P1M",
        "P1Y",
        "P3Y"
      ],
      "x-ms-enum": {
        "name": "PricingCurrencyDuration",
        "modelAsString": true
      }
    },
    "PricingCurrencyTotal": {
      "type": "object",
      "properties": {
        "duration": {
          "$ref": "#/definitions/PricingCurrencyDuration",
          "description": "Represents either billing plan or savings plan term in ISO 8601 format."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Price"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state",
      "enum": [
        "Creating",
        "PendingBilling",
        "ConfirmedBilling",
        "Created",
        "Succeeded",
        "Cancelled",
        "Expired",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "PurchaseRequest": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU to be applied for this resource"
        },
        "properties": {
          "$ref": "#/definitions/PurchaseRequestProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "PurchaseRequestProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Friendly name of the savings plan"
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing the benefit"
        },
        "term": {
          "$ref": "#/definitions/Term",
          "description": "Represent benefit term in ISO 8601 format."
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans."
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "commitment": {
          "$ref": "#/definitions/Commitment",
          "description": "Commitment towards the benefit."
        },
        "effectiveDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime of the savings plan starts providing benefit from.",
          "readOnly": true
        },
        "renew": {
          "type": "boolean",
          "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable."
        }
      }
    },
    "RenewProperties": {
      "type": "object",
      "properties": {
        "purchaseProperties": {
          "$ref": "#/definitions/PurchaseRequest"
        }
      }
    },
    "ReservationOrderAliasRequest": {
      "type": "object",
      "description": "Reservation order alias",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Reservation order SKU"
        },
        "location": {
          "type": "string",
          "description": "The Azure Region where the reservation benefits are applied to."
        },
        "properties": {
          "$ref": "#/definitions/ReservationOrderAliasRequestProperties",
          "description": "Reservation order alias request properties",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ReservationOrderAliasRequestProperties": {
      "type": "object",
      "description": "Reservation properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing the benefit"
        },
        "term": {
          "$ref": "#/definitions/Term",
          "description": "Represent benefit term in ISO 8601 format."
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans."
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable."
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Total Quantity of the SKUs purchased in the Reservation.",
          "minimum": 1
        },
        "renew": {
          "type": "boolean",
          "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
        },
        "reservedResourceType": {
          "$ref": "#/definitions/ReservedResourceType",
          "description": "The type of the resource that is being reserved."
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Azure Hybrid Benefit needs to be reviewed."
        },
        "reservedResourceProperties": {
          "$ref": "#/definitions/ReservationOrderAliasRequestPropertiesReservedResourceProperties",
          "description": "Properties specific to each reserved resource type. Not required if not applicable."
        }
      }
    },
    "ReservationOrderAliasRequestPropertiesReservedResourceProperties": {
      "type": "object",
      "description": "Properties specific to each reserved resource type. Not required if not applicable.",
      "properties": {
        "instanceFlexibility": {
          "$ref": "#/definitions/InstanceFlexibility",
          "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group."
        }
      }
    },
    "ReservationOrderAliasResponse": {
      "type": "object",
      "description": "Reservation order alias",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ReservationOrderAliasResponseProperties",
          "description": "Reservation order alias response properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ReservationOrderAliasResponseProperties": {
      "type": "object",
      "description": "Reservation properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "reservationOrderId": {
          "type": "string",
          "description": "Identifier of the reservation order created",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing the benefit"
        },
        "term": {
          "$ref": "#/definitions/Term",
          "description": "Represent benefit term in ISO 8601 format."
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans."
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable."
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Total Quantity of the SKUs purchased in the Reservation."
        },
        "renew": {
          "type": "boolean",
          "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
        },
        "reservedResourceType": {
          "$ref": "#/definitions/ReservedResourceType",
          "description": "The type of the resource that is being reserved."
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Reservation needs to be reviewed."
        },
        "reservedResourceProperties": {
          "$ref": "#/definitions/ReservationOrderAliasResponsePropertiesReservedResourceProperties",
          "description": "Properties specific to each reserved resource type. Not required if not applicable."
        }
      }
    },
    "ReservationOrderAliasResponsePropertiesReservedResourceProperties": {
      "type": "object",
      "description": "Properties specific to each reserved resource type. Not required if not applicable.",
      "properties": {
        "instanceFlexibility": {
          "$ref": "#/definitions/InstanceFlexibility",
          "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group."
        }
      }
    },
    "ReservedResourceType": {
      "type": "string",
      "description": "The type of the resource that is being reserved.",
      "enum": [
        "VirtualMachines",
        "SqlDatabases",
        "SuseLinux",
        "CosmosDb",
        "RedHat",
        "SqlDataWarehouse",
        "VMwareCloudSimple",
        "RedHatOsa",
        "Databricks",
        "AppService",
        "ManagedDisk",
        "BlockBlob",
        "RedisCache",
        "AzureDataExplorer",
        "MySql",
        "MariaDb",
        "PostgreSql",
        "DedicatedHost",
        "SapHana",
        "SqlAzureHybridBenefit",
        "AVS",
        "DataFactory",
        "NetAppStorage",
        "AzureFiles",
        "SqlEdge",
        "VirtualMachineSoftware"
      ],
      "x-ms-enum": {
        "name": "ReservedResourceType",
        "modelAsString": true
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "RoleAssignmentEntity": {
      "type": "object",
      "description": "Role assignment entity",
      "properties": {
        "id": {
          "type": "string",
          "description": "Role assignment entity id"
        },
        "name": {
          "type": "string",
          "description": "Role assignment entity name"
        },
        "properties": {
          "$ref": "#/definitions/RoleAssignmentEntityProperties",
          "description": "Role assignment entity properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "RoleAssignmentEntityProperties": {
      "type": "object",
      "description": "Role assignment entity properties",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "Principal Id"
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "Role definition id"
        },
        "scope": {
          "type": "string",
          "description": "Scope of the role assignment entity"
        }
      }
    },
    "SavingsPlanModel": {
      "type": "object",
      "description": "Savings plan",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SavingsPlanModelProperties",
          "description": "Savings plan properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SavingsPlanModelListResult": {
      "type": "object",
      "description": "The response of a SavingsPlanModel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SavingsPlanModel items on this page",
          "items": {
            "$ref": "#/definitions/SavingsPlanModel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SavingsPlanModelProperties": {
      "type": "object",
      "description": "Savings plan properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "displayProvisioningState": {
          "type": "string",
          "description": "The provisioning state of the savings plan for display, e.g. Succeeded",
          "readOnly": true
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing the benefit"
        },
        "billingProfileId": {
          "type": "string",
          "description": "Fully-qualified identifier of the billing profile where the savings plan is applied. Present only for Field-led or Customer-led customers.",
          "readOnly": true
        },
        "customerId": {
          "type": "string",
          "description": "Fully-qualified identifier of the customer where the savings plan is applied. Present only for Partner-led customers.",
          "readOnly": true
        },
        "billingAccountId": {
          "type": "string",
          "description": "Fully-qualified identifier of the billing account where the savings plan is applied. Present only for Enterprise Agreement customers.",
          "readOnly": true
        },
        "term": {
          "$ref": "#/definitions/Term",
          "description": "Represent benefit term in ISO 8601 format."
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans."
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "userFriendlyAppliedScopeType": {
          "type": "string",
          "description": "The applied scope type of the savings plan for display, e.g. Shared",
          "readOnly": true
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable."
        },
        "commitment": {
          "$ref": "#/definitions/Commitment",
          "description": "Commitment towards the benefit."
        },
        "effectiveDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime of the savings plan starts providing benefit from.",
          "readOnly": true
        },
        "expiryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date time",
          "readOnly": true
        },
        "purchaseDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date time when the savings plan was purchased",
          "readOnly": true
        },
        "benefitStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the savings plan benefit started."
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo",
          "readOnly": true
        },
        "renew": {
          "type": "boolean",
          "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
        },
        "utilization": {
          "$ref": "#/definitions/Utilization",
          "description": "Savings plan utilization",
          "readOnly": true
        },
        "renewSource": {
          "type": "string",
          "description": "SavingsPlan Id of the SavingsPlan from which this SavingsPlan is renewed."
        },
        "renewDestination": {
          "type": "string",
          "description": "SavingsPlan Id of the SavingsPlan which is purchased because of renew."
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewProperties"
        }
      }
    },
    "SavingsPlanOrderAliasModel": {
      "type": "object",
      "description": "Savings plan order alias",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource provider kind"
        },
        "properties": {
          "$ref": "#/definitions/SavingsPlanOrderAliasProperties",
          "description": "Savings plan order alias properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SavingsPlanOrderAliasProperties": {
      "type": "object",
      "description": "Savings plan properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "savingsPlanOrderId": {
          "type": "string",
          "description": "Identifier of the savings plan created",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing the benefit"
        },
        "term": {
          "$ref": "#/definitions/Term",
          "description": "Represent benefit term in ISO 8601 format."
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans."
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable."
        },
        "commitment": {
          "$ref": "#/definitions/Commitment",
          "description": "Commitment towards the benefit."
        }
      }
    },
    "SavingsPlanOrderModel": {
      "type": "object",
      "description": "Savings plan order",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SavingsPlanOrderModelProperties",
          "description": "Savings plan order properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SavingsPlanOrderModelListResult": {
      "type": "object",
      "description": "The response of a SavingsPlanOrderModel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SavingsPlanOrderModel items on this page",
          "items": {
            "$ref": "#/definitions/SavingsPlanOrderModel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SavingsPlanOrderModelProperties": {
      "type": "object",
      "description": "Savings plan order properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "billingScopeId": {
          "type": "string",
          "description": "Subscription that will be charged for purchasing the benefit"
        },
        "billingProfileId": {
          "type": "string",
          "description": "Fully-qualified identifier of the billing profile where the savings plan is applied. Present only for Field-led or Customer-led customers.",
          "readOnly": true
        },
        "customerId": {
          "type": "string",
          "description": "Fully-qualified identifier of the customer where the savings plan is applied. Present only for Partner-led customers.",
          "readOnly": true
        },
        "billingAccountId": {
          "type": "string",
          "description": "Fully-qualified identifier of the billing account where the savings plan is applied. Present only for Enterprise Agreement customers.",
          "readOnly": true
        },
        "term": {
          "$ref": "#/definitions/Term",
          "description": "Represent benefit term in ISO 8601 format."
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans."
        },
        "expiryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date time",
          "readOnly": true
        },
        "benefitStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the savings plan benefit started."
        },
        "planInformation": {
          "$ref": "#/definitions/BillingPlanInformation",
          "description": "Information describing the type of billing plan for this savings plan."
        },
        "savingsPlans": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo",
          "readOnly": true
        }
      }
    },
    "SavingsPlanPurchaseValidateRequest": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanOrderAliasModel"
          }
        }
      }
    },
    "SavingsPlanSummary": {
      "type": "object",
      "description": "Savings plans list summary",
      "properties": {
        "name": {
          "type": "string",
          "description": "This property has value 'summary'",
          "readOnly": true
        },
        "value": {
          "$ref": "#/definitions/SavingsPlanSummaryCount",
          "description": "The roll up count summary of savings plans in each state"
        }
      }
    },
    "SavingsPlanSummaryCount": {
      "type": "object",
      "description": "The roll up count summary of savings plans in each state",
      "properties": {
        "succeededCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Succeeded state",
          "readOnly": true
        },
        "failedCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Failed state",
          "readOnly": true
        },
        "expiringCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Expiring state",
          "readOnly": true
        },
        "expiredCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Expired state",
          "readOnly": true
        },
        "pendingCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Pending state",
          "readOnly": true
        },
        "cancelledCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Cancelled state",
          "readOnly": true
        },
        "processingCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Processing state",
          "readOnly": true
        },
        "noBenefitCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in No Benefit state",
          "readOnly": true
        },
        "warningCount": {
          "type": "number",
          "format": "float",
          "description": "The number of savings plans in Warning state",
          "readOnly": true
        }
      }
    },
    "SavingsPlanUpdateRequest": {
      "type": "object",
      "description": "Savings plan patch request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SavingsPlanUpdateRequestProperties",
          "description": "Savings plan patch request"
        }
      }
    },
    "SavingsPlanUpdateRequestProperties": {
      "type": "object",
      "description": "Savings plan patch request",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType",
          "description": "Type of the Applied Scope."
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties",
          "description": "Properties specific to applied scope type. Not required if not applicable."
        },
        "renew": {
          "type": "boolean",
          "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewProperties"
        }
      }
    },
    "SavingsPlanUpdateValidateRequest": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanUpdateRequestProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SavingsPlanValidResponseProperty": {
      "type": "object",
      "description": "Benefit scope response property",
      "properties": {
        "valid": {
          "type": "boolean",
          "description": "Indicates if the provided input was valid"
        },
        "reasonCode": {
          "type": "string",
          "description": "Failure reason code if the provided input was invalid"
        },
        "reason": {
          "type": "string",
          "description": "Failure reason if the provided input was invalid"
        }
      }
    },
    "SavingsPlanValidateResponse": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanValidResponseProperty"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "Sku": {
      "type": "object",
      "description": "The SKU to be applied for this resource",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU to be applied"
        }
      }
    },
    "Term": {
      "type": "string",
      "description": "Represent benefit term in ISO 8601 format.",
      "enum": [
        "P1Y",
        "P3Y",
        "P5Y"
      ],
      "x-ms-enum": {
        "name": "Term",
        "modelAsString": true
      }
    },
    "Utilization": {
      "type": "object",
      "description": "Savings plan utilization",
      "properties": {
        "trend": {
          "type": "string",
          "description": "The number of days trend for a savings plan",
          "readOnly": true
        },
        "aggregates": {
          "type": "array",
          "description": "The array of aggregates of a savings plan's utilization",
          "items": {
            "$ref": "#/definitions/UtilizationAggregates"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "UtilizationAggregates": {
      "type": "object",
      "description": "The aggregate values of savings plan utilization",
      "properties": {
        "grain": {
          "type": "number",
          "format": "float",
          "description": "The grain of the aggregate",
          "readOnly": true
        },
        "grainUnit": {
          "type": "string",
          "description": "The grain unit of the aggregate",
          "readOnly": true
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "The aggregate value",
          "readOnly": true
        },
        "valueUnit": {
          "type": "string",
          "description": "The aggregate value unit",
          "readOnly": true
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2022-11-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_11_01",
            "value": "2022-11-01",
            "description": "The 2022-11-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
