{
  "swagger": "2.0",
  "info": {
    "title": "Azure Metrics",
    "version": "2018-09-01-preview",
    "description": "A client for issuing REST requests to the Azure metrics service.",
    "x-ms-code-generation-settings": {
      "name": "AzureMetricsClient"
    }
  },
  "host": "monitoring.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; odata=minimalmetadata"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProvider}/{resourceTypeName}/{resourceName}/metrics": {
      "post": {
        "summary": "Ingestion API used by Azure custom metrics\r\n            Responsible of below operation\r\n            1. Authorize the request\r\n            2. Deserialize payload request body\r\n            3. Perform validation of the payload\r\n            4. Commits the payload for metrics ingestion",
        "operationId": "azureMonitorCustomMetricsIngestionApi",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Supports application/json and application/x-ndjson",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Length",
            "description": "Content length of the payload",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "Authorization token issue for issued for audience https:\\\\monitoring.azure.com",
            "type": "string"
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The azure subscription id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "The ARM resource group name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceProvider",
            "description": "The ARM resource provider name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceTypeName",
            "description": "The ARM resource type name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceName",
            "description": "The ARM resource name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Azure metrics document json payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMetricsDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The azure metrics publish succeeded",
            "schema": {
              "$ref": "#/definitions/ObjectResult"
            }
          },
          "default": {
            "description": "An unexpected error from the server. See response object for the reason",
            "schema": {
              "$ref": "#/definitions/ObjectResult"
            }
          }
        },
        "x-ms-examples": {
          "Post azure metrics for cows sold with related metadata as dimensions": {
            "$ref": "./examples/AzureMetrics_IngestMetrics.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureMetricsDocument": {
      "type": "object",
      "properties": {
        "time": {
          "description": "Gets or sets Time property (in ISO 8601 format)",
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/AzureMetricsData"
        }
      }
    },
    "AzureMetricsData": {
      "type": "object",
      "properties": {
        "baseData": {
          "$ref": "#/definitions/AzureMetricsBaseData"
        }
      }
    },
    "AzureMetricsBaseData": {
      "type": "object",
      "properties": {
        "metric": {
          "description": "Gets or sets the Metric name",
          "type": "string"
        },
        "namespace": {
          "description": "Gets or sets the Metric namespace",
          "type": "string"
        },
        "dimNames": {
          "description": "Gets or sets the list of dimension names (optional)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "series": {
          "description": "Gets or sets the list of time series data for the metric (one per unique dimension combination)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureTimeSeriesData"
          }
        }
      }
    },
    "AzureTimeSeriesData": {
      "type": "object",
      "properties": {
        "dimValues": {
          "description": "Gets or sets dimension values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "min": {
          "format": "double",
          "description": "Gets or sets Min value",
          "type": "number"
        },
        "max": {
          "format": "double",
          "description": "Gets or sets Max value",
          "type": "number"
        },
        "sum": {
          "format": "double",
          "description": "Gets or sets Sum value",
          "type": "number"
        },
        "count": {
          "format": "int32",
          "description": "Gets or sets Count value",
          "type": "integer"
        }
      }
    },
    "ObjectResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object"
        },
        "formatters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutputFormatter"
          }
        },
        "contentTypes": {
          "type": "array",
          "items": { }
        },
        "declaredType": {
          "$ref": "#/definitions/System.Type"
        },
        "statusCode": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OutputFormatter": {
      "type": "object"
    },
    "System.Type": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "declaringMethod": {
          "$ref": "#/definitions/MethodBase"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "structLayoutAttribute": {
          "$ref": "#/definitions/structLayoutAttribute"
        },
        "guid": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "defaultBinder": {
          "$ref": "#/definitions/Binder"
        },
        "module": {
          "$ref": "#/definitions/Module"
        },
        "assembly": {
          "$ref": "#/definitions/Assembly"
        },
        "typeHandle": {
          "$ref": "#/definitions/System.RuntimeTypeHandle"
        },
        "fullName": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "assemblyQualifiedName": {
          "type": "string"
        },
        "baseType": {
          "$ref": "#/definitions/System.Type"
        },
        "typeInitializer": {
          "$ref": "#/definitions/ConstructorInfo"
        },
        "isNested": {
          "type": "boolean"
        },
        "attributes": {
          "enum": [
            "NotPublic",
            "AutoLayout",
            "AnsiClass",
            "Class",
            "Public",
            "NestedPublic",
            "NestedPrivate",
            "NestedFamily",
            "NestedAssembly",
            "NestedFamANDAssem",
            "NestedFamORAssem",
            "VisibilityMask",
            "SequentialLayout",
            "ExplicitLayout",
            "LayoutMask",
            "Interface",
            "ClassSemanticsMask",
            "Abstract",
            "Sealed",
            "SpecialName",
            "RTSpecialName",
            "Import",
            "Serializable",
            "WindowsRuntime",
            "UnicodeClass",
            "AutoClass",
            "StringFormatMask",
            "CustomFormatClass",
            "HasSecurity",
            "ReservedMask",
            "BeforeFieldInit",
            "CustomFormatMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "genericParameterattributes": {
          "enum": [
            "None",
            "Covariant",
            "Contravariant",
            "VarianceMask",
            "ReferenceTypeConstraint",
            "NotNullableValueTypeConstraint",
            "DefaultConstructorConstraint",
            "SpecialConstraintMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "genericParameterattributes",
            "modelAsString": false
          }
        },
        "isVisible": {
          "type": "boolean"
        },
        "isNotPublic": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "isNestedPublic": {
          "type": "boolean"
        },
        "isNestedPrivate": {
          "type": "boolean"
        },
        "isNestedFamily": {
          "type": "boolean"
        },
        "isNestedAssembly": {
          "type": "boolean"
        },
        "isNestedFamANDAssem": {
          "type": "boolean"
        },
        "isNestedFamORAssem": {
          "type": "boolean"
        },
        "isAutoLayout": {
          "type": "boolean"
        },
        "isLayoutSequential": {
          "type": "boolean"
        },
        "isExplicitLayout": {
          "type": "boolean"
        },
        "isClass": {
          "type": "boolean"
        },
        "isInterface": {
          "type": "boolean"
        },
        "isValueType": {
          "type": "boolean"
        },
        "isAbstract": {
          "type": "boolean"
        },
        "isSealed": {
          "type": "boolean"
        },
        "isEnum": {
          "type": "boolean"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isImport": {
          "type": "boolean"
        },
        "isSerializable": {
          "type": "boolean"
        },
        "isAnsiClass": {
          "type": "boolean"
        },
        "isUnicodeClass": {
          "type": "boolean"
        },
        "isAutoClass": {
          "type": "boolean"
        },
        "isArray": {
          "type": "boolean"
        },
        "isGenericType": {
          "type": "boolean"
        },
        "isGenericTypeDefinition": {
          "type": "boolean"
        },
        "isConstructedGenericType": {
          "type": "boolean"
        },
        "isGenericParameter": {
          "type": "boolean"
        },
        "genericParameterPosition": {
          "format": "int32",
          "type": "integer"
        },
        "containsGenericParameters": {
          "type": "boolean"
        },
        "isByRef": {
          "type": "boolean"
        },
        "isPointer": {
          "type": "boolean"
        },
        "isPrimitive": {
          "type": "boolean"
        },
        "isCOMObject": {
          "type": "boolean"
        },
        "hasElementType": {
          "type": "boolean"
        },
        "isContextful": {
          "type": "boolean"
        },
        "isMarshalByRef": {
          "type": "boolean"
        },
        "genericTypeArguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/System.Type"
          }
        },
        "isSecurityCritical": {
          "type": "boolean"
        },
        "isSecuritySafeCritical": {
          "type": "boolean"
        },
        "isSecurityTransparent": {
          "type": "boolean"
        },
        "underlyingSystemType": {
          "$ref": "#/definitions/System.Type"
        },
        "name": {
          "type": "string"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "MethodBase": {
      "type": "object",
      "properties": {
        "methodImplementationFlags": {
          "enum": [
            "Managed",
            "IL",
            "Native",
            "OPTIL",
            "Runtime",
            "CodeTypeMask",
            "Unmanaged",
            "ManagedMask",
            "NoInlining",
            "ForwardRef",
            "Synchronized",
            "NoOptimization",
            "PreserveSig",
            "AggressiveInlining",
            "InternalCall",
            "MaxMethodImplVal"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "methodImplementationFlags",
            "modelAsString": false
          }
        },
        "methodHandle": {
          "$ref": "#/definitions/System.RuntimeMethodHandle"
        },
        "attributes": {
          "enum": [
            "ReuseSlot",
            "PrivateScope",
            "Private",
            "FamANDAssem",
            "Assembly",
            "Family",
            "FamORAssem",
            "Public",
            "MemberAccessMask",
            "UnmanagedExport",
            "Static",
            "Final",
            "Virtual",
            "HideBySig",
            "NewSlot",
            "VtableLayoutMask",
            "CheckAccessOnOverride",
            "Abstract",
            "SpecialName",
            "RTSpecialName",
            "PinvokeImpl",
            "HasSecurity",
            "RequireSecObject",
            "ReservedMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "callingConvention": {
          "enum": [
            "Standard",
            "VarArgs",
            "Any",
            "HasThis",
            "ExplicitThis"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "callingConvention",
            "modelAsString": false
          }
        },
        "isGenericMethodDefinition": {
          "type": "boolean"
        },
        "containsGenericParameters": {
          "type": "boolean"
        },
        "isGenericMethod": {
          "type": "boolean"
        },
        "isSecurityCritical": {
          "type": "boolean"
        },
        "isSecuritySafeCritical": {
          "type": "boolean"
        },
        "isSecurityTransparent": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "isPrivate": {
          "type": "boolean"
        },
        "isFamily": {
          "type": "boolean"
        },
        "isAssembly": {
          "type": "boolean"
        },
        "isFamilyAndAssembly": {
          "type": "boolean"
        },
        "isFamilyOrAssembly": {
          "type": "boolean"
        },
        "isStatic": {
          "type": "boolean"
        },
        "isFinal": {
          "type": "boolean"
        },
        "isVirtual": {
          "type": "boolean"
        },
        "isHideBySig": {
          "type": "boolean"
        },
        "isAbstract": {
          "type": "boolean"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isConstructor": {
          "type": "boolean"
        },
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "Module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "System.RuntimeMethodHandle": {
      "type": "object",
      "properties": {
        "Value": {
          "$ref": "#/definitions/System.IntPtr"
        }
      }
    },
    "System.IntPtr": {
      "type": "object",
      "properties": {
        "Size": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CustomAttributeData": {
      "type": "object",
      "properties": {
        "AttributeType": {
          "$ref": "#/definitions/System.Type"
        },
        "Constructor": {
          "$ref": "#/definitions/ConstructorInfo"
        },
        "ConstructorArguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeTypedArgument"
          }
        },
        "NamedArguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeNamedArgument"
          }
        }
      }
    },
    "ConstructorInfo": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "methodImplementationFlags": {
          "enum": [
            "Managed",
            "IL",
            "Native",
            "OPTIL",
            "Runtime",
            "CodeTypeMask",
            "Unmanaged",
            "ManagedMask",
            "NoInlining",
            "ForwardRef",
            "Synchronized",
            "NoOptimization",
            "PreserveSig",
            "AggressiveInlining",
            "InternalCall",
            "MaxMethodImplVal"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "methodImplementationFlags",
            "modelAsString": false
          }
        },
        "methodHandle": {
          "$ref": "#/definitions/System.RuntimeMethodHandle"
        },
        "attributes": {
          "enum": [
            "ReuseSlot",
            "PrivateScope",
            "Private",
            "FamANDAssem",
            "Assembly",
            "Family",
            "FamORAssem",
            "Public",
            "MemberAccessMask",
            "UnmanagedExport",
            "Static",
            "Final",
            "Virtual",
            "HideBySig",
            "NewSlot",
            "VtableLayoutMask",
            "CheckAccessOnOverride",
            "Abstract",
            "SpecialName",
            "RTSpecialName",
            "PinvokeImpl",
            "HasSecurity",
            "RequireSecObject",
            "ReservedMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "callingConvention": {
          "enum": [
            "Standard",
            "VarArgs",
            "Any",
            "HasThis",
            "ExplicitThis"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "callingConvention",
            "modelAsString": false
          }
        },
        "isGenericMethodDefinition": {
          "type": "boolean"
        },
        "containsGenericParameters": {
          "type": "boolean"
        },
        "isGenericMethod": {
          "type": "boolean"
        },
        "isSecurityCritical": {
          "type": "boolean"
        },
        "isSecuritySafeCritical": {
          "type": "boolean"
        },
        "isSecurityTransparent": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "isPrivate": {
          "type": "boolean"
        },
        "isFamily": {
          "type": "boolean"
        },
        "isAssembly": {
          "type": "boolean"
        },
        "isFamilyAndAssembly": {
          "type": "boolean"
        },
        "isFamilyOrAssembly": {
          "type": "boolean"
        },
        "isStatic": {
          "type": "boolean"
        },
        "isFinal": {
          "type": "boolean"
        },
        "isVirtual": {
          "type": "boolean"
        },
        "isHideBySig": {
          "type": "boolean"
        },
        "isAbstract": {
          "type": "boolean"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isConstructor": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "Module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "Module": {
      "type": "object",
      "properties": {
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "mdStreamVersion": {
          "format": "int32",
          "type": "integer"
        },
        "fullyQualifiedName": {
          "type": "string"
        },
        "moduleVersionId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "scopeName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "assembly": {
          "$ref": "#/definitions/Assembly"
        },
        "moduleHandle": {
          "$ref": "#/definitions/System.ModuleHandle"
        }
      }
    },
    "Assembly": {
      "type": "object",
      "properties": {
        "codeBase": {
          "type": "string"
        },
        "escapedCodeBase": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "entryPoint": {
          "$ref": "#/definitions/MethodInfo"
        },
        "exportedTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/System.Type"
          }
        },
        "definedTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/typeInfo"
          }
        },
        "evidence": {
          "type": "array",
          "items": { }
        },
        "permissionSet": {
          "type": "array",
          "items": { }
        },
        "isFullyTrusted": {
          "type": "boolean"
        },
        "securityRuleSet": {
          "enum": [
            "None",
            "Level1",
            "Level2"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AccountType",
            "modelAsString": false
          }
        },
        "manifestModule": {
          "$ref": "#/definitions/Module"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "reflectionOnly": {
          "type": "boolean"
        },
        "modules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Module"
          }
        },
        "location": {
          "type": "string"
        },
        "imageRuntimeVersion": {
          "type": "string"
        },
        "globalAssemblyCache": {
          "type": "boolean"
        },
        "hostContext": {
          "format": "int64",
          "type": "integer"
        },
        "isDynamic": {
          "type": "boolean"
        }
      }
    },
    "MethodInfo": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "returnType": {
          "$ref": "#/definitions/System.Type"
        },
        "returnParameter": {
          "$ref": "#/definitions/ParameterInfo"
        },
        "returnTypecustomattributes": {
          "$ref": "#/definitions/customAttributeProvider"
        },
        "methodImplementationFlags": {
          "enum": [
            "Managed",
            "IL",
            "Native",
            "OPTIL",
            "Runtime",
            "CodeTypeMask",
            "Unmanaged",
            "ManagedMask",
            "NoInlining",
            "ForwardRef",
            "Synchronized",
            "NoOptimization",
            "PreserveSig",
            "AggressiveInlining",
            "InternalCall",
            "MaxMethodImplVal"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "methodImplementationFlags",
            "modelAsString": false
          }
        },
        "methodHandle": {
          "$ref": "#/definitions/System.RuntimeMethodHandle"
        },
        "attributes": {
          "enum": [
            "ReuseSlot",
            "PrivateScope",
            "Private",
            "FamANDAssem",
            "Assembly",
            "Family",
            "FamORAssem",
            "Public",
            "MemberAccessMask",
            "UnmanagedExport",
            "Static",
            "Final",
            "Virtual",
            "HideBySig",
            "NewSlot",
            "VtableLayoutMask",
            "CheckAccessOnOverride",
            "Abstract",
            "SpecialName",
            "RTSpecialName",
            "PinvokeImpl",
            "HasSecurity",
            "RequireSecObject",
            "ReservedMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "callingConvention": {
          "enum": [
            "Standard",
            "VarArgs",
            "Any",
            "HasThis",
            "ExplicitThis"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "callingConvention",
            "modelAsString": false
          }
        },
        "isGenericMethodDefinition": {
          "type": "boolean"
        },
        "containsGenericParameters": {
          "type": "boolean"
        },
        "isGenericMethod": {
          "type": "boolean"
        },
        "isSecurityCritical": {
          "type": "boolean"
        },
        "isSecuritySafeCritical": {
          "type": "boolean"
        },
        "isSecurityTransparent": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "isPrivate": {
          "type": "boolean"
        },
        "isFamily": {
          "type": "boolean"
        },
        "isAssembly": {
          "type": "boolean"
        },
        "isFamilyAndAssembly": {
          "type": "boolean"
        },
        "isFamilyOrAssembly": {
          "type": "boolean"
        },
        "isStatic": {
          "type": "boolean"
        },
        "isFinal": {
          "type": "boolean"
        },
        "isVirtual": {
          "type": "boolean"
        },
        "isHideBySig": {
          "type": "boolean"
        },
        "isAbstract": {
          "type": "boolean"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isConstructor": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "ParameterInfo": {
      "type": "object",
      "properties": {
        "parameterType": {
          "$ref": "#/definitions/System.Type"
        },
        "name": {
          "type": "string"
        },
        "hasDefaultValue": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "object"
        },
        "rawDefaultValue": {
          "type": "object"
        },
        "position": {
          "format": "int32",
          "type": "integer"
        },
        "attributes": {
          "enum": [
            "None",
            "In",
            "Out",
            "Lcid",
            "Retval",
            "Optional",
            "HasDefault",
            "HasFieldMarshal",
            "Reserved3",
            "Reserved4",
            "ReservedMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "member": {
          "$ref": "#/definitions/MemberInfo"
        },
        "isIn": {
          "type": "boolean"
        },
        "isOut": {
          "type": "boolean"
        },
        "isLcid": {
          "type": "boolean"
        },
        "isRetval": {
          "type": "boolean"
        },
        "isOptional": {
          "type": "boolean"
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        }
      }
    },
    "MemberInfo": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "Module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "customAttributeProvider": {
      "type": "object"
    },
    "typeInfo": {
      "type": "object",
      "properties": {
        "genericTypeParameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/System.Type"
          }
        },
        "declaredConstructors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConstructorInfo"
          }
        },
        "declaredEvents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventInfo"
          }
        },
        "declaredFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldInfo"
          }
        },
        "declaredMembers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MemberInfo"
          }
        },
        "declaredMethods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MethodInfo"
          }
        },
        "declaredNestedTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/typeInfo"
          }
        },
        "declaredProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PropertyInfo"
          }
        },
        "implementedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/System.Type"
          }
        },
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "declaringMethod": {
          "$ref": "#/definitions/MethodBase"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "structLayoutAttribute": {
          "$ref": "#/definitions/structLayoutAttribute"
        },
        "guid": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "module": {
          "$ref": "#/definitions/Module"
        },
        "assembly": {
          "$ref": "#/definitions/Assembly"
        },
        "typeHandle": {
          "$ref": "#/definitions/System.RuntimeTypeHandle"
        },
        "fullName": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "assemblyQualifiedName": {
          "type": "string"
        },
        "baseType": {
          "$ref": "#/definitions/System.Type"
        },
        "typeInitializer": {
          "$ref": "#/definitions/ConstructorInfo"
        },
        "isNested": {
          "type": "boolean"
        },
        "attributes": {
          "enum": [
            "NotPublic",
            "AutoLayout",
            "AnsiClass",
            "Class",
            "Public",
            "NestedPublic",
            "NestedPrivate",
            "NestedFamily",
            "NestedAssembly",
            "NestedFamANDAssem",
            "NestedFamORAssem",
            "VisibilityMask",
            "SequentialLayout",
            "ExplicitLayout",
            "LayoutMask",
            "Interface",
            "ClassSemanticsMask",
            "Abstract",
            "Sealed",
            "SpecialName",
            "RTSpecialName",
            "Import",
            "Serializable",
            "WindowsRuntime",
            "UnicodeClass",
            "AutoClass",
            "StringFormatMask",
            "CustomFormatClass",
            "HasSecurity",
            "ReservedMask",
            "BeforeFieldInit",
            "CustomFormatMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "genericParameterattributes": {
          "enum": [
            "None",
            "Covariant",
            "Contravariant",
            "VarianceMask",
            "ReferenceTypeConstraint",
            "NotNullableValueTypeConstraint",
            "DefaultConstructorConstraint",
            "SpecialConstraintMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "genericParameterattributes",
            "modelAsString": false
          }
        },
        "isVisible": {
          "type": "boolean"
        },
        "isNotPublic": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "isNestedPublic": {
          "type": "boolean"
        },
        "isNestedPrivate": {
          "type": "boolean"
        },
        "isNestedFamily": {
          "type": "boolean"
        },
        "isNestedAssembly": {
          "type": "boolean"
        },
        "isNestedFamANDAssem": {
          "type": "boolean"
        },
        "isNestedFamORAssem": {
          "type": "boolean"
        },
        "isAutoLayout": {
          "type": "boolean"
        },
        "isLayoutSequential": {
          "type": "boolean"
        },
        "isExplicitLayout": {
          "type": "boolean"
        },
        "isClass": {
          "type": "boolean"
        },
        "isInterface": {
          "type": "boolean"
        },
        "isValueType": {
          "type": "boolean"
        },
        "isAbstract": {
          "type": "boolean"
        },
        "isSealed": {
          "type": "boolean"
        },
        "isEnum": {
          "type": "boolean"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isImport": {
          "type": "boolean"
        },
        "isSerializable": {
          "type": "boolean"
        },
        "isAnsiClass": {
          "type": "boolean"
        },
        "isUnicodeClass": {
          "type": "boolean"
        },
        "isAutoClass": {
          "type": "boolean"
        },
        "isArray": {
          "type": "boolean"
        },
        "isGenericType": {
          "type": "boolean"
        },
        "isGenericTypeDefinition": {
          "type": "boolean"
        },
        "isConstructedGenericType": {
          "type": "boolean"
        },
        "isGenericParameter": {
          "type": "boolean"
        },
        "genericParameterPosition": {
          "format": "int32",
          "type": "integer"
        },
        "containsGenericParameters": {
          "type": "boolean"
        },
        "isByRef": {
          "type": "boolean"
        },
        "isPointer": {
          "type": "boolean"
        },
        "isPrimitive": {
          "type": "boolean"
        },
        "isCOMObject": {
          "type": "boolean"
        },
        "hasElementType": {
          "type": "boolean"
        },
        "isContextful": {
          "type": "boolean"
        },
        "isMarshalByRef": {
          "type": "boolean"
        },
        "genericTypeArguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/System.Type"
          }
        },
        "isSecurityCritical": {
          "type": "boolean"
        },
        "isSecuritySafeCritical": {
          "type": "boolean"
        },
        "isSecurityTransparent": {
          "type": "boolean"
        },
        "underlyingSystemType": {
          "$ref": "#/definitions/System.Type"
        },
        "name": {
          "type": "string"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EventInfo": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "attributes": {
          "enum": [
            "None",
            "SpecialName",
            "ReservedMask",
            "RTSpecialName"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "addMethod": {
          "$ref": "#/definitions/MethodInfo"
        },
        "removeMethod": {
          "$ref": "#/definitions/MethodInfo"
        },
        "raiseMethod": {
          "$ref": "#/definitions/MethodInfo"
        },
        "eventHandlerType": {
          "$ref": "#/definitions/System.Type"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isMulticast": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "FieldInfo": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "fieldHandle": {
          "$ref": "#/definitions/System.RuntimeFieldHandle"
        },
        "fieldType": {
          "$ref": "#/definitions/System.Type"
        },
        "attributes": {
          "enum": [
            "PrivateScope",
            "Private",
            "FamANDAssem",
            "Assembly",
            "Family",
            "FamORAssem",
            "Public",
            "FieldAccessMask",
            "Static",
            "InitOnly",
            "Literal",
            "NotSerialized",
            "HasFieldRVA",
            "SpecialName",
            "RTSpecialName",
            "HasFieldMarshal",
            "PinvokeImpl",
            "HasDefault",
            "ReservedMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "isPublic": {
          "type": "boolean"
        },
        "isPrivate": {
          "type": "boolean"
        },
        "isFamily": {
          "type": "boolean"
        },
        "isAssembly": {
          "type": "boolean"
        },
        "isFamilyAndAssembly": {
          "type": "boolean"
        },
        "isFamilyOrAssembly": {
          "type": "boolean"
        },
        "isStatic": {
          "type": "boolean"
        },
        "isInitOnly": {
          "type": "boolean"
        },
        "isLiteral": {
          "type": "boolean"
        },
        "isNotSerialized": {
          "type": "boolean"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "isPinvokeImpl": {
          "type": "boolean"
        },
        "isSecurityCritical": {
          "type": "boolean"
        },
        "isSecuritySafeCritical": {
          "type": "boolean"
        },
        "isSecurityTransparent": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "System.RuntimeFieldHandle": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/System.IntPtr"
        }
      }
    },
    "PropertyInfo": {
      "type": "object",
      "properties": {
        "memberType": {
          "enum": [
            "Constructor",
            "Event",
            "Field",
            "Method",
            "Property",
            "TypeInfo",
            "Custom",
            "NestedType",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "memberType",
            "modelAsString": false
          }
        },
        "propertyType": {
          "$ref": "#/definitions/System.Type"
        },
        "attributes": {
          "enum": [
            "None",
            "SpecialName",
            "RTSpecialName",
            "HasDefault",
            "Reserved2",
            "Reserved3",
            "Reserved4",
            "ReservedMask"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "attributes",
            "modelAsString": false
          }
        },
        "canRead": {
          "type": "boolean"
        },
        "canWrite": {
          "type": "boolean"
        },
        "getMethod": {
          "$ref": "#/definitions/MethodInfo"
        },
        "setMethod": {
          "$ref": "#/definitions/MethodInfo"
        },
        "isSpecialName": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "declaringType": {
          "$ref": "#/definitions/System.Type"
        },
        "reflectedType": {
          "$ref": "#/definitions/System.Type"
        },
        "customattributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAttributeData"
          }
        },
        "metadataToken": {
          "format": "int32",
          "type": "integer"
        },
        "module": {
          "$ref": "#/definitions/Module"
        }
      }
    },
    "structLayoutAttribute": {
      "type": "object",
      "properties": {
        "value": {
          "enum": [
            "Sequential",
            "Explicit",
            "Auto"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "value",
            "modelAsString": false
          }
        },
        "typeId": {
          "type": "object"
        }
      }
    },
    "System.RuntimeTypeHandle": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/System.IntPtr"
        }
      }
    },
    "System.ModuleHandle": {
      "type": "object",
      "properties": {
        "mdStreamVersion": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CustomAttributeTypedArgument": {
      "type": "object",
      "properties": {
        "argumentType": {
          "$ref": "#/definitions/System.Type"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "CustomAttributeNamedArgument": {
      "type": "object",
      "properties": {
        "memberInfo": {
          "$ref": "#/definitions/MemberInfo"
        },
        "typedValue": {
          "$ref": "#/definitions/CustomAttributeTypedArgument"
        },
        "memberName": {
          "type": "string"
        },
        "isField": {
          "type": "boolean"
        }
      }
    },
    "Binder": {
      "type": "object"
    }
  }
}