{
  "swagger": "2.0",
  "info": {
    "description": "Infrastructure role instance operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOff": {
      "post": {
        "x-ms-examples": {
          "Power off an infrastructure role instance": {
            "$ref": "./examples/InfraRoleInstance/PowerOff.json"
          }
        },
        "tags": [
          "InfraRoleInstances"
        ],
        "description": "Power off an infrastructure role instance.",
        "operationId": "InfraRoleInstances_PowerOff",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/InfraRoleInstanceParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOn": {
      "post": {
        "x-ms-examples": {
          "Power on an infrastructure role instance": {
            "$ref": "./examples/InfraRoleInstance/PowerOn.json"
          }
        },
        "tags": [
          "InfraRoleInstances"
        ],
        "description": "Power on an infrastructure role instance.",
        "operationId": "InfraRoleInstances_PowerOn",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/InfraRoleInstanceParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Shutdown": {
      "post": {
        "x-ms-examples": {
          "Shutdown an infrastructure role instance": {
            "$ref": "./examples/InfraRoleInstance/Shutdown.json"
          }
        },
        "tags": [
          "InfraRoleInstances"
        ],
        "description": "Shut down an infrastructure role instance.",
        "operationId": "InfraRoleInstances_Shutdown",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/InfraRoleInstanceParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Reboot": {
      "post": {
        "x-ms-examples": {
          "Reboot an infrastructure role instance": {
            "$ref": "./examples/InfraRoleInstance/Reboot.json"
          }
        },
        "tags": [
          "InfraRoleInstances"
        ],
        "description": "Reboot an infrastructure role instance.",
        "operationId": "InfraRoleInstances_Reboot",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/InfraRoleInstanceParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}": {
      "get": {
        "x-ms-examples": {
          "Return the requested infrastructure role instance.": {
            "$ref": "./examples/InfraRoleInstance/Get.json"
          }
        },
        "tags": [
          "InfraRoleInstances"
        ],
        "description": "Return the requested infrastructure role instance.",
        "operationId": "InfraRoleInstances_Get",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/InfraRoleInstanceParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InfraRoleInstance"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances": {
      "get": {
        "x-ms-examples": {
          "Returns a list of all infrastructure role instances at a location.": {
            "$ref": "./examples/InfraRoleInstance/List.json"
          }
        },
        "tags": [
          "InfraRoleInstances"
        ],
        "description": "Returns a list of all infrastructure role instances at a location.",
        "operationId": "InfraRoleInstances_List",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InfraRoleInstanceList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/InfraRoleInstance"
      }
    }
  },
  "definitions": {
    "InfraRoleInstance": {
      "description": "The virtual machine resource is used to represent an infrastructure virtual machine in the Azure Stack environment. The fabric resource provider only surfaces infrastructure virtual machines. These machines are never created directly by the admin, but rather as a side effect of expanding admin services.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "All properties of an infrastructure role instance.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InfraRoleInstanceModel"
        }
      },
      "allOf": [
        {
          "$ref": "Fabric.json#/definitions/Resource"
        }
      ]
    },
    "InfraRoleInstanceModel": {
      "description": "All properties of an infrastructure role instance.",
      "type": "object",
      "properties": {
        "scaleUnit": {
          "description": "The cluster that the virtual machine's host is part of.",
          "type": "string"
        },
        "scaleUnitNode": {
          "description": "URI to the scale unit node.",
          "type": "string"
        },
        "size": {
          "description": "Size of the virtual machine.",
          "$ref": "#/definitions/InfraRoleInstanceSize"
        },
        "state": {
          "description": "The current state of the virtual machine.",
          "enum": [
            "Stopped",
            "Starting",
            "Running",
            "Stopping"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "InfraRoleInstanceState"
          }
        }
      }
    },
    "InfraRoleInstanceSize": {
      "description": "The capacity information for a virtual machine.",
      "type": "object",
      "properties": {
        "memoryGb": {
          "description": "The amount of memory, in GB, currently assigned to the virtual machine.",
          "format": "float",
          "type": "number"
        },
        "cores": {
          "description": "The number of cores assigned to the virtual machine.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "InfraRoleInstanceList": {
      "description": "Pageable list of infrastructure role instances.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of infrastructure role instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InfraRoleInstance"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "InfraRoleInstanceParameter": {
      "name": "infraRoleInstance",
      "description": "Name of an infrastructure role instance.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
