{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceNotifications Management Service",
    "version": "2025-08-01-preview",
    "description": "Microsoft.ResourceNotifications Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceNotifications/locations/{location}/notificationSessions/{notificationSessionName}": {
      "post": {
        "operationId": "NotificationsSessions_CreateNotificationSession",
        "description": "Create a notification session.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "Name of the notification session.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CreateNotificationSessionResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a notification session": {
            "$ref": "./examples/NotificationsSessions_CreateNotificationSession.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceNotifications/locations/{location}/notificationSessions/{notificationSessionId}/closeSession": {
      "post": {
        "operationId": "NotificationsSessions_CloseSession",
        "description": "Close the session.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionId",
            "in": "path",
            "description": "ID of the notification session.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloseSessionResponse"
            }
          }
        },
        "x-ms-examples": {
          "Close a notification session": {
            "$ref": "./examples/NotificationsSessions_CloseSession.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceNotifications/locations/{location}/notificationSessions/{notificationSessionId}/getSessionDetails": {
      "post": {
        "operationId": "NotificationsSessions_GetSessionDetails",
        "description": "Get session details.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionId",
            "in": "path",
            "description": "ID of the notification session.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body containing session details parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSessionDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GetSessionDetailsResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get session details with connection information": {
            "$ref": "./examples/NotificationsSessions_GetSessionDetails.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceNotifications/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CloseSessionResponse": {
      "type": "object",
      "description": "Response model for close session operation.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Success message for the close session operation."
        }
      }
    },
    "CreateNotificationSessionResponse": {
      "type": "object",
      "description": "Response model for create notification session operation.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID."
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "properties": {
          "$ref": "#/definitions/NotificationSessionProperties",
          "description": "The properties of the notification session."
        }
      }
    },
    "GetSessionDetailsRequest": {
      "type": "object",
      "description": "Request model for get session details operation.",
      "properties": {
        "durationInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in minutes for which the session details are valid."
        }
      },
      "required": [
        "durationInMinutes"
      ]
    },
    "GetSessionDetailsResponse": {
      "type": "object",
      "description": "Response model for get session details operation.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID."
        },
        "encodedNotificationSession": {
          "type": "string",
          "description": "Encoded notification session containing signed session id with content."
        },
        "connectionDetails": {
          "$ref": "#/definitions/NotificationSessionConnectionDetails",
          "description": "Connection details for the session."
        },
        "validUntil": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp until which the session is valid."
        }
      }
    },
    "NotificationSessionConnectionDetails": {
      "type": "object",
      "description": "Connection details for a notification session.",
      "properties": {
        "connectionString": {
          "type": "string",
          "description": "Connection string for the session."
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint to connect to."
        }
      }
    },
    "NotificationSessionProperties": {
      "type": "object",
      "description": "Properties for a notification session.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the notification session."
        },
        "status": {
          "$ref": "#/definitions/NotificationSessionStatus",
          "description": "The status of the notification session.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "maxDurationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum duration for the session in minutes."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the session.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the session.",
          "readOnly": true
        },
        "configuration": {
          "type": "string",
          "description": "Configuration settings as key-value pairs."
        },
        "statistics": {
          "$ref": "#/definitions/NotificationSessionStatistics",
          "description": "Statistics about notifications processed in this session.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the notification session.",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the session was created.",
          "readOnly": true
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the session was last updated.",
          "readOnly": true
        }
      }
    },
    "NotificationSessionResource": {
      "type": "object",
      "description": "A notification session resource that operates within a specific location at tenant scope.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NotificationSessionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NotificationSessionStatistics": {
      "type": "object",
      "description": "Statistics for a notification session.",
      "properties": {
        "totalNotificationsProcessed": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of notifications processed.",
          "readOnly": true
        },
        "successfulDeliveries": {
          "type": "integer",
          "format": "int32",
          "description": "Number of notifications that were successfully delivered.",
          "readOnly": true
        },
        "failedDeliveries": {
          "type": "integer",
          "format": "int32",
          "description": "Number of notifications that failed to be delivered.",
          "readOnly": true
        },
        "averageProcessingTimeMs": {
          "type": "integer",
          "format": "int32",
          "description": "Average processing time per notification in milliseconds.",
          "readOnly": true
        }
      }
    },
    "NotificationSessionStatus": {
      "type": "string",
      "description": "The status of a notification session.",
      "enum": [
        "Active",
        "Paused",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "NotificationSessionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The session is active and processing notifications"
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "The session is paused and not processing notifications"
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The session has completed"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The session has failed"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning request has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "TenantLocationProperties": {
      "type": "object",
      "description": "Properties for a tenant location resource.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the location.",
          "readOnly": true
        },
        "regionalDisplayName": {
          "type": "string",
          "description": "The regional display name of the location.",
          "readOnly": true
        },
        "additionalProperties": {
          "type": "string",
          "description": "Additional metadata for the location.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the location.",
          "readOnly": true
        }
      }
    },
    "TenantLocationResource": {
      "type": "object",
      "description": "Tenant location resource that represents an Azure location at tenant scope.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TenantLocationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    }
  },
  "parameters": {}
}
