{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceNotifications Management Service",
    "version": "2025-08-01-preview",
    "description": "Microsoft.ResourceNotifications Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationsSessions": {
      "get": {
        "operationId": "NotificationsSessions_ListByLocation",
        "description": "List all notification sessions in a location.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationsSessions/{sessionName}": {
      "get": {
        "operationId": "NotificationsSessions_Get",
        "description": "Get a notification session.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "sessionName",
            "in": "path",
            "description": "Name of the notification session.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "NotificationsSessions_CreateOrUpdate",
        "description": "Create or update a notification session.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "sessionName",
            "in": "path",
            "description": "Name of the notification session.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The notification session resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "NotificationsSessions_Delete",
        "description": "Delete a notification session.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "sessionName",
            "in": "path",
            "description": "Name of the notification session.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ResourceNotifications/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NotificationSessionProperties": {
      "type": "object",
      "description": "Properties for a notification session.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the notification session."
        },
        "status": {
          "type": "string",
          "description": "The status of the notification session.",
          "default": "Active",
          "enum": [
            "Active",
            "Paused",
            "Completed",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "NotificationSessionStatus",
            "modelAsString": true,
            "values": [
              {
                "name": "Active",
                "value": "Active",
                "description": "The session is active and processing notifications"
              },
              {
                "name": "Paused",
                "value": "Paused",
                "description": "The session is paused and not processing notifications"
              },
              {
                "name": "Completed",
                "value": "Completed",
                "description": "The session has completed"
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The session has failed"
              }
            ]
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "maxDurationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum duration for the session in minutes."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the session.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the session.",
          "readOnly": true
        },
        "configuration": {
          "type": "string",
          "description": "Configuration settings as key-value pairs."
        },
        "statistics": {
          "$ref": "#/definitions/NotificationSessionStatistics",
          "description": "Statistics about notifications processed in this session.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the notification session.",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the session was created.",
          "readOnly": true
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the session was last updated.",
          "readOnly": true
        }
      }
    },
    "NotificationSessionResource": {
      "type": "object",
      "description": "A notification session resource that operates at tenant scope within a specific location.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NotificationSessionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NotificationSessionResourceListResult": {
      "type": "object",
      "description": "The response of a NotificationSessionResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NotificationSessionResource items on this page",
          "items": {
            "$ref": "#/definitions/NotificationSessionResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NotificationSessionStatistics": {
      "type": "object",
      "description": "Statistics for a notification session.",
      "properties": {
        "totalNotificationsProcessed": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of notifications processed.",
          "readOnly": true
        },
        "successfulDeliveries": {
          "type": "integer",
          "format": "int32",
          "description": "Number of notifications that were successfully delivered.",
          "readOnly": true
        },
        "failedDeliveries": {
          "type": "integer",
          "format": "int32",
          "description": "Number of notifications that failed to be delivered.",
          "readOnly": true
        },
        "averageProcessingTimeMs": {
          "type": "integer",
          "format": "int32",
          "description": "Average processing time per notification in milliseconds.",
          "readOnly": true
        }
      }
    },
    "NotificationSessionStatus": {
      "type": "string",
      "description": "The status of a notification session.",
      "enum": [
        "Active",
        "Paused",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "NotificationSessionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The session is active and processing notifications"
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "The session is paused and not processing notifications"
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The session has completed"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The session has failed"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning request has been accepted."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
